.lte9 #search_container input.button {
  border: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFe85b54, endColorstr=#FFb22520)progid:DXImageTransform.Microsoft.dropShadow(color=#60b22520, offX=-1, offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60b22520, offX=1,  offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60b22520, offX=0,  offY=1,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#aaf2a4a2, offX=0,  offY=-1, positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60b22520, offX=-1, offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60b22520, offX=1,  offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60b22520, offX=0,  offY=1,  positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#FFe85b54, offX=0,  offY=-1, positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#aaB22520, offX=-1, offY=0,  positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#aaB22520, offX=1,  offY=0,  positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#aaB22520, offX=0,  offY=1,  positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#aaB22520, offX=0,  offY=-1, positive=true) alpha(opacity=100);
}

.lte9 #search_container input.button:hover {
  border: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFe35342, endColorstr=#FFe35342)progid:DXImageTransform.Microsoft.dropShadow(color=#60e35342, offX=-1, offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60e35342, offX=1,  offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60e35342, offX=0,  offY=1,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#aaf2a4a2, offX=0,  offY=-1, positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60e35342, offX=-1, offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60e35342, offX=1,  offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60e35342, offX=0,  offY=1,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#FFe35342, offX=0,  offY=-1, positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#aaB22520, offX=-1, offY=0,  positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#aaB22520, offX=1,  offY=0,  positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#aaB22520, offX=0,  offY=1,  positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#aaB22520, offX=0,  offY=-1, positive=true) alpha(opacity=100);
}

.lte9 #search_container input.button:active {
  border: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFCE2C1E, endColorstr=#FFEA3220)progid:DXImageTransform.Microsoft.dropShadow(color=#60EA3220, offX=-1, offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60EA3220, offX=1,  offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60EA3220, offX=0,  offY=1,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#aaf7a69b offX=0,  offY=-1, positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60EA3220, offX=-1, offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60EA3220, offX=1,  offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#60EA3220, offX=0,  offY=1,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#FFCE2C1E offX=0,  offY=-1, positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#aaAC261A, offX=-1, offY=0,  positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#aaAC261A, offX=1,  offY=0,  positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#aaAC261A, offX=0,  offY=1,  positive=true) progid:DXImageTransform.Microsoft.dropShadow(color=#aaAC261A, offX=0,  offY=-1, positive=true);
}

body.home_out #search_autocomplete ul li,
body.home_out #search_autocomplete ul {
  font-size: 14px;
  padding: 4px;
  white-space: nowrap;
}

#lohp_top #logo_container {
  position: absolute;
  left: 0px;
  top: 63px;
  z-index: 30;
  width: 100%;
  text-align: left;
}

#lohp_top #logo_container .logo_wrapper {
  width: 950px;
  margin: 0px auto;
}

#lohp_top #logo_container h1 {
  position: relative;
  display: inline;
  left: 12px;
  font-size: 22px;
  color: #666666;
}

#image_paginator_wrapper {
  position: absolute;
  top: 38px;
  left: 0px;
  width: 100%;
  height: 457px;
  overflow: hidden;
}

#image_paginator {
  position: absolute;
  top: 0px;
  width: 1336px;
  height: 457px;
  left: 50%;
  margin-left: -683px;
}

#search_container {
  width: auto;
  display: inline-block;
  margin-top: 10px;
  padding: 4px;
  background: rgba(5, 5, 5, 0.7);
  border: 1px solid #98948f;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.lte9 #search_container {
  zoom: 1;
  *display: inline;
  padding: 1px;
  border-radius: 0;
  border: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4d4d4f, endColorstr=#FF3b3b3d)progid:DXImageTransform.Microsoft.dropShadow(color=#80414143, offX=-1, offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#80454547, offX=1,  offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#803d3d3e, offX=0,  offY=1,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#ff515153, offX=0,  offY=-1, positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#803c3c3e, offX=-1, offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#803c3c3e, offX=1,  offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#803c3c3e, offX=0,  offY=1,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#ff5f5f61, offX=0,  offY=-1, positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#70373739, offX=-1, offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#80202021, offX=1,  offY=0,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#80202021, offX=0,  offY=1,  positive=true)progid:DXImageTransform.Microsoft.dropShadow(color=#70202021, offX=0,  offY=-1, positive=true) alpha(opacity=90);
}

.ie9 #search_container,
.ie8 #search_container {
  padding-right: 6px;
}

#search_container div {
  float: left;
}

#search_container input#index_keyword_input {
  float: left;
  width: 309px;
  height: 42px;
  border: 1px solid #a3a3a3;
  padding-left: 36px;
  font-size: 18px;
  color: #666;
  background-image: url('http://s6.picdn.net/images/lohp/magnifying-glass.gif');
  background-repeat: no-repeat;
  background-position: 6px 8px;
  -moz-box-shadow: inset 0 0 2px 2px #d9d9d9;
  -webkit-box-shadow: inset 0 0 2px 2px #d9d9d9;
  box-shadow: inset 0 0 2px 2px #d9d9d9;
}

.lte9 #search_container input#index_keyword_input {
  position: relative;
  width: 295px;
  top: 3px;
  left: 3px;
  z-index: 10;
  height: 31px;
  padding-top: 10px;
  filter: alpha(opacity=100);
  background-position: 6px 7px;
}

.ie9 #search_container input#index_keyword_input {
  padding-top: 6px;
  padding-bottom: 5px;
}

.lte9 #search_container input.button {
  margin: 0px;
  padding: 2px 13px 2px 13px;
  position: relative;
  top: 3px;
  left: 3px;
  z-index: 3;
  height: 39px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #search_container input#search_field {
    height: 29px;
  }
}

#search_container input.button {
  float: left;
  height: 46px;
  font-size: 18px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#search_outer_container {
  position: relative;
  top: 208px;
  width: 950px;
  margin: auto;
  z-index: 99;
  text-align: left;
}

#lohp_main #plans_pricing {
  padding: 0px;
  background-image: url(http://s2.picdn.net/images/lohp/lohp_pricing_bg.png);
  background-color: #222222;
}

.language_th #lohp_main #plans_pricing {
  background-image: url(http://s1.picdn.net/images/lohp/lohp_pricing_bg2.png);
}

#lohp_main #plans_pricing .wrapper {
  width: 950px;
  text-align: left;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 11px;
}

#lohp_main #plans_pricing .green_arrow_right {
  position: relative;
  top: 3px;
  left: 10px;
  display: inline-block;
  zoom: 1;
  width: 20px;
  height: 20px;
  background-image: url(http://s4.picdn.net/images/lohp/arrows_rev9.png);
  background-position: -6px -213px;
  background-repeat: no-repeat;
}

.ie7 #lohp_main #plans_pricing .green_arrow_right {
  height: 100%;
}

#lohp_main #plans_pricing h2,
#lohp_main #plans_pricing h4 {
  padding: 0px;
  display: inline;
}

#lohp_main #plans_pricing h2 a {
  font-size: 26px;
  color: white;
  font-family: Franklin Gothic Book, FranklinGothicBook, Arial, sans-serif;
}

#lohp_main #plans_pricing h4 a {
  font-size: 22px;
  color: #c2e1ed;
  font-weight: normal;
  font-family: Franklin Gothic Book, FranklinGothicBook, Arial, sans-serif;
}

.ie9 #lohp_main #plans_pricing a,
.explorer .not_ie #lohp_main #plans_pricing a {
  display: inline-block;
  height: 30px;
  margin: 0 0 1px 0;
}

.ie9 #lohp_main #plans_pricing h2 a:hover,
.explorer .not_ie #lohp_main #plans_pricing h2 a:hover {
  margin: 0;
}

.ie9 #lohp_main #plans_pricing .wrapper,
.explorer .not_ie #lohp_main #plans_pricing .wrapper {
  padding-bottom: 6px;
}

#lohp_main #plans_pricing .wrapper h4.light a:hover {
  color: #def1f9;
}

#lohp_main #plans_pricing h2.light a:hover {
  border-bottom: 1px dotted #585858;
  text-decoration: none;
}

.ie8 #lohp_main #plans_pricing h2.light a:hover {
  background: none;
}

#lohp_main #plans_pricing .wrapper h4.light a:hover .green_arrow_right {
  background-image: url('http://s4.picdn.net/images/lohp/arrows_rev9.png');
  background-position: -6px -241px;
  background-repeat: no-repeat;
}

#lohp_main #plans_pricing a.button {
  position: relative;
  top: -2px;
  font-size: 15px;
  padding: 0px 0px 0px 5px;
  color: white;
  width: 13px;
  height: 18px;
  border-radius: 9px;
}

#lohp_main #plans_pricing .divider {
  position: relative;
  top: 3px;
  border-left: 1px solid #585858;
  display: inline-block;
  height: 22px;
  margin: 0px 14px 0px 16px;
}

.language_th #lohp_main #plans_pricing .wrapper {
  text-align: center;
}

.language_th #lohp_main #plans_pricing .divider {
  display: none;
}

.language_th #lohp_main #plans_pricing h2,
.langauge_th #lohp_main #plans_pricing h4 {
  display: block;
  margin: 2px 0;
}

.callout_wrapper {
  width: 990px;
  height: 220px;
  padding-top: 30px;
}

#callout_rotator {
  position: relative;
  height: 220px;
  background-image: url(http://s5.picdn.net/images/lohp/lohp_callout_bg.gif);
  background-repeat: no-repeat;
  background-position: center 0px;
  text-align: center;
}

#callout_rotator #rotation_wrapper {
  position: relative;
  display: inline-block;
  margin: 0px auto;
  width: 90%;
  height: 220px;
  overflow: hidden;
}

#callout_rotator #rotation_wrapper ul {
  position: absolute;
  left: 0%;
  top: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  zoom: 1;
  float: left;
}

#callout_rotator #rotation_wrapper ul:before,
#callout_rotator #rotation_wrapper ul:after {
  content: '';
  display: table;
}

#callout_rotator #rotation_wrapper ul:after {
  clear: both;
}

#callout_rotator #rotation_wrapper ul li {
  float: left;
  display: inline-block;
  width: 32%;
  height: 195px;
  margin-right: 1.5%;
}

#callout_rotator #rotation_wrapper ul li.last {
  margin-right: 0px;
}

#callout_rotator #rotation_wrapper ul li h4 {
  font-size: 24px;
  letter-spacing: -1px;
  padding: 2px 0px 0px 0px;
  margin: 0px;
  font-weight: normal;
}

#callout_rotator #rotation_wrapper ul li h4 a:hover {
  color: #555555;
}

#callout_rotator #rotation_wrapper ul li a {
  padding-top: 1px;
}

#callout_rotator #rotation_wrapper ul li h5 {
  margin: 0px;
  padding: 0px;
  display: inline;
  font-family: arial;
  color: #555555;
}

#callout_rotator #navigation_wrapper .nav_left {
  position: absolute;
  left: 5px;
  top: 50px;
  width: 28px;
  height: 28px;
  background-image: url(http://s4.picdn.net/images/lohp/arrows_rev9.png);
  background-position: -2px -86px;
  background-repeat: no-repeat;
  cursor: pointer;
}

#callout_rotator #navigation_wrapper .nav_right {
  position: absolute;
  right: 7px;
  top: 50px;
  width: 28px;
  height: 28px;
  background-image: url(http://s4.picdn.net/images/lohp/arrows_rev9.png);
  background-position: -2px -6px;
  background-repeat: no-repeat;
  cursor: pointer;
}

#callout_rotator .image_wrapper {
  position: relative;
  width: 239px;
  height: 140px;
  margin: 0px auto;
  background-image: url(http://s1.picdn.net/images/lohp/module_bg.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

#callout_rotator .none_border_wrapper {
  width: 239px;
  height: 140px;
  margin: 0px auto;
}

#callout_rotator .none_border_wrapper img:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#callout_rotator .selected {
  background-position: 0px -140px;
}

#callout_rotator .image_wrapper img.module_image {
  position: absolute;
  left: 9px;
  top: 11px;
}

#lohp_main #callout_rotator .paginator_wrapper {
  bottom: 5px;
}

#lohp_main .section_header {
  border-top: 1px solid #cfcfcf;
  margin-top: 20px;
}

#lohp_main .section_header h4 {
  margin: 0.4em 0;
  position: relative;
  top: -17px;
  margin-bottom: 4px;
  color: #3f3f3f;
  background-color: white;
  display: inline-block;
  padding: 0px 10px;
  font-size: 17px;
  font-weight: normal;
}

#callout_rotator #rotation_wrapper h4 a {
  color: #707070;
}

.ie7 #lohp_main .section_header h4 {
  top: -18px;
  display: inline;
  zoom: 1;
}

#lohp_main #browse_by_category {
  width: 950px;
  height: 192px;
  padding-top: 10px;
  background-image: url(http://s4.picdn.net/images/lohp/lohp_browse_by_category_bg.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}

.ie7 #lohp_main #browse_by_category {
  padding-top: 30px;
  height: 170px;
}

#lohp_main #browse_by_category .lohp_category_listing {
  position: relative;
  width: 990px;
}

.ie7 #lohp_main #browse_by_category .lohp_category_listing {
  margin-top: 2px;
}

#lohp_main #browse_by_category .lohp_category_listing h3 {
  margin: 0px;
  padding: 0px;
  font-family: arial;
  font-size: 12px;
}

#lohp_main #browse_by_category .lohp_category_listing ul {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 20%;
  list-style: none;
}

#lohp_main #browse_by_category .lohp_category_listing ul li {
  text-align: left;
  padding-bottom: 5px;
  line-height: 15px;
}

#lohp_main #mission_container {
  width: 950px;
  padding: 10px 0px 40px 0px;
  zoom: 1;
}

#lohp_main #mission_container:before,
#lohp_main #mission_container:after {
  content: '';
  display: table;
}

#lohp_main #mission_container:after {
  clear: both;
}

#lohp_main #mission_container ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
  width: 990px;
}

.ie7 #lohp_main #mission_container ul {
  padding-top: 2px;
}

#lohp_main #mission_container ul li {
  float: left;
  width: 24%;
  text-align: left;
  border-right: 1px solid #e5e5e5;
  color: #666666;
}

#lohp_main #mission_container ul li.last {
  border-right: none;
}

#lohp_main #mission_container ul li .mission_inner_wrapper {
  padding: 0px 27px 0px 20px;
  font-size: 13px;
}

#lohp_main #mission_container ul li.first .mission_inner_wrapper {
  padding-left: 0px;
  color: #666666;
}

#lohp_main #mission_container ul li h5 {
  font-size: 20px;
  font-weight: normal;
  color: #2d4a5b;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

#lohp_main #mission_container ul li p {
  margin: 0px;
  padding: 0px;
}

#lohp_main .plans_button {
  padding: 7px 30px;
}

#lohp_main #plans_pricing {
  position: relative;
  z-index: 95;
  margin-top: -3px;
}

.ie7 #lohp_main #plans_pricing {
  margin-top: -2px;
}

#lohp_top #logo_container .logo_wrapper,
#lohp_top #search_outer_container,
#lohp_main #plans_pricing .wrapper,
#lohp_main #browse_by_category,
#lohp_main #mission_container {
  padding-left: 40px;
  padding-right: 40px;
}

.language_en #lohp_main #mission_container ul li .mission_inner_wrapper {
  padding: 0 23px 0 20px;
}

.language_en #lohp_main #mission_container ul li.first .mission_inner_wrapper {
  padding-left: 0px;
}

.language_th #callout_rotator #rotation_wrapper {
  height: 245px;
}

.language_en #callout_rotator #rotation_wrapper ul li h4,
.language_de #callout_rotator #rotation_wrapper ul li h4 {
  line-height: 21px;
  padding-top: 10px;
  padding-bottom: 4px;
}

.language_de #lohp_top #logo_container h1 {
  font-size: 19px;
}

.language_de #callout_rotator #rotation_wrapper ul li h4 {
  font-size: 20px;
}

.language_pt #callout_rotator #rotation_wrapper ul li h4 {
  font-size: 20px;
}

.language_zh #callout_rotator #rotation_wrapper ul li h4 {
  font-size: 20px;
}

.language_es #lohp_top #logo_container h1 {
  font-size: 20px;
}

.language_es #lohp_main #plans_pricing h2 a {
  font-size: 23px;
}

.language_es #lohp_main #browse_by_category {
  height: 208px;
}

.language_es #lohp_main #plans_pricing h4 a {
  font-size: 20px;
}

.language_es #callout_rotator #rotation_wrapper ul li h4 {
  font-size: 22px;
}

.language_es #lohp_main #mission_container ul li .mission_inner_wrapper {
  padding: 0 32px 0 20px;
}

.language_es #lohp_main #mission_container ul li.first .mission_inner_wrapper {
  padding-left: 0px;
}

.language_fr #lohp_top #logo_container h1 {
  font-size: 20px;
}

.language_fr #lohp_main #plans_pricing h2 a {
  font-size: 22px;
}

.language_fr #lohp_main #plans_pricing h4 a {
  font-size: 19px;
}

.language_hu #lohp_main #plans_pricing h2 a {
  font-size: 20px;
}

.language_hu #lohp_main #plans_pricing h4 a {
  font-size: 18px;
}

.language_sv #lohp_main #plans_pricing h2 a {
  font-size: 22px;
}

.language_sv #lohp_main #plans_pricing h4 a {
  font-size: 19px;
}

.language_nb #lohp_main #plans_pricing h2 a {
  font-size: 20px;
}

.language_nb #lohp_main #plans_pricing h4 a {
  font-size: 19px;
}

.language_fr #callout_rotator #rotation_wrapper ul li h4 {
  font-size: 22px;
}

.language_it #lohp_main #plans_pricing h2 a {
  font-size: 24px;
}

.language_it #callout_rotator #rotation_wrapper ul li h4 {
  font-size: 20px;
}

.language_it .ie7 #search_container input#index_keyword_input {
  width: 270px;
}

.language_nl #lohp_main #plans_pricing h2 a {
  font-size: 24px;
}

.language_nl #lohp_main #mission_container ul li .mission_inner_wrapper {
  padding: 0 25px 0 20px;
}

.language_nl #lohp_main #mission_container ul li.first .mission_inner_wrapper {
  padding-left: 0px;
}

.language_pt #lohp_main #plans_pricing h2 a {
  font-size: 25px;
}

.language_ru #lohp_top #logo_container h1 {
  display: inline-block;
  font-size: 19px;
  line-height: 16px;
  padding-left: 15px;
  width: 475px;
}

.language_ru .ie7 #lohp_top #logo_container h1 {
  display: inline;
  zoom: 1;
  margin: 0;
}

.language_ru #callout_rotator #rotation_wrapper ul li h4 {
  font-size: 18px;
}

.language_ru #callout_rotator #rotation_wrapper ul li h5 {
  font-size: 13px;
}

.language_ru #lohp_main #plans_pricing {
  background-image: url("http://s4.picdn.net/images/lohp/lohp_pricing_bg_ru.png");
}

.language_ru .ie7 #lohp_main #plans_pricing h2 {
  display: block;
  padding: 0;
  margin: 0;
}

.language_ru #lohp_main #plans_pricing .wrapper {
  text-align: center;
  line-height: 28px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.language_ru #lohp_main #plans_pricing .wrapper .divider {
  display: none;
}

.language_zh #lohp_main #mission_container ul li .mission_inner_wrapper {
  font-size: 13px;
  padding: 0 22px 0 20px;
}

.language_zh #lohp_main #mission_container ul li.first .mission_inner_wrapper {
  padding-left: 0px;
}

.language_zh .ie7 #image_paginator_wrapper {
  top: 39px;
}

.language_zh #lohp_main #plans_pricing h4 a {
  font-family: arial;
  letter-spacing: 2px;
}

.language_ja #lohp_top #logo_container h1 {
  font-size: 21px;
}

.language_ja #lohp_main #plans_pricing h2 a {
  font-size: 19px;
}

.language_ja #lohp_main #plans_pricing h4 a {
  font-family: arial;
  letter-spacing: 2px;
  font-size: 19px;
}

.language_ja #callout_rotator #rotation_wrapper ul li h4 {
  font-size: 21px;
}

.language_ja #lohp_main #mission_container ul li h5 {
  font-size: 15px;
}

.language_ja #lohp_main #mission_container ul li .mission_inner_wrapper {
  font-size: 13px;
  padding: 0 17px 0 20px;
}

.language_ja #lohp_main #mission_container ul li.first .mission_inner_wrapper {
  padding-left: 0px;
}

.language_ja .ie7 #image_paginator_wrapper {
  top: 39px;
}

body.home_out #search_autocomplete {
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  margin-left: 0;
  width: 345px !important;
}

body.home_out .lte9 #search_autocomplete {
  width: 332px !important;
}

body.home_out #search_autocomplete ul {
  padding: 0;
}

body.home_out #search_autocomplete ul li {
  font-size: 16px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 7px;
}

#lohp_top #search_outer_container #search_container input#index_keyword_input {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  outline: none;
}

#lohp_main #mission_container .mission_inner_wrapper {
  overflow: visible;
}

.language_es #lohp_main #mission_container .mission_inner_wrapper {
  height: 119px;
}

.language_fr #lohp_main #mission_container .mission_inner_wrapper {
  height: 130px;
}

.language_it #lohp_main #mission_container .mission_inner_wrapper {
  height: 119px;
}

.language_nl #lohp_main #mission_container .mission_inner_wrapper {
  height: 119px;
}

.language_pt #lohp_main #mission_container .mission_inner_wrapper {
  height: 119px;
}

.language_ru #lohp_main #mission_container .mission_inner_wrapper {
  height: 119px;
}

.language_ja #lohp_main #mission_container .mission_inner_wrapper {
  height: 94px;
}

body.home_out #bodyContent {
  width: auto;
  padding: 0px;
  margin-top: -17px;
}

body.home_out #masthead {
  display: none;
}

body.opera #lohp_top #search_autocomplete {
  margin-top: 4px;
}

body.home_out #header {
  position: relative;
  z-index: 1000;
}

body.home_out #navigation {
  margin-bottom: 17px;
}

#lohp_top #search_button_container {
  background: transparent url('http://s2.picdn.net/images/lohp/button-bg-11px.png') no-repeat right top;
}

.lte9 #lohp_top #search_button_container {
  background: none;
}

.paginator_wrapper {
  position: absolute;
  left: 50%;
  bottom: 19px;
  z-index: 101;
}

.paginator_wrapper .pager {
  position: relative;
  z-index: 10;
  width: 11px;
  height: 11px;
  background-image: url(http://s4.picdn.net/images/lohp/arrows_rev9.png);
  background-position: -11px -193px;
  background-repeat: no-repeat;
  float: left;
  margin-right: 1px;
  cursor: pointer;
}

.paginator_wrapper .pager_selected {
  background-position: -11px -168px;
}

.paginator_wrapper .pager_hover {
  background-position: -11px -181px;
}

#lohp_top {
  height: 455px;
}

.ie #lohp_top {
  height: 457px;
}

@media only screen and (max-device-width: 768px) {
  #search_container input#index_keyword_input {
    height: 36px;
  }

  #lohp_top #search_button_container {
    background: none;
  }

  #lohp_top {
    height: 455px;
  }

  .language_ja #lohp_top {
    height: 453px;
  }

  body {
    zoom: 100%;
  }

  #lohp_top #logo_container .logo_wrapper {
    width: 900px;
  }

  #search_outer_container {
    width: 900px;
  }

  #lohp_main #plans_pricing .wrapper {
    width: 900px;
  }

  #lohp_main #browse_by_category {
    width: 900px;
    overflow: hidden;
  }

  #lohp_main #mission_container {
    width: 900px;
    overflow: hidden;
  }

  #lohp_main #browse_by_category .lohp_category_listing {
    width: 960px;
  }

  #lohp_main #mission_container ul {
    width: 960px;
  }

  .callout_wrapper {
    width: 900px;
  }

  #lohp_top #search_outer_container #search_container input#index_keyword_input {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }

  .language_de #lohp_main #plans_pricing h2 a {
    font-size: 25px;
  }

  .language_es #lohp_main #plans_pricing h2 a {
    font-size: 22px;
  }

  .language_fr #lohp_main #plans_pricing h2 a {
    font-size: 20px;
  }

  .language_it #lohp_main #plans_pricing h2 a {
    font-size: 21px;
  }

  .language_nl #lohp_main #plans_pricing h2 a {
    font-size: 21px;
  }

  .language_pt #lohp_main #plans_pricing h2 a {
    font-size: 22px;
  }

  .language_ru #lohp_main #plans_pricing h2 a {
    font-size: 23px;
  }

  .language_ja #lohp_main #plans_pricing h2 a {
    font-size: 17px;
  }
}

.form-search {
  width: 540px;
}

.form-search .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.form-search .input-group .form-control {
  display: table-cell;
}

.form-search .input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #EEE;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.form-search .input-group-addon:not(:first-child):not(:last-child),
.form-search .input-group-btn:not(:first-child):not(:last-child),
.form-search .input-group input:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.form-search .input-group input:last-child,
.form-search .input-group-addon:last-child,
.form-search .input-group-btn:last-child > .btn,
.form-search .input-group-btn:last-child > .btn-group > .btn,
.form-search .input-group-btn:last-child > .dropdown-toggle,
.form-search .input-group-btn:first-child > .btn:not(:first-child),
.form-search .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-search .input-group-addon,
.form-search .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.form-search .input-group-addon,
.form-search .input-group-btn,
.form-search .input-group input {
  display: table-cell;
}

.form-search .dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
}

.open > .dropdown-menu {
  display: block;
}

.form-search.form-emphasis .input-group {
  border: 4px solid #e6e6e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.form-search .input-group .placeholder_parent {
  position: relative;
}

.lte11 .form-search .input-group .form-control input,
.lte10 .form-search .input-group .form-control input {
  padding-bottom: 9px;
}

.lte9 .form-search .input-group .form-control input {
  padding-right: 5px;
}

.lte8 .form-search .input-group .form-control input {
  padding-top: 1px;
  padding-bottom: 3px;
}

.form-search.form-emphasis .input-group input[type=text],
.form-search.form-emphasis .input-group input[type=text]:focus {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #b4b4b4;
  border-right: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  width: 100%;
}

.lte9 .form-search.form-emphasis .input-group input[type=text] {
  width: 101%;
  display: block;
}

.form-search .input-group-addon {
  color: #64676b;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #b4b4b4;
  cursor: pointer;
}

.form-search .dropdown {
  position: static;
}

.form-search .dropdown-wrapper {
  position: relative;
}

.form-search .dropdown.input-group-addon {
  border-left: 0;
  padding: 0;
}

.form-search .input-group-addon .dropdown-trigger {
  padding: 16px 16px 16px 0;
  font-size: 13px;
}

.form-search .input-group-addon .dropdown-trigger:before {
  border-left: 1px solid #CCC;
  padding: 3px 13px 5px 0;
  content: "";
}

.form-search .input-group-addon .dropdown-trigger:after {
  font-size: 8px;
  color: #797979;
  content: "\25bc";
  position: relative;
  bottom: 1px;
  left: 4px;
}

.form-search .input-group-btn {
  background: #e6e6e6;
}

.form-search .input-group-btn .btn {
  padding-top: 6px;
  padding-bottom: 6px;
}

.lte9 .form-search .input-group-btn .btn {
  background-image: none;
}

.form-search .dropdown-menu {
  left: 0;
  right: auto;
}

.form-search .dropdown-menu li {
  color: #64676b;
  text-align: left;
  line-height: 15px;
  padding: 0 15px;
  min-width: 80px;
  font-size: 13px;
  cursor: pointer;
  border-bottom: 0;
}

.form-search .dropdown-menu li:hover {
  background: #a5b2b9;
  color: #fff;
}

.form-search .dropdown-menu li.indent {
  padding-left: 22px;
}

.form-search .dropdown-menu li.line {
  border-top: 1px solid #E5E5E5;
  margin-top: 4px;
  margin-bottom: 4px;
}

.form-search .dropdown-menu li label,
.form-search .dropdown-menu li input {
  cursor: pointer;
}

.form-search .dropdown-menu input {
  display: none;
}

.form-search {
  width: 640px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: -55px 0 0 -320px;
}

.form-search.form-emphasis .input-group {
  border: 4px solid #595959;
  border: 4px solid rgba(89, 89, 89, 0.6);
  background: #595959;
  background: rgba(89, 89, 89, 0.6);
  background-clip: content-box;
}

#search_label {
  position: absolute;
  top: 14px;
  left: 18px;
  font: 18px/26px Arial;
  color: #B3B5B9;
}

.language_pl #search_label,
.language_fr #search_label {
  font-size: 16px;
}

.form-search.form-emphasis .input-group input[type=text],
.form-search.form-emphasis .input-group input[type=text]:focus {
  height: 52px;
  line-height: 26px;
  padding: 12px 0 12px 17px;
  font-size: 18px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.form-search .dropdown.input-group-addon {
  box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.form-search .input-group-addon .dropdown-trigger {
  font-size: 15px;
}

.form-search .input-group-btn {
  background: #595959;
  background: rgba(89, 89, 89, 0.6);
}

.form-search .input-group-btn .btn {
  padding-top: 12px;
  padding-bottom: 13px;
}

#search-shutterstock .form-search .input-group-btn .btn img {
  left: auto;
  position: static;
  top: auto;
  height: 25px;
  width: 25px;
  max-width: inherit;
}

.form-search .dropdown-menu {
  top: 35px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.form-search .dropdown-menu li label {
  margin-bottom: 0;
  font-size: 13px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

.container {
  margin: 0 auto;
  text-align: left;
  width: 940px;
}

.page-container {
  margin: 0;
}

body .modal {
  width: auto;
}

.inner_container,
#footer_container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 940px;
  -moz-box-shadow: 0 0 12px #cecece;
  -webkit-box-shadow: 0 0 12px #cecece;
  box-shadow: 0 0 12px #cecece;
}

.inner_container {
  background: #fff;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}

.last {
  margin-right: 0;
}

.align-c {
  text-align: center;
}

#header #navigation {
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

#header #navigation #site_tabs li.active {
  border-bottom: 1px solid #a9a9a9;
}

#footer_container {
  margin-top: 0;
}

#search-shutterstock {
  background-repeat: no-repeat;
  background-position: center center;
  height: 476px;
  position: relative;
}

#search-shutterstock img {
  left: 34px;
  position: absolute;
  top: 33px;
}

#search-shutterstock .align-c h2,
#search-shutterstock .align-c a {
  color: #fff;
  display: inline-block;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  min-height: 26px;
  *zoom: 1;
  *display: inline;
}

#search-shutterstock .align-c h2 {
  border-right: 1px solid #737373;
  margin: 0 14px 0 0;
  padding: 0 14px 0 0;
}

#search-shutterstock .align-c a {
  color: #c2e1ed;
  padding: 0;
}

#search-shutterstock .align-c a:hover {
  color: #DEF1F8;
}

#search-shutterstock .align-c a span {
  background: url(http://s4.picdn.net/images/lohp/arrows_rev9.png) no-repeat -6px -213px;
  display: inline-block;
  height: 20px;
  left: 7px;
  position: relative;
  top: 2px;
  width: 20px;
}

.lte9 #search-shutterstock .align-c a span {
  top: -2px;
}

.ie9 #search-shutterstock .align-c a span {
  top: 3px;
}

#shutterstock_page {
  background: #F7F7F7;
}

#search-shutterstock .align-c a:hover span {
  background-position: -6px -241px;
}

#keyword_form {
  background: #595959;
  background: rgba(89,89,89,0.6);
  height: 50px;
  left: 50%;
  margin: -55px 0 0 -290px;
  padding: 4px;
  position: absolute;
  top: 50%;
  width: 572px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.lte9 #keyword_form {
  background: #595959;
}

#keyword_form div {
  height: 50px;
  float: left;
  overflow: hidden;
  width: 504px;
}

#keyword_form #index_keyword_input {
  border: 0;
  -moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  font-family: Arial,sans-serif;
  font-size: 18px;
  height: 26px;
  line-height: 26px;
  padding: 12px 0 12px 17px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 487px;
}

.lte9 #keyword_form #index_keyword_input {
  margin-top: -1px;
}

#keyword_form div#search_button_container {
  width: 68px;
}

#keyword_form div#search_button_container input.button {
  background-color: #e15140;
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-moz-linear-gradient(top, #f2a4a2 0%, #e85b54 4.5%, #b22520 100%);
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2a4a2), color-stop(4.5%,#e85b54), color-stop(100%,#b22520));
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-webkit-linear-gradient(top, #f2a4a2 0%, #e85b54 4.5%, #b22520 100%);
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-o-linear-gradient(top, #f2a4a2 0%, #e85b54 4.5%, #b22520 100%);
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-ms-linear-gradient(top, #f2a4a2 0%, #e85b54 4.5%, #b22520 100%);
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,linear-gradient(to bottom, #f2a4a2 0%, #e85b54 4.5%, #b22520 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e85b54", endColorstr="#b22520",GradientType=0 ), progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://s2.picdn.net/images/lohp/search-icon-ie.png");
  height: 50px;
  padding: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  text-indent: -999em;
  width: 68px;
}

.lte9 #keyword_form div#search_button_container input.button {
  color: #cd3f3a;
  font-size: 0px;
  text-indent: 0;
}

#keyword_form div#search_button_container input.button:hover {
  background-color: #da4b3a;
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-moz-linear-gradient(top, #f2a4a2 0, #e35342 6%, #e35342 100%);
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2a4a2), color-stop(6%,#e35342), color-stop(100%,#e35342));
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-webkit-linear-gradient(top, #f2a4a2 0, #e35342 6%, #e35342 100%);
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-o-linear-gradient(top, #f2a4a2 0, #e35342 6%, #e35342 100%);
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-ms-linear-gradient(top, #f2a4a2 0, #e35342 6%, #e35342 100%);
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,linear-gradient(to bottom, #f2a4a2 0, #e35342 6%, #e35342 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e35342", endColorstr="#e35342",GradientType=0 ), progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://s2.picdn.net/images/lohp/search-icon-ie.png");
}

#keyword_form div#search_button_container input.button:active {
  background: #d24332;
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-moz-linear-gradient(top, #f7a69b 0, #CE2C1E 6%, #EA3220 100%);
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7a69b), color-stop(6%,#CE2C1E), color-stop(100%,#EA3220));
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-webkit-linear-gradient(top, #f7a69b 0, #CE2C1E 6%, #EA3220 100%);
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-o-linear-gradient(top, #f7a69b 0, #CE2C1E 6%, #EA3220 100%);
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,-ms-linear-gradient(top, #f7a69b 0, #CE2C1E 6%, #EA3220 100%);
  background: url(http://s5.picdn.net/images/lohp/search-icon.png) no-repeat center center,linear-gradient(to bottom, #f7a69b 0, #CE2C1E 6%, #EA3220 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#CE2C1E", endColorstr="#EA3220",GradientType=0 ), progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://s2.picdn.net/images/lohp/search-icon-ie.png");
}

#keyword_form span.placeholder,
#keyword_form span#search_label {
  position: absolute;
  top: 16px;
  left: 21px;
  font: 18px/26px Arial;
  color: #b3b5b9;
}

#search-shutterstock .align-c {
  background: rgb(51,51,51);
  background: rgba(51,51,51,0.85);
  bottom: 0;
  left: 0;
  padding: 14px 0 12px;
  position: absolute;
  right: 0;
}

.lte9 #search-shutterstock .align-c {
  background: #333;
}

body.home_out #search_autocomplete.autocomplete {
  top: 275px!important;
  width: 564px!important;
  margin-left: 3px;
}

body.home_out #search_autocomplete.autocomplete ul li {
  padding-left: 16px;
}

#image-carousel h1,
#image-carousel p {
  color: #666;
  font-size: 36px;
  line-height: 44px;
  margin: 44px 0 0;
}

#image-carousel p {
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 28px;
}

#image-carousel .nav {
  border: 1px solid #ddd;
  border-radius: 3px;
  display: table;
  table-layout: fixed;
  margin: 0 auto 43px;
  position: relative;
  width: 838px;
}

#image-carousel .nav a {
  background: #fff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2VjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fff 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(top, #fff 0%, #ececec 100%);
  background: -ms-linear-gradient(top, #fff 0%, #ececec 100%);
  background: linear-gradient(to bottom, #fff 0%, #ececec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ececec", GradientType=0);
  border-left: 1px solid #ddd;
  border-right: 1px solid #fff;
  display: table-cell;
  font-size: 16px;
  padding: 7px 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

#image-carousel .nav a:hover {
  background: #fff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTllYWVhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, #fff 40%, #e9eaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#fff), color-stop(100%,#e9eaea));
  background: -webkit-linear-gradient(top, #fff 40%,#e9eaea 100%);
  background: -ms-linear-gradient(top, #fff 40%,#e9eaea 100%);
  background: linear-gradient(to bottom, #fff 40%,#e9eaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e9eaea", GradientType=0);
  color: #249cc9;
  text-decoration: none;
}

#image-carousel .nav .first {
  border-left: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

#image-carousel .nav .last {
  border-right: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#image-carousel .nav .active,
#image-carousel .nav .active:hover {
  background: #b3b5b9;
  border-color: #b3b5b9;
  color: #fff;
  filter: none;
}

#image-carousel .nav .active:after {
  bottom: 5px;
  color: #b3b5b9;
  content: "\25bc";
  display: block;
  height: 0;
  line-height: 1;
  position: absolute;
  text-align: center;
  width: 119px;
}

#carousel-wrapper,
#carousel-wrapper ol {
  height: 361px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 1000px;
}

#carousel-tray {
  height: 361px;
  float: left;
  margin-right: -9999px;
}

#carousel-wrapper ol {
  background-position: 0 0;
  background-repeat: no-repeat;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#carousel-wrapper ol a {
  display: block;
  position: absolute;
  overflow: hidden;
}

#carousel-wrapper ol.slide-photos {
  background-image: url(http://s6.picdn.net/images/lohp/lohp-carousel-photos.jpg);
}

#photos-0 {
  width: 247px;
  height: 176px;
  top: 185px;
  left: 752px;
}

#photos-1 {
  width: 246px;
  height: 360px;
  top: 1px;
  left: 499px;
}

#photos-2 {
  width: 260px;
  height: 162px;
  top: 199px;
  left: 232px;
}

#photos-3 {
  width: 260px;
  height: 191px;
  top: 1px;
  left: 234px;
}

#photos-4 {
  width: 225px;
  height: 360px;
  top: 1px;
  left: 1px;
}

#photos-5 {
  width: 247px;
  height: 176px;
  top: 1px;
  left: 752px;
}

#carousel-wrapper ol.slide-vectors {
  background-image: url(http://s6.picdn.net/images/lohp/lohp-carousel-vectors.jpg);
}

#vectors-0 {
  width: 209px;
  height: 360px;
  top: 1px;
  left: 791px;
}

#vectors-1 {
  width: 186px;
  height: 164px;
  top: 1px;
  left: 1px;
}

#vectors-2 {
  width: 361px;
  height: 360px;
  top: 1px;
  left: 193px;
}

#vectors-3 {
  width: 226px;
  height: 169px;
  top: 1px;
  left: 560px;
}

#vectors-4 {
  width: 225px;
  height: 184px;
  top: 177px;
  left: 561px;
}

#vectors-5 {
  width: 186px;
  height: 188px;
  top: 173px;
  left: 1px;
}

#carousel-wrapper ol.slide-editorial {
  background-image: url(http://s1.picdn.net/images/lohp/lohp-carousel-editorial.jpg);
}

#editorial-0 {
  width: 225px;
  height: 179px;
  top: 180px;
  left: 527px;
}

#editorial-1 {
  width: 240px;
  height: 179px;
  top: 180px;
  left: 1px;
}

#editorial-2 {
  width: 216px;
  height: 170px;
  top: 1px;
  left: 1px;
}

#editorial-3 {
  width: 271px;
  height: 179px;
  top: 180px;
  left: 249px;
}

#editorial-4 {
  width: 239px;
  height: 358px;
  top: 1px;
  left: 760px;
}

#editorial-5 {
  width: 272px;
  height: 170px;
  top: 1px;
  left: 224px;
}

#editorial-6 {
  width: 247px;
  height: 170px;
  top: 1px;
  left: 504px;
}

#carousel-wrapper ol.slide-illustrations {
  background-image: url(http://s1.picdn.net/images/lohp/lohp-carousel-illustrations.jpg);
}

#illustrations-0 {
  width: 195px;
  height: 180px;
  top: 0;
  left: 480px;
}

#illustrations-1 {
  width: 181px;
  height: 180px;
  top: 0;
  left: 1px;
}

#illustrations-2 {
  width: 317px;
  height: 360px;
  top: 0;
  left: 682px;
}

#illustrations-3 {
  width: 284px;
  height: 180px;
  top: 0;
  left: 188px;
}

#illustrations-4 {
  width: 361px;
  height: 173px;
  top: 186px;
  left: 314px;
}

#illustrations-5 {
  width: 181px;
  height: 173px;
  top: 187px;
  left: 1px;
}

#illustrations-6 {
  width: 119px;
  height: 180px;
  top: 187px;
  left: 188px;
}

#carousel-wrapper ol.slide-icons {
  background-image: url(http://s4.picdn.net/images/lohp/lohp-carousel-icons.jpg);
}

#icons-0 {
  width: 183px;
  height: 175px;
  top: 1px;
  left: 483px;
}

#icons-1 {
  width: 172px;
  height: 179px;
  top: 1px;
  left: 1px;
}

#icons-2 {
  width: 295px;
  height: 359px;
  top: 1px;
  left: 181px;
}

#icons-3 {
  width: 325px;
  height: 359px;
  top: 1px;
  left: 673px;
}

#icons-4 {
  width: 172px;
  height: 172px;
  top: 188px;
  left: 1px;
}

#icons-5 {
  width: 183px;
  height: 177px;
  top: 183px;
  left: 483px;
}

#carousel-wrapper ol.slide-videos {
  background-image: url(http://s4.picdn.net/images/lohp/lohp-carousel-footage.jpg);
}

#videos-0,
#videos-1,
#videos-2,
#videos-3,
#videos-4,
#videos-5 {
  height: 174px;
  left: 21px;
  top: 1px;
  width: 314px;
}

#videos-1,
#videos-4 {
  left: 343px;
}

#videos-2,
#videos-5 {
  left: 665px;
}

#videos-3,
#videos-4,
#videos-5 {
  top: 183px;
}

#carousel-wrapper ol.slide-music {
  background-image: url(http://s2.picdn.net/images/lohp/lohp-carousel-music.jpg);
}

#music-0 {
  width: 316px;
  height: 359px;
  top: 1px;
  left: 1px;
}

#music-1 {
  width: 257px;
  height: 179px;
  top: 1px;
  left: 324px;
}

#music-2 {
  width: 417px;
  height: 179px;
  top: 1px;
  left: 588px;
}

#music-3 {
  width: 385px;
  height: 172px;
  top: 188px;
  left: 324px;
}

#music-4 {
  width: 287px;
  height: 172px;
  top: 188px;
  left: 717px;
}

#carousel-wrapper ol.slide-music a span {
  bottom: 0;
  color: #fff;
  display: block;
  font-family: 'Franklin Gothic Book', FranklinGothicBook,Arial,sans-serif;
  font-size: 16px;
  line-height: 16px;
  left: 0;
  padding: 14px;
  position: absolute;
  right: 0;
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
  z-index: 1;
}

#carousel-wrapper ol.slide-music a:after {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(51,51,51,0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(51,51,51,0.8)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(51,51,51,0.8) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(51,51,51,0.8) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(51,51,51,0.8) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(51,51,51,0.8) 100%);
  left: 0;
  padding: 14px;
  position: absolute;
  right: 0;
  content: "";
  bottom: 0;
  height: 70px;
}

#carousel-wrapper ol.slide-music a span small {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  display: block;
  opacity: 0.8;
}

#carousel-wrapper ol.slide-music a:hover span {
  padding: 14px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.8);
}

#browse-categories {
  font-size: 12px;
  padding: 30px 0 39px;
}

#browse-categories h3,
#shutterstock-apps h3 {
  color: #606060;
  float: left;
  font-size: 36px;
  line-height: 44px;
  margin: 14px 0 0;
  padding: 0 30px 0 0;
  width: 270px;
}

body.explorer #lil_brother.lte8 #browse-categories h3 {
  padding: 0 16px 0 0;
  width: 280px;
}

#browse-categories ul {
  list-style: none;
  padding: 20px 0 0;
}

body.explorer #lil_brother.lte8 #browse-categories ul {
  padding: 4px 0 20px;
}

#browse-categories li {
  line-height: 1.2;
  margin: 0 0 7px;
}

#browse-categories a {
  color: #666;
}

#browse-categories a:hover {
  color: #249cc9;
}

#free-images {
  background: #333;
  padding: 72px 0;
}

#free-images ul {
  list-style: none;
  margin: 50px 49px 0 0;
  padding: 0;
}

#free-images ul li {
  float: left;
  margin: 0 20px 0 0;
  width: 260px;
}

#free-images ul li.last {
  margin: 0;
}

#free-images ul img {
  border: 8px solid #444;
  height: auto;
  margin: 0 0 11px;
  width: 244px;
}

#free-images ul h5 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 2px;
}

#free-images ul p {
  color: #e5e5e5;
  font-size: 12px;
  margin: 0;
}

#free-images ul p a {
  color: #c2e1ed;
}

#free-images ul p a:hover {
  color: #DEF1F8;
}

#free-images fieldset {
  border: 0;
  border-left: 1px solid #474748;
  margin: 0;
  padding: 0 0 0 50px;
}

#free-images fieldset h3 {
  color: #fff;
  font-size: 34px;
  line-height: 1.18;
  margin: -4px 0 17px;
  max-width: 300px;
}

body.explorer #lil_brother.lte8 #free-images fieldset h3 {
  font-size: 34px;
}

#free-images ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#free-images ol li.form-text {
  margin: 0 0 8px;
  position: relative;
  text-align: left;
}

#free-images ol li.form-text input {
  border: 0;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 17px;
  line-height: 17px;
  margin: 0;
  padding: 5px 11px;
  width: 278px;
}

#free-images ol li.form-options {
  color: #fff;
  font-size: 11px;
  margin: 0 0 -1px;
  padding: 6px 0 0;
  overflow: hidden;
  width: 100%;
}

#free-images .form-options img {
  vertical-align: baseline;
}

#free-images .form-options label {
  display: block;
  float: left;
  font-size: inherit;
  line-height: 16px;
  padding-left: 5px;
  width: 270px;
}

#free-images .form-options input {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

#free-images ol li.form-submit {
  padding: 17px 0 0;
}

#free-images ol .button {
  padding: 0.54em 0 0.6em;
  width: 100%;
}

#free-images a {
  color: #c2e1ed;
}

#shutterstock-apps {
  background: #fff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fff 0%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f1f1f1));
  background: -webkit-linear-gradient(top, #fff 0%,#f1f1f1 100%);
  background: -o-linear-gradient(top, #fff 0%,#f1f1f1 100%);
  background: -ms-linear-gradient(top, #fff 0%,#f1f1f1 100%);
  background: linear-gradient(to bottom, #fff 0%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
  padding: 0 0 10px;
}

#lil_brother.ie9 #image-carousel ul li a,
#lil_brother.ie9 #image-carousel ul li a:hover,
#lil_brother.ie9 #shutterstock-apps {
  filter: none;
}

#shutterstock-apps h3 {
  color: #444;
  float: none;
  margin: 88px 0 15px;
  padding: 0;
  width: 300px;
}

#shutterstock-apps p {
  color: #444;
  font-size: 15px;
  line-height: 19px;
  margin: 0 0 29px;
  width: 360px;
}

#shutterstock-apps small {
  position: relative;
  top: -2px;
}

#shutterstock-apps ul {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

#shutterstock-apps li {
  display: inline-block;
  *display: inline;
  font-size: 12px;
  margin-right: 10px;
  vertical-align: middle;
  *zoom: 1;
}

#shutterstock-apps .button {
  margin: 0 0 5px;
  padding: 0.65em 1.5em 0.75em;
}

#shutterstock-apps .apps {
  float: right;
  margin-top: 80px;
  padding-bottom: 20px;
}

#image_paginator,
.top_bar_message {
  display: none!important;
}

#home_registration_form span.icon {
  position: absolute;
  top: 6px;
  left: 278px;
  display: block;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
}

#home_registration_form span.error {
  background-image: url(http://s5.picdn.net/images/sub11_error.png);
}

#home_registration_form span.success {
  background-image: url(http://s1.picdn.net/images/success_icon_17.jpg);
}

#home_registration_form span.loading {
  background-image: url(http://s3.picdn.net/images/loading_icon.gif);
}

#home_registration_form div.errorMsgBox {
  color: #EA3220;
  font: 11px arial,sans-serif;
  padding: 4px 0 0 10px!important;
  text-align: left;
}

li.form-text span.placeholder {
  position: absolute;
  top: 5px;
  left: 9px;
  font: 14px/17px Arial;
  color: #999;
}

li.form-text .error {
  color: #000;
}

#free-images ul h5,
#image-carousel h1,
#browse-categories h3,
#shutterstock-apps h3,
#free-images fieldset h3,
#search-shutterstock .align-c h2,
#search-shutterstock .align-c a {
  font-family: 'Franklin Gothic Book', FranklinGothicBook, Arial, sans-serif;
}

.language_de #image-carousel h1 {
  font-size: 28px;
  line-height: 32px;
}

.language_es #image-carousel h1,
.language_pt #image-carousel h1,
.language_ko #image-carousel h1 {
  font-size: 34px;
  white-space: nowrap;
}

.language_ru #image-carousel h1,
.language_pl #image-carousel h1,
.language_fr #image-carousel h1 {
  line-height: 40px;
  margin: 44px auto 6px;
  width: 900px;
}

.language_ja #image-carousel h1 {
  font-size: 32px;
}

.language_hu #browse-categories h3,
.language_fr #browse-categories h3,
.language_es #browse-categories h3,
.language_de #browse-categories h3,
.language_da #browse-categories h3,
.language_pt #browse-categories h3 {
  font-size: 31px;
  line-height: 36px;
}

.language_pt #browse-categories h3 {
  padding: 0 16px 0 0;
  width: 284px;
}

.language_sv #free-images fieldset h3,
.language_cs #free-images fieldset h3,
.language_de #free-images fieldset h3,
.language_ru #free-images fieldset h3 {
  font-size: 25px;
}

.language_nb #free-images fieldset h3,
.language_tr #free-images fieldset h3,
.language_hu #free-images fieldset h3,
.language_it #free-images fieldset h3,
.language_fr #free-images fieldset h3,
.language_da #free-images fieldset h3,
.language_es #free-images fieldset h3 {
  font-size: 28px;
}

.language_pt #free-images fieldset h3 {
  font-size: 32px;
}

.language_pl #keyword_form span.placeholder,
.language_pl #keyword_form span#search_label {
  font-size: 15px;
}

.language_pl #image-carousel .nav a,
.language_de #shutterstock-apps p,
.language_en #shutterstock-apps p {
  font-size: 14px;
}

.language_de #shutterstock-apps p {
  width: auto;
}

.language_ru #search-shutterstock .align-c h2,
.language_ru #search-shutterstock .align-c a {
  font-size: 24px;
  margin: 0;
  padding: 0;
  border: none;
}

.language_de #shutterstock-apps h3 {
  width: 415px;
}

#language_menu table {
  border-collapse: collapse;
}

#language_menu td {
  vertical-align: top;
}

#language_menu ul {
  display: block;
}

#language_menu li {
  border: none;
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 1px 0px 0px 1px;
  padding: 1px;
}

#language_menu .lg_first_column li {
  border-width: 1px 0px 0px 0px;
}

#language_menu  li.lg_first {
  border-color: #FFFFFF #FFFFFF #FFFFFF #EEEEEE;
}

#language_menu .lg_selected a {
  background: #EAEAEA;
}

#language_menu .lg_selected img {
  border: none;
}

.ie	#language_menu .lg_selected a {
  position: relative;
}

#language_menu table.lg_items .lg_selected img {
  position: relative;
  left: 6px;
  line-height: 12px;
  margin-bottom: -5px;
  margin-left: -5px;
  float: right;
}

.ie	#language_menu table.lg_items .lg_selected img {
  position: absolute;
  right: 8px;
  left: auto;
}

#language_menu table.lg_items {
  border: none;
}

table.lg_items td {
  padding: 0px;
}

table.lg_items td a {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  color: #64676b;
  text-decoration: none;
  border-radius: 3px;
  line-height: 14px;
  min-width: 75px;
  padding: 9px 14px 9px 20px;
  display: block;
}

.lte7 table.lg_items td a {
  width: 75px;
}

table.lg_items td a:hover {
  background-color: #EEF4F4;
}