#HomeStat {
  padding: 3px;
  margin-bottom: 20px;
}

#HomeStat {
  background: #FFF8E5;
  border: #FFEBB2 1px solid;
}

a {
  color: black;
}

a:active {
  color: black;
}

a.replink:visited {
  color: #707070;
}

a.menu {
  text-decoration: none;
  padding: 2px;
}

a.menu:hover {
  color: #ffffff;
  text-decoration: none;
  background: #999999;
}