html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

*html {
  _background-image: url(about:blank);
  _background-attachment: fixed;
}

address,
caption,
cite,
code,
dfn,
em,
i,
th,
var {
  font-style: normal;
  font-weight: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls])display:none[hidden] {
  display: none;
}

figure {
  margin: 0;
}

body {
  font: 12px/18px "Simsun","Microsoft YaHei","SimHei","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
  background: #fff;
}

header,
#nav,
footer {
  font-family: "Microsoft YaHei","Simsun","SimHei","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

.searchWrap .timeLine {
  font-family: "Simsun","Microsoft YaHei","SimHei","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: bottom;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

fieldset legend {
  display: none;
}

button {
  cursor: pointer;
  _cursor: hand;
  border: 0;
  overflow: visible;
}

input,
textarea {
  outline: 0;
}

label {
  cursor: pointer;
  _cursor: hand;
}

input,
.checkbox {
  vertical-align: middle;
}

a:focus {
  outline: 0;
}

a:hover {
  color: #fd5b78;
  text-decoration: none;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.searchWrap .tags a:link,
.searchWrap .tags a:visited {
  color: #777;
}

.nav li a:link,
.nav li a:visited {
  color: #fff;
}

.nav li a:hover,
.nav li a:active {
  background: #077cbf;
  text-decoration: none;
}

.headline a:link,
.headline a:visited {
  color: #65b420;
}

.headline a:hover,
.headline a:active {
  color: #cd0200;
  text-decoration: none;
}

.searchWrap .timeLine {
  margin-top: 3px;
}

.searchWrap .timeLine a {
  color: #999;
  margin: 0 10px;
}

.l {
  float: left;
}

.r {
  float: right;
}

.cl:after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}

.cl {
  zoom: 1;
}

#nav .menu li,
#nav .menu li.drop .arrow,
#nav .login li a.qq,
#nav .login li a.weibo,
#nav .login li a.reg,
#nav .settings li.sub,
.footer .maps .block,
.footer .links li,
.share,
.comment,
#nav .menu li.profile span,
#slideBar .backTopBtn a,
#slideBar .scan a {
  background: transparent url(http://static.mama.cn/std/images/compress.png) 0 0 no-repeat;
}

#header a.logo,
#header a.app,
#nav .menu li.home {
  background: transparent url(http://static.mama.cn/std/images/compress24.png) 0 0 no-repeat;
}

.footer .sns li,
.footer .app li a {
  background: transparent url(http://static.mama.cn/std/images/compress24_footer.png?v=515) 0 0 no-repeat;
}

font-family:"ff-tisa-web-pro-1",
"ff-tisa-web-pro-2",
"Lucida Grande",
"Hiragino Sans GB",
"Hiragino Sans GB W3";font-weight:normal {
  border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -khtml-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  box-shadow: 0 15px 20px #ccc;
  -moz-box-shadow: 0 15px 20px #ccc;
  -webkit-box-shadow: 0 15px 20px #ccc;
}

.update {
  background: #ffff9b;
  border-top: 1px solid #fce4b5;
  border-bottom: 1px solid #fce4b5;
  text-align: center;
  color: #e27839;
  padding: 10px;
}

.bannerWrap {
  width: 1000px;
  margin: 10px auto;
  text-align: center;
  line-height: 0;
}

header {
  width: 100%;
  height: 78px;
  background: #ebfcec url(http://static.mama.cn/std/images/top_bg2.png) top center no-repeat;
}

#header {
  width: 1000px;
  margin: 0 auto;
}

#header .l {
  width: 245px;
  height: 78px;
  position: relative;
}

#header a.logo,
#header a.app {
  text-indent: -999em;
}

#header a.logo {
  display: block;
  position: absolute;
  width: 125px;
  height: 50px;
  top: 16px;
  left: 0;
  background-position: 0 0;
}

#header a.app {
  display: block;
  position: absolute;
  width: 104px;
  height: 26px;
  top: 29px;
  left: 134px;
  background-position: -154px 0;
}

#slideBar {
  margin: 0 auto;
  padding-left: 1000px;
  width: 0;
}

#slideBar .backTop {
  position: fixed;
  _position: absolute;
  opacity: .7;
  z-index: 10;
  bottom: 60px;
  margin-left: 20px;
  display: none;
  width: 53px;
  height: 120px;
}

#slideBar .title {
  color: #fff;
  background: #000;
  text-align: center;
  line-height: 20px;
}

#slideBar .scan a {
  display: block;
  height: 50px;
  background-position: 7px -470px;
  background-color: #e1e1e1;
  text-indent: -999em;
}

#slideBar .backTopBtn a {
  display: block;
  background-position: 11px -525px;
  background-color: #fd5b78;
  width: 53px;
  height: 53px;
  overflow: hidden!important;
  outline: 0;
  text-indent: -999em;
}

#slideBar .backTop:hover {
  opacity: 1;
}

#slideBar .scanCode {
  position: absolute;
  top: -158px;
  left: -146px;
  display: none;
}

.tzSelect {
  height: 25px;
  display: inline-block;
  min-width: 60px;
  position: relative;
  z-index: 10;
  margin: 1px 0 1px 1px;
}

.tzSelect .selectBox {
  position: absolute;
  height: 100%;
  width: 100%;
  font: 12px/24px "Lucida Sans Unicode","Lucida Grande",sans-serif;
  line-height: 26px\9;
  text-align: center;
  color: #666;
  cursor: pointer;
  background: #f3f3f3 url(http://static.mama.cn/std/images/compress.png) right 8px no-repeat;
}

.tzSelect .selectBox:hover {
  color: #fff;
  background: #666 url(http://static.mama.cn/std/images/compress.png) right -82px no-repeat;
}

.tzSelect .selectBox.expanded {
  color: #fff;
  background: #666 url(http://static.mama.cn/std/images/compress.png) right -38px no-repeat;
}

.tzSelect .dropDown {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  list-style: none;
  line-height: 16px;
  font-size: 12px;
}

.tzSelect li {
  background: #fff;
  cursor: pointer;
  padding: 6px;
  text-align: center;
  border-bottom: 1px solid #f3f3f3;
}

.tzSelect li:hover {
  background-color: #f3f3f3;
}

.regularSelect {
  display: none;
}

.searchWrap {
  width: 395px;
  margin-top: 20px;
}

.search input {
  vertical-align: top;
}

.search {
  height: 27px;
  width: 320px;
  position: relative;
  z-index: 1000;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 4px;
}

.search .askQ {
  position: absolute;
  top: 0;
  right: -60px;
  display: block;
  height: 25px;
  width: 50px;
  border: 1px solid #ddd;
  background: #f0f0f0;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #4b4f46;
  border-radius: 4px;
}

.search .key {
  position: absolute;
  top: 0;
  left: 63px;
  height: 16px;
  height: 20px\0;
  padding-top: 5px;
  padding-left: 20px;
  width: 203px;
  border: 0;
  color: #bcbcbc;
}

.search .okBtn {
  position: absolute;
  right: -1px;
  top: -1px;
}

.searchWrap .tags {
  line-height: 30px;
}

.searchWrap .tags a {
  margin-left: 13px;
}

.navWrap {
  height: 41px;
}

nav {
  width: 100%;
  height: 41px;
  background: transparent url(http://static.mama.cn/std/images/nav_bg.png) 0 0 repeat-x;
}

#nav {
  width: 1000px;
  margin: 0 auto;
}

#nav a:hover {
  color: #ff7398;
}

#nav .menu {
  float: left;
}

#nav .menu li {
  float: left;
  line-height: 34px;
  height: 33px;
  font-size: 14px;
  position: relative;
  background-position: -195px -145px;
  display: inline;
  margin-left: 8px;
  padding: 0 2px 0 7px;
}

#nav .menu li.noDot {
  background: 0;
  margin-left: 0;
  padding-left: 0;
}

#nav .menu li a {
  display: block;
  padding: 0 10px;
}

#nav .menu li.home {
  width: 84px;
  height: 42px;
  background-position: -476px 0;
  display: none;
  margin-left: 0;
}

#nav .menu li.home a {
  background: 0;
  text-indent: -999em;
}

#nav .menu li a.now {
  color: #ff7398;
  border-bottom: 3px solid #ff7398;
}

#nav .menu li.dropOn a.now {
  border: 0;
}

#nav .menu li.drop a {
  padding: 0 37px 0 10px;
}

#nav .menu li.profile span {
  display: block;
  width: 15px;
  height: 9px;
  background-position: -185px -1111px;
  position: absolute;
  top: 8px;
  left: 80px;
  text-indent: -999em;
}

#nav .menu li.profile a {
  padding: 0 30px 0 10px;
}

#nav .menu li.noDot a {
  background: 0;
}

#nav .menu li.drop .arrow {
  position: absolute;
  right: 15px;
  top: 17px;
  width: 9px;
  height: 6px;
  background-position: 0 -234px;
  display: block;
  overflow: hidden;
  -moz-transition: -moz-transform .2s ease-in;
  -webkit-transition: -webkit-transform .2s ease-in;
  -o-transition: -o-transform .2s ease-in;
  transition: transform .2s ease-in;
}

#nav .menu li.dropOn .arrow {
  -moz-transform: rotate(180deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
  -o-transform: rotate(180deg);
  -o-transform-origin: 50% 50%;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

#nav .menu li.drop .subNav {
  position: absolute;
  top: 36px;
  width: 120px;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  background: #f8f8f8;
  padding: 0 10px 10px;
  box-shadow: 0 1px 3px 0 #eee;
  opacity: .9;
  display: none;
  z-index: 100;
}

#nav .menu li.drop .subNav a {
  background: 0;
  padding: 0 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

#nav .menu li.drop .subNav a.bottom {
  border-bottom: 0;
}

#nav .login {
  float: right;
}

#nav .login li {
  float: left;
  line-height: 36px;
}

#nav .login li a {
  display: block;
  padding: 0 10px;
}

#nav .login li a.qq,
#nav .login li a.weibo {
  text-indent: -999em;
  width: 25px;
  height: 25px;
  padding: 0 0 0 10px;
  margin-top: 6px;
}

#nav .login li a.qq {
  background-position: 0 -34px;
}

#nav .login li a.weibo {
  background-position: 0 -79px;
}

#nav .login li a.reg {
  background-position: -198px -218px;
  margin-right: 5px;
}

#nav .settings li {
  float: left;
  text-align: center;
  padding: 0 10px;
  height: 28px;
  padding-top: 8px;
  height: 26px\9;
  padding-top: 10px\9;
}

#nav .settings li.name {
  font-family: verdana;
}

#nav .settings li.sub {
  background-position: right -269px;
  text-align: left;
  padding-right: 22px;
  border-left: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
}

#nav .settings li.subCur {
  background-position: right -319px;
  background-color: #fff;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  position: relative;
  z-index: 10;
}

#nav .settings li .dropDown {
  display: none;
}

#nav .settings li.subCur .dropDown {
  position: absolute;
  padding: 5px 10px 0 10px;
  left: -1px;
  top: 36px;
  width: 100px;
  background: #fff;
  border: 1px solid #dedede;
  border-top: 0;
  line-height: 30px;
  text-indent: 1em;
}

#nav .settings li.subCur .dropDown p {
  border-bottom: 1px solid #f3f3f3;
  line-height: 30px;
  margin-bottom: 5px;
}

#nav .settings li.subCur .dropDown p.end {
  border: 0;
}

#wrap {
  width: 1000px;
  margin: 0 auto;
}

.layout {
  background: #fff url('http://static.mama.cn/std/images/wrap_bg.png') 0 0 repeat-y;
  margin: 20px 0;
}

.layout .main {
  float: left;
  width: 660px;
}

.layout .side {
  float: right;
  width: 300px;
}

.share {
  padding-left: 22px;
  background-position: -182px -975px;
  margin: 5px 10px 0 0;
  display: inline-block;
}

.comment {
  padding-left: 22px;
  background-position: -182px -1021px;
  margin: 5px 10px 0 0;
  display: inline-block;
}

footer {
  background: #f0f0f0 url('http://static.mama.cn/std/images/footer_shadow.png') 0 0 repeat-x;
  padding-top: 5px;
  margin-top: 20px;
}

.footerWrap {
  background: #f0f0f0 url('http://static.mama.cn/std/images/footer_bg.png') 0 0 repeat;
  height: 295px;
}

.footer {
  width: 1000px;
  margin: 0 auto;
  color: #333;
}

.footer .maps h4 {
  font-size: 16px;
  padding-top: 10px;
  height: 40px;
  font-weight: normal;
}

.footer .maps .block {
  width: 170px;
  float: left;
  padding: 10px 40px;
  background-position: 0 -600px;
  height: 200px;
  overflow: hidden;
}

.footer .maps .block2 {
  width: 220px;
  padding-right: 20px;
}

.footer .maps .blockNo {
  background: 0;
  width: 120px;
  position: relative;
  overflow: visible;
}

.footer .sns li {
  line-height: 40px;
  padding-left: 35px;
  background-position: -30px 8px;
}

.footer .sns li.no2 {
  background-position: -30px -66px;
}

.footer .sns li.no3 {
  background-position: -30px -140px;
}

.footer .app li {
  float: left;
  margin: 0 20px 15px 0;
}

.footer .app li a {
  display: block;
  width: 52px;
  height: 52px;
  text-indent: -999em;
  background-position: -3px -224px;
}

.footer .app li.no2 a {
  background-position: -3px -286px;
}

.footer .app li.no3 a {
  background-position: -3px -347px;
}

.footer .app li.no4 a {
  background-position: -3px -408px;
}

.footer .app li.no5 a {
  background-position: -3px -591px;
}

.footer .app li.no6 a {
  background-position: -3px -530px;
}

.footer .links {
  height: 120px;
  width: 200px;
  overflow-y: hidden;
  scrollbar-base-color: #eee;
  scrollbar-arrow-color: #ee7c8c;
}

.footer .links li {
  float: left;
  height: 30px;
  width: 80px;
  background-position: -197px -874px;
  padding-left: 10px;
}

.footer .copyright {
  text-align: center;
}

.footer .copyright img {
  vertical-align: middle;
  margin-right: 10px;
}

.mamaWx {
  position: absolute;
  top: 0;
  left: 140px;
  display: none;
}

.pagination {
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.pagination a {
  cursor: pointer;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  line-height: 34px;
  font-size: 14px;
  margin: 4px;
  padding: 6px 11px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #d1d4d1;
}

.pagination b {
  margin: 4px;
}

.pagination a:link,
.pagination a:visited {
  color: #4a4a4a;
}

.pagination a:hover,
.pagination a:active {
  background: #d1d4d1;
  color: #fff;
}

.pagination span.current {
  background-color: #fd5471;
  border: 1px solid #fd5471;
  color: #fff;
  font-weight: bold;
  margin: 4px;
  padding: 6px 12px;
  font-size: 14px;
}

.pagination span.disabled {
  border: 1px solid #eee;
  color: #ddd;
  margin: 4px;
  padding: 6px 12px;
  font-size: 14px;
}

.pagination a:hover {
  text-decoration: none;
}

body {
  font: 12px/18px "Microsoft YaHei","Simsun","SimHei","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
  background: #fff;
}

.welfare li dl dd,
.idxFocus .hot .news .key,
.newsList .at dd,
.idxTwo .ask dd,
.subHd,
.idxKnowledge,
.newsList .atImg .tags,
.idxFocus .hot .news .desc {
  font: 12px/18px "Simsun","Microsoft YaHei","SimHei","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
  background: #fff;
}

#tlq .date .sep,
.subHd a,
.idxKnowledge .shortTxtLink li,
.imgScroll a.next,
.bannerScroll a.next,
.newsList .atImg .tags {
  background: transparent url(http://static.mama.cn/std/images/compress.png) 0 0 no-repeat;
}

h2,
h2 a,
.idxFocus .hot .news h3,
.welfare li dl dt,
.brandScrollBtnL,
.brandScrollBtnR,
.brandTitle a,
.idxTwo .ask,
.idxTwo .askList li,
.idxThree .side h3 span,
.idxThree .rankList,
.idxThree .rank li.cur .arrow {
  background: transparent url(http://static.mama.cn/std/images/compress_index.png) 0 0 no-repeat;
}

#guide {
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
}

#guide .banner {
  float: left;
  width: 660px;
}

#guide .regGuide {
  float: right;
  width: 320px;
}

#guide .regGuide .login {
  height: 108px;
  background: #fa4d7c url(http://static.mama.cn/std/images/login_bg.png) top center no-repeat;
  position: relative;
  padding-top: 16px;
}

#guide .regGuide .login .icon {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 1px solid #fef4f6;
  top: 18px;
  left: 20px;
  overflow: hidden;
}

#guide .regGuide .login .info {
  margin-left: 90px;
}

#guide .regGuide .login .info dt {
  font-size: 14px;
}

#guide .regGuide .login .info .desc {
  padding: 5px 0;
}

#guide .regGuide .login .info .desc span {
  color: #666;
  margin-right: 10px;
}

#guide .regGuide .login .info .desc strong {
  color: #ff7398;
}

#guide .regGuide .login .info .op,
#guide .regGuide .login .info .op a {
  color: #e1013c;
}

#guide .regGuide .date {
  height: 124px;
  background: #fa4d7c url(http://static.mama.cn/std/images/date_picker.png) top center no-repeat;
  position: relative;
}

#guide .regGuide .date .text {
  border: 0;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 61px;
  background: transparent;
  font-size: 14px;
  padding-left: 10px;
}

#datepicker {
  width: 128px;
  left: 46px;
}

#guide .btnOk {
  width: 78px;
  height: 29px;
  background: #fa4d7c url(http://static.mama.cn/std/images/reg_guide_ok.png) top center no-repeat;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 61px;
  left: 200px;
  border: 0;
}

#guide .regGuide .brief {
  height: 106px;
  background: #fa4d7c url(http://static.mama.cn/std/images/date_picker_desc.png) top center no-repeat;
  text-indent: -999em;
}

#guideOnly {
  width: 990px;
  height: 240px;
  padding: 30px 0;
  background: #fffff2;
  margin: 20px auto;
  border: 1px solid #f4f4f4;
  box-shadow: 0 0 4px #e3e3e3;
}

#guideOnly .regGuideOnly {
  width: 546px;
  margin: 0 auto;
}

#guideOnly .regGuideOnly .date {
  height: 114px;
  background: #fa4d7c url(http://static.mama.cn/std/images/reg_date.jpg) top center no-repeat;
  position: relative;
}

#guideOnly .regGuideOnly .date .text {
  border: 0;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 33px;
  left: 280px;
  background: transparent;
  font-size: 14px;
  padding-left: 10px;
}

#guideOnly .regGuideOnly .brief {
  height: 129px;
  background: #fa4d7c url(http://static.mama.cn/std/images/reg_date_desc.jpg) top center no-repeat;
  text-indent: -999em;
}

#guideOnly .btnOk {
  width: 78px;
  height: 29px;
  background: #fa4d7c url(http://static.mama.cn/std/images/reg_guide_ok.png) top center no-repeat;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 32px;
  left: 432px;
  border: 0;
}

#tlq {
  height: 75px;
  background: #faf9f3 url(http://static.mama.cn/std/images/tlq_bg.png) 0 0 repeat-x;
  width: 1000px;
  margin: 10px auto 0;
}

#tlq .title {
  float: left;
}

#tlq .title a {
  display: block;
  width: 192px;
  height: 76px;
  background: #faf9f3 url(http://static.mama.cn/std/images/tlq_title.png) 0 0 no-repeat;
  text-indent: -999em;
}

#tlq .date {
  float: left;
  margin-left: 10px;
  display: inline;
  width: 790px;
  line-height: 30px;
  font-size: 12px;
}

#tlq .date .title {
  color: #54a700;
  margin-right: 5px;
  font-size: 14px;
}

#tlq .date strong {
  font-size: 14px;
}

#tlq .date a {
  margin: 0 8px;
}

#tlq .date .sep {
  background-position: -198px -220px;
  display: inline-block;
  margin-left: 7px;
  padding-left: 10px;
}

#tlq .date .no1 strong.kan a,
#tlq .date .no2 strong.kan a {
  color: #ff9d76;
}

#tlq .date .no1 {
  margin-top: 13px;
}

#tlq .date .no1 a {
  color: #f77688;
  margin: 0 11px;
}

#tlq .date .no2 a {
  color: #999;
}

#tlq .date .no1 strong a,
#tlq .date .no2 strong a {
  color: #333;
  font-weight: normal;
}

.idxFs {
  height: 725px;
  overflow: hidden;
}

h2 {
  height: 40px;
  background-repeat: repeat-x;
  margin-top: 30px;
}

h2 a {
  height: 40px;
  display: block;
  text-indent: -999em;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 15px;
}

h2.forPc {
  background-position: 0 -362px;
}

h2.forPc a {
  width: 200px;
  background-position: 30px 0;
}

h2.forSns {
  background-position: 0 -448px;
}

h2.forSns a {
  width: 200px;
  background-position: 30px -86px;
}

h2.forView {
  background-position: 0 -530px;
}

h2.forView a {
  width: 120px;
  background-position: 30px -175px;
}

h2.forBaike {
  background-position: 0 -610px;
}

h2.forBaike a {
  width: 120px;
  background-position: 30px -264px;
}

.subHd {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.subHd a {
  display: inline-block;
  padding: 0 15px 0 25px;
  background-position: -190px -912px;
  color: #666;
}

.subHd a.no1 {
  background: 0;
}

.idxFocus {
  height: 467px;
  overflow: hidden;
}

.idxFocus .hot {
  float: left;
  width: 320px;
}

.idxFocus .imgHot {
  float: right;
  width: 320px;
}

.idxFocus .hot .title {
  text-indent: -999em;
  background: transparent url(http://static.mama.cn/std/images/hot.png) 0 0 no-repeat;
  height: 36px;
}

.idxFocus .hot .news li {
  height: 133px;
  border-bottom: 1px solid #eee;
}

.idxFocus .hot .news li.no {
  border: 0;
}

.idxFocus .hot .news h3 {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: normal;
  padding-left: 32px;
  margin-top: 10px;
}

.idxFocus .hot .news h3 a {
  color: #000;
}

.idxFocus .hot .news .desc {
  font-size: 14px;
  padding: 5px 0 5px 32px;
  line-height: 22px;
}

.idxFocus .hot .news .desc a {
  color: #666;
}

.idxFocus .hot .news .key {
  font-size: 12px;
  color: #999;
  padding: 13px 0 8px 32px;
}

.idxFocus .hot .news .key a {
  color: #999;
  padding: 0 2px;
  margin-right: 5px;
}

.idxFocus .hot .news .key a:hover {
  background: #fd5b78;
  color: #fff;
  padding: 0 2px;
}

.idxFocus .hot .news li.no1 h3 {
  margin-top: 5px;
  background-position: -174px -817px;
}

.idxFocus .hot .news li.no2 h3 {
  background-position: -174px -905px;
}

.idxFocus .hot .news li.no3 h3 {
  background-position: -174px -983px;
}

.fourGe {
  position: relative;
  width: 320px;
  height: 214px;
  border-bottom: 3px solid #999;
  margin-top: 10px;
}

.fourGe .text {
  display: none;
}

.fourGe .tt1 {
  margin-top: 20px;
  font-size: 16px;
  margin-left: 20px;
  line-height: 26px;
}

.fourGe .tt2 {
  font-size: 22px;
  line-height: 40px;
  margin-left: 20px;
}

.fourGe .no1,
.fourGe .no2,
.fourGe .no3,
.fourGe .no4 {
  position: absolute;
  width: 158px;
  height: 105px;
  overflow: hidden;
}

.fourGe .no1 {
  top: 0;
  left: 0;
}

.fourGe .no2 {
  top: 109px;
  left: 0;
}

.fourGe .no3 {
  top: 109px;
  left: 162px;
}

.fourGe .no4 {
  top: 0;
  left: 162px;
}

.fourGe .cell {
  background: #fed4af;
}

.fourGe .no4 .img {
  display: none;
}

.fourGe .no4 .text {
  display: block;
}

.layout .side h3 {
  height: 26px;
  border-bottom: 2px solid #fd5b78;
  font-size: 16px;
  font-weight: normal;
  margin-top: 25px;
}

.layout .side h3.top {
  margin-top: 0;
}

.layout .side h3 strong {
  color: #fd5b78;
  font-size: 18px;
  margin-left: 5px;
  font-weight: normal;
}

.layout .side h3 span {
  float: right;
  margin-top: 2px;
  font-size: 12px;
}

.layout .side h3.app {
  border-bottom: 2px solid #65b41f;
}

.layout .side h3.app strong {
  color: #65b41f;
}

.layout .side .mamaq {
  margin-top: 10px;
}

.layout .side .banner {
  padding: 10px 0 0;
  border-top: 10px;
  border-top: 1px solid #eee;
}

.welfare {
  height: 260px;
  overflow: hidden;
}

.welfare li {
  position: relative;
  padding: 11px 0;
  border-bottom: 1px dotted #eee;
  height: 64px;
}

.welfare li .icon {
  position: absolute;
  top: 10px;
  left: 0;
}

.welfare li dl {
  width: 165px;
  float: right;
  padding-right: 15px;
}

.welfare li dl dt {
  font-size: 14px;
  height: 22px;
  background-position: -109px -671px;
}

.welfare li dl dt.no2 {
  background-position: -109px -722px;
}

.welfare li dl dt.no3 {
  background-position: -109px -774px;
}

.welfare li dl dt a {
  color: #000;
}

.welfare li dl dd a {
  color: #999;
}

.idxFs .tools {
  padding: 16px 0 0;
  height: 91px;
  overflow: hidden;
}

.idxFs .tools li {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 24px;
}

.maProWrap {
  width: 660px;
  height: 170px;
  overflow: hidden;
}

.maPro {
  width: 690px;
}

.maPro li {
  float: left;
  width: 200px;
  margin-right: 30px;
  display: inline;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
}

.maPro li .title {
  height: 28px;
  font-size: 16px;
  text-align: left;
  line-height: 18px;
}

.maPro li .title a {
  color: #000;
}

.brandScroll {
  float: right;
  position: relative;
  width: 530px;
  margin: 7px 10px 0 0;
}

.brandScrollBtnL,
.brandScrollBtnR {
  display: block;
  height: 19px;
  position: absolute;
  top: 6px;
  width: 19px;
}

.brandScrollBtnL {
  background-position: 0 -902px;
  left: 0;
}

.brandScrollBtnR {
  background-position: 0 -950px;
  right: 0;
}

a.brandScrollBtnL:hover {
  background-position: 0 -1046px;
  left: 0;
}

a.brandScrollBtnR:hover {
  background-position: 0 -999px;
  right: 0;
}

.brandArea {
  border: 1px solid #eaedee;
  height: 48px;
  margin: 20px auto 20px;
}

.brandTitle {
  float: left;
}

.brandTitle a {
  display: block;
  width: 100px;
  height: 48px;
  background-color: #fd738c;
  background-position: 14px -822px;
  text-indent: -999em;
}

.brandScrollArea {
  height: 32px;
  margin: 0 auto;
  overflow: hidden;
  width: 720px;
}

.brandScrollArea li {
  float: left;
  height: 32px;
  overflow: hidden;
  padding: 0 15px;
  width: 90px;
}

.idxTwo {
  height: 486px;
  overflow: hidden;
}

.newsList {
  height: 486px;
  overflow: hidden;
}

.newsList .l {
  width: 460px;
  border-right: 1px solid #eee;
}

.idxTwo .newsList .l {
  background: #fff url(http://static.mama.cn/std/images/index_pcbg.png) 338px 132px no-repeat;
}

.newsList .l .img {
  width: 440px;
  height: 240px;
  overflow: hidden;
  border: 1px solid #eee;
}

.newsList .at {
  width: 430px;
  line-height: 22px;
  margin: 15px 0 0 2px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.newsList .at dt {
  height: 24px;
}

.newsList .at dt a {
  font-size: 16px;
  color: #000;
}

.newsList .at dd {
  margin-top: 8px;
  line-height: 22px;
}

.newsList .at dd a {
  font-size: 12px;
  color: #666;
}

.newsList .at dd.relate {
  margin-top: 20px;
}

.idxTwo .newsList .at dd.relate {
  margin-top: 13px;
}

.idxTwo .newsList .at dd.relate .other {
  margin-left: 68px;
}

.newsList .at dd.relate span {
  display: inline-block;
  padding: 0 10px;
  border-radius: 10px;
  background: #7fd1be;
  color: #fff;
}

.idxThree .newsList .at dd.relate span {
  background: #fd5b78;
}

.newsList .at dd.relate a {
  margin: 0 15px;
}

.newsList .at .op {
  text-align: right;
}

.newsList .r {
  width: 180px;
}

.newsList .atImg .img {
  width: 180px;
  height: 180px;
  border: 1px solid #eee;
  overflow: hidden;
}

.newsList .atImg .title {
  font-size: 14px;
  line-height: 30px;
}

.newsList .atImg .tags {
  background-position: -186px -1065px;
  padding-left: 20px;
  height: 24px;
}

.newsList .atImg .tags a {
  margin-right: 10px;
  color: #999;
}

.newsList .atImg li {
  margin-top: 10px;
}

.newsList .atImg li.top {
  margin-top: 0;
}

.idxThree {
  height: 705px;
  overflow: hidden;
}

.idxThree .newsList .l {
  background: #fff url(http://static.mama.cn/std/images/index_snsbg.png) 362px 148px no-repeat;
}

.idxThree h3 {
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px dotted #e3e3e3;
  position: relative;
  height: 24px;
  margin-top: 20px;
}

.idxThree .main h3 span {
  display: inline-block;
  padding-right: 10px;
  line-height: 36px;
  background: #fff;
  position: absolute;
}

.idxThree .main h3 span strong {
  color: #f77688;
  font-weight: normal;
  margin-left: 5px;
}

.idxThree .active {
  margin-top: 20px;
}

.idxThree .active .l li {
  font-size: 14px;
  line-height: 24px;
}

.idxThree .active .r {
  width: 400px;
}

.idxThree .active .r li {
  float: left;
  margin-left: 20px;
  display: inline;
  line-height: 30px;
  text-align: center;
}

.idxThree .side h3 span {
  padding-left: 20px;
  background-position: 0 -1686px;
}

.idxThree .rank {
  border-bottom: 2px solid #f77688;
}

.idxThree .rank li {
  float: left;
  font-size: 16px;
  width: 100px;
  line-height: 30px;
  cursor: pointer;
  _cursor: hand;
}

.idxThree .rank li.cur {
  color: #f77688;
}

.idxThree .rank li.cur .arrow {
  background-position: 0 -1752px;
  width: 26px;
  height: 9px;
  margin: -2px 0 0 10px;
  position: relative;
  top: 2px;
  _font-size: 0;
}

.idxThree .rankList {
  background-position: 0 -1230px;
  margin-top: 20px;
  display: none;
}

.idxThree .rankList li {
  height: 36px;
  font-size: 14px;
  padding-left: 30px;
  overflow: hidden;
}

.idxThree .daren {
  padding: 9px 0;
}

.idxThree .daren li {
  width: 75px;
  float: left;
  text-align: center;
  line-height: 30px;
}

.imgScroll {
  overflow: hidden;
  width: 320px;
  height: 240px;
  position: relative;
}

.imgScroll ul {
  width: 330px;
  height: 240px;
  background: #fff;
}

.imgScroll ul li {
  width: 320px;
  height: 240px;
  overflow: hidden;
  position: relative;
  display: block;
  background: #fff;
  text-align: center;
}

.imgScroll ul li a {
  display: table-cell;
  vertical-align: middle;
  font-family: Arial;
  height: 240px;
  width: 320px;
}

.imgScroll ul li a img {
  vertical-align: middle;
}

.imgScroll .switch {
  position: absolute;
  z-index: 20;
  right: 5px;
  top: 232px;
}

.imgScroll .switch span {
  width: 4px;
  height: 4px;
  cursor: pointer;
  display: block;
  text-align: center;
  float: left;
  color: #333;
  font: normal 11px/20px Arial;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  margin-left: 3px;
  opacity: .6;
  font-size: 0;
  filter: alpha(opacity=60);
}

.imgScroll .switch span.curr {
  background: #fd5b78;
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}

.imgScroll a.next {
  width: 41px;
  height: 200px;
  background-position: 0 -1030px;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
}

.imgScroll a.next:hover {
  filter: alpha(opacity=50);
  -moz-opacity: .5;
  opacity: .5;
}

.bannerScroll {
  overflow: hidden;
  width: 660px;
  height: 230px;
  position: relative;
}

.bannerScroll ul {
  width: 660px;
  height: 230px;
  background: #fff;
}

.bannerScroll ul li {
  width: 660px;
  height: 230px;
  overflow: hidden;
  position: relative;
  display: block;
  background: #fff;
  text-align: center;
}

.bannerScroll ul li a {
  display: table-cell;
  vertical-align: middle;
  font-family: Arial;
  height: 230px;
  width: 660px;
}

.bannerScroll ul li a img {
  vertical-align: middle;
}

.bannerScroll .switch {
  position: absolute;
  z-index: 20;
  right: 15px;
  top: 212px;
}

.bannerScroll .switch span {
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: block;
  text-align: center;
  float: left;
  color: #333;
  font: normal 11px/20px Arial;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  margin-left: 10px;
  opacity: .6;
  font-size: 0;
  filter: alpha(opacity=60);
}

.bannerScroll .switch span.curr {
  background: #fd5b78;
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}

.bannerScroll a.next {
  width: 160px;
  height: 200px;
  background-position: 119px -1030px;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
}

.bannerScroll a.next:hover {
  filter: alpha(opacity=50);
  -moz-opacity: .5;
  opacity: .5;
}

.idxKnowledge .arrow {
  position: absolute;
  line-height: 0;
  font-size: 0;
}

.idxKnowledge .shortTxtLink li {
  float: left;
  background-position: -197px -872px;
  padding-left: 10px;
  display: inline;
  width: 70px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  margin: 0 5px 5px 0;
}

.idxKnowledge .shortTxtLink li.nodot {
  background: 0;
}

.idxKnowledge .shortTxtLink li a {
  color: #4a4a4a;
}

.idxKnowledgeTi {
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  padding: 0 0 0 230px;
}

.idxKnowledgeTi li {
  float: left;
  width: 60px;
  line-height: 35px;
  height: 35px;
  margin: 0 5px;
  display: inline;
  text-align: center;
}

.idxKnowledgeTi li a {
  position: relative;
  display: block;
  height: 34px;
  line-height: 34px;
  margin-bottom: 1px;
  _margin-bottom: 0;
  _margin-top: 1px;
  zoom: 1;
}

.idxKnowledgeTi li a s {
  top: 36px;
  right: 48%;
  border-style: solid outset outset outset;
  _border-style: solid dotted dotted dotted;
  border-width: 5px;
  border-color: #575859 transparent white transparent;
  border-bottom: 0;
  display: none;
}

.idxKnowledgeTi li a:hover,
.idxKnowledgeTi li.cur a {
  color: #4a4a4a;
  text-decoration: none;
}

.idxKnowledgeTi li.cur s {
  display: block;
}

.idxKnowledge .shortTxtLink {
  padding: 10px;
  display: none;
}

.idxKnowledge .shortTxtLink li {
  width: 80px;
  margin: 0 27px 7px 0;
}

#linkContent {
  min-height: 155px;
  _height: 155px;
  margin-top: 10px;
}

.shopImg {
  background: #ededed;
  padding: 20px 0;
  margin-top: 20px;
}

.shopImg li {
  float: left;
  margin: 0 0 0 22px;
  display: inline;
  border: 10px solid #fff;
}

.shopImg .imgFocus {
  width: 200px;
  position: relative;
}

.shopImg .imgFocus .desc {
  width: 200px;
  height: 28px;
  background: #fff;
  text-indent: 10px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}

.shopImg .imgFocus a {
  color: #333;
}

.idxTwo .ask {
  background-position: 0 -1085px;
  border-bottom: 1px dotted #d7d7d7;
  padding: 0 0 10px 68px;
}

.idxTwo .ask dt {
  font-size: 16px;
  height: 24px;
}

.idxTwo .ask .op {
  text-align: right;
  margin-top: 10px;
}

.idxTwo .askList {
  padding: 15px 0;
  margin-left: 10px;
}

.idxTwo .askList li {
  height: 34px;
  background-position: 0 -1621px;
  padding-left: 24px;
  font-size: 14px;
}

.layout .side h3.askTt {
  border-bottom-color: #7fd1be;
}

.idxTwo .askQ {
  background: #efefef;
  padding: 5px;
  height: 30px;
  border-radius: 4px;
}

.idxTwo .askQ .text {
  height: 28px;
  line-height: 28px;
  width: 170px;
  background: #fff;
  border: 0;
  padding-left: 5px;
}

.idxTwo .askQ .btn {
  border: 0;
  font-size: 14px;
  margin-left: 1px;
  color: #03a27d;
  background: transparent;
}

.idxTwo .askQ .btnSou {
  color: #333;
}

.idxTwo .askExpert li {
  float: left;
  width: 100px;
  text-align: center;
  margin-top: 20px;
  line-height: 30px;
}

.idxTwo .askExpert li img {
  border-radius: 40px;
}

.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-clearfix {
  min-height: 0;
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

.ui-front {
  z-index: 100;
}

.ui-state-disabled {
  cursor: default!important;
}

.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}

.ui-datepicker td {
  border: 0;
  padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

.ui-datepicker-rtl {
  direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

.ui-widget {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

.ui-widget .ui-widget {
  font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 1em;
}

.ui-widget-content {
  border: 1px solid #d9d6c4;
  background: #eceadf url(http://static.mama.cn/std/images/date/ui-bg_fine-grain_10_eceadf_60x60.png) 50% 50% repeat;
  color: #1f1f1f;
}

.ui-widget-content a {
  color: #1f1f1f;
}

.ui-widget-header {
  border: 1px solid #d4d1bf;
  background: #fff url(http://static.mama.cn/std/images/date/ui-bg_fine-grain_15_ffffff_60x60.png) 50% 50% repeat;
  color: #453821;
  font-weight: bold;
}

.ui-widget-header a {
  color: #453821;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #cbc7bd;
  background: #f8f7f6 url(http://static.mama.cn/std/images/date/ui-bg_fine-grain_10_f8f7f6_60x60.png) 50% 50% repeat;
  font-weight: bold;
  color: #654b24;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #654b24;
  text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #654b24;
  background: #654b24 url(http://static.mama.cn/std/images/date/ui-bg_fine-grain_65_654b24_60x60.png) 50% 50% repeat;
  font-weight: bold;
  color: #fff;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #fff;
  text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #d9d6c4;
  background: #eceadf url(http://static.mama.cn/std/images/date/ui-bg_fine-grain_15_eceadf_60x60.png) 50% 50% repeat;
  font-weight: bold;
  color: #140f06;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #140f06;
  text-decoration: none;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #b2a266;
  background: #f7f3de url(http://static.mama.cn/std/images/date/ui-bg_fine-grain_15_f7f3de_60x60.png) 50% 50% repeat;
  color: #3a3427;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #3a3427;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #681818;
  background: #b83400 url(http://static.mama.cn/std/images/date/ui-bg_fine-grain_68_b83400_60x60.png) 50% 50% repeat;
  color: #fff;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #fff;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #fff;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
}

.ui-icon {
  width: 16px;
  height: 16px;
}

.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url(http://static.mama.cn/std/images/date/ui-icons_222222_256x240.png);
}

.ui-widget-header .ui-icon {
  background-image: url(http://static.mama.cn/std/images/date/ui-icons_b83400_256x240.png);
}

.ui-state-default .ui-icon {
  background-image: url(http://static.mama.cn/std/images/date/ui-icons_b83400_256x240.png);
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url(http://static.mama.cn/std/images/date/ui-icons_ffffff_256x240.png);
}

.ui-state-active .ui-icon {
  background-image: url(http://static.mama.cn/std/images/date/ui-icons_8c291d_256x240.png);
}

.ui-state-highlight .ui-icon {
  background-image: url(http://static.mama.cn/std/images/date/ui-icons_3572ac_256x240.png);
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url(http://static.mama.cn/std/images/date/ui-icons_fbdb93_256x240.png);
}

.ui-icon-blank {
  background-position: 16px 16px;
}

.ui-icon-carat-1-n {
  background-position: 0 0;
}

.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

.ui-icon-carat-1-e {
  background-position: -32px 0;
}

.ui-icon-carat-1-se {
  background-position: -48px 0;
}

.ui-icon-carat-1-s {
  background-position: -64px 0;
}

.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

.ui-icon-carat-1-w {
  background-position: -96px 0;
}

.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

.ui-icon-extlink {
  background-position: -32px -80px;
}

.ui-icon-newwin {
  background-position: -48px -80px;
}

.ui-icon-refresh {
  background-position: -64px -80px;
}

.ui-icon-shuffle {
  background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

.ui-icon-folder-open {
  background-position: -16px -96px;
}

.ui-icon-document {
  background-position: -32px -96px;
}

.ui-icon-document-b {
  background-position: -48px -96px;
}

.ui-icon-note {
  background-position: -64px -96px;
}

.ui-icon-mail-closed {
  background-position: -80px -96px;
}

.ui-icon-mail-open {
  background-position: -96px -96px;
}

.ui-icon-suitcase {
  background-position: -112px -96px;
}

.ui-icon-comment {
  background-position: -128px -96px;
}

.ui-icon-person {
  background-position: -144px -96px;
}

.ui-icon-print {
  background-position: -160px -96px;
}

.ui-icon-trash {
  background-position: -176px -96px;
}

.ui-icon-locked {
  background-position: -192px -96px;
}

.ui-icon-unlocked {
  background-position: -208px -96px;
}

.ui-icon-bookmark {
  background-position: -224px -96px;
}

.ui-icon-tag {
  background-position: -240px -96px;
}

.ui-icon-home {
  background-position: 0 -112px;
}

.ui-icon-flag {
  background-position: -16px -112px;
}

.ui-icon-calendar {
  background-position: -32px -112px;
}

.ui-icon-cart {
  background-position: -48px -112px;
}

.ui-icon-pencil {
  background-position: -64px -112px;
}

.ui-icon-clock {
  background-position: -80px -112px;
}

.ui-icon-disk {
  background-position: -96px -112px;
}

.ui-icon-calculator {
  background-position: -112px -112px;
}

.ui-icon-zoomin {
  background-position: -128px -112px;
}

.ui-icon-zoomout {
  background-position: -144px -112px;
}

.ui-icon-search {
  background-position: -160px -112px;
}

.ui-icon-wrench {
  background-position: -176px -112px;
}

.ui-icon-gear {
  background-position: -192px -112px;
}

.ui-icon-heart {
  background-position: -208px -112px;
}

.ui-icon-star {
  background-position: -224px -112px;
}

.ui-icon-link {
  background-position: -240px -112px;
}

.ui-icon-cancel {
  background-position: 0 -128px;
}

.ui-icon-plus {
  background-position: -16px -128px;
}

.ui-icon-plusthick {
  background-position: -32px -128px;
}

.ui-icon-minus {
  background-position: -48px -128px;
}

.ui-icon-minusthick {
  background-position: -64px -128px;
}

.ui-icon-close {
  background-position: -80px -128px;
}

.ui-icon-closethick {
  background-position: -96px -128px;
}

.ui-icon-key {
  background-position: -112px -128px;
}

.ui-icon-lightbulb {
  background-position: -128px -128px;
}

.ui-icon-scissors {
  background-position: -144px -128px;
}

.ui-icon-clipboard {
  background-position: -160px -128px;
}

.ui-icon-copy {
  background-position: -176px -128px;
}

.ui-icon-contact {
  background-position: -192px -128px;
}

.ui-icon-image {
  background-position: -208px -128px;
}

.ui-icon-video {
  background-position: -224px -128px;
}

.ui-icon-script {
  background-position: -240px -128px;
}

.ui-icon-alert {
  background-position: 0 -144px;
}

.ui-icon-info {
  background-position: -16px -144px;
}

.ui-icon-notice {
  background-position: -32px -144px;
}

.ui-icon-help {
  background-position: -48px -144px;
}

.ui-icon-check {
  background-position: -64px -144px;
}

.ui-icon-bullet {
  background-position: -80px -144px;
}

.ui-icon-radio-on {
  background-position: -96px -144px;
}

.ui-icon-radio-off {
  background-position: -112px -144px;
}

.ui-icon-pin-w {
  background-position: -128px -144px;
}

.ui-icon-pin-s {
  background-position: -144px -144px;
}

.ui-icon-play {
  background-position: 0 -160px;
}

.ui-icon-pause {
  background-position: -16px -160px;
}

.ui-icon-seek-next {
  background-position: -32px -160px;
}

.ui-icon-seek-prev {
  background-position: -48px -160px;
}

.ui-icon-seek-end {
  background-position: -64px -160px;
}

.ui-icon-seek-start {
  background-position: -80px -160px;
}

.ui-icon-seek-first {
  background-position: -80px -160px;
}

.ui-icon-stop {
  background-position: -96px -160px;
}

.ui-icon-eject {
  background-position: -112px -160px;
}

.ui-icon-volume-off {
  background-position: -128px -160px;
}

.ui-icon-volume-on {
  background-position: -144px -160px;
}

.ui-icon-power {
  background-position: 0 -176px;
}

.ui-icon-signal-diag {
  background-position: -16px -176px;
}

.ui-icon-signal {
  background-position: -32px -176px;
}

.ui-icon-battery-0 {
  background-position: -48px -176px;
}

.ui-icon-battery-1 {
  background-position: -64px -176px;
}

.ui-icon-battery-2 {
  background-position: -80px -176px;
}

.ui-icon-battery-3 {
  background-position: -96px -176px;
}

.ui-icon-circle-plus {
  background-position: 0 -192px;
}

.ui-icon-circle-minus {
  background-position: -16px -192px;
}

.ui-icon-circle-close {
  background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

.ui-icon-circle-check {
  background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 6px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 6px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 6px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 6px;
}

.ui-widget-overlay {
  background: #6e4f1c url(http://static.mama.cn/std/images/date/ui-bg_diagonal-maze_20_6e4f1c_10x10.png) 50% 50% repeat;
  opacity: .6;
  filter: Alpha(Opacity=60);
}

.ui-widget-shadow {
  margin: 0 0 0 -10px;
  padding: 5px;
  background: #000 url(http://static.mama.cn/std/images/date/ui-bg_diagonal-maze_40_000000_10x10.png) 50% 50% repeat;
  opacity: .6;
  filter: Alpha(Opacity=60);
  border-radius: 18px;
}