.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #FFF url(/images/static/v1/globe.gif) no-repeat 50% 0;
  color: #333;
  margin: 0;
  font-size: 14px;
}

#container {
  max-width: 990px;
  margin: 0 auto;
}

#content {
  padding: 132px 10px 0 160px;
  background: url(/images/static/v1/logo.gif) no-repeat 30px 30px;
}

a {
  color: #4D148C;
  text-decoration: none;
}

a:hover {
  color: #666;
  text-decoration: underline;
}

.selectWrap select {
  font-size: 16px;
}

.selectWrap label {
  float: left;
  margin-right: 15px;
  font-size: 22px;
}

#content p {
  margin: 5px 15px;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  color: #4D148C;
  padding: 0;
  margin: 0;
}

.selectWrap {
  margin: 20px 0 80px 0;
}

.selectWrap form {
  margin: 0;
}

.footerLinks {
  margin-bottom: 100px;
}

.footerLinks .row {
  float: left;
  width: 45%;
  margin-right: 5%;
}

.footerLinks .col {
  display: block;
  vertical-align: top;
  text-align: left;
}

.colHeading {
  display: block;
  padding: 12px 30px 12px 0;
  font-size: 16px;
  position: relative;
  border-top: 1px solid #DDD;
  cursor: pointer;
}

.colHeading:after {
  display: table;
  font-size: 17px;
  content: "+";
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: #FFF;
  position: absolute;
  top: 10px;
  right: 0;
  background: #4D148C;
  text-align: center;
  padding: 1px;
}

.footerLinks .col.open .colHeading:after {
  content: "-";
}

.footerLinks .col.open .colHeading {
  padding-bottom: 10px;
}

.footerLinks .col a {
  display: none;
  margin-bottom: 5px;
  padding: 5px 0 5px 11px;
}

.footerLinks .col.open a {
  display: block;
}

.showMoreCountries {
  font-weight: bold;
  cursor: pointer;
}

#disclaimer {
  font-size: 11px;
  padding: 10px 0;
  color: #CCC;
  text-align: left;
}

@media only screen and (max-width: 699px) {
  body {
    background-position: 30% 30px;
    background-size: 699px;
  }

  #content {
    background: url(/images/static/v1/logo-mobile.gif) no-repeat 10px 10px;
    background-size: 119px 33px;
    padding: 60px 10px 0 10px;
  }

  h1 {
    font-size: 24px;
  }

  .selectWrap {
    margin: 10px 0 30px 0;
  }

  .selectWrap select {
    width: 95%;
  }

  .selectWrap label {
    float: none;
    display: block;
    margin-right: 0;
    font-size: 17px;
  }

  .footerLinks .row {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .footerLinks {
    margin-bottom: 40px;
  }
}