@charset "utf-8";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
textarea,
p,
th,
td,
tr,
table,
tbody,
thead,
tfoot,
em,
strong,
span {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0 none;
}

em {
  font-weight: normal;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

.clearFix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.clearFix {
  *zoom: 1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.fl {
  float: left;
  display: inline;
}

.fr {
  float: right;
  display: inline;
}

.none {
  display: none;
}

.block {
  display: block;
}

input,
textarea {
  font-size: 12px;
  outline: 0 none;
}

@charset "utf-8";

body,
input,
textarea {
  font-family: '\5fae\8f6f\96c5\9ed1',simsun;
  font-size: 12px;
}

body {
  line-height: 1.5;
  background: #fff;
  color: #333;
}

a {
  outline: 0 none;
  color: #333;
}

a:hover {
  color: #f60;
}

.header {
  width: 1000px;
  height: 54px;
  overflow: hidden;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 266px;
  height: 54px;
  overflow: hidden;
}

.logo img {
  display: block;
}

.nav {
  float: right;
  height: 54px;
  line-height: 54px;
  overflow: hidden;
}

.nav li {
  float: left;
  font-size: 14px;
  padding-left: 45px;
}

.func {
  height: 391px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}

.mask {
  width: 1000px;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  height: 0;
}

.number {
  width: 478px;
  height: 64px;
  overflow: hidden;
  background: url(../images/number.png) 0 0 no-repeat;
  position: relative;
}

.number_text {
  padding-left: 50px;
  padding-top: 3px;
  position: relative;
  z-index: 2;
  color: #464646;
}

.number_text strong {
  color: #ff6600;
  font-size: 20px;
  padding: 0 3px;
}

.login {
  width: 308px;
  height: 332px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 35px;
  background: url(../images/slider/login.png) 0 -199px no-repeat;
  z-index: 9999;
}

.logined {
  width: 308px;
  height: 332px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 35px;
  background: url(../images/login_bg.jpg) no-repeat;
}

.login_main {
  width: 100%;
  height: 45px;
  overflow: hidden;
}

.login_main li {
  width: 154px;
  height: 45px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  line-height: 44px;
  float: left;
}

.login_main li span {
  display: block;
  cursor: pointer;
  width: 154px;
  height: 45px;
}

.login_main li span.active {
  background-image: url(../images/slider/login.png);
  background-repeat: no-repeat;
}

.login_main li.i_0 span.active {
  background-position: 0 0;
}

.login_main li.i_1 span.active {
  background-position: right 0;
}

.login_sub {
  height: 285px;
  overflow: hidden;
  padding-left: 20px;
}

.logined .login_sub {
  height: 285px;
  overflow: hidden;
  padding-left: 20px;
  margin-top: 50px;
}

.login_inn {}

.back_qj {
  margin-left: -20px;
  height: 285px;
  overflow: hidden;
  background: url(../images/slider/login.png) 0 -598px no-repeat;
}

.login_inn table {}

.login_inn table.qj {
  margin-left: 20px;
}

.login_inn td {
  padding-top: 9px;
  padding-left: 10px;
  _padding-top: 7px;
}

.login_inn input.i_0 {
  width: 180px;
  height: 26px;
  background: none;
  border: 1px solid #ccc;
  padding: 0 5px;
  line-height: 26px;
}

.login_inn input.i_0:focus,
.login_inn input.i_3:focus {
  border-color: #6191fd;
}

.login_inn a.a_0 {
  color: #0387cf;
  padding-left: 15px;
}

.login_inn input.i_1 {
  vertical-align: middle;
  width: 69px;
  height: 28px;
  overflow: hidden;
  border: 0 none;
  outline: none;
  background: url(../images/slider/login.png) 0 -150px no-repeat;
  cursor: pointer;
}

.login_inn input.i_1:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.login_inn input.i_2 {
  margin-left: 10px;
  vertical-align: middle;
  margin-top: -2px;
  margin-bottom: 1px;
}

.login_inn input.i_3 {
  width: 40px;
  height: 24px;
}

.login_inn input.loadding {
  vertical-align: middle;
  width: 69px;
  height: 28px;
  overflow: hidden;
  border: 0 none;
  outline: none;
  background: url(../images/login_loading.gif) no-repeat;
}

.login_error {
  margin-top: 5px;
  text-align: center;
  color: #f00;
}

.login_reg {
  margin-top: 21px;
  overflow: hidden;
}

.login_reg a {
  display: block;
  background: url(../images/slider/login.png) 0 -50px no-repeat;
  width: 259px;
  height: 42px;
  cursor: pointer;
  margin: 0 auto;
  text-indent: -999em;
}

.logined .login_reg a {
  background: none;
}

.login_reg a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.slider {
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  height: 386px;
}

.slider_main {
  width: 100%;
  overflow: hidden;
  height: 386px;
}

.slider_out {
  width: 100%;
  height: 386px;
  overflow: hidden;
}

.slider_inn {
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  height: 386px;
  position: relative;
}

.slider_inn a {
  display: block;
  width: 730px;
  height: 386px;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
}

.slider_sub {
  height: 0;
  position: absolute;
  top: 350px;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
  text-align: center;
  z-index: 10;
}

.slider_sub ol {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 9px;
  overflow: hidden;
}

.slider_sub li {
  float: left;
  width: 9px;
  height: 9px;
  margin-right: 10px;
  overflow: hidden;
}

.slider_sub li b {
  display: block;
  cursor: pointer;
  width: 9px;
  height: 20px;
  overflow: hidden;
  background: url(../images/slider/dot.png) 0 0 no-repeat;
}

.slider_sub li.active b {
  margin-top: -11px;
}

.content {
  width: 1000px;
  overflow: hidden;
  margin: 15px auto 0;
}

.content_l {
  width: 665px;
  overflow: hidden;
  float: left;
}

.content_r {
  width: 310px;
  overflow: hidden;
  float: right;
}

.title {
  font-size: 16px;
  height: 32px;
  line-height: 32px;
}

.products {
  width: 100%;
  overflow: hidden;
}

.pro_list {
  padding-left: 33px;
  border-top-width: 2px;
  border-top-style: solid;
  background-image: url(../images/pro_list.png);
  background-repeat: no-repeat;
}

.pro_list_0 {
  border-color: #1d64ce;
  background-position: 0 0;
}

.pro_list_1 {
  border-color: #288cc0;
  background-position: -50px 0;
}

.pro_list_2 {
  border-color: #a03143;
  background-position: -100px 0;
}

.pro_list_3 {
  border-color: #435dcb;
  background-position: -150px 0;
}

.pro_list_4 {
  border-color: #267cbd;
  background-position: -200px 0;
}

.pro_inn {
  padding: 5px 5px 20px 5px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
}

.pro_box {
  height: 76px;
  overflow: hidden;
  padding: 15px 15px 0;
  background: url(../images/bg.png) center top no-repeat;
}

.pro_box .pro_ico {
  display: block;
  text-indent: -999em;
  width: 56px;
  height: 56px;
  overflow: hidden;
  background-image: url(../images/ico.png);
  background-repeat: no-repeat;
  opacity: 0.8;
  filter: alpha(opacity=80);
  float: left;
}

.pro_box .ico_0 {
  background-position: 0 0;
}

.pro_box .ico_1 {
  background-position: -60px 0;
}

.pro_box .ico_2 {
  background-position: -120px 0;
}

.pro_box .ico_3 {
  background-position: 0 -60px;
}

.pro_box .ico_4 {
  background-position: -60px -60px;
}

.pro_box .ico_5 {
  background-position: -120px -60px;
}

.pro_box .ico_6 {
  background-position: 0 -120px;
}

.pro_content {
  width: 520px;
  float: right;
  overflow: hidden;
  color: #666;
}

.pro_content h4 {
  font-size: 16px;
  float: left;
  letter-spacing: 1px;
  height: 29px;
  line-height: 29px;
  color: #333;
}

.pro_content p {
  float: right;
  height: 29px;
}

.pro_content p a {
  display: block;
  float: left;
  width: 73px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  background: url(../images/pro_list.png) -200px 0 no-repeat;
}

.pro_content p a:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.pro_content p a.a_0 {
  color: #fff;
  background-position: -200px -80px;
}

.pro_content p a.a_1 {
  margin-left: 10px;
}

.pro_content p a.a_1:hover {
  color: #000;
}

.pro_box_hover {
  background-image: none;
  background-color: #f1f1f1;
}

.pro_box_hover .pro_ico {
  opacity: 1;
  filter: alpha(opacity=100);
}

.pro_box_hover .pro_content p a.a_1 {
  background-position: -200px -40px;
}

.content_r ul {
  margin-top: 10px;
}

.content_r li {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.content_r .title {
  padding-bottom: 2px;
  background: url(../images/line.png) 0 bottom no-repeat;
}

.bulletin dl {
  padding: 15px 0 0 100px;
  overflow: hidden;
}

.bulletin dt {
  float: left;
  margin-left: -100px;
  display: inline;
  height: 82px;
  overflow: hidden;
}

.bulletin dt img {
  display: block;
  border: 1px solid #ccc;
}

.bulletin dt a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.bulletin dd {
  float: left;
  text-indent: 0;
  line-height: 1.7;
  width: 100%;
}

.bulletin,
.news,
.report,
.friend {
  position: relative;
  text-indent: 4px;
}

.more_info {
  position: absolute;
  top: 10px;
  right: 0px;
}

.ad {
  margin-top: 14px;
}

.ad img {
  display: block;
  height: 125px;
}

.ad a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.links .title {
  border-bottom: 2px solid #999;
}

.links_list {
  height: 54px;
  overflow: hidden;
  padding: 15px 0;
  position: relative;
  z-index: 3;
}

.link_prev,
.link_next {
  float: left;
  width: 50px;
  height: 54px;
  overflow: hidden;
  text-indent: -999em;
  display: block;
  cursor: pointer;
  background: url(../images/links.png) 0 0 no-repeat;
  position: relative;
  z-index: 2;
}

.link_next {
  background-position: -50px 0;
}

#links {
  width: 880px;
  height: 54px;
  overflow: hidden;
  float: left;
  margin: 0 10px;
}

#links ul {
  height: 32px;
  padding-top: 11px;
  overflow: hidden;
  width: 2000px;
}

#links li {
  float: left;
  width: 90px;
  margin: 0 10px;
  display: inline;
}

#links img {
  display: block;
  width: 90px;
  height: 32px;
  overflow: hidden;
}

#links a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.footer {
  background: #f3f3f3;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  color: #666;
}

.header,
.func,
.footer {
  min-width: 1000px;
  _zoom: 1;
}

.ie6-out {
  _margin-left: 1000px;
  _zoom: 1;
}

.ie6-in {
  _position: relative;
  _float: left;
  _margin-left: -1000px;
}

.sitemap {
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
}

.sitemap dl {
  float: left;
  padding: 0 20px;
  line-height: 2;
}

.sitemap dt {
  font-size: 16px;
}

.sitemap a {
  color: #666;
}

.sitemap a:hover {
  color: #f60;
}

.copyright {
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  margin-top: 15px;
  text-align: center;
}

.copyright p {
  border-top: 1px solid #fff;
  padding: 10px;
}

.red {
  color: #f00;
}

.f14 {
  font-size: 14px;
}

.mt5 {
  margin-top: 5px;
}

.mt15 {
  margin-top: 15px;
}

.number {
  _background: none;
}

.number_mask {
  width: 478px;
  height: 64px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src='images/number.png');
  left: 0;
  top: 0;
}

.slider_sub li b {
  _background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src='images/slider/dot.png');
}

#links a:hover,
.bulletin dt a:hover,
.ad a:hover {
  zoom: 1;
}

.slider_0 {
  background: url("../images/index/cnzzseo2.jpg") center 0 no-repeat #a222f3;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.slider_1 {
  background: url("../images/index/cnzz_all_1000_386.jpg") center 0 no-repeat #4c93eb;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
}

.slider_2 {
  background: url("../images/index/new_cnzzapp.jpg") center 0 no-repeat #0788af;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.slider_3 {
  background: url("../images/index/renqun.jpg") center 0 no-repeat #7e47ac;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.slider_4 {
  background: url("../images/index/flowmap.jpg") center 0 no-repeat #338df2;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.orange {
  color: #f60;
}

.login_inn a.login_success {
  background: url("../images/btn_1.png") no-repeat scroll 0 0 transparent;
  color: white;
  display: block;
  float: left;
  height: 29px;
  line-height: 29px;
  margin: 20px 10px 0 0;
  overflow: hidden;
  text-align: center;
  width: 69px;
}

.login_inn a.login_logout {
  background: url("../images/btn_2.png") no-repeat scroll 0 0 transparent;
  color: grey;
  display: block;
  float: left;
  height: 29px;
  line-height: 29px;
  margin: 20px 10px 0 0;
  overflow: hidden;
  text-align: center;
  width: 69px;
}

.slideContainer {
  position: relative;
  z-index: 0;
}

.sitemap .s_0 {
  color: #aaa;
}

.sitemap td {
  padding-right: 50px;
}

.sitemap p {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
}

.sitemap p span {
  float: left;
  width: 88px;
  height: 18px;
  line-height: 18px;
}

.sitemap p a {
  display: block;
  float: left;
  overflow: hidden;
  height: 16px;
  margin-right: 5px;
}

.sitemap p a.a_0,
.sitemap p a.a_1 {
  text-indent: -999em;
  width: 16px;
}

.sitemap p a.a_0 {
  background: url(../images/sina.gif) 0 0 no-repeat;
}

.sitemap p a.a_1 {
  background: url(../images/tencent.png) 0 0 no-repeat;
}

.nav {}

.nav p {
  overflow: hidden;
  height: 32px;
  margin-top: 12px;
}

.nav p span {
  float: left;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
}

.nav p a {
  display: block;
  float: left;
  text-indent: -999em;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin-left: 5px;
}

.nav p a.a_0 {
  background: url(../images/sina_B.gif) 0 0 no-repeat;
}

.nav p a.a_1 {
  background: url(../images/tx.gif) 0 0 no-repeat;
}