.ratingblock {
  display: inline-block;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.loading {
  height: 30px;
  background: url('../images/working.gif') 50% 50% no-repeat;
}

.unit-rating {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 30px;
  position: relative;
  background: url('../images/starrating_trans.png') top left repeat-x;
}

.unit-rating li {
  text-indent: -90000px;
  padding: 0px;
  margin: 0px;
  float: left;
}

.unit-rating li a {
  outline: none;
  display: block;
  width: 30px;
  height: 30px;
  text-decoration: none;
  text-indent: -9000px;
  z-index: 20;
  position: absolute;
  padding: 0px;
}

.unit-rating li a:hover {
  background: url('../images/starrating_trans.png') left center;
  z-index: 2;
  left: 0px;
}

.unit-rating a.r1-unit {
  left: 0px;
}

.unit-rating a.r1-unit:hover {
  width: 30px;
}

.unit-rating a.r2-unit {
  left: 30px;
}

.unit-rating a.r2-unit:hover {
  width: 60px;
}

.unit-rating a.r3-unit {
  left: 60px;
}

.unit-rating a.r3-unit:hover {
  width: 90px;
}

.unit-rating a.r4-unit {
  left: 90px;
}

.unit-rating a.r4-unit:hover {
  width: 120px;
}

.unit-rating a.r5-unit {
  left: 120px;
}

.unit-rating a.r5-unit:hover {
  width: 150px;
}

.unit-rating a.r6-unit {
  left: 150px;
}

.unit-rating a.r6-unit:hover {
  width: 180px;
}

.unit-rating a.r7-unit {
  left: 180px;
}

.unit-rating a.r7-unit:hover {
  width: 210px;
}

.unit-rating a.r8-unit {
  left: 210px;
}

.unit-rating a.r8-unit:hover {
  width: 240px;
}

.unit-rating a.r9-unit {
  left: 240px;
}

.unit-rating a.r9-unit:hover {
  width: 270px;
}

.unit-rating a.r10-unit {
  left: 270px;
}

.unit-rating a.r10-unit:hover {
  width: 300px;
}

.unit-rating li.current-rating {
  background: url('../images/starrating_trans.png') left bottom;
  position: absolute;
  height: 30px;
  display: block;
  text-indent: -9000px;
  z-index: 1;
}

.voted {
  color: #999;
}

.thanks {
  color: #36AA3D;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.static {
  color: #5D3126;
}

.ratingblock p {
  color: #FFFFFF;
  margin-bottom: 0px;
  margin-top: 5px;
}

@import url(social.css);

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-repeat: repeat-x;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#download-bar {
  clear: both;
  width: 705px;
  margin: 2px auto;
  font-size: 14px;
  height: 22px;
}

#download-bar span {
  float: left;
}

#download-bar span.watch {
  width: 280px;
  text-align: left;
  font-weight: bold;
}

#download-bar span.watch a {
  margin: 0 0 0 5px;
}

#download-bar span.current {
  float: none;
  margin: 0 0 0 10px;
  color: #666;
  text-decoration: underline;
}

#download-bar span.download {
  text-align: right;
  font-weight: bold;
}

#download-bar a {
  font-family: tahoma;
  color: #f00;
  font-weight: bold;
  text-decoration: underline;
  font-size: 14px;
}

#download-bar ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

#download-bar li {
  float: left;
  margin: 0 4px;
}

#header {
  height: 142px;
  margin: 0 auto;
  text-align: left;
  background-image: url(logo.jpg);
  background-repeat: no-repeat;
  z-index: 1;
}

#wrap {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}

#bannertop {
  width: 468px;
  height: 80px;
  position: relative;
  top: -25px;
  left: 500px;
  background-color: #ffffff;
}

#seotext {
  width: 150px;
  height: 20px;
  position: relative;
  top: 90px;
  left: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  z-index: 2;
}

#loginbox {
  width: 150px;
  height: 20px;
  position: relative;
  top: 100px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  z-index: 5;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#nav {
  z-index: 3;
  position: relative;
  float: right;
  top: -5px;
}

#todaydate {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

#search {
  float: right;
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  margin-top: 0px;
  border-style: none;
  border-width: 0px;
}

.search-icon {
  background: url("/gfx_new/search.gif") no-repeat no-repeat;
  width: 28px;
  height: 30px;
  display: inline;
  float: left;
  margin-top: 2px;
  cursor: pointer;
}

#searchform {
  float: right;
}

#nav a {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

#footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 10px;
}

#mainwrap {
  text-align: left;
  width: 1000px;
  margin: 0 auto;
}

.thumb {
  padding-top: 15px;
  float: left;
  width: 250px;
  text-align: center;
  height: 230px;
}

.thumb h1 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
}

.thumb a {
  color: #000000;
  text-decoration: none;
}

.thumb a:visited {
  color: #000000;
  text-decoration: none;
}

.thumbleft {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  float: left;
  text-align: left;
  padding-left: 20px;
}

.thumbright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  float: right;
  text-align: right;
  padding-right: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

ul.dropdown {
  position: relative;
}

ul.dropdown li {
  font-weight: bold;
  float: left;
  zoom: 1;
  background: transparent;
  list-style-type: none;
}

ul.dropdown a:hover {
  color: #000;
}

ul.dropdown a:active {
  color: #ffa500;
}

ul.dropdown li a {
  display: block;
  padding: 0px 11px;
  border-right: 1px solid #333;
  color: #222;
}

ul.dropdown li:last-child a {
  border-right: none;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
  background: transparent;
  color: red;
  position: relative;
}

ul.dropdown li.hover a {
  color: black;
}

ul.dropdown ul {
  width: 220px;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  border-top: none;
}

ul.dropdown ul li {
  font-weight: normal;
  background: transparent;
  color: #000;
}

ul.dropdown ul li a {
  border-right: none;
  width: 100%;
  display: inline-block;
}

ul.dropdown ul ul {
  left: 100%;
  top: 0;
}

ul.dropdown li:hover > ul {
  visibility: visible;
}

#links #cat_list a {
  font-size: 11px;
  width: 85px;
  padding: 5px;
}

.inline-block {
  display: inline-block;
  *display: inline;
}

.video-actions {
  text-align: left;
  display: inline-block;
  *display: inline;
}

.reset {
  clear: both;
}

.contener {
  width: 987px;
  margin: auto;
}

.embedInfo {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  width: 704px;
}

.embedInfo textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
}

.bkg-embed {
  background: url(images/bkg-embed.png) repeat-x;
  height: 69px;
}

.corner-embed {
  position: absolute;
  top: 0;
  width: 9px;
  height: 69px;
  background: url(images/embed-sprite.png) no-repeat;
}

@charset "utf-8";

body {
  background-repeat: repeat-x;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #030303;
  background-image: url(bg.gif);
}

#sortby {
  float: right;
  font-size: 10pt;
  margin-top: 12px;
  margin-right: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

#sortby a {
  color: #FFFFFF;
}

#sortby a.selected {
  color: #FF0000;
}

#login {
  width: 100%;
  float: left;
  height: 19px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FFFFFF;
  text-decoration: none;
}

#login a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

#login a:hover {
  text-decoration: underline;
}

#top {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  height: 109px;
}

a.logo {
  display: block;
  float: left;
  background-image: url(yjlogo.jpeg);
  background-repeat: no-repeat;
  width: 214px;
  height: 111px;
}

#youjizzsearch {
  margin-top: 2px;
}

#baner_top {
  height: 93px;
  float: right;
  margin-top: 10px;
}

#menu {
  height: 41px;
  width: 100%;
  float: left;
  margin-top: 2px;
  _margin-top: 0px;
}

#menu ul {
  float: left;
  margin: 0;
  padding: 0px 0px 0 0px;
  list-style: none;
}

#menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline;
}

#menu a {
  float: left;
  margin: 0;
  padding: 0 0 0 8px;
  text-decoration: none;
  background-image: url(left.gif);
  background-repeat: no-repeat;
  background-position: left top;
}

#menu a span {
  float: left;
  display: block;
  margin-right: 2px;
  color: #FFFFFF;
  background-image: url(right.gif);
  background-repeat: no-repeat;
  background-position: right top;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  padding-top: 12px;
  padding-right: 6px;
  padding-bottom: 12px;
  padding-left: 0px;
  font-weight: bold;
}

#menu a span {
  float: none;
}

#menu a:hover span {}

#menu a:hover {
  background-position: 0% -41px;
}

#menu a:hover span {
  background-position: 100% -41px;
}

#links {
  height: 30px;
  margin-left: 5px;
  margin-top: 2px;
  float: left;
}

#links a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

#links a:hover {
  color: #CFCFCF;
}

#search {
  margin-top: -30px;
}

.input {
  background-image: url(rec.gif);
  width: 180px;
  padding-left: 11px;
  height: 22px;
  padding-top: 7px;
  display: block;
  float: left;
  background-repeat: no-repeat;
  border-style: none;
  border-width: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #FFFFFF;
}

#main {
  width: 100%;
  float: left;
  margin-top: 2px;
}

#left {
  float: left;
  padding-left: 20px;
}

.right {
  width: 250px;
  float: left;
}

.row {
  width: 100%;
  float: left;
}

#main a {
  color: #FF0000;
}

#popular_tags {
  background-image: url(popular_tags.gif);
  background-repeat: no-repeat;
  width: 241px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  float: left;
  background-position: top;
}

#popular_tags a {
  color: #FFFFFF;
  text-decoration: none;
}

#popular_tags a:hover {
  text-decoration: underline;
}

#live_cams {
  background-image: url(live_cmas.gif);
  background-repeat: no-repeat;
  width: 251px;
  margin-top: 30px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  float: left;
  background-position: top;
}

#fotter {
  width: 100%;
  float: left;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  background-image: url(fotter.gif);
  background-repeat: repeat-x;
}

#pagination {
  font-size: 22px;
  height: 40px;
  text-align: center;
  margin: 10px auto 16px;
  padding-top: 0;
}

#pagination a {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

#pagination span {
  color: #FFFFFF;
  font-weight: bold;
}

.thumb {
  text-align: left;
  height: 290px;
  display: inline-block;
  position: relative;
  zoom: 1;
  *display: inline;
  width: 308px;
  margin: 5px 4px 4px;
}

.title_bg {
  margin-left: 1px;
}

#title1 {
  color: #ffffff;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 17px;
  margin-top: 1px;
  padding-top: 4px;
  float: left;
  display: block;
  text-align: center;
  width: 308px;
}

#title2 {
  color: #605F5F;
  float: left;
  display: block;
  font-size: 12px;
  height: 20px;
  text-align: center;
  width: 308px;
}

.thumbtime {
  color: #605F5F;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
  width: 90px;
}

.thumbviews {
  color: #808080;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
  width: 115px;
}

.thumbrating {
  background-image: url(star_off.gif);
  display: block;
  float: left;
  height: 14px;
  margin-top: 4px;
  width: 85px;
}

.thumbratingon {
  background-image: url(star_on.gif);
  display: block;
  float: left;
  height: 14px;
}

#fotter3 {
  margin-top: 20px;
  text-align: right;
  line-height: 22px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4b4b4b;
  font-size: 15px;
  color: #FFFFFF;
  width: 100%;
}

#fotter3 .contener {
  width: 900px;
}

#fotter2 {
  width: 100%;
  float: left;
  margin-top: 20px;
  line-height: 22px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4b4b4b;
  font-size: 15px;
  color: #FFFFFF;
}

#fotter2 a {
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}

#fotter2 a:hover {
  text-decoration: underline;
}

#fotter2 span {
  font-size: 12px;
  color: #ff0120;
}

#related_bg {
  width: 100%;
  float: left;
  background-image: url(related_bg.gif);
  background-repeat: repeat-x;
  padding-top: 20px;
}

#player {
  width: 706px;
  height: 550px;
}

#player_watch {
  background-image: url(player_option.gif);
  background-repeat: no-repeat;
  width: 692px;
  padding-left: 15px;
  height: 32px;
  word-spacing: 4px;
  padding-top: 12px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

#player_watch a {
  text-decoration: none;
  color: #ff0120;
}

#player_watch a:hover {
  text-decoration: underline;
}

#video_text {
  width: 707px;
  line-height: 17px;
  margin-top: 10px;
  font-size: 14px;
  color: #FFFFFF;
}

#video_text a {
  text-decoration: none;
  color: #ff0120;
  font-weight: bold;
}

#video_text a:hover {
  text-decoration: underline;
}

#video_text h2 {
  margin: 5px;
  text-align: left;
}

#tags {
  background-image: url(tags.gif);
  background-repeat: no-repeat;
  width: 687px;
  height: 38px;
  padding-top: 10px;
  float: left;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#tags a {
  color: #ff0120;
  font-weight: normal;
  text-decoration: none;
}

#tags a:hover {
  text-decoration: underline;
}

#related_buttons {
  width: 100%;
  float: left;
  margin-top: 30px;
}

#related_buttons a {
  background-image: url(realated_botton.gif);
  background-repeat: no-repeat;
  width: 200px;
  padding-left: 0px;
  height: 40px;
  padding-top: 12px;
  display: block;
  float: left;
  margin-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

#related_buttons a:hover {
  text-decoration: underline;
}

.rel_on {
  color: #FFFFFF;
}

.rel_off {
  color: #CCCCCC;
}

#miniatura {
  height: 290px;
  width: 308px;
  display: table-cell;
  display: inline-table;
  display: inline-block;
  margin: 2px;
}

#min {
  height: 232px;
  width: 308px;
  float: left;
}

#title1 {
  width: 308px;
  margin-top: 1px;
  height: 15px;
  float: left;
  background-repeat: repeat-x;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 4px;
  font-weight: bold;
}

#title2 {
  width: 308px;
  height: 20px;
  text-align: center;
  float: left;
  background-repeat: repeat-x;
  font-size: 12px;
  color: #605f5f;
}

.thumbtime,
.thumbviews {
  font-size: 14px;
  width: 130px;
  padding: 0px;
  margin-top: 5px;
  text-align: right;
  font-weight: normal;
  color: #808080;
}

.thumbtime {
  background-image: url(http://cdnb.static.youjizz.com/gfx/social/clock.png);
  background-repeat: no-repeat;
  margin-left: 5px;
  padding-left: 15px;
  text-align: left;
  width: 30px;
  background-position: left center;
}

.thumbrating {
  display: block;
  width: 80px;
  height: 16px;
  margin-top: 5px;
  background-image: url(star_off.png);
  font-size: 16px;
  float: right;
  margin-left: 10px;
  margin-right: 5px;
  font-weight: bold;
  background-repeat: repeat-x;
}

.thumbratingon {
  display: block;
  height: 16px;
  background-image: url(star_on.png);
  float: left;
  background-repeat: repeat-x;
}

#min img {
  border: 1px solid black;
}

#miniatura {
  height: 290px;
  position: relative;
}

#min {
  height: 243px;
  width: 310px;
  text-align: center;
}

#min img {
  border: 1px solid #646464;
}

.title_bg {
  margin-left: 1px;
}

.frame {
  display: block;
  height: 243px;
  float: left;
  width: 310px;
  z-index: 3;
}

.frame img {
  border: 1px solid #FFFFFF;
}

.pic {
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  height: 243px;
  position: relative;
  width: 310px;
}

.pic .frame {
  left: 0px;
  position: absolute;
  top: 0px;
}

.pic img {
  height: 232px;
  left: 1px;
  position: absolute;
  top: 10px;
  width: 308px;
  z-index: 2;
}

.pic:hover {
  text-decoration: none;
}

.vid-rotater {
  position: absolute;
  visibility: hidden;
  margin: 0 0 0 25px;
  padding: 3px 5px 5px;
  left: 0px;
}

.vid-rotater li,
.vid-rotater a {
  display: block;
  float: left;
  width: 29px;
}

.vid-rotater li {
  margin: 0 0 0 2px;
  padding: 0;
}

.vid-rotater a {
  overflow: hidden;
  padding: 4px 0 3px;
}

.vid-rotater span {
  background: #FFFFFF none repeat scroll 0 0;
  border-bottom: 1px solid #333333;
  border-right: 1px solid #333333;
  display: block;
  height: 3px;
  line-height: 999em;
  overflow: hidden;
}

.vid-rotater .active span {
  background: #CC3366 none repeat scroll 0 0;
  border-color: #660033;
  cursor: pointer;
}

.ad1 .mainHolder {
  display: block;
  height: 55px;
  width: 704px;
}

.ad1 .watch {
  float: left;
  height: 55px;
  width: 140px;
}

.ad1 .watch a {
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  height: 55px;
  width: 140px;
}

.ad1 .watch a:visited {}

.ad1 .watch a:hover {
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: left -55px;
  display: block;
}

.ad1 .btn1 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -181px top;
  display: block;
}

.ad1 .btn1 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -140px top;
}

.ad1 .btn1 a:visted {}

.ad1 .btn1 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -140px -55px;
}

.ad1 .btn2 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -280px top;
  display: block;
}

.ad1 .btn2 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: 280px top;
}

.ad1 .btn2 a:visted {}

.ad1 .btn2 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -280px -55px;
}

.ad1 .btn3 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -420px top;
  display: block;
}

.ad1 .btn3 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -420px top;
}

.ad1 .btn3 a:visted {}

.ad1 .btn3 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -420px -55px;
}

.ad1 .btn4 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -560px top;
  display: block;
}

.ad1 .btn4 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -560px top;
}

.ad1 .btn4 a:visted {}

.ad1 .btn4 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -560px -55px;
}

.ad1 .btn5 {
  float: left;
  height: 55px;
  width: 79px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -496px top;
  display: block;
}

.ad1 .btn5 a {
  display: block;
  height: 55px;
  width: 79px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -496px top;
}

.ad1 .btn5 a:visted {}

.ad1 .btn5 a:hover {
  display: block;
  height: 55px;
  width: 79px;
  background-image: url(images/redTubeHDWidget.gif);
  background-repeat: no-repeat;
  background-position: -496px -55px;
}

.ad2 .mainHolder {
  display: block;
  height: 55px;
  width: 704px;
  background-repeat: no-repeat;
  background-position: left top;
}

.ad2 .watch {
  float: left;
  height: 55px;
  width: 140px;
}

.ad2 .watch a {
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  height: 55px;
  width: 140px;
}

.ad2 .watch a:visited {}

.ad2 .watch a:hover {
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: left -55px;
  display: block;
}

.ad2 .btn1 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -181px top;
  display: block;
}

.ad2 .btn1 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -140px top;
}

.ad2 .btn1 a:visted {}

.ad2 .btn1 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -140px -55px;
}

.ad2 .btn2 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -280px top;
  display: block;
}

.ad2 .btn2 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: 280px top;
}

.ad2 .btn2 a:visted {}

.ad2 .btn2 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -280px -55px;
}

.ad2 .btn3 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -420px top;
  display: block;
}

.ad2 .btn3 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -420px top;
}

.ad2 .btn3 a:visted {}

.ad2 .btn3 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -420px -55px;
}

.ad2 .btn4 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -560px top;
  display: block;
}

.ad2 .btn4 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -560px top;
}

.ad2 .btn4 a:visted {}

.ad2 .btn4 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -560px -55px;
}

.ad2 .btn5 {
  float: left;
  height: 55px;
  width: 79px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -496px top;
  display: block;
}

.ad2 .btn5 a {
  display: block;
  height: 55px;
  width: 79px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -496px top;
}

.ad2 .btn5 a:visted {}

.ad2 .btn5 a:hover {
  display: block;
  height: 55px;
  width: 79px;
  background-image: url(images/redTubeHDWidget2.gif);
  background-repeat: no-repeat;
  background-position: -496px -55px;
}

.ad3 .mainHolder {
  display: block;
  height: 55px;
  width: 704px;
  background-repeat: no-repeat;
  background-position: left top;
}

.ad3 .watch {
  float: left;
  height: 55px;
  width: 140px;
}

.ad3 .watch a {
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  height: 55px;
  width: 140px;
}

.ad3 .watch a:visited {}

.ad3 .watch a:hover {
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: left -55px;
  display: block;
}

.ad3 .btn1 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -181px top;
  display: block;
}

.ad3 .btn1 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -140px top;
}

.ad3 .btn1 a:visted {}

.ad3 .btn1 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -140px -55px;
}

.ad3 .btn2 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -280px top;
  display: block;
}

.ad3 .btn2 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: 280px top;
}

.ad3 .btn2 a:visted {}

.ad3 .btn2 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -280px -55px;
}

.ad3 .btn3 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -420px top;
  display: block;
}

.ad3 .btn3 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -420px top;
}

.ad3 .btn3 a:visted {}

.ad3 .btn3 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -420px -55px;
}

.ad3 .btn4 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -560px top;
  display: block;
}

.ad3 .btn4 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -560px top;
}

.ad3 .btn4 a:visted {}

.ad3 .btn4 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -560px -55px;
}

.ad3 .btn5 {
  float: left;
  height: 55px;
  width: 79px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -496px top;
  display: block;
}

.ad3 .btn5 a {
  display: block;
  height: 55px;
  width: 79px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -496px top;
}

.ad3 .btn5 a:visted {}

.ad3 .btn5 a:hover {
  display: block;
  height: 55px;
  width: 79px;
  background-image: url(images/redTubeHDWidget3.gif);
  background-repeat: no-repeat;
  background-position: -496px -55px;
}

#opis {
  display: inline-block;
}

.ad4 .mainHolder {
  display: block;
  height: 55px;
  width: 704px;
  background-repeat: no-repeat;
  background-position: left top;
}

.ad4 .watch {
  float: left;
  height: 55px;
  width: 140px;
}

.ad4 .watch a {
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
  height: 55px;
  width: 140px;
}

.ad4 .watch a:visited {}

.ad4 .watch a:hover {
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: left -55px;
  display: block;
}

.ad4 .btn1 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -181px top;
  display: block;
}

.ad4 .btn1 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -140px top;
}

.ad4 .btn1 a:visted {}

.ad4 .btn1 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -140px -55px;
}

.ad4 .btn2 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -280px top;
  display: block;
}

.ad4 .btn2 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: 280px top;
}

.ad4 .btn2 a:visted {}

.ad4 .btn2 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -280px -55px;
}

.ad4 .btn3 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -420px top;
  display: block;
}

.ad4 .btn3 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -420px top;
}

.ad4 .btn3 a:visted {}

.ad4 .btn3 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -420px -55px;
}

.ad4 .btn4 {
  float: left;
  height: 55px;
  width: 140px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -560px top;
  display: block;
}

.ad4 .btn4 a {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -560px top;
}

.ad4 .btn4 a:visted {}

.ad4 .btn4 a:hover {
  display: block;
  height: 55px;
  width: 140px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -560px -55px;
}

.ad4 .btn5 {
  float: left;
  height: 55px;
  width: 79px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -496px top;
  display: block;
}

.ad4 .btn5 a {
  display: block;
  height: 55px;
  width: 79px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -496px top;
}

.ad4 .btn5 a:visted {}

.ad4 .btn5 a:hover {
  display: block;
  height: 55px;
  width: 79px;
  background-image: url(images/sprite.gif);
  background-repeat: no-repeat;
  background-position: -496px -55px;
}

.linkspan {
  padding-right: 30px;
}

div#player_buttons_021210_09_modified {
  position: relative;
  width: 704px;
  height: 55px;
  margin: 0 auto;
}

div#player_buttons_021210_09_modified .clear {
  clear: both;
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}

div#player_buttons_021210_09_modified ul {
  position: relative;
  width: 704px;
  height: 55px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: url(player_buttons_021210_09_black_modified.gif) no-repeat left top;
}

div#player_buttons_021210_09_modified ul li a {
  background: url(player_buttons_021210_09_black_modified.gif) no-repeat left top;
}

div#player_buttons_021210_09_modified ul li#dld {
  position: absolute;
  width: 227px;
  height: 24px;
  left: 2px;
  top: 2px;
}

div#player_buttons_021210_09_modified ul li#dld a {
  display: block;
  width: 227px;
  height: 24px;
  background-position: -2px -2px;
}

div#player_buttons_021210_09_modified ul li#dld a:hover {
  background-position: -2px -57px;
}

div#player_buttons_021210_09_modified ul li#wmv {
  position: absolute;
  width: 74px;
  height: 24px;
  left: 2px;
  top: 29px;
}

div#player_buttons_021210_09_modified ul li#wmv a {
  display: block;
  width: 74px;
  height: 24px;
  background-position: -2px -29px;
}

div#player_buttons_021210_09_modified ul li#wmv a:hover {
  background-position: -2px -84px;
}

div#player_buttons_021210_09_modified ul li#mpg {
  position: absolute;
  width: 74px;
  height: 24px;
  left: 79px;
  top: 29px;
}

div#player_buttons_021210_09_modified ul li#mpg a {
  display: block;
  width: 74px;
  height: 24px;
  background-position: -79px -29px;
}

div#player_buttons_021210_09_modified ul li#mpg a:hover {
  background-position: -79px -84px;
}

div#player_buttons_021210_09_modified ul li#mob {
  position: absolute;
  width: 73px;
  height: 24px;
  left: 156px;
  top: 29px;
}

div#player_buttons_021210_09_modified ul li#mob a {
  display: block;
  width: 73px;
  height: 24px;
  background-position: -156px -29px;
}

div#player_buttons_021210_09_modified ul li#mob a:hover {
  background-position: -156px -84px;
}

div#player_buttons_021210_09_modified ul li#hdv {
  position: absolute;
  width: 342px;
  height: 55px;
  left: 230px;
  top: 0px;
}

div#player_buttons_021210_09_modified ul li#hdv a {
  display: block;
  width: 342px;
  height: 55px;
  background-position: -230px 0px;
}

div#player_buttons_021210_09_modified ul li#hdv a:hover {
  background-position: -230px -55px;
}

div#player_buttons_021210_09_modified ul li#emb {
  position: absolute;
  width: 129px;
  height: 24px;
  left: 573px;
  top: 0px;
}

div#player_buttons_021210_09_modified ul li#emb a {
  display: block;
  width: 129px;
  height: 24px;
  background-position: -573px 0px;
}

div#player_buttons_021210_09_modified ul li#emb a:hover {
  background-position: -573px -55px;
}

div#player_buttons_021210_09_modified ul li#bmk {
  position: absolute;
  width: 129px;
  height: 24px;
  left: 573px;
  top: 28px;
}

div#player_buttons_021210_09_modified ul li#bmk a {
  display: block;
  width: 129px;
  height: 24px;
  background-position: -573px -29px;
}

div#player_buttons_021210_09_modified ul li#bmk a:hover {
  background-position: -573px -84px;
}

div#player_buttons_021210_09_modified {
  position: relative;
  width: 704px;
  height: 55px;
  margin: 0 auto;
}

div#player_buttons_021210_09_modified .clear {
  clear: both;
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
}

div#player_buttons_021210_09_modified ul {
  position: relative;
  width: 704px;
  height: 55px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: url(v5.gif) no-repeat left top;
}

div#player_buttons_021210_09_modified ul li a {
  background: url(v5.gif) no-repeat left top;
}

div#player_buttons_021210_09_modified ul li#dld {
  position: absolute;
  width: 227px;
  height: 24px;
  left: 2px;
  top: 2px;
}

div#player_buttons_021210_09_modified ul li#dld a {
  display: block;
  width: 227px;
  height: 24px;
  background-position: -2px -2px;
}

div#player_buttons_021210_09_modified ul li#dld a:hover {
  background-position: -2px -57px;
}

div#player_buttons_021210_09_modified ul li#wmv {
  position: absolute;
  width: 74px;
  height: 24px;
  left: 2px;
  top: 29px;
}

div#player_buttons_021210_09_modified ul li#wmv a {
  display: block;
  width: 74px;
  height: 24px;
  background-position: -2px -29px;
}

div#player_buttons_021210_09_modified ul li#wmv a:hover {
  background-position: -2px -84px;
}

div#player_buttons_021210_09_modified ul li#mpg {
  position: absolute;
  width: 74px;
  height: 24px;
  left: 79px;
  top: 29px;
}

div#player_buttons_021210_09_modified ul li#mpg a {
  display: block;
  width: 74px;
  height: 24px;
  background-position: -79px -29px;
}

div#player_buttons_021210_09_modified ul li#mpg a:hover {
  background-position: -79px -84px;
}

div#player_buttons_021210_09_modified ul li#mob {
  position: absolute;
  width: 73px;
  height: 24px;
  left: 156px;
  top: 29px;
}

div#player_buttons_021210_09_modified ul li#mob a {
  display: block;
  width: 73px;
  height: 24px;
  background-position: -156px -29px;
}

div#player_buttons_021210_09_modified ul li#mob a:hover {
  background-position: -156px -84px;
}

div#player_buttons_021210_09_modified ul li#hdv {
  position: absolute;
  width: 342px;
  height: 55px;
  left: 230px;
  top: 0px;
}

div#player_buttons_021210_09_modified ul li#hdv a {
  display: block;
  width: 342px;
  height: 55px;
  background-position: -230px 0px;
}

div#player_buttons_021210_09_modified ul li#hdv a:hover {
  background-position: -230px -55px;
}

div#player_buttons_021210_09_modified ul li#emb {
  position: absolute;
  width: 129px;
  height: 24px;
  left: 573px;
  top: 0px;
}

div#player_buttons_021210_09_modified ul li#emb a {
  display: block;
  width: 129px;
  height: 24px;
  background-position: -573px 0px;
}

div#player_buttons_021210_09_modified ul li#emb a:hover {
  background-position: -573px -55px;
}

div#player_buttons_021210_09_modified ul li#bmk {
  position: absolute;
  width: 129px;
  height: 24px;
  left: 573px;
  top: 28px;
}

div#player_buttons_021210_09_modified ul li#bmk a {
  display: block;
  width: 129px;
  height: 24px;
  background-position: -573px -29px;
}

div#player_buttons_021210_09_modified ul li#bmk a:hover {
  background-position: -573px -84px;
}

ul.dropdown {
  position: relative;
  z-index: 999;
  padding: 0px;
}

ul.dropdown li {
  font-weight: bold;
  float: left;
  zoom: 1;
  background: transparent;
  list-style-type: none;
}

ul.dropdown a:hover {
  color: #000;
}

ul.dropdown a:active {
  color: #ffa500;
}

ul.dropdown li a {
  display: block;
  padding: 0px 10px;
  border-right: 1px solid #333;
  color: #222;
}

ul.dropdown li:last-child a {
  border-right: none;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
  background: transparent;
  color: red;
  position: relative;
}

ul.dropdown li.hover a {
  color: black;
}

ul.dropdown ul {
  width: 180px;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  border-top: none;
  background-color: black;
  padding-left: 5px;
  margin: 0px;
  padding-right: 0px;
  padding-bottom: 6px;
  padding-top: 3px;
}

ul.dropdown ul li {
  font-weight: normal;
  background: transparent;
  color: #000;
}

ul.dropdown ul li a {
  border-right: none;
  width: 100%;
  display: inline-block;
}

ul.dropdown ul ul {
  left: 100%;
  top: 0;
}

ul.dropdown li:hover > ul {
  visibility: visible;
}

#links #cat_list a {
  font-size: 11px;
  width: 80px;
}

#menu ul li {
  float: left;
}

#menu ul li ul {
  list-style: none;
  position: absolute;
  left: -9999px;
  top: 30px;
  background-color: #0C0C0C;
  margin: auto;
  padding: 5px 15px 5px 10px;
  z-index: 1000;
}

#menu ul li:hover ul {
  left: 3px;
}

#menu ul li ul li {
  display: block;
  float: none;
}

#menu ul li ul li a {
  padding: 5px;
  font-weight: bold;
  color: white;
  background-image: none;
  white-space: nowrap;
}

#menu ul li ul li:hover a {
  color: #CFCFCF;
}

.ac_results {
  padding: 0px;
  border: 1px solid WindowFrame;
  background-color: Window;
  overflow: hidden;
  z-index: 100;
  color: #000000;
  text-align: left;
}

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ac_results iframe {
  display: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: mask();
  width: 3000px;
  height: 3000px;
}

.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  font: menu;
  font-size: 12px;
  overflow: hidden;
}

.ac_loading {
  background: Window url('./indicator.gif') right center no-repeat;
}

.ac_over {
  background-color: Highlight;
  color: HighlightText;
  z-index: 100;
}

<!--

#categories2 {
  margin: auto;
  overflow: hidden;
  clear: both;
  padding: 4px;
  background: #000;
  max-width: 1300px;
}

#categories2 ul {
  vertical-align: bottom;
  list-style-type: none;
  margin: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

#categories2 ul li {
  padding: 1px;
  float: left;
  text-transform: uppercase;
}

#categories2 ul li a {
  font-weight: bold;
  text-decoration: underline;
  padding: 1px 6px;
  border: 1px solid #888;
  display: inline-block;
  *display: inline;
  color: #fff;
  background: #030303;
}

#categories2 ul li a:hover {
  background: #888;
}