@charset "utf-8";

@import "../../common.css";

body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

code,
kbd,
samp,
tt {
  font-size: 100%;
}

input,
button,
textarea,
select {
  *font-size: 100%;
}

body {
  line-height: 180%;
}

ol,
ul,
li {
  list-style: none;
}

:link,
:visited,
ins {
  text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  color: #676767;
  font-size: 13px;
  line-height: 18px;
}

a:link,
a:visited {
  color: #0061ab;
}

a:hover {
  text-decoration: underline;
  color: #996600;
}

#container {
  width: 990px;
  margin: 0 auto;
}

#header {
  position: relative;
  height: 105px;
}

#header-title-link {
  background: url(images/xuite_logo.png) no-repeat;
  position: absolute;
  height: 86px;
  width: 165px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  top: 10px;
  left: 15px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/xuite_logo.png',sizingMethod='scale');
  _background: none;
}

.top-menu-info-list {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 12px;
}

.top-menu-info-item {
  display: block;
  float: left;
}

.top-menu-info-register .top-menu-info-link:link,
.top-menu-info-new .top-menu-info-link:link,
.top-menu-info-new .top-menu-info-link:visited,
.top-menu-info-sysop .top-menu-info-link:link,
.top-menu-info-sysop .top-menu-info-link:visited,
.top-menu-info-otp .top-menu-info-link:link,
.top-menu-info-otp .top-menu-info-link:visited {
  border-right: 1px solid #999;
  padding: 0 4px;
}

.top-menu-info-register .top-menu-info-link:link,
.top-menu-info-register .top-menu-info-link:visited {
  color: #e07000;
  border-right: 1px solid #999;
  padding: 0 4px;
}

.top-menu-info-message .top-menu-info-link:link,
.top-menu-info-message .top-menu-info-link:visited {
  color: #cc0000;
  border-right: 1px solid #999;
  padding: 0 4px;
}

.top-menu-info-hinet .top-menu-info-link {
  padding: 0 4px;
  border-right: 1px solid #999;
}

.top-menu-service-list {
  position: absolute;
  left: 200px;
  top: 0;
}

.top-menu-service-item {
  width: 63px;
  display: block;
  float: left;
  overflow: hidden;
}

.top-menu-service-www {
  width: 65px;
}

.top-menu-service-www .top-menu-service-link {
  background: url(images/btn_default.png) 0 -30px no-repeat;
  width: 65px;
  height: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.top-menu-service-www .top-menu-service-link:hover {
  background-position: 0 0;
}

.top-menu-service-blog .top-menu-service-link {
  background: url(images/btn_default.png) -65px -30px no-repeat;
  width: 63px;
  height: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.top-menu-service-blog .top-menu-service-link:hover {
  background-position: -65px 0;
}

.top-menu-service-photo .top-menu-service-link {
  background: url(images/btn_default.png) -128px -30px no-repeat;
  width: 63px;
  height: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.top-menu-service-photo .top-menu-service-link:hover {
  background-position: -128px 0;
}

.top-menu-service-vlog .top-menu-service-link {
  background: url(images/btn_default.png) -191px -30px no-repeat;
  width: 63px;
  height: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.top-menu-service-vlog .top-menu-service-link:hover {
  background-position: -191px 0;
}

.top-menu-service-yo .top-menu-service-link {
  background: url(images/btn_default.png) -254px -30px no-repeat;
  width: 63px;
  height: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.top-menu-service-yo .top-menu-service-link:hover {
  background-position: -254px 0;
}

.top-menu-service-sync .top-menu-service-link {
  background: url(images/btn_default.png) -317px -30px no-repeat;
  width: 63px;
  height: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.top-menu-service-sync .top-menu-service-link:hover {
  background-position: -317px 0;
}

.top-menu-service-more-label {
  position: absolute;
  left: 580px;
  top: 0;
  background: url(images/btn_default.png) -380px -30px no-repeat;
  width: 107px;
  height: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.top-menu-service-more-label:hover {
  background-position: -380px 0;
}

.top-menu-service-current .top-menu-service-link {
  background-position: 0 0;
}

.top-menu-service-more-list {
  position: absolute;
  background: #fff;
  border: 1px solid #c8c8c8;
  display: block;
  left: 580px;
  padding: 5px;
  top: 30px;
  width: 60px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  z-index: 100;
  display: none;
}

.top-menu-service-more-item {
  list-style: disc;
  margin-left: 15px;
  font-size: 12px;
  color: #ff9c00;
}

.top-menu-service-more-link {
  width: 75px;
  display: block;
}

#header-search-form {
  position: absolute;
  left: 195px;
  top: 35px;
  *padding-top: 2px;
}

#header-search-label {
  display: none;
}

#header-search-input {
  border: 1px solid #dcdcdc;
  background: none;
  vertical-align: middle;
  height: 28px;
  width: 455px;
  margin: 2px 0 2px 4px;
  padding: 0 5px;
  color: #676767;
  overflow: hidden;
  border-radius: 4px 0 0 4px;
  float: left;
}

#header-search-submit {
  background: url(images/btn_default.png) no-repeat -374px -77px;
  border: 1px solid #dcdcdc;
  border-left: 0;
  width: 35px;
  height: 28px;
  margin: 2px 0;
  vertical-align: middle;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-radius: 0 4px 4px 0;
  float: left;
}

#header-search-submit:hover {
  background-color: #efefef;
}

#header-keyword {
  position: absolute;
  left: 195px;
  top: 75px;
  font-size: 12px;
}

.keyword-label {
  width: 37px;
  text-shadow: 1px 1px 0 #c7e3e6;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1,offY=1,color=c7e3e6);
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.keyword-list {
  width: 535px;
  height: 20px;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.keyword-item {
  display: block;
  float: left;
  margin: 0 5px;
  font-size: 12px;
  text-shadow: 1px 1px 0 #c7e3e6;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1,offY=1,color=c7e3e6);
}

.keyword-item .keyword-ad {
  color: #C00;
}

#header-login {
  position: absolute;
  right: 38px;
  top: 31px;
  width: 246px;
  font-size: 12px;
}

.member_login,
#header-login-frame {
  background: url(images/tpl_default.png) -706px -31px no-repeat;
  position: relative;
  width: 241px;
  font-size: 12px;
  padding: 2px;
}

#header-login-label,
.member_login_title {
  background: url(images/btn_default.png) -500px 2px no-repeat;
  padding-left: 22px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  color: #0059a0;
  height: 18px;
}

#header-login-form,
.member_login_main {
  width: 196px;
  margin: 0 2px;
}

#header-login-id-c,
#header-login-password-c,
.member_login_main li {
  font-size: 12px;
  margin: 1px 2px;
  _margin: 0 2px;
  height: 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

.header-login-id,
.header-login-password,
.member_id,
.member_pass {
  background: #fdfdfd;
  border: 1px solid #b0dded;
  font-size: 12px;
  width: 90px;
  color: #0061ab;
  margin-left: -39px;
  height: 20px;
  _height: 18px;
}

.header-login-id,
.member_id {
  background: url(images/btn_default.png) -500px -120px no-repeat;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-weight: bold;
  _padding: 2px 0 0 1px;
}

.header-login-password,
.member_pass {
  background: url(images/btn_default.png) -600px -120px no-repeat;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-weight: bold;
  _padding: 2px 0 0 1px;
}

.header-login-id:hover,
.member_id:hover,
.header-login-password:hover,
.member_pass:hover,
.header-login-id:active,
.member_id:active,
.header-login-password:active,
.member_pass:active {
  background: none #fff;
  _background: url(images/btn_default.png) -500px -120px no-repeat;
}

#header-login-sign-up {
  position: absolute;
  right: 5px;
  top: 0px;
  color: #e07000;
}

#header-login-stay-c,
.member_login_main label {
  margin-left: 5px;
  margin-top: 2px;
  width: 100px;
  height: 21px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.header-login-stay,
.member_login_main #remeberuid {
  vertical-align: middle;
  _height: 18px;
  _vertical-align: text-bottom;
}

#header-login-submit,
.member_btn_login {
  background: url(images/btn_default.png) -500px -40px no-repeat;
  width: 40px;
  height: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  position: absolute;
  right: 5px;
  top: 20px;
  width: 0;
}

.member_btn_login {
  right: 4px;
  top: 21px;
}

#header-login-submit:hover,
.member_btn_login:hover {
  background-position: -550px -40px;
}

#header-login-forgot {
  margin-left: 35px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.member_func {
  position: absolute;
  height: 18px;
  overflow: hidden;
  right: 5px;
  width: 50px;
}

#header-logged {
  position: absolute;
  font-size: 12px;
  background: url(images/btn_default.png) no-repeat -700px -100px;
  height: 68px;
  right: 0;
  padding-left: 7px;
  top: 31px;
  width: 238px;
}

#header-logged .logged-hi {
  height: 18px;
  margin-top: 5px;
  overflow: hidden;
  width: 150px;
}

#header-logged .logged-vip {
  position: absolute;
  top: 5px;
  right: 65px;
  color: #c63;
}

#header-logged .logged-logout {
  background: #2291b7;
  color: #fff;
  height: 18px;
  width: 40px;
  position: absolute;
  right: 15px;
  top: 5px;
  text-align: center;
  display: block;
}

#header-logged .logged-logout:hover {
  background: #930;
  text-decoration: none;
}

#header-logged .logged-my2 {
  height: 35px;
  width: 35px;
  position: absolute;
  left: 15px;
  line-height: 16px;
  font-size: 13px;
  font-weight: bold;
  top: 30px;
  text-align: center;
  display: block;
}

#header-logged .logged-my2:hover {
  background: #ddd;
  color: #0061ab;
  text-decoration: none;
}

.logged-menu {
  padding: 5px 0 0 52px;
  width: 186px;
  overflow: auto;
}

.logged-item {
  padding-left: 16px;
  margin-left: 7px;
  float: left;
  height: 20px;
  width: 38px;
  text-shadow: 1px 1px 0 #efefef;
}

.logged-blog {
  background: url(http://img.xuite.net/portal/images/tool_icon.png) no-repeat 0 -938px;
}

.logged-photo {
  background: url(http://img.xuite.net/portal/images/tool_icon.png) no-repeat 0 -918px;
}

.logged-vlog {
  background: url(http://img.xuite.net/portal/images/tool_icon.png) no-repeat 0 -958px;
}

.logged-gbook {
  background: url(http://img.xuite.net/portal/images/tool_icon.png) no-repeat 0 -978px;
}

.logged-friend {
  background: url(http://img.xuite.net/portal/images/tool_icon.png) no-repeat 0 -998px;
}

.logged-yo {
  background: url(http://img.xuite.net/portal/images/tool_icon.png) no-repeat 0 -1878px;
}

#main {
  margin-bottom: 10px;
  float: left;
}

#index {
  width: 772px;
}

#index-promote {
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
}

#index-promote .ui-widget-content {
  background: #ededed;
  border: none;
  font-family: 微軟正黑體;
}

#index-promote .ui-widget-header {
  background: none;
  border: none;
}

#index-promote-label {
  height: 0;
  visibility: hidden;
  _display: none;
}

#index-promote .ui-tabs .ui-tabs-nav {
  background: url(images/index_set.png) 0 -40px #fff no-repeat;
  border-bottom: 2px solid #2177e4;
  margin: -3px -3px 0;
  padding: 3px 3px 0 118px;
  border-radius: 0;
}

#index-promote .ui-tabs .ui-tabs-nav li a {
  padding: 3px 16px;
}

#index-promote-tabs .ui-state-default .index-promote-navi-link:link,
#index-promote-tabs .index-promote-navi-link:visited {
  color: #868686;
}

#index-promote-tabs .ui-state-active .index-promote-navi-link:link,
#index-promote-tabs .index-promote-navi-link:visited {
  color: #fff;
}

#index-promote .ui-tabs .ui-tabs-panel {
  background: #fff;
  margin: 5px;
  padding: 0;
}

.index-promote-thumb-link {
  display: block;
  height: 245px;
  width: 274px;
  overflow: hidden;
}

#index-promote .ui-tabs .ui-tabs-nav li {
  height: 26px;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 2px;
  top: 0;
}

#index-promote .ui-tabs .ui-tabs-nav li:hover {
  background: #2177e4;
}

#index-promote .ui-tabs .ui-tabs-nav li:hover a {
  color: #fff;
}

#index-promote .ui-state-default {
  background: #fff;
  border: 0;
}

#index-promote .ui-state-active {
  background: #2177e4;
  border: 0;
  color: #fff;
}

.index-promote-thumb {
  width: 266px;
  height: 237px;
  padding: 3px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  -ms-transition: -ms-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  transition: transform 0.2s linear;
}

.index-promote-thumb:hover {
  -webkit-transform: scale(1.1) rotate(-2deg);
  -moz-transform: scale(1.1) rotate(-2deg);
  -o-transform: scale(1.1) rotate(-2deg);
  -ms-transform: scale(1.1) rotate(-2deg);
  transform: scale(1.1) rotate(-2deg);
}

.index-promote-title {
  position: absolute;
  top: 47px;
  left: 295px;
  width: 460px;
  font-size: 19px;
  font-weight: bold;
  height: 20px;
  overflow: hidden;
  text-shadow: 1px 1px #dadada;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1,offY=1,color=dadada);
}

.index-promote-title-link {
  width: 345px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.index-promote-description {
  position: absolute;
  top: 75px;
  left: 295px;
  line-height: 24px;
  font-size: 14px;
  color: #676767;
  height: 100px;
  width: 460px;
  overflow: hidden;
}

.index-promote-push {
  position: absolute;
  top: 150px;
  left: 665px;
  width: 80px;
  height: 25px;
}

.index-promote-past-list {
  position: absolute;
  top: 180px;
  left: 295px;
  margin-top: 0;
  padding-left: 10px;
}

.index-promote-past-item {
  list-style: disc inside;
  color: #ccc;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  width: 420px;
  border-bottom: 1px solid #ededed;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#index-promote-more {
  position: absolute;
  top: 262px;
  right: 15px;
  font-size: 12px;
}

#index-promote-action {
  background: #2177e4;
  position: absolute;
  top: 5px;
  right: 0;
  padding: 1px 5px;
  font-size: 12px;
  color: #fff;
}

#index-promote-action:hover {
  background: #930;
  color: #fff;
  text-decoration: none;
}

.ad-crazy {
  margin: 0 auto 10px auto;
}

#index-ad-mid01 {
  width: 755px;
  height: 90px;
  display: block;
  margin: 0 0 10px 10px;
}

.ad-mid01-expand {
  height: 90px;
  overflow: hidden;
  position: absolute;
  z-index: 600;
}

#index-photo {
  margin-bottom: 10px;
  position: relative;
}

#index-photo-label {
  height: 0;
  visibility: hidden;
  _display: none;
}

#index-photo .ui-tabs .ui-tabs-nav li a {
  padding: 5px 16px;
}

#index-photo-tabs .ui-state-default .index-photo-navi-link:link,
#index-photo-tabs .index-photo-navi-link:visited {
  color: #868686;
}

#index-photo-tabs .ui-state-active .index-photo-navi-link:link,
#index-photo-tabs .index-photo-navi-link:visited {
  color: #fff;
}

#index-photo .ui-tabs .ui-tabs-panel {
  padding: 5px;
  _margin-left: 20px;
}

#index-photo .ui-tabs .ui-tabs-nav li {
  height: 26px;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 2px;
  top: 0;
}

#index-photo .ui-state-default {
  background: #fff;
  border: 0;
  font-weight: normal;
}

#index-photo .ui-state-active {
  background: #ff3e3e;
  border: 0;
  color: #fff;
}

#index-photo .ui-tabs .ui-tabs-nav li:hover {
  background: #ff3e3e;
}

#index-photo .ui-tabs .ui-tabs-nav li:hover a {
  color: #fff;
}

#index-photo .ui-widget-content {
  background: #ededed;
  border: none;
}

#index-photo .ui-widget-header {
  background: none;
  border: none;
}

#index-photo .ui-tabs .ui-tabs-nav {
  background: url(images/index_set.png) 0 0 #fff no-repeat;
  border-bottom: 2px solid #ff3e3e;
  margin: -3px -3px 0;
  padding: 3px 3px 0 118px;
  border-radius: 0;
}

.index-photo-album-item {
  position: relative;
}

.index-photo-list {
  padding-left: 181px;
  width: 400px;
  overflow: hidden;
  float: left;
  vertical-align: top;
}

.index-photo-panel {
  margin: 0;
  overflow: hidden;
}

#index-photo .index-photo-album-list {
  width: 750px;
  height: 260px;
  position: relative;
}

.index-photo-album-item {
  height: 295px;
  width: 750px;
  overflow: hidden;
}

.index-photo-item {
  float: left;
  display: block;
}

.index-photo-item:after {
  content: "";
  background-image: -moz-radial-gradient(center top,ellipse farthest-side,rgba(0,0,0,0.3),transparent);
  background-image: -webkit-radial-gradient(center top,ellipse farthest-side,rgba(0,0,0,0.3),transparent);
  background-repeat: no-repeat;
  width: 100%;
  height: 4px;
  margin-top: -4px;
  display: block;
}

.index-photo-first {
  position: absolute;
  top: 0;
  left: 0;
}

.index-photo-link {
  display: block;
}

.index-photo-link img {
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  transition: transform 0.2s linear;
}

.index-photo-link img:hover {
  -webkit-transform: scale(1.1) rotate(-2deg);
  -moz-transform: scale(1.1) rotate(-2deg);
  -o-transform: scale(1.1) rotate(-2deg);
  transform: scale(1.1) rotate(-2deg);
}

.index-photo-link .index-photo-thumb {
  background: #fff;
  width: 120px;
  height: 120px;
  padding: 3px;
  margin: 0 2px;
  border: 1px solid #ccc;
}

.index-photo-first .index-photo-thumb {
  background: #fff;
  width: 170px;
  height: 252px;
  padding: 3px;
  border: 1px solid #ccc;
}

.index-photo-more {
  background: #fff;
  opacity: 0.75;
  position: absolute;
  top: 236px;
  left: 6px;
  width: 170px;
  height: 20px;
  text-align: right;
  font-size: 12px;
}

.index-photo-push {
  position: absolute;
  top: 266px;
  left: 643px;
}

#index-photo-action {
  background: #ff3e3e;
  position: absolute;
  top: 5px;
  right: 0;
  padding: 1px 5px;
  font-size: 12px;
  color: #fff;
}

#index-photo-action:hover {
  background: #930;
  color: #fff;
  text-decoration: none;
}

.index-photo-more:link,
.index-photo-more:visited {
  color: #990000;
}

.index-photo-prev {
  background: url(images/btn_default.png) -315px -85px no-repeat;
  position: absolute;
  width: 20px;
  height: 260px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: none;
  top: 35px;
  left: 0;
  _left: 5px;
}

.index-photo-prev-deactivated {
  background: url(images/btn_default.png) -355px -85px no-repeat;
}

.index-photo-next {
  background: url(images/btn_default.png) -338px -85px no-repeat;
  position: absolute;
  width: 20px;
  height: 260px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: none;
  top: 35px;
  right: 0;
  _right: -5px;
}

.index-photo-next-deactivated {
  background: url(images/btn_default.png) -378px -85px no-repeat;
}

.index-photo-pselect {
  width: 168px;
  float: right;
}

.index-photo-pselect-item {
  height: 36px;
  padding: 5px 5px 5px 15px;
  border-bottom: 1px solid #ddd;
}

.index-photo-pselect-avatar {
  width: 26px;
  height: 36px;
  vertical-align: middle;
}

.index-photo-pselect-name {
  display: inline-block;
  font-size: 14px;
  font-family: 微軟正黑體;
  color: #777;
  width: 150px;
  overflow: hidden;
  height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.index-photo-pselect-item-selected,
.index-photo-pselect-item:hover {
  background: url(images/index_set.png) 0 -128px no-repeat;
}

.index-photo-pselect-item-selected .index-photo-pselect-name,
.index-photo-pselect-item:hover .index-photo-pselect-name {
  color: #333;
}

.index-photo-more-ablum {
  font-size: 13px;
  padding: 5px 2px;
  overflow: hidden;
  float: right;
  display: block;
}

#index-ad-mid02 {
  width: 755px;
  height: 60px;
  display: block;
  margin: 0 0 10px 10px;
  overflow: hidden;
}

#index-tv {
  background: #ededed;
  height: 270px;
  margin-bottom: 10px;
  overflow: hidden;
  font-family: 微軟正黑體;
  position: relative;
}

#index-tv-label {
  height: 0;
  visibility: hidden;
  _display: none;
}

#index-tv-notice {
  background: url(images/index_set.png) 0 -80px #fff no-repeat;
  border-bottom: 2px solid #ccc;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 0 0 90px;
  display: block;
  width: 685px;
  height: 25px;
  overflow: hidden;
}

#index-tv-notice:link,
#index-tv-notice:visited {
  color: #ff0000;
}

.index-tv-item .index-tv-title {
  background: #000000;
  left: 0;
  opacity: 0.7;
  padding: 2px;
  position: absolute;
  top: 0;
  width: 175px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding: 2px 5px;
}

.index-tv-first .index-tv-title {
  width: 365px;
}

.index-tv-title-link:link,
.index-tv-title-link:visited {
  color: #fff;
  font-size: 15px;
}

.index-tv-thumb-link {
  display: block;
}

#index-tv-list {
  padding: 5px 0 0 3px;
  _margin-left: 3px;
  position: relative;
  width: 570px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

.index-tv-item {
  position: relative;
  background: url(images/action_play.png) center no-repeat;
  float: left;
  margin-left: 2px;
  height: 117px;
}

.index-tv-first {
  height: 232px;
  overflow: hidden;
}

.index-tv-item .index-tv-thumb {
  width: 185px;
  height: 115px;
}

.index-tv-item .index-tv-thumb:hover {
  opacity: 0.65;
}

.index-tv-first .index-tv-thumb {
  width: 375px;
  height: 233px;
}

#index-tv-blog {
  margin-top: 8px;
  width: 175px;
  height: 228px;
  font-size: 15px;
  overflow-y: auto;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

#index-tv-blog-label {
  height: 0;
  visibility: hidden;
  _display: none;
}

.index-tv-blog-item {
  height: 25px;
}

.index-tv-blog-station {
  color: #868686;
  vertical-align: #index-ad-mid03width:270px;
  height: 100px;
  overflow: hidden;
  display: block;
  margin: 0px 2px;
  float: left;
  margin-left: 10px;
}

#index-ad-mid04 {
  width: 300px;
  height: 100px;
  overflow: hidden;
  display: block;
  margin: 0px 2px;
  float: left;
}

#index-ad-mid05 {
  width: 168px;
  height: 100px;
  overflow: hidden;
  display: block;
  margin: 0px 2px;
  float: left;
}

#side {
  padding: 0;
  float: right;
  width: 210px;
  overflow: hidden;
}

.side-box-title {
  height: 25px;
  width: 190px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.side-box-main {
  margin: 5px 0;
}

#side-vip {
  background: url(images/xuite_vip.png) no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 15px 0 5px -5px;
  text-indent: 100%;
  white-space: nowrap;
  width: 60px;
  height: 55px;
  overflow: hidden;
  vertical-align: top;
}

#side-fb-chtq {
  background: url(images/cht_Q.png) no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 15px 0 5px 3px;
  text-indent: 100%;
  white-space: nowrap;
  width: 60px;
  height: 55px;
  overflow: hidden;
  vertical-align: top;
}

#side-fb-yo {
  background: url(images/xuite_yo.png) no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 15px 0 5px 3px;
  text-indent: 100%;
  white-space: nowrap;
  width: 60px;
  height: 55px;
  overflow: hidden;
  vertical-align: top;
}

#side-xuite {
  background: url(images/xuite_sysop.png) no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 15px 0 5px -5px;
  text-indent: 100%;
  white-space: nowrap;
  width: 60px;
  height: 55px;
  overflow: hidden;
  vertical-align: top;
}

#side-roomi {
  background: url(images/roomi_60x55.png) no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 15px 0 5px 3px;
  text-indent: 100%;
  white-space: nowrap;
  width: 60px;
  height: 55px;
  overflow: hidden;
  vertical-align: top;
}

#side-move-s {
  background: url(images/move_S.gif) no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 15px 0 5px 3px;
  text-indent: 100%;
  white-space: nowrap;
  width: 60px;
  height: 55px;
  overflow: hidden;
  vertical-align: top;
}

#side-move-qa {
  background: url(images/move_QA.gif) no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 15px 0 5px 3px;
  text-indent: 100%;
  white-space: nowrap;
  width: 60px;
  height: 55px;
  overflow: hidden;
  vertical-align: top;
}

#side-angel {
  background: #eee;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.angel-title {
  background: #e4e4e4;
  color: #434343;
  font-weight: bold;
  font-size: 15px;
  height: 20px;
  padding: 5px 10px;
}

.angel-main {
  margin: 5px 0;
  height: 210px;
}

.angel-list {
  width: 168px;
  margin: 0 auto;
}

.angel-item {
  height: 180px;
  margin-bottom: 30px;
}

.angel-name-link:link,
.angel-name-link:visited {
  color: #890e2d;
  font-size: 15px;
  white-space: nowrap;
  font-weight: bold;
}

.angel-description {
  font-size: 13px;
  line-height: 19px;
  color: #333;
  font-family: 微軟正黑體;
}

#side-angel .angel-prev {
  background: url(images/btn_default.png) -500px -80px no-repeat;
  position: absolute;
  top: 220px;
  left: 20px;
  height: 18px;
  width: 46px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#side-angel .angel-prev:hover {
  background-position: -500px -100px;
}

#side-angel .angel-next {
  background: url(images/btn_default.png) -550px -80px no-repeat;
  position: absolute;
  top: 220px;
  left: 75px;
  height: 18px;
  width: 46px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#side-angel .angel-next:hover {
  background-position: -550px -100px;
}

#side-angel .angel-more {
  background: url(images/btn_default.png) -600px -80px no-repeat;
  position: absolute;
  top: 220px;
  left: 130px;
  height: 18px;
  width: 46px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#side-angel .angel-more:hover {
  background-position: -600px -100px;
}

#side-announce {
  background: #eee;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.announce-title {
  background: #e4e4e4;
  color: #434343;
  font-weight: bold;
  font-size: 15px;
  height: 20px;
  padding: 5px 10px;
}

.announce-list {
  padding-left: 10px;
  margin-top: 6px;
  display: block;
  height: 78px;
  overflow: hidden;
}

.announce-item {
  list-style: disc inside;
  color: #999;
  line-height: 24px;
  font-size: 14px;
  font-family: 微軟正黑體;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#side-announce .announce-more {
  position: absolute;
  top: 4px;
  right: 10px;
}

.announce-focus .announce-link {
  color: #ff0000;
}

#side-yo {
  background: #eee;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.yo-title {
  background: #e4e4e4;
  color: #434343;
  font-weight: bold;
  font-size: 15px;
  height: 20px;
  padding: 5px 10px;
}

.yo-main {
  width: 180px;
  margin: 0 auto;
  padding: 5px 0;
}

#side-yo-thumb-link {
  margin: 0 auto;
  height: 237px;
  overflow: hidden;
}

#side-yo-thumb {
  padding: 3px;
  height: 120px;
  width: 175px;
  border: 1px solid #ccc;
}

#side-yo-name {
  height: 18px;
  overflow: hidden;
}

#side-yo-name #side-yo-name-link {
  font-size: 15px;
  font-weight: bold;
}

#side-yo-abstract {
  line-height: 22px;
  height: 42px;
  overflow: hidden;
}

#side-movie {
  background: #10295e;
  margin-bottom: 10px;
  position: relative;
}

.movie-title {
  background: #06183f;
  color: #b7b7b7;
  font-weight: bold;
  font-size: 15px;
  height: 20px;
  padding: 5px 10px;
}

.movie-main {
  width: 200px;
  margin: 0 auto;
  padding: 5px 0;
}

#side-movie-link {
  width: 200px;
  height: 123px;
  overflow: hidden;
  display: block;
}

#side-movie-thumb {
  width: 200px;
  height: 123px;
}

#side-movie .side-box-more {
  background: #8f8e9f;
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 12px;
  color: #000715;
  height: 16px;
  line-height: 16px;
  width: 31px;
  text-align: center;
}

#side-movie .side-box-more:hover {
  background: #ccc;
  text-decoration: none;
}

#side-movie .side-box-main {
  margin: 4px 0;
}

#side-movie-name {
  position: absolute;
  background: #333;
  font-size: 15px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  opacity: 0.8;
  padding: 0 10px;
  text-shadow: 1px 1px 1px #000;
  top: 133px;
  width: 180px;
  overflow: hidden;
}

#side-movie-name-link {
  color: #fff;
  display: block;
}

#side-movie-name-link:hover {
  text-decoration: none;
  color: #ff0;
}

#side-movie-date-c {
  font-size: 12px;
  color: #eee;
  margin-left: 10px;
}

#side-special {}

#side-special .special-main {}

.special-list {
  background: #eee;
  padding: 8px;
}

.special-item {
  background: #fff;
  border-bottom: 2px solid #eee;
  padding: 2px;
  overflow: hidden;
}

.special-thumb-link {
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  float: left;
}

.special-name {
  padding-left: 7px;
  overflow: hidden;
  font-size: 13px;
}

.special-name-link {
  height: 50px;
  display: block;
}

.special-thumb {
  width: 50px;
  height: 50px;
}

.footer {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  margin: 0;
}

#xuite-id,
#cloudbox-id {
  width: 700px;
  margin: 10px auto 10px auto;
  padding: 0 10px 20px 14px;
  border-bottom: 1px solid #ccc;
}

#xuite-id-logo {
  background: url(images/xuite_logo.png) no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  height: 86px;
  width: 165px;
  overflow: hidden;
  display: block;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/xuite_logo.png',sizingMethod='scale');
  _background: none;
}

#cloudbox-id-logo {
  background: url(images/cloudbox_logo.png) no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  height: 86px;
  width: 124px;
  overflow: hidden;
  display: block;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/cloudbox_logo.png',sizingMethod='scale');
  _background: none;
}

#xuite-id-enable,
#xuite-id-account,
#cloudbox-id-enable,
#cloudbox-id-account {
  font-size: 15px;
}

#xuite-id-enable-title,
#cloudbox-id-enable-title {
  padding: 10px;
  background: url(images/xuite_look.png) no-repeat 250px 100px #FFFBE6;
  border: 2px solid #FC0;
  height: 350px;
  font-weight: bold;
  color: #cc0000;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#xuite-id-enable-c,
#cloudbox-id-enable-c {
  color: #333;
  line-height: 30px;
  display: block;
  font-style: normal;
  font-weight: 100;
}

#xuite-id-account-title,
#cloudbox-id-account-title {
  padding: 10px;
  background: #FFFBE6;
  border: 2px solid #FC0;
  font-weight: bold;
  color: #cc0000;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#xuite-id-enable-notice,
#cloudbox-id-enable-notice {
  font-weight: normal;
  display: block;
  margin-top: 10px;
  color: #676767;
}

#xuite-id-enable-submit,
#cloudbox-id-account-submit {
  margin: 20px 0 0 260px;
  padding: 16px;
  background: #e7f7fd;
  border: 1px solid #b0dde0;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #e0f3fa;
  background: -moz-linear-gradient(top,#e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e0f3fa),color-stop(50%,#d8f0fc),color-stop(51%,#b8e2f6),color-stop(100%,#b6dffd));
  background: -webkit-linear-gradient(top,#e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
  background: -o-linear-gradient(top,#e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
  background: -ms-linear-gradient(top,#e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa',endColorstr='#b6dffd',GradientType=0 );
  background: linear-gradient(top,#e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%);
  width: 180px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#xuite-id-enable-submit:hover,
#cloudbox-id-account-submit:hover {
  background: #f6f0ec;
  background: -moz-linear-gradient(top,#f6f0ec 0%,#eec6ac 50%,#ebb089 51%,#fbe5d5 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f6f0ec),color-stop(50%,#eec6ac),color-stop(51%,#ebb089),color-stop(100%,#fbe5d5));
  background: -webkit-linear-gradient(top,#f6f0ec 0%,#eec6ac 50%,#ebb089 51%,#fbe5d5 100%);
  background: -o-linear-gradient(top,#f6f0ec 0%,#eec6ac 50%,#ebb089 51%,#fbe5d5 100%);
  background: -ms-linear-gradient(top,#f6f0ec 0%,#eec6ac 50%,#ebb089 51%,#fbe5d5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f0ec',endColorstr='#fbe5d5',GradientType=0 );
  background: linear-gradient(top,#f6f0ec 0%,#eec6ac 50%,#ebb089 51%,#fbe5d5 100%);
  border: 1px solid #ebbe8b;
  color: #900;
  text-decoration: none;
}

#xuite-id-enable-logout,
#xuite-id-account-logout,
#cloudbox-id-enable-logout,
#cloudbox-id-account-logout {
  margin: 20px 0 0 20px;
  padding: 8px;
  background: #efefef;
  border: 1px solid #ccc;
  font-size: 15px;
  color: #999;
  font-weight: bold;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#xuite-id-enable-logout:hover,
#xuite-id-account-logout:hover,
#cloudbox-id-enable-logout:hover,
#cloudbox-id-account-logout:hover {
  background: #efefef;
  border: 1px solid #999;
  color: #666;
  text-decoration: none;
}

#xuite-id-account-notice,
#cloudbox-id-account-notice {
  background: #cc0000;
  margin: 5px auto;
  padding: 3px 10px;
  color: #fff;
}

#xuite-id-recommend,
#cloudbox-id-recommend {
  background: #f7f7f7;
  margin: 5px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.xuite-id-account-recommend-list,
.xuite-id-account-customize-list,
.cloudbox-id-account-recommend-list,
.cloudbox-id-account-customize-list {
  height: 30px;
  overflow: hidden;
}

.xuite-id-account-recommend-item,
.cloudbox-id-account-recommend-item {
  float: left;
  margin: 5px 15px;
}

.xuite-id-account-customize-item,
.cloudbox-id-account-customize-item {
  float: left;
  margin: 5px 0 5px 15px;
}

.xuite-id-account-recommend-c,
.cloudbox-account-customize-c {
  font-weight: bold;
}

.xuite-id-account-recommend-id,
.xuite-id-account-customize-id,
.cloudbox-id-account-recommend-id,
.cloudbox-id-account-customize-id {
  vertical-align: middle;
  margin-right: 3px;
}

#xuite-id-account-customize-id {
  width: 180px;
  color: #676767;
  font-weight: bold;
}

#xuite-id-account-submit,
#cloudbox-id-account-submit {
  height: 20px;
  margin: 10px 0 0 290px;
  padding: 5px;
  width: 100px;
}

#xuite-id-account-link,
#cloudbox-id-account-link {
  background: #fff;
  font-size: 13px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.xuite-id-account-link-id,
.cloudbox-id-account-link-id {
  color: #f30;
  font-weight: bold;
}

.xuite-id-account-link-list,
.cloudbox-id-account-link-list {
  padding-left: 15px;
  margin-left: 15px;
}

.xuite-id-account-link-item,
.cloudbox-id-account-link-item {
  list-style: disc;
  line-height: 20px;
}

#xuite-id-account-later,
#cloudbox-id-account-later {
  text-align: right;
  margin: 10px 50px 0 0;
}

#xuite-id-account-logout,
#cloudbox-id-account-logout {
  height: 20px;
  margin: 0 5px;
  padding: 2px;
  width: 46px;
}

#promote {
  position: relative;
  background: #fff;
  float: left;
  min-height: 1520px;
  *height: 1520px;
  width: 772px;
}

#promote-label {
  background: url(images/promote_label.png) no-repeat;
  height: 26px;
  width: 752px;
  margin-left: 12px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#promote-action {
  background: url(images/btn_default.png) 0 -80px no-repeat;
  position: absolute;
  top: 15px;
  right: 20px;
  text-indent: 100%;
  white-space: nowrap;
  height: 20px;
  width: 90px;
  overflow: hidden;
}

#promote-action:hover {
  background-position: 0 -100px;
}

#promote-navi-list {
  position: absolute;
  top: 70px;
  left: 130px;
  z-index: 100;
}

#promote #index-promote-action {
  top: 73px;
  right: 15px;
}

#promote .promote-navi-item {
  background: url(images/promote_label.png) -234px 0 no-repeat;
  border: 0;
  height: 26px;
  font-weight: normal;
  font-size: 12px;
  float: left;
}

#promote .promote-navi-active {
  background: url(images/promote_label.png) -117px 0 no-repeat;
  border: 0;
}

#promote .promote-navi-active a {
  color: #006699;
}

#promote .promote-navi-link,
#promote .promote-navi-link:visited {
  padding: 4px 16px;
  color: #868686;
  display: block;
}

#promote .promote-navi-link:hover {
  text-decoration: none;
}

#promote #promote-navi-blog.promote-navi-item,
#promote #promote-navi-album.promote-navi-item {
  background: url(images/promote_label_tab4.png) 0 -26px no-repeat;
}

#promote #promote-navi-blog.promote-navi-active,
#promote #promote-navi-album.promote-navi-active {
  background: url(images/promote_label_tab4.png) 0 0 no-repeat;
}

#promote-list {
  border: 1px solid #ccc;
  width: 750px;
  margin-top: -1px;
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
}

.promote-item {
  position: relative;
  border-bottom: 1px dotted #ccc;
  margin: 5px;
}

.promote-title {
  position: absolute;
  top: 10px;
  left: 320px;
  font-size: 15px;
  font-weight: bold;
  height: 20px;
  overflow: hidden;
}

.promote-author {
  position: absolute;
  top: 32px;
  left: 320px;
  height: 20px;
  overflow: hidden;
}

.promote-description {
  position: absolute;
  top: 56px;
  left: 320px;
  line-height: 20px;
  font-size: 13px;
  color: #676767;
  height: 120px;
  width: 410px;
  overflow: hidden;
}

.promote-thumb {
  width: 300px;
  height: 200px;
  padding: 3px;
  background: #fff;
  border: 1px solid #ccc;
}

.promote-push {
  position: absolute;
  top: 182px;
  left: 320px;
  width: 66px;
}

.promote-continue {
  position: absolute;
  top: 182px;
  right: 15px;
  font-size: 12px;
}

#promote-more {
  background: url(images/promote_more.png) no-repeat;
  width: 738px;
  height: 24px;
  margin: 5px auto;
  padding: 10px 0;
  font-weight: bold;
  display: block;
  text-align: center;
}

#promote-all-main {
  background: #fff;
  padding: 0;
  border: 1px solid #e4e4e4;
  border-radius: 0 0 8px 8px;
  margin: -1px 0 5px 12px;
  width: 750px;
}

#promote-all-photographer {
  height: 260px;
  padding: 5px;
}

#promote-all-main #promote-all-photographer #promote-all-photographer-pic {
  width: 575px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

#promote-all-main #promote-all-photographer .promote-all-big-pic {
  width: 179px;
  height: 260px;
  display: block;
  float: left;
}

#promote-all-main #promote-all-photographer .promote-all-small-pic {
  width: 128px;
  height: 128px;
  margin: 0 0 4px 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

#promote-all-main #promote-all-photographer .promote-all-photographer-text {
  position: relative;
  background: #f2f2f2;
  font-size: 15px;
  width: 160px;
  height: 260px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

#promote-all-main #promote-all-photographer .promote-all-photographer-author {
  background: url(images/index_set.png) -2px -130px no-repeat;
  color: #333;
  margin: 2px;
  border-radius: 4px;
  height: 45px;
  line-height: 22px;
  padding: 0 10px;
  display: block;
}

#promote-all-main #promote-all-photographer .promote-all-photographer-author-name {
  width: 140px;
  overflow: hidden;
  height: 20px;
  font-size: 13px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#promote-all-main #promote-all-photographer .promote-all-photographer-title {
  margin: 10px;
  line-height: 24px;
  display: block;
}

#promote-all-main .promote-all-photographer-description {
  margin: 0 5px;
}

#promote-all-main .promote-all-photographer-push {
  position: absolute;
  top: 238px;
  left: 7px;
}

#promote-all-main #promote-all-photographer .promote-all-photographer-text .promote-all-recom-more {
  position: absolute;
  font-size: 12px;
  top: 238px;
  right: 10px;
  height: 18px;
  overflow: hidden;
  display: block;
}

#search {
  position: relative;
  background: #fff;
  float: left;
  min-height: 1505px;
  *height: 1505px;
  padding: 10px 7px 10px 7px;
  width: 760px;
  _width: 758px;
  border: 1px solid #ccc;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#promot_item {
  border: 1px solid #ccc;
}

#after {
  background-color: #eff4ff;
  font-size: 12px;
  color: #9c9c9c;
  padding: 5px 5px 5px 5px;
}

#after ul {
  background-color: #e8f5fb;
  padding: 5px;
  font-size: 15px;
  color: #2581a8;
  line-height: 30px;
}

#after li {
  background-color: #FFFFFF;
  list-style-image: none;
  padding: 0px 2px 5px 5px;
  margin: 0px;
  width: 97%;
  font-size: 12px;
  color: #000000;
}

.search_red {
  color: #FF0000;
}

.kw {
  float: right;
}

.kw a {
  #color: #999999;
}

#after .green {
  font-size: 12px;
  color: #2e9216;
}

.after_title {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  float: left;
  width: 100%;
  border-bottom: 1px #ccc dotted;
}

.after_select {
  margin: 0px;
  padding: 5px 15px 0 0;
  font-size: 12px;
  float: right;
  width: 95%;
  height: 22px;
}

.after_select li {
  float: right;
}

.after_select li.result_number {
  float: left;
}

#after_m {
  background: url(images/after_m_bg.gif) no-repeat right top;
  height: 118px;
  display: block;
  font-size: 12px;
}

.after_m_photo {
  width: 100px;
  height: 100px;
  border: 1px #cccccc solid;
  margin: 8px 5px 5px 25px;
  *margin: 6px 5px 5px 15px;
  float: left;
}

.after_m_title {
  font-size: 14px;
  color: #2581a8;
  padding: 8px;
  border-bottom: 1px #FFFFFF solid;
}

#after_g {
  background: url(images/after_g_bg.gif) no-repeat right top;
  height: 118px;
  display: block;
  font-size: 12px;
}

.after_m_con li {
  list-style-image: url(../../images/arr2.gif);
}

.after_r_title {
  font-size: 14px;
  color: #2581a8;
  padding: 8px;
  border-bottom: 1px #FFFFFF solid;
  float: none;
  word-spacing: 5px;
}

.after_r_id {
  font-size: 12px;
  color: #666666;
  padding: 0px 20px 0px 0px;
  float: right;
}

.after_m_des {
  color: #333333;
  padding: 10px 0px 0px 15px;
  word-wrap: break-word;
  width: 650px;
  *width: 520px!important;
  *width: 520px;
  line-height: 20px;
  font-size: 12px;
  word-spacing: 5px;
}

.n {
  border-top: 1px dotted #CCCCCC;
  clear: both;
  display: block;
  overflow: hidden;
  padding: 5px;
}

.c3 {
  display: block;
  float: left;
  margin: 5px 8px;
  _margin: 5px 4px;
  padding-bottom: 5px;
  width: 358px;
  border-bottom: 1px dotted #ccc;
}

.c3_title {
  float: left;
  font-size: 12px;
  height: 100px;
  overflow: hidden;
  padding: 0 0 4px 5px;
  width: 246px;
}

.c3_text {
  color: #666666;
  float: left;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
}

.c3_p1 {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  float: left;
  height: 100px;
  overflow: hidden;
  padding: 2px;
  width: 100px;
}

.p3_list {
  background: url(../../images/por-com-pic.png) no-repeat 0px -135px;
  border-bottom: 1px dotted #CCCCCC;
  display: block;
  float: left;
  margin: 0 10px;
  _margin: 0 5px;
  padding: 25px 8px 0 0;
  width: 117px;
}

.p3_p1_v {
  float: left;
  height: 100px;
  line-height: 100px;
  margin: -15px auto 12px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 125px;
}

.p3_p1_v span {}

.p3_p1_v img {
  vertical-align: middle;
}

.p3_title {
  float: left;
  font-size: 12px;
  height: 16px;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 0 0 0 5px;
  text-align: left;
  width: 115px;
}

.p3_item {
  background: url(../../images/por-com-pic.png) no-repeat -165px 0px;
  float: left;
  height: 9px;
  margin-right: 3px;
  margin-top: 4px;
  width: 9px;
}

.vloglist_block {
  float: left;
  height: 130px;
  margin: 10px;
  overflow: hidden;
}

.vlog_list_block_pic {
  float: left;
  margin: 5px 2px;
}

#vlog_list_video {
  background: #EEEEEE url(../../images/por-com-pic.png) no-repeat 0px 0px;
  margin-left: 4px;
  padding: 16px 8px 0;
  overflow: hidden;
  position: relative;
  width: 120px;
  height: 123px;
}

#vlog_list_video_pic_text {
  margin-top: 10px;
  float: left;
  overflow: hidden;
  padding: 0 0 4px 5px;
}

.info_xuite_article {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  float: left;
  font-size: 12px;
  height: 116px;
  margin: 5px;
  overflow: hidden;
  width: 360px;
  display: inline;
}

.info_xuite_article .info_text {
  float: right;
  width: 245px;
}

.info_xuite_img {
  float: left;
  height: 100px;
  margin: 5px;
  overflow: hidden;
  width: 100px;
}

.info_xuite_content {
  border-top: 1px dotted #666666;
  height: 72px;
  margin: 2px 2px 0 0;
  overflow: hidden;
  text-align: left;
}

#article_title {
  display: inline;
  float: left;
  height: 20px;
  overflow: hidden;
  text-align: left;
  width: 110px;
}

#article_nickname {
  float: right;
  height: 20px;
  margin-right: 5px;
  overflow: hidden;
  text-align: right;
  width: 100px;
}

#article_area {
  clear: both;
}

#vip_intro {
  position: relative;
  background: #fff;
  float: left;
  min-height: 1520px;
  *height: 1520px;
  padding: 10px 10px 10px 14px;
  _padding: 10px 7px 10px 12px;
  width: 750px;
  border: 1px solid #ccc;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#vip_bg {
  background: url(http://img.xuite.net/my2/my/images/vip_bg.jpg) #ffffff no-repeat left top;
  height: 560px;
  border-top: 1px dashed #cccccc;
  border-bottom: 1px solid #cccccc;
  margin: 10px auto;
  padding: 5px;
}

#sbtn_buyvip {
  background: url(http://img.xuite.net/my2/my/images/adm_sbtn.png) no-repeat -1850px -100px;
  display: block;
  float: left;
  width: 135px;
  height: 35px;
}

#sbtn_buyvip:hover {
  background-position: -1850px -99px;
}

.tablelist {
  margin: 0 auto;
  width: 99%;
}

.tablelist .th {
  background: url(http://img.xuite.net/portal/images/template.png) repeat-x 0 -470px;
  color: #333333;
  height: 16px;
  padding: 5px;
}

.tablelist .tr {
  background: url(http://img.xuite.net/portal/images/template.png) repeat-x scroll 0 -300px #FFFFFF;
  color: #333333;
  height: 22px;
  padding: 5px;
}

#side-mobile {
  background: #eee;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.mobile-title {
  background: #e4e4e4;
  color: #434343;
  font-weight: bold;
  font-size: 15px;
  height: 20px;
  padding: 5px 10px;
}

.mobile-main {
  margin: 5px 0;
}

.mobile-label {
  font-size: 11px;
  text-align: center;
  -webkit-text-size-adjust: none;
}

.mobile-list {
  height: 125px;
  text-align: center;
  width: 210px;
  margin: 0 auto;
}

.mobile-item {
  width: 57px;
  height: 58px;
  margin-top: 4px;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.mobile-link {
  width: 57px;
  text-indent: 100%;
  white-space: nowrap;
  height: 57px;
  overflow: hidden;
  display: block;
}

.mobile-cloudbox {
  margin-left: 0;
}

.mobile-photo {
  margin-left: 4px;
}

.mobile-sofood {
  margin-left: 3px;
}

.mobile-guidebook {
  margin-left: 4px;
}

.mobile-web {
  margin-left: 0;
}

.mobile-teach {
  margin-left: 3px;
}

.mobile-cloudbox .mobile-link {
  background: url(../../images/xuite_app_icon.png) 0 0 no-repeat;
}

.mobile-photo .mobile-link {
  background: url(../../images/xuite_app_icon.png) -60px 0 no-repeat;
}

.mobile-sofood .mobile-link {
  background: url(../../images/xuite_app_icon.png) -120px 0 no-repeat;
}

.mobile-guidebook .mobile-link {
  background: url(../../images/xuite_app_icon.png) -180px 0 no-repeat;
}

.mobile-web .mobile-link {
  background: url(../../images/xuite_app_icon.png) -240px 0 no-repeat;
}

.mobile-teach .mobile-link {
  background: url(../../images/xuite_app_icon.png) -300px 0 no-repeat;
}

.mobile-my {
  margin-left: 0;
}

.mobile-my .mobile-link {
  background: url(../../images/xuite_app_icon.png) -240px 0 no-repeat;
}

#header-login-notification-link {
  display: block;
  height: 67px;
  position: absolute;
  right: 0;
  top: 30px;
  width: 38px;
}

#header-login-notification {
  background: url(images/notification_bg.png) no-repeat;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/notification_bg.png',sizingMethod='scale');
  padding: 12px 3px 8px 7px;
  position: absolute;
  right: 12px;
  top: 100px;
  width: 260px;
  height: 105px;
  z-index: 50000;
}

.header-login-notification-text {
  color: #cc0000;
  padding: 2px;
  font-size: 12px;
}

#header-login {
  background: url(images/btn_default.png) -700px -30px no-repeat;
  position: absolute;
  right: 0;
  padding-left: 7px;
  top: 31px;
  width: 238px;
  height: 68px;
  font-size: 12px;
}

.login-title {
  height: 32px;
  visibility: hidden;
}

.login-list li {
  display: block;
  position: absolute;
}

.login-list li a {
  display: block;
  height: 33px;
}

.login-cht {
  left: 10px;
  top: 33px;
}

.login-cht a {
  height: 33px;
  text-indent: 100%;
  white-space: nowrap;
  width: 75px;
  overflow: hidden;
}

.login-cht a:hover {
  background: url(images/btn_default.png) no-repeat -710px -185px;
}

.login-facebook {
  left: 88px;
  top: 33px;
}

.login-facebook a {
  height: 33px;
  text-indent: 100%;
  white-space: nowrap;
  width: 37px;
  overflow: hidden;
}

.login-facebook a:hover {
  background: url(images/btn_default.png) no-repeat -788px -185px;
}

.login-yahoo {
  left: 128px;
  top: 33px;
}

.login-yahoo a {
  height: 33px;
  text-indent: 100%;
  white-space: nowrap;
  width: 34px;
  overflow: hidden;
}

.login-yahoo a:hover {
  background: url(images/btn_default.png) no-repeat -828px -185px;
}

.login-google {
  left: 165px;
  top: 33px;
}

.login-google a {
  height: 33px;
  text-indent: 100%;
  white-space: nowrap;
  width: 37px;
  overflow: hidden;
}

.login-google a:hover {
  background: url(images/btn_default.png) no-repeat -865px -185px;
}

.login-msn {
  left: 205px;
  top: 33px;
}

.login-msn a {
  height: 33px;
  text-indent: 100%;
  white-space: nowrap;
  width: 35px;
  overflow: hidden;
}

.login-msn a:hover {
  background: url(images/btn_default.png) no-repeat -905px -185px;
}

.login-register {
  position: absolute;
  right: 15px;
  top: 4px;
}

.login-register a {
  color: #e07000;
}

body#error-message,
body#error-message #header {
  background: none;
}

body#error-message #container {
  position: relative;
}

body#error-message #index-ad-mid02 {
  position: absolute;
  right: 0;
  top: 40px;
}

body#error-message #main.no-ads #index-ad-mid02 {
  display: none;
}

body#error-message #index {
  width: 650px;
}

body#error-message #main {
  width: 670px;
}

body#error-message #main.no-ads #index {
  width: 970px;
}

body#error-message #main.no-ads {
  width: 990px;
}

body#error-message #index {
  background: #e9e9e9;
  background: -moz-linear-gradient(top,#e9e9e9 0%,#ffffff 64%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e9e9e9),color-stop(64%,#ffffff));
  background: -webkit-linear-gradient(top,#e9e9e9 0%,#ffffff 64%);
  background: -o-linear-gradient(top,#e9e9e9 0%,#ffffff 64%);
  background: -ms-linear-gradient(top,#e9e9e9 0%,#ffffff 64%);
  background: linear-gradient(to bottom,#e9e9e9 0%,#ffffff 64%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9',endColorstr='#ffffff',GradientType=0 );
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 355px;
}

body#error-message #main {
  margin: 10px 0;
  float: left;
}

body#error-message #side {
  background: none;
  width: 300px;
  height: auto;
  margin: 10px 0;
  padding: 0;
}

body#error-message #side.no-ads {
  display: none;
}

body#error-message #footer {
  margin: 10px 0;
}

body#error-message #error-message-title {
  margin: 15px 0 0 5px;
  padding: 5px;
  font-size: 15px;
  color: #900;
  font-weight: bold;
}

body#error-message #error-message-content {
  position: absolute;
  font-size: 15px;
  margin: 5px 0 0 15px;
  padding: 10px;
  line-height: 18px;
  word-wrap: break-word;
  width: 400px;
  z-index: 1000;
}

body#error-message #main.no-ads #error-message-content {
  width: 700px;
}

body#error-message #error-message-pic {
  position: absolute;
  background: url(images/ha.gif) right top no-repeat;
  width: 484px;
  height: 306px;
  overflow: hidden;
  word-wrap: break-word;
  right: 0;
  bottom: -12px;
}

@media screen and (min-width:1024px) {
  #container {
    width: 1100px;
  }

  #header-login {
    background: url(images/btn_default.png) no-repeat -1000px -30px;
    width: 315px;
  }

  .login-cht {
    left: 10px;
    top: 33px;
  }

  .login-cht a {
    height: 33px;
    text-indent: 100%;
    white-space: nowrap;
    width: 77px;
    overflow: hidden;
  }

  .login-cht a:hover {
    background: url(images/btn_default.png) no-repeat -1010px -185px;
  }

  .login-facebook {
    left: 90px;
    top: 33px;
  }

  .login-facebook a {
    height: 33px;
    text-indent: 100%;
    white-space: nowrap;
    width: 54px;
    overflow: hidden;
  }

  .login-facebook a:hover {
    background: url(images/btn_default.png) no-repeat -1090px -185px;
  }

  .login-yahoo {
    left: 147px;
    top: 33px;
  }

  .login-yahoo a {
    height: 33px;
    text-indent: 100%;
    white-space: nowrap;
    width: 55px;
    overflow: hidden;
  }

  .login-yahoo a:hover {
    background: url(images/btn_default.png) no-repeat -1147px -185px;
  }

  .login-google {
    left: 205px;
    top: 33px;
  }

  .login-google a {
    height: 33px;
    text-indent: 100%;
    white-space: nowrap;
    width: 54px;
    overflow: hidden;
  }

  .login-google a:hover {
    background: url(images/btn_default.png) no-repeat -1205px -185px;
  }

  .login-msn {
    left: 262px;
    top: 33px;
  }

  .login-msn a {
    height: 33px;
    text-indent: 100%;
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
  }

  .login-msn a:hover {
    background: url(images/btn_default.png) no-repeat -1262px -185px;
  }

  #header-logged {
    background: url(images/btn_default.png) no-repeat -1000px -100px;
    width: 318px;
  }

  #header-logged .logged-my2 {
    left: 25px;
  }

  .logged-menu {
    width: 256px;
  }

  .logged-item {
    margin-left: 30px;
  }

  #side {
    width: 320px;
  }

  #side-angel .angel-prev {
    left: 85px;
  }

  #side-angel .angel-next {
    left: 138px;
  }

  #side-angel .angel-more {
    left: 190px;
  }

  .ad-crazy {
    width: 1100px;
  }
}

.header-notice {
  font-family: 微軟正黑體;
  font-weight: bold;
  position: absolute;
}

#header-notice-a {
  font-size: 28px;
  color: #333;
  top: 35px;
  left: 400px;
}

#header-notice-b {
  font-size: 18px;
  top: 67px;
  left: 400px;
}

body#regulation #main.no-ads {
  width: 990px;
}

body#regulation #main.no-ads #index {
  width: 970px;
  font-family: 微軟正黑體;
}

@media screen and (min-width:1024px) {
  body#regulation #main.no-ads {
    width: 1110px;
  }

  body#regulation #main.no-ads #index {
    width: 970px;
    margin: 0 auto;
  }

  body#regulation #header-title-link {
    left: 70px;
  }
}

body#regulation #container {
  background: #fff;
  background: -moz-linear-gradient(top,#b0d4e3 0%,#ffffff 29%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#b0d4e3),color-stop(29%,#ffffff));
  background: -webkit-linear-gradient(top,#b0d4e3 0%,#ffffff 29%);
  background: -o-linear-gradient(top,#b0d4e3 0%,#ffffff 29%);
  background: -ms-linear-gradient(top,#b0d4e3 0%,#ffffff 29%);
  background: linear-gradient(to bottom,#b0d4e3 0%,#ffffff 29%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3',endColorstr='#ffffff',GradientType=0 );
  text-shadow: 1px 1px 0 #fff;
}

body#regulation #main.no-ads #index-ad-mid02 {
  display: none;
}

body#regulation #regulation-title {
  margin: 30px 0 0 20px;
  font-size: 18px;
  color: #2192b8;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

body#regulation #index {
  background: #e9e9e9;
  background: -moz-linear-gradient(top,#e9e9e9 0%,#ffffff 64%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e9e9e9),color-stop(64%,#ffffff));
  background: -webkit-linear-gradient(top,#e9e9e9 0%,#ffffff 64%);
  background: -o-linear-gradient(top,#e9e9e9 0%,#ffffff 64%);
  background: -ms-linear-gradient(top,#e9e9e9 0%,#ffffff 64%);
  background: linear-gradient(to bottom,#e9e9e9 0%,#ffffff 64%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9',endColorstr='#ffffff',GradientType=0 );
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
}

body#regulation #main {
  margin-bottom: 20px;
}

#regulation-list {
  background: #fff;
  color: #444;
  font-size: 15px;
  height: 350px;
  overflow-y: scroll;
  margin: 10px 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

#regulation-list li {
  list-style-type: decimal;
  margin-left: 20px;
  line-height: 160%;
}

#regulation-function {
  height: 50px;
  text-align: center;
}

#regulation-agree {
  background: url(images/btn_agree.png) 0 0 no-repeat;
  width: 107px;
  height: 33px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

#regulation-agree:hover {
  background-position: -120px 0;
}

#regulation-check {
  background: url(images/btn_check.png) 0 0 no-repeat;
  width: 200px;
  height: 33px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

#regulation-check.regulation-checked {
  background-position: 0 -40px;
}