html,
body {
  width: 100%;
  background: #e9e9e9;
  font: 11px Arial, Sans-Serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
}

.cLeft {
  clear: left;
}

hr.cLeft {
  color: #FFF;
  border: none;
  height: 0;
  margin: 0;
}

.cRight {
  clear: right;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.red {
  color: red;
}

.blue {
  color: #41A5E1;
}

.green {
  color: green;
}

.hor_list li {
  list-style: none;
  float: left;
  padding: 0 .5em;
}

.hor_list a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.hor_list a:hover {
  text-decoration: underline;
}

.margin50 {
  margin-bottom: 50px;
}

.margin150 {
  margin-bottom: 150px;
}

.up {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.big {
  font-size: 1.1em;
}

span.form_update {
  display: none;
  color: red;
  font-weight: 700;
  margin-left: 15px;
  text-transform: uppercase;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

p {
  font-size: 16px;
  color: #676767;
  margin: 0 5px;
}

p.intro {
  text-align: justify;
}

p a {
  font-size: 16px;
  color: #676767;
  text-decoration: underline;
}

p a:hover {
  font-size: 16px;
  color: #676767;
  text-decoration: none;
}

.form_error {
  color: red;
  display: block;
}

.h3d {
  font-size: 14px;
  padding-right: 10px;
  position: relative;
  height: 33px;
  color: #fff;
  font-weight: 700;
  line-height: 33px;
  padding-left: 9px;
  margin-bottom: 10px;
}

.h3d a {
  color: #FFF;
}

.zov,
.zov2,
.zov.integral,
.zov.firstdisplay {
  background: transparent url(../img/formats.png) 0 0 no-repeat;
  height: 104px;
  margin-bottom: 11px;
  padding-bottom: 5px;
}

.zov2 {
  background: transparent url(../img/formats.png) 0 -120px no-repeat;
}

.zov.integral,
.zov.firstdisplay {
  background: transparent url(../img/formats.png) 0 -228px no-repeat;
}

.zov .text {
  padding-left: 10px;
  padding-bottom: 0;
  padding-right: 10px;
  height: 40px;
  font-size: 12px;
}

.zov .accept {
  background: url(../img/acc-dec.png?1) -412px -189px no-repeat;
  width: 233px;
  height: 27px;
  line-height: 27px;
  font-size: 12px;
  text-decoration: none;
  display: block;
  padding-left: 36px;
  margin: 9px auto auto;
}

.zov .close {
  float: right;
  cursor: pointer;
  width: 19px;
  height: 27px;
  margin-right: 12px;
}

.zov .help {
  float: right;
  cursor: pointer;
  width: 19px;
  height: 27px;
  margin-right: 2px;
}

.zov.integral .help,
.zov.firstdisplay .help {
  margin-right: 12px;
}

.zov .cpm {
  float: right;
  margin-right: 10px;
}

.zov .btncode,
.zov .btnconf {
  background: url(../img/acc-dec.png?1) -877px -96px;
  width: 160px;
  height: 28px;
  line-height: 28px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  float: right;
  text-align: center;
  color: #000;
}

.zov .btnconf {
  background: url(../img/acc-dec.png?1) -1043px -96px;
  width: 111px;
  margin-right: 5px;
}

.zov .nb {
  padding-left: 10px;
  height: 23px;
  line-height: 23px;
  color: #AFB0B4;
}

#iab-logo {
  float: right;
  margin-top: -50px;
  position: relative;
}

#ad6content,
#ad6contentBlog {
  width: 100%;
  background: #fff url(../img/header_bg_1.png) repeat-x;
  padding: 0 0 30px;
}

#ad6content .wrap,
#ad6contentBlog .wrap {
  width: 975px;
  background: #fff url(../img/header_bg_1.png) repeat-x;
  position: relative;
  min-height: 580px;
  margin: 0 auto;
}

#logo {
  float: left;
  width: 206px;
  height: 161px;
  margin: 0;
}

#menu {
  float: right;
  width: auto;
  height: 37px;
  margin: 14px 0 0;
}

#menu .item {
  float: left;
  height: 37px;
  background: url(../img/sprit_4.png?1) no-repeat -408px -254px;
  padding: 0 20px 0 35px;
}

#menu .sepa {
  float: left;
  width: 2px;
  height: 37px;
  background: url(../img/sprit_4.png?1) no-repeat -392px -254px;
}

#menu .sepa:first-child {
  background: url(../img/sprit_4.png?1) no-repeat -393px -254px;
}

#menu .slast {
  background: url(../img/sprit_4.png?1) no-repeat -391px -254px;
}

#menu .item .nosFormats {
  float: left;
  width: 92px;
  height: 16px;
  background: url(../img/sprit_4.png?1) no-repeat -392px -216px;
  margin: 13px 0 0;
}

#menu .item .editeurs {
  float: left;
  width: 63px;
  height: 16px;
  background: url(../img/sprit_4.png?1) no-repeat -510px -216px;
  margin: 13px 0 0;
}

#menu .item .annonceurs {
  float: left;
  width: 166px;
  height: 16px;
  background: url(../img/sprit_4.png?1) no-repeat -598px -216px;
  margin: 13px 0 0;
}

#menu .item .laSociete {
  float: left;
  width: 75px;
  height: 16px;
  background: url(../img/sprit_4.png?1) no-repeat -787px -216px;
  margin: 13px 0 0;
}

#menu ul {
  display: none;
  position: absolute;
  z-index: 160;
  background: #2e2e2e;
  margin: 8px 0 0 -35px;
  padding: 4px 5px 3px;
}

#menu #menu_ed {
  width: 130px;
}

#menu #menu_an {
  width: 212px;
}

#menu #menu_fo {
  width: 137px;
}

#menu #menu_so {
  width: 120px;
}

#menu li {
  height: 24px;
  list-style-type: none;
  border-bottom: 1px solid #3c3c3c;
}

#menu ul .last {
  border-bottom: none;
}

#menu li a {
  position: absolute;
  width: 195px;
  height: 24px;
  font-size: 14px;
  color: #fff;
  outline: none;
  padding: 4px 0 0 5px;
}

#menu li a:hover {
  color: #999;
}

#account_l {
  float: right;
  width: 560px;
  height: 45px;
  text-align: right;
  color: #fff;
  font-size: 11px;
  margin: 13px 0 0;
}

#account_l a {
  color: #fff;
  font-size: 11px;
  text-decoration: underline;
}

#account_l a:hover {
  text-decoration: none;
}

#menuC {
  float: right;
  width: 680px;
  height: 37px;
  margin: 0;
}

#menuC .home {
  float: left;
  display: block;
  width: 47px;
  height: 37px;
  background: url(../img/acc-dec.png?1) no-repeat -73px -47px;
}

#menuC .home:hover {
  background: url(../img/acc-dec.png?1) no-repeat -17px -47px;
}

#menuC .homeS {
  background: url(../img/acc-dec.png?1) no-repeat -17px -47px;
}

#menuC .button {
  float: left;
  display: block;
  width: 147px;
  height: 25px;
  text-align: center;
  background: url(../img/acc-dec.png?1) no-repeat -285px -47px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  outline: none;
  margin: 0 0 0 5px;
  padding: 12px 0 0;
}

#menuC .button:hover {
  text-decoration: none;
  background: url(../img/acc-dec.png?1) no-repeat -130px -47px;
}

#menuC .buttonS {
  text-decoration: none;
  background: url(../img/acc-dec.png?1) no-repeat -130px -47px;
}

#menuC .notif {
  float: right;
  display: block;
  width: 36px;
  height: 34px;
  background: url(../img/acc-dec.png?1) no-repeat -436px -47px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  padding: 3px 0 0 6px;
}

#menuC .notifN {
  float: right;
  display: block;
  width: 33px;
  height: 37px;
  background: url(../img/acc-dec.png?1) no-repeat -480px -47px;
}

#welcome {
  float: right;
  width: 565px;
  height: 30px;
  background: url(../img/sprit_4.png?1) no-repeat -392px -184px;
  margin: 25px 0 0;
}

#footer {
  width: 100%;
  min-width: 975px;
  min-height: 100px;
  background: url(../img/footer_bg_1.png) repeat-x;
}

#footer .wrap {
  width: 975px;
  margin: 0 auto;
}

#footer .column {
  float: left;
  width: 160px;
  font-size: 12px;
  color: #626262;
  line-height: 20px;
  margin: 0 30px 0 0;
  padding: 20px 0 0;
}

#footer .column .title {
  width: 116px;
  height: 23px;
  line-height: normal;
  font-weight: 700;
  font-size: 13px;
  color: #41a5e1;
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 6px;
  padding: 0 0 0 1px;
}

#footer .column a {
  font-size: 12px;
  color: #626262;
  line-height: 20px;
  text-decoration: none;
}

#footer .column a:hover {
  font-size: 12px;
  color: #626262;
  line-height: 20px;
  text-decoration: underline;
}

#diapo {
  position: relative;
  width: 975px;
  height: 268px;
  overflow: hidden;
}

#diapo .s {
  position: absolute;
  z-index: 94;
  width: 975px;
  height: 268px;
}

#diapo .m {
  position: absolute;
  z-index: 111;
  left: 815px;
  top: 90px;
}

#diapo .m .integral,
#diapo .m .slideIn,
#diapo .m .siteUnder,
#diapo .m .banner,
#diapo .m .footer {
  height: 29px;
  width: 137px;
  cursor: pointer;
  margin: 0 0 4px;
}

#diapo .s a {
  position: absolute;
  z-index: 105;
  top: 0;
  left: -40px;
  height: 268px;
  width: 850px;
}

#diapo .d .integral a {
  background: url(../img/tx_integral.png) no-repeat 0 100px;
}

#diapo .d .slideIn a {
  background: url(../img/tx_slidein.png) no-repeat 0 100px;
}

#diapo .d .siteUnder a {
  background: url(../img/tx_siteunder.png) no-repeat 0 100px;
}

#diapo .d .banner a {
  background: url(../img/tx_banner.png) no-repeat 0 100px;
}

#news {
  width: 975px;
  height: 83px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  margin: 25px 0 10px;
}

#news .n1 {
  float: left;
  width: 400px;
  font-size: 13px;
  color: #707070;
  margin: 18px 0 0 25px;
}

#news .n1 a {
  font-weight: 700;
  font-size: 13px;
  color: #707070;
  margin: 0 0 0 25px;
}

#news .n1 a:hover {
  text-decoration: underline;
}

#news .n2 {
  float: right;
  width: 95px;
  margin: 5px 2px 0 0;
}

#news .n2 .facebook {
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/sprit_4.png?1) no-repeat 0 0;
  margin: 0 2px 0 0;
}

#news .n2 .twitter {
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/sprit_4.png?1) no-repeat -30px 0;
  margin: 0 2px 0 0;
}

#news .n2 .rss {
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/sprit_4.png?1) no-repeat -60px 0;
}

#news .n2 .more {
  float: right;
  margin: 28px 1px 0 0;
}

#news .n2 .more a {
  font-size: 12px;
  color: #000;
  text-decoration: underline;
}

#news .n2 .more a:hover {
  text-decoration: none;
}

#onAir {
  position: relative;
  width: 973px;
  height: 74px;
  overflow: hidden;
  border: 1px solid #a2a2a2;
  margin: 16px auto 0;
}

#onAir .box {
  position: absolute;
  z-index: 99;
  width: 150px;
  height: 100px;
  background: url(../img/sprit_4.png?1) no-repeat -395px -320px;
  text-align: center;
  margin: 2px 10px 0 0;
}

#onAir .txt {
  position: absolute;
  z-index: 100;
  width: 131px;
  height: 74px;
  background: url(../img/sprit_4.png?1) no-repeat 0 -40px;
}

.c1 {
  width: 975px;
  height: 115px;
  margin: 7px 0 0;
}

.c1 .txt {
  float: left;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #5e5e5e;
  margin: 20px 0 0;
}

.c1 .txt .button {
  width: 102px;
  height: 27px;
  background: url(../img/sprit_4.png?1) no-repeat -395px -20px;
  margin: 6px 0 0;
}

.c1 .on {
  position: absolute;
  width: 974px;
  height: 115px;
}

.c1 .on .ad6 {
  display: block;
  float: left;
  width: 354px;
  height: 115px;
  margin: 0 0 0 8px;
}

.c1 .on .q6 {
  display: block;
  float: left;
  width: 295px;
  height: 115px;
}

.c1 .on .cpm {
  display: block;
  float: left;
  width: 306px;
  height: 115px;
  margin: 0 0 0 8px;
}

.c1 .right {
  float: left;
  width: 1px;
  height: 115px;
  background: url(../img/sprit_5.png) no-repeat -353px 0;
}

.c1 .iad6 {
  float: left;
  width: 354px;
  height: 115px;
  background: url(../img/sprit_5.png) no-repeat 0 0;
  margin: 0 0 0 9px;
}

.c1 .iad6 .img {
  float: left;
  width: 166px;
  height: 84px;
  background: url(../img/sprit_home.png) no-repeat -182px 0;
  margin: 10px 0 0 20px;
}

.c1 .iad6 .txt {
  float: right;
  margin: 10px 20px 0;
}

.c1 .iad6 .button {
  background: url(../img/inscription_btn.png) no-repeat 0 0;
  margin: 15px -3px 0;
}

.c1 .ifoo {
  float: left;
  width: 294px;
  height: 115px;
  background: url(../img/sprit_5.png) no-repeat 0 0;
}

.c1 .ifoo .img {
  float: left;
  width: 130px;
  height: 79px;
  background: url(../img/sprit_home.png) no-repeat 0 0;
  margin: 13px 0 0 14px;
}

.c1 .ifoo .txt {
  float: right;
  margin: 15px 13px 0;
}

.c1 .ifoo .button {
  background: url(../img/inscription_btn.png) no-repeat 0 0;
  margin: 8px -3px 0;
}

.c1 .iq6 {
  float: left;
  width: 297px;
  height: 115px;
  background: url(../img/sprit_5.png) no-repeat 0 0;
  margin: 0 0 0 8px;
}

.c1 .iq6 .img {
  float: left;
  width: 175px;
  height: 83px;
  background: url(../img/img_q6.png);
  margin: 15px 22px 0 18px;
}

.c1 .icpm {
  float: left;
  width: 305px;
  height: 115px;
  background: url(../img/sprit_5.png) no-repeat 0 0;
  margin: 0 0 0 10px;
}

.c1 .icpm .img {
  float: left;
  width: 128px;
  height: 87px;
  background: url(../img/sprit_home.png) no-repeat -387px 0;
  margin: 10px 0 0 21px;
}

.c1 .icpm .txt {
  float: right;
  margin: 13px 21px 0;
}

.c1 .icpm .button {
  margin: 14px -2px 0;
}

.c2 {
  float: left;
  width: 303px;
  height: 197px;
  background: url(../img/sprit_5.png) no-repeat 0 -120px;
  margin: 20px 5px 0 0;
}

.c2 .txt {
  font-size: 12px;
  color: #000;
  text-align: justify;
  margin: 13px 0 0 17px;
  padding: 0 17px 0 0;
}

.c2 a {
  color: #000;
  text-decoration: underline;
}

.c2 a:hover {
  text-decoration: none;
}

.c2 .author {
  display: block;
  color: #707070;
}

.c2 .ad6cquoi {
  width: 147px;
  height: 21px;
  background: url(../img/sprit_4.png?1) no-repeat -392px -120px;
  margin: 12px 0 0 17px;
}

.c2 .ilsenparlent {
  width: 143px;
  height: 21px;
  background: url(../img/sprit_4.png?1) no-repeat -392px -152px;
  margin: 12px 0 0 17px;
}

.c3 {
  position: relative;
  float: left;
  width: 359px;
  height: 198px;
  background: url(../img/sprit_5.png) no-repeat 0 -328px;
  margin: 19px 0 0;
}

.c3 .z1 {
  float: left;
  text-align: right;
  margin: 55px 0 0 20px;
}

.c3 .z1 .txt {
  font-size: 13px;
  color: #000;
  margin: 0 13px 0 0;
}

.c3 .z1 input {
  width: 92px;
  height: 24px;
  border: 1px solid #8c8c8c;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #707070;
  padding: 0 5px;
}

.c3 .z2 {
  float: left;
  width: 77px;
  height: 32px;
  margin: 82px 0 0 7px;
}

.c3 .z2 input {
  width: 77px;
  height: 32px;
  background: url(../img/sprit_4.png?1) no-repeat -395px -60px;
  border: 0;
  cursor: pointer;
}

.c3 .z3 {
  font-size: 10px;
  color: #000;
  margin: 0 0 0 135px;
}

.c3 .z4 {
  color: red;
  font-size: 11px;
  margin: 0 0 0 10px;
}

.c3 .z4 a {
  color: #5e5e5e;
  font-size: 12px;
  text-decoration: underline;
}

.c3 .z4 a:hover {
  color: #5e5e5e;
  font-size: 12px;
  text-decoration: none;
}

.c3 .z6 {
  margin: 50px 0 0 15px;
}

.c3 .z5 {
  position: absolute;
  z-index: 250;
  width: 357px;
  height: 35px;
  margin: 162px 0 0 1px;
}

.c3 #connected {
  font-size: 12px;
  margin: 50px 16px;
}

.c3 #return {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
}

.c3 #logout {
  display: block;
  float: right;
  margin-top: 45px;
  text-decoration: underline;
}

.c3 #logout span.icon {
  width: 11px;
  height: 17px;
  background: url(../img/acc-dec.png?1) no-repeat -1304px -171px;
  float: left;
  margin-right: 5px;
}

.c3 #return:hover,
.c3 #logout:hover {
  text-decoration: none;
}

#ariane {
  float: right;
  width: 765px;
  font-size: 12px;
  color: #000;
  margin: 22px 0 0;
}

#ariane a {
  font-size: 12px;
  color: #000;
}

#ariane a:hover {
  font-size: 12px;
  color: #000;
  text-decoration: underline;
}

#media_cgu p {
  color: #000;
}

#media_cgu a {
  font-size: 1em;
  color: #000;
}

.str {
  margin: 50px 0 0;
}

.str .s1 {
  float: left;
  width: 260px;
}

.str .s2 {
  float: left;
  width: 687px;
  margin: 0 0 0 15px;
  padding: 0 0 5px;
}

.str .s1Left {
  text-align: right;
  width: 230px;
  height: 143px;
}

.unNouveauRegardSurCeFormat {
  width: 230px;
  height: 143px;
}

.uneDiffusionStrictementMaitrisee {
  width: 218px;
  height: 143px;
}

.uneSourceDeRevenusGarantis {
  width: 229px;
  height: 143px;
}

.revenusEnPlusAssures {
  width: 141px;
  height: 144px;
}

.auPlusProcheDeVosBesoins {
  width: 229px;
  height: 145px;
}

.SoyezVraimentTranquille {
  width: 193px;
  height: 146px;
}

.unFormatQuiFaitSesPreuves {
  width: 183px;
  height: 145px;
}

.aVousDeJouer {
  width: 153px;
  height: 87px;
}

.demarrezMaintenant {
  width: 221px;
  height: 96px;
}

.repondreAVosBesoins {
  width: 204px;
  height: 95px;
}

.fondamentalementNovateur {
  width: 177px;
  height: 145px;
}

.adserverUltraPerformant {
  width: 202px;
  height: 145px;
}

.vosInterlocuteursPrincipaux {
  width: 240px;
  height: 115px;
}

.premiersPas {
  width: 260px;
  height: 200px;
}

.configurationSuperSimple {
  width: 260px;
  height: 200px;
}

.Unevisibiliteannonceuroptimale {
  width: 220px;
  height: 138px;
}

.Unenouvellesourcederevenusaucpm {
  width: 250px;
  height: 190px;
}

.str .s1Right {
  text-align: left;
}

.str .s2Left {
  border-left: 8px solid #626262;
}

.str .s2Right {
  border-right: 8px solid #626262;
  margin: 0 15px 0 0;
}

.str .s2 p {
  font-size: 15px;
  color: #000;
  text-align: justify;
  margin: 10px 0 0;
}

.str .s2 a {
  font-size: 15px;
  color: #000;
  text-decoration: underline;
}

.str .s2 a:hover {
  text-decoration: none;
}

.str .s2 .t1Left {
  float: left;
  width: 520px;
  margin: 0 0 0 20px;
}

.str .s2 .t1Right {
  float: right;
  width: 520px;
  margin: 0 20px 0 0;
}

.str .s2 .t2 {
  float: left;
}

.str .s2 .upgraph {
  width: 125px;
  height: 145px;
  background: url(../img/sprit_10.jpg) -0 0;
  margin: 0;
}

.str .s2 .start {
  width: 97px;
  height: 145px;
  background: url(../img/sprit_10.jpg) -128px 0;
  margin: 0 0 0 20px;
}

.str .s2 .pod1324 {
  width: 118px;
  height: 145px;
  background: url(../img/sprit_10.jpg) -238px 0;
  margin: 10px 0 0 20px;
}

.str .s2 .manLeft {
  width: 78px;
  height: 145px;
  background: url(../img/sprit_10.jpg) -385px 0;
  margin: 10px 0 0 25px;
}

.str .s2 .cochon {
  width: 68px;
  height: 108px;
  background: url(../img/sprit_6.png) 0 0;
  margin: 30px 0 0 25px;
}

.str .s2 .phoneman {
  width: 73px;
  height: 120px;
  background: url(../img/sprit_6.png) -80px 0;
  margin: 10px 0 0 20px;
}

.str .s2 .france {
  width: 100px;
  height: 119px;
  background: url(../img/sprit_6.png) -173px 0;
}

.str .s2 .cool {
  width: 110px;
  height: 96px;
  background: url(../img/sprit_6.png) -305px 0;
}

.str .s2 .suisse {
  width: 98px;
  height: 96px;
  background: url(../img/sprit_6.png) -450px 0;
}

.str .s2 .question {
  width: 82px;
  height: 143px;
  background: url(../img/sprit_6.png) 0 -135px;
  margin: 0 0 0 20px;
}

.str .s2 .parch {
  width: 88px;
  height: 122px;
  background: url(../img/sprit_6.png) -96px -150px;
  margin: 20px 0 0 20px;
}

.str .s2 .ideeman {
  width: 102px;
  height: 137px;
  background: url(../img/sprit_6.png) -202px -142px;
}

.str .s2 .smileys {
  width: 130px;
  height: 111px;
  background: url(../img/sprit_6.png) -320px -162px;
}

.str .s2 .cible {
  width: 102px;
  height: 87px;
  background: url(../img/sprit_6.png) -484px -135px;
  margin: 32px 0 0 30px;
}

.str .s2 .bouchon {
  width: 125px;
  height: 56px;
  background: url(../img/sprit_6.png) -470px -230px;
  margin: 50px 0 0 12px;
}

.str .s2 .engrenage {
  width: 96px;
  height: 93px;
  background: url(../img/sprit_6.png) 0 -291px;
  margin: 25px 0 0 30px;
}

.str .s2 .piece {
  width: 62px;
  height: 123px;
  background: url(../img/sprit_6.png) -649px 0;
  margin: 25px 0 0 30px;
}

.str .s2 .time {
  width: 91px;
  height: 91px;
  background: url(../img/sprit_6.png) -725px 0;
  margin: 25px 0 0 30px;
}

.str .s2 .one {
  width: 83px;
  height: 81px;
  background: url(../img/sprit_6.png) -597px -130px;
  margin: 0 0 0 30px;
}

.str .s2 .head {
  width: 90px;
  height: 101px;
  background: url(../img/sprit_6.png) -722px -114px;
  margin: 0 0 0 30px;
}

.str .s2 .graph {
  width: 134px;
  height: 84px;
  background: url(../img/sprit_6.png) -613px -219px;
  margin: 25px 2px 0 0;
}

.str .s2 .ange {
  width: 94px;
  height: 131px;
  background: url(../img/sprit_6.png) -401px -294px;
  margin: 10px 0 0;
}

.str .s2 .sifflet {
  width: 90px;
  height: 95px;
  background: url(../img/sprit_6.png) -510px -306px;
  margin: 10px 0 0 10px;
}

.str .s2 .t3 {
  float: left;
  width: 178px;
  height: 178px;
  margin: 0 0 10px 20px;
}

.str .s2 .franck {
  background: url(../img/team.png) 0 0;
}

.str .s2 .axel {
  background: url(../img/team.png) -179px 0;
}

.str .s2 .jp {
  background: url(../img/team.png) -358px 0;
}

.str .s2 .steph {
  background: url(../img/team.png) -537px 0;
}

.str .s2 .no-avatar {
  background: url(../img/no-avatar.jpg);
  width: 155px;
  height: 130px;
  background-size: 155px 140px;
}

.str .s2 .romain-fonnier {
  background: url(../img/avatars/romain_fonnier.png);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .renaud-miret {
  background: url(../img/avatars/renaud_miret.png);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .martin-leonard {
  background: url(../img/avatars/martin_leonard.png);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .adriano-ruiz {
  background: url(../img/avatars/adriano_ruiz.png);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .evan-giorno {
  background: url(../img/avatars/evan_giorno.png);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .victoria-majado {
  background: url(../img/avatars/victoria_majado.png);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .charles-coffre {
  background: url(../img/avatars/charles_coffre.png);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .allan-gery {
  background: url(../img/avatars/allan_gery.png);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .fazel-joseph {
  background: url(../img/avatars/fazel_joseph.png);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .anabel-karos {
  background: url(../img/avatars/anabel_karos.png);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .ivan-cuadro {
  background: url(../img/avatars/ivan_cuadro.png);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .elisabetta-castriota {
  background: url(../img/avatars/elisabetta_castriota.png);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .smyth-jules {
  background: url(../img/avatars/smyth_jules.JPG);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .yann-leconte {
  background: url(../img/avatars/yann_leconte.JPG);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .francois-catelas {
  background: url(../img/avatars/francois_catelas.JPG);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.str .s2 .maryam-saidi {
  background: url(../img/avatars/maryam_saidi.JPG);
  width: 155px;
  height: 140px;
  background-size: 155px 140px;
}

.intro-pole {
  text-align: justify;
  width: 903px;
}

.ad6-color {
  color: #1E90FF;
}

.str .s2 .ricardo {
  background: url(../img/team.png) -358px 0;
}

.str .s2 .allan {
  background: url(../img/team.png) -179px 0;
}

.str .s2 .clement {
  background: url(../img/team.png) 0 0;
}

.str .s2 .t4 {
  float: left;
  width: 455px;
  margin: 5px 0 0 15px;
}

.str2 {
  margin: 50px 0 0 170px;
}

.str2 .s1 {
  float: left;
  width: 480px;
  font-size: 16px;
  color: #000;
}

.str2 .s1 p.q {
  margin: 0 0 8px;
}

.str2 .s1 a {
  text-decoration: underline;
  color: #676767;
}

.str2 .s1 a:hover {
  text-decoration: none;
}

.str2 .s1 .gray {
  color: #676767;
}

.str2 .s2 {
  float: left;
  width: 90px;
  height: 120px;
  background: url(../img/sprit_6.png) -550px 0;
  margin: 50px 0 0;
}

.str3 {
  margin: 50px 0 0 70px;
}

.str3 .s1 {
  float: left;
  width: 163px;
  height: 157px;
  background: url(../img/sprit_6.png) -100px -285px;
}

.str3 .s2 {
  float: left;
  width: 565px;
  margin: 30px 0 0 70px;
}

.str3 .s2 p {
  font-size: 15px;
  color: #000;
  text-align: justify;
  margin: 10px 0 0;
}

.str4 {
  margin: 45px 0 0 23px;
}

.str4 .s1 {
  float: left;
  width: 198px;
  height: 175px;
  font-size: 16px;
  color: #717171;
  text-align: justify;
  margin: 10px 14px 15px;
  padding: 0 3px;
}

.str4 .s1 div {
  width: 204px;
  height: 53px;
  margin: 0 0 10px;
}

.str5 {
  margin: 0 0 30px;
}

.str5 .s1 {
  float: left;
  width: 100px;
  height: 170px;
  background: url(../img/sprit_6.png) no-repeat -286px -298px;
  margin: 0 60px 0 30px;
}

.str5 .s2 {
  float: left;
  width: 520px;
}

.str5 input,
.str5 textarea,
.str5 select {
  font-size: 17px;
  color: #3f3f3f;
}

.str5 .s2 .box {
  clear: left;
  width: 503px;
  border: 1px solid #000;
  margin: 10px 0;
  padding: 6px 6px 5px;
}

.str5 .s2 .box:first-child {
  margin-top: 0;
}

.str5 .s2 .text {
  width: 100%;
  border: 0;
}

.str5 .s2 .submit {
  width: 515px;
  height: 30px;
  margin: 10px 0 0;
}

.str5 .s2 textarea {
  width: 100%;
  height: 245px;
  border: 0;
}

.str5 .s3 {
  float: left;
  font-size: 18px;
  color: #000;
  margin: 0 0 0 40px;
}

.str6 {
  margin: 50px 0 0;
}

.str6 .s1 {
  float: left;
  width: 465px;
}

.str6 .s2 {
  float: left;
  width: 465px;
  margin: 0 0 0 40px;
}

.str6 .f {
  clear: right;
  width: 455px;
  min-height: 30px;
  text-align: right;
  padding: 6px 0 0;
}

.str6 label {
  float: left;
  font-size: 16px;
  color: #3f3f3f;
  margin: 6px 12px 0 0;
}

.str6 .box {
  float: right;
  width: 222px;
  border: 1px solid #000;
  font-size: 14px;
  color: #3f3f3f;
  padding: 3px;
}

.str6 .box2 {
  float: left;
  text-align: right;
  margin: 7px 10px 0 0;
}

.str6 a {
  color: #000;
  text-decoration: underline;
}

.str6 a:hover {
  color: #000;
  text-decoration: none;
}

.str6 .box input,
.str6 .box select {
  width: 100%;
  border: 0;
  font-size: 14px;
  color: #3f3f3f;
}

.str6 .box .url {
  width: 180px;
}

.str6 .box textarea {
  width: 99%;
  height: 93px;
  border: 0;
  font-size: 14px;
  color: #3f3f3f;
}

.str6 .submit {
  width: 229px;
  height: 30px;
}

.str7 {
  width: 580px;
  background: url(../img/sprit_6.png) no-repeat -870px 0;
  margin: 20px 0 20px 150px;
  padding: 0 0 0 110px;
}

.str7 p {
  font-size: 15px;
  color: #000;
  text-align: justify;
  margin: 10px 0 0;
}

.str8 {
  margin: 50px 0 100px;
}

.str8 .s1 {
  width: 975px;
  height: 60px;
  background: #e9e9e9;
  margin: 10px 0 0;
  padding: 7px 0 0;
}

.str8 .s1 img,
.str8 .s1 div {
  float: left;
  margin: 0 10px 0 20px;
}

.str8 .s1 div {
  margin-top: 3px;
}

.str8 .s1 h2 a {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-decoration: underline;
}

.str8 .s1 h2 a:hover {
  text-decoration: none;
}

.str8 .s1 p {
  font-size: 15px;
  color: #000;
  margin: 6px 0 0;
}

.str9 {
  margin: 50px 0 50px 180px;
}

.str9 .s1 {
  margin: 50px 0 0;
}

.str9 .s1 p {
  margin: 0 0 0 40px;
}

.str9 .s1 a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.str9 .s1 a:hover {
  text-decoration: underline;
}

.str10 {
  margin: 0 0 50px 50px;
}

.str10 .s1 h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

.str10 .s1 div {
  text-align: justify;
  margin: 0 0 0 100px;
}

.str10 .s1 div p {
  font-size: 16px;
  color: #000;
  margin: 15px 0 0;
}

.str10 .s1 div a {
  font-size: 16px;
  text-decoration: underline;
  color: #000;
}

.str10 .s1 div a:hover {
  text-decoration: none;
}

.str10 .s2 {
  margin: 30px 0 0 100px;
}

.str10 .s2 a {
  font-size: 16px;
  text-decoration: underline;
  color: #676767;
}

.str10 .s2 a:hover {
  text-decoration: none;
}

#btn_register {
  padding-top: 11px;
  margin-top: 25px;
  height: 64px;
  background: #e2f1f3;
}

#btn_register a {
  display: block;
  width: 298px;
  height: 54px;
  background: url(../img/sprit_4.png?1) no-repeat -10px -122px;
  margin: 0 auto;
}

.str11 .s2#contract {
  padding-top: 22px;
  padding-bottom: 22px;
}

.str11 .s2#contract p {
  padding-top: 0;
  padding-bottom: 0;
}

.str11 .s2#contract a {
  color: #000;
  font-size: 1em;
}

.str11 .s2#contract form {
  padding: 20px 10px 0;
}

.str11 .s2#contract form label {
  font-weight: 700;
  color: #41A5E1;
}

.str11 .s2#contract form #send_contract {
  display: block;
  width: 200px;
  margin: 10px 0 0 20px;
}

.str11 .s2#contract div p,
.str11 .s2#contract ul p {
  padding: 0;
}

.str11 .s2#contract #contract_error {
  margin-bottom: 20px;
  color: red;
  font-weight: 700;
}

.str11 .s2 table {
  width: 964px;
  border: 0;
}

.str11 .s2 table td {
  font-size: 12px;
  height: 28px;
  padding: 0 16px;
}

.str11 .s2 table .head {
  font-size: 13px;
  font-weight: 700;
  background: #d2d2d2;
}

.str11 .s2 table .bleft {
  border-left: 1px solid #dfe4e8;
}

.str11 .s2 table .stats_date,
.str11 .s2 table .stats_date_up,
.str11 .s2 table .date,
.str11 .s2 table .total {
  font-weight: 700;
  border-top: 1px solid #dfe4e8;
}

.str11 .s2 table .stats_date,
.str11 .s2 table .stats_date_up {
  padding-left: 38px;
}

.str11 .s2 table .total {
  background: #f5fafc;
  font-size: 14px;
  border-top: 2px solid #D2D2D2;
}

.str11 .s2 table .stats_date {
  background: url(../img/acc-dec.png?1) no-repeat -1396px -102px;
}

.str11 .s2 table .stats_date_up {
  background: url(../img/acc-dec.png?1) no-repeat -1396px -134px;
}

.str11 .s2 table .stats_date_up,
.str11 .s2 table .stats_date:hover {
  text-decoration: underline;
  cursor: pointer;
}

.str11 .s2 table .format {
  height: 20px;
  font-size: 11px;
  font-weight: 700;
  text-align: right;
  border-top: 1px solid #dfe4e8;
}

.str11 .s2 table .nbs,
.str11 .s2 table .nbsFormat,
.str11 .s2 table .nbsTotal {
  text-align: right;
  border-top: 1px solid #dfe4e8;
  border-left: 1px solid #dfe4e8;
}

.str11 .s2 table .nbsTotal {
  font-weight: 700;
  border-top: 2px solid #D2D2D2;
}

.str11 .s2 table .nbsFormat {
  height: 20px;
  font-size: 11px;
}

.str11 .s2 table .formats {
  margin: 0;
  padding: 0;
}

.str11 .s2 table .defaut {
  background: #f5fafc;
}

.str11 .s2 table .color1 {
  background: #eaf3f8;
}

.str11 .s2 table .color2 {
  background: #d9d9d9;
}

.str11 .s2 table .color3 {
  background: #e4e4e4;
}

.str11 .s2 table .more {
  display: block;
  width: 11px;
  height: 11px;
  background: url(../img/acc-dec.png?1) no-repeat -1163px -164px;
}

.str11 #stats_pagination {
  float: right;
  margin: 0;
  padding: 10px 14px;
}

.str11 #stats_pagination,
.str11 #stats_pagination a {
  font-size: 12px;
  color: #000;
}

.align_img {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.str11 .s1 .newSite {
  float: right;
  width: 218px;
  height: 28px;
  background: url(../img/acc-dec.png?1) no-repeat -1161px -132px;
  margin: -4px 10px 0 0;
}

.str11 .s2 #siteform form fieldset {
  width: 450px;
  float: left;
  border: none;
}

.str11 .s2 #siteform form p {
  padding: 5px 0;
}

.str11 .s2 #siteform label {
  clear: both;
  width: 220px;
  margin-top: 4px;
}

#siteform input[type=text],
#siteform input[type=password],
#siteform input[type=file],
#siteform textarea {
  width: 200px;
}

#siteform #sub_category {
  width: 200px;
}

#siteform .button_1 {
  margin: 0 20px 10px 0;
}

.str11 .s2 #message_sub {
  display: block;
  padding: 7px 20px;
}

.button_payment,
.button_payment:hover {
  background: url(../img/acc-dec.png?1) no-repeat scroll -688px -189px transparent;
  display: block;
  font-size: 12px;
  height: 30px;
  line-height: 28px;
  padding-left: 38px;
  text-decoration: none;
  width: 158px;
  color: #000;
}

.str11#invoices	h3 {
  font-size: 12px;
  margin-left: 20px;
  padding-top: 10px;
}

.str11#invoices table a {
  text-decoration: underline;
}

.str11#invoices table a:hover {
  text-decoration: none;
}

.underlined {
  text-decoration: underline;
}

.underlined:hover {
  text-decoration: none;
}

.str11#invoices #gain_validated,
.str11#webservice #webservice_content {
  margin-left: 10px;
}

.button_1 {
  display: block;
  width: 103px;
  height: 21px;
  background: url(../img/acc-dec.png?1) no-repeat -1043px -96px;
  text-align: center;
  color: #000;
  font-size: 11px;
  padding: 8px 0 0 8px;
}

.str12 {
  width: 975px;
  margin: 80px 0 0;
}

.str12 .s1 {
  float: left;
  width: 150px;
  text-align: right;
  color: #000;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 700;
  padding: 105px 0 0;
}

.str12 .t1 {
  background: url(../img/sprit_9.png) no-repeat 60px 0;
}

.str12 .t2 {
  background: url(../img/sprit_9.png) no-repeat -103px 0;
}

.str12 .t3 {
  background: url(../img/sprit_9.png) no-repeat -266px 0;
}

.str12 .t4 {
  background: url(../img/sprit_9.png) no-repeat -429px 0;
}

.str12 .t5 {
  background: url(../img/sprit_9.png) no-repeat -592px 0;
}

.str12 .t6 {
  background: url(../img/sprit_9.png) no-repeat -755px 0;
}

.str12 .s2 {
  float: left;
  width: 760px;
  border-left: 8px solid #bc1d1d;
  margin: 0 0 0 15px;
  padding: 0 0 0 25px;
}

.str12 .s2 p {
  font-size: 17px;
  font-style: italic;
}

.str12 .s2 .redA {
  color: #b81c1b;
  font-family: Helvetica, Arial;
  font-size: 27px;
  font-weight: 700;
  text-decoration: underline;
}

.str12 .s2 .greenA {
  color: #7f9c1b;
  font-family: Helvetica, Arial;
  font-size: 27px;
  font-weight: 700;
  text-decoration: underline;
  margin: 20px 0 0;
}

.str12 .s2 .greenB {
  color: #7f9c1b;
  font-size: 17px;
  font-weight: 700;
  margin: 5px;
}

.str13 {
  margin: 40px 0 0;
}

.str13 .s1 {
  width: 905px;
  background: #e9e9e9;
  margin: 20px 0 0;
  padding: 35px;
}

.str13 h2 {
  font-size: 19px;
  font-weight: 700;
  color: #000;
  text-decoration: underline;
  margin: 0 0 5px;
}

.str13 h2 a:hover {
  text-decoration: none;
}

.str13 .date {
  font-size: 15px;
  color: #676767;
  font-weight: 400;
}

.str13 #jobs {
  font-size: 15px;
  color: #000;
  margin: 15px 0 0;
}

#jobs p {
  color: #000;
}

.str13 p a {
  font-size: 15px;
  color: #676767;
  text-decoration: underline;
}

.str13 p a:hover {
  text-decoration: none;
}

.s1 > .rss {
  font-size: 11px;
  color: #FFF;
  padding-right: 17px;
  line-height: 17px;
  position: absolute;
  right: 0;
}

.s1 > .rss span {
  display: block;
  float: left;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background: url(../img/acc-dec.png?1) -1160px -168px;
  margin-left: 4px;
  font-size: 10px;
}

.s1>.rss:hover {
  text-decoration: underline;
}

.str11 {
  width: 975px;
  margin: 0;
}

.str11 .s1 {
  width: 960px;
  height: 25px;
  background: url(../img/sprit_8.png) no-repeat -8px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 21px 0 0 15px;
}

.str11 .s2 {
  background: url(../img/wrap_bg_1.png) repeat-y;
  color: #000;
  font-size: 12px;
  clear: both;
  padding: 0 5px;
}

.str11 .s2 p {
  font-size: 12px;
  color: #000;
  padding: 15px 10px;
}

.str11 .s3 {
  clear: left;
  width: 965px;
  background: url(../img/wrap_bg_2.png) repeat-y;
  text-align: right;
  padding: 5px;
}

.str11 .s3 .left {
  float: left;
  color: red;
  font-size: 14px;
  font-weight: 700;
  margin: 7px 0 0 40px;
}

.str11 .small_s3 .left {
  float: left;
  color: red;
  font-size: 14px;
  font-weight: 700;
  margin: 7px 0 0 40px;
}

.str11 .s3 .right {
  float: right;
  margin: 0 20px 0 0;
}

.str11 .s4 {
  width: 975px;
  height: 19px;
  background: url(../img/sprit_8.png) no-repeat -8px -49px;
}

.str11 .small_s1 {
  width: 960px;
  height: 25px;
  background: url(../img/small_wrap_bg_0.png) no-repeat 0 0;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 11px 0 0 15px;
}

.str11 .small_s2 {
  background: url(../img/small_wrap_bg_1.png) repeat-y;
  color: #000;
  font-size: 12px;
  clear: both;
  padding: 0 5px;
}

.str11 .small_s3 {
  clear: left;
  background: url(../img/small_wrap_bg_2.png) repeat-y;
  text-align: right;
  padding: 5px 20px 1px 5px;
}

.str11 .small_s4 {
  width: 975px;
  height: 19px;
  background: url(../img/small_wrap_bg_3.png) no-repeat 0 0;
}

.str11 #affiliate_update .s2 fieldset {
  float: left;
  border: none;
  width: 460px;
}

.str11 #affiliate_update .s2 fieldset p {
  padding: 5px 0;
}

.str11 #affiliate_update label {
  margin-top: 4px;
  width: 200px;
}

#affiliate_update input[type=text],
#affiliate_update input[type=password],
#affiliate_update input[type=file],
#affiliate_update textarea {
  width: 220px;
}

.str11 #campaign .s2 fieldset p {
  padding: 5px 0;
}

.str11 #campaign label {
  margin-top: 4px;
  width: 200px;
}

#campaign input[type=text],
#campaign input[type=password],
#campaign input[type=file] {
  width: 220px;
}

#campaign textarea {
  width: 220px;
  height: 100px;
}

#cal_1,
#cal_2 {
  margin-left: 10px;
}

.str11 #banner .s2 fieldset p {
  padding: 5px 0;
}

.str11 #banner label {
  margin-top: 4px;
  width: 200px;
}

#banner input[type=text],
#banner input[type=password],
#banner input[type=file] {
  width: 220px;
}

#banner textarea {
  width: 220px;
  height: 100px;
}

#achat_credits #banner p {
  margin: 0 0 20px;
  padding: 0;
}

#achat_credits #banner #credits {
  width: 55px;
}

.str11 #banner div {
  height: 35px;
}

.str11 #media_form .s2 fieldset p {
  padding: 5px 0;
}

.str11 #media_form label {
  margin-top: 4px;
  width: 200px;
}

#media_form input[type=text],
#media_form input[type=password],
#media_form input[type=file] {
  width: 220px;
}

#media_form textarea {
  width: 220px;
  height: 100px;
}

#conteneur_form_banner #zone_message {
  display: block;
  background: #e7f09d;
  width: 950px;
  margin-bottom: 15px;
  color: red;
  font-weight: 700;
  text-transform: uppercase;
}

#liste_campagnes #zone_message {
  display: block;
  background: #e7f09d;
  width: 970px;
  color: red;
  font-weight: 700;
  text-transform: uppercase;
}

#preview {
  position: absolute;
  border: 1px solid #ccc;
  background: #333;
  display: none;
  color: #fff;
  padding: 5px;
}

.f_sb {
  border: none;
  padding: 20px;
}

.img_print {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.paiement_mode {
  float: left;
  border: 1px solid silver;
  width: 270px;
  margin: 20px 0 20px 139px;
}

.t_paiement_mode {
  background: url(../img/sprites_w1px.png) repeat-x scroll 0 -126px #DDD;
  font-weight: 700!important;
  height: 23px;
  line-height: 23px;
  padding-left: 5px;
}

.paiement_mode p,
.paiement_mode a.select_payment {
  font-size: 13px!important;
  text-align: center!important;
  display: block;
  margin: 0;
  padding: 15px 0!important;
}

.paiement_mode a.select_payment {
  text-decoration: underline;
  font-weight: 700;
}

.paiement_mode a.select_payment:hover {
  cursor: pointer;
}

#paiement_logos {
  text-align: center;
  margin-bottom: 20px;
  border: none;
}

.str14 {
  float: left;
  width: 723px;
  margin: 0;
}

.str14 .s1 {
  position: relative;
  width: 708px;
  height: 25px;
  background: url(../img/sprit_8.png) no-repeat -8px -75px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 12px 0 0 15px;
}

.str14 .s2 {
  width: 723px;
  background: url(../img/wrap_bg_3.png) repeat-y;
  color: #000;
  font-size: 12px;
  padding: 0 5px;
}

.str14 .s3 {
  width: 723px;
  background: url(../img/wrap_bg_3.png) repeat-y;
  text-align: right;
  padding: 5px;
}

.str14 .s4 {
  width: 721px;
  height: 19px;
  background: url(../img/sprit_8.png) no-repeat -8px -115px;
}

.str15 {
  float: right;
  width: 240px;
  margin: 0;
}

.str15 .s1 {
  width: 225px;
  height: 25px;
  background: url(../img/sprit_8.png) no-repeat -8px -134px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 12px 0 0 15px;
}

.str15 .s2 {
  width: 230px;
  background: url(../img/wrap_bg_4.png) repeat-y;
  color: #000;
  font-size: 12px;
  padding: 0 5px;
}

.str15 .s3 {
  width: 230px;
  background: url(../img/wrap_bg_4.png) repeat-y;
  text-align: right;
  padding: 5px;
}

.str15 .s4 {
  width: 240px;
  height: 19px;
  background: url(../img/sprit_8.png) no-repeat -8px -174px;
}

#formats .sidebar {
  width: 186px;
  margin-left: 3px;
}

#formats #filters {
  background: #858585;
  margin-bottom: 10px;
  border: none;
  width: 184px;
  padding: 0;
}

#formats #filters h3 {
  font-size: 14px;
  height: 35px;
  line-height: 32px;
  color: #fff;
  padding-left: 27px;
  background: url(../img/acc-dec.png?1) -535px -47px;
  width: 157px;
}

#formats #filters p {
  height: 26px;
  margin: 0 0 0 15px;
}

#formats #filters label {
  color: #FFF;
  font-size: 11px;
}

.site-select {
  border: none;
  position: absolute;
  right: 2px;
  z-index: 10;
}

#programs {
  background-color: #3BA3E0;
  position: absolute;
  z-index: 1;
  top: 28px;
  display: none;
  border: 1px solid #000;
  padding: 8px;
}

#programs div {
  background: url(../img/acc-dec.png?1) -414px -131px;
  height: 40px;
  margin-bottom: 6px;
  padding: 4px;
}

#programs div span {
  padding-left: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #424242;
  width: 103px;
  float: left;
}

#programs div p {
  display: block;
  font-size: 11px;
  width: 524px;
  float: left;
  color: #656565;
  text-align: justify;
  margin: 0;
  padding: 0 6px 0 0;
}

#programs div a {
  background: url(../img/acc-dec.png?1) -1047px -99px;
  display: block;
  float: left;
  font-size: 12px;
  text-decoration: none;
  width: 57px;
  border: 1px solid #3698D5;
  margin-top: 8px;
  margin-right: 5px;
  color: #000;
  padding: 4px 6px 3px 23px;
}

#add_zone {
  background: url(../img/acc-dec.png?1) -912px -46px;
  width: 218px;
  height: 28px;
  display: block;
  margin-bottom: 15px;
}

#add_zone.o {
  background: url(../img/acc-dec.png?1) -1182px -46px;
}

#resultat_campagnes {
  width: 768px;
  position: relative;
}

.str11 .graph {
  height: 280px;
  padding-top: 10px;
}

.str11 label a {
  text-decoration: underline;
}

.str11 .help {
  font-weight: 700;
  color: #41A5E1;
  text-decoration: none;
  cursor: help;
  background: url(../img/acc-dec.png?1) -1255px -169px;
  padding: 1px 9px;
}

#stats_graph_container {
  width: 910px;
  margin-left: 32px;
  position: relative;
}

#stats_graph_container fieldset {
  border: none;
  margin-bottom: 5px;
}

#graph_legend {
  position: relative;
  margin: 3px 0 0 18px;
  padding: 0;
}

#graph_legend span {
  float: left;
  margin: 0 5px;
}

#graph_legend .redline {
  display: block;
  width: 14px;
  height: 5px;
  background: #008AD9;
  margin-top: 5px;
}

#graph_legend .orangeline {
  display: block;
  width: 14px;
  height: 5px;
  background: #e68900;
  margin-top: 5px;
}

#jour {
  position: absolute;
  top: 248px;
  right: 0;
  font-size: 10px;
}

#key_numbers {
  padding-top: 5px;
}

#key_numbers ul {
  list-style: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#key_numbers ul li {
  padding: 2px 0;
}

#key_numbers p {
  font-size: 12px;
}

#key_numbers #last_payment {
  padding-top: 10px;
  font-size: 12px;
}

#detailed_stats fieldset {
  border: none;
  padding: 10px 25px;
}

#detailed_stats fieldset select,
#detailed_stats fieldset img {
  margin-right: 8px;
}

#detailed_stats fieldset #year {
  display: none;
  width: 80px;
}

#detailed_stats #export_csv {
  background: url(../img/acc-dec.png?1) no-repeat -1178px -167px;
  display: block;
  padding-left: 22px;
  width: 60px;
  line-height: 20px;
  text-decoration: none;
  padding-bottom: 7px;
  margin: 7px 0 0 18px;
}

#detailed_stats #export_csv:hover {
  text-decoration: underline;
}

.str16 {
  display: block;
  padding: 12px 0 0;
}

.str16 ul {
  width: 940px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.str16 li {
  line-height: 20px;
  border-top: 1px solid #EFEFEF;
  margin: 5px 0 0 10px;
  padding: 13px 20px 7px 39px;
}

.str16 li:first-child {
  border-top: none;
  padding-top: 0;
}

.str16 li a {
  text-decoration: underline;
}

.str16 li a:hover {
  text-decoration: none;
}

.date {
  font-weight: 700;
}

.str16 .time,
.str16 .date {
  color: #47B8F9;
}

.str16 .bluearrow {
  background: url(../img/icon_list_bluearrow.gif) 0 9px no-repeat;
}

.str16 .check {
  background: url(../img/icon_list_check.gif) 0 9px no-repeat;
}

.str16 .plus {
  background: url(../img/icon_list_plus.gif) 0 9px no-repeat;
}

.str16 .minus {
  background: url(../img/icon_list_minus.gif) 0 9px no-repeat;
}

.str16 li:first-child.bluearrow,
.str16 li:first-child.check,
.str16 li:first-child.plus,
.str16 li:first-child.minus {
  background-position: 0 -4px;
}

.str16 li.contenu_message,
.str16 li.repondre_message {
  border: 0;
}

#webservice #zone_message,
#campagne #zone_message {
  display: block;
  background: #e7f09d;
  width: 913px;
  color: #333037;
  margin-bottom: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 7px 9px;
}

#campagne #form_zone_name,
#campagne #form_footer_offer,
#campagne #form_banner_format,
#campagne #form_banner_cpm,
#campagne #form_dfp {
  margin: 7px 0 7px 7px;
}

#campagne #form_zone_name label,
#campagne #form_banner_format label,
#campagne #form_footer_offer label,
#campagne #form_banner_cpm label,
#campagne #form_dfp label {
  display: block;
  width: 130px;
  float: left;
  line-height: 24px;
  font-size: 13px;
}

#campagne #form_zone_name input {
  border: 1px solid #000;
  width: 230px;
  padding: 3px;
}

#campagne #form_footer_offer select,
#campagne #form_banner_format select,
#campagne #form_banner_cpm select {
  border: 1px solid #000;
  width: 237px;
  padding: 3px;
}

#campagne #form_dfp #dfp {
  vertical-align: bottom;
  margin: 5px 0 0;
}

#campagne #old_code {
  margin-top: 20px;
  margin-left: 7px;
}

#campagne #old_code label {
  float: left;
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

#campagne .old_code {
  margin-top: 20px;
}

#campagne #form_checkbox {
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 4px;
  font-size: 13px;
}

#campagne #form_checkbox input {
  margin-top: 4px;
}

#campagne #update_cancel,
#campagne #update_zone_submit {
  margin-left: 4px;
  width: 226px;
  height: 28px;
}

.summary {
  width: 229px;
  font-size: 10px;
  background: #eaf3f8;
  text-align: center;
}

.summary td {
  border-left: 1px solid #dfe4e8;
  border-top: 1px solid #dfe4e8;
  height: 22px;
}

.summary td:first-child {
  border-left: 0;
  font-weight: 700;
}

.summary tr:first-child {
  font-weight: 700;
  font-size: 11px;
  background: #d2d2d2;
  border-top: 0;
}

.all_stats {
  color: #000;
  font-weight: 700;
  font-size: 11px;
  text-decoration: underline;
  margin: 5px;
}

.all_stats:hover {
  text-decoration: none;
}

.ws_active {
  background: url(/img/logos/check21.gif) 0 4px no-repeat;
  height: 17px;
}

.ws_off {
  background: url(/img/logos/check21.gif) 0 -28px no-repeat;
  height: 17px;
}

#help_me {
  background: url(../img/acc-dec.png?1) -2px -99px;
  height: 71px;
  margin-top: 16px;
  color: #707070;
  padding-top: 60px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 12px;
}

.tipsy {
  font-size: 13px;
  background-repeat: no-repeat;
  background-image: url(../img/tipsy.gif);
  padding: 5px;
}

.tipsy-inner {
  background-color: #40a3e1;
  color: #FFF;
  max-width: 265px;
  text-align: justify;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px 8px 4px;
}

.tipsy-north {
  background-position: top center;
}

.tipsy-south {
  background-position: bottom center;
}

.tipsy-east {
  background-position: right center;
}

.tipsy-west {
  background-position: left center;
}

#lang {
  background: none repeat scroll 0 0 #E2E2E2;
  border: 1px solid #909090;
  color: #333;
  cursor: pointer;
  float: right;
  font: 11px Arial;
  height: 18px;
  position: relative;
  width: 170px;
  margin: 20px 0 0;
  padding: 4px 15px 0;
}

#lang_empty {
  float: right;
  height: 20px;
  position: relative;
  width: 170px;
  margin: 20px 0 0;
  padding: 4px 15px 0;
}

#lang .flag {
  background: url(../img/sprit_4.png) no-repeat scroll -521px -22px transparent;
  height: 22px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}

#lang ul {
  z-index: 9999;
  border-bottom: 1px solid #909090;
  border-left: 1px solid #909090;
  border-right: 1px solid #909090;
  position: absolute;
  visibility: hidden;
  width: 100%;
  margin: 5px 0 0 -16px;
  padding: 0;
}

#lang ul li {
  list-style-type: none;
}

#lang li a {
  background: none repeat scroll 0 0 #E2E2E2;
  color: #333;
  display: block;
  font: 13px Arial;
  width: 195px;
  padding: 4px 0 4px 5px;
}

#lang li a:hover {
  background: none repeat scroll 0 0 #E9E9E9;
}

#home_bt {
  width: 975px;
  margin: 10px 0 20px;
}

#home_bt a {
  display: inline-block;
  height: 38px;
  width: 320px;
  margin: 0 0 0 4px;
}

#home_bt a:first-child {
  margin: 0;
}

#footer .interna_wrap {
  color: #383838;
  font: 12px Arial;
  text-align: center;
  padding: 20px 0 0;
}

.add_campain_b {
  background: url(../img/acc-dec.png?6) -414px -223px;
  width: 218px;
  height: 28px;
  line-height: 28px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  float: right;
  text-align: center;
  color: #000;
  margin: -5px 10px 0 0;
}

.add_campain_b:hover {
  text-decoration: underline;
}

#budget_table input[type=text] {
  border: 0;
  border-bottom: 1px dotted;
  width: 100px;
}

#budget_table .cell_center,
#cpm_table .cell_center {
  text-align: center;
}

#budget_table .cell_left,
#cpm_table .cell_left {
  text-align: left;
}

#budget_table .cell_right,
#cpm_table .cell_right {
  text-align: right;
}

#budget_table .first_cell {
  border: 1px solid;
  border-left: 0;
  font-weight: bolder;
  background-color: #ddd;
}

#budget_table .total_cell,
#cpm_table .total_cell {
  border-right: 1px solid;
  border-bottom: 1px solid;
}

#budget_table .total_cumul {
  border-right: 1px solid;
  border-bottom: 1px solid;
  font-weight: bolder;
  background-color: #ddd;
}

#cpm_table .first_cell {
  border: 1px solid;
  border-top: 0;
  font-weight: bolder;
  background-color: #ddd;
}

.activate_action {
  background: url(/img/check.gif) no-repeat scroll center 3px;
  display: block;
  height: 20px;
  padding-top: 3px;
  text-align: center;
  width: 20px;
  float: right;
}

.disabled_action {
  background: url(/img/check.gif) no-repeat scroll center -32px;
  display: block;
  height: 20px;
  padding-top: 3px;
  text-align: center;
  width: 20px;
  float: right;
}

#clusters {
  position: relative;
}

#suggest_clusters {
  max-height: 300px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 29px;
  background: #FFF;
  color: #656565;
  border: 1px solid #b1b1b1;
  z-index: 2000;
  overflow: auto;
  margin: 0;
  padding: 0;
}

#suggest_clusters ul {
  list-style-type: none;
  color: #000;
  margin: 0;
  padding: 0;
}

#suggest_clusters li {
  line-height: 26px;
  text-align: left;
  margin: 0;
}

#suggest_clusters>li span {
  padding-left: 10px;
}

#suggest_clusters ul>li {
  background: url(/img/images-adserver/search-demarcation.gif);
}

#suggest_clusters ul>li span {
  padding-left: 10px;
}

#suggest_clusters ul ul li {
  display: block;
  background: #fff;
  margin-bottom: 0;
  position: relative;
}

#suggest_clusters ul ul li a {
  display: block;
  text-decoration: none;
  padding: 0 80px 0 10px;
}

#suggest_clusters ul ul li span {
  padding-right: 10px;
}

#suggest_clusters ul ul li:hover {
  background: url(/img/images-adserver/fond-search-highlighted.gif);
}

#editors_add_clusters {
  position: relative;
}

#editors_add_clusters #add_clusters_txt {
  position: relative;
}

#editors_add_clusters #suggest_clusters {
  max-height: 180px;
  top: 34px!important;
  width: 280px!important;
}

.r_cluster {
  line-height: 24px;
  background: #4fa5ff;
  padding-left: 8px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 3px;
}

.r_cluster:first-letter {
  text-transform: uppercase;
}

.r_cluster span {
  float: right;
  margin-right: 6px;
}

.editors .r_cluster {
  line-height: 18px;
  font-size: 12px;
  margin: 2px 10px 2px 0;
}

.class_close {
  cursor: pointer;
}

ol.bold.big span {
  font-weight: 400;
}

ol.bold.big li {
  margin-bottom: 20px;
}

ol.bold.big li div.img {
  text-align: center;
}

ol.bold.big li ul li {
  margin-bottom: 0;
  list-style-type: disc;
}

#fu_queue {
  margin-left: 5px;
}

#fu_queue .qq-upload-success {
  background-color: #E5E5E5;
}