@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

@-webkit-keyframes nav-transition {
  0% {
    height: 52px;
  }

  100% {
    height: auto;
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: .8125em;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: #005aa7;
}

a:hover,
a:focus {
  color: gray;
}

a.anchorTitle,
a.anchorTitle:hover {
  color: #0068c1;
}

h1,
h2,
h3,
h4 {
  padding: 0 0 6px 0;
}

h1 {
  font-size: 1.8125em;
  color: #0068c1;
}

h2 {
  font-size: 1.5125em;
  color: #0068c1;
}

h3 {
  font-size: 1.3125em;
}

h4 {
  font-size: 1.1125em;
}

.H2wTR {
  float: left;
}

.allcaps {
  text-transform: uppercase;
}

p {
  padding: 0 0 .7em 0;
}

b,
strong {
  font-weight: bold;
}

.grid {
  display: block;
  padding: 0;
  margin: 0 -10px;
  text-align: left;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  text-rendering: optimizespeed;
}

.grid-cell {
  width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  vertical-align: top;
  text-align: left;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
}

.module {
  margin-bottom: 18px;
  padding: 9px;
}

.module .moduleActionClass {
  float: right;
  display: inline-block;
}

.module .moduleActionClass .currency-wrapper {
  width: 218px;
}

.module .moduleActionClass .currency-wrapper input {
  width: 100%;
}

.modAlt {
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.modAltLn {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.modFtr {
  text-align: center;
  clear: both;
}

.aFtrRight {
  float: right;
  border-bottom: 1px dotted #CCC;
  width: 96%;
}

.aFtrRight a {
  margin-bottom: -8px;
  padding: 0 15px;
  float: right;
  background-color: #FFF;
}

.aFtrLeft {
  border-bottom: 1px dotted #ccc;
  display: inline-block;
  padding: 0 30px;
}

.aFtrLeft a {
  background-color: #fff;
  display: block;
  margin-bottom: -8px;
  padding: 0 5px;
}

.adFooter {
  padding-bottom: 0;
}

.uccHomeTextAd {
  margin-bottom: -6px;
  min-height: 43px;
}

.uccOutTextAd {
  margin-top: -38px;
  min-height: 43px;
}

.uccInTextAd {
  margin-top: -38px;
  min-height: 43px;
}

.middleAd {
  padding: 9px 5px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.topRModule {
  font-size: .8em;
  float: right;
  text-transform: uppercase;
  position: relative;
}

.clearLeft {
  clear: left;
}

.clearRight {
  clear: right;
}

.clearBoth {
  clear: both;
}

.button {
  background-color: #0075da;
  border: 0 none;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  vertical-align: middle;
}

.up {
  color: #0C0;
}

.dwn {
  color: #C00;
}

.ccInfo,
.ccInfo2 {
  width: 50%;
  float: left;
}

.flgBx {
  clear: both;
  display: block;
  height: 20px;
  margin: 1px auto;
  width: 24px;
}

.flgBxPAD {
  clear: both;
  display: block;
  margin: 1px auto;
  padding-top: 15px;
  padding-bottom: 2px;
  text-align: center;
  width: 24px;
}

.flgBxPOP {
  clear: both;
  display: block;
  float: left;
  height: 20px;
  margin-right: 8px;
  padding-top: 2px;
  width: 24px;
}

.flgSprt {
  background: url("http://s.xe.com/v2/themes/xe/images/sprite_global.png") no-repeat scroll 0 0 transparent;
}

.fUSD {
  background-position: 4px -52px;
}

.fEUR {
  background-position: -17px -52px;
}

.fGBP {
  background-position: -38px -52px;
}

.fINR {
  background-position: -59px -52px;
}

.fAUD {
  background-position: -80px -52px;
}

.fCAD {
  background-position: -101px -52px;
}

.fZAR {
  background-position: -122px -52px;
}

.fNZD {
  background-position: -143px -52px;
}

.fJPY {
  background-position: -164px -52px;
}

.fCNY {
  background-position: -227px -52px;
}

.fCHF {
  background-position: -206px -52px;
}

.fMYR {
  background-position: -248px -52px;
}

.fTHB {
  background-position: -269px -52px;
}

.fSGD {
  background-position: -332px -52px;
}

.fSAR {
  background-position: -290px -52px;
}

.fAED {
  background-position: -185px -52px;
}

.fPHP {
  background-position: -311px -52px;
}

.fTRY {
  background-position: -353px -52px;
}

.fHKD {
  background-position: -374px -52px;
}

.fMXN {
  background-position: -395px -52px;
}

header .topbar {
  background: #1d5081;
  border-bottom: 1px solid #416a95;
  width: 100%;
  line-height: 1.8;
  text-align: left;
  font-size: .8625em;
}

header .topbar .hdr-logo {
  color: #a7d6ff;
  display: inline-block;
}

header .topbar .hdr-logo h1 {
  font-size: 1em;
  color: #a7d6ff;
  padding: 0;
}

header .topbar .translationNotice {
  color: #f30;
  float: right;
  margin-right: 18px;
  margin-top: 1px;
}

header .topbar .lang-dropdown {
  float: right;
}

header .topbar .lang-dropdown li {
  position: relative;
}

header .topbar .lang-dropdown li a {
  color: white;
  padding: 4px 0;
}

header .topbar .lang-dropdown li:hover,
header .topbar .lang-dropdown li:focus {
  color: white;
  background-color: #00549d;
}

header .topbar .lang-dropdown li ul {
  display: none;
  position: absolute;
  background: #ededed;
  left: -38px;
  z-index: 6000;
}

header .topbar .lang-dropdown li ul li {
  border-bottom: 1px solid #ccc;
  line-height: 1.8;
}

header .topbar .lang-dropdown li ul li a {
  color: #002341;
  padding: 2px 28px 2px 8px;
  display: inline-block;
  width: 100%;
}

header .topbar .lang-dropdown li ul li a:hover,
header .topbar .lang-dropdown li ul li a:focus {
  color: #2069a9;
}

header .topbar .lang-dropdown li ul li:first-child {
  border-top: 1px solid #2974b5;
}

header .topbar .lang-dropdown li ul li:hover,
header .topbar .lang-dropdown li ul li:focus {
  color: white;
  background-color: #fafafa;
}

header .topbar .lang-dropdown:hover ul,
header .topbar .lang-dropdown.over ul {
  display: block;
  color: white;
}

header nav {
  background: #002341;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

header nav a {
  color: white;
  text-decoration: none;
}

header nav a:link,
header nav a:visited,
header nav a:active {
  color: white;
}

header nav a:hover,
header nav a:focus {
  color: white;
}

header nav ul {
  display: inline-block;
  float: left;
  background: #002341;
  direction: LTR;
}

header nav ul li {
  position: relative;
  display: inline-block;
  color: white;
  direction: LTR;
  vertical-align: middle;
}

header nav ul li a {
  display: inline-block;
  padding: 15px 17px;
}

header nav ul li a:after {
  content: " ▼";
  font-size: .725em;
}

header nav ul li a[rel=index]:after,
header nav ul li a[rel=forum]:after {
  content: ""!important;
}

header nav ul li:hover,
header nav ul li:focus {
  color: white;
  background-color: #2069a9;
}

header nav ul li ul {
  z-index: 6000;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  min-width: 19.5em;
  background: #ededed;
}

header nav ul li ul li {
  border-bottom: 1px solid #ccc;
  display: block;
  line-height: 1.3;
  cursor: pointer;
}

header nav ul li ul li a {
  padding: 8px;
  display: block;
  color: #002341;
}

header nav ul li ul li a:link,
header nav ul li ul li a:visited,
header nav ul li ul li a:active {
  color: #002341;
}

header nav ul li ul li a:hover,
header nav ul li ul li a:focus {
  color: #2069a9;
}

header nav ul li ul li a:after {
  content: "";
}

header nav ul li ul li:hover,
header nav ul li ul li:focus {
  background-color: #fafafa;
}

header nav ul li:hover ul,
header nav ul li.over ul {
  display: block;
  color: white;
}

header nav ul #xe-logo-svg {
  padding: 0;
  padding-top: 5px;
  padding-left: 18px;
}

header nav .svg-xe-logo {
  float: left;
  display: inline;
  vertical-align: middle;
  margin-left: 18px;
  margin-top: 6px;
  margin-right: 12px;
}

header nav .svg-xe-logo-path {
  fill: #fff;
}

header nav .vml-logo-text {
  fill: #fff;
}

header nav .nav-toggle-img {
  display: none;
  float: right;
}

header .navArrowdown {
  font-size: .7125em;
  padding-left: 4px;
}

.translationNoticeTip {
  background-color: #fff3ce;
  border: 1px solid #ccc;
  color: #333;
  display: none;
  font-size: .85em;
  padding: 10px;
  width: 225px;
  z-index: 1000;
  text-align: center;
}

.breadcrumb {
  text-align: left;
  min-height: 15px;
}

.breadcrumb p {
  padding: 0 0 0 5px;
  font-size: .8125em;
  color: #8c8c8c;
}

.bannerAdContainer {
  border-bottom: 1px solid #ccc;
  text-align: right;
  position: relative;
  min-height: 96px;
}

.bannerAdContainer .bannerAd {
  margin: 0 auto 5px auto;
  display: block;
}

.leaderBbr,
.adTab {
  font-size: .6125em;
  border-width: 1px 1px medium;
  bottom: 0;
  color: #666;
  display: block;
  margin-bottom: -1px;
  font-size: 9px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 2.5em;
}

.mobileAd {
  text-align: center;
  display: none;
}

.desktopAd {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.main {
  width: 640px;
  float: left;
}

.main .topPgLnBx:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.main img {
  max-width: 100%;
  height: auto;
}

.main .table-xrates {
  margin-top: 10px;
  line-height: 1.4;
  font-size: .9125em;
  color: #999;
  float: left;
}

.main .table-xrates td {
  padding: 0 0 2px 0;
  border: 0;
}

.main .table-xrates .liveRatesRw td {
  border-top: 1px solid #e6e6e6;
  padding: 2px 0 0 0;
}

.main .table-xrates .liveRatesRw th {
  border-top: 1px solid #e6e6e6;
  padding-top: 2px;
}

.main .service {
  float: left;
  width: 49%;
  padding-right: 10px;
  margin-bottom: 18px;
}

.main .sCol2 {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.main .more {
  text-align: center;
  clear: both;
}

.main .more-tools-link {
  display: block;
  clear: both;
  text-align: center;
  padding: 15px 0;
}

.main .adProAd,
.main .adProAdend {
  float: left;
  width: 33%;
}

.main #xRates {
  clear: both;
  position: relative;
}

.main .xRatesRfshM {
  clear: both;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.main .xRatesRfshP {
  clear: both;
  font-size: .625em;
  overflow: auto;
}

.main .xRatesRfshP h4 {
  margin: 0 auto;
  text-align: center;
  font-size: 1.1em;
}

.main #xRatesRfsh {
  background-color: rgba(255,255,255,0.7);
  clear: both;
  font-size: 1.5em;
  left: 12%;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  width: 75%;
}

.main #xRatesRfsh div {
  font-weight: bold;
  line-height: 1.9;
  margin: 0 auto;
  padding: 0 5px;
  text-align: center;
}

.main .xRatesRfshBtn {
  display: block;
  height: 40px;
  margin: 0 0 0 10px;
  width: 40px;
  background: #fdb913;
  border: 1px solid;
  border-color: #f4ae02;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  padding: 0 0 0 7px;
  line-height: 1.6;
  text-align: left;
  margin: 2px auto 4px;
}

.main a.xRatesRfshBtn:link,
.main a.xRatesRfshBtn:active,
.main a.xRatesRfshBtn:visited {
  background-position: -1px -243px;
}

.main .disabledRates {
  opacity: .4;
  filter: alpha(opacity=40);
  overflow: hidden;
}

.main a.xRatesRfshPromo:link span,
.main a.xRatesRfshPromo:active span,
.main a.xRatesRfshPromo:visited span {
  color: #c30;
}

.main .initiateAutotxt {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0;
}

.main .sIconsBx {
  height: 30px;
  padding: 4px 0;
  position: relative;
  margin: 0 auto;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -ms-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
}

.main .plusone {
  float: right;
  padding-right: 13px;
  padding-top: 3px;
}

.main .sIcon {
  background: url("http://s.xe.com/v2/themes/xe/images/sprite_global.png") no-repeat scroll 0 0 transparent;
  display: block;
  float: right;
  height: 27px;
  margin-right: 13px;
  width: 27px;
}

.main .sIconPR {
  background-position: -117px 2px;
}

.main .sIconEM {
  background-position: -85px 2px;
}

.main .sIconFB {
  background-position: -56px 2px;
}

.main .sIconTW {
  background-position: -27px 2px;
}

.main .sIconRS {
  background-position: 1px 2px;
}

.main .sIconBM {
  background-position: -114px 2px;
}

.main .sIconLK {
  background-position: -143px 2px;
}

.main .sIconSV {
  background-position: -172px 2px;
}

.main .tooltipInfo {
  background-color: #fff;
  border: 1px solid #b8c3cc;
  padding: 6px;
  text-align: left;
  font-size: 100%;
  z-index: 2;
  display: none;
  position: absolute;
  top: 52px;
  left: 10px;
  margin: 0;
  width: 268px;
}

.main .tipClose {
  border: 1px solid #ccc;
  clear: both;
  float: right;
  height: 12px;
  width: 12px;
  line-height: 6px;
  margin-left: 8px;
  display: block;
  cursor: pointer;
  padding: 1px 0 0 2px;
}

.main .tipClose:before {
  content: "x";
  color: #000;
}

.main #popCurr li {
  line-height: 1.2;
  margin-left: .8em;
  padding: 6px 0;
  text-align: left;
}

.main .page_navigation {
  padding: 9px 0;
}

.main .page_navigation .previous_link,
.main .page_navigation .page_link,
.main .page_navigation .next_link {
  padding: 5px;
}

.main .page_navigation .active_page {
  color: #999!important;
  cursor: default;
  background-color: white!important;
}

.sidebar {
  width: 320px;
  background: white;
  border-left: 1px solid #ccc;
  float: right;
}

.sidebar .module {
  margin: 0 0 9px 0;
}

.sidebar .module h2 {
  background: #d9d9d9;
  padding: 4px 0 2px 10px;
  padding-left: 10px;
  text-transform: uppercase;
  color: #333;
  font-size: 1.0125em;
  margin-bottom: 8px;
}

.sidebar .module h2.dfsTestHdr {
  background: none repeat scroll 0 0 #fff;
  color: #0068c1;
  font-weight: bold;
  margin-top: 5px;
}

.sidebar .module ul li {
  margin-left: .8em;
  padding: 6px 0;
  text-align: left;
}

.sidebar .module ul.qLinks li {
  clear: both;
  padding: 2px 0;
}

.sidebar .module ul.qLinks a {
  line-height: 2;
}

.sidebar .module ul.newsList {
  margin-left: 1em;
}

.sidebar .module ul.newsList li {
  padding: 4px 0;
  border-bottom: 1px dotted #d9d9d9;
}

.sidebar .module ul.newsList li:last-child {
  border-bottom: 0;
}

.sidebar .module #popCurr li {
  line-height: 1.2;
}

.sidebar .sidebar-news li:before {
  content: '>';
  margin-right: 1em;
  margin-left: -1.6em;
}

.sidebar .qLinksIcon {
  clear: both;
  display: block;
  float: left;
  height: 25px;
  margin-right: 8px;
  padding-top: 2px;
  width: 25px;
}

.sidebar .qLinksHR {
  background: url("http://s.xe.com/v2/themes/xe/images/sprite_global.png") no-repeat scroll -231px 0 transparent;
}

.sidebar .qLinksEU {
  background: url("http://s.xe.com/v2/themes/xe/images/sprite_global.png") no-repeat scroll -254px 0 transparent;
}

.sidebar .qLinksFC {
  background: url("http://s.xe.com/v2/themes/xe/images/sprite_global.png") no-repeat scroll -277px 0 transparent;
}

.sidebar .qLinksAP {
  background: url("http://s.xe.com/v2/themes/xe/images/sprite_global.png") no-repeat scroll -301px 0 transparent;
}

.sidebar .qLinksEC {
  background: url("http://s.xe.com/v2/themes/xe/images/sprite_global.png") no-repeat scroll -323px 0 transparent;
}

.sidebar .qLinks6 {
  background: url("http://s.xe.com/v2/themes/xe/images/sprite_global.png") no-repeat scroll -346px 0 transparent;
}

.sidebar #ad {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  min-height: 265px;
}

#footer {
  border-top: 1px solid #ccc;
  background: #ededed;
  margin-top: 18px;
}

#footer a:link,
#footer a:visited,
#footer a:active {
  color: #595959;
}

#footer a:hover,
#footer a:focus {
  color: #2069a9;
}

#footer .wrapper {
  overflow: auto;
}

#footer ul {
  margin: 15px 0;
  float: left;
  width: 12em;
  padding: 0 12px;
  border-left: 1px solid #ccc;
  min-height: 210px;
}

#footer ul:first-child {
  border-left: none;
}

#footer ul li {
  line-height: 1.3;
  text-align: left;
}

#footer ul li a {
  padding: 6px 0;
  display: block;
}

#footer ul h2 {
  text-transform: uppercase;
  font-size: 1.0125em;
  padding: 15px 0 8px 0;
  font-weight: bold;
  color: #0062b6;
  text-align: left;
}

#footer .footer-topBorder {
  border-top: 8px solid #005ba8;
}

#footer .bottombar {
  background: #002341;
  width: 100%;
  line-height: 2.1;
  color: #ccc;
  font-size: .8125em;
  margin-top: 18px;
}

#footer .bottombar a {
  color: #bfbfbf;
}

#footer .bottombar a:hover {
  color: white;
}

#footer .bottombar .footer-left {
  float: left;
}

#footer .bottombar .footer-right {
  float: right;
}

.contentArrow {
  font-size: .8125em;
}

.adBx {
  clear: both;
  font-size: .95em;
  font-weight: bold;
  padding: 15px 0 0;
  text-align: center;
  margin-bottom: -14px;
}

.adBxUp {
  margin-bottom: 0;
}

.helpTip {
  margin-right: 50px;
}

.siteSwitch {
  width: 100%;
  background-color: #25262a;
  text-align: center;
  overflow: hidden;
  height: 0;
}

.siteSwitch li {
  background-color: #4598db;
  margin: 6px;
  padding: 0;
  display: inline-block;
  width: 43%;
}

.siteSwitch a:link,
.siteSwitch a:visited {
  color: #FFF;
  padding: 5px 0;
  display: inline-block;
  width: 90%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr th {
  text-align: center;
}

table tr td {
  text-align: center;
}

.tablesorter th {
  background: whitesmoke;
  border: 1px solid #fff;
  padding: 4px;
  text-align: left;
}

.tablesorter td {
  text-align: left;
  padding: 4px;
}

.tablesorter .header {
  cursor: pointer;
}

.ie8-svgfix {
  background: #fff;
  height: 48px;
  width: 65px;
  display: inline-block;
  float: left;
}

@charset "UTF-8";

@-webkit-keyframes nav-transition {
  0% {
    height: 52px;
  }

  100% {
    height: auto;
  }
}

.raoList {
  display: block;
}

.raoList li:before {
  content: '\25A0';
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -10px;
  top: 0;
  color: #8789ff;
  float: left;
}

.raoList h3 {
  font-size: 1.1125em;
  padding-bottom: 0;
  margin-left: 5px;
}

.raoList p {
  padding-bottom: 2px;
  margin-left: 5px;
}

.pane .raoList li:before {
  content: '';
}

.ccAnalysis div.ccAnalysisResult,
.raoList {
  width: 100%;
}

.ccAnalysisResult .cmaTimestamp {
  font-size: .8em;
}

.tabsContainer.raoTabs .pane ul {
  display: block;
  float: left;
}

.maAd {
  display: block;
  float: left;
  margin-left: 20px;
  text-align: center;
  width: 180px;
}

.ccAnalysis span.cmaTimestamp,
.raoList span.raoTimestamp {
  color: #999;
  float: right;
  font-size: .75em;
}

ul.tabs.raoTabs {
  padding-top: 6px;
  border-bottom: 0;
  margin: 0;
}

ul.tabs.raoTabs li {
  background-color: #FFF;
}

ul.tabs.raoTabs a {
  background: none repeat scroll 0 0 #FFF;
  border-right: 1px solid #ccc;
  border-left: none;
  border-top: 0;
  border-bottom: 0;
  margin-top: 8px;
  color: #0068c1;
}

ul.tabs.raoTabs a:active {
  border-right: 1px solid #ccc;
  border-left: none;
  border-top: 0;
}

ul.tabs.raoTabs a:hover {
  border-bottom: 0;
  background: none repeat scroll 0 0 #FFF;
  color: #999;
}

ul.tabs.raoTabs a.current,
ul.tabs.raoTabs a.current:hover,
ul.tabs.raoTabs li.current a {
  border-right: 1px solid #ccc;
  border-left: none;
  border-top: 0;
  border-bottom: 0;
  background: none repeat scroll 0 0 #FFF;
  color: #999!important;
  cursor: default!important;
}

div.tabsContainer.raoTabs {
  background-color: #FFF;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.pane.raoTabs {
  border-top: 0;
  border-bottom: 0;
  background-color: #FFF;
  clear: none;
  float: left;
  width: 65%;
}

ul.tabs.raoTabs li:first-child {
  border-left: none;
}

.newsList li:before {
  content: '\25A0';
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -8px;
  top: -2px;
  color: #dcae1c;
}

.newsList li {
  text-indent: -10px;
}

.pane ul.newsList {
  margin-left: 1em;
}

.pane ul.newsList li {
  padding: 2px 0;
  border-bottom: 0;
  margin-left: 1.5em;
}

.bnkRts {
  margin: 0 auto;
  width: 290px;
}

.bnkRts li a {
  display: block;
  text-indent: 24px;
  width: 125px;
}

.bnkRts li {
  border-bottom: 1px dotted #ddd;
  display: inline;
  float: left;
  font-size: .9125em;
}

.bnkRts li.usesXE {
  border-bottom: medium none;
  display: inline;
  float: left;
  font-size: 1.1em;
  line-height: 1em;
  margin: 8px 5px 0;
}

.popC {
  color: #666;
  padding-right: 15px;
}

#crLive {
  margin: 0 auto;
  width: 75%;
}

#crLive th {
  color: #333;
  font-weight: bold;
  font-size: .9125em;
  padding: 5px 0;
  text-align: left;
}

#crLive td {
  border-bottom: 1px dotted #d9d9d9;
  font-size: .9125em;
  padding: 5px 0;
  text-align: left;
}

#crLive td.arrow {
  font-size: .7125em;
}

#crLive td.arrow.dwn {
  color: #c00;
}

#crLive td.arrow.up {
  color: #0c0;
}

.servicesCntnt ul {
  list-style: inside none;
  margin: 0 0 10px 15px;
}

.servicesCntnt li:before {
  color: #dcae1c;
  content: "■";
  left: -8px;
  max-height: 0;
  max-width: 0;
  position: relative;
  top: -2px;
}

@-webkit-keyframes nav-transition {
  0% {
    height: 52px;
  }

  100% {
    height: auto;
  }
}

.chart_wrapper {
  height: 224px;
  width: 345px;
}

.chart_wrapper .chart_sprite,
.chart_sprite {
  background-image: url("http://s.xe.com/v2/themes/xe/images/s_chart.0.gif");
  background-repeat: no-repeat;
}

.chart_wrapper .r1 {
  float: left;
  height: 6px;
  width: 345px;
  clear: right;
  overflow: hidden;
}

.chart_wrapper .r2c1 {
  height: 180px;
  width: 30px;
  float: left;
  background-position: 0 -46px;
}

.chart_wrapper .r2c2 {
  height: 180px;
  width: 302px;
  float: left;
  text-align: right;
}

.chart_wrapper .r2c3 {
  clear: right;
  float: left;
  height: 180px;
  width: 8px;
  background-position: -30px -46px;
}

.chart_wrapper .r3 {
  float: left;
  height: 34px;
  width: 345px;
  background-position: 16px -12px;
}

.chart_wrapper .r3 .bottomad {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 6px;
  color: #FFF;
  font-size: 95%;
}

.chart_wrapper .r3 .bottomad a {
  color: #FFF;
}

.chart_wrapper .righttoolwrapper {
  margin: 10px 2px 0 0;
  float: right;
  clear: both;
}

.chart_wrapper .righttoolwrapper .invbutton {
  display: block;
  height: 19px;
  width: 28px;
  background-position: -76px -46px;
  clear: both;
  margin-bottom: 2px;
  cursor: pointer;
  z-index: 10;
  float: right;
}

.chart_wrapper .righttoolwrapper .infobutton {
  height: 19px;
  width: 28px;
  background-position: -104px -46px;
  clear: both;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
  float: right;
}

span.infotext {
  display: none;
  position: absolute;
  top: -20px;
  left: -200px;
  width: 185px;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #b8c3cc;
  text-align: left;
  font-size: 90%;
}

span.chartmsg {
  background-color: #fff;
  border: 1px solid #b8c3cc;
  padding: 6px;
  text-align: left;
  font-size: 100%;
  z-index: 2;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 240px;
  margin: 0;
}

span.cadusdmsg {
  display: none;
  position: absolute;
  top: -4.5em;
  left: 2.5em;
  width: 26em;
  background-color: #fff;
  border: 1px solid #b8c3cc;
  padding: 6px;
  text-align: left;
  font-size: 90%;
  z-index: 2;
}

#CADUSDnotice {
  position: relative;
  cursor: pointer;
  display: none;
}

.chart_wrapper .righttoolwrapper .chartbutton {
  display: block;
  height: 19px;
  width: 28px;
  background-position: -132px -46px;
  cursor: pointer;
  clear: both;
  margin-bottom: 2px;
  float: right;
}

.chart_wrapper .righttoolwrapper .HLC {
  font-size: 80%;
  float: right;
  clear: both;
  display: block;
}

.chart_wrapper .closebutton,
.closebutton {
  background-position: -160px -46px;
  height: 13px;
  width: 12px;
  cursor: pointer;
  float: right;
  clear: both;
  margin: 0 2px 0 0;
}

.chart_wrapper .righttoolblack {
  color: #000;
  font-weight: bold;
}

p.chart_error {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  padding: 3px;
}

span.sameCurrencyTip {
  font-size: .85em;
  color: #666;
}

.helpTip {
  background-color: #fff;
  border: 1px solid #b8c3cc;
  font-size: .85em;
  padding: 3px;
  width: 182px;
  margin-left: 50px;
  text-align: center;
}

@-webkit-keyframes nav-transition {
  0% {
    height: 52px;
  }

  100% {
    height: auto;
  }
}

.xRateMM {
  font-size: .8em;
  text-align: left;
  clear: both;
  margin-top: 2px;
}

#ratesTimestamp {
  color: #999;
  font-size: .9em;
}

.ratesTmr {
  font-size: 1.3em;
}

.ratesTmrBx {
  color: #c4c4c4;
  font-size: .8em;
}

.rates-addCur {
  padding: 4px 4px;
  width: 230px;
}

.inputDrop-xrates {
  right: 0;
  top: 1px;
  padding: 5px;
}

.xRctrMin {
  font-size: .75em;
}

.xRctrSec {
  font-size: 1.1em;
}

#ratesTips {
  text-align: center;
  font-size: 1.0125em;
  color: #666;
}

.xRatesTmr {
  width: 67px;
}

form {
  clear: both;
  width: 100%;
  margin: 0 auto;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border: 1px solid #ccc;
  display: inline-block;
  color: #27456e;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 6px 4px;
  font-size: 1em;
  line-height: 16px;
}

input[type="text"].currency-dropdown,
input[type="text"].ac_input {
  cursor: pointer;
  border: 0;
  border-right: 25px solid #fff;
  outline: 1px solid #ccc;
  outline-offset: 0;
}

input[type="text"].currency-dropdown:focus,
input[type="text"].currency-dropdown:active {
  border: 0;
  border-right: 25px solid #fff;
  outline: 1px solid #ccc;
  outline-offset: 0;
}

.currency-wrapper {
  position: relative;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: #ddd;
}

input[type="submit"] {
  margin-top: 3px;
  background-color: #61af42;
  border: 0 none;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  height: 30px;
  text-decoration: none;
  background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#9dcc6f),to(#58a843));
  background-image: -webkit-linear-gradient(top,#9dcc6f,#58a843);
  background-image: -moz-linear-gradient(top,#9dcc6f,#58a843);
  background-image: -ms-linear-gradient(top,#9dcc6f,#58a843);
  background-image: -o-linear-gradient(top,#9dcc6f,#58a843);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
  color: #fff;
  background-color: #61af42;
  background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#9dcc6f),to(#58a843));
  background-image: -webkit-linear-gradient(top,#9dcc6f,#58a843);
  background-image: -moz-linear-gradient(top,#9dcc6f,#58a843);
  background-image: -ms-linear-gradient(top,#9dcc6f,#58a843);
  background-image: -o-linear-gradient(top,#9dcc6f,#58a843);
}

.inptWp {
  display: inline-block;
  position: relative;
  float: left;
  margin: 4px 6px 0 0;
}

.inptDrop {
  color: #b2bbd0;
  display: inline-block;
  position: absolute;
  right: 3px;
  margin: 8px 5px 0 0;
}

.inptDrop:hover {
  color: #2b589c;
}

.inptWrap-tec {
  font-size: .8em;
  float: right;
  position: relative;
}

.inputDrop-tec {
  right: 4px;
  top: 3px;
  padding: 3px;
  background-color: #fff;
}

.inptStyle-tec {
  padding: 3px 3px;
  width: 230px;
}

.ac_results {
  padding: 0;
  border: 1px solid #ccc;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.ac_results * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.ac_results li {
  padding: 0 0 3px 5px;
  cursor: default;
  display: block;
  font: menu;
  font-size: 11px;
  line-height: 16px;
  overflow: hidden;
}

.ac_results ul li a {
  display: block;
}

.ac_results ul li a div {
  float: right;
  width: 11px;
  height: 11px;
  display: block;
  background: url("http://s.xe.com/v2/themes/xe/images/sprite_global.png") no-repeat -404px 1px;
  margin-top: 2px;
  margin-right: 5px;
  cursor: pointer;
}

.ac_title {
  font-weight: bold;
  background-color: white;
  color: black;
  margin: 0 0 0 -5px;
  padding: 3px 0 0 5px;
  text-align: center;
  border-top: 1px dotted #CCC;
  border-bottom: 1px dotted #ccc;
}

.ac_loading {
  background: white url("http://s.xe.com/v2/themes/xe/images/refresh.gif") right center no-repeat;
}

.ac_odd {
  background-color: #f3f3f3;
}

.ac_over {
  background-color: #e3e3e3;
  color: #06c;
}

.ac_separator {
  border-top: 2px solid #ccc;
}

.error {
  color: red;
}

.uccErr {
  display: block;
  color: #f00;
  margin: 0 auto;
  text-align: center;
}

.gobtn-svg {
  margin: 2px 0 0 0;
  padding: 0;
  -moz-transform: scale(0.95);
  cursor: pointer;
}

.gobtn-svg * {
  cursor: pointer;
}

.gobtn-svg-wrap {
  float: left;
}

.ucc-form .ucc-inverse,
#chartForm .ucc-inverse {
  padding: 8px 8px 0 4px;
  text-align: center;
  font-size: 1.3em;
  display: inline-block;
  float: left;
}

select {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  -ms-appearance: menulist;
  -o-appearance: menulist;
  appearance: menulist;
}

.uccErrTR {
  font-size: .8em;
  float: right;
  text-transform: uppercase;
  margin: 3px 10px 0 0;
  color: red;
}

.uccErr {
  display: block;
  color: #f00;
  margin: 0 auto;
  text-align: center;
}

.uccErrOut {
  display: block;
  color: #f00;
  margin: 0 auto;
  text-align: right;
  height: 1.5em;
}

.ucc-form {
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  line-height: 1.2;
}

.ucc-form .inputStyle-ucc {
  padding: 6px 4px;
  font-size: 1em;
  line-height: 16px;
  border: 0;
  outline: 1px solid #ccc;
  outline-offset: 0;
}

.ucc-form .inptWrap-ucc {
  float: left;
  margin: 4px 6px 0 0;
}

.ucc-form .inptWrap-ucc .currency-wrapper {
  width: 218px;
}

.ucc-form .inptWrap-ucc .currency-dropdown {
  width: 100%;
}

.ucc-form .ucc-inverse {
  padding: 8px 8px 0 4px;
  text-align: center;
  font-size: 1.3em;
  display: inline-block;
  float: left;
}

.ucc-form .ucc-amount {
  width: 50px;
}

.ucc-form .ucc-to,
.ucc-form .ucc-from {
  width: 215px;
}

.ucc-form .ucc-submit:hover {
  background: none repeat scroll 0 0 #2b589c;
  color: #fff;
}

.ucc-form .ucc-submit:active {
  background: none repeat scroll 0 0 #2c5fab;
}

.ucc-submit {
  float: left;
  margin-top: 4px;
  background-color: #0075da;
  border: 0 none;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 30px;
  height: 30px;
  text-decoration: none;
  vertical-align: middle;
  background: -webkit-gradient(linear,left top,left bottom,from(#3ba8e2),to(#369ad0));
  background: -webkit-linear-gradient(top,#3ba8e2,#369ad0);
  background: -moz-linear-gradient(center top,#3ba8e2,#369ad0) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(top,#3ba8e2,#369ad0);
  background: linear-gradient(to bottom,#3ba8e2,#369ad0);
  text-indent: 2px;
  font-size: 1em;
  font-family: Helvetica,Arial,sans-serif;
}

.uccGo {
  background-color: #fff;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  display: block;
  float: right;
  font-size: .7em;
  line-height: 1.5;
  margin-right: 5px;
  padding: 10px;
  text-align: center;
}

.uccMin {
  min-height: 11em;
}

.ucc-result-table {
  margin: 0 auto;
}

.leftCol {
  text-align: right;
}

.rightCol {
  text-align: left;
}

.invCol {
  vertical-align: top;
}

.output-ucc {
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 1.3;
}

.output-ucc-blk-L {
  width: 54%;
  display: inline-block;
}

.output-ucc-blk {
  width: 44%;
  display: inline-block;
}

.output-ucc-blk-sm {
  width: 10%;
  display: inline-block;
  text-align: center;
}

.output-ucc-inverse {
  text-align: center;
}

.uccRes {
  color: #3d68a8;
  font-size: 1.6em;
  text-align: right;
}

.uccRes-R {
  text-align: right;
}

.uccRes-L {
  text-align: left;
}

.uccResCde {
  color: #05a8e2;
}

.uccResUnit {
  color: #999;
  font-size: .9em;
}

.uccResUnit-Push {
  padding-right: 10%;
}

.ucc-Err {
  color: #f00;
  display: block;
  height: 1.3em;
  text-align: center;
  font-size: .9em;
}

.ucc-Err-CA {
  padding-bottom: 25px;
}

.uccGoBx {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 20px 20px 0;
  float: right;
  overflow: auto;
  position: relative;
  width: 85px;
  display: inline-block;
}

.uccChrt {
  float: left;
  display: inline-block;
  font-size: .9em;
  cursor: pointer;
}

.uccChrt img,
.uccChrt .uccChrtTxt {
  float: left;
  clear: both;
  font-size: .9em;
}

.cnvrtAgain {
  float: right;
  margin: 0;
  font-size: 1.3em;
  line-height: 2.1;
  text-indent: -1px;
  width: 31px;
}

.cnvrtAgainTxt {
  margin-left: 3px;
  display: block;
  font-size: .8em;
  overflow: auto;
  margin: 3px;
}

.uccMMR {
  clear: both;
  display: block;
  font-size: .9em;
  margin: 2px auto 0;
  text-align: center;
}

.ucc-Cnvrt-pos {
  margin-top: -35px;
}

.ccAnalysisResult0 {
  color: #333;
  float: left;
  overflow: auto;
  padding: 0 10px;
  width: 49%;
  margin: .65em 0 0 0;
}

.ccAnalysisResult1 {
  border-left: 1px solid #e1e1e1;
  color: #333;
  float: left;
  overflow: auto;
  padding: 0 10px;
  width: 49%;
  margin: .65em 0 0 0;
  min-height: 6.5em;
}

.ccAnalysis h2 {
  font-size: .95em;
  font-weight: bold;
}

@media print {
  body {
    font-size: 12px;
  }

  header {
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 8px;
    padding: 0 0 18px 0;
  }

  header .topbar {
    display: none;
  }

  header nav {
    background: 0;
  }

  header nav ul {
    display: none;
  }

  header nav .svg-xe-logo-path {
    fill: #11175e;
  }

  header nav .ie8-svgfix {
    display: inline-block;
  }

  header nav .ie8-svgfix:after {
    content: "The World's Favorite Currency Site";
    color: #11175e;
    padding-top: 17px;
    font-weight: bold;
    display: inline-block;
    padding-left: 18px;
  }

  header:after {
    float: right;
    content: "For more information, visit www.xe.com";
    color: #999;
    padding: 20px 0 0 0;
  }

  .bannerAdContainer,
.sidebar,
footer,
.breadcrumb,
#adProbx,
.topA {
    display: none;
  }

  .main,
.grid,
.wrapper {
    width: 100%!important;
  }

  .module .moduleActionClass {
    display: none;
  }

  #footerContent,
.navMain2,
.topbar,
.hide-in-print,
.tecAboutTitle,
.tecInstructionsList,
.boxFtrCfact,
.BoxFtrGenLink,
.tecReceiptDetailsSectionHeader span,
.tecHiddenChargesSectionHeader span,
.tecPersonalInfoSectionHeader,
.tecHdnBxC,
.tecDesc,
.tecLn,
.tecXBtn,
.tec-addrow,
.sIconsBx,
.plusone,
.modAlt,
.uccHomeTextAd,
#ratesTips,
.fServicesLnkBttm,
.tabs,
.singleColBody img,
.singleColBody .miniFeatureBlocks img,
.xetbCustomIntroBttn,
.xetrade-action-button,
.singleColBody #sectionFooter,
.inptDrop,
.uccChrt,
.uccGoBx,
.dfsViewer,
.actionBtndfsHome,
.modAlt,
ul#jmpM,
.currencyheader,
.topPgImage,
.promoApp,
#rates_detail_event {
    display: none!important;
  }

  .H2wTR {
    display: block;
    float: none;
  }

  .tecHdnBx {
    clear: none;
  }

  #receiptForm input {
    border: 0;
    outline: 0;
  }

  ol.rBX li {
    border-bottom: 1px dotted #ccc;
  }

  .main .main-feature-block {
    border: 0;
    padding: 0;
  }

  .singleColBody .pane {
    padding: 0;
  }

  .singleColBody .easy-secure-signup {
    display: none;
  }

  .singleColBody .module {
    padding: 0;
  }

  .singleColBody .FxInfoAboutXe,
.singleColBody .actionBtn {
    display: none;
  }

  .singleColBody .feature-shadow {
    border: 0;
  }

  .singleColBody .feature-shadow:before,
.singleColBody .feature-shadow:after {
    display: none;
  }

  .singleColBody .featureIntro {
    width: 100%;
    margin: 10px 0;
  }

  .singleColBody .loginDescTxt,
.singleColBody .loginListBx {
    min-height: 0;
  }

  .singleColBody .loginDescTxt img {
    display: block;
    margin: 40px 0 5px 0;
    padding: 0;
  }

  .main .trade-datafeed-tipbox {
    text-align: left;
    width: 100%;
    border: 0;
  }

  .graphButtons {
    right: -20px;
  }

  #graphWrapper {
    height: 460px;
  }

  select.rBxPayment {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    display: inline-block;
    margin-bottom: -9px;
    background: #fff;
  }

  .table-xrates th,
.table-xrates td {
    display: table-cell!important;
  }

  .table-xrates .xRatesTmr {
    visibility: hidden;
  }
}

@-webkit-keyframes nav-transition {
  0% {
    height: 52px;
  }

  100% {
    height: auto;
  }
}

@media (min-width:300px) {
  .wrapper {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .main .service {
    width: 100%;
    display: block;
  }

  .sidebar {
    width: 100%;
  }
}

@media (max-width:320px) {
  .wrapper {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .main .service {
    width: 100%;
    display: block;
  }

  .main .graphButtons input {
    width: 60%;
  }

  .sidebar {
    width: 100%;
  }
}

@media (max-width:659px) {
  .table-xrates th:nth-child(n+7) {
    display: none;
  }

  .table-xrates tr:nth-child(odd) td:nth-child(n+7) {
    display: none;
  }

  .table-xrates tr:nth-child(even) td:nth-child(n+8) {
    display: none;
  }

  .sidebar {
    float: none;
  }

  .grid {
    margin: 0;
  }

  .contentSection {
    padding: 0;
  }

  .main .table-xrates td {
    padding: 0 5px 2px 5px;
  }

  .main .table-xrates .liveRatesRw td {
    padding: 2px 5px 0 5px;
  }

  .main .width-20,
.main .width-30,
.main .width-40,
.main .width-50,
.main .width-60,
.main .width-70,
.main .width-80,
.main .contentBlocks-2set,
.main .contentBlocks-3set,
.main .contentBlocks-4set {
    width: 100%;
  }

  .main .pull-right {
    border: 0;
    float: none;
  }

  .main .pull-left {
    float: none;
  }

  .main .main-feature-block {
    padding: 18px 0;
    border-bottom: 1px dotted #ccc;
  }

  .main .main-feature-block form {
    width: 100%;
  }

  .main .featureBx {
    padding: 10px 20px;
  }

  .main .miniFeatureBlocks {
    display: block;
    float: none;
    padding: 10px 0;
    margin: 0 auto;
  }

  .main .miniFeatureBlocks img {
    display: block;
    float: left;
    margin: 0 10px 25px 0;
  }

  .main h3.syndFeature {
    text-align: left;
  }

  .main h4.syndFeature.featureArrow {
    background: url("http://s.xe.com/v2/themes/xe/images/ot-yellow-arrow.png") no-repeat 10px 5px;
    background-size: 14px 14px;
  }

  .main .xetrade-action-button {
    margin: 18px auto 0 auto;
  }

  .main .loginDescTxt,
.main .loginListBx {
    padding: 0;
    margin: 0;
  }
}

@media (max-width:820px) {
  header nav {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    margin-bottom: 2px;
  }

  header nav ul {
    overflow: hidden;
    display: block;
    clear: both;
    width: 100%;
    padding: 4px 0;
  }

  header nav ul li {
    display: none;
    padding: 0;
  }

  header nav ul li a {
    display: block;
    width: 100%;
    padding: 9px;
  }

  header nav ul li a:after {
    content: "";
  }

  header nav ul li ul {
    display: none;
  }

  header nav ul li:hover ul,
header nav ul li.over ul {
    display: none;
  }

  header nav ul li:hover {
    background: #005ba9;
    color: #fff;
  }

  header nav .nav-show {
    height: auto;
  }

  header nav .nav-show li {
    display: block;
  }

  header nav .nav-show li ul {
    display: none;
  }

  header nav .svg-xe-logo {
    margin-bottom: 5px;
  }

  header nav .nav-hide {
    height: 0;
  }

  header nav .nav-hide li {
    display: none;
  }

  header nav .nav-toggle-img {
    display: inline;
    position: absolute;
    right: 0;
  }

  header nav .nav-toggle-img:hover rect {
    fill: #005ba9;
  }

  header nav .navMain1 {
    display: inline;
    width: auto;
    clear: none;
  }

  header nav .navMain1 li {
    display: inline;
    width: auto;
    float: left;
  }

  header nav .navMain1 li a {
    width: auto;
    display: inline-block;
  }

  header nav .navMain2 {
    padding: 0;
  }

  .topPgTitle,
ul#jmpM,
.topPgL li,
.tpDesc,
.cusdBttnCntr,
.contentLbxM,
.artMenuBx,
.artMenuBxFtr,
.stepMenuBx,
.fxViewer,
.dfsViewer,
.contentList,
.securityXe,
.chartdescription,
.chrtCnvtrBx {
    width: 100%;
    display: block;
  }

  .imgLeft,
.imgRight {
    display: block;
    margin: 0 auto;
    float: none;
  }

  .trade-datafeed-tipbox {
    width: 50%;
    display: block;
  }

  .iCUS .topPgLL,
.iCUS .contentVLn {
    width: 100%;
    display: block;
    border: 0;
    padding: 0;
  }

  .tpLImg {
    margin: 0 auto;
    display: block;
    float: none;
  }

  .stepMenuBx {
    float: none;
  }

  .imgLeft,
.imgRight,
.securityXe {
    margin-bottom: 18px;
    margin-top: 18px;
  }

  .promoDL {
    background: 0;
    border: 0;
    display: block;
    clear: both;
    margin: 0 auto;
  }

  .promoAppImg {
    display: block;
    clear: both;
    margin: 0 auto;
    float: none;
  }

  .ucc-Cnvrt-pos {
    margin-top: 5px;
  }

  .socialBlockC {
    clear: right;
    width: 60%;
  }

  .socailIconsLG {
    clear: left;
  }

  #cccCalculatorOverlay,
#fecCalculatorOverlay,
#cccResultOverlay {
    width: 90%;
    left: 5%;
  }

  .calcFieldContainerLeft {
    width: 110px;
    text-align: left;
  }

  .calcFieldContainerRight {
    width: 175px;
  }

  #cccForm {
    width: 100%;
  }

  #FXSignupMain {
    width: 90%;
  }
}

@media (min-width:780px) {
  .wrapper {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper {
    width: 95%;
  }

  .main {
    width: 57%;
  }

  .main .service {
    width: 100%;
    display: inline;
  }

  .sidebar {
    width: 320px;
  }
}

@media (max-width:900px) {
  .main .sCol2 {
    border-left: none;
    padding-left: 0;
  }

  .main .table-xrates th:nth-child(n+8) {
    display: none;
  }

  .main .table-xrates tr:nth-child(odd) td:nth-child(n+8) {
    display: none;
  }

  .main .table-xrates tr:nth-child(even) td:nth-child(n+9) {
    display: none;
  }

  .main .table-xrates td {
    padding: 0 5px 2px 5px;
  }

  .main .table-xrates .liveRatesRw td {
    padding: 2px 5px 0 5px;
  }

  .main .adProAd,
.main .adProAdend {
    float: none;
    width: auto;
  }

  .promoDL {
    background: 0;
    border: 0;
    display: block;
    clear: both;
    margin: 0 auto;
  }

  .promoAppImg {
    display: block;
    clear: both;
    margin: 0 auto;
    float: none;
  }
}

@media (max-width:817px) {
  .promoDetachDL {
    float: left;
    width: 260px;
  }

  .contentVLn {
    border-left: none;
    padding-left: 0;
  }
}

@media (max-width:779px) {
  .main .ucc-form,
.main #chartForm {
    width: 290px;
  }

  .main .ucc-form .ucc-to,
.main .ucc-form .ucc-from,
.main .ucc-form .currency-wrapper,
.main #chartForm .ucc-to,
.main #chartForm .ucc-from,
.main #chartForm .currency-wrapper {
    width: 180px;
  }

  .main .ucc-inverse {
    width: 50px;
    margin: 0 0 0 6px;
    clear: left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  .main #xRatesRfsh {
    left: 19%;
    width: 19em;
    top: 10%;
  }

  .main .chartdescription {
    border: 0;
  }

  .main .chrtDescRight {
    padding-left: 0;
  }

  .main .ucc-submit {
    float: right;
  }

  .main .topPgAppDL {
    padding: 2px;
  }

  .main .topPgAppDLBlkPaid,
.main .topPgAppDLBlk {
    margin-top: 0;
  }

  .main .freeproTxt {
    background: 0;
    width: 100%;
  }

  .main .topPgTitle {
    width: 100%;
    padding-right: 10px;
  }

  .main .topPgImage {
    float: none;
  }

  .main .topPgImage img {
    margin: 0 auto;
    display: block;
  }

  .main .promoApp {
    width: 60%;
    margin: 30px 10px;
  }

  .main .promoDL {
    border-radius: 1em 1em 1em 1em;
    -webkit-border-radius: 1em 1em 1em 1em;
    -moz-border-radius: 1em 1em 1em 1em;
    border: solid #b3b3b3 1px;
    border-left: solid #b3b3b3 1px;
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(white),to(#d2dde5));
    background-image: -webkit-linear-gradient(top,white,#d2dde5);
    background-image: -moz-linear-gradient(top,white,#d2dde5);
    background-image: -ms-linear-gradient(top,white,#d2dde5);
    background-image: -o-linear-gradient(top,white,#d2dde5);
  }

  .main #chartForm .ucc-inverse {
    width: 50px;
    margin: -18px 0 0 6px;
    clear: left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  .main #chartForm .inptWp:first-child {
    padding-left: 56px;
  }

  .FXInnerContent ul {
    background: 0;
    padding: 0;
  }

  .pane.raoTabs {
    width: 100%;
  }

  .cusSubFieldContainerLeft {
    width: 100%;
    text-align: left;
  }

  .applicationForm input[type="text"],
.applicationForm select,
.applicationForm textarea {
    width: 100%;
  }

  ul.tabs li {
    clear: left;
    display: list-item;
    border-bottom: 1px solid #ccc;
  }

  ul.tabs li a {
    width: 100%;
  }

  ul.tabs li a.current {
    border: 0;
  }

  ul.tabs.left li:first-child {
    margin-left: 0;
  }
}

@media (max-width:521px) {
  .main #xRatesRfsh {
    left: 5%;
  }

  .main ul#jmpM,
.main .topPgTitle {
    display: block;
    width: 95%;
  }

  .main .iTools,
.main .iCUS,
.main .iCChrts,
.main .iGlobe,
.main .iNewsletter,
.main .iAbout,
.main .iContact,
.main .subscribe,
.main .travel,
.main .mobileLines,
.main .fxBg,
.main .dfsBg {
    background: 0;
  }

  .tecDtBx {
    float: none;
    width: 100%;
  }

  .tecDtBx input,
.tecDtBx .curDrpDwnCntnrParent,
.tecDtBx .rBxBorder {
    width: 100%;
  }

  .tecHdnBx .rBxBorder {
    width: 50px;
  }

  .curDrpDwnCntnrParent .currency-dropdown {
    width: 100%;
  }

  .ICTCurrency,
.ICTCalendar {
    width: 80%;
  }

  .topPgH2 {
    line-height: 40px;
    padding-bottom: 0;
  }

  .ICTtableDiv {
    overflow: auto;
  }

  .xetrade-login-button {
    width: 100%;
  }
}

@media (min-width:768px) and (max-width:850px) {
  .rightsideAd .mobileAd {
    display: block;
  }

  .rightsideAd .desktopAd {
    display: none;
  }

  .converterTextAd {
    margin: 0;
  }
}

@media (max-width:767px) {
  .mobileAd {
    display: block;
  }

  .bannerAdContainer {
    min-height: 63px;
  }

  .desktopAd {
    display: none;
  }
}

@media only screen and (device-width:768px) and (orientation:portrait) {
  .rightsideAd .mobileAd {
    display: none;
  }

  .rightsideAd .desktopAd {
    display: block;
  }

  .converterTextAd {
    margin: 0;
  }
}

@media (min-width:980px) {
  .wrapper {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    width: 640px;
  }

  .main .service {
    width: 49%;
    display: inline;
  }

  .sidebar {
    width: 320px;
  }
}

@media (max-width:979px) {
  .main .trade-datafeed-tipbox {
    border-left: none;
    clear: both;
    margin: 0 auto;
    width: 70%;
    float: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .main .trade-datafeed-tipbox:first-child {
    border-left: none;
    padding-left: 0;
  }

  .main .topPgTitle {
    margin: 9px 9px 9px 9px;
  }

  .main ul.tabs.raoTabs a {
    border-right: 0;
  }

  .main ul.tabs.raoTabs a.current,
.main ul.tabs.raoTabs a.current:hover,
.main ul.tabs.raoTabs li.current a {
    border-right: 0;
  }

  .main .xetbCustomIntroBttn a {
    width: 95%;
    float: left;
  }

  .featureBx {
    width: 100%;
  }
}

@media (min-width:780px) and (max-width:979px) {
  .main .sCol2 {
    border-left: none;
    padding-left: 0;
  }

  .main .topPgAppDL {
    padding: 2px;
  }

  .main .topPgTitle {
    width: 100%;
  }

  .main .topPgImage {
    float: none;
  }

  .main .topPgImage img {
    margin: 0 auto;
    display: block;
  }

  .main .topPgAppDLBlkPaid,
.main .topPgAppDLBlk {
    margin-top: 0;
  }

  .main .freeproTxt {
    background: 0;
    width: 100%;
  }

  .main .promoApp {
    width: 60%;
  }

  .main .promoDL {
    border-radius: 1em 1em 1em 1em;
    -webkit-border-radius: 1em 1em 1em 1em;
    -moz-border-radius: 1em 1em 1em 1em;
    border: solid #b3b3b3 1px;
    border-left: solid #b3b3b3 1px;
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(white),to(#d2dde5));
    background-image: -webkit-linear-gradient(top,white,#d2dde5);
    background-image: -moz-linear-gradient(top,white,#d2dde5);
    background-image: -ms-linear-gradient(top,white,#d2dde5);
    background-image: -o-linear-gradient(top,white,#d2dde5);
  }

  .main .promoDetachDL {
    float: left;
    width: 260px;
  }

  .main .table-xrates th:nth-child(n+10) {
    display: none;
  }

  .main .table-xrates tr:nth-child(odd) td:nth-child(n+10) {
    display: none;
  }

  .main .table-xrates tr:nth-child(even) td:nth-child(n+11) {
    display: none;
  }

  .main .table-xrates td {
    padding: 0 6px 2px 6px;
  }

  .main .table-xrates .liveRatesRw td {
    padding: 2px 5px 0 5px;
  }

  .main .ucc-form,
.main #chartForm {
    width: 335px;
  }

  .main .chartdescription,
.main .chrtCnvtrBx {
    width: 100%;
  }

  .main .chartdescription {
    border: 0;
  }

  .main .chrtDescRight {
    padding-left: 0;
  }

  .main .ucc-form .ucc-inverse,
.main #chartForm .ucc-inverse {
    width: 50px;
    margin: 0 0 0 6px;
    clear: left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  .main .ucc-form .ucc-to,
.main .ucc-form .ucc-from,
.main #chartForm .ucc-to,
.main #chartForm .ucc-from {
    width: 190px;
  }

  .main #chartForm .ucc-inverse {
    width: 50px;
    margin: -18px 0 0 6px;
    clear: left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  .main #chartForm .inptWp:first-child {
    padding-left: 56px;
  }

  .main #xRatesRfsh {
    left: 10%;
    width: 19em;
    top: 10%;
  }

  .main .adProAd,
.main .adProAdend {
    float: none;
    width: auto;
  }

  .artMenuBx,
.fxViewer,
.dfsViewer,
.contentList {
    width: 100%;
    display: block;
  }

  .imgLeft,
.imgRight {
    display: block;
    margin: 0 auto;
    float: none;
  }

  .imgLeft,
.imgRight {
    margin-bottom: 18px;
    margin-top: 18px;
    float: none;
  }

  .promoDL {
    background: 0;
    border: 0;
    display: block;
    clear: both;
    margin: 0 auto;
  }

  .promoAppImg {
    display: block;
    clear: both;
    margin: 0 auto;
    float: none;
  }

  .ucc-Cnvrt-pos {
    margin-top: 5px;
  }

  .socialBlockC {
    clear: right;
    width: 60%;
  }

  .socailIconsLG {
    clear: left;
  }

  .pane.raoTabs {
    width: 100%;
  }

  .cusSubFieldContainerLeft {
    width: 100%;
    text-align: left;
  }

  ul.tabs li {
    clear: left;
    display: list-item;
    border-bottom: 1px solid #ccc;
  }

  ul.tabs li a {
    width: 100%;
  }

  ul.tabs li a.current {
    border: 0;
  }

  ul.tabs.left li:first-child {
    margin-left: 0;
  }
}

@media (min-width:659px) and (max-width:779px) {
  .main .xetbCustomIntroBttn a {
    width: 185px;
  }
}

@media (min-width:696px) and (max-width:1200px) {
  #cccForm,
#fecForm {
    width: 100%;
  }

  #cccCalculatorOverlay,
#fecCalculatorOverlay,
#cccResultOverlay {
    width: 75%;
    left: 15%;
  }
}

@media (min-width:1060px) and (max-width:1075px) {
  .main .sIconsBx {
    position: relative!important;
  }

  .main .sIcon,
.main .plusone {
    float: right!important;
  }
}

@media (min-width:1140px) and (max-width:1179px) {
  .main .sIconsBx {
    position: relative!important;
  }

  .main .sIcon,
.main .plusone {
    float: right!important;
  }
}

@media (min-width:1060px) {
  .main .sIcon,
.main .plusone {
    float: none;
    margin-bottom: 5px;
  }
}

@media (min-width:1140px) {
  .wrapper {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    width: 720px;
  }

  .main .service {
    display: inline;
  }

  .sidebar {
    width: 400px;
  }

  footer ul {
    width: 14em;
  }
}

@media (min-width:1139px) {
  .main .ucc-form {
    width: 90%;
  }
}

@media (max-width:1139px) {
  .fxListHome {
    margin-left: 0;
  }

  .miniFeatureBlocks {
    padding: 10px 45px;
  }

  .main .ucc-form {
    width: 90%;
  }

  .main .ucc-form .inptWrap-ucc .currency-wrapper {
    width: 185px;
  }

  .xetbCustomIntroBttn a {
    width: 75%;
    float: left;
  }
}