* {
  border: 0px;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  resize: none;
}

body {
  cursor: default;
  font: 300 16px sans-serif;
}

a {
  text-decoration: none;
}

.menu {
  color: #777;
  list-style-type: none;
  text-transform: lowercase;
}

.menu li {
  float: left;
  margin-right: 15px;
}

.menu li > span {
  position: relative;
}

.menu li > span span {
  background: url('images/menu.streak.png') 0px 0px no-repeat;
  bottom: -11px;
  height: 8px;
  margin-left: -32px;
  position: absolute;
  left: 50%;
  width: 64px;
}

.menu a {
  color: #777;
}

#header {
  margin: 15px auto 20px;
  overflow: hidden;
  width: 1000px;
}

#header p {
  float: left;
  font-size: 36px;
  width: 200px;
}

#header p a {
  color: #e1254f;
}

#header .menu {
  float: left;
  margin-top: 13px;
  width: 800px;
}

#header .menu a {
  border-bottom: 1px dashed;
  padding-bottom: 3px;
}

#header .menu .signin {
  float: right;
  margin-right: 0px;
}

#header .menu .signin a {
  color: #00c4ff;
}

#header .menu .signin a:first-child {
  color: #e1254f;
  margin-right: 15px;
}

#home {
  background: url('images/home.png?1') center 70px no-repeat;
  min-height: 1301px;
  margin-top: 15px;
}

#home > div {
  margin: 0px auto;
  width: 1000px;
}

#home > div > p {
  color: #e1254f;
  float: left;
  font-size: 36px;
  width: 200px;
}

#home .menu {
  float: left;
  margin-top: 13px;
  width: 800px;
}

#home .menu li > span span {
  background-position: 0px -100px;
  margin-left: -23px;
  width: 47px;
}

#home .menu .signin {
  float: right;
  margin-right: 0px;
}

#home .menu .signin a {
  border-bottom: 1px dashed;
  color: #00c4ff;
  padding-bottom: 3px;
}

#home .menu .signin a:first-child {
  color: #e1254f;
  margin-right: 15px;
}

#home .features {
  clear: both;
  float: none;
  padding: 670px 0px 0px 90px;
}

#home .features > div {
  float: left;
  width: 410px;
}

#home .features p {
  color: #939393;
  font-size: 21px;
  margin-bottom: 30px;
}

#home .features p:first-child {
  color: #fff;
  font-size: 70px;
  margin-bottom: 20px;
}

#home .features > div:first-child p + p {
  padding-left: 5px;
}

#home .features > div + div {
  padding-left: 40px;
}

#home .features ul {
  color: #bebebe;
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 40px;
}

#home .features ul li {
  margin-bottom: 12px;
}

#home .features ul span {
  color: #38b6da;
  position: relative;
  top: 1px;
}

#home .features ul + a {
  color: #fff;
  font-size: 45px;
}

#home .features ul + a span:first-child {
  float: left;
  margin-right: 15px;
}

#home .features ul + a span + span {
  background: #4ed2e8 url('images/signup.png') 0px 0px no-repeat;
  float: left;
  height: 57px;
  width: 66px;
}

#home .features > div:first-child ul + a span + span {
  background-color: #e12550;
}

#publishers {
  margin-top: -150px;
}

#publishers > div {
  margin: 0px auto;
  width: 1000px;
}

#publishers h1 {
  background: url('images/publishers.title.png') 0px 0px no-repeat;
  color: #fff;
  float: left;
  font-size: 70px;
  height: 232px;
  line-height: 207px;
  margin: 0px 0px 20px -53px;
  padding-left: 53px;
  width: 568px;
}

#publishers .menu {
  float: right;
  margin-top: 155px;
}

#publishers .menu li {
  margin-left: 15px;
  margin-right: 0px;
}

#publishers h2 {
  clear: both;
  color: #1c2022;
  float: none;
  font-size: 48px;
}

#publishers .features {
  background: url('images/publishers.monster.png') 700px 0px no-repeat;
  clear: both;
  float: none;
  margin: -40px 0px 10px;
  overflow: hidden;
  padding-top: 72px;
}

#publishers .features div {
  margin-bottom: 40px;
}

#publishers .features .quicksand {
  color: #e1254f;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#publishers .features .helvetica {
  color: #777;
  font-size: 18px;
}

#publishers .features img {
  margin-top: 10px;
}

#publishers .features a {
  border-bottom: 1px dashed;
  color: #777;
  padding-bottom: 1px;
}

#publishers .formats {
  clear: both;
  float: none;
  height: 337px;
  list-style-type: none;
  margin: 20px 0px 30px;
}

#publishers .formats li {
  background: url('images/publishers.formats.png') 0px 0px no-repeat;
  float: left;
}

#publishers .formats li.mobile {
  height: 142px;
  margin: 0px 46px 0px -20px;
  padding: 25px 0px 0px 154px;
  width: 320px;
}

#publishers .formats li.banners {
  background-position: 27px -184px;
  height: 142px;
  padding: 25px 0px 0px 197px;
  width: 300px;
}

#publishers .formats li.video {
  background-position: 0px -380px;
  height: 138px;
  margin: 0px 46px 0px -16px;
  padding: 32px 0px 0px 154px;
  width: 316px;
}

#publishers .formats li.popunders {
  background-position: 0px -600px;
  height: 130px;
  padding: 40px 0px 0px 197px;
  width: 300px;
}

#publishers .formats .fosters {
  color: #dd2147;
  display: block;
  font-size: 34px;
}

#publishers .formats .helvetica {
  color: #777;
  font-size: 18px;
}

#publishers h3 {
  color: #1c2022;
  font-size: 32px;
}

#publishers h3 + p {
  color: #1c2022;
  font-size: 18px;
  margin-bottom: 60px;
}

#publishers h3 + p a {
  border-bottom: 1px dashed;
  color: #1c2022;
  padding-bottom: 3px;
}

#advertisers {
  margin-top: -20px;
}

#advertisers > div {
  margin: 0px auto;
  width: 1000px;
}

#advertisers h1 {
  background: url('images/advertisers.title.png') 0px 0px no-repeat;
  color: #fff;
  float: left;
  font-size: 70px;
  height: 232px;
  line-height: 207px;
  margin: 0px 0px 15px -40px;
  padding-left: 40px;
  width: 686px;
}

#advertisers .menu {
  float: right;
  margin-top: 115px;
}

#advertisers .menu li {
  margin-left: 15px;
  margin-right: 0px;
}

#advertisers h2 {
  clear: both;
  color: #1c2022;
  float: none;
  font-size: 48px;
  margin-bottom: 32px;
}

#advertisers .features {
  clear: both;
  float: none;
  margin: 0px 0px 10px;
  overflow: hidden;
}

#advertisers .features div {
  margin-bottom: 40px;
}

#advertisers .features .quicksand {
  color: #46cde6;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#advertisers .features .helvetica {
  color: #777;
  font-size: 18px;
}

#advertisers .features a {
  border-bottom: 1px dashed;
  color: #777;
  padding-bottom: 1px;
}

#advertisers .targeting {
  clear: both;
  float: none;
  height: 511px;
  list-style-type: none;
  margin: 20px 0px 50px;
}

#advertisers .targeting li {
  background: url('images/advertisers.targeting.png') 0px 0px no-repeat;
  float: left;
}

#advertisers .targeting li.geo {
  background-position: 8px 5px;
  height: 108px;
  margin: 0px 54px 50px 0px;
  padding: 22px 0px 0px 146px;
  width: 300px;
}

#advertisers .targeting li.device {
  background-position: 9px -200px;
  height: 108px;
  margin-bottom: 50px;
  padding: 22px 0px 0px 196px;
  width: 300px;
}

#advertisers .targeting li.language {
  background-position: 11px -377px;
  height: 165px;
  margin: 0px 54px 15px 0px;
  padding: 10px 0px 0px 146px;
  width: 300px;
}

#advertisers .targeting li.os {
  background-position: 41px -576px;
  height: 165px;
  margin-bottom: 15px;
  padding: 10px 0px 0px 196px;
  width: 304px;
}

#advertisers .targeting li.keyword {
  background-position: 0px -795px;
  height: 135px;
  margin: 0px 54px 0px -9px;
  padding: 6px 0px 0px 155px;
  width: 300px;
}

#advertisers .targeting li.time {
  background-position: 27px -1000px;
  height: 135px;
  padding: 6px 0px 0px 196px;
  width: 300px;
}

#advertisers .targeting .fosters {
  color: #3fc9e3;
  display: block;
  font-size: 34px;
}

#advertisers .targeting .helvetica {
  color: #777;
  font-size: 18px;
}

#advertisers h3 {
  color: #1c2022;
  font-size: 32px;
}

#advertisers h3 + p {
  color: #1c2022;
  font-size: 18px;
  margin-bottom: 60px;
}

#advertisers h3 + p a {
  border-bottom: 1px dashed;
  color: #1c2022;
  padding-bottom: 3px;
  position: relative;
}

#advertisers h3 + p a span {
  background: url('images/advertisers.request.png') 0px 0px no-repeat;
  height: 45px;
  position: absolute;
  right: -118px;
  top: -52px;
  width: 153px;
}

#contacts {}

#contacts > div {
  margin: 0px auto;
  width: 1000px;
}

#contacts h1 {
  background: url('images/contacts.title.png') 0px 0px no-repeat;
  color: #000;
  float: left;
  font-size: 70px;
  height: 232px;
  line-height: 207px;
  margin: 0px 0px 15px -70px;
  padding-left: 70px;
  width: 382px;
}

#contacts .menu {
  float: right;
  margin-top: 105px;
}

#contacts .menu li {
  margin-left: 15px;
  margin-right: 0px;
}

#contacts .motivation {
  background: url('images/contacts.motivation.png') 0px 0px no-repeat;
  clear: both;
  float: none;
  margin-left: -25px;
  min-height: 352px;
  padding: 265px 0px 0px 525px;
  position: relative;
  top: -90px;
  width: 545px;
}

#contacts .motivation h2 {
  color: #1c2022;
  margin-bottom: 15px;
  font-size: 48px;
}

#contacts .motivation h3 {
  color: #e1254f;
  margin-top: 15px;
  text-transform: uppercase;
}

#contacts .motivation h2 + h3 {
  margin-top: 0px;
}

#contacts .motivation p {
  color: #777;
  font-size: 18px;
  padding-left: 20px;
}

#contacts .motivation span.skype,
#contacts .motivation span.icq {
  background: url('images/contacts.social.png') 0px 3px no-repeat;
  color: #888;
  margin-left: 15px;
  padding-left: 20px;
  position: relative;
  top: 1px;
}

#contacts .motivation span.icq {
  background-position: 0px -47px;
}

#contacts form {
  overflow: hidden;
  margin-top: -50px;
  padding-left: 105px;
}

#contacts form div {
  float: left;
  margin-right: 50px;
  width: 370px;
}

#contacts form label {
  color: #777;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

#contacts form input[type="text"] {
  background: #1c2022;
  color: #fff;
  font: 400 18px Arial, Helvetica, sans-serif;
  height: 48px;
  margin-bottom: 15px;
  padding: 0px 15px;
  width: 340px;
}

#contacts form textarea {
  background: #fff;
  border: 1px solid #ccc;
  color: #777;
  display: block;
  font: 400 18px Arial, Helvetica, sans-serif;
  height: 202px;
  margin-bottom: 20px;
  padding: 12px 15px;
  width: 338px;
}

#contacts form input[type="submit"] {
  background: url('images/contacts.submit.png') 0px 0px no-repeat;
  color: #fff;
  cursor: pointer;
  .cursor: hand;
  float: right;
  font: 400 18px Arial, Helvetica, sans-serif;
  height: 42px;
  text-align: center;
  width: 131px;
}

.text {
  clear: both;
  float: none;
  margin: 0px auto;
  overflow: hidden;
  width: 1000px;
}

.text h1 {
  color: #1c2022;
  font-size: 70px;
  margin-bottom: 20px;
}

.text .quicksand {
  color: #1c2022;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.text .helvetica {
  color: #777;
  margin-bottom: 20px;
}

.text .helvetica a {
  border-bottom: 1px dashed;
  color: #777;
  padding-bottom: 3px;
}

#login {
  clear: both;
  float: none;
  margin: 0px auto;
  overflow: hidden;
  width: 1000px;
}

#login h1 {
  color: #1c2022;
  font-size: 70px;
  margin-bottom: 20px;
}

#login form {
  overflow: hidden;
  width: 450px;
}

#login form div {
  width: 450px;
}

#login form label {
  color: #777;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

#login form input[type="text"],
#login form input[type="password"] {
  background: #1c2022;
  color: #fff;
  font: 400 18px Arial, Helvetica, sans-serif;
  height: 48px;
  margin-bottom: 15px;
  padding: 0px 15px;
  width: 420px;
}

#login form input[type="password"] {
  margin-bottom: 20px;
}

#login form input[type="submit"] {
  background: url('images/contacts.submit.png') 0px 0px no-repeat;
  color: #fff;
  cursor: pointer;
  .cursor: hand;
  float: right;
  font: 400 18px Arial, Helvetica, sans-serif;
  height: 42px;
  text-align: center;
  width: 131px;
}

#login form + a {
  border-bottom: 1px dashed;
  color: #777;
  padding-bottom: 3px;
  position: relative;
  top: -30px;
}

#forgot {
  clear: both;
  float: none;
  margin: 0px auto;
  overflow: hidden;
  width: 1000px;
}

#forgot h1 {
  color: #1c2022;
  font-size: 70px;
  margin-bottom: 20px;
}

#forgot form {
  overflow: hidden;
  width: 450px;
}

#forgot form div {
  width: 450px;
}

#forgot form label {
  color: #777;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

#forgot form input[type="text"] {
  background: #1c2022;
  color: #fff;
  font: 400 18px Arial, Helvetica, sans-serif;
  height: 48px;
  margin-bottom: 20px;
  padding: 0px 15px;
  width: 420px;
}

#forgot form input[type="submit"] {
  background: url('images/contacts.submit.png') 0px 0px no-repeat;
  color: #fff;
  cursor: pointer;
  .cursor: hand;
  float: right;
  font: 400 18px Arial, Helvetica, sans-serif;
  height: 42px;
  text-align: center;
  width: 131px;
}

#footer {
  clear: both;
  color: #777;
  float: none;
  height: 30px;
  line-height: 30px;
  margin: 0px auto 30px;
  overflow: hidden;
  padding-top: 40px;
  width: 1000px;
}

.text + #footer {
  padding-top: 20px;
}

#login + #footer,
#forgot + #footer {
  bottom: 0px;
  left: 50%;
  margin-left: -500px;
  position: absolute;
}

#footer a {
  border-bottom: 1px dashed;
  color: #777;
  padding-bottom: 3px;
}

#footer p {
  float: left;
}

#footer ul {
  float: right;
  list-style-type: none;
}

#footer ul li {
  float: left;
  margin-left: 20px;
}

#footer ul li:first-child {
  margin-left: 0px;
}

cufon {
  text-indent: 0!important;
}

@media screen,projection {
  cufon {
    display: inline!important;
    display: inline-block!important;
    position: relative!important;
    vertical-align: middle!important;
    font-size: 1px!important;
    line-height: 1px!important;
  }

  cufon cufontext {
    display: -moz-inline-box!important;
    display: inline-block!important;
    width: 0!important;
    height: 0!important;
    overflow: hidden!important;
    text-indent: -10000in!important;
  }

  cufon canvas {
    position: relative!important;
  }
}

@media print {
  cufon {
    padding: 0!important;
  }

  cufon canvas {
    display: none!important;
  }
}