html {
  overflow-y: scroll;
}

html,
body,
img,
div,
span,
form,
label,
table,
tr,
td,
ul,
li,
font,
p,
hr,
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

body {
  background: url(//probux.cachefly.net/images/bg1.jpg);
  font: normal 13px Arial,Helvetica,sans-serif;
  padding-bottom: 10px;
}

table,
tr,
td {
  vertical-align: middle;
}

form {
  display: inline;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

input {
  background-color: #FBFBFB;
  color: #3a3a3a;
  font: 13px Verdana,Arial,Helvetica,sans-serif;
  outline-width: 0;
  padding: 2px 4px;
  width: 186px;
  height: 20px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0 #d9d9d9 #d9d9d9 #d9d9d9;
}

input:hover {
  border-color: #A0A0A0 #B9B9B9 #B9B9B9;
  border-right: 1px solid #B9B9B9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

input:focus {
  border: 1px solid #4d90fe;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

input.error {
  border: 1px solid #DD4B39;
}

.td-error {
  font: 13px 'lucida grande',tahoma,verdana,arial,sans-serif;
  color: #DD4B39;
  padding: 3px 10px 0;
}

.upg-tag {
  border-radius: 4px;
  border: 1px solid #aaa;
  color: #fff;
  font: bold 10px Verdana, Arial, Helvetica, sans-serif;
  padding: 3px 6px;
}

.tag-premium {
  background: #5aa53b;
}

.tag-standard {
  background: #6e70a2;
  background: -moz-linear-gradient(top, #9C9ED0, #6e70a2);
  background: -ms-linear-gradient(top, #9C9ED0, #6e70a2);
  background: -o-linear-gradient(top, #9C9ED0, #6e70a2);
  background: -webkit-linear-gradient(top, #9C9ED0, #6e70a2);
  background: linear-gradient(top, #9C9ED0, #6e70a2);
  border: 1px solid #6e70a2 !important;
}

.tag-golden {
  background: #989665;
  background: -moz-linear-gradient(top, #c4c28e, #989665);
  background: -ms-linear-gradient(top, #c4c28e, #989665);
  background: -o-linear-gradient(top, #c4c28e, #989665);
  background: -webkit-linear-gradient(top, #c4c28e, #989665);
  background: linear-gradient(top, #c4c28e, #989665);
  border: 1px solid #989665 !important;
}

.tag-ultimate {
  background: #963846;
  background: -moz-linear-gradient(top, #c7466f, #963846);
  background: -ms-linear-gradient(top, #c7466f, #963846);
  background: -o-linear-gradient(top, #c7466f, #963846);
  background: -webkit-linear-gradient(top, #c7466f, #963846);
  background: linear-gradient(top, #c7466f, #963846);
  border: 1px solid #963846 !important;
}

.tag-admin {
  background: #bd362a;
}

.tag-mods {
  background: #7f12ad;
}

.ballon-green,
.ballon-orange,
.ballon-purple {
  font: 11px/10px Arial,Helvetica,sans-serif;
  color: #fff;
  padding: 0 3px;
  vertical-align: 1px;
  border-radius: 5px;
}

.ballon-green {
  background: #a1e048;
  background: -moz-linear-gradient(top, #a1e048, #7bac37);
  background: -ms-linear-gradient(top, #a1e048, #7bac37);
  background: -o-linear-gradient(top, #a1e048, #7bac37);
  background: -webkit-linear-gradient(top, #a1e048, #7bac37);
  background: linear-gradient(top, #a1e048, #7bac37);
}

.ballon-orange {
  background: #e9a536;
  background: -moz-linear-gradient(top, #e9a536, #c58316);
  background: -ms-linear-gradient(top, #e9a536, #c58316);
  background: -o-linear-gradient(top, #e9a536, #c58316);
  background: -webkit-linear-gradient(top, #e9a536, #c58316);
  background: linear-gradient(top, #e9a536, #c58316);
}

.ballon-purple {
  background: #D236E9;
  background: -moz-linear-gradient(top, #D236E9, #AA16C5);
  background: -ms-linear-gradient(top, #D236E9, #AA16C5);
  background: -o-linear-gradient(top, #D236E9, #AA16C5);
  background: -webkit-linear-gradient(top, #D236E9, #AA16C5);
  background: linear-gradient(top, #D236E9, #AA16C5);
}

#header-menu {
  display: table;
  width: 100%;
  height: 70px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid #eee;
  background: #071f4b;
  background: -moz-linear-gradient(top,  #0c3569 0%, #071f4b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c3569), color-stop(100%,#071f4b));
  background: -webkit-linear-gradient(top,  #0c3569 0%,#071f4b 100%);
  background: -o-linear-gradient(top,  #0c3569 0%,#071f4b 100%);
  background: -ms-linear-gradient(top,  #0c3569 0%,#071f4b 100%);
  background: linear-gradient(to bottom,  #0c3569 0%,#071f4b 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0c3569', endColorstr='#071f4b')";
}

#menu-table {
  margin: 0 auto;
  width: 980px;
  height: 70px;
}

#m-topo {
  border: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

#m-topo td {
  vertical-align: top;
  text-align: center;
}

.m-fix-space {
  width: 50px;
}

#m-topo a {
  color: #fff;
  text-decoration: none;
  font: bold 13px/18px "Trebuchet MS",Arial,sans-serif;
  padding-top: 28px;
  margin-top: -24px;
  display: block;
  *zoom: 1;
}

#m-topo a:hover {
  text-decoration: underline;
}

.m-topo-sprite {
  margin: 0 auto;
  display: block;
  width: 24px;
  height: 24px;
  background: url(//probux.cachefly.net/images/m-topo-sprite.png) no-repeat;
}

.m-icn-acc {
  background-position: 0 0;
}

.m-icn-cancel {
  background-position: -25px 0;
}

.m-icn-forum {
  background-position: -50px 0;
}

.m-icn-grid {
  background-position: -75px 0;
}

.m-icn-key {
  background-position: -100px 0;
}

.m-icn-lock {
  background-position: -125px 0;
}

.m-icn-offers {
  background-position: -150px 0;
}

.m-icn-tasks {
  background-position: -175px 0;
}

.m-icn-view {
  background-position: -200px 0;
}

.menuleft-box-title {
  padding: 9px 10px;
  border: 1px solid #DCE7F0;
  background: #edf1f5;
  font: bold 13px 'Trebuchet MS',Arial,sans-serif;
  color: #3f4c59;
  -webkit-box-shadow: rgba(255,255,255,0.6) 0 1px 0 inset;
  box-shadow: rgba(255,255,255,0.6) 0 1px 0 inset;
}

.menuleft-box-content {
  padding: 6px 5px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  background: #f9f9f9;
}

.ul-bt-acc {
  list-style-type: none;
  width: 100%;
}

.ul-bt-acc li {
  padding: 2px 0 4px;
  width: 100%;
}

.ul-bt-acc li a {
  border-width: 1px;
  border-style: solid;
  border-color: #FFF #EEE #EEE #FFF;
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 3px 6px;
  width: 175px;
  border-radius: 3px;
  color: #3F4C59;
}

.ul-bt-acc li a:hover {
  background: #F5F5F5;
  text-decoration: underline;
  border-color: #EEEEEE #DEDEDE #DEDEDE #EEEEEE;
  color: #1155CC;
}

.idx-title {
  font: bold 36px Georgia,"Times New Roman",Times,serif;
  color: #99CC00;
  text-shadow: 0 1px 0 #ccc,0 2px 0 #000,0 3px 0 #000,0 3px 0 #000,0 3px 0 #000,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);
}

.idx-subtitle {
  font: bold 22px/1.5em Garamond,Georgia,"Times New Roman",Times,serif;
  color: #99D6FA;
  text-shadow: 0 1px 1px #000000;
}

#ul-bt-idx {
  float: left;
  list-style-type: none;
  overflow: hidden;
}

#ul-bt-idx li {
  float: left;
}

#ul-bt-idx li a {
  display: block;
  padding: 10px 25px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font: bold 22px Arial, Helvetica, sans-serif;
  color: #fff;
  border: solid 1px #81c020;
  text-shadow: -1px 1px 0px #427b3f;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px 0px #b3b3b3;
  box-shadow: 0px 1px 2px 0px #b3b3b3;
  background: #77bd11;
  background: -moz-linear-gradient(top,  #77bd11 0%, #60a604 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77bd11), color-stop(100%,#60a604));
  background: -webkit-linear-gradient(top,  #77bd11 0%,#60a604 100%);
  background: -o-linear-gradient(top,  #77bd11 0%,#60a604 100%);
  background: -ms-linear-gradient(top,  #77bd11 0%,#60a604 100%);
  background: linear-gradient(to bottom,  #77bd11 0%,#60a604 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77bd11', endColorstr='#60a604',GradientType=0 );
  zoom: 1;
}

#ul-bt-idx li a:hover {
  background: #65ab07;
  text-decoration: underline;
}

#ul-bt-idx li a:active {
  background: #5c9d07;
  border: solid 1px #54880E;
  -webkit-box-shadow: inset 0px 0px 8px  #568e0d;
  box-shadow: inset 0px 0px 8px  #568e0d;
}

.idx-titles-content {
  color: #0350A6;
  font: 16px/18px Georgia,"Times New Roman",Times, serif;
  margin-bottom: 4px;
}

.idx-subtitles-content {
  color: #545454;
  font-size: 12px;
  line-height: 18px;
}

.idx-ul {
  list-style-type: none;
  padding: 0;
  margin: 2px 0 0 0;
  display: table;
}

.idx-ul li {
  background: url(//probux.cachefly.net/images/idx-list.jpg) no-repeat left center;
  padding-left: 12px;
  font: 11px/18px Verdana,Arial,Helvetica,sans-serif;
  color: #545454;
}

.idx-ul li:hover {
  color: red;
}

.idx-sprite {
  float: right;
  background: url(//probux.cachefly.net/images/idx-sprite.jpg) no-repeat right center;
}

.idx-icn1 {
  width: 40px;
  height: 40px;
  background-position: 0 0;
}

.idx-icn2 {
  width: 32px;
  height: 32px;
  background-position: -80px;
}

.idx-icn3 {
  width: 40px;
  height: 40px;
  background-position: -40px 0;
}

.idx-icn4 {
  width: 19px;
  height: 19px;
  background-position: -112px -1px;
}

.idx-icn5 {
  width: 19px;
  height: 19px;
  background-position: -112px -20px;
}

.button-submit {
  font-size: 11px;
  padding: 8px 12px;
  width: auto;
  overflow: visible;
  outline-width: 0;
  height: auto !important;
}

.button-mini {
  font-size: 10px;
  padding: 4px 8px;
  display: inline-block;
  *display: inline;
}

.button-link {
  font-size: 11px;
  padding: 8px 12px;
  display: inline-block;
  *display: inline;
}

.button-submit,
.button-mini,
.button-link,
.forum-button-mini,
#ul-topic li a {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border: solid 1px #2b8cca;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px 0px #b3b3b3;
  box-shadow: 0px 1px 2px 0px #b3b3b3;
  background: #4da1e2;
  background: -moz-linear-gradient(top,  #4da1e2 0%, #448fc9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4da1e2), color-stop(100%,#448fc9));
  background: -webkit-linear-gradient(top,  #4da1e2 0%,#448fc9 100%);
  background: -o-linear-gradient(top,  #4da1e2 0%,#448fc9 100%);
  background: -ms-linear-gradient(top,  #4da1e2 0%,#448fc9 100%);
  background: linear-gradient(to bottom,  #4da1e2 0%,#448fc9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4da1e2', endColorstr='#448fc9',GradientType=0 );
  zoom: 1;
}

.button-submit:hover,
.button-mini:hover,
.button-link:hover,
.forum-button-mini:hover,
#ul-topic li a:hover {
  background: #438cc4;
  text-decoration: underline;
}

.button-submit:active,
.button-mini:active,
.button-link:active,
.forum-button-mini:active,
#ul-topic li a:active {
  border: solid 1px #005788;
  background: #0d78b5;
  -webkit-box-shadow: inset 0px 0px 8px  #6D6D6D;
  box-shadow: inset 0px 0px 8px  #6D6D6D;
}

.button-submit-d,
.forum-button-mini-d,
#ul-topic-d li a {
  font: bold 11px Verdana,sans-serif;
  text-transform: uppercase;
  padding: 8px 12px;
  width: auto;
  overflow: visible;
  outline-width: 0;
  color: #eee !important;
  cursor: default !important;
  text-decoration: none !important;
  height: auto !important;
  border: solid 1px #797979;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px 0px #b3b3b3;
  box-shadow: 0px 1px 2px 0px #b3b3b3;
  background: #9f9f9f;
  background: -moz-linear-gradient(top,  #9f9f9f 0%, #797979 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9f9f9f), color-stop(100%,#797979));
  background: -webkit-linear-gradient(top,  #9f9f9f 0%,#797979 100%);
  background: -o-linear-gradient(top,  #9f9f9f 0%,#797979 100%);
  background: -ms-linear-gradient(top,  #9f9f9f 0%,#797979 100%);
  background: linear-gradient(to bottom,  #9f9f9f 0%,#797979 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f9f9f', endColorstr='#797979',GradientType=0 );
  zoom: 1;
}

a.link {
  font: 12px/1.3em Arial,Helvetica,sans-serif;
  color: #1155CC;
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}

.c-table {
  margin: 0 auto;
  width: 980px;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  border-top: 1px solid #ccc;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  z-index: 1;
}

.c-td {
  vertical-align: top;
  padding: 15px;
}

.c-inside {
  border: 1px solid #E5E5E5;
  width: 100%;
  height: 40px;
  font: 16px Verdana,sans-serif;
  color: #444;
  border-radius: 5px;
}

.ci-inside-td {
  vertical-align: top;
  padding: 15px;
}

.ci-top-table {
  border: 1px solid #E5E5E5;
  width: 100%;
  height: 40px;
  font: 16px Verdana,sans-serif;
  color: #444;
  border-radius: 5px 5px 0px 0px;
}

.ci-bottom-table {
  border: 1px solid #E5E5E5;
  width: 100%;
  margin-top: 8px;
  border-radius: 0 0 10px 10px;
}

.c-inside,
.ci-top-table,
.ci-bottom-table {
  background: url(//probux.cachefly.net/images/bgi.jpg);
}

.ci-box {
  border-radius: 6px;
  text-align: left;
  border: 1px solid #ddd;
  background: #fbfafa;
  font: bold 13px Arial,sans-serif;
  color: #333;
  padding: 16px 15px;
}

.gray-box {
  border: 1px solid #CDCDCD;
  font: 11px/20px Verdana,Arial,Helvetica,sans-serif;
  color: #3F4C59;
}

.gray-box-title {
  padding: 9px 10px;
  border: 1px solid #fff;
  font: bold 13px 'Trebuchet MS',Arial,sans-serif;
  color: #3f4c59;
  background: #f1f1f1;
  border-bottom: 1px solid #e5e5e5 !important;
}

.gray-box-td {
  padding: 9px 16px 9px;
  background: #fbfafa;
}

.gray-box-content {
  font: 11px/20px Verdana,Arial,Helvetica,sans-serif;
  color: #3F4C59;
}

.gray-box-hr {
  background: url(//probux.cachefly.net/images/dot.gif) repeat-x;
  height: 1px;
  padding-bottom: 7px;
}

.box-msg {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255,255,255,0.4) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255,255,255,0.4) inset;
  border: 1px solid;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.6px;
  padding: 6px 24px;
  border-radius: 5px;
  text-shadow: 0 -1px #ddd;
}

.notification-box-info {
  background-color: #cfe6fc;
  border-color: #a4c8f5;
  color: 0f2251;
}

.notification-box-success {
  background-color: #d2f7ad;
  border-color: #aedb2e;
  color: #32510f;
}

.notification-box-warning {
  background-color: #fae7a2;
  border-color: #f5c558;
  color: #51440f;
}

.notification-box-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-shaddow: 0 1px 0 rgba(255,255,255,0.5);
}

.help-int {
  background: url(//probux.cachefly.net/images/help-input.gif) no-repeat;
  width: 372px;
  height: 52px;
  font: 21px Arial, Helvetica, sans-serif;
  border: 0;
  padding: 6px 8px 0;
}

.help-int:hover,
.help-int:focus {
  border: 0;
  box-shadow: 0px 0px 0px;
}

.help-subicons {
  background: url(//probux.cachefly.net/images/help-subicons.gif) no-repeat;
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.help-sub1 {
  background-position: 0 0;
}

.help-sub2 {
  background-position: 0 -80px;
}

.help-sub3 {
  background-position: 0 -160px;
}

.help-sub4 {
  background-position: 0 -240px;
}

.helpbox-table {
  background: #f5f6f9;
  border-radius: 6px;
  padding: 5px 10px;
  width: 320px;
}

.helpbox-table:hover {
  background: #edeff4;
  cursor: pointer;
}

.helpbox-td-img {
  width: 80px;
}

.helpbox-title {
  font: 15px Georgia, 'Times New Roman', Times, serif;
  color: #3B5998;
}

.helpbox-text {
  margin-top: 2px;
  font: 11px/16px Verdana, Arial, Helvetica, sans-serif;
  color: #888;
}

.helps-results-div {
  padding: 0 6px 8px;
  width: 568px;
  background: #feedee;
  text-shadow: 0 -1px #fff;
}

.help-results-title {
  font: bold 17px/26px Georgia, 'Times New Roman', Times, serif;
  color: #3B5998;
}

.help-results-title a {
  color: #3B5998;
  text-decoration: none;
}

.help-results-title a:hover {
  text-decoration: underline;
}

.help-results-text {
  font: 11px/18px Verdana, Arial, Helvetica, sans-serif;
  color: #333;
}

.support-error {
  color: #900;
  font: bold 12px/20px Arial, Helvetica, sans-serif;
}

.support-textarea {
  width: 450px;
  height: 225px;
  background: #F4F4F4;
  border: 1px solid #bbb;
  border-radius: 3px;
  color: #3a3a3a;
  padding: 2px;
  outline-width: 0;
}

.support-textarea:hover,
.support-textarea:focus {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.bts-pay,
.bts-pay-d {
  border: 1px solid #d2cfcf;
  border-radius: 3px;
  padding: 16px 12px;
  background: #fefefe;
  cursor: pointer;
  display: inline-block;
  background: -moz-linear-gradient(top,  rgba(254,254,254,0) 0%, rgba(230,234,236,0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,0)), color-stop(100%,rgba(230,234,236,0.65)));
  background: -webkit-linear-gradient(top,  rgba(254,254,254,0) 0%,rgba(230,234,236,0.65) 100%);
  background: -o-linear-gradient(top,  rgba(254,254,254,0) 0%,rgba(230,234,236,0.65) 100%);
  background: -ms-linear-gradient(top,  rgba(254,254,254,0) 0%,rgba(230,234,236,0.65) 100%);
  background: linear-gradient(to bottom,  rgba(254,254,254,0) 0%,rgba(230,234,236,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fefefe', endColorstr='#a6e6eaec',GradientType=0 );
}

.bts-pay:hover {
  background: #f2f2f2;
  border: 1px solid #ddd;
}

.bts-pay img {
  width: 70px;
  height: 22px;
  border: 0;
}

.bts-pay-d {
  background: #f0f0f0;
  border: 1px solid #ddd;
  cursor: default;
}

.bts-pay-d img {
  width: 70px;
  height: 22px;
  border: 0;
}

#f-table {
  margin: 0 auto;
  width: 980px;
  background: #fff;
  border-top: 1px solid #b0c8e3;
  border-radius: 0px 0px 10px 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font: 11px Verdana,Arial,Helvetica,sans-serif;
  color: #545454;
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

#f-td-copyright {
  padding: 6px 15px 7px;
}

#f-td-facebook {
  width: 21px;
  padding: 1px 10px 2px 11px;
}

#f-td-twitter {
  width: 21px;
  padding-top: 2px;
}

#ul-footer {
  float: right;
  list-style-type: none;
  overflow: hidden;
}

#ul-footer li {
  float: left;
  padding-left: 14px;
}

#ul-footer li a {
  font: 11px Verdana,Arial,Helvetica,sans-serif;
  color: #545454;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 3px 5px;
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#ul-footer li a:hover {
  color: #fff;
  background: #448fc9;
  border: solid 1px #2b8cca;
}

.f-socials {
  background: url(//probux.cachefly.net/images/f_socials.gif) no-repeat;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.f-facebook {
  background-position: 0 0;
  width: 21px;
  height: 21px;
}

.f-twitter {
  background-position: 0 -21px;
  width: 21px;
  height: 21px;
}

#seals {
  border: 0;
  margin: 0 auto;
}

#seals td {
  padding: 22px 27px;
}

#seals img {
  border: 0;
}

.bts-pay,
.bts-pay-d {
  padding: 15px 12px !important;
}

.color-red {
  border: solid 1px #E49786;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 2px 0px #b3b3b3;
  box-shadow: 0px 1px 2px 0px #b3b3b3;
  background: #f27051;
  background: -moz-linear-gradient(top,  #f27051 0%, #c84626 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f27051), color-stop(100%,#c84626));
  background: -webkit-linear-gradient(top,  #f27051 0%,#c84626 100%);
  background: -o-linear-gradient(top,  #f27051 0%,#c84626 100%);
  background: -ms-linear-gradient(top,  #f27051 0%,#c84626 100%);
  background: linear-gradient(to bottom,  #f27051 0%,#c84626 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f27051', endColorstr='#c84626',GradientType=0 );
  zoom: 1;
}

.color-red:hover {
  background: #c84626;
}

.color-red:active {
  background: #c84626;
  border: solid 1px #8B493A;
  -webkit-box-shadow: inset 0px 0px 8px  #a54027;
  box-shadow: inset 0px 0px 8px  #a54027;
}

.menutoponew {
  display: inline;
  float: right;
}

.menutoponew li {
  list-style: none;
  float: left;
  margin-left: 30px;
}

.menutoponew li a {
  color: #FFF;
  font: bold 13px/18px "Trebuchet MS",Arial,sans-serif;
  text-decoration: none;
}

.menutoponew li a:hover {
  text-decoration: underline;
}