html,
body {
  margin: 0px;
  height: 100%;
  background: #fff;
}

img {
  border: 0;
}

a {
  text-decoration: none;
  color: #053367;
}

a:hover {
  color: #c00;
  text-decoration: underline;
}

body {
  font-family: "宋体";
  font-size: 12px;
  line-height: 24px;
  color: #666;
}

select,
input {
  font-size: 12px;
  font-family: "宋体";
  padding: 1px;
  margin: 0;
  color: #000;
}

ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
p,
form,
em,
spen {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border: 0;
  padding: 0;
  margin: 0;
}

em,
i {
  font-style: normal;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child+html .clearfix {
  zoom: 1;
}

.top,
.top .top_width .login a,
.top .top_width .login a:hover,
.mainsearch .inputbox,
.mainsearch .btn,
.mainsearch .selectbox a.selectnow,
.osnav_index,
.bottomsearch,
.wrapper_sitenav dt,
.osnav_base ul li.now,
.header ul.nav_ico li.onered a,
.header ul.nav_ico li.onered a:hover,
.header ul.nav_ico li.news a,
.header ul.nav_ico li.news a:hover,
.header ul.nav_ico li.phone a,
.header ul.nav_ico li.phone a:hover,
.header ul.nav_ico li.weibo a,
.header ul.nav_ico li.weibo a:hover,
.userbotm {
  background-image: url(../2014images/back.png);
}

.header ul.hnnav li a,
.header ul.hnnav li a:hover,
.advert ul.font_ad li,
.advert ul.font1_ad li,
ul.list_video li,
ul.list_newsr li,
ul.list_newsc li,
ul.list_newsrzr li,
.wapper .main .center_box .tab_box .modbox ul.txt_tab li,
.wapper .main .center_box .tab_box .modbox ul.txt_list li,
ul.boxr_txt li,
.list_Enterprise li {
  background-image: url(../2014images/ico.png);
  background-repeat: no-repeat;
}

.red {
  color: #c00;
}

.grey {
  color: #999;
}

.white {
  color: #fff;
}

.top {
  width: 1000px;
  margin: 0 auto;
  background-position: 0px 536px;
}

.top .top_width {
  height: 39px;
  line-height: 38px;
}

.top .top_width,
.header {
  width: 1000px;
  margin: 0 auto;
}

.top .top_width a {
  color: #fff;
}

.top .top_width a:hover {
  color: #FF0;
  text-decoration: none;
}

.top .top_width .login {
  float: left;
}

.top .top_width .login a.login-btn {
  height: 43px;
  background-position: 0px 492px;
  text-align: center;
  padding: 0 20px;
  position: relative;
}

.top .top_width .login a.login-btn {
  display: inline-block;
}

.top .top_width .login a.login-btn:hover,
.top .top_width .login a.over {
  background-position: 0 437px;
  text-decoration: none;
}

.top .top_width .login .dropdown {
  position: relative;
  background: #000;
  z-index: 999;
}

.top .top_width .login .dropdown .dropdownLayer {
  position: absolute;
  top: 53px;
  left: 2px;
  display: none;
  box-shadow: 0 0 5px #666;
  padding: 15px 30px 10px;
  background: #fff;
  width: 180px;
  border: 1px solid #ddd;
}

.top .top_width .login .dropdown .dropdownLayer dl {
  width: 180px;
  float: left;
  line-height: 22px;
}

.top .top_width .login .dropdown .dropdownLayer dd {
  margin-bottom: 10px;
}

.top .top_width .login .userBox {
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  text-align: center;
}

.top .top_width .login .userBox a {
  color: #ff0;
  background: none;
}

.top .top_width .login .userBox a:hover {
  color: #F60;
  text-decoration: none;
}

.top .top_width .login .userinfo {
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  width: 80px;
  text-align: center;
}

.useriput {
  width: 178px;
  border: 1px solid #ddd;
  height: 22px;
  line-height: 22px;
}

.check {
  margin: 3px 8px 0 0;
  float: left;
}

.userbotm {
  width: 178px;
  border: 1px solid #333;
  background-position: 0 147px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  color: #fff;
  height: 33px;
  line-height: 30px;
  margin-top: 12px;
  cursor: pointer;
}

.top .top_width .login .dropdown .dropdownLayer dt span {
  float: left;
}

.top .top_width .login .dropdown .dropdownLayer dt a {
  background: none;
  color: #c00;
  float: right;
}

.top .top_width .login .dropdown .dropdownLayer dt a:hover {
  color: #f00;
}

.top .top_width .register,
.top .top_width .home {
  padding-left: 20px;
  float: left;
}

.top .top_width .tools {
  float: right;
  color: #fff;
  text-align: right;
}

.top .top_width .tools a {
  padding: 0 15px;
}

.header {
  padding-top: 25px;
}

.header .logo {
  width: 164px;
  float: left;
  padding: 5px 15px 0;
}

.header .weather {
  width: 130px;
  float: left;
  overflow: hidden;
  padding: 30px 15px 0 0;
}

.header .search_box {
  width: 350px;
  float: left;
  margin-left: 15px;
}

.header .search_box #time {
  font-family: Verdana, Geneva, sans-serif;
  float: left;
  width: 270px;
}

.header .search_box .360-Search {
  float: left;
  width: 80px;
  text-align: right;
}

.header .search_box .search {
  width: 350px;
  float: left;
  padding-top: 5px;
}

.header ul.nav_ico {
  width: 290px;
  float: right;
}

.header ul.nav_ico li {
  margin-left: 10px;
  display: inline;
  float: left;
}

.header ul.nav_ico li.onered a {
  width: 62px;
  height: 62px;
  display: block;
  background-position: 0px 800px;
  float: left;
}

.header ul.nav_ico li.onered a:hover {
  background-position: 62px 800px;
}

.header ul.nav_ico li.news a {
  width: 62px;
  height: 62px;
  display: block;
  background-position: 0px 735px;
  float: left;
}

.header ul.nav_ico li.news a:hover {
  background-position: 62px 735px;
}

.header ul.nav_ico li.phone a {
  width: 62px;
  height: 62px;
  display: block;
  background-position: 0px 670px;
  float: left;
}

.header ul.nav_ico li.phone a:hover {
  background-position: 62px 670px;
}

.header ul.nav_ico li.weibo a {
  width: 62px;
  height: 62px;
  display: block;
  background-position: 0px 604px;
  float: left;
}

.header ul.nav_ico li.weibo a:hover {
  background-position: 62px 604px;
}

.header ul.hnnav {
  width: 1000px;
  float: left;
  margin-top: 25px;
  border-bottom: 3px solid #666;
  font-size: 14px;
  padding-bottom: 4px;
}

.header ul.hnnav li {
  float: left;
  margin-right: 14px;
  position: relative;
}

.header ul.hnnav li div.dropdownLayer {
  display: none;
  position: absolute;
  left: 0;
  top: 12px;
  padding-top: 20px;
  background: url(../2014images/kong.gif);
}

.header ul.hnnav li a.drop-link {
  padding-right: 12px;
  height: 22px;
  background-position: right -5px;
  float: left;
}

.header ul.hnnav li a.drop-link:hover {
  background-position: right 11px;
  text-decoration: none;
}

.widht_fz {
  width: 270px;
}

.widht_wt {
  width: 142px;
}

.header ul.hnnav li .dropdownLayer .a_link {
  font-size: 12px;
  box-shadow: 0 0 5px #ddd;
  padding: 10px 5px;
  background: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
}

.header ul.hnnav li .dropdownLayer .a_link a {
  color: #666;
  background: none;
  padding: 0 5px;
  white-space: nowrap;
  float: left;
}

.header ul.hnnav li .dropdownLayer .a_link a:hover {
  color: #039;
  background: none;
}

.mainnav {
  width: 1000px;
  font-family: 微软雅黑;
  font-size: 14px;
  margin: 12px auto;
  overflow: hidden;
}

.mainnav .navbar {
  float: left;
}

.mainnav .navbar a {
  padding-right: 11px;
  float: left;
  *float: auto;
}

.navwidt {
  width: 278px;
  display: inline;
}

.navwidt1 {
  width: 256px;
  padding: 0 0 0 15px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.navwidt2 {
  width: 434px;
  padding-left: 15px;
}

.mainsearch .inputbox {
  float: left;
  background-position: 0px 322px;
  border: #ddd 2px solid;
  margin-right: 0;
}

.mainsearch .input {
  padding: 3px 4px 3px 6px;
  line-height: 21px;
  height: 21px;
  width: 235px;
  float: left;
  border: none;
  background: none;
}

.mainsearch .inputover {
  background-position: 0px 291px;
  border: #c00 2px solid;
}

.mainsearch .btn {
  border: none;
  background-position: -85px 387px;
  cursor: pointer;
  width: 39px;
  height: 31px;
  float: left;
}

.mainsearch .btn:hover,
.mainsearch .btn.btnover {
  background-position: -85px 356px;
}

.mainsearch .selectbox {
  width: 60px;
  height: 23px;
  cursor: pointer;
  z-index: 100;
  float: left;
}

.mainsearch .selectbox a.selectnow {
  display: block;
  background-position: 108px 353px;
  width: 49px;
  height: 20px;
  line-height: 21px;
  padding: 3px 0 4px 11px;
  overflow: hidden;
  white-space: nowrap;
  color: #888;
  font-weight: 100;
}

.mainsearch .selectbox a.selectnow:hover,
.mainsearch .selectbox a.over {
  background-position: 108px 385px;
  border-right: #ddd 2px solid;
  padding: 3px 0 4px 11px;
  width: 47px;
  text-decoration: none;
  color: #c00;
}

.mainsearch .selectbox .selectlist {
  display: none;
  z-index: 200;
  position: absolute;
  width: 58px;
  border: #ddd 2px solid;
  border-top: none;
  background: #fff;
  margin-left: -2px;
}

.mainsearch .selectbox .selectlist li {
  float: left;
  width: 58px;
  overflow: hidden;
  border-top: #eee 1px solid;
}

.mainsearch .selectbox .selectlist li a {
  color: #666;
  display: block;
  padding: 3px 0 4px;
  height: 21px;
  line-height: 23px;
  overflow: hidden;
  text-align: center;
}

.mainsearch .selectbox .selectlist li a:hover {
  background: #f7f7f7;
  color: #c00;
}

.mainsearch .selectbox .selectlist li a.selected {
  background: #c00;
  color: #fff;
}

.mainsearch .selectbox a {
  outline: none;
  text-decoration: none;
}

.mainsearch .selectbox a:focus {
  outline: none;
  text-decoration: none;
}

.advert {
  width: 1000px;
  margin: 0 auto 12px;
  overflow: hidden;
  border-top: 1px solid #ddd;
  padding-top: 5px;
}

.advert ul.font_ad {
  width: 1000px;
  float: left;
  padding-bottom: 5px;
}

.advert ul.font_ad li {
  margin: 0 5px;
  display: inline;
  background-position: left -24px;
  padding-left: 10px;
  float: left;
}

.advert a {
  color: #666;
}

.advert a:hover {
  color: #036;
}

.advert .adbanner {
  width: 1000px;
  float: left;
  margin-bottom: 2px;
}

.advert .adbanner .left {
  width: 498px;
  float: left;
}

.advert .adbanner .right {
  float: right;
  width: 498px;
}

.advert .adbanner .ad_left {
  width: 155px;
  float: left;
}

.advert .adbanner .ad_cen {
  width: 682px;
  float: left;
  margin: 0 4px;
  display: inline;
}

.adbanner1 {
  width: 1000px;
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
}

.advert ul.font1_ad {
  width: 1000px;
  float: left;
}

.advert ul.font1_ad li {
  background-position: left -24px;
  padding-left: 10px;
  display: inline;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 5px;
}

.fontwr {
  font-family: 微软雅黑;
}

.wapper {
  width: 1000px;
  margin: 0 auto;
}

.mright {
  margin-right: 20px;
}

.mtop {
  margin-top: 15px;
}

.mtops {
  margin-top: 10px;
}

.botsx {
  border-top: 1px solid #5B88A7;
}

.wapper .main {
  width: 670px;
  float: left;
}

.wapper .main .top_line {
  width: 670px;
  padding: 15px 0;
  float: left;
}

.wapper .main .top_line h1 {
  width: 670px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
}

.wapper .main .top_line h1 a:hover {
  text-decoration: none;
}

.wapper .main .top_line ul.mort {
  padding-top: 8px;
  width: auto;
  text-align: center;
  margin: 0 auto;
}

.wapper .main .top_line ul.mort li {
  padding: 0 5px;
}

.focus {
  width: 340px;
  float: left;
  overflow: hidden;
}

.wapper .main ul.groom {
  width: 318px;
  float: left;
  margin-left: 12px;
}

.wapper .main ul.groom li {
  width: 318px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
  margin-bottom: 12px;
  float: left;
}

.wapper .main ul.groom li strong {
  width: 318px;
  float: left;
  font-size: 16px;
  padding-bottom: 8px;
}

.wapper .main ul.groom li span {
  width: 318px;
  float: left;
  font-size: 14px;
}

.wapper .main ul.groom li span a {
  padding-right: 5px;
}

.wapper .main .left_box {
  width: 310px;
  float: left;
  position: relative;
}

.wapper .main .left_box .ad_left {
  width: 60px;
  height: 180px;
  position: absolute;
  left: -65px;
  top: 0px;
}

.wapper .main .center_box {
  width: 340px;
  float: left;
}

.wapper .sidebr {
  width: 310px;
  float: left;
}

.title {
  width: 310px;
  float: left;
  padding: 12px 0 8px;
}

.title strong,
.titles strong {
  font-size: 16px;
  float: left;
}

.title strong.bgred,
.titles strong.bgred {
  float: left;
  background: #c00;
  color: #fff;
  padding: 0 8px;
  display: block;
  margin-right: 10px;
}

.title strong.bgred a,
.titles strong.bgred a {
  color: #fff;
}

.title em.red_ad,
.titles em.red_ad {
  float: left;
}

.title span,
.titles span {
  float: right;
}

.title i,
.titles i {
  float: right;
  text-align: right;
}

.title i a,
.titles i a {
  color: #666;
  padding-left: 10px;
}

.title i a:hover,
.titles i a:hover {
  color: #333;
}

.titles {
  width: 340px;
  float: left;
  padding: 12px 0 8px;
}

.wapper .sidebr .box_r {
  width: 308px;
  float: left;
  border: 1px solid #ddd;
}

.wapper .sidebr .box_r .title_tab {
  width: 308px;
  float: left;
  padding: 10px 0;
}

.wapper .sidebr .box_r .title_tab span {
  float: right;
  padding-right: 10px;
}

.wapper .sidebr .box_r ul.tab {
  float: left;
}

.wapper .sidebr .box_r ul.tab li {
  float: left;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
  border-right: 1px solid #ddd;
}

.wapper .sidebr .box_r ul.tab li.hover {
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
}

.wapper .sidebr .box_r .modbox {
  width: 288px;
  padding: 0 10px 10px;
  float: left;
}

.pic_tw {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.pic_tw .img_h {
  width: 120px;
  height: 80px;
  float: left;
  margin-right: 10px;
}

.pic_tw .img_h img {
  width: 120px;
  height: 80px;
  float: left;
}

.pic_tw .fotwz {
  width: auto;
  font-size: 16px;
  font-weight: bold;
  font-family: 微软雅黑;
}

.list_Enterprise {
  width: 340px;
  float: left;
  overflow: hidden;
  zoom: 1;
}

.list_Enterprise li {
  float: left;
  display: inline;
  width: 155px;
  margin-left: 10px;
  padding-left: 10px;
  line-height: 28px;
  background-position: left -68px;
}

.listEnterprise {
  margin-left: -10px;
  overflow: hidden;
  zoom: 1;
}

ul.list_video,
ul.list_newsr,
ul.list_newsrzr {
  width: 310px;
  float: left;
}

ul.list_video li {
  padding-left: 25px;
  width: 285px;
  line-height: 28px;
  background-position: left -42px;
}

ul.list_newsr li,
ul.list_newsrzr li {
  width: 300px;
  float: left;
  padding-left: 10px;
  line-height: 28px;
  background-position: left -68px;
}

.size14 {
  font-size: 14px;
}

ul.list_newsc {
  width: 340px;
  float: left;
}

ul.list_newsc li {
  width: 330px;
  float: left;
  padding-left: 10px;
  line-height: 28px;
  background-position: left -68px;
}

ul.list_newsrzr li a {
  width: 240px;
  float: left;
}

ul.list_newsrzr li span {
  color: #666;
  float: left;
  width: 60px;
  text-align: right;
}

ul.boxr_txt {
  width: 288px;
  float: left;
}

ul.boxr_txt li {
  width: 278px;
  float: left;
  padding-left: 10px;
  line-height: 28px;
  background-position: left -68px;
}

.rpic {
  width: 310px;
  float: left;
  overflow: hidden;
  zoom: 1;
}

.rpic li {
  float: left;
  display: inline;
  width: 150px;
  margin-left: 10px;
}

.rpic img {
  width: 150px;
  height: 74px;
  float: left;
}

.list_rpic {
  margin-left: -10px;
  overflow: hidden;
  zoom: 1;
}

.video_pic {
  width: 340px;
  float: left;
  overflow: hidden;
  zoom: 1;
}

.video_pic li {
  float: left;
  display: inline;
  width: 162px;
  margin-left: 16px;
  margin-bottom: 5px;
}

.video_pic img {
  width: 162px;
  height: 98px;
  float: left;
}

.video_pic span {
  width: 162px;
  float: left;
  text-align: center;
}

.videopic {
  margin-left: -16px;
  overflow: hidden;
  zoom: 1;
  margin-bottom: -5px;
}

.mbotm {
  margin-bottom: 12px;
}

.botm_pic {
  width: 310px;
  float: left;
  overflow: hidden;
  zoom: 1;
}

.botm_pic li {
  float: left;
  display: inline;
  width: 147px;
  margin-left: 12px;
}

.botm_pic img {
  width: 147px;
  height: 98px;
  float: left;
}

.botmpic {
  margin-left: -12px;
  overflow: hidden;
  zoom: 1;
}

.wapper .ad_banner {
  width: 1000px;
  float: left;
}

.wapper .ad_banner .left_ad {
  float: left;
  width: 670px;
}

.wapper .ad_banner .right_ad {
  float: right;
  width: 310px;
}

.wapper .main .left_box .banner_310 {
  width: 310px;
  float: left;
  margin: 10px 0;
}

.wapper .main .center_box .banner_340 {
  width: 310px;
  float: left;
  margin: 10px 0;
}

.wapper .main .center_box .tab_box {
  width: 338px;
  float: left;
  border: 1px solid #ddd;
}

.wapper .main .center_box .tab_box ul.tab {
  width: 338px;
  float: left;
  background: #f9f9f9;
  font-size: 14px;
}

.wapper .main .center_box .tab_box ul.tab li {
  float: left;
  cursor: pointer;
  text-align: center;
  border-right: 1px solid #ddd;
  line-height: 32px;
  border-bottom: 1px solid #ddd;
  width: 83.5px;
}

.wapper .main .center_box .tab_box ul.tab li.hover {
  display: block;
  font-size: 14px;
  font-weight: bold;
  border-bottom: none;
  background: #fff;
}

.wapper .main .center_box .tab_box .modbox {
  width: 318px;
  padding: 10px;
  float: left;
}

.wapper .main .center_box .tab_box .modbox .pic {
  width: 318px;
  float: left;
  margin-bottom: 6px;
}

.wapper .main .center_box .tab_box .modbox .pic img {
  width: 318px;
  height: 134px;
  float: left;
}

.wapper .main .center_box .tab_box .modbox ul.txt_tab,
.wapper .main .center_box .tab_box .modbox ul.txt_list {
  width: 318px;
  float: left;
}

.wapper .main .center_box .tab_box .modbox ul.txt_tab li {
  padding-left: 24px;
  width: 294px;
  background-position: left -42px;
  line-height: 26px;
}

.wapper .main .center_box .tab_box .modbox ul.txt_list li {
  width: 308px;
  float: left;
  padding-left: 10px;
  background-position: left -68px;
  line-height: 26px;
}

.wapper .main .center_box ul.pic_w {
  width: 340px;
  float: left;
}

.wapper .main .center_box ul.pic_w li {
  width: 340px;
  float: left;
  margin-top: 13px;
  margin-bottom: 2px;
}

.wapper .main .center_box ul.pic_w li img {
  width: 142px;
  height: 98px;
  margin-right: 10px;
  float: left;
}

.wapper .main .center_box ul.pic_w li strong {
  float: left;
  background: #c00;
  padding: 0 8px;
  display: block;
  font-size: 14px;
}

.wapper .main .center_box ul.pic_w li strong a {
  color: #fff;
}

.wapper .main .center_box ul.pic_w li strong a:hover {
  color: #FF0;
  text-decoration: none;
}

.wapper .main .center_box ul.pic_w li span {
  width: 188px;
  float: left;
  font-size: 14px;
  padding: 2px 0;
  font-weight: bold;
}

.wapper .main .center_box ul.pic_w li i {
  width: 188px;
  float: left;
  line-height: 20px;
}

.wapper .main .center_box ul.pic_w li i a {
  color: #666;
}

.hdwrap {
  width: 340px;
  float: left;
  height: 300px;
  overflow: hidden;
}

.flashlist {
  height: 260px;
  width: 340px;
}

.flashlist .f_out {
  height: 260px;
  overflow: hidden;
  position: relative;
  z-index: 100;
  float: left;
}

.flashlist .f_out .vip01pic,
.jcToppic .vip01pic,
.vip02pic,
.vip03pic,
.vip04pic,
.vip05pic,
.vip06pic {
  width: 58px;
  height: 58px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 200;
}

.vip01pic {
  background: url(../2014images/focus.png) no-repeat 0 -123px;
}

.vip02pic {
  background: url(../2014images/focus.png) no-repeat -58px -123px;
}

.vip03pic {
  background: url(../2014images/focus.png) no-repeat -116px -123px;
}

.vip04pic {
  background: url(../2014images/focus.png) no-repeat -174px -123px;
}

.vip05pic {
  background: url(../2014images/focus.png) no-repeat -232px -123px;
}

.vip06pic {
  background: url(../2014images/focus.png) no-repeat -290px -123px;
}

.flashlist .f_out .picintro {
  height: 34px;
  background: url(../2014images/focus.png) no-repeat scroll 0 -63px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 999;
  padding: 0 20px;
  text-align: center;
}

.picintro h2 a {
  color: #FFF;
  font-family: "微软雅黑";
  font-size: 15px;
  line-height: 34px;
  font-weight: normal;
}

.flash_tab {
  height: 21px;
  background: url(../2014images/focus.png) no-repeat  0px 0px;
  padding-top: 19px;
}

.flash_tab .tabs {
  width: 200px;
  height: 5px;
  overflow: hidden;
  margin: auto;
}

.flash_tab .tabs ul li {
  width: 33px;
  height: 5px;
  float: left;
  display: block;
}

.flash_tab .tabs ul li.opdiv,
.noopdiv {
  padding: 0;
  opacity: 1;
}

.flash_tab .tabs ul li.opdiv a {
  width: 21px;
  height: 5px;
  background: url(../2014images/focus.png) no-repeat scroll -36px -190px;
  display: block;
}

.flash_tab .tabs ul li.opdiv a:hover {
  background-position: -3px -190px;
}

.flash_tab .tabs ul li.noopdiv a {
  width: 21px;
  height: 8px;
  background: url(../2014images/focus.png) no-repeat scroll -3px -190px;
  display: block;
}

.hdwrap_1 {
  width: 340px;
  float: left;
  height: 262px;
  overflow: hidden;
}

.flashlist_1 {
  height: 217px;
  width: 340px;
}

.flashlist_1 .f_out {
  height: 217px;
  overflow: hidden;
  position: relative;
  z-index: 100;
  float: left;
}

.flashlist_1 .f_out .picintro {
  height: 34px;
  background: url(../2014images/focus.png) no-repeat scroll 0 -63px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 999;
  padding: 0 20px;
  text-align: center;
}

.footer {
  margin: 30px auto 0;
  overflow: hidden;
  border-top: 1px solid #ddd;
  background: #eee;
}

.footer .links {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.footer .links ul.tab {
  width: 1000px;
  float: left;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-weight: bold;
}

.footer .links ul.tab li {
  float: left;
  cursor: pointer;
  border-left: 1px solid #ddd;
  line-height: 32px;
  padding: 0 25px;
}

.footer .links ul.tab li.hover {
  display: block;
  border-bottom: none;
  background: #ddd;
  color: #333;
}

.footer .links .modbox {
  padding: 10px 0px;
  width: 998px;
  float: left;
  overflow: hidden;
}

.footer .copyright {
  width: 1000px;
  margin: 10px auto 0;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid #ddd;
  color: #333;
  padding-bottom: 25px;
}

.footer .copyright .certificates {
  width: 1000px;
  float: left;
  padding-top: 15px;
}

.footer .copyright .certificates img {
  padding: 0 10px;
}

.menu_navs {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 37px;
  line-height: 37px;
  text-align: center;
  background: #c80000;
  color: #fff;
}

.menu_navs a {
  padding: 0 10px;
  color: #fff;
}

.menu_navs a:hover {
  color: #FF0;
}

#backToTop {
  position: fixed;
  _position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 999999;
  display: none;
  background: url(../2014images/back.png) no-repeat -51px -550px;
  width: 68px;
  height: 79px;
  display: block;
  cursor: pointer;
}

* html #backToTop {
  position: absolute;
  bottom: auto;
  top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}

background-image:url(about:blank);     background-attachment:fixed; 





.inputerror {
  border: 1px dotted red;
}

.weixin {
  position: fixed;
  display: block;
  top: 460px;
  width: 110px;
  height: 165px;
  z-index: 1000;
  left: 50%;
  margin-left: 500px;
  _position: absolute;
  _margin-top: 160px;
  _top: expression(documentElement.scrollTop+(documentElement.clientHeight-this.offsetHeight)/2);
}

.weixin img {
  float: left;
  display: block;
}

.weixin span {
  float: left;
  color: #999;
  cursor: pointer;
  height: 18px;
  line-height: 18px;
  padding-left: 4px;
}

.uinfo {
  color: #FFF;
}