.f_b,
.f_b2,
a.azul2,
a.azul3,
a.verde,
a.branco_bt,
a.branco_bt_p,
a.branco_bt_p2,
a.cinza_bt,
a.cinza_bt_p {
  font-size: 13px;
  font-family: Arial,Helvetica,Verdana, sans-serif;
  font-weight: bold;
}

.f_r,
.f_r2,
.t_azul,
.t_verde,
.t_vermelho,
a.cinza,
.innerError,
.t_preto_r,
.branco2,
.tp2,
.tp4,
.tp1,
.tp3,
.tp0,
.tag {
  font-size: 13px;
  font-family: Arial,Helvetica,Verdana, sans-serif;
  font-weight: normal;
}

input::-webkit-input-placeholder {
  color: #999;
}

input:-moz-placeholder {
  color: #999;
}

body,
td,
div,
p,
h1,
font {
  font-family: Verdana, sans-serif;
  font-size: 12px;
}

.menu {
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: #333333;
}

.utilizador {
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: #fff;
}

h1 {
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
  line-height: 16px;
}

input.campotexto::-webkit-input-placeholder {
  color: #bbb;
  font-weight: normal;
  vertical-align: middle;
}

input.campotexto:-moz-placeholder {
  color: #bbb;
  font-weight: normal;
  vertical-align: middle;
}

.campotexto {
  background-color: #f4f4f4;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px 3px 3px 3px;
  color: #000;
  font-size: 11px;
  font-weight: bold;
  font-family: Geneva, Verdana, sans-serif;
  width: 210px;
  padding: 2px;
}

a {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none !important;
}

a.preto {
  color: #000 !important;
  text-decoration: none !important;
}

a.preto:hover {
  text-decoration: underline !important;
}

a.branco,
font.branco {
  color: #fff !important;
  text-decoration: none !important;
  text-shadow: rgba(0,0,0,.4) 0px 1px 1px;
}

a.branco:hover {
  text-decoration: underline !important;
}

a.branco2 {
  font-weight: normal;
  font-size: 12px;
  color: #fff !important;
  text-decoration: none !important;
}

a.branco2:hover {
  text-decoration: underline !important;
}

a.azul {
  color: #00a0ee !important;
  text-decoration: none !important;
}

a.azul:hover {
  text-decoration: underline !important;
}

a.azul2,
a.azul3 {
  font-weight: normal;
  font-size: 14px;
  color: #00a0ee !important;
  text-decoration: none !important;
}

a.azul2:hover,
a.azul3:hover {
  color: #000 !important;
  text-decoration: underline !important;
}

a.azul3:hover {
  color: #00a0ee !important;
}

a.verde {
  font-weight: normal;
  font-size: 14px;
  color: #00ac00 !important;
  text-decoration: none !important;
}

a.verde:hover {
  color: #000 !important;
  text-decoration: underline !important;
}

a.branco_bt {
  color: #fff !important;
  text-decoration: none;
  font-size: 14px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #00a0ee;
}

a.branco_bt:hover {
  color: #fff !important;
  background-color: #00ac00 !important;
  text-decoration: none;
}

a.cinza {
  font-weight: normal;
  font-size: 14px;
  color: #707070 !important;
  text-decoration: none !important;
}

a.cinza:hover {
  color: #000 !important;
  text-decoration: underline !important;
}

a.cinza_bt {
  color: #fff !important;
  text-decoration: none;
  font-size: 14px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #ddd;
}

a.cinza_bt:hover {
  text-decoration: none;
  cursor: default;
}

a.cinza_bt_p {
  color: #fff !important;
  text-decoration: none;
  font-size: 12px;
  padding-bottom: 1px;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #ddd;
}

a.cinza_bt_p:hover {
  text-decoration: none;
  cursor: default;
}

a.branco_bt_p {
  color: #fff !important;
  text-decoration: none;
  font-size: 12px;
  padding-bottom: 1px;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #00a0ee;
}

a.branco_bt_p:hover {
  background-color: #00ac00 !important;
  text-decoration: none;
}

a.branco_bt_p2 {
  color: #000 !important;
  text-decoration: none;
  font-size: 12px;
  padding-bottom: 1px;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #fd0;
}

a.branco_bt_p2:hover {
  color: #fff;
  background-color: #00df00 !important;
  text-decoration: none;
}

a.reg,
a.reg_w {
  text-decoration: none;
  font-weight: normal;
}

a.reg_w {
  color: #fff !important;
}

.lt {
  background-color: #ffdd00;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  padding: 2px;
  padding-top: 0px;
}

.ll1,
.ll2 {
  border: 1px solid #4e4e4e;
  border-top: none;
  font-size: 12px;
  padding: 2px;
}

.ll1 {
  border-right: none;
}

.ll2 {
  border-left: none;
}

.ll0 {
  background-color: #fff;
}

.llb {
  background-color: #4797de;
  color: #fff;
}

.inputError {
  COLOR: #000;
  BACKGROUND-COLOR: #ff9;
}

.inputNormal {
  color: #000;
}

.innerError {
  padding-bottom: 3px;
  color: #bd0000;
}

a {
  color: #000;
  text-decoration: none;
}

a:link,
a:active,
a:visited {
  color: #000;
}

.column,
.column2 {
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 2px;
}

.column_l {
  background-color: fff;
  border-right: 1px solid #aaa;
}

.column {
  background-color: #f2f2f2;
}

.column2 {
  background-color: #f6f6f6;
}

.cl1 {
  border-left: 1px solid #aaa;
}

.cl2 {
  border-right: 1px solid #aaa;
}

.cl3 {
  background-color: #f7f7f7;
  border-top: 1px solid #aaa;
  font-size: 5px;
}

span.navifont {
  color: #1a3c5b;
  font-size: 11px;
}

span.titlefont {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

span.titlelargefont,
span.titlesmallfont {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

span.columnfont {
  color: #000;
  font-size: 11px;
  font-family: Verdana, sans-serif;
}

span.highlight {
  background-color: #ff3;
}

form {
  display: inline;
}

input {
  text-align: left;
}

input.submit,
input.button {
  background-color: #7ebc00;
  font-weight: bold;
  color: #fff;
  font-size: 11px;
}

.t_azul,
.t_verde,
.t_vermelho,
.t_cinza,
.t_preto_r {
  color: #fff;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

.t_azul {
  background-color: #00a0ee;
}

.t_verde {
  background-color: #00ac00;
}

.t_vermelho {
  background-color: #bd0000;
}

.t_cinza {
  background-color: #707070;
}

.t_preto_r {
  font-size: 14px;
  background-color: #000;
}

.tag {
  background: url(/imagens/n/bt/sh.png) no-repeat;
  color: #000;
  font-size: 15px;
  padding-bottom: 2px;
  padding-top: 1px;
  padding-left: 6px;
  padding-right: 6px;
  float: left;
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
  width: 80px;
  cursor: default;
}

.bt_g,
.bt_b,
.bt_0 {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  border: 1px solid white;
  cursor: pointer;
}

.bt_g {
  background: url(/imagens/n/bt/g.gif) repeat-x;
}

.bt_b {
  background: url(/imagens/n/bt/b.gif) repeat-x;
}

.bt_0 {
  background: url(/imagens/n/bt/0.gif) repeat-x;
  cursor: default;
}

.bt_g_a,
.bt_b_a,
.bt_0_a {
  width: 13px;
}

.bt_g_a {
  background: url(/imagens/n/bt/g_a.gif) repeat-x;
}

.bt_b_a {
  background: url(/imagens/n/bt/b_a.gif) repeat-x;
}

.bt_0_a {
  background: url(/imagens/n/bt/0_a.gif) repeat-x;
  cursor: default;
}

ul.band {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.band li.band {
  display: block;
  position: relative;
  float: left;
}

li.band ul.band {
  display: none;
  border-top: 1px solid #fff;
}

ul.band li.band a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 2px 6px 2px 6px;
  background: #ddd;
  white-space: nowrap;
}

li.band:hover ul.band {
  display: block;
  position: absolute;
}

li.band:hover li.band {
  float: none;
}

li.band:hover a {
  background: #ddd;
}

li.band:hover li.band a:hover {
  background: #b7bbd3;
}

#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
}

#boxes #dialog {
  width: 490px;
  height: 530px;
  padding: 10px;
  background-color: #fff;
}

.sm1 {
  background: url(/imagens/smilies.gif) no-repeat top left;
  width: 19px;
  height: 19px;
}

.s-nod {
  background-position: 0 -30px;
}

.s-no {
  background-position: 0 -79px;
}

.s-rofl {
  background-position: 0 -128px;
}

.s-mmm {
  background-position: 0 -177px;
}

.s-shocked {
  background-position: 0 -226px;
}

.s-sad {
  background-position: 0 -275px;
}

.s-talking {
  background-position: 0 -324px;
}

.s-sleepy {
  background-position: 0 -373px;
}

.s-emoticon-0137-clapping {
  background-position: 0 -422px;
}

.s-evilgrin {
  background-position: 0 -471px;
}

.s-itwasntme {
  background-position: 0 -520px;
}

.s-hi {
  background-position: 0 -569px;
}

.s-dull {
  background-position: 0 -618px;
}

.s-smile {
  background-position: 0 -667px;
}

.s-envy {
  background-position: 0 -716px;
}

.s-sweat {
  background-position: 0 -765px;
}

.s-embarrassed {
  background-position: 0 -814px;
}

.s-drunk {
  background-position: 0 -863px;
}

.s-smirk {
  background-position: 0 -912px;
}

.s-cry {
  background-position: 0 -961px;
}

.s-brokenheart {
  background-position: 0 -1010px;
}

.s-shake {
  background-position: 0 -1059px;
}

.s-puke {
  background-position: 0 -1108px;
}

.s-devil {
  background-position: 0 -1157px;
}

.s-party {
  background-position: 0 -1206px;
}

.s-giggle {
  background-position: 0 -1255px;
}

.s-handshake {
  background-position: 0 -1304px;
}

.s-makeup {
  background-position: 0 -1353px;
}

.s-punch {
  background-position: 0 -1402px;
}

.s-wondering {
  background-position: 0 -1451px;
}

.s-wait {
  background-position: 0 -1500px;
}

.s-fubar {
  background-position: 0 -1549px;
}

.s-doh {
  background-position: 0 -1598px;
}

.s-headbang {
  background-position: 0 -1647px;
}

.s-dance {
  background-position: 0 -1696px;
}

.s-inlove {
  background-position: 0 -1745px;
}

.s-angel {
  background-position: 0 -1794px;
}

.s-drink {
  background-position: 0 -1843px;
}

.s-yes {
  background-position: 0 -1892px;
}

.s-swear {
  background-position: 0 -1941px;
}

.s-lipssealed {
  background-position: -169px -30px;
}

.s-biggrin {
  background-position: -169px -79px;
}

.s-kiss {
  background-position: -169px -128px;
}

.s-thinking {
  background-position: -169px -177px;
}

.s-call {
  background-position: -169px -226px;
}

.s-heart {
  background-position: -169px -275px;
}

.s-confused {
  background-position: -169px -324px;
}

.s-rock {
  background-position: -169px -373px;
}

.s-mad {
  background-position: -169px -422px;
}

.s-cool {
  background-position: -169px -471px;
}

.s-happy {
  background-position: -169px -520px;
}

.s-whew {
  background-position: -169px -569px;
}

.s-cash {
  background-position: -169px -618px;
}

.s-wink {
  background-position: -169px -667px;
}

.s-tmi {
  background-position: -169px -716px;
}

.s-tongue {
  background-position: -169px -765px;
}

.s-worried {
  background-position: -169px -814px;
}

.s-nerd {
  background-position: -169px -863px;
}

.c0 {
  background: url(/imagens/band.gif) no-repeat top left;
  width: 16px;
  height: 11px;
}

.f-cu {
  background-position: 0 -1px;
}

.f-in {
  background-position: 0 -13px;
}

.f-gf,
.f-nc,
.f-re,
.f-fr {
  background-position: 0 -25px;
}

.f-lb {
  background-position: 0 -37px;
}

.f-sh {
  background-position: 0 -49px;
}

.f-mz {
  background-position: 0 -61px;
}

.f-bd {
  background-position: 0 -73px;
}

.f-ar {
  background-position: 0 -85px;
}

.f-ba {
  background-position: 0 -97px;
}

.f-cx,
.f-au,
.f-hm {
  background-position: 0 -109px;
}

.f-im,
.f-ax,
.f-je,
.f-bv,
.f-um,
.f-gg,
.f-ap,
.f-xx,
.f-a1,
.f-a2 {
  background-position: 0 -121px;
}

.f-cl {
  background-position: 0 -133px;
}

.f-pt {
  background-position: 0 -145px;
}

.f-nu {
  background-position: 0 -157px;
}

.f-pk {
  background-position: 0 -169px;
}

.f-rw {
  background-position: 0 -181px;
}

.f-so {
  background-position: 0 -193px;
}

.f-yt {
  background-position: 0 -205px;
}

.f-jp {
  background-position: 0 -217px;
}

.f-cn {
  background-position: 0 -229px;
}

.f-ie {
  background-position: 0 -241px;
}

.f-sn {
  background-position: 0 -253px;
}

.f-ck {
  background-position: 0 -265px;
}

.f-no {
  background-position: 0 -277px;
}

.f-it {
  background-position: 0 -289px;
}

.f-vu {
  background-position: 0 -301px;
}

.f-be {
  background-position: 0 -313px;
}

.f-do {
  background-position: 0 -325px;
}

.f-to {
  background-position: 0 -337px;
}

.f-az {
  background-position: 0 -349px;
}

.f-kn {
  background-position: 0 -361px;
}

.f-sa {
  background-position: 0 -373px;
}

.f-nl {
  background-position: 0 -385px;
}

.f-qa {
  background-position: 0 -397px;
}

.f-kr {
  background-position: 0 -409px;
}

.f-ws {
  background-position: 0 -421px;
}

.f-cy {
  background-position: 0 -433px;
}

.f-gh {
  background-position: 0 -445px;
}

.f-an {
  background-position: 0 -457px;
}

.f-ee {
  background-position: 0 -469px;
}

.f-za {
  background-position: 0 -481px;
}

.f-gr {
  background-position: 0 -493px;
}

.f-eu {
  background-position: 0 -505px;
}

.f-mw {
  background-position: 0 -517px;
}

.f-ht {
  background-position: 0 -529px;
}

.f-ni {
  background-position: 0 -541px;
}

.f-pa {
  background-position: 0 -553px;
}

.f-nr {
  background-position: 0 -565px;
}

.f-nz {
  background-position: 0 -577px;
}

.f-sd {
  background-position: 0 -589px;
}

.f-td {
  background-position: 0 -601px;
}

.f-es {
  background-position: 0 -613px;
}

.f-pf {
  background-position: 0 -625px;
}

.f-mp {
  background-position: 0 -637px;
}

.f-ky {
  background-position: 0 -649px;
}

.f-bm {
  background-position: 0 -661px;
}

.f-vi {
  background-position: 0 -673px;
}

.f-uy {
  background-position: 0 -685px;
}

.f-lt {
  background-position: 0 -697px;
}

.f-kp {
  background-position: 0 -709px;
}

.f-bg {
  background-position: 0 -721px;
}

.f-kz {
  background-position: 0 -733px;
}

.f-bw {
  background-position: 0 -745px;
}

.f-mq {
  background-position: 0 -757px;
}

.f-vc {
  background-position: 0 -769px;
}

.f-vn {
  background-position: 0 -781px;
}

.f-gy {
  background-position: 0 -793px;
}

.f-ke {
  background-position: 0 -805px;
}

.f-hk {
  background-position: 0 -817px;
}

.f-gl {
  background-position: 0 -829px;
}

.f-as {
  background-position: 0 -841px;
}

.f-gq {
  background-position: 0 -853px;
}

.f-et {
  background-position: 0 -865px;
}

.f-nf {
  background-position: 0 -877px;
}

.f-hn {
  background-position: 0 -889px;
}

.f-py {
  background-position: 0 -901px;
}

.f-wf {
  background-position: 0 -913px;
}

.f-gp {
  background-position: 0 -925px;
}

.f-sl {
  background-position: 0 -937px;
}

.f-bh {
  background-position: 0 -949px;
}

.f-la {
  background-position: 0 -961px;
}

.f-lc {
  background-position: 0 -973px;
}

.f-aw {
  background-position: 0 -985px;
}

.f-sy {
  background-position: 0 -997px;
}

.f-jo {
  background-position: 0 -1009px;
}

.f-me {
  background-position: 0 -1021px;
}

.f-si {
  background-position: 0 -1033px;
}

.f-gt {
  background-position: 0 -1045px;
}

.f-mm {
  background-position: 0 -1057px;
}

.f-my {
  background-position: 0 -1069px;
}

.f-cv {
  background-position: 0 -1081px;
}

.f-tw {
  background-position: 0 -1093px;
}

.f-il {
  background-position: 0 -1105px;
}

.f-at {
  background-position: 0 -1117px;
}

.f-us {
  background-position: 0 -1129px;
}

.f-st {
  background-position: 0 -1141px;
}

.f-ms {
  background-position: 0 -1153px;
}

.f-fk {
  background-position: 0 -1165px;
}

.f-mg {
  background-position: 0 -1177px;
}

.f-mv {
  background-position: 0 -1189px;
}

.f-ru {
  background-position: 0 -1201px;
}

.f-ir {
  background-position: 0 -1213px;
}

.f-dj {
  background-position: 0 -1225px;
}

.f-kh {
  background-position: 0 -1237px;
}

.f-bb {
  background-position: 0 -1249px;
}

.f-fi {
  background-position: 0 -1261px;
}

.f-bt {
  background-position: 0 -1273px;
}

.f-sz {
  background-position: 0 -1285px;
}

.f-iq {
  background-position: 0 -1297px;
}

.f-mx {
  background-position: 0 -1309px;
}

.f-va {
  background-position: 0 -1321px;
}

.f-bn {
  background-position: 0 -1333px;
}

.f-ma {
  background-position: 0 -1345px;
}

.f-ca {
  background-position: 0 -1357px;
}

.f-pe {
  background-position: 0 -1369px;
}

.f-mh {
  background-position: 0 -1381px;
}

.f-br {
  background-position: 0 -1393px;
}

.f-np {
  background-position: 0 -1405px;
}

.f-gu {
  background-position: 0 -1417px;
}

.f-eg {
  background-position: 0 -1429px;
}

.f-mo {
  background-position: 0 -1441px;
}

.f-cg {
  background-position: 0 -1453px;
}

.f-sk {
  background-position: 0 -1465px;
}

.f-tf {
  background-position: 0 -1477px;
}

.f-io {
  background-position: 0 -1489px;
}

.f-gm {
  background-position: 0 -1501px;
}

.f-hu {
  background-position: 0 -1513px;
}

.f-tl {
  background-position: 0 -1525px;
}

.f-sr {
  background-position: 0 -1537px;
}

.f-bj {
  background-position: 0 -1549px;
}

.f-sg {
  background-position: 0 -1561px;
}

.f-om {
  background-position: 0 -1573px;
}

.f-gn {
  background-position: 0 -1585px;
}

.f-th {
  background-position: 0 -1597px;
}

.f-sb {
  background-position: 0 -1609px;
}

.f-ua {
  background-position: 0 -1621px;
}

.f-zm {
  background-position: 0 -1633px;
}

.f-lk {
  background-position: 0 -1645px;
}

.f-pm {
  background-position: 0 -1657px;
}

.f-cd {
  background-position: 0 -1669px;
}

.f-mr {
  background-position: 0 -1681px;
}

.f-ge {
  background-position: 0 -1693px;
}

.f-ly {
  background-position: 0 -1705px;
}

.f-er {
  background-position: 0 -1717px;
}

.f-mu {
  background-position: 0 -1729px;
}

.f-tg {
  background-position: 0 -1741px;
}

.f-zw {
  background-position: 0 -1753px;
}

.f-jm {
  background-position: 0 -1765px;
}

.f-eh {
  background-position: 0 -1777px;
}

.f-fj {
  background-position: 0 -1789px;
}

.f-ng {
  background-position: 0 -1801px;
}

.f-tm {
  background-position: 0 -1813px;
}

.f-ro {
  background-position: 0 -1825px;
}

.f-ai {
  background-position: 0 -1837px;
}

.f-hr {
  background-position: 0 -1849px;
}

.f-fm {
  background-position: 0 -1861px;
}

.f-cs {
  background-position: 0 -1873px;
}

.f-pr {
  background-position: 0 -1885px;
}

.f-tk {
  background-position: 0 -1897px;
}

.f-gd {
  background-position: 0 -1909px;
}

.f-aq {
  background-position: 0 -1921px;
}

.f-gw {
  background-position: 0 -1933px;
}

.f-bi {
  background-position: 0 -1945px;
}

.f-co {
  background-position: 0 -1957px;
}

.f-ao {
  background-position: 0 -1969px;
}

.f-al {
  background-position: 0 -1981px;
}

.f-cr {
  background-position: 0 -1993px;
}

.f-cm {
  background-position: -17px -1px;
}

.f-ad {
  background-position: -17px -13px;
}

.f-gb {
  background-position: -17px -25px;
}

.f-mt {
  background-position: -17px -37px;
}

.f-sc {
  background-position: -17px -49px;
}

.f-mk {
  background-position: -17px -61px;
}

.f-fo {
  background-position: -17px -73px;
}

.f-id {
  background-position: -17px -85px;
}

.f-pg {
  background-position: -17px -97px;
}

.f-ne {
  background-position: -17px -109px;
}

.f-cc {
  background-position: -17px -121px;
}

.f-tv {
  background-position: -17px -133px;
}

.f-lr {
  background-position: -17px -145px;
}

.f-bf {
  background-position: -17px -157px;
}

.f-ls {
  background-position: -17px -169px;
}

.f-sv {
  background-position: -17px -181px;
}

.f-md {
  background-position: -17px -193px;
}

.f-sm {
  background-position: -17px -205px;
}

.f-ch {
  background-position: -17px -217px;
}

.f-uz {
  background-position: -17px -229px;
}

.f-kg {
  background-position: -17px -241px;
}

.f-tz {
  background-position: -17px -253px;
}

.f-lv {
  background-position: -17px -265px;
}

.f-by {
  background-position: -17px -277px;
}

.f-tn {
  background-position: -17px -289px;
}

.f-is {
  background-position: -17px -301px;
}

.f-ye {
  background-position: -17px -313px;
}

.f-km {
  background-position: -17px -325px;
}

.f-pn {
  background-position: -17px -337px;
}

.f-cf {
  background-position: -17px -349px;
}

.f-pl {
  background-position: -17px -361px;
}

.f-mn {
  background-position: -17px -373px;
}

.f-ml {
  background-position: -17px -385px;
}

.f-vg {
  background-position: -17px -397px;
}

.f-ps {
  background-position: -17px -409px;
}

.f-dk {
  background-position: -17px -421px;
}

.f-cz {
  background-position: -17px -433px;
}

.f-de {
  background-position: -17px -445px;
}

.f-kw {
  background-position: -17px -457px;
}

.f-af {
  background-position: -17px -469px;
}

.f-bo {
  background-position: -17px -481px;
}

.f-mc {
  background-position: -17px -493px;
}

.f-gi {
  background-position: -17px -505px;
}

.f-ga {
  background-position: -17px -517px;
}

.f-pw {
  background-position: -17px -529px;
}

.f-ki {
  background-position: -17px -541px;
}

.f-ci {
  background-position: -17px -553px;
}

.f-na {
  background-position: -17px -565px;
}

.f-dm {
  background-position: -17px -577px;
}

.f-tt {
  background-position: -17px -589px;
}

.f-am {
  background-position: -17px -601px;
}

.f-tc {
  background-position: -17px -613px;
}

.f-dz {
  background-position: -17px -625px;
}

.f-ag {
  background-position: -17px -637px;
}

.f-li {
  background-position: -17px -649px;
}

.f-ve {
  background-position: -17px -661px;
}

.f-bz {
  background-position: -17px -673px;
}

.f-ug {
  background-position: -17px -685px;
}

.f-ae {
  background-position: -17px -697px;
}

.f-tj {
  background-position: -17px -709px;
}

.f-bs {
  background-position: -17px -721px;
}

.f-ph {
  background-position: -17px -733px;
}

.f-se {
  background-position: -17px -745px;
}

.f-lu {
  background-position: -17px -757px;
}

.f-tr {
  background-position: -17px -769px;
}

.f-rs {
  background-position: -17px -781px;
}

.f-ec {
  background-position: -17px -793px;
}

.mbx,
.mbxd,
.mbxu,
#boxes #dialog {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
}

.mbx,
.mbxd,
.mbxu,
.mbx0 {
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.mbxm {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.mbxd {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  border-radius-topleft: 0px;
  border-radius-topright: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.mbxu {
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-radius-bottomleft: 0px;
  border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.button,
.button span {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.button {
  white-space: nowrap;
  line-height: 1em;
  position: relative;
  outline: none;
  overflow: visible;
  cursor: pointer;
  border: 1px solid #666;
  border: rgba(0, 0, 0, .2) 1px solid;
  border-bottom: rgba(0, 0, 0, .4) 1px solid;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  background: -moz-linear-gradient(center top,rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%);
  background: -webkit-gradient(linear,center bottom,center top,from(rgba(0,0,0,.1)),to(rgba(255,255,255,.1)));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.button.full,
.button.full span {
  display: block;
}

.button:hover,
.button.hover {
  background: -moz-linear-gradient(center top,rgba(255,255,255,.2) 0%,rgba(255,255,255,.1) 100%);
  background: -webkit-gradient(linear,center bottom,center top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.2)));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')";
  background-color: none;
}

.button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button.gray:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  background: -moz-linear-gradient(center top,rgba(255,255,255,.2) 0%,rgba(255,255,255,.1) 100%);
  background: -webkit-gradient(linear,center bottom,center top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.2)));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')";
  background-color: #ccc;
  cursor: default;
}

.button span {
  position: relative;
  color: #fff;
  border-top: rgba(255, 255, 255, .2) 1px solid;
  padding: 0.4em 1.0em;
  line-height: 1em;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-weight: normal;
  padding-bottom: 5px;
  padding-top: 3px;
}

.button.small span {
  font-size: 10px;
}

.button.small2 span {
  font-size: 9px;
  padding: 0.3em 0.7em;
  margin-bottom: 2px;
  line-height: 8px;
}

.button.medium span {
  font-size: 12px;
}

.button.large span {
  font-size: 18px;
}

.button.black {
  background-color: #252a2a;
}

.button.blue {
  background-color: #00a0ee;
}

.button.red {
  background-color: #cc2222;
}

.button.green {
  background-color: #00ac00;
}

.button.brown {
  background-color: #b6761a;
}

.button.purple {
  background-color: #e517f7;
}

.button.orange {
  background-color: #ff9c00;
}

.button.gray2 {
  background-color: #999;
}

.button.gray {
  background-color: #ccc;
  cursor: default;
}

.button.selected {
  background-color: #569334;
}

.cb-enable,
.cb-disable,
.cb-enable span,
.cb-disable span {
  background: url(/imagens/switch.gif) repeat-x;
  display: block;
  float: left;
}

.cb-enable span,
.cb-disable span {
  line-height: 21px;
  display: block;
  background-repeat: no-repeat;
  color: #aaa;
}

.cb-enable span {
  background-position: left -63px;
  padding: 0 10px;
}

.cb-disable span {
  background-position: right -126px;
  padding: 0 10px;
}

.cb-disable.selected {
  background-position: 0 -21px;
}

.cb-disable.selected span {
  background-position: right -147px;
  color: #fff;
}

.cb-enable.selected {
  background-position: 0 -42px;
}

.cb-enable.selected span {
  background-position: left -105px;
  color: #fff;
}

.switch label {
  cursor: pointer;
}

#ubar_w {
  position: absolute;
  top: 0;
}

#ubar_w.fixed {
  position: fixed;
  top: 0;
}

.ubar1,
.ubar2 {
  background: url(/imagens/ubar.gif) repeat-x;
  width: 16px;
  height: 16px;
}

.ubar1_00 {
  background-position: 0px 0px;
}

.ubar1_01 {
  background-position: 0px -16px;
}

.ubar1_10 {
  background-position: 0px -32px;
}

.ubar1_11 {
  background-position: 0px -48px;
}

.ubar2_00 {
  background-position: 0px -64px;
}

.ubar2_01 {
  background-position: 0px -80px;
}

.ubar2_10 {
  background-position: 0px -96px;
}

.ubar2_11 {
  background-position: 0px -112px;
}

.ubar_i {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.ubar_i,
.ubar_b {
  -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,1.0);
  -moz-box-shadow: 0px 0px 10px rgba(255,255,255,1.0);
}

#tiptip_holder {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

#tiptip_holder.tip_top {
  padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
  padding-top: 5px;
}

#tiptip_holder.tip_right {
  padding-left: 5px;
}

#tiptip_holder.tip_left {
  padding-right: 5px;
}

#tiptip_content {
  font-size: 11px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  padding: 4px 8px;
  border: 1px solid rgba(255,255,255,0.25);
  background-color: rgb(25,25,25);
  background-color: rgba(25,25,25,0.92);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  -moz-box-shadow: 0 0 10px #fff;
  background-color: #000;
}

#tiptip_arrow,
#tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
  border-top-color: #fff;
  border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
  border-bottom-color: #fff;
  border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
  border-right-color: #fff;
  border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
  border-left-color: #fff;
  border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
  margin-top: -7px;
  margin-left: -6px;
  border-top-color: rgb(25,25,25);
  border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  margin-top: -5px;
  margin-left: -6px;
  border-bottom-color: rgb(25,25,25);
  border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -5px;
  border-right-color: rgb(25,25,25);
  border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -7px;
  border-left-color: rgb(25,25,25);
  border-left-color: rgba(25,25,25,0.92);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #tiptip_content {
    padding: 4px 8px 5px 8px;
    background-color: rgba(45,45,45,0.88);
  }

  #tiptip_holder.tip_bottom #tiptip_arrow_inner {
    border-bottom-color: rgba(45,45,45,0.88);
  }

  #tiptip_holder.tip_top #tiptip_arrow_inner {
    border-top-color: rgba(20,20,20,0.92);
  }
}

#NeoKb li {
  width: 15px;
}

#NeoKb .delete,
#NeoKb .tab,
#NeoKb .r_s {
  width: 35px;
}

#NeoKb .clock {
  clear: left;
  width: 42px;
}

#NeoKb .l_s {
  width: 55px;
}

#NeoKb .return {
  width: 28px;
}

#NeoKb .space {
  width: 295px;
}

.lastitem {
  margin-right: 0;
}

.uppercase {
  text-transform: uppercase;
}

.on {
  display: none;
}

#nav_of,
#nav_of li,
#nav_of0,
#nav_of0 li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav_of li {
  float: left;
  position: relative;
  text-align: left;
}

#nav_of ul {
  padding: 5px;
  border: 1px solid #777;
  background-color: #ddd;
  list-style: none;
  position: absolute;
  left: -9999px;
}

#nav_of ul li {
  margin: 1px;
  float: none;
}

#nav_of0 li {
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
}

#nav_of0 li a {
  padding: 2px;
  white-space: nowrap;
}

#nav_of li:hover ul {
  left: 0;
}

#nav_of li:hover a {
  text-decoration: none;
}

#nav_of0 li a:hover {
  background: #b7bbd3;
}

.fwn {
  font-weight: normal;
}

.sb {
  text-shadow: 0px -1px 0px #333;
  font-family: Verdana,sans-serif;
}

.cb-enable,
.cb-disable {
  text-shadow: 0px 1px 0px #fff;
}

.button span,
.cb-enable.selected,
.cb-disable.selected {
  text-shadow: transparent 0px 0px 0px,#000 0px 0px 2px;
}

.lgdiv {
  background: url(http://cache1.neodevlda.netdna-cdn.com/imagens/logos_f.png) repeat-x;
  height: 22px;
  cursor: pointer;
  margin-left: 10px;
}