@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');}

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
}

ul li {
  display: inline-block;
}

ol > li {
  margin-top: 10px;
}

html,
body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
}

#main-content {
  overflow: auto;
  padding-bottom: 82px;
  position: relative;
  padding-top: 98px;
}

#footer {
  position: relative;
  margin-top: -82px;
  height: 82px;
  width: 100%;
  clear: both;
  background: url('img/footer_bg.png');
}

body {
  font-family: 'Open Sans', sans-serif;
  background: url('img/bg_site.png');
}

#wrapper {}

#header {
  width: 100%;
  height: 98px;
  position: fixed;
  z-index: 50;
}

#header-content {
  width: 950px;
  height: 98px;
  margin: 0 auto;
}

#logo {
  width: 174px;
  height: 120px;
  background: url('img/logo.png') center no-repeat;
  float: left;
}

.postPreview {
  margin-bottom: 20px;
}

.postPreview .postPreviewTitle {
  font-weight: 700;
}

#slider {
  width: 100%;
  height: 500px;
}

ul#slider > li {
  display: none;
}

.slide-item {
  text-align: center;
}

#slider-content {
  width: 100%;
  height: 210px;
  margin-bottom: 70px;
  display: none;
}

.slide-text-container {
  width: 240px;
  float: left;
  cursor: pointer;
  transition: margin 1s;
  -moz-transition: margin 1s;
  -webkit-transition: margin 1s;
  -o-transition: margin 1s;
}

.slide-text-container.margin-right {
  margin-right: 50px;
}

.slide-text-title {
  width: 100%;
  height: 33px;
  border-top: 2px solid #2376dc;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.slide-text {
  width: 100%;
}

.active-slide-content {
  cursor: default;
}

.no-pointer {
  cursor: default;
}

.arrow {
  width: 27px;
  height: 25px;
  background: url('img/arrow.png');
  margin-bottom: 15px;
  transition: margin 1s;
  -moz-transition: margin 1s;
  -webkit-transition: margin 1s;
  -o-transition: margin 1s;
}

#main-content {
  width: 950px;
  margin: 0 auto;
}

ol {
  padding-left: 30px;
}

.text-content ul {
  list-style: circle;
  padding-left: 20px;
}

.text-content ul li {
  display: list-item;
}

#footer-content {
  width: 950px;
  margin: 0 auto;
  line-height: 72px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  position: relative;
}

#footer-copyright {
  font-size: 11px;
  line-height: 0;
}

#footerSocial {
  position: absolute;
  left: 0;
  top: 0;
}

#trusteLogo {
  background: url("img/truste.png") no-repeat scroll 0 0 transparent;
  height: 34px;
  position: absolute;
  right: 0;
  top: 29px;
  width: 114px;
}

#trusteLogo a {
  display: block;
  height: 100%;
  width: 100%;
}

#footer-content a {
  color: #fff;
  text-decoration: none;
}

ul#menu-footer li:last-child {
  display: none;
}

#menu {
  width: 300px;
  float: right;
  text-align: right;
  width: 500px;
}

ul#menu-bar li {
  margin-right: 40px;
  font-weight: bold;
  text-shadow: 1px 1px #fff;
  line-height: 120px;
}

ul#menu-bar li:last-child {
  margin-right: 0;
}

#menu-bar a {
  color: #000;
  text-decoration: none;
}

p {
  margin-bottom: 14px;
}

h2.content-title {
  font-size: 30px;
  margin: 30px 0 20px 0;
}

#download-btn {
  width: 199px;
  height: 54px;
  background: url('img/download_btn.png');
  position: absolute;
  top: 519px;
}

#social-icons {
  float: right;
  width: 100px;
  margin-top: 22px;
}

#fb-btn {
  width: 37px;
  height: 48px;
  background: url('img/fb_btn.png');
  float: left;
  margin-right: 10px;
  transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -webkit-transition: margin 0.5s;
  -o-transition: margin 0.5s;
}

#fb-btn:hover {
  margin-top: -4px;
  background-position: 0 -48px;
}

#twitter-btn {
  width: 37px;
  height: 48px;
  background: url('img/twitter_btn.png');
  float: left;
  transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  -webkit-transition: margin 0.5s;
  -o-transition: margin 0.5s;
}

#twitter-btn:hover {
  margin-top: -4px;
  background-position: 0 -48px;
}

h3.removal-title {
  font-size: 16px;
  margin: 22px 0 0 0;
}

#criteo_cont {
  margin: 79px 0;
}

#criteo_cont.smaller-margin {
  margin: 40px 0;
}

#criteoLogo {
  background: url('img/criteo.png') -8px 0 no-repeat;
  position: relative;
  height: 50px;
  width: 179px;
}

#dealPlyLogo {
  background: url('img/dealply.png') 0 0 no-repeat;
  position: relative;
  height: 50px;
  width: 179px;
}

#criteo_cont #user_agreement h2 {
  padding-bottom: 5px;
  text-decoration: underline;
}

#criteo_cont #user_agreement div {
  padding-bottom: 9px;
}

#criteo_cont iframe {
  border: 0 none;
  height: 56px;
  overflow: hidden;
  width: 163px;
  margin-left: -10px;
  margin-top: 7px;
}

#topMediaLinks {
  margin-bottom: 10px;
}

.mediaLink {
  display: inline-block;
  height: 33px;
  width: 34px;
}

#ggl {
  background: url("img/homeSocial.png") no-repeat scroll 0 0 transparent;
}

#fb {
  background: url("img/homeSocial.png") no-repeat scroll -37px 0 transparent;
}

#tw {
  background: url("img/homeSocial.png") no-repeat scroll -76px 0 transparent;
}

#rss {
  background: url("img/homeSocial.png") no-repeat scroll -116px 0 transparent;
}

.categories-container {
  width: 200px;
  float: right;
  text-transform: capitalize;
}

.categories-container ul {
  margin: 0;
  padding: 0;
}

.categories-container ul li {
  list-style-type: none;
  margin-top: 10px;
  display: block;
}

.categories-container ul li a {
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
  line-height: 0.8;
}

.categories-container ul li a:hover {
  text-decoration: underline;
}

#archive-header {
  margin-bottom: 20px;
  text-decoration: underline;
}

#content .categories-container table {
  font-size: 0.8em;
}

.categories-title,
#mailingListTitle {
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid #000;
  margin-top: 26px;
}

#mailingListTitle {
  padding-left: 2px;
  margin-left: 2px;
}

.required.error {
  border: 1px solid red;
}

.content-title.content-title-category-page {
  margin-bottom: 0;
}

.content-category-name {
  width: 505px;
  font-size: 15px;
  color: #000;
  line-height: 30px;
  text-transform: capitalize;
}

#logo_link {
  display: block;
  height: 100%;
  width: 100%;
}

.news-item-container {
  width: 700px;
  float: left;
  margin-bottom: 30px;
}

h4.news-item-title {
  font-size: 17px;
  border-bottom: 1px solid #CCC;
  line-height: 26px;
  margin: 0 auto;
}

h4.news-item-title > a {
  text-decoration: none;
  color: #000;
}

h4.news-item-title > a:hover {
  color: #008BFE;
}

h4.news-item-title-single {
  font-size: 22px;
  border-bottom: 3px solid #000;
}

.news-item-meta {
  width: 83px;
  float: left;
  font-weight: 400;
  font-family: Open Sans, sans-serif;
}

.news-item-date-upper {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.news-item-content {
  float: left;
  width: 580px;
  margin-left: 25px;
}

.news-item-text {
  line-height: 20px;
  padding-top: 7px;
  line-height: 23px;
  font-weight: 400;
}

.news-item-content-bottom {
  width: 100%;
  height: 35px;
  border-top: 1px solid #b3b3b3;
  margin-top: 12px;
}

.read-teaser-container {
  float: left;
  height: 35px;
  line-height: 35px;
}

a.read-teaser {
  color: #63B4F2 !important;
  text-decoration: none;
  font-weight: 400;
}

a.read-teaser:hover {
  color: #008BFE !important;
}

.social-share-container {
  float: right;
}

.social-share-button {
  float: right;
  margin-left: 8px;
}

.social-share-button.tweet {
  margin-left: 0;
}

.social-share-button.single-col {
  float: left;
  margin: 4px 0 0 0;
}

.social-share-buttons-container {
  float: right;
  padding-top: 7px;
}

.social-share-buttons-container-col {
  width: 100%;
  margin-top: 5px;
}

.content-text.blog {
  margin-top: 80px;
}

@media only screen and (min-width: 35em) {}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),       only screen and (min-resolution: 144dpi) {}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}