@charset "utf-8";

body,
div,
form,
input,
font,
img,
ul,
ol,
li,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
}

body,
div {
  font-size: 12px;
  font-family: '微软雅黑', Arial, Helvetica, sans-serif;
}

.cutoff,
.cutoff * {
  list-style: none;
  overflow: hidden;
  whitewhite-space: nowrap;
  text-overflow: ellipsis;
}

.clear {
  clear: both;
  font-size: 0px;
  width: 0px;
  height: 0px;
  line-height: 0px;
  visibility: hidden;
}

input[type=radio],
input[type=submit],
input[type=checkbox] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

input,
textarea {
  outline: none;
  border-color: #bbb;
  overflow-y: hidden;
}

.clearfix:after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.i_menuindex {
  width: 980px;
  height: 50px;
  margin: 0 auto;
}

.i_menuindex a {
  font-family: "微软雅黑";
}

@charset "utf-8";

body {
  background: #0d001e;
}

.pub_main {
  width: 980px;
  margin: 0 auto;
  border: 1px #ccc solid;
  font-family: "微软雅黑";
  background: #fff;
}

.pub_main a {
  font-family: "微软雅黑";
}

.pub_main a:hover {
  text-decoration: underline;
}

.pub_i {
  width: 980px;
  margin: 0 auto;
  background: #fff;
}

.pub_10px {
  height: 10px;
  min-width: 1px;
  max-width: 10px;
  overflow: hidden;
}

.pub_div {
  width: 978px;
  margin: 0 auto;
  background: #fff;
}

.pub_div1 {
  width: 978px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  background: #fff;
  height: 430px;
}

.pub_div2 {
  width: 978px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.pub_div .foc {
  float: left;
  width: 310px;
}

.pub_div .hot {
  float: left;
}

.soso {
  width: 275px;
  height: 45px;
  line-height: 45px;
  margin-left: 700px;
}

.soso .iform {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.soso .iform .wb {
  height: 22px;
  line-height: 22px;
  float: left;
  padding-left: 5px;
  border: 1px solid #E0E0E0;
  width: 202px;
  color: #666;
  font-family: Verdana, Geneva, sans-serif;
}

.soso .iform .an {
  height: 24px;
  float: left;
  margin-left: 5px;
  background: #000;
  color: #9CC5DC;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  width: 50px;
}

.pub_login {
  width: 240px;
  border-left: 1px #ccc solid;
  float: left;
  padding: 20px 0 0px 17px;
}

.share_denglu {
  width: 250px;
}

.denglu_form {}

.denglu_form_l {
  float: left;
  width: 170px;
}

.denglu_form_l input {
  width: 165px;
  height: 25px;
  line-height: 25px;
  border: 1px #d4d4d4 solid;
  margin-bottom: 10px;
  color: #ccc;
  padding: 0 5px;
  font-size: 12px;
}

.pass_v {
  position: relative;
}

#deful_v {
  color: #ccc;
  position: absolute;
  left: 5px;
  top: 5px;
}

.denglu_form_r {
  float: left;
  width: 66px;
  margin-left: 12px;
  cursor: pointer;
  display: inline;
}

.denglu_form_r input {
  width: 66px;
  height: 66px;
  cursor: pointer;
  text-align: center;
  line-height: 66px;
  background: url(http://www.ileehoo.com/images/loginindex.jpg) no-repeat;
  cursor: pointer;
}

.denglu_p {
  line-height: 13px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.denglu_p input,
.denglu_p i,
.denglu_p span,
.denglu_p a {
  float: left;
}

.denglu_p input {
  margin-right: 5px;
}

.denglu_p i {
  font-style: normal;
}

.denglu_p span {
  margin: 0 10px;
}

.denglu_p a.lijzc {
  color: #FF6F9E;
  font-weight: bold;
}

.denglu_p a.wjmma {
  color: #666;
}

.login_sina {
  color: #333;
  font-weight: narmal;
  font-size: 13px;
  font-family: "微软雅黑";
}

.login_qq {
  color: #333;
  font-weight: narmal;
  font-size: 13px;
  font-family: "微软雅黑";
}

.denglu_qq_sina {
  height: 35px;
  margin-top: 10px;
  line-height: 35px;
  padding-left: 35px;
  color: #333;
}

.denglu_qq_sina a {
  border: 0;
  display: block;
  float: left;
  color: #333;
  font-weight: narmal;
  font-size: 13px;
  margin: 0 10px;
  font-family: "微软雅黑";
}

.share_denglu_after {
  width: 250px;
}

.after_left {
  float: left;
  width: 65px;
  height: 65px;
  overflow: hidden;
  max-width: 65px;
  border: 1px #CCC solid;
  padding: 2px;
  border-radius: 5px;
}

.after_left a {
  width: 65px;
  height: 65px;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.after_left a img {
  width: 65px;
  height: 65px;
  border: 0;
}

.after_right {
  float: left;
  width: 170px;
}

.after_right p {
  width: 140px;
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
  text-align: left;
}

.after_right p a {
  color: #171717;
  font-size: 13px;
}

.after_right p a.after_yh {
  float: left;
}

.after_right p a.after_zhx {
  float: right;
}

.gzhfsxh {
  width: 170px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}

.gzhfsxh span {
  display: block;
  float: left;
  width: 52px;
  text-align: center;
  border-right: 1px #ececec solid;
}

.gzhfsxh .noborder {
  border: 0;
}

.gzhfsxh span b,
.gzhfsxh span a {
  color: #666;
  font-size: 13px;
}

.gzhfsxh .noborder b {
  color: #E64141;
}

.gzhfsxh span.bxih {
  border-right: 0;
}

.gzhfsxh span.bxih a {
  color: #666;
}

.my_sha_num {
  width: 250px;
  height: 30px;
  line-height: 30px;
  color: #666;
  font-size: 13px;
}

.my_sha_num span {
  color: #E64141;
  font-family: "微软雅黑";
}

.style_link_wrap {
  width: 240px;
  border-top: 1px #BCBCBC dotted;
  padding-top: 20px;
}

.style_link_hot {
  display: block;
  overflow: hidden;
  margin-bottom: 12px;
  width: 240px;
}

.style_link_wrap b {
  width: 47px;
  height: 45px;
  float: left;
  margin-right: 10px;
  display: inline-block;
}

.style_link_wrap .title {
  color: #333;
  font-size: 14px;
  display: block;
  margin-top: 1px;
  margin-bottom: 5px;
  font-family: "微软雅黑";
  font-weight: normal;
}

.style_link_wrap .title:hover {
  text-decoration: none;
}

.style_link_wrap p {
  color: #AAA;
  font-family: "微软雅黑";
}

.style_link_wrap p:hover {
  text-decoration: none;
}

.app_download {
  display: block;
  margin-bottom: 10px;
  width: 175px;
  height: 47px;
  padding: 2px 0 0 57px;
  color: #AAA;
}

.iphone_down .title {
  color: #4873A6;
}

.android_down .title {
  color: #8DB928;
}

.zuix b {
  background: url(../images/zuixinbj.jpg) no-repeat;
}

.jip b {
  background: url(../images/titlebj.jpg) no-repeat;
}

.iphone_down {
  background: url(../images/iPhonebj.jpg) no-repeat;
}

.android_down {
  background: url(../images/Androidbj.jpg) no-repeat;
}

.style_link_wrap a:hover {
  text-decoration: none;
}

.style_link_wrap a:hover .title {
  text-decoration: none;
}

.style_link_wrap a:hover p {
  text-decoration: none;
}

.style_link_wrap a:hover strong {
  text-decoration: none;
}

.pub_img_ad {
  width: 980px;
  height: 125px;
}

.pub_img_ad1 {
  float: left;
  width: 315px;
  height: 125px;
  margin-left: 8px;
  display: inline;
  position: relative;
}

.pub_img_ada1 {
  width: 313px;
  height: 123px;
  border: 1px #DFDFDF solid;
  position: absolute;
  left: 0;
  top: 0;
}

.pub_div_l {
  width: 310px;
  float: left;
  margin-left: 5px;
  display: inline;
}

.pub_div_cen {
  width: 345px;
  float: left;
}

.pub_div_r {
  width: 298px;
  float: left;
  border: 1px #ccc solid;
  border-right: 0;
}

.pub_div_r .pub_shiy_new {
  border-top: 1px #ccc solid;
}

.pub_div_r .pub_shiy_new h3,
.pub_pince h3 {
  width: 278px;
  background: #e7e7e7;
  height: 35px;
  line-height: 35px;
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  font-family: "微软雅黑";
  padding: 0 10px;
}

.pub_div_r .pub_shiy_new h3 span,
.pub_pince h3 span {
  float: left;
}

.pub_div_r .pub_shiy_new h3 a,
.pub_pince h3 a {
  float: right;
  margin-top: 10px;
}

.pub_div_r .pub_shiy_main {
  width: 280px;
  height: 255px;
  overflow: hidden;
  margin: 15px 0 10px 15px;
}

.pub_shiy_main .shiy_main_list {
  overflow: hidden;
  width: 5000px;
}

.pub_shiy_main .shiy_lis1 {
  width: 280px;
  height: 230px;
  overflow: hidden;
  float: left;
}

.pub_shiy_main .shiy_lis1 dl {
  height: 80px;
  width: 280px;
  overflow: hidden;
}

.pub_shiy_main .shiy_lis1 dd {
  width: 216px;
  float: left;
}

.pub_shiy_main .shiy_lis1 dd li {
  width: 185px;
  height: 21px;
  color: #787878;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  font-family: "微软雅黑";
  overflow: hidden;
}

.tryTil {
  color: #333;
  font-family: "微软雅黑";
  width: 11em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.tryBtn {
  display: block;
  width: 75px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  color: white;
  background: url(http://i1.ileehoo.com/images/news/wysy_btn.gif) no-repeat;
  margin-left: 110px;
}

.shiy_lis1 dt {
  width: 64px;
  float: left;
  overflow: hidden;
}

.shiy_lis1 dt a img {
  padding: 1px;
  border: 1px solid #65C294;
}

.try_ul {
  width: 60px;
  height: 20px;
  line-height: 20px;
  margin: 0 auto;
}

.try_ul li {
  width: 10px;
  height: 20px;
  line-height: 20px;
  float: left;
  cursor: pointer;
  background: url(../images/clic02.jpg) no-repeat center 10px;
  margin: 0 3px;
}

.try_ul li.shiy_se {
  width: 10px;
  height: 20px;
  line-height: 20px;
  float: left;
  cursor: pointer;
  background: url(../images/clic01.jpg) no-repeat center 10px;
  margin: 0 3px;
}

.pub_shiy_main2 {
  width: 280px;
  overflow: hidden;
  margin: 10px 0 10px 15px;
}

.pub_pince {}

.shiy_main_img {
  width: 270px;
  position: relative;
}

.shiy_main_cont {
  width: 230px;
  margin-top: 5px;
  overflow: hidden;
  float: left;
  overflow: hidden;
  margin-left: 26px;
}

.shiy_main_cont ul {
  width: 230px;
  height: 130px;
  overflow: hidden;
}

.shiy_main_cont ul li {
  float: left;
  width: 114px;
  height: 130px;
  background: #fff;
}

.shiy_main_cont ul li p {
  width: 114px;
  text-align: center;
  line-height: 25px;
}

.shiy_main_cont ul li p a {
  color: #333333;
  font-size: 12px;
  font-family: "微软雅黑";
  width: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shiy_main_cont ul li p a:hover {
  text-decoration: underline;
}

.shiy_main_cont ul li img {
  width: 100px;
  height: 100px;
  border: 1px #e0e0e0 solid;
  padding: 1px;
}

.shiy_btn_left {
  width: 18px;
  height: 27px;
  background: url(http://i1.ileehoo.com/images/b.png) no-repeat -260px 0;
  position: absolute;
  top: 50px;
  left: 0;
}

.shiy_btn_left:hover {
  background: url(http://i1.ileehoo.com/images/b.png) no-repeat -296px 0;
}

.shiy_btn_right {
  position: absolute;
  top: 50px;
  width: 18px;
  height: 27px;
  background: url(http://i1.ileehoo.com/images/b.png) no-repeat -278px 0;
  right: 0;
}

.shiy_btn_right:hover {
  background: url(http://i1.ileehoo.com/images/b.png) no-repeat -314px 0;
}

.shiy_link_a {
  width: 242px;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 20px;
}

.shiy_link_a li {
  line-height: 25px;
  list-style: disc;
}

.shiy_link_a li a {
  color: #333333;
  font-size: 13px;
  font-family: "微软雅黑";
}

.pub_fas_h {
  width: 960px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  border-top: 3px #000 solid;
  height: 60px;
  padding-top: 15px;
  margin: 0 auto;
}

.fas_h_left {
  height: 50px;
  line-height: 50px;
  float: left;
  width: 550px;
  text-align: left;
  overflow: hidden;
}

.fas_h_left a {
  float: left;
  font-size: 13px;
  font-family: "微软雅黑";
  color: #000;
  margin: 0 5px;
  font-weight: normal;
}

.fas_h_left a.morebtn {
  margin-left: 15px;
  margin-top: 18px;
}

.fas_h_img {
  float: right;
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 36px;
  font-family: "微软雅黑";
  margin-right: 10px;
  font-weight: normal;
}

.pub_fas_bo {
  width: 980px;
  margin-top: 6px;
}

.fas_bo_l {
  width: 299px;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  float: left;
}

.chrpce {}

.tryTil2 {
  color: #C41C8B;
}

.tryname,
.tryput {
  color: #666;
}

.pcxx {
  color: #A0A0A0;
  float: left;
  width: 11em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pcmore {
  color: #F69;
  float: right;
}

.lt_focus {
  width: 270px;
  height: 370px;
  position: relative;
  margin-left: 15px;
}

.lt_focus_img a {
  position: relative;
}

.lt_focus_img {
  width: 270px;
  height: 370px;
  position: absolute;
}

.lt_focus_img img {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
}

.lt_focus ul {
  height: 21px;
  padding: 2px 0 2px 5px;
  position: absolute;
  right: 8px;
  bottom: 5px;
  margin: 0;
  z-index: 10;
}

.lt_focus ul.key li,
.lt_focus ul.key2 li {
  width: 23px;
  height: 21px;
  color: #9B9B9C;
  background: #48494A;
  float: left;
  margin: 0 1px;
  text-align: center;
  line-height: 21px;
}

.lt_focus ul.key li:hover {
  background: #3F77A5;
  cursor: pointer;
  color: #fff;
}

.lt_focus ul.key li.show {
  background: #3F77A5;
  color: #fff;
}

.lt_focus ul.key2 li:hover {
  background: #3F77A5;
  cursor: pointer;
  color: #fff;
}

.lt_focus ul.key2 li.show {
  background: #3F77A5;
  color: #fff;
}

.shhzhk {
  width: 299px;
  border-top: 1px #ccc solid;
  margin-top: 10px;
}

.shhzhk h3 {
  width: 279px;
  background: #e7e7e7;
  height: 35px;
  line-height: 35px;
  color: #333333;
  padding: 0 10px;
  font-family: "微软雅黑";
  font-size: 16px;
  font-weight: normal;
}

.shhzhk h3 span {
  float: left;
}

.shhzhk h3 a {
  float: right;
  margin-top: 10px;
}

.zhoukan_slid {
  width: 262px;
  height: 150px;
  margin: 0 auto;
  margin-top: 10px;
}

.zhk_slid_img {
  width: 262px;
  height: 120px;
  overflow: hidden;
}

.zhk_slid_img a {
  float: left;
  display: block;
  width: 262px;
  height: 120px;
  overflow: hidden;
}

.zhoukanul {
  width: 279px;
  padding: 0 10px;
  margin: 10px 0;
}

.zhoukanul li {
  font-size: 14px;
  font-family: "微软雅黑";
  line-height: 25px;
  color: #000;
  padding-left: 10px;
}

.zhoukanul li a {
  color: #000;
}

.fas_bo_c {
  width: 345px;
  margin: 0 25px;
  float: left;
  display: inline;
}

.fas_bo_c h3 {
  width: 345px;
  text-align: center;
  height: 75px;
  line-height: 75px;
  font-weight: normal;
}

.fas_bo_c h3 a {
  font-size: 20px;
  color: #78058b;
}

.fas_cen_ul {
  width: 345px;
  overflow: hidden;
  margin-bottom: 40px;
}

.fas_cen_ul li {
  float: left;
  width: 12em;
  margin-left: 10px;
  padding-left: 10px;
  line-height: 25px;
  background: url(http://www.ileehoo.com/images/item.jpg) 0px 12px no-repeat;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
}

.fas_cen_ul li a {
  color: #555;
  font-size: 13px;
  width: 10em;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
}

.fas_imgshow {
  width: 345px;
}

.fas_img {
  width: 107px;
  float: left;
  text-align: center;
  margin: 0 4px;
  display: inline;
}

.fas_img2 {
  margin: 0 11px;
}

.fas_img p {
  width: 106px;
  text-align: center;
  line-height: 25px;
  width: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fas_img p a {
  font-size: 12px;
  color: #555;
  width: 7em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zhttab {
  width: 345px;
  margin-top: 40px;
}

.zhttab ul {
  width: 345px;
  height: 35px;
  line-height: 35px;
  font-family: "微软雅黑";
}

.zhttab ul li {
  float: left;
  height: 34px;
  line-height: 34px;
  width: 85px;
  text-align: center;
  border-bottom: 1px #ccc solid;
  font-size: 15px;
  color: #777;
  cursor: pointer;
}

.zhttab ul li a {
  color: #777;
}

.zhttab ul li a:hover {
  text-decoration: none;
}

.zhttab ul li.tab_one {
  border: 1px #ccc solid;
  border-bottom: 0;
}

.zhttab ul li:hover {
  border: 1px #ccc solid;
  border-bottom: 0;
}

.zhttab_con {
  width: 325px;
  height: 205px;
  margin: 0 auto;
  margin-top: 15px;
  position: relative;
}

.zhttab_con1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 325px;
}

.zhttab_con a {
  float: left;
  display: block;
  width: 142px;
  height: 203px;
}

.fas_bo_r {
  width: 283px;
  border: 1px #ccc solid;
  border-right: 0;
  float: right;
  font-family: "微软雅黑";
}

.fas_bo_r .pub_shiy_new2 {
  border-top: 1px #ccc solid;
}

.fas_bo_r .pub_shiy_new2 h3 {
  width: 262px;
  background: #e7e7e7;
  height: 35px;
  line-height: 35px;
  color: #333333;
  padding: 0 10px;
  font-size: 16px;
  font-weight: normal;
  font-family: "微软雅黑";
}

.fas_bo_r .pub_shiy_new2 h3 span {
  float: left;
  font-size: 16px;
}

.fas_bo_r .pub_shiy_new2 h3 a {
  float: right;
  margin-top: 10px;
}

.fas_bo_r .pub_shiy_main2 {
  width: 268px;
  overflow: hidden;
  margin: 15px 0 10px 15px;
}

.pub_shiy_main2 .shiy_main_list {
  width: 268px;
  overflow: hidden;
  text-align: center;
}

.mai_list1 {}

.dpchre {
  width: 268px;
  overflow: hidden;
}

.mai_list1 .dpchr1 {
  width: 76px;
  float: left;
  margin: 0 5px;
}

.dptoux {
  width: 70px;
  height: 70px;
  display: block;
  border: 1px #ccc solid;
  border-radius: 3px;
}

.dptoux img {
  width: 70px;
  height: 70px;
}

.dpchr1 p {
  width: 72px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.dpchr1 p a {
  color: #333;
  line-height: 30px;
  font-size: 12px;
  width: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gzhbtn {
  display: block;
  width: 65px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: url(http://www.ileehoo.com/images/guanzhubtn.png) no-repeat;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  color: #fff;
}

.gzhbtn:hover {
  text-decoration: none;
}

.mai_list2 {}

.bdlis {
  width: 225px;
  height: 340px;
  margin-left: 12px;
  overflow: hidden;
  float: left;
  border: 1px solid #EEE;
  padding: 1px 0 0 1px;
  border-radius: 5px;
}

.bdlis:hover {
  border: 1.5px solid #f18080;
}

.pub_shiy_main2 .shiy_lis1 dl {
  height: 80px;
  width: 280px;
  overflow: hidden;
}

.pub_shiy_main2 .shiy_lis1 dd {
  width: 180px;
  float: left;
}

.pub_shiy_main2 .shiy_lis1 dd li {
  width: 180px;
  height: 21px;
  text-align: left;
  color: #787878;
  text-overflow: ellipsis;
  font-size: 12px;
  font-family: "微软雅黑";
  overflow: hidden;
}

.tryTil {
  color: #333;
  font-family: "微软雅黑";
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tryTil2 {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.tryBtn {
  display: block;
  width: 75px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  color: white;
  background: url(http://www.ileehoo.com/images/news/wysy_btn.gif) no-repeat;
  margin-left: 110px;
}

a.tryBtn:hover {
  text-decoration: none;
}

.shiy_lis1 dt {
  width: 64px;
  float: left;
  overflow: hidden;
}

.shiy_lis1 dt a img {
  padding: 1px;
  border: 1px solid #65C294;
}

.album_author {
  width: 203px;
  padding: 10px;
}

.author_first {
  height: 150px;
}

.author_first a {
  height: 150px;
}

.author_other {
  height: 115px;
  overflow: hidden;
  width: 225px;
}

.album_author img {
  height: 32px;
  width: 32px;
  vertical-align: top;
  margin: 5px 0 0;
}

.album_author .album_title {
  margin: 0 0 5px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  word-break: normal;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.album_author .num a,
.album_author .num span {
  color: #999;
  display: block;
  float: left;
}

.album_author .num span.pic_num {
  background: url(/images/user/7ycvj_kqyvkmtim5bew2dwgfjeg5sckzsew_200x300.png) no-repeat 0 -95px;
}

.album_author .num span.fav_num {
  background: url(/images/user/7ycvj_kqyvkmtim5bew2dwgfjeg5sckzsew_200x300.png) no-repeat 0 -145px;
}

.album_author .num {
  padding: 0;
  color: #999;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
  font-weight: normal;
}

.album_author .pic_num,
.album_author .fav_num {
  padding: 0 0 0 16px;
  background-position: 0 -95px;
}

.album_author .fav_num {
  background-position: 0 -145px;
}

.num span {
  width: 20px;
}

.special .morecon .author_first,
.special .morecon .author_other {
  float: left;
}

.special .morecon .author_first {
  width: 222px;
  height: 150px;
  position: relative;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.special .morecon .author_other {
  float: left;
  width: 55px;
  height: 55px;
  margin: 1px 0 1px 1px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.special .morecon .author_other img {
  width: 55px;
}

.frame {
  float: left;
  height: 150px;
  overflow: hidden;
  background: #F8F8F8;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.outer {
  height: 150px;
  width: 223px;
  overflow: hidden;
  position: static !important;
  position: relative;
  display: table !important;
}

#middle {
  position: absolute;
  top: 50%;
}

#middle[id] {
  display: table-cell;
  vertical-align: middle;
  position: static;
}

#inner {
  position: relative;
  top: -50%;
  width: 100%;
  margin: 0 auto;
  width: 223px;
  height: 150px;
}

.frame1 {
  float: left;
  height: 55px;
  width: 55px;
  overflow: hidden;
}

.outer1 {
  height: 55px;
  width: 55px;
  overflow: hidden;
  position: static !important;
  position: relative;
  display: table !important;
}

#middle1 {
  width: 54px;
  height: 54px;
  text-align: center;
  position: absolute;
  top: 50%;
}

#middle1[id] {
  width: 54px;
  height: 54px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: static;
}

#inner1 {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 54px;
  height: 54px;
  display: table-cell;
  vertical-align: middle;
}

.frame1 #inner1 a {
  width: 54px;
  height: 54px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin: 2px 0 0 2px;
}

.ii {
  position: relative;
}

.foc img {
  width: 310px;
  height: 440px;
  margin-top: -46px;
}

.space {
  width: 310px;
  height: 400px;
}

.avs,
.avs img {
  width: 310px;
  height: 440px;
}

.avs {
  overflow: hidden;
  border: none;
  position: absolute;
  top: -46px;
  left: 5px;
}

.avs .dt {
  position: absolute;
  width: 310px;
  height: 440px;
}

.avs .dt a {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
}

.avs .dd {
  position: absolute;
  line-height: 12px;
  height: 12px;
  width: 100%;
  bottom: 0px;
  _bottom: -2px;
}

.avs ul.dd {
  float: left;
  width: 100px;
  padding-left: 210px;
  background: #666;
  opacity: 0.40;
  filter: alpha(opacity=40);
}

.avs ul.dd li {
  width: 18px;
  height: 12px;
  border-left: white 1px solid;
  line-height: 10px;
  font: 10px Arial;
  color: white;
  text-align: center;
  cursor: pointer;
  float: left;
}

.avs ul.dd li.show {
  background: #ED67A4;
  font-weight: bold;
}

.i_logo {
  width: 980px;
  height: 120px;
}

.i_logo .logo2 {
  float: left;
  margin-left: 15px;
  margin-top: -245px;
}

.i_logo .login {
  float: right;
  width: 120px;
  padding-top: 10px;
  text-align: right;
  padding-right: 10px;
  font-size: 12px;
}

.i_logo .login span {
  font-size: 12px;
}

#showdiv {
  cursor: pointer;
}

#showdiv span {
  font-size: 8px;
}

#mydiv {
  position: absolute;
  display: ;margin-left:675px;
  *+margin-left: 393px;
  _margin-left: 393px;
  margin-top: 72px;
  padding: 15px;
  z-index: 0;
  width: 270px;
  height: 120px;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
}

#mydiv .t {
  border: 1px solid #e0e0e0;
  height: 24px;
  widows: 50px;
  line-height: 24px;
}

.box {}

.box span {
  text-indent: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #333;
  letter-spacing: 5px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 5px;
  display: block;
  height: 30px;
  line-height: 40px;
}

#DY {
  width: 960px;
  margin: 0 auto;
}

.zz a {
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "微软雅黑";
}

.zz a:hover {
  text-decoration: none;
}

.zz a:hover {
  color: #69F;
}

#XC .tab {
  width: 310px;
  overflow: hidden;
  margin-top: 5px;
}

#XC .tab .tableft {
  width: 117px;
  height: 220px;
  float: left;
  background: url(../images/tabbg.jpg) top left repeat-y;
  color: #5D98BA;
}

#XC .tab .tableft li {
  width: 117px;
  height: 31px;
  line-height: 31px;
  text-indent: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  font-family: "微软雅黑";
}

#XC .tab .tableft li {
  background: url(../images/tab_a.jpg) top left no-repeat;
}

#XC .tab .tableft li.onclick {
  background: url(../images/tab_b.jpg) top left no-repeat;
}

#XC .tab .tabbox {
  float: right;
  width: 160px;
  height: 200px;
  padding: 10px;
  border: 1px solid #E0E0E0;
  background: #F8F8F8;
  overflow: scroll;
  overflow-x: hidden;
}

#XC .tab .cc1 li {
  display: block;
  overflow: hidden;
  height: 24px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

#XC .tab .cc1 li a {
  color: #666;
}

#XC .tab .cc1 li a:hover {
  color: #0078B7;
}

#XC .tab .cc2 li {
  display: block;
  overflow: hidden;
  height: 24px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

#XC .tab .cc2 li a {
  color: #666;
}

#XC .tab .cc2 li a:hover {
  color: #0078B7;
}

#DY .iform .wb {
  height: 22px;
  border: 1px solid #E0E0E0;
  width: 207px;
  color: #666;
  font-family: Verdana, Geneva, sans-serif;
}

#DY .iform .an {
  height: 24px;
  background: #000;
  color: #9CC5DC;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  width: 50px;
}

.pub_main .hot {
  width: 345px;
  overflow: hidden;
  margin: 0 15px;
  margin-top: 15px;
}

.pub_main .hot .promo {
  margin-top: 18px;
  width: 345px;
  overflow: hidden;
  white-space: nowrap;
}

.pub_main .hot .promo .imm {
  float: left;
  width: 104px;
  height: 104px;
  overflow: hidden;
}

.pub_main .hot .promo .imm img {
  width: 100px;
  height: 100px;
  padding: 1px;
  border: 1px solid #E0E0E0;
}

.pub_main .hot .promo img:hover {
  border: 1px solid #FE7302;
}

.pub_main .hot .promo .promo-copy {
  float: right;
  width: 228px;
  overflow: hidden;
}

.pub_main .hot .promo .promo-copy a {
  width: 228px;
  white-space: nowrap;
  text-decoration: none;
  font-size: 18px;
  font-family: "微软雅黑";
  color: #444;
  height: 30px;
  line-height: 30px;
}

.pub_main .hot .promo .promo-copy a:hover {
  text-decoration: underline;
}

.pub_main .hot-word {
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 40px;
  color: #000;
  text-align: center;
  height: 80px;
  line-height: 80px;
  margin-top: 20px;
  font-weight: 100;
}

.pub_main .pic-list {
  width: 330px;
  overflow: hidden;
  margin-left: 17px;
  float: left;
  margin-right: 17px;
}

.pub_main .pic-list dl {
  margin-top: 20px;
}

.pub_main .pic-list dl,
.pic-list dl dt {
  width: 330px;
  overflow: hidden;
}

.pub_main .pic-list dl dt {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #78058b;
  font-weight: bold;
}

.pub_main .pic-list dl dd.img {
  float: left;
}

.pub_main .pic-list dl dd.img img {
  background: #fff;
  border: 1px solid #e0e0e0;
  padding: 1px;
  width: 100px;
  height: 100px;
}

.pub_main .pic-list dl dd.img img:hover {
  border: 1px solid #FE7302;
}

.pub_main .pic-list dl dd.txt {
  width: 215px;
  float: right;
  overflow: hidden;
  font-size: 14px;
}

.pub_main .pic-list dl dd.txt a {
  white-space: nowrap;
  width: 228px;
  text-decoration: none;
  color: #474747;
  font-family: "微软雅黑";
}

.pub_main .pic-list dl dd.txt a.top {
  padding-bottom: 10px;
  font: 16px "微软雅黑";
  display: block;
  color: #78058b;
}

.pub_main .pic-list dl dd.txt a.lis {
  height: 25px;
  width: 218px;
  padding-left: 10px;
  line-height: 25px;
  background: url(../images/item.jpg) 0 6px no-repeat;
  white-space: nowrap;
}

.pub_main .pic-list dl dd.txt a:hover {
  text-decoration: underline;
}

.pic-w {
  width: 265px;
}

.pic-w a.tit,
.adv2 p {
  width: 265px;
}

.pic-w a.tit {
  height: 30px;
  line-height: 30px;
  color: #474747;
  font-size: 14px;
  font-weight: bold;
}

.pic-w a.tit a {
  text-decoration: none;
}

.pic-w p {
  line-height: 1.6;
  color: #666;
}

#DE {
  width: 960px;
  margin: 0 auto;
}

#DE .tw {
  width: 480px;
  overflow: hidden;
}

#DE .tw dl.tit {
  width: 480px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  border-top: 3px #000 solid;
  height: 60px;
  padding-top: 15px;
}

#DE .tw dl.tit dt,
#DE .tw dl.tit dd {
  height: 50px;
  line-height: 50px;
}

#DE .tw dl.tit dt {
  float: left;
  width: 100px;
  font: 36px "微软雅黑";
  text-indent: 5px;
  overflow: hidden;
}

#DE .tw dl.tit dd {
  float: left;
  width: 350px;
  text-align: left;
  overflow: hidden;
}

#DE .tw dl.tit dd a {
  float: left;
  font-size: 13px;
  font-family: "微软雅黑";
  color: #000;
  margin: 0 5px;
}

#DE .tw dl.tit dd a.morebtn {
  margin-left: 15px;
  margin-top: 18px;
}

#DE .tw dl.con {
  margin-top: 20px;
}

#DE .tw dl.con dt {
  width: 140px;
  float: left;
}

#DE .tw dl.con dt img {
  padding: 1px;
  background: #fff;
  border: 1px solid #e0e0e0;
}

#DE .tw dl.con dt p {
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-family: "微软雅黑";
}

#DE .tw dl.con dd {
  float: left;
  width: 310px;
  margin-left: 15px;
}

#DE .tw dl.con dd .t {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}

#DE .tw dl.con dd .t a {
  color: #78058b;
  text-decoration: none;
  font-family: "微软雅黑";
}

#DE .tw dl.con dd p {
  line-height: 1.6;
  color: #9FA0A0;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  font-family: "微软雅黑";
}

#DE .tw dl.con dd .lst {
  padding-top: 10px;
}

#DE .tw dl.con dd .lst a {
  overflow: hidden;
  display: inline-block;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  color: #474747;
  text-decoration: none;
  font-family: "微软雅黑";
}

#DE .tw dl.con dd .lst a:hover {
  text-decoration: underline;
}

#DE .pic-lst {
  width: 465px;
  margin-top: 10px;
}

#DE .pic-lst dl {
  float: left;
  width: 104px;
  display: inline;
  margin: 0 6px;
}

#DE .pic-lst dl dd img {
  padding: 1px;
  border: 1px solid #e0e0e0;
  width: 98px;
  height: 98px;
}

#DE .pic-lst dl dd img:hover {
  border: 1px solid #FE7302;
}

#DE .pic-lst dl dt {
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
}

#DE .pic-lst dl dt a {
  text-decoration: none;
  color: #333;
}

#DE .pic-lst dl dt a:hover {
  text-decoration: underline;
}

#PP {
  width: 960px;
  margin: 0 auto;
}

#PP .tw {
  width: 480px;
  overflow: hidden;
}

#PP .tw dl.tit {
  width: 480px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  border-top: 3px #000 solid;
  height: 60px;
  padding-top: 15px;
}

#PP .tw dl.tit dt,
#PP .tw dl.tit dd {
  height: 50px;
  line-height: 50px;
}

#PP .tw dl.tit dt {
  float: left;
  width: 100px;
  font: 36px "微软雅黑";
  text-indent: 5px;
  overflow: hidden;
}

#PP .tw dl.tit dd {
  float: left;
  width: 350px;
  text-align: left;
  overflow: hidden;
  margin-left: 20px;
}

#PP .tw dl.tit dd a {
  float: left;
  font-size: 13px;
  font-family: "微软雅黑";
  color: #000;
  margin: 0 5px;
}

#PP .tw dl.tit dd a.morebtn {
  margin-left: 15px;
  margin-top: 18px;
}

#PP .tw dl.con {
  margin-top: 20px;
}

#PP .tw dl.con dt {
  width: 174px;
  float: left;
}

#PP .tw dl.con dt img {
  padding: 1px;
  background: #fff;
  border: 1px solid #e0e0e0;
}

#PP .tw dl.con dt p {
  text-align: center;
  height: 25px;
  line-height: 25px;
  font-family: "微软雅黑";
}

#PP .tw dl.con dd {
  float: left;
  width: 275px;
  margin-left: 15px;
}

#PP .tw dl.con dd .t {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}

#PP .tw dl.con dd .t a {
  color: #78058b;
  text-decoration: none;
  font-family: "微软雅黑";
}

#PP .tw dl.con dd p {
  line-height: 1.6;
  color: #9FA0A0;
  padding-bottom: 5px;
  font-family: "微软雅黑";
}

#PP .tw dl.con dd .lst {
  padding-top: 10px;
}

#PP .tw dl.con dd .lst a {
  overflow: hidden;
  display: inline-block;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  color: #474747;
  text-decoration: none;
  font-family: "微软雅黑";
}

#PP .tw dl.con dd .lst a:hover {
  text-decoration: underline;
}

#PP .tw dl.con dd .lst-t {}

#PP .tw dl.con dd .lst-t a {
  overflow: hidden;
  display: inline-block;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  color: #474747;
  text-decoration: none;
}

#PP .tw dl.con dd .lst-t a:hover {
  text-decoration: underline;
}

#PIC {
  width: 960px;
  margin: 0 auto;
}

#PIC .tw {
  width: 960px;
  overflow: hidden;
}

#PIC .tw dl.tit {
  width: 960px;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
}

#PIC .tw dl.tit dt,
#PIC .tw dl.tit dd {
  height: 30px;
  line-height: 30px;
}

#PIC .tw dl.tit dt {
  float: left;
  width: 165px;
  font: 16px "微软雅黑";
  text-indent: 5px;
  overflow: hidden;
}

#PIC .tw dl.tit dd {
  float: right;
  width: 300px;
  text-align: right;
  overflow: hidden;
}

#PIC .tw .pl {
  width: 960px;
  overflow: hidden;
  padding-top: 20px;
}

#PIC .tw .pl dl {
  width: 149px;
  float: left;
  display: inline;
  margin-left: 9px;
}

#PIC .tw .pl dl dd img {
  border: 1px solid #e0e0e0;
  padding: 1px;
  background: #fff;
}

#PIC .tw .pl dl dd img:hover {
  border: 1px solid #FE7302;
}

#PIC .tw .pl dl dt {
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-family: "微软雅黑";
}

#XC {
  width: 960px;
  margin: 0 auto;
}

#XC .tw {
  width: 600px;
  overflow: hidden;
  float: left;
}

#XC .tw dl.tit {
  width: 600px;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
}

#XC .tw dl.tit dt,
#XC .tw dl.tit dd {
  height: 30px;
  line-height: 30px;
}

#XC .tw dl.tit dt {
  float: left;
  width: 400px;
  font: 20px "微软雅黑";
  text-indent: 5px;
  overflow: hidden;
}

#XC .tw dl.tit dd {
  float: right;
  width: 100px;
  text-align: right;
  overflow: hidden;
}

#XC .tw dl.pic-p {
  width: 600px;
  overflow: hidden;
}

#XC .tw dl.pic-p dt {
  float: left;
  width: 215px;
  padding-top: 8px;
}

#XC .tw dl.pic-p dt img {
  width: 210px;
  height: 300px;
  padding: 1px;
  border: 1px solid #e0e0e0;
}

#XC .tw dl.pic-p dd {
  float: right;
  width: 385px;
}

#XC .tw dl.pic-p dd img {
  float: left;
  margin-left: 8px;
  margin-top: 8px;
  display: inline;
  cursor: pointer;
}

#XC .rw {
  width: 330px;
  overflow: hidden;
  float: left;
}

#XC .rw dl.tit {
  width: 330px;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
}

#XC .rw dl.tit dt,
#XC .tw dl.tit dd {
  height: 30px;
  line-height: 30px;
}

#XC .rw dl.tit dt {
  float: left;
  width: 165px;
  font: 16px "微软雅黑";
  text-indent: 5px;
  overflow: hidden;
}

#XC .rw dl.tit dd {
  float: right;
  width: 100px;
  text-align: right;
  overflow: hidden;
}

#XC .rw dl.pic-t {
  width: 330px;
  padding-top: 15px;
}

#XC .rw dl.pic-t dt {
  float: left;
  width: 100px;
}

#XC .rw dl.pic-t dt img {
  width: 100px;
  height: 135px;
  padding: 1px;
  background: #fff;
  border: 1px solid #e0e0e0;
}

#XC .rw dl.pic-t dt p {
  width: 100px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

#XC .rw dl.pic-t dd {
  float: right;
  width: 220px;
}

#XC .rw dl.pic-t dd a {
  width: 220px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  text-decoration: none;
  color: #474747;
  overflow: hidden;
  white-space: nowrap;
}

#XC .rw dl.pic-t dd a.z {
  color: #0078B7;
  font-size: 16px;
  font-family: "微软雅黑";
}

#XC .rw dl.pic-t dd a:hover {
  text-decoration: underline;
}

#BBS {
  width: 960px;
  margin: 0 auto;
}

#BBS .tw {
  width: 960px;
  overflow: hidden;
  float: left;
}

#BBS .tw dl.tit {
  width: 960px;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
}

#BBS .tw dl.tit dt,
#BBS .tw dl.tit dd {
  height: 30px;
  line-height: 30px;
}

#BBS .tw dl.tit dt {
  float: left;
  width: 100px;
  font: 16px "微软雅黑";
  text-indent: 5px;
  overflow: hidden;
}

#BBS .tw dl.tit dd {
  float: right;
  width: 500px;
  text-align: right;
  overflow: hidden;
}

#BBS .tw dl.tit dd a {
  color: #000;
}

#BBS .tw dl.tit dd a:hover {
  text-decoration: underline;
}

#BBS .tw .pic-bbs {
  margin-top: 15px;
  margin-left: 28px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  width: 902px;
  *+width: 902px;
  _width: 905px;
  padding-bottom: 1px;
  background: #fff;
}

#BBS .tw .pic-bbs .pbl {
  float: left;
  width: 225px;
}

#BBS .tw .pic-bbs .pbl img {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  vertical-align: bottom;
}

.g1,
.g2,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8 {
  overflow: hidden;
}

.g1 p,
.g2 p,
.g3 p,
.g4 p,
.g5 p,
.g6 p,
.g7 p,
.g8 p {
  position: absolute;
  z-index: 2;
  background: #000;
  display: block;
  width: 224px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  bottom: 0;
  right: 0;
  text-align: center;
  display: none;
  filter: alpha(opacity=70);
  opacity: 0.7;
  cursor: pointer;
}

.g1,
.g2,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8 {
  width: 225px;
  position: relative;
  float: left;
}

#BBS .tw .pic-bbs .pbl .g1 {
  height: 90px;
}

#BBS .tw .pic-bbs .pbl .g2 {
  height: 240px;
}

#BBS .tw .pic-bbs .pbl .g3 {
  height: 180px;
}

#BBS .tw .pic-bbs .pbl .g4 {
  height: 150px;
}

#BBS .tw .pic-bbs .pbl .g5 {
  height: 240px;
}

#BBS .tw .pic-bbs .pbl .g6 {
  height: 90px;
}

#BBS .tw .pic-bbs .pbl .g7 {
  height: 150px;
}

#BBS .tw .pic-bbs .pbl .g8 {
  height: 180px;
}

.g1 img,
.g2 img,
.g3 img,
.g4 img,
.g5 img,
.g6 img,
.g7 img,
.g8 img {
  position: absolute;
  z-index: 1;
}

.i_foot {
  background: #2B2E31;
  height: 180px;
}

.i_foot .link {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #555;
  color: #fff;
  text-align: center;
}

.i_foot .bq {
  padding: 10px;
  line-height: 24px;
  text-align: center;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

.maga {
  width: 310px;
  margin-bottom: 5px;
  *margin-bottom: 10px;
}

.silder {
  position: relative;
  height: 180px;
}

.silder_d a {
  display: block;
  border: 1px solid #FFFFFF;
}

.silder_l,
.silder_r {
  display: block;
  position: absolute;
  top: 70px;
  width: 18px;
  height: 27px;
  background-image: url(/images/b.png);
}

.silder_l {
  left: 0;
  background-position: -260px 0;
}

.silder_l:hover {
  background-position: -296px 0;
}

.silder_r {
  right: -3px;
  background-position: -278px 0;
}

.silder_r:hover {
  background-position: -314px 0;
}

.roundabout-holder {
  position: relative;
  height: 180px;
  width: 180px;
  margin: 10px auto 6px;
  margin-left: 68px;
}

.roundabout-holder li {
  cursor: auto;
  width: 130px;
  height: 180px;
  text-align: center;
}

.roundabout-holder li img {
  width: 100%;
}

.wb {
  height: 22px;
  border: 1px solid #E0E0E0;
  width: 207px;
  color: #666;
  font-family: Verdana, Geneva, sans-serif;
}

.an {
  height: 24px;
  background: #000;
  color: #9CC5DC;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  width: 50px;
}

#tablink {
  overflow: hidden;
  margin-bottom: 10px;
}

#tablink li {
  width: 80px;
  height: 30px;
  line-height: 25px;
  font-family: "微软雅黑";
  font-size: 16px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#tablink li.on,
#tablink li:hover {
  border-bottom: 2px solid #333;
}

.linkcon {
  overflow: hidden;
}

.linkcon a {
  padding: 8px 10px;
  float: left;
  white-space: nowrap;
  display: inline;
  text-decoration: none;
  color: #3f3f3f;
}

.linkcon a:hover {
  text-decoration: underline;
}

.mydiv {
  background-color: #FFF;
  border: 3px solid #65C294;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  font-weight: bold;
  z-index: 999;
  width: 300px;
  height: 220px;
  left: 50%;
  top: 50%;
  margin-left: -150px!important;
  margin-top: -260px!important;
  margin-top: 0px;
  position: fixed!important;
  position: absolute;
  _top: expression(eval(document.compatMode &&    document.compatMode=='CSS1Compat') ?    documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :    document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);
}

.bg,
.popIframe {
  background-color: #666;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: alpha(opacity=50);
  opacity: 0.5;
  z-index: 1;
  position: fixed!important;
  position: absolute;
  _top: expression(eval(document.compatMode &&    document.compatMode=='CSS1Compat') ?    documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :    document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);
}

.popIframe {
  filter: alpha(opacity=0);
  opacity: 0;
}

.te {
  border-color: #636363 #C1C1C1 #C1C1C1 #636363;
  border-style: solid;
  border-width: 1px;
  height: 15px;
  margin: 0;
  padding: 3px;
  width: 140px;
}

.bt {
  background: url("../../images/try/btnbg.png") no-repeat scroll 0 -112px transparent;
  border: 0 none;
  cursor: pointer;
  height: 56px;
  overflow: hidden;
  width: 56px;
}

#share_nav {
  width: 980px;
  margin: 0 auto;
  height: 30px;
  background: #eeeeee;
  position: relative;
  z-index: 3;
  font-family: "微软雅黑","宋体";
}

#share_nav .left {
  float: left;
  margin-left: 10px;
  color: #999;
}

#share_nav .left a {
  line-height: 30px;
  color: #2a2e31;
}

#share_nav .right {
  float: right;
  margin-right: 10px;
}

#share_nav .right img.header {
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  border: 1px solid #999;
  padding: 1px;
}

#share_nav .right a {
  float: left;
  line-height: 30px;
  color: #2a2e31;
  margin: 0 7px;
  padding: 0 2px;
}

.w980 {
  width: 980px;
}

.w986 {
  width: 986px;
}

.yo_topNav {
  height: 25px;
  overflow: hidden;
  background: #25262a;
  color: #85868a;
  font-size: 12px;
  border: 0;
  line-height: 18px;
  font-family: Tahoma,Arial,sans-serif;
  margin: 0 auto;
}

.yo_topNav span,
.yo_topNav i,
.yo_topNav em {
  font-style: normal;
  display: inline-block;
}

.yo_topNav_links {
  float: left;
  padding: 0 0 0 10px;
  margin: 0;
}

.yo_topNav_links li {
  float: left;
  padding: 3px 20px 0 0;
  list-style: none;
  margin: 0;
}

.yo_topNav_link_grey a:link,
.yo_topNav_link_grey a:visited {
  color: #bebec0;
  text-decoration: none;
}

.yo_topNav_link_blue a:link,
.yo_topNav_link_blue a:visited {
  color: #8dbff0;
  text-decoration: none;
}

.yo_topNav_link_blue a:hover,
.yo_topNav_link_grey a:hover {
  color: #f60;
  text-decoration: underline;
}

.yo_topNav_info {
  float: right;
}

.yo_topNav_topic {
  padding: 4px 10px 0 0;
  float: right;
  overflow: hidden;
}

.yo_topNav_topic span {
  width: 18px;
  text-align: center;
}

.yo_topNav_beforeLogin {
  float: right;
  padding: 4px 20px 0 0;
}

.yo_topNav_beforeLogin span {
  padding: 0 13px 0 0;
}

.yo_topNav_beforeLogin a {
  display: inlin-block;
  margin: 0 9px 0 0;
}

.yo_topNav_login {
  float: right;
  padding: 4px 18px 0 0;
}

.yo_topNav_login i {
  padding: 0 15px 0 0;
  line-height: 16px;
}

.yo_topNav_mine {
  float: right;
  padding: 4px 18px 0 0;
}

.yo_topNav_mine a {
  display: inline-block;
  margin: 0 0 0 8px;
}

.yo_topNav_mine a:link em,
.yo_topNav_mine a:visited em {
  color: #fff;
  font-weight: bold;
}

.yo_topNav_mine a:hover em {
  color: #f60;
  text-decoration: underline;
  cursor: pointer;
}

.yo_topNav_theme2 {
  height: 27px;
  background: url(http://www.ileehoo.com/images/ilee_topNavbg3.gif) repeat-x #fff;
  color: #85868a;
}

.yo_topNav_theme2 .yo_topNav_link_grey a:link,
.yo_topNav_theme2 .yo_topNav_link_grey a:visited {
  color: #000;
  text-decoration: none;
}

.yo_topNav_theme2 .yo_topNav_link_blue a:link,
.yo_topNav_theme2 .yo_topNav_link_blue a:visited {
  color: #4b85d4;
  text-decoration: none;
}

.yo_topNav_theme2 .yo_topNav_link_blue a:hover,
.yo_topNav_theme2 .yo_topNav_link_grey a:hover {
  color: #f60;
  text-decoration: underline;
}

.yo_topNav_theme2 .yo_topNav_mine a:link em,
.yo_topNav_theme2 .yo_topNav_mine a:visited em {
  color: #f60;
  font-weight: bold;
}

.yo_topNav_theme2 .yo_topNav_mine a:hover em {
  color: #f60;
  text-decoration: underline;
  cursor: pointer;
}

.yo_topNav_theme2 .yo_topNav_topic {
  color: #000;
}

.yo_loginWinBox {
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
  display: none;
}

.yo_loginWin {
  width: 522px;
  height: 298px;
  left: 50%;
  top: 50%;
  margin: -149px 0 0 -261px;
  position: absolute;
  z-index: 3001;
}

.yo_loginWinMask {
  width: 522px;
  height: 298px;
  background: #fff;
  opacity: 0.25;
  filter: alpha(opacity=25);
  position: absolute;
  z-index: 3002;
}

.yo_loginContent {
  width: 510px;
  height: 286px;
  position: absolute;
  z-index: 3003;
  left: 6px;
  top: 6px;
  background: url(http://www.ileehoo.com/images/ilee_topNavbg2.gif) repeat-y #fff;
}

.yo_loginTitle {
  height: 31px;
  overflow: hidden;
  background: #2b2e31;
  padding: 0 12px 0 0;
}

.yo_loginTitle span {
  display: inline-block;
  background: url(http://www.ileehoo.com/images/ilee_topNavbg.gif) no-repeat 0 -71px;
  width: 100px;
  height: 14px;
  overflow: hidden;
  margin: 8px 0 0 12px;
}

.yo_loginTitle i {
  display: block;
  width: 12px;
  height: 12px;
  overflow: hidden;
  background: url(http://www.ileehoo.com/images/ilee_topNavbg.gif) no-repeat -188px -44px;
  float: right;
  margin: 9px 0 0 0;
  cursor: pointer;
}

.yo_loginContentLeft {
  width: 328px;
  overflow: hidden;
  float: left;
  padding: 22px 0 0;
  height: 233px;
}

.yo_loginContentLeft dl {
  height: 42px;
  padding: 0;
  margin: 0;
}

.yo_loginContentLeft dt {
  font-size: 15px;
  font-family: 'Microsoft YaHei';
  color: #333;
  width: 117px;
  text-align: right;
  padding: 3px 0 0;
  float: left;
}

.yo_loginContentLeft dd {
  float: left;
  padding: 0;
  margin: 0;
}

.yo_loginInput {
  width: 180px;
  height: 20px;
  border: 1px solid #b8b8b8;
  margin: 0;
  padding: 6px 0 0 8px;
  background: url(http://www.ileehoo.com/images/ilee_topNavbg.gif) no-repeat 0 -96px;
  color: #3e4555;
}

.yo_loginInput_error {
  background-position: 0 -125px;
}

.yo_loginContentLeft ul {
  padding: 0 0 0 114px;
  height: 96px;
  overflow: hidden;
  margin: 0;
  font-size: 12px;
}

.yo_loginContentLeft li {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #333;
}

.yo_loginContentLeft li span {
  display: block;
  padding: 3px 0 0;
  height: 25px;
  overflow: hidden;
}

.yo_loginContentLeft em {
  height: 20px;
  display: block;
  overflow: hidden;
  font-style: normal;
  padding: 0 0 0 3px;
}

.yo_loginContentLeft i {
  color: #cc0000;
  font-style: normal;
}

.yo_loginBtn {
  width: 89px;
  height: 30px;
  border: 0;
  margin: 0 0 0 3px;
  padding: 0;
  background: url(http://www.ileehoo.com/images/ilee_topNavbg.gif) no-repeat -90px 0;
  cursor: pointer;
  float: left;
}

.yo_login_forgetPwd {
  display: inline-block;
  margin: 9px 0 0 10px;
}

.yo_loginContentLeft div {
  border-top: 1px solid #e1e1e1;
  width: 288px;
  margin: 0 0 0 20px;
  overflow: hidden;
  padding: 15px 0 0;
}

.yo_login_qq:link,
.yo_login_qq:visited,
.yo_login_sina:link,
.yo_login_sina:visited {
  display: inline-block;
  margin: 0 26px 0 0;
  height: 20px;
  padding: 0 0 0 19px;
  background: url(http://www.ileehoo.com/images/ilee_topNavbg.gif) no-repeat -184px 2px;
  text-decoration: none;
  font-family: 'Microsoft YaHei';
  font-size: 13px;
  color: #333;
}

.yo_login_sina:link,
.yo_login_sina:visited {
  background-position: -184px -22px;
  padding: 0 0 0 20px;
}

.yo_loginContentRight {
  width: 182px;
  float: right;
  text-align: center;
  font-size: 15px;
  font-family: 'Microsoft YaHei';
  color: #333;
  line-height: 24px;
  padding: 50px 0 0;
}

.yo_loginContentRight a:link,
.yo_loginContentRight a:visited {
  margin: 15px auto 0;
  display: block;
  overflow: hidden;
  text-indent: -3000px;
  width: 89px;
  height: 30px;
  background: url(http://www.ileehoo.com/images/ilee_topNavbg.gif) no-repeat;
}

.yo_loginContentRight a:hover {
  background-position: 0 -31px;
}

.yo_loginMask {
  position: absolute;
  z-index: 2999;
  background: #000;
  filter: alpha(opacity=55);
  opacity: 0.55;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.yo_loginWinBox iframe {
  width: 100%;
  border: 0;
  background: none;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  z-index: 2998;
  left: 0;
  top: 0;
}

.yo_loginUserList {
  display: none;
  position: absolute;
  z-index: 3004;
  top: 81px;
  left: 117px;
  width: 186px;
  border: 1px solid #dbdbdb;
  background: #fff;
  padding: 2px 1px 1px;
}

.yo_loginUserList dl {
  width: 186px;
  padding: 0;
  margin: 0;
}

.yo_loginUserList dt {
  padding: 5px 0 0 10px;
  margin: 0;
  height: 25px;
  background: #f7f7f7;
  color: #999;
  font-size: 12px;
  line-height: 18px;
}

.yo_loginUserList dd {
  padding: 0;
  margin: 0;
}

.yo_loginUserList ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.yo_loginUserList li {
  list-style: none;
  padding: 5px 0 0 10px;
  border-top: 1px solid #fff;
  margin: 0;
  cursor: pointer;
  height: 20px;
  font-size: 14px;
  color: #333;
}

.yo_loginUserList li.on {
  background: #e8f4fc;
}

.yo_loginUserList span.on {
  background: url(http://www.ileehoo.com/images/ilee_topNavbg5.gif) no-repeat left -15px;
}

.yo_loginUserList li.on span.on {
  background-position: left top;
}

.yo_loginUserList i {
  font-style: normal;
}

.yo_loginUserList span {
  display: inline-block;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin: 1px 4px 0 0;
  float: left;
  padding: 0;
}

.yo_loginUserList div {
  border-top: 1px dashed #e2e2e2;
  margin: 10px 0 0;
  padding: 5px 0 0 10px;
  height: 18px;
  font-size: 12px;
  color: #999;
}

.yo_loginUserList div a:link,
.yo_loginUserList div a:visited {
  color: #4b85d4;
  text-decoration: none;
}

.yo_loginUserList div a:hover {
  color: #f60;
  text-decoration: underline;
}

.i_logo {
  width: 980px;
  margin: 0 auto;
  position: relative;
  height: 300px;
  background: #0D001E;
}

.i_logo a {
  display: block;
  width: 267px;
  height: 80px;
}

.logoimg {
  position: absolute;
  left: 0;
  top: 10px;
  padding-left: 15px;
  padding-top: 15px;
  z-index: 2;
  float: left;
}

.logoads {
  width: 680px;
  height: 100px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.logoadsbig {
  width: 980px;
  position: absolute;
  left: 0;
  top: 0;
  height: 300px;
  z-index: 1;
}

.i_menu {
  width: 980px;
  background: #2B2E31;
  height: 65px;
  color: #fff;
}

.i_menu a.x {
  color: #822D88;
}

.navlis {
  float: left;
  height: 45px;
  margin-top: 10px;
  padding-left: 36px;
  padding-right: 36px;
  border-right: 1px #fff solid;
  color: #fff;
  font-size: 16px;
  font-family: "微软雅黑";
}

.navlis a {
  color: #fff;
}

.navatit {
  float: left;
  line-height: 45px;
  font-size: 18px;
}

.navas {
  float: left;
  margin-left: 14px;
  display: inline;
}

.navas p {
  line-height: 22px;
}

.navas a {
  float: left;
  margin-left: 15px;
  display: inline;
  font-size: 14px;
}

.navas a:hover {
  text-decoration: underline;
}

#footer {
  width: 980px;
  background: #2B2E31;
  margin: 0 auto;
  border-top: 5px solid #666;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 130px;
  padding-top: 20px;
  color: #999;
  font-size: 12px;
}

#footer_left {
  float: left;
  width: 210px;
  padding-left: 30px;
}

#footer_center {
  float: left;
  width: 460px;
  text-align: center;
  margin-right: 20px;
}

#footer_right {
  float: left;
  width: 240px;
}

#footer_right img {
  float: left;
}

#footer_right .footer_right_p {
  float: left;
  width: 120px;
  text-align: left;
  margin-left: 10px;
  padding-top: 20px;
}

#footer_right .footer_right_p p {
  margin: 0;
  padding: 0;
  line-height: 25px;
}

#footer .link {
  height: 32px;
  line-height: 32px;
  text-align: center;
}

#footer .link a {
  color: #999;
  text-decoration: none;
}

#footer .link a:hover {
  color: #ccc;
}

#footer .link span {
  padding: 0 5px 0 10px;
  font-size: 10px;
}

#footer .copy {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
  color: #999;
  line-height: 24px;
  text-align: center;
}

#footer .copy a {
  color: #999;
  text-decoration: none;
}

#footer .copy a:hover {
  color: #ccc;
}