html,
body,
form,
fieldset,
h1,
h2,
ul,
li,
p,
th,
br,
img {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: normal;
  border: 0;
}

html {
  background-color: #333;
}

body {
  font-family: tahoma,arial,helvetica,sans-serif;
  width: 946px;
  margin: 2px auto;
  font-size: 11px;
  color: #555;
}

a {
  outline: none;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #ccc;
}

a.blue,
.league-table .fs a,
.league-multi .hs a {
  color: #00f;
}

a.blue:hover,
.league-table .fs a:hover,
.league-table .fs:hover,
.league-multi .hs a:hover {
  color: #00f;
  text-decoration: underline;
  cursor: pointer;
}

h2,
h3,
th,
fieldset {
  font-size: 12px;
}

h1 {
  font: bold 12px Verdana, Arial, Sans-serif;
}

h2 {
  color: #ccc;
  background: #333;
  font-weight: bold;
  padding: 4px;
}

sup {
  font-size: 8px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.tright {
  text-align: right!important;
}

.tleft {
  text-align: left!important;
}

.tcenter {
  text-align: center!important;
}

.hidden {
  display: none;
}

.ml5 {
  margin-left: 5px;
}

.mbn {
  margin-bottom: 0!important;
}

.mtn {
  margin-top: 0!important;
}

.bb {
  border-bottom: solid 1px #666!important;
}

.bt {
  border-top: solid 1px #666!important;
}

.br {
  border-right: solid 1px #666;
}

.bbn {
  border-bottom: none!important;
}

.btn {
  border-top: none!important;
}

.p5 {
  padding: 4px;
}

.mt4 {
  margin-top: 4px;
}

.ml4 {
  margin-left: 4px;
}

.mr4 {
  margin-right: 4px;
}

.pr4 {
  padding-right: 4px!important;
}

.pl4 {
  padding-left: 4px!important;
}

.back {
  text-align: right;
  color: #ccc;
  font-size: 12px;
}

.back a {
  color: #FFCC66;
}

.back a:hover {
  color: #fff;
  text-decoration: underline;
}

td.space {
  background: #000!important;
  border: none!important;
  padding: 0!important;
}

td.space span {
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
  display: block;
  margin: 10px 0 6px;
  height: 1px;
  line-height: 1px;
}

iframe {
  border: 0;
  overflow: hidden;
}

.sm {
  font-size: 11px!important;
}

.the-gap {
  height: 60px;
}

.bh th {
  background: #333!important;
  color: #aaa!important;
}

.header {
  background: #111;
}

.wrapper {
  border: solid 1px #666;
  width: 946px;
  background-repeat: repeat-y;
  background-position: left top;
  background-color: #111;
  position: relative;
}

.banner {
  position: absolute;
  top: 163px;
}

.nav {
  color: #ccc;
  background: #333;
}

.nav li {
  display: inline-block;
  float: left;
  font-weight: bold;
  border-right: solid 1px #000;
}

.nav a {
  line-height: 20px;
  height: 20px;
  color: #666;
  border-left: solid 1px #666;
  text-align: center;
  display: block;
}

.nav li a {
  width: 92px;
}

.nav li a.m4 {
  width: 100px;
}

.nav li.first a {
  border-left: none;
}

.nav li:last-child {
  border-right: none;
}

.nav a.selected,
.nav a:hover,
.right-bar .buttons a {
  color: #f60;
}

.ad {
  padding: 0 4px 2px;
}

.top-add {
  padding: 4px 4px 2px;
  margin-right: 2px;
  text-align: center;
  width: 200px;
}

.big-add {
  text-align: center;
  width: 728px;
  float: left;
  padding: 4px 4px 2px;
}

.tagline {
  width: 300px;
  text-align: center;
  height: 90px;
}

.tagline h2 {
  color: #555;
  background: none;
  padding: 0;
  font-weight: normal;
  font-size: 11px;
}

.tagline a,
.footer a {
  color: #555!important;
}

.tagline a:hover {
  color: #ccc!important;
}

.left-bar {
  width: 208px;
  padding-top: 3px;
  float: left;
  margin-right: 2px;
}

.buttons {
  margin-bottom: 4px;
  border-bottom: solid 1px #666;
  border-top: solid 1px #111;
}

.buttons a {
  background-repeat: no-repeat;
  background-position: 3px 3px;
  padding: 0 0 0 22px;
  height: 18px;
  line-height: 17px;
  font-weight: bold;
  display: block;
  color: #fc6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.buttons a:hover {
  background-position: 3px -15px;
}

.buttons a.selected,
.buttons a.selected:hover {
  background-position: 3px -33px;
}

.ad-item,
.buttons a {
  border-bottom: 1px solid #222;
  border-top: 1px solid #777;
}

.ad-item {
  padding-bottom: 2px;
}

.buttons a.selected,
.buttons a:hover {
  color: #fff!important;
}

.buttons ul {
  border: 0;
  margin-bottom: 0;
}

.buttons ul a {
  background-image: none;
  background-color: #555;
  padding-left: 30px;
  border-bottom: 0;
  border-top: 0;
  font-weight: normal;
}

.buttons ul ul a {
  background-color: #777;
  padding-left: 30px;
}

.buttons ul a.cat {
  background-repeat: no-repeat;
  background-position: 10px 3px;
}

.buttons ul a.cat:hover {
  background-position: 10px -15px;
}

.buttons ul a.cat.selected {
  background-position: 10px -33px;
}

.basketball .left-bar .buttons ul a.cat:hover {
  background-position: 10px -88px;
}

.hockey .left-bar .buttons ul a.cat:hover {
  background-position: 10px -70px;
}

.right-bar {
  float: left;
  width: 204px;
  text-align: center;
}

.right-bar img {
  margin: 4px 0 2px;
}

.right-bar .buttons {
  margin-bottom: 0;
}

.right-bar .buttons_out {
  background: #444;
  padding: 2px 0;
}

.right-bar .date {
  border-bottom: solid 1px #666;
  line-height: 27px;
  text-align: right;
  color: #555;
  text-align: center;
}

.right-bar .date a {
  color: #555;
}

.right-bar .date a:hover {
  color: #ccc;
}

.right-bar .date span {
  border-left: solid 1px #555;
  padding-left: 5px;
  margin-left: 5px;
}

.social-box {
  background: #333;
  padding: 4px 4px 2px;
  margin-right: 4px;
  margin-top: 4px;
  border-bottom: solid 1px #666;
  border-top: solid 1px #666;
  height: 22px;
  overflow: hidden;
}

.social-box .facebook,
.social-box .google {
  width: 89px;
  float: left;
  position: relative;
  padding-left: 13px;
  text-align: left;
}

.switch {
  background-position: 0 0;
  width: 10px;
  height: 20px;
  display: block;
  position: absolute;
  cursor: pointer;
  left: 0;
  background-repeat: no-repeat;
}

.switch-off {
  background-position: 0 -499px;
}

.switch-on {
  background-position: 0 -527px;
}

.social-box .facebook .disabled {
  width: 89px;
  text-align: left;
}

.social-box .disabled img {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.social-box .google {
  width: 77px;
  float: right;
}

.right-bar .league-table {
  width: 200px!important;
  margin-top: 4px;
}

.right-bar .league-table {
  *width: 200px!important;
}

.right-bar .league-table th.lt {
  padding-left: 4px;
  display: inline-block;
  float: left;
  width: 136px;
}

.right-bar .league-table th {
  line-height: 20px;
  font-weight: bold;
  font-size: 11px;
}

.right-bar .league-table td.ps {
  width: 22px;
  display: inline-block;
  float: left;
}

.right-bar .league-table td.ic {
  width: 12px;
  display: inline-block;
  float: left;
  text-align: right;
}

.right-bar .league-table td.ic img {
  margin: 0;
  padding: 0;
}

.right-bar .league-table td.tm {
  width: 102px;
  padding-right: 4px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  float: left;
}

.right-bar .league-table .gd {
  width: 30px;
  text-align: center;
  display: inline-block;
  float: left;
}

.right-bar .league-table a {
  color: #fc6;
}

.right-bar .league-table a:hover {
  color: #fff;
}

.right-bar .league-table .odd td {
  background-color: #dfdfdf;
}

.right-bar .arrow {
  width: 10px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  cursor: pointer;
}

.right-bar .arrow-left {
  background-position: 0 -461px;
}

.right-bar .arrow-right {
  background-position: 0 -441px;
}

.right-bar a.league-name {
  width: 108px;
  display: inline-block;
  padding-left: 7px;
  height: 16px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.right-bar iframe {
  margin-left: -4px;
  vertical-align: top;
}

.right-bar .social-box iframe {
  vertical-align: bottom;
  margin-left: 0;
}

.content {
  float: left;
  padding: 0 4px 4px;
  width: 524px;
}

.cal {
  background: #cfcfcf;
}

.cal a,
.tab a {
  float: left;
  width: 70px;
  text-align: center;
  line-height: 17px;
  background: #cfcfcf;
  border-right: solid 1px #666;
  cursor: pointer;
}

.cal a.last {
  border-right: none;
}

.tab a {
  width: 129px;
}

.tab a.first {
  width: 132px;
}

.cal a.selected,
.tab a.selected,
.cal a.selected:hover,
.tab a.selected:hover {
  background: #666!important;
  color: #cfcfcf!important;
  cursor: default;
}

.cal a:hover,
.tab a:hover {
  background: #FEF3BE;
  color: #000;
}

.cal a.today {
  width: 82px;
}

.cal-wrap {
  border: solid 1px #666;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 7px;
}

.cal-wrap .cal-long a {
  width: 125px;
}

.cal-wrap .cal-long.cal-cup a {
  width: 101px;
}

.cal-wrap .cal-long a.last {
  border-right: none;
  width: 130px;
}

.cal-wrap .cal-long.cal-cup a.last {
  width: 100px;
}

.cal-wrap.cal-wrap2 .cal-long a {
  width: 253px;
}

.cal-wrap.cal-wrap3 .cal-long a:first-child {
  width: 169px;
}

.cal-wrap.cal-wrap3 .cal-long a {
  width: 168px;
}

.tab {
  border-left: solid 1px #666;
  border-top: 0;
  border-bottom: 0;
  margin: 0;
  background: #444;
}

.league-table,
.league-wc,
.league-multi,
.league-cricket,
.right-bar .league-table {
  color: #000;
  border-collapse: collapse;
  width: 100%;
  margin-top: 4px;
  background: #dfdfdf;
}

.league-table .league a,
.league-multi th a,
.league-wc th a {
  color: #ccc;
  text-decoration: underline;
}

.league-table .league a:hover,
.league-multi th a:hover,
.league-wc th a:hover {
  color: #fff;
}

.footer {
  background: #111;
  padding: 0 4px;
  line-height: 20px;
  height: 20px;
}

th .league,
th .date {
  display: block;
  height: 18px;
  line-height: 18px;
}

th .league {
  margin-left: 4px;
  float: left;
}

th .date {
  margin-right: 4px;
  font-size: 11px;
  float: right;
}

tr.menu th {
  color: #666;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
}

tr.menu th a:hover {
  color: #fff;
  text-decoration: none;
}

.league-table th {
  color: #ccc;
  height: 22px;
  background-color: #333;
  text-align: left;
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
}

.league-table th.footer {
  color: #ddd;
}

.league-table td {
  background-color: #cfcfcf;
  padding: 2px 0;
  border-bottom: solid 1px #666;
}

.league-table .even td {
  background-color: #dfdfdf;
}

.league-table .fd {
  width: 42px;
  padding-left: 4px;
  min-width: 42px;
  max-width: 42px;
}

.league-table .fh,
.league-table .fa {
  width: 185px;
  min-width: 185px;
  max-width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.league-table .fh {
  text-align: right;
}

.league-table .fs {
  width: 52px;
  text-align: center;
  min-width: 52px;
  max-width: 52px;
}

.league-table .fs:hover {
  text-decoration: none!important;
  cursor: default!important;
  color: black;
}

.match-details .inc {
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  display: block;
}

.match-details .yellowcard {
  background-position: 0 -125px;
}

.match-details .redcard {
  background-position: 0 -140px;
}

.match-details .redyellowcard {
  background-position: 0 -155px;
}

.match-details .goal {
  background-position: 0 -171px;
}

.match-details .sub-out {
  background-position: 0 -404px;
}

.match-details .sub-in {
  background-position: 0 -425px;
}

.match-details .goal-miss {
  background-position: 0 -381px;
}

.match-details .empty {
  background-position: -2000px 0;
}

.match-details .inc.right {
  margin-left: 3px;
}

.match-details .inc.left {
  margin-right: 3px;
}

.match-details {
  border-collapse: collapse;
}

.match-details th {
  font-weight: bold;
  text-align: center;
  height: 28px;
  border: none;
  color: #ddd;
}

.match-details td.header {
  text-align: center;
  background-color: #dfdfdf;
  border-bottom: solid 1px #333;
}

.match-details .stats td {
  border-bottom: none;
}

.match-details .min {
  width: 46px;
  padding-left: 4px;
  text-align: left;
}

.match-details .sco {
  width: 48px;
  min-width: 48px;
  text-align: center;
}

.match-details .ply {
  width: 185px;
}

.match-details .ply .name {
  width: 135px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.match-details .ply .name.right {
  text-align: right;
}

.match-details th.sts {
  width: 50px;
}

.match-details th.home,
.match-details th.awy {
  width: 185px;
  max-width: 185px;
  line-height: 28px;
}

.match-details .team {
  float: left;
  width: 174px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.match-details .awy .team {
  float: right;
}

.match-details .star {
  float: left;
  width: 10px;
}

.match-details th.home {
  text-align: right;
}

.match-details th.awy {
  text-align: left;
}

.match-details th.footer {
  font-size: 11px;
  font-weight: normal;
  padding: 2px 5px 3px;
  line-height: 15px;
  border-bottom: solid 1px #666;
  height: 15px;
}

.match-details th.footer iframe {
  vertical-align: top;
}

.match-details th.footer .right {
  margin: 1px 0 -1px;
}

.match-details th.footer a {
  color: #ddd!important;
}

.match-details .ht th {
  font-weight: normal;
}

.match-details .assist,
.league-wc .assist {
  font-style: italic;
  color: #999;
}

.match-details .partials th {
  background: #ddd;
  height: 18px;
  padding: 0;
  color: #000!important;
  font-size: 11px;
  font-weight: normal;
  display: table-cell;
  line-height: 18px;
}

.match-details th.title {
  font-size: 11px;
  font-weight: normal;
  height: 18px;
  text-align: left;
  padding-left: 4px;
  color: #aaa;
}

.match-details .subs .inc {
  width: 190px;
  padding-left: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.match-details .subs .sub-out {
  color: #999;
}

.match-details .subs .ply {
  width: 190px;
}

.match-details .off {
  color: #999;
}

.match-details .menu th {
  height: 20px;
  margin-bottom: 4px;
}

.match-details .menu a {
  color: #fc6;
  cursor: pointer;
}

.euro-2012 .nav a.selected,
.euro-2012 .left-bar .buttons a,
.euro-2012 .nav a:hover,
.euro-2012 .menu a,
.euro-2012 .back a,
.euro-2012 .right-bar .league-table a,
a.green,
.euro-2012.narrow .right-bar .menu li a {
  color: #3c3;
}

a.green:hover {
  text-decoration: underline;
  color: #fff;
}

.euro-2012 .left-bar .buttons a:hover {
  background-position: 3px -52px;
}

.league-wc th {
  color: #aaa;
  background-color: #333;
  text-align: left;
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
  padding: 4px;
}

.league-wc .top th {
  font-size: 12px!important;
}

.league-wc th .league,
.league-wc th .date {
  clear: both;
  display: block;
  line-height: 16px;
  float: none;
}

.league-wc th .league {
  font-size: 12px;
  margin-left: 0;
}

.league-wc th .date {
  font-size: 11px;
  text-align: right;
  margin-right: 0;
}

.league-wc .match td {
  background-color: #eee;
  font-weight: bold;
  border-bottom: solid 1px #bbb;
}

.league-wc .dark td {
  background-color: #bbb!important;
}

.league-wc .match .fd {
  font-weight: normal;
}

.league-wc .match .tl,
.league-wc .ht .tl {
  text-align: right;
}

.league-wc td {
  background-color: #ddd;
  padding: 2px 0;
  text-align: left;
  border-top: solid 1px #333;
}

.league-wc .ht td {
  border: none;
  height: 54px;
  vertical-align: top;
  line-height: 18px;
  padding: 0;
}

.league-wc tr.even td {
  background-color: #eee;
}

.league-wc .fd {
  width: 42px;
  padding-left: 4px;
}

.league-wc .tl,
.league-wc .tr {
  width: 188px;
}

.league-wc .tr {
  text-align: left;
}

.league-wc .fs {
  width: 52px;
  text-align: center;
}

.league-wc .sco {
  text-align: center;
}

.league-wc .inc,
.league-wc.comments .inc {
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  display: block;
}

.league-wc .yellowcard {
  background-position: 0 -125px;
}

.league-wc .redcard {
  background-position: 0 -140px;
}

.league-wc .redyellowcard {
  background-position: 0 -156px;
}

.league-wc .goal {
  background-position: 0 -171px;
}

.league-wc .goal-miss {
  background-position: 0 -381px;
}

.league-wc .inc.right {
  margin-left: 3px;
}

.league-wc .inc.left {
  margin-right: 3px;
}

.league-wc .stats td {
  border: none;
  text-align: center;
  background: #ddd;
}

.league-wc .stats td.sts1 {
  text-align: right;
}

.league-wc.lineups td.header {
  width: 227px;
  text-align: center;
  background-color: #ccc;
  border-bottom: solid 1px #333;
}

.league-wc.lineups td {
  border-top: none;
  background: #eee;
}

.league-wc.lineups .off {
  color: #aaa;
}

.league-wc.lineups .fd {
  text-align: center;
}

.league-wc.comments {
  width: 100%;
}

.league-wc.comments th {
  background: #ccc;
  border-bottom: solid 1px #b0b0b0;
  padding: 2px;
  border-top: solid 1px #aaa;
}

.league-wc.comments td {
  padding: 4px;
  border-bottom: solid 1px #aaa;
}

.league-wc td.tm {
  width: 45px;
}

.league-wc.fixtures {
  width: 100%;
}

.league-wc.fixtures .ty {
  width: 39px;
  text-align: center;
}

.league-wc.fixtures th.ty {
  width: 39px;
  padding: 1px 4px;
}

.league-wc.fixtures.short th {
  padding: 1px 0;
}

.league-wc.fixtures .dt {
  width: 60px;
}

.league-wc.fixtures .tm {
  width: 54px;
}

.league-wc.fixtures .sc {
  width: 34px;
  text-align: left;
}

.league-wc.fixtures th {
  border: none;
}

.league-wc a {
  color: #0000FF;
}

.league-wc a:hover {
  color: #0000FF;
  text-decoration: underline;
}

.league-wc.fixtures.fixtures-tall td {
  height: 32px;
}

.league-wc.table {
  border-right: solid 1px #666;
  border-left: solid 1px #666;
  border-bottom: solid 1px #666;
}

.league-wc.table td {
  text-align: center;
  border-right: solid 1px #333;
  width: 34px;
}

.league-wc.table th {
  font-size: 12px;
  text-align: center;
  padding: 3px 0;
  width: 34px;
}

.league-wc.table .tb2 th {
  font-size: 11px;
}

.league-wc.table th.group {
  width: auto;
}

.league-wc.table td.col,
.league-wc.table th.col {
  width: 8px!important;
  border-right: none;
  padding-left: 1px;
}

.league-wc.table td.num,
.league-wc.table th.num {
  width: 12px!important;
  padding-right: 10px;
}

.league-wc.table .cty {
  text-align: left;
  width: 151px;
  padding: 2px 0 3px 4px;
}

.league-wc.table .ls {
  border-right: none;
  font-weight: bold;
}

.league-wc.table .tb2 th {
  color: #333;
  background-color: #aaa;
}

.league-wc td.dtl {
  width: 60px;
  max-width: 60px;
  min-width: 60px;
  text-align: right;
}

.league-wc td.th,
.league-wc td.ta {
  width: 194px;
  max-width: 194;
  min-width: 194;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.league-wc td.th {
  text-align: right;
}

.league-wc td.sc {
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  text-align: center;
}

.league-wc td.re {
  width: 26px;
  text-align: center;
}

.league-wc td.nb {
  width: 70px;
  text-align: center;
}

.league-wc td.nm {
  width: 211px;
  text-align: right;
  font-weight: bold;
}

.league-wc td.po {
  width: 161px;
  text-align: center;
  padding-right: 26px;
}

.euro-2012 .btn-light a,
.cricket .btn-light a {
  color: #3F6!important;
}

.euro-2012 .btn-light a:hover,
.euro-2012 .btn-light a.selected,
.cricket .btn-light a:hover,
.cricket .btn-light a.selected {
  color: #fff!important;
}

.league-multi th {
  color: #ccc;
  background-color: #333;
  text-align: left;
  border-top: solid 1px #666;
  height: 22px;
}

.league-multi td {
  background-color: #cfcfcf;
  padding: 3px 0;
  text-align: center;
  border-top: solid 1px #666;
}

.league-multi tr.awy td {
  border-top: solid 1px #bbb;
}

.league-multi .even td {
  background-color: #dfdfdf;
}

.league-multi .fd {
  width: 42px;
  padding-left: 4px;
  text-align: left;
}

.league-multi .ft {
  text-align: left;
}

.league-multi .fs {
  width: 47px;
  font-weight: bold;
}

.league-multi .fp {
  width: 30px;
}

.league-multi .fb {
  width: 6px;
  text-align: right;
}

.league-multi .fb2 {
  width: 10px;
}

.league-multi .ts {
  width: 23px;
  text-align: left;
}

.league-multi .serv {
  width: 40px;
}

.league-multi .hs {
  width: 32px;
}

.league-multi .hi {
  width: 20px;
}

.hockey .nav a.selected,
.hockey .left-bar .buttons a,
.hockey .nav a:hover,
.hockey .right-bar .league-table a,
.hockey .menu a,
.hockey.narrow .right-bar .menu li a {
  color: #09f;
}

.hockey .left-bar .buttons a:hover {
  background-position: 3px -70px;
}

.hockey .btn-light a {
  color: #3cf!important;
}

.hockey .btn-light a:hover,
.hockey .btn-light a.selected {
  color: #fff!important;
}

.match-details .goal-hockey {
  background-position: 0 -257px;
}

.match-details .to2min-hockey {
  background-position: 0 -275px;
}

.match-details .to5min-hockey {
  background-position: 0 -297px;
}

.match-details .to10min-hockey {
  background-position: 0 -317px;
}

.match-details .red-hockey {
  background-position: 0 -337px;
}

.match-details .goal-miss-hockey {
  background-position: 0 -357px;
}

.tennis .nav a.selected,
.tennis .left-bar .buttons a,
.tennis .nav a:hover,
.tennis .right-bar .league-table a,
.tennis .menu a,
.tennis.narrow .right-bar .menu li a {
  color: #bbb;
}

.tennis .left-bar .buttons a:hover {
  background-position: 3px -106px;
}

.tennis .league-multi .ball {
  background-repeat: no-repeat;
  background-position: 0 -232px;
  height: 13px;
}

.tennis .league-multi .ball-cell {
  width: 18px;
}

.tennis .league-multi .ball.doubles {
  background-position: 0 -225px;
}

.basketball .nav a.selected,
.basketball .left-bar .buttons a,
.basketball .nav a:hover,
.basketball .right-bar .league-table a,
.basketball .menu a,
.basketball.narrow .right-bar .menu li a {
  color: #e6b626;
}

.basketball .left-bar .buttons a:hover {
  background-position: 3px -88px;
}

.basketball .btn-light a {
  color: #fc3!important;
}

.basketball .btn-light a:hover,
.basketball .btn-light a.selected {
  color: #fff!important;
}

.hockey td.hover,
.hockey td.fd,
.hockey td.ft {
  padding: 0;
}

.hockey td.hover {
  padding-right: 0;
}

.hockey td table {
  border-collapse: collapse;
}

.hockey td.hover td,
.hockey td.fd td,
.hockey td.ft td {
  border: none;
}

.hockey td.hover-action:hover td {
  background: #FEF3BE;
  cursor: pointer;
}

.hockey td.awy {
  border-top: solid 1px #bbb!important;
}

.hockey td.fd td {
  width: 42px;
  text-align: left;
  padding-left: 4px;
}

.hockey td.ft td {
  width: 330px;
  text-align: left;
}

.hockey td.fb2 {
  width: 14px;
}

.cricket .nav a.selected,
.cricket .left-bar .buttons a,
.cricket .nav a:hover,
.cricket .menu a,
.cricket.narrow .right-bar .menu li a {
  color: #3c3;
}

.cricket .left-bar .buttons a:hover {
  background-position: 3px -52px;
}

.league-cricket th {
  color: #ccc;
  background-color: #333;
  text-align: left;
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
}

.league-cricket th .league,
.league-cricket th .date {
  display: block;
  height: 18px;
  line-height: 18px;
  float: none;
}

.league-cricket th .date {
  font-size: 11px;
  text-align: right;
}

.league-cricket td {
  background-color: #dfdfdf;
  padding: 4px 0 3px;
  text-align: center;
  border-top: solid 1px #ccc;
}

.league-cricket .more td {
  background-color: #cfcfcf;
  text-align: left;
  padding: 6px 4px;
  border-top: solid 1px #aaa;
}

.league-cricket .more a,
.league-cricket .menu a {
  color: #0000FF;
}

.league-cricket .menu .disabled {
  color: #ccc;
}

.league-cricket .more a:hover,
.league-cricket .menu a:hover {
  text-decoration: underline;
}

.league-cricket .more .tright {
  text-align: right;
}

.league-cricket .fd {
  width: 130px;
  text-align: left;
  padding-left: 4px;
}

.league-cricket .ft {
  text-align: right;
  font-weight: bold;
  width: 152px;
  white-space: nowrap;
}

.league-cricket .fs {
  font-weight: bold;
  text-align: left;
  width: 50px;
}

.league-cricket .fp {
  width: 74px;
  text-align: left;
  padding-right: 4px;
}

.league-cricket .ico {
  background-repeat: no-repeat;
  background-color: #dfdfdf;
  background-position: 0 -2000px;
  width: 26px;
  height: 16px;
}

.league-cricket .ball {
  background-position: 7px -183px;
}

.league-cricket .bat {
  background-position: 7px -206px;
}

.league-cricket .gap {
  width: 24px;
}

.league-cricket .last td {
  border-bottom: solid 1px #666;
}

.league-cricket .menu td {
  border-top: solid 1px #aaa;
}

.league-cricket.tab2 th {
  padding: 4px 8px;
  font-size: 11px;
}

.league-cricket.tab2 th a {
  color: #666;
}

.league-cricket.tab2 th a:hover {
  color: #ccc!important;
}

.league-cricket.table th {
  font-size: 11px;
  padding: 2px 0;
  font-weight: bold;
}

.league-cricket.table td {
  padding: 0;
  height: 18px;
}

.league-cricket.table .ico {
  width: 19px;
}

.league-cricket.table .ic {
  width: 20px;
}

.league-cricket.table .ball {
  background-position: 4px -186px;
}

.league-cricket.table .bat {
  background-position: 4px -208px;
}

.league-cricket.table .ba {
  width: 121px;
  text-align: left;
  font-weight: bold;
}

.league-cricket.table .st {
  width: 165px;
  text-align: left;
}

.league-cricket.table .pt {
  width: 30px;
  text-align: center;
}

.league-cricket.table .sr {
  width: 35px;
  text-align: right;
  padding-right: 7px;
}

th.st,
th.pt,
th.sr,
th.rb,
th.ex,
th.sl,
th.pl {
  font-weight: bold;
}

.league-cricket.table .more td {
  padding: 3px 0 3px 10px;
}

.league-cricket.table .more td div {
  width: 52px;
}

.league-cricket.table .more td .tot {
  width: 75px;
}

.league-cricket.table .more td .pt {
  width: 65px;
}

.league-cricket.table .more td .rr {
  width: 60px;
  text-align: right;
}

.league-cricket.table .ps {
  width: 35px;
  text-align: center;
}

.league-cricket.table .er {
  width: 35px;
  padding-right: 7px;
  text-align: center;
}

.league-cricket .bo {
  width: 195px;
  font-weight: bold;
  text-align: left;
}

.league-cricket .pa {
  width: 215px;
  font-weight: bold;
  text-align: left;
}

.league-cricket .rb {
  width: 60px;
  text-align: center;
}

.league-cricket .ex {
  width: 40px;
  text-align: center;
}

.league-cricket .sl {
  width: 10px;
  text-align: center;
}

.league-cricket .tt {
  width: 63px;
  text-align: center;
}

.league-cricket .pl {
  width: 195px;
  text-align: left;
  padding: 4px 20px;
  font-size: 11px;
}

.league-cricket .pe {
  width: 332px;
}

.league-cricket .menu div {
  font-weight: bold;
  text-align: center;
  width: 19.2%;
}

.league-cricket .menu div:first-child {
  width: 23%;
}

.lg a {
  color: #33FF66!important;
}

.comment td {
  text-align: left;
  padding: 4px;
  border-bottom: solid 1px #aaa;
}

.comment th {
  background: #ccc;
  border-bottom: solid 1px #B0B0B0;
  color: #000;
  font-weight: bold;
  font-size: 11px;
  padding: 3px 0;
}

.comment th span {
  margin: 0 20px 0 15px;
}

.league-cricket.info td {
  padding-left: 10px;
  padding: 5px 10px 4px;
  background: #333;
  color: #ccc;
  text-align: left;
  border-top: solid 1px #666;
}

.league-cricket.info .ba {
  width: 112px;
  font-weight: bold;
}

.contact-form legend {
  display: none;
}

.contact-form li {
  padding: 13px 4px;
  border-bottom: solid 1px #555;
}

.contact-form input,
.contact-form select {
  vertical-align: middle;
  width: 221px;
}

.contact-form select {
  width: 225px;
}

.contact-form textarea {
  width: 510px;
  height: 244px;
}

.contact-form label {
  display: inline-block;
  width: 281px;
  text-align: right;
  padding-right: 10px;
}

li.submit-button {
  text-align: center;
  border: 0;
}

li.submit-button input {
  width: 86px!important;
}

.contact-form fieldset {
  line-height: 20px;
  background: #333;
  color: #ccc;
  display: block;
}

.pp {
  background: #dfdfdf;
  padding: 10px 4px 0;
}

.pp p {
  font-size: 11px;
  color: #000;
  margin-bottom: 10px;
}

.timezone-box {
  padding: 5px;
  line-height: 20px;
  background: #333;
  color: #ccc;
  display: block;
  font-size: 12px;
}

.timezone-box h3 {
  margin-top: 0;
  margin-bottom: 14px;
}

.timezone-box form {
  margin-top: 14px;
  margin-bottom: 14px;
}

.timezone-box div.offset {
  padding-top: 30px;
}

.timezone-box select {
  display: inline-block;
  padding: 0;
  font-size: 12px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 18px;
  line-height: 18px;
  border: none;
}

.timezone-box button {
  display: inline-block;
  padding: 0 7px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
  background-color: #f5f5f5;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.timezone-box button {
  *padding: 0 7px;
}

.timezone-box button:active {
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.wapBox {
  font-size: 12px;
  color: #aaa;
  padding: 15px 4px;
  text-align: center;
  background: #333;
}

.wapBox p {
  margin-bottom: 10px;
  text-align: left;
}

.android .wrapper,
.iphone .wrapper,
.mobile .wrapper {
  background: #000!important;
}

.android .left-bar,
.iphone .left-bar,
.mobile .left-bar {
  display: none;
}

.mobile img.mweb {
  margin-top: 20px;
}

h4 {
  text-shadow: #111 1px 1px;
  font-size: 16px;
  font-weight: 700;
  color: #ccc;
  padding: 16px 10px 20px;
  margin: 0;
}

.frame {
  background: #333;
  margin: 4px;
}

.frame h4 span {
  font-size: 12px;
  font-weight: 400;
  display: block;
  margin-top: 10px;
}

.frame h4.icon {
  padding: 35px 0 25px 70px;
  margin-left: 10px;
}

.frame h4.app {
  background-repeat: no-repeat;
  background-position: left center;
}

.frame h4.web {
  background-repeat: no-repeat;
  background-position: left center;
}

.frame p {
  font-size: 12px;
  line-height: 18px;
  color: #ccc;
  margin: 10px;
}

.frame a:link,
.frame a:visited {
  font-size: 12px;
  color: #fc6;
  font-weight: 700;
  text-decoration: none;
}

.frame p.tm {
  text-align: right;
  font-size: 11px;
  color: #555;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.frame p.itunes a {
  display: block;
  padding-top: 20px;
  padding-right: 20px;
  float: right;
}

.frame p.itunes a:hover {
  color: #fff!important;
}

.frame p.itunes a.btnStore {
  width: 150px;
  height: 90px;
  float: right;
  outline: none;
  text-indent: -5000px;
  background-color: #333;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0;
}

.frame p.itunes a.btnAndMarket {
  background-color: #333;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.frame p.itunes a.btnStore:hover {
  background-position: 0 -90px;
}

.euro-2012 .frame p.itunes a {
  color: #3f6;
}

.frame li {
  list-style-type: disc;
  color: #ccc;
  padding-left: 5px;
  margin-left: 30px;
  font-size: 12px;
  line-height: 18px;
}

.frame p img.app,
.frame p img.web {
  margin-left: 50px;
  border: 0;
}

.frame p a.bi {
  display: block;
  text-align: center;
}

.frame p a.bi img {
  margin: auto;
  max-width: 400px;
}

body.narrow,
.narrow .wrapper {
  width: 810px;
}

.narrow .nav li a {
  width: 79px;
}

.narrow .nav li a.m4 {
  width: 80px;
}

.narrow .nav a {
  *width: auto;
  *padding: 0;
}

.narrow .header img {
  width: 465px;
  height: 68px;
}

.narrow .tagline {
  width: 340px;
  height: 68px;
}

.narrow .content {
  width: 468px;
}

.narrow .big-add {
  width: 468px;
}

.narrow .top-add {
  width: 120px;
  height: 60px;
}

.narrow .big-add iframe {
  width: 468px;
  height: 60px;
}

.narrow .top-add iframe {
  width: 120px;
  height: 60px;
}

.narrow .left-bar {
  width: 128px;
}

.narrow .right-bar iframe {
  margin-left: 0;
  width: 200px;
  margin-right: 4px;
}

.narrow .right-bar .date {
  line-height: 18px;
  position: absolute;
  top: 110px;
  border-bottom: 0;
  width: 200px;
}

.narrow .right-bar .date span {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
}

.narrow .buttons ul a {
  padding-left: 4px;
}

.narrow .buttons ul a.cat {
  padding-left: 22px;
  background-position: 3px 3px;
}

.narrow .the-gap {
  height: 0;
}

.narrow.basketball .left-bar .buttons ul a.cat:hover {
  background-position: 3px -88px;
}

.narrow.hockey .left-bar .buttons ul a.cat:hover {
  background-position: 3px -70px;
}

.narrow .cal a {
  width: 63px;
}

.narrow .cal a.today {
  width: 68px;
}

.narrow .cal-wrap .cal-long a.first {
  width: 111px;
}

.narrow .cal-wrap .cal-long a {
  width: 115px;
}

.narrow .cal-wrap .cal-long a.last {
  width: 108px;
}

.narrow .cal-wrap.cal-wrap2 .cal-long a {
  width: 225px;
}

.narrow .tab a:first-child {
  width: 118px;
}

.narrow .tab a {
  width: 115px;
}

.narrow .cal-wrap .cal-long.cal-cup a {
  width: 89px;
}

.narrow .cal-wrap .cal-long.cal-cup a.last {
  width: 92px;
}

.narrow .cal-wrap.cal-wrap3 .cal-long a {
  width: 149px;
}

.narrow .cal-wrap.cal-wrap3 .cal-long a:first-child {
  width: 151px;
}

.narrow .league-wc td.dtl {
  width: 60px;
  max-width: 60px;
  min-width: 60px;
}

.narrow .league-wc td.th,
.narrow .league-wc td.ta {
  width: 166px;
  max-width: 166px;
  min-width: 166px;
}

.narrow .league-wc td.sc {
  width: 49px;
  max-width: 49px;
  min-width: 49px;
}

.narrow .league-cricket.table .more td div {
  width: 48px;
}

.narrow .league-cricket.table .more td .tot {
  width: 68px;
}

.narrow .contact-form label {
  width: 225px;
}

.narrow .contact-form textarea {
  width: 454px;
}

.hockey .right-bar .menu a {
  color: #3cf!important;
}

.euro-2012 .right-bar .menu a,
.cricket .right-bar .menu a {
  color: #3F6!important;
}

.basketball .right-bar .menu a {
  color: #fc3!important;
}

.tennis .right-bar .menu a {
  color: #bbb!important;
}

.right-bar .menu {
  margin: 4px 4px 0 0;
  border-bottom: solid 1px #777;
}

.right-bar .menu li a,
.right-bar .menu li span {
  border-bottom: 1px solid #222;
  border-top: 1px solid #777;
  background: #444;
  height: 18px;
  line-height: 18px;
  text-align: left;
  display: block;
  color: #fc6;
  padding: 0 4px;
  font-weight: bold;
}

.right-bar .menu li a:hover {
  color: #fff!important;
}

.right-bar .menu li iframe {
  margin-left: 0;
}

body.narrower,
.narrower .wrapper {
  width: 606px;
}

.narrower .nav li a.m1 {
  width: 84px;
}

.narrower .nav li a.m2 {
  width: 85px;
}

.narrower .nav li a.m3 {
  width: 85px;
}

.narrower .nav li a.m4 {
  width: 85px;
}

.narrower .nav li a.m5 {
  width: 84px;
}

.narrower .nav li a.m6 {
  display: none;
}

.narrower .nav li a.m7 {
  display: none;
}

.narrower .nav li a.m8 {
  display: none;
}

.narrower .nav li a.m9 {
  width: 85px;
}

.narrower .nav li a.m10 {
  width: 85px;
}

.narrower .nav li a {
  *padding: 0;
}

.narrower .nav li a.m1 {
  *width: 82px;
}

.narrower iframe.mt4 {
  margin-left: -30px!important;
}

.narrower iframe.mr4 {
  margin-left: 0!important;
}

.narrower .tagline {
  width: 100%;
  height: 20px;
  float: none;
  border-top: solid 1px #666;
}

.narrower .tagline td {
  text-align: right;
}

.narrower .tagline td.titleLeft {
  text-align: left;
}

.narrower .top-add {
  height: auto;
}

.narrower .content {
  width: 324px;
}

.narrower .right-bar {
  width: 140px;
  overflow: hidden;
}

.narrow .right-bar iframe {
  width: 200px;
}

.narrower .right-bar .date {
  top: 40px;
  width: 140px;
}

.narrower .right-bar .menu {
  margin: 4px 0 0;
}

.narrower .social-box,
.narrower #leagueTableContainer h2 {
  margin-right: 0;
}

.narrower .social-box {
  padding: 4px 1px 2px;
}

.narrower .social-box .facebook .disabled {
  width: 90px;
}

.narrower .social-box .facebook,
.narrower .social-box .google {
  width: 82px;
}

.narrower .social-box .google {
  width: 33px;
}

.narrower .social-box .facebook,
.narrower .social-box .google {
  padding-left: 10px;
}

.narrower .right-bar .league-table {
  width: 140px!important;
  margin-top: 4px;
}

.narrower .right-bar .league-table th.lt {
  width: 86px;
}

.narrower .right-bar a.league-name {
  width: 59px;
}

.narrower .right-bar .league-table .gd {
  width: 25px;
  font-size: 10px;
}

.narrower .right-bar .league-table td.tm {
  width: 52px;
}

.narrower .right-bar .league-table td {
  height: 13px;
}

.narrower .content .league-table,
.narrower .league-wc {
  table-layout: fixed;
}

.narrower .league-wc.table,
.narrower .league-wc.default {
  table-layout: auto;
}

.narrower .cal a {
  width: 43px;
}

.narrower .cal a.today {
  width: 44px;
}

.narrower .cal-wrap .cal-long a.first {
  width: 73px;
}

.narrower .cal-wrap .cal-long a {
  width: 81px;
}

.narrower .cal-wrap .cal-long a.last {
  width: 74px;
}

.narrower .cal-wrap.cal-wrap2 .cal-long a {
  width: 155px;
}

.narrower .tab a:first-child {
  width: 79px;
}

.narrower .tab a {
  width: 80px;
}

.narrower .cal-wrap .cal-long.cal-cup a {
  width: 59px;
}

.narrower .cal-wrap .cal-long.cal-cup a.col3 {
  width: 75px;
}

.narrower .cal-wrap .cal-long.cal-cup a.last {
  width: 56px;
}

.narrower .cal-wrap.cal-wrap3 .cal-long a {
  width: 102px;
}

.narrower .cal-wrap.cal-wrap3 .cal-long a:first-child {
  width: 101px;
}

.narrower .league-table .fh,
.narrower .league-table .fa,
.narrower .league-wc .tl,
.narrower .league-wc .ply {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.narrower .league-table col.cold,
.narrower .league-wc col.cold {
  width: 42px;
}

.narrower .league-table .fs {
  width: 46px;
}

.narrower .league-table col.colh,
.narrower .league-table col.cola,
.narrower .league-wc col.colh,
.narrower .league-wc col.cola {
  width: 120px;
}

.narrower .league-table col.colf,
.narrower .league-wc col.colf {
  width: 45px;
}

.narrower .league-wc .ply span:nth-child(3) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

.narrower .league-wc .ply span.shortName {
  width: 70px;
}

.narrower .league-wc .ply span.right {
  text-align: right;
}

.narrower .league-wc .dtl {
  width: 60px;
  max-width: 60px;
  min-width: 60px;
  text-align: right;
}

.narrower .league-wc td.th,
.narrower .league-wc td.ta {
  width: 101px;
  max-width: 101px;
  min-width: 101px;
}

.narrower .league-wc td.sc {
  width: 36px;
  max-width: 36px;
  min-width: 36px;
}

.narrower .league-wc col.colfd {
  width: 28px;
}

.narrower .league-wc col.coltl {
  width: 128px;
}

.hockey.narrower .league-wc.table,
.basketball.narrower .league-wc.table,
.soccer.narrower .league-wc.table {
  table-layout: fixed;
}

.hockey.narrower .league-wc.table .cty,
.basketball.narrower .league-wc.table .cty,
.soccer.narrower .league-wc.table .cty {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 75px;
}

.soccer.narrower .league-wc.table .cty {
  width: 95px;
}

.soccer.narrower .league-wc.table th {
  width: 24px;
}

.hockey.narrower .league-wc.table th {
  width: 24px;
}

.narrower.hockey td.ft td {
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.narrower .league-multi .fp {
  width: 18px;
}

.narrower .league-multi .fs {
  width: 29px;
}

.basketball.narrower .league-multi .ft span,
.tennis.narrower .league-multi .ft span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 147px;
  display: inline-block;
}

.basketball.narrower .league-wc.table th.col,
.hockey.narrower .league-wc.table th.col {
  width: 6px!important;
}

.basketball.narrower .league-wc.table th.num,
.hockey.narrower .league-wc.table th.num {
  padding-right: 6px;
}

.basketball.narrower .league-wc.table th.c4 {
  width: 23px;
}

.basketball.narrower .league-wc.table th.c5 {
  width: 23px;
}

.basketball.narrower .league-wc.table th.c6 {
  width: 23px;
}

.basketball.narrower .league-wc.table th.c7 {
  width: 23px;
}

.basketball.narrower .league-wc.table th.c10 {
  width: 28px;
}

.basketball.narrower .league-wc.table th.ls {
  width: 36px;
}

.tennis.narrower .league-multi .ft {
  width: 134px;
  padding-right: 10px;
}

.tennis.narrower .league-multi .ts {
  width: 20px;
}

.tennis.narrower .league-multi .serv {
  width: 30px;
}

.tennis.narrower sup {
  line-height: 7px;
}

.narrower .contact-form label {
  width: 125px;
}

.narrower .contact-form input {
  width: 177px;
}

.narrower .contact-form select {
  width: 181px;
}

.narrower .contact-form textarea {
  width: 310px;
}

.usaf .left-bar {
  width: 168px;
}

.usaf .right-bar {
  width: 304px;
}

.usaf .right-bar .league-table {
  width: 300px!important;
}

.usaf .right-bar .league-table td.tm {
  width: 202px;
}

.usaf .right-bar a.league-name {
  width: 208px;
}

.usaf .content {
  width: 464px;
}

.usaf .right-bar .league-table th.lt {
  width: 236px;
}

.usaf .top-add {
  width: 160px;
}

.usaf .big-add {
  width: 768px;
  text-align: left;
}

.usaf .social-box .facebook {
  width: 90px;
}

.usaf .social-box .google {
  width: 115px;
}

.usaf .right-bar .facebook {
  margin-left: 40px;
}

.usaf .cal a {
  width: 60px;
}

.usaf .cal a.today {
  width: 82px;
}

.usaf .tab a {
  width: 115px;
}

.usaf .tab a:first-child {
  width: 114px;
}

.usaf .cal-wrap .cal-long a {
  width: 115px;
}

.usaf .cal-wrap .cal-long a:first-child {
  width: 107px;
}

.usaf .cal-wrap .cal-long a.last {
  width: 108px;
}

.usaf .cal-wrap .cal-long.cal-cup a {
  width: 88px;
}

.usaf .cal-wrap .cal-long.cal-cup a:first-child {
  width: 90px;
}

.usaf .cal-wrap .cal-long.cal-cup a.last {
  width: 90px;
}

.usaf .cal-wrap.cal-wrap2 .cal-long a {
  width: 223px;
}

.usaf .cal-wrap.cal-wrap3 .cal-long a:first-child {
  width: 149px;
}

.usaf .cal-wrap.cal-wrap3 .cal-long a {
  width: 148px;
}

.usaf .league-table .fh,
.usaf .league-table .fa {
  width: 182px;
  max-width: 182px;
  min-width: 182px;
}

.usaf .league-wc.table td,
.usaf .league-wc.table th {
  width: 21px;
}

.usaf .league-wc.table .cty {
  width: 150px;
}

.usaf .league-multi .ft span {
  width: 249px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.usaf .league-wc td.th,
.usaf .league-wc td.ta {
  width: 164px;
  max-width: 164px;
  min-width: 164px;
}

.usaf .league-cricket.table .more td div {
  width: 45px;
}

.usaf .league-cricket.table .more td .tot {
  width: 70px;
}

.usaf .league-cricket.table .more td .pt {
  width: 57px;
}

.usaf .league-cricket.table .more td .rr {
  width: 50px;
}

.usaf.iphone .wrapper,
.usaf.android .wrapper {
  background-image: none;
}

.usaf .contact-form label {
  width: 221px;
}

.usaf .contact-form textarea {
  width: 450px;
}

.buttons ul.buttons {
  display: none;
}

html {
  background-image: url("http://cdn3.livescore.com/web/img/bg.gif");
}

.wrapper {
  background-image: url("http://cdn3.livescore.com/web/img/bkg_cont.gif");
}

.buttons a,
.buttons ul a.cat,
.switch,
.right-bar .arrow,
.match-details .inc,
.league-wc .inc,
.league-wc.comments .inc,
.tennis .league-multi .ball,
.league-cricket .ico {
  background-image: url("http://cdn3.livescore.com/web/img/sprite_v1.0.1.png");
}

.frame h4.app {
  background-image: url("http://cdn3.livescore.com/web/img/icon_app.png");
}

.frame h4.web {
  background-image: url("http://cdn3.livescore.com/web/img/icon_web.png");
}

.euro-2012 .frame h4.web {
  background-image: url("http://cdn3.livescore.com/web/img/icon_web_euro2012.png");
}

.frame p.itunes a.btnStore {
  background-image: url("http://cdn3.livescore.com/web/img/appstore.jpg");
}

.frame p.itunes a.btnAndMarket {
  background-image: url("http://cdn3.livescore.com/web/img/androidmarket.jpg");
}

.narrow .wrapper {
  background-image: url('http://cdn3.livescore.com/web/img/bkg_cont_narrow.gif');
}

.usaf .wrapper {
  background-image: url("http://cdn3.livescore.com/web/img/bkg_cont_africa.gif");
}

.banner {
  right: -164px;
}