@charset "utf-8";

@import url('reset.css');

@import url('module.css');

@import url('header.css');

@import url('footer.css');

@import url('short.css');

@charset "utf-8";

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

body {
  background: #fff;
}

#wrapper {
  background: url(/common/bg_wrapper.png) repeat-x 0 0;
}

#stage {
  margin: 0 auto 50px auto;
  width: 960px;
}

#id_bivalves {
  bottom: 0px;
  left: 0px;
}

#upper {
  margin: 0 auto 10px auto;
  width: 960px;
  height: 29px;
  border-bottom: 1px dotted #ccc;
}

#upper ul {
  float: left;
}

#upper ul li {
  display: inline;
  font-size: 10px;
  line-height: 29px;
}

#upper ul li a {
  margin-right: 5px;
}

#upper h1 {
  float: right;
  margin: 0;
  color: #999;
  font-weight: normal;
  font-size: 10px;
  line-height: 29px;
}

#lower {
  border-bottom: 1px solid #333;
  background-color: #444;
}

#lower div {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 40px;
}

#lower figure {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#lower ul li {
  display: inline;
  color: #ccc;
  font-size: 10px;
  line-height: 40px;
}

#lower ul li a {
  margin-right: 5px;
  color: #ccc;
}

#main {
  position: relative;
  float: right;
  width: 740px;
  font-family: Verdana,Helvetica,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

#side {
  float: left;
  width: 180px;
}

#side .apply {
  margin-top: 0px;
}

#side .apply .body {
  height: 195px;
  background: url(/common/apply/call.png) left bottom no-repeat;
}

#side .apply .header .head {
  height: 68px;
  background: url(/common/apply/hl.png) left top no-repeat;
}

#side .apply .body {
  position: relative;
  top: -5px;
}

#side .apply p.txt {
  padding: 0 0 0 10px;
  background: url(/common/apply/arrow.png) left 0.3em no-repeat;
}

#side .navi ul,
#side .transfer ul {
  margin-bottom: 0px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0px;
  padding: 0px;
}

#side .navi li,
#side .transfer li {
  border-bottom: 1px solid #ddd;
}

#side .transfer img.balloon,
#side .beginner img.balloon {
  position: relative;
  z-index: 2;
}

#side .transfer img.btn_transfer,
#side .beginner img.btn_beginner {
  position: relative;
  top: -5px;
  left: 0;
  margin-bottom: -5px;
  z-index: 1;
}

#side .navi p.head a {
  display: block;
  padding-left: 20px;
  height: 34px;
  background: url("/resource/images/icon_link_white.gif") no-repeat scroll 10px 50% #f4a21b;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  line-height: 34px;
}

#side .navi p.head {
  display: block;
  height: 34px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  line-height: 34px;
  background-color: #f4a21b;
}

#side .navi p.head a:hover {
  background-color: #fdba4c;
}

#side .navi ul li.rental a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  display: table-cell;
  padding: 5px 0px 5px 19px;
  width: 159px;
  background: url(/common/side/arrow_navi.png) 6px 48% no-repeat #fff;
  color: #444;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
}

*+html #side .navi ul li.rental a {
  padding-top: 7px;
}

#side .navi ul li.rental a:hover,
#side .navi ul li.rental a.current {
  background-color: #fdf1dc;
}

#side .navi span {
  display: block;
  color: #777;
  font-weight: normal;
  font-size: 11px;
}

#side .transfer p.head {
  position: relative;
  background: #777;
  width: 180px;
  background: url(/common/apply/hl.png) left top no-repeat;
  padding: 13px 5px 34px 5px;
  margin-bottom: -5px;
}

#side .transfer ul li a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  display: table-cell;
  padding: 8px 0px 8px 19px;
  width: 159px;
  background: url(/common/side/icon_link_small.gif) 6px 48% no-repeat #fff;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
}

*+html #side .transfer ul li a {
  padding-top: 7px;
}

#side .sidebox {
  background: #fff;
}

#side .sidebox dt {
  padding: 0 0 0 10px;
  min-height: 30px;
  background-color: #666;
  color: #fff;
  line-height: 30px;
  font-weight: bold;
}

#side .sidebox dd {
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}

#side .sidebox hr {
  border: none;
  border-top: 1px dashed #bebebe;
}

#side .sidebox em {
  color: #ff7800;
  font-style: normal;
}

#side .sidebox h3 {
  padding-left: 1em;
  text-indent: -1em;
}

.member {
  background: #fff;
}

section {
  position: relative;
}

h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

h2 a {
  background-position: 0 50%;
}

.hlbtn01 {
  position: absolute;
  top: -4px;
  left: 90px;
}

.hlbtn02 {
  position: absolute;
  top: -10px;
  right: 0px;
}

article .lead {
  margin-bottom: 10px;
  font-size: 14px;
}

article .new {
  padding-left: 45px;
  background: url(/common/new.png) no-repeat 0px 0.1em;
}

#sticky {
  margin-bottom: 10px;
  padding: 0px 8px 0px 8px;
  height: 35px;
  border: 1px solid #ffc4cf;
  background-color: #ffd8df;
  font-weight: bold;
  font-size: 14px;
  line-height: 35px;
}

#sticky li {
  display: inline;
  margin-right: 15px;
}

#sticky img {
  vertical-align: middle;
}

#function {
  width: 100%;
  border-collapse: collapse;
}

#function th {
  position: relative;
  padding: 10px;
  width: 150px;
  border: 1px solid #d4d4d4;
  background-color: #e2e2e2;
  text-align: left;
  font-size: 14px;
}

#function th figure {
  position: absolute;
}

#function th h4 {
  display: table-cell;
  padding-left: 59px;
  height: 50px;
  vertical-align: middle;
}

#function td {
  padding: 10px 0 0 10px;
  border: 1px solid #cbcbcb;
  background-color: #adadad;
}

#function dl {
  float: left;
  width: 132px;
  min-height: 45px;
  margin: 0 7px 10px 0;
  background: url(/common/function/btn.png) 0 0 no-repeat;
  color: #333;
  border-radius: 5px;
  box-shadow: 0px 2px 3px #666;
  behavior: url(/resource/css/PIE.htc);
  position: relative;
}

#function a:hover dl {
  background: url(/common/function/btn.png) -142px 0 no-repeat;
}

#function dl.ex {
  height: 100px;
  background: url(/common/function/exbtn.png) 0 0 no-repeat;
}

#function a:hover dl.ex {
  background: url(/common/function/exbtn.png) -142px 0 no-repeat;
}

#function dl.void {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: url(/common/function/btn_void.png) #bbb 0 0 no-repeat;
  color: #888;
}

#function dl.void dd {
  color: #888;
}

#function dl.void p {
  color: #888;
}

#function dt {
  margin-top: 16px;
  margin-left: 21px;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.2;
}

#function dd {
  margin-left: 22px;
  color: #666;
  font-size: 10px;
  font-family: Verdana,Helvetica,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
}

#function ul {
  float: left;
  margin: 0 10px 15px 0;
  min-height: 55px;
  width: 177px;
  border-radius: 5px;
  background: url(/common/function/btn_wide.png) 0 0 no-repeat;
  box-shadow: 0px 2px 3px #666;
  color: #333;
  behavior: url(/resource/css/PIE.htc);
  position: relative;
}

#function a:hover ul {
  opacity: 0.7;
}

#function ul li {
  margin: 0 0 0 23px;
  font-weight: bold;
  font-size: 16px;
  line-height: 55px;
}

#function ul li.duo {
  margin-top: 8px;
  line-height: 1.2;
}

#function ul li.try {
  font-size: 14px;
  line-height: 10px;
}

#function ul li.try p {
  margin: 0 !important;
  line-height: 10px !important;
}

#function ul.ex {
  padding-top: 7px;
  height: 118px;
  background: url(/common/function/exbtn_wide.png) 0 0 no-repeat;
}

#function ul.ex li {
  line-height: 1.2;
}

#function ul small {
  vertical-align: top;
  font-weight: normal;
  font-size: 8px;
}

article #feature {
  margin: 20px 0 0 0;
}

article #feature>li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 115px;
  min-height: 115px;
}

article #feature>li {
  float: left;
  width: 245px;
}

article #feature>li:nth-child(odd) {
  clear: left;
  margin-right: 20px;
}

article #feature>li figure {
  position: absolute;
  top: 0;
  left: 0;
}

article #feature>li h3 {
  margin: 0 0 4px 0;
}

article #feature>li h3 span {
  font-size: 10px;
}

article #feature>li p {
  margin-bottom: 10px;
  font-size: 13px;
}

aside.alert {
  padding: 20px;
  border: 1px dotted #ccc;
  background: url(/common/bg_vanilla.png);
}

aside.alert .attention {
  padding-top: 3px;
}

table {
  background-color: #fff;
}

table.data {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #fff;
}

table.data th {
  padding: 10px;
  width: 150px;
  border: 1px solid #ddd;
  background: url(/common/bg_vanilla.png);
  text-align: left;
  font-weight: normal;
}

table.data td {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff !important;
}

table.native {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

table.native caption {
  padding: 8px 10px;
  background-color: #f6a300;
  color: #fff;
  text-align: left;
  font-size: 18px;
}

table.native th {
  padding: 10px 5px 10px 10px;
  border: 1px solid #c1c1c1;
  text-align: left;
  font-weight: normal;
}

table.native td {
  padding: 10px 5px;
  border: 1px solid #c1c1c1;
  text-align: center;
  font-size: 12px;
}

table.native .hcell {
  border-top: none;
  background-color: #ffefd0;
  font-weight: bold;
  font-size: 13px;
}

table.native a:hover {
  text-decoration: underline;
}

table.native .gray {
  background: #f5f5f5;
}

table.general {
  width: 100%;
  border: 1px solid #d4d0d0;
  border-collapse: collapse;
  background-color: #fff;
}

table.general th {
  padding: 10px 5px;
  border: 1px solid #fde5bc;
  border-bottom: 1px solid #fde5bc;
  background-color: #fffdf5;
  color: #555;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}

table.general td {
  padding: 10px 5px;
  border: 1px solid #fde5bc;
  background: #fff;
  color: #555;
  text-align: center;
  font-size: 14px;
}

table.general thead th {
  font-size: 16px;
}

table.general tfoot th {
  padding: 10px 10px 10px 10px;
  width: 240px;
  vertical-align: top;
  text-align: left;
}

table.general tfoot th h4 {
  font-size: 16px;
}

table.general tfoot td {
  padding: 10px;
  vertical-align: top;
  text-align: left;
}

table.general tfoot td li {
  margin-bottom: 5px;
}

table.general a {
  font-weight: bold;
}

table.general a:hover {
  text-decoration: underline;
}

table.general em {
  margin-right: 0.1em;
  color: #f19a0b;
  font-style: normal;
  font-size: 26px;
}

table.general span {
  margin-right: 0.1em;
  color: #f19a0b;
}

table.general tfoot em {
  margin: 0 0.1em 0 0.1em;
  font-size: 20px;
}

table.general strong {
  margin-right: 0.1em;
  font-size: 24px;
}

table.general caption {
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}

table.general b {
  color: #ea2e59;
}

table.shelf {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #eb9b00;
  background-color: #fff;
}

table.shelf thead th {
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff6e7;
}

table.shelf thead td {
  padding: 10px;
  border: 1px solid #ddd;
}

table.shelf tbody th {
  padding: 10px;
  border: 1px solid #ddd;
}

table.shelf tbody td {
  padding: 10px;
  width: 180px;
  border: 1px solid #ddd;
}

table.shelf tbody td {
  padding: 10px;
  width: 25%;
  border: 1px solid #ddd;
}

table.shelf td em {
  color: #ea2e59;
  font: 24px bold normal;
}

#tab02 table.shelf td {
  width: 25%;
  text-align: center;
}

table.matrix {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

table.matrix th {
  padding: 10px;
}

table.matrix td {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}

table.matrix tbody th {
  width: 25%;
  border: 1px solid #ccc;
  border-top: none;
  text-align: left;
}

table.matrix thead th {
  border-top: none;
  background-color: #f6a300;
  color: #fff;
  font-size: 16px;
}

table.matrix a:hover {
  text-decoration: underline;
}

.check li {
  margin-bottom: 10px;
  padding: 8px 0 0 34px;
  background: url("/common/icon_check.png") no-repeat;
}

.box_domain {
  position: relative;
  padding: 15px;
  background-color: #fff2f2;
}

.box_domain h3 {
  margin-bottom: 0px;
  font-size: 18px;
}

.box_domain em {
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
}

.box_domain em span {
  margin-left: 15px;
  color: #e3294b;
  font-size: 36px;
}

.box_domain div {
  position: absolute;
  top: 15px;
  left: 295px;
  padding: 15px;
  width: 400px;
  background-color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.box_domain dl {
  position: absolute;
  top: 100px;
  left: 295px;
}

.box_domain dt {
  display: inline;
}

.box_domain dd {
  display: inline;
  margin-left: 10px;
}

.nowrap {
  white-space: nowrap;
}

ul.caption li {
  color: #999;
  font-size: 10px;
}

p.caption {
  padding-left: 1.5em;
  color: #999;
  text-indent: -1.5em;
  font-size: 10px;
}

.skrred {
  color: #ea2e59;
}

#hotline div {
  position: relative;
  padding: 15px;
  min-height: 145px;
  background: #fffbe4;
}

#hotline div figure {
  position: absolute;
  left: 10px;
  bottom: 0px;
}

#hotline div h3 {
  margin-left: 110px;
}

#hotline div ul {
  margin-left: 110px;
}

#hotline dl {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px 15px;
  border: 4px solid #bebebe;
  background: #fff;
}

#hotline dt {
  color: #0f77cb;
  font-weight: bold;
  font-size: 14px;
}

.subject {
  padding-left: 10px;
  border-left: 10px solid #f4a21b;
  font-weight: normal;
  font-size: 16px;
}

.ui-widget-content a {
  color: #568cc5;
}

#ui-tab {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

#ui-tab>ul {
  margin-left: 20px;
  border: none;
  background: none;
}

#ui-tab>ul>li {
  width: 345px;
  font-size: 18px;
  behavior: url("/css/PIE.htc");
  border: 1px solid #ccc;
  position: relative;
}

#ui-tab>ul>li>a {
  width: 297px;
  padding-left: 33px;
  background: url(/common/tab/arw_wait.png) no-repeat 10px 13px;
}

#ui-tab>ul>li.ui-tabs-selected>a {
  width: 297px;
  padding-left: 33px;
  background: url(/common/tab/arw_active.png) no-repeat 10px 13px;
}

#ui-tab>ul>li small {
  font-size: 12px;
}

#ui-tab #tab01,
#ui-tab #tab02 {
  padding: 18px;
  background: #fff;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 3px #bbb;
  behavior: url("/css/PIE.htc");
  position: relative;
}

.question {
  padding-left: 18px;
  background: url("/common/icon_question.png") no-repeat 0 2px;
}

.fontset {
  font-family: Verdana,Helvetica,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

dt,
strong,
em,
b,
#index #function ul li,
#side nav li {
  font-family: Verdana,Helvetica,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

article > #visual {
  position: relative;
  margin: 30px 0 15px 0;
  width: 740px;
  height: 265px;
  background: url("/common/visual/bg.png")no-repeat 0 0;
  z-index: 0;
  overflow: hidden;
}

#lite article > #visual,
#standard article > #visual,
#premium article > #visual {
  background: url("/common/visual/bg01.png");
}

#business article > #visual,
#pro article > #visual {
  background: url("/common/visual/bg02.png");
}

#managed article > #visual {
  background: url("/common/visual/bg05.png") no-repeat;
}

#mail article > #visual {
  background: url("/common/visual/bg04.png");
}

#casestudy article > #visual {
  background: none;
  height: 140px;
}

article > #visual hgroup {
  position: relative;
  padding: 12px 0 0 15px;
  z-index: 3;
}

#mail article > #visual hgroup {
  padding: 20px 0 0 15px;
}

#casestudy article > #visual hgroup {
  padding: 0;
}

article > #visual h1 {
  margin: 0 0 21px 0;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

article > #visual h1 span {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: normal;
}

#mail article > #visual h1 {
  margin: 0 0 28px 0;
}

#casestudy article > #visual h1,
#casestudy article > #visual span {
  color: #1a1a1a;
  font-size: 45px;
  margin: 0 0 10px -7px;
  line-height: 1;
}

#casestudy article > #visual span {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 5px 5px;
}

article > #visual h2 {
  margin: 0;
  padding: 0;
  background: none;
  font-size: 20px;
  color: #e3294b;
}

#lite article > #visual h2,
#standard article #visual h2,
#premium article #visual h2 {
  color: #ff8400;
}

#business article #visual h2,
#pro article #visual h2 {
  color: #ff7200;
}

#mail article #visual h2 {
  color: #e46c82;
}

#casestudy article > #visual h2 {
  font-size: 14px;
  line-height: 1.4;
  font-weight: normal;
  color: #4d4d4d;
}

article > #visual h3 {
  margin: 4px 0 0 0;
  color: #33200d;
  font-weight: normal;
  line-height: 1.4;
}

article > #visual dl {
  position: absolute;
  bottom: 30px;
  right: 15px;
  width: 362px;
  height: 78px;
  padding: 10px;
  background: url("/common/visual/sheet.png");
  border-radius: 5px;
  z-index: 2;
  behavior: url("/css/PIE.htc");
}

article > #visual dt:nth-of-type(1) {
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 16px;
}

article > #visual dt:nth-of-type(2) {
  position: absolute;
  top: 0px;
  left: 195px;
  font-size: 16px;
}

#standard article > #visual dt:nth-of-type(2) {
  left: 160px;
}

#mail article > #visual dt {
  top: 10px;
}

article > #visual #caption {
  position: absolute;
  top: 42px;
  left: 10px;
  color: #666;
  font-size: 11px;
}

article > #visual #start {
  position: absolute;
  bottom: 4px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
}

#mail article > #visual #start em {
  margin-left: 0.2em;
  font-size: 24px;
  line-height: 10px;
}

article > #visual #info {
  position: absolute;
  bottom: 7px;
  right: 10px;
  font-size: 14px;
}

article > #visual em {
  margin: 0 0.05em;
  color: #e3294b;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
}

article > #visual dl span {
  margin: 0 0.05em;
  color: #e3294b;
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
}

article > #visual div {
  position: absolute;
  bottom: 30px;
  left: 15px;
}

article > #visual p {
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 4;
}

article > #visual figure {
  position: absolute;
  bottom: 16px;
  right: 15px;
  z-index: 1;
}

#pro article > #visual figure {
  right: 58px;
}

#mail article > #visual figure {
  bottom: 108px;
  right: 30px;
  z-index: 5;
}

#casestudy article > #visual figure {
  right: 0;
  top: 0;
}

article > #visual p a.txtlink {
  background: url("/resource/images/icon_link_white.gif")no-repeat 0 0.37em;
  color: #fff;
}

article > #visual dl a.txtlink {
  background-position: 0 0.46em;
}

#managed #visual h1 {
  padding-left: 172px;
}

#managed #visual h2 {
  position: absolute;
  top: 80px;
  left: 340px;
  width: 420px;
  color: #fe7800;
  font-size: 18px;
}

#managed #visual h3 {
  margin-top: 38px;
}

#managed #visual h4 {
  position: absolute;
  top: 9px;
  left: 9px;
}

#managed #visual dl span {
  color: #fe7800;
}

#managed #visual dt {
  font-size: 14px;
}

#lite article > .balloon {
  position: absolute;
  left: 380px;
  top: -6px;
}

#standard article > .balloon {
  position: absolute;
  left: 410px;
  top: -6px;
}

#premium article > .balloon {
  position: absolute;
  left: 368px;
  top: -6px;
}

#business article > .balloon {
  position: absolute;
  left: 410px;
  top: -6px;
}

#pro article > .balloon {
  position: absolute;
  left: 348px;
  top: -6px;
}

article.effect img {
  border: 20px solid #fff;
  box-shadow: 0px 3px 5px rgba(200, 200, 200, 0.5);
  behavior: url("/css/PIE.htc");
}

article.shadow img {
  border-top: 20px solid #fff;
  border-bottom: 20px solid #fff;
  box-shadow: 0px 3px 5px rgba(200, 200, 200, 0.5);
  behavior: url("/css/PIE.htc");
}

#casestudy ul.cols-2 li,
#casestudy ul.cols-3 li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 356px;
  margin: 0 28px 28px 0;
}

#casestudy ul.cols-3 li {
  min-height: 210px;
}

#casestudy ul.cols-2 li h1,
#casestudy ul.cols-3 li h1,
#casestudy .lightbox-content h1 {
  margin: 8px 0 5px;
  line-height: 0.7;
  padding-left: 12px;
}

#casestudy ul.cols-2 li p,
#casestudy ul.cols-3 li p {
  padding-left: 12px;
}

#casestudy ul.cols-2 li h1 a,
#casestudy ul.cols-3 li h1 a,
#casestudy .lightbox-content h1 a {
  font-size: 14px;
  color: #1e1e1e;
  font-weight: bold;
}

#casestudy ul.cols-2 li p a,
#casestudy ul.cols-3 li p a,
#casestudy .lightbox-content p a {
  color: #808080;
}

#casestudy ul.cols-2 li h1 a:hover,
#casestudy ul.cols-3 li h1 a:hover,
#casestudy ul.cols-2 li p a:hover,
#casestudy ul.cols-3 li p a:hover,
#casestudy .lightbox-content h1 a:hover,
#casestudy .lightbox-content p a:hover {
  color: #568CC5;
  text-decoration: underline;
}

#casestudy ul.cols-3 li {
  width: 228px;
}

#casestudy ul.cols-2 li.even,
#casestudy ul.cols-3 li.third {
  margin-right: 0;
}

#casestudy ul.cols-2 li .thumb,
#casestudy ul.cols-3 li .thumb {
  padding: 5px;
  border: 1px solid #dfdfdf;
  background: #fff;
  overflow: hidden;
}

#casestudy ul.cols-2 li .thumb {
  width: 344px;
  height: 237px;
  overflow: hidden;
}

#casestudy ul.cols-2 li .thumb:hover,
#casestudy ul.cols-3 li .thumb:hover {
  cursor: pointer;
}

#casestudy ul.cols-2 li .thumb img,
#casestudy ul.cols-3 li .thumb img {
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

#casestudy .lightbox-wrapper {
  display: none;
}

#casestudy .lightbox-content {
  padding: 0 0 70px 0;
  width: 690px;
}

#casestudy .screenshot {
  width: 690px;
  overflow: hidden;
}

#casestudy .screenshot img {
  width: 100%;
  border: 1px solid #DFDFDF;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#casestudy .lightbox-content h1,
#casestudy .lightbox-content p {
  padding: 0 20px;
}

#casestudy .lightbox-content p.case-caption {
  margin-top: 10px;
}

#casestudy .trial-box {
  width: 740px;
  padding-top: 27px;
  height: 214px;
  background: url(../images/casestudy/bg_trial-box.jpg) no-repeat 0 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#casestudy .trial-box h1,
#casestudy .trial-box h2 {
  background: none;
  margin: 0;
}

#casestudy .trial-box h1,
#casestudy .trial-box p {
  width: 259px;
  height: 77px;
  float: left;
  background: url(../images/casestudy/img_30manken.png) no-repeat 0 0;
  text-indent: -9999px;
  margin: 0 12px 0 27px;
}

#casestudy .trial-box h2 {
  overflow: hidden;
  margin: 0;
  font-size: 19px;
  line-height: 24px;
  padding-right: 40px;
}

#casestudy .trial-box div {
  position: absolute;
  bottom: 30px;
  left: 190px;
}

#casestudy .trial-box p {
  margin: 0;
  width: 143px;
  height: 51px;
  background: url(../images/casestudy/img_imasugu.png) no-repeat 0 0;
  position: absolute;
  bottom: 50px;
  right: 30px;
}

#casestudy #webtan a {
  display: block;
  width: 740px;
  height: 132px;
  text-indent: -9999px;
  background: url(../images/casestudy/img_webtan.png) no-repeat 0 0;
}

#casestudy #webtan a:hover {
  background: url(../images/casestudy/img_webtan.png) no-repeat 0 -132px;
}

#casestudy #ask {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 740px;
  height: 151px;
  background: #f0ebdc;
  border: 1px solid #c7c3b8;
}

#casestudy #ask h1 {
  background: url(../images/casestudy/ask_h1.png) no-repeat 0 0;
  width: 445px;
  height: 55px;
  text-indent: -9999px;
  margin: 8px 0 0 75px;
}

#casestudy #ask div {
  width: 111px;
  height: 143px;
  position: absolute;
  bottom: 0;
  right: 10px;
}

#casestudy #ask ul {
  margin: 13px 0 0 36px;
}

#casestudy #ask li {
  float: left;
  padding: 0 0 0 12px;
}

#casestudy #ask li.first-child {
  border-right: 1px solid #c8c4b9;
  padding: 0 12px 0 0;
}

#casestudy #ask li p {
  width: 211px;
  height: 13px;
  background: url(../images/casestudy/img_net.png) no-repeat 0 0;
  text-indent: -9999px;
}

#casestudy #ask li a {
  display: block;
  width: 218px;
  height: 36px;
  text-indent: -9999px;
  background: url(../images/casestudy/btn_ask.png) no-repeat 0 0;
  margin: 8px 0 0 0;
}

#casestudy #ask li a:hover {
  background: url(../images/casestudy/btn_ask-on.png) no-repeat 0 0;
}

#payWrap {
  margin-bottom: 36px;
}

#payTbl {
  border-top: 1px solid #fde5bc;
  border-left: 1px solid #fde5bc;
  width: 100%;
}

#payTbl td {
  border-right: 1px solid #fde5bc;
  border-bottom: 1px solid #fde5bc;
  padding: 11px 11px;
}

#payTbl .t01 {
  font-size: 15px;
  text-align: center;
}

#payTbl .cell01 {
  font-size: 14px;
}

#payTbl .bg01 {
  background: #fffdf5;
}

#payTbl .tac {
  text-align: center;
}

#payTbl .txtlink {
  background: url(/resource/images/icon_link_small.gif) 0px 50% no-repeat;
  padding-left: 10px;
}

#payTbl .txtlink:hover {
  text-decoration: underline;
}

.applyLarge {
  padding: 16px;
  border: 5px solid #f4f4f4;
  background: #f9f9f9;
  text-align: center;
}

@charset "utf-8";

#index .taxBan {
  text-align: center;
  margin: -20px auto 50px auto;
  width: 960px;
}

#index .taxBan:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.clear {
  clear: both;
}

#index #upper {
  height: 35px;
  border-bottom: none;
}

#index #upper h1 {
  margin-top: 7px;
  color: #666;
  font-size: 14px;
  float: right;
}

#index #upper .ctrl_btn {
  float: right;
  margin-left: 12px;
  padding-top: 12px;
}

#index #upper .ctrl_btn:hover {
  opacity: 0.7;
}

#billboard {
  background: url(../images/index/hd_bg_01.jpg) repeat-x top;
  height: 220px;
}

.c_bill_wrap_01 {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/index/hd_bg_02.png) no-repeat right;
  height: 220px;
}

.c_bill_01 {
  float: left;
  width: 230px;
  background: url(../images/index/bg_hd_btn_01.jpg) no-repeat top left;
  height: 179px;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cdcdcd, direction=180, strength=3, enabled=true);
  box-shadow: 0px 3px 6px 0px #cdcdcd;
}

.c_bill_01 img.apply {
  padding-left: 20px;
  padding-top: 95px;
}

.c_bill_01 p {
  padding-left: 28px;
  padding-top: 6px;
}

.c_bill_01 p a {
  text-decoration: underline;
}

.c_bill_01 p a:hover {
  text-decoration: none;
}

.c_bill_02 {
  float: right;
  width: 700px;
  padding-top: 15px;
}

.c_bill_03 {
  margin-bottom: 0;
  padding-bottom: 7px;
}

.c_bill_04 {
  background: url(../images/index/hd_price_01.png) left top no-repeat;
  width: 668px;
  height: 75px;
}

.c_bill_05 {
  padding-left: 370px;
  padding-top: 20px;
}

.c_bill_05 a:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.c_bill_06 {
  margin-bottom: 9px;
}

.c_bill_news_01 {
  background: #eeeeee;
  border: 1px solid #e5e5e5;
}

.c_bill_news_02 {
  background: url(../images/index/hd_icon_new.gif) 6px 5px no-repeat;
  padding: 6px 12px 6px 64px;
}

.c_bill_news_03 {
  font-weight: bold !important;
}

#index #billboard .news03 {}

#c_plan_btn {
  margin: 0 auto;
  padding: 7px 0;
  width: 960px;
  text-align: right;
}

#c_plan_btn:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#c_plan {
  width: 960px;
  height: 432px;
  padding-bottom: 0px¥9;
  margin-left: auto;
  margin-right: auto;
  background: #e5e5e5;
  border-radius: 3px;
  margin-bottom: 20px;
}

#c_plan,
x:-moz-any-link,
x:default {
  padding-bottom: 2px;
}

#c_plan > div {
  padding: 7px;
}

#c_plan .plan01M {
  float: left;
  height: 417px;
}

#c_plan .plan02M {
  float: left;
  height: 417px;
}

#c_plan .plan03M {
  float: left;
  height: 417px;
}

#c_plan .plan04M {
  float: left;
  height: 417px;
}

#c_plan .plan05M {
  float: left;
  height: 417px;
}

#c_plan .plan01Y {
  float: left;
  height: 417px;
}

#c_plan .plan02Y {
  float: left;
  height: 417px;
}

#c_plan .plan03Y {
  float: left;
  height: 417px;
}

#c_plan .plan04Y {
  float: left;
  height: 417px;
}

#c_plan .plan05Y {
  float: left;
  height: 417px;
}

#c_plan .plan01M {
  background: url(../images/index/plan_01_bg_01.jpg) left top no-repeat,url(../images/index/plan_01_bg_03.jpg) left bottom no-repeat,url(../images/index/plan_01_bg_02.jpg) left repeat-y;
  width: 189px;
}

#c_plan .plan01Y {
  background: url(../images/index/plan_01_bg_01y.jpg) left top no-repeat,url(../images/index/plan_01_bg_03.jpg) left bottom no-repeat,url(../images/index/plan_01_bg_02.jpg) left repeat-y;
  width: 189px;
}

#c_plan .plan02M {
  background: url(../images/index/plan_02_bg_01.jpg) left top no-repeat,url(../images/index/plan_02_bg_03.jpg) left bottom no-repeat,url(../images/index/plan_02_bg_02.jpg) left repeat-y;
  width: 189px;
}

#c_plan .plan02Y {
  background: url(../images/index/plan_02_bg_01y.jpg) left top no-repeat,url(../images/index/plan_02_bg_03.jpg) left bottom no-repeat,url(../images/index/plan_02_bg_02.jpg) left repeat-y;
  width: 189px;
}

#c_plan .plan03M {
  background: url(../images/index/plan_03_bg_01.jpg) left top no-repeat,url(../images/index/plan_02_bg_03.jpg) left bottom no-repeat,url(../images/index/plan_02_bg_02.jpg) left repeat-y;
  width: 189px;
}

#c_plan .plan03Y {
  background: url(../images/index/plan_03_bg_01y.jpg) left top no-repeat,url(../images/index/plan_02_bg_03.jpg) left bottom no-repeat,url(../images/index/plan_02_bg_02.jpg) left repeat-y;
  width: 189px;
}

#c_plan .plan04M {
  background: url(../images/index/plan_04_bg_01.jpg) left top no-repeat,url(../images/index/plan_02_bg_03.jpg) left bottom no-repeat,url(../images/index/plan_02_bg_02.jpg) left repeat-y;
  width: 189px;
}

#c_plan .plan04Y {
  background: url(../images/index/plan_04_bg_01y.jpg) left top no-repeat,url(../images/index/plan_02_bg_03.jpg) left bottom no-repeat,url(../images/index/plan_02_bg_02.jpg) left repeat-y;
  width: 189px;
}

#c_plan .plan05M {
  background: url(../images/index/plan_05_bg_01.jpg) left top no-repeat,url(../images/index/plan_05_bg_03.jpg) left bottom no-repeat,url(../images/index/plan_05_bg_02.jpg) left repeat-y;
  width: 190px;
}

#c_plan .plan05Y {
  background: url(../images/index/plan_05_bg_01y.jpg) left top no-repeat,url(../images/index/plan_05_bg_03.jpg) left bottom no-repeat,url(../images/index/plan_05_bg_02.jpg) left repeat-y;
  width: 190px;
}

#c_plan .c_plan_btn {
  padding-top: 99px;
}

.c_plan_detail {
  padding: 19px;
}

.c_plan_detail .c_plan_capacity {
  border-bottom: 1px solid #dadada;
  margin-bottom: 7px;
}

.c_plan_detail .c_plan_capacity > div:nth-of-type(1) {
  font-size: 12px;
  float: left;
  padding-top: 10px;
}

.c_plan_detail .c_plan_capacity > div:nth-of-type(2) {
  float: right;
}

.c_plan_detail .c_plan_capacity > div:nth-of-type(2) span:nth-of-type(1) {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -2.5px;
}

.c_plan_detail .c_plan_capacity > div:nth-of-type(2) span:nth-of-type(2) {
  font-size: 12px;
}

.c_plan_detail .c_plan_price-m {
  border-bottom: 2px solid #fe8a00;
}

.c_plan_detail .c_plan_price-m > div:nth-of-type(1) {
  font-size: 12px;
  float: left;
  padding-top: 14px;
}

.c_plan_detail .c_plan_price-m > div:nth-of-type(2) {
  float: right;
}

.c_plan_detail .c_plan_price-m > div:nth-of-type(2) span:nth-of-type(1) {
  font-size: 32px;
  line-height: 1.2;
  color: #fe8a00;
  font-weight: bold;
  letter-spacing: -2.5px;
}

.c_plan_detail .c_plan_price-m > div:nth-of-type(2) span:nth-of-type(2) {
  font-size: 12px;
  color: #fe8a00;
}

.c_plan_detail .c_plan_price-ym {
  border-bottom: 2px solid #ff4c00;
}

.c_plan_detail .c_plan_price-ym > div:nth-of-type(1) {
  font-size: 12px;
  float: left;
  padding-top: 14px;
}

.c_plan_detail .c_plan_price-ym > div:nth-of-type(2) {
  float: right;
  color: #ff4c00;
}

.c_plan_detail .c_plan_price-ym > div:nth-of-type(2) .pYM01 {
  font-size: 12px;
}

.c_plan_detail .c_plan_price-ym > div:nth-of-type(2) .pYM02 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -2.5px;
}

.c_plan_detail .c_plan_price-ym > div:nth-of-type(2) .pYM03 {
  font-size: 12px;
}

.c_plan_detail .c_planLite-ym01 {
  border-bottom: 2px solid #fe8a00 !important;
}

.c_plan_detail .c_planLite-ym02 {
  color: #fe8a00 !important;
}

.c_plan_detail .c_plan_comment {
  padding-top: 7px;
  height: 50px;
}

.c_plan_detail .c_plan_list-btn {
  position: absolute;
  bottom: 40px;
  left: 19px;
}

.c_plan_detail .c_plan_list-btn a:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.c_plan_detail .c_plan_trial {
  position: absolute;
  bottom: 15px;
  left: 20px;
  background: url(../images/index/plan_icon_arrow.gif)14px 7pxno-repeat;
  padding-left: 20px;
  text-decoration: underline;
}

.c_plan_detail .c_plan_trial:hover {
  text-decoration: none;
}

#c_plan .c_plan_no1_parent {
  position: relative;
}

#c_plan .c_plan_no1 {
  position: absolute;
  left: 98px;
  top: -3px;
}

#c_mdm_wrap {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#c_md {
  float: left;
  width: 470px;
  height: 355px;
  background: #e5e5e5;
  border-radius: 3px;
}

#c_md > section {
  border: solid 1px #dadada;
  border-radius: 3px;
  background: #fff;
  margin: 7px;
  height: 339px;
}

#c_mail {
  float: left;
  width: 228px;
  background: #fff;
  border-right: 1px solid #dadada;
  height: 100%;
}

#c_mail h1 {
  font-size: 18px;
  line-height: 1.2;
  background: url(../images/index/mail_icon_01.jpg) 11px 15px no-repeat;
  padding: 18px 0px 12px 80px;
  border-bottom: 1px solid #dadada;
  margin: 0;
}

#c_mail #c_mail_pad {
  padding: 14px 18px 14px 18px;
}

#c_mail .c_mail_price-ym {
  border-bottom: 2px solid #fe8a00;
}

#c_mail .c_mail_price-ym > div:nth-of-type(1) {
  font-size: 12px;
  float: left;
  padding-top: 14px;
}

#c_mail .c_mail_price-ym > div:nth-of-type(2) {
  float: right;
}

#c_mail .c_mail_price-ym > div:nth-of-type(2) span:nth-of-type(1) {
  font-size: 12px;
  color: #fe8a00;
}

#c_mail .c_mail_price-ym > div:nth-of-type(2) span:nth-of-type(2) {
  font-size: 33px;
  line-height: 1.2;
  color: #fe8a00;
  font-weight: bold;
  letter-spacing: -2px;
}

#c_mail .c_mail_price-ym > div:nth-of-type(2) span:nth-of-type(3) {
  font-size: 12px;
  color: #fe8a00;
}

#c_mail .c_mail_price-y {
  padding-top: 4px;
}

#c_mail .c_mail_price-y > div:nth-of-type(1) {
  float: left;
}

#c_mail .c_mail_price-y > div:nth-of-type(2) {
  float: right;
}

#c_mail .c_mail_price-y > div:nth-of-type(2) span:nth-of-type(1) {
  font-size: 12px;
  color: #fe8a00;
}

#c_mail .c_mail_price-y > div:nth-of-type(2) span:nth-of-type(2) {
  font-size: 33px;
  line-height: 1.2;
  color: #fe8a00;
  font-weight: bold;
  letter-spacing: -2px;
}

#c_mail .c_mail_price-y > div:nth-of-type(2) span:nth-of-type(3) {
  font-size: 12px;
  color: #fe8a00;
}

#c_mail .c_mail_comment {
  padding: 15px 0px 0px 0px;
  height: 93px;
}

#c_mail .c_mail_comment a {
  text-decoration: underline;
}

#c_mail .c_mail_comment a:hover {
  text-decoration: none;
}

#c_mail .c_mail_to-detail {
  text-align: center;
  padding-bottom: 10px;
}

#c_mail .c_mail_to-detail a:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#c_mail .c_mail_trial {
  background: url(../images/index/plan_icon_arrow.gif) 34px 7px no-repeat;
  padding-left: 40px;
  text-decoration: underline;
}

#c_mail .c_mail_trial:hover {
  text-decoration: none;
}

#c_domain {
  float: right;
  width: 225px;
  background: #fff;
}

#c_domain h1 {
  font-size: 18px;
  line-height: 1.2;
  background: url(../images/index/domain_icon_01.jpg) 16px 20px no-repeat;
  padding: 18px 0px 12px 80px;
  border-bottom: 1px solid #dadada;
  margin: 0;
}

#c_domain #c_domain_pad {
  padding: 14px 18px 14px 18px;
}

#c_domain .c_domain_price-ym {
  border-bottom: 2px solid #fe8a00;
}

#c_domain .c_domain_price-ym > div:nth-of-type(1) {
  font-size: 12px;
  float: left;
  padding-top: 14px;
}

#c_domain .c_domain_price-ym > div:nth-of-type(2) {
  float: right;
}

#c_domain .c_domain_price-ym > div:nth-of-type(2) span:nth-of-type(1) {
  font-size: 12px;
  color: #fe8a00;
}

#c_domain .c_domain_price-ym > div:nth-of-type(2) span:nth-of-type(2) {
  font-size: 33px;
  line-height: 1.2;
  color: #fe8a00;
  font-weight: bold;
  letter-spacing: -2px;
}

#c_domain .c_domain_price-ym > div:nth-of-type(2) span:nth-of-type(3) {
  font-size: 12px;
  color: #fe8a00;
}

#c_domain .c_domain_comment {
  padding: 33px 0px 0px 0px;
  height: 93px;
}

#c_domain .c_domain_comment a {
  text-decoration: underline;
}

#c_domain .c_domain_comment a:hover {
  text-decoration: none;
}

#c_domain .c_domain_to-detail {
  text-align: center;
}

#c_domain .c_domain_to-detail a:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#c_managed {
  float: right;
  width: 470px;
  height: 355px;
  border-radius: 3px;
  background: #e5e5e5;
}

#c_managed > section {
  position: relative;
  margin: 7px;
  height: 339px;
  border: solid 1px #dadada;
  border-radius: 3px;
  background: #fffeee;
}

#c_managed h1 {
  margin: 0;
}

#c_managed h1 img:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#c_managed div {
  position: absolute;
  top: 90px;
  left: 265px;
  width: 171px;
  height: 74px;
  background: url(/images/index/managed_elm02.png) no-repeat bottom;
  color: #fe7800;
  text-align: right;
  font-weight: bold;
}

#c_managed div span {
  font-size: 30px;
}

#c_managed small {
  display: block;
  position: absolute;
  top: 135px;
  right: 18px;
  font-size: 10px;
  font-weight: bold;
}

#c_managed figure:first-of-type {
  position: absolute;
  left: 18px;
  top: 86px;
}

#c_managed figure:last-of-type {
  position: absolute;
  left: 18px;
  top: 172px;
}

#c_managed p:first-of-type {
  position: absolute;
  left: 18px;
  top: 247px;
  background: url(/images/index/managed_icon_new.png) no-repeat;
  padding-left: 55px;
}

#c_managed p:nth-of-type(2) {
  position: absolute;
  left: 18px;
  top: 282px;
  font-size: 14px;
  text-indent: -8px;
  padding-left: 8px;
}

#c_managed p:nth-of-type(2) a {
  text-decoration: underline;
}

#c_managed p:nth-of-type(2) a:hover {
  text-decoration: none;
}

#c_managed p:nth-of-type(3) {
  position: absolute;
  left: 200px;
  top: 282px;
}

#c_managed p:nth-of-type(3) a:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#c_managed .cmanaged_price .cmanaged_price_ic > div:nth-of-type(2) span:nth-of-type(2) {
  color: #fe8a00;
  font-weight: bold;
}

#c_managed .cmanaged_price .cmanaged_price_m > div:nth-of-type(2) span:nth-of-type(1) {
  font-size: 33px;
  line-height: 1.2;
  color: #fe8a00;
  font-weight: bold;
  letter-spacing: -2px;
}

#c_managed .cmanaged_price .cmanaged_price_m > div:nth-of-type(2) span:nth-of-type(2) {
  color: #fe8a00;
  font-weight: bold;
}

#fcWrap {
  clear: both;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  margin-bottom: 40px;
}

#first {
  clear: both;
  float: left;
  width: 466px;
  border: 2px solid #dadada;
  background: #fff;
}

#first h1 {
  border-bottom: 1px solid #dadada;
  padding: 9px;
  margin: 0 0 14px 0;
}

#first .link {
  float: left;
  width: 290px;
  padding-right: 10px;
}

#first .link li {
  background: url(../images/index/plan_icon_arrow.gif) 12px 7px no-repeat;
  padding-left: 21px;
  text-decoration: underline;
  padding-bottom: 5px;
}

#first .link li:hover {
  text-decoration: none;
}

#first .toDetail {
  float: left;
  height: 56px;
}

#first .toDetail:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#change {
  float: right;
  width: 466px;
  border: 2px solid #dadada;
  background: #fff;
}

#change h1 {
  border-bottom: 1px solid #dadada;
  padding: 9px;
  margin: 0 0 14px 0;
}

#change .link {
  float: left;
  width: 290px;
  padding-right: 10px;
}

#change .link li {
  background: url(../images/index/plan_icon_arrow.gif) 12px 7px no-repeat;
  padding-left: 21px;
  text-decoration: underline;
  padding-bottom: 5px;
}

#change .link .blank {
  background: url(/resource/images/icon_outlink-9x9.gif) right center no-repeat;
  padding-right: 14px;
}

#change .link li:hover {
  text-decoration: none;
}

#change .toDetail {
  float: left;
  height: 56px;
}

#change .toDetail:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.trialWrap {
  clear: both;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.trial {
  background: #f9f9f9;
  border: 2px solid #dadada;
  text-align: center;
  padding: 21px 0;
}

.trial .staff {
  position: absolute;
  right: 95px;
  bottom: 0px;
  z-index: 999;
}

#index #backup h2 {
  background: url(/resource/images/bg_h2_short.gif) no-repeat left bottom;
}

#index #backup li {
  width: 300px;
  background: url(../images/index/icon_point1.png) no-repeat 0 10px;
  float: left;
  position: relative;
  margin-right: 30px;
}

#index #backup li.point2 {
  background: url(../images/index/icon_point2.png) no-repeat 0 10px;
}

#index #backup li.point3 {
  background: url(../images/index/icon_point3.png) no-repeat 0 10px;
  margin-right: 0;
}

#index #backup li h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  padding: 0 0 0 130px;
  min-height: 75px;
}

#index #backup li.point1 h5 {
  line-height: 20px;
}

#index #backup li.point2 h5 {
  padding-left: 100px;
}

#index #backup li.point3 h5 {
  padding-left: 64px;
}

#index #backup li h5 strong {
  font-size: 34px;
  color: #ef4d1c;
}

#index #backup li.point1 h5 strong {
  font-size: 24px;
}

#index #backup li h5 span {
  font-weight: normal;
  display: block;
  font-size: 10px;
  margin-top: -5px;
}

#index #backup li figure {
  position: absolute;
  top: 0;
  left: 58px;
}

#index #backup li.point2 figure {
  top: 5px;
  left: 52px;
}

#index #backup div {
  text-align: center;
}

#safety {
  clear: both;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#safety .t01 {
  font-size: 24px;
  color: #fe7800;
  line-height: 1.4;
}

#safety .p01 {
  padding-bottom: 30px;
}

#safety #safeList strong {
  color: #fe7800 !important;
}

#safety .toDetail:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#casestudyWrap {
  clear: both;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

#casestudyWrap h2 {
  width: 100%;
}

#index #casestudy h2 {
  background: url(/resource/images/bg_h2_short.gif) no-repeat left bottom;
}

#index #casestudy .bx-wrapper {
  width: 800px;
  margin: 0 auto 20px;
  position: relative;
}

#index #casestudy .bx-prev,
#index #casestudy .bx-next {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50px;
  left: -55px;
  text-indent: -9999px;
  background: url("/images/index/icon_bxslider_prev.png") no-repeat 0 0;
}

#index #casestudy .bx-next {
  left: 820px;
  background: url("/images/index/icon_bxslider_next.png") no-repeat 0 0;
}

#index #casestudy .bx-pager {
  display: none;
}

#index #casestudy span {
  display: block;
  text-align: center;
}

#index .lightbox-content h1 {
  margin: 8px 0 5px;
  line-height: 0.7;
  padding-left: 12px;
}

#index .lightbox-content h1 a {
  font-size: 14px;
  color: #1e1e1e;
  font-weight: bold;
}

#index .lightbox-content p a {
  color: #808080;
}

#index .lightbox-content h1 a:hover,
#index .lightbox-content p a:hover {
  color: #568CC5;
  text-decoration: underline;
}

#index .lightbox-content h1,
#index .lightbox-content p {
  padding: 0 20px;
}

#index .lightbox-content p.case-caption {
  margin-top: 10px;
  padding-bottom: 20px;
}

#casestudy .toDetail {
  text-align: center;
}

#casestudy .toDetail a:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#index #function {
  width: 960px;
}

#function .tooltip div:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#function .box2w {
  float: left;
  width: 226px;
  height: 81px;
  border: 1px solid #acacac;
  background: url(/images/index/icon_function_special_trial.png) 11px 9px no-repeat;
  margin-bottom: 8px;
  margin-right: 16px;
}

#function .box2w span {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  display: block;
  padding-left: 82px;
  padding-top: 19px;
}

#function .boxWp {
  float: left;
  width: 226px;
  height: 81px;
  border: 1px solid #acacac;
  background: url(/images/index/icon_function_install_wp.png) 11px 9px no-repeat;
  margin-bottom: 8px;
  margin-right: 16px;
}

#function .boxWp span {
  font-size: 13px;
  font-weight: bold;
  color: #000;
  line-height: 1.1;
  display: block;
  padding-left: 82px;
  padding-top: 7px;
}

#function .boxWp small {
  display: block;
  color: #000;
  padding-left: 82px;
}

#function .boxSsl {
  float: left;
  width: 226px;
  height: 81px;
  border: 1px solid #acacac;
  background: url(/images/index/icon_function_ssl_own.png) 11px 9px no-repeat;
  margin-bottom: 8px;
  margin-right: 16px;
}

#function .boxSsl span {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  display: block;
  padding-left: 82px;
  padding-top: 19px;
}

#function .boxSsl sup {
  font-size: 9px;
  font-weight: normal;
  color: #000;
}

#function .boxPhp {
  float: left;
  width: 226px;
  height: 81px;
  border: 1px solid #acacac;
  background: url(/images/index/icon_function_php.png) 11px 9px no-repeat;
  margin-bottom: 8px;
}

#function .boxPhp span {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  display: block;
  padding-left: 82px;
  padding-top: 32px;
}

#function .boxDmain {
  float: left;
  width: 226px;
  height: 81px;
  border: 1px solid #acacac;
  background: url(/images/index/icon_function_domain_multi.png) 11px 9px no-repeat;
  margin-bottom: 8px;
  margin-right: 16px;
}

#function .boxDmain span {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  display: block;
  padding-left: 82px;
  padding-top: 19px;
}

#function .boxSslshare {
  float: left;
  width: 226px;
  height: 81px;
  border: 1px solid #acacac;
  background: url(/images/index/icon_function_ssl_share.png) 11px 9px no-repeat;
  margin-bottom: 8px;
  margin-right: 16px;
}

#function .boxSslshare span {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  display: block;
  padding-left: 82px;
  padding-top: 22px;
}

#function .boxRaid {
  float: left;
  width: 226px;
  height: 81px;
  border: 1px solid #acacac;
  background: url(/images/index/icon_function_raid.png) 11px 9px no-repeat;
  margin-bottom: 8px;
  margin-right: 16px;
}

#function .boxRaid span {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  display: block;
  padding-left: 82px;
  padding-top: 22px;
}

#function .boxDomainoriginal {
  float: left;
  width: 226px;
  height: 81px;
  border: 1px solid #acacac;
  background: url(/images/index/icon_function_domain_original.png) 11px 9px no-repeat;
  margin-bottom: 8px;
}

#function .boxDomainoriginal span {
  font-size: 13px;
  font-weight: bold;
  color: #000;
  display: block;
  padding-left: 82px;
  padding-top: 22px;
}

#function .boxMysql {
  float: left;
  width: 226px;
  height: 81px;
  border: 1px solid #acacac;
  background: url(/images/index/icon_function_db_mysql.png) 11px 9px no-repeat;
  margin-bottom: 8px;
  margin-right: 16px;
}

#function .boxMysql span {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  display: block;
  padding-left: 82px;
  padding-top: 19px;
}

#function .boxMysql sup {
  font-size: 9px;
  font-weight: normal;
  color: #000;
}

#function .boxMaillist {
  float: left;
  width: 226px;
  height: 81px;
  border: 1px solid #acacac;
  background: url(/images/index/icon_function_mail_ml.png) 11px 9px no-repeat;
  margin-bottom: 8px;
  margin-right: 16px;
}

#function .boxMaillist span {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  display: block;
  padding-left: 82px;
  padding-top: 32px;
}

#function .boxMaillist sup {
  font-size: 9px;
  font-weight: normal;
  color: #000;
}

#function .boxMailvirus {
  float: left;
  width: 226px;
  height: 81px;
  border: 1px solid #acacac;
  background: url(/images/index/icon_function_mail_virus.png) 11px 9px no-repeat;
  margin-bottom: 8px;
}

#function .boxMailvirus span {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  display: block;
  padding-left: 82px;
  padding-top: 22px;
}

#index aside .member {
  margin-top: 0;
  width: 180px;
}

#index .tooltipContent {
  width: 240px;
}

#index .tooltipContent .inner {
  position: relative;
  padding: 0 2px 0 0;
  border: 0;
  border-bottom: none;
  background: #808080;
}

#index .tooltipContent .inner .close {
  position: absolute;
  top: -12px;
  right: -10px;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  background: url(/resource/js/tooltip_close_index.png) 0 0 no-repeat;
  _background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/resource/js/tooltip_close_index.png", sizingMethod="image");
  cursor: pointer;
}

#index .tooltipContent .inner .content {
  color: #fff;
  font-weight: bold;
  padding: 16px 16px 5px;
  background: #f09324;
}

#index .tooltipContent .footer {
  width: 240px;
  height: 23px;
  background: url(/resource/js/tooltip_bg_index.png) 0 bottom no-repeat;
  _background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/resource/js/tooltip_bg_index.png", sizingMethod="image");
}

.jquery-slider {
  overflow: hidden;
  position: relative;
}

.jquery-slider-element {
  overflow: hidden;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.jquery-slider-control {
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  border: 1px solid #666;
  background: #fff;
  opacity: 0.33;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: #666 0 0 2px;
  text-shadow: #fff 0 0 1px;
}

.jquery-slider-control:hover {
  opacity: 1;
}

.jquery-slider-control-prev {
  left: 5px;
  top: 5px;
}

.jquery-slider-control-next {
  right: 5px;
  top: 5px;
}

.jquery-slider-pages {
  overflow: visible;
  position: absolute;
  left: 5px;
  bottom: 5px;
  height: 20px;
  right: 5px;
}

.jquery-slider-page {
  overflow: hidden;
  position: relative;
  display: block;
  float: right;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  background: #999;
  cursor: pointer;
  opacity: 0.33;
  margin: 3px;
  border-radius: 6px;
  box-shadow: #333 0 0 2px;
}

.jquery-slider-page:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}

.jquery-slider-page-current {
  opacity: 1;
}

#viewport {
  width: 946px;
  height: 422px;
}

#box {
  width: 946px;
  height: 422px;
}

#box,
.slide_01 {
  width: 946px;
  height: 422px;
}

#box,
.slide_02 {
  width: 946px;
  height: 422px;
}

#viewport {
  overflow: hidden;
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none;
}

#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url('fancybox.png');
}

#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none;
}

#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none;
}

#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none;
}

#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}

#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101;
}

#fancybox-close {
  position: absolute;
  bottom: 10px;
  right: 5px;
  width: 80px;
  height: 20px;
  background: transparent url('icon_close.gif') 0px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none;
}

#fancybox-close:hover {
  background: transparent url('icon_close.gif') 0px -20px;
}

#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0;
}

#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
}

#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

#fancybox-left,
#fancybox-right {
  position: absolute;
  top: 0px;
  height: 75%;
  width: 20%;
  cursor: pointer;
  outline: none;
  background: transparent url('blank.gif');
  z-index: 1102;
  display: none;
}

#fancybox-left {
  left: 0px;
}

#fancybox-right {
  right: 0px;
}

#fancybox-left-ico,
#fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  width: 40px;
  height: 40px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block;
}

#fancybox-left-ico {
  background-image: url('icon-case-prev.png');
  background-position: 0 0;
}

#fancybox-right-ico {
  background-image: url('icon-case-next.png');
  background-position: 0 0;
}

#fancybox-left:hover,
#fancybox-right:hover {
  visibility: visible;
}

#fancybox-left:hover span {
  left: 0;
}

#fancybox-right:hover span {
  left: auto;
  right: 0;
}

.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001;
  display: none;
}

#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url('fancybox-x.png');
}

#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url('fancybox.png');
  background-position: -40px -162px;
}

#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url('fancybox-y.png');
  background-position: -20px 0px;
}

#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url('fancybox.png');
  background-position: -40px -182px;
}

#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url('fancybox-x.png');
  background-position: 0px -20px;
}

#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url('fancybox.png');
  background-position: -40px -142px;
}

#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url('fancybox-y.png');
}

#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url('fancybox.png');
  background-position: -40px -122px;
}

#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102;
}

.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative;
}

.fancybox-title-outside {
  padding-top: 10px;
  color: #fff;
}

.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left;
}

#fancybox-title-over {
  padding: 10px;
  background-image: url('fancy_title_over.png');
  display: block;
}

.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px;
}

#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto;
}

#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap;
}

#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url('fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
  color: #FFF;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url('fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url('fancybox.png') -55px -90px no-repeat;
}

.fancybox-ie6 #fancybox-close {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-left-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-right-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-over {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale');
  zoom: 1;
}

.fancybox-ie6 #fancybox-title-float-left {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-float-main {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-float-right {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-bg-w,
.fancybox-ie6 #fancybox-bg-e,
.fancybox-ie6 #fancybox-left,
.fancybox-ie6 #fancybox-right,
#fancybox-hide-sel-frame {
  height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
  position: absolute;
  margin-top: 0;
  top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale');
}

.fancybox-ie .fancybox-bg {
  background: transparent !important;
}

.fancybox-ie #fancybox-bg-n {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-ne {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-e {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-se {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-s {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-sw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-w {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-nw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale');
}