body {
  font: normal 80% sans-serif;
}

a {
  color: #115da9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font: normal 200% sans-serif;
  margin-top: 0;
}

h1#heading {
  font: normal 200%/80% sans-serif;
  color: #115da9;
  padding: 20px 20px 40px 90px;
  margin: 0;
}

h1#heading span#desc {
  font: normal 70% sans-serif;
  color: #555555;
}

h2 {
  font: normal 160% sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  font: bold 120% sans-serif;
  margin: 0;
  padding: 0;
}

div#wrapper {
  position: relative;
  width: 966px;
  margin: 0 auto;
}

div#borderline {
  position: relative;
  float: left;
  padding: 20px;
  border: 1px solid #4c7fb6;
  overflow: auto;
}

div#main {
  position: relative;
  float: left;
  width: 696px;
  background-color: #eaeaea;
  overflow: auto;
  margin-bottom: 2em;
  margin-right: 10px;
}

div#promo-main {
  width: 696px;
  position: relative;
  float: left;
  padding: 10px 0;
}

div#promo-main img {
  display: block;
  position: relative;
  margin: 0 auto;
  border: 1px solid #b8bdc0;
}

div#promo-main {
  width: 696px;
  position: relative;
  float: left;
  overflow: auto;
}

div#promo-others {
  float: left;
  padding-bottom: 2em;
}

div#promo-others ul {
  list-style: none;
  padding: 0 0 0 2px;
  margin: 0;
}

div#promo-others ul li {
  position: relative;
  float: left;
  padding: 0 0 0 8px;
  margin: 0 0 4px 0;
}

div#promo-others img {
  position: relative;
  margin: 0 auto;
  border: 1px solid #b8bdc0;
}

div#newsblock {
  margin-bottom: 2em;
}

div#newsblock h2 {
  position: relative;
  font: bold 100% sans-serif;
  color: #444444;
  padding: 0 0 0.2em 18px;
  margin: 0 0 1em 0;
  border-bottom: 1px solid #ced1d6;
  background: #ffffff url(images/news.gif) left 35% no-repeat;
}

div#newsblock h3 {
  font: bold 100% sans-serif;
  margin: 1em 0 0.3em 0;
  padding: 0;
}

div#newsblock p {
  margin: 0;
  padding: 0;
}

div#newsblock p.date {
  font-size: 90%;
  color: #666666;
  margin-bottom: 0.5em;
}

div#container-grey {
  position: relative;
  overflow: auto;
  float: left;
  background-color: #eaeaea;
  padding: 10px;
}

div#content {
  position: relative;
  float: left;
  width: 654px;
  background-color: #ffffff;
  padding: 10px;
  margin-right: 10px;
  overflow: auto;
}

div.post {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eaebed;
}

div.post p {
  margin: 1em 0 0 0;
}

div.post p.postdate {
  margin-top: 0.2em;
  color: #666666;
}

ul.arrows {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.arrows li {
  position: relative;
  width: 33%;
  margin: 1em 0;
  padding: 0;
}

ul.arrows li.left {
  text-align: left;
  float: left;
}

ul.arrows li.right {
  text-align: right;
  float: right;
}

ul.arrows li.left a {
  background: #ffffff url(images/arrow-left.gif) left 50% no-repeat;
  padding-left: 12px;
}

ul.arrows li.right a {
  background: #ffffff url(images/arrow-right.gif) right 50% no-repeat;
  padding-right: 12px;
}

div#sidebar-home {
  position: relative;
  float: left;
  width: 208px;
}

div#sidebar {
  position: relative;
  float: left;
  width: 218px;
}

div#sidebar ul#projects {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

div#sidebar ul#projects li {
  position: relative;
  margin: 0 0 1em 0;
  padding: 0;
}

div#sidebar ul#projects li img {
  position: relative;
  padding: 0;
  margin: 0 auto;
  border: 1px solid #b8bdc0;
}

div#footer {
  position: relative;
  clear: left;
}

div#footer ul#nav {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  float: right;
}

div#footer ul#nav li {
  display: inline;
  padding: 0 20px;
}

p#copy {
  padding: 10px 20px;
  margin: 0;
}

table#wp-calendar {
  width: 100%;
}