body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: arial, verdana, sans-serif;
  font-size: x-small;
}

img {
  border: 0;
}

input {
  background: #FFFFFF;
  color: #000000;
}

#app {
  margin: 0 auto;
  padding: 0;
  background-color: #FFFFFF;
  border: 0;
  width: 980px;
  overflow: hidden;
}

#footer {
  margin: 0;
  padding: 0;
  clear: both;
  overflow: hidden;
}

.offeringsTop {
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
}

.offeringsTop a {
  margin: 0;
  padding: 0;
  color: #1122CC;
  text-decoration: none;
  font-family: arial,verdana,sans-serif;
  font-size: 12px;
}

.offeringsTop a:hover {
  text-decoration: underline;
}

.offeringsTop .offer1,
.offeringsTop .offer2,
.offeringsTop .offer3,
.offeringsTop .offer4 {
  display: inline-block;
  vertical-align: top;
  height: 125px;
}

.offeringsTop .offer1 {
  margin: 0;
  padding: 0 20px 0 0;
  border-right: 1px dotted #999999;
}

.offer1 .featImage_1 {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.offer1 .featDescr {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  color: #656565;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.offeringsTop .offer2 {
  margin: 0;
  padding: 0 20px;
  border-right: 1px dotted #999999;
}

.offer2 .featImage_2 {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.offer2 .featDescr {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  color: #656565;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.offeringsTop .offer3 {
  margin: 0;
  padding: 0 20px 0 15px;
  border-right: 1px dotted #999999;
}

.offer3 .featImage_3 {
  margin: 0;
  padding: 0;
  float: left;
}

.offer3 .featDescr {
  margin: 0;
  padding: 0;
  display: block;
  vertical-align: top;
  color: #656565;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.offeringsTop .offer4 {
  margin: 0;
  padding: 0 0 0 20px;
}

.offer4 .featImage_4 {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.offer4 .featDescr {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  color: #656565;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.offer1 .featTitle,
.offer2 .featTitle,
.offer4 .featTitle {
  margin: 0 0 3px 0;
  padding: 0;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.offer3 .featTitle {
  margin: 0 0 3px 0;
  padding: 0;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}

.offeringsBottom {
  margin: 0 0 40px 0;
  padding: 0;
  display: block;
}

.offeringsBottom a {
  color: #1122CC;
  text-decoration: none;
  font-size: 12px;
}

.offeringsBottom a:hover {
  text-decoration: underline;
}

.offeringsBottom .offer5,
.offeringsBottom .offer6,
.offeringsBottom .offer7 {
  display: inline-block;
  vertical-align: top;
  height: 80px;
}

.offeringsBottom .offer5 {
  margin: 0;
  padding: 0;
  width: 315px;
  border-right: 1px dotted #999999;
}

.offer5 .facebook {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.offer5 .twitter {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 160px;
}

.facebook .fbLogo {
  margin: 0 5px 0 0;
  padding: 0;
  width: 33px;
  display: inline-block;
}

.facebook .fbLogo img {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 3px;
  border: 0;
}

.facebook .fbDescr {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.twitter .twLogo {
  margin: 0 5px 0 0;
  padding: 0;
  width: 33px;
  display: inline-block;
}

.twitter .twDescr {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.twitter .twLogo img {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 3px;
  border: 0;
}

.offeringsBottom .offer6 {
  margin: 0;
  padding: 0 0 0 15px;
  width: 240px;
  border-right: 1px dotted #999999;
}

.offer6 .bookstoreDescr {
  margin: 0;
  padding: 0;
  color: #656565;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.offeringsBottom .offer7 {
  margin: 0;
  padding: 0 0 0 15px;
}

.offer7 .dictURLs_1 {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 225px;
  vertical-align: top;
}

.offer7 .dictURLs_2 {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.offer7 .dictURLs_3 {
  margin: 0;
  padding: 0;
  display: block;
  vertical-align: top;
}

.offer7 .dictURLs_1 a,
.offer7 .dictURLs_2 a,
.offer7 .dictURLs_3 a {
  display: block;
  line-height: 20px;
}

.offer5 .featTitle,
.offer6 .featTitle,
.offer7 .featTitle {
  margin: 0 0 3px 0;
  padding: 0;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#footer div.footer-advert {
  margin: 0 0 36px 0;
  padding: 0;
  text-align: center;
}

#header {
  height: 90px;
  margin-left: 184px;
}

#header div.header-advert {
  text-align: left;
}

#right-column div.bottom-right-advert {
  text-align: center;
}

#right-column div.ask-the-editors {
  padding: 0;
  margin: 0;
}

#right-column div.ask-the-editors img {
  display: block;
}

#right-column div.right-advert {
  margin: 0;
  padding: 0;
  text-align: center;
}

#left-column div.left-advert {
  margin: 15px 0 0 0;
  padding: 0;
  text-align: left;
}

#content {
  font-size: 10pt;
  margin: 0 335px 0 0;
  padding: 0;
}

#middle {
  float: left;
  width: 100%;
  zoom: 1;
}

#left-column {
  float: left;
  margin: 0;
  padding: 198px 0 0 0;
  width: 163px;
}

#right-column {
  float: right;
  margin: 0;
  padding: 17px 0 0 0;
  width: 321px;
}

#left-column div.top-ten-lists {
  margin: 0;
  padding: 0;
  text-align: left;
}

#right-column div.top-ten-lists {
  text-align: center;
}

#right-column div.search-trends {
  text-align: center;
}

#left-comlumn div.link-to-this-page {
  clear: left;
}

#left-comlumn div.link-to-this-page form {
  margin: 0;
  padding: 0;
}

#left-column div.link-to-this-page div.title {
  color: #434343;
  font-family: arial, verdana, sans-serif;
  font-size: 8.5pt;
  font-weight: bold;
  margin: 0 0 8px 0;
  padding: 0;
  text-align: left;
}

#left-column div.link-to-this-page input.submit {
  background: url(images/link-to-this-page/copy-button.jpg) no-repeat left top;
  border: 0;
  cursor: pointer;
  height: 26px;
  margin: 0;
  margin-top: 0;
  padding: 0;
  vertical-align: top;
  width: 43px;
}

#left-column div.link-to-this-page input.url {
  border: solid 1px #a6a6a6;
  color: #a6a6a6;
  font-family: arial, verdana, sans-serif;
  font-size: 9pt;
  font-weight: normal;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px;
  width: 112px;
}

#left-column div.link-to-this-page input.url {
  height: 20px\9;
}

#left-column div.link-to-this-page input.url {
  padding-top: 4px\9;
}

#left-column div.share-this-page {
  border-bottom: dotted 1px #afafaf;
  float: left;
  margin-bottom: 13px;
  padding: 0 0 16px 0;
  width: 100%;
}

#left-column div.share-this-page div.title {
  color: #434343;
  font-family: arial, verdana, sans-serif;
  font-size: 8.5pt;
  font-weight: bold;
  margin: .8em 0 11px 0;
  padding: 0;
  text-align: left;
}

#left-column div.share-this-page ol {
  float: left;
  list-style-type: none;
  margin: 0 0 0 1px;
  padding: 0;
}

#left-column div.share-this-page ol li {
  float: left;
  margin: 0;
  padding: 0 2px 0 2px;
}

#left-column div.share-this-page ol li a {
  display: block;
  height: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 16px;
}

#left-column div.share-this-page ol li a span {
  display: none;
}

#left-column div.share-this-page ol li.email a {
  background: url(images/share-this-page/icons.jpg) no-repeat left top;
}

#left-column div.share-this-page ol li.facebook a {
  background: url(images/share-this-page/icons.jpg) no-repeat -16px top;
}

#left-column div.share-this-page ol li.technorati a {
  background: url(images/share-this-page/icons.jpg) no-repeat -48px top;
}

#left-column div.share-this-page ol li.twitter a {
  background: url(images/share-this-page/icons.jpg) no-repeat -32px top;
}

#footer div.browse-dictionary {
  margin: 0 0 1em 0;
  padding: 0;
  float: right;
}

#footer div.browse-dictionary a {
  margin: 0;
  padding: 0;
  font-family: arial,verdana,sans-serif;
  font-size: 8pt;
  font-weight: normal;
}

#footer div.browse-dictionary a:link,
#footer div.browse-dictionary a:active,
#footer div.browse-dictionary a:visited {
  color: #1122CC;
  text-decoration: none;
}

#footer div.browse-dictionary a:hover {
  color: #1122CC;
  text-decoration: underline;
}

#footer div.follow-mw {
  color: #676767;
  float: right;
  font-family: arial, verdana, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  padding-right: .5em;
}

#footer div.follow-mw div.title {
  display: inline;
  float: left;
  padding: 3px 0 0 0;
}

#footer div.follow-mw ol {
  display: inline;
  margin: 0;
  padding: 0;
}

#footer div.follow-mw ol li {
  display: inline;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer div.follow-mw ol a,
#footer div.follow-mw ol a:hover,
#footer div.follow-mw ol a:link,
#footer div.follow-mw ol a:visited {
  color: #0a42a1;
  display: block;
  float: left;
  font-family: arial, verdana, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  margin: 0 0 0 2px;
  padding: 0;
  text-decoration: none;
}

#footer div.follow-mw ol li.facebook a {
  background: url(images/interface/follow-mw-icons.jpg) no-repeat -16px top;
  height: 18px;
  width: 18px;
  margin-left: 5px;
}

#footer div.follow-mw ol li.rss a {
  background: url(images/interface/follow-mw-icons.jpg) no-repeat -34px top;
  height: 18px;
  width: 16px;
  margin-left: 5px;
}

#footer div.follow-mw ol li.twitter a {
  background: url(images/interface/follow-mw-icons.jpg) no-repeat left top;
  height: 18px;
  width: 16px;
  margin-left: 5px;
}

#footer div.follow-mw ol a span {
  display: none;
}

#footer div.major-links {
  font-family: arial, verdana, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  margin: 0 0 1em 0;
  padding: 0;
}

#footer div.major-links ol {
  margin: 0;
  padding: 0;
}

#footer div.major-links ol li {
  display: inline;
  list-style-type: none;
  margin: 0 1em 0 0;
  padding: 0;
}

#footer div.major-links ol a {
  margin: 0;
  padding: 0;
  font-family: arial, verdana, sans-serif;
  font-size: 8pt;
  font-weight: bold;
}

#footer div.major-links ol a:link,
#footer div.major-links ol a:active,
#footer div.major-links ol a:visited {
  color: #1122CC;
  text-decoration: none;
}

#footer div.major-links ol a:hover {
  color: #1122CC;
  text-decoration: underline;
}

#footer div.minor-links {
  font-family: arial, verdana, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  margin: 0 0 1em 0;
  padding: 0;
}

#footer div.minor-links ol {
  margin: 0;
  padding: 0;
}

#footer div.minor-links ol li {
  display: inline;
  list-style-type: none;
  margin: 0 1em 0 0;
  padding: 0;
}

#footer div.minor-links ol a {
  margin: 0;
  padding: 0;
  font-family: arial, verdana, sans-serif;
  font-size: 8pt;
  font-weight: normal;
}

#footer div.minor-links ol a:link,
#footer div.minor-links ol a:active,
#footer div.minor-links ol a:visited {
  color: #1122CC;
  text-decoration: none;
}

#footer div.minor-links ol a:hover {
  color: #1122CC;
  text-decoration: underline;
}

#footer div.copyright {
  margin: 0 0 1em 0;
  padding: 0;
  float: left;
  color: #676767;
  font-family: arial, verdana, sans-serif;
  font-size: 8pt;
  font-weight: normal;
}

#footer div.copyright a {
  margin: 0;
  padding: 0;
  font-family: arial, verdana, sans-serif;
  font-size: 8pt;
  font-weight: normal;
}

#footer div.copyright a:link,
#footer div.copyright a:active,
#footer div.copyright a:visited {
  color: #1122CC;
  text-decoration: none;
}

#footer div.copyright a:hover {
  color: #1122CC;
  text-decoration: underline;
}

#ref-search-box {
  border: 0;
  height: 98px;
  margin: 0 0 22px 184px;
  padding: 0;
  width: 460px;
  zoom: 1;
}

.search-box-focus {
  background: url(images/interface/search-box-background-no-focus.jpg) no-repeat -460px bottom;
}

.search-box-no-focus {
  background: url(images/interface/search-box-background-no-focus.jpg) no-repeat left bottom;
}

* html #ref-search-box {
  width: 458px;
}

#ref-search-box ol {
  height: 34px;
  margin: 0;
  padding: 0;
}

#ref-search-box ol li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ref-search-box ol li a span {
  display: none;
}

#ref-search-box ol li a {
  margin: 0 2px 0 0;
  padding: 0;
}

#ref-search-box ol li.dictionary a {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat left -34px;
  display: block;
  float: left;
  height: 34px;
  width: 94px;
}

#ref-search-box ol.dictionary li.dictionary a {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat left top;
}

#ref-search-box li.dictionary a:hover {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat left -68px;
}

#ref-search-box ol li.concise a {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat -363px -34px;
  display: inline-block;
  float: left;
  height: 34px;
  width: 61px;
}

#ref-search-box ol.concise li.concise a {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat -363px top;
}

#ref-search-box li.concise a:hover {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat -363px -68px;
}

#ref-search-box ol li.spanishcentral_url {
  margin: 0;
  padding: 0 0 0 5px;
  display: inline-block;
  vertical-align: top;
  width: 128px;
}

#ref-search-box ol li.spanishcentral_url a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Georgia, Arial, Verdana;
  color: #CA0403;
  font-size: 14px;
  font-weight: bold;
}

#ref-search-box ol li.spanishcentral_url a span.new {
  margin: 0;
  padding: 0;
  display: block;
  font-family: Verdana, Arial;
  color: #1122CC;
  font-size: 11px;
  font-weight: bold;
}

#ref-search-box ol li.medical a {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat -295px -34px;
  display: block;
  float: left;
  height: 34px;
  width: 67px;
}

#ref-search-box ol.medical li.medical a {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat -295px top;
}

#ref-search-box li.medical a:hover {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat -295px -68px;
}

#ref-search-box ol li.spanish a {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat -193px -34px;
  display: block;
  float: left;
  height: 34px;
  width: 101px;
}

#ref-search-box ol.spanish li.spanish a {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat -193px top;
}

#ref-search-box li.spanish a:hover {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat -193px -68px;
}

#ref-search-box ol li.thesaurus a {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat -95px -34px;
  display: block;
  float: left;
  height: 34px;
  width: 97px;
}

#ref-search-box ol.thesaurus li.thesaurus a {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat -95px top;
}

#ref-search-box li.thesaurus a:hover {
  background: url(images/interface/reference-tab-background-new.jpg) no-repeat -95px -68px;
}

#ref-search-box div {
  border: 0;
  margin: 0;
  padding: 16px 15px 0 15px;
}

#ref-search-box div input.word {
  border: solid 1px white;
  font-family: arial, verdana, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
  height: 28px;
  padding: 1px 0 0 3px;
  width: 389px;
  width: 385px\9;
}

#ref-search-box div input.search-button {
  border: 0;
  cursor: pointer;
  float: right;
  margin: 0;
  padding: 0;
  height: 32px;
  width: 32px;
}

#ref-search-box input.search-button {
  background: url(images/interface/search-button-active.jpg) no-repeat left top;
}

#ref-search-box input:hover.search-button {
  background: url(images/interface/search-button-inactive.jpg) no-repeat left top;
}

#selection {
  clear: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.autocomplete-w1 {
  background: url(images/interface/autocomplete-shadow.png) repeat bottom right;
  left: 0px;
  margin: 13px 0 0 6px;
  position: absolute;
  top: 0px;
  width: 435px;
  _background: none;
  _margin: 0;
}

*:first-child+html .autocomplete-w1 {
  margin: 12px 0 0 6px;
}

* html .autocomplete-w1 {
  background: black;
  margin: 6px 0 0 -3px;
  width: 427px;
}

.autocomplete {
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  text-align: left;
  max-height: 350px;
  overflow: auto;
  margin: -5px 6px 6px -9px;
  _height: 350px;
  _margin: 0;
  _overflow-x: hidden;
}

* html .autocomplete {
  height: 220px;
}

.autocomplete .selected {
  background: #f0f0f0;
}

.autocomplete div {
  color: black;
  cursor: pointer;
  font-family: arial, verdana, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding: 2px 5px;
  white-space: nowrap;
}

.autocomplete strong {
  color: black;
  font-weight: normal;
}

#selection {
  font-weight: bold;
  height: 0px;
  padding: 0px;
}

#selection img {
  vertical-align: middle;
}

#content .section-links {
  margin: 27px 0 0 184px;
}

#content .section-links ol {
  border: 0;
  border-bottom: solid 2px #e5e5e5;
  float: left;
  height: 19px;
  list-style-type: none;
  margin: 0 0 9px 0;
  padding: 0;
  width: 100%;
}

#content .section-links ol li {
  border: 0;
  float: left;
  height: 19px;
  margin: 0;
  padding: 0;
}

#content .section-links ol li a {
  margin: 0;
  padding: 0 0 5px 0;
  border-top: solid 1px white;
  border-bottom: 0;
  border-right: solid 2px #e5e5e5;
  color: #1122CC;
  display: block;
  float: left;
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  width: 103px;
}

#content .section-links ol li.word-games a {
  border-left: 0;
  width: 105px;
}

#content .section-links ol li.word-of-the-day a {
  width: 123px;
}

#content .section-links ol li.new-words-and-slang a {
  width: 157px;
}

#content .section-links ol li.video a {
  width: 69px;
}

#content .section-links ol li.word-games a {
  border-left: 0;
  width: 95px;
}

#content .section-links ol li.word-of-the-day a {
  width: 107px;
}

#content .section-links ol li.new-words-and-slang a {
  width: 135px;
}

#content .section-links ol li.video a {
  width: 53px;
}

#content .section-links ol li.share {
  border-right: 0;
  width: 62px;
}

#content .section-links ol li.share a {
  border: 0;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 12px;
}

#content .section-links ol li.share a img {
  border: 0;
  float: left;
  margin: 0;
  padding: 0;
  margin-top: -1px;
}

#content .section-links ol li.share a.twitter {
  margin-left: 12px;
}

#content .section-links ol li.share a.facebook {
  margin-left: 10px;
}

.home-carosel {
  float: left;
  margin: 0;
  width: 308px;
}

#top-ten-home-carosel {
  margin-right: 20px;
}

.home-carosel h1 {
  background: url(images/interface/home-carosel-header-background.jpg) no-repeat left top;
  color: #0741a2;
  font-family: arial, verdan, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  margin: 0;
  padding: 5px 4px 5px 10px;
}

.home-carosel h1 span {
  display: none;
  background: url(images/interface/carosel-arrow-right.jpg) no-repeat right center;
  padding-right: 15px;
}

.home-carosel h1.archive a {
  height: 16px;
  display: block;
  width: 120px;
}

.home-carosel h2,
.home-carosel h2 a {
  color: #ca0403;
  font-family: georgia, arial, verdana, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  margin: 0;
  padding: 3px 0 3px 0;
  text-decoration: none;
}

.home-carosel h2 a:hover {
  text-decoration: underline;
}

#top-ten-home-carosel.home-carosel h2,
#top-ten-home-carosel.home-carosel h2 a {
  font-family: georgia, arial, verdana, sans-serif;
  font-size: 21px;
  font-weight: normal;
}

#top-ten-home-carosel.home-carosel h2,
#top-ten-home-carosel.home-carosel h2 a {
  margin-bottom: 5px;
}

.home-carosel h3 a span,
.home-carosel h3 a:active span {
  color: #1122CC;
  font-size: 88%;
  font-weight: bold;
}

.home-carosel h3,
.home-carosel h3 a {
  color: black;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 16px;
}

.home-carosel h3 a:hover {
  text-decoration: underline;
}

#top-ten-home-carosel.home-carosel h3,
#top-ten-home-carosel.home-carosel h3 a,
#trend-watch-home-carosel.home-carosel h3,
#trend-watch-home-carosel.home-carosel h3 a,
#well-used-watch-home-carosel.home-carosel h3,
#well-used-home-carosel.home-carosel h3 a {
  font-size: 12px;
}

.home-carosel ol {
  margin: 0;
  padding: 0;
}

.home-carosel ol li {
  background: url(images/interface/carosel-horizontal-rule-background.jpg) repeat-x left bottom;
  height: 65px;
  list-style-type: none;
  margin: 0;
  clear: both;
  padding: 9px 0 9px 0;
}

.home-carosel ol li {
  *clear: left;
  *width: 300px;
}

#top-ten-home-carosel.home-carosel ol li {
  height: 230px;
}

.home-carosel ol li.last {
  background: none;
}

.home-carosel ol li img {
  float: left;
  height: 64px;
  margin-right: 8px;
  width: 84px;
}

#top-ten-home-carosel.home-carosel ol li img {
  display: block;
  float: none;
  height: 139px;
  margin-bottom: 6px;
  width: 308px;
}

.home-carosel .pag-links {
  font-size: 16px;
  padding-bottom: 10px;
  text-align: center;
}

.home-carosel .pag-links {
  *clear: left;
  *height: 14px;
  *padding-left: 100px;
}

.home-carosel .pag-links a.page-link {
  background: url(images/interface/carosel-pagination.jpg) no-repeat -34px top;
}

.home-carosel .pag-links a.page-link-active {
  background: url(images/interface/carosel-pagination.jpg) no-repeat -18px top;
}

.home-carosel .pag-links a {
  font-size: 16px;
  line-height: 16px;
  padding: 0 0 0 14px;
}

.home-carosel .pag-links a {
  *clear: none;
  *display: block;
  *float: left;
  *height: 14px;
  *padding: 0;
  *width: 14px;
}

.home-carosel .pag-links a.page-link {
  margin-left: 2px;
}

.home-carosel .pag-links a span {
  display: none;
}

.home-carosel .pag-links a.prev-button-active {
  background: url(images/interface/carosel-pagination.jpg) no-repeat left -18px;
}

.home-carosel .pag-links span.prev-button-inactive {
  background: url(images/interface/carosel-pagination.jpg) no-repeat left top;
  padding: 0 0 0 14px;
}

.home-carosel .pag-links a.next-button-active {
  background: url(images/interface/carosel-pagination.jpg) no-repeat -83px top;
  margin-left: 2px;
}

.home-carosel .pag-links span.next-button-inactive {
  background: url(images/interface/carosel-pagination.jpg) no-repeat -83px -18px;
  margin-left: 2px;
  padding: 0 0 0 14px;
}

.home-carosel .pag-links span em {
  display: none;
}

#top-ten-home-carosel.home-carosel h1 {
  background: url(images/interface/top-ten-home-carosel-header.jpg) no-repeat left top;
  height: 15px;
}

#trend-watch-home-carosel.home-carosel h1 {
  background: url(images/interface/trend-watch-home-carosel-header.jpg) no-repeat left top;
  height: 15px;
}

#well-used-home-carosel.home-carosel h1 {
  background: url(images/interface/well-used-side-carosel-header.jpg) no-repeat left top;
  height: 15px;
}

#top-ten-home-carosel.home-carosel h1 span,
#trend-watch-home-carosel.home-carosel h1 span {
  display: none;
}

.home-carosel .pag-links span.prev-button-inactive,
.home-carosel .pag-links span.prev-button-active,
.home-carosel .pag-links span.next-button-active,
.home-carosel .pag-links span.next-button-inactive {
  *clear: none;
  *display: block;
  *float: left;
  *height: 14px;
  *padding: 0;
  *width: 14px;
}

table.house-ads {
  border: 0;
  border-collapse: 0;
  border-spacing: 0;
  margin: 0 0 0 10px;
  padding: 0;
  width: 300px;
}

table.house-ads td {
  text-align: center;
}

table.house-ads div {
  border: 0;
  margin: 0;
  padding: 15px 0 15px 0;
}

iframe.creative-120_LEFT {
  margin-right: 9px;
}

div.creative-120_LEFT-container,
iframe.creative-120_LEFT {
  height: 90px;
  width: 161px;
}

div.creative-120_RIGHT-container,
iframe.creative-120_RIGHT {
  height: 90px;
  width: 130px;
}

div.creative-160_TOP-container,
iframe.creative-160_TOP {
  height: 600px;
  width: 160px;
}

div.creative-300_BOT-container,
div.creative-300_TOP-container,
iframe.creative-300_BOT,
iframe.creative-300_TOP {
  height: 250px;
  width: 300px;
}

div.creative-600_TOP-container,
iframe.creative-600_TOP {
  height: 600px;
  width: 300px;
}

div.creative-728_BOT-container {
  text-align: center;
}

div.creative-728_BOT-container,
div.creative-728_TOP-container {
  height: 90px;
}

iframe.creative-728_BOT,
iframe.creative-728_TOP {
  height: 90px;
  width: 728px;
}

#wod-subscription-form {
  background: url(images/home/wod-form.jpg) no-repeat left top;
  height: 153px;
  margin: 0;
  padding: 0;
  width: 649px;
}

.word-of-the-day-div {
  *clear: left;
  *height: 0;
  *padding-top: 120px;
  *padding-bottom: 30px;
}

#wod-subscription-form {
  *margin-top: -120px;
}

* html #wod-subscription-form {
  *margin-top: -90px;
}

#wod-subscription-form table {
  height: 153px;
  width: 649px;
}

#wod-subscription-form h2 span {
  display: none;
}

#wod-subscription-form td.left {
  padding-top: 40px;
  padding-left: 28px;
  text-align: left;
  width: 300px;
}

#wod-subscription-form td.left {
  *padding-top: 57px;
}

#wod-subscription-form td.right {
  padding-top: 10px;
  text-align: left;
  vertical-align: top;
}

#wow_date {
  margin: 0 0 7px 0;
  padding: 0;
  color: #999999;
  font-size: 11px;
  font-weight: bold;
}

#wow_entry {
  margin: 0 0 7px 0;
  padding: 0;
}

#wow_entry a {
  color: #ca0403;
  font-family: georgia, arial, verdana, sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
}

#wow_entry a:hover {
  text-decoration: underline;
}

#wow_entry a.audio span {
  display: none;
}

#wow_pspeech {
  display: none;
}

#wow_def {
  font-size: 11pt;
  font-weight: bold;
  margin-bottom: 5px;
}

#wow_facts a {
  color: black;
  font-size: 90%;
  text-decoration: none;
}

#wow_facts a:hover {
  text-decoration: underline;
}

#wow_facts a span {
  color: #1122CC;
  font-size: 88%;
  font-weight: bold;
}

.word_of_the_day {
  padding: 0 15px 0 0;
}

.word_of_the_day .links {
  display: none;
}

.submit-button {
  background: url(images/home/wod-sub-button.jpg) no-repeat left top;
  border: 0;
  cursor: pointer;
  height: 28px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 81px;
}

#wod_email {
  height: 22px;
  margin: 0;
  padding: 0;
}

#footer div.special-offers {
  clear: left;
  margin-bottom: 2em;
}

#footer div.special-offers ol {
  margin: 0;
  padding: 0;
}

#footer div.special-offers ol li.offer1,
#footer div.special-offers ol li.offer2,
#footer div.special-offers ol li.offer3,
#footer div.special-offers ol li.offer4 {
  float: left;
  height: 127px;
  list-style-type: none;
}

#footer div.special-offers ol li.offer5,
#footer div.special-offers ol li.offer6,
#footer div.special-offers ol li.offer7 {
  float: left;
  height: 75px;
  list-style-type: none;
}

#footer div.special-offers ol li.offer1 {
  width: 210px;
}

#footer div.special-offers ol li.offer2 {
  width: 224px;
}

#footer div.special-offers ol li.offer3 {
  width: 224px;
}

#footer div.special-offers ol li.offer4 {
  width: 224px;
}

#footer div.special-offers ol li.offer5 {
  width: 315px;
}

#footer div.special-offers ol li.offer6 {
  width: 239px;
}

#footer div.special-offers ol li.offer7 {
  width: 384px;
}

#footer div.special-offers ol li.offer2,
#footer div.special-offers ol li.offer3,
#footer div.special-offers ol li.offer4 {
  background: url(images/footer-promos/promo-vertical-rule.gif) repeat-y left top;
  padding-left: 21px;
}

#footer div.special-offers ol li.offer6,
#footer div.special-offers ol li.offer7 {
  background: url(images/footer-promos/promo-vertical-rule.gif) repeat-y left top;
  height: 60px;
  padding-left: 21px;
}

#footer div.special-offers ol li.offer1 div.offer-content,
#footer div.special-offers ol li.offer2 div.offer-content,
#footer div.special-offers ol li.offer3 div.offer-content,
#footer div.special-offers ol li.offer4 div.offer-content {
  margin: 0;
  padding: 0;
  clear: both;
  overflow: hidden;
}

#footer div.special-offers ol li.offer1 div.offer-content h2,
#footer div.special-offers ol li.offer2 div.offer-content h2,
#footer div.special-offers ol li.offer3 div.offer-content h2,
#footer div.special-offers ol li.offer4 div.offer-content h2,
#footer div.special-offers ol li.offer5 div.offer-content h2,
#footer div.special-offers ol li.offer6 div.offer-content h2,
#footer div.special-offers ol li.offer7 div.offer-content h2 {
  margin: 0;
  padding: 0 0 3px 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

#footer div.special-offers ol li.offer1 div.offer-content h2 a,
#footer div.special-offers ol li.offer2 div.offer-content h2 a,
#footer div.special-offers ol li.offer3 div.offer-content h2 a,
#footer div.special-offers ol li.offer4 div.offer-content h2 a,
#footer div.special-offers ol li.offer5 div.offer-content h2 a,
#footer div.special-offers ol li.offer6 div.offer-content h2 a,
#footer div.special-offers ol li.offer7 div.offer-content h2 a {
  margin: 0;
  padding: 0 0 3px 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

#footer div.special-offers ol li.offer1 div.offer-content img,
#footer div.special-offers ol li.offer2 div.offer-content img,
#footer div.special-offers ol li.offer3 div.offer-content img,
#footer div.special-offers ol li.offer4 div.offer-content img {
  margin: 0;
  padding: 0;
  float: left;
}

#footer div.special-offers ol li.offer1 div.offer-content p,
#footer div.special-offers ol li.offer2 div.offer-content p,
#footer div.special-offers ol li.offer3 div.offer-content p,
#footer div.special-offers ol li.offer4 div.offer-content p,
#footer div.special-offers ol li.offer5 div.offer-content p,
#footer div.special-offers ol li.offer6 div.offer-content p,
#footer div.special-offers ol li.offer7 div.offer-content p {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  color: #656565;
  line-height: 16px;
}

#footer div.special-offers ol li.offer1 div.offer-content p a,
#footer div.special-offers ol li.offer2 div.offer-content p a,
#footer div.special-offers ol li.offer3 div.offer-content p a,
#footer div.special-offers ol li.offer4 div.offer-content p a,
#footer div.special-offers ol li.offer5 div.offer-content p a,
#footer div.special-offers ol li.offer6 div.offer-content p a,
#footer div.special-offers ol li.offer6 div.offer-content p a {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #1122CC;
  text-decoration: none;
}

#footer div.special-offers ol li.offer1 div.offer-content p a:hover,
#footer div.special-offers ol li.offer2 div.offer-content p a:hover,
#footer div.special-offers ol li.offer3 div.offer-content p a:hover,
#footer div.special-offers ol li.offer4 div.offer-content p a:hover,
#footer div.special-offers ol li.offer5 div.offer-content p a:hover,
#footer div.special-offers ol li.offer6 div.offer-content p a:hover,
#footer div.special-offers ol li.offer7 div.offer-content p a:hover {
  color: #1122CC;
  text-decoration: underline;
}

#footer div.special-offers ol li.offer5 div.offer-content li a,
#footer div.special-offers ol li.offer7 div.offer-content li a,
 {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #1122CC;
  text-decoration: none;
}

#footer div.special-offers ol li.offer5 div.offer-content li a:hover,
#footer div.special-offers ol li.offer7 div.offer-content li a:hover,
 {
  color: #1122CC;
  text-decoration: underline;
}

#footer div.special-offers ol li.offer5 li {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#footer div.special-offers ol li.offer5 a {
  margin: 0;
  padding: 0 0 0 40px;
  display: inline-block;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 33px;
  color: #1122CC;
  text-decoration: none;
}

#footer div.special-offers ol li.offer5 a:hover {
  color: #1122CC;
  text-decoration: underline;
}

#footer div.special-offers ol li.offer5 .facebook a {
  margin: 0 0 0 25px;
  background: url(images/footer-promos/join-us-facebook-promo.gif) no-repeat;
}

#footer div.special-offers ol li.offer5 .twitter a {
  background: url(images/footer-promos/join-us-twitter-promo.gif) no-repeat left top;
}

#footer div.special-offers ol li.offer7 li {
  margin: 0;
  padding: 0 0 5px 0;
  list-style-type: none;
}

#footer div.special-offers ol li.offer7 li a {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #1122CC;
  text-decoration: none;
}

#footer div.special-offers ol li.offer7 li a:hover {
  color: #1122CC;
  text-decoration: underline;
}

#eb-logo {
  margin-left: 15px;
  margin-top: 70px;
  position: absolute;
  z-index: 999;
}

#logo {
  margin-left: 10px;
  margin-top: 87px;
  position: absolute;
  z-index: 999;
}

#logo {
  margin-left: 10px;
  margin-top: 104px;
  padding: 0;
  position: absolute;
  z-index: 999;
}

#logo {
  *margin-left: -175px;
}

* html #logo {
  margin-left: -175px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #ref-search-box div input.word {
    height: 30px;
  }

  #ref-search-box.search-box-focus div input.word {
    height: 36px;
    margin-left: -2px;
    margin-top: -3px;
    padding-left: 5px;
  }

  .autocomplete {
    margin: -10px 6px 6px -9px;
  }
}

.sh_container {
  margin: 32px 0 0 0;
  padding: 0;
}

.sh_container p {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
  color: #000000;
}

.sh_container .sh_blue_header {
  margin: 0 0 10px 0;
  padding: 0;
}

.sh_container .sh_entry {
  margin: 0;
  padding: 0;
  display: block;
  vertical-align: top;
}

.sh_entry .user_image {
  margin: 0 10px 0 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.sh_entry .user_content {
  margin: 0 0 10px 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 240px;
}

.user_content .user_word {
  margin: 0;
  padding: 0;
}

.user_content .user_word a {
  font-family: georgia,arial,verdana,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ca0403;
  text-decoration: none;
}

.user_content .user_word a:hover {
  color: #ca0403;
  text-decoration: underline;
}

.user_content .user_quote {
  margin: 0;
  padding: 0;
}

.user_content .user_quote a {
  font-size: 11px;
  font-weight: normal;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  line-height: 1.5em;
  color: #000000;
  text-decoration: none;
}

.user_content .user_quote a:hover {
  color: #000000;
  text-decoration: underline;
}

.user_content .user_quote a span.more {
  color: #1122CC;
  font-weight: bold;
  font-family: arial, verdan, sans-serif;
  font-size: 11px;
}

.sh_container .sh_archive_url {
  margin: 10px 0 0 0;
  padding: 0;
}

.sh_container .sh_archive_url a {
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #1122CC;
  text-decoration: none;
}

.sh_container .sh_archive_url a:hover {
  color: #1122CC;
  text-decoration: underline;
}

.fb_hidden {
  position: absolute;
  top: -10000px;
  z-index: 10001;
}

.fb_invisible {
  display: none;
}

.fb_reset {
  background: none;
  border: 0;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
}

.fb_reset>div {
  overflow: hidden;
}

.fb_link img {
  border: none;
}

.fb_dialog {
  background: rgba(82, 82, 82, .7);
  position: absolute;
  top: -10000px;
  z-index: 10001;
}

.fb_reset .fb_dialog_legacy {
  overflow: visible;
}

.fb_dialog_advanced {
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.fb_dialog_content {
  background: #fff;
  color: #333;
}

.fb_dialog_close_icon {
  background: url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
  _background-image: url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);
  cursor: pointer;
  display: block;
  height: 15px;
  position: absolute;
  right: 18px;
  top: 17px;
  width: 15px;
}

.fb_dialog_mobile .fb_dialog_close_icon {
  top: 5px;
  left: 5px;
  right: auto;
}

.fb_dialog_padding {
  background-color: transparent;
  position: absolute;
  width: 1px;
  z-index: -1;
}

.fb_dialog_close_icon:hover {
  background: url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;
  _background-image: url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);
}

.fb_dialog_close_icon:active {
  background: url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;
  _background-image: url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);
}

.fb_dialog_loader {
  background-color: #f2f2f2;
  border: 1px solid #606060;
  font-size: 24px;
  padding: 20px;
}

.fb_dialog_top_left,
.fb_dialog_top_right,
.fb_dialog_bottom_left,
.fb_dialog_bottom_right {
  height: 10px;
  width: 10px;
  overflow: hidden;
  position: absolute;
}

.fb_dialog_top_left {
  background: url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;
  left: -10px;
  top: -10px;
}

.fb_dialog_top_right {
  background: url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;
  right: -10px;
  top: -10px;
}

.fb_dialog_bottom_left {
  background: url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;
  bottom: -10px;
  left: -10px;
}

.fb_dialog_bottom_right {
  background: url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;
  right: -10px;
  bottom: -10px;
}

.fb_dialog_vert_left,
.fb_dialog_vert_right,
.fb_dialog_horiz_top,
.fb_dialog_horiz_bottom {
  position: absolute;
  background: #525252;
  filter: alpha(opacity=70);
  opacity: .7;
}

.fb_dialog_vert_left,
.fb_dialog_vert_right {
  width: 10px;
  height: 100%;
}

.fb_dialog_vert_left {
  margin-left: -10px;
}

.fb_dialog_vert_right {
  right: 0;
  margin-right: -10px;
}

.fb_dialog_horiz_top,
.fb_dialog_horiz_bottom {
  width: 100%;
  height: 10px;
}

.fb_dialog_horiz_top {
  margin-top: -10px;
}

.fb_dialog_horiz_bottom {
  bottom: 0;
  margin-bottom: -10px;
}

.fb_dialog_iframe {
  line-height: 0;
}

.fb_dialog_content .dialog_title {
  background: #6d84b4;
  border: 1px solid #3b5998;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.fb_dialog_content .dialog_title>span {
  background: url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
  float: left;
  padding: 5px 0 7px 26px;
}

body.fb_hidden {
  -webkit-transform: none;
  height: 100%;
  margin: 0;
  overflow: visible;
  position: absolute;
  top: -10000px;
  left: 0;
  width: 100%;
}

.fb_dialog.fb_dialog_mobile.loading {
  background: url(http://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10001;
}

.fb_dialog.fb_dialog_mobile.loading.centered {
  max-height: 590px;
  min-height: 590px;
  max-width: 500px;
  min-width: 500px;
}

#fb-root #fb_dialog_ipad_overlay {
  background: rgba(0, 0, 0, .45);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 10000;
}

#fb-root #fb_dialog_ipad_overlay.hidden {
  display: none;
}

.fb_dialog.fb_dialog_mobile.loading iframe {
  visibility: hidden;
}

.fb_dialog_content .dialog_header {
  -webkit-box-shadow: white 0 1px 1px -1px inset;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));
  border-bottom: 1px solid;
  border-color: #1d4088;
  color: #fff;
  font: 14px Helvetica, sans-serif;
  font-weight: bold;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
  vertical-align: middle;
  white-space: nowrap;
}

.fb_dialog_content .dialog_header table {
  -webkit-font-smoothing: subpixel-antialiased;
  height: 43px;
  width: 100%;
}

.fb_dialog_content .dialog_header td.header_left {
  font-size: 12px;
  padding-left: 5px;
  vertical-align: middle;
  width: 60px;
}

.fb_dialog_content .dialog_header td.header_right {
  font-size: 12px;
  padding-right: 5px;
  vertical-align: middle;
  width: 60px;
}

.fb_dialog_content .touchable_button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));
  border: 1px solid #29447e;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;
  display: inline-block;
  margin-top: 3px;
  max-width: 85px;
  line-height: 18px;
  padding: 4px 12px;
  position: relative;
}

.fb_dialog_content .dialog_header .touchable_button input {
  border: none;
  background: none;
  color: #fff;
  font: 12px Helvetica, sans-serif;
  font-weight: bold;
  margin: 2px -12px;
  padding: 2px 6px 3px 6px;
  text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
}

.fb_dialog_content .dialog_header .header_center {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}

.fb_dialog_content .dialog_content {
  background: url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
  border: 1px solid #555;
  border-bottom: 0;
  border-top: 0;
  height: 150px;
}

.fb_dialog_content .dialog_footer {
  background: #f2f2f2;
  border: 1px solid #555;
  border-top-color: #ccc;
  height: 40px;
}

#fb_dialog_loader_close {
  float: left;
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
  text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
  visibility: hidden;
}

.fb_iframe_widget {
  display: inline-block;
  position: relative;
}

.fb_iframe_widget span {
  display: inline-block;
  position: relative;
  text-align: justify;
}

.fb_iframe_widget iframe {
  position: absolute;
}

.fb_iframe_widget_lift {
  z-index: 1;
}

.fb_hide_iframes iframe {
  position: relative;
  left: -10000px;
}

.fb_iframe_widget_loader {
  position: relative;
  display: inline-block;
}

.fb_iframe_widget_fluid {
  display: inline;
}

.fb_iframe_widget_fluid span {
  width: 100%;
}

.fb_iframe_widget_loader iframe {
  min-height: 32px;
  z-index: 2;
  zoom: 1;
}

.fb_iframe_widget_loader .FB_Loader {
  background: url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;
  height: 32px;
  width: 32px;
  margin-left: -16px;
  position: absolute;
  left: 50%;
  z-index: 4;
}

.fb_connect_bar_container div,
.fb_connect_bar_container span,
.fb_connect_bar_container a,
.fb_connect_bar_container img,
.fb_connect_bar_container strong {
  background: none;
  border-spacing: 0;
  border: 0;
  direction: ltr;
  font-style: normal;
  font-variant: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
  vertical-align: baseline;
}

.fb_connect_bar_container {
  position: fixed;
  left: 0 !important;
  right: 0 !important;
  height: 42px !important;
  padding: 0 25px !important;
  margin: 0 !important;
  vertical-align: middle !important;
  border-bottom: 1px solid #333 !important;
  background: #3b5998 !important;
  z-index: 99999999 !important;
  overflow: hidden !important;
}

.fb_connect_bar_container_ie6 {
  position: absolute;
  top: expression(document.compatMode=="CSS1Compat"? document.documentElement.scrollTop+"px":body.scrollTop+"px");
}

.fb_connect_bar {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 6px 0 0 0 !important;
  background: none;
  color: #fff !important;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  letter-spacing: normal !important;
  line-height: 1 !important;
  text-decoration: none !important;
  text-indent: 0 !important;
  text-shadow: none !important;
  text-transform: none !important;
  white-space: normal !important;
  word-spacing: normal !important;
}

.fb_connect_bar a:hover {
  color: #fff;
}

.fb_connect_bar .fb_profile img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin: 0 6px 5px 0;
}

.fb_connect_bar div a,
.fb_connect_bar span,
.fb_connect_bar span a {
  color: #bac6da;
  font-size: 11px;
  text-decoration: none;
}

.fb_connect_bar .fb_buttons {
  float: right;
  margin-top: 7px;
}

.fbpluginrecommendationsbarleft,
.fbpluginrecommendationsbarright {
  position: fixed !important;
  bottom: 0;
  z-index: 999;
}

.fbpluginrecommendationsbarleft {
  left: 10px;
}

.fbpluginrecommendationsbarright {
  right: 10px;
}

#content .section-links ol li a,
#content .section-links ol li a:active,
#content .section-links ol li a:link,
#content .section-links ol li a:visited {
  font-size: 11px;
  padding-top: 3px;
  width: 106px;
}

#content .section-links ol li.word-games a,
#content .section-links ol li.word-games a:active,
#content .section-links ol li.word-games a:link,
#content .section-links ol li.word-games a:visited {
  width: 115px;
}

#content .section-links ol li.new-words a,
#content .section-links ol li.new-words a:active,
#content .section-links ol li.new-words a:link,
#content .section-links ol li.new-words a:visited {
  width: 80px;
}

#content .section-links ol li.video a,
#content .section-links ol li.video a:active,
#content .section-links ol li.video a:link,
#content .section-links ol li.video a:visited {
  width: 47px;
}

#content .section-links ol li.share a,
#content .section-links ol li.share a:active,
#content .section-links ol li.share a:link,
#content .section-links ol li.share a:visited {
  background: url(/images/my-saved-words/my_words_star_icon.gif) no-repeat 7px top;
  border-top: solid 1px white;
  height: 19px;
  padding-left: 30px;
  text-align: left;
  width: 70px;
}

#content .section-links ol li {
  height: 21px;
}

#content .section-links ol {
  height: 21px;
}

#share-tab div.notice {
  border: solid 1px #d10f1e;
  background: white;
  padding: 10px;
  font-size: 12px;
  display: none;
  line-height: 17px;
  margin-left: -55px;
  margin-top: 22px;
  position: absolute;
  z-index: 999999;
}

#share-tab:hover div.notice {
  display: block;
}

.inputs .wodPromoText_1 {
  margin: 10px 0;
  padding: 0;
  font: 11px normal Arial, Helvetica, sans-serif;
  color: #636567;
  font-weight: bold;
}

.inputs .wodPromoText_2 {
  margin: 10px 0 0 0;
  padding: 0;
  font: 11px normal Arial, Helvetica, sans-serif;
  color: #636567;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
}

.inputs .socialMedia {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.socialMedia .tw {
  margin: 10px 0 0 0;
  padding: 0;
  width: 15px;
  display: inline-block;
  vertical-align: top;
}

.socialMedia .fb {
  margin: 10px 0 0 0;
  padding: 0;
  width: 15px;
  display: inline-block;
  vertical-align: top;
}

.socialMedia .tw img,
.socialMedia .fb img {
  margin: 0;
  padding: 0;
  width: 100%;
}

div.popular-words-home {
  background: url('/styles/default/images/interface/most-popular-header.jpg') no-repeat left -1px;
  border: 0;
  float: none;
  margin: 0;
  padding: 2px 0 0 0;
  width: 310px;
}

div.popular-words-home p {
  margin: 14px 0 11px 0;
}

.popular-words-home {
  margin-left: 30px;
}

.popular-words-home table {
  border: 0;
  border-collapse: 0;
  border-spacing: 0;
  margin: 0 0 0 0;
  padding: 0;
}

.popular-words-home table ol {
  border-collapse: 0;
  border-spacing: 0;
  margin: 0 0 0 2em;
  padding: 0;
}

.popular-words-home table ol {
  color: #686868;
  line-height: 18px;
}

.popular-words-home table td {
  margin: 0;
  padding: 0 30px 0 0;
}

.popular-words-home table th {
  margin: 0;
  padding: 0 30px 2px 0;
  text-align: left;
}

.popular-words-home a {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.popular-words-home a:link,
.popular-words-home a:active,
.popular-words-home a:visited {
  color: #1122CC;
  text-decoration: none;
}

.popular-words-home a:hover {
  color: #1122CC;
  text-decoration: underline;
}

.popular-words-home .view-all {
  padding-left: 27px;
  padding-top: 13px;
  *padding-left: 29px;
  *padding-top: 7px;
}

.popular-words-home .view-all a {
  font-family: arial, verdana, sans-serif;
  font-weight: bold;
}

.popular-words-home a.header {
  display: block;
  height: 20px;
  margin-left: 8px;
  width: 128px;
}

.popular-words-home a.header span {
  display: none;
}

table.quiz-promo-home {
  margin: 0 15px 15px 0;
  padding: 0;
  width: 311px;
}

table.quiz-promo-home tr td.promo-header {
  margin: 0;
  padding: 0 0 8px 0;
}

table.quiz-promo-home tr td.promo-header img {
  margin: 0;
  padding: 0;
  width: 301px;
  height: 25px;
}

table.quiz-promo-home tr td.promo-image {
  margin: 0;
  padding: 0;
  width: 79px;
  vertical-align: top;
}

table.quiz-promo-home tr td.promo-image img {
  margin: 0;
  padding: 0;
  width: 62px;
  height: 43px;
}

table.quiz-promo-home tr td.promo-content {
  margin: 0;
  padding: 0;
  width: 222px;
  height: 43px;
  vertical-align: top;
}

table.quiz-promo-home tr td.promo-content p,
table.quiz-promo-home tr td.promo-content p strong {
  margin: 0;
  padding: 0 0 5px 0;
}

table.quiz-promo-home tr td.promo-content p a {
  margin: 0;
  padding: 0;
  font-family: helvetica,verdana,arial;
  font-size: 12px;
  font-weight: normal;
}

table.quiz-promo-home tr td.promo-content p a:link,
table.quiz-promo-home tr td.promo-content p a:active,
table.quiz-promo-home tr td.promo-content p a:visited {
  color: #1122CC;
  text-decoration: none;
}

table.quiz-promo-home tr td.promo-content p a:hover {
  color: #1122CC;
  text-decoration: underline;
}

table.quiz-promo-home tr td.athletic-dots {
  margin: 0;
  padding: 0;
  height: 20px;
}

table.quiz-promo-home tr td.athletic-dots div.dots {
  margin: 0;
  padding: 0;
  background: url('http://www.merriam-webster.com/images/dots_athletics_bkg_repeatx.gif') repeat-x;
  height: 20px;
  width: 300px;
}

table.browse-by-topics {
  margin: 0 0 30px 0;
  padding: 30px 0 0 0;
  width: 100%;
}

table.browse-by-topics tr {
  margin: 0;
  padding: 0;
}

table.browse-by-topics tr td {
  margin: 0;
  padding: 0;
}

table.browse-by-topics tr td img.header {
  margin: 0;
  padding: 0 0 10px 0;
}

table.browse-by-topics tr td a {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

table.browse-by-topics tr td a:link,
table.browse-by-topics tr td a:active,
table.browse-by-topics tr td a:visited {
  color: #1122CC;
  text-decoration: none;
}

table.browse-by-topics tr td a:hover {
  color: #1122CC;
  text-decoration: underline;
}