@charset "utf-8";

body {
  padding: 0;
  margin: 0;
  font: normal 12px/30px "SimSun";
  -webkit-text-size-adjust: none;
  color: #333;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

div {
  margin: 0 auto;
  text-align: left;
  font: normal 12px/30px "SimSun";
}

a:link,
a:visited {
  color: #033266;
  text-decoration: none;
}

a:hover {
  color: #900;
  text-decoration: underline;
}

img {
  border: none;
}

ol,
ul,
li {
  list-style: none;
}

i {
  font-style: normal;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after,
.img_show:after,
.w1000:after {
  content: "";
  display: table;
}

.clearfix:after,
.img_show:after,
.w1000:after,
.city p:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.red {
  color: #900;
}

a.red {
  color: #900;
}

.r_box p.red a:link,
.r_box p.red a:visited,
.r_box p.red a:hover {
  color: #900;
}

.img_show {
  margin-bottom: 7px;
  padding-top: 8px;
}

.img_show_h {
  margin-bottom: 7px;
  padding-top: 3px;
}

.img_show_h1 {
  margin-bottom: 5px;
  padding-top: 0px;
}

.img_show span {
  float: left;
  text-align: center;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.img_show span img {
  display: block;
}

.img_show ul {
  float: left;
}

.img_show ul li {
  line-height: 27px;
}

.img_show span b {
  font-weight: normal;
  color: #fff;
  background: url(/img/2013people/images/txt_bg.png) repeat-x top;
  height: 20px;
  display: block;
  width: 100%;
  line-height: 20px;
  margin-top: -20px;
  position: relative;
  overflow: hidden;
}

.img_show span b a:link,
.img_show span b a:visited,
.img_show span b a:hover {
  color: #fff;
}

.img_show span.tv_ico {
  margin: 0;
  position: static;
  float: none;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

.w980 {
  width: 980px;
  margin: 0 auto;
}

.w340 {
  width: 340px;
}

.w280 {
  width: 280px;
}

.w280 ul {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.w280 .img_show {
  margin: 0px auto 10px auto;
}

.w280 .img_show ul {
  width: auto;
}

.w280 .img_show span {
  margin-left: 15px;
}

.w280 h4 {
  margin-bottom: 10px;
  color: #ccc;
}

.w280 h4 a {
  margin: 0 3px;
}

.r_box {
  width: 278px;
  border: 1px solid #e0e0e0;
  padding-bottom: 15px;
}

.m10 {
  margin: 10px auto;
}

.m20 {
  margin: 20px auto;
  line-height: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 27px;
}

.mt15 {
  margin-top: 15px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

li {
  background: url(/img/2013people/images/style_dian.gif) no-repeat 0 14px;
  padding-left: 11px;
  font-size: 14px;
  color: #e0e0e0;
}

li span,
li strong {
  color: #033266;
}

li strong,
li b {
  font-family: "Microsoft YaHei","SimHei";
  font-size: 14px;
}

ul.list_12 li {
  background: url(/img/2013people/images/style_dian.gif) no-repeat 0 11px;
  padding-left: 10px;
  font-size: 12px;
}

ul.list_12 li strong {
  font-weight: normal;
  font-family: "SimSun";
  font-size: 12px;
}

ul.bottom {
  background: url(/img/2013people/images/style_dian_line.gif) repeat-x top;
  padding-top: 8px;
  margin-top: 10px;
}

ul.bottom li {
  color: #e0e0e0;
}

ul.bottom li strong {
  margin-right: 6px;
  color: #013366;
}

h1,
h3,
h4,
nav {
  font-family: "Microsoft YaHei","SimHei";
  font-weight: 550;
}

h4 {
  font-size: 16px;
  width: 90%;
  margin: 5px auto;
}

.title {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  background: url(/img/2013people/images/title_bg.gif) repeat-x top;
}

.title h3 {
  padding: 0 24px;
  background: #fff;
  border-top: 2px solid #006599;
  float: left;
  height: 33px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  line-height: 33px;
  font-size: 16px;
  color: #ccc;
}

.title b {
  font-weight: normal;
  margin: 0 5px 0 8px;
}

.title h3 a:link,
.title h3 a:visited,
.title h3 a:hover {
  margin: 0 3px;
}

.title_tab h3 {
  padding: 0 20px;
}

.title_tab h3.unfocus {
  background: none;
  border: none;
  font-weight: normal;
  color: #000;
}

.title_news h3 {
  float: left;
  background: url(/img/2013people/images/rmrb_logo.gif) no-repeat left center;
  padding-left: 58px;
  margin-bottom: 10px;
  font-size: 16px;
}

.title_news span,
.title_shear span {
  float: right;
  color: #033266;
}

.title_news span a {
  color: ##033266;
}

.title_shear h3 {
  float: left;
  margin: 5px 0 8px 8px;
  font-size: 16px;
  color: #ccc;
}

.title_shear h3 a:link,
.title_shear h3 a:visited,
.title_shear h3 a:hover {
  margin: 0 3px;
}

.title_shear h3 i.nospace {
  margin: 0 0 0 3px;
}

.title_shear h3 i.nospace a:link,
.title_shear h3 i.nospace a:visited,
.title_shear h3 i.nospace a:hover {
  margin: 0 0px;
}

.title h3 i.d,
.title_shear h3 i.d,
.title_main h3 i.d,
.w280 h4 i.d {
  background: url(/img/2013people/images/title_dian.jpg) no-repeat center;
  display: inline-block;
  width: 9px;
  height: 11px;
}

.title_main {
  width: 100%;
  height: 34px;
  border-bottom: 1px solid #e0e0e0;
  background: #f9f9f9;
  margin-bottom: 10px;
}

.title_main h3 {
  float: left;
  padding: 0 10px;
  font-size: 16px;
}

.title_main h3 a:link,
.title_main h3 a:visited,
.title_main h3 a:hover {
  margin: 0 2px;
}

.title_main span {
  float: right;
  margin-top: 5px;
}

.title_sub {
  width: 90%;
  margin: 10px auto 0 auto;
}

.title_sub h4 {
  float: left;
  width: auto;
  margin: 0;
  line-height: 25px;
}

.title_sub span {
  float: right;
}

.title_sub_h h4,
.title_sub_h h4 a {
  color: #033266;
}

.tishi {
  display: inline-block;
  height: 14px;
  background: url(/img/2013people/images/tishi.gif) no-repeat 0 0 #e00;
  margin: 0;
  padding-right: 2px;
  color: #fff;
  line-height: 14px;
  padding-left: 8px;
}

.tv_ico {
  display: inline-block;
  width: 15px;
  height: 9px;
  background: url(/img/2013people/images/tv_ico.gif) no-repeat;
  padding-right: 5px;
}

.down_ico {
  display: inline-block;
  width: 9px;
  height: 6px;
  background: url(/img/2013people/images/jiao.gif) no-repeat;
}

.search_ico {
  display: inline-block;
  width: 17px;
  height: 37px;
  background: url(/img/2013people/images/search.gif) no-repeat 0px 10px;
  vertical-align: middle;
  margin-left: 10px;
  border-right: 1px solid #ebebeb;
  padding-right: 10px;
}

.duan_dian {
  background: url(/img/2013people/images/style_dian_line.gif) repeat-x center;
  padding: 10px 0;
}

.r_box .duan_dian {
  width: 90%;
  margin: 0 auto;
  padding: 8px 0;
}

.box .title_shear h3 {
  margin-bottom: 2px;
}

.top_nav {
  width: 100%;
  height: 38px;
  color: #000;
  border-bottom: 1px solid #e4e4e4;
  background: #f9f9f9;
  overflow: hidden;
}

.top_nav ul li {
  font-size: 12px;
  background: none;
  color: #000;
  margin: 0;
  padding: 0;
  float: left;
  height: 38px;
  line-height: 38px;
  padding: 0 8px;
}

.top_nav ul li:hover {
  background: #f2f2f2;
}

.top_nav span.fl {
  margin: 0px 25px 0 0;
  padding-top: 4px;
}

.top_nav span {
  margin-left: 3px;
}

.top_nav div.fr {
  line-height: 38px;
}

.top_nav div.fr a {
  margin: 0 6px;
}

.top_nav a:link,
.top_nav a:visited,
.top_nav a:hover {
  color: #000;
}

.header {
  border-bottom: 3px solid #346699;
  padding-bottom: 8px;
  color: #000;
}

.header img.fl {
  margin-top: 9px;
}

.header .time {
  padding: 18px 3px 0 15px;
  width: 392px;
  overflow: hidden;
}

.header .drop_down {
  margin: -2px 0 0 0;
  width: 135px;
}

.header .drop_down1 {
  margin: 0;
  width: 106px;
}

.header .drop_down li {
  background: none;
  border-bottom: 1px solid #e0e0e0;
}

.header .drop_down a:link,
.header .drop_down a:visited,
.header .drop_down a:hover {
  color: #000;
  font-size: 12px;
  float: none;
}

.down_list {
  float: right;
  margin: 10px 12px 0 12px;
}

.down_list p {
  border: 1px solid #e0e0e0;
  color: #000;
  padding: 6px 8px;
  line-height: 15px;
  width: 120px;
  height: 16px;
}

.down_list p strong {
  float: left;
  font-weight: normal;
}

.down_list p.small {
  width: 90px;
}

.down_list p span {
  margin: 5px 2px 0 0;
  float: right;
}

.time {
  text-align: center;
  padding: 15px 35px 0 15px;
  line-height: 20px;
  color: #000;
}

.time iframe {
  vertical-align: middle;
}

nav {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
}

nav ul li {
  margin: 0;
  padding: 0;
  background: none;
  float: left;
  padding-right: 14px;
}

nav ul {
  display: block;
  width: 990px;
  margin: 0 auto;
  height: 30px;
  line-height: 26px;
}

nav ul li.navit {
  width: 28px;
  overflow: hidden;
  text-align: center;
}

nav ul li.r20 {
  margin-right: 19px;
}

nav ul li.r0 {
  margin-right: 0px;
}

nav ul li a:link,
nav ul li a:visited {
  color: #000;
  font-size: 14px;
}

nav ul li a:hover {
  color: #900;
}

.sub_nav {
  border-top: 1px solid #e0e0e0;
  color: #e0e0e0;
  padding-top: 10px;
  margin-top: 5px;
  line-height: 25px;
  width: 1000px;
}

.sub_nav img {
  vertical-align: middle;
}

.sub_nav a:link,
.sub_nav a:visited,
.sub_nav a:hover {
  color: #000;
  margin: 0 5px 0 6px;
}

.sub_nav b {
  color: #000;
  margin-right: 0px;
  font-weight: normal;
}

.sub_nav span,
.sub_nav span a:link,
.sub_nav span a:visited,
.sub_nav span a:hover {
  font: normal 12px/160% Arial,Georgia,Helvetica,sans-serif;
}

.main_h {
  width: 700px;
  float: left;
  text-align: center;
  height: auto;
  padding-bottom: 5px;
}

.main_show {
  width: 97%;
  margin: 0 0 0 10px;
  font-size: 12px;
}

.main_show a {
  margin-right: 4px;
}

.main_h p a:link,
.main_h p a:visited,
.main_h p a:hover {
  margin: 0 2px;
}

.main h2 {
  font-size: 16px;
  width: 97%;
  margin: 0 auto;
  line-height: 34px;
  background: url(/img/2013people/images/style_dian.gif) no-repeat left center;
  padding-left: 10px;
  font-weight: normal;
  font-family: "Microsoft YaHei","SimHei";
}

.main h2.blod {
  font-weight: bold;
}

.main_h h1 {
  font-size: 32px;
  height: 30px;
  overflow: hidden;
  padding: 0 0 10px 0;
  color: #033266;
}

.main_h h1 a:link,
.main_h h1 a:visited,
.main_h h1 a:hover {
  color: #033266;
}

.box {
  border: 1px solid #e0e0e0;
  padding: 10px;
  width: 318px;
}

.top_news img {
  float: right;
}

.top_news ul {
  float: left;
}

.top_news ul li {
  color: #033266;
}

.top_news ul.list_12 li a {
  margin-right: 8px;
}

.tv_list li {
  float: left;
  width: 145px;
}

.main .w280 {
  margin-top: -86px;
}

.main {
  padding-top: 10px;
}

.spread {
  background: #f9f9f9;
}

.tuiguang {
  background: #f9f9f9;
  text-align: center;
  margin-top: 15px;
  padding: 15px;
}

.tuiguang a:link,
.tuiguang a:visited,
.tuiguang a:hover {
  margin: 0px;
  color: #666;
  display: inline-block;
  width: 155px;
  text-align: left;
}

.supervise {
  padding: 2px 0 18px 0;
}

.supervise img {
  float: right;
  margin-top: 6px;
}

.supervise ul {
  float: left;
  margin-left: 12px;
  width: 125px;
}

.w280 .supervise ul li {
  line-height: 30px;
  font-size: 12px;
}

.top_title {
  margin-bottom: 15px;
}

.top_title h3 {
  padding: 0 10px;
  font-size: 16px;
}

.inter dl {
  width: 88%;
  margin: 1px auto;
  clear: both;
}

.inter dl dt {
  width: 100%;
  margin: 0 auto;
  padding: 5px 0;
  font-size: 14px;
  font-weight: bold;
}

.inter dl dt,
.inter dl dt a:link,
.inter dl dt a:hover,
.inter dl dt a:visited {
  color: #033266;
}

.inter dl dd {
  color: #003564;
  padding: 0;
}

.inter dl dd img {
  float: left;
  margin-right: 5px;
}

.inter dl dd,
.inter dl dd a:link,
.inter dl dd a:visited,
.inter dl dd a:hover {
  color: #033266;
}

.inter dl.inter_focus dd {
  height: 90px;
  overflow: hidden;
}

.inter dl.inter_unfocus {
  margin: 1px auto;
  padding: 0;
  width: 88%;
}

.inter dl.inter_unfocus dt {
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.inter dl.inter_unfocus dd {
  display: none;
  margin: 0;
}

.inter h4 {
  margin-bottom: 0;
}

.weibo li img {
  vertical-align: middle;
}

.local_news ul {
  margin-bottom: 6px;
}

.paper {
  padding-bottom: 10px;
}

.paper .img_show ul li {
  line-height: 25px;
}

.paper h3 a {
  margin: 0 3px;
}

.links {
  background: #f9f9f9;
  padding: 15px 15px 10px 15px;
  width: 970px;
}

.links a:link,
.links a:visited,
.links a:hover {
  color: #000;
}

.links strong {
  float: left;
  color: #ccc;
  font-weight: normal;
  display: block;
  width: 75px;
  height: auto;
}

.links p.gn {
  float: left;
  width: 570px;
  margin-right: 10px;
  padding-right: 20px;
}

.links strong b {
  font-weight: bold;
  color: #000;
}

.f_link {
  background: url(/img/2013people/images/style_dian_line.gif) repeat-x top;
  padding: 15px 0;
  margin-top: 10px;
}

.f_link p {
  float: left;
  width: 890px;
  line-height: 30px;
}

.links p a {
  margin-right: 10px;
}

.links p {
  line-height: 25px;
}

.stock .img_show {
  margin-bottom: 1px;
}

.city {
  padding: 10px 0;
}

.city p {
  line-height: 26px;
}

.city dl {
  display: block;
  width: 88%;
  margin: 5px auto;
  padding-bottom: 10px;
}

.city dl dd {
  float: left;
  background: none;
  padding: 0;
  margin: 0 1px;
  line-height: 13px;
  list-style: none;
  width: 120px;
  overflow: hidden;
}

.city ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.city ul li {
  list-style: none;
  float: left;
  background: none;
  padding: 0;
  margin: 0;
  line-height: 13px;
}

.r_box p {
  width: 97%;
  margin: 0 auto;
  clear: both;
  color: #666;
}

.r_box p a:link,
.r_box p a:visited,
.r_box p a:hover {
  color: #656565;
  margin: 0 6px;
}

.d_code {
  padding: 15px 35px 15px 35px;
  line-height: 20px;
  width: 208px;
  color: #666;
  height: 85px;
}

.d_code img {
  float: none;
  margin-top: 0px;
}

.d_code a:link,
.d_code a:visited,
.d_code a:hover {
  color: #666;
}

.d_code p {
  margin-top: -15px;
  padding-top: 0px;
  float: left;
  clear: none;
  width: 100px;
  text-align: center;
  line-height: 5px;
  display: inline-block;
}

footer {
  clear: both;
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding-top: 15px;
  text-align: center;
  height: auto;
  line-height: 28px;
  background: url(/img/2013people/images/copyright_bg.jpg) repeat-y center;
  color: #000;
}

footer p.mt10 {
  margin-top: 25px;
}

footer a:link,
footer a:visited,
footer a:hover {
  color: #000;
}

.focus {
  width: 340px;
  position: relative;
}

.focus ul {
  margin: 0;
  padding: 0;
  height: 265px;
  overflow: hidden;
}

.focus ul li {
  display: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}

.focus ul li span {
  position: absolute;
  top: 230px;
  width: 340px;
  left: 0;
  color: #fff;
  z-index: 2;
  text-align: center;
  font-weight: bold;
}

.focus ul li em {
  position: absolute;
  height: 35px;
  top: 225px;
  width: 340px;
  left: 0;
  background: #000;
  filter: alpha(opacity=60);
  opacity: .6;
}

.focus p {
  width: 340px;
  margin: 6px auto 0 auto;
  padding-top: 0px;
  text-align: center;
}

.focus p span {
  width: 10px;
  background: #d3d3d3;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  height: 10px;
  margin: 0 6px;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 1px #A9A9A9 inset;
  -webkit-box-shadow: 1px 1px 1px #A9A9A9 inset;
  box-shadow: 1px 1px 1px #A9A9A9 inset;
}

.focus p span.active {
  background: #59a2d9;
  border-top: 1px solid #396b90;
  border-left: 1px solid #396b90;
}

#box2 {
  margin-top: 20px;
}

.focus span a:link,
.focus span a:visited,
.focus span a:hover {
  color: #fff;
}

.drop_down {
  display: block;
  width: 111px;
  border: 1px solid #e4e4e4;
  position: absolute;
  visibility: hidden;
  margin: -2px 0 0 -10px;
  padding: 0;
  background: #fff;
  z-index: 50;
}

.top_nav .drop_down li {
  width: 91px;
  padding: 1px 10px;
  margin: 0;
  border-bottom: 1px solid #e4e4e4;
  height: 30px;
  line-height: 30px;
}

.drop_down li a {
  float: left;
  margin: 0;
}

.drop_down li span {
  float: right;
  font-weight: bold;
}

.drop_down li:hover {
  background: #f2f2f2;
}

.dis {
  display: block;
}

.undis {
  display: none;
}

.cpc_nav {
  width: 830px;
  text-align: left;
  padding-top: 5px;
}

.cpc_nav a:link,
.cpc_nav a:visited,
.cpc_nav a:hover {
  margin: 0 11px 0 0px;
  color: #900;
}

.p_login {
  width: 220px;
  height: auto;
  visibility: hidden;
  border: 1px solid #336799;
  position: absolute;
  background: #fff;
  margin-top: 40px;
  padding: 10px 20px;
  z-index: 35;
}

.p_login p {
  margin: 3px 0;
}

.p_login p a.red {
  color: #900;
}

.p_login p input,
.p_search input.people_input {
  width: 200px;
  height: 26px;
  color: #d0d0d0;
  border: 1px solid #d0d0d0;
  line-height: 26px;
  padding-left: 10px;
}

.p_login input.people_button_sub,
.p_search input.people_button_sub {
  border: none;
  width: 96px;
  height: 29px;
  background: url(/img/2013people/images/login_bg.gif) repeat-x top;
  border: none;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 0;
}

.top_nav span a {
  display: inline-block;
  width: 30px;
  height: 38px;
}

.top_nav div.fl {
  padding-top: 5px;
}

.top_nav div.fl img {
  vertical-align: middle;
}

.city_list {
  width: 265px;
  height: auto;
  visibility: hidden;
  border: 1px solid #336799;
  position: absolute;
  margin: 20px 0 0 447px;
  background: #fff;
  padding: 10px 10px 5px 10px;
}

.city_list a:link,
.city_list a:visited,
.city_list a:hover {
  margin: 0 5px 0 0;
}

.p_search {
  width: 220px;
  height: auto;
  visibility: hidden;
  border: 1px solid #336799;
  position: absolute;
  margin: 38px 0 0 500px;
  background: #fff;
  padding: 15px 10px;
  z-index: 35;
}

.p_search input.people_input {
  margin-bottom: 10px;
}

.top_ad .tuiguang {
  margin-top: 10px;
  padding: 0;
}

.top_ad .tuiguang a:link,
.top_ad .tuiguang a:visited,
.top_ad .tuiguang a:hover {
  display: inline-block;
  width: 110px;
  margin: 0;
  text-align: left;
}

.top_ad_l {
  width: 700px;
  height: 90px;
}

.top_ad_r {
  width: 280px;
  height: 90px;
}

.sub_nav p {
  float: left;
  width: 515px;
}

.sub_nav span {
  float: left;
}

.top_news ul.list_12 {
  background: url(/img/2013people/images/style_dian_line.gif) repeat-x center top;
  padding-top: 5px;
}

.box_news {
  padding-top: 5px;
}

.box_news li {
  line-height: 29px;
}

.tv_img {
  padding-bottom: 0px;
}

.title_sub_h {
  margin: 10px auto 0 auto;
}

.all_ico {
  background: url(http://www.people.com.cn/img/2013people/images/all_ico_bg.png);
}

.t_people_pop,
.t_bbs_pop {
  width: 236px;
  height: 31px;
  background-position: 0px 0px;
  position: absolute;
  line-height: 36px;
  padding-left: 5px;
  margin: 33px 0 0 295px;
  z-index: 35;
}

.t_people_pop p,
.t_bbs_pop p {
  float: left;
  width: 213px;
}

.close_t_people,
.close_t_bbs {
  width: 26px;
  height: 26px;
  background-position: 0px -31px;
  border: none;
  position: absolute;
  margin: 5px 0 0 1px;
}

.t_bbs_pop {
  margin: 33px 0 0 185px;
}

.f_link p {
  line-height: 30px;
}

#totalcount {
  display: none;
}

.tuiguang_all {
  width: 700px;
  position: absolute;
}

.tuiguang_all .tuiguang {
  width: 310px;
  padding: 5px 15px;
  text-align: left;
  background: none;
  line-height: 26px;
}

.ad_banner {
  overflow: hidden;
  line-height: 14px;
}

.hot_z {
  padding-bottom: 13px;
}

.city dd div {
  position: relative;
  width: 120px;
  height: 80px;
}

.city dd div ul li {
  display: none;
  position: absolute;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: url(/img/2013people/images/replay.jpg) no-repeat;
  position: fixed;
  _position: absolute;
  right: 30px;
  bottom: 100px;
  _bottom: "auto";
}

.data ul li {
  line-height: 27px;
}

.main h2 {
  height: 34px;
  overflow: hidden;
}

li {
  height: 30px;
  overflow: hidden;
  word-break: break-all;
}

ul.list_12 li {
  height: 27px;
}

.city dd div ul li {
  height: 82px;
}

.focus ul li {
  height: 260px;
}

ul.cpc_tuijian li {
  height: auto;
}

.hot_z ul li {
  height: 28px;
}

.title_sub_h h4 {
  margin-bottom: 10px;
}

.top_nav div.fr a {
  margin: 0 2px 0 3px;
}

.top_nav div.fr img {
  margin-top: 10px;
  float: left;
}

.tuiguang a:link,
.tuiguang a:visited,
.tuiguang a:hover {
  margin: 0px;
  color: #666;
  display: inline-block;
  width: 150px;
  text-align: left;
}

.r_box_cpc {
  width: 278px;
  border: 1px solid #e0e0e0;
  padding-bottom: 5px;
}

.r_box_cpc .img_show {
  margin: 0px auto 0px auto;
}

.close_tip {
  display: none;
}

.dfnormal {
  font-weight: normal;
}

.title {
  margin-bottom: 15px;
}

.w280 h4 {
  margin-bottom: 5px;
}

.inter {
  padding-bottom: 2px;
}

.inter dl dt {
  margin: 0 auto;
  padding: 0px 0;
}

.w280 .img_show {
  margin: 0px auto 5px auto;
}

.pb10 {
  padding-bottom: 10px;
}

.supervise div {
  width: 139px;
  height: 60px;
  overflow: hidden;
  position: relative;
}

.supervise div ul {
  float: none;
  margin-left: 0px;
  width: 139px;
}

.supervise div ul li {
  width: 139px;
  height: 60px;
  background: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.supervise div ul li img {
  margin-top: 0px;
}

.title_sub {
  height: 30px;
  overflow: hidden;
}

.r_box h4 {
  margin-bottom: 0;
}

ul.bottom {
  padding-top: 5px;
  margin-top: 4px;
}

.city p {
  line-height: 24px;
}

.pb5 {
  padding-bottom: 5px;
}

.supervise {
  padding: 2px 0 18px 0;
}

.mt5 {
  margin-top: 5px;
}

.img_show {
  margin-bottom: 3px;
  padding-top: 8px;
}

.img_show_h {
  margin-bottom: 3px;
  padding-top: 8px;
}

.img_show_h1 {
  margin-bottom: 5px;
  padding-top: 0px;
}

.w280 .img_show {
  margin-bottom: 3px;
}

.title_news h3,
.title_news h3 a:link,
.title_news h3 a:hover,
.title_news h3 a:visited {
  color: #033266;
}

.title h3 a:link,
.title h3 a:visited,
.title h3 a:hover {
  color: #033266;
}

.title_shear h3 a:link,
.title_shear h3 a:visited,
.title_shear h3 a:hover {
  color: #033266;
}

.w280 h4 a:link,
.w280 h4 a:visited,
.w280 h4 a:hover {
  color: #033266;
}

.main .w280 h4 a.red {
  color: #900;
}

.title h3 {
  border-top: 2px solid #900;
}

#rm_1b4 {
  height: 197px;
  overflow: hidden;
}

.title_shear h3 {
  float: left;
  margin: 5px 0 3px 8px;
  font-size: 16px;
  color: #ccc;
}

.focus {
  width: 340px;
  position: relative;
}

.focus ul li {
  display: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}

.focus ul li span {
  position: absolute;
  top: 230px;
  width: 340px;
  left: 0;
  color: #fff;
  z-index: 2;
  text-align: center;
  font-weight: bold;
}

.focus ul li em {
  position: absolute;
  height: 35px;
  top: 225px;
  width: 340px;
  left: 0;
  background: #000;
  filter: alpha(opacity=60);
  opacity: .6;
}

.focus p {
  width: 340px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

.focus p span {
  width: 7px;
  background: #f9f9f9;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  height: 7px;
  margin: 0 6px;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
}

.focus p span.active {
  background: #59a2d9;
  border-top: 1px solid #396b90;
  border-left: 1px solid #396b90;
}

.city p a:link,
.city p a:visited,
.city p a:hover {
  margin: 0 3px 0 4px;
}

nav ul li {
  padding-right: 3px;
  padding-left: 9px;
}

.sub_nav a:link,
.sub_nav a:visited,
.sub_nav a:hover {
  color: #000;
  margin: 0 3px 0 4px;
}

.city_list a:link,
.city_list a:visited,
.city_list a:hover {
  margin: 0 5px 0 0;
}

.w280 .img_show span.tv_ico {
  margin-left: 0px;
}

.cpc_nav {
  width: 1000px;
  text-align: left;
  padding-top: 10px;
}

.cpc_nav a:link,
.cpc_nav a:visited,
.cpc_nav a:hover {
  margin: 0 19px 0 0px;
  color: #900;
}

.cpc_nav2 {
  padding-top: 0px;
  padding-bottom: 5px;
}

.cpc_nav2 a:link,
.cpc_nav2 a:visited,
.cpc_nav2 a:hover {
  margin: 0 17px 0 0px;
}

.header {
  border-bottom: 3px solid #346699;
  padding-bottom: 1px;
  color: #000;
}

.header img.fl {
  margin-top: 7px;
}

.header .time {
  padding: 28px 3px 0 15px;
}

.header .down_list {
  margin: 20px 12px 0 12px;
}

.header .time {
  padding: 23px 3px 0 15px;
}

.header .down_list {
  margin: 15px 12px 0 12px;
}

.cpc_nav {
  text-align: center;
}

.title_main_dfip h3 {
  padding: 0 0px 0 10px;
}

.title_main_dfip h3.dfnormal {
  padding: 0 0px 0 5px;
}

.title_main_dfip span {
  margin-top: 5px;
}

#rm_1b1 .yhd1 {
  background: url(/img/2013people/images/yhdot1.jpg) no-repeat center;
  display: inline-block;
  width: 9px;
  height: 11px;
  _height: 28px;
  _margin-top: 6px;
  *+height: 24px;
}

#rm_1b1 .yhd2 {
  background: url(/img/2013people/images/yhdot2.jpg) no-repeat center;
  display: inline-block;
  width: 4px;
  height: 11px;
  _height: 28px;
  _margin-top: 6px;
  *+height: 24px;
}

.main h2 i.red,
.main h2 i.red a:link,
.main h2 i.red a:hover,
.main h2 i.red a:visited {
  color: #900;
}

.main h2 i.gray,
.main h2 i.gray a:link,
.main h2 i.gray a:hover,
.main h2 i.gray a:visited {
  color: #e0e0e0;
}

.sub_nav a:link,
.sub_nav a:visited,
.sub_nav a:hover {
  color: #000;
  margin: 0 3px 0 3px;
}

.city_list a:link,
.city_list a:visited,
.city_list a:hover {
  margin: 0 5px 0 0;
}

.search_ico {
  border-right: none;
  padding-right: 3px;
}

.search_ico_line {
  display: inline-block;
  width: 1px;
  height: 37px;
  border-right: 1px solid #ebebeb;
  padding-right: 5px;
  vertical-align: middle;
}

.top_nav ul li {
  padding: 0 4px;
}

.chinaso {
  width: 265px;
  margin: 5px auto;
}

.chinaso form {
  display: block;
  height: 30px;
  overflow: hidden;
}

.chinaso img {
  float: left;
  padding-right: 5px;
  line-height: 29px;
  text-decoration: none;
}

.chinaso input.text {
  color: rgb(0, 0, 0);
  width: 150px;
  height: 27px;
  padding-left: 10px;
  line-height: 27px;
  border: 1px solid #e0e0e0;
  border-right: none;
  float: left;
  font-size: 12px;
}

.chinaso input.one {
  float: left;
  width: 33px;
  height: 29px;
  line-height: 29px;
  display: block;
  background: url(/img/2013people/images/chinaso_search.jpg) no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {}