body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body,
table,
tr,
td,
div,
p {
  font-family: arial,helvetica,sans-serif;
  font-size: 13px;
}

a,
a:visited {
  color: black;
}

#adxtop {
  padding: 0px 11px 11px;
  margin-bottom: 10px;
  height: 105px;
  width: 728px;
}

#maincontent,
.mc {
  background-color: white;
  width: 730px;
  padding: 15px 10px 5px 10px;
  overflow: hidden;
}

#mi2 {
  width: 728px;
  margin-left: 1px;
  display: none;
}

ol.nopad {
  padding: 0px 30px;
  margin: 0;
}

td {
  padding-left: 6px;
  padding-right: 6px;
}

table.nopad td,
td.nopad {
  padding: 0px;
}

table.vokabelheft {
  border-collapse: collapse;
}

table.vokabelheft td {
  border-bottom: 1px solid #36c;
  padding: 3px 10px;
}

td.rlr {
  border-right: 1px solid #f33;
}

dfn {
  color: #fff;
  background-color: #aaa;
  font-style: normal;
  padding: 0px 3px;
  cursor: pointer;
  margin-left: 2px;
  width: 50px;
  text-align: center;
}

em {
  color: #36c;
  font-style: normal;
  font-weight: bold;
}

var {
  color: #36c;
  font-style: normal;
}

abbr {
  color: #039;
  border-bottom: 0;
}

kbd {
  color: #039;
  font-family: serif,arial,helvetica;
}

dd {
  margin-left: 20px;
  line-height: 18px;
}

#overDiv td {
  padding-left: 1px;
  padding-right: 1px;
}

a.nolibg,
a.noline,
.noline a,
.nolibg a,
.noli666 a,
.noli666,
.subnav a,
.orangebar a,
.rightli a,
.searchh1 a {
  text-decoration: none;
}

.noli666 a,
.noli666 {
  color: #666;
}

a.nolibg:hover,
.nolibg a:hover {
  background-color: white;
}

.nolibg a {
  display: block;
  padding: 1px 3px;
}

a.noline:hover,
.noline a:hover,
.noli666 a:hover,
a.noli666:hover,
.subnav a:hover,
.orangebar a:hover,
.rightli a:hover,
.searchh1 a:hover {
  text-decoration: underline;
}

a.bblu {
  color: #36c;
  font-weight: bold;
}

a.taba,
a.tabi:hover {
  text-decoration: none;
  background-color: #36c;
  color: white;
  padding: 3px 6px 1px;
}

a.tabi {
  text-decoration: none;
  color: #36c;
  padding: 2px 6px 1px;
}

a.hometaba,
a.hometabi:hover {
  background-color: darkorange;
  text-decoration: none;
  color: white;
  padding: 3px 6px 1px;
}

a.hometabi {
  text-decoration: none;
  color: darkorange;
  border: 1px solid darkorange;
  padding: 2px 6px 1px;
}

.dym {
  background-color: #ddd;
  color: #333;
  border-bottom: 1px solid #000;
  padding: 3px 6px;
}

.dym a {
  color: #666;
  text-decoration: none;
}

.dym a:hover {
  color: #000;
  text-decoration: none;
  background-color: white;
}

.td1 a,
.td1nl a,
.td2 a,
.td2nl a {
  color: white;
}

.td1nl a,
.td2nl a,
.td3nl a,
.td4nl a,
.td7nl a {
  text-decoration: none;
}

.td1nl a:hover,
.td2nl a:hover,
.td3nl a:hover,
.td4nl a:hover,
.td7nl a:hover {
  text-decoration: underline;
}

.orangebar,
.subnav,
.bluebar,
.subblue {
  border-bottom: 1px solid white;
  width: 716px;
  padding: 3px 6px;
  height: 16px;
  margin-left: 1px;
}

.orangebar {
  background-color: darkorange;
  background-image: url(http://www9.dict.cc/img/bg_orangebar.gif);
}

.subnav {
  background-color: #fc6;
  background-image: url(http://www9.dict.cc/img/bg_subnav.gif);
  background-repeat: repeat-x;
}

.bluebar {
  background-color: #36c;
  color: white;
}

.subblue {
  background-color: #3986e5;
  color: white;
}

.bluebar a,
.subblue a {
  color: white;
}

h1.mainheadline {
  font-size: 12px;
  margin: -6px 0px 0px 4px;
  color: darkorange;
  font-weight: normal;
}

.searchh1 {
  color: white;
  font-size: 13px;
  margin: 0;
  font-weight: normal;
}

.hl1,
h1 {
  color: darkorange;
  font-size: 16px;
  font-weight: bold;
  margin: 25px 0px 3px 0px;
}

.hl2,
h2 {
  font-size: 12pt;
  font-weight: bold;
  margin: 13px 0px 0px 0px;
}

.hl3,
h3 {
  color: #36c;
  font-size: 14px;
  font-weight: bold;
  margin: 13px 0px 0px 0px;
}

.td1,
.td1nl {
  color: white;
  background-color: #36c;
}

.td2,
.td2nl {
  color: white;
  padding: 3px 6px;
  background-color: #666;
}

.td3,
.td3nl,
.td3cml,
.td3cmr {
  background-color: #ddd;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 320px;
}

.td4,
.td4nl,
.td4cml,
.td4cmr {
  background-color: #eee;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 320px;
}

.td5 {
  background-color: #ff9;
}

.td6 {
  border-top: 2px solid darkorange;
  border-bottom: 2px solid darkorange;
  color: darkorange;
  font-size: 14px;
  padding: 8px 8px 1px;
}

.td7,
.td7nl,
.td7cml,
.td7cmr {
  background-color: #e9e9e9;
  border-bottom: 1px solid #ccc;
  word-wrap: break-word;
}

.td3cml,
.td3cmr,
.td4cml,
.td4cmr,
.td7cml,
.td7cmr {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(http://www9.dict.cc/img/bg_cml.gif);
  background-position: center;
  background-repeat: no-repeat;
}

.td3cmr,
.td4cmr,
.td7cmr {
  background-image: url(http://www9.dict.cc/img/bg_cmr.gif);
}

.aftertable {
  margin: 2px 2px 4px 6px;
  font-size: 11px;
  color: #999;
  font-style: italic;
}

.aftertable a,
a.aftertable {
  color: #999;
}

.news {
  border-left: 4px solid #36c;
  background-color: #DDE6EF;
  padding: 6px;
  padding-left: 9px;
  margin-bottom: 3px;
  border-bottom: 1px solid #666;
}

.rightli {
  background-color: #eee;
  padding: 0px 3px;
  margin-bottom: 2px;
  font-size: 11px;
}

.rightli td {
  padding: 0px;
  font-size: 11px;
}

.rightli a {
  color: #666;
}

.rightmsg {
  background-color: #ffc;
  padding: 2px 4px;
  margin-bottom: 11px;
  margin-left: 1px;
  border: 1px solid #666;
}

.inp1 {
  border-width: 1px;
  background-color: darkorange;
  color: white;
}

.inp2 {
  border-width: 1px;
  background-color: #ddd;
  width: 26px;
}

.inp3 {
  border-width: 1px;
  background-color: #ccc;
  width: 42px;
  font-size: 10px;
}

.inp4 {
  border-width: 1px;
  background-color: #ccc;
  width: 85px;
  font-size: 10px;
}

.inp5 {
  border-width: 1px;
  background-color: #ccc;
  width: 18px;
  font-size: 10px;
}

.inp6 {
  border-color: #666;
  height: 18px;
  border-left-color: #fff;
  border-width: 1px;
  background-color: #eee;
  font-size: 10px;
}

.inp7 {
  border-width: 1px;
  background-color: #ddd;
}

.amenu {
  color: white;
  background-color: #666;
  padding: 0 0 0 9px;
  font: 11px Tahoma, sans serif;
  width: 225px;
}

.amenu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.amenu a:hover {
  text-decoration: underline;
}

.cmenu {
  color: white;
  background-image: url(http://www9.dict.cc/img/bg_cm.gif);
  padding: 1px;
  border: 2px solid white;
  border-right-color: #666;
  border-bottom-color: #666;
}

.cmenu a {
  display: block;
  font: 11px Tahoma, sans serif;
  text-decoration: none;
  color: #000;
  padding: 5px 5px 5px 30px;
}

.cmenu a:hover {
  background-color: #ddd;
  border: 1px solid #808080;
  padding: 4px 5px 4px 29px;
}

@media print {
  .hidefromprint {
    visibility: hidden;
  }

  .orangebar,
.subnav {
    visibility: hidden;
  }

  #adxtop,
#adxtop2,
#adrig,
#langbar {
    display: none;
  }

  div {
    overflow: visible !important;
  }
}

.vocbox li {
  display: block;
  margin: 1px;
  padding: 2px;
  font-size: 20px;
  text-align: center;
  background-color: #fff;
}

.langlabelfo {
  background-color: #ccc;
  font-size: 10px;
  margin: 2px 0px 2px 3px;
  border: 1px solid #aaa;
}

.langlabelmy {
  background-color: #eee;
  font-size: 10px;
  border: 1px solid #999;
  color: #333;
  width: 44px;
  float: left;
  text-align: center;
  margin-right: 5px;
  padding: 1px;
}

.msg {
  background-color: #ffc;
  padding: 3px 5px;
  margin: 0 0 1px 1px;
}

#msg {
  width: 718px;
  background-color: #ffc;
  padding: 3px 5px;
  margin: 0 0 1px 1px;
}

.gameanswer {
  background-color: white;
  padding: 1px 8px;
  margin: 3px 5px 3px 17px;
  display: block;
  width: 180px;
  text-decoration: none;
  border: 1px solid #fc6;
  border-left-color: white;
  border-top-color: white;
  text-align: left;
}

.gameanswer:hover {
  background-color: #fc6;
}

.sc_but a {
  color: black;
  text-decoration: none;
  padding: 0 4px;
  background-color: #ddd;
  border: 1px solid #666;
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.sc_but a:hover {
  background-color: white;
}