form {
  margin: 0px;
}

label {
  cursor: default;
}

.normal {
  font-weight: normal;
}

.inlineimg {
  vertical-align: middle;
}

.underline {
  text-decoration: underline;
}

.vbmenu_hilite * {
  cursor: pointer;
}

.floatcontainer:after,
.block_row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.floatcontainer,
.block_row {
  display: inline-block;
}

* html .floatcontainer,
* html .block_row {
  height: 1%;
}

.floatcontainer,
.block_row {
  display: block;
}

body {
  overflow-x: hidden;
  margin: 5px 10px 10px 10px;
  padding: 0px;
  font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif;
  font-size: 12px;
  background-image: url(./images/arka1.png);
}

a:link,
body_alink {
  color: #22229C;
}

a:visited,
body_avisited {
  color: #22229C;
}

a:hover,
a:active,
body_ahover {
  color: #FF4400;
}

.page {
  background: #FFFFFF;
  color: #000000;
}

td,
th,
p,
li {
  font: 10pt verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.tborder {
  background: #D1D1E1;
  color: #000000;
}

.tcat {
  background: #A74351 url(images/gradients/gradient_tcat.gif) repeat-x top left;
  color: #FFFFFF;
  font: bold 10pt verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  padding: 5px;
}

.tcat a:link,
.tcat_alink {
  color: #ffffff;
  text-decoration: none;
}

.tcat a:visited,
.tcat_avisited {
  color: #ffffff;
  text-decoration: none;
}

.tcat a:hover,
.tcat a:active,
.tcat_ahover {
  color: #FFFF66;
  text-decoration: underline;
}

.thead a:link,
.thead_alink {
  color: #FFFFFF;
}

.thead a:visited,
.thead_avisited {
  color: #FFFFFF;
}

.thead a:hover,
.thead a:active,
.thead_ahover {
  color: #FFFF00;
}

.tfoot {
  background: #34495E;
  color: #E0E0F6;
}

.tfoot a:link,
.tfoot_alink {
  color: #E0E0F6;
}

.tfoot a:visited,
.tfoot_avisited {
  color: #E0E0F6;
}

.tfoot a:hover,
.tfoot a:active,
.tfoot_ahover {
  color: #FFFF66;
}

.alt1,
.alt1Active {
  background: #F5F5FF;
  color: #000000;
}

.alt2,
.alt2Active {
  background: #E1E4F2;
  color: #000000;
}

.inlinemod {
  background: #FFFFCC;
  color: #000000;
}

.wysiwyg {
  background: #F5F5FF;
  color: #000000;
  font: 10pt verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  margin: 5px 10px 10px 10px;
  padding: 0px;
}

.wysiwyg a:link,
.wysiwyg_alink {
  color: #22229C;
}

.wysiwyg a:visited,
.wysiwyg_avisited {
  color: #22229C;
}

.wysiwyg a:hover,
.wysiwyg a:active,
.wysiwyg_ahover {
  color: #FF4400;
}

textarea,
.bginput {
  font: 10pt verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.bginput option,
.bginput optgroup {
  font-size: 10pt;
  font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.button {
  font: 11px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

select {
  font: 11px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

option,
optgroup {
  font-size: 11px;
  font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.smallfont {
  font: 11px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.time {
  color: #666686;
}

.navbar {
  font: 11px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.highlight {
  color: #FF0000;
  font-weight: bold;
}

.fjsel {
  background: #3E5C92;
  color: #E0E0F6;
}

.fjdpth0 {
  background: #F7F7F7;
  color: #000000;
}

.panel {
  background: #E4E7F5 url(images/gradients/gradient_panel.gif) repeat-x top left;
  color: #000000;
  padding: 10px;
  border: 2px outset;
}

.panelsurround {
  background: #D1D4E0 url(images/gradients/gradient_panelsurround.gif) repeat-x top left;
  color: #000000;
}

legend {
  color: #22229C;
  font: 11px tahoma,verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.vbmenu_control {
  background: #738FBF;
  color: #FFFFFF;
  font: bold 11px tahoma,verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  padding: 3px 6px 3px 6px;
  white-space: nowrap;
}

.vbmenu_control a:link,
.vbmenu_control_alink {
  color: #FFFFFF;
  text-decoration: none;
}

.vbmenu_control a:visited,
.vbmenu_control_avisited {
  color: #FFFFFF;
  text-decoration: none;
}

.vbmenu_control a:hover,
.vbmenu_control a:active,
.vbmenu_control_ahover {
  color: #FFFFFF;
  text-decoration: underline;
}

.vbmenu_popup {
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #0B198C;
}

.vbmenu_option {
  background: #BBC7CE;
  color: #000000;
  font: 11px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  white-space: nowrap;
  cursor: pointer;
}

.vbmenu_option a:link,
.vbmenu_option_alink {
  color: #22229C;
  text-decoration: none;
}

.vbmenu_option a:visited,
.vbmenu_option_avisited {
  color: #22229C;
  text-decoration: none;
}

.vbmenu_option a:hover,
.vbmenu_option a:active,
.vbmenu_option_ahover {
  color: #FFFFFF;
  text-decoration: none;
}

.vbmenu_hilite {
  background: #8A949E;
  color: #FFFFFF;
  font: 11px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  white-space: nowrap;
  cursor: pointer;
}

.vbmenu_hilite a:link,
.vbmenu_hilite_alink {
  color: #FFFFFF;
  text-decoration: none;
}

.vbmenu_hilite a:visited,
.vbmenu_hilite_avisited {
  color: #FFFFFF;
  text-decoration: none;
}

.vbmenu_hilite a:hover,
.vbmenu_hilite a:active,
.vbmenu_hilite_ahover {
  color: #FFFFFF;
  text-decoration: none;
}

.bigusername {
  font-size: 14pt;
}

td.thead,
th.thead,
div.thead {
  padding: 4px;
}

.pagenav a {
  text-decoration: none;
}

.pagenav td {
  padding: 2px 4px 2px 4px;
}

.shade,
a.shade:link,
a.shade:visited {
  color: #777777;
  text-decoration: none;
}

a.shade:active,
a.shade:hover {
  color: #FF4400;
  text-decoration: underline;
}

.tcat .shade,
.thead .shade,
.tfoot .shade {
  color: #DDDDDD;
}

.fieldset {
  margin-bottom: 6px;
}

.fieldset,
.fieldset td,
.fieldset p,
.fieldset li {
  font-size: 11px;
}

.navbar2 {
  font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  margin-bottom: 5pt;
  margin-top: 5px;
  font-size: 8pt;
}

.h1navbar {
  font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  margin: 0;
  margin-left: 4px;
  font-size: 13px;
  font-weight: bold;
  display: inline;
}

.mert {
  height: 3px;
  background-image: url("images/serit2.png");
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dhtmlwindow {
  position: absolute;
  border: 0px;
  visibility: hidden;
}

.drag-handle {
  padding: 1px;
  text-indent: 3px;
  cursor: move;
  overflow: auto;
  width: 100%;
}

.drag-handle .drag-controls {
  position: absolute;
  right: 0px;
  top: 10px;
  cursor: hand;
  cursor: pointer;
}

.drag-contentarea {
  height: 20px;
  padding: 2px;
  overflow: auto;
}

.drag-statusarea {
  border-top: 1px solid gray;
  background-color: #F8F8F8;
  height: 13px;
}

.drag-resizearea {
  float: right;
  width: 13px;
  height: 13px;
  cursor: nw-resize;
  font-size: 0;
}

.effect7 {
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 7px 7px;
  border-bottom-right-radius: 7px 7px;
  border-color: #d8dde1;
}

.effect7:before,
.effect7:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px/ 10px;
  border-radius: 100px / 10px;
}

.effect7:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.subesi {
  background-color: #9956B0;
  display: block;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  color: #FFF;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 3px;
  background-image: -webkit-gradient(linear,0.00% 43.86%,100.00% 56.14%,color-stop(19.17%,rgba(153,0,204,1.00)),color-stop(53.89%,rgba(180,0,142,0.84)),color-stop(78.76%,rgba(179,1,140,0.83)),color-stop(100%,rgba(112,9,79,0.80)));
  background-image: -webkit-linear-gradient(353deg,rgba(153,0,204,1.00) 19.17%,rgba(180,0,142,0.84) 53.89%,rgba(179,1,140,0.83) 78.76%,rgba(112,9,79,0.80) 100%);
  background-image: linear-gradient(97deg,rgba(153,0,204,1.00) 19.17%,rgba(180,0,142,0.84) 53.89%,rgba(179,1,140,0.83) 78.76%,rgba(112,9,79,0.80) 100%);
  -webkit-box-shadow: 2px 2px 2px #CCC;
  box-shadow: 2px 2px 2px #CCC;
  width: 192px;
}

.bilgiler {
  margin: 0 auto;
  width: 222px;
  min-width: 222px;
  position: relative;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icerik {
  min-width: 195px;
  font-family: "Consolas","Monaco",monospace;
  border: thin dashed #999;
  display: inline-block;
  padding: 10px;
  background-color: #f5f5ff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  font-size: 12px;
  box-shadow: 0 1px 4px #aaa;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.butonlar_but {
  clear: both;
  list-style: none outside none;
  margin: 0px auto 0;
  padding: 0;
  position: relative;
  text-align: center;
}

ul.butonlar_but li {
  background: none repeat scroll 0 0 #cccccc;
  border-radius: 50px;
  box-shadow: 0 1px 2px #555555 inset;
  display: inline-block;
  height: 12px;
  width: 12px;
  cursor: pointer;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  border: 1px solid #eee;
}

ul.butonlar_but li:hover {
  background: none repeat scroll 0 0 #ccc;
}

.dis_kap {
  margin: 8px auto;
  width: 222px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ic_alan {
  z-index: 40;
  min-width: 222px;
  float: left;
  margin-left: 0;
  margin-right: 5px;
  position: relative;
}

.ic_alan2 {
  z-index: 30;
  min-width: 222px;
  position: relative;
}

.kayan {
  overflow: hidden;
  width: 460px;
}

.alinti_metni {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #DDDDDD;
  border-radius: 0 0 2px 2px;
  box-shadow: 4px 1px 8px #EEEEEE inset;
  overflow: hidden;
  padding: 15px 20px 30px;
  position: relative;
}

.gizleGoster {
  cursor: pointer;
  position: absolute;
  right: 16px;
  text-align: center;
  top: 1px;
}

.gizleGoster:hover {}

.gizli {
  background: url("aln_goster2.png") repeat scroll 0 0 rgba(0,0,0,0);
  border-radius: 3px;
  height: 33px;
  width: 103px;
}

.gorunur {
  background: url("aln_gizle2.png") repeat scroll 0 0 rgba(0,0,0,0);
  border-radius: 3px;
  height: 33px;
  width: 103px;
}

.mesaj_alinti {
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  position: relative;
}

.kaplama {
  height: 40px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 80px;
  font-size: 11px;
  line-height: 1;
  text-align: center;
  color: #f9bc6d;
  padding-top: 65px;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,#EEEEEE 80%);
  background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,#EEEEEE 80%);
  background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,#EEEEEE 80%);
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,#EEEEEE 80%) repeat scroll 0 0 rgba(0,0,0,0);
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.popup {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 1px 2px #888888 inset;
  color: #666666;
  cursor: pointer;
  font: 11px arial;
  overflow: hidden;
  padding: 10px 20px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 27px;
  width: 190px;
  z-index: 40;
}

.alinti_baslik {
  margin-top: 12px;
  -moz-user-select: none;
  background-image: linear-gradient(85deg,#C6D5E3 12.96%,#6E8FB9 75.13%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 1px 3px #666666;
  height: 30px;
  line-height: 28px;
  margin-top: 12px;
  padding-top: 0;
  text-indent: 15px;
}

blockquote.testimonial {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #0099E6;
  border-radius: 10px;
  border: 0;
  color: #0099E6;
  font-family: Georgia,serif;
  font-style: italic;
  margin: 0;
  padding: 10px 50px;
  position: relative;
}

blockquote.testimonial p {
  color: #FFF;
  font-family: Georgia,serif;
  font-style: italic;
  font-size: 1em;
  line-height: 1.3;
}

blockquote.testimonial:before {
  left: 10px;
  top: 0;
}

blockquote.testimonial:before,
blockquote.testimonial:after {
  color: #FFF;
  content: "\201C";
  font-size: 80px;
  font-style: normal;
  line-height: 1;
  position: absolute;
}

blockquote.testimonial:after {
  bottom: -0.5em;
  content: "\201D";
  right: 10px;
}

div.testimonial-arrow-down {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #0099E6;
  height: 0;
  margin: 0 0 0 25px;
  width: 0;
}

div.testimonial-author {
  margin: 8px 0 0 8px;
}

div.testimonial-author div.thumbnail {
  float: left;
  margin-right: 7px;
  margin-top: -5px;
}

div.testimonial-author strong {
  color: #111;
  display: block;
  padding-top: 7px;
}

div.testimonial-author span {
  color: #666;
  display: block;
  font-size: 12px;
}

div.testimonial-author p {
  color: #999;
  margin: 0 0 0 25px;
  text-align: left;
}

.ipucu {
  background-color: #35BDFF;
}

.span6 .testimonial p a {
  color: rgb(255,255,255);
  text-decoration: blink;
}

body {
  background: #E1E1E2;
  color: #000;
  font: 12px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  line-height: 16px;
}

a:link,
body_alink {
  color: #22229C;
}

a:visited,
body_avisited {
  color: #22229C;
}

a:hover,
a:active,
body_ahover {
  color: #F40;
}

.page {
  background: #FFF;
  color: #000;
}

td,
th,
p,
li {
  font: 10pt verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.tborder {
  background: #D1D1E1;
  color: #000;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #666;
  -webkit-box-shadow: 0 1px 3px #666;
  box-shadow: 0 1px 3px #666;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f7f7f7');
  background-image: -moz-linear-gradient(top,#fff,#f7f7f7);
  background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#f7f7f7));
  background-image: -webkit-linear-gradient(top,#fff,#f7f7f7);
  background-image: linear-gradient(to bottom,#fff,#f7f7f7);
}

.tcat {
  background: #869BBF url(images/gradients/gradient_tcat.gif) repeat-x top left;
  color: #FFF;
  font: bold 10pt verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.tcat a:link,
.tcat_alink {
  color: #fff;
  text-decoration: none;
}

.tcat a:visited,
.tcat_avisited {
  color: #fff;
  text-decoration: none;
}

.tcat a:hover,
.tcat a:active,
.tcat_ahover {
  color: #FF6;
  text-decoration: underline;
}

.thead {
  color: #FFF;
  font: bold 11px tahoma,verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  background-image: -webkit-gradient(linear,0.00% 72.26%,100.00% 27.74%,color-stop(0%,rgba(16,96,144,0.95)),color-stop(100%,rgba(0,55,106,1.00)));
  background-image: -webkit-linear-gradient(24deg,rgba(16,96,144,0.95) 0,rgba(0,55,106,1.00) 100%);
  background-image: linear-gradient(66deg,rgba(16,96,144,0.95) 0,rgba(0,55,106,1.00) 100%);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.thead a:link,
.thead_alink {
  color: #FFF;
}

.thead a:visited,
.thead_avisited {
  color: #FFF;
}

.thead a:hover,
.thead a:active,
.thead_ahover {
  color: #FF0;
}

.tfoot {
  background: #3E5C92;
  color: #E0E0F6;
  background-color: #34495E;
}

.tfoot a:link,
.tfoot_alink {
  color: #E0E0F6;
}

.tfoot a:visited,
.tfoot_avisited {
  color: #E0E0F6;
}

.tfoot a:hover,
.tfoot a:active,
.tfoot_ahover {
  color: #FF6;
}

.alt1,
.alt1Active {
  background: #F5F5FF;
  color: #000;
}

.alt2,
.alt2Active {
  background: #E1E4F2;
  color: #000;
  background-image: url(../../images/gradients/alt2_fw.png);
}

.inlinemod {
  background: #FFC;
  color: #000;
}

.wysiwyg {
  background: #F5F5FF;
  color: #000;
  font: 10pt verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  margin: 5px 10px 10px 10px;
  padding: 0;
}

.wysiwyg a:link,
.wysiwyg_alink {
  color: #22229C;
}

.wysiwyg a:visited,
.wysiwyg_avisited {
  color: #22229C;
}

.wysiwyg a:hover,
.wysiwyg a:active,
.wysiwyg_ahover {
  color: #F40;
}

textarea,
.bginput {
  font: 10pt verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.bginput option,
.bginput optgroup {
  font-size: 10pt;
  font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.button {
  font: 11px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

select {
  font: 11px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

option,
optgroup {
  font-size: 11px;
  font-family: verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.smallfont {
  font: 11px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.time {
  color: #666686;
}

.navbar {
  font: 11px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.highlight {
  color: #F00;
  font-weight: bold;
}

.fjsel {
  background: #3E5C92;
  color: #E0E0F6;
}

.fjdpth0 {
  background: #F7F7F7;
  color: #000;
}

.panel {
  background: #E4E7F5 url(images/gradients/gradient_panel.gif) repeat-x top left;
  color: #000;
  padding: 10px;
  border: 2px outset;
}

.panelsurround {
  background: #D1D4E0 url(images/gradients/gradient_panelsurround.gif) repeat-x top left;
  color: #000;
}

legend {
  color: #22229C;
  font: 11px tahoma,verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
}

.vbmenu_control {
  background: #738FBF;
  color: #FFF;
  font: bold 11px tahoma,verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  padding: 3px 6px 3px 6px;
  white-space: nowrap;
}

.vbmenu_control a:link,
.vbmenu_control_alink {
  color: #FFF;
  text-decoration: none;
}

.vbmenu_control a:visited,
.vbmenu_control_avisited {
  color: #FFF;
  text-decoration: none;
}

.vbmenu_control a:hover,
.vbmenu_control a:active,
.vbmenu_control_ahover {
  color: #FFF;
  text-decoration: underline;
}

.vbmenu_popup {
  background: #FFF;
  color: #000;
  border: 1px solid #0B198C;
}

.vbmenu_option {
  background: #BBC7CE;
  color: #000;
  font: 11px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  white-space: nowrap;
  cursor: pointer;
}

.vbmenu_option a:link,
.vbmenu_option_alink {
  color: #22229C;
  text-decoration: none;
}

.vbmenu_option a:visited,
.vbmenu_option_avisited {
  color: #22229C;
  text-decoration: none;
}

.vbmenu_option a:hover,
.vbmenu_option a:active,
.vbmenu_option_ahover {
  color: #FFF;
  text-decoration: none;
}

.vbmenu_hilite {
  background: #8A949E;
  color: #FFF;
  font: 11px verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
  white-space: nowrap;
  cursor: pointer;
}

.vbmenu_hilite a:link,
.vbmenu_hilite_alink {
  color: #FFF;
  text-decoration: none;
}

.vbmenu_hilite a:visited,
.vbmenu_hilite_avisited {
  color: #FFF;
  text-decoration: none;
}

.vbmenu_hilite a:hover,
.vbmenu_hilite a:active,
.vbmenu_hilite_ahover {
  color: #FFF;
  text-decoration: none;
}

.bigusername {
  font-size: 14pt;
}

td.thead,
th.thead,
div.thead {
  padding: 4px;
}

.pagenav a {
  text-decoration: none;
}

.pagenav td {
  padding: 2px 4px 2px 4px;
}

.shade,
a.shade:link,
a.shade:visited {
  color: #777;
  text-decoration: none;
}

a.shade:active,
a.shade:hover {
  color: #F40;
  text-decoration: underline;
}

.tcat .shade,
.thead .shade,
.tfoot .shade {
  color: #DDD;
}

.fieldset {
  margin-bottom: 6px;
}

.fieldset,
.fieldset td,
.fieldset p,
.fieldset li {
  font-size: 11px;
}

.tborder2 {
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f7f7f7');
  background-image: -moz-linear-gradient(top,#fff,#f7f7f7);
  background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#f7f7f7));
  background-image: -webkit-linear-gradient(top,#fff,#f7f7f7);
  background-image: linear-gradient(to bottom,#fff,#f7f7f7);
  border: 1px solid #BFBFBF;
}

.kare {
  width: 60px;
  height: 60px;
  background-color: #E1E4F2;
  max-height: 60px;
  max-width: 60px;
}

.daire {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  background-color: #FFF;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center top;
  max-height: 60px;
  -webkit-background-size: 60px;
  -mox-background-size: 60px;
  background-size: 60px;
  background-origin: content-box;
  -webkit-background-origin: content-box;
  -mox-background-origin: content-box;
}

.profust {
  margin-left: 12px;
  overflow: auto;
  float: left;
}

.eimza {
  padding: 12px;
}

.effectr {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
  border-top-left-radius: 0;
  border-bottom-left-radius: 7px 7px;
  border-bottom-right-radius: 7px 7px;
  border-color: #d8dde1;
}

.effectr:before,
.effectr:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px/ 10px;
  border-radius: 100px / 10px;
}

.effectr:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.cerceve {
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.page1 {
  border-radius: 0 0 10px 10px;
  background-color: #34495E;
}

.page2 {
  border-radius: 5px 5px 0 0;
  background-color: #34495E;
}

#cihan h1 {
  margin-top: 1px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  padding-left: 12px;
  font: bold 12px verdana;
}

.cf-hidden {
  display: none;
}

.cf-invisible {
  visibility: hidden;
}

.ui-mobile [data-role="page"],
.ui-mobile [data-role="dialog"],
.ui-page {
  top: auto;
}