body {
  color: #000000;
  font-size: 93%;
  line-height: 120%;
  font-family: Arial,Verdana,sans;
  margin: 3px;
}

td {
  color: #000000;
  font-size: 93%;
  line-height: 120%;
  font-family: Arial,Verdana,sans;
}

th {
  font-size: 93%;
  font-family: Arial,Verdana,sans;
  font-weight: lighter;
  background-color: #FFdf89;
  padding-top: 2px;
  padding-bottom: 2px;
}

a {
  text-decoration: none;
  color: #464E90;
}

a:visited {
  text-decoration: none;
  color: #2200B3;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 93%;
  margin: 0px;
  font-weight: lighter;
}

h2 {
  font-size: 105%;
  font-family: Arial,Verdana,sans;
  vertical-align: top;
  font-weight: normal;
}

h3 {
  font-size: 93%;
  margin: 0px;
  font-weight: normal;
}

img {
  vertical-align: middle;
}

form {
  margin: 0px;
  padding: 0px;
}

.req {
  background-color: #cccccc;
}

.pub {
  text-align: left;
}

.error {
  color: #FF0000;
}

.cC {
  background-color: #fff8dc;
  border-style: solid;
  border-width: 2px;
  border-color: #FFdf89;
  padding: 0px;
  font-weight: lighter;
}

.cT {
  border-spacing: 0px;
  padding: 0px;
  font-weight: lighter;
}

.aC {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #FFdf89;
  font-weight: lighter;
}

.td1 {
  vertical-align: middle;
  padding-left: 2px;
}

.help {
  font-size: 93%;
  display: none;
  width: 100%;
}

.helpTitle {
  width: 100%;
}

.content {
  margin: 20px;
}

.contentDiv {
  border-width: 2px;
  border-color: #ffdf89;
  background-color: #fff8dc;
  border-style: solid;
  width: 98%;
  margin-bottom: 15px;
  padding: 3px;
}

.contentDivRight {
  border-width: 2px;
  border-color: #ffdf89;
  border-style: solid;
  width: 95%;
  margin-bottom: 15px;
  padding: 3px;
  background-color: #fff8dc;
}

.contentHead {
  background-color: #ffdf89;
  padding-bottom: 4px;
  margin-left: -3px;
  margin-top: -3px;
  margin-right: -3px;
  font-weight: bold;
  margin-bottom: 4px;
}

.required {
  background-color: #FFdf89;
}

.inputTextCell {
  text-align: right;
  vertical-align: middle;
}

.altRow {
  background-color: #ffee99;
}

.nav {
  width: 192px;
  background-color: #ffdf89;
}

.navPoint {
  padding-top: 10px;
  padding-left: 20px;
  color: #0000ff;
  font-weight: bold;
}

.navigationField {
  background-color: #fff8dc;
  margin-top: 5px;
  border-width: 2px;
  border-color: #ffdf89;
  border-style: solid;
}

.navigationHead {
  background-color: #ffdf89;
  padding-bottom: 4px;
}

.navigationGroup {
  margin-left: 15px;
}

.navigationPoint {
  font-weight: normal;
  color: #0000ff;
  height: 120%;
  margin-top: 2px;
  margin-bottom: 0px;
}

.learningContent {}

.learningUnit {
  padding-left: 10px;
}

.learningLection {
  padding-left: 10px;
}

.learningLectionList {
  display: none;
}

#divMoreInfo {
  position: absolute;
  visibility: hidden;
  background-color: #ffee99;
  border: 1px outset black;
  padding: 2px;
}

#divMoreInfo tr {
  margin-top: 1px;
}

#divForumInfo {
  visibility: hidden;
  display: none;
  padding: 0px;
}

.divForumInfo {
  padding: 0px;
  height: 300px;
  overflow: auto;
}

.divForumInfoHeader {
  width: 100%;
  text-align: right;
  background-color: #ffdf89;
  margin: 0px;
  font-size: 160%;
  font-weight: bold;
  height: 20px;
}

.ye td {
  border-top-width: 1px;
  border-top-color: #ffdf89;
  border-top-style: solid;
}

body {
  background-color: #cccccc;
}

#filter {
  position: absolute;
  display: none;
  width: 160;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  z-index: 3;
  background-color: #ffffff;
}

#filter table {
  width: 100%;
}

#filter th {
  margin: 0px;
  padding: 2px;
  background-color: #ffee99;
  color: #000000;
  font-size: 90%;
  text-align: left;
}

#filter td {
  font-size: 90%;
}

#contentDisplayVocvables {
  height: 500px;
  overflow: scroll;
}

.maxwidth {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}