body {
  background: none repeat scroll 0 0 #E9E9E9;
  text-align: center;
}

body,
textarea,
input,
select {
  color: #343434;
  font-family: Arial;
  font-size: 12px;
}

img,
body,
form,
fieldset,
label,
select {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

img {
  border: none;
}

a {
  color: #0000ff;
  outline: medium none;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

h3 {
  margin: 0;
  padding: 0;
}

.canvascontbody {
  background: url("http://all-free-download.com/images/bgd_body.gif") repeat-x top left #E9E9E9;
}

.contbody {
  margin: 0 auto;
  text-align: left;
  width: 996px;
}

.logo {
  height: 46px;
  padding-top: 7px;
  float: left;
}

.menu {
  margin: 0 0 0 0;
  clear: both;
}

.menu a span img {
  margin: 3px 0 3px 0;
}

.menu a:hover {
  text-decoration: underline;
}

.menu a span {
  line-height: 26px;
  height: 26px;
  _height: auto;
  padding: 0 6px;
  display: block;
  cursor: pointer;
}

.menu a {
  color: #FFF;
  margin: 0 1px 0 0;
  font-weight: bold;
  display: block;
  float: left;
  cursor: pointer;
}

.menu a.Current {
  background: url(http://all-free-download.com/images/mainnav_tabright_o.gif) right top no-repeat;
}

.menu a.Current span {
  color: #FF0000;
  background: url(http://all-free-download.com/images/mainnav_tableft_o.gif) 0 0 no-repeat;
}

.submenu {
  clear: both;
  margin: 0 0 0px;
  position: relative;
  height: 26px;
  padding-top: 8px;
  padding-left: 6px;
}

.submenu_left {
  float: left;
}

.submenu_right {
  float: right;
}

.SearchTextBox {
  padding-top: 8px;
  padding-left: 33px;
  float: left;
}

.SearchTextBox select {
  display: none;
}

.inputbox {
  font-size: 16px;
  height: 18px;
  width: 368px;
  font-weight: bold;
  margin-top: 2px;
  border: 1px solid #FFFFFF;
}

.searchbox {
  border: 1px solid #006600;
  padding: 3px 6px 3px 6px;
}

.btn-search {
  vertical-align: top;
}

.footer {
  background: url("http://all-free-download.com/images/bgd_footer.gif") repeat-x scroll 0 0 #FFFFFF;
  color: #878788;
  margin-top: 16px;
  padding: 10px 0 0 15px;
  text-align: left;
  width: auto;
}

.footer_content {
  margin: 0 auto;
  width: 996px;
}

.left_col {
  display: inline;
  float: left;
  margin: 0px 10px 0px 0px;
  width: 680px;
  padding: 0;
}

.right_col {
  display: inline;
  float: left;
  width: 306px;
  padding: 0;
}

.left_col_detail {
  display: inline;
  float: left;
  margin: 0px 10px 0px 0px;
  width: 450px;
  padding: 0;
}

.right_col_detail {
  display: inline;
  float: left;
  width: 536px;
  padding: 0;
}

.legend-title {
  background: white;
  margin: 0 6px 0 6px;
}

.legend {
  background: url("http://all-free-download.com/images/680_top.gif") no-repeat scroll 0 0 transparent;
  padding: 5px 0;
  margin-top: 3px;
  margin-bottom: 0px;
}

.legend_content {
  background: url("http://all-free-download.com/images/680_loop.gif") repeat-y scroll 0 0 transparent;
  margin-bottom: 0px;
}

.legend_bot {
  background: url("http://all-free-download.com/images/680_bottom.gif") no-repeat scroll 0 0 transparent;
  font-size: 1px;
  height: 10px;
}

.legend_306 {
  background: url("http://all-free-download.com/images/306_top.gif") no-repeat scroll 0 0 transparent;
  padding: 5px 0;
  margin-top: 3px;
  margin-bottom: 0px;
}

.legend_content_306 {
  background: url("http://all-free-download.com/images/306_loop.gif") repeat-y scroll 0 0 transparent;
  margin-bottom: 0px;
}

.legend_content_detail_306 {
  padding: 0px 3px 0px 3px;
}

.legend_bot_306 {
  background: url("http://all-free-download.com/images/306_bottom.gif") no-repeat scroll 0 0 transparent;
  font-size: 1px;
  height: 10px;
}

.legend_996 {
  background: url("http://all-free-download.com/images/996_top.gif") no-repeat scroll 0 0 transparent;
  padding: 5px 0;
  margin-top: 3px;
  margin-bottom: 0px;
}

.legend_content_996 {
  background: url("http://all-free-download.com/images/996_loop.gif") repeat-y scroll 0 0 transparent;
  margin-bottom: 0px;
}

.legend_bot_996 {
  background: url("http://all-free-download.com/images/996_bottom.gif") no-repeat scroll 0 0 transparent;
  font-size: 1px;
  height: 10px;
}

.legend_450 {
  background: url("http://all-free-download.com/images/450_top.gif") no-repeat scroll 0 0 transparent;
  padding: 5px 0;
  margin-top: 3px;
  margin-bottom: 0px;
}

.legend_content_450 {
  background: url("http://all-free-download.com/images/450_loop.gif") repeat-y scroll 0 0 transparent;
  margin-bottom: 0px;
}

.legend_bot_450 {
  background: url("http://all-free-download.com/images/450_bottom.gif") no-repeat scroll 0 0 transparent;
  font-size: 1px;
  height: 10px;
}

.legend_536 {
  background: url("http://all-free-download.com/images/536_top.gif") no-repeat scroll 0 0 transparent;
  padding: 5px 0;
  margin-top: 3px;
  margin-bottom: 0px;
}

.legend_content_536 {
  background: url("http://all-free-download.com/images/536_loop.gif") repeat-y scroll 0 0 transparent;
  margin-bottom: 0px;
}

.legend_bot_536 {
  background: url("http://all-free-download.com/images/536_bottom.gif") no-repeat scroll 0 0 transparent;
  font-size: 1px;
  height: 10px;
}

div.category_menu {}

div.category_menu a {
  display: block;
  outline: none;
  padding: 1px 1px 1px 16px;
  text-decoration: none;
  background: url(http://all-free-download.com/images/bullet-list.gif) no-repeat left center;
}

div.category_menu a:hover,
div.category_menu a:active,
div.category_menu a:focus {
  background: url(http://all-free-download.com/images/checklist-bg.gif) no-repeat left center;
  text-decoration: underline;
}

div.category_menu a.active {
  background: url(http://all-free-download.com/images/checklist-bg.gif) no-repeat left center;
  text-decoration: none;
  text-decoration: underline;
}

.popular_keyword {
  padding: 0px 8px 0px 8px;
  line-height: 36px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.padding {
  padding: 0px 10px 0px 10px;
}

.paging {
  width: 25px;
  font-size: 12px;
  background-color: #f2f2f2;
  height: 25px;
  line-height: 25px;
  border: 1px solid #cccccc;
  text-align: center;
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 6px;
}

.paging A:hover {
  COLOR: #FF0000;
}

.paging_selected {
  width: 25px;
  font-size: 12px;
  background-color: #FF0000;
  height: 25px;
  line-height: 25px;
  border: 1px solid #cccccc;
  text-align: center;
  vertical-align: middle;
}

.paging_total {
  font-weight: bold;
  line-height: 25px;
  color: #FF0000;
}

.upload_button {
  padding: 15px 10px 0px 0px;
  float: right;
}

.download_button {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
  background: -moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
  background-color: #3d94f6;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

.download_button:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
  background: -moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
  background-color: #1e62d0;
}

.download_button:active {
  position: relative;
  top: 1px;
}