* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #838383;
  background: url(http://i3.cdn-image.com/__media__/pics/672/background-bg-top.jpg) #fff repeat-x;
}

a {
  color: #044b7c;
  text-decoration: underline;
}

a:hover {
  color: #f85b1e;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.clear {
  clear: both;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  height: 0;
}

.img-pad {
  margin-bottom: -3px;
}

img {
  border: none;
}

a img {
  border: none;
  outline: none;
}

#page-wrapper {
  width: 945px;
  margin: 0 auto;
}

#head-wrapper {
  margin: 0;
  padding: 11px 0 0;
  height: 89px;
}

#domain {
  float: left;
  padding: 28px 0 21px;
}

.sprite {
  background: url(http://i1.cdn-image.com/__media__/pics/672/sprite.gif) 0 0 no-repeat;
}

#domain a {
  font-size: 28px;
  color: #67666b;
  background-position: 0 0;
  padding: 10px 0 20px 70px;
}

#logo {
  float: right;
  width: 300px;
  padding: 15px 0 0;
}

#logo p {
  text-align: right;
  clear: both;
  padding: 3px 2px 0 0;
}

#logo p a {
  color: #656565;
  font-size: 11px;
  text-decoration: underline;
}

#head-tab {
  height: 40px;
}

.sidebar-head-bg {
  background-position: 0 -101px;
  width: 311px;
  height: 40px;
  float: left;
}

.tab li {
  float: left;
  padding-left: 4px;
  max-width: 200px;
}

.tab a {
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  background: #83a952;
  height: 40px;
  line-height: 40px;
  display: block;
  border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  padding: 0 10px;
  float: left;
}

#main-container {
  background: #fff;
}

#left-container {
  float: left;
  width: 307px;
}

#right-container {
  float: right;
  background: #fff;
  width: 638px;
  padding-top: 15px;
  border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  -webkit-border-radius: 0 10px 0 0;
  -o-border-radius: 0 10px 0 0;
  -ms-border-radius: 0 10px 0 0;
}

#sidebar {
  background-position: 0 -152px;
  width: 307px;
  height: 364px;
}

#sidebar h2 {
  color: #fff;
  font-size: 27px;
  padding: 5px 0 5px 30px;
}

#sidebar ul {
  padding: 12px 20px 0;
}

#sidebar li {
  border-bottom: 1px solid #de6737;
  border-top: 1px solid #c44d1d;
  padding: 1px 0 0;
}

#sidebar li a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  display: block;
  padding: 7px 0 7px 10px;
}

#sidebar li a:hover {
  background: #ab1f1e;
}

.search-box {
  background: #fff;
  padding: 15px;
}

.search {
  background-position: 0 -542px;
  width: 268px;
  height: 172px;
}

.search p {
  color: #838383;
  font-size: 16px;
  font-weight: 700;
  padding: 30px 0 10px 15px;
}

.search .input-box {
  background: #fff;
  font-size: 19px;
  font-weight: 400;
  border: 1px solid #bebebe;
  width: 230px;
  margin-left: 15px;
  padding: 8px 2px;
}

.search .button-box {
  background: #83a952;
  font-size: 19px;
  color: #fff;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 10px;
  border: 0;
  padding: 5px 8px;
}

#sub-list {
  padding: 260px 20px 20px 0;
}

.sub-list-left,
.sub-list-right {
  width: 301px;
  background: #eaebe9;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding-bottom: 15px;
}

.sub-list-right {
  float: right;
}

.img-box {
  width: 120px;
  float: left;
  margin: 25px 5px 0 10px;
}

.list-right {
  width: 150px;
  float: left;
}

.list-right h3 {
  color: #606060;
  font-size: 16px;
  font-weight: 700;
  padding: 25px 0 3px;
}

.list-right a {
  color: #2f6cb1;
  font-size: 14px;
  font-weight: 700;
  display: block;
  padding: 4px 5px 4px 0;
}

.head-img {
  position: absolute;
}

#png-key {
  width: 619px;
  height: 104px;
  position: relative;
  top: 223px;
}

.png-left {
  float: left;
  width: 211px;
  height: 104px;
  background: url(http://i4.cdn-image.com/__media__/pics/672/left-tran-img.png) 0 0 no-repeat;
}

.png-right {
  float: left;
  width: 408px;
  height: 104px;
  background: url(http://i1.cdn-image.com/__media__/pics/672/right-tran-img.png) 0 0 repeat-x;
  border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px;
  -webkit-border-radius: 0 0 6px 0;
  -o-border-radius: 0 0 6px 0;
  -ms-border-radius: 0 0 6px 0;
}

.png-right ul {
  padding: 30px 0 0 10px;
}

.png-right a {
  color: #2f6cb1;
  font-size: 14px;
  font-weight: 700;
  display: block;
  padding: 3px 0;
}

.png-left h4 {
  color: #e6eedc;
  font-size: 20px;
  font-weight: 700;
  padding: 41px 10px 0 15px;
}

#footer-keys-top {
  text-align: center;
  padding: 10px 0 30px;
}

#footer-keys-bot {
  background: url(http://i3.cdn-image.com/__media__/pics/672/div-bg-top.gif) repeat-x top;
  text-align: center;
  padding: 30px 0 10px;
}

.custom-msg {
  background: #fdffec;
  border-top: 1px solid #ffe594;
  border-bottom: 1px solid #ffe594;
  color: #000;
  text-align: center;
  font-size: 11px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.custom-msg a {
  text-decoration: none;
  color: #C00;
  font-size: 11px;
}

.custom-msg a:hover {
  text-decoration: underline;
}

.banner-img {
  width: 728px;
  height: 90px;
  padding-top: 10px;
  margin: 0 auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.tab,
.sub-list-left {
  float: left;
}

.list-right li,
.png-right li {
  padding: 0 0 1px;
}

.png-right .left-key,
.png-right .right-key {
  float: left;
  width: 190px;
}

#footer-keys-top p,
#footer-keys-bot p {
  color: #454545;
}

#footer-keys-top p a,
#footer-keys-bot p a {
  color: #454545;
  padding: 0 10px;
}

* html .clearfix,
:first-child+html .clearfix {
  zoom: 1;
}