html,
body {
  font-size: 100%;
  height: 100%;
  font-family: arial,verdana,sans-serif;
}

html,
body,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

img {
  border: 0;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  color: #0000cc;
}

a:hover {
  text-decoration: ;a:visitedcolor:;
}

#p {
  font-size: 0.813em;
  margin: 0 auto;
  width: 1024px;
}

.landing #p {
  height: 100%;
  margin: 0 auto;
}

.landing #CHROME,
.landing #IE,
.landing #IE6,
.landing #IE7,
.landing #IE8,
.landing #IE9,
.landing #SAFARI,
.landing #isMacOS,
.landing #AOL,
.landing #AOL91,
.landing #AOL95,
.landing #AOL96 {
  height: 100%;
}

.landing #h {
  min-height: 275px;
  max-height: 456px;
  height: 60%;
  position: relative;
  width: 716px;
  margin: 0 auto 0 auto;
  background: none;
}

.landing #IE7 #h {
  min-height: 258px;
  max-height: 455px;
}

.landing #IE8 #h {
  min-height: 258px;
  max-height: 456px;
}

.landing #IE9 #h {
  min-height: 258px;
  max-height: 456px;
}

#h {
  padding-top: 0px;
  margin-bottom: 12px;
  background: none;
}

#IE #h {
  position: relative;
  z-index: 1;
  zoom: 100%;
}

.landing #IE6 #h {
  height: 550px;
}

.landing #AOL #h {
  height: 555px;
}

#l {
  width: 92px;
  float: left;
  padding-left: 0px;
  padding-right: 43px;
  clear: both;
  margin-top: ;#p.r #wpadding-right:325px;
}

#p.l #w {
  padding-left: 135px;
}

#c {
  float: left;
  width: 100%;
  background-color: #fff;
  margin-top: ;#IE6 #cwidth:98%;
}

.cw {
  margin-left: ;padding-left:;
  padding-right: 10px;
  width: auto;
}

#p.r .cw {
  margin-right: ;#rwidth:308px;
  float: left;
  border-left: 1px solid #e5e5e5;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: ;#IE6 #rposition:relative;
}

.rw {
  margin: 10px;
}

#f {
  clear: both;
  background: none;
  min-width: 650px;
}

.landing #f {
  background: none;
}

#hw,
#center_wrap,
#fw {
  margin: 0 auto;
  width: auto;
  max-width: ;min-width:650px;
}

.landing #hw,
.landing #center_wrap,
.landing #fw {
  margin: auto;
  min-width: 100%;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.lr-sep {
  border-top: 1px solid #e5e5e5;
  margin: 10px 0 0;
  width: 149px;
  height: 0;
  overflow: hidden;
}

.lhrgt,
.lhrlt {
  display: block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.lhrgt:hover,
.lhrlt:hover,
.lhrgt span:hover,
.lhrlt span:hover {
  text-decoration: underline;
}

.lhrgt .sprite {
  background: url(http://o.aolcdn.com/os/aol-search/gsa/sprites/gsa_sprite.png) no-repeat -1px -8px;
  margin: 4px 0 0 5px;
  height: 7px;
  width: 7px;
}

#IE .lhrgt .sprite {
  margin-top: 5px;
}

.lhrlt .sprite {
  background: url(http://o.aolcdn.com/os/aol-search/gsa/sprites/gsa_sprite.png) no-repeat 0 0;
  margin: 5px 5px 0 0;
  height: 7px;
  width: 7px;
}

.lhrgt span,
.lhrlt span {
  float: left;
}

.acc {
  position: absolute;
  text-indent: -1000em;
  overflow: hidden;
}

.hac {
  display: inline;
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

.obscure {
  position: absolute!important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
}

.sprite {
  text-indent: -9999px;
  display: block;
  overflow: hidden;
}

#h .cntr {
  padding-left: 10px;
  float: left;
}

#h .cntr .cntr-c {
  padding-left: 8px;
}

#f .cntr {
  padding-left: 10px;
  float: left;
}

#f .cntr .cntr-c {
  padding-left: 8px;
}

#isMobile #c {
  float: none;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

#isMobile #h {
  height: auto;
  margin: 0;
  max-height: none;
  min-height: 0;
  padding-top: 0;
}

.landing #isMobile #c,
.landing #isMobile .cw {
  padding: 0;
}

.landing #isMobile #h {
  padding-top: 0px;
}

.article #p {
  font-size: ;margin:;
  width: ;.article #p.r #wpadding-right:332px;
}

.article #p.l #w {
  padding-left: ;.article #hpadding-top:;
  margin-bottom: ;background:;
}

.article #c {
  margin-top: ;.article .cwmargin-left:15px;
  padding-left: ;padding-right:;
  width: ;.article #p.r .cwmargin-right:5px;
}

.article #r {
  width: ;padding-left:15px;
  padding-right: ;margin-top:;
}

.article #f {
  background: ;min-width:;
}

.article #hw,
.article #center_wrap,
.article #fw {
  margin: ;width:;
  max-width: ;min-width:;
}

.article #h .cntr {
  padding-left: ;.article #h .cntr .cntr-cpadding-left:;
}

.article #f .cntr {
  padding-left: ;.article #f .cntr .cntr-cpadding-left:;
}

.landing {
  background-color: #ffffff;
}

.CSB {
  position: relative;
  width: 653px;
  float: left;
}

.CSB .csbtds {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background: transparent;
}

.csbs {
  background-color: #fff;
  border: 1px solid black;
  color: #000000;
  font-size: 1.308em;
  font-weight: normal;
  font-family: arial,verdana,sans-serif;
  height: 28px;
  width: 100%;
  position: relative;
  padding: 5px 3px 4px 6px;
}

.landing .csbs {
  border: ;.ghostcolor:#b9b9b9;
}

.csbb {
  background: url("http://o.aolcdn.com/os/aol-search/gsa/sprites2/wow-search-button.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  font-weight: normal;
  font-size: 1.462em;
  margin: 0 0 0 10px;
  padding: 0;
  display: block;
  white-space: nowrap;
  line-height: 40px;
  height: 40px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0,0,0,0.7);
  border: none;
  width: 80px;
}

.csbb:hover {
  background: url("http://o.aolcdn.com/os/aol-search/gsa/sprites2/wow-search-button.png") no-repeat scroll -80px 0 transparent;
}

.CSB td {
  vertical-align: top;
}

.CSB a,
.CSB a:hover,
.CSB a:active,
.CSB a:visited {
  text-decoration: none;
  color: #fff;
}

#IE6 .CSB form {
  zoom: 100%;
}

#IE6 .csbs,
#IE7 .csbs,
#IE8 .csbs {
  line-height: 28px;
}

.landing .CSB {
  position: absolute;
  bottom: 187px;
  left: 33px;
  width: 622px;
}

.landing #IE7 .CSB {
  bottom: 184px;
}

.landing #ACC {
  width: 529px;
}

.landing #ACC .acs.sel {
  background: #CFECFF;
}

.landing #IE7 .GLOG {
  background-position: -43px -23px;
}

.GLOG {
  background: transparent url(http://o.aolcdn.com/os/aol-search/gsa/sprites/gsa_sprite.png) no-repeat -43px -23px;
  width: 96px;
  height: 16px;
  bottom: 0;
  right: 0;
  top: -18px;
  position: absolute;
}

.GLOG.bgnone {
  background: none;
}

.leftBrandLogo {
  background: transparent url() no-repeat;
  width: 185px;
  height: 115px;
  left: -185px;
  top: -35px;
  position: absolute;
  text-indent: -9999px;
}

.rightBrandLogo {
  background: transparent url(http://o.aolcdn.com/os/aol-search/gsa/logos/2-a_google_logo_right.png) no-repeat 0px 0px;
  width: 185px;
  height: 115px;
  right: -184px;
  top: -35px;
  position: absolute;
  text-indent: -9999px;
}

#ACC {
  position: absolute;
  display: none;
  background: white;
  border: 1px solid #CFECFF;
  padding: 0 9px 0 0;
  width: 561px;
  z-index: 3;
  font-size: 1.308em;
  top: -1px;
  left: 1px;
  margin-left: -1px;
}

#ACC .acs {
  color: #3c3c3c;
  display: block;
  text-decoration: none;
  padding: 3px 3px 4px 6px;
  width: 100%;
}

#ACC .acs.sel {
  background: #CFECFF;
}

#IE6 #ACC .acs {
  zoom: 100%;
}

.ACPAR {
  position: relative;
  z-index: 2;
}

#ACC .CSERD {
  color: #00c;
  display: inline-block;
  padding: 1px 0;
  margin-left: 4px;
}

#ACC .sel .CSERD {
  color: #fff;
}

#IE .CSB td {
  vertical-align: middle;
}

#IE7 .ACPAR {
  clear: both;
}

#IE7 #ACC .acs,
#IE8 #ACC .acs {
  padding-left: 6px;
}

.csbSearchBox {
  border: 1px solid transparent;
}

.csbSearchBox:hover {
  border-color: transparent;
}

.landing .csbSearchBox {
  border: 1px solid transparent;
}

.landing .csbSearchBox:hover {
  border-color: transparent;
}

body #h .cntr,
body #f .cntr {
  padding-top: 25px;
}

body .leftBrandLogo {
  display: none;
}

body .GLOG {
  display: none;
}

span.clearbutton {
  position: relative;
}

span.clearbutton input {
  padding-right: 26px;
  -webkit-user-modify: read-write-plaintext-only;
}

span.clearbutton span {
  position: absolute;
  display: block;
  top: -2px;
  right: 5px;
  width: 20px;
  height: 19px;
  background: url(http://o.aolcdn.com/os/aol-search/gsa/sprites/gsa_sprite.png) 0 -59px;
  cursor: pointer;
  visibility: visible;
}

span.clearbutton span.show {
  visibility: visible;
}

span.clearbutton span.hide {
  visibility: hidden;
}

#isMobile #ACC {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

#isMobile .CSB {
  padding-right: 10px;
  position: absolute;
}

#isMobile .GLOG.bgnone {
  display: none;
}

.landing #isMobile .CSB {
  float: none;
  margin: ;padding:0;
  position: static;
}

.landing #isMobile .CSB #inner {
  margin: 0 auto;
  max-width: ;padding:;
}

.PS {
  clear: both;
  position: absolute;
  left: 33px;
  bottom: -26px;
  font-weight: bold;
  width: 622px;
}

.PS .popSites .psHead {
  font-size: 1.2308em;
  color: ;text-align:;
  margin-bottom: 11px;
}

.PS .furl {
  background-color: transparent;
  height: 100px;
  margin: 6px 9px 0 0;
  width: 60px;
  display: block;
  float: left;
}

.PS .furl2 {
  margin-bottom: -57px;
}

.PS .popSites {
  display: inline-block;
}

.PS a {
  color: #00F;
  text-decoration: none;
  outline: 0;
}

.PS a.furl {
  background-position: 0 0;
  background-repeat: no-repeat;
}

.PS .popSites ul li {
  float: left;
}

.PS a.furl .iconText {
  bottom: 23px;
  color: #3B3B3B;
  font-size: 12px;
  padding-top: 62px;
  text-shadow: 0px 1px 1px #FFF;
  text-align: center;
}

#IE6 .PS,
#IE7 .PS {
  z-index: -1;
}

#IE7 .PS .popSites {
  display: inline;
}

#CHROME .PS .furl {
  margin: 5px 9px 0 0;
}

#IE7 .PS .popSites>ul {
  display: inline-block;
}

.flogo {
  bottom: 30px;
  float: right;
}

.flogo .sprite {
  background: url(http://o.aolcdn.com/os/aol-search/gsa/logos/2-a_wow_logo_bottom.png) no-repeat 0 0;
  height: 89px;
  width: 107px;
}

.generror .flogo .sprite,
.landing .flogo .sprite {
  background-position: 0px 0px;
  height: 125px;
  width: 200px;
  text-indent: -9999px;
}

#f {
  bottom: 0;
  vertical-align: bottom;
  position: absolute;
  width: 100%;
  left: 0;
}

.flanding {
  height: 21.5px;
  padding: 8.5px 16px 0 16px;
  display: block;
  clear: both;
  color: #5B5A5A;
  font-size: 0.923em;
  background-color: #eeeeee;
}

.flanding ul,
.flanding .extraL {
  float: right;
}

.flanding ul a {
  color: #5B5A5A;
}

.flanding ul a:visited {
  color: #5B5A5A;
}

.flanding ul a:hover {
  color: ;.flanding .copyfloat:left;
}