*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: tahoma;
  font-size: 12px;
}

body {
  background: #dcebf1;
}

img {
  border: 0;
}

.input1 {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-family: Tahoma;
  font-size: 8pt;
  background-color: #ECECEC;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 14px;
  width: 225px;
}

.header-top {
  background-image: url('./images/header-top-bg.jpg');
  background-repeat: no-repeat;
  height: 53px;
}

.header-bg {
  background-image: url('./images/header-bg.gif');
  background-repeat: no-repeat;
  height: 141px;
}

.header-norouz {
  background-image: url('./images/header-norouz.gif');
  background-repeat: no-repeat;
  height: 141px;
}

.header-christmas {
  background-image: url('./images/header-christmas.jpg');
  background-repeat: no-repeat;
  height: 141px;
}

.header-logo {
  height: 139px;
  width: 265px;
  float: right;
  text-align: right;
  padding: 0 5% 0 0;
  direction: rtl;
}

.nav-bg {
  background-color: #fff;
}

.nav-left {
  background-image: url('./images/nav-left.gif');
  background-repeat: no-repeat;
  background-position: left top;
  height: 26px;
}

.nav-right {
  background-image: url('./images/nav-right.gif');
  background-repeat: no-repeat;
  background-position: right top;
  height: 34px;
}

#container {
  width: 933px;
  margin: 0 auto;
}

#main {
  float: right;
  width: 770px;
}

#main div#leftshadow {
  background: #fff url('images/main-left-shadow.gif') repeat-y left top;
}

#main div#rightshadow {
  background: url('images/main-right-shadow.gif') repeat-y right top;
}

#main div#left {
  background: url('images/main-left-bg.gif') no-repeat left top;
}

#content {
  margin: 0 10px;
  text-align: right;
}

#header div.end {
  height: 110px;
  background: url('images/header-end.gif') no-repeat left top;
}

#sidebar {
  float: right;
  width: 180px;
  background: url('images/sidebar-divider.gif') repeat-y left top;
  white-space: nowrap;
  padding: 8px 8px 0;
  padding-right: 15px;
  display: block;
}

#work_area {
  padding: 8px 205px 5px 8px;
}

#footer {
  background: url('images/footer.gif') repeat-x top;
  height: 77px;
}

div.clear {
  clear: both;
}

#ads {
  float: left;
  width: 150px;
  height: auto;
  position: relative;
  padding-top: 11px;
  margin-left: 7px;
}

#ads div {
  position: relative;
}

#ads span {
  background-image: url('images/bgads.gif');
  position: absolute;
}

#ads div span {
  height: 14px;
  width: 14px;
  line-height: 0;
  font-size: 0;
  background-image: url('images/smads.gif');
  position: absolute;
}

#ads .t {
  height: 14px;
  width: 150px;
  background-image: url('images/udads.gif');
  background-position: 0 0;
  background-repeat: repeat-x;
}

#ads .t span.l {
  background-position: 0 0;
  left: 0;
}

#ads .t span.r {
  background-position: -14px 0;
  right: 0;
}

#ads .m {
  padding: 0 15px 0 15px;
  height: auto;
  width: 120px;
  background-image: url(images/ads.gif);
  background-repeat: repeat-y;
  text-align: center;
}

#ads .b {
  height: 14px;
  width: 150px;
  background-image: url('images/udads.gif');
  background-position: 0 -14px;
  background-repeat: repeat-x;
}

#ads .b span.l {
  background-position: 0 -14px;
  left: 0;
}

#ads .b span.r {
  background-position: -14px -14px;
  right: 0;
}

.ads {
  float: left;
  padding-left: 7px;
  width: 156px;
  background: url('images/ads-bg.gif') no-repeat right top;
}

.ads div.sp_ads {
  text-align: center;
  height: 120px;
  background: url('images/adsbox-right.gif') no-repeat right top;
}

.ads div.adsbox {
  width: 120px;
  margin: 0 auto;
}

.ads div.leftshadow {
  width: 150px;
  background: #fff url('images/adsbox-left-shadow.gif') repeat-y left top;
}

.ads div.rightshadow {
  text-align: center;
  background: url('images/adsbox-right-shadow.gif') repeat-y right top;
}

.ads div.middle1 {
  height: 27px;
  text-align: right;
  padding-top: 10px;
  padding-right: 12px;
}

.ads div.middle2 {
  height: 25px;
  text-align: right;
  padding-top: 10px;
  padding-right: 12px;
}

.ads div.top {
  height: 26px;
  text-align: right;
  width: 150px;
  background: url('images/adsbox-top.gif') no-repeat center bottom;
}

.ads div.bottom {
  width: 150px;
  background: url('images/adsbox-bottom.gif') no-repeat center top;
}

#nav-main {
  margin-top: 0;
  height: 30px;
  margin-right: 23px;
}

#nav {
  float: right;
  margin-top: 2px;
}

#nav ul {
  list-style: none;
}

#nav li {
  float: right;
  display: inline;
  margin-left: 2px;
}

#nav a {
  float: right;
  display: block;
  background: url('images/nav-bg.gif') no-repeat top;
  text-decoration: none;
  padding-top: 2px;
  text-align: center;
  color: #555;
  height: 17px;
  width: 102px;
}

#nav a {
  float: none;
}

#nav a:hover {
  background-position: 0 -19px;
  color: #550;
}

#signtip {
  list-style-image: url('images/bullet.gif');
  list-style-position: outside;
}

a.alink {
  font-size: 9pt;
  color: #369;
  text-decoration: none;
  line-height: 1.5em;
}

a:hover.alink {
  font-size: 9pt;
  color: #c00;
  text-decoration: none;
}

a.link1 {
  font-family: Tahoma;
  font-size: 12px;
  color: #369;
  text-decoration: none;
}

a.menulink {
  font-family: Tahoma;
  font-size: 9pt;
  color: #369;
  text-decoration: none;
  line-height: 1.5em;
}

a:hover.link1 {
  color: #039;
}

a:hover.menulink {
  font-family: Tahoma;
  font-size: 9pt;
  color: #c00;
  text-decoration: none;
}

.bullet-blue-faq {
  background-image: url('images/faq/bullet-blue-faq.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
}

.bullet-red-faq {
  background-image: url('images/faq/bullet-red-faq.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
}

.bullet-firoz {
  background-image: url('images/bullet-firoz.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
}

.menu-aval {
  background: url('images/home-menu/index-bg.gif') repeat-x;
  height: 30px;
}

.menu-akhar {
  background: url('images/home-menu/index-end.gif') no-repeat left top;
  height: 30px;
}

.menu-index {
  background: url('images/home-menu/index-menu.gif') no-repeat right top;
  height: 30px;
}

.menu-updated {
  background: url('images/home-menu/updated-menu.gif') no-repeat right top;
  height: 30px;
}

.menu-most {
  background: url('images/home-menu/most-menu.gif') no-repeat right top;
  height: 30px;
}

.menu-fav {
  background: url('images/home-menu/fav-menu.gif') no-repeat right top;
  height: 30px;
}

.bullet-yellow {
  background-image: url('images/home-menu/bullet-yellow.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
}

.bullet-blue {
  background-image: url('images/home-menu/bullet-blue.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
}

.bullet-green {
  background-image: url('images/home-menu/bullet-green.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
}

.bullet-red {
  background-image: url('images/home-menu/bullet-red.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
}

.menu-bg-firoz {
  background: url('./images/menu-2nd.gif') repeat-x top;
  height: 38px;
}

.menu-end-firoz {
  background: url('./images/menu-3rd.gif') no-repeat left top;
  height: 38px;
}

.menu-categories-firoz {
  background: url('./images/faq/categories.gif') no-repeat right top;
  height: 38px;
}

.menu-raletd-firoz {
  background: url('./images/faq/related.gif') no-repeat right top;
  height: 38px;
}

.menu-pbadmin-firoz {
  background: url('./images/contact/pb-admin.gif') no-repeat right top;
  height: 38px;
}

.menu-terms-firoz {
  background: url('./images/contact/terms.gif') no-repeat right top;
  height: 38px;
}

.box-top {
  text-align: center;
}

.menu-categories-news-firoz {
  background: url('./images/news/categories.gif') no-repeat right top;
  height: 38px;
}

.menu-news-relatersite-firoz {
  background: url('./images/news/na.gif') no-repeat right top;
  height: 38px;
}

.menu-nokte-firoz {
  background: url('./images/upgrade/nokte.gif') no-repeat right top;
  height: 38px;
}

.menu-emkan-firoz {
  background: url('./images/upgrade/emkan.gif') no-repeat right top;
  height: 38px;
  background-position: right top;
}

.header-in {
  background-image: url('./images/dashboard/header-top-in.jpg');
  height: 106px;
}

#txtalign {
  text-align: center;
}

.menubg {
  background: url('images/dashboard/menubg1.gif') repeat-x;
  height: 38px;
}

.menuend {
  background: url('images/dashboard/menuend1.gif') no-repeat left top;
  height: 38px;
}

.userinfo {
  background: url('images/dashboard/userinfo.gif') no-repeat right top;
  height: 38px;
}

.moblog {
  background: url('images/dashboard/moblog.gif') no-repeat right top;
  height: 38px;
}

.persianinfo {
  background: url('images/dashboard/persianinfo.gif') no-repeat right top;
  height: 38px;
}

.work-style {
  margin: 0 auto 0 auto;
  width: 487px;
}

.hlp-nav {
  background: url('images/dashboard/bg-gray.gif') repeat-x;
  width: 100%;
  height: 30px;
}

.hlp-nav-end {
  background: url('images/dashboard/menuend-gray.gif') no-repeat left top;
  height: 30px;
}

.hlp-nav-p {
  background: url('images/dashboard/menu-help.gif') no-repeat right center;
  height: 32px;
}

.menu-blue {
  background: url('images/dashboard/bg-blue.gif') repeat-x;
  width: 100%;
  height: 38px;
}

.menu-blue-end {
  background: url('images/dashboard/menuend-blue.gif') no-repeat left top;
  height: 38px;
}

.menu-blue-title {
  background: url('images/dashboard/yourweblogs.gif') no-repeat right top;
  height: 38px;
}

.menu-green {
  background: url('images/dashboard/bg-green.gif') repeat-x;
  width: 510px;
  height: 38px;
}

.menu-green-end {
  background: url('images/dashboard/menuend-green.gif') no-repeat left top;
  height: 38px;
}

.menu-weblogmoshtarak-title {
  background: url('images/dashboard/weblogs1.jpg') no-repeat right top;
  height: 38px;
}

.menu-pink {
  background: url('images/dashboard/bg-pink.gif') repeat-x;
  width: 510px;
  height: 38px;
}

.menu-pink-end {
  background: url('images/dashboard/menuend-pink.gif') no-repeat left top;
  height: 38px;
}

.menu-pink-title {
  background: url('images/dashboard/notice.gif') no-repeat right top;
  height: 38px;
}

.bul-org {
  direction: rtl;
  text-align: right;
  background-position: right;
  background-image: url('images/dashboard/bul-or.gif');
  background-repeat: no-repeat;
  padding-right: 15px;
  padding-bottom: 2px;
  color: #369;
}

.bul-org a {
  font-family: Tahoma;
  font-size: 9pt;
  color: #369;
  text-decoration: none;
  line-height: 16px;
}

.bul-org a:hover {
  font-family: Tahoma;
  font-size: 9pt;
  color: #c00;
  text-decoration: none;
  line-height: 16px;
}

.bul-frz {
  direction: rtl;
  text-align: right;
  background-position: right;
  background-image: url('images/bullet-firoz.gif');
  background-repeat: no-repeat;
  padding-right: 15px;
  padding-bottom: 5px;
  color: #369;
}

.bul-frz a {
  font-family: Tahoma;
  font-size: 9pt;
  color: #369;
  text-decoration: none;
  line-height: 16px;
}

.bul-frz a:hover {
  font-family: Tahoma;
  font-size: 9pt;
  color: #c00;
  text-decoration: none;
  line-height: 16px;
}

.txt-mngb {
  font-size: 12px;
  font-family: 'Tahoma';
  font-weight: 600;
  height: 15px;
}

.tbl {
  width: 510px;
}

.tbl-top1 {
  background: url('images/dashboard/tbl/tbl-dashboard-top-left.gif') repeat-x;
  width: 13px;
}

.tbl-top2 {
  background: url('images/dashboard/tbl/tbl-dashboard-top.gif') repeat-x;
  height: 11px;
}

.tbl-top3 {
  background: url('images/dashboard/tbl/tbl-dashboard-top-right.gif') repeat-x;
  width: 13px;
}

.tbl-left {
  background: url('images/dashboard/tbl/tbl-dashboard-left.gif') repeat-y;
  width: 13px;
}

.tbl-center {
  background: #fff repeat-x;
}

.tbl-right {
  background: url('images/dashboard/tbl/tbl-dashboard-right.gif') repeat-y;
  width: 13px;
}

.tbl-bot1 {
  background: url('images/dashboard/tbl/tbl-dashboard-bottom-left.gif') repeat-x;
  width: 13px;
}

.tbl-bot2 {
  background: url('images/dashboard/tbl/tbl-dashboard-bottom.gif') repeat-x;
  height: 11px;
}

.tbl-bot3 {
  background: url('images/dashboard/tbl/tbl-dashboard-bottom-right.gif') repeat-x;
  width: 13px;
}

.menubg {
  background: url('images/dashboard/post/bg.gif') repeat-x;
  height: 30px;
}

.menuend {
  background: url('images/dashboard/post/end.gif') no-repeat left top;
  height: 30px;
}

.menu1 {
  background: url('images/dashboard/post/weblog.gif') no-repeat right top;
  height: 30px;
}

.menu2 {
  background: url('images/dashboard/post/manage-.gif') no-repeat right top;
  height: 30px;
}

.menu3 {
  background: url('images/dashboard/post/manage-page.gif') no-repeat right top;
  height: 30px;
}

.menu4 {
  background: url('images/dashboard/post/template-weblog.gif') no-repeat right top;
  height: 30px;
}

.menu5 {
  background: url('images/dashboard/post/mange-link.gif') no-repeat right top;
  height: 30px;
}

.menu6 {
  background: url('images/dashboard/post/manage-writer.gif') no-repeat right top;
  height: 30px;
}

.menu7 {
  background: url('images/dashboard/post/setting-weblog.gif') no-repeat right top;
  height: 30px;
}

.menu8 {
  background: url('images/dashboard/post/import-exort.gif') no-repeat right top;
  height: 30px;
}

.post1 {
  background: url('images/dashboard/bg-blue.gif') repeat-x;
  height: 30px;
}

.post2 {
  background: url('images/dashboard/menuend-blue.gif') no-repeat left top;
  height: 30px;
}

.tags4 {
  background: url('images/dashboard/tags/delete.gif') no-repeat right top;
  height: 30px;
}

.tbl-b {
  width: 510px;
  white-space: nowrap;
}

.tbl-b-top1 {
  background: url('images/dashboard/tbl/tbl-dashboard-top-left.gif') repeat-x;
  width: 13px;
}

.tbl-b-top2 {
  background: url('images/dashboard/tbl/tbl-dashboard-top.gif') repeat-x;
  height: 7px;
}

.tbl-b-top3 {
  background: url('images/dashboard/tbl/tbl-dashboard-top-right.gif') repeat-x;
  width: 13px;
}

.tbl-b-left {
  background: url('images/dashboard/tbl/tbl-dashboard-left.gif') repeat-y;
  width: 13px;
}

.tbl-b-center {
  background: #fff repeat-x;
}

.tbl-b-right {
  background: url('images/dashboard/tbl/tbl-dashboard-right.gif') repeat-y;
  width: 13px;
}

.tbl-b-bot1 {
  background: url('images/dashboard/tbl/tbl-dashboard-bottom-left.gif') repeat-x;
  width: 13px;
}

.tbl-b-bot2 {
  background: url('images/dashboard/tbl/tbl-dashboard-bottom.gif') repeat-x;
  height: 11px;
}

.tbl-b-bot3 {
  background: url('images/dashboard/tbl/tbl-dashboard-bottom-right.gif') repeat-x;
  width: 13px;
}

.tbl-ts {
  white-space: nowrap;
}

.tbl-ts-top1 {
  background: url('images/dashboard/tbl-ts/tbl-top-right.gif') repeat-x;
  width: 8px;
}

.tbl-ts-top2 {
  background: url('images/dashboard/tbl-ts/tbl-top.gif') repeat-x;
  height: 6px;
}

.tbl-ts-top3 {
  background: url('images/dashboard/tbl-ts/tbl-top-left.gif') repeat-x;
  width: 6px;
}

.tbl-ts-left {
  background: url('images/dashboard/tbl-ts/tbl-left.gif') repeat-y;
  width: 7px;
}

.tbl-ts-center {
  background: #F7F7F7 repeat-x;
}

.tbl-ts-right {
  background: url('images/dashboard/tbl-ts/tbl-right.gif') repeat-y;
  width: 8px;
}

.tbl-ts-bot1 {
  background: url('images/dashboard/tbl-ts/tbl-bottom-right.gif') repeat-x;
  width: 8px;
}

.tbl-ts-bot2 {
  background: url('images/dashboard/tbl-ts/tbl-bottom.gif') repeat-x;
  height: 8px;
}

.tbl-ts-bot3 {
  background: url('images/dashboard/tbl-ts/tbl-bottom-left.gif') repeat-x;
  width: 7px;
}

.ctemp1 {
  background: url('images/dashboard/bg-blue.gif') repeat-x;
  height: 30px;
}

.ctemp2 {
  background: url('images/dashboard/menuend-blue.gif') no-repeat left top;
  height: 30px;
}

.ctemp3 {
  background: url('images/dashboard/templateselect/ctemp.gif') no-repeat right top;
  height: 30px;
}

.stemp1 {
  background: url('images/dashboard/bg-blue.gif') repeat-x;
  height: 30px;
}

.stemp2 {
  background: url('images/dashboard/menuend-blue.gif') no-repeat left top;
  height: 30px;
}

.stemp4 {
  background: url('images/dashboard/templateselect/catgories.gif') no-repeat right top;
  height: 30px;
}

.input-post {
  border: 1px solid #7F9DB9;
  font-family: Tahoma;
  font-size: 12px;
  height: 17px;
  width: 94px;
}

.input-gray {
  border: 1px solid #d9d9d9;
  font-family: Tahoma;
  font-size: 12px;
  height: 18px;
  width: 94px;
}

.input-post-joje {
  border: 1px solid #7F9DB9;
  font-family: Tahoma;
  font-size: 12px;
  height: 17px;
  width: 25px;
  text-align: center;
}

.down-post {
  border: 1px solid #7F9DB9;
  font-family: Tahoma;
  font-size: 12px;
  height: 20px;
  width: 119px;
}

.btn-post {
  border-width: 0;
  background-color: #4CB2DD;
  font-family: tahoma;
  font-size: 12px;
  color: #FFF;
  width: 80px;
  height: 20px;
}

.btn-post-red {
  border-width: 0;
  background-color: #DD5A4C;
  font-family: tahoma;
  font-size: 12px;
  color: #FFF;
  width: 80px;
  height: 20px;
}

.btn-post-green {
  border-width: 0;
  background-color: #61c769;
  font-family: tahoma;
  font-size: 12px;
  color: #fff;
  width: 80px;
  height: 20px;
}

.tbl-blue-top-left {
  background: url('images/box-blue/corner-top-left.gif') repeat-x;
  width: 20px;
  height: 35px;
}

.tbl-blue-top {
  background: url('images/box-blue/tbl-top.gif') repeat-x top;
  height: 35px;
}

.tbl-blue-top-right {
  background: url('images/box-blue/corner-top-right.gif') repeat-x;
  width: 20px;
  height: 35px;
}

.tbl-blue-left {
  background: url('images/box-blue/tbl-left.gif');
}

.tbl-blue-right {
  background: url('images/box-blue/tbl-right.gif');
}

.tbl-blue-bottom-left {
  background: url('images/box-blue/corner-bottom-left.gif');
  width: 20px;
  height: 22px;
}

.tbl-blue-bottom {
  background: url('images/box-blue/tbl-bottom.gif');
  height: 22px;
}

.tbl-blue-bottom-right {
  background: url('images/box-blue/corner-bottom-right.gif');
  width: 20px;
  height: 22px;
}

.tbl-cm {
  width: 530px;
  white-space: nowrap;
}

.tbl-cm-top1 {
  background: url('images/dashboard/comments/tbl-top-left.gif') repeat-x;
  width: 11px;
}

.tbl-cm-top2 {
  background: url('images/dashboard/comments/tbl-top.gif') repeat-x;
  height: 27px;
}

.tbl-cm-top3 {
  background: url('images/dashboard/comments/tbl-top-right.gif') repeat-x;
  width: 11px;
}

.tbl-cm-left {
  background: url('images/dashboard/comments/tbl-left.gif') repeat-y;
  width: 11px;
}

.tbl-cm-center {
  background: #fff repeat-x;
}

.tbl-cm-right {
  background: url('images/dashboard/comments/tbl-right.gif') repeat-y;
  width: 11px;
}

.tbl-cm-bot1 {
  background: url('images/dashboard/comments/tbl-bottom-left.gif') repeat-x;
  width: 11px;
}

.tbl-cm-bot2 {
  background: url('images/dashboard/comments/tbl-bottom.gif') repeat-x;
  height: 10px;
}

.tbl-cm-bot3 {
  background: url('images/dashboard/comments/tbl-bottom-right.gif') repeat-x;
  width: 11px;
}

.txt-cm-top {
  color: #369;
  font-family: Tahoma;
  font-size: 12px;
}

.txt-cm-middle {
  color: #0448c5;
  font-family: Tahoma;
  font-size: 12px;
}

.txt-private {
  color: #e45e2b;
  font-family: Tahoma;
  font-size: 12px;
}

a.txt-cm-paeen {
  color: #6e99c6;
  font-family: Tahoma;
  font-size: 12px;
  text-decoration: none;
}

a:hover.txt-cm-paeen {
  color: #c00;
}

.input-upgrade {
  border: 1px solid #b1b5b6;
  background-color: #f2fafb;
  font-family: Tahoma;
  font-size: 11px;
  height: 16px;
  width: 134px;
  text-align: left;
}

.input-signin {
  border: 1px solid #000;
  background-color: #ececec;
  font-family: Tahoma;
  font-size: 11px;
  height: 18px;
  width: 235px;
  text-align: left;
}

.menu-newblog-title {
  background: url('images/dashboard/newblog.gif') no-repeat right top;
  height: 30px;
}

.crumb {
  font-weight: 700;
  background-color: #fff;
  border: 2px #b2d0df solid;
  color: #43a8dd;
  font-family: Courier New;
  vertical-align: middle;
  text-indent: .2em;
  font-size: 17px;
}

.crumb-focus {
  background-color: #EDF4F8;
  border: 2px #b2d0df solid;
}

.a01p3 {
  font-size: 7pt;
  font-family: Arial;
  text-decoration: none;
}

a.pager {
  font-family: Tahoma;
  font-size: 8pt;
  color: #0070FF;
  text-decoration: none;
  line-height: 1.5em;
}

a:hover.pager {
  font-family: Tahoma;
  font-size: 8pt;
  color: #F00;
  text-decoration: none;
}

.pager {
  font-size: 8pt;
}

.columnText {
  font-size: 8pt;
  margin-right: 20px;
}

.btn1 {
  background-image: url('Images/btn-bck-1.gif');
  background-repeat: repeat-x;
  height: 23px;
  border-width: 0;
  color: #FFF;
  cursor: hand;
}

.btn2 {
  background-image: url('Images/btn-bck-2.gif');
  background-repeat: repeat-x;
  height: 23px;
  border-width: 0;
  color: #FFF;
  cursor: hand;
}

a.posted {
  font-family: Tahoma;
  font-size: 14px;
  color: #369;
  text-decoration: none;
  line-height: 1.5em;
}

a:hover.posted {
  font-family: Tahoma;
  font-size: 14px;
  color: #c00;
  text-decoration: none;
}

#ac-list {
  border: 1px solid #888;
  background: #DCEBF1;
  color: #333;
  font-size: 100%;
  margin: 0 10px;
  padding: 0 0 1px 0;
  z-index: 10;
  direction: rtl;
}

#ac-list div {
  cursor: pointer;
  margin: 1px;
  padding: 0 10px;
}

#ac-list .selected {
  background: #5AA1D0;
  color: #fff;
}

.Input {
  height: 19px;
  padding: 3px 3px 0 5px;
  border: 1px solid #789;
  margin-top: -1px;
  FONT-SIZE: 8pt;
  margin-top: 0;
  width: 280;
}

.tbl-post {
  width: 530px;
}

.tbl-t-post1 {
  background: url('images/dashboard/tbl/tbl-dashboard-top-left.gif') repeat-x;
  width: 10px;
}

.tbl-t-post2 {
  background: url('images/dashboard/tbl/tbl-dashboard-top.gif') repeat-x;
  height: 14px;
}

.tbl-t-post3 {
  background: url('images/dashboard/tbl/tbl-dashboard-top-right.gif') repeat-x;
  width: 10px;
}

.tbl-b-post1 {
  background: url('images/dashboard/tbl/tbl-dashboard-bottom-left.gif') repeat-x;
  width: 10px;
}

.tbl-b-post2 {
  background: url('images/dashboard/tbl/tbl-dashboard-bottom.gif') repeat-x;
  height: 14px;
}

.tbl-b-post3 {
  background: url('images/dashboard/tbl/tbl-dashboard-bottom-right.gif') repeat-x;
  width: 10px;
}

.tbl-r-post {
  background: url('images/dashboard/tbl/tbl-dashboard-right.gif') repeat-x;
  width: 10px;
}

.tbl-l-post {
  background: url('images/dashboard/tbl/tbl-dashboard-left.gif') repeat-x;
  width: 10px;
}

#pbbar {
  font-weight: bold;
  height: 22px;
}

#gbh {
  border-top: 1px solid #c9d7f1;
  font-size: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 24px;
  width: 200%;
}

#gbi {
  background: #fff;
  border: 1px solid;
  border-color: #c9d7f1 #336699 #369 #a2bae7;
  font-size: 13px;
  top: 24px;
  z-index: 1000;
}

#guser {
  padding-bottom: 7px!important;
}

#pbbar,
#guser {
  font-size: 13px;
  padding-top: 1px!important;
}

@media all {
  .gb1,
.gb3 {
    height: 22px;
    vertical-align: top;
  }
}

#gbi,
.gb2 {
  display: none;
  position: absolute;
  width: 8em;
}

.gb2 {
  z-index: 1001;
}

#pbbar a,
#pbbar a:active,
#pbbar a:visited {
  color: #369;
  font-weight: normal;
}

.gb2 a,
.gb3 a {
  text-decoration: none;
}

.gb2 a {
  display: block;
  padding: .25em .5em;
}

#pbbar .gb2 a:hover {
  background: #E4F0F6;
  color: #000;
}

.gbp2 {
  font-size: 8pt;
  color: #369;
}

a.bluelink {
  font-family: Tahoma;
  font-size: 8pt;
  color: #36c;
  text-decoration: none;
}

a:hover.bluelink {
  font-family: Tahoma;
  font-size: 8pt;
  color: #f00;
  text-decoration: none;
}

a.redlink {
  font-family: Tahoma;
  font-size: 8pt;
  color: #c00;
  text-decoration: none;
}

a:hover.redlink {
  font-family: Tahoma;
  font-size: 8pt;
  color: #369;
  text-decoration: none;
}

.hlp {
  color: #444;
  font-size: 8pt;
  line-height: 14pt;
  font-family: Tahoma;
  direction: rtl;
}

.nav {
  font-family: Tahoma;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  line-height: 1.5em;
  font-weight: bold;
}

.nav a {
  font-family: Tahoma;
  font-size: 11px;
  color: #0070FF;
  text-decoration: none;
  line-height: 1.5em;
  font-weight: bold;
}

.nav a:hover {
  font-family: Tahoma;
  font-size: 11px;
  color: #c00;
  text-decoration: none;
  font-weight: bold;
}

.tag a {
  font-family: Tahoma;
  font-size: 11px;
  color: #0070FF;
  text-decoration: none;
  line-height: 1.5em;
  font-weight: bold;
}

.tag a:hover {
  font-family: Tahoma;
  font-size: 11px;
  color: #c00;
  text-decoration: none;
  font-weight: bold;
}

a.link {
  font-family: Tahoma;
  font-size: 8pt;
  color: #369;
  text-decoration: none;
  line-height: 1.5em;
}

a:hover.link {
  font-family: Tahoma;
  font-size: 8pt;
  color: #c00;
  text-decoration: none;
}

#wmain div#leftshadow {
  background: #fff url('images/main-left-shadow.gif') repeat-y left top;
  width: 770px;
}

#wmain div#rightshadow {
  background: url('images/main-right-shadow.gif') repeat-y right top;
}

#wmain div#left {
  background: url('images/main-left-bg.gif') no-repeat left top;
}

.top-left {
  background: url('images/comment/top-left.gif') no-repeat;
  width: 8px;
  height: 14px;
}

.top {
  background: url('images/comment/top.gif') repeat-x;
  height: 14px;
  line-height: 14px;
}

.top-right {
  background: url('images/comment/top-right.gif') no-repeat;
  width: 9px;
  height: 14px;
}

.left {
  background: url('images/comment/left.gif') repeat-y;
  width: 8px;
  height: 14px;
}

.right {
  background: url('images/comment/right.gif') repeat-y;
  width: 9px;
  height: 14px;
}

.bot-left {
  background: url('images/comment/bot-left.gif') no-repeat top;
  width: 8px;
  height: 14px;
}

.bot {
  background: url('images/comment/bot.gif') repeat-x top;
  height: 14px;
}

.bot-right {
  background: url('images/comment/bot-right.gif') no-repeat top;
  width: 9px;
  height: 14px;
}

.red-msgbox {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 2px;
  margin-left: 2px;
}

.red-msgbox #msg-left {
  background: url('images/dashboard/msgbox/red/red-box-left.gif') no-repeat;
}

.red-msgbox #msg-bg {
  font-family: Tahoma;
  font-size: 8pt;
  color: #AB2B2B;
  direction: rtl;
  background: url('images/dashboard/msgbox/red/red-box-bg.gif') repeat-x;
  padding-right: 5px;
  font-weight: bold;
}

.red-msgbox #msg-bg-img {
  background: url('images/dashboard/msgbox/red/red-s.png') repeat-x;
}

.red-msgbox #msg-right {
  background: url('images/dashboard/msgbox/red/red-box-right.gif') no-repeat;
}

.green-msgbox {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 2px;
  margin-left: 2px;
}

.green-msgbox #msg-left {
  background: url('images/dashboard/msgbox/green/green-box-left.gif') no-repeat;
}

.green-msgbox #msg-bg {
  font-family: Tahoma;
  font-size: 8pt;
  color: #2AA100;
  direction: rtl;
  background: url('images/dashboard/msgbox/green/green-box-bg.gif') repeat-x;
  padding-right: 5px;
  font-weight: bold;
}

.green-msgbox #msg-bg-img {
  background: url('images/dashboard/msgbox/green/green-s.png') no-repeat;
}

.green-msgbox #msg-right {
  background: url('images/dashboard/msgbox/green/green-box-right.gif') repeat-x;
}

.separator {
  background: url('images/gray-pix.gif') repeat-x;
  height: 1px;
}

.tbl-gray-top-left {
  background: url('images/box-gray/corner-top-left.gif') repeat-x;
  width: 20px;
  height: 35px;
}

.tbl-gray-top {
  background: url('images/box-gray/tbl-top.gif') repeat-x top;
  height: 35px;
}

.tbl-gray-top-right {
  background: url('images/box-gray/corner-top-right.gif') repeat-x;
  width: 20px;
  height: 35px;
}

.tbl-gray-left {
  background: url('images/box-gray/tbl-left.gif');
}

.tbl-gray-right {
  background: url('images/box-gray/tbl-right.gif');
}

.tbl-gray-bottom-left {
  background: url('images/box-gray/corner-bottom-left.gif');
  width: 20px;
  height: 22px;
}

.tbl-gray-bottom {
  background: url('images/box-gray/tbl-bottom.gif');
  height: 22px;
}

.tbl-gray-bottom-right {
  background: url('images/box-gray/corner-bottom-right.gif');
  width: 20px;
  height: 22px;
}

a.footerlink {
  font-family: Tahoma;
  font-size: 8pt;
  color: #369;
  text-decoration: none;
}

a:hover.footerlink {
  font-family: Tahoma;
  font-size: 8pt;
  color: #c00;
}

.btn {
  border-width: 0;
  background-image: url('images/btn/btnbox_bck.png');
  font-family: Tahoma;
  font-size: 8pt;
  color: #000;
  padding-bottom: 3px;
  cursor: pointer;
  cursor: hand;
  height: 23px;
}

.btnboxr {
  background-image: url('images/btn/btnbox_l.png');
  height: 23px;
  width: 5px;
  float: left;
  cursor: pointer;
  cursor: hand;
}

.btnboxsave {
  background-image: url('images/btn/btnbox_save.png');
  height: 23px;
  width: 14px;
  float: left;
  cursor: pointer;
  cursor: hand;
}

.btnboxl {
  background-image: url('images/btn/btnbox_r.png');
  height: 23px;
  width: 5px;
  float: left;
  cursor: pointer;
  cursor: hand;
}

.gbox {
  white-space: nowrap;
  margin: auto;
  width: 100%;
  direction: rtl;
}

.gbox #topright {
  background: url('images/dashboard/tbl-ts/tbl-top-right.gif') repeat-x;
  width: 8px;
  height: 6px;
}

.gbox #gtop {
  background: url('images/dashboard/tbl-ts/tbl-top.gif') repeat-x;
  height: 6px;
}

.gbox #topleft {
  background: url('images/dashboard/tbl-ts/tbl-top-left.gif') repeat-x;
  width: 6px;
  height: 6px;
}

.gbox #gleft {
  background: url('images/dashboard/tbl-ts/tbl-left.gif') repeat-y;
  width: 7px;
}

.gbox #gcentre {
  background-color: #F7F7F7;
}

.gbox #gright {
  background: url('images/dashboard/tbl-ts/tbl-right.gif') repeat-y;
  width: 8px;
}

.gbox #botright {
  background: url('images/dashboard/tbl-ts/tbl-bottom-right.gif') repeat-x;
  width: 8px;
  height: 8px;
}

.gbox #gbot {
  background: url('images/dashboard/tbl-ts/tbl-bottom.gif') repeat-x;
  height: 8px;
}

.gbox #botleft {
  background: url('images/dashboard/tbl-ts/tbl-bottom-left.gif') repeat-x;
  width: 7px;
  height: 8px;
}

#toggle-postoptions a {
  font-family: Tahoma;
  font-size: 11px;
  color: #369;
  text-decoration: none;
  line-height: 1.5em;
  font-weight: bold;
}

#toggle-postoptions a:hover {
  font-family: Tahoma;
  font-size: 11px;
  color: #c00;
  text-decoration: none;
  font-weight: bold;
}

#toggle-tags a {
  font-family: Tahoma;
  font-size: 11px;
  color: #369;
  text-decoration: none;
  font-weight: bold;
}

#toggle-tags a:hover {
  font-family: Tahoma;
  font-size: 11px;
  color: #c00;
  text-decoration: none;
  font-weight: bold;
}

#toggle-mainbody a {
  font-family: Tahoma;
  font-size: 11px;
  color: #369;
  text-decoration: none;
  font-weight: bold;
}

#toggle-mainbody a:hover {
  font-family: Tahoma;
  font-size: 11px;
  color: #c00;
  text-decoration: none;
  font-weight: bold;
}

#toggleTags {
  text-align: right;
  background-position: right;
  background-image: url('../images/triangle_open.gif');
  background-repeat: no-repeat;
  padding-left: 10px;
}

#toggleTags.expanded {
  text-align: right;
  background-position: right;
  background-image: url(../images/triangle.gif);
  background-repeat: no-repeat;
}

#toggleMainBody {
  text-align: right;
  background-position: right;
  background-image: url('../images/triangle_open.gif');
  background-repeat: no-repeat;
  padding-left: 10px;
}

#toggleMainBody.expanded {
  text-align: right;
  background-position: right;
  background-image: url(../images/triangle.gif);
  background-repeat: no-repeat;
}

#togglePostOptions {
  text-align: right;
  background-position: right;
  background-image: url('../images/triangle_open.gif');
  background-repeat: no-repeat;
  padding-left: 10px;
}

#togglePostOptions.expanded {
  text-align: right;
  background-position: right;
  background-image: url(../images/triangle.gif);
  background-repeat: no-repeat;
}

.input-post-dis {
  border-style: inset;
  font-family: Tahoma;
  font-size: 12px;
  height: 17px;
  width: 94px;
  background-color: #F7F7F7;
}

a.titlelink {
  font-family: Tahoma;
  font-size: 9pt;
  color: #525252;
  text-decoration: none;
}

a:hover.titlelink {
  font-family: Tahoma;
  font-size: 9pt;
  color: #c00;
  text-decoration: underline;
}

a.hometitle {
  font-family: Tahoma;
  font-size: 8pt;
  color: #369;
  text-decoration: none;
  font-weight: bold;
}

a:hover.hometitle {
  font-family: Tahoma;
  font-size: 8pt;
  color: #c00;
  text-decoration: underline;
  font-weight: bold;
}

.orgLink {
  text-align: right;
  background-position: right;
  background-image: url('images/dashboard/bul-or.gif');
  background-repeat: no-repeat;
  padding-right: 8px;
  padding-bottom: 2px;
}

.input-post-err {
  border: 1px solid #F00;
  font-family: Tahoma;
  font-size: 12px;
  height: 17px;
  width: 94px;
}

TABLE.posts .flippy {
  background-position: center 50%;
  padding-left: 0;
  float: right;
  background-repeat: no-repeat;
  width: 12px;
}

TABLE.posts {
  clear: both;
  border-collapse: collapse;
  background-color: white;
}

TABLE.posts TD {
  padding-bottom: 4px;
  padding-top: 4px;
  line-height: 16px;
}

TABLE.posts TD.title {
  vertical-align: top;
  width: 100%;
  cursor: hand;
  -moz-user-select: none;
  direction: rtl;
}

TABLE.posts TR.selected .flippy {
  background-image: url('images/dashboard/post/triangle_open.gif');
}

TABLE.posts TR.unselected .flippy {
  background-image: url('images/dashboard/post/triangle.gif');
}

TABLE.posts TR.selected .entirePost {
  display: inline;
}

TABLE.posts TR.selected .snippetPost {
  display: none;
}

TABLE.posts TR.unselected .entirePost {
  display: none;
}

TABLE.posts TR.unselected .snippetPost {
  display: inline;
}

.entirePost a {
  font-family: Tahoma;
  font-size: 12px;
  color: #0070FF;
  text-decoration: none;
  font-weight: bold;
}

.entirePost a:hover {
  font-family: Tahoma;
  font-size: 12px;
  color: #f00;
  text-decoration: none;
  font-weight: bold;
}

.ok {
  background-image: url('images/dashboard/comments/ok.gif');
  width: 13px;
  height: 13px;
  cursor: pointer;
  cursor: hand;
}

.coff {
  background-image: url('images/dashboard/comments/unseen-ico.gif');
  width: 13px;
  height: 13px;
  cursor: pointer;
  cursor: hand;
}

.con {
  background-image: url('images/dashboard/comments/seen-ico.gif');
  width: 13px;
  height: 13px;
  cursor: pointer;
  cursor: hand;
}

TD.fav .off {
  background-image: url('images/dashboard/comments/fav-off.gif');
  width: 13px;
  height: 13px;
  cursor: pointer;
  cursor: hand;
}

TD.fav .on {
  background-image: url('images/dashboard/comments/fav.gif');
  width: 13px;
  height: 13px;
  cursor: pointer;
  cursor: hand;
}

.cbd {
  width: 508px;
  white-space: normal;
  line-height: 1.5em;
  table-layout: fixed;
  font-size: 8pt;
  direction: rtl;
}

.templates {
  PADDING-RIGHT: 0;
  PADDING-LEFT: 0;
  FONT-SIZE: 88%;
}

TD.templates {
  WIDTH: 700px;
}

.templates UL {
  PADDING-RIGHT: 0;
  PADDING-LEFT: 0;
  FLOAT: left;
  PADDING-BOTTOM: 0;
  MARGIN: 0;
  PADDING-TOP: 0;
  LIST-STYLE-TYPE: none;
}

.templates LI {
  PADDING-RIGHT: 0;
  PADDING-LEFT: 0;
  BACKGROUND: none transparent scroll repeat 0 0;
  FLOAT: left;
  PADDING-BOTTOM: 0;
  MARGIN: 0 0 20px;
  WIDTH: 245px;
  PADDING-TOP: 0;
}

.templates LI .outer {
  PADDING-RIGHT: 0;
  PADDING-LEFT: 0;
  BACKGROUND: url(img/bg_tem2_bot1.gif) no-repeat left bottom;
  FLOAT: left;
  PADDING-BOTTOM: 8px;
  PADDING-TOP: 0;
  width: 245px;
}

TD.templates LI {
  COLOR: #986;
}

TD.templates LI .outer {
  BACKGROUND-POSITION: center bottom;
  CURSOR: pointer;
}

#reg-adv .templates LI {
  MARGIN-BOTTOM: 5px;
}

.templates LI.selected .outer {
  BACKGROUND-IMAGE: url(img/bg_tem2_bot2.gif);
}

.templates LI .inner {
  PADDING-RIGHT: 10px;
  PADDING-LEFT: 10px;
  BACKGROUND: url(img/bg_tem2_top1.gif) no-repeat left top;
  FLOAT: left;
  PADDING-BOTTOM: 0;
  PADDING-TOP: 8px;
}

TD.templates LI .inner {
  PADDING-RIGHT: 20px;
  BACKGROUND-POSITION: center top;
  PADDING-LEFT: 20px;
  PADDING-BOTTOM: 0;
  PADDING-TOP: 8px;
}

.templates LI.selected .inner {
  BACKGROUND-IMAGE: url(img/bg_tem2_top2.gif);
}

.templates LI IMG {
  DISPLAY: block;
}

.templates LI .inner DIV {
  PADDING-RIGHT: 5px;
  DISPLAY: block;
  PADDING-LEFT: 5px;
  BACKGROUND: #DCEBF1;
  PADDING-BOTTOM: 3px;
  MARGIN: 8px 0 5px;
  WIDTH: 215px;
  COLOR: #000;
  PADDING-TOP: 3px;
}

.templates LI.selected .inner DIV {
  BACKGROUND: #3A76C4;
  COLOR: #fff;
}

.templates LI DIV.creator {
  PADDING-RIGHT: 0;
  PADDING-LEFT: 0;
  BACKGROUND: none transparent scroll repeat 0 0;
  PADDING-BOTTOM: 0;
  MARGIN: 5px 0 0;
  COLOR: #986;
  PADDING-TOP: 0;
  TEXT-ALIGN: center;
}

.templates LI.selected DIV.creator {
  PADDING-RIGHT: 0;
  PADDING-LEFT: 0;
  BACKGROUND: none transparent scroll repeat 0 0;
  PADDING-BOTTOM: 0;
  MARGIN: 5px 0 0;
  COLOR: #986;
  PADDING-TOP: 0;
  TEXT-ALIGN: center;
}

.templates LI .preview {
  MARGIN-TOP: 2px;
  TEXT-ALIGN: center;
}

.templates LI .preview A {
  FONT-WEIGHT: normal;
}

.preview {
  font-size: 8pt;
}

.templates LI.selected .outer {
  BACKGROUND-IMAGE: url(img/bg_tem2_bot2.gif);
}

.templates LI.selected .inner {
  BACKGROUND-IMAGE: url(img/bg_tem2_top2.gif);
}

.templates LI.selected .inner DIV {
  BACKGROUND: #3A76C4;
  COLOR: #fff;
}

.templates LI.selected DIV.creator {
  PADDING-RIGHT: 0;
  PADDING-LEFT: 0;
  BACKGROUND: none transparent scroll repeat 0 0;
  PADDING-BOTTOM: 0;
  MARGIN: 5px 0 0;
  COLOR: #986;
  PADDING-TOP: 0;
  TEXT-ALIGN: center;
}

.suggestion-bad {
  color: red;
  padding: 2px 8px 0 0;
}

.suggestion-good {
  color: green;
  padding: 2px 8px 0 0;
}

#pbNews {
  font-family: Tahoma;
  font-size: 8pt;
  direction: rtl;
  text-align: right;
}

#pbNews div.newsArchive {
  height: 20px;
  background-position: right center;
  width: 440px;
  background-image: url('images/bullet-archive.gif');
  background-repeat: no-repeat;
  padding-right: 12px;
  font-family: tahoma;
  font-size: 8pt;
  margin-top: 10px;
}

#pbNews div.newsArchive a {
  font-family: Tahoma;
  font-size: 8pt;
  color: #cc0000;
  text-decoration: none;
}

#pbNews div.newsArchive a:hover {
  font-family: Tahoma;
  font-size: 8pt;
  color: #336699;
  text-decoration: none;
}

#pbNews div.newsItems {
  height: 20px;
}

#pbNews div.newsItems div.newsDate {
  float: right;
  width: 80px;
  font-family: tahoma;
  font-size: 8pt;
  color: #808080;
}

#pbNews div.newsItems div.newsItem {
  background-position: right center;
  float: right;
  width: 375px;
  background-image: url('images/bullet-news.gif');
  background-repeat: no-repeat;
  padding-right: 12px;
  font-family: tahoma;
  font-size: 8pt;
}

#pbNews div.newsItems div.newsItem a {
  font-family: Tahoma;
  font-size: 9pt;
  color: #336699;
  text-decoration: none;
}

#pbNews div.newsItems div.newsItem a:hover {
  font-family: Tahoma;
  font-size: 9pt;
  color: #cc0000;
  text-decoration: none;
}