body {
  background-color: #38292C;
  padding: 0;
  margin: 0;
}

td,
span,
body,
p {
  font: 10pt arial;
  text-decoration: none;
  color: #85A167;
}

a {
  font: bold 10pt arial;
  text-decoration: none;
  color: #B1C19C;
}

a:hover {
  font: bold 10pt arial;
  text-decoration: underline;
  color: #FFFFFF;
}

A img {
  border-color: #666666;
  border-width: 1px;
  border-style: solid;
}

A:hover img {
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}

.logo {
  padding-top: 0px;
  border-width: 0;
}

.td-sites {
  padding-top: 4px;
  height: 25px;
}

.td-header {
  padding-top: 5px;
  width: 180px;
  height: 80px;
}

.td-header A:hover img {
  border-width: 0px;
  border-style: none;
}

.category-td-header {
  padding-top: 5px;
  width: 180px;
  height: 75px;
}

.category-td-header A:hover img {
  border-width: 0px;
  border-style: none;
}

.sites {
  color: #666666;
}

.sites a {
  font: bold 10pt arial;
  text-decoration: none;
  margin-right: 4px;
  margin-left: 4px;
  text-transform: uppercase;
}

.sites a:hover {
  font: bold 10pt arial;
  text-decoration: none;
  margin-right: 4px;
  margin-left: 4px;
  text-transform: uppercase;
}

.search_box {
  float: left;
  display: block;
}

.searchbutton {
  float: left;
  display: block;
}

.lang_select {
  float: left;
  display: block;
  margin-right: 10px;
}

.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

.categorylist {
  width: 1260px;
  margin: 0px auto;
  display: block;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border: 1px solid #E8EDE0;
}

.categorylist ul {
  width: 192px;
  margin-left: 5px;
  float: left;
}

.categorylist ul li {
  width: 192px;
  height: 19px;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  text-indent: 14px;
  text-transform: capitalize;
  overflow: hidden;
}

.categorylist ul li a {
  color: #E8EDE0;
}

.categorylist ul li a:hover {
  color: #FCD271;
  text-decoration: underline;
}

.categorylist ul li.letter {
  background: none;
  font-size: 16px;
  color: #FCD271;
}

.categorylist ul li.space {
  background: none;
}

.toplist {
  width: 1260px;
  margin: 0px auto;
  display: block;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border: 1px solid #E8EDE0;
}

.toplist ul {
  width: 204px;
  margin-left: 5px;
  float: left;
}

.toplist ul li {
  width: 204px;
  height: 19px;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  text-indent: 14px;
  text-transform: capitalize;
  overflow: hidden;
}

.toplist ul li a {
  color: #E8EDE0;
}

.toplist ul li a:hover {
  color: #FCD271;
  text-decoration: underline;
}

.toplist ul li.letter {
  background: none;
  font-size: 16px;
  color: #FCD271;
}

.toplist ul li.space {
  background: none;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
em,
i,
table,
tr,
td,
th,
form,
input,
textarea,
select,
li,
ol,
ul,
strong {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.wrapper {
  background: url('/images/topbg.jpg') repeat-x 0 0;
}

.thumbnails {
  overflow: hidden;
  _zoom: 1;
  width: 1262px;
}

.thumbnails li {
  background: #181818;
  padding: 0;
  float: left;
  border: 1px solid #383838;
  font-size: 20px;
}

.thumbnails li a {
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
  padding: 0 0 0 0px;
  text-align: left;
  overflow: hidden;
  text-transform: uppercase;
}

.thumbnails li span {
  margin-top: 16px;
  font-weight: bold;
}

.main li {
  height: 230px;
  width: 246px;
  display: block;
  margin: 2px 2px 2px 2px;
}

.thumbnails li a:hover {
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
  padding: 0 0 0 0px;
  text-align: left;
  overflow: hidden;
  text-transform: uppercase;
}

.video {
  overflow: hidden;
  _zoom: 1;
  width: 1262px;
}

.video li {
  background: #181818;
  padding: 0;
  float: left;
  border: 1px solid #383838;
}

.video li a {
  font-weight: bold;
  font-size: 10pt;
  margin: 0 auto;
  padding: 0 0 0 0px;
  text-align: center;
  overflow: hidden;
}

.cat li {
  height: 230px;
  width: 246px;
  display: block;
  margin: 2px 2px 2px 2px;
}

.video li span {
  margin: 3px 3px 3px 3px;
}

.video li .engine {
  float: right;
  padding-right: 3px;
}

.video li .duration {
  float: left;
  padding-left: 3px;
}

i {
  font-style: normal;
  font-weight: bold;
}

.video li h3 {
  margin: 5px 3px 4px 3px;
  font: bold 12px arial;
  text-decoration: none;
  height: 16px;
  overflow: hidden;
}

.thumb {
  width: 240px;
  height: 180px;
  display: block;
  margin: 2px 2px 2px 2px;
}

i {
  font-style: normal;
}

em {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

p {
  padding: 5px 0;
  margin: 0;
}

.pagination {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  display: inline;
  font-family: Arial;
  font-size: 13px;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.pagination ul {
  display: inline;
  padding: 6px 3px;
}

.pagination  .pages {
  padding-right: 15px;
}

.pagination ul li {
  display: inline;
  padding: 4px 0px;
}

.pagination ul li a,
.pagination_pages ul li a:visited {
  background: #424242;
  border: 1px solid #424242;
  font-size: 12px;
  color: #cccccc;
  padding: 3px 5px;
  text-decoration: none;
  font-weight: bold;
}

.pagination ul li a:hover {
  border: 1px solid #040404;
  font-size: 12px;
  background: #040404;
  color: #808d0f;
}

.bottop A {
  font: 15pt arial;
  text-decoration: none;
}

.bottop A:hover {
  font: 15pt arial;
  text-decoration: none;
}

.bottop img {
  margin-top: 2px;
  margin-bottom: 6px;
}

.gallery {
  margin: 20px auto;
  width: 1000px;
  overflow: hidden;
}

.gallery .main {
  width: 640px;
}

.player {
  height: 480px;
  background-color: #000;
}

.player iframe {
  width: 640px  !important;
  height: 480px !important;
}

.ads {
  width: 360px;
}

.banner {
  margin: 0px auto 20px auto;
  width: 300px;
}

.playerfooter {
  margin-top: 5px;
  padding: 7px 20px;
  color: #f3b703;
  font: bold 12px/120% sans-serif;
  background-color: #82776e;
  overflow: hidden;
  //height: 55px;
}

.playerfooter span {
  color: #fff;
}

.playerfooter .left {
  width: 420px;
}

.playerfooter .right {
  width: 180px;
}

.playerfooter .title span {
  color: #e6e2d2;
}

.playerfooter .title,
.playerfooter .tags {
  max-height: 56px;
  overflow: hidden;
}

.playerfooter p {
  padding: 0px;
}

.playerfooter .title span,
.playerfooter .tags span {
  text-transform: lowercase;
}

.tags a {
  font: bold 12px sans-serif;
  text-decoration: underline;
  color: #fff;
}

.tags a:hover {
  color: #201a16;
}

.sponwraper {
  margin: 0 auto;
}

.gallery .wraper {
  margin: 0 auto;
  text-align: center;
}

#exo {
  width: 960px;
  height: 250px;
  clear: both;
  text-align: center;
  margin: 5px auto;
}

#exo div {
  float: left;
  margin: 0 5px;
}

#ero {
  width: 1024px;
  height: 280px;
  clear: both;
  text-align: center;
  margin: 5px auto;
}

#ero>div {
  float: left;
  height: 280px;
  width: 321px;
  padding-left: 20px;
}

#adx {
  width: 960px;
  height: 250px;
  clear: both;
  text-align: center;
  margin: 5px auto;
}

#adx div {
  float: left;
  width: 310px;
  margin: 0 5px;
}

.right {
  float: right;
  text-align: right;
}

.left {
  float: left;
  text-align: left;
}