body {
  background: none repeat scroll 0 0 #FFFFFF;
  font-family: "宋体";
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
}

div {
  float: left;
  overflow: hidden;
}

td,
th,
input,
select {
  font-size: 12px;
}

ul,
li,
form,
dl,
dt,
dd {
  list-style: none outside none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

a img {
  border: 0 none;
}

input,
select,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li {
  overflow: hidden;
}

.width100 {
  width: 100%;
}

#main,
.main {
  width: 960px;
}

.input01 {
  border: 1px solid #B3B3B3;
  height: 18px;
  line-height: 18px;
  width: 85px;
}

a:link {
  color: #2c64aa;
  text-decoration: none;
}

a:visited {
  color: #2c64aa;
  text-decoration: none;
}

a:hover {
  -moz-transition: color 0.3s ease 0s;
  color: #FF6600;
  text-decoration: underline;
}

a:active {
  color: #2c64aa;
  text-decoration: none;
}

a.Gray:link {
  color: gray;
  font-size: 12px;
  text-decoration: none;
}

a.Gray:visited {
  color: gray;
  font-size: 12px;
  text-decoration: none;
}

a.Gray:hover {
  color: gray;
  font-size: 12px;
  text-decoration: underline;
}

a.Gray:active {
  color: gray;
  font-size: 12px;
  text-decoration: none;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: table;
  height: 0;
}

.clearfix {}

a.linkmore,
.wrapper .lmt a.linkmore {
  color: #FFFFFF;
  float: right;
  padding-right: 6px;
}

.bbslist a.linkmore {
  color: #2c64aa;
  font-size: 12px;
}

.wrapper {
  float: none;
  margin: 6px auto 0;
  width: 960px;
}

.ad581 {
  float: right;
  width: 581px;
}

.nad581 {
  float: left;
  margin: 0 2px 0 3px;
  width: 581px;
}

.minitl {
  margin-top: 6px;
  width: 960px;
}

#head #login .login,
#head #login .reg,
#head #nav #nav09,
#head #nav #mainnav,
#head11 #login .login,
#head11 #login .reg,
#head11 #nav #nav09,
#logo0911,
#head11 #nav #mainnav,
#footer ul,
#partner span,
#snav,
#snav .slogo {
  background-image: url("http://img.315che.com/hd/11img/globalbg.gif");
  background-repeat: no-repeat;
}

#head {
  background: none repeat scroll 0 0 #FFFFFF;
  float: none;
  margin: 0 auto;
  width: 960px;
}

#head #login {
  background: url("http://img.315che.com/hd/11img/index_02.jpg") repeat-x scroll left top transparent;
  overflow: visible;
  border-bottom: 1px solid #AA0014;
  color: #737373;
  font-family: Arial, "微软雅黑", sans-serif;
  height: 31px;
  line-height: 27px;
  padding: 6px 12px 3px 18px;
  width: 930px;
}

#head #login,
#head #login form,
#head #login ul,
#head #login li {
  overflow: visible;
}

#head #login li {
  float: left;
}

#head #login .login,
#head #login .reg {
  border: 0 solid;
  color: #D9111E;
  cursor: pointer;
  height: 22px;
  margin-left: 6px;
  width: 59px;
}

#head #login .reg {
  color: #426292;
  margin-left: 0;
}

#head #login .guide {
  float: right;
}

#head #nav {
  width: 960px;
}

#head #nav #nav09 {
  background-position: -205px -55px;
  height: 70px;
  width: 756px;
}

#head #nav #nav09 a {
  color: #494949;
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  padding-top: 36px;
  text-align: center;
  width: 84px;
}

#head #nav #nav09 a:hover {
  color: #FF0000;
  text-decoration: none;
}

#head11 {
  background: none repeat scroll 0 0 #FFFFFF;
  float: none;
  margin: 0 auto;
  overflow: visible;
  width: 960px;
}

#head11 #login {
  background: url(http://img.315che.com/hd/2012Imgs/images/index_033.png) 0 0 no-repeat;
  color: #737373;
  height: 26px;
  line-height: 27px;
  padding: 0 12px 3px 18px;
  width: 930px;
}

.guide a {
  display: inline-block;
  float: left;
  margin-left: 4px;
}

#head11 #nav {
  overflow: visible;
  width: 960px;
}

#logo0911 {
  background-position: left -55px;
  height: 64px;
  overflow: hidden;
  width: 204px;
}

#logo0911 a {
  display: block;
  height: 64px;
  text-indent: 205px;
  white-space: nowrap;
  width: 205px;
}

#head #nav #mainnav {
  background-position: left -23px;
  color: #FFFFFF;
  height: 31px;
  line-height: 31px;
  margin-top: 2px;
  padding-left: 3px;
  width: 957px;
}

#head #nav #mainnav a {
  color: #FFFFFF;
  display: block;
  float: left;
  padding: 0 4px 0 5px;
}

#head #nav #mainnav a.kct {
  color: #FFE400;
}

#head #nav #mainnav a.city {
  padding-left: 16px;
  padding-right: 2px;
}

.topad {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D9D9D9;
  height: 90px;
  margin: 0;
  overflow: hidden;
  padding-bottom: 5px;
  width: 958px;
}

div.topad {
  margin: 5px 0 0;
}

.topad td {
  padding-left: 7px;
}

#footer {
  color: #494949;
  float: none;
  height: 162px;
  line-height: 31px;
  margin: 0 auto;
  padding-top: 4px;
  text-align: center;
  width: 960px;
  position: relative;
}

#footer ul {
  background-position: left -23px;
  color: #FFFFFF;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

#footer p {
  line-height: 24px;
}

#footer a {
  color: #494949;
}

#footer a:hover {
  color: #FF0000;
}

#footer ul a {
  color: #FFFFFF;
}

#ads_block {
  left: 25%;
  position: fixed;
  text-align: right;
  top: 30%;
  z-index: 999999;
}

#ads_block a.close {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  width: 36px;
}

#shousuo {
  cursor: pointer;
  display: none;
  height: 173px;
  left: 0;
  position: fixed;
  top: 30%;
  width: 14px;
  z-index: 999999;
}

#adnews {
  background: url("http://img.315che.com/hd/11img/hotbg.jpg") repeat scroll 0 0 transparent;
  border: 1px solid #C6C6C6;
  height: 34px;
  margin-top: 4px;
  overflow: hidden;
  padding: 0 8px;
  width: 942px;
}

#adnews .text {
  background: url("http://img.315che.com/hd/11img/square.gif") no-repeat scroll left center transparent;
  height: 34px;
  line-height: 34px;
  padding-left: 26px;
  width: 640px;
}

#adnews .text li {
  float: left;
  height: 34px;
  overflow: hidden;
  width: 320px;
}

#adnews .sub01 {
  background: url("http://img.315che.com/hd/11img/searchbtn.jpg") repeat scroll 0 0 transparent;
  border: 0 solid;
  color: #FFFFFF;
  font-weight: bold;
  height: 22px;
  width: 49px;
}

#adnews .search {
  background: url("http://img.315che.com/hd/11img/slg.jpg") no-repeat scroll left center transparent;
  float: right;
  height: 28px;
  padding: 6px 0 0 26px;
  width: 230px;
}

#adnews .input01 {
  height: 20px;
  line-height: 20px;
  width: 170px;
}

#partner {
  border: 1px solid #DFDFDF;
  margin-top: 6px;
  padding: 1px;
  width: 956px;
}

#partner .links {
  border-top: 1px solid #0E4A76;
  width: 100%;
}

#partner span {
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  height: 21px;
  line-height: 21px;
  text-align: center;
  width: 72px;
  background-position: -879px 0;
}

.ftab li {
  width: 74px;
  height: 21px;
  cursor: pointer;
  text-align: center;
  line-height: 21px;
  font-weight: bold;
  display: inline;
  margin-left: 1px;
  color: #2C64AA;
  float: left;
}

#partner .ftab .styy {
  background: url("http://img.315che.com/hd/2012Imgs/images/indexbg.gif") no-repeat -879px 0;
  color: #FFFFFF;
}

.beij {
  background-position: -879px 0;
}

#partner span {
  background-position: -879px 0;
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  height: 21px;
  line-height: 21px;
  text-align: center;
  width: 72px;
}

#partner p {
  color: #707070;
  padding: 6px 0 6px 6px;
  width: 954px;
}

#partner a {
  border-right: 1px solid #818181;
  color: #707070;
  float: left;
  height: 14px;
  line-height: 14px;
  margin: 4px 0;
  overflow: hidden;
  padding: 0 3px;
  text-align: center;
  width: 71px;
}

#partner a.bdnone {
  border-right: medium none;
}

#snav {
  background-position: left -128px;
  background-repeat: repeat-x;
  border-bottom: 1px solid #FFFFFF;
  float: none;
  height: 31px;
  margin: 0 auto;
  width: 100%;
}

#snav .slogo {
  background-position: left -169px;
  height: 21px;
  width: 82px;
}

#snav .slogo a {
  display: block;
  height: 21px;
  text-indent: -10em;
  width: 82px;
}

#snav .snav {
  color: #FFFFFF;
  height: 20px;
  line-height: 20px;
  padding-left: 3px;
  width: 875px;
}

#snav .snav a {
  color: #0460A9;
  display: block;
  float: left;
  padding: 0 6px;
}

#snav .snav a.kct {
  color: #0460A9;
}

#snav .snav a.city {
  padding-left: 12px;
  padding-right: 2px;
}

#daohang {
  background: url("http://img.315che.com/hd/11img/qiye_03.jpg") repeat scroll 0 0 transparent;
  color: #FFFFFF;
  float: none;
  height: 31px;
  line-height: 31px;
  margin: 3px auto 0;
  text-align: center;
  width: 960px;
}

#daohang a {
  color: #FFFFFF;
  display: block;
  float: left;
  padding: 0 4px;
  white-space: nowrap;
}

#daohang a.kct {
  color: #FFE400;
}

#daohang a.city {
  padding-left: 16px;
  padding-right: 2px;
}

#daohang a.shouye {
  height: 31px;
  margin-right: 8px;
  width: 110px;
}

A.redfont,
.redfont {
  color: #D61418;
}

A.greenfont,
.greenfont {
  color: #4A9E00;
}

#mainnav11,
#sitenav .navcurrent,
#topopenlogin,
#sitenav .navcurrent dl,
#sitenav .subsite,
#sitenav .navcurrent .sleftbg,
#sitenav .navcurrent .srightbg,
#sitenav .navcurrent .smiddlebg,
.guide .weiboadd {
  background: url("http://img.315che.com/hd/12img/topbg.gif") no-repeat scroll 0 0 transparent;
}

#topnav11 {
  background: url("http://img.315che.com/hd/12img/ygbg.jpg") no-repeat scroll 0 0 transparent;
}

#topopenlogin {
  background-position: -788px -165px;
  border: 1px solid #686868;
  cursor: pointer;
  height: 18px;
  line-height: 19px;
  margin: 2px 0 0 8px;
  padding-left: 3px;
  position: relative;
  width: 178px;
}

#openloginfloat {
  background: url("http://img.315che.com/hd/12img/openlogin.gif") no-repeat scroll 3px -25px #FFFFEE;
  border: 1px solid #686868;
  color: black;
  font-size: 12px;
  height: 22px;
  left: 10px;
  line-height: 18px;
  position: absolute;
  top: 19px;
  width: 185px;
}

#openloginfloat a {
  font-family: Helvetica, Arial, sans-serif;
}

#openloginfloat ul {
  list-style: none outside none;
  margin: 3px 0 0 5px;
}

#openloginfloat a {
  color: #2c64aa;
  text-decoration: none;
}

#openloginfloat li {
  float: left;
  padding-left: 23px;
  width: 50px;
}

#openloginfloat .longtitle {
  width: 80px;
}

#topnav11 {
  height: 59px;
  width: 960px;
}

#logo11 A {
  display: block;
  height: 59px;
  text-indent: -210px;
  width: 268px;
}

.navurlcol {
  float: left;
  overflow: visible;
  width: 669px;
}

#kanchelogo {
  float: left;
  margin: 7px 0 0;
  overflow: hidden;
}

#kanchelogo A {
  display: block;
  height: 42px;
  text-indent: -210px;
  width: 83px;
}

#logo211 A {
  display: block;
  height: 55px;
  text-indent: -210px;
  width: 204px;
}

#nav11 A {
  color: #818181;
  display: block;
  float: left;
  height: 21px;
  padding-left: 4px;
  padding-top: 38px;
  text-align: center;
  width: 80px;
}

#nav11 A:hover {
  color: #FF6600;
  text-decoration: none;
}

#mainnav11 {
  background-position: left -82px;
  height: 55px;
  margin-top: 2px;
  width: 960px;
  overflow: visible;
  _overflow: hidden;
}

#mainnav11 a {
  color: white;
}

#mainnav211 {
  margin-top: 10px;
  width: 660px;
}

#mainnav211 a {
  float: left;
  font-weight: bold;
  margin-left: 14px;
}

#sitenav {
  line-height: 23px;
  margin-left: 14px;
  margin-top: 4px;
  overflow: visible;
  width: 655px;
  _margin-left: 7px;
}

#sitenav ul {
  float: left;
  overflow: visible;
}

#sitenav li {
  float: left;
  height: 23px;
  overflow: visible;
  position: relative;
  text-align: center;
  width: 36px;
}

#sitenav b a {
  display: block;
  float: left;
  width: 52px;
}

#sitenav .carea {
  color: #FFFF33;
  font-weight: bold;
}

#sitenav .navcurrent {
  background-position: -3px -153px;
}

#sitenav .navcurrent a {
  color: #2260A8;
  font-weight: bold;
}

#sitenav .subsite {
  display: none;
  overflow: visible;
}

#sitenav .navcurrent .subsite {
  background-position: -950px -275px;
  display: block;
  height: 60px;
  padding-left: 8px;
  position: absolute;
  top: 22px;
  z-index: 2000;
}

#sitenav .navcurrent dl {
  background-position: right -208px;
  height: 60px;
  padding: 5px 3px 0 0;
}

#sitenav .navcurrent dd {
  float: left;
  text-align: center;
  width: 40px;
}

#sitenav .navcurrent .subsite dd a {
  font-weight: normal;
}

#sitenav .navcurrent .sleftbg {
  background-position: left -153px;
  height: 23px;
  left: -3px;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: 2001;
}

#sitenav .navcurrent .srightbg {
  background-position: -39px -153px;
  height: 23px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: 2001;
}

#sitenav .navcurrent .smiddlebg {
  background-position: -2px -173px;
  height: 3px;
  left: -1px;
  position: absolute;
  top: 22px;
  width: 37px;
  z-index: 2001;
}

.wrapper .ntxtad a {
  background-image: url("http://img.315che.com/hd/11img/indexbg.gif");
  background-repeat: no-repeat;
}

.ntxtad {
  border: 1px solid #DFDFDF;
  height: 105px;
  width: 185px;
}

.wrapper .ntxtad a {
  background-position: -70px top;
  float: left;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  padding-left: 16px;
  width: 169px;
}

.wrapper .txtad a {
  background-image: url("http://img.315che.com/hd/11img/indexbg.gif");
  background-repeat: no-repeat;
}

.txtad {
  border: 1px solid #DFDFDF;
  height: 81px;
  width: 370px;
}

.wrapper .txtad a {
  background-position: -70px top;
  float: left;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding-left: 16px;
  width: 169px;
}

.poplogin .openlogin {
  background: url("http://img.315che.com/hd/12img/openlogin.gif") no-repeat scroll 10px 0px #FFFFEE;
  border: 1px solid #CCCCCC;
  height: 48px;
  left: 30px;
  position: absolute;
  top: 210px;
  width: 195px;
}

.poplogin .openlogin UL {
  list-style-type: none;
  margin: 3px 0 0 5px;
}

.poplogin .openlogin A {
  color: #2c64aa;
  text-decoration: none;
  padding-left: 7px;
}

.poplogin .openlogin LI {
  float: left;
  padding-left: 23px;
  width: 50px;
  line-height: 19px;
}

.poplogin .openlogin .longtitle {
  width: 90px;
}

.bbslist .netFriendcont .wenche li a {
  font-size: 14px;
}

.mbl .dxiao li a {
  font-size: 14px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #qccx .sub02 {
    vertical-align: super;
  }
}

<!--20120419-->
#head11 #login {
  background: url("images/index_03.jpg") repeat-x scroll left top transparent;
  color: #737373;
  height: 35px;
  line-height: 35px;
  padding: 6px 12px 3px 18px;
  width: 930px;
}

.zmhs {
  display: inline;
  padding-top: 2px;
  _padding-top: 12px;
  overflow: visible;
}

.zmhs a {
  padding-right: 14px;
}

.zmhs a.yjgzz {
  padding-left: 34px;
}

.zmhs a.yjgz {
  padding-left: 15px;
}

.ylrc {
  width: auto;
  float: right;
  display: inline;
  overflow: visible;
  *padding-top: 3px;
  _padding-top: 8px;
}

.ylrc img {
  display: inline;
  margin-top: 2px;
}

.ylrc span.nangao {
  width: 95px;
  cursor: pointer;
  display: inline-block;
  color: #2c64aa;
  position: relative;
  overflow: visible;
}

.ylrc span.nangao1 {
  width: 92px;
  cursor: pointer;
  display: inline-block;
  color: #2c64aa;
  position: relative;
  overflow: visible;
}

.ylrc span a.ffbuty img {
  vertical-align: top;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .ylrc span a.ffbuty img {
    vertical-align: top;
    margin-top: 3px;
  }
}

.newdh {
  width: 960px;
  height: 64px;
  background: url(http://img.315che.com/hd/2012Imgs/images/newindex0145_03.png) no-repeat;
  overflow: visible;
}

.newlanm {
  width: 691px;
  height: 43px;
  line-height: 43px;
  display: inline;
  float: none;
}

.newlanm ul li {
  float: left;
  display: inline;
  padding-left: 13px;
}

.newlanm ul li a {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}

.newlanm ul li a {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}

.newlanm ul li a:link {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}

.newlanm ul li a:visited {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}

.newlanm ul li a:hover {
  font-size: 14px;
  color: #FF6600;
  font-weight: bold;
}

.newlanm ul li a:active {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}

.dqcity {
  height: 21px;
  line-height: 21px;
  width: 691px;
  overflow: visible;
}

.dqcity span.spp a {
  color: #808080;
  padding: 0 2px;
}

.dqcity span.spp {
  color: #808080;
}

.fxiaoche {
  width: 958px;
  height: 30px;
  line-height: 30px;
  float: none;
  margin: 0 auto;
  margin-top: 3px;
  border: #c6cddd 1px solid;
}

.fxiaoche a {
  color: #2C64AA;
  cursor: pointer;
  display: inline;
  float: left;
  height: 29px;
  white-space: nowrap;
  padding-left: 15px;
  _padding-left: 14px;
}

.fxiaoche i:hover {
  color: #ff6600;
  text-decoration: underline;
}

.fxiaoche .aa1 {
  width: 77px;
}

.fxiaoche .aa2 {
  width: 89px;
}

.fxiaoche .aa3 {
  width: 106px;
}

.fxiaoche .aa4 {
  width: 96px;
}

.fxiaoche .aa5 {
  width: 105px;
}

.fxiaoche .aa6 {
  width: 98px;
}

.fxiaoche .aa7 {
  width: 75px;
}

.fxiaoche .aa8 {
  width: 79px;
}

.fxiaoche .aa9 {
  width: 97px;
}

.fxiaoche .aa1:hover {
  background: url(http://img.315che.com/hd/2012Imgs/images/cxmin.png) -15px -456px no-repeat;
}

.fxiaoche .aa2:hover {
  background: url(http://img.315che.com/hd/2012Imgs/images/cxmin.png) -9px -456px no-repeat;
}

.fxiaoche .aa3:hover {
  background: url(http://img.315che.com/hd/2012Imgs/images/cxmin.png) 10px -456px no-repeat;
}

.fxiaoche .aa4:hover {
  background: url(http://img.315che.com/hd/2012Imgs/images/cxmin.png) 9px -456px no-repeat;
}

.fxiaoche .aa5:hover {
  background: url(http://img.315che.com/hd/2012Imgs/images/cxmin.png) 12px -456px no-repeat;
}

.fxiaoche .aa6:hover {
  background: url(http://img.315che.com/hd/2012Imgs/images/cxmin.png) 12px -456px no-repeat;
}

.fxiaoche .aa7:hover {
  background: url(http://img.315che.com/hd/2012Imgs/images/cxmin.png) 8px -456px no-repeat;
}

.fxiaoche .aa8:hover {
  background: url(http://img.315che.com/hd/2012Imgs/images/cxmin.png) 8px -456px no-repeat;
}

.fxiaoche .aa9:hover {
  background: url(http://img.315che.com/hd/2012Imgs/images/cxmin.png) 5px -456px no-repeat;
}

.fxiaoche a i {
  font-style: normal;
  float: left;
  display: inline;
}

.fxiaoche a i.caricon {
  background: url(http://img.315che.com/hd/2012Imgs/images/cxmin.png) no-repeat;
  height: 20px;
  margin: 3px 4px 0 0;
}

.fxiaoche .aa1 .caricon {
  background-position: -33px -24px;
  width: 36px;
}

.fxiaoche .aa2 .caricon {
  background-position: -33px -63px;
  width: 41px;
}

.fxiaoche .aa3 .caricon {
  background-position: -29px -104px;
  width: 49px;
}

.fxiaoche .aa4 .caricon {
  background-position: -33px -189px;
  width: 51px;
}

.fxiaoche .aa5 .caricon {
  background-position: -33px -189px;
  width: 50px;
}

.fxiaoche .aa6 .caricon {
  background-position: -33px -230px;
  width: 55px;
}

.fxiaoche .aa7 .caricon {
  background-position: -33px -277px;
  width: 48px;
}

.fxiaoche .aa8 .caricon {
  background-position: -33px -327px;
  width: 51px;
}

.fxiaoche .aa9 .caricon {
  background-position: -33px -377px;
  width: 51px;
}

.more {
  float: right;
  display: inline;
  margin-right: 10px;
}

.more ul li {
  float: left;
  display: inline;
  margin-right: 8px;
  color: #2C64AA;
}

.cxx {
  padding-left: 3px;
  padding-top: 5px;
}

.cxx dl {
  width: 97px;
  height: 42px;
  text-align: center;
  margin-bottom: 5px;
  float: left;
  margin-right: 9px;
}

.cxx dl dt {
  height: 19px;
  line-height: 19px;
}

.cxx dl dt a {
  color: #2C64AA;
}

.cxx dl dd {
  height: 18px;
  line-height: 18px;
}

.cxx dl dd a:link {
  padding-right: 6px;
  color: #808080;
}

.cxx dl dd a:visited {
  padding-right: 6px;
  color: #808080;
}

.dqcity span.xiaozii {
  float: none;
  color: #5f5f5f;
  font-size: 12px;
  font-weight: normal;
  width: 67px;
  padding-left: 4px;
  display: inline-block;
  cursor: pointer;
  background: url("http://img.315che.com/hd/2012Imgs/images/fxiaoj.png") no-repeat scroll 28px 7px transparent;
}

.chengshi {
  position: absolute;
  float: none;
  width: 386px;
  height: 268px;
  border: #d1d1d1 1px solid;
  top: 20px;
  left: -2px;
  display: none;
  z-index: 999999;
  background-color: #FFFFFF;
}

.dqcity .chengshi ul {
  overflow: auto;
  height: 239px;
  padding-left: 5px;
}

.dqcity .chengshi ul li {
  line-height: 31px;
}

.chengshi ul li a {
  font-size: 12px;
  font-weight: normal;
  color: #2C64AA;
}

.weibbb {
  width: 83px;
  height: 65px;
  position: absolute;
  background-color: #FFFFFF;
  top: 23px;
  _top: 13px;
  left: 0;
  display: none;
  padding-top: 5px;
}

.weibbb ul li {
  height: 28px;
  line-height: 28px;
  background: url(http://img.315che.com/hd/2012Imgs/images/qwpng.png) no-repeat;
  padding-left: 28px;
  border-bottom: 1px solid #d7dbe0;
}

.weibbb ul li a {
  font-size: 12px;
  color: #666;
}

.weibbb ul li.fwbdd {
  background-position: 1px 1px;
}

.weibbb ul li.fqqdd {
  background-position: 1px -46px;
}

.wrapper #hotcar .tag {
  background-color: #E0EAF8;
  border: 1px solid #D0DBF1;
  height: 25px;
  line-height: 25px;
  padding-left: 6px;
  width: 958px;
}

.wrapper #hotcar .tag .menu_on {
  background-image: url("http://img.315che.com/hd/2012index/images/indexbg.gif");
  background-repeat: no-repeat;
}

.wrapper #hotcar .tag .menu_on {
  background-position: -704px 0;
  color: #F28100;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 72px;
}

.wrapper #hotcar .tag .menu_off {
  color: #2C64AA;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 62px;
}

.wrapper #hotcar .tag .more {
  display: inline;
  line-height: 25px;
  width: 244px;
}

.mihead {
  width: 960px;
  margin: 0 auto;
  float: none;
  background: url(http://img.315che.com/hd/2012Imgs/images/xiaohead_bj_03.png) no-repeat;
  height: 31px;
  line-height: 31px;
}

.mihead a:link {
  color: #fff;
}

.mihead a:visited {
  color: #fff;
}

.mihead a:hover {
  color: #fff;
}

.mihead a:active {
  color: #fff;
}

.mihead .milogo a {
  width: 135px;
  height: 31px;
  display: block;
  text-indent: -210px;
}

.mihead .midaohang {
  padding-left: 5px;
  margin-right: 21px;
}

.mihead .midaohang a {
  padding-left: 5px;
}

.mihead .micity a {
  padding-left: 5px;
}

.guanz {
  color: #2C64AA;
  cursor: pointer;
  padding-left: 5px;
  display: inline-block;
  overflow: visible;
  position: relative;
  width: 92px;
  z-index: 30;
}

.weiguan {
  background: url("http://img.315che.com/hd/2012Imgs/images/guanz_03.jpg") no-repeat scroll 0 0 transparent;
  display: none;
  height: 95px;
  left: 0;
  position: absolute;
  top: 23px;
  _top: 15px;
  width: 83px;
}

.weiguan a {
  display: block;
  height: 30px;
  width: 78px;
  cursor: pointer;
}

.ylrc span {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.ylrc span input {
  *vertical-align: middle;
}

.cke div {
  float: none;
}

.dfapp {
  display: inline;
}

.dfapp ul li {
  float: left;
  display: inline;
}

.dfapp ul li a {
  display: inline-block;
  padding-left: 19px;
  height: 30px;
  line-height: 30px;
  background: url(http://img.315che.com/hd/2013Imgs/images/aawb.png) no-repeat;
  _background: url(http://img.315che.com/hd/2013Imgs/images/ttbb.gif) no-repeat;
}

.dfapp ul li a.and {
  background-position: -9px -2px;
}

.dfapp ul li a.iph {
  background-position: -8px -33px;
}

.dfapp ul li a.pho {
  background-position: -7px -69px;
}

.dfapp ul li a.and:hover {
  background-position: -9px -103px;
  text-decoration: none;
}

.dfapp ul li a.iph:hover {
  background-position: -8px -134px;
  text-decoration: none;
}

.dfapp ul li a.pho:hover {
  background-position: -7px -170px;
  text-decoration: none;
}

.smmaapp {
  width: 110px;
  height: 141px;
  left: 50%;
  margin-left: 505px;
  z-index: 999;
  position: fixed;
  top: 90px;
  _position: absolute;
  _top: expression(eval(document.compatMode &&            document.compatMode=='CSS1Compat') ?            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/5 :            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/5);
  float: none;
  overflow: visible;
}

.smmaapp div {
  float: none;
}

.smmaapp a {
  display: block;
  width: 110px;
  height: 141px;
  text-align: center;
  cursor: pointer;
}

.smmaapp a:link,
.smmaapp a:visited {
  color: #666666;
  background-color: #efefef;
  text-decoration: none;
}

.smmaapp a:hover {
  color: #666666;
  background-color: #d0d0d0;
  text-decoration: none;
}

.smmaapp a div {
  line-height: 24px;
}

.smmaapp i.icon16 {
  cursor: pointer;
  visibility: hidden;
  _visibility: visible;
  float: right;
}

.smmaapp i.icon16-close:hover {
  cursor: pointer;
  background: url(http://img.315che.com/hd/2013imgs/images/appicon.png) -23px -1px no-repeat;
}

.smmaapp:hover i.icon16 {
  visibility: visible;
}

.smmaapp a img {
  display: block;
  margin: 0 auto;
}

.icon16 {
  background: url(http://img.315che.com/hd/2013imgs/images/appicon.png) -3px -1px no-repeat;
  display: inline-block;
  overflow: hidden;
}

.icon16 {
  height: 16px;
  width: 16px;
}

.smmaapp a .pop-autoapp-close {
  background-color: #FFFFFF;
  height: 16px;
  margin-bottom: 3px;
  text-align: right;
}

.wrapper .txtad a,
#ks .sub01,
.sub02,
#hotcar .tag .menu_on,
.huadong,
.huadong2,
h3,
#f_buttonDiv .bg a,
#f_buttonDiv .bg a.on,
.wenche li,
.shangjia li,
#focus .right .zhuanti li,
.lmt,
table.rank td.first,
table.rank td.second,
table.rank td.third,
table.rank td.else,
.dg_tl .tools .tt,
.dg_tl .tools .ss,
.baojia_news li,
.hotad .title,
.hotad .title .hadtag span,
.news_list li,
#partner span,
.area_on,
h2 {
  background-image: url("http://img.315che.com/hd/2012index/images/indexbg.gif");
  background-repeat: no-repeat;
}

.box ul {
  width: 100%;
}

.txtad {
  border: 1px solid #DFDFDF;
  height: 81px;
  width: 370px;
}

.wrapper .txtad a {
  background-position: -70px top;
  float: left;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding-left: 16px;
  width: 169px;
}

.minitl {
  display: none;
}

#ks {
  height: 26px;
  padding: 0 0 0 26px;
  width: 138px;
  display: inline;
}

#ks .input01 {
  color: #818181;
  font-size: 12px;
  width: 97px;
  height: 16px;
  line-height: 16px;
  margin-top: 3px;
}

#ks .sub01 {
  background-position: -665px top;
  border: 0 solid;
  cursor: pointer;
  height: 23px;
  margin-left: 2px;
  vertical-align: top;
  width: 31px;
}

.sub02 {
  background-position: -665px 0;
  border: 0 solid;
  cursor: pointer;
  height: 24px;
  margin-left: 2px;
  width: 32px;
}

#qccx {
  padding: 0 0 0 6px;
  display: inline;
  margin-right: 25px;
  _padding-top: 4px;
}

#qccx * {
  color: #818181;
  font-size: 12px;
}

#qccx select {
  margin-left: 2px;
  width: 103px;
}

#keywords {
  border-left: 1px solid #FFFFFF;
  height: 28px;
  line-height: 28px;
  padding-left: 18px;
}

#hotcar {
  width: 960px;
}

#hotcar .chakan {
  display: none;
  width: 63px;
  height: 99px;
  position: absolute;
  top: 17px;
  right: 8px;
  background: url(http://img.315che.com/hd/2012index/images/indexbg.gif) no-repeat -387px -452px;
  padding: 20px 0 0 18px;
}

#hotcar .chakan p {
  height: 22px;
}

#hotcar .tag {
  width: 958px;
  background-color: #e0eaf8;
  border: #d0dbf1 1px solid;
  padding-left: 6px;
  height: 25px;
  line-height: 25px;
}

#hotcar .tag .menu_on {
  background-position: -704px 0;
  color: #F28100;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 72px;
}

#hotcar .tag .menu_off {
  color: #2c64aa;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 62px;
}

#hotcar .tag .more {
  display: inline;
  line-height: 25px;
}

#hotcar .tag .more .gengduo {
  width: 73px;
  display: inline-block;
  float: left;
  _margin-top: 6px;
  cursor: pointer;
  color: #2c64aa;
}

#hotcar .tag .more .gengduo img {
  margin: 0 2px;
}

#hotcar .tag .more .gengduo a:hover {
  color: #2c64aa;
  text-decoration: none;
}

#hotcar .cx {
  border-color: #d0dbf1 #d0dbf1;
  border-right: 1px solid #d0dbf1;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  padding: 5px 11px;
  width: 936px;
}

#hotcar .cx a {
  display: block;
  float: left;
  height: 29px;
  line-height: 29px;
  overflow: hidden;
  text-align: center;
  width: 72px;
}

#hotcar .cx a.amore {
  color: #FF6600;
  font-weight: bold;
}

#hotcar2,
#hotcar3,
#hotcar4,
#hotcar5,
#hotcar6,
#hotcar7,
#hotcar8 {
  display: none;
}

#focus {
  padding-top: 6px;
  width: 960px;
}

#focus .left {
  width: 352px;
}

#focus .mid {
  display: inline;
  float: left;
  margin-left: 6px;
  width: 388px;
}

#focus .right {
  float: right;
  margin-top: -6px;
  width: 208px;
}

#focus .left .ad35028 {
  border: 1px solid #DFDFDF;
  width: 350px;
}

#focus .left .focuspic {
  background: none repeat scroll 0 0 #F4F4F4;
  border: 1px solid #D9D9D9;
  margin-bottom: 6px;
  margin-top: 4px;
  width: 350px;
  _height: 245px;
  _margin-bottom: 18px;
}

#f_div {
  height: 215px;
  overflow: visible;
  width: 350px;
  _overflow: hidden;
}

#f_imgDiv {
  height: 215px;
  overflow: hidden;
  width: 100%;
}

#f_imgDiv img {
  border: medium none;
}

#f_infoDiv {
  height: 18px;
  left: 253px;
  position: relative;
  top: 3px;
  width: 97px;
  z-index: 99999;
}

#f_buttonDiv {
  position: absolute;
  right: 0;
  top: 0;
  width: 97px;
  z-index: 9999;
}

#f_buttonDiv .bg {
  height: 18px;
  margin-right: 1px;
  overflow: hidden;
  text-align: center;
  width: 18px;
}

#f_buttonDiv .bg a {
  float: left;
  height: 18px;
  overflow: hidden;
  text-decoration: none;
  width: 18px;
}

#f_buttonDiv .bg a:link,
#f_buttonDiv a:visited,
#f_buttonDiv a:active {
  background-position: -806px 0;
  color: #818181;
  line-height: 18px;
  text-align: center;
}

#f_buttonDiv .bg a:hover {
  background-position: -786px 0;
  color: #FFFFFF;
}

#f_buttonDiv .bg a.on:link,
#f_buttonDiv a.on:visited,
#f_buttonDiv a.on:active,
#f_buttonDiv a.on:hover {
  background-position: -786px 0;
  color: #FFFFFF;
}

#f_textbg {}

#f_text {
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 24px;
  line-height: 26px;
  overflow: hidden;
  text-align: left;
  text-indent: 10px;
  width: 245px;
}

#f_text a {
  display: block;
}

#f_text a:link,
#f_text a:visited,
#f_text a:active {
  color: #5C5C5C;
  text-decoration: none;
}

#f_text a:hover {
  color: #FF6600;
  text-decoration: none;
}

.tuijian,
.shangjia {
  width: 100%;
}

.tuijian {
  height: 394px;
  float: none;
  background-color: #F4FAFF;
}

.hightt {
  height: 488px;
  _margin-top: -13px;
}

.tuijian .box,
.shangjia .box {
  border: 1px solid #DFDFDF;
  padding-bottom: 6px;
  width: 350px;
}

.shangjia .box {
  padding-bottom: 5px;
}

.tuijian .huadong {
  background-position: 0 -126px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 27px;
  width: 100%;
  float: none;
  height: 27px;
}

.tuijian .huadong .moee {
  display: inline;
  float: right;
  color: #FFFFFF;
  font-size: 12px;
  padding-right: 5px;
}

.tuijian .huadong .netFriendTab li {
  float: left;
  display: inline-block;
  text-align: center;
  width: 97px;
  height: 27px;
  line-height: 27px;
  cursor: pointer;
  font-weight: bold;
}

.tuijian .huadong .netFriendTab .current {
  background: url(http://img.315che.com/hd/2012index/images/indexbg.gif) 0 -260px no-repeat;
  color: #2c64aa;
}

.tuijian .chewen {
  width: 134px;
  height: 109px;
  border: #d5d5d6 1px solid;
  text-align: center;
  padding-top: 2px;
  float: left;
  display: inline;
  margin-right: 4px;
}

.tuijian .chewen dd {
  padding-top: 3px;
  height: 14px;
}

.tuijian .netFriend_cont {
  float: none;
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid #C6CDDD;
  border-top: none;
  _padding-bottom: 12px;
  _padding-top: 3px;
}

.tuijian .netFriend_cont .guangg {
  display: block;
  margin-bottom: 8px;
  margin-left: -5px;
  _margin-top: 10px;
}

.tuijian .netFriend_cont .netFriendcont {
  float: none;
  margin-bottom: 6px;
}

.tuijian .huadong2 {
  background-position: 0 -126px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 27px;
  width: 100%;
  float: none;
  height: 27px;
}

.tuijian .huadong2 .moee {
  display: inline;
  float: right;
  color: #FFFFFF;
  font-size: 12px;
  padding-right: 5px;
}

.tuijian .huadong2 .netFriendTab2 li {
  float: left;
  display: inline-block;
  text-align: center;
  width: 97px;
  height: 27px;
  line-height: 27px;
  cursor: pointer;
  font-weight: bold;
}

.tuijian .huadong2 .netFriendTab2 .current {
  background: url(http://img.315che.com/hd/2012index/images/indexbg.gif) 0 -260px no-repeat;
  color: #2c64aa;
}

.tuijian .chewen2 {
  width: 134px;
  height: 109px;
  border: #d5d5d6 1px solid;
  text-align: center;
  padding-top: 2px;
  float: left;
  display: inline;
  margin-right: 4px;
}

.tuijian .chewen2 dd {
  padding-top: 3px;
  height: 14px;
  line-height: 14px;
}

.tuijian .netFriend_cont2 {
  float: none;
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid #C6CDDD;
  border-top: none;
  _padding-bottom: 12px;
  _padding-top: 3px;
}

.tuijian .netFriend_cont2 .guangg2 {
  display: block;
  margin-bottom: 8px;
  margin-left: -5px;
  _margin-top: 10px;
}

.tuijian .netFriend_cont2 .netFriendcont2 {
  float: none;
  margin-bottom: 6px;
}

.tuijian h2 a,
#focus .right .zhuanti h2 a {
  color: #FFFFFF;
}

em.red {
  border-bottom: 1px dotted #818181;
  color: #ff6600;
  display: block;
  float: left;
  font-family: "微软雅黑";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 100%;
  padding-bottom: 2px;
  margin-bottom: 6px;
}

em.red a {
  color: #ff6600;
  text-align: center;
  width: 354px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #ff6600;
  display: inline-block;
}

em.huang a {
  color: #ff6600;
  text-align: center;
  width: 354px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #ff6600;
  display: inline-block;
}

.tuijian .wenche li,
.shangjia li,
.wenche2 li {
  background-position: -70px 1px;
  height: 25px;
  line-height: 25px;
  padding-left: 16px;
  width: 174px;
}

.tuijian li span,
.shangjia li span {
  color: #818181;
  float: right;
}

.shangjia li {
  height: 23px;
  line-height: 23px;
}

.ad352 {
  margin-top: 6px;
  width: 352px;
}

.ad388 {
  margin-top: 6px;
  width: 388px;
}

.ad208 {
  margin-top: 6px;
  width: 208px;
}

.shangjia {
  margin-top: 6px;
}

.shangjia h2 {
  background-position: 0 -154px;
}

#focus .mid .top {
  border: 1px solid #C6CDDD;
  padding-bottom: 4px;
  width: 386px;
  background-color: #f4faff;
}

#focus .mid .top .red {
  background: url("http://img.315che.com/hd/11img/fredbg.gif") repeat scroll 0 0 transparent;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  height: 55px;
  text-align: center;
  width: 384px;
}

#focus .mid .top .red em {
  color: #FF0000;
  font-family: 微软雅黑, 宋体;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 33px;
}

#focus .mid .top .red em a {
  color: #ff6600;
}

.frtxt {
  border-top: 1px dotted #818181;
  display: inline;
  font-size: 14px;
  height: 162px;
  line-height: 23px;
  margin: 10px 15px 0;
  padding: 6px 0;
  width: 356px;
}

#focus .frtxt a {
  border-bottom: 1px dotted #818181;
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 4px;
  white-space: nowrap;
}

#focus .frtxt a:hover {
  border-bottom: 1px dotted #FF0000;
  text-decoration: none;
}

.frtxt2 {
  border-top: 1px dotted #818181;
  display: inline;
  font-size: 14px;
  height: 143px;
  line-height: 23px;
  margin: 10px 15px 0;
  padding: 6px 0;
  width: 356px;
}

#focus .mid .top .frtxt2 li {
  height: 27px;
  overflow: hidden;
  padding-left: 0;
  width: 356px;
}

#focus .frtxt2 a {
  border-bottom: 1px dotted #818181;
  display: inline-block;
  float: left;
  margin-right: 10px;
  white-space: nowrap;
}

#focus .frtxt2 a:hover {
  border-bottom: 1px dotted #FF6600;
  text-decoration: none;
}

#focus .mid .top .red h2 {
  color: #444444;
  font-size: 12px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}

#focus .mid .top .red h2 a {
  color: #444444;
}

#focus .mid .top ul {
  float: left;
  margin-top: 6px;
  width: 100%;
}

#focus .mid .top li {
  color: #999999;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding-left: 15px;
}

#focus .mid .top li a.Gray {
  font-size: 12px;
}

#focus .mid .list {
  color: #999999;
  line-height: 25px;
  margin-top: 6px;
  width: 388px;
  background-color: #F4FAFF;
}

.morr {
  float: right;
  font-size: 12px;
  font-weight: normal;
  padding-right: 8px;
  display: inline;
}

#focus .mid .list h2 {
  background-position: -358px -126px;
  color: #2C64AA;
  font-size: 14px;
  line-height: 26px;
  padding: 0 0 0 22px;
}

#focus .mid .list .box {
  border: 1px solid #C6CDDD;
  padding: 3px 0;
  width: 386px;
}

#focus .mid .list h2 a {
  color: ##2C64AA;
}

#focus .mid .list ul {
  float: left;
  width: 100%;
}

#focus .mid .list li {
  font-size: 14px;
  height: 27px;
  padding: 0 14px;
}

#focus .mid .list span {
  float: right;
}

#focus .right .zhuanti {
  background: none repeat scroll 0 0 #F4FAFF;
  margin-top: 6px;
  width: 208px;
}

#focus .right .zhuanti h2 {
  background-position: right -125px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 28px;
  padding: 0 0 0 22px;
}

#focus .right .zhuanti h2 .moee {
  float: right;
  font-size: 12px;
  font-weight: normal;
  padding-right: 6px;
  color: #2C64AA;
}

#focus .right .zhuanti .box {
  border: 1px solid #c6cddd;
  height: 359px;
  padding: 3px 3px 2px;
  width: 200px;
  text-align: center;
}

#focus .right .zhuanti .box dl {
  margin-bottom: 5px;
}

#focus .right .zhuanti .box .fontz {
  text-align: left;
}

#focus .right .zhuanti .box .fontz li {
  font-size: 12px;
  background-position: -66px 2px;
  padding-left: 20px;
  line-height: 26px;
  height: 26px;
  padding-right: 7px;
}

#focus .right .zhuanti dd {
  height: 125px;
}

#focus .right .zhuanti dt {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-bottom: 2px solid #e5e5e5;
}

#focus .right .zhuanti li {
  background-position: -70px 2px;
  height: 27px;
  line-height: 27px;
  font-size: 14px;
  padding-left: 15px;
  text-align: left;
}

.lmt {
  background-position: 0 -178px;
  height: 32px;
  margin: 6px 0 0px;
  width: 960px;
  line-height: 32px;
}

.lmt .sou {
  float: left;
  color: #2C64AA;
  padding: 0 15px;
  display: inline;
}

.lmt .gengduo {
  float: right;
  padding-right: 12px;
  display: inline;
}

.lmt h2 {
  float: left;
  height: 32px;
  overflow: hidden;
  text-indent: -200px;
  width: 112px;
}

.lmt h2 a {
  display: block;
  height: 32px;
  width: 112px;
}

h2.daogou {
  background-position: 0 -213px;
}

h2.baojia {
  background-position: -246px -213px;
  margin-right: 10px;
}

h2.areanews1 {
  background: url(http://img.315che.com/hd/2012index/images/shanghai.gif);
  margin-right: 10px;
}

h2.areanews2 {
  background: url(http://img.315che.com/hd/2012index/images/beijing.gif);
  margin-right: 10px;
}

h2.areanews3 {
  background: url(http://img.315che.com/hd/2012index/images/guangzhou.gif);
  margin-right: 10px;
}

h2.areanews4 {
  background: url(http://img.315che.com/hd/2012index/images/chengdu.gif);
  margin-right: 10px;
}

h2.areanews5 {
  background: url(http://img.315che.com/hd/2012index/images/hefei.gif);
  margin-right: 10px;
}

h2.areanews6 {
  background: url(http://img.315che.com/hd/2012index/images/wuhan.gif);
  margin-right: 10px;
}

h2.areanews7 {
  background: url(http://img.315che.com/hd/2012index/images/nanjing.gif);
  margin-right: 10px;
}

h2.areanews8 {
  background: url(http://img.315che.com/hd/2012index/images/dalian.gif);
  margin-right: 10px;
}

h2.pingce {
  background-position: -123px -299px;
}

h2.xinche {
  background-position: 0 -299px;
}

h2.tuku {
  background-position: -123px -213px;
}

h2.bbs {
  background-position: -246px -299px;
}

.wrapper .lmt a {
  color: #2C64AA;
  display: inline;
  float: left;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  margin-left: 22px;
}

.lmb {
  width: 953px;
  background-color: #F4FAFF;
  border: 1px solid #C6CDDD;
  padding: 5px 0 0 5px;
  border-top: none;
}

.lmbb {
  width: 947px;
  background-color: #F4FAFF;
  border: 1px solid #C6CDDD;
  padding: 5px 0 0 11px;
  border-top: none;
}

.dg_tl {
  width: 359px;
}

.dg_tl .fp {
  background: none repeat scroll 0 0 #F8F8F8;
  border: 1px solid #DFDFDF;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 4px;
  padding: 1px;
  text-align: center;
  width: 346px;
}

.dg_tl .fp a {
  color: #2C64AA;
  display: block;
}

.dg_tl .fp img {
  border-bottom: 1px solid #FFFFFF;
  float: left;
  width: 346px;
}

.dg_tl .tools {
  width: 350px;
  height: 44px;
  background: url(http://img.315che.com/hd/2012index/images/indexbg.gif) 0px -462px no-repeat;
  margin-bottom: 5px;
  padding-left: 81px;
}

.dg_tl .tools  a {
  display: inline-block;
  padding-left: 33px;
  *padding-top: 10px;
}

.dg_tm {
  display: inline;
  width: 370px;
}

.dg_tm em {
  color: #FF6600;
  display: block;
  font-family: 微软雅黑, 宋体;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 370px;
}

.dg_tm em a {
  color: #FF6600;
}

.huan {
  border: 1px solid #FF6600;
  color: #FF6600;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 354px;
}

.dg_tm ul {
  float: left;
  margin-top: 8px;
  width: 100%;
}

.dg_tm li {
  float: left;
  font-size: 14px;
  height: 27px;
  line-height: 27px;
  padding-left: 7px;
  width: 360px;
}

.dg_tm li.line {
  border-bottom: 1px dotted #818181;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.dg_tm span {
  color: #818181;
  float: right;
}

.dg_tr {
  float: right;
  padding: 1px;
  width: 213px;
}

.dg_tr dl {
  margin-bottom: 7px;
}

.dg_tr dl dd {
  width: 200px;
  height: 21px;
  line-height: 21px;
  padding-top: 3px;
}

h3.rank {
  background-position: -687px -213px;
  border-bottom: 1px solid #FFFFFF;
  color: #D9111E;
  font-size: 14px;
  height: 27px;
  line-height: 27px;
  padding-left: 25px;
  width: 188px;
}

table.rank {
  color: #3C3C3C;
  text-align: center;
}

table.rank th {
  background: none repeat scroll 0 0 #E6E6E6;
  border-right: 1px solid #FFFFFF;
  color: #426292;
  font-weight: normal;
  height: 19px;
  line-height: 19px;
}

table.rank td {
  border-bottom: 1px dotted #818181;
  border-right: 1px solid #FFFFFF;
  height: 25px;
  line-height: 25px;
}

table.rank .a0 {
  width: 36px;
}

table.rank .a2 {
  border-right: 0 none;
}

table.rank .al {
  padding-left: 5px;
  text-align: left;
  width: 98px;
}

table.rank .al a {
  display: block;
  height: 22px;
  overflow: hidden;
  width: 98px;
}

table.rank td.first {
  background-position: -899px -211px;
  color: #FFFFFF;
}

table.rank td.second {
  background-position: -899px -239px;
  color: #FFFFFF;
}

table.rank td.third {
  background-position: -931px -211px;
  color: #FFFFFF;
}

table.rank td.else {
  background-position: -931px -239px;
  color: #818181;
}

.wrapper .lmt .area_on {
  -moz-transition: color 0.5s linear 0s;
  background-position: -698px -27px;
  color: #ffffff;
  font-size: 12px;
  height: 29px;
  line-height: 29px;
  margin-left: 0;
  margin-top: 3px;
  text-align: center;
  width: 60px;
}

.wrapper .lmt .area_off {
  font-size: 12px;
  height: 29px;
  line-height: 29px;
  margin-left: 0;
  margin-top: 3px;
  text-align: center;
  width: 60px;
}

.baojialist {
  margin-top: 2px;
}

.auto_price_t {
  width: 478px;
}

.margin_r4 {
  margin-right: 4px;
}

.auto_price_t table {
  width: 100%;
}

.auto_price_t th {
  background: none repeat scroll 0 0 #D7D7D7;
  border-right: 1px solid #FFFFFF;
  color: #4C4C4C;
  height: 23px;
}

.auto_price_t td {
  border-right: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  color: #959595;
  height: 26px;
  line-height: 26px;
  text-align: center;
}

.auto_price_t td a {
  display: block;
  height: 26px;
  overflow: hidden;
}

td.txt_letter_l {
  padding-left: 6px;
  text-align: left;
}

.baojia_news {
  border: 1px solid #DFDFDF;
  height: 175px;
  margin: 5px 6px 0 0;
  padding: 1px;
  width: 358px;
}

.baojia_news h2 {
  background-position: 0 -28px;
  border-bottom: 1px solid #0E4A76;
  color: #426292;
  font-size: 14px;
  line-height: 28px;
  padding-left: 21px;
}

.baojia_news ul {
  float: left;
  margin-top: 8px;
  width: 100%;
}

.baojia_news li {
  background-position: 10px -253px;
  height: 22px;
  line-height: 22px;
  padding-left: 23px;
  padding-right: 14px;
}

.baojia_news li span {
  color: #818181;
  float: right;
}

.ad221 {
  float: right;
  margin-top: 5px;
  width: 221px;
}

.hotad {
  margin-top: 6px;
  width: 100%;
  background-color: #F4FAFF;
  _float: none;
}

.hotad .title {
  background-position: 0 -178px;
  width: 100%;
}

.hotad .title h2 {
  background-position: -492px -213px;
  float: left;
  height: 32px;
  text-indent: -100em;
  width: 112px;
}

.hotad .title .hadtag {
  float: right;
  padding-top: 4px;
}

.hotad .title .hadtag span {
  color: #3f78b8;
  cursor: pointer;
  display: block;
  float: left;
  font-family: "微软雅黑";
  font-size: 16px;
  font-weight: bold;
  height: 27px;
  line-height: 23px;
  margin-right: 2px;
  text-align: center;
  width: 47px;
}

.hotad .title .hadtag .menu_on {
  background: url(http://img.315che.com/hd/2012index/images/indexbg.gif) no-repeat -798px -28px;
  color: #FFFFFF;
}

.hotad .title .hadtag .menu_off {
  background: none repeat scroll 0 0 transparent;
}

.tabcont {
  border: 1px solid #C6CDDD;
  padding: 4px;
  width: 950px;
  border-top: none;
}

.tabcont li {
  float: left;
  height: 210px;
  margin-right: 2px;
  overflow: hidden;
  padding: 6px 0 0 3px;
  width: 232px;
}

.tabcont li img {
  border: 1px solid #DBDBDB;
}

.tabcont li h4 {
  display: block;
  font-size: 14px;
  font-weight: normal;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  width: 230px;
}

.tabcont li p {
  color: #959595;
  line-height: 20px;
}

.pc_fp {
  background: none repeat scroll 0 0 #F8F8F8;
  border: 1px solid #DFDFDF;
  height: 205px;
  line-height: 20px;
  overflow: hidden;
  padding: 1px;
  text-align: center;
  width: 355px;
}

.pc_fp a {
  display: block;
  font-size: 14px;
}

.pc_fp img {
  border-bottom: 1px solid #FFFFFF;
}

.pc_tm {
  height: 222px;
  margin-top: -10px;
}

.pc_tm em {
  height: 40px;
  line-height: 40px;
  padding-top: 10px;
}

.pc_tm ul {
  margin-top: 4px;
}

.pc_tm li {
  background-position: -61px 2px;
  padding-left: 30px;
  padding-right: 14px;
  width: 322px;
}

.pc_r {
  border: 1px solid #DFDFDF;
  float: right;
  height: 392px;
  padding: 1px;
  width: 213px;
}

table.rank2 td {
  border-bottom: 1px dotted #818181;
  border-right: 1px solid #FFFFFF;
  height: 28px;
  line-height: 28px;
}

.news_list {
  margin: 5px 10px 0 0;
  padding: 1px;
  width: 303px;
  display: inline;
}

.news_listone {
  width: 355px;
}

.news_list h2 {
  background-position: 5px -93px;
  border-bottom: 1px solid #2c64aa;
  color: #426292;
  font-size: 14px;
  line-height: 28px;
  padding-left: 21px;
  margin-bottom: 5px;
}

.news_list ul {
  float: left;
  margin-top: 4px;
  width: 100%;
}

.news_list li {
  background-position: -436px -93px;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding-left: 23px;
  padding-right: 11px;
}

.news_listone li {
  font-size: 14px;
}

.news_list li span {
  color: #818181;
  float: right;
}

.news_list .liss {
  text-align: center;
  float: left;
  display: inline;
  margin-bottom: 5px;
  *height: 117px;
  width: 144px;
  padding: 2px 0 0 0;
  border: 1px solid #A8A8A8;
}

.news_list .liss dd {
  height: 19px;
  line-height: 19px;
  *height: 26px;
  *line-height: 26px;
}

.news_list table {
  line-height: 26px;
}

.news_list td {
  border-bottom: 1px dashed #DFDFDF;
  color: #818181;
  padding-left: 11px;
  padding-top: 2px;
}

dl.xintu {
  margin-top: 4px;
}

dl.xintu dd {
  height: 100px;
  padding: 0 8px;
}

dl.xintu dt {
  height: 20px;
  line-height: 20px;
  text-align: center;
}

dl.xintu dt a {
  color: #959595;
}

dl.xintu dt a:hover {
  color: #D9111E;
}

dl.xintu dt span {
  color: #D9111E;
  font-weight: bold;
}

#tuku {
  padding-left: 26px;
  padding-bottom: 10px;
}

#tuku .leftj {
  position: absolute;
  left: 5px;
  top: 138px;
}

#tuku .rightj {
  position: absolute;
  left: 936px;
  top: 138px;
}

#tuku dl {
  display: inline;
  float: left;
  height: 149px;
  margin: 10px 0 0 7px;
  width: 175px;
}

#tuku dl dd {
  height: 123px;
  overflow: hidden;
}

#tuku dl dt {
  background: none repeat scroll 0 0 #F8F8F8;
  border: 1px solid #DFDFDF;
  height: 23px;
  line-height: 23px;
  text-align: center;
}

#tuku dl.t {
  height: 310px;
  margin-left: 0;
  width: 350px;
}

#tuku dl.t dd {
  height: 263px;
  overflow: hidden;
}

#tuku dl.t dt {
  font-size: 14px;
  height: 43px;
  line-height: 43px;
  overflow: hidden;
}

.bbs_fp {
  background: none repeat scroll 0 0 #F8F8F8;
  border: 1px solid #DFDFDF;
  height: 205px;
  line-height: 24px;
  margin-right: 10px;
  overflow: hidden;
  padding: 1px;
  text-align: center;
  width: 356px;
}

.bbs_fp a {
  color: #D9111E;
  display: block;
  font-size: 14px;
}

.bbs_fp img {
  border-bottom: 1px solid #FFFFFF;
}

.bbslist {
  border: 1px solid #C6CDDD;
  padding: 1px;
  width: 305px;
  float: none;
  background-color: #F4FAFF;
  padding-right: 7px;
  padding-bottom: 6px;
}

.bbsleftt {
  width: 317px;
  display: inline;
  margin-right: 5px;
}

.bbslist .netFriendcont {
  float: none;
  padding-top: 7px;
  padding-left: 7px;
}

.bbslist .netFriendcont .wenche {
  padding-top: 5px;
}

.bbslist .netFriendcont .wenche li {
  font-size: 14px;
  background-position: -70px 4px;
}

.bbslist .netFriendcont .chewen {
  float: left;
  display: inline;
  width: 108px;
  height: 92px;
  border: #d5d5d6 1px solid;
  text-align: center;
  padding-top: 2px;
  margin-right: 4px;
}

.bbslist .netFriendcont .chewenn {
  float: left;
  display: inline;
  width: 296px;
  height: 195px;
  _height: 207px;
  border: #d5d5d6 1px solid;
  text-align: center;
  padding-top: 2px;
  margin-right: 4px;
}

.bbslist .netFriendcont .chewenn dd a {
  font-size: 14px;
}

.bbslist .jiac {
  width: 284px;
  height: 25px;
  color: #ff6600;
  border: #ff6600 1px solid;
  line-height: 25px;
  padding: 0;
  margin: 3px 0 0 13px;
  text-align: center;
}

.bbslist .chewen dd {
  padding: 3px 3px 0;
  height: 14px;
  line-height: 14px;
}

.bbslist h2 {
  background: none;
  border-bottom: 1px solid #2c64aa;
  color: #2c64aa;
  font-size: 14px;
  line-height: 22px;
  padding-left: 10px;
  padding-top: 6px;
  width: 100%;
}

.bbslist h2 b {
  color: #2c64aa;
  font-size: 12px;
}

.bbslist li {
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  padding-left: 13px;
  padding-right: 0px;
}

.bbslist li span {
  color: #818181;
  float: right;
}

.daren {
  background: url("http://img.315che.com/hd/11img/index_138.jpg") repeat scroll left 36px transparent;
  float: right;
  height: 426px;
  margin-top: -3px;
  width: 218px;
}

.daren h2 {
  background-position: -441px -22px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 28px;
  padding-left: 49px;
  padding-top: 8px;
  width: 169px;
}

#rolllink {
  display: inline;
  height: 380px;
  margin: 6px 21px 0;
  position: relative;
  width: 176px;
}

#rolllink img {
  border: 2px solid #FFFFFF;
  margin-top: 10px;
  width: 172px;
}

.fleft2 {
  width: 355px;
  height: 157px;
  float: none;
  _height: 170px;
}

.fleft2 ul {
  margin: 0;
  overflow: visible;
  float: none;
}

.fleft2 li {
  overflow: visible;
  height: 30px;
  padding: 0;
  line-height: 30px;
  *height: 28px;
  *line-height: 28px;
  border-bottom: #C6CDDD solid 1px;
  background: none;
  width: 97px;
}

.fleft2 #menuUl {
  position: relative;
}

.fleft2 #menuUl li span.nini {
  margin-top: 1px;
  display: inline-block;
  width: 94px;
  height: 30px;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  float: none;
  padding-left: 10px;
}

.biank {
  border: #C6CDDD 1px solid;
  border-right: none;
  z-index: 9999;
  background: #FFFFFF;
}

.fleft2 #menuUl li span.nini span {
  *display: inline-block;
  _margin-left: 20px;
  float: none;
  color: #2c64aa;
  height: 28px;
  overflow: hidden;
}

.fleft2 .tanl {
  overflow: hidden;
  display: none;
  width: 246px;
  height: 151px;
  _height: 165px;
  position: absolute;
  left: 104px;
  top: 1px;
  z-index: 8888;
  background: #ffffff;
  border: 1px solid  #C6CDDD;
}

.fleft2 .tanl img {
  position: absolute;
  left: 6px;
  top: 7px;
}

.fleft2 .tanl li {
  background-image: none;
  border-bottom: 1px #C6CDDD inset;
  height: 38px;
}

.fleft2 .tanl li a {
  font-size: 12px;
  display: inline;
  width: 68px;
  height: 21px;
  float: left;
  line-height: 21px;
  text-align: center;
  margin-top: 10px;
}

.fleft2 .tanl li a:hover {
  background: #4575ae;
  color: #FFFFFF;
}

.soupp,
.souchexi,
.souchexing,
.anniu {
  float: none;
}

.yaocha {
  float: none;
  width: 206px;
  border: 1px solid #C6CDDD;
  padding-top: 10px;
  background-color: #F4FAFF;
}

.soupp,
.souchexi,
.souchexing {
  margin-bottom: 5px;
  text-align: center;
}

.soupp select,
.souchexi select,
.souchexing select {
  width: 187px;
  height: 23px;
}

.anniu {
  padding: 3px 0;
}

.anniu a {
  margin-left: 10px;
}