body {
  background: #000000;
  color: #ccc;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 13px;
  text-align: center;
  line-height: 1.4;
  padding: 0px;
  margin: 0px;
  text-shadow: 1px 1px 0px #000;
}

a:link {
  color: #fc0;
  text-decoration: none;
}

a:visited {
  color: #fc0;
  text-decoration: none;
}

a:hover,
a:active {
  color: #fff;
  text-decoration: underline;
}

#container {
  background: #111;
  border: 1px solid #222;
  width: 85%;
  color: #ccc;
  margin: auto auto;
  padding: 20px;
  text-align: left;
  text-shadow: 1px 1px 0px #000;
}

#content {
  width: auto !important;
}

.menu ul {
  color: #fc0;
  font-weight: bold;
  text-align: right;
  padding: 4px;
}

.menu ul a:link {
  color: #fc0;
  text-decoration: none;
}

.menu ul a:visited {
  color: #fc0;
  text-decoration: none;
}

.menu ul a:hover,
.menu ul a:active {
  color: #fff;
  text-decoration: none;
}

#panel {
  background: #1D1D1D;
  border: 1px solid #2d2d2d;
  color: #ccc;
  font-size: 11px;
  border-radius: 0px 0px 5px 5px;
  padding: 8px;
}

#panel .remember_me input {
  vertical-align: middle;
  margin-top: -1px;
}

table {
  color: #ffffff;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 13px;
  text-shadow: 1px 1px 0px #000;
}

.tborder {
  background: #000;
  width: 100%;
  margin: auto auto;
  border: 1px solid #2d2d2d;
  border-radius: 6px 6px 0px 0px;
  padding: 1px;
}

.thead {
  background: #4c4c4c;
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313));
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  border-radius: 5px 5px 0px 0px;
  color: #ffffff;
  padding: 6px 8px;
  text-shadow: -1px -1px 0px #000;
}

.thead a:link {
  color: #ffffff;
  text-decoration: none;
}

.thead a:visited {
  color: #ffffff;
  text-decoration: none;
}

.thead a:hover,
.thead a:active {
  color: #ffffff;
  text-decoration: underline;
}

.tcat {
  background: #0D0D0D;
  color: #ccc;
  font-size: 12px;
}

.tcat a:link {
  color: #efefef;
}

.tcat a:visited {
  color: #efefef;
}

.tcat a:hover,
.tcat a:active {
  color: #fff;
}

.trow1,
.trow2 {
  background: #212121;
  background: -moz-linear-gradient(top,  #212121 0%, #111111 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#212121), color-stop(100%,#111111));
  background: -webkit-linear-gradient(top,  #212121 0%,#111111 100%);
  background: -o-linear-gradient(top,  #212121 0%,#111111 100%);
  background: -ms-linear-gradient(top,  #212121 0%,#111111 100%);
  background: linear-gradient(to bottom,  #212121 0%,#111111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#111111',GradientType=0 );
}

.trow_shaded {
  background: #ffdde0;
}

.trow_selected td {
  background: #FFFBD9;
}

.trow_sep {
  background: #ffff00;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

.tfoot {
  background: #4c4c4c;
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313));
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  color: #ffffff;
}

.tfoot a:link {
  color: #ffffff;
  text-decoration: none;
}

.tfoot a:visited {
  color: #ffffff;
  text-decoration: none;
}

.tfoot a:hover,
.tfoot a:active {
  color: #ffffff;
  text-decoration: underline;
}

.bottommenu {
  background: #1D1D1D;
  border: 1px solid #2d2d2d;
  color: #ccc;
  padding: 10px;
  border-radius: 5px;
}

.navigation {
  color: #ddd;
  font-size: 13px;
  font-weight: bold;
}

.navigation a:link {
  text-decoration: none;
}

.navigation a:visited {
  text-decoration: none;
}

.navigation a:hover,
.navigation a:active {
  text-decoration: none;
}

.navigation .active {
  color: #efefef;
  font-size: 13px;
  font-weight: bold;
}

.smalltext {
  font-size: 11px;
}

.largetext {
  font-size: 16px;
  font-weight: bold;
}

input.textbox {
  background: #ffffff;
  color: #000000;
  border: 1px solid #0f5c8e;
  padding: 1px;
}

textarea {
  background: #ffffff;
  color: #000000;
  border: 1px solid #0f5c8e;
  padding: 2px;
  font-family: Verdana, Arial, Sans-Serif;
  line-height: 1.4;
  font-size: 13px;
}

select {
  background: #ffffff;
  border: 1px solid #0f5c8e;
}

.editor {
  background: #f1f1f1;
  border: 1px solid #ccc;
}

.editor_control_bar {
  background: #fff;
  border: 1px solid #0f5c8e;
}

.autocomplete {
  background: #fff;
  border: 1px solid #000;
  color: black;
}

.autocomplete_selected {
  background: #adcee7;
  color: #000;
}

.popup_menu {
  background: #ccc;
  border: 1px solid #000;
}

.popup_menu .popup_item {
  background: #fff;
  color: #000;
}

.popup_menu .popup_item:hover {
  background: #C7DBEE;
  color: #000;
}

.trow_reputation_positive {
  background: #ccffcc;
}

.trow_reputation_negative {
  background: #ffcccc;
}

.reputation_positive {
  color: green;
}

.reputation_neutral {
  color: #444;
}

.reputation_negative {
  color: red;
}

.invalid_field {
  border: 1px solid #f30;
  color: #f30;
}

.valid_field {
  border: 1px solid #0c0;
}

.validation_error {
  background: url(images/invalid.gif) no-repeat center left;
  color: #f30;
  margin: 5px 0;
  padding: 5px;
  font-weight: bold;
  font-size: 11px;
  padding-left: 22px;
}

.validation_success {
  background: url(images/valid.gif) no-repeat center left;
  color: #00b200;
  margin: 5px 0;
  padding: 5px;
  font-weight: bold;
  font-size: 11px;
  padding-left: 22px;
}

.validation_loading {
  background: url(images/spinner.gif) no-repeat center left;
  color: #555;
  margin: 5px 0;
  padding: 5px;
  font-weight: bold;
  font-size: 11px;
  padding-left: 22px;
}

img {
  border: none;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
  float: none;
  width: 1%;
}

.hiddenrow {
  display: none;
}

.selectall {
  background-color: #FFFBD9;
  font-weight: bold;
  text-align: center;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.menu ul {
  list-style: none;
  margin: 0;
}

.menu li {
  display: inline;
  padding-left: 5px;
}

.menu img {
  padding-right: 5px;
  vertical-align: top;
}

#panel .links {
  margin: 0;
  float: right;
}

.expcolimage {
  float: right;
  width: auto;
  vertical-align: middle;
  margin-top: 3px;
}

img.attachment {
  border: 1px solid #E9E5D7;
  padding: 2px;
}

hr {
  background-color: #000000;
  color: #000000;
  height: 1px;
  border: 0px;
}

#copyright {
  font: 11px Verdana, Arial, Sans-Serif;
  margin: 0;
  padding: 10px 0 0 0;
}

#debug {
  float: right;
  text-align: right;
  margin-top: 0;
}

blockquote {
  border: 1px solid #EE0000;
  margin: 0;
  background: #030303;
  padding: 4px;
}

blockquote cite {
  font-weight: bold;
  border-bottom: 1px solid #EE0000;
  font-style: normal;
  display: block;
  margin: 4px 0;
}

blockquote cite span {
  float: right;
  font-weight: normal;
}

blockquote cite span.highlight {
  float: none;
  font-weight: bold;
  padding-bottom: 0;
}

.codeblock {
  background: #030303;
  border: 1px solid #FF0000;
  padding: 4px;
}

.codeblock .title {
  border-bottom: 1px solid #FF0000;
  font-weight: bold;
  margin: 4px 0;
}

.codeblock code {
  overflow: auto;
  height: auto;
  max-height: 200px;
  display: block;
  font-family: Monaco, Consolas, Courier, monospace;
  font-size: 13px;
}

.subforums_class {
  color: #FFFF00 !important;
}

.subforumicon {
  border: 0;
  vertical-align: middle;
}

.separator {
  margin: 5px;
  padding: 0;
  height: 0px;
  font-size: 1px;
  list-style-type: none;
}

form {
  margin: 0;
  padding: 0;
}

.popup_menu .popup_item_container {
  margin: 1px;
  text-align: left;
}

.popup_menu .popup_item {
  display: block;
  padding: 3px;
  text-decoration: none;
  white-space: nowrap;
}

.popup_menu a.popup_item:hover {
  text-decoration: none;
}

.autocomplete {
  text-align: left;
}

.subject_new {
  font-weight: bold;
  color: #B1FB17 !important;
}

.highlight {
  background: #FFFFCC;
  padding-top: 3px;
  padding-bottom: 3px;
}

.pm_alert {
  background: #000000;
  border: 3px solid #FFD324;
  text-align: center;
  padding: 5px 20px;
  margin-bottom: 15px;
  font-size: 12px;
}

.red_alert {
  background: #FBE3E4;
  border: 1px solid #A5161A;
  color: #A5161A;
  text-align: center;
  padding: 5px 20px;
  margin-bottom: 15px;
  font-size: 11px;
}

.high_warning {
  color: #CC0000;
}

.moderate_warning {
  color: #F3611B;
}

.low_warning {
  color: #AE5700;
}

div.error {
  padding: 5px 10px;
  border-top: 2px solid #FFD324;
  border-bottom: 2px solid #FFD324;
  background: #FFF6BF;
  font-size: 12px;
}

div.error p {
  margin: 0;
  color: #000;
  font-weight: normal;
}

div.error p em {
  font-style: normal;
  font-weight: bold;
  padding-left: 24px;
  display: block;
  color: #C00;
  background: url(images/error.gif) no-repeat 0;
}

div.error ul {
  margin-left: 24px;
}

.online {
  color: #15A018;
}

.offline {
  color: #C7C7C7;
}

.pagination {
  font-size: 11px;
  padding-top: 10px;
  margin-bottom: 5px;
}

.tfoot .pagination,
.tcat .pagination {
  padding-top: 0;
}

.pagination .pages {
  font-weight: bold;
}

.pagination .pagination_current,
.pagination a {
  padding: 2px 6px;
  margin-bottom: 3px;
}

.pagination a {
  border: 1px solid #81A2C4;
}

.pagination .pagination_current {
  background: #F5F5F5;
  border: 1px solid #81A2C4;
  font-weight: bold;
  color: #000;
}

.pagination a:hover {
  background: #F5F5F5;
  text-decoration: none;
}

.thread_legend,
.thread_legend dd {
  margin: 0;
  padding: 0;
}

.thread_legend dd {
  padding-bottom: 4px;
  margin-right: 15px;
}

.thread_legend img {
  margin-right: 4px;
  vertical-align: bottom;
}

.forum_legend,
.forum_legend dt,
.forum_legend dd {
  margin: 0;
  padding: 0;
}

.forum_legend dd {
  float: left;
  margin-right: 10px;
}

.forum_legend dt {
  margin-right: 10px;
  float: left;
}

.success_message {
  color: #00b200;
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 10px;
}

.error_message {
  color: #C00;
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 10px;
}

.post_body {
  padding: 5px;
}

.post_content {
  padding: 5px 10px;
}

.quick_jump {
  background: url(images/jump.gif) no-repeat 0;
  width: 13px;
  height: 13px;
  padding-left: 13px;
  vertical-align: middle;
  border: none;
}

.repbox {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 7px 5px 7px;
}

._neutral {
  background-color: #FAFAFA;
  color: #999999;
  border: 1px solid #CCCCCC;
}

._minus {
  background-color: #FDD2D1;
  color: #CB0200;
  border: 1px solid #980201;
}

._plus {
  background-color: #E8FCDC;
  color: #008800;
  border: 1px solid #008800;
}

.pagination_breadcrumb {
  background-color: #f5f5f5;
  border: 1px solid #fff;
  outline: 1px solid #ccc;
  padding: 5px;
  margin-top: 5px;
  font-weight: normal;
  white-space: nowrap;
}

.pagination_breadcrumb_link {
  vertical-align: middle;
  cursor: pointer;
}

a.postbit {
  background: #4c4c4c;
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313));
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  color: #fff;
  text-shadow: 0px -1px 0px #000;
  border: 1px solid #000;
  border-radius: 3px 3px 3px 3px;
  font-size: 10px;
  padding: 1px 5px 2px;
  text-transform: uppercase;
  opacity: 1;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a.postbit:hover {
  opacity: 0.75;
  text-decoration: none;
  text-shadow: 1px 1px 0 #043157;
}

a.postbit_large {
  background: #4c4c4c;
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313));
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  color: #fff;
  text-shadow: 0px -1px 0px #000;
  border: 1px solid #000;
  border-radius: 3px 3px 3px 3px;
  font-size: 15px;
  padding: 2px 10px 4px;
  text-transform: uppercase;
  opacity: 1;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a.postbit_large:hover {
  opacity: 0.75;
  text-decoration: none;
}

.navbar ul#list-nav {
  background: #4c4c4c;
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313));
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  border-left: 1px solid #2d2d2d;
  border-top: 1px solid #2d2d2d;
  border-right: 1px solid #2d2d2d;
  height: 25px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  padding-left: 6px;
  z-index: 1;
  border-radius: 5px 5px 0px 0px;
}

.navbar ul#list-nav li {
  display: inline;
  font-size: 11px;
  font-weight: bold;
}

.navbar ul#list-nav li a {
  border-right: 1px solid #000000;
  color: #FFCC00;
  float: left;
  line-height: 23px;
  padding: 0 5px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

.navbar ul#list-nav li a:hover {
  color: #FFFFFF;
  box-shadow: inset 0px 0px 10px #000;
}

.navbar #list-nav li a:visited {
  color: #FFCC00;
}

.navbar #list-nav li a:active {
  color: #FFFFFF;
}

.stat {
  background: #4c4c4c;
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313));
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  margin-left: 15px;
  padding: 7px 14px;
  border: 1px solid #000;
  text-shadow: 0px -1px 0px #000;
}

.logo {
  margin-bottom: 20px;
  text-align: center;
}

input.textbox {
  background: #333;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 3px;
  color: #ccc;
}

input.button {
  background: #4c4c4c;
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313));
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  border: 1px solid #000;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 2px 3px;
  text-transform: uppercase;
  font-size: 12px;
  text-shadow: 0px -1px 0px #000;
  opacity: 1;
}

input.button:hover {
  opacity: 0.75;
}

#navcontainer ul {
  font-family: Arial,Helvetica,sans-serif;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#navcontainer a {
  border-bottom: 1px solid #535353;
  display: block;
  padding: 3px;
}

#navcontainer a:link,
.navlist a:visited {
  color: #FFCC00;
  text-decoration: none;
}

#navcontainer a:hover {
  background-color: #FFCC00;
  color: #000000;
  text-shadow: 0px 0px 0px;
}

.navigation_header {
  background: none repeat scroll 0 0 #222222;
  border-bottom: 1px solid #DDDDDD;
  color: white;
  cursor: default;
  display: block;
  font-weight: bold;
  padding: 5px 3px;
}

.navigation_header img {
  margin-right: 5px;
}

.signature img {
  max-width: 600px;
  max-height: 60px;
  overflow: hidden;
}

.signature {
  border-top: 3px solid #aaaaaa;
  width: 100%;
  margin-top: 1em;
  padding-top: 0.2em;
  max-height: 400px;
  overflow: hidden;
}

.jx-bar {
  height: 32px;
  padding: 0px;
  width: 88%;
  background-color: #e2e2e2;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #494949), color-stop(1, #000000));
  background: -moz-linear-gradient( center top, #494949 5%, #000000 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#000000');
  border: #1e1e1e solid 1px;
  margin: auto auto;
}

.jx-bar-rounded-tl {
  -webkit-border-top-left-radius: 5px;
  -khtml-border-radius-topleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}

.jx-bar-rounded-tr {
  -webkit-border-top-right-radius: 5px;
  -khtml-border-radius-topright: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}

.jx-bar-rounded-bl {
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}

.jx-bar-rounded-br {
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-radius-bottomright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5x;
}

.jx-bar span {
  width: 1px;
  height: 100%;
  background-color: #000000;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #595858), color-stop(1, #464646));
  background: -moz-linear-gradient( center top, #595858 5%, #464646 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#595858', endColorstr='#464646');
}

.jx-bar p {
  font-size: 0.1em;
  margin: 0;
  padding: 0;
}

.jx-separator-left {
  float: left;
}

.jx-separator-right {
  float: right;
}

.jx-bar-button ul {
  margin: 0px;
  padding: 0px;
}

.jx-bar-button li {
  float: left;
  list-style: none;
}

.jx-bar-button-right li {
  float: right;
  list-style: none;
}

.jx-bar-button li {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  cursor: pointer;
  padding: 4px 8px 4px 8px;
  border: #1e1e1e solid 1px;
  margin: 2px;
}

.jx-bar-button li.pm {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  cursor: pointer;
  padding: 4px 8px 4px 8px;
  border: #e5e5e5 solid 1px;
  margin: 2px;
}

.jx-bar-button li:hover {
  border: #353535 solid 1px;
  padding: 4px 8px 4px 8px;
  margin: 2px;
}

.jx-bar-button li.pm:hover {
  border: #ccc solid 1px;
  padding: 4px 8px 4px 8px;
  margin: 2px;
}

.jx-bar-button-rounded li:hover {
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.jx-bar-button li a:link,
.jx-bar-button li a:visited {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  text-decoration: none;
  padding: 1px;
}

.jx-bar-button li a:hover {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333;
  text-decoration: none;
}

.jx-bar div,
.jx-bar iframe {
  float: left;
}

.jx-bar div {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #fefefe;
  font-weight: normal;
  padding: 4px 8px 4px 8px;
  margin: 4px 0px 4px 0px;
  text-shadow: #000000 0px 1px 1px;
}

.jx-bar iframe {
  margin: 4px 0px 4px 10px;
}

.jx-bar div a:link,
.jx-bar div a:visited {
  color: #666;
  text-decoration: none;
}

.jx-bar div a:hover {
  color: #0099FF;
  text-decoration: none;
}

.jx-bar-button-tooltip {
  height: auto;
  padding: 5px 10px 5px 10px;
  color: #fff;
  text-shadow: #000000 0px 1px 1px;
  background-color: #36393D;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.jx-bar-button-tooltip {
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-bottom-right: 3x;
}

.jx-nav-menu {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 2px;
  background-color: #000000;
  border: #ccc solid 1px;
  text-align: left;
}

.jx-nav-menu-rounded {
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #AAAAAA;
}

.jx-nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
}

.jx-nav-menu a:hover {
  background-color: #6c6c6c;
  color: #fefefe;
  text-shadow: #000000 0px 1px 1px;
  text-decoration: none;
}

.jx-nav-menu ul li {
  display: block;
  text-decoration: none;
  color: #777;
  background: #000000;
  padding: 2px;
  border: 1px solid #6c6c6c;
  border-bottom: 0px;
}

.jx-nav-menu ul li a {
  display: block;
  text-decoration: none;
  color: #9c9c9c;
  background: #000000;
  text-shadow: #000000 0px 1px 1px;
  padding: 8px;
  border: 1px solid #6c6c6c;
  border-bottom: 0px;
}

.jx-nav-menu ul li.action a {
  display: block;
  text-decoration: none;
  color: #777;
  background: #fff0f0;
  padding: 8px;
  border: 1px solid #eee;
  border-bottom: 0px;
  text-shadow: #ffffff 0px 1px 1px;
}

.jx-nav-menu ul li.action a:hover {
  background-color: #ffffff;
  color: #6c6c6c;
  text-decoration: none;
}

.jx-nav-menu ul li.actionwelcome a {
  display: block;
  text-decoration: none;
  color: #777;
  background: #f7fff0;
  padding: 8px;
  border: 1px solid #eee;
  border-bottom: 0px;
  text-shadow: #ffffff 0px 1px 1px;
}

.jx-nav-menu ul li.actionwelcome a:hover {
  cursor: default;
}

.jx-nav-menu ul li button {
  -webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 1px 0px 0px;
  background-color: #EEE;
  border: 1px solid #999;
  color: #666;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, Sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: #ffffff 0px 1px 1px;
}

.jx-nav-menu ul li button:hover {
  background-color: #f7f4f4;
  cursor: pointer;
}

.jx-nav-menu ul li input.textbox {
  background: #ffffff;
  color: #6c6c6c;
  border: 1px solid #AAAAAA;
  padding: 2px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-style: italic;
}

.jx-nav-menu ul li input.search {
  background: #ffffff;
  color: #000000;
  border: 1px solid #AAAAAA;
  padding: 2px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-style: italic;
  width: 98%;
}

.jx-nav-menu-active {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  cursor: pointer;
  background-color: #464646;
  padding: 4px 8px 4px 8px;
  margin: 2px;
}

.jx-nav-menu-active-rounded {
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.jx-arrow-up {
  background-image: url('up.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.jx-arrow-down {
  background-image: url('dn.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.jx-tool-point-dir-down {
  background-image: url('ttd.gif');
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 5px;
  width: auto;
}

.jx-tool-point-dir-up {
  background-image: url('ttu.gif');
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 5px;
  width: auto;
}

.jx-hide {
  float: right;
  background-image: url('hide.png');
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.jx-hide-top {
  float: right;
  background-image: url('show.png');
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.jx-show {
  height: 30px;
  padding: 0px;
  width: 40px;
  background-color: #e2e2e2;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #494949), color-stop(1, #000000));
  background: -moz-linear-gradient( center top, #494949 5%, #000000 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#000000');
  border: #1e1e1e solid 1px;
}

.jx-show-button {
  float: right;
  background-image: url('show.png');
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.jx-show-button-top {
  float: right;
  background-image: url('hide.png');
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.jx-hide-separator {
  width: 1px;
  height: 100%;
  background-color: #ccc;
  float: right;
}

#pm_notification {
  font-family: “Myriad Pro”, Tahoma, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  background-color: #8f0000;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d20000), color-stop(1, #8f0000));
  background: -moz-linear-gradient( center top, #d20000 5%, #8f0000 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d20000', endColorstr='#8f0000');
  border-radius: 4px;
  border: 1px solid #202020;
  text-shadow: #d20000 0px 1px 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
}

a#pm_notification {
  color: #1e1e1e;
  text-decoration: none;
}

a#pm_notification:hover {
  color: #373737;
  text-decoration: none;
}

#pm_notificationnew {
  font-family: “Myriad Pro”, Tahoma, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  background-color: #5a882d;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6fa639), color-stop(1, #5a882d));
  background: -moz-linear-gradient( center top, #6fa639 5%, #5a882d 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fa639', endColorstr='#5a882d');
  border-radius: 4px;
  border: 1px solid #202020;
  text-shadow: #9eda62 0px 1px 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
}

a#pm_notificationnew {
  color: #1e1e1e;
  text-decoration: none;
}

a#pm_notificationnew:hover {
  color: #373737;
  text-decoration: none;
}

span.links {
  background: none;
  font-size: 10px;
  font-weight: bold;
}

span a.links {
  color: #6c6c6c;
}