html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #E9E0FF url(images/01.gif) 3% 1% no-repeat;
}

div.actual-main-page {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

div.header {
  background: #E9E0FF;
  height: 80px;
  text-align: right;
}

div.header p {
  padding: 10px 0 0 0;
  margin: 0;
  font: normal 13px Tahoma;
  color: #6957AB;
}

div.header h1 {
  padding: 0;
  margin: 0;
}

div.header h1 a {
  width: 206px;
  height: 62px;
  margin: 0px 0 0 20px;
  display: block;
  background: url(images/fatakat-logo.gif) no-repeat;
  float: right;
}

div.header h1 span {
  display: none;
  visibility: hidden;
}

div.page-body {
  background: url(images/20.gif) repeat-y;
  padding: 0;
  margin: 0 auto;
  display: table;
  width: 100%;
}

div.page-body-inside {
  background: url(images/02.gif) top no-repeat;
  padding: 0;
  margin: 0;
}

div.page-body div.close-rc {
  clear: both;
  height: 9px;
  background: url(images/03.gif) no-repeat;
}

div.yarab {
  background: #E9E0FF;
  text-align: center;
  font: normal 11px Tahoma;
  color: #666666;
}

.skin1 {
  right: 1010px;
  position: fixed;
  width: 140px;
  height: 640px;
  cursor: pointer;
  border: none;
}

a.normal_link {
  font: normal 12px Tahoma;
  text-decoration: none;
  color: #0066CC;
}

a.normal_link:hover {
  text-decoration: underline;
}

div.right-column {
  width: 200px;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}

div.left-column {
  width: 200px;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}

div.mid-column {
  width: 548px;
  float: right;
  margin: 0 15px 0 15px;
}

div.standard-block {
  margin: 0;
  padding: 0;
}

div.standard-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

div.standard-block ul li {
  padding: 8px 5px;
  margin: 0 5px;
  line-height: 100%;
}

div.standard-block ul li img {
  margin: 0 -13px 0 0;
  padding: 0;
}

div.standard-block ul li a {
  font: bold 12px Tahoma;
  color: #626262;
  text-decoration: none;
}

div.standard-block ul li span ul {
  list-style: none;
  padding: 7px 0;
  margin: 0;
}

div.standard-block ul li span ul li {
  font: normal 11px Tahoma;
  color: #818181;
  display: inline;
  padding: 0 15px 0 12px;
  float: right;
  margin: 0;
  border: none;
}

div.standard-block ul li span ul li.date {
  background: url(images/06.gif) right center no-repeat;
}

div.standard-block ul li span ul li.views {
  background: url(images/07.gif) right center no-repeat;
  padding-right: 17px;
}

div.games {
  background: url(images/04.gif) repeat-y;
}

div.games h2.top {
  height: 39px;
  margin: 0;
  padding: 0;
  background: url(images/al3aab-fatakat.gif) no-repeat;
}

div.games h2.top a {
  width: 200px;
  height: 29px;
  display: block;
}

div.games h2.top a span {
  display: none;
}

div.games span.bottom {
  height: 10px;
  background: url(images/al3aab-fatakat-bottom.gif) no-repeat;
  display: block;
  clear: both;
}

div.games ul li {
  border-bottom: 1px solid #FFE2E3;
  background: url(images/05.gif) right 8px no-repeat;
  padding-right: 20px;
}

div.games ul li span {
  font: normal 11px Tahoma;
  color: #818181;
  display: block;
}

div.games ul li span a {
  color: #EF5258;
  text-decoration: none;
  font-weight: normal;
}

div.games ul li span a:hover {
  text-decoration: underline;
}

div.sites {
  background: url(images/08.gif) repeat-y;
  margin-top: 20px;
}

div.sites h2.top {
  height: 39px;
  margin: 0;
  padding: 0;
  background: url(images/sites-fatakat.gif) no-repeat;
}

div.sites h2.top a {
  width: 200px;
  height: 29px;
  display: block;
}

div.sites h2.top a span {
  display: none;
}

div.sites span.bottom {
  height: 10px;
  background: url(images/sites-fatakat-bottom.gif) no-repeat;
  display: block;
  clear: both;
}

div.sites ul li {
  border-bottom: 1px solid #FFE6BA;
  background: url(images/09.gif) right 11px no-repeat;
  padding-right: 20px;
}

div.sites ul li span {
  font: normal 11px Tahoma;
  color: #818181;
  display: block;
}

div.sites ul li span a {
  color: #F27C00;
  text-decoration: none;
  font-weight: normal;
}

div.sites ul li span a:hover {
  text-decoration: underline;
}

div.food {
  background: url(images/10.gif) repeat-y;
}

div.food h2.top {
  height: 39px;
  margin: 0;
  padding: 0;
  background: url(images/food-fatakat.gif) no-repeat;
}

div.food h2.top a {
  width: 200px;
  height: 29px;
  display: block;
}

div.food h2.top a span {
  display: none;
}

div.food span.bottom {
  height: 10px;
  background: url(images/food-fatakat-bottom.gif) no-repeat;
  display: block;
  clear: both;
}

div.food ul li {
  border-bottom: 1px solid #DCF5FF;
  background: url(images/11.gif) right 11px no-repeat;
  padding-right: 20px;
}

div.food ul li span {
  font: normal 11px Tahoma;
  color: #818181;
  display: block;
}

div.food ul li span a {
  color: #2DB0E6;
  text-decoration: none;
  font-weight: normal;
}

div.food ul li span a:hover {
  text-decoration: underline;
}

div.video {
  background: url(images/12.gif) repeat-y;
  margin-top: 20px;
}

div.video h2.top {
  height: 39px;
  margin: 0;
  padding: 0;
  background: url(images/video-fatakat.gif) no-repeat;
}

div.video h2.top a {
  width: 200px;
  height: 29px;
  display: block;
}

div.video h2.top a span {
  display: none;
}

div.video span.bottom {
  height: 10px;
  background: url(images/video-fatakat-bottom.gif) no-repeat;
  display: block;
  clear: both;
}

div.video ul li {
  border-bottom: 1px solid #E4F49F;
  background: url(images/13.gif) right 11px no-repeat;
  padding-right: 20px;
}

div.video ul li span {
  font: normal 11px Tahoma;
  color: #818181;
  display: block;
}

div.video ul li span a {
  color: #89AF2F;
  text-decoration: none;
  font-weight: normal;
}

div.video ul li span a:hover {
  text-decoration: underline;
}

div.stat_enter {
  height: 131px;
  padding: 0;
  margin: 0;
}

div.fatakat-statistics {
  height: 131px;
  width: 337px;
  background: url(images/statistics-bg.gif) no-repeat;
  padding: 0;
  margin: 0;
  float: right;
}

div.fatakat-statistics ul.first-line-stat,
ul.second-line-stat,
ul.third-line-stat,
ul.fourth-line-stat {
  list-style: none;
  padding: 0;
  margin: 0;
  font: normal 11px Tahoma;
  color: #6F6F6F;
}

div.fatakat-statistics ul.first-line-stat li,
ul.second-line-stat li,
ul.third-line-stat li,
ul.fourth-line-stat li {
  display: inline;
  float: right;
}

div.fatakat-statistics ul.first-line-stat li.first {
  padding: 17px 135px 0 0;
  margin: 0;
}

div.fatakat-statistics ul.first-line-stat li.second {
  padding: 20px 115px 0 0;
  margin: 0;
}

div.fatakat-statistics ul.first-line-stat a {
  text-decoration: none;
  font-weight: bold;
}

div.fatakat-statistics ul.first-line-stat a:hover {
  text-decoration: underline;
}

div.fatakat-statistics ul.second-line-stat li.first {
  padding: 9px 129px 0 0;
  margin: 0;
}

div.fatakat-statistics ul.second-line-stat li.second {
  padding: 13px 84px 0 0;
  margin: 0;
}

div.fatakat-statistics ul.third-line-stat li.first {
  padding: 6px 108px 0 0;
  margin: 0;
}

div.fatakat-statistics ul.third-line-stat li.second {
  padding: 9px 90px 0 0;
  margin: 0;
}

div.fatakat-statistics ul.fourth-line-stat li.first {
  padding: 8px 112px 0 0;
  margin: 0;
}

div.fatakat-statistics ul.fourth-line-stat li.second {
  padding: 12px 70px 0 0;
  margin: 0;
}

div.enter_the_forum {
  height: 131px;
  width: 189px;
  padding: 0;
  margin: 0;
  float: left;
}

div.enter_the_forum img {
  border: none;
}

div.thread-block {
  margin-top: 15px;
  text-align: right;
  padding: 0;
}

div.thread-block img {
  float: right;
  margin: 0 0 4px 10px;
  border: 1px solid #7b7b7b;
}

div.thread-block a {
  font: bold 18px Arial;
  color: #0066CC;
  text-decoration: none;
}

div.thread-block a:hover {
  text-decoration: underline;
}

div.thread-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.thread-block ul li {
  padding: 2px 18px 2px 0;
  margin: 0;
  font: normal 12px Tahoma;
  color: #818181;
  float: right;
  width: 360px;
}

div.thread-block ul li img {
  margin: 0 -20px 0 0;
  padding: 0;
  border: none;
}

div.thread-block ul li.author {
  background: url(images/14.gif) right top no-repeat;
}

div.thread-block ul li.category {
  background: url(images/15.gif) right center no-repeat;
}

div.thread-block ul li a {
  font: normal 12px Tahoma;
  text-decoration: none;
  color: #FF79D2;
}

div.thread-block ul li a:hover {
  text-decoration: underline;
}

div.thread-block p {
  font: normal 12px Tahoma;
  color: #818181;
  margin: 0;
  padding: 0 0 10px 0;
  text-align: justify;
}

div.thread-block span {
  display: block;
  clear: both;
  height: 21px;
  background: url(images/16.gif) repeat-x;
}

div.thread-block span ul {
  list-style: none;
  padding: 3px 10px 0 10px;
  margin: 0;
}

div.thread-block span ul li {
  display: inline;
  font: normal 12px Tahoma;
  color: #626262;
  width: 155px;
  padding: 0;
  margin: 0;
}

div.thread-block span ul li a {
  font: normal 12px Tahoma;
  text-decoration: underline;
  color: #626262;
}

div.thread-block span ul li a:hover {
  text-decoration: none;
}

div.thread-block span ul li.brief {
  background: url(images/17.gif) right 4px no-repeat;
  padding: 0 15px 0 0;
}

div.thread-block span ul li.date {
  background: url(images/18.gif) right center no-repeat;
  padding: 0 18px 0 0;
}

div.thread-block span ul li.views {
  background: url(images/19.gif) right center no-repeat;
  padding: 0 18px 0 0;
  float: left;
}

div.footer {
  clear: both;
  margin: 15px 0 0 0;
  padding: 0;
}

div.footer ul {
  list-style: none;
  width: 150px;
  padding: 0 15px 0 0;
  margin: 0;
  float: right;
  border-left: 1px dotted #CCB8FF;
}

div.footer ul li {
  padding: 0;
  margin: 0;
  text-align: right;
  font: bold 12px Tahoma;
  color: #6957AB;
  line-height: 100%;
}

div.footer ul li.sites-title {
  padding-bottom: 5px;
}

div.footer ul li.sites-title a {
  font-weight: bold;
}

div.footer ul li a {
  font: normal 12px Tahoma;
  color: #6957AB;
  text-decoration: none;
}

div.footer ul li a:hover {
  text-decoration: underline;
}

div.footer div.dev-and-des {
  padding: 5px 0;
  margin: 10px auto;
  border-top: 1px solid #CCB8FF;
  clear: both;
  font: normal 12px Tahoma;
}

div.dev-and-des ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
}

div.dev-and-des ul li {
  display: inline;
  font: normal 12px Tahoma;
  margin: 0;
  float: right;
  color: #000;
  line-height: 120%;
}

div.dev-and-des ul li.right {
  width: 230px;
  padding: 0 0 0 20px;
}

div.dev-and-des ul li.middle {
  width: 460px;
  padding: 0 20px;
  text-align: center;
}

div.dev-and-des ul li.left {
  width: 230px;
  padding: 0 20px 0 0;
  text-align: left;
}

hr.cleaner {
  clear: both;
  height: 1px;
  margin: -1px 0 0 0;
  padding: 0;
  border: none;
  visibility: hidden;
}

.ddpanelcontent {
  color: white;
  background: url(images/rc.gif) repeat-x;
  margin: 0 auto 0px;
  height: 37px;
}

ul.sites-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

ul.sites-links li {
  display: inline;
  padding: 0 10px 0 8px;
  margin: 0;
  font: normal 12px Tahoma;
}

ul.sites-links li img {
  padding-top: 2px;
}

ul.sites-links li a {
  text-decoration: none;
  color: #6957AB;
}

ul.sites-links li a:hover {
  color: #000;
  text-decoration: underline;
}

div.inner-pages {
  text-align: right;
  margin: 10px auto;
  clear: both;
}

div.inner-pages a {
  font: bold 18px Arial;
  color: #0066CC;
  text-decoration: none;
}

div.inner-pages a:hover {
  text-decoration: underline;
}

div.attention {
  background-color: #FFC45E;
  width: 100%;
  height: 28px;
  border-bottom: 1px solid black;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font: bold 12px Tahoma;
}

div.under-post {
  text-align: right;
  padding: 0;
  margin: 10px auto;
}

div.under-post p {
  font-weight: bold;
  color: #626262;
}

div.under-post ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.under-post ul li {
  padding: 0;
  margin: 0;
  font: normal 12px Tahoma;
  color: #626262;
}

div.under-post ul li.post-title a {
  font: bold 18px Arial;
  color: #0066CC;
  text-decoration: none;
}

div.under-post ul li a.post-brief {
  padding: 0;
  margin: 0;
  font: bold 12px Tahoma;
  color: #FF79D2;
  text-decoration: none;
}

div.under-post ul li a:hover {
  text-decoration: underline;
}

ul.top-categories,
ul.top-subcategories {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.top-categories li {
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px dotted #CDB8FF;
  line-height: 100%;
}

ul.top-subcategories li {
  display: inline;
  padding: 0 5px;
  margin: 0;
  border-left: 1px dotted #FF79D2;
  border-bottom: none;
  line-height: 100%;
  font: normal 12px Tahoma;
  color: #626262;
}

ul.top-categories li a {
  font: bold 18px Arial;
  color: #0066CC;
  text-decoration: none;
}

ul.top-subcategories li a {
  font: bold 12px Tahoma;
  color: #FF79D2;
  text-decoration: none;
}

ul.top-categories li a:hover,
ul.top-subcategories li a:hover {
  text-decoration: underline;
}

ul.top-subcategories li a:hover {
  background: #FF79D2;
  color: #fff;
}

div.post-addcomment {
  padding: 10px 0;
  margin: 10px auto;
  background: #F2EBFF;
  border-bottom: 1px solid #E3D4FF;
  border-top: 1px solid #E3D4FF;
  text-align: center;
}

div.post-addcomment h3 {
  color: #6957AB;
  text-align: right;
  padding: 0 15px 10px 0;
  margin: 0;
}

div.post-addcomment span {
  display: block;
}

div.post-addcomment form input[type="submit"],
.send-button {
  font: bold 12px Tahoma;
  color: #6957AB;
}

div.post-addcomment form textarea,
.text-commet {
  font: normal 13px Tahoma;
  text-align: right;
  border: 1px solid #E3D4FF;
  width: 450px;
  height: 100px;
  padding: 0;
  margin: 0;
}

div.post-comment {
  padding: 10px 0;
  margin: 10px auto;
  background: #F2EBFF;
  border-bottom: 1px solid #E3D4FF;
  border-top: 1px solid #E3D4FF;
  text-align: center;
}

div.post-comment h3 {
  color: #6957AB;
  text-align: right;
  padding: 0 15px 10px 0;
  margin: 0;
}

div.post-comment ul {
  list-style: none;
  padding: 5px 0;
  margin: 5px 10px;
  clear: both;
  border-bottom: 1px dotted #E3D4FF;
}

div.post-comment ul li {
  padding: 2px 5px;
  margin: 0;
  font: normal 13px Tahoma;
  text-align: right;
}

div.post-comment ul li.comment-number {
  float: left;
  font: bold 20px Tahoma;
  color: #DED1FF;
}

div.post-comment ul li a {
  font: bold 12px Tahoma;
  color: #FF79D2;
  text-decoration: none;
}

div.post-comment ul li a:hover {
  text-decoration: underline;
}

div.post-comment ul li.thecomment {
  color: #000;
  font-size: 14px;
}

div.iframe-comments iframe {
  border: none;
  overflow: hidden;
  height: 220px;
  width: 100%;
}

a.subscribe-now {
  font: bold 13px Tahoma;
  color: #08815E;
  text-decoration: underline;
}

a.subscribe-now:hover {
  text-decoration: none;
}

p.attention-msg {
  text-align: center;
  font: normal 13px Tahoma;
}

div.pagination {
  padding: 3px;
  margin: 20px 3px;
  text-align: center;
  font: normal 12px Tahoma;
  clear: both;
}

div.pagination a {
  border: 1px solid #dedfde;
  margin-left: 3px;
  padding: 2px 6px;
  text-decoration: none;
  color: #0061de;
}

div.pagination a:hover,
div.meneame a:active {
  border: 1px solid #0157AC;
  background-color: #0066CC;
  color: #fff;
}

div.pagination span.current {
  margin-left: 3px;
  padding: 2px 6px;
  font-weight: bold;
  color: #FF79D2;
}

div.pagination span.disabled {
  margin-left: 3px;
  padding: 2px 6px;
  color: #adaaad;
}