@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300|Open+Sans+Condensed:700&subset=greek-ext,cyrillic-ext,latin-ext);

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

body,
html {
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 1000px;
  height: 100%;
  background: url(http://assets.amung.us/images/header/headerback.png) 0 -19px repeat-x;
  background: url(http://assets.amung.us/images/header/headerback.png) 0 -19px repeat-x,url(http://assets.amung.us/images/backgrounds/default.png);
  font-family: Arial,Helvetica,sans-serif;
}

a img {
  border: 0;
}

h1 {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 42px;
  font-weight: 700;
  margin: 0;
}

h1 img {
  vertical-align: middle;
}

#wrap {
  width: 1000px;
  margin: auto;
  min-height: 100%;
}

#content {
  overflow: auto;
  padding-bottom: 100px;
}

#content a:link,
#content a:visited,
#content a:active {
  color: #000;
  text-decoration: underline;
}

#content a:hover {
  color: #09C;
  text-decoration: none;
}

.ptext {
  font-family: "Ubuntu",sans-serif;
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 300;
}

.small {
  font-size: 18px;
}

.vam {
  vertical-align: middle;
}

.nb {
  text-decoration: none!important;
  border: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: both;
}

.dn {
  display: none;
}

.di {
  display: inline;
}

#menu {
  height: 125px;
}

#global_nav {
  position: relative;
  cursor: pointer;
  margin: 0;
}

#global_nav li {
  float: left;
  display: block;
  width: 117px;
  height: 125px;
}

li#nav_home {
  background-image: url(http://assets.amung.us/images/header/nav_home_off.png);
}

li#nav_widgets {
  background-image: url(http://assets.amung.us/images/header/nav_widgets_off.png);
}

li#nav_stats {
  background-image: url(http://assets.amung.us/images/header/nav_stats_off.png);
}

li#nav_pro {
  background-image: url(http://assets.amung.us/images/header/nav_pro_off.png);
}

li#nav_help {
  background-image: url(http://assets.amung.us/images/header/nav_help_off.png);
}

#header {
  margin-top: -19px;
}

#header a:link,
#header a:visited,
#header a:active {
  color: #999;
  text-decoration: none;
}

#header a:hover {
  color: #ddd;
  text-decoration: none;
}

#sel_lang {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 11px;
  font-weight: bold;
}

#langbar {
  position: absolute;
  left: 10px;
  margin-top: 21px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  color: #777;
  width: 99%;
}

#langbar img {
  margin: 2px 10px 0 0;
}

#logo {
  padding-top: 40px;
}

#menu {
  padding-top: 21px;
}

#headspacer {
  height: 19px;
}

#prologin_ico {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 11px;
  font-weight: bold;
  z-index: 9999999;
  position: absolute;
  top: 4px;
  right: 12px;
}

#prologin_ico img {
  margin-right: 5px;
  vertical-align: -4px;
}

#footer {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 17px;
  position: relative;
  margin-top: -75px;
  height: 100px;
  clear: both;
  background: url(http://assets.amung.us/images/backgrounds/footer.png) repeat-x;
}

#footer a:link,
#footer a:visited,
#footer a:active {
  color: #666;
  text-decoration: underline;
}

#footer a:hover {
  color: #999;
  text-decoration: none;
}

#footer .border {
  border-top: solid 8px #111;
}

#footer .section {
  width: 1000px;
  margin: auto;
}

#footer .links {
  width: 500px;
  text-align: center;
  border-right: solid 2px #111;
  padding: 25px 25px 0 0;
  margin-top: 5px;
  height: 50px;
}

#footer .cr {
  font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}

#footer .addthis {
  width: 300px;
  padding: 25px 0 0 50px;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

#wrap {
  display: table;
  height: 100%;
}

.lm_img {
  margin: 25px;
}

.lm_txt {
  width: 50%;
  margin: 25px 0 0 50px;
}

.formtexts {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  color: #666;
}

.formtextpos {
  float: left;
  width: 100px;
  line-height: 35px;
  vertical-align: middle;
  text-align: right;
  padding-right: 10px;
}

.txtshrd {
  margin-bottom: 10px;
  color: #333;
  font: bold 14px Helvetica,Arial,sans-serif;
  text-decoration: none;
  padding: 7px 12px;
  position: relative;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  -webkit-transition: border-color .218s;
  -moz-transition: border .218s;
  -o-transition: border-color .218s;
  transition: border-color .218s;
  border: solid 1px #dcdcdc;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-right: 10px;
}

.textfield {
  width: 250px;
}

.textarea {
  width: 500px;
  height: 100px;
}

.buttons {
  float: left;
  padding-bottom: 20px;
  clear: both;
  margin: 25px 0 0 110px;
}

a.button {
  color: #6e6e6e;
  font: bold 12px Helvetica,Arial,sans-serif;
  text-decoration: none;
  padding: 7px 12px;
  position: relative;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  -webkit-transition: border-color .218s;
  -moz-transition: border .218s;
  -o-transition: border-color .218s;
  transition: border-color .218s;
  background: #f3f3f3;
  background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
  background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
  border: solid 1px #dcdcdc;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
}

a.button:hover {
  color: #333;
  border-color: #999;
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.2) -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

a.button:active {
  color: #000;
  border-color: #444;
}

a.left {
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  margin: 0;
}

a.middle {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-left: solid 1px #f3f3f3;
  margin: 0;
  border-left: solid 1px rgba(255,255,255,0);
}

a.middle:hover,
a.right:hover {
  border-left: solid 1px #999;
}

a.right {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  border-left: solid 1px #f3f3f3;
  border-left: solid 1px rgba(255,255,255,0);
}

a.big {
  font-size: 16px;
  padding: 10px 15px;
}

a.supersize {
  font-size: 20px;
  padding: 15px 20px;
}

a.save {
  background: url(sprite.png) 10px 7px no-repeat #f3f3f3;
  padding-left: 30px;
}

a.add {
  background: url(sprite.png) 10px -27px no-repeat #f3f3f3;
  padding-left: 30px;
}

a.delete {
  background: url(sprite.png) 10px -61px no-repeat #f3f3f3;
  padding-left: 30px;
}

a.flag {
  background: url(sprite.png) 10px -96px no-repeat #f3f3f3;
  padding-left: 30px;
}

a.up {
  background: url(sprite.png) 13px -133px no-repeat #f3f3f3;
  width: 18px;
}

a.down {
  background: url(sprite.png) 13px -168px no-repeat #f3f3f3;
  width: 18px;
}

a.save-big {
  background: url(sprite.png) 15px 11px no-repeat #f3f3f3;
  font-size: 16px;
  padding: 10px 15px 10px 35px;
}

a.add-big {
  background: url(sprite.png) 15px -23px no-repeat #f3f3f3;
  font-size: 16px;
  padding: 10px 15px 10px 35px;
}

a.delete-big {
  background: url(sprite.png) 15px -57px no-repeat #f3f3f3;
  font-size: 16px;
  padding: 10px 15px 10px 35px;
}

a.flag-big {
  background: url(sprite.png) 15px -92px no-repeat #f3f3f3;
  font-size: 16px;
  padding: 10px 15px 10px 35px;
}

a.up-big {
  background: url(sprite.png) 15px -128px no-repeat #f3f3f3;
  width: 18px;
  font-size: 16px;
  padding: 10px 15px;
}

a.down-big {
  background: url(sprite.png) 15px -163px no-repeat #f3f3f3;
  width: 18px;
  font-size: 16px;
  padding: 10px 15px;
}

.cntct_business_sec {
  clear: both;
  margin-left: 125px;
  margin-top: 10px;
}

.check_box {
  vertical-align: top;
  background-image: url(http://assets.amung.us/images/forms/check_off.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
}

#myResult {
  display: none;
}

.myResult {
  font-size: 18px;
  text-align: center;
  background-color: #B1E4A5;
  padding: 10px;
  margin-bottom: 25px;
  display: none;
}

#myResult_true {
  color: #060;
}

#myResult_false {
  color: #900;
}

.validation-advice {
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 14px;
  color: #C00;
  margin-left: 125px;
  background-image: url(http://assets.amung.us/images/forms/warning_24.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  line-height: 24px;
  font-variant: small-caps;
}

#narrowcontent {
  width: 900px;
  margin: 25px auto 0 auto;
}

.title {
  margin-left: -20px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Open Sans Condensed",sans-serif;
}

.author_created {
  margin-bottom: 1em;
  color: #666;
  font-size: .8em;
  font-family: "Open Sans Condensed",sans-serif;
}

.blog_body {
  font-family: "Ubuntu",sans-serif;
}

#narrowcontent .entry {
  margin-bottom: 60px;
}

.blog_pagination {
  width: 400px;
  margin: 0 auto 30px auto;
}

h2 {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 32px;
}

h3 {
  font-family: "Open Sans Condensed",sans-serif;
}

p {
  margin-bottom: 20px;
}

.help_nav {
  width: 290px;
  float: left;
  border-right: 1px dotted #CCC;
}

.help_content {
  width: 665px;
  float: right;
  padding-left: 15px;
  font-family: "Ubuntu",sans-serif;
  font-size: 18px;
  letter-spacing: -1px;
}

.submenu {
  padding-left: 10px;
}

.submenu ul {
  display: none;
}

.submenu li {
  padding-left: 10px;
  font-family: "Ubuntu",sans-serif;
  list-style: none;
}

.menu_title {
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}

.menu_content {
  margin-bottom: 10px;
}

.help_steps li {
  margin-bottom: 20px;
}

.help_steps img {
  border: 2px solid #000;
  max-width: 600px;
}

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0!important;
  -webkit-border-radius: 0 0 0 0!important;
  background: none!important;
  border: 0!important;
  bottom: auto!important;
  float: none!important;
  height: auto!important;
  left: auto!important;
  line-height: 1.1em!important;
  margin: 0!important;
  outline: 0!important;
  overflow: hidden!important;
  padding: 0!important;
  position: static!important;
  right: auto!important;
  text-align: left!important;
  top: auto!important;
  vertical-align: baseline!important;
  width: auto!important;
  box-sizing: content-box!important;
  font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace!important;
  font-weight: normal!important;
  font-style: normal!important;
  font-size: 12px!important;
  min-height: inherit!important;
  min-height: auto!important;
}

.syntaxhighlighter {
  width: 100%!important;
  margin: 0 0 0 0!important;
  position: relative!important;
  overflow: auto!important;
  font-size: 1em!important;
}

.syntaxhighlighter.source {
  overflow: hidden!important;
}

.syntaxhighlighter .bold {
  font-weight: bold!important;
}

.syntaxhighlighter .italic {
  font-style: italic!important;
}

.syntaxhighlighter .line {
  white-space: pre!important;
}

.syntaxhighlighter table {
  width: 100%!important;
}

.syntaxhighlighter table caption {
  text-align: left!important;
  padding: .5em 0 .5em 1em!important;
}

.syntaxhighlighter table td.code {
  width: 100%!important;
}

.syntaxhighlighter table td.code .container {
  position: relative!important;
}

.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box!important;
  position: absolute!important;
  left: 0!important;
  top: 0!important;
  width: 100%!important;
  height: 100%!important;
  border: none!important;
  background: white!important;
  padding-left: 1em!important;
  overflow: hidden!important;
  white-space: pre!important;
}

.syntaxhighlighter table td.gutter .line {
  text-align: right!important;
  padding: 0 .5em 0 1em!important;
}

.syntaxhighlighter table td.code .line {
  padding: 0 1em!important;
}

.syntaxhighlighter.nogutter td.code .container textarea,
.syntaxhighlighter.nogutter td.code .line {
  padding-left: 0!important;
}

.syntaxhighlighter.show {
  display: block!important;
}

.syntaxhighlighter.collapsed table {
  display: none!important;
}

.syntaxhighlighter.collapsed .toolbar {
  padding: .1em .8em 0 .8em!important;
  font-size: 1em!important;
  position: static!important;
  width: auto!important;
  height: auto!important;
}

.syntaxhighlighter.collapsed .toolbar span {
  display: inline!important;
  margin-right: 1em!important;
}

.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0!important;
  display: none!important;
}

.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline!important;
}

.syntaxhighlighter .toolbar {
  position: absolute!important;
  right: 1px!important;
  top: 1px!important;
  width: 11px!important;
  height: 11px!important;
  font-size: 10px!important;
  z-index: 10!important;
}

.syntaxhighlighter .toolbar span.title {
  display: inline!important;
}

.syntaxhighlighter .toolbar a {
  display: block!important;
  text-align: center!important;
  text-decoration: none!important;
  padding-top: 1px!important;
}

.syntaxhighlighter .toolbar a.expandSource {
  display: none!important;
}

.syntaxhighlighter.ie {
  font-size: .9em!important;
  padding: 1px 0 1px 0!important;
}

.syntaxhighlighter.ie .toolbar {
  line-height: 8px!important;
}

.syntaxhighlighter.ie .toolbar a {
  padding-top: 0!important;
}

.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none!important;
}

.syntaxhighlighter.printing .line .number {
  color: #bbb!important;
}

.syntaxhighlighter.printing .line .content {
  color: black!important;
}

.syntaxhighlighter.printing .toolbar {
  display: none!important;
}

.syntaxhighlighter.printing a {
  text-decoration: none!important;
}

.syntaxhighlighter.printing .plain,
.syntaxhighlighter.printing .plain a {
  color: black!important;
}

.syntaxhighlighter.printing .comments,
.syntaxhighlighter.printing .comments a {
  color: #008200!important;
}

.syntaxhighlighter.printing .string,
.syntaxhighlighter.printing .string a {
  color: blue!important;
}

.syntaxhighlighter.printing .keyword {
  color: #069!important;
  font-weight: bold!important;
}

.syntaxhighlighter.printing .preprocessor {
  color: gray!important;
}

.syntaxhighlighter.printing .variable {
  color: #a70!important;
}

.syntaxhighlighter.printing .value {
  color: #090!important;
}

.syntaxhighlighter.printing .functions {
  color: #ff1493!important;
}

.syntaxhighlighter.printing .constants {
  color: #06c!important;
}

.syntaxhighlighter.printing .script {
  font-weight: bold!important;
}

.syntaxhighlighter.printing .color1,
.syntaxhighlighter.printing .color1 a {
  color: gray!important;
}

.syntaxhighlighter.printing .color2,
.syntaxhighlighter.printing .color2 a {
  color: #ff1493!important;
}

.syntaxhighlighter.printing .color3,
.syntaxhighlighter.printing .color3 a {
  color: red!important;
}

.syntaxhighlighter.printing .break,
.syntaxhighlighter.printing .break a {
  color: black!important;
}

.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2 {
  background-color: #e0e0e0!important;
}

.syntaxhighlighter .line.highlighted.number {
  color: black!important;
}

.syntaxhighlighter table caption {
  color: black!important;
}

.syntaxhighlighter .gutter {
  color: #afafaf!important;
}

.syntaxhighlighter .gutter .line {
  border-right: 3px solid #6ce26c!important;
}

.syntaxhighlighter .gutter .line.highlighted {
  background-color: #6ce26c!important;
  color: white!important;
}

.syntaxhighlighter.printing .line .content {
  border: none!important;
}

.syntaxhighlighter.collapsed {
  overflow: visible!important;
}

.syntaxhighlighter.collapsed .toolbar {
  color: blue!important;
  background: white!important;
  border: 1px solid #6ce26c!important;
}

.syntaxhighlighter.collapsed .toolbar a {
  color: blue!important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
  color: red!important;
}

.syntaxhighlighter .toolbar {
  color: white!important;
  background: #6ce26c!important;
  border: none!important;
}

.syntaxhighlighter .toolbar a {
  color: white!important;
}

.syntaxhighlighter .toolbar a:hover {
  color: black!important;
}

.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
  color: black!important;
}

.syntaxhighlighter .comments,
.syntaxhighlighter .comments a {
  color: #008200!important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a {
  color: #09C!important;
}

.syntaxhighlighter .keyword {
  color: #0C6!important;
}

.syntaxhighlighter .preprocessor {
  color: gray!important;
}

.syntaxhighlighter .variable {
  color: #a70!important;
}

.syntaxhighlighter .value {
  color: #090!important;
}

.syntaxhighlighter .functions {
  color: #ff1493!important;
}

.syntaxhighlighter .constants {
  color: #06c!important;
}

.syntaxhighlighter .script {
  font-weight: bold!important;
  color: #C00!important;
  background-color: none!important;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
  color: gray!important;
}

.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a {
  color: #ff1493!important;
}

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
  color: red!important;
}

.syntaxhighlighter .keyword {
  font-weight: bold!important;
}

@charset "utf-8";

#clipboard {
  visibility: hidden;
}

.codebox {
  background-image: url(http://assets.amung.us/images/codeboxes/pixel.png);
}

.codebox_title {
  margin: 2px 0 2px 0;
  cursor: pointer;
  background: url(http://assets.amung.us/images/backgrounds/footer.png);
  padding: 5px;
  opacity: .8;
}

.codebox_pad {
  margin: 20px 0 0 0;
}

.textfield {
  width: 60px;
}

.radio_button {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 0;
}

.radio_button.off {
  background-image: url(http://assets.amung.us/images/forms/radio_off.png);
}

.radio_button.on {
  background-image: url(http://assets.amung.us/images/forms/radio_on.png);
}

#sliderback {
  background-image: url(http://assets.amung.us/images/codeboxes/sliderbar.png);
  background-repeat: no-repeat;
  height: 215px;
  width: 16px;
}

#sliderknob {
  background-image: url(http://assets.amung.us/images/codeboxes/sliderknob.png);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  cursor: row-resize;
}

#themap {
  margin: -10px 0 0 30px;
  width: 420px;
}

#mapdims {
  text-align: right;
  font-size: 10px;
}

#minimaps {
  margin: 0 0 0 25px;
  width: 200px;
}

#emholder {
  text-align: center;
  background-color: #666;
  height: 210px;
}

.mappin {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 5px 0 0 5px;
}

.minimap {
  width: 68px;
  height: 34px;
  cursor: pointer;
  margin: 5px 0 0 15px;
}

.clipboard {
  position: absolute;
  background-color: #6cf;
  width: 750px;
  font-size: 24px;
  text-align: center;
  color: #000;
}

.clipboard img {
  margin-right: 15px;
}

.no_flash_txt {
  font-size: 11px;
  color: #999;
  font-weight: bold;
}

.codebox_header {
  font-size: 11px;
  color: #999;
  font-weight: bold;
}

.codebox_notice {
  font-size: 10px;
  color: #C4C4C4;
  font-weight: bold;
  width: 455px;
}

.codebox_notice a {
  color: #C4C4C4!important;
}

.widget_preview_rhs {
  width: 750px;
  padding-top: 4px;
}

.widget_preview_lhs {
  width: 150px;
}

.widget_preview_lhs.classic {
  padding: 30px 0 0 100px;
}

.widget_preview_lhs.small {
  padding: 35px 0 0 100px;
}

.widget_preview_lhs.tab {
  padding: 35px 0 0 70px;
}

.widget_preview_lhs.map {
  padding: 25px 0 0 50px;
}

.wibiya_hook {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -1px;
}

.colorpicking {
  margin-top: 10px;
}

.colorpicking img {
  margin-left: 50px;
}

.tab_map_preview {
  margin-top: 25px;
}

.tab_options {
  float: left;
  margin: 50px 0 0 100px;
}

.tab_options_pos {
  display: inline-block;
  margin-right: 50px;
  padding: 5px;
  width: 100px;
}

.tab_options_pos.left {
  background-color: #ff9;
}

.tab_options_pos.bottom {
  background-color: #cfc;
}

.tab_options_pos.right {
  background-color: #9cf;
}

.browsers_txt {
  margin-top: 40px;
}

.bottom_spcr {
  margin-top: 50px;
}

.codebox {
  background-image: url(http://assets.amung.us/images/codeboxes/pixel_darker.png);
}