@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37Zp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJZ_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype');}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

script {
  display: none!important;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  overflow-x: hidden;
  min-width: 1264px;
  width: 100%;
}

body {
  background: #fff;
  color: #222;
  font-size: 14px;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  padding-top: 24px;
  -webkit-font-smoothing: antialiased;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.round {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.inactive {
  display: none!important;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.mobile {
  display: none;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.ad {
  position: relative;
}

.ad .ad-callout {
  position: absolute;
  width: 100%;
  font-size: 10px;
  color: #666;
  top: -12px;
  left: 0;
  text-align: center;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,88px,0);
    -moz-transform: translate3d(0,88px,0);
    -ms-transform: translate3d(0,88px,0);
    transform: translate3d(0,88px,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,88px,0);
    -moz-transform: translate3d(0,88px,0);
    -ms-transform: translate3d(0,88px,0);
    transform: translate3d(0,88px,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-ms-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,88px,0);
    -moz-transform: translate3d(0,88px,0);
    -ms-transform: translate3d(0,88px,0);
    transform: translate3d(0,88px,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,88px,0);
    -moz-transform: translate3d(0,88px,0);
    -ms-transform: translate3d(0,88px,0);
    transform: translate3d(0,88px,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-webkit-keyframes show-share-right {
  0% {
    -webkit-transform: translate3d(44px,0,0);
    -moz-transform: translate3d(44px,0,0);
    -ms-transform: translate3d(44px,0,0);
    transform: translate3d(44px,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-moz-keyframes show-share-right {
  0% {
    -webkit-transform: translate3d(44px,0,0);
    -moz-transform: translate3d(44px,0,0);
    -ms-transform: translate3d(44px,0,0);
    transform: translate3d(44px,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-ms-keyframes show-share-right {
  0% {
    -webkit-transform: translate3d(44px,0,0);
    -moz-transform: translate3d(44px,0,0);
    -ms-transform: translate3d(44px,0,0);
    transform: translate3d(44px,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@keyframes show-share-right {
  0% {
    -webkit-transform: translate3d(44px,0,0);
    -moz-transform: translate3d(44px,0,0);
    -ms-transform: translate3d(44px,0,0);
    transform: translate3d(44px,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-webkit-keyframes show-share-left {
  0% {
    -webkit-transform: translate3d(-44px,0,0);
    -moz-transform: translate3d(-44px,0,0);
    -ms-transform: translate3d(-44px,0,0);
    transform: translate3d(-44px,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-moz-keyframes show-share-left {
  0% {
    -webkit-transform: translate3d(-44px,0,0);
    -moz-transform: translate3d(-44px,0,0);
    -ms-transform: translate3d(-44px,0,0);
    transform: translate3d(-44px,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-ms-keyframes show-share-left {
  0% {
    -webkit-transform: translate3d(-44px,0,0);
    -moz-transform: translate3d(-44px,0,0);
    -ms-transform: translate3d(-44px,0,0);
    transform: translate3d(-44px,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@keyframes show-share-left {
  0% {
    -webkit-transform: translate3d(-44px,0,0);
    -moz-transform: translate3d(-44px,0,0);
    -ms-transform: translate3d(-44px,0,0);
    transform: translate3d(-44px,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-webkit-keyframes header-dock {
  0% {
    -webkit-transform: translate3d(0,-32px,0);
    -moz-transform: translate3d(0,-32px,0);
    -ms-transform: translate3d(0,-32px,0);
    transform: translate3d(0,-32px,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-moz-keyframes header-dock {
  0% {
    -webkit-transform: translate3d(0,-32px,0);
    -moz-transform: translate3d(0,-32px,0);
    -ms-transform: translate3d(0,-32px,0);
    transform: translate3d(0,-32px,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-ms-keyframes header-dock {
  0% {
    -webkit-transform: translate3d(0,-32px,0);
    -moz-transform: translate3d(0,-32px,0);
    -ms-transform: translate3d(0,-32px,0);
    transform: translate3d(0,-32px,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@keyframes header-dock {
  0% {
    -webkit-transform: translate3d(0,-32px,0);
    -moz-transform: translate3d(0,-32px,0);
    -ms-transform: translate3d(0,-32px,0);
    transform: translate3d(0,-32px,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-webkit-keyframes mobile-logo {
  0% {
    -webkit-transform: translate3d(-105px,0,0);
    -moz-transform: translate3d(-105px,0,0);
    -ms-transform: translate3d(-105px,0,0);
    transform: translate3d(-105px,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-moz-keyframes mobile-logo {
  0% {
    -webkit-transform: translate3d(-105px,0,0);
    -moz-transform: translate3d(-105px,0,0);
    -ms-transform: translate3d(-105px,0,0);
    transform: translate3d(-105px,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@-ms-keyframes mobile-logo {
  0% {
    -webkit-transform: translate3d(-105px,0,0);
    -moz-transform: translate3d(-105px,0,0);
    -ms-transform: translate3d(-105px,0,0);
    transform: translate3d(-105px,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@keyframes mobile-logo {
  0% {
    -webkit-transform: translate3d(-105px,0,0);
    -moz-transform: translate3d(-105px,0,0);
    -ms-transform: translate3d(-105px,0,0);
    transform: translate3d(-105px,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

.no-touch .fade-in-fast {
  animation: fadein linear .5s 1;
  -moz-animation: fadein linear .5s 1;
  -webkit-animation: fadein linear .5s 1;
  animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  -o-animation-delay: 0;
  animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
}

.no-touch .fade-in {
  animation: fadein linear 1s 1;
  -moz-animation: fadein linear 1s 1;
  -webkit-animation: fadein linear 1s 1;
  animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  -o-animation-delay: 0;
  animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
}

#featured .social {
  animation: show-share-right linear .25s 1;
  -moz-animation: show-share-right linear .25s 1;
  -webkit-animation: show-share-right linear .25s 1;
  animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  -o-animation-delay: 0;
  animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
}

.carousel .social {
  animation: show-share-left linear .25s 1;
  -moz-animation: show-share-left linear .25s 1;
  -webkit-animation: show-share-left linear .25s 1;
  animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  -o-animation-delay: 0;
  animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
}

.docked-header .mast {
  animation: header-dock linear .25s 1;
  -moz-animation: header-dock linear .25s 1;
  -webkit-animation: header-dock linear .25s 1;
  animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  -o-animation-delay: 0;
  animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
}

.logo-small {
  animation: mobile-logo linear .25s 1;
  -moz-animation: mobile-logo linear .25s 1;
  -webkit-animation: mobile-logo linear .25s 1;
  animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  -o-animation-delay: 0;
  animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 400;
  font-family: "Roboto Slab",Georgia,serif;
  line-height: 1;
}

h1.fancy,
.h1.fancy,
h2.fancy,
.h2.fancy,
h3.fancy,
.h3.fancy,
h4.fancy,
.h4.fancy,
h5.fancy,
.h5.fancy,
h6.fancy,
.h6.fancy {
  padding-bottom: 4px;
  border-bottom: 1px dotted #d0d0d0;
  margin-top: 4px;
  margin-bottom: 8px;
}

h1.row,
.h1.row,
h2.row,
.h2.row,
h3.row,
.h3.row,
h4.row,
.h4.row,
h5.row,
.h5.row,
h6.row,
.h6.row {
  margin-top: 16px;
  margin-bottom: 8px;
}

h1.row>a,
.h1.row>a,
h2.row>a,
.h2.row>a,
h3.row>a,
.h3.row>a,
h4.row>a,
.h4.row>a,
h5.row>a,
.h5.row>a,
h6.row>a,
.h6.row>a {
  color: #222;
}

h1.row>a:hover,
.h1.row>a:hover,
h2.row>a:hover,
.h2.row>a:hover,
h3.row>a:hover,
.h3.row>a:hover,
h4.row>a:hover,
.h4.row>a:hover,
h5.row>a:hover,
.h5.row>a:hover,
h6.row>a:hover,
.h6.row>a:hover {
  color: #00afed;
  text-decoration: none;
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small {
  font-size: 14px;
  font-family: Helvetica,Arial,sans-serif;
  margin-left: 24px;
}

h1 small a,
.h1 small a,
h2 small a,
.h2 small a,
h3 small a,
.h3 small a,
h4 small a,
.h4 small a,
h5 small a,
.h5 small a,
h6 small a,
.h6 small a {
  color: #999;
}

h1 small a:hover,
.h1 small a:hover,
h2 small a:hover,
.h2 small a:hover,
h3 small a:hover,
.h3 small a:hover,
h4 small a:hover,
.h4 small a:hover,
h5 small a:hover,
.h5 small a:hover,
h6 small a:hover,
.h6 small a:hover {
  color: #00afed;
  text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 1em;
  margin-bottom: .5em;
}

h1,
.h1 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 21px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
}

p {
  margin: 1em 0;
}

a {
  color: #00afed;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

ul.fancy li {
  margin-bottom: 8px;
}

ul.fancy li.sponsored {
  background-color: #FCF2D9;
  padding: 5px!important;
  margin-bottom: 14px;
}

ul.fancy li.sponsored div.author {
  max-width: 130px;
}

ul.fancy li.sponsored div.sponcontain {
  max-width: 180px;
  display: inline-block;
}

ul.fancy li.sponsored div.sponsor {
  display: inline-block;
  float: right;
}

ul.fancy li.sponsored div.sponsor.logo {
  width: 90px;
  height: 55px;
}

ul.fancy li.sponsored div.sponsor p {
  font-size: .75em;
  color: #aaa;
  margin: 0;
}

.container {
  position: relative;
}

.row {
  width: 1264px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  clear: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.333%;
  float: left;
  padding: 8px;
}

.col.double {
  width: 66.666%;
}

.col:nth-child(4) {
  clear: left;
}

.fade {
  background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,#fff));
  background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
  background: -o-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
  background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
}

@-webkit-keyframes bouncedelay {
  0%,
80%,
100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%,
80%,
100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

#loader {
  margin-top: -2px;
}

#loader.loading {
  padding-top: 102px;
  padding-bottom: 100px;
  text-align: center;
}

#loader .spinner {
  margin: 0 auto;
  width: 80px;
  text-align: center;
}

#loader .spinner>div {
  width: 18px;
  height: 18px;
  background-color: #e02133;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin: 0 4px;
}

#loader .spinner .bounce1 {
  -webkit-animation-delay: -.32s;
  animation-delay: -.32s;
}

#loader .spinner .bounce2 {
  -webkit-animation-delay: -.16s;
  animation-delay: -.16s;
}

#featured {
  padding-top: 4px;
  margin-top: -2px;
  padding-right: 316px;
  padding-bottom: 8px;
  border-bottom: 1px dotted #d0d0d0;
  overflow: hidden;
}

#featured aside {
  width: 300px;
  position: absolute;
  top: 12px;
  right: 8px;
}

#featured aside .ad {
  margin-bottom: 16px;
  text-align: center;
}

#featured aside .author-name {
  color: #999;
}

#featured aside ul.fancy {
  margin: 0;
}

#featured aside ul.fancy li {
  padding-bottom: 8px;
}

#featured aside ul.fancy h5 {
  font-family: "Roboto Slab",Georgia,serif;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 3px;
}

#featured aside ul.fancy h5 a {
  color: inherit;
}

#featured aside ul.fancy h5 a:hover {
  color: #00afed;
  text-decoration: none;
}

#featured aside ul.fancy .vertical-name {
  color: #999;
  font-size: 12px;
}

#featured aside ul.fancy .vertical-name:hover {
  color: #00afed;
  text-decoration: none;
}

.carousel {
  position: relative;
}

.carousel .slide {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
}

.carousel .slide-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 0;
  padding-top: 70%;
  background-size: cover;
  background-position: top center;
}

#main .carousel {
  border-bottom: 1px dotted #d0d0d0;
}

.carousel-article .slide {
  width: 25%;
}

.viewport {
  overflow: hidden;
  position: relative;
}

.slide {
  position: relative;
}

#topic-listing {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
}

#topic-listing .viewport {
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6;
}

#topic-listing .heading {
  font-size: 24px;
}

#topic-listing .subheading {
  margin-top: 4px;
  margin-bottom: 8px;
}

#topic-listing .subheading a {
  color: inherit;
}

#topic-listing .subheading a:hover {
  color: #00afed;
  text-decoration: none;
}

#topic-listing ul {
  margin-bottom: 28px;
}

.docked-header {
  padding-top: 121px;
}

.docked-header .mast {
  border-bottom: 1px dotted #d0d0d0;
  position: fixed;
  top: 24px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

.docked-header .mast-inner {
  padding-top: 8px;
  padding-bottom: 8px;
}

.docked-header .mast-inner .logo img {
  height: 26px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.docked-header .mast-inner .social {
  top: 8px;
}

.mast {
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.mast-inner {
  height: 42px;
  padding-top: 32px;
  padding-bottom: 24px;
  padding-left: 8px;
  padding-right: 324px;
  position: relative;
}

.mast-inner .logo {
  float: left;
  width: 280px;
  margin-right: 32px;
}

.mast-inner .logo img {
  float: left;
}

.mast-inner .social {
  position: absolute;
  height: 42px;
  top: 32px;
  right: 8px;
}

.mast-inner .social .callout {
  font-size: 12px;
  font-weight: 700;
  padding-left: 4px;
}

.search {
  overflow: hidden;
  font-size: 16px;
}

.search fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.search button {
  height: 42px;
  padding: 8px 16px;
  background-color: #e02133;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}

.search-container {
  display: table;
  float: right;
  width: 100%;
  max-width: 640px;
}

.search-inner {
  display: table-cell;
  vertical-align: top;
}

.search-box-inner {
  border: 1px solid #b0b0b0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  margin-right: 16px;
  position: relative;
  background-color: #fff;
}

.search-box-inner .search.sprite {
  position: absolute;
  top: 10px;
  left: 8px;
}

.search-box input {
  width: 100%;
  height: 40px;
  padding: 8px 8px 8px 40px;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: 0 0;
  outline: 0;
}

.search-btn {
  width: 1px;
}

.navbar-global {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}

.navbar {
  height: 24px;
}

.navbar .navbar-inner {
  padding-left: 16px;
  padding-right: 16px;
}

.navbar .navbar-inner>ul {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.navbar .navbar-inner>ul>li {
  height: 100%;
  float: left;
}

.navbar .navbar-inner>ul>li>a {
  display: block;
  height: 100%;
  line-height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
}

.navbar .navbar-inner>ul>li>a:hover {
  text-decoration: none;
}

.navbar .navbar-inner>ul>li.active>a {
  color: #fff;
  text-decoration: none;
  background-color: gray;
}

.navbar .navbar-inner>ul>li.more .submenu-content {
  width: auto;
  height: auto;
  left: auto;
  right: auto;
}

.navbar .navbar-inner>ul>li.more .submenu-topics {
  position: static;
}

.navbar .navbar-inner>ul>li.right {
  float: right;
}

.navbar .navbar-inner>ul>li.follow {
  display: none;
}

.navbar .navbar-inner>ul>li.follow .submenu-content {
  right: 0;
  background-color: #000;
  padding: 4px 8px;
}

.navbar .navbar-inner>ul>li.follow .submenu-content .sprite {
  border-color: #000;
}

.navbar .submenu .submenu-content {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 302px;
  overflow: hidden;
  line-height: 1.5;
  z-index: 102;
  color: #fff;
}

.navbar .submenu .submenu-content a {
  color: #fff;
}

.navbar .submenu .submenu-content a:hover {
  color: #000;
  text-decoration: none;
}

.navbar .submenu .submenu-topics {
  width: 243px;
  height: 100%;
  padding: 16px 25px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  background-color: gray;
  z-index: 1;
}

.navbar .submenu .submenu-topics li {
  padding-top: 3px;
  padding-bottom: 3px;
}

.navbar .submenu .submenu-topics a {
  font-weight: 700;
}

.navbar .submenu .submenu-featured {
  position: absolute;
  background-color: gray;
  width: 100%;
  height: 100%;
  padding: 8px 8px 8px 251px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar .submenu .submenu-featured>.viewport {
  width: 100%;
  height: 100%;
}

.navbar .submenu .submenu-featured>.viewport>ul {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar .submenu .submenu-featured>.viewport>ul>li {
  float: left;
  padding: 8px;
  width: 243px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar .submenu .submenu-featured>.viewport .image {
  display: block;
  vertical-align: middle;
  overflow: hidden;
  height: 154px;
  position: relative;
  background-position: center center;
  background-size: cover;
}

.navbar .submenu .submenu-featured>.viewport .image .featured {
  top: auto;
  left: auto;
  bottom: 8px;
  left: 8px;
}

.navbar .submenu .submenu-featured h4 {
  font-family: Helvetica,Arial,sans-serif;
  line-height: 1.2;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0;
}

.navbar .submenu .submenu-featured .source {
  margin: 3px 0;
}

.navbar .submenu .submenu-featured .author {
  max-width: 180px;
}

.navbar .submenu .submenu-featured .description {
  line-height: 1.3;
}

.navbar .submenu .submenu-featured-nav {
  display: none;
  position: absolute;
  top: 50%;
  width: 27px;
  height: 58px;
  margin-top: -29px;
  background-color: #000;
  -ms-filter: "alpha(Opacity=50)";
  opacity: .5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 4px;
}

.navbar .submenu .submenu-featured-nav.submenu-featured-nav-left {
  left: 8px;
}

.navbar .submenu .submenu-featured-nav.submenu-featured-nav-right {
  right: 8px;
}

.navbar .author-name {
  font-size: 12px;
}

.navbar .author-site {
  font-size: 12px;
}

.active .submenu-content {
  visibility: visible!important;
}

#mobile-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
}

.box-inner {
  position: relative;
  float: left;
  width: 100%;
  background-size: cover;
  background-position: top center;
}

.box-inner a.cover {
  z-index: 1;
}

.box-inner .heading {
  margin-top: 4px;
  margin-bottom: 8px;
}

.box-inner .site-name {
  font-weight: 700;
}

.box-inner .description {
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;
  z-index: 2;
}

.box-inner .author-name {
  color: #999;
  font-size: 14px;
}

.box-inner .author-site {
  font-size: 14px;
}

.box-inner .author-site a {
  color: #00afed;
}

.box-inner .author-site a:hover {
  color: #000;
  text-decoration: none;
}

.box-inner .share {
  height: 32px;
  position: absolute;
  bottom: 8px;
}

.box-inner .share .callout {
  color: #999;
  line-height: 32px;
}

.box-inner .share .callout a {
  color: inherit;
}

.box-inner .share .callout a:hover {
  color: inherit;
  text-decoration: underline;
}

.box-inner .share .share-arrow {
  float: left;
  margin-right: 1px;
}

.box-inner .expert img {
  width: 36px;
  margin-right: 8px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  vertical-align: middle;
}

.box-inner .expert span {
  display: inline-block;
  vertical-align: middle;
  max-width: 136px;
}

.box-inner .expert+p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.box-inner.img .callout a:hover,
.box-inner.media .callout a:hover {
  color: #00afed;
  text-decoration: none;
}

.box-inner.img h3 a,
.box-inner.media h3 a {
  color: inherit;
}

.box-inner.img h3 a:hover,
.box-inner.media h3 a:hover {
  color: #00afed;
  text-decoration: none;
}

.box-inner.no-img .heading {
  font-size: 32px;
}

.box-inner.media .description {
  background: #555;
  background: rgba(0,0,0,.6);
}

.box-inner.media .description .expert,
.box-inner.media .description h3 {
  color: #fff;
}

.double.col .box-inner .heading {
  font-size: 48px;
}

#featured .ad.box {
  display: none;
}

#featured .double.col .box-inner {
  min-height: 516px;
}

#featured .double.col .box-inner .description {
  bottom: 8px;
  left: 8px;
  right: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

#featured .box-inner {
  min-height: 250px;
}

#featured .box-inner.img .share {
  background: -moz-linear-gradient(left,rgba(255,255,255,0) 0,#fff 10%);
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(10%,#fff));
  background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,#fff 10%);
  background: -o-linear-gradient(left,rgba(255,255,255,0) 0,#fff 10%);
  background: -ms-linear-gradient(left,rgba(255,255,255,0) 0,#fff 10%);
  background: linear-gradient(to right,rgba(255,255,255,0) 0,#fff 10%);
  padding-left: 16px;
}

#featured .box-inner.img .description {
  left: -2px;
  right: -2px;
  bottom: -2px;
  padding-left: 2px;
  padding-right: 2px;
}

#featured .box-inner.no-img {
  color: #fff;
}

#featured .box-inner.no-img a {
  color: inherit;
}

#featured .box-inner.no-img a:hover {
  color: inherit;
  text-decoration: underline;
}

#featured .box-inner.no-img .description {
  top: 0;
  background-color: #00afed;
}

#featured .box-inner.no-img .expert,
#featured .box-inner.media .expert {
  padding-right: 82px;
}

#featured .box-inner.no-img .expert a,
#featured .box-inner.media .expert a {
  color: #d0d0d0;
}

#featured .box-inner.no-img .expert a:hover,
#featured .box-inner.media .expert a:hover {
  color: #d0d0d0;
  text-decoration: underline;
}

#featured .box-inner.no-img .expert a:hover span,
#featured .box-inner.media .expert a:hover span {
  border-bottom: 1px solid #d0d0d0;
}

#featured .box-inner.no-img .expert,
#featured .box-inner.no-img .share .callout,
#featured .box-inner.media .expert,
#featured .box-inner.media .share .callout {
  color: #fff;
}

#featured .box-inner.no-img .share-arrow,
#featured .box-inner.media .share-arrow {
  margin-right: 5px;
}

#featured .box-inner.no-img .description,
#featured .box-inner.media .description {
  padding-left: 16px;
  padding-right: 16px;
  bottom: 0;
  left: 0;
  right: 0;
}

#featured .box-inner .share {
  right: 16px;
}

#featured .box-inner .share .social {
  position: relative;
  right: -8px;
}

#featured .box-inner .description {
  position: absolute;
  min-height: 96px;
}

.carousel .box-inner.img {
  padding-top: 70%;
}

.carousel .box-inner.no-img h3 a {
  color: inherit;
}

.carousel .box-inner.no-img h3 a:hover {
  color: #00afed;
  text-decoration: none;
}

.carousel .box-inner .share {
  left: -4px;
}

.carousel .box-inner .description {
  padding-bottom: 36px;
  position: relative;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.image-frame {
  width: 36px;
  height: 36px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.image-frame img {
  width: 100%;
}

.author {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.img .author {
  max-width: 147px;
}

.carousel .box-inner .author {
  max-width: 251px;
}

.no-img .author,
.media .author {
  max-width: 135px;
}

.double .box-inner .author {
  max-width: none;
}

.author-name:hover {
  color: #000;
  text-decoration: none;
}

.author-site {
  font-family: Helvetica,Arial,sans-serif;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 3px;
}

.double .author .author-site {
  max-width: 400px;
}

#footer {
  background-color: #a8a8a8;
  padding-top: 20px;
  padding-bottom: 40px;
}

#footer .row {
  max-width: 1024px;
}

#footer .left {
  width: 40%;
}

#footer .right {
  width: 60%;
}

#footer .left,
#footer .right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
}

#footer img {
  max-width: 100%;
}

#footer ul {
  float: left;
  width: 33.333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
}

#footer ul a {
  color: #fff;
}

#footer ul a:hover {
  color: #fff;
  text-decoration: none;
}

#footer ul>li {
  padding-bottom: 8px;
}

#footer ul>li.copyright {
  color: #666;
}

#footer ul>li>a {
  font-weight: 700;
}

#footer .social {
  font-size: 12px;
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  max-width: 279px;
  margin: 18px 0;
}

#footer .social .callout,
#footer .social .sprite {
  display: inline-block;
  vertical-align: middle;
}

#footer .social .sprite {
  float: none;
  background-color: transparent;
  border: 0;
  margin-left: 8px;
}

.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(../img/sprite.png);
}

.sprite.arrow-dark-gray-left {
  width: 17px;
  height: 28px;
  background-position: -278px -28px;
}

.sprite.arrow-dark-gray-right {
  width: 17px;
  height: 28px;
  background-position: -335px -28px;
}

.sprite.arrow-left {
  width: 19px;
  height: 24px;
  background-position: -80px -28px;
}

.sprite.arrow-light-gray-left {
  width: 17px;
  height: 28px;
  background-position: -297px -28px;
}

.sprite.arrow-light-gray-right {
  width: 17px;
  height: 28px;
  background-position: -316px -28px;
}

.sprite.arrow-right {
  width: 19px;
  height: 24px;
  background-position: -101px -28px;
}

.sprite.fb {
  width: 24px;
  height: 24px;
  background-position: -148px -28px;
}

.sprite.footer-facebook {
  width: 24px;
  height: 24px;
  background-position: -200px -28px;
}

.sprite.footer-facebook:hover {
  width: 24px;
  height: 24px;
  background-position: -226px -28px;
}

.sprite.footer-gplus {
  width: 24px;
  height: 24px;
  background-position: -174px -28px;
}

.sprite.footer-gplus:hover {
  width: 24px;
  height: 24px;
  background-position: -252px -28px;
}

.sprite.footer-pinterest {
  width: 24px;
  height: 24px;
  background-position: -2px -28px;
}

.sprite.footer-pinterest:hover {
  width: 24px;
  height: 24px;
  background-position: -122px -28px;
}

.sprite.footer-twitter {
  width: 24px;
  height: 24px;
  background-position: -230px -2px;
}

.sprite.footer-twitter:hover {
  width: 24px;
  height: 24px;
  background-position: -360px -2px;
}

.sprite.global-nav-arrow {
  width: 9px;
  height: 5px;
  background-position: -13px -2px;
}

.sprite.global-nav-arrow-dark {
  width: 9px;
  height: 5px;
  background-position: -2px -2px;
}

.sprite.global-nav-arrow-red {
  width: 9px;
  height: 5px;
  background-position: -24px -2px;
}

.sprite.gplus {
  width: 24px;
  height: 24px;
  background-position: -334px -2px;
}

.sprite.logo-small {
  width: 105px;
  height: 16px;
  background-position: -53px -2px;
}

.sprite.menu {
  width: 16px;
  height: 16px;
  background-position: -35px -2px;
}

.sprite.pinterest {
  width: 24px;
  height: 24px;
  background-position: -204px -2px;
}

.sprite.reddit {
  width: 24px;
  height: 24px;
  background-position: -308px -2px;
}

.sprite.search {
  width: 20px;
  height: 19px;
  background-position: -182px -2px;
}

.sprite.search-white {
  width: 20px;
  height: 19px;
  background-position: -160px -2px;
}

.sprite.share-arrow {
  width: 24px;
  height: 24px;
  background-position: -256px -2px;
}

.sprite.share-arrow-blue {
  width: 24px;
  height: 24px;
  background-position: -282px -2px;
}

.sprite.slideshow-circle-red {
  width: 34px;
  height: 34px;
  background-position: -354px -28px;
}

.sprite.stumble {
  width: 24px;
  height: 24px;
  background-position: -386px -2px;
}

.sprite.tumblr {
  width: 24px;
  height: 24px;
  background-position: -28px -28px;
}

.sprite.twitter {
  width: 24px;
  height: 24px;
  background-position: -54px -28px;
}

.sprite.video-circle-red {
  width: 34px;
  height: 34px;
  background-position: -390px -28px;
}

.sprite.media {
  width: 48px;
  height: 48px;
  background: #999;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.sprite.featured {
  position: absolute;
  top: 16px;
  right: 16px;
}

.sprite.global-nav-arrow,
.sprite.global-nav-arrow-dark {
  margin-left: 3px;
}

.social .sprite,
.share .callout .sprite {
  background-color: #fff;
  border: 4px solid #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.callout a:hover .share-arrow.sprite {
  background-position: -282px -2px;
}

.social .sprite {
  margin-left: 4px;
  float: left;
}

.social .sprite.first {
  margin-left: 0;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  display: none;
}

.arrow-left {
  left: -18px;
}

.arrow-right {
  right: -18px;
}

.inactive {
  -ms-filter: "alpha(Opacity=25)"!important;
  opacity: .25!important;
}

.inactive:hover {
  cursor: default;
}

.active .global-nav-arrow,
.submenu a:hover .global-nav-arrow {
  background-position: -13px -2px;
}

.submenu-featured-nav:hover .arrow-light-gray-left {
  background-position: -297px -28px;
}

.submenu-featured-nav:hover .arrow-light-gray-right {
  background-position: -316px -28px;
}

.submenu-featured-nav.inactive:hover .arrow-light-gray-left {
  background-position: -297px -28px;
}

.submenu-featured-nav.inactive:hover .arrow-light-gray-right {
  background-position: -316px -28px;
}

.featured.sprite {
  z-index: 0;
  position: absolute;
  top: 16px;
  right: 16px;
}

.ie9 #featured .box-inner.img .share,
.lt-ie9 #featured .box-inner.img .share {
  background: #fff;
  padding-left: 4px;
}

.ie9 #topic-listing .vertical,
.lt-ie9 #topic-listing .vertical {
  width: 16.666%;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
}

.ie9 #topic-listing .vertical ul:first-child,
.lt-ie9 #topic-listing .vertical ul:first-child {
  margin-top: 0;
}

.lt-ie9 .row {
  max-width: none;
  width: 1264px;
}

.no-js .carousel {
  white-space: normal;
}

.no-js .carousel .arrow {
  display: none;
}

.touch .global-nav-arrow.sprite {
  display: none;
}

.touch .more .global-nav-arrow.sprite {
  display: inline-block;
}

.no-touch {}

.no-touch .navbar-inner>ul>li>a:hover {
  background-color: gray;
  color: #fff;
}

.no-touch .submenu:hover .submenu-content {
  visibility: visible;
}

.browsehappy {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #e02133;
  color: #fff;
  text-align: center;
  height: 32px;
  line-height: 32px;
}

.lt-ie8 body {
  padding-top: 32px!important;
}

.lt-ie8 .navbar-global {
  top: 32px!important;
}

.lt-ie8 .search-box {
  float: left!important;
}

.lt-ie8 .search-box input {
  width: auto!important;
  height: 22px!important;
}

.lt-ie8 .mast-inner {
  padding-top: 56px!important;
}

.lt-ie8 .mast-inner .social {
  top: 56px!important;
}

.lt-ie8 .docked-header .mast {
  top: 56px!important;
}

.lt-ie8 .docked-header .mast .mast-inner {
  padding-top: 8px!important;
}

.lt-ie8 .docked-header .mast .mast-inner .social {
  top: 8px!important;
}

.lt-ie8 .carousel .slide {
  float: left!important;
  width: 300px!important;
}

.lt-ie8 #featured {
  padding-right: 0!important;
}

.lt-ie8 .col {
  width: 300px!important;
}

.lt-ie8 .col.double {
  width: 617px!important;
}

@media only screen and (max-width:360px) and (orientation:portrait) and (max-device-width:720px),only screen and (max-width:640px) and (orientation:landscape) and (max-device-width:1280px) {
  .col {
    width: 100%!important;
  }

  #featured .box {
    padding-bottom: 0;
  }

  #featured .box-inner.no-img {
    min-height: 0!important;
  }

  #featured .box-inner.media,
#featured .box-inner.img {
    min-height: 0!important;
    padding-top: 70%;
  }

  #featured .box-inner.no-img {
    padding-top: 0;
  }

  #featured .box-inner.no-img .description {
    position: static;
  }

  body,
body.docked-header {
    padding-top: 44px;
  }

  #featured {
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  #featured aside {
    width: 100%;
    position: static;
    clear: left;
    float: left;
    margin-top: 1em;
  }

  #featured .box {
    padding-left: 0;
    padding-right: 0;
  }

  .mast {
    display: none;
  }

  .logo-small {
    margin: 14px 8px;
  }

  .navbar {
    height: 44px;
  }

  .navbar .navbar-inner {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
  }

  .navbar .navbar-inner .mobile {
    height: 100%;
  }

  .navbar .navbar-inner .mobile>ul {
    margin: 0;
    height: 100%;
  }

  .navbar .navbar-inner .mobile>ul>li {
    float: right;
    height: 100%;
    border-left: 1px solid #3b3b3b;
  }

  .navbar .navbar-inner .mobile>ul>li.active .toggle {
    background-color: #e02133;
  }

  .navbar .navbar-inner .mobile>ul>li .toggle {
    height: 16px;
    padding: 14px 15px;
    display: inline-block;
  }

  .navbar-inner .primary {
    display: none;
  }

  .navbar-inner .mobile {
    display: block!important;
  }

  .submenu-content {
    padding: 3px 16px!important;
    height: auto!important;
    border-top: 1px solid #3b3b3b;
    background-color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .submenu-content ul li {
    border-top: 1px solid #3b3b3b;
  }

  .submenu-content ul li a {
    color: #fff;
  }

  .submenu-content ul li a:hover {
    color: #fff;
    text-decoration: underline;
  }

  .submenu-content ul li.first,
.submenu-content ul li:first-child {
    border-top: 0;
  }

  .submenu-content ul li>a {
    font-size: 16px;
    font-weight: 700;
    display: block;
    padding: 8px;
  }

  .submenu-content ul li>a:hover {
    background-color: #e02133;
    text-decoration: none;
  }

  .submenu-content ul li .sprite {
    border-color: #000;
  }

  .submenu-content .social {
    padding: 4px 8px;
  }

  .submenu-content .callout {
    color: #ccc;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
  }

  .submenu-content .search-container {
    margin: 8px 0;
  }

  #footer .left img {
    width: 147px;
  }

  #footer .left,
#footer .right {
    width: 100%;
    clear: both;
  }

  #footer .social {
    text-align: left;
  }

  #featured .double.col .box-inner .description {
    bottom: 0;
    left: 0;
    right: 0;
  }

  #featured .double.col .box-inner.img .description {
    padding-left: 0;
    padding-right: 0;
  }

  html,
body,
.row {
    width: auto!important;
    min-width: 0!important;
  }

  .carousel-article .slide {
    width: 100%;
  }

  .box-inner.img .heading,
.box-inner.media .heading {
    font-size: 24px!important;
  }

  .box-inner.no-img .heading {
    font-size: 28px;
  }

  #topic-listing .viewport {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .lt-ie9 #topic-listing .vertical,
.ie9 #topic-listing .vertical {
    width: 50%;
  }

  #footer ul {
    width: 100%;
    float: none;
  }

  #featured .box-inner .author {
    max-width: 156px;
  }

  #featured .box-inner.img {
    padding-top: 90%;
  }
}

@media only screen and (max-width:640px) and (orientation:landscape) and (max-device-width:1280px) {
  body,
body.docked-header {
    padding-top: 88px;
  }

  .navbar {
    padding-top: 44px;
  }

  .verticals .submenu-content li {
    width: 45%;
    float: left;
    margin-left: 3%;
  }

  .verticals .submenu-content li:nth-child(2) {
    border-top: 0!important;
  }

  .verticals .submenu-content li.last {
    width: 90%;
  }
}

@-ms-viewport {
  width: 1280px;
}