body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

mark {
  background: #FF0;
  color: #000;
}

template {
  display: none;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

html {
  height: 101%;
}

.ss abbr,
.ss acronym {
  border-bottom: 1px dotted #777;
  cursor: help;
}

.ss strong {
  font-weight: bold;
}

.ss em {
  font-style: italic;
}

.ss a img {
  border: 0;
}

.ss a {
  text-decoration: none;
  color: #556da6;
}

.ss a:focus,
.ss a:hover {
  text-decoration: underline;
}

.ss .clearer {
  clear: both;
}

.ss .clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child+html .clearfix {
  zoom: 1;
}

.ss {
  color: #333;
  font-family: Arial,Helvetica,'Lucida Sans Unicode','Lucida Grande',sans-serif;
}

.ss .offscreen {
  position: absolute;
  top: -6000px;
  left: -6000px;
}

.ss .lightVersionMessage {
  background: #fff;
  padding: 17px 17px 22px 25px;
  z-index: 100;
  width: 800px;
  font-size: 50px;
  border-bottom: 2px solid #38476b;
  display: none;
}

@media (min-width:640px) {
  .ss .lightVersionMessage {
    font-size: 25px;
  }
}

.ss .lightVersionMessage.showLightVersionMessage {
  display: block!important;
}

.ss .wrapper {
  margin: 0 0 25px 25px;
  width: 800px;
  position: relative;
}

.ss .header {
  position: relative;
  height: 110px;
  z-index: 100;
}

.ss .orfonTarget {
  position: absolute;
  top: 22px;
  left: 146px;
  height: 36px;
}

.ss .networkNavigation {
  position: absolute;
  top: 77px;
  height: 27px;
  width: 100%;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

.ss .networkNavigation a {
  font-weight: normal;
  text-decoration: none;
}

.ss .networkNavigation a:focus,
.ss .networkNavigation a:hover {
  text-decoration: underline;
}

.ss .networkNavigation abbr {
  border: 0;
  cursor: pointer;
}

.ss .networkNavigation li {
  float: left;
  display: inline;
  padding: 6px 10px 6px 23px;
}

.ss .networkNavigation .sitemapMenu {
  padding-right: 25px;
  position: absolute;
  right: 0;
  height: 15px;
}

.ss .sitemapMenu a:active {
  outline: 0;
}

.ss .sitemap {
  display: none;
  position: absolute;
  right: 0;
  z-index: 20;
  width: 619px;
  height: 245px;
  padding: 4px 10px;
  outline: 0;
}

.ss .sitemap .list h3 {
  margin: 4px 0;
  outline: 0;
}

.ss .sitemap li.column {
  float: left;
}

.ss .sitemap li.column.one {
  width: 155px;
}

.ss .sitemap li.column.two {
  width: 163px;
}

.ss .sitemap li.column.three {
  width: 160px;
}

.ss .sitemap li.column.four {
  width: 130px;
}

.ss .sitemap .column,
.ss .sitemap .column li {
  float: none;
  display: block;
  padding: 0;
}

.ss .sitemap .column li {
  margin: 2px 0;
}

.ss .sitemap .column li a {
  font-weight: normal;
  text-decoration: none;
}

.ss .sitemap .column li a:hover,
.ss .sitemap .column li a:focus {
  text-decoration: underline;
}

.ss .sitemap .footer {
  clear: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 619px;
  padding: 9px 10px;
  text-align: right;
  font-weight: bold;
}

.ss .sitemap .footer a {
  color: #fff;
  padding: 2px 0 2px 50px;
  background: transparent url('/mojo/1_3/storyserver/news/common/images/orf-brick.png') no-repeat scroll 0 0;
  background: none,url('/mojo/1_3/storyserver/news/common/images/orf-brick.svg') no-repeat scroll 0 0 transparent;
}

.ss .pageFooter {
  background: #000 url('/mojo/1_3/storyserver/news/common/images/orf-brick.png') no-repeat 755px 6px;
  background: none,url('/mojo/1_3/storyserver/news/common/images/orf-brick.svg') no-repeat 755px 6px #000;
  min-height: 30px;
  height: 1.875em;
  _height: 30px;
  padding-right: 73px;
  clear: both;
  font-size: .813em;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.ss .pageFooter ul {
  float: right;
  margin-top: 7px;
}

.ss .pageFooter li {
  display: inline;
  margin-left: 36px;
}

.ss .hideBanner {
  display: none!important;
}

.ss .storyText {
  min-height: 320px;
  width: 472px;
  padding: 47px 0 90px 167px;
  font-size: .938em;
  line-height: 1.333em;
}

.ss .storyText a {
  text-decoration: underline;
}

.ss .storyText a:hover {
  color: #192030;
}

.ss .storyText a:focus {
  color: #fff;
  background: #556da6;
  padding: 2px 0;
}

.ss .storyText a:focus:hover,
.ss .storyText a:active {
  color: #192030;
  background: #fff;
  padding: 0;
}

.ss .storyText .credit,
.ss .storyText .caption {
  display: block;
}

.ss .storyText ul {
  margin: 4px 0 16px 0;
}

.ss .storyText ul li {
  padding-left: 17px;
  background: url('/mojo/1_3/storyserver/news/common/images/bullet.dot.png') 3px 8px no-repeat;
  background: none,url('/mojo/1_3/storyserver/news/common/images/bullet.dot.svg') no-repeat scroll 3px 8px rgba(0,0,0,0);
}

.ss .storyText ol {
  margin: 4px 0 16px 21px;
}

.ss .storyText ol li {
  list-style: decimal;
}

.ss .storyText h1,
.ss .storyText h1 p {
  font-size: 1.533em;
  line-height: 1.261em;
  font-weight: bold;
  margin-bottom: .870em;
  color: #222;
}

.ss .storyText h2 {
  font-size: 1.200em;
  line-height: 1.333em;
  font-weight: bold;
  margin-bottom: 2px;
}

.ss .storyText p,
.ss .storyText table,
.ss .storyText .remote {
  margin: .267em 0 1.067em 0;
}

.ss .storyText strong em,
.ss .storyText em strong {
  font-weight: bold;
  font-style: normal;
}

.ss .storyText blockquote {
  margin-top: -10px;
}

.ss .storyText h2+blockquote,
.ss .storyText ul+blockquote,
.ss .storyText ol+blockquote,
.ss .storyText blockquote+blockquote {
  margin-top: 0;
}

.ss .storyText .image {
  margin: 22px 0 20px 0;
  position: relative;
}

.ss .storyText .titleImage {
  float: left;
  margin: 0 -4px 0 -167px;
}

.ss .storyText .teaser {
  font-size: 1.067em;
  line-height: 1.313em;
  margin: 0 0 1.500em 0;
}

.ss .storyText .image img {
  display: block;
}

.ss .storyText .credit,
.ss .storyText .fact .credit {
  font-size: 10px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  text-align: right;
  color: #a5a5a5;
  margin-top: -3px;
  width: 472px;
  position: absolute;
  top: -14px;
}

.ss .storyText .caption {
  font-size: .867em;
  line-height: 1.231em;
  margin-top: 2px;
}

.ss .storyText .fact {
  float: left;
  width: 239px;
  margin: 4px 17px 3px -167px;
  padding: 0 0 5px 0;
  display: inline;
}

.ss .storyText .fact .image {
  padding-left: 0;
  margin: 0 0 6px 0;
}

.ss .storyText .fact .image .credit {
  margin: 0;
  width: 225px;
  margin: 1px 0 0 0;
}

.ss .storyText .fact .image .caption {
  padding-left: 14px;
  width: 212px;
  margin: 3px 0 -6px 0;
}

.ss .storyText .fact .image+h2,
.ss .storyText .fact .image+p {
  margin-top: 12px;
}

.ss .storyText .image.opener {
  padding: 0;
  margin-left: -167px;
  width: 639px;
}

.ss .storyText .image.opener .credit,
.ss .storyText .image.opener .caption {
  width: 625px;
  padding-left: 14px;
}

.ss .storyText .image.opener .caption {
  margin-top: 3px;
  margin-bottom: 32px;
}

.ss .storyText .fact h2,
.ss .storyText .fact p,
.ss .storyText .fact ol,
.ss .storyText .fact ul,
.ss .storyText .fact blockquote {
  padding-left: 14px;
  font-size: .867em;
  line-height: 1.308em;
  margin: 6px 0;
  width: 212px;
}

.ss .storyText .fact h2:first-child,
.ss .storyText .fact ol:first-child,
.ss .storyText .fact ul:first-child,
.ss .storyText .fact blockquote:first-child,
.ss .storyText .fact p:first-child {
  margin-top: 10px;
}

.ss .storyText .fact h2 {
  margin-bottom: -2px;
}

.ss .storyText .fact ol {
  margin-left: 21px;
}

.ss .storyText .fact ul {
  list-style: none;
}

.ss .storyText .fact ul li {
  margin: 6px 0;
  background: url('/mojo/1_3/storyserver/news/common/images/bullet.dot.small.png') no-repeat 0 6px;
  padding-left: 10px;
  list-style-image: none;
}

.ss .storyText .fact blockquote p {
  font-size: 1em;
  line-height: 1.308em;
  padding-left: 0;
  width: 100%;
  font-style: italic;
}

.ss .storyMeta {
  clear: both;
  border-top: 5px solid #f0f1f4;
}

.ss .storyMeta a {
  text-decoration: none;
}

.ss .storyMeta a:hover,
.ss .storyMeta a:focus {
  text-decoration: underline;
}

.ss .storyMeta .date {
  float: left;
}

.ss .storyMeta .toplink {
  float: right;
  background: url('/mojo/1_3/storyserver/news/common/images/arrow.top.png') no-repeat right 6px;
  background: none,url('/mojo/1_3/storyserver/news/common/images/arrow.top.svg') no-repeat right 6px;
  padding-right: 12px;
}

.ss #networknavigation .sitemap {
  display: none;
  position: absolute;
  right: 0;
  z-index: 20;
  width: 619px;
  height: 245px;
  padding: 4px 10px;
  font-size: 12px;
  outline: 0;
}

.ss #networknavigation .sitemap .list h3 {
  color: #e0e0e0;
  margin: 4px 0;
  outline: 0;
}

.ss #networknavigation .sitemap li.column {
  float: left;
}

.ss #networknavigation .sitemap li.column.one {
  width: 155px;
}

.ss #networknavigation .sitemap li.column.two {
  width: 163px;
}

.ss #networknavigation .sitemap li.column.three {
  width: 160px;
}

.ss #networknavigation .sitemap li.column.four {
  width: 130px;
}

.ss #networknavigation .sitemap .column,
.ss #networknavigation .sitemap .column li {
  float: none;
  display: block;
  padding: 0;
}

.ss .sitemap .column li {
  margin: 2px 0;
}

.ss .sitemap .column li a {
  font-weight: normal;
  color: #fff;
}

.ss .sitemap .column li a:hover,
.ss .sitemap .column li a:focus {
  text-decoration: underline;
}

.ss .sitemap .footer {
  clear: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 619px;
  padding: 9px 10px!important;
  background: #143b61;
  text-align: right;
  font-weight: bold;
}

.ss .ticker {
  margin-top: 20px;
  padding-bottom: 37px;
  font-size: 1em;
  width: 645px;
  display: block;
  float: left;
}

.ss .tickerNavigation {
  display: block;
  float: right;
  width: 150px;
  margin-top: 20px;
  font-size: 14px;
}

.ss .tickerNavigation h2 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
}

.ss .tickerNavigation a {
  font-weight: normal;
}

.ss .tickerNavigation li {
  margin-bottom: 3px;
  font-size: 13px;
}

.ss .tickerNavigation ul {
  margin-bottom: 12px;
}

.ss .tickerNavigation a:focus {
  background-color: #556da6;
  color: #fff;
}

.ss .tickerNavigation a:focus {
  padding: 2px 3px;
}

.ss .tickerNavigation a:focus:hover {
  padding: 0;
  background-color: #fff;
  color: #556da6;
}

.ss .tickerNavigation a:active {
  background-color: #fff;
  color: #556da6;
}

.ss .tickerNavigation a:active {
  padding: 0;
}

.ss .tickerPromo {
  margin-top: 14px;
  float: right;
  width: 155px;
  margin-bottom: -4px;
}

.ss .ticker .ressort {
  margin-bottom: 15px;
}

.ss .ticker .topic {
  float: left;
  width: 149px;
  text-align: right;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  color: #222;
  padding-top: 3px;
  margin-right: 8px;
}

.ss .ticker h2 {
  width: 450px;
  -webkit-font-smoothing: antialiased;
}

.ss #activeItem h2 {
  margin-left: 5px;
  margin-bottom: -7px;
}

.ss.news .ticker h2 a {
  color: #fff;
}

.ss .ticker h2 a:focus {
  background-color: #f8f8f8;
  color: #556da6;
  outline: 0;
  padding: 2px 4px;
}

.ss .ticker h2 a:active {
  background-color: #5d8dc5;
  color: #fff;
  outline: 0;
  padding: 0;
}

.ss .ticker #activeItem h2 a:focus {
  text-decoration: underline;
  padding: 0;
}

.ss .ticker #activeItem h2 a:active {
  background-color: #f8f8f8;
  color: #222;
  font-weight: bold;
  outline: 0;
  text-decoration: none;
}

.ss .ticker .letztemeldung h2 a,
.ss .ticker .letztemeldungen h2 a {
  font-weight: bold;
}

.ss .ticker .ressort.letztemeldung h2,
.ss .ticker .ressort.letztemeldungen h2 {
  font-size: 1.125em;
  font-weight: bold;
  padding-top: 1px;
}

.ss .ressort.letztemeldung .topic,
.ss .ressort.letztemeldungen .topic {
  margin-top: 3px;
}

.ss .ressort .stories {
  float: left;
}

.ss .tickerBox {
  margin-left: 5px;
  margin-bottom: 1px;
  padding: 3px 6px 3px 4px;
  width: 471px;
  clear: both;
}

.ss .ticker .liveTicker h2 a {
  font-weight: bold;
}

.ss .ticker .image {
  position: relative;
  padding-top: 10px;
}

.ss .ticker .image img {
  display: block;
  width: 463px;
}

.ss .ticker .image .credit {
  font-size: 10px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  text-align: right;
  color: #a5a5a5;
  width: 463px;
  position: absolute;
  top: -14px;
}

.ss .ticker .image .caption {
  width: 463px;
  font-size: 13px;
  line-height: 16px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  margin-top: 2px;
}

.ss #ss-tickerClose {
  width: 12px;
  height: 12px;
  background: url('/mojo/1_3/storyserver/news/common/images/closeSpriteFilled.png') no-repeat;
  outline: 0;
  cursor: pointer;
  display: none;
}

.ss #activeItem #ss-tickerClose {
  display: block;
  position: absolute;
  top: 6px;
  right: 6px;
}

.ss #ss-tickerClose:hover,
.ss #ss-tickerClose:focus {
  outline: inherit;
  background-position: 0 -12px;
}

.ss #activeItem.tickerBox {
  padding: 1px 4px 1px 2px;
  border: 2px solid #f8f8f8;
}

.ss #activeItem {
  background: #f8f8f8;
  margin-bottom: 8px;
  margin-left: 0;
  position: relative;
}

.ss .ticker h2 a {
  font-weight: normal;
  font-size: 1em;
}

.ss .ticker #activeItem h2 a {
  font-weight: bold;
  color: #222;
}

.ss .ticker h2 a:active {
  outline: 0;
}

.ss .refresh {
  margin: 6px 0 -2px 0;
}

.ss .tickerBox .refresh img {
  display: none;
}

.ss .tickerBox .text {
  display: none;
  clear: both;
  width: 450px;
  margin-left: 5px;
  line-height: 22px;
}

.ss .tickerBox .text button {
  line-height: 16px;
}

.ss .tickerBox .remote,
.ss .tickerBox .text p {
  margin: 9px 0;
  font-size: .938em;
  line-height: 1.333em;
}

.ss .tickerBox .text h3 {
  font-size: .938em;
  font-weight: bold;
  margin-top: .688em;
  margin-bottom: -0.500em;
  -webkit-font-smoothing: antialiased;
}

.ss .tickerBox .text a {
  font-weight: bold;
}

.ss .tickerBox .text h3.tableTitle {
  margin-bottom: 0;
}

.ss #activeItem .text {
  display: block;
  outline: 0;
  padding-bottom: 3px;
}

.ss.sport .ticker a:focus,
.ss.sport .ticker h2 a:focus {
  background-color: #556da6;
  color: #fff;
}

.ss.sport .ticker a:focus {
  padding: 2px 3px;
}

.ss.sport .ticker a:focus:hover {
  background-color: #fff;
  color: #556da6;
  padding: 0;
}

.ss.sport .ticker a:active,
.ss.sport .ticker h2 a:active {
  background-color: #fff;
  color: #556da6;
}

.ss.sport .ticker a:active {
  padding: 0;
}

.ss.sport .ticker #activeItem h2 a:focus {
  background-color: #ededed;
}

.ss.sport .ticker #activeItem h2 a:active {
  background-color: #ededed;
  color: #222;
  font-weight: bold;
}

.ss .storyWrapper.combo .storyText {
  padding-left: 86px;
  width: 472px;
}

.ss .storyWrapper.combo .subgrid {
  overflow: hidden;
  float: right;
  padding-bottom: 110px;
  margin: 0;
}

.ss .storyWrapper.combo .subgrid .griditem {
  margin-bottom: 5px;
  position: relative;
}

.ss .storyWrapper.combo .subgrid .griditem img {
  border-left: 5px solid white;
}

.ss .storyWrapper.combo .subgrid .griditem:hover img,
.ss .storyWrapper.combo .subgrid .griditem a:focus img,
.ss .storyWrapper.combo .subgrid .griditem.active img {
  border-left-color: #d2d3d6;
}

.ss .storyWrapper.teaser .subgrid {
  position: relative;
  height: 128px;
  margin-bottom: -1.563em;
}

.ss .storyWrapper.teaser .subgrid .griditem {
  position: absolute;
}

.ss .storyWrapper.teaser .subgrid .griditem img {
  border-bottom: 7px solid white;
}

.ss .storyWrapper.teaser .subgrid .griditem:hover img,
.ss .storyWrapper.teaser .subgrid .griditem a:focus img,
.ss .storyWrapper.teaser .subgrid .griditem.active img {
  border-bottom-color: #d2d3d6;
}

.ss .griditem img {
  display: block;
}

.ss .storyWrapper.combo .subgrid h2:focus {
  width: 138px;
  height: 42px;
  top: 0;
  left: 5px;
  font-size: 14px;
}

.ss .tableTitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 2px;
}

.ss .remote table {
  width: 472px;
  background: 0;
}

.ss .ticker .remote table {
  width: 450px;
}

.ss .remote th,
.ss .remote td {
  padding: 4px 8px;
}

.ss .remote .odd {
  background: #f3f4f6;
}

.ss .ticker .remote .odd {
  background: #e1e3e8;
}

.ss .ticker .remote a {
  font-weight: normal;
  text-decoration: underline;
}

.ss .ticker .remote a:hover,
.ss .ticker .remote a:focus {
  color: #192030;
}

.ss .remote .subHead,
.ss .remote .highlight,
.ss .remote .highlight a {
  font-weight: bold!important;
}

.ss .remote .subHead td {
  padding-left: 0;
  padding-top: 14px;
}

.ss .tableFooter {
  margin-top: 6px;
}

.ss .remote ul.tablePreviewBar {
  list-style: none;
}

.ss .remote ul.tablePreviewBar li {
  background: 0;
  background-color: #cecece;
  border-right: 3px solid black;
  float: left;
  font-weight: bold;
  list-style-type: none;
  padding: 3px 76px;
  text-transform: uppercase;
}

.ss .httpError {
  background: #fff;
}

.ss .httpError .errorMessage {
  height: 400px;
  padding: 50px 0 0 290px;
  background: url('/mojo/1_3/storyserver/news/common/images/testbild.png') 61px 52px no-repeat;
}

.ss .httpError .errorMessage h1 {
  font-weight: bold;
  font-size: 1.38em;
}

.ss .httpError .errorMessage p {
  margin: 13px 0;
  width: 455px;
}

#socialshareprivacy {
  margin: 0;
  padding-top: 8px;
}

.social_share_privacy_area {
  clear: both;
  list-style-type: none;
  width: auto;
  display: block;
  margin: 0!important;
}

.social_share_privacy_area li {
  margin: 0!important;
  padding: 0!important;
  height: 21px;
  float: left;
}

.social_share_privacy_area li .dummy_btn {
  float: left;
  margin: 0 0 0 10px;
  cursor: pointer;
  padding: 0;
  height: inherit;
}

.social_share_privacy_area li div iframe {
  overflow: hidden;
  height: inherit;
  width: inherit;
}

.social_share_privacy_area .facebook {
  width: 160px;
  display: inline-block;
  cursor: pointer;
}

.social_share_privacy_area .facebook .fb_like iframe {
  width: 140px;
}

.social_share_privacy_area .twitter {
  width: 160px;
}

.social_share_privacy_area li div.tweet {
  width: 90px;
}

.social_share_privacy_area .gplus {
  width: 120px;
}

.social_share_privacy_area li div.gplusone {
  width: 70px;
}

.social_share_privacy_area li .switch {
  display: inline-block;
  text-indent: -9999em;
  background: transparent url('/mojo/1_3/storyserver/news/common/images/socialshare/socialshareprivacy_on_off.png') no-repeat 0 0 scroll;
  width: 30px;
  height: 16px;
  overflow: hidden;
  float: left;
  margin: 4px 0 0;
  padding: 0;
  cursor: pointer;
}

.social_share_privacy_area li .switch.on {
  background-position: 0 -16px;
}

.social_share_privacy_area li.help_info {
  position: relative;
}

.social_share_privacy_area li.help_info .info:before,
.social_share_privacy_area li .help_info.icon .info:before {
  border-color: #a2b0cc transparent;
  border-style: solid;
  border-width: 15px 0 0 15px;
  bottom: -15px;
  content: "";
  display: block;
  left: 216px;
  position: absolute;
  width: 0;
}

.social_share_privacy_area li.help_info .info:after,
.social_share_privacy_area li .help_info.icon .info:after {
  border-color: #f0f1f4 transparent;
  border-style: solid;
  border-width: 13px 0 0 13px;
  bottom: -13px;
  content: "";
  display: block;
  left: 217px;
  position: absolute;
  width: 0;
}

.social_share_privacy_area li.help_info .info,
.social_share_privacy_area li .help_info.icon .info {
  display: none;
  position: absolute;
  bottom: 40px;
  left: -140px;
  width: 290px;
  padding: 10px 15px;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  background-color: #f0f1f4;
  border: 1px solid #a2b0cc;
  color: #000;
  -moz-box-shadow: 0 3px 4px #999;
  -webkit-box-shadow: 0 3px 4px #999;
  box-shadow: 0 3px 4px #999;
  z-index: 500;
}

.social_share_privacy_area li.gplus.help_info .info {
  left: -160px;
}

.social_share_privacy_area li .help_info.icon .info {
  left: -220px;
  width: 300px;
}

.social_share_privacy_area li.help_info.display .info,
.social_share_privacy_area li .help_info.icon.display .info {
  display: block;
}

.social_share_privacy_area li.help_info.info_off.display .info {
  display: none;
}

.social_share_privacy_area li .help_info.icon {
  background: #fff url('/mojo/1_3/storyserver/news/common/images/socialshare/socialshareprivacy_info.png') no-repeat;
  width: 20px;
  height: 21px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.social_share_privacy_area li.settings_info .settings_info_menu.on .help_info.icon {
  border-top-width: 0;
  border-left-width: 0;
}

.social_share_privacy_area li.settings_info a {
  text-decoration: none;
  margin: 0!important;
}

.social_share_privacy_area li.settings_info .settings_info_menu {
  left: 0;
  position: absolute;
  top: 0;
  width: 135px;
  z-index: 1000;
  margin: 0;
  padding: 0;
}

.social_share_privacy_area li.settings_info .settings_info_menu.off {
  border-width: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.social_share_privacy_area li.settings_info .settings_info_menu.off form {
  display: none;
  margin: 0;
  padding: 0;
}

.social_share_privacy_area li.settings_info .settings_info_menu .settings {
  text-indent: -9999em;
  display: inline-block;
  background: #fff url('/mojo/1_3/storyserver/news/common/images/socialshare/settings.png') no-repeat center center scroll;
  width: 25px;
  height: 20px;
  border: 2px solid #e7e3e3;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

.social_share_privacy_area li.settings_info .settings_info_menu.on .settings {
  border-top-width: 0;
}

.social_share_privacy_area li.settings_info .settings_info_menu form fieldset {
  border-width: 0;
  margin: 0;
  padding: 0 10px 10px;
}

.social_share_privacy_area li.settings_info .settings_info_menu form fieldset legend {
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  margin: 0;
  padding: 10px 0;
  width: 115px;
}

.social_share_privacy_area li.settings_info .settings_info_menu form fieldset input {
  clear: both;
  float: left;
  margin: 4px 10px 4px 0;
  padding: 0;
}

.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label {
  display: inline-block;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  -moz-transition: color .5s ease-in;
  -webkit-transition: color .5s ease-in;
  transition: color .5s ease-in;
  margin: 0;
  padding: 0;
}

.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label.checked {
  color: #090;
}

.grid.news {
  height: 246px;
  position: relative;
}

.grid.news .griditem {
  position: absolute;
  cursor: pointer;
}

.griditem.col0 {
  left: 0;
}

.griditem.col1 {
  left: 161px;
}

.griditem.col2 {
  left: 322px;
}

.griditem.col3 {
  left: 483px;
}

.griditem.col4 {
  left: 644px;
}

.griditem.row0 {
  top: 0;
}

.griditem.row1 {
  top: 126px;
}

.ss .griditem h1:focus,
.ss .griditem h2:focus {
  top: auto;
  left: 0;
  bottom: 0;
  font-size: .938em;
  font-weight: bold;
  padding: 5px 6px;
  background: #fefefe;
  color: #556da6;
  border: 3px solid #556da6;
  z-index: 10;
  text-decoration: none!important;
  overflow: visible;
  outline: 0;
}

.ss #story .griditem h2:focus {
  font-size: .938em;
  line-height: 1.2em;
  margin-bottom: 0;
  bottom: 7px;
}

.ss .griditem.colsize156 h1:focus,
.ss .griditem.colsize156 h2:focus {
  width: 138px;
}

.ss .griditem.colsize317 h1:focus,
.ss .griditem.colsize317 h2:focus {
  width: 299px;
}

.ss .griditem.versionpicto h1:focus,
.ss .griditem.versionpicto h2:focus {
  padding-top: 8px;
  height: 39px;
}

#skiplinks a,
#skiplinks a:hover,
#skiplinks a:visited {
  position: absolute;
  left: -6000px;
  top: -6000px;
  overflow: hidden;
  display: inline;
}

#skiplinks a:focus,
#skiplinks a:active {
  position: absolute;
  display: block;
  font-size: .875em;
  font-weight: bold;
  top: 0;
  left: 25px;
  padding: .5em .5em .5em .85em;
  background: #fefefe;
  color: #556da6;
  width: 15em;
  border-width: 0 3px 3px 3px;
  border-style: solid;
  border-color: #556da6;
  z-index: 500;
  text-decoration: none!important;
  outline: 0;
}

.ss.news {
  background: #5286c1;
}

.ss .hdpiLogo * {
  float: left;
}

.ss #orfonTarget {
  position: absolute;
  top: 20px;
  left: 142px;
}

.ss #newsLogo {
  position: absolute;
  top: 20px;
  left: 84px;
}

.ss.news .networkNavigation a {
  color: #fff;
}

.ss.news .networkNavigation a:focus,
.ss.news .networkNavigation a:hover,
.ss.news .networkNavigation a.current {
  color: #abbfd2;
}

.ss.news .networkNavigation {
  background: #4371a3;
}

.ss.news .sitemapMenu.active {
  background: #06406e;
}

.ss.news .sitemap .background {
  background-color: #06406e;
}

.ss.news .sitemap .list h3 {
  color: #e0e0e0;
}

.ss.news .sitemap .list a {
  color: #fff;
}

.ss.news .sitemap .footer a:hover {
  color: #c0c0c0;
}

.ss.news .pageFooter li {
  display: inline;
  margin-left: 32px;
}

.ss.news .pageFooter a {
  color: #fff;
  text-decoration: none;
}

.ss.news .pageFooter a:focus,
.ss.news .pageFooter a:hover {
  color: #abbfd2;
  text-decoration: underline;
}

.ss.news .pageFooter,
.ss.news .sitemap .footer {
  background-color: #16406b;
}

.ss.news .content {
  background: #fff;
}

.ss.news .content.front {
  background: #5d8dc5;
}

.ss.news .storyText .fact {
  background: #e8eaed;
  background: #f0f1f4;
}

.ss .header img,
.ss .griditem img {
  color: #fff;
  font-weight: normal;
}

.ss .storyText.teaser {
  padding-bottom: 136px;
}

.ss .storyText.teaser .readMore {
  margin-bottom: 60px;
}

.ss .storyText.teaser .readMore a {
  color: #556da6;
  font-weight: bold;
  text-decoration: none;
}

.ss .storyText.teaser .readMore a:focus,
.ss .storyText.teaser .readMore a:hover {
  color: #556da6;
  background: #fff;
  text-decoration: underline;
}

.ss .frontFlag {
  position: absolute;
  top: 16px;
  left: 647px;
  height: 60px;
}

.ss .sideFlag {
  position: absolute;
  top: 388px;
  left: 648px;
  height: 60px;
}

.ss .banner {
  position: absolute;
  top: 77px;
  left: 838px;
  margin-right: 10px;
}

.ss .banner.ticker .adwxDisclaimer {
  color: #f0f0f0;
  background: #5286c1;
  font-size: 11px;
  padding: 3px 25px;
}

.ss .adwxDisclaimer {
  background: #5286c1!important;
  color: #000!important;
  text-transform: uppercase!important;
  letter-spacing: 1px!important;
  font-size: 10px!important;
  line-height: 10px!important;
  font-weight: normal!important;
  padding: 4px!important;
  margin: 0!important;
  text-align: right!important;
}

.ss #adxvbanner .adwxDisclaimer {
  margin-top: 20px!important;
}

.ss.news #adwxbottomsujet {
  background: #5286c1;
}

.ss .banner.ticker {
  margin-top: 1px;
}

.ss .storyMeta.socialshare {
  border-top: 0;
  border-bottom: 5px solid #f0f1f4;
  overflow: hidden;
}

.ss .storyMeta.socialshare p {
  margin-bottom: 4px;
}

.ss .oewaTag,
.ss .offscreen,
.ss #skiplinks,
.ss .subgrid .griditem,
.ss header *,
.ss footer,
.ss .toplink,
.ss .lightVersionMessage,
.ss .banner,
.ss .noprint,
.ss .tickerNavigation {
  display: none;
}

body {
  font-family: Arial,sans-serif;
  font-size: 10pt;
}

abbr {
  border: 0;
  text-decoration: none;
}

.clearer {
  clear: both;
}

a img {
  border: 0;
}

header {
  background: url('/mojo/1_3/storyserver/news/news/images/logo.newsorfon.print.png') 63px 6px no-repeat;
  padding-top: 55px;
}

.sport header {
  background: url('/mojo/1_3/storyserver/news/sport/images/logo.sportorfon.print.png') 59px 6px no-repeat;
  padding-top: 55px;
}

.ticker {
  width: 800px;
}

.ticker h1.topic,
.ticker .stories {
  margin-left: 156px;
  width: 483px;
}

.ticker h1.topic {
  padding-left: 10px;
  font-size: 15pt;
  margin-bottom: .6em;
}

.ticker .text {
  display: none;
}

.ticker .tickerBox {
  padding: 5px 10px;
}

.ticker #activeItem {
  background: #f0f0f0;
  border: .5pt solid #888;
  margin-bottom: 8pt;
}

.ticker #activeItem .text {
  display: block;
  outline: 0;
}

.ticker h2 {
  margin: 0 0 2pt 0;
  font-size: 12pt;
}

.ticker h3 {
  margin: 1em 0 2pt 0;
  font-size: 10pt;
}

.ticker p {
  margin: 0 0 .5em 0;
}

.storyimage {
  margin: 10px 0;
}

.storyWrapper {
  margin-left: 61px;
  margin-top: 8px;
}

.storyWrapper .griditem.active {
  display: block;
}

.storyWrapper.combo .griditem.active {
  display: none;
}

.storyWrapper .griditem.active img {
  display: none;
}

.storyWrapper .griditem.active a {
  color: #000;
  margin: 0;
}

.storyWrapper .griditem.active a:after {
  content: "";
}

.storyWrapper .griditem.active h2 {
  display: inline;
}

.storyWrapper h1 {
  margin: 0;
}

.storyWrapper .teaser {
  font-size: 11pt;
  margin-bottom: 1em;
}

.storyWrapper h2 {
  margin: 14pt 0 4pt 0;
  font-size: 14pt;
  padding: 0;
}

.storyWrapper p {
  margin: 6pt 1pt;
  line-height: 15pt;
}

.storyWrapper blockquote {
  margin-left: 0;
  padding-left: 0;
}

.ss .readMore {
  margin-top: 1em;
}

.ss .readMore a {
  text-decoration: none;
}

.fact {
  font-size: 80%;
  border: 1px dotted #555;
  float: right;
  width: 241px;
  margin-left: 14pt;
  margin-bottom: 6pt;
  margin-top: 2pt;
  clear: right;
  page-break-inside: avoid;
  background: #f0f1f4;
}

.storyWrapper .fact h2 {
  margin-top: 4pt;
}

.ss .storyWrapper .fact h2,
.ss .storyWrapper .fact p,
.ss .storyWrapper .fact ol,
.ss .storyWrapper .fact ul,
.ss .storyWrapper .fact blockquote {
  line-height: 1.308em;
  margin: 6px 0;
  padding-left: 14px;
  width: 212px;
}

.ss .storyWrapper .fact .credit,
.ss .storyWrapper .fact .caption {
  padding-left: 14px;
}

.caption,
.credit {
  display: block;
}

.credit {
  color: #757575;
}

.caption {
  font-size: 10pt;
  margin-top: 2pt;
}

.credit:before {
  content: "Foto/Grafik: ";
}

a:link,
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #316490;
}

.storyWrapper * a[href]:after {
  content: " <" attr(href) "> ";
  font-size: 90%;
  font-family: monospace;
  text-decoration: none!important;
  font-weight: normal;
  color: #555;
}

a[href^="#"]:after,
a[href*="orf.at"]:after {
  content: "";
}

.ss .storyWrapper ul li {
  padding-left: 17px;
  background: url('/mojo/1_3/storyserver/news/common/images/bullet.dot.png') 3px 5px no-repeat;
  list-style: none;
}

.ss .storyWrapper .fact ul li {
  background: url('/mojo/1_3/storyserver/news/common/images/bullet.dot.small.png') no-repeat 0 6px;
  padding-left: 10px;
  list-style: none;
}

.ss .storyWrapper .image.opener small.caption {
  margin-bottom: 20px;
  margin-top: 3px;
}

.ss h3.tableTitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 2px;
}

.ss .remote table {
  width: 472px;
  background: 0;
}

.ss .ticker .remote table {
  width: 450px;
}

.ss .remote td {
  padding: 4px 8px;
}

.ss .remote table tr.odd {
  background: #f3f4f6;
}

.ss .ticker .remote table tr.odd {
  background: #e1e3e8;
}

.ss .remote tr.subHead,
.ss .remote tr.highlight,
.ss .storyWrapper .remote table .highlight a {
  font-weight: bold;
}

.ss .remote tr.subHead td {
  padding-left: 0;
  padding-top: 14px;
}

.ss .tableFooter {
  margin-top: 6px;
}

.storyMeta {
  margin-top: 1.75em;
  border-top: 5px solid #ebecf2;
}

.storyMeta .date .offscreen {
  display: inline;
}

.grid.news {
  height: 246px;
  position: relative;
}

.grid.news .griditem {
  position: absolute;
  cursor: pointer;
}

.griditem.col0 {
  left: 0;
}

.griditem.col1 {
  left: 161px;
}

.griditem.col2 {
  left: 322px;
}

.griditem.col3 {
  left: 483px;
}

.griditem.col4 {
  left: 644px;
}

.griditem.row0 {
  top: 0;
}

.griditem.row1 {
  top: 126px;
}

.ss .griditem h1:focus,
.ss .griditem h2:focus {
  top: auto;
  left: 0;
  bottom: 0;
  font-size: .938em;
  font-weight: bold;
  padding: 5px 6px;
  background: #fefefe;
  color: #556da6;
  border: 3px solid #556da6;
  z-index: 10;
  text-decoration: none!important;
  overflow: visible;
  outline: 0;
}

.ss #story .griditem h2:focus {
  font-size: .938em;
  line-height: 1.2em;
  margin-bottom: 0;
  bottom: 7px;
}

.ss .griditem.colsize156 h1:focus,
.ss .griditem.colsize156 h2:focus {
  width: 138px;
}

.ss .griditem.colsize317 h1:focus,
.ss .griditem.colsize317 h2:focus {
  width: 299px;
}

.ss .griditem.versionpicto h1:focus,
.ss .griditem.versionpicto h2:focus {
  padding-top: 8px;
  height: 39px;
}