@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-honF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/2Q-AW1e_taO6pHwMXcXW5w.ttf) format('truetype');}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton'), url(http://themes.googleusercontent.com/static/fonts/anton/v4/5t8vP9Hx2udzw372glmOxA.ttf) format('truetype');}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #1b8ed7;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}

.footer,
.push {
  height: 200px;
}

.footer {
  border-top: 1px solid #c2c2c2;
  background-color: #fff;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 51px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  padding-left: 22px;
  background-image: url('../images/lighting.png');
  background-repeat: no-repeat;
  background-position: 0 14px;
  padding-top: 6px;
  margin-left: 50px;
}

.clear {
  clear: both;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #000;
}

.inHeader {
  width: 998px;
  margin: 0 auto;
  color: #fff;
}

.inHeader span {
  color: #1b8ed7;
}

.sloganLogo {
  margin-left: 67px;
  color: #6c6d6f;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  line-height: 7px;
}

.slider {
  width: 100%;
  height: 254px;
  background-color: #215c88;
  background-image: url('../images/blueBg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.inSlider {
  width: 998px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  background-image: url('../images/servers.png');
  background-repeat: no-repeat;
  background-position: 98.5% 100%;
}

.inSlider h2 {
  font-family: Anton, 'Open Sans', sans-serif;
  font-size: 65px;
  font-weight: 400;
  padding-left: 24px;
  padding-top: 50px;
  text-shadow: 0 2px 0 #000, 0 0 10px rgba(0,0,0,0.3),0 -2px 6px rgba(61,154,211,0.9);
}

.inSlider h2 span {
  font-size: 54px;
}

.content {
  box-shadow: inset 0 26px 1px 0 #215c88;
  height: auto;
  width: 100%;
}

.openxInfo {
  width: 910px;
  margin: 0 auto;
  border: 1px solid #c2c2c2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
  background-image: url('../images/openxInfo.png');
  background-repeat: no-repeat;
  background-position: 60px 30px;
}

.openxInfo h2 {
  margin-left: 360px;
  margin-right: 75px;
  font-size: 23px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.openxInfo p {
  margin-left: 360px;
  margin-right: 75px;
  font-size: 15px;
  color: #3f3f3f;
  text-align: justify;
  line-height: 20px;
  margin-bottom: 15px;
}

.roundThree {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.gradient {
  border: 1px solid #2373ae;
  padding: 7px 12px;
  box-shadow: 0 3px 0 -1px #dadada, 0 5px 2px -1px rgba(218,218,218,0.2), inset 0 1px 0 rgba(256,256,256,0.2);
  color: #fff;
  background: rgb(27,142,215);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiOGVkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYjc3YmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(27,142,215,1) 0%, rgba(11,119,187,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(27,142,215,1)), color-stop(100%,rgba(11,119,187,1)));
  background: -webkit-linear-gradient(top,  rgba(27,142,215,1) 0%,rgba(11,119,187,1) 100%);
  background: -o-linear-gradient(top,  rgba(27,142,215,1) 0%,rgba(11,119,187,1) 100%);
  background: -ms-linear-gradient(top,  rgba(27,142,215,1) 0%,rgba(11,119,187,1) 100%);
  background: linear-gradient(to bottom,  rgba(27,142,215,1) 0%,rgba(11,119,187,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b8ed7', endColorstr='#0b77bb',GradientType=0 );
  cursor: pointer;
}

.gradient:hover {
  text-decoration: none;
  background: rgb(11,119,187);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBiNzdiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjhlZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(11,119,187,1) 0%, rgba(27,142,215,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(11,119,187,1)), color-stop(100%,rgba(27,142,215,1)));
  background: -webkit-linear-gradient(top,  rgba(11,119,187,1) 0%,rgba(27,142,215,1) 100%);
  background: -o-linear-gradient(top,  rgba(11,119,187,1) 0%,rgba(27,142,215,1) 100%);
  background: -ms-linear-gradient(top,  rgba(11,119,187,1) 0%,rgba(27,142,215,1) 100%);
  background: linear-gradient(to bottom,  rgba(11,119,187,1) 0%,rgba(27,142,215,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b77bb', endColorstr='#1b8ed7',GradientType=0 );
}

.infoContent {
  width: 930px;
  margin: 0 auto;
  margin-top: 10px;
  background-image: url('../images/dottedLines.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #646464;
  font-size: 14px;
  text-align: justify;
}

.third {
  width: 26.996%;
  float: left;
  padding: 3.1686%;
  min-height: 300px;
  line-height: 17px;
}

.third h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #000;
  margin-bottom: 35px;
}

.third p {
  margin-bottom: 25px;
}

.third label {
  display: inline-block;
  margin-top: 20px;
  width: 57px;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin-right: 5px;
}

.third input[type=text],
.third input[type=email] {
  display: inline-block;
  width: 170px;
  padding: 5px;
  border: 1px solid #c2c2c2;
  box-shadow: 0 7px 8px -7px rgba(0,0,0,0.3);
  vertical-align: middle;
}

.third textarea {
  display: inline-block;
  width: 170px;
  height: 80px;
  padding: 5px;
  border: 1px solid #c2c2c2;
  box-shadow: 0 7px 8px -7px rgba(0,0,0,0.3);
  vertical-align: top;
  margin-top: 20px;
}

.third textarea,
input[type=text],
label,
input[type=email] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tos {
  width: 94%;
  font-size: 10px;
  font-style: italic;
  color: #969696;
  text-align: right;
  margin-top: 20px;
}

.bigStats {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  line-height: 36px;
  margin-top: 30px;
}

.bigStatsFix {
  margin-top: 5px;
}

.button {
  display: block;
  margin-left: 150px;
  margin-top: 20px;
  padding: 7px 28px;
}

.k-invalid-msg {
  font-size: 11px;
  text-align: left !important;
  display: block;
  margin-left: 43%;
  margin-top: 1px;
  color: red;
}

html,
body {
  height: 100%;
}

.avgrund-popin {
  position: absolute;
  background: #fff;
  padding: 10px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 50%;
  left: 50%;
  z-index: 9999;
  box-shadow: 0px 5px 0px #c2c2c2, 0px 15px 11px rgba(0,0,0,0.15), 0px 24px 5px rgba(0,0,0,0.1), 0px 42px 45px rgba(0,0,0,0.1), inset 0 -1px 1px rgba(80,80,80,0.6);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.avgrund-overlay {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 2000px;
  top: 0;
  left: 0;
  z-index: 5000;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}

body.avgrund-ready,
.avgrund-ready .avgrund-popin,
.avgrund-ready .avgrund-overlay {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
  -ms-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

body.avgrund-active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.avgrund-active .avgrund-popin {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.avgrund-active .avgrund-overlay {
  visibility: visible;
  opacity: .5;
  filter: alpha(opacity=50);
}

.avgrund-popin.stack {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

.avgrund-active .avgrund-popin.stack {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.avgrund-active .avgrund-blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
}

.avgrund-close {
  display: block;
  text-transform: uppercase;
  color: #555;
  text-decoration: none;
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 13px;
}

.avgrund-close {
  padding: 1px 7px;
  background-color: #eee;
  text-shadow: 1px 1px 0 #fff;
}

.modal-input {
  visibility: hidden;
  height: 5px;
}

.quoteform {
  width: 280px;
  float: left;
  margin-top: 25px;
}

.quotemarketing {
  float: left;
  width: 230px;
  height: 300px;
  margin-top: 25px;
  margin-right: 30px;
  margin-left: 20px;
}

.avgrund-popin h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.avgrund-popin p {
  margin-bottom: 25px;
  font-size: 12px;
  font-style: italic;
  text-align: justify;
  color: #646464;
  line-height: 14px;
  background-color: #f9f9f9;
  padding: 18px;
  border: 1px solid #f0f0f0;
}

.avgrund-popin label {
  display: inline-block;
  margin-top: 20px;
  width: 57px;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin-right: 5px;
  color: #646464;
}

.avgrund-popin input[type=text],
.avgrund-popin input[type=email] {
  display: inline-block;
  width: 185px;
  padding: 5px;
  border: 1px solid #c2c2c2;
  box-shadow: 0 7px 8px -7px rgba(0,0,0,0.3);
  vertical-align: middle;
}

.avgrund-popin select {
  display: inline-block;
  width: 196px;
  padding: 5px;
  border: 1px solid #c2c2c2;
  box-shadow: 0 7px 8px -7px rgba(0,0,0,0.3);
  vertical-align: middle;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #646464;
}

.avgrund-popin textarea {
  display: inline-block;
  width: 185px;
  height: 80px;
  padding: 5px;
  border: 1px solid #c2c2c2;
  box-shadow: 0 7px 8px -7px rgba(0,0,0,0.3);
  vertical-align: top;
  margin-top: 20px;
}

.avgrund-popin textarea,
input[type=text],
label,
select,
input[type=email] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.avgrund-popin .button {
  margin-top: 20px;
  padding: 7px 28px;
}

.avgrund-popin ul {
  list-style: none;
  margin-bottom: 15px;
}

.avgrund-popin li {
  padding-left: 17px;
  font-size: 14px;
  background-image: url('../images/check.png');
  background-repeat: no-repeat;
  background-position: 1px 2px;
  line-height: 16px;
}

@media only screen and (min-width: 920px) and (max-width: 1200px) {}

@media only screen and (min-width: 798px) and (max-width: 919px) {}

@media only screen and (min-width: 480px) and (max-width: 797px) {}

@media only screen and (max-width: 479px) {}