body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font-family: "Microsoft YaHei","SimSun","Arial Narrow";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

body {
  color: #333;
  background: #fff;
}

form {
  display: inline;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #0090c6;
}

a:focus {
  outline: 0;
}

em {
  font-style: normal;
  color: #999;
}

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
select,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.l {
  float: left;
}

.r {
  float: right;
}

.c {
  clear: both;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.mt5 {
  margin-top: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.white {
  color: #fff;
}

.white:hover {
  color: #fff;
}

.blue {
  color: #0269ac;
}

.blue:hover {
  color: #0269ac;
}

.red {
  color: #f00;
}

.red:hover {
  color: #d00;
}

.green {
  color: #008000;
}

.gray {
  color: #727272;
}

.black {
  color: #000;
}

.byellow {
  background: #ffffe6;
}

.bblue {
  background: #f4fcff;
}

.border {
  border: solid 1px #ddd;
}

.header {
  margin-bottom: 10px;
  width: 100%;
  min-width: 1000px;
  background: url(../images/2013/bg_head.gif) repeat-x;
}

.header .top {
  margin: 0 auto;
  width: 1000px;
  height: 43px;
  font-size: 87.5%;
}

.header .nav {
  position: relative;
  float: left;
  height: 43px;
}

.header .nav a {
  position: relative;
  float: left;
  margin-top: 2px;
  padding: 0 22px;
  height: 41px;
  line-height: 41px;
  color: #fff;
}

.header .nav a:hover {
  color: #eee;
}

.header .nav a.s0 {
  padding-left: 21px;
  border-left: solid 1px #165f8f;
}

.header .nav a.on {
  padding-left: 22px;
  color: #333;
  border: none;
  background: #f9f9f8;
}

.header .nav a.on:hover {
  color: #333;
}

.header .logo {
  display: inline;
  float: left;
  margin: 3px 20px 0 18px;
}

.header .word {
  display: none;
}

.header .user {
  position: relative;
  width: 43px;
  border-left: solid 1px #165f8f;
}

.header .user .t1 {
  width: 43px;
  height: 43px;
  overflow: hidden;
  background: url(../images/2013/ico_user.png) no-repeat 50% 50%;
}

.header .user .t2 {
  text-align: center;
  font-size: 87.5%;
}

.header .user .on {
  background: #165f8f;
}

.header .lnk {
  width: 101px;
}

.header .lnk a {
  float: left;
  padding: 0 18px;
  height: 43px;
  line-height: 43px;
  border-left: solid 1px #165f8f;
  color: #fff;
}

.header .lnk a.wap {
  padding-left: 40px;
  background: url(../images/2013/ico_wap.png) no-repeat 18px 11px;
}

.header .lnk a:hover {
  background-color: #165f8f;
}

.header .rss {
  position: relative;
  width: 88px;
  color: #eee;
}

.header .rss .t1 {
  position: absolute;
  left: 18px;
  top: 18px;
  width: 10px;
  height: 5px;
  transition-property: transform;
  transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
  background: url(../images/2013/ico_rss.png) no-repeat;
}

.header .rss .t2 {
  padding-bottom: 10px;
  font-size: 87.5%;
}

.header .rss .on {
  background: #165f8f;
}

.header .rss .on .t1 {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.header .top .t2 a {
  color: #fff;
}

.header .top .t2 a:hover {
  color: #eee;
}

.header .sub {
  margin: 0 auto;
  padding: 8px;
  width: 984px;
  height: 20px;
  font-size: 87.5%;
  text-align: center;
  background: #f9f9f8;
}

.header .sub a {
  display: inline-block;
  padding: 0 8px 0 22px;
  height: 20px;
  line-height: 20px;
  background: url(../images/2013/sub1.png) no-repeat;
}

.header .sub a.s1 {
  background-position: 0 -20px;
}

.header .sub a.s2 {
  background-position: 0 -40px;
}

.header .sub a.s3 {
  background-position: 0 -60px;
}

.header .sub a.s4 {
  background-position: 0 -80px;
}

.header .sub a.s5 {
  background-position: 0 -100px;
}

.header .sub a.s6 {
  background-position: 0 -120px;
}

.header .sub a.s7 {
  background-position: 0 -140px;
}

.header .sub a.s8 {
  background-position: 0 -160px;
}

.header .sub a.s9 {
  background-position: 0 -180px;
}

#user1 {
  transition-property: background;
  transition-duration: 1s;
  -moz-transition-property: background;
  -moz-transition-duration: 1s;
  -webkit-transition: background 1s;
}

#user2 {
  position: absolute;
  right: 0;
  top: 43px;
  width: 298px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background: #165f8f;
}

#rss1 {
  padding: 0 0 0 38px;
  height: 43px;
  line-height: 43px;
  border-left: solid 1px #165f8f;
  overflow: hidden;
  transition-property: background;
  transition-duration: 1s;
  -moz-transition-property: background;
  -moz-transition-duration: 1s;
  -webkit-transition: background 1s;
}

#rss2 {
  position: absolute;
  left: 0;
  top: 43px;
  z-index: 99;
  padding: 10px 0 10px 20px;
  width: 144px;
  color: #fff;
  background: #165f8f;
}

#sub2 a {
  background-image: url(../images/2013/sub2.png);
}

#sub3 a {
  background-image: url(../images/2013/sub3.png);
}

#sub4 a {
  background-image: url(../images/2013/sub4.png);
}

#sub5 a,
#sub0 a {
  background-image: url(../images/2013/sub5.png);
}

.footer {
  margin: 0 auto;
  width: 1000px;
  border-top: solid 2px #1b6d9d;
}

.footer .top {
  display: none;
  height: 14px;
  line-height: 14px;
  font-size: 75%;
  overflow: hidden;
}

.footer .top a {
  padding: 0 8px;
  color: #016493;
  border-left: solid 1px #ccc;
}

.footer .top a:hover {
  color: #0090c6;
}

.footer .top a.first {
  padding-left: 1px;
  border: none;
}

.footer .top a.last {
  padding-right: 1px;
}

.footer .bot {
  padding: 14px 0 28px;
  height: 14px;
  line-height: 14px;
  font-size: 75%;
  overflow: hidden;
  color: #999;
}

.footer .bot span {
  font: 12px "SimSun";
}

.footer .bot a {
  padding: 0 8px;
  color: #999;
  border-left: solid 1px #ccc;
}

.footer .bot a:hover {
  color: #888;
}

.footer .bot a.icp {
  color: #999;
  border: none;
}

.footer .bot a.first {
  padding-left: 1px;
  border: none;
}

.footer .bot a.last {
  padding-right: 1px;
}

.zone1 {
  margin: 0 auto;
  width: 998px;
  border: solid 1px #aad5e5;
  background: url(../images/2013/bg_zone.gif) repeat-x;
}

.zone1 ul {
  padding: 8px 0 2px 12px;
}

.zone1 li {
  float: left;
  width: 20%;
  height: 20px;
  font-size: 75%;
  overflow: hidden;
}

.zone1 li a {
  color: #0269ac;
}

.zone1 li a:hover {
  color: #0090c6;
}

.zone2 {
  margin: 0 auto;
  width: 1000px;
  height: 90px;
  overflow: hidden;
}

.zone2 li {
  float: left;
  margin: 10px 0 0 10px;
}

.zone2 li.first {
  margin-left: 0;
}

.wrap {
  background: url(../images/2013/bg_wrap.gif) no-repeat 50% 270px;
}

.content {
  margin: 0 auto;
  width: 1000px;
}

.r_long_c {
  font-size: 87.5%;
  line-height: 150%;
}

.mainContent {
  float: left;
  display: inline;
  margin: 23px 0 20px 25px;
  width: 675px;
}

.sideBar {
  float: right;
  display: inline;
  margin: 20px 20px 20px 0;
  width: 242px;
}

.friendlink {
  margin-bottom: 10px;
  font-size: 87.5%;
}

.friendlink a {
  color: #39c;
}

.friendlink a:hover {
  color: #08c;
}

.page {
  clear: both;
  padding: 15px 0;
  text-align: center;
}

.page a {
  display: inline-block;
  margin: 5px 2px;
  padding: 0 5px;
  min-width: 14px;
  line-height: 22px;
  border: 1px solid #ddd;
  color: #666;
}

.page a:hover {
  border: 1px solid #89d5e9;
  color: #20b7df;
  background-color: #f9fcfd;
  text-decoration: none;
}

.page .prev {
  width: 36px;
  padding-left: 15px;
  background: url(../images/2013/index05.png) no-repeat 0 -57px;
}

.page .next {
  width: 36px;
  padding-right: 15px;
  background: url(../images/2013/index05.png) no-repeat right -57px;
}

.page .on,
.page .on:hover {
  background-color: #20b7df;
  color: #fff;
  border-color: #20b7df;
}

.path h2 {
  padding: 22px 0 12px 24px;
  font-size: 150%;
  font-weight: 700;
  font-style: italic;
  color: #39c;
  background: url(../images/2013/path.jpg) no-repeat;
}

.path span {
  float: right;
  padding-top: 36px;
  font-size: 87.5%;
}

.path form {
  float: right;
  padding: 18px 122px 0 0;
  font-size: 87.5%;
}

.path form input {
  vertical-align: middle;
}

.path form select {
  vertical-align: middle;
  height: 34px;
  *height: auto;
}

.path form option {
  line-height: 34px;
}

.path .bg {
  height: 73px;
  background: url(../images/2013/path_bg.gif) no-repeat left bottom;
}

.path .bg .r {
  padding-top: 42px;
  width: 720px;
}

.path .bg .r a {
  float: left;
  padding: 7px 16px 8px 16px;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
}

.path .bg .r a.on {
  color: #0090c6;
  border: solid 1px #ddd;
  border-bottom: none;
  background: #fff;
}

.input_02 {
  padding: 0 8px;
  height: 32px;
  line-height: 32px;
  font-size: 100%;
  font-weight: bold;
  color: #008000;
  border: solid 1px #aad5e5;
}

.input_d {
  position: relative;
  display: inline;
  height: 34px;
  line-height: 34px;
}

.input_d .input_02 {
  width: 260px;
  display: inline;
}

.input_d .j_ico {
  position: absolute;
  padding: 0;
  width: 34px;
  height: 34px;
  left: 245px;
}

.input_d .j_ico a {
  display: block;
  width: 34px;
  height: 34px;
  background: url(../images/2013/ico_xiala.png) no-repeat center center;
}

.input_d .j_ico a:hover {
  background: url(../images/2013/ico_xiala_h.png) no-repeat center center;
}

.input_d .classlist {
  position: absolute;
  left: 0;
  top: 24px;
  *top: 34px;
  width: 274px;
  line-height: 30px;
  padding: 1px;
  border: 1px solid #C9E4F4;
  background: #F5FBFF;
}

.input_d .classlist li {
  display: inline;
  float: left;
  width: 100%;
  height: 30px;
}

.input_d .classlist .lis a,
.input_d .classlist .lis span {
  float: left;
  padding: 0 0 0 8px;
  width: 180px;
  height: 30px;
  text-align: left;
  text-decoration: none;
  color: #666;
}

.input_d .classlist .lis a:hover {
  color: #016493;
  background-color: #edf6fb;
}

.input_d .classlist .lis a:active {
  color: #016493;
  background-color: #edf6fb;
}

.input_d .classlist .lis input {
  float: right;
  margin: 4px;
  width: 32px;
  height: 22px;
  font-size: 87.5%;
  color: #f60;
  border: none;
  background: url(../images/2013/bt_class.png) no-repeat;
}

.input_l {
  width: 15px;
  height: 30px;
  float: left;
  background: url(../images/input_l.png) no-repeat;
}

.input_c {
  background: url(../images/input_bg.png) repeat-x;
  height: 30px;
  line-height: 30px;
  border: none;
  float: left;
}

.btn01 {
  background: url(../images/btn01img.png) no-repeat;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  float: left;
}

.btn01:hover {
  background-position: 0 -50px;
}

.btn02 {
  background: url(../images/2013/btn02.png) repeat-x #8fcdeb;
  height: 34px;
  border: 1px solid #0794d4;
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding: 0 16px;
  *padding: 0 4px;
}

.btn02:hover {
  background: url(../images/2013/btn02_this.png) repeat-x;
}

.btn03 {
  margin: 0 0 5px 5px;
  padding: 0 16px;
  *padding: 0 4px;
  height: 34px;
  cursor: pointer;
  border: solid 1px #C5E2F2;
  background: #CDE4F2 url(../images/2013/btn03.png) repeat-x;
}

.table {
  border-left: 1px solid #aad5e5;
  border-top: 1px solid #aad5e5;
  margin: 0 auto;
  background: #fff;
}

.table td {
  padding: 8px 5px;
  line-height: 22px;
  border-bottom: solid 1px #aad5e5;
  border-right: solid 1px #aad5e5;
}

.tablehead {
  background: #e5f2fa;
  font-weight: bold;
  color: #016493;
}

.table a {
  color: #008000;
  padding: 0 2px;
}

.table li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.table li.first {
  padding-top: 0;
}

.table a.cache {
  color: #333333;
  padding: 0 2px;
}

.table td span a.cache {
  color: #333333;
  padding: 0 2px;
}

.box_17 {
  margin-bottom: 10px;
  width: 100%;
}

.box_17 .tablehead {
  background: #ECF5FB;
  font-weight: normal;
  text-align: center;
}

.box_17 .tit01 {
  background: url(../images/bg_tit.png) repeat-x;
  text-align: left;
  text-indent: 10px;
  color: #016493;
}

.gg01 {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 87.5%;
  border: 1px solid #aad5e5;
}

.gg02 {
  float: left;
  margin-bottom: 10px;
  width: 808px;
  border: 1px solid #aad5e5;
  text-align: center;
}

.gg400 {
  width: 400px;
}

.tabitem {
  height: 30px;
  background: url(../images/tabs_bg.png) repeat-x;
  border: 1px solid #afcaef;
  border-bottom: none;
}

.tabitem li {
  float: left;
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: normal;
  cursor: pointer;
  color: #0075a9;
  overflow: hidden;
  margin-left: 5px;
  display: inline;
}

.tabitem li a {
  display: block;
  width: 90px;
  height: 30px;
  color: #486601;
}

.tabitem span a {
  line-height: 30px;
  padding: 0 8px;
  border-right: 1px solid #8bc164;
  text-decoration: underline;
}

.tabitem .normal a {
  color: #0075a9;
}

.tabitem .current {
  background: url(../images/tabs_thisclass.png) repeat-x;
  border-left: 1px solid #afcaef;
  border-right: 1px solid #afcaef;
  width: 88px;
}

.tabitem .current a {
  color: #486601;
  width: 88px;
}

.tabcon {
  overflow: hidden;
}

.tabcon textarea {
  margin: 5px;
  padding: 5px;
  width: 743px;
  height: 200px;
  border: 1px solid #ccc;
  color: #333333;
}

.tabcon .bor {
  border: 1px solid #aad5e5;
  border-top: none;
  padding: 5px;
}

.tabcon .tablehead {
  background: #f2f7fb;
}

.tabcon .samesite {
  padding: 10px;
}

.tabcon .samesite .tablehead {
  line-height: 30px;
  height: 30px;
}

.tabcon .samesite dl {
  line-height: 30px;
  clear: both;
  text-align: center;
}

.tabcon .samesite dl dt {
  float: left;
  width: 160px;
  height: 30px;
}

.tabcon .samesite dl dd {
  padding: 0 20px;
  width: 160px;
  float: left;
  height: 30px;
}

.table07 td {
  padding-left: 5px;
  border-bottom: 1px solid #cccline-height:30px;
}

.table07 .tablehead {
  background: #eee;
}

.table07 .tablehead01 {
  background: #f7f7f7;
}

.table07 .tablehead02 {
  background: #e9e9e9color:#666font-weight:bold;
}

.total {
  padding: 80px 0;
  text-align: center;
  border-top: solid 1px #E5EFF8;
}

.site_pic {
  float: right;
  width: 203px;
  height: 184px;
  font-size: 87.5%;
  border: 1px solid #ccc;
  overflow: hidden;
}

.site_pic img {
  width: 203px;
  height: 184px;
}

.backlink_content {
  line-height: 25px;
  vertical-align: middle;
  height: 128px;
}

.backlink_content dd .url {
  width: 150px;
  overflow: hidden;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.backlink_content dd .r {
  height: 25px;
}

.backlink_content dd .r img {
  _padding-top: 4px;
}

#dns_domains span {
  display: block;
  float: left;
  width: 184px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  word-break: keep-all;
  _white-space: normal;
  _word-wrap: break-word;
}

#dns_domains span .ico {
  width: 20px;
  height: 20px;
  padding: 5px 0;
  display: block;
  background: url(../images/dns_list_bg.gif) no-repeat;
  float: left;
}

#dns_domains span.s1 .ico {
  background-position: 0 5px;
}

#dns_domains span.s2 .ico {
  background-position: -152px 7px;
}

#dns_domains span.s3 .ico {
  background-position: -304px 7px;
}

#dns_domains span.s4 .ico {
  background-position: -456px 7px;
}

#dns_domains span.s5 .ico {
  background-position: -608px 7px;
}

#dns_domains span.s6 .ico {
  background-position: 0 -23px;
}

#dns_domains span.s7 .ico {
  background-position: -152px -23px;
}

#dns_domains span.s8 .ico {
  background-position: -304px -23px;
}

#dns_domains span.s9 .ico {
  background-position: -456px -23px;
}

#dns_domains span.s10 .ico {
  background-position: -608px -23px;
}

#td_icp.tablehead {
  padding: 8px;
  text-align: left;
  background-color: #fff;
}

form .act {
  display: inline;
}

form .wrong {
  background: url(../images/bg.png) no-repeat 5px -135px transparent;
  color: #C66;
}

form .wrong_input {
  float: left;
  font-size: 75%;
  font-family: Tahoma;
  margin-left: 274px;
  display: none;
  text-indent: 25px;
}

#pingcontent table,
#resultcontent table {
  margin-bottom: 10px;
}

#servers_list {
  display: none;
}

#all_line {
  margin-top: 10px;
}

.error_msg {
  border: solid 1px #FF8EAC;
  background-color: #FCC;
  color: #555;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-top: 10px;
}

.div_detail {
  position: relative;
  width: 100%;
  height: 100%;
}

.text_unline {
  color: #0269AC;
  cursor: pointer;
  text-decoration: underline;
}

.loading {
  background: url(../images/signup-loading.gif) no-repeat scroll 5px center transparent;
}

.fixLoading {
  padding-left: 20px;
  display: none;
  line-height: 33px;
  text-indent: 10px;
}

.ajaxLoading {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background: url(../images/loading16.gif) no-repeat;
  zoom: 1;
}

.pop {
  background-color: #fff;
  border: solid 5px #E3EEF7;
  position: absolute;
  right: 0;
  top: 25px;
  white-space: normal;
  width: 550px;
  z-index: 99999;
  text-align: left;
}

.pop #results {
  margin: 8px;
}

.close_menu {
  background: url(../images/close1.gif) no-repeat;
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: absolute;
  top: 1pxright:0px;
  z-index: 9999;
}

.historyear {
  padding: 2px 0 0 2px;
}

.historyear dt {
  float: left;
  width: 58px;
  white-space: nowrap;
}

.historyear dd {
  float: right;
  margin-left: -58px;
  width: 100%;
}

.historyear dd span {
  display: block;
  margin-left: 58px;
}

.historyear dd a {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 0 8px;
  white-space: nowrap;
  background: #F7FBFE;
  border: 1px solid #E5E5E5;
}

.historyear dd a:hover,
.historyear dd a.this {
  background: #FFFEC9;
  border: 1px solid #FEE581;
  color: #F60;
}

.warn td {
  background-color: #F2EAF7;
}

.intro {
  margin: 0 0 10px 0;
  padding: 10px;
  text-align: left;
  border: solid 1px #fee581;
  background: #fffec9;
}

.default_arrow,
.up_arrow,
.down_arrow {
  display: inline-block;
  margin-left: 4px;
  width: 8px;
  height: 14px;
  border: 0;
  background: url(../images/2013/sort_arrows.gif) no-repeat -1px -1px;
}

.up_arrow {
  background-position: -1px -45px;
}

.down_arrow {
  background-position: -1px -23px;
}

.table04 {
  margin: 10px auto;
  text-align: center;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  background: #fff;
}

.table04 td {
  padding: 8px 5px;
  line-height: 18px;
  color: #0269AC;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.table04 .c01 {
  background: #ECF5FB;
}

.table04 .ltop td {
  border: none;
  text-align: left;
}

.table04 span,
.table04 span a {
  color: #008000;
}

.table04 a:hover {
  text-decoration: underline;
}

.fanlink {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #aad5e5;
}

.fanlink_filter .mode .ico_mode01,
.fanlink_filter .mode .ico_mode02,
.fanlink_filter .mode li .up,
.fanlink_filter .mode li .down {
  background: url(../images/2013/bg_link.png) no-repeat;
}

.fanlink_filter {
  margin-top: 15px;
  height: 32px;
  background: url(../images/2013/bg_link.png) repeat-x;
}

.fanlink_filter .fanlink_pages {
  color: #bcbbbb;
  width: 180px;
  margin-top: 4px;
}

.fanlink_filter .fanlink_pages ul,
.fanlink_filter .fanlink_pages span {
  float: right;
}

.fanlink_filter .fanlink_pages ul li {
  border: 1px solid #dedede;
  float: left;
  padding: 0 5px;
  margin-left: 5px;
  line-height: 20px;
}

.fanlink_filter .taxis {
  margin-right: 10px;
}

.fanlink_filter .mode {
  color: #bcbbbb;
  margin-top: 2px;
  line-height: 28px;
}

.fanlink_filter .mode span {
  float: left;
}

.fanlink_filter .mode ul {
  float: left;
}

.fanlink_filter .mode li {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0 20px;
  margin-right: 5px;
  height: 28px;
  float: left;
}

.fanlink_filter .mode li.this {
  background: #fff;
  border-bottom: none;
  height: 29px;
  font-weight: bold;
}

.fanlink_filter .mode li.this a {
  color: #000;
}

.fanlink_filter .mode li .up,
.fanlink_filter .mode li .down {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 8px;
  float: left;
}

.fanlink_filter .mode li .up {
  background-position: 0 -50px;
}

.fanlink_filter .mode li.this .up {
  background-position: 0 -100px;
}

.fanlink_filter .mode li .down {
  background-position: -50px -50px;
}

.fanlink_filter .mode li.this .down {
  background-position: -50px -100px;
}

.fanlink_filter .mode li a:hover {
  text-decoration: underline;
}

.fanlink_flists dl {
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px dotted #e1e1e1;
  float: left;
}

.fanlink_flists dl.bg_gray {
  background: #f7f7f7;
}

.fanlink_flists dl i {
  float: left;
  padding-left: 5px;
  font-style: normal;
  font-size: 112.5%;
  height: 50px;
  width: 50px;
  color: #999;
}

.fanlink_flists dt {
  width: 900px;
  float: left;
}

.fanlink_flists dt a:hover {
  background: #026E9B;
  color: #fff;
}

.fanlink_flists dt span {
  float: right;
  width: 340px;
}

.fanlink_flists dd {
  margin-right: 10px;
  float: left;
  height: 24px;
  line-height: 24px;
}

.fanlink_flists dd.s1 {
  width: 180px;
}

.fanlink_flists dd.s1 a {
  color: #008066;
}

.fanlink_flists dd.s2 {
  width: 85px;
  text-align: right;
}

.fanlink_flists dd.s3 {
  width: 65px;
}

.fanlink_flists dd.s3 img {
  padding-top: 4px;
}

.fanlink_flists dd.s4 {
  width: 180px;
}

.fanlink_flists dd.s5 {
  width: 240px;
  margin: 0;
  padding: 0;
  border: none;
}

.Newinput_02 {
  padding: 0 8px;
  height: 32px;
  line-height: 32px;
  font-size: 100%;
  font-weight: bold;
  color: #008000;
  border: solid 1px #aad5e5;
}

.Newinput_d {
  position: relative;
  display: inline;
  height: 34px;
  line-height: 34px;
}

.Newinput_d .Newinput_02 {
  width: 260px;
  display: inline;
}

.Newinput_d .Newj_ico {
  position: absolute;
  padding: 0;
  width: 34px;
  height: 34px;
  left: 245px;
}

.Newinput_d .Newj_ico a {
  width: 34px;
  height: 34px;
  display: block;
  background: url(../images/2013/ico_xiala.png) no-repeat center;
}

.Newinput_d .Newj_ico a:hover {
  background: url(../images/2013/ico_xiala_h.png) no-repeat center;
}

.Newinput_d .Newclasslist {
  position: absolute;
  left: 0;
  top: 24px;
  *top: 34px;
  width: 274px;
  line-height: 30px;
  padding: 1px;
  border: 1px solid #C9E4F4;
  background: #F5FBFF;
}

.Newinput_d .Newclasslist li {
  display: inline;
  float: left;
  width: 100%;
  height: 30px;
}

.Newinput_d .Newclasslist .Newlis a,
.Newinput_d .Newclasslist .Newlis span {
  float: left;
  padding: 0 0 0 8px;
  width: 180px;
  height: 30px;
  text-align: left;
  text-decoration: none;
  color: #666;
}

.Newinput_d .Newclasslist .Newlis a:hover {
  color: #016493;
  background-color: #EDF6FB;
}

.Newinput_d .Newclasslist .Newlis a:active {
  color: #016493;
  background-color: #EDF6FB;
}

.Newinput_d .Newclasslist .Newlis input {
  float: right;
  margin: 4px;
  width: 32px;
  height: 22px;
  font-size: 87.5%;
  color: #f60;
  border: none;
  background: url(../images/2013/bt_class.png) no-repeat;
}

.fanlink_flists dl.pk dt span {
  width: 900px;
  text-align: left;
  color: #00c;
}

.fanlink_flists dl.pk dd.s1 {
  width: 205px;
  color: #008066;
}

.fanlink_flists dl.pk dd.s2 {
  width: 15px;
}

.fanlink_flists dl.pk dd.s3 {
  width: 65px;
}

.fanlink_flists dl.pk dd.s3 img {
  padding-top: 4px;
}

.fanlink_flists dl.pk dd.s4 {
  width: 280px;
}

.table td.column1 {
  background: #f8fdf6;
}

.table td.column2 {
  background: #fafcfd;
}

.table tr.on,
.table tr.on td.column1,
.table tr.on td.column2 {
  background: #e5f2fa;
}

.about {
  margin-bottom: 18px;
  font-size: 87.5%;
  border: solid 1px #ddd;
  background: url(../images/2013/bg_about.png) repeat-y right top;
}

.about .a_l {
  float: right;
  width: 243px;
  background: url(../images/2013/bg_about_top.png) no-repeat;
}

.about .a_l ul {
  padding: 36px 36px 0 0;
}

.about .a_l li {
  padding-left: 36px;
  height: 36px;
  line-height: 36px;
}

.about .a_l li a {
  color: #666;
}

.about .a_l li a:hover {
  color: #0090c6;
}

.about .a_l li.on {
  height: 37px;
  color: #333;
  background: url(../images/2013/bg_about_on.png) no-repeat;
}

.about .a_r {
  float: left;
  padding: 24px;
  width: 700px;
}

.about .a_r .text {
  padding: 0 18px;
}

.about .a_r .text p {
  padding-top: 20px;
  line-height: 180%;
}

.about .a_r .text h2 {
  margin: 10px 0;
  padding-bottom: 6px;
  border-bottom: dotted 1px #ccc;
}

.about .a_r .text ul {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

.about .a_r .text li {
  float: left;
  width: 20%;
  line-height: 240%;
  text-align: center;
}

.about .a_r .text li a {
  color: #0269ac;
}

.about .a_r .text li a:hover {
  color: #0090c6;
  background: #f9f9f8;
}

.about .a_r .text .plist li {
  height: 48px;
}

.about .a_r .text .hr {
  margin-top: 20px;
  border-top: solid 1px #CCD5DE;
}

#goTop {
  position: absolute;
  display: none;
  width: 50px;
  height: 48px;
  background: #fff url(../images/top3.png) no-repeat 16px 15px;
  border: solid 1px #f9f9f8;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#goTop:hover {
  height: 50px;
  background-position: 16px 16px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.box_01 {
  margin: 5px 0 12px 0;
  border: solid 1px #eee;
}

.box_01 .hd {
  display: none;
  height: 40px;
  background: url(http://static.aizhan.com/images/2013/bg_index1.png) no-repeat;
}

.box_01 .hd h3 {
  padding-left: 24px;
}

.box_01 .bd {
  padding: 70px 0 20px 0;
  text-align: center;
}

.box_01 .bd .pl {
  padding: 3px 2px 18px 300px;
}

.box_01 .bd .f12 {
  display: none;
  padding: 2px 0 0 10px;
  line-height: 18px;
}

.hd h3 {
  padding-left: 16px;
  line-height: 40px;
  font-size: 112.5%;
  font-weight: 100;
  color: #fff;
}

.hd span {
  float: right;
  height: 40px;
  padding: 0 28px 0 0;
  background: url(http://static.aizhan.com/images/2013/ico_more.png) no-repeat 35px 17px;
}

.hd span a {
  line-height: 40px;
  font-size: 87.5%;
  color: #fff;
}

.hd span a:hover {
  color: #eee;
}

.bd h3 {
  height: 32px;
  line-height: 32px;
  font-size: 112.5%;
  font-weight: 700;
  overflow: hidden;
}

.input_d {
  height: 38px;
  line-height: 38px;
}

.input_d .input_02 {
  height: 36px;
  line-height: 36px;
}

.input_d .j_ico {
  position: absolute;
  top: 0;
  padding: 0;
  width: 36px;
  height: 36px;
}

.input_d .j_ico a {
  width: 36px;
  height: 36px;
}

.input_d .classlist {
  top: 37px;
  z-index: 9;
}

.input_d .classlist li {
  font-size: 87.5%;
}

.footer .bot a.blue {
  color: #39c;
}

.footer .bot a.blue:hover {
  color: #08c;
}