/**** inline ****/

  @import url("/css/15/ldtop.1.2.css");
    		@import url("/css/13/tie-up.1.2.css");
	



/**** inline ****/

.ads-block-link-000:after {
 content: "";
 display: block;
 clear: both;
}
.ads-block-link-000 {
 display:block!important;
 zoom:1;
 text-decoration:none!important;
}
.ads-block-link-000:hover {
 background:#e3e5e60!important;
}
.ads-block-link-000:first-child {
 margin-bottom: 10px;
}
.ads-block-link-000 img {
 float:left!important;
 margin-right:10px!important;
}
.ads-block-link-000 p {
 padding:0!important;
 margin:0!important;
 line-height:1.3!important;
 font-size:13px!important;
}
.ads-block-link-000 p.ads-block-link-title {
 font-weight:bold!important;
 margin-bottom:5px!important;
}
.ads-block-link-000 p.ads-block-link-title:hover {
 color:#f00!important;
 text-decoration:underline!important;
}
.ads-block-link-000 p.ads-block-link-text {
 text-decoration:none!important;
 color: #777;
}
.ads-block-link-000 p.ads-block-link-text:hover {
 text-decoration:none!important;
}

/**** inline ****/

.ads-block-link-000:after {
 content: "";
 display: block;
 clear: both;
}
.ads-block-link-000 {
 display:block!important;
 zoom:1;
 text-decoration:none!important;
}
.ads-block-link-000:hover {
 background:#e3e5e60!important;
}
.ads-block-link-000:first-child {
 margin-bottom: 10px;
}
.ads-block-link-000 img {
 float:left!important;
 margin-right:10px!important;
}
.ads-block-link-000 p {
 padding:0!important;
 margin:0!important;
 line-height:1.3!important;
 font-size:13px!important;
}
.ads-block-link-000 p.ads-block-link-title {
 font-weight:bold!important;
 margin-bottom:5px!important;
}
.ads-block-link-000 p.ads-block-link-title:hover {
 color:#f00!important;
 text-decoration:underline!important;
}
.ads-block-link-000 p.ads-block-link-text {
 text-decoration:none!important;
 color: #777;
}
.ads-block-link-000 p.ads-block-link-text:hover {
 text-decoration:none!important;
}
