
.con-text {font-size:12px;font-family:arial,verdana;color:#053998; font-weight:bold; padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; line-height:20px;}
.con-text b{color:#CE0020;}
.con-text a{color:#053998; text-decoration:none;}
.con-text a:hover {color:#053998; text-decoration:underline;}

.sub-text {font-size:12px;font-family:arial,verdana;color:#053998; font-weight:bold; padding-left:10px; line-height:26px; padding-bottom:5px;}
.sub-text a{color:#053998; text-decoration:none;}
.sub-text a:hover {color:#053998; text-decoration:underline;}

.buy-text {font-size:12px;font-family:arial,verdana;color:#000000; padding-left:10px; padding-right:10px; padding-bottom:5px; padding-top:10px; padding-bottom:10px;}
.buy-text a{color:#053998; text-decoration:none; font-weight:bold;}
.buy-text a:hover {color:#053998; text-decoration:underline;}


.head1 {font-size:15px;font-family:arial,verdana;color:#000000;}
.head-new {font-size:13px;font-family:arial,verdana;color:#000000;}

.text {font-size:12px;font-family:arial,verdana;color:#000000;line-height:17px;}
.text a{color:#000000; text-decoration:underline;}
.text a:hover {color:#000000; text-decoration:none;}

.links {font-size:12px;font-family:arial,verdana;color:#707070; font-weight:bold;}
.links a{color:#707070; text-decoration:none;}
.links a:hover {color:#707070; text-decoration:underline;}

.sms-text {font-size:12px;font-family:arial,verdana;color:#000000;}

.HEAD {  font-family: Arial, Helvetica, sans-serif; font-size: 13pt; font-weight: bold; text-decoration: none}
.link1 {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #333333; text-decoration: none}
.linkitbc {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: white; text-decoration: none}

.smallhead { font-family: Arial, Helvetica, sans-serif; font-size: 10.5pt; font-weight: bold; text-decoration: none ; color: #FFFFFF }
.smalltext { font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; font-weight: normal; text-decoration: none ; color: #FFFFFF }
.head2 {  font-family: Arial, Helvetica, sans-serif; font-size: 10.5pt; font-weight: bold; color: #FFFFFF; text-decoration: none}
.LINK2 {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #FFCC00; text-decoration: none}
.head3 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000; text-decoration: none }
.ticker {  font-family: Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #FFFFFF; text-decoration: none}
.smalltext1 { font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; font-weight: normal; text-decoration: none ; color: #FFFFFF }
.style1 {font-size: 8pt; font-weight: bold; text-decoration: none; font-family: Arial, Helvetica, sans-serif;}

.con-text {font-size:12px;font-family:arial,verdana;color:#053998; font-weight:bold; padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; line-height:20px;}
.con-text b{color:#CE0020;}
.con-text a{color:#053998; text-decoration:none;}
.con-text a:hover {color:#053998; text-decoration:underline;}

.sub-text {font-size:12px;font-family:arial,verdana;color:#053998; font-weight:bold; padding-left:10px; line-height:26px; padding-bottom:5px;}
.sub-text a{color:#053998; text-decoration:none;}
.sub-text a:hover {color:#053998; text-decoration:underline;}

.buy-text {font-size:12px;font-family:arial,verdana;color:#000000; padding-left:10px; padding-right:10px; padding-bottom:5px; padding-top:10px; padding-bottom:10px;}
.buy-text a{color:#053998; text-decoration:none; font-weight:bold;}
.buy-text a:hover {color:#053998; text-decoration:underline;}


.head1 {font-size:15px;font-family:arial,verdana;color:#000000;}
.head-new {font-size:13px;font-family:arial,verdana;color:#000000;}

.text {font-size:12px;font-family:arial,verdana;color:#000000;line-height:17px;}
.text a{color:#000000; text-decoration:underline;}
.text a:hover {color:#000000; text-decoration:none;}

.links {font-size:12px;font-family:arial,verdana;color:#707070; font-weight:bold;}
.links a{color:#707070; text-decoration:none;}
.links a:hover {color:#707070; text-decoration:underline;}

.sms-text {font-size:12px;font-family:arial,verdana;color:#000000;}

.HEAD {  font-family: Arial, Helvetica, sans-serif; font-size: 13pt; font-weight: bold; text-decoration: none}
.link1 {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #333333; text-decoration: none}
.linkitbc {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: white; text-decoration: none}

.smallhead { font-family: Arial, Helvetica, sans-serif; font-size: 10.5pt; font-weight: bold; text-decoration: none ; color: #FFFFFF }
.smalltext { font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; font-weight: normal; text-decoration: none ; color: #FFFFFF }
.head2 {  font-family: Arial, Helvetica, sans-serif; font-size: 10.5pt; font-weight: bold; color: #FFFFFF; text-decoration: none}
.LINK2 {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #FFCC00; text-decoration: none}
.head3 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000; text-decoration: none }
.ticker {  font-family: Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #FFFFFF; text-decoration: none}
.smalltext1 { font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; font-weight: normal; text-decoration: none ; color: #FFFFFF }
.style1 {font-size: 8pt; font-weight: bold; text-decoration: none; font-family: Arial, Helvetica, sans-serif;}

.con-text {font-size:12px;font-family:arial,verdana;color:#053998; font-weight:bold; padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; line-height:20px;}
.con-text b{color:#CE0020;}
.con-text a{color:#053998; text-decoration:none;}
.con-text a:hover {color:#053998; text-decoration:underline;}

.sub-text {font-size:12px;font-family:arial,verdana;color:#053998; font-weight:bold; padding-left:10px; line-height:26px; padding-bottom:5px;}
.sub-text a{color:#053998; text-decoration:none;}
.sub-text a:hover {color:#053998; text-decoration:underline;}

.buy-text {font-size:12px;font-family:arial,verdana;color:#000000; padding-left:10px; padding-right:10px; padding-bottom:5px; padding-top:10px; padding-bottom:10px;}
.buy-text a{color:#053998; text-decoration:none; font-weight:bold;}
.buy-text a:hover {color:#053998; text-decoration:underline;}


.head1 {font-size:15px;font-family:arial,verdana;color:#000000;}
.head-new {font-size:13px;font-family:arial,verdana;color:#000000;}

.text {font-size:12px;font-family:arial,verdana;color:#000000;line-height:17px;}
.text a{color:#000000; text-decoration:underline;}
.text a:hover {color:#000000; text-decoration:none;}

.links {font-size:12px;font-family:arial,verdana;color:#707070; font-weight:bold;}
.links a{color:#707070; text-decoration:none;}
.links a:hover {color:#707070; text-decoration:underline;}

.sms-text {font-size:12px;font-family:arial,verdana;color:#000000;}

.HEAD {  font-family: Arial, Helvetica, sans-serif; font-size: 13pt; font-weight: bold; text-decoration: none}
.link1 {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #333333; text-decoration: none}
.linkitbc {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: white; text-decoration: none}

.smallhead { font-family: Arial, Helvetica, sans-serif; font-size: 10.5pt; font-weight: bold; text-decoration: none ; color: #FFFFFF }
.smalltext { font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; font-weight: normal; text-decoration: none ; color: #FFFFFF }
.head2 {  font-family: Arial, Helvetica, sans-serif; font-size: 10.5pt; font-weight: bold; color: #FFFFFF; text-decoration: none}
.LINK2 {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #FFCC00; text-decoration: none}
.head3 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000; text-decoration: none }
.ticker {  font-family: Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; color: #FFFFFF; text-decoration: none}
.smalltext1 { font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; font-weight: normal; text-decoration: none ; color: #FFFFFF }
.style1 {font-size: 8pt; font-weight: bold; text-decoration: none; font-family: Arial, Helvetica, sans-serif;}
/**** inline ****/


<!--

.newsheadline {  font-family: Arial; font-size: 7pt; line-height: 10pt; clip:    rect(   );  color: #000000; list-style-position: outside;  text-decoration: none}

.newsheadlinenew {  font-family: Arial; font-size: 9pt; line-height: 12pt; clip:    rect(   );  color: #0066CC; list-style-position: outside; list-style-image: url(../bullet.gif); text-decoration: none}

.newsheadlinenew1 {  font-family: Arial; font-size: 9pt; line-height: 12pt; clip:    rect(   );  color: #000000; list-style-position: outside; list-style-image: url(../bullet.gif); text-decoration: none}

.newsheadlinenew:hover {  font-family: Arial; font-size: 9pt; line-height: 12pt; clip:    rect(   ); color: #0066CC; list-style-position: outside; list-style-image: url(../bullet.gif); 

text-decoration: underline;

}
.head1 a{color:#000000; text-decoration:none;}
.head1 a:hover{text-decoration:underline;}
-->

    
/**** inline ****/

<!--
.unnamed1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
-->
