@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table:not(#review-body table) {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #4B3C23;
	text-decoration: none;
}

a:hover {
	color: #F04F40;
	text-decoration: underline;
}

table, #ttl { width: 100%; }
th { text-align: left;}
input, textarea, select { vertical-align: middle; }

body, #header {
	line-height: 1;
	background: url("../i/body_bg.png") repeat-x top center;
}

*+html body {
	padding-top: 10px;
}


html { 
	background: #f7f6f1 url("../i/bg.jpg") 0px 50px repeat-x; 
	font: 11px Arial, sans-seirf;
	/* background: -o-linear-gradient(top, #dedbd4 0%,#f7f6f1 72%); */
}

h1, h2 { font-family: 'Oswald', Arial, sans-serif; }
h4, strong { font-weight: bold }
.no-margin-right { margin-right: 0 !important; }
.x { top: 0; }

#wrapper {
	width: 1024px;
	margin: -10px auto 0;	
	/* overflow: hidden; */
	position: relative;
	_margin: 0px auto 0;
}

* html #wrapper {
	height: 1%;	
}

#header {
	width: 1024px;
	/*height: 50px; new*/
	height: 51px; /*old*/
	position: relative;
	float: left;
	padding: 10px 0 0 0;
	margin: 0;
	z-index: 101;
}

	#header #logo {
		float: left;
		width: 192px;
		height: 31px;
		position: relative;
		z-index: 1;
		bottom: -19px;
		left: 0px;
	}
	
	#header #logo a {
		display: block;
		width: 100%; height: 100%;
	}
	
	#header #logo a span {
		display: none;	
	}
	
	#header #nav { 
		padding: 0 0 0 210px;
		width: 814px;
		position: relative;
		top: 0;
		float: left;
		margin: -4px 0 0 0;
	}
	#header #nav ul#menu { 
    	width: 99%;
		float: left;
	}
	
	#header #nav ul#menu li { position: relative; float: left; z-index: 1; }
	
	#header #nav ul#menu li a {
		float: left;
		font-family: 'Oswald','Arial Narrow',sans-serif;
		font-size: 13px;
		color: #faf5e6;
		padding: 5px 8px;	
		text-transform: uppercase;
		text-decoration: none;
	}
	#header #nav ul#menu li a.mi-sel {
		 color: #fff;
	}
	
	#header #nav ul#menu li a:hover, #header #nav ul#menu li.drop a.hover {
		background-color: #777;
		color: #fff;	
	}
	
	#header #nav ul#menu li.drop a {
		background: url("../i/mega-sprite.gif") no-repeat 61px -84px;
		padding-right: 20px;
	}
	
	#header #nav ul#menu li.drop a:hover, #header #nav ul#menu li.drop a.hover {
		background: #777 url("../i/mega-sprite.gif") no-repeat 61px -84px;
	}
	
	
	#topsearch {
		height: 18px;
		width: 177px;
	
		position: absolute; top: 3px; right: 3px;
		padding: 0; margin: 0;
		display: block;
		_top:1px;
		_height: 16px;

	}	
	
	#topsearch #topsearch-text {
		font: 12px Arial; 
		padding: 0 0 0 18px;
		height: 18px;
		width: 150px;
		border: none;
		color: #656565;
		_height: 16px;
	}	
	
	#topsearch #quick-search-button {
		height: 19px;
		position: absolute;
		right: 9px;
		top: 1px;
		width: 21px;
		height: 17px;
		border: none;
		text-indent: -9999px;
		background: #fff url("../i/mega-sprite.gif") no-repeat 0px -107px;
		cursor: pointer;
		
		font-size: 0;
		display:block;
		line-height: 0;
		_top: 2px;
	}
	
	*+html #topsearch #quick-search-button {
		top: 2px;
	}
	
	*+html #topsearch #topsearch-text {
		height: 16px;
	}	
	
	*+html #topsearch {
		top:1px;
		height: 16px;
	}	
	
	#topsearch div.type-of-search a {
		position: absolute;
		display: block;
		width: 15px;
		height: 16px;
		top: 3px; left: 3px;
		text-decoration: none;
		background: url("../i/mega-sprite.gif") no-repeat 0 -70px;
	}
	
	#topsearch div.type-of-search a.on {
		border: 1px solid #ccc;	
		border-bottom: 1px solid white;
		top: 3px; left: 1px;
		z-index:3;
		background: #fff url("../i/mega-sprite.gif") no-repeat 1px -70px;

	}
	
		#topsearch div.type-of-search ul {
			position: absolute;
			top:20px; left:1px;
			background: white;
			border: 1px solid #ccc;
			z-index: 2;
			width: 166px;
			display: none;
		}
		#topsearch div.type-of-search ul li {
			display: block;
			background: none;
			margin: 3px 5px;
			float: left;
			width: 156px;
		}

		#topsearch div.type-of-search ul li a {
			background: none;
			color: #777777;
			display: block;
			font: bold 12px/16px Arial;
			height: auto;
			left: 0;
			padding: 0 0 0 12px;
			position: relative;
			top: 0;
			width: 93%;
		}
		
		#topsearch div.type-of-search ul li a:hover {
			text-decoration: underline;
			color: #333;
		}

		#topsearch div.type-of-search ul li.on a {
			color: #f40f04;
			background: url("../i/mega-sprite.gif") no-repeat scroll 2px -167px transparent;
		}

	#social-connect {
		float: right;
		height: 14px;	
		margin-top: -42px;
		position: relative;
		display: block;
		right: 12px;
		width: auto;
	}
	
	#social-connect a {
		display: block;
		height: 14px;
		float: left;
		font: normal 10px 'Oswald',Arial,sans-serif;
		text-transform: uppercase;
		color: #eee;
		text-decoration: none;
		margin-right: 12px;
		padding: 0 0 0 17px;
		background: url("../i/mega-sprite.gif?v=2") no-repeat 0 0;
	}
	#social-connect a:hover { color: #fff;}
	#social-connect a.fb-icon { background-position: 0px 0px; }
	#social-connect a.tw-icon {background-position: 0px -14px; }
	#social-connect a.rss-icon { background-position: 0px -28px; }
	#social-connect a.login-icon { background-position: 0px -42px; }
	#social-connect a.signup-icon { background-position: 0px -56px; }
	#social-connect a.tip-icon { background-position: 0px -143px; }
	#social-connect a.logoff-icon { background-position: 0px -808px; }
	#social-connect a.gp-icon { background-position: 0px -70px; }

#subHeader {
	width: 100%;
	height: 98px;
	/* margin: -5px 0px 7px 0px; */
	margin: 0;
	float:left;
	clear: both;
	position: relative;
	z-index: 1;
	zoom: 1;
}


	#subHeader #topAdv {
		width: 728px;
		height: 90px;
		float: left;	
		margin-right: 10px;
		position: relative;
	}
	
	#subHeader #topPromo {
		width: 264px;
		height: 90px;
		float: left;	
		clear: right;
	}
		#subHeader #topPromo a {
			width: 127px;
			height: 90px;
			display: block;
			position: relative;
			float: left;
			margin: 0 10px 0 0;
			text-decoration: none;
		}
		#subHeader #topPromo a img {
			position: relative;
			width: 127px; height: 90px;
		}
		
		#subHeader #topPromo a strong {
			display: block;
			width: 119px;
			position: absolute;
			bottom: 0px;
			left: 0px;
			font: bold 11px/100% Arial, Helvetica, sans-serif;
			color: #fff;
			background-color: #666666;
			background: rgba(0,0,0,.6);
			padding: 3px 4px;
			text-decoration: none;
		}
		
		#subHeader #topPromo a:hover img {
			opacity: 0.9;
		}	
		
		#subHeader #topPromo a:hover strong {
			text-decoration: underline;
		}
		
    /* Top promo single link */
    #subHeader #topPromo .display-table {
        display:table;
        position: relative;
        width: 100%;
    }
    #subHeader #topPromo .display-table a {
        width: 100%;
        display:table-cell;
        float: none;
        margin:0;
        vertical-align: middle;
        position: relative;
        top:-2px;
        padding: 5px 5px 5px 70px;
        text-decoration: none;
        font: 300 18px 'Oswald';
        height: 80px;
    }

    #subHeader #topPromo .display-table a img {
      height: 90px;
      width:63px;
      position: absolute;
      top:2px;
      left:0px;
    }

    /* Top promo multiple links */
    #subHeader #topPromo .alt-display {
        display:block;
        height: 90px;
        width: 264px;
        position: relative;
    }
    #subHeader #topPromo .table-cell {
        display: table-cell;
        vertical-align: middle;
        height: 90px;
    }
    #subHeader #topPromo .alt-display a.h2 {
        width: 194px;
        position: static;
        float: none;
        margin: 0;
        margin-top:-5px;
        padding: 5px 5px 5px 70px;
        height: auto;
        text-decoration: none;
        font: 300 18px 'Oswald';
        display: inline-block;
    }
    #subHeader #topPromo .alt-display .additional-links {
        font: normal 13px Arial;
        width: 194px;
        padding-left: 70px;
        padding-right:10px;
        text-transform: uppercase;
    }
    #subHeader #topPromo .alt-display a img {
        height: 90px;
        width: 63px;
        position: absolute;
        top:0px;
        left:0px;
    }

    #subHeader #topPromo .alt-display .additional-links a {
        width: auto;
        display: inline;
        height: auto;
        float: none;
        margin: 0;
        font: normal 11px Oswald;
    }


#outer {
	width: 1002px;
	padding: 10px;
	background: #fff;
	border: 1px solid #bebdb6;	
	border-top: none;
	/* overflow: hidden; */
	float: left;
	position: relative;
	z-index: 1;
	top: 0; left: 0;

}

#outer > a:first-child {
	display: none;	
}

#footer { 
	width: 1002px;
	float: left;
	clear: both;
	padding: 10px 10px 0 10px;
	position: relative;
	
}

	#footer p {
		color: #555555;
		float: left;
		font: 12px/12px Arial,sans-serif;
		margin: 0;
		padding: 0 0 10px;
		width: 100%;
	}

	#footer p a {
		color: #333;
		padding: 0 6px 0 7px;
	}
	#footer p:first-child a:first-child { padding-left: 0; }
	#footer p a:last-child { border-right: none;}
	
	#footer p a:hover { color: #f04f40;}
	
	#footer p a.rss-icon, #footer p a.tw-icon, #footer p a.fb-icon {
		background: url("../i/mega-sprite.gif") no-repeat;
	}
	
	#footer p a.fb-icon { background-position: 5px -826px; }
	#footer p a.tw-icon { background-position: 5px -841px; }
	#footer p a.rss-icon { background-position: 5px -858px; }
	
	#footer p a.fb-icon, #footer p a.tw-icon, #footer p a.rss-icon { padding: 0 6px 0 22px; height: 14px; }

	
	#footer #footmenu {
		padding: 0 0 10px 10px;
		float: left;
		width: 810px;
	}
	
	
	.footer-logo { 
		float: left;
		padding: 10px 10px 7px 0; 
		border-right: 1px solid #BEBDB6;
	}
	
		
#body {
	float: right;
	clear: both;
	width: 914px;
	/* overflow: hidden; */
}

#main {
	float: left;
	clear: right;
	width: 604px;
}

#side {
	float: left;
	clear: right;
	border-left: solid 9px #fff;
	width: 300px;
	voice-family: "\"}\""; 
}

#side-top {
	width: 100%;
	float: left;
	text-align: left;
	padding: 0;
}

#side-left {
	width: 173px;
	float: left;
}

#side-right {
	width: 120px;
	float: left;
	border-left: solid 7px #fff;
	overflow: hidden;
}


.x {top:0;}
.clear { clear: both; }

/* body.css */

#ttl { margin-bottom: 0; }

#ttl h1 {
	padding: 0px 0 10px 0;
	font:20px "Oswald", 'Arial', sans-serif;
	color: #b23f33;
}

#ttl span {
	color: #777777;
    display: block;
    font: 13px "Oswald", Arial;
    padding: 0 6px 20px 0;
    text-transform: uppercase;
}

#ttl span a {
	color: #777;	
}

#mid-col h1 {
	clear: both;
	padding: 0 0 7px 0;
	font: normal 25px 'Oswald', Arial, sans-serif;
	color: #B23F33;
}

.sub-hl {
	margin: 0 0 1px 0;
	padding: 0 6px 8px 0;
	font-size: 12px;
	color: #666;
	border-bottom: 1px solid #efefef;
}

.sub-hl a {
	text-decoration: underline;
}

.st-text {
	padding: 15px 0 5px 0;
	font-size: 13px;
	line-height: 16px;
}

.st-text i {
	font-style: italic;
}

.st-text h2 {
	padding: 15px 0 10px 0;
	color: #555;
	font-size: 20px;
}

.st-text h3 {
	color: #888888;
	font: bold 16px Arial;
	padding: 1em 0; 
} 

.st-text p {
	padding: 0 0 1em 0;
	line-height: 140%;
}

.st-text a {
	color: #666666;
	text-decoration: underline;
}


.st-text a:hover  {
	text-decoration: underline;
	color: #F04F40;
}

.st-text ul {
	margin: 0 2em;
	padding: 0 0 1.4em 0;
	list-style: disk;
}

.st-text li {
	padding: 0 0 .2em 0;
	list-style-type: disc;
}

.st-text p img {
	margin: 2px;
	border: 1px solid #D9CDCC;
}

.st-text p a:hover img {
	background: #F1EFEF;
	border: 1px solid #B23F33;
}

.st-table {
	background: #f1f1f1;
	border-top: solid 2px #f1f1f1;
	border-bottom: solid 1px #f1f1f1;
}


.st-table td {
	padding: 2px 6px;
	font: 12px Arial;
	vertical-align: center;
	background: #fafafa;
	border-bottom: solid 1px #f0f0f0;
	vertical-align: middle;
}

.st-table td a {
	color: #8C7145;
	text-decoration: none;
}

.st-table td a:hover {
	color: #F04F40;
	text-decoration: underline;
}

.st-table td.ttl {
	width: auto;
	font-weight: bold;
	color: #7D7464;
	background: #f6f6f6;
	border-bottom: solid 1px #fefefe;
}

.st-table td.ttl a {
	color: #7D7464;
}

.st-table select {
	font-size: 12px;
	border: 1px solid #DADADA;
}

.st-table td.highlight {
	color: #b00000;
	background: #f6f6f6;
}

.full-width {
	width: 100%;
}

.column-border td {
	border-right: solid 1px #e3e3e3;
}


.st-input {
	padding: 0 2px;
	height: 18px;
	font: normal 12px Arial;
	background: #fff;
	border: 1px solid #A4A2A2;	
}

.st-button {
	padding: 0 12px;
	height: 18px;
	font: bold 12px Arial;
	background: #E7E3D5;
	border-top: solid 1px #fff;
	border-right: solid 1px #DFD5C5;
	border-bottom: solid 1px #DFD5C5;
	border-left: solid 1px #fff;
	padding-bottom: 3px;
}

.st-border {
	border: 1px solid #B2AFA1;
}

.brand {
	float: left;
	height: auto;
}

.brand h1 {
	float: left;
	width: 550px;
	line-height: 22px !important;
	padding-bottom: 9px !important;
	border: none !important;
}

.brand p {
	float: left;
	width: 100px;
	text-align: right;
}

.brand p img {
	float: right;
	padding-top: 2px;
}


.brand span {
	float: left;
	width: 300px;
	border: none !important;
}

p.text {
	padding: 0 0 9px 0;
	font-size: 12px;
}

p.note {
	padding: 0 0 20px 0;
	color: #777;
	font-size: 11px;
	float:left;
}

span.submit {
	border: 1px solid #a4a4a4;
}

span.submit input {
	padding: 0 2px;
	font: bold 11px Tahoma, Arial, sans-serif;
	background: #e7e7e7;
	border-top: solid 1px #fff;
	border-right: solid 1px #bababa;
	border-bottom: solid 1px #a0a0a0;
	border-left: solid 1px #fff;
}

.normal-text {
	font-size: 13px;
}

.normal-text p {
	line-height: 16px;	
}

.normal-text p h4 {
	padding: 0 0 9px 0;	
}

.normal-text ul {
	padding: 0 6px 9px 0;
}

.normal-text li {
	display: block;
	padding: 5px 0 3px 12px;
	font-weight: normal;
	background: url("http://st2.gsmarena.com/pic/i2/li-default.gif") no-repeat 0 8px;
}

.nav-items {
    background: url("../i/linesbg.gif") repeat scroll 0 0 transparent;
    padding: 6px;
	overflow: hidden;
}

.nav-pages {
	width: 540px;
	float: left;
}
.nav-pages span {
	float: left;	
	line-height: 23px; 
	padding: 0 3px 0 0;
}
.nav-pages span:first-child {
	display: block;
	float: left;
	width: 45px;
	font-size: 12px;
	line-height: 14px;
	padding:3px 5px 0px 0px;
}

.nav-pages a,
.nav-pages strong {
	background:#FCFCFC;
    border: 1px solid #DDDDDD;
    color: #555555;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 18px;
    margin: 0 2px 0 0;
    padding: 0 6px;
    text-decoration: none;}

.nav-pages strong {
	background: #555555;
    border: 1px solid #333333;
    color: #F0F0F0;
}

.nav-pages a:hover{
	color: #B23F33;
	background: #fcfcfc;
	border: 1px solid #B23F33;
	text-decoration: none;
}

#latest-container {
	clear: both;
	margin: 20px 0 0 0;
}

#latest-container div {
	float: left;
}

#latest-news, #latest-reviews {
	background: url("../i/mega-sprite.gif") repeat-x 0 -923px;	
	clear: none;
}

/* brandmenu.css */
#brandmenu {
	float: left;
	width: 78px;
	margin-top: 3px;
    position: relative;
	padding: 0;
	border-bottom: 2px solid #777;
	background: #f6f6f6;
	clear: left;
}

#brandmenu h2 {
	padding:3px 0 3px 4px;
	font-size: 13px;
	text-transform: uppercase;
	border-bottom: 1px solid #d9d9d9 !important;
	position: relative;
	margin: 1px 0 0 0;
	color: #B23F33;
}

#brandmenu a {
	color: #999;
	text-decoration: none;
	padding: 3px 0;
}

#brandmenu ul {
	background: #f6f6f6;
	border-top: 1px solid #c5c5c5;

}

#brandmenu li {
	display: block;
	font: bold 11px Tahoma, Arial, sans-serif;
	border-bottom: 1px dotted #e5e5e5; 
	padding: 0x;
}

#brandmenu li a,
#brandmenu li strong {
	background: url("http://st2.gsmarena.com/pic/i2/li-brandmenu.gif") no-repeat 6px 7px;
    display: block;
    padding: 2px 6px 2px 12px;
}


#brandmenu li.on a:hover {
	background:#eee url("http://st2.gsmarena.com/pic/i2/li-brandmenu.gif") no-repeat 6px 7px;
    color: #555555;
}

#brandmenu li a:hover {
	color: #b23f33;
	background: #fcfcfc url("http://st2.gsmarena.com/pic/i2/li-brandmenu.gif") no-repeat scroll 6px 7px;
}

#brandmenu li.on a,
#brandmenu li.on strong {
	background:#ddd url("http://st2.gsmarena.com/pic/i2/li-brandmenu.gif") no-repeat 6px 7px;
    color: #555555;
}

.more-buttons { 
	background-color: #7b7b7b;
	background: rgba(0,0,0,.5); 
}

#brandmenu .more-buttons a {
	color: #fafafa;
	font: bold 11px Tahoma, Arial, sans-serif;
	text-transform: uppercase;
	display: block;
	padding: 2px 4px 4px 28px;
	background:  url("../i/mega-sprite.gif") no-repeat; 
}


#brandmenu #brandmenu-phone-finder a,
#brandmenu #brandmenu-phone-finder a:hover {
	background-position: 8px -655px;
	border-top: solid 1px #666;
}

#brandmenu #brandmenu-rumor-mill a,
#brandmenu #brandmenu-rumor-mill a:hover {
	border-top: solid 1px #666;
	background-position: 6px -682px;
}

#brandmenu #brandmenu-all-brands a,
#brandmenu #brandmenu-all-brands a:hover {
	border-top: 1px solid #999;
	background-position: 6px -715px;
}

#brandmenu .more-buttons a:hover {
	color: #fff;
	text-decoration: underline;
	background: #6e6e6e url("../i/mega-sprite.gif") no-repeat;
	background: rgba(0,0,0,.1) url("../i/mega-sprite.gif") no-repeat; 
}


/* box.css */
.box {
	height: 1%;
	clear: both;
	margin-bottom: 20px;
}


.boxHeading-alt, .boxHeading {
	background: #f0f0f0 !important;
}

.box h2, .box-exp h2 {
	padding: 0 0 1px 6px;
	font-size: 13px;
	text-transform: uppercase;
	border-bottom: 1px solid #C5C5C5 !important;
	font-weight: normal;
	background: #fff url("../i/h2bg.gif") repeat-x left bottom;
	margin-bottom: 1px;
}

.box h2 a,
.box h2 span {
	display: block;
	padding: 2px 6px 2px 0;
	color: #B23F33;
	text-decoration: none;
}

.box h2 a:hover {
	color: #000;
	text-decoration: none;
}

.lft, .rgt {
	float: left;
}

.s1 .lft {
	width: 152px;
}

.s1 .rgt {
	width: 131px;
}

.s1 .adr {
	float: left;
	width: 131px;
	text-align: right;
}

.adr-rect { padding: 0 0 10px 0; }

.s1 ul {
	padding: 0 6px;
}

.s1 .more {
	background: url("../i/linesbg.gif") repeat scroll left top transparent;
	border-top: solid 1px #ccc;
}
.s1 .more a {
	display: block;
	padding: 1px 18px 3px 6px;
	line-height: 11px;
	text-align: right;
	border-top: solid 1px #F6f6f6;
	background: url(http://st2.gsmarena.com/pic/i2/li-more.gif) no-repeat 98% 6px;
}

.s1 .more span {
	display: block;
	padding: 1px 18px 3px 6px;
	line-height: 11px;
	text-align: right;
	border-top: solid 1px #F6f6f6;
}

.spaced li {
	padding: 2px 0 3px 0;
}


.bullet li a {
	display: block;
	padding: 4px 6px 4px 12px;
	font-size: 11px;
	background: url("../i/mega-sprite.gif") no-repeat 1px -166px;
	border-bottom: 1px dotted #EEEEEE;
}

.bullet li a:hover {
	background: #f6f6f6 url("../i/mega-sprite.gif") no-repeat 1px -166px;
	text-decoration: none;
}

.bullet li span {
	display: block;
	padding: 0 6px 2px 12px;
	font-weight: bold;
	background: url(http://st2.gsmarena.com/pic/i2/li-default.gif) no-repeat 0 4px;
}
#latest-blog-narrow { float: left; }
#latest-blog-narrow .bullet li { padding: 0px 6px; float: left;}
#latest-blog-narrow .bullet li a {
	padding:4px 0px;
	background: none;	
	overflow: hidden;
	font: bold 11px Arial;
	position: relative;
	border-bottom: 1px solid #ddd;
	float: left;
	width: 113px;
}


#latest-blog-narrow .bullet li a img {
	position: relative; 
	left: -8px;	
}
#latest-blog-narrow .bullet li a span { 
	font-size:9px!important;
    color: #fff;
	white-space: nowrap;
	position: absolute;
	padding: 1px 4px;
    text-align: left;
    top: 71px;
    width: 105px;
	background-color: #666666;
	background: rgba(0,0,0,.6);
}

.s2 {
	border-bottom: solid 1px #ccc;
}

.s2 .block {
	padding: 2px 6px;
	background: #f6f6f6;
}

.s2 ul {
	margin-top: 1px;
	padding: 2px 0px 0 0px;
	background: #fcfcfc;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #eee;
}

.s2 li {
	display: inline;
	font-size: 12px;
}

.s2 li a {
	display: block;
	padding: 3px 6px 3px 6px;
	color: #777;
}

.s3 h2 {
	border-bottom-color: #d1d1d1;
}

.s3 h2 a {
	border-bottom-color: #e5e4d3;
}

.s3 h2 a:hover {
	color: #4B3C23;
}

.s3 .block {
	padding: 2px 6px;
	font-size: 11px;
}

.s3 table {
	border-bottom: solid 1px #d1d1d1;
}

.s3 caption {
	padding: 2px 6px;
	font: bold 11px Arial;
	color: #4B3C23;
	text-align: left;
	background: #ebebeb;
	border-bottom: solid 1px #d1d1d1;
}

.s3 thead th {
	padding: 2px 6px;
	font: normal 11px Arial;
	color: #6E6A57;
	background: #f0f0f0;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #d1d1d1;
}


.s3 tbody th, .s3 tbody td {
	padding: 3px 6px;
	font: 11px Arial;
	background: #f7f7f7;
	border-bottom: solid 1px #fff;
	text-align: right;
}

.s3 tbody th {
	font-weight: bold;
	text-align: left;

}

.s3 tbody th a {
	display: block;
	width: 100%;
	height: 100%;
	white-space: nowrap;
}

.s3 .numb {
	width: 10%;
}

.s3 .phon {
	width: 45%;
}

.s3 .rate, .s3 .vote {
	width: 20%;
}

.s3 .dummy {
	width: 5%;
}

.s3 .hits {
	width: 40%;
}

#th2c, #th2d, #th3c,#th4c, #th1c, #th1d {
	text-align: right;
}


.s3 h3 {
	font-size: 13px;
    font-weight: bold;
    margin-bottom: 6px;
}

.nobor,
.nobor a,
.nobor strong {
	border-style: none !important;
}


#popular-phones {
	width: 100%;
	margin-bottom: 16px;
	font: bold 11px Arial;
	background: #F7F6F1;
}

#popular-phones .top {
	width: 100%;
}

#popular-phones p {
	float: left;
	padding-top: 5px;
	width: 100%;
	text-align: center;
}

#popular-phones .top a img {
	display1: block;
	background: #FFFFFF;
	border: 1px solid #ccc;
	padding: 5px;
}

#popular-phones .top a:hover img {
	border: 1px solid #B23F33;
}

#popular-phones .top strong {
	display: block;
	padding-bottom: 2px;
	font: bold 11px Arial;
}

#popular-phones .top a:hover strong {
	text-decoration: underline;
}

#popular-phones .bottom ul {
	padding-left: 7px;
	padding-bottom: 7px;
}


ol li { list-style-type: decimal !important; }
ol { list-style-position: inside;  }

.st-text blockquote p {
    font: italic normal 13px/17px Arial;
    color: #474747;
}

.st-text blockquote {
    border-left: 3px solid #ddd;
    padding: 0 0 0 15px;
    margin: 10px 0px 10px 9px;
}

.grad {
	background: url("../i/mega-sprite.gif") repeat-x 0 -923px;
}

.nograd {
	background: #f6f6f6;	
}

.nobg h2 { 
	margin-bottom: 10px;
	_display: inline;
}

/* #Social icons ================================================== */

.socialite-button { display: none; opacity: 0; }
.socialite-loaded .socialite-button { display: block; opacity: 1; }
.socialite-button iframe { max-width: 100%; max-height: 100%; }

#social { display: block; list-style: none; padding: 0; margin: 0px; clear:both; }
#social > li { display: block; margin: 0; padding: 10px 15px 10px 0; float: left; }
#social .socialite,
#social .socialised { display: block; position: relative; background: url('http://blog.gsmarena.com/wp-content/themes/gsmarena-v2-production/images/social-icons-sprite2.gif') 0 0 no-repeat; }


#social .socialite span { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
#social .twitter { width: 55px; height: 65px; background-position: 0 0; }
#social .plusone { width: 50px; height: 65px; background-position: -90px 0; }
#social .facebook { width: 50px; height: 65px; background-position: -179px 0; }
#social .linkedin { width: 60px; height: 65px; background-position: -268px 0; }
#social .stumbleupon { width: 50px; height: 65px; background-position: -268px 0; }
#social .socialite-loaded { background: none !important; }

h1, h2, #header #nav ul#menu li a, #social-connect a, #ttl h1, #ttl span, #mid-col h1 {
    word-spacing: 2.5px;
}


span.tooltip {
      display: none;
      position: absolute;
      width: 145px;
      line-height: 15px;
      padding: 5px 5px 5px 13px;
      font-size: 14px;
      text-align: center;
      color: rgb(113, 157, 171);
      background: rgb(255, 255, 255);
      border: 3px solid white;
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px 3px;
      top: 22px;
      left: 237px;
}

span.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 7px;
      border-style: solid;
      border-color: transparent transparent #FFFFFF transparent;
      top: -17px;
      left: 70px;
}
.login-icon {box-sizing: border-box; }

#login-popup p {
  font: 14px Oswald;
  text-transform: uppercase;
  color: #888;
  text-shadow: none;
}

#login-popup a { 
    text-align: center;
    width: 60px;
    background: none;
    color: #222;
    height: auto;
    display: inline;
    padding: 0;
    margin: 6px 0 2px 0;
}

#login-popup a.g-login {
  margin-left:17px;
}

#login-popup a:hover {
  text-decoration: underline;
  color: #000;
}

#login-popup a img {
  vertical-align:middle;
  margin: -1px 3px 1px 0;
}

#cdn-hosting {
font: 12px/12px Arial;
position: absolute;
bottom: 20px;
right: -2px;
}

#cdn-hosting a { display:block;}

#cdn-hosting span {
position: relative;
top:-5px;
left: 48px;
}

#cloudx #footer { background: white; width: 1004px; }
#cloudx #cdn-hosting { right: 10px; }

#wrapper:before, #wrapper:after, #body:before, #body:after {
    content: "";
    display: table;
    clear: both;
}.autocomplete {
    border-color: -moz-use-text-color #666666 #666666;
    border-right: 1px solid #666666;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.6);
    left: -1px;
    position: absolute;
    width: 168px;
    z-index: 1000;
}
* + html .autocomplete {
    left: auto;
    right: 7px;
    top: 12px;
}
.autocomplete-search {
    margin: 0;
}

/* ie7 */
*+html .autocomplete-search {
    margin-top:6px;
}

.autocomplete ul {
    background: white;
    padding: 0;
}
.autocomplete li {
    border: 2px solid white;
    clear: both;
    height: 56px;
}
.autocomplete li a:hover {
    color: #F04F40;
}
.autocomplete li a {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    text-decoration: none;
    width: 160px;
}
.autocomplete span {
    display: inline !important;
}
.autocomplete-selected {
    border-color: #B23F33 !important;
}
.autocomplete img {
    float: left;
    height: 50px;
    padding-right: 3px;
    width: 37px;
}
.autocomplete-hide {
     display: none; /* !!!!!!!!! */
}
.autocomplete-more {
    background: #F1EFEF;
    color: #8B8B8B;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    vertical-align: baseline;
}
 .autocomplete-more strong { 
     text-align: center;
     overflow:hidden;
     display: block;
     font-weight: normal;
     padding:3px;
 }

  .autocomplete-more strong em { font-weight: bold;}

 .autocomplete-more div {
  clear:both;
  overflow: hidden;
  background: #ddd;
  padding: 0 0 0 1px;
 }

 .autocomplete-more div a {
  background: #DDDDDD;
    border-top: 1px solid #CCCCCC;
    float: left;
    font: bold 11px Arial;
    margin: 0 1px 0 0;
    padding: 7px;
    text-transform: uppercase;
 }

 .autocomplete-more div a:last-child {
  margin-left:2px;
  margin-right: 0;
 }
  .autocomplete-more div a:hover, .autocomplete-more-selected { /* !!!!!!!!! */
   background: #f1efef !important;
   border-top: 1px solid #F1EFEF !important;
  }
  


#autocomplete3 {
    left: 105px;
    position: absolute;
    top: 26px;
    width: 174px;
}

.right-cmp-overwrites #autocomplete3 {
    box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.6);
    left: 99px;
    position: absolute;
    top: -255px;
    width: 174px;
}

* + html #autocomplete3 {
    bottom: 200px;
}
#autocomplete2 {
    bottom: 44px;
    left: 266px;
    position: absolute;
    width: 174px;
}

/* ie9 */

@media all and (min-width:0) {
   .autocomplete-more div a { font:bold 10px Arial \0/; }  /* IE9 */
}

#topsearch #topsearch-text {
    border: medium none;
    color: #656565;
    font: 12px Arial;
    height: 18px;
    padding: 0 20px 0 2px;
    width: 146px;
}
/**** inline ****/

@import url(http://cdn2.gsmarena.com/w/css/index3.css);

/**** inline ****/

  .hidden { display: none;}
  #breaking {display: none; width: 1022px; float:left; position: relative;top:0px; left: 1px; background: #b23f33;}
 
  #breaking .eventLink {display: block; margin:0 auto; text-align: left; padding: 3px 15px}
  #breaking .eventLink > a {color: #fff; font: bold 12px Arial;}
  #breaking .close-button {position: absolute; top:2px; right:15px; width: 10px; height: 10px;}

/**** inline ****/
#epn-ads-banner1994950711 a{text-decoration:none} #epn-ads-banner1994950711 a:hover{text-decoration:underline;} #epn-ads-banner1994950711 .borderit:hover {border: 1px solid #C1C1C1;} body.aruba_frameless {margin:0; padding:0;  line-height: normal;}#epn-ads-banner1994950711{font-size:13px;}.epn-theme {font-family: Arial;font-size: 11;color: #000000; }