img,input,fieldset,blockquote,p,form,pre,h1,li,ol,ul,div,body 
	{
	margin: 0;
	padding: 0;
}
body {
	background: #ffffff;
	font-family: Tahoma;
	font-size: 8pt;
	text-align: right;
	direction: rtl;	
	}

img {
	border-width: 0px;
}

a {
	color: #0B435D;
	text-decoration: none;
}

a:hover {
	color: #565656;
}
.entry {
	color: black;
        background: #686868  repeat-y fixed top; 
	font: 120% Tahoma, Verdan, sans-serif;
	text-align: center;
	}

#blk-main {
	height: auto;
	width: 956px;
	position: relative;
	margin: 0 auto;
	border-width: 0 10px;
	border-color: #e5e5e5;
	border-style: solid;
	background-color: #e5e5e5;
}
#blk-topmenu {
	height: 40px;
	background-color: #686868;
	border-bottom: 1px #f2f2f2 solid;
	color:#fff;
}
#blk-topmenu a{
color:#fff;
}
#blk-banner {
	height: 95px;
	background-color: #2b84ac;
	background: #ffffff url('../football3_Images/2 x 95 px.jpg') repeat-x scroll left
	top;
	border-bottom: 2px #3ea4d2 solid;
}

#blk-banner1 {
	height: 95px;
	background-color: #C33DE5;
		background: #ffffff url('../football3_Images/2 x 95 px.jpg') repeat-x scroll left

		top;
	border-bottom: 2px #3ea4d2 solid;
}

#blk-content {
	height: 100%;
	background-color: #dbdbdb;
	overflow: hidden;
	padding-bottom:50px;
	
}

#blk-toolsmenu {
	height: 43px;
	width: 100%;
    background-image: url("../football3_Images/bg-top.gif");
}

#blk-footer {
	width: 956px;
	background-color: #686868;
	height: 96px;
	border-top: 2px #e1e0e0 solid;
}


.link-divider {
	border-left: 1px #fff solid;	
}

#mainlogo {
	width: 200px;
	height: 95px;
	float: right;
	padding-right: 30px;
	margin-top: 0px
}

#persiant {
	width: 110px;
	height: 20px;
	float: left;
	padding-left: 20px;
	margin-top: 35px
}

#initiative-logo {
	width: 70px;
	height: 70px;
	float: left;
	padding-left: 10px;
	margin-top: 10px;
}
#ads-A {
	width: 468px;
	height: 60px;
	float: left;
	padding-left: 30px;
	margin-top: 15px;
}


#per-copyright {
	background-color: #686868;
	width: 354px;
	height: 34px;
	float: right;
	padding-right: 20px;
	margin-top: 20px;
}

#en-copyright {
	background-color: #686868;
	width: 335px;
	height: 31px;
	float: left;
	padding-left: 20px;
	margin-top: 20px;
}

#rss {
	width: 98px;
	height: 33px;
	padding-left: 22px;
	padding-top: 5px;
	float: left
}
#social {
	width: 30px;
	height: 33px;
	padding-left: 20px;
	padding-top: 5px;
	float: left
}
#googleone {
	width: 80px;
	height: 33px;
	padding-left: 40px;
	padding-top: 10px;
	float: right
}
.img {
opacity: 0.5;
}
.img:hover {
opacity : 1;
}

#googleone2 {
	width: 250px;
	height: 33px;
	padding-left: 22px;
	padding-top: 10px;
	float: left
}
#ads-C {
    background-color:#DBDBDB;
	width: 130px;
	min-height: 100%;
	padding-top: 5px;
	padding-left: 0px;
	float: left ;
  
}
#ads {
    background-color:#DBDBDB;
	width: 130px;
	min-height: 100%;
	padding-top: 15px;
	padding-left: 10px;
	float: left 
}

#ads-int {
    background-color:#fff;
	width: 130px;
	min-height: 100%;
	padding-top: 15px;
	padding-left: 10px;
	float: left 
}
#ads-C1 {
    background-color:#fff;
	width: 130px;
	min-height: 100%;
	padding-top: 15px;
	padding-left: 10px;
	float: right 
}

.toolsmenu-divider {
	background: transparent url('../football3_Images/toolsmenu-divider4.gif') no-repeat
		scroll left top;
	float: left;
	width: 2px;
	height: 43px;
	margin: 0 22px 0 22px;
}
.toolsmenu-seprate {
	background: transparent url('../football3_Images/seprate.gif') no-repeat
		scroll left top;
	float: left;
	width: 1px;
	height: 43px;
	margin: 0 22px 0 22px;
}
#search {
	width: 158px;
	height: 22px;
	float: left;
	padding-top: 10px
}

#search-button {
	width: 22px;
	height: 22px;
	padding-top:10px;
	border: 0px;
	float: left;
	cursor: pointer;
}

.search-field {
	width: 120px;
	height: 22px;
	background: transparent url('../football3_Images/search-bg.gif') no-repeat scroll
		left top;
	border: 0px;
	float: left;
	text-align: right;
	padding-top:3px;
	margin-top:10px;
	font-family: Tahoma;
	color: #000;
	font-size: 8pt;
}

#search-right {
	width: 16px;
	height: 22px;
	background: transparent url('../football3_Images/search-right-curve.gif') no-repeat
		scroll left top;
	border: 0px;
	float: left;
		margin-top:10px;
}

#customize {
	width: 110px;
	height: 32px;
	background: transparent url('../football3_Images/customize1.gif') no-repeat scroll
		left top;
	float: left;
	margin-top: 5px;
	margin-left: 14px;
	cursor: pointer;
}




.widget-place {
	
	width: 257px;
	float: right;
	padding-right: 14px;
	padding-bottom:140px;
	margin-top: 14px;
	height: auto;
	list-style: none;
	min-height: 400px;
	}

.widget {
	margin-bottom: 14px;
	width: 257px;
}

.widget-menu a {
	margin: 0 0 0 1px;
}

.widget-menu {
	position: absolute;
	top: 15px;
	left: 10px;
}

.widget-header {
	height: 45px;
	background: #fff url('../football3_Images/box-head.jpg') no-repeat scroll left top;
	position: relative;
	
}

.widget-content {
	background: #fff url('../football3_Images/box-content-bg1.gif') repeat-y scroll right
		top;
	padding: 1px;
	overflow: hidden;
	
}

.box-footer {
	height: 15px;
	background: #fff url('../football3_Images/box-foot.jpg') no-repeat scroll left top;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 13pt;
	color: #0B435D;
	padding: 13px 25px 0 0;
}
h2 {
	font-family: "Tahoma";
	font-size: 10pt;
	font-weight:normal;
	color: #fff;	
	margin:1px 8px 5px 0px;
}

#nano-news {
	width: 288px;
	height: 25px;
	background-color: #f5f5f5;
	border-top: 2px #e22326 solid;
	bottom: 0;
	padding-left:10px;
padding-top:5px;
text-align:left;
}


#news-box {
	width: 250px;
	/*height: 100%;*/
	/*background-color: #0B435D;*/
        background-color:#3388af;
	/*min-height: 118px;*/
	overflow:hidden;
        margin-right:2px;
}

.iranNews {
	border-left: 2px #3ea4d2 solid;
	width: 80px;
	height: 80px;
	float: center;
}



.news-title {
	width: 168px;
	height: 38px;
	float: right;
}

.news-title p {
	padding: 5.4px 10px 6px 5px;
	text-align: justify
}

.news-divider {
	width: 168px;
	height: 2px;
	float: right;
	font-size: 0pt;
	background: transparent url('../football3_Images/news-divider.gif') repeat-x scroll
		left top;
}

.data {
	width: 255px;
	clear: both;
}

.data ul {
	padding: 10px 10px 10px 10px;
	color: #0B435D;
}

.data ul li {
	background: transparent url('../football3_Images/bullet.gif') no-repeat scroll right
		5px;
	list-style-type: none;
	line-height: 1.5em;
	width: 270px;
}

.data ul li p {
	margin-right: 15px;
	text-align: justify;
}

.data ul li a:link p {
	color: #0B435D;
}

.box-control {
	height: 18px;
	position: absolute;
	left: 10px;
	top: 15px;
}

.min-max {
	width: 17px;
	height: 18px;
	float: left;
	margin-right: 2px;
	cursor: pointer;
}

.close {
	width: 17px;
	height: 18px;
	float: left;
	margin-right: 2px;
	cursor: pointer;
}

.edit {
	width: 46px;
	height: 18px;
	float: left;
	margin-right: 1px;
	cursor: pointer;
}



.sub h1 {
	font-family: Tahoma;
	font-size: 9pt;
	color: #818181;
	font-weight: normal;
	padding: 3px 18px 0 0;
	float:right;
}

.plus-even {
	height: 14px;
}

.plus {
	width: 14px;
	height: 14px;
	background: transparent url('../football3_Images/plus.gif') no-repeat scroll left top;
	float: left;
	margin-right: 3px;
	cursor: pointer;
	margin-left:5px;
	margin-top:4px;
}

.even {
	width: 14px;
	height: 14px;
	background: transparent url('../football3_Images/even.gif') no-repeat scroll left top
		;
	float: left;
	margin-right: 3px;
	cursor: pointer;
	margin-top:4px;
}

.widget-editbox {
	background: #e6e6e6 url('../football3_Images/editbox-bg.jpg') no-repeat scroll right
		bottom;
	width: 258px;
	padding: 20px 20px 20px 20px;
	display:none;
}

.edit-item1 {
	background: transparent url('../football3_Images/edititem-bg.gif') no-repeat scroll
		left top;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	height: 25px;
	margin-bottom: 5px;
}
.edit-item {
	height: 25px;
	margin-bottom: 5px;
}

.edit-check {
	width: 15px;
	height: 15px;;
	margin: 5px 8px 3px 8px;
	float: right;
}

.edit-item1 p {
	float: right;
	color: #fff;
	margin: 0px 0 3px 7px;
}
.edit-item p {
	float: right;
	color: #balck;
	margin: 5px 0 3px 7px;
}

.edit-but {
	width: 50px;
	height: 25px;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal;
}

.Code
{
	border: #8b4513 1px solid;
	padding-right: 1px;
	padding-left: 1px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	
}
.Code
{
	border: #8b4513 1px solid;
	padding-right: 1px;
	padding-left: 1px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	
}
		.trheader{
		background: #4FCB45 ;
		}
		.aheader{
		color: white ;
		font-size: 8pt;
		font-weight:bold;
		}
		.tr2header{
		background: #686868 ;
		}
		.a2header{
		color: white ;
		}
		.row1{
		background: #ffffff ;
		font-size: 8pt;
		font-family: Tahoma;
		}
		.row2{
		background: #dbdbdb ;
		font-size: 8pt;
		font-family: Tahoma;
		}

#nano-article {
	width: 288px;
	height: 20px;
	background: #f5f5f5;
	border-top: 2px #e22326 solid;
	bottom: 0;
	text-align: left;
	padding-top: 5px;
	padding-left: 10px;
}

.poll {
	padding: 10px;
	width: 210px;
}

.poll-item {
	height: 15px;
	margin-bottom: 7px;
}

.poll-radio {
	float: right;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 10px;
}

.poll-item p {
	float: right;
	color: #676767;
	width: 230px;
}

.submit-but {
	width: 54px;
	height: 19px;
	background: transparent url('../football3_Images/submit-but.gif') no-repeat scroll
		left top;
	border: 0;
	margin: 5px 150px 0 0;
	cursor: pointer;
}

#poll-review {
	margin: 5px 15px 0 0;
}

.textbox {
	border: 0;
	width: 187px;
	height: 20px;
	background-color: #bddce9;
	margin-top: 5px;
	color: #4f5f66;
	text-align: left;
	font-size: 9pt;
	padding: 2px 3px 0 3px;
	direction: ltr;
}


.gallery-box {
	width: 250px;
	/*height: 240px;*/
	clear: both;
	margin: auto;
	padding: 10px 0px 0px 0px;
}

.customize-box {
	background: #d0d0d0 url('../football3_Images/customize-bg.jpg') no-repeat scroll 20px
		bottom;
	padding: 0px 60px 10px 30px;
	height: auto;
	overflow: hidden;
	position: relative;
	float: right;
	width: 866px;
	border-bottom: 1px #8b8b8b solid;
	display: none;
}

.customize-item {
	background: transparent url('../football3_Images/edititem-bg.gif') no-repeat scroll
		left top;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	height: 25px;
	margin-bottom: 5px;
	width: 258px;
	margin-left: 30px;
	float: right;
}

.customize-item p {
	float: right;
	color: #fff;
	margin: 5px 0 3px 7px;
}

#customize-but {
	width: 866px;
	text-align: center;
	position: relative;
	float: right;
	margin-top: 15px;
}

#customize-title {
	font-family: Tahoma;
	font-size: 9pt;
	margin-bottom: 10px;
	color: #565656;
	margin-left:30px;
	text-align:justify;
}

/*second css */ /*Slider & topnews css */
#topnews {
	width: 527px;
	height: 154px;
	background: transparent url('') no-repeat scroll
		left top;
	margin: 14px 0 0 15px;
	float: right;
	padding-right: 15px;
	position: relative;
	

}

.slider{
	position:relative;
	width: 513px;
	height: 154px;
	border-right:1px solid #DEDBDE;
}
.slider ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

.slider li {
	position: absolute;	
}
.topnews-text {
	color:#5f5f5f;
	width:300px;
	text-align:justify;
	position:absolute;
	right:210px;
	top:65px;
}
.topnews-subtitle {
	color:#5f5f5f;
	width:300px;
	text-align:justify;
	position:absolute;
	right:220px;
	top:25px;
}
.topnews-title{
	position:absolute;
	right:185px;
	top:30px;
	width:300px;
	overflow:hidden;
	height:20px;
}
.topnews-img {
	position: relative;
	width: 513px;
	height: 152px;
	right:7px;
	top:4px;
	overflow:hidden;

}

.topnews-img img {
	margin-top:-6px;
	width: 200px;
	height: 150px;
	}

.curve-tr {
	width: 10px;
	height: 10px;
	background: transparent url('') no-repeat
		scroll left top;
	position: absolute;
	right: 13px;
	top: 0px;
	z-index: 1000
}

.curve-br {
	width: 10px;
	height: 10px;
	background: transparent url('') no-repeat
		scroll left top;
	position: absolute;
	right: 13px;
	top: 144px;
	z-index: 1000
}


.topnews-control {
	height: 14px;
	position: absolute;
	width: 150px;
	left: 10px;
	top: 130px;
}

.topnews-control img {
	float: left;
	margin-right: 2px;
	cursor: pointer;
}

/*gallery*/
#showImage{
	overflow:hidden;
	height:205px;
	width:250px;
	margin:auto
}
.ppt {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

.ppt li {
	width:240px;
	height:205px;
	margin:auto;
	text-align:center;
}
.ppt li img {
	border:1px solid #d4d4d4;
	background-color:#F5F5F5;
	padding:5px;
}

.galleryCon {
	text-align:center
}
.gallery-but {
	margin-top: 3px;
	cursor: pointer;
}

/*edit news & article*/
.show {
	display: block;
}

.hide {
	display: none;
}

.showArt {
	display: block;
}

.hideArt {
	display: none;
}

/*widget*/
.widget-placeholder {
	color: #000;
	background-color: #ebebeb;
	margin-bottom: 14px;
}

#identifierwidget-9 .widget-editlink {
	display: none;
}

#identifierwidget-7 .widget-editlink {
	display: none;
}

#identifierwidget-4 .widget-editlink {
	display: none;
}

#identifierwidget-10 .widget-editlink {
	display: none;
}

#identifierwidget-2 .widget-editlink {
	display: none;
}

#identifierwidget-8 .widget-editlink {
	display: none;
}

#identifierwidget-6 .widget-editlink {
	display: none;
}
#identifierwidget-11 .widget-editlink {
	display: none;
}
#identifierwidget-13 .widget-editlink {
	display: none;
}
#identifierwidget-14 .widget-editlink {
	display: none;
}
#identifierwidget-15 .widget-editlink {
	display: none;
}

#resault {
	width:283px;
	margin:5px 0 5px 0;
	color: #fff;
	height:15px;
	padding:5px 10px 5px 5px;
}
#resaultBox{
    width:230px;
	height:25px;
	display: none;
}
#loadingImg {
	display: none;
}
#warning{
	width:230px;
	margin:5px 0 5px 0;
	display: none;
	color: #fff;
	background-color:#e65e3a;
	height:15px;
	padding:5px 10px 5px 5px;
}
#voting{
	width:233px;
	margin:5px 0 5px 0;
	color: #fff;
	background-color:#6CB034;
	height:15px;
	padding:5px 10px 5px 5px;
}
#warningNO{
	width:230px;
	margin:5px 0 5px 0;
	display: none;
	color: #fff;
	background-color:#e65e3a;
	height:15px;
	padding:5px 10px 5px 5px;
}
#dicResault{
display:none;
text-align:center;
}
#dicMeaning{
	margin:10px;
text-align:justify;
color: #5F5F5F;

}
#newsLoading{
	display:none;
	color:#565656;
	width:150px;
	height:25px;
	float:right;
}
#loadPoll{
	display:none;
	padding-bottom:5px;
	text-align:center;
}
/*menu and its drop down menu*/


.menu {
  float: right;
	//position: relative;
	list-style: none;
	padding-right: 2px;
	margin-top: 15px;
	display: inline;
	//width: 700px;
}
.menu a {
	color: black;
}

.menu a:hover {
	color: #FE8D09;
}

.menu li {
  float: right;
  margin: 0;
  padding: 0 7px 0 7px;
  position: relative;
  height:17px;
  vertical-align:middle;
  text-align:center;
}
.menu li a{
	display:block;
	white-space: nowrap;
}

.menu li ul{
	background-color:black;
  list-style: none;
  margin: 0;
 width: 125px;
  position: absolute;
  visibility: hidden;
  top: 0px;
  right:-1px;
  padding-top:11px;
}
.menu li.sfHover ul {
  top: 0px; 
}
.menu li:hover ul {
  top: 0px; 
}
.menu ul li {
  border-top:1px solid #FFFFFF;
  float: none;
  padding:5px 7px 3px 5px;
  text-align:right;
}
.menu ul li:hover {
 background-color:#333;
}
.menu ul a {
  white-space: nowrap;
}
.menu ul a:hover {
  color: #ffffff;
}
/************************end of drop down menu*************************/

/*start of INBN news box 's css*/
.inbndata {
	width: 250px;
	clear: both;
}

.inbndata ul {
	padding: 10px 5px 10px 5px;
	color: #0B435D;
}

.inbndata ul li {
	background: transparent url('../football3_Images/bullet.gif') no-repeat scroll right
		5px;
	list-style-type: none;
	line-height: 2em;
	width: 240px;
}

.inbndata ul li p {
	margin-right: 10px;
	text-align: justify;
}

.inbndata ul li a:link p {
	color: #0B435D;
}

/*end of nanolab*/
/*start of NEWS PAGE css*/
#news-menu{
	height:40px;
	background:#3286ab url('../football3_Images/newsmenu-bullet.gif') no-repeat scroll 920px 10px;
	
}
#blk-content-news {
	height: 100%;
	background-color: #fff;
	overflow: hidden;
}
#news-col-right-old {
	width: 600px;
	float: right;
	padding-right: 14px;
	padding-left: 14px;
	padding-bottom:140px;
	margin-top: 14px;
	height: auto;
	list-style: none;
	min-height: 400px;
}
#news-col-right {
	width: 550px;
	float: right;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom:140px;
	margin-top: 14px;
	height: auto;
	list-style: none;
	min-height: 400px;
}
#playoff-right {
	width: 650px;
	float: right;
	padding-right: 14px;
	padding-left: 14px;
	padding-bottom:140px;
	margin-top: 14px;
	height: auto;
	list-style: none;
	min-height: 400px;
}
#news-col-left1 {
	width: 299px;
	float: right;
	padding-right: 14px;
	padding-bottom:140px;
	margin-top: 14px;
	height: auto;
	list-style: none;
	height: 100%;
	border-right:1px black solid;
	}
	#news-col-left-old {
	width: 299px;
	float: right;
	padding-right: 14px;
	padding-bottom:140px;
	margin-top: 14px;
	height: auto;
	list-style: none;
	height: 100%;
	border-right:1px black solid;
	}
	#news-col-left {
	width: 220px;
	float: right;
	padding-right: 5px;
	padding-bottom:140px;
	margin-top: 14px;
	height: auto;
	list-style: none;
	height: 100%;
	border-right:1px black  solid;
	}
#playoff-left {
	width: 249px;
	float: right;
	padding-right: 14px;
	padding-bottom:140px;
	margin-top: 14px;
	height: auto;
	list-style: none;
	height: 100%;
	border-right:1px black solid;
	}
#news-fifa-right {
	width: 250px;
	float: right;
	padding-left: 14px;
	padding-bottom:140px;
	margin-top: 14px;
	height: auto;
	list-style: none;
	height: 100%;
	}
	
#news-fifa-left {
	width: 649px;
	float: right;
	padding-left: 10px;
	padding-bottom:140px;
	margin-top: 14px;
	height: auto;
	list-style: none;
	min-height: 400px;
	border-right:0px black solid;
}

#news-top-news{
	position:relative;
	border-bottom:1px #d8d8d8 solid;
	padding-bottom:10px;
	float:right;
	width:600px;
	height:145px;
}
#news-top-news img{
	width:145px;
	height:145px;
	border:1px #000 solid;
	
}
#lastnews-title{
	color:#0B435D;
	font-family:"Times New Roman", Times, serif;
	font-size:13pt;
	font-weight:bold;
	width:435px;
	overflow:hidden;
}
#lastnews-text{
	color:#5F5F5F;
	width:435px;
	line-height:1.4em;
	height:90px;
	overflow:hidden
}
#lastnews-des{
	width:435px;
	height:19px;
	margin-top:10px;
}
#last-news{
	position:absolute;
	right:165px;
	top:10px;
	width:435px
}


.regional-news{
	border-bottom:1px #d8d8d8 solid;
	float:right;
	width:600px
}
.regional-news-title{
	height:24px;
	margin-top:2px;
	border-bottom:1px #d6d6d6 solid;
	width:600px;
	float:right
}
.regional-col{
	width:299px;
	padding-top:5px;
	border-left:1px #eeeeee solid;
	float:right
}
.newsw-thumb{
	position:relative;
	border-bottom:1px #eeeeee dashed;
	padding-bottom:10px;
	margin-top:8px;
}

.newsw-thumb-title{
	color:#0B435D;
	overflow:hidden;
	height:30px;
	text-align:justify;
	padding-left:15px;
}
.news-thumb{
	width:75px;
	height:60px;
	overflow:hidden;
	border:1px #000 solid;
}

.newsw-thumb-desc{
	margin-top:10px;
	padding-right:13px;
	background:transparent url('../football3_Images/newsdesc-bullet.gif') no-repeat scroll right 3px;
	color:#828282;
	padding-left:15px;
	text-align:justify;
}
.most-newsw-thumb-desc{
	margin-top:7px;
	padding-right:17px;
	background:transparent url('../football3_Images/most-newsdesc-bullet.gif') no-repeat scroll right 3px;
	color:#828282;
	height:15px
}
.newsw-thumb-text{
	right:90px;
	top:7px;
	width:209px;
	margin-top:-55px;
	margin-right:90px
}
.most-newsw-thumb-text{
	right:90px;
	top:7px;
	width:180px;
	margin-top:-55px;
	margin-right:70px
}
.news-data {
	width: 299px;
	border:0px;
}

.news-data ul {
	padding: 10px 10px 10px 10px;
	color: #0B435D;
}

.news-data ul li {
	background: transparent url('../football3_Images/bullet.gif') no-repeat scroll right
		5px;
	list-style-type: none;
	line-height: 1.5em;
	width: 279px;
	border-bottom:1px #eeeeee dashed;
	padding-bottom:5px;
}

.news-data ul li p {
	margin-right: 15px;
	text-align: justify;
}

.news-data ul li a:link p {
	color: #0B435D;
}

/*news.do*/
.related-news-old{
	width:100%;
	background:#686868 ;
	border:1px #95ada5 solid;
	margin-bottom:0px;
}
.related-news{
	width:255px;
	background:#686868 ;
	border:1px #95ada5 solid;
	margin-bottom:0px;
}
.related-news-data{
	width:268px
}
.related-news-data ul {
	padding: 5px 0px 5px 10px;
	color: #6a8980;
}

.related-news-data ul li {
	background: transparent url('../football3_Images/related-news-bullet.gif') no-repeat scroll right
		0px;
	list-style-type: none;
	line-height: 1.5em;
	width: 220px;
	border-bottom:1px #eeeeee dashed;
	padding-bottom:5px;
}
.related-news-data ul li p a{
	color: #6a8980;
}
.related-news-data ul li p {
	margin-right: 0px;
	text-align: justify;
}

.related-news-data ul li a:link p {
	color: #6a8980;
}
.related-title{
	font-family:"Times New Roman", Times, serif;
	font-size:11pt;
	font-weight:bold;
	color:#5a6662;
	padding-right:22px;
	background:transparent url('../football3_Images/related-bullet.gif') no-repeat scroll right 2px;
	margin-right:12px;
}
/*comment of users css*/
.op-txtbox{
	width:50%;
	float:right;
	margin-top:20px;
}
.op-txtbox p{
	color:#5c5c5c;
	float:right;
	padding-right:10px;
	padding-bottom:10px;
	width:80px;
}
.op-txtbox input{
	width:180px;
	margin-right:20px;
	border:1px #d1d1d1 solid;
	height:15px;
	font-family:Tahoma;
	font-size:8pt;
}
.op-areabox{
	width:100%;
	float:right;
	margin-top:10px;
}
.op-areabox p{
	color:#5c5c5c;
	float:right;
	padding-right:10px;
	padding-bottom:10px;
	width:80px;
}
.op-areabox textarea{
	width:480px;
	margin-right:20px;
	border:1px #d1d1d1 solid;
	height:60px;
	font-family:Tahoma;
	font-size:8pt;

}
.op-submit{
	background:transparent url('../football3_Images/submit-but.gif') no-repeat scroll right top;
	height:19px;
	width:54px;
	border:0px;
	margin-right:400px;
	margin-top:10px;
	cursor:pointer;
}
#warningComment{
	width:500px;
	margin:15px 0 5px 0;
	display: none;
	color: #fff;
	height:15px;
	padding:5px 10px 5px 5px;

}
#showComments{
	border:1px solid #CECBC4;
	color:#333;
	margin:15px 0px; 
}
#headerCom{
	background-color:#EFECE4;
	border-bottom:1px solid #CECBC4;
	color:gray;
	font-weight:bold;
	padding:7px;
}
#showComments ul {
	padding:5px 10px;
}
#showComments ul li{
list-style:none;
background:transparent url(../football3_Images/comment.png) no-repeat scroll right top;
border-bottom:1px dashed #CECBC4;
padding-bottom:5px;
}
#showComments ul li p{
margin-right:20px;
margin-bottom:5px;
text-align:justify;
}
/*end of NEWS PAGE css*/


/* end for each news page */
/* start of setad page*/
#blk-content-base {
	height: 100%;
	background-color: #fff;
	overflow: hidden;
}
#base-col-right {
	width: 300px;
	float: right;
	padding-right: 14px;
	padding-left: 14px;
	padding-bottom:140px;
	margin-top: 14px;
	height: auto;
	list-style: none;
	min-height: 400px;
}
#base-col-left {
	width: 599px;
	float: right;
	padding-right: 14px;
	padding-bottom:140px;
	margin-top: 14px;
	height: auto;
	list-style: none;
	height: 100%;
	border-right:1px #EEEEEE solid;
}


.pub-title {
	color:#0B435D;
	font-family:"Times New Roman", Times, serif;
	font-size:14pt;
	padding:5px;
	border-bottom:1px #EEEEEE solid;
}
.pub-content{
	font-family:Tahoma;
	font-size:9pt;
	color:#343434;
	margin-top:10px;
	line-height:1.5em;
	margin-bottom:10px;
	text-align:justify;
}


/*start of public edit for all remained pages*/
#blk-public{
	float:right;
	height:auto;
	min-height:400px;
	height:auto !important;
	margin-top:14px;
	padding-bottom:14px;
	padding-right:14px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;	
	width:928px;
	overflow:hidden;
	text-align:justify;
}


#blk-public ol{
	margin-right:27px;
}
#blk-public ul{
	margin-right:20px;
}


/*start STANDARD styles*/
.pub-title-lev2 {
	color:#0B435D;
	font-family:"Times New Roman", Times, serif;
	font-size:14pt;
	padding:20px 5px 5px 5px;
	border-bottom:1px #EEEEEE solid;
}
.col-center-row{
	padding:10px;
	color:#5F5F5F;
	border-bottom:1px #EEEEEE solid;
	line-height:1.5em
}
.col-center-row a{
	color:#5F5F5F;
}
.col-center-row a:hover{
	color:#000;
}
/*end STANDARD styles*/


/*////////////////////topcenter corner/////////////////////*/
.textarea {
	FONT-WEIGHT: normal ; FONT-SIZE: 8pt; COLOR: #3b425f; FONT-STYLE: normal; FONT-FAMILY:tahoma ; border-top:.5pt solid #3b425f;border-left:.5pt solid #3b425f
  ;border-bottom:.5pt solid #3b425f;border-right:.5pt solid #3b425f;padding-left:5.4pt; padding-right:5.4pt; padding-top:1pt; padding-bottom:1pt;width=300;height=200;
}
.my_corners_t {
    /*
        change this div to layout the whole box (width, height, float, margin, ...)
        example lines:
        width: 60%;
        margin: 7px 35px 0px 1px
        to change distance to content/text scroll to class ".my_corners" and change the padding
    */
    background-color: #ffffff;
    background-image: url("../football3_Images/my_corners_border.png");
    background-repeat: repeat-x;
    background-position: top;
}
.my_corners_tl {
    height: 100%;
    background-image: url("../football3_Images/my_corners_topleft.png");
    background-repeat: no-repeat;
    background-position: left top;
}
.my_corners_tr {
    height: 100%;
    background-image: url("../football3_Images/my_corners_topright.png");
    background-repeat: no-repeat;
    background-position: right top;
}
.my_corners_bl {
    height: 100%;
    background-image: url("../football3_Images/my_corners_bottomleft.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}
.my_corners_br {
    height: 100%;
    background-image: url("../football3_Images/my_corners_bottomright.png");
    background-repeat: no-repeat;
    background-position: right bottom;
  
}

.my_corners_l {
    height: 100%;
    background-image: url("../football3_Images/my_corners_border.png");
    background-repeat: repeat-y;
    background-position: left;
}
.my_corners_r {
    height: 100%;
    background-image: url("../football3_Images/my_corners_border.png");
    background-repeat: repeat-y;
    background-position: right;
     
}
.my_corners_b {
    height: 100%;
    background-image: url("../football3_Images/my_corners_border.png");
    background-repeat: repeat-x;
    background-position: bottom;
}
.redtop{
 position:Absolute ;background-position:left top;vertical-align: bottom;/*background-image: url('');*/ background-repeat: no-repeat;padding-top:0px;margin-right:410px;margin-top:0px;width:136px;height:24px;color:white;font-family:Tahoma;font-size:10pt;
}

/*///////////////////livescore/////////////////////*/

.Vollyscore {
  font-size:12px;
  font-face:tahoma;
  color:black;
}
.VollyscoreMain {
  font-size:12px;
  font-face:tahoma;
  color:blue;
}
.Vollyscoretop {
  font-size:12px;
  font-face:tahoma;
  color:white;
}
/*///////////////////topcenter corner/////////////////////*/

.medalgold{height:30px;background:url(http://www.varzesh3.com/football3_images/goldg_medal.png) no-repeat}
.medalsilver{background:url(http://www.varzesh3.com/football3_images/silvers_medal.png) no-repeat}
.medalbronze{background:url(http://www.varzesh3.com/football3_images/bronzeb_medal.png) no-repeat}
.medaltotal{font-weight:bold;align:center;}
.medalrow{height:20px}

/*///////////////////maches & standing of leagues/////////////////////*/

.league-table{padding:0 0 10px 0;width:230px;}.wide 
.league-table{padding:0 0 10px 0;width:100%;direction:rtl;}
.league-table ul{margin:0;padding:0;list-style-type:none}
.league-table .headings-top1 li{width:230px;font-size:9pt;text-align:center;color:#fff;background:#FE8D09;direction:rtl;}
.league-table .headings-top2 li{width:230px;font-size:9pt;text-align:center;color:#fff;height:15px;line-height:15px;background:#4FCB45;direction:rtl;}
.league-table .headings-top3 li{width:230px;font-size:9pt;text-align:center;color:#fff;height:15px;line-height:15px;background:#095881;direction:rtl;}
.league-table .headings-top4 li{width:230px;font-size:9pt;text-align:center;color:#fff;height:15px;line-height:15px;background:#E22326;direction:rtl;}
.league-table .headings li{font-size:9pt;color:#fff;width:230px;padding:2px 0 2px 0px;background:#686868}
.league-table  li{padding:2px 0 2px 0px;float:left;}
.league-table .alt {padding:2px 0 2px 0px;background:#EBEBEB;border-top:#dde2e1 1px solid;border-bottom:#dde2e1 1px solid;float:left;width:230px;}
.league-table .alt2 {padding:2px 0 2px 0px;background:#FFFFFF;border-top:#dde2e1 1px solid;border-bottom:#dde2e1 1px solid;float:left;width:230px;}
.league-table .matchtime{width:30px;right:0;direction:rtl;color:#095881;}
.league-table .team2{width:85px;text-align:right;}
.league-table .result{width:30px;font-weight:bold;text-align:center;direction:ltr;}
.league-table .team1{width:85px;text-align:left;}
.league-table .play{width:40px;text-align:center;}
.league-table .score{width:40px;text-align:center;}
.league-table .teamname{width:130px;text-align:center;}
.league-table .rank{width:20px;text-align:left;}
.league-table  .play-head{color:white;width:40px;text-align:center;background:#686868}
.league-table  .score-head{color:white;width:40px;text-align:center;background:#686868}
.league-table  .teamname-head{color:white;width:150px;text-align:center;background:#686868;}
.league-table .playername{width:190px;vertical-align:middle;}
.league-table .playername p{text-align:justify;}
.league-table .goalrank{width:40px;text-align:center;vertical-align:middle;height:100%;}
.league-table .goalrankRed{width:40px;text-align:center;background:#E22326;vertical-align:middle;height:100%;color:#fff;}

.league-table .alttitr{padding:2px 0 2px 0px;background:gray;border-top:#dde2e1 1px solid;border-bottom:#dde2e1 1px solid;float:right;width:230px;color:white;font-size:7pt;}
.league-table .matchtimex{width:30px;right:0;direction:ltr;color:#095881;}
.league-table .q1{width:20px;text-align:right;direction:ltr;}
.league-table .q2{width:20px;text-align:right;direction:ltr;}
.league-table .q3{width:20px;text-align:right;direction:ltr;}
.league-table .q4{width:20px;text-align:right;direction:ltr;}
.league-table .q5{width:20px;text-align:right;direction:ltr;}
.league-table .resultx{width:25px;font-weight:bold;text-align:center;direction:ltr;}
.league-table .teamnamex{width:75px;text-align:left;}

/* end HRDC styles */