@charset "gb2312";
/* CSS Document */
body,div,p,h1,h2,h3,h4,h5,h6,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/24px tahoma,Helvetica,arial,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,em,i{font-style:normal;}
small{font-size:12px;}li{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;line-height:normal;}
table{border-collapse:collapse;border-spacing:0;}
input[type="button"],input[type="submit"],input[type="reset"]{cursor:pointer;}

body{font-family:"宋体";background:#fff;}
.topnew{margin:0 auto;width:950px;}
a:link{color:#000}
a:visited{color:#757575}
a:hover{color:#C00000}
.mt{margin-top:10px;}
.mt5{margin-top:5px;}
.header,.main{width:950px;margin:0 auto;}
#formHq{width:245px}

/*日历控件*/
.jrj-cal-box{border:1px solid #4297d7;width:198px;background:#fff;font:12px/22px Tahoma;z-index:100}
.jrj-cal-box a{text-decoration:none;}
.jrj-cal-hd, 
.jrj-cal-hd a:hover, 
.jrj-cal-hd a span, 
.jrj-cal-year span,
.jrj-cal-month span{background:url(http://i0.jrjimg.cn/common/calendar.png) no-repeat;}
.jrj-cal-hd{background-position:0 -100px;background-repeat:repeat-x;padding:0 5px;height:24px;}
.jrj-cal-hd .jrj-cal-prev, .jrj-cal-hd .jrj-cal-next{ width:18px;height:17px;overflow:hidden;margin-top:3px;}
.jrj-cal-hd .jrj-cal-prev{ float:left; }
.jrj-cal-hd .jrj-cal-next{ float:right; }
.jrj-cal-hd a:hover{background-position:0 -20px;}
.jrj-cal-hd .jrj-cal-prev span{display:block;padding-left:20px;background-position:-5px -37px;}
.jrj-cal-hd .jrj-cal-next span{display:block;padding-left:20px;background-position:-5px -57px;}
.jrj-cal-hd .jrj-cal-year{position:relative;float:left;margin-left:12px;}
.jrj-cal-hd .jrj-cal-month{position:relative;float:left;width:60px;}
.jrj-cal-hd .jrj-cal-year span,
.jrj-cal-hd .jrj-cal-month span{display:block;color:#fff;font-weight:bold;font-size:14px;padding-right:18px;background-position:right -78px;text-align:right;cursor:pointer;}
.jrj-cal-year-list, .jrj-cal-month-list{position:absolute;border:1px solid #4297D7;background:#fff;width:65px;padding:1px;height:160px;overflow-y:auto;}
.jrj-cal-month-list{width:45px;height:192px;right:0px;}
.jrj-cal-year-list i, .jrj-cal-month-list i{display:block;line-height:16px;text-align:center;font-style: normal; }
.jrj-cal-year-list .hover, .jrj-cal-month-list .hover, .jrj-cal-year-list i:hover, .jrj-cal-month-list i:hover{background:#6598CD;color:#fff;cursor:pointer;}
.jrj-cal-bd{padding:2px 0 3px;}
.jrj-cal-bd .jrj-cal-whd{border-bottom:1px solid #ccc;height:19px;}
.jrj-cal-bd .jrj-cal-whd span{float:left;width:28.285px;text-align:center;line-height:19px;}
.jrj-cal-whd .jrj-cal-rest{color:#f60;}
.jrj-cal-dbd{ height:144px; }
.jrj-cal-dbd a,
.jrj-cal-dbd a:link,
.jrj-cal-dbd a:visited{float:left;margin:3px;width:22.285px;line-height:18px;color:#000;text-align:center;}
.jrj-cal-dbd a:hover{background-color:#999999;color:#fff}
.jrj-cal-dbd a.jrj-cal-null,
.jrj-cal-dbd a.jrj-cal-null:link,
.jrj-cal-dbd a.jrj-cal-null:visited{background-color:#fff; color:#fff; cursor:default;}
.jrj-cal-dbd a.jrj-cal-today,
.jrj-cal-dbd a.jrj-cal-today:link,
.jrj-cal-dbd a.jrj-cal-today:visited{color:#FF6600; font-weight:bold}
.jrj-cal-dbd a.jrj-cal-selected,
.jrj-cal-dbd a.jrj-cal-selected:link,
.jrj-cal-dbd a.jrj-cal-selected:visited{background-color:#6598CD;color:#fff}
.jrj-cal-dbd a.jrj-cal-disabled,
.jrj-cal-dbd a.jrj-cal-disabled:link,
.jrj-cal-dbd a.jrj-cal-disabled:visited{background-color:#fff; color:#999; cursor:default;}





.history{width:950px;margin:5px auto;position:relative;z-index:99;}
.history:after{content:'';display:block;height:0;visibility:hidden;clear:both;}
.history .calendar,.prevbt,.nextbt,.calendar .calebtn{background:url(http://i0.jrjimg.cn/homev2/history.png) no-repeat;}
.history .calendar{float:left;width:268px;height:22px;background-position:0 -25px;padding:4px 25px 3px 10px;margin-right:55px;}
.history .calendar strong{font:bold 16px/16px "微软雅黑";margin-right:10px;}
.history .calendar input{width:130px;padding:2px 15px 2px 7px;border:1px solid #7c9dbb;background:#fff url(http://i0.jrjimg.cn/common/calendar.png) no-repeat right 2px;cursor:pointer;}
input.init{color:#666;}
.dateshow,.dateshow strong,.dateshow label,.dateshow a{float:left;margin:2px 20px 0 0;}
.prevbt,.nextbt{width:67px;height:21px;background-position:-100px 0;text-align:center;color:#000;}
.prevbt:hover,.nextbt:hover{background-position:-170px 0;color:#000;text-decoration:none;}
.dateshow strong{font:bold 18px "微软雅黑";margin-top:0;display:inline-block;width:104px;}
.dateshow label{font:bold 14px "微软雅黑"}
.history .calendbox{left:75px;top:26px;z-index:100;}
/* top导航 */
.jrj-enter .login .bt,.jrjmess, .jrjletter, .jrjpho,.sina-index,.mlg a,.w1 .bt1,.w1 .bt2,.list01 li,.tab1 ul li,.cont .menu i b,.list2 li,.ipt2,.xximg,.md .hd1 .mh-title i,ul.ullist1 li,ul.ullist2 li,.text-s2 a,.calendar a.calebtn,.vred{background:url(http://i0.jrjimg.cn/homev2/v2013/bg.png) no-repeat}
.jrj-enter,.n5,.n6,.n4,.title,.tab1 ul li.cur,.md .hd2,.title1,.title2,.title2-1{background:url(http://i0.jrjimg.cn/homev2/v2013/bg-x.png) repeat-x;}
.title .mh-title,.title1 .mh-title,.title2 .mh-title,.title2-1 .mh-title{background:url(http://i0.jrjimg.cn/homev2/v2013/textbg.png) no-repeat}
.jrj-enter{background-position:0 0;height:29px;}
.jrj-enter .login{float:left;padding:4px 0 0 10px;line-height:normal;width:450px;}
.jrj-enter .login .tx{width:82px;height:16px;padding:1px 3px;background:#fff;border:1px solid #B9B9B9;}
.jrj-enter .login label,.jrj-enter .login input,.jrj-enter .login a{display:inline-block;vertical-align:top;}
.jrj-enter .login span{vertical-align:middle;line-height:18px;line-height:22px\9;*line-height:21px;height:20px;display:inline-block}
.jrj-enter .login .bt{background-position:-97px -13px;border:none;width:42px;height:20px;line-height:20px;*margin-top:1px;cursor:pointer;padding:0 0 4px;}
.jrj-enter .login a{line-height:20px;margin:0 5px;color:#000;*line-height:23px;}
.jrj-enter .login input{margin-right:5px;}
.jrj-enter ul.jrj-entertip{float:right;}
.jrj-enter ul.jrj-entertip li{float:left;padding:0 0 0 5px;line-height:29px;height:29px;}
.jrj-enter ul.jrj-entertip li a{margin:0 5px 0 0;color:#000;position:relative;_top:7px}
.jrj-enter ul.jrj-entertip li.m0 a{_top:0}
.jrj-enter ul.jrj-entertip li i{width:13px;height:13px;overflow:hidden;display:inline-block;position:relative;top:3px;*top:-1px;_top:6px;margin:0 2px 0 0;;}
.jrj-enter ul.jrj-entertip li i.jrjmess{background-position:-97px 0;}
.jrj-enter ul.jrj-entertip li i.jrjletter{background-position:-110px 0;}
.jrj-enter ul.jrj-entertip li i.jrjpho{background-position:-123px 0;}
.jrj-enter ul.jrj-entertip li i.sina-index{background-position:-136px 0;}

.jrj-enter:after,.col:after,ul:after,.jrj-clear:after,.adtop:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.jrj-enter,.col,ul,.jrj-clear,.adtop{zoom:1}
.topnew .jrj-enter{overflow:visible;zoom:1}
.loginnew{padding:2px 0 0 10px;padding:3px 0 0 10px\9;*padding:2px 0 0 10px;_padding:2px 0 0 10px;float:left;height:26px;width:500px}
.loginnew ul li{float:left;margin:0 4px;}
.loginnew ul li span{margin:0 0 0 10px;}
.loginnew ul li span,.loginnew ul li a{display:inline-block;height:27px;line-height:23px;color:#000;}
.loginnew ul li.m01 a,.loginnew ul li.m01{margin:0;}
.loginnew ul li.m01 a{cursor:pointer;}
.loginnew ul li.qx{margin:0;position:relative;}
.loginnew ul li.qx a.btntop{width:78px;height:26px;line-height:26px;_line-height:24px;;padding:0 0 0 10px;background:url(http://i0.jrjimg.cn/homev2/newzj/more-new.png) no-repeat 0 0;margin:0 5px 0 0}
.loginnew ul li.qx a.btntop:hover{background-position:0 -27px;text-decoration:none;}
.loginnew ul li.qx a.pos{position:relative;z-index:99;}
.loginnew ul li.qx .boxnew{position:absolute;z-index:88;width:254px;border:solid 1px #bbb;height:150px;padding:10px;background:#fff;top:25px;left:0}	
.topimgt{height:56px;overflow:hidden;zoom:1}
.topimgt img{padding:2px;border:solid 1px #dcdddd;background:#fff;display:block;}
.topimgt .img{width:56px;float:left;}
.loginnew .topimgt a{margin:0;padding:0;display:inline;}
.topimgt p.cent{border-bottom:solid 1px #CCC;text-align:center;}
.loginnew .topimgt .rightbox{width:188px;float:right;}
.topimgt p{line-height:29px;}
.loginnew .topimgt .rightbox a{color:#003399!important;}
.loginnew .topimgt .rightbox a:hover{color:#C00000!important;}
.listul{position:relative;margin:10px 0 0;background:#f7fbff;border:solid 1px #cbe8fb;height:82px;padding:0 0 0 35px;}
.listul b{position:absolute;top:0;left:0;background:url(http://i0.jrjimg.cn/homev2/newzj/more-new.png) no-repeat 0 -54px;width:29px;height:16px;}
.listul ul{padding:6px 0 0;zoom:1}
.loginnew .listul li{float:left;width:75px;padding:0 0 0 20px;background:url(http://i0.jrjimg.cn/homev2/newzj/more-new.png) no-repeat -70px -61px;margin:0 0 0 13px;display:inline;zoom:1;}
.listul li.list01{background-position:-70px -61px;}
.listul li.list02{background-position:-70px -85px;}
.listul li.list03{background-position:-70px -111px;}
.listul li.list04{background-position:-70px -138px;}
.listul li.list05{background-position:-70px -169px;}
.listul li.list06{background-position:-70px -195px;}
.bgnewbox{background:url(http://i0.jrjimg.cn/homev2/newzj/bgfcpng.png) no-repeat right bottom;padding:0 5px 5px 0;width:275px;height:170px;position:absolute;top:25px;left:0;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;}
.loginnew ul li span.mo0{margin:0}
.loginnew .topimgt .rightbox a,.loginnew .topimgt .rightbox i{line-height:24px;_vertical-align:middle;display:inline-block;}
.bgnewbox{background:url(http://i0.jrjimg.cn/homev2/newzj/bgfcpng.png) no-repeat right bottom;padding:0 5px 5px 0;width:275px;height:170px;position:absolute;top:25px;left:0;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;z-index:77}
.loginnew ul li.qx a.btntopcur{width:78px;height:26px;line-height:25px;padding:0 0 0 10px;background:url(http://i0.jrjimg.cn/homev2/newzj/more-new.png) no-repeat 0 -27px;margin:0 5px 0 0}
.loginnew .topimgt .rightbox a,.loginnew .topimgt .rightbox i{line-height:24px;_vertical-align:middle;display:inline-block;}
.loginnew .topimgt .rightbox a,.loginnew .topimgt .rightbox i{line-height:24px;*line-height:27px;_line-height:24px;;_vertical-align:middle;display:inline-block;}


.mlg{padding:12px 0 8px 5px;float:left;}
.mlg a{width:97px;height:63px;background-position:0 0;display:block;text-indent:-9999px;}
.n5{margin:5px 0 0 118px;height:32px;background-position:0 -29px;line-height:32px;padding:0 0 0 11px;}
.n5 a{color:#fff;margin:0 7px;line-height:28px;}
.n5 a:visited{color:#fff;}
.n5 a:hover{color:#fff;}
.n2{margin:2px 0 0 118px;_margin:2px 0 0 118px;height:45px;overflow:hidden;width:832px;_width:829px}
.n2 .w1,.n2 .w2,.n2 .w3,.n2 .w4{float:left;line-height:14px;overflow:hidden;}
.n2 .w1{width:147px;}
.n2 .w2{width:219px;}
.n2 .w3{width:219px;}
.n2 .w4{width:247px;_width:244px;}
.n2 p{line-height:21px;padding:1px 0 0}
.n2 p a{margin:0 6px;color:#333;_margin:0 6px 0 5px;}
.n2 p a:visited{color:#333}
.n2 p a:hover{color:#C00000}
.n2 p a.mats{margin:0 6px 0 7px;}
.n2 p a.last{margin-right:0}
.n2 .textb{width:37px;height:43px;background:#eee;text-align:center;font-weight:bold;line-height:21px;padding:1px 0;float:left;}
.n2 .textb a{color:#333;display:block;}
.n2 .textb a:visited{color:#333}
.n2 .textb a:hover{color:#C00000}
.n6{background-position:0 0;height:29px;border:solid 1px #ccc;line-height:29px;padding:0 0 0 10px;margin:5px 0 0;}
.n6 a{margin:0 3px;color:#333;}
.n6 a:hover{color:#C00000;}
.adtext{border:solid 1px #dbdbdb;background:#eee;height:28px;height:31px;line-height:31px;padding:0;overflow:hidden}
.adtext a{padding:0 3px 0 6px;color:#333;}
.adtext a:hover{color:#C00000;}
.adtext a.red{color:#c90000;}
.n4{background-position:0 -61px;border:solid 1px #dbdbdb;border-width:0 1px 1px;height:27px;}
.n4 .fl{float:left;line-height:26px;padding:0 0 0 10px;}
.n4 .fl label,.n4 .fl #search_con{float:left;display:inline-block;}
.n4 .fl label input{display:inline-block;vertical-align:middle;}
.n4 .fl label span{vertical-align:middle;}

.n4 .fl label{_padding:2px 3px 0 0}
.n4 .fl #search_con{padding:3px 0 0;_padding:2px 0 0}

.n4 .fr{float:right;line-height:26px;padding:0 4px 0 10px}
.n4 .fr a{margin:0 6px;color:#333;}
.n4 .fr a:hover{color:#C00000}
.w1{width:520px;font-family:Tahoma}
.w1 .tx_info,.w1 .bt1,#search_con select{display:inline-block;vertical-align:middle;}
.w1 .tx_info{background:#fff;color:#666;padding:2px 5px 1px 5px;width:110px;height:16px;line-height:14px;margin:0 5px;border:solid 1px #7c9dbb;width:108px;height:16px;line-height:16px;color:#c7c7c7;}
.w1 .bt1{background-position:-97px -33px;width:60px;height:21px;color:#fff;border:none;text-align:center;padding:0 0 5px;padding:0px\9;}
.w1 .tx_info_focus{background:#fff;color:#000}
.w1 select{height:21px}
.w1 label{padding-right:5px}
.w1 label input{margin-right:2px;*margin-right:0}
.w1 .bt2{background-position:-97px -33px;width:60px;height:21px;color:#fff;border:none;text-align:center;display:inline-block;line-height:18px;line-height:21px\9;margin:3px 0 0 5px;*margin:2px 0 0 5px;_margin:3px 0 0 5px;color:#fff;}
.w1 .bt2:visited{color:#fff;}
.w1 .bt2:hover{color:#fff;text-decoration:none;}
#search_con{display:inline-block}

.col{clear:both;}
.col .col-01,.col .col-02,.col .col-03{float:left;}
.c3-1 .col-01{width:345px;padding:0 20px 0 0;background:url(http://i0.jrjimg.cn/homev2/v2013/colline.png) repeat-y 355px 0}
.c3-1 .col-02{width:345px;padding:0 10px 0 0;}
.c3-1 .col-03{width:230px;}

.title{height:31px;background-position:0 -92px;padding:1px 10px 0 0;}
.title .mh-title,.title1 .mh-title{text-indent:-9999px;float:left;display:block;width:100px;height:25px;overflow:hidden;}
.title .mh-title a,.title1 .mh-title a{display:block;height:25px;width:100%;float:left;}
.title .mh-title a.linkw2{width:50%;}
.title .mh-title a.linkw1{width:45px;}
.title .mh-title a.linkw3{width:50px;}
.title .mh-option{float:right;line-height:25px;}
.title .mh-option a,.title .mh-option b{color:#2868bb;}
.title .mh-option a:hover{color:#C00000;}

.tt1{height:31px;background-position:0 -93px;padding-top:0;}
.title .tbgn{text-indent:0;background:none;width:auto;font-sizE:12px;height:16px;line-height:16px;padding-top:7px;}
.title1 .tbg01,.title .tbg01{background-position:0 0;}
.title .tbg02{background-position:0 -25px;}
.title .tbg03{background-position:0 -50px;}
.title .tbg04,.title2-1 .tbg04{background-position:0 -75px;}
.title1 .tbg05,.title .tbg05{background-position:0 -100px;}
.title .tbg06{background-position:0 -125px;}
.title .tbg07{background-position:0 -150px;}
.title .tbg08{background-position:0 -175px;}
.title .tbg09{background-position:0 -200px;width:140px;}
.title .tbg10{background-position:0 -225px;}
.title .tbg11{background-position:0 -250px;}
.title .tbg12{background-position:0 -275px;}
.title .tbg13{background-position:0 -300px;}
.title .tbg14{background-position:0 -325px;}
.title .tbg15{background-position:0 -350px;}
.title .tbg16{background-position:0 -375px;}
.title .tbg17{background-position:0 -400px;}
.title .tbg18{background-position:0 -425px;}
.title .tbg19{background-position:0 -450px;}
.title .tbg20{background-position:0 -475px;}
.title .tbg21{background-position:0 -500px;}
.title .tbg22{background-position:0 -525px;}
.title .tbg23{background-position:0 -550px;}
.title .tbg24{background-position:0 -575px;}
.title .tbg25{background-position:0 -600px;}
.title .tbg26{background-position:0 -625px;}

.text-s1{padding:10px 0 0;}
.text-s1 strong{font-size:16px;padding:0 0 2px;display:inline-block}
.text-s1 .list01{padding:0}
.list01{font-size:14px;padding:7px 0;}
.list01 .line{margin:9px 0 10px;height:1px;border-top:dashed 1px #bfbfbf;background:none;padding:0;overflow:hidden;font-size:0;line-height:0;clear:both;}
.list01 .lts{margin:4px 0 5px;*margin:7px 0;_margin:9px 0 10px;}
.list01 .lts-1{margin:4px 0 5px;padding:0;overflow:hidden;font-size:0;line-height:0;clear:both;}
.list01 .lts1{margin:2px 0 0;}
.list01 .lts2{margin:4px 0 5px;}
.list01 .lts3{margin:6px 0 1px;}
.list01 .lts4{margin:3px 0 4px;}

.list01 li{padding:0 0 0 10px;background-position:-194px 10px;overflow:hidden;height:24px;}
.list01 li em a,.list01 li .red01{color:#C00000;}
.list01 li.ltexts{font-sizE:12px;padding:0;background:none;}
.list01 li .red{color:#c80000;}
.list01 li.curb{font-weight:bold;}

.imgbox{padding:12px 0 0;height:68px;overflow:hidden;zoom:1}
.imgbox .tsl{width:auto;float:none;}
.imgbox img{display:block;padding:3px;border:solid 1px #e1e1e1;float:left;margin:0 10px 0 0}
.imgbox strong{font-size:14px;}
.imgbox p{color:#828282;}
.imgbox ul{float:left;width:237px;padding:0}
.imgbox p span,.imgbox p a{color:#828282}
.c3-1 .col-02 .imgbox{height:92px;}

.tab1{border:solid 1px #d9d9d9;}
.tab1 ul{border-bottom:1px solid #D9D9D9}
.tab1 ul li{float:left;height:26px;line-height:26px;background-position:0 -63px;text-align:center;width:38px;cursor:pointer;}
.tab1 ul li a{color:#333;}
.tab1 ul li a:hover{text-decoration:none;}
.tab1 ul li.cur{background-position:0 -124px;color:#fff;font-weight:bold;}
.tab1 ul li.cur a{color:#fff;}

ul.list01 li a.vlist{position:relative;}
i.vred{width:17px;height:10px;overflow:hidden;background-position:-139px -23px;display:block}
ul.list01 li a.vlist i.vred{position:absolute;right:-19px;_right:127px;top:3px;}

.cont{border:solid 1px #d9d9d9;border-width:0 1px 1px;overflow:hidden;height:146px;border:none}
.cont .menu{width:27px;padding:4px 0 0 2px;float:left;}
.cont .menu i{cursor:pointer;margin:0 0 3px;display:inline-block}
.cont .menu i b{width:23px;height:37px;display:block;background-position:-157px -39px;margin:0 0 1px;padding:2px 3px 0 0;line-height:15px;text-align:center;font-weight:normal;}
.cont .menu i.cur b{background-position:-157px 0;color:#fff;}
.cont .menu i b.bgts{height:49px;background-position:-97px -54px;}
.cont .menu i.cur b.bgts{height:49px;background-position:-125px -54px;}
.tab2 .cont{width:199px;float:right}
.boxl01{background:#f7f7f7;border:solid 1px #d2d2d2;border-width:0 1px 1px;}
.cont .cbox{width:194px;padding:5px 5px 5px 0;float:left;}
.list2{padding:10px 0 10px 2px}
.list2 li{font-size:12px;padding:0 0 0 10px;background-position:-194px 10px;}
.form{border-top:dashed 1px #bfbfbf;padding:6px 5px 10px 6px;}
.form .ipt1{width:65px;height:19px;line-height:19px;color:#666;margin:0 4px 0 0;overflow:hidden;border:none;border:solid 1px #abadb3;}
.form .w1{width:54px;padding:0 2px;}
.form .w2{width:77px;padding:0 5px;}
.ipt2{background-position:-97px -33px;width:60px;height:21px;line-height:21px;text-align:center;color:#fff;border:none;padding:0 0 4px;}
.form input{display:inline-block;vertical-align:middle;}
.form p{padding:0 0 4px;}

.tab2 .hd,.md .hd{border:solid 1px #d9d9d9;border-width:1px 1px 0}
.tab2 .hd .mh-option{float:right;}
.tab2 .hd .mh-option a{color:#2868BB;}
.tab2 .hd .mh-option a:hover{color:#C00000;}
.tab2 .hd tr td,.md .hd1 .mh-title{height:27px;background:url(http://i0.jrjimg.cn/homev2/v2013/tab2.png) no-repeat right -27px;padding:0 10px 0 0;width:auto}
.tab2 .hd tr td i,.md .hd1 .mh-title a{background:url(http://i0.jrjimg.cn/homev2/v2013/tab2.png) no-repeat left -27px;padding:0 0 0 10px;display:inline-block;height:27px;text-align:center;line-height:27px;cursor:pointer;}
.tab2 .hd tr td.cur,.md .hd1 .mh-title{background:url(http://i0.jrjimg.cn/homev2/v2013/tab2.png) no-repeat right 0}
.tab2 .hd tr td.cur i,.md .hd1 .mh-title a{background:url(http://i0.jrjimg.cn/homev2/v2013/tab2.png) no-repeat right 0;color:#fff;font-weight:bold;}
.tab2 .hd tr td.last{_border-right:solid 1px #D9D9D9}
.tab2 .hd tr.ibl{border-right:solid 1px #d0d0d0;}
.tab2 .hd tr.ibl td i{display:block;}
.tab2 .hd tr td.mh-option{width:90px;text-align:right;}
.tab2 .hd{background:url(http://i0.jrjimg.cn/homev2/v2013/tab2.png) no-repeat right -27px;}
.md .hd1{height:27px;overflow:hidden;background:url(http://i0.jrjimg.cn/homev2/v2013/tab2.png) no-repeat right -27px;line-height:26px;padding:0 10px 0 0;}
.md .hd1 .mh-title{float:left;font-weight:bold;line-height:26px;padding:0 10px;color:#fff;}
.md .hd1 .mh-option{float:right;}
.md .hd1 .mh-title a{padding:0}
.md .hd1 .mh-title i,.md .hd1 .mh-title a{display:inline-block;vertical-align:middle;}
.md .hd1 .mh-title i.vblue{background-position:-139px -13px;width:18px;height:10px;overflow:hidden;margin:0 5px 0 0}
.md .hd2{height:26px;background-position:0 -151px;border:solid 1px #d2d2d2;border-width:0 1px;}
.md .hd2 .mh-title{padding:0 10px;line-height:26px;font-size:14px;font-weight:bold;color:#204b93;font-size:12px;}

.boxl02{padding:8px 8px 7px;border:solid 1px #d9d9d9;border-width:0 1px 1px;}
.boxl02 .imgbox{padding:0 0 2px;height:auto;border-bottom:dashed 1px #bfbfbf;margin:0 0 2px;}
.boxl02 .imgbox strong{font-size:12px;}
.boxl02 .imgbox01{padding:0 0 5px;margin:0 0 5px;}
.lh01{line-height:23px;}

.c2-1 .col-01{width:720px;}
.c2-1 .col-02{width:230px;}
.c2-1 .col-01 .left,.c2-2 .col-01 .left{width:345px;padding:0 20px 0 0;background:url(http://i0.jrjimg.cn/homev2/v2013/colline.png) repeat-y 355px 0;float:left}
.c2-1 .col-01 .right,.c2-2 .col-01 .right{width:345px;padding:0 10px 0 0;float:left;}
.c2-2 .col-01{width:710px;padding:0 10px 0 0;height:716px;overflow:hidden;}
.c2-2 .col-02{width:230px;}
.c2-2 .col-01 .right{padding:0}

.adbox{height:77px;}
.adbox .ad1{margin:0 10px 0 0}
.adbox .ad1,.adbox .ad2{float:left;overflow:hidden;}
.adbox img{border:solid 1px #bababa;}

.tab3{height:23px;overflow:hidden;border-left:solid 1px #cecece}
.tab3 tr td{background:url(http://i0.jrjimg.cn/homev2/v2013/tab2.png) no-repeat 0 -77px;height:23px;text-align:center;border-right:solid 1px #cecece;line-height:23px;cursor:pointer;}
.tab3 tr td.cur{background-position:0 -54px;font-weight:bold;color:#003399;}

.table-s1{border:solid 1px #d9d9d9;border-width:0 1px 1px;width:228px;overflow:hidden;}
.table-s1 table{width:100%;}
.table-s1 tr th{background:url(http://i0.jrjimg.cn/homev2/v2013/tab2.png) no-repeat right -100px;font-sizE:12px;font-weight:normal;}
.table-s1 tr th.last{background-position:left -100px;}
.table-s1 tr td{text-align:center;border-right:solid 1px #fff;height:24px;}
.table-s1 tr.ln td{background:#f4f4f4;}
.table-s1 tr td a{color:#003399;}
.table-s1 tr td a:hover{color:#C00000}
.table-s1 .form{border-top:solid 1px #d2d2d2;background:#f7f7f7;padding:3px 5px 6px 6px;;height:49px;overflow:hidden;}
.xximg{width:16px;height:16px;display:inline-block;background-position:0 -89px;}

.imgbox04{height:83px;overflow:hidden;}
.imgbox04 .img{border:solid 1px #e1e1e1;padding:0;width:96px;float:left;}
.imgbox04 .img img{padding:3px 3px 0;}
.imgbox04 .img p{text-align:center;line-height:18px;*line-height:14px;}
.imgbox04 .img p a{color:#9b9b9b;}
.imgbox04 ul{width:235px;float:left;}
.imgbox04 .list01{padding:0 5px;}

.imgbox02{padding:5px 8px;border:solid 1px #d2d2d2;border-width:0 1px;}
.imgbox02 ul{width:113px;line-height:21px;}
.imgbox02 strong{font-size:12px;}
.boxl03,.boxl04{border:solid 1px #d2d2d2;border-width:0 1px;padding:2px 8px 3px;}
.boxl04{border-width:0 1px 1px;background:#f7f7f7;}
.boxl03 ul li,.boxl04 ul li{line-height:22px;background-position:-194px 9px}
.boxl05{background:#f7f7f7;border:solid 1px #d2d2d2;padding:2px 8px 0;}

.tabbox{padding:0 10px 0 0}
.tabbox .tab2 .hd{height:27px;}
.tabbox .tab2 .hd .mh-option{padding:0 10px 0 0;line-height:27px;}

ul.ullist{padding:10px 0 0 16px;background:#f7f7f7;border:solid 1px #d2d2d2;border-width:0 1px 1px;height:109px;overflow:hidden;}
ul.ullist li{height:42px;width:158px;padding:0 15px 15px 0;float:left;}
ul.ullist li img{display:block;border:solid 1px #000;float:left;margin:0 10px 0 0;}

ul.ullist1 li{float:left;width:55px;padding:0 0 0 15px;background-position:-192px -25px;}
ul.ullist2 li{float:left;width:96px;padding:0 0 0 10px;background-position:-192px 9px;}
.selist li{float:left;width:105px;padding:0 2px 6px;padding:0 2px 8px\9;}
.selist li select{height:20px;line-height:18px;width:105px;}
.ad img{border:1px solid #BABABA;display:block;}

.ib03{border-width:1px 1px 1px;padding-top:9px;background:#F7F7F7;}
.ib03 .list2{padding:3px 0 0}
.ib03 .list2-1{clear:both;width:202px;}
.ib03 .list2-1 .line{height:1px;margin:7px 0 6px;border-bottom:dashed 1px #ccc;font-size:0;line-height:0;overflow:hidden;clear:both;}

.text-s2 li{float:left;width:64px;height:21px;margin:0 9px 10px 0;_display:inline}
.text-s2 a{display:inline-block;width:64px;height:21px;line-height:21px;background-position:-16px -89px;text-align:center;}
.text-s2 a:hover{background-position:-16px -110px;color:#fff;text-decoration:none;}
.s2 li{margin:0 9px 13px 0}

.calendar{float:right;margin-top:3px;}
.calendar a.calebtn{background-position:-80px -105px;width:89px;height:19px;display:block;text-indent:-9999px;}

.adtop{border:solid 1px #bfbfbf;border-width:0 1px;padding:0 0 4px 4px;}
.adtop div{float:left;}
.adtop .ad01{width:705px;margin:5px 5px 0 0;}
.adtop .ad02{width:230px;margin:5px 0 0;}
.adtop .ad03{width:230px;margin:5px 7px 0 0;}
.adtop .ad04{width:230px;margin:5px 7px 0 0;}
.adtop .ad05{width:230px;margin:5px 6px 0 0;}
.adtop .ad06{width:230px;margin:5px 0 0;}
.adtop img{display:block;border:solid 1px #bfbfbf;}

.newfoot{color:#000;width:950px;margin:0 auto;border-top:2px solid #999;padding-top:1px;font:lighter 12px \5B8B\4F53;line-height:23px;overflow:hidden}
.newfoot a{margin:0 4px;text-decoration:none;color:#000}
.newfoot a:hover{color:#f00}
.newfoot *{margin:0;padding:0}
.newfoot em,.newfoot address{font-style:normal}
.newfoot address{margin-left:274px;text-align:left}
.newfootnav{border-top:1px solid #999;text-align:center}
.footcont1{text-align:center}
.footcont2{border-top:1px dashed #999;border-bottom:1px dashed #999;margin:10px 0;padding:10px 0}
.oursite{width:815px;padding-left:155px;overflow:hidden;_zoom:1}
.oursite a,.oursite em{float:left}
.oursite em{margin:10px 10px 0 0}
.oursite a,.footcont3 .gns,.footcont3 .netcn,.footcont3 .jubao{background:url(http://i0.jrjimg.cn/pub/ftimg.gif) no-repeat;text-indent:-100000px;border:1px solid #C8C8C8;height:40px;width:130px}
.oursite a.oursite1{background-position:13px 1px;width:100px}
.oursite a.oursite2{background-position:16px -50px}
.oursite a.oursite3{background-position:2px -99px}
.oursite a.oursite4{background-position:10px -149px;width:110px}
.footcont3{width:auto;padding-left:175px;overflow:hidden;zoom:1}
.footcont3 .icp,.footcont3 .gns,.footcont3 .netcn,.footcont3 .jubao{float:left}
.footcont3 .icp a{margin:0 1px}
.footcont3 .icp em{margin:0 5px}
.footcont3 .gns,.footcont3 .netcn,.footcont3 .jubao{border:0;margin-left:10px}
.footcont3 .gns{background-position:0 -220px;width:35px;height:43px}
.footcont3 .netcn{background-position:0 -290px;width:45px;height:41px}

.title1{height:37px;background-position:0 -213px;}
.title1 .mh-title{margin-top:5px;}
.title2,.title2-1{height:36px;background-position:0 -177px;}
.title2 .mh-title{margin:7px 0 0;background:none;display:inline-block;}
.title2-1 .mh-title{display: block;float: left;height: 25px;width:100px;text-indent:-9999px;margin-top:5px;}

.adtopjs{overflow:hidden;height:0;line-height:0;font-size:0px;clear:both;width:950px;margin:0 auto;}
.adtopjs img{display:block;}

.mw{margin:0 auto;width:950px;}

.wine{height:86px;overflow:hidden;}
.wine .tt5{padding-right:0;height:27px;border-bottom:solid 1px #D2D2D2;overflow:hidden}
.wine .tt5 h2{background-position:-9999px -9999px;padding:0;display:block;float:left;padding:0 19px 0 20px;line-height:28px;color:#fff;background:url("http://i0.jrjimg.cn/homev2/v2013/tab2.png") no-repeat right 0 }
.wine .tt5 h2 a{color:#fff;}
.wine .tt5 .ad-option{display:block;float:right;width:137px;height:28px;overflow:hidden;margin:0}
.wine .winebox{padding:7px 5px 0;height:44px;overflow:hidden;width:218px;}
.wine .winebox ul li{height:22px;overflow:hidden;display:block;}
.wine .winebox ul li span{display:block;float:left;text-align:center;}
.wine .winebox ul li span.w1{width:88px;}
.wine .winebox ul li span.w2{width:46px;}
.wine .winebox ul li span.w3{width:36px;}
.wine .winebox ul li a{color:#23529d;background:url("http://i0.jrjimg.cn/homev2/res2.gif") no-repeat -362px 6px;padding:0 0 0 10px;}
.fm2{padding:3px 2px 10px 9px}
.adtopjs{overflow:hidden;height:0;line-height:0;font-size:0px;clear:both;width:950px;margin:0 auto;}
.adtopjs img{display:block;}
#homewine #winebox li{line-height:22px;margin:0;float:left;}
#homewine #winebox{height:44px;overflow:hidden;width:216px;}
.listul ul li.list01{font-size:12px;}


.ullist01{padding:0;background:#F7F7F7;height:114px;border:solid 1px #D2D2D2;border-width:0 1px 1px;padding:5px 0 0}
.ullist01 .fl{float:left;}
.ullist01 .fr{float:right;border-left:dashed 1px #D2D2D2;}
.ullist01 .fl,.ullist01 .fr{width:338px;padding:0 8px 0 7px;}

.cont2 p{text-align:center;}
.cont .fl{text-align:center;}
.cont .fl img{padding:10px 0 0;}
.ht2{height:144px;}

.tab1 .tab2 .cont p{line-height:15px;padding:0 0 0 5px;}
.tab1 .tab2 .cont p span{margin:0 10px 0 0}

.video{background: url("http://i0.jrjimg.cn/homev2/v2013/avdo.gif") no-repeat right center;padding-right: 20px;}

.gre{color:#009900;}
.red{color:#ff0000;}
.jrj-tr{text-align:right;padding:0 5px 0 0}
.p0{padding:0}
.pb1{padding-bottom:13px;}
.pt0{padding-top:0;}
.pb0{padding-bottom:0;}
.mr0{margin:0}
.mb{margin-bottom:10px}
.mbts{margin-bottom:8px}
.pa1{padding:10px 8px}
.pa2{padding:13px 5px 9px;padding:10px 5px 12px\9;}
.pa3{padding:5px 8px;}
.pa4{padding:8px 0 8px 8px;}
.pa5{padding:4px 5px 0 0}
.pa5-1{padding:0 5px;}
.pr0{padding-right:0}

.tabtabts{_border-right:solid 1px #D2D2D2;}

.pz01{position:relative;z-index:99999}
.pz02{position:relative;z-index:0}
.pz01 div{z-index:9999!important;}
.pz01 div div{z-index:9999!important;}
.pz02 div{z-index:0!important;}
.pz02 div div{z-index:0!important;}
.jrj_sb{z-index:100000!important;}
.bor-red{border-right:solid 1px #e70719;}
.footcont3 .jubao{background-position:-88px -220px;width:40px;height:40px;}/**** inline ****/
.jrj_sb{position:absolute;margin:0;padding:0;border:1px solid #999;background-color:#fff;font-size:12px;z-index:99999;overflow:hidden}.jrj_sb *{margin:0;padding:0;}.jrj_sb_mask{display:block;position:absolute;z-index:-1;filter:Alpha(Opacity='0');}.jrj_sb tr{cursor:pointer;white-space:nowrap;}.jrj_sb tr.jrj_sb_on{background:#ddf1fa;}.jrj_sb td{padding:0 10px 0 8px;white-space:nowrap;}.jrj_sb tr b{font-weight:bold;color:#000;}.jrj_sb .sb_error{color:#ff0000;padding:3px 10px;line-height:12px}.jrj_sb .sb_muti_prompt{border-top:1px solid #cee0f1;margin-top:5px;padding:8px 12px 4px;background-color:#f0f8ff;}.jrj_sb .sb_muti_prompt .sb_muti_line1{color:#ff0000;line-height:12px}.jrj_sb .sb_muti_prompt .sb_muti_line2{padding-top:3px;color:#c1c0c0;line-height:12px}.jrj_sb table{margin:0 2px;color:#666;border-collapse:collapse;border-spacing:0;line-height:21px;background-color:#fff;z-index:100;}.jrj_sb img{margin-right:2px;}.jrj_sb .history-container-title{text-align:center;height:25px;line-height:25px;}
/**** inline ****/

.loginnew .listul li{url(http://i0.jrjimg.cn/homev2/newzj/more-new.png) no-repeat 0 0}
.loginnew ul li.qx .boxnew{height:184px}
.listul{height:116px;}
.listul li.list07{background-position:-70px -223px}
.jrj-enter ul.jrj-entertip li i.money{width:16px;height:16px;background:url("http://i0.jrjimg.cn/homev2/newzj/more-new.png?") no-repeat -70px -227px;}
.bgnewbox{background: url("http://i0.jrjimg.cn/homev2/newzj/bgfcpng.png") repeat-y scroll right bottom transparent;height: 205px;}
.n5{padding:0 0 0 9px}
.n5 a{margin:0 8px 0 9px}
.listul li.list08{background-position:-70px -252px}
.p0-ts{padding:1px 0 0;}
.jrj-enter ul.jrj-entertip li i.czzx{background:url("http://i0.jrjimg.cn/homev2/newzj/more-new.png") no-repeat scroll -70px -284px;width:16px;height:16px;}
.listul li.list09{background-position:-70px -280px}
.loginnew{width:490px;}
.footcont3 .jubao{background-position:-88px -220px;width:40px;height:40px;}
.oursite a.oursite4{width:133px;background:url("http://i0.jrjimg.cn/pub/zstar.gif") no-repeat center center;}
.oursite a.logofnew01{background:url(http://i0.jrjimg.cn/pub/logonewf.png) no-repeat 0 0;width:130px;height:40px;}
.oursite{padding-left:75px}
.ny2013{background:url(http://i0.jrjimg.cn/homev2/ny2013/bgny2013x.jpg) repeat-x 0 0;}
.ny2013 .ny{background:url(http://i0.jrjimg.cn/homev2/ny2013/ny2013.jpg?d=12) no-repeat center 0}
.ny2013 .ny .ny-hd{background:url(http://i0.jrjimg.cn/homev2/ny2013/ny2013.jpg?d=12) no-repeat center 0;height:48px;width:950px;margin:0 auto;overflow:hidden}
.ny2013 .ny .ny-hd .clear{display:block;width:47px;height:20px;float:left;margin-top:27px;float:right;}
.mlgny2013{padding:5px 0 8px 8px}
.mlgny2013 a.ny2012{background:url(http://i0.jrjimg.cn/homev2/ny2013/nylogo2013.png) no-repeat 0 0;height:71px;}
.main{background:#fff;}
.bankpro{height:27px;background:url(http://i0.jrjimg.cn/homev2/ny2013/bploge.jpg) no-repeat 0 0;padding:0 0 0 118px;margin-top:5px;}
.bankpro .bptext{background:#e8f0fd;padding:0 0 0 7px;line-height:27px;}
.bankpro .bptext a{margin-right:15px;}
.bankpro .bptext a:visited{color:#000}
.bankpro .bptext strong a{color:#000;}
.bankpro .bptext strong a:visited{color:#000;}
.bankpro .bptext strong a:hover{color:#000}
.n6 a{margin:0 5px 0 5px;}
.header,.main{background:#fff;}
.pl10{padding-left:10px}
.p1{padding:6px 0 6px 2px}
.s2 li{margin:2px 9px 13px 0}
.tab2 .hd tr.tsnone{background-position:-999px -999px;border:none!important}
.tab2 .hd tr.tsnone td.tnone{background:none}
.text-s2 li{margin-bottom:11px}
.s2 li{margin-bottom:4px!important;}
.tab1 ul li.cur{width:48px}
.tab1 ul li{width:45px}
/*20130513*/
.w1 .new_btn_qmzg{width:75px;height:21px;background:url("http://i0.jrjimg.cn/homev2/v2013/new_btn_qmzg.jpg") no-repeat;margin-left:5px;}
.w1 .new_btn_qmzg{border:none}
.w1 .new_btn_qmzg{margin-top:3px;float:left;}
#formHq{width:245px}
#formGB #formGB_submitBtn{width:1px!important;overflow:hidden!important}
@media screen and (-webkit-min-device-pixel-ratio:0) {.w1 .bt1{padding:0;}}

/*20130523*/
.c3-1 .col-02 .imgbox{height:68px;}
.list-new{padding:5px 10px;border:solid 1px #e2e2e2;margin-bottom:10px;}
.list-new li{font-size:14px;height:24px;line-height:24px;overflow:hidden;}
.list-new li b{margin-right:10px;}
.c3-1 .col-02{padding:0}
.c3-1 .colts-01,.c3-1 .colts-02{float:left;}
.c3-1 .colts-01{width:710px;padding:0 10px 0 0;}
.c3-1 .colts-02{width:230px;}
.md .hd1 .fdj{padding-left:5px;}
.se-box{padding:0;border:solid 1px #D9D9D9;border-width:0 1px 1px;padding:4px;height:80px;}

.picbox .pic{float:left;margin-right:10px;_margin-right:7px;display:inline;}
.picbox .pic{line-height:20px;position:absolute;}
.picbox .pt-box{padding:0 0 0 74px}
.picbox .info{overflow:hidden;zoom:1;word-break:break-all;}
.pic img{border:1px solid #d8d8d8;padding:2px;}
.pic a:hover img{border:1px solid #0064c8;}
.picbox h4{font-weight:normal}
.redlink a,.redlink a:visited,.redlink a:hover{color:#BE1227;}
.f_grey{color:#666;}
.newBloger li{float:left;width:224px;padding:10px 6px 0}
.newBloger li p{line-height:25px;}
.trust_seach{width:220px;overflow:hidden;padding:8px 8px 7px;border:solid 1px #d9d9d9;border-width:0 1px 1px;padding:0;border:none}
.trust_seach table td{padding:5px 0;}
.list-n1{border:solid 1px #D9D9D9;margin:0 0 5px;padding:0 0 0 5px;}
.title .hyh a,.title .hyh i{display:inline-block;vertical-align:middle;}
.title .hyh i{color:#3c3c3c;font-weight:normal;padding:0 0 0 20px;}
.title .hyh i b{color:#fe0000;}
.title .hyh a{padding:0 0 0 15px;background:url(http://i0.jrjimg.cn/homev2/v2013/hyh.png) no-repeat 0 center;margin:0 0 0 20px;_background-position:0 6px}
.boxl02{padding-bottom:2px;overflow:hidden;}
.boxl02 p,.list2 li{line-height:23px;}
.iptn2{width:64px;height:21px;background:url(http://i0.jrjimg.cn/homev2/v2013/bg.png) no-repeat -16px -89px;border:none;line-height:normal;font-family:"瀹嬩綋";}
@media screen and (-webkit-min-device-pixel-ratio:0) {.iptn2{padding:4px 0 3px}}
.trust_seach table td{padding:4px 0 0;text-align:center}
.form{border:none;}
.form .list2{border-bottom:1px dashed #BFBFBF}
.newBloger li p.redlink{overflow:hidden;height:24px;}
.c3-1 .col-02_ts{padding-right:10px;}
.trust_seach table td{padding-top:5px}
.md .hd1 .fdj b{background: url("http://i0.jrjimg.cn/homev2/v2013/hdj.png") no-repeat scroll 5px center transparent;padding: 0 0 0 27px;line-height:26px;display:inline-block;}
/*20130607*/
.bankpro_new_index{background: url(http://i0.jrjimg.cn/homev2/ny2013/bploge.jpg) no-repeat scroll 0 0 transparent;height: 27px;margin-top: 5px;padding: 0 0 0 118px;position:relative}
.bankpro_new_index .bankpro_main_box{width:832px;height:27px;overflow:hidden;background:#E8F0FD;}
.bankpro_new_index .bankpro_main_box strong,.bankpro_new_index .bankpro_main_box .bp_m_left,.bankpro_new_index .bankpro_main_box .bp_m_right{float:left;height:27px;line-height:normal;line-height:27px;}
.bankpro_new_index .bankpro_main_box strong{display:block;text-align:center;font-size:12px;width:92px;}
.bankpro_new_index .bankpro_main_box strong a{color:#000;}
.bankpro_new_index .bankpro_main_box .bp_m_left{padding:4px 0 0;height:23px;line-height:normal;overflow:hidden;}
.bp_m_left dl{height:18px;overflow:hidden;line-height:16px;_float:left;}
.bp_m_left dl dt{float:left;width:65px;padding:0 5px 0 0;height:18px;}
.bp_m_left dl dt.last{width:18px;height:18px;padding:0}
.bp_m_left dl dt.last a{padding:0}
.bp_m_left dl dt.last .ed_bp_btn{width:16px;height:16px;background:#fff url(http://i0.jrjimg.cn/homev2/v2013/bp_icon_new.png) no-repeat 0 -80px;display:block;border:solid 1px #a8acab;}
.bp_m_left dl dt i,.bp_m_left dl dt a{display:inline-block;vertical-align:middle;}
.bp_m_left dl dt i{background:url(http://i0.jrjimg.cn/homev2/v2013/bp_icon_new.png) no-repeat 0 -16px;width:11px;height:11px;cursor:pointer;_margin-top:1px;display:none;}
.bp_n_left_cur dl dt i{display:inline-block}
@media screen and (-webkit-min-device-pixel-ratio:0) {.bp_m_left dl dt i{margin-top:1px}}
.bp_m_left dl dt i:hover,.bp_m_left dl dt i.hover{background-position:0 0;}
.bp_m_left dl dt a{padding:0 3px 0 0;padding-top:1px\9;}
.bp_m_left .bp_padding{padding:1px 1px 1px 6px;height:18px;_float:left;}
.bp_n_left_cur .bp_padding{padding:0 0 0 5px;border:solid 1px #85a2c0;background:#fff;}
.bp_n_left_cur dl dt.last .ed_bp_btn{border-width:0 0 0 1px;height:18px;background-position:1px -79px}
.bp_m_right{padding:4px 0 0;}
.bp_m_right dl dt{float:left;width:67px;margin:0 0 0 4px;line-height:18px;_display:inline;overflow:hidden}
.bp_m_right dl dt a{display:block;width:51px;height:18px;border:solid 1px #a9aaac;background:#fff url(http://i0.jrjimg.cn/homev2/v2013/bp_icon_new.png) no-repeat 0 -46px;padding:0 0 0 14px;_line-height:18px}
.bp_m_right dl dt.cur a{border-bottom:none;height:21px;background:#fff url(http://i0.jrjimg.cn/homev2/v2013/bp_icon_new.png) no-repeat 0 -30px;border-color:#7c9dbc;color:#7c9dbc;position:relative;z-index:9999}
.bp_m_right dl dt.cur a:visited,.bp_m_right dl dt.cur a:hover{color:#7c9dbc;}
.bankpro_new_index a,.bankpro_new_index a:visited,.bankpro_new_index a:hover{color:#333;text-decoration:none;}
.bp_m_left dl dt a{height:16px;}
.bp_m_left dl dt.last .ed_bp_btn_cur{background-position:0 -96px;}
.bp_add_url{padding:15px;border:solid 1px #7c9dbc;position:absolute;background:#fff;width:335px;top:25px;z-index:9997}
.bp_add_url p span,.bp_add_url p input{display:inline-block;vertical-align:middle;}
.bp_add_url p span{padding:0 5px 0 10px}
.bp_add_url p input.bp_ip_text01{width:108px;line-height:19px;height:19px;border:solid 1px #7d9cb9;color:#989898;padding:0 5px}
.bp_add_url p.pr span,.bp_add_url p.pr input{float:right;}
.bp_add_url p.pr{padding:20px 0 0}
.bp_add_url p.pr input.ipt2{width:60px;height:21px;border:none;color:#fff;cursor:pointer}
.bp_add_url p.pr span{padding:0 10px 0 0;}
.bp_add_url p.pr span i{color:#666;padding:0 3px;cursor:pointer;}
.bp_add_url .error_prompt{display:none;}
.error_prompt_name .error_prompt,.error_prompt_url .error_prompt,.error_prompt_all .error_prompt{display:block;}
.error_prompt_name p.pr,.error_prompt_url p.pr,.error_prompt_all p.pr,.bp_add_url p.pr{padding:0}
.error_prompt_name .error_prompt span,.error_prompt_url .error_prompt span,.error_prompt_all .error_prompt span,.bp_add_url .error_prompt_mo span{color:#fe0505;padding:0 0 0 45px;width:120px}
.bp_add_url .error_prompt_mo span{width:150px;color:#989898}
.error_prompt_name p input.name_input,.error_prompt_url p input.url_input,.error_prompt_all p input.bp_ip_text01{border-color:#fe0505}
.error_prompt_url .error_prompt .pe_name{visibility:hidden;}
.error_prompt_name .error_prompt .pe_url{visibility:hidden;}
.error_prompt_name .error_prompt_mo,.error_prompt_url .error_prompt_mo,.error_prompt_all .error_prompt_mo{display:none;}
.bankpro_new_index{z-index:0}
.jrj-enter{position:relative;z-index:9999;}
.mw{position:relative;z-index:0}
.bp_add_url{padding:0 0 15px;width:365px;}
.bp_add_url p{padding:0 15px;}
.bp_add_url p.pr{padding:10px 15px 0;}
.bp_add_url p.cloxe_new_link_2013{height:15px;overflow:hidden;padding:0}
.bp_add_url p.cloxe_new_link_2013 b{overflow:hidden;width:7px;height:7px;background:url(http://i0.jrjimg.cn/homev2/v2013/close_0625_new.png) no-repeat;display:block;float:right;margin:4px 4px 0 0;cursor:pointer;}
.bp_m_right dl dt a{display:block;width:51px;height:17px;border:solid 1px #a9aaac;background:#fff url(http://i0.jrjimg.cn/homev2/v2013/bp_icon_new.png) no-repeat 0 -46px;padding:0 0 0 14px;_line-height:18px;background-position:0 -47px\9;overflow:hidden;}
.bp_m_right dl dt.cur a{border-bottom:none;height:20px;background:#fff url(http://i0.jrjimg.cn/homev2/v2013/bp_icon_new.png) no-repeat 0 -30px;border-color:#7c9dbc;color:#7c9dbc;position:relative;z-index:9999;background-position:0 -31px\9;overflow:hidden;}
.bp_add_url{top:24px}
.tab1 ul li{width:36px;}
.all_qbox{padding:5px 5px 0}
.all_qbox tr td{height:23px;line-height:23px;padding:0 0 0 5px;}
.all_qbox tr td.tr{text-align:right;}
.all_qbox tr th{border-bottom:solid 1px #cfcfcf;font-weight:normal}
.all_qbox tr td.tc{text-align:center}
.cont .table-s1{border-width:0}
.table-s1 tr td.tl{text-align:left;padding-left:3px;}
.table-s1 tr td.tc{text-align:center;}
.table-s1 tr td.tr{text-align:right;padding-right:3px}
.bp_add_url p input.bp_ip_text01{width:84px;}
.bp_add_url p input.ipt2{margin-left:10px;}
.bp_add_url .name_link span,.name_link a{display:inline-block;vertical-align:middle;padding:0 6px 0 0;}
.bankpro_new_index .name_link a,.bankpro_new_index .name_link a:visited,.bankpro_new_index .name_link a:hover{padding:0 5px;color:#686866;margin-right:3px;}
.name_link a:hover{background:#d8f2ff;}
.bp_add_url .name_link span{color:#000;position:absolute;}
.bp_add_url .name_link i{padding:0 0 0 34px;display:inline-block}
.bp_add_url p.name_link{margin-top:10px;padding:5px 0 0;border-top:dashed 1px #cfcfcf;}
.bp_add_url .nl_new{padding:0 15px 0 21px;}
.bp_add_url p span{padding:0 3px 0 6px;}
.bp_add_url p input.ipt2{margin-left:5px;}
.error_prompt_name .error_prompt span, .error_prompt_url .error_prompt span, .error_prompt_all .error_prompt span, .bp_add_url .error_prompt_mo span{width:96px;padding:0 0 0 37px}
.bp_add_url .error_prompt_mo span{width:138px}
.error_prompt_name .error_prompt .pe_url{padding:0}
.n2 p a.mats {margin:0 0 0 7px;_margin:0 0 0 7px;}
.title1 .tbg27,.title .tbg27{background-position:0 -650px}
.trust_seach table td{*padding-top:3px;_padding-top:5px;}
/*琛屾儏妯″潡css寮�濮�*/
.hqnew{width:230px;height:240px;font-family:"瀹嬩綋";}
.hqnew .tabmain,.hqnew .hqbox{float:left;overflow:hidden;}
.hqnew .tabmain{width:32px;}
.hqnew .hqbox{width:196px;}
.hqnew .tabmain ul li{background:url(http://i0.jrjimg.cn/homev2/hqmo/tabmain.png) no-repeat 0 -22px;width:32px;height:22px;line-height:22px;margin-bottom:2px;}
.hqnew .tabmain ul li a{display:inline-block;width:30px;height:22px;text-align:center;color:#000;}
.hqnew .tabmain ul li.cur{background-position:0 0;}
.hqnew .tabmain ul li.cur a,.hqnew .tabmain ul li.cur a:visited,.hqnew .tabmain ul li.cur a:hover{color:#fff;text-decoration:none;}
.hqnew .hqbox{width:196px;border:solid 1px #d9d9d9;height:236px;overflow:hidden;}
.hqnew .tabmain ul li a,.hqnew .tabmain ul li a:visited{color:#000;text-decoration:none;}
.hqnew .tabmain ul li a:hover{color:#ff0000;}
.tab-m-f{padding:0;}
.tab-m-f th{font-weight:normal;border:solid 1px #cbcdcc;border-width:0 1px 1px 0;background:#f0f0f0;color:#000;cursor:pointer;padding:0 3px;height:18px;line-height:18px;}
.tab-m-f th.cur{background:#fff;border-bottom:none;}
.tab-m-f th.last{border-right:none;}
.tab-m-f th a:visited{color:#000;}
.tab-m-f th a:hover{color:#ff0000;text-decoration:none;}
.hqnew .hqbox .flash{height:165px;overflow:hidden;}
.hqnew .hqbox .flash01{height:184px;overflow:hidden;}
.btnhqbox a,.btnhqbox a b{display:inline-block;height:21px;font-weight:normal;text-align:center;line-height:21px;}
.btnhqbox a{padding:0 5px 0 0;margin:3px 0 0 4px;width:55px;background:url(http://i0.jrjimg.cn/homev2/hqmo/btn-hq-new.png) no-repeat right 0;}
.btnhqbox a b{background:url(http://i0.jrjimg.cn/homev2/hqmo/btn-hq-new.png) no-repeat left 0;padding:0 0 0 5px;width:50px;cursor:pointer;}
.btnhqbox a b i{font-family:Arial, Helvetica, sans-serif;line-height:21px;display:inline-block;vertical-align:middle;}
.btnhqbox a,.btnhqbox a:visited{color:#000;}
.btnhqbox a:hover{color:#ff0000;}
.btnhqbox a:hover{color:#cc0000;}
.btnauto a{padding:0 2px 0 0;}
.btnauto a b{padding:0 0 0 2px;}
.btnauto a,.btnauto a b{width:auto}
.btnauto a.w7 b{width:71px}
.table-hq{padding:3px 4px 0;}
.table-hq tr th{background:url(http://i0.jrjimg.cn/homev2/hqmo/table-hd-hq.png) no-repeat right 0;height:20px;line-height:20px;font-weight:normal;}
.table-hq tr th.last{background:url(http://i0.jrjimg.cn/homev2/hqmo/table-hd-hq.png) no-repeat left 0;}
.table-hq tr td{text-align:center;height:24px;line-height:24px;}
.table-hq p{height:21px;line-height:21px;text-align:center;background:url(http://i0.jrjimg.cn/homev2/hqmo/pbottom-x.png) repeat-x}
.table-hq p.pl-p{border-top:solid 1px #CCC;background:none;text-align:left;}
.table-hq p.pl-p .jrj-fr{float:right;}
.table24{padding:0;}
.table24 tr td{line-height:27px;}
.add-stock p{padding:40px 15px;}
.add-stock p.form{padding:0 0 0 12px;}
.add-stock p.form input{display:inline-block;vertical-align:middle;}
.add-stock p.form .ipt3{width:95px;height:20px;border:solid 1px #d9d9d9;margin-right:3px;}
.add-stock p.form .ipb1{background:url(http://i0.jrjimg.cn/homev2/hqmo/btn-hq.png) no-repeat;width:60px;height:21px;border:none;color:#fff;padding:0 0 5px;}
.none-login p{padding:40px 15px;}
.none-login p.form{text-align:center;padding:0}
.none-login p.form a{display:inline-block;vertical-align:middle;background:url(http://i0.jrjimg.cn/homev2/hqmo/btn-hq.png) no-repeat;width:60px;height:21px;color:#fff;margin:0 10px;line-height:21px;}
.none-login p.form a:visited{color:#fff;}
.none-login p.form a:hover{color:#fff;text-decoration:none;}
.date{padding:2px 0 0;}
.date span,.date span input{display:inline-block;vertical-align:middle;}
.date span{padding:0 0 0 4px;}
.date .ipt3{width:67px;height:18px;border:solid 1px #d9d9d9;padding:0 20px 0 0;background:url(http://i0.jrjimg.cn/homev2/hqmo/date-new.png) no-repeat right center}
.date .ipda01,.date .ipda02{width:15px;height:15px;border:none;margin:0 0 0 5px;cursor:pointer;_display:inline}
.date .ipda01{background:url(http://i0.jrjimg.cn/homev2/hqmo/date.png) no-repeat 0 0;}
.date .ipda02{background:url(http://i0.jrjimg.cn/homev2/hqmo/date.png) no-repeat -15px 0;}

.hqnone p.pl-p{border:none;}
.hqnone tr td,.hqnone tr th{line-height:20px;height:20px;}
.hqnone table{border:solid 1px #d9d9d9;border-width:1px 0 0 1px;}
.hqnone tr td{border:solid 1px #d9d9d9;border-width:0 1px 1px 0;}
.hqnone tr th.last{border-right:solid 1px #d9d9d9;}

.btnhqbox .wi1{width:38px;padding:0 0 0 2px;background:url("http://i0.jrjimg.cn/homev2/hqmo/btn-hq-new.png") no-repeat scroll left 0}
.btnhqbox .wi1 b{width:36px;padding:0 2px 0 0;background:url("http://i0.jrjimg.cn/homev2/hqmo/btn-hq-new.png") no-repeat scroll right 0}
.btnhqbox .wi2{width:28px;padding:0 0 0 2px;background:url("http://i0.jrjimg.cn/homev2/hqmo/btn-hq-new.png") no-repeat scroll left 0}
.btnhqbox .wi2 b{width:26px;padding:0 2px 0 0;background:url("http://i0.jrjimg.cn/homev2/hqmo/btn-hq-new.png") no-repeat scroll right 0}
.btnhqbox .wi3{width:58px;padding:0 0 0 2px;background:url("http://i0.jrjimg.cn/homev2/hqmo/btn-hq-new.png") no-repeat scroll left 0;margin:3px 0 0 4px;}
.btnhqbox .wi3 b{width:56px;padding:0 2px 0 0;background:url("http://i0.jrjimg.cn/homev2/hqmo/btn-hq-new.png") no-repeat scroll right 0}
.btnhqbox .wi4{width:90px;padding:0 0 0 2px;background:url("http://i0.jrjimg.cn/homev2/hqmo/btn-hq-new.png") no-repeat scroll left 0;margin:0 0 0 4px;}
.btnhqbox .wi4 b{width:88px;padding:0 2px 0 0;background:url("http://i0.jrjimg.cn/homev2/hqmo/btn-hq-new.png") no-repeat scroll right 0}
.btnhqbox .wi5{width:84px;padding:0 0 0 2px;background:url("http://i0.jrjimg.cn/homev2/hqmo/btn-hq-new.png") no-repeat scroll left 0;margin:7px 0 0 7px;}
.btnhqbox .wi5 b{width:82px;padding:0 2px 0 0;background:url("http://i0.jrjimg.cn/homev2/hqmo/btn-hq-new.png") no-repeat scroll right 0}
.btnhqbox .ml-1{margin-left:3px;}
.palts{padding-left:1px;}
.palnone{padding:0}
.select-form{padding:0 7px;}
.select-form p{padding:0 0 5px;}
.select-form p select{border:solid 1px #d9d9d9;height:20px;margin-right:5px;}
.select-form p select,.select-form p span,.select-form p input{display:inline-block;vertical-align:middle;line-height:18px;}
.select-form p .bottom_line{border-bottom:solid 1px #333;}
.select-form p select.w01{width:100px;}
.select-form p select.w02{width:72px;}
.select-form p select.w03{width:72px;}
.select-form p select.w04{width:63px;}
.select-form p select.w05{width:140px;}
.select-form p select.w06{width:74px;}
.select-form p select.w07{width:48px;}
.select-form p .bt1{background:url(http://i0.jrjimg.cn/homev2/hqmo/btn-hq-big.png) no-repeat;width:72px;height:21px;border:none;color:#fff;padding:0 0 5px;padding:0\9;}
.select-form p .bt2{background:url(http://i0.jrjimg.cn/homev2/hqmo/btn-hq-s.png) no-repeat;width:46px;height:21px;border:none;color:#fff;padding:0 0 5px;padding:0\9;}
.list-icon{display:block;padding:5px 0 5px 20px;background:url(http://i0.jrjimg.cn/homev2/hqmo/list-icon.png) no-repeat 5px center;font-weight:normal;}
.list-icon-ts{padding-bottom:1px;}
.jrjtl{text-align:left!important;}
.login-form{padding:12px 14px 0;}
.login-form p{padding:0 0 5px;}
.login-form p.tit{padding:0 0 10px;}
.login-form p span,.login-form p input,.login-form p a{display:inline-block;vertical-align:middle;}
.login-form p input.hq-text{border:solid 1px #cbcdcc;width:118px;line-height:18px;height:18px;}
.login-form p.btn{padding:0 0 0 48px;}
.login-form p.btn input{background:url("http://i0.jrjimg.cn/homev2/v2013/bg.png") no-repeat -97px -33px;border: medium none;color: #FFFFFF;height: 21px;line-height: 21px;padding: 0 0 4px;text-align: center;width:60px;}
.login-form p.btn a{padding:0 0 0 18px;}
.login-form p.red{padding:0}
.wzn a{padding:0 2px 0 0;width:90px;}
.wzn a b{padding:0 0 0 2px;width:88px;}
.table-hq .login-form{padding:12px 10px 0}
.table-hq p{background:none;}
.table-hq p.tit{height:auto;}
.table-hq .add-stock p{background:none;}
.table-hq .add-stock p.form{padding:0}
.table-hq .login-form{padding:12px 10px 0}
.table-hq p{background:none;}
.table-hq p.tit{height:auto;}
.table-hq .add-fund p{height:auto;}
.add-fund p{padding:40px 15px;}
.add-fund p.form{padding:0 0 0 12px;}
.add-fund p.form input{display:inline-block;vertical-align:middle;}
.add-fund p.form .ipt3{width:108px;height:20px;border:solid 1px #d9d9d9;margin-right:3px;}
.add-fund p.form .ipb1{background:url(http://i0.jrjimg.cn/homev2/hqmo/btn-hq.png) no-repeat;width:60px;height:21px;border:none;color:#fff;padding:0 0 5px;}
.add-fund p.form .ipt3{width:95px}
.hqnew table tr.ln td{background:#F4F4F4}
.winew .wi2{width:32px;margin-left:0}
.winew .wi2 b{width:30px;}
.winew .wi3,.winew .wi3 b{width:60px;}
.winew .wi3{margin-left:0;}
.winew .ml-1{margin-left:3px;}
.winew a{margin-left:2px;}
.winew .wi2-2{margin-left:2px;}
.winew .wi1{width:40px;}
.winew .wi1 b{width:38px;}
.jrj-logo-center{background:url(http://i0.jrjimg.cn/homev2/v2013/jrj-logo-s.png) no-repeat center center}
.table-hq-main td a,.table-hq-main td a:visited,.table-hq-main td a:hover{color:#003399}
.table-hq p.tit{text-align:left;}
.select-form p{padding:0 0 2px}
.winew .ml-1{margin-left:3px;_margin-left:1px}
.table-hq-main{height:164px;}
.table-hq p.bg{background:url("http://i0.jrjimg.cn/homev2/hqmo/pbottom-x.png") repeat-x scroll 0 0 transparent}
.add-fund p.form .ipb1{padding:0 0 5px;padding:0\9;}
.table-hq p.form{padding:0 0 0 5px;text-align:left;}
.list-icon{padding:5px 0 0 20px;}
.select-form p{padding:0 0 5px;}
.table-hq p.form{padding:0 0 0 9px}
.table-hq .add-stock p.form{padding:0 0 0 4px;}
.add-stock p.form .ipb1{padding:0 0 5px;padding:0\9;}
.table-hq .add-stock p.formnone{padding:15px 0 0 15px;}
.table-hq .add-fund p.formnone{padding:15px 0 0 15px;}
.select-form p select.w07{width:52px;}
.select-form p select.w06{width:75px;}
.select-form p select{margin-right:3px;}
.select-form p select.w01{width:96px;}
.select-form p select.w02{width:80px;}
.select-form p select.w03{width:80px}
.select-form p select.w05{width:146px;}
.table-hq .add-stock p{height:auto;padding-bottom:0}
.select-form p .bt1{width:80px;background:url("http://i0.jrjimg.cn/homev2/hqmo/btns_h.png") no-repeat 0 0}
.table-hq tr td.tl{text-align:left;}
.table-hq tr td.tr{text-align:right;}
.table24 tr td.tr{padding-right:3px}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.select-form p select, .select-form p span, .select-form p input { line-height: 14px;}
}
/*琛屾儏妯″潡css缁撴潫*/
.n5 a{margin: 0 6px 0 7px;}
.listul ul li.list11{background: url(http://i0.jrjimg.cn/homev2/newzj/icon-zfb.png) no-repeat 0 6px;}
.jrj-enter ul.jrj-entertip li a.follow_btn{_margin-top:-6px;}
.n2 .w1{width:135px;}
.n2 .w2{width:256px;_width:255px;}
.n2 .w3{width:199px;}
.n2 .w4{width:241px;_width:240px;}
.n2 p a{margin:0 4px;color:#333;_margin:0 4px 0 3px;}
.n2 .w4 p a{margin:0 5px;*margin:0 4px 0 5px;}
.n2 .w4 p a.mats{margin:0 0 0 5px;}
.hqnewtc{position:relative;}
.hqnewtc .hd .mh-title i{background:url(http://i0.jrjimg.cn/homev2/v2013/index-hq-aww.png) no-repeat 0 0;display:inline-block;width:9px;height:5px;margin:0 10px 0 0;}
.hqnewtc .poshqbox{border:solid 1px #d9d9d9;border-top:none;width:118px;position:absolute;top:28px;left:0;background:#fff;-webkit-box-shadow: 2px 3px 4px #ccc;-moz-box-shadow: 2px 3px 4px #ccc;box-shadow: 2px 3px 4px #ccc;filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=4, Direction=90),progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=4, Direction=180);}
.hqnewtc .poshqbox a{border-top:solid 1px #d9d9d9;display:block;height:24px;text-align:center}
.hqnewtc .hd .mh-title i{margin:0 5px 0 0;}
.hqnewtc .hd .mh-title i{_margin-top:7px}
.table-s1 .form{border:none}
.table-s1 .form{padding:6px 5px 9px 6px}
.hqnewtc .poshqbox a,.hqnewtc .poshqbox a:visited{color:#000;}
.hqnewtc .poshqbox a:hover{color:#c00000;}
.n6{padding:0 0 0 7px;}
.n6 a{margin:0 4px;}
.w1 .new_btn_qmzg{background:url(http://i0.jrjimg.cn/homev2/v2013/new_btn_ggwz.png) no-repeat 0 0;}
#formHq{width:250px}

/*20140605*/
body{overflow-x:hidden}
.gjs_2014{background:url(http://i0.jrjimg.cn/homev2/ad/140605/adlr140605.jpg) no-repeat center 0;}
.gjs_2014 .gjs_ad_2014{background:url(http://i0.jrjimg.cn/homev2/ad/140605/adm040506.jpg) no-repeat center 0;height:143px;position:relative;margin:0 auto;width:950px;z-index:999}
.gjs_2014 .gjs_ad_2014 a{display:block;}
.gjs_2014 .gjs_ad_2014 .linkg01{width:950px;height:143px;}
.gjs_2014 .gjs_ad_2014 .linkg02,.gjs_2014 .gjs_ad_2014 .linkg03{width:140px;height:300px;top:0;position:absolute;background:#fff;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.gjs_2014 .gjs_ad_2014 .linkg02{left:-140px;}
.gjs_2014 .gjs_ad_2014 .linkg03{left:950px;}
.gjs_2014 .gjsbug{width:950px;margin:0 auto;background:url(http://i0.jrjimg.cn/homev2/ad/140520/bglr140520.jpg) no-repeat center 0}

/**** inline ****/
#FlashID_000001 {visibility:hidden}