/**** inline ****/
@import url("http://www.cj.com/modules/system/system.base.css?n6ctb6");
@import url("http://www.cj.com/modules/system/system.menus.css?n6ctb6");
@import url("http://www.cj.com/modules/system/system.messages.css?n6ctb6");
@import url("http://www.cj.com/modules/system/system.theme.css?n6ctb6");
/**** inline ****/
@import url("http://www.cj.com/sites/all/modules/calendar/css/calendar_multiday.css?n6ctb6");
@import url("http://www.cj.com/modules/comment/comment.css?n6ctb6");
@import url("http://www.cj.com/sites/all/modules/date/date_api/date.css?n6ctb6");
@import url("http://www.cj.com/modules/field/theme/field.css?n6ctb6");
@import url("http://www.cj.com/modules/node/node.css?n6ctb6");
@import url("http://www.cj.com/modules/search/search.css?n6ctb6");
@import url("http://www.cj.com/sites/all/modules/twitter_block/twitter_block.css?n6ctb6");
@import url("http://www.cj.com/modules/user/user.css?n6ctb6");
@import url("http://www.cj.com/sites/all/modules/views/css/views.css?n6ctb6");
/**** inline ****/
@import url("http://www.cj.com/sites/all/modules/ctools/css/ctools.css?n6ctb6");
@import url("http://www.cj.com/sites/all/modules/panels/css/panels.css?n6ctb6");
@import url("http://www.cj.com/sites/all/modules/views_slideshow/views_slideshow.css?n6ctb6");
/**** inline ****/
@import url("http://www.cj.com/sites/all/themes/omega/alpha/css/alpha-reset.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/omega/alpha/css/alpha-mobile.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/omega/alpha/css/alpha-alpha.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/omega/omega/css/formalize.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/omega/omega/css/omega-text.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/omega/omega/css/omega-branding.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/omega/omega/css/omega-menu.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/omega/omega/css/omega-forms.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/omega/omega/css/omega-visuals.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/cj_us/css/global.css?n6ctb6");
/**** inline ****/
@import url("http://www.cj.com/sites/all/themes/cj_us/css/commission-junction-alpha-default.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/cj_us/css/commission-junction-alpha-default-narrow.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/omega/alpha/css/grid/alpha_default/narrow/alpha-default-narrow-12.css?n6ctb6");
/**** inline ****/
@import url("http://www.cj.com/sites/all/themes/cj_us/css/commission-junction-alpha-default.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/cj_us/css/commission-junction-alpha-default-normal.css?n6ctb6");
@import url("http://www.cj.com/sites/all/themes/omega/alpha/css/grid/alpha_default/normal/alpha-default-normal-12.css?n6ctb6");
/**** inline ****/
#omega-media-query-dummy { position: relative; z-index: -1; }
/**** inline ****/
#omega-media-query-dummy { z-index: 0; }
/**** inline ****/
#omega-media-query-dummy { z-index: 1; }
/**** inline ****/

@media only screen and (max-device-width: 480px) {

.block-119 .grid-2 div {height:1px!important; width:100%!important}

}
/**** inline ****/

.margClass{margin-bottom:25px}