a.Uncomrollover {
	display: block;
	width: 339px;
	height: 93px;
	text-decoration: none;
	background:#F00;
}
#bounce {
	margin-left: 50px;
	display: none;
	z-index: 99;
	position: fixed;
	background-image: url(../../images/dlh/arrow.png);
	height: 169px;
	width: 146px;
}
#bounceff {
	right: 5px;
	display: none;
	z-index: 99;
	position: fixed;
	background-image: url(../../images/dlh/arrowTop.png);
	height: 169px;
	width: 146px;
}
.chromeIndication {
	width: 654px;
	height: 298px;
	z-index: 10;
	position: fixed;
	bottom: 300px;
	left: 20%;
	background-image: url(../../images/dlh/Chrome_Part-fe.png);
}
.ieIndication {
	width: 577px;
	height: 237px;
	z-index: 10;
	position: fixed;
	bottom: 40%;
	left: 35%;
	background-image: url(../../images/dlh/IE_Part.png);
}
.fireFoxIndication {
	width: 800px;
	height: 298px;
	z-index: 10;
	position: fixed;
	bottom: 25%;
	left: 30%;
	background-image: url(../../images/dlh/FireFox_Part_Part-fe.png);
}
.downloadIndicator {
    
    display:none;
}
.overlay {
    
    background: url('../../images/dlh/pattern.png') repeat;
    z-index:0;
    *z-index:-1;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    display:none;
}
.overlay1 {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0px;
	padding: 0px;
}
@charset "utf-8";
/* CSS Document */
body {background:;}
#downloadbuttonContainer {display: block;width: 350px;height: 73px;background: transparent url('/images/gcp/btn.png') no-repeat;}
.downloadText {
    font-size: 24px;
    font-family: arial;
	font-weight:bold;
	width:340px;
	text-align:center;
    color: #fff;
	text-transform:uppercase;
	padding:21px 0 0 15px;

}


			.green {
				font-size: 22px;
				color:#666;
			}
			.green strong {
				font-size: 22px;
			}
			.cc {
				text-align: center;
			}
			.aa {
				text-align: center;
			}
			.cc table tr td {
				font-size: 14px;
			}

			.counter {
				font-size: 24px;
				font-weight: bold;
			}
			#asf {
				font-size: 14px;
			}
			.aas {
				text-align: center;
				font-size: 14px;
			}
			.aa {
				color: #FFF;
			}
			.asf {
				text-align: center;
				font-size: 14px;
				font-weight: bold;
			}

			.tab1 tr td {
				font-size: 12px;
				border-style:ridge;
				border-color:#CCC;
			}

			.verTable {
				font-size: 12px;
				height:40px;
			}
			
			.aa th {
				font-size: 14px;
			}


			hr { height: 5; margin:2; margin-left:0; margin-bottom:7; border-style:groove; border-width: 2px 0 0 0; border-color:green; color:green}

			a { text-decoration:none; color:#666666;}
			
			.second {
	line-height:29px; color:#000; font-size:18px; margin-left:5px; width:350px; text-align:center;
}

.please {
	line-height:29px; color:#000; font-size:18px; width:350px; text-align:center;
}

