body{font-family:"Arial","宋体";font-size:12px;line-height:25px;margin:0;padding:0;color:#404040}h1,h2,h3,h4,h5,h6,form,img,ul,ol,li,dl,dt,dd,table,div,span,p,i,em,b,blockquote{padding:0;margin:0;border:0;font-style:normal}img,object{vertical-align:bottom}input{padding:0;margin:0;font-size:14px}li{list-style-type:none;list-style:none}.clear{clear:both;line-height:0}a:link,a:visited{text-decoration:none;color:#005db4;font-family:Arial}a:active,a:hover{color:#f80000;text-decoration:underline;font-family:Arial}
#wrap{width:960px;background:#fff;margin:0 auto;position:relative}
.clear{clear:both;height:0;line-height:0}
.logina,.logina.now,.loginb,.logout,#group_site span,#group_site i,#fixedsearch div,#fixedsearch span,.fixsbmt,.cpbj div,#sctja .hotpics_pagination span b i,#sctjb .hotpics_pagination span b i,#sctjc .hotpics_pagination span b i,.conl ol li em,.conl ol li em.top,.conl ol li i,.conlg ol li em,.conlg ol li em.top,.conlg ol li i,.part div dd,.part div ul li,.fsbmt,#floatsearch span,#hotpics div p,#rmhd div p,.parr ul li,.eft dl dd span,.eft dl.current dd span,.wpst dd,.conl ul.ycar li,#backtop.now,.s_city dt span,.tabs5_box div ol li em{background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_bg.gif) no-repeat}
#group_site,#group_site.now,.fixbg,.fixbg.now,.fsbmtbg.now,.ytjnav li,.s_city dt,.cpbj div.tita,.titb,.titc,.top_site{background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_xbg.jpg) repeat-x}
.con{width:960px;margin:10px 0 0;float:left}
.conl,.conlg{width:190px;float:left}
.conr{width:760px;float:right}
.brtb{border-top:1px solid #edf6fc}
.parl{width:475px;float:left}
.parr{width:275px;float:right}
.part{width:373px;font-size:14px;overflow:hidden}
.fl,.cpbj dt a,.foot ul li,.ad960 object,.ad960 div{float:left}
.fr,.login span{float:right}
.mt2{margin-top:2px}
.mt6{margin-top:6px}
.mt7{margin-top:7px}
.mt0{margin-top:0px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt4{margin-top:4px}
.brl{border-left:1px solid #e8e8e8;padding-left:5px;float:right;margin-top:4px}
.morea{float:right;padding-right:15px;font-size:12px}
.more{text-indent:17px;display:inline-block}
.cpbj div.tita{width:188px;height:24px;background-position:0 -25px;border-bottom:1px solid #b5cce2;margin-bottom:5px;display:block;text-indent:9px;line-height:24px;color:#404040}
.cpbj div.tita a:link,.cpbj div.tita a:visited{color:#404040}
.titb,.tite{height:25px;margin-bottom:4px;border-top:1px solid #b3cfe5;display:block;text-indent:11px;overflow:hidden}
.titb{text-indent:7px}
.titc{height:25px;border-top:1px solid #b3cfe5;display:block;text-indent:11px;overflow:hidden}
.titd{height:26px;text-indent:10px;color:#005eb2}
.tita h3,.titb h4,.titc h3{font-size:14px;float:left}
.titb h4{line-height:30px;color:#005db4}
.titb h3{font-size:16px;color:#005db4;line-height:32px;float:left}
.titb strong{_display:inline-block;float:left;font-size:16px;color:#333;line-height:32px}
.titb strong span{color:#005db4}
.titb h4{font-size:14px;color:#005db4;line-height:26px}
.titb h5{font-size:12px;color:#005db4;line-height:26px}
.titb h6{font-size:14px;color:#a8aeb4;line-height:32px;font-weight:normal;float:left}
.titb h6 a{display:inline-block;margin:0 3px;font-weight:bold;font-size:16px;text-indent:0}
.titb h6 a:link,.titb h6 a:visited{color:#005db4}
.titb h6 a:hover,.titb h6 a:active{text-decoration:none;color:#f80000}
.titc h3{font-size:16px;color:#005db4;line-height:32px}
.titd h3{font-size:14px;line-height:19px;float:left}
.titb div{width:740px;height:28px;padding-right:13px;font-size:14px;line-height:28px;color:#a8aeb4;float:right;text-align:right}
.titb div a,.titd div a{padding:0 3px 0 4px}
.titd div{color:#a8aeb4;float:right;font-size:12px}
.sitelogin{width:959px;height:30px;padding:0 0 0 1px;margin:0 auto}
.top_site{width:auto;height:30px;background-position:0 -220px}
/* groupSite */
#group_site{width:142px;height:22px;border:1px solid #e0e0e0;background-position:0 -175px;position:relative;float:right;z-index:9992;margin-top:2px}
#group_site div{width:142px;overflow:hidden}
#group_site.now{background-position:0 -197px}
#group_site span{width:125px;height:22px;line-height:22px;text-indent:27px;background-position:-8px -8px;float:left}
#group_site i{width:7px;height:22px;padding-right:6px;background-position:0 -3px;text-indent:-99em;float:right;overflow:hidden}
#group_site ul{width:142px;position:absolute;top:22px;left:-1px;border:1px solid #dbdbdb;border-bottom:none;background:#fff;overflow:hidden;display:none}
#group_site li{width:142px;height:24px;border-bottom:1px solid #d3d1d4;float:left}
#group_site li a{width:142px;height:24px;background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_logos.gif) no-repeat;display:block;text-indent:67px}
#group_site li a:link.l1,#group_site li a:visited.l1{background-position:9px 3px}
#group_site li a:link.l2,#group_site li a:visited.l2{background-position:9px -22px}
#group_site li a:link.l3,#group_site li a:visited.l3{background-position:9px -47px}
#group_site li a:link.l4,#group_site li a:visited.l4{background-position:9px -72px}
#group_site li a:link.l5,#group_site li a:visited.l5{background-position:9px -95px}
#group_site li a:hover.l1,#group_site li a:active.l1{background-position:9px -120px}
#group_site li a:hover.l2,#group_site li a:active.l2{background-position:9px -145px}
#group_site li a:hover.l3,#group_site li a:active.l3{background-position:9px -170px}
#group_site li a:hover.l4,#group_site li a:active.l4{background-position:9px -195px}
#group_site li a:hover.l5,#group_site li a:active.l5{background-position:9px -218px}
#group_site li a:link,#group_site li a:visited,.ytjnav li span a:link,.ytjnav li span a:visited,.wlst li span a:link,.wlst li span a:visited,.conl dl.yca dt a:link,.conl dt a:visited,.part span a:link,.part span a:visited,.links ul a:link,.links ul a:visited{color:#404040}
.wlst li span a:link,.wlst li span a:visited{font-family:"宋体"}
#group_site li a:hover,#group_site li a:active{color:#fff;font-weight:bold;background-color:#f08200}
/*login*/
.login{width:415px;float:left;height:25px;padding-top:4px;line-height:18px;color:#404040;font-size:12px}
.login .input{width:80px;border:1px solid #999;height:16px;padding-top:1px;margin:0 10px;float:left}
.logina,.loginb{width:34px;height:19px;text-align:center;border:0;display:inline;float:left;margin-right:5px;cursor:pointer}
.logout{width:34px;height:19px;text-align:center;border:0;display:inline;background-position:0 -92px;margin-right:5px;cursor:pointer}
.logina{background-position:0 -54px;margin-right:7px}
.logina.now{background-position:0 -514px}
.loginb{background-position:0 -73px}
.login b{float:left;font-weight:100}
.login .sj a{color:#5a5a5a;padding:0 0 0 10px}
.rricon{background:url(http://www.yesky.com/TLimages2009/yesky/images/index/renren.png) no-repeat 0 1px;padding-left:18px;float:left}
.t_sch{width:960px;height:51px;padding:5px 0 0px 0px;float:left;clear:both}
.t_logo{width:105px;height:45px;float:left}

.sub_w{height:15px;line-height:15px;text-align:right;color:#666;padding:6px 0 0 25px;float:left}
.sub_w a{padding-right:8px}
.sub_w a:link,.sub_w a:visited,.wordada a:link,.wordada a:visited,.part p a:link,.part p a:visited,.links ul.g,.links ul.g a:link,.links ul.g a:visited{color:#666}
.s_city{width:76px;height:24px;float:right;position:relative;z-index:9992;margin:2px 7px 0 0;color:#333}
.s_city dt{width:74px;height:22px;line-height:24px;border:1px solid #d1d1d1;border-bottom:1px solid #c7c7c7;text-align:left;background-position:0 -175px;cursor:pointer}
.s_city dt span{padding:0 14px 0 8px;background-position:61px -8px;line-height:24px}
.s_city dd{display:none;border:1px solid #626263;border-bottom:2px solid #626263;border-top:0;border-left:1px solid #d1d1d1;width:150px;overflow:hidden;background:#fff;position:absolute;left:0;}
.s_city dd.show{display:block}
.s_city dd a:link,.s_city dd a:visited{width:50px;height:24px;display:inline-block;background:#fff;border-top:none;text-align:center;color:#404040}
.s_city dd a:hover{background:#f08200;color:#fff;text-decoration:none}

#fixedsearch{width:62px;height:26px;float:left;position:relative;margin-left:2px;_margin-left:0;text-align:center;_overflow-x:hidden}
#fixedsearch span{width:62px;background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_hover1001.gif) no-repeat 0 0;color:#666;float:left;font-weight:bold;text-align:left;text-indent:9px;line-height:26px;cursor:pointer}
#fixedsearch span.sel{background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_hover1001.gif) no-repeat 0 -26px}
#fixedsearch ul{width:55px;padding:2px 0;background:#fff;float:left;position:absolute;left:0;top:25px;border:1px solid #d1d1d1;display:none}
#fixedsearch li{color:#404040;height:23px;cursor:pointer}
#fixedsearch li.now{background:#f08200;color:#fff}
#fixedform{float:right}
.fixbg{width:69px;height:24px;border:1px solid #e37e07;float:right;overflow:hidden;background-position:0 -151px}
.fixbg.now{background-position:0 -127px}
.fixsbmt{width:71px;height:24px;border:none;background-position:center -318px;cursor:pointer;float:right}
.inwrap h3{width:475px;padding:4px 0 7px;font-size:21px;height:25px;text-align:center;white-space:nowrap;overflow:hidden}
.inwrap h3 a:link,.inwrap h3 a:visited{font-family:"微软雅黑",Arial;color:#ef6b0a}
.inwrap p{font-size:14px;height:26px;text-align:center;color:#005db4}
.inwrap p a.red{color:#f00}
/*cpbj*/
.ytjnav{width:188px;overflow:hidden;border-top:3px solid #3778a8;border-right:1px solid #d9d9d9;border-bottom:2px solid #3778a8;border-left:1px solid #d9d9d9;background:#f1f9ff}
.ytjnav li{background-position:0 -49px;height:21px;width:173px;float:left;border-bottom:1px solid #c9d2d9;padding:5px 0 5px 15px;line-height:21px}
.ytjnav li span{background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_icon.gif) no-repeat;display:inline-block;height:21px;text-indent:33px;float:left}
.ytjnav li a:link,.ytjnav li a:visited{color:#777}
.ytjnav li a:hover,.ytjnav li a:active{color:#ed6a12}
.ytjnav li span a:hover,.ytjnav li span a:active{color:#ed6a12}
.ytjnav li b{width:50px;height:21px;float:right;text-align:left;padding-right:12px;font-weight:normal}
li.sjrj span{background:url(http://image.yesky.com/TLimages2009/yesky/images/index/yhotbg.gif) no-repeat}
li.phb span{background-position:0 -480px}
li.tjxz span{background-position:0 -501px}
li.tjsm span{background-position:0 -522px}
li.smmt span{background-position:0 -564px}
li.sjrj span{background-position:2px 1px}
li.tjsc span{background-position:0 -542px}
li.dypd span{background-position:0 -584px}
.ytjnav dl{padding:3px 0 0 12px;line-height:16px;clear:both}
.ytjnav dt{height:16px;padding:4px 6px 5px 0;float:left;color:#676360;clear:both}
.ytjnav dd{height:16px;padding:4px 0 5px}
.ytjnav dd span{padding-right:6px}
.wordada{height:39px;padding:5px 12px;_padding:4px 12px 3px;margin-bottom:10px;line-height:20px;border:1px solid #eee;border-top:none;white-space:nowrap}
/*产品报价*/
.cpbj{width:188px;padding-bottom:10px;border:1px solid #d9d9d9;background:#f1f9ff;color:#005db4;position:relative;z-index:2;float:left}
.cpbj div{background-position:145px -561px;display:inline-block;overflow:hidden}
.cpbj dl{padding:0 9px 0;border:1px solid #f1f8fe;z-index:1;overflow:hidden}
.cpbj dl.show{background:#f1f9ff;border:1px solid #ef6d0d;border-right:none;_margin-right:-1px;position:relative;z-index:3;_float:left;width:170px}
.cpbj dt{height:20px;overflow:hidden;line-height:20px;font-weight:bold;padding:4px 0 2px;clear:both}
.cpbj dl.show dt a:link,.cpbj dl.show dt a:visited{color:#ef6d0d}
.cpbj dt span{width:20px;height:20px;float:left;background:#01508c;text-indent:-99em;overflow:hidden;margin-right:11px}
.cpbj dl.show span{background:#ef6d0d}
.cpbj dd{width:168px;font-size:12px;line-height:16px;font-family:Arial;padding-bottom:3px;border-bottom:1px solid #dbdbdb;overflow:hidden}
.cpbj dl.show dd{border-bottom:1px solid #f1f8fe}
.cpbj dd p{width:180px}
.cpbj dt a:link,.cpbj dt a:visited{color:#005db4}
.cpbj dd a:link,.cpbj dd a:visited{margin:2px 8px 2px 0;display:inline-block}
.cpbj dd a:hover,.cpbj dd a:active{background:#ee6c0c;color:#fff;text-decoration:none}
.cell_phone i,.notebook i,.ultrabook i,.digital i,.pc i,.mp i,.diy i,.oa i,.network i,.appliances i,.software i,.security i{background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_icon.gif) no-repeat;display:block}
.cell_phone i{background-position:0 -606px}
.notebook i{background-position:0 -626px}
.ultrabook i{background-position:0 -646px}
.digital i{background-position:0 -666px}
.pc i{background-position:0 -686px}
.mp i{background-position:0 -706px}
.diy i{background-position:0 -726px}
.oa i{background-position:0 -746px}
.network i{background-position:0 -766px}
.appliances i{background-position:0 -786px}
.software i{background-position:0 -806px}
.security i{background-position:0 -826px}
.software.show .softwarei{background-position:0 -846px}
.security dd{border-bottom:1px solid #f1f9ff}
.cpbj div div{width:419px;display:none;background:none;position:absolute;border:1px solid #ef6d0d;background:#f1f9ff;padding:7px 5px 5px 11px;right:-437px}
.cpbj div#cell_phone,.cpbj div#notebook{top:30px}
.cpbj div#ultrabook{top:100px}
.cpbj div#digital{top:172px}
.cpbj div#pc{top:246px}
.cpbj div#mp{top:315px}
.cpbj div#diy{top:367px}
.cpbj div#oa,.cpbj div#network,.cpbj div#appliances,.cpbj div#software,.cpbj div#security{bottom:10px;_bottom:9px}
.cpbj div div h3{font-size:16px;padding:7px 0 0 8px;clear:both}
.cpbj div div h3 a:link,.cpbj div h3 a:visited{font-family:"微软雅黑",Arial;color:#ed6a12}
.cpbj div div h3 a:hover,.cpbj div h3 a:active{text-decoration:underline}
.cpbj div div dl{width:397px;float:left;padding:5px 0 6px;margin-left:8px;overflow:hidden;border-bottom:1px solid #dfe6ec;color:#686866;background:none}
.cpbj div div dl.nbr{border-bottom:1px solid #f1f8fe}
.cpbj div div dt{width:52px;height:17px;line-height:21px;padding:0 12px 0 0;float:left}
.cpbj div div dd{width:328px;line-height:21px;padding:0;border:none;float:left}
.cpbj div div dd a{margin:0;padding:0 6px}
.cpbj div div dd a:link,.cpbj div div dd a:visited{color:#686866;margin:0}
.cpbj div div dd a:hover,.cpbj div div dd a:active{color:#f80000;background:none;text-decoration:underline}
.cpbj div div ul{width:420px}
.cpbj div div li.padl{width:300px;height:220px;float:left}
.cpbj div div li.padr{width:120px;height:110px;float:right}
/*焦点图*/
#hotpics{width:475px;height:307px;overflow:hidden;position:relative;margin-bottom:10px;*margin-bottom:7px}
#hotpics .hotpics_container,#hotpics .hotpics_container div,#hotpics .hotpics_container img{width:475px;height:307px}
#hotpics .hotpics_container div,#sctja .hotpics_container div,#sctjb .hotpics_container div,#sctjc .hotpics_container div,#rmhd .hotpics_container div,.conl ol li.s b,.conl ol li p,.none,#group_site.now i,.tabs5_box div{display:none}
#hotpics .hotpics_pagination{width:475px;height:78px;padding-top:30px;position:absolute;left:0;bottom:0;background:url(http://www.yesky.com/TLimages2009/yesky/images/index/hotpics_bg.png) repeat-x}
#hotpics .hotpics_pagination ul{width:180px;height:24px;position:absolute;right:0;bottom:0}
#hotpics .hotpics_pagination ul li{width:26px;height:13px;line-height:13px;margin-right:10px;float:left;text-align:center;cursor:pointer;font-weight:bold;color:#fff;font-family:arial;position:relative;z-index:1}
#hotpics .hotpics_pagination ul li p{width:26px;height:13px;background:#666;position:absolute;top:0;left:0;z-index:-1;filter:alpha(opacity=60);opacity:0.6}
#hotpics .hotpics_pagination li.active p{background:#ff9600}
#hotpics .hotpics_pagination span{display:none;width:455px;height:31px;white-space:nowrap;overflow:hidden;border-bottom:1px solid #939395;font-size:25px;color:#fff;font-family:"微软雅黑",Arial;padding:7px 0 5px;margin:0 10px;opacity:0.8}
#hotpics div.prev,#hotpics div.next{width:40px;height:49px;cursor:pointer;position:absolute;z-index:2;top:111px;overflow:hidden}
#hotpics .hotpics_prevbg,#hotpics .hotpics_nextbg{width:40px;height:49px;background:#000;position:absolute;z-index:1;top:111px;filter:alpha(opacity=60);opacity:0.6}
#hotpics div.prev,#hotpics .hotpics_prevbg{left:0}
#hotpics div p.p{width:40px;height:49px;background-position:9px -161px}
#hotpics div.next,#hotpics .hotpics_nextbg{right:0}
#hotpics div p.n{width:40px;height:49px;background-position:-5px -198px}
#hotpics div.active p.p{width:40px;height:49px;background-position:9px -235px}
#hotpics div.active p.n{width:40px;height:49px;background-position:-5px -272px}
/*商城焦点图*/
#sctja,#sctjb,#sctjc{width:180px;height:252px;padding:8px 5px 0;overflow:hidden;position:relative}
#sctja .hotpics_container,#sctja .hotpics_container div,#sctja .hotpics_container img,#sctjb .hotpics_container,#sctjb .hotpics_container div,#sctjb .hotpics_container img,#sctjc .hotpics_container,#sctjc .hotpics_container div,#sctjc .hotpics_container img{width:150px;height:150px}
#sctja .hotpics_container,#sctjb .hotpics_container,#sctjc .hotpics_container{border:1px solid #e9e9e9;margin:0 auto}
#sctja .hotpics_pagination,#sctjb .hotpics_pagination,#sctjc .hotpics_pagination{width:190px;height:100px;position:absolute;left:0;bottom:0;background:none}
#sctja .hotpics_pagination ul,#sctjb .hotpics_pagination ul,#sctjc .hotpics_pagination ul{width:121px;height:9px;overflow:hidden;position:absolute;right:0;bottom:0}
#sctja .hotpics_pagination ul li,#sctjb .hotpics_pagination ul li,#sctjc .hotpics_pagination ul li,#rmhd .hotpics_pagination ul li{width:7px;height:8px;cursor:pointer;background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_bg.gif) no-repeat -8px -112px;margin-left:6px;float:left}
#sctja .hotpics_pagination li.active,#sctjb .hotpics_pagination li.active,#sctjc .hotpics_pagination li.active,#rmhd .hotpics_pagination li.active{background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_bg.gif) no-repeat 0 -112px}
#sctja .hotpics_pagination span,#sctjb .hotpics_pagination span,#sctjc .hotpics_pagination span,#rmhd .hotpics_pagination span{display:none;width:170px;height:80px;line-height:22px;border-bottom:none;font-size:12px;color:#666;padding:2px 10px 5px;overflow:hidden}
#sctja .hotpics_pagination span b,#sctjb .hotpics_pagination span b,#sctjc .hotpics_pagination span b{text-align:center;height:18px;line-height:18px;overflow:hidden;color:#df2525;font-size:18px;font-family:"微软雅黑",Arial;width:170px;display:block;font-weight:normal}
#sctja .hotpics_pagination span b i,#sctjb .hotpics_pagination span b i,#sctjc .hotpics_pagination span b i{height:18px;line-height:18px;color:#df2525;display:inline-block;margin:0 auto;background-position:-17px -31px;background-position:-17px -33px\9;padding-left:21px;color:#ea0b0b;font-size:18px;font-family:"Microsoft Yahei";font-style:normal}
#sctja .hotpics_pagination span strong,#sctjb .hotpics_pagination span strong,#sctjc .hotpics_pagination span strong{display:block;width:170px;white-space:nowrap;overflow:hidden}
#sctja div.prev,#sctja div.next,#sctjb div.prev,#sctjb div.next,#sctjc div.prev,#sctjc div.next{width:30px;height:35px;cursor:pointer;position:absolute;z-index:2;top:74px}
#sctja div p.p,#sctja div p.n,#sctjb div p.p,#sctjb div p.n,#sctjc div p.p,#sctjc div p.n{width:30px;height:35px;background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_bg.gif) no-repeat}
#sctja div.prev,#sctjb div.prev,#sctjc div.prev{left:-8px}
#sctja div p.p,#sctjb div p.p,#sctjc div p.p{background-position:8px -394px}
#sctja div.next,#sctjb div.next,#sctjc div.next{right:-7px}
#sctja div p.n,#sctjb div p.n,#sctjc div p.n{background-position:-11px -421px}
#sctja div.active p.p,#sctjb div.active p.p,#sctjc div.active p.p,#rmhd div.active p.p{background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_bg.gif) no-repeat 8px -448px}
#sctja div.active p.n,#sctjb div.active p.n,#sctjc div.active p.n,#rmhd div.active p.n{background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_bg.gif) no-repeat -11px -475px}
/*热门活动焦点图*/
#rmhd{width:359px;height:287px;overflow:hidden;position:relative;margin-left:8px}
#rmhd .hotpics_container,#rmhd .hotpics_container div,#rmhd .hotpics_container img{width:357px;height:210px}
#rmhd .hotpics_container div{border:1px solid #dcdfe2}
#rmhd .hotpics_pagination{width:357px;height:64px;position:absolute;left:0;bottom:0;_bottom:-25px;background:none}
#rmhd .hotpics_pagination ul{width:46px;height:9px;position:absolute;right:0;bottom:46px;_bottom:53px}
#rmhd .hotpics_pagination ul li{padding:0;cursor:pointer}
#rmhd .hotpics_pagination span{width:350px;height:69px;line-height:22px;padding:2px 4px 5px;margin:0 0 16px}
#rmhd .hotpics_pagination span strong{display:block;width:300px;font-size:14px;white-space:nowrap;overflow:hidden}
#rmhd .hotpics_pagination span strong a:link,#rmhd .hotpics_pagination span strong a:visited{color:#db1c1c}
#rmhd div.prev,#rmhd div.next{width:30px;height:35px;cursor:pointer;position:absolute;z-index:2;top:87px}
#rmhd .hotpics_prevbg,#rmhd .hotpics_nextbg{width:30px;height:35px;background:#000;position:absolute;z-index:1;top:87px;filter:alpha(opacity=60);opacity:0.6}
#rmhd div.prev,#rmhd .hotpics_prevbg{left:1px}
#rmhd div p.p{width:30px;height:35px;background-position:8px -394px}
#rmhd div.next,#rmhd .hotpics_nextbg{right:1px}
#rmhd div p.n{width:30px;height:35px;background-position:-11px -421px}
.piwda,.piwdb{font-family:Arial;width:265px;padding:5px 0 0;float:left;color:#666;line-height:21px;overflow:hidden}
.piwda a:link,.piwda a:visited,.piwdb a:link,.piwdb a:visited{font-family:"宋体"}
.piwda{height:93px;*height:90px}
.piwdb{height:98px}
.piwda img{border:1px solid #ececec;width:160px;height:80px}
.piwdb img{border:1px solid #ececec;width:104px;height:85px}
.piwda dt,.piwdb dt{height:82px;padding-right:10px;float:left;position:relative}
.piwdb dt{height:87px}
.piwda dd,.piwdb dd{word-wrap:break-word;word-break:break-all;padding-top:4px}
.parr ul{padding:5px 0 0 3px;line-height:14px;clear:both}
.parr ul.zbgd{height:51px}
.parr ul li{background-position:-31px -128px;padding-left:8px;margin-bottom:8px}
.eft{height:97px;padding:5px 0 0;position:relative}
.eft dl dt{width:104px;height:85px;display:none;border:1px solid #acd3f8;position:absolute;top:5px;left:0;z-index:1}
.eft dl dt img{width:104px;height:85px}
.eft dl dd{width:160px;float:left;padding:0 0 0 106px;margin:0;white-space:nowrap;overflow:hidden}
.eft dl dd span{width:160px;background-position:-22px -124px;float:left;height:21px;line-height:21px;text-indent:19px}
.eft dl.current dd span{width:159px;overflow:hidden;background-position:-21px -124px;background-color:#fff;height:22px;border:1px solid #acd3f8;border-left:none;margin-left:-1px;padding-left:1px;font-weight:bold;position:relative;z-index:2}
.eft dl.current dt{display:block}
.wlst{width:357px;padding:7px 0 0 15px;float:left}
.wlst ul{width:357px;overflow:hidden;font-size:14px}
.wlst li{height:25px;line-height:25px;color:#d3d3d3;white-space:nowrap;overflow:hidden}
.wlst li span{display:inline-block;padding-right:5px}
.wpst{width:361px;padding:0 14px 0 0;float:right}
.wpst dl{height:87px}
.wpst dt{width:104px;height:85px;overflow:hidden;float:left;border:1px solid #ebebeb;position:relative}
.wpst dt span,.wpst dt div,.eft dl dt div,.eft dl dt span,.piwdb dt span,.piwdb dt div,.piwda dt span,.piwda dt div,.y_zbt dt span,.y_zbt dt div{position:absolute;bottom:0;left:1px;width:104px;height:21px;line-height:21px;text-align:center}
.wpst dt span,.wpst dt div,.eft dl dt div,.eft dl dt span{_bottom:-1px;left:0}
.piwda dt span,.piwda dt div{width:160px}
.wpst dt div,.piwda dt div,.piwdb dt div,.eft dl dt div,.y_zbt dt div{background:#000;filter:alpha(opacity=60);opacity:0.6}
.wpst dt span{white-space:nowrap}
.wpst dt span a:link,.wpst dt span a:visited,.piwda dt span a:link,.piwda dt span a:visited,.piwdb dt span a:link,.piwdb dt span a:visited,.eft dl dt span a:link,.eft dl dt span a:visited{color:#fff}
.wpst img{width:104px;height:85px}
.wpst dd{width:235px;white-space:nowrap;overflow:hidden;padding-left:17px;float:left;background-position:-22px -124px;line-height:21px}
/*通用滑动门*/
.tabs1,.tabs2{width:189px;float:left;clear:both;border-left:1px solid #c4d5e6}
.tabs2{border-top:1px solid #c4d5e6}
.tabs1 .now,.tabs2 .now{background:none;border-bottom:1px solid #fff;font-weight:bold}
.tabs1 li,.tabs2 li{width:62px;height:24px;background:#fff;float:left;border-right:1px solid #c4d5e6;border-bottom:1px solid #c4d5e6;cursor:pointer;text-align:center;font-size:12px;color:#005db4;line-height:24px;text-indent:0}
.tabs1 li#twl{width:93px}
.tabs1 li#twr{width:94px}
.tabs1_box,.tabs_box{width:190px;overflow:hidden}
.tabs1_box ol{width:180px;float:left;display:none;clear:both}
.tabs2_box blockquote{width:190px;float:left;display:none;clear:both;margin:0;padding:0}
.conl ol,.conlg ol{padding:0 5px;margin-top:-7px}
.conl ol li,.conlg ol li{margin-top:10px;height:16px;line-height:140%;overflow:hidden}
.conl ol li{*margin-top:9px}
.conl ol li strong{display:block;width:105px;white-space:nowrap;overflow:hidden;font-weight:normal}
.conl ol li.s{border-bottom:1px dashed #ccc;height:94px}
.conl ol li.s strong{font-weight:bold;width:155px}
.conlg ol li.g{font-weight:bold}
.conl ol li em,.conlg ol li em,.tabs5_box div ol li em{width:14px;height:14px;line-height:14px;padding-right:3px;margin:1px 3px 0 0;text-align:center;float:left;background-position:-17px -147px;font-family:Arial;font-size:12px;color:#636363}
.conl ol li em.top,.conlg ol li em.top,.tabs5_box div ol li em.top{background-position:0 -147px;font-weight:bold;color:#fff}
.conl ol li.s p{padding:9px 9px 7px;float:left;width:220px;display:block}
.conl ol li img{border:1px solid #e5e5e5;float:left}
.conl ol li span{width:107px;float:left;line-height:18px;padding-left:10px;color:#a8aeb4}
.conl ol li span a{display:inline-block;margin:0 5px}
.conl ol li i{height:18px;width:102px;padding-left:5px;clear:both;line-height:18px;float:left;margin-bottom:4px;background-position:-12px -31px;background-position:-12px -33px\9;*line-height:20px;text-indent:21px;color:#ea0b0b;font-size:18px;font-family:"微软雅黑",Arial}
.conl ol li b{width:48px;color:#ea0b0b;text-align:right;float:right;font-weight:normal}
.conlg ol li u{width:54px;color:#666;font-style:normal;text-align:right;float:right;text-decoration:none}
.conl ul.ycar,.cong ul.ycar{padding-left:10px}
.conl ul.ycar li,.cong ul.ycar li{width:180px;white-space:nowrap;overflow:hidden;background-position:-32px -123px;text-indent:6px;line-height:22px}
.conl center img,.cong center img{border:1px solid #ebebeb;width:150px;height:150px}
.part dl{width:365px;height:126px;padding:8px 0 0 5px;border-bottom:1px dashed #ccc;float:left}
.part div dl{height:196px;width:400px;padding:0 0 10px 5px}
.part div dl.nbrb{border-bottom:none;padding-bottom:0}
.part dt{width:104px;height:112px;overflow:hidden;font-size:12px;border:1px solid #ebebeb;float:left}
.part div dt{margin:0 23px 15px 0}
.part dd{width:248px;height:16px;line-height:16px;margin-bottom:8px;float:left;padding-left:10px;white-space:nowrap;overflow:hidden}
.part div dd{width:340px;padding-left:10px;background-position:-31px -127px;margin-left:10px}
.part div dl.nbrb dd{width:187px;float:left;background:none;padding-left:0;margin-left:0}
.part img{border-bottom:1px solid #ebebeb}
.part p{width:104px;height:26px;line-height:26px;text-align:center;float:left;overflow:hidden}
.part span{display:inline-block;padding-right:5px;color:#a8aeb4;font-family:"宋体"}
.part span a{display:inline-block}
.part div dl.nbrb dd span{padding-right:0;color:#404040}
.part ul{width:360px;padding:13px 5px 0;float:left}
.part ul.ypic{width:360px;padding:0 3px;float:left;height:193px;overflow:hidden}
.part li{width:360px;height:16px;line-height:16px;margin-bottom:8px;float:left;padding-left:5px;white-space:nowrap;overflow:hidden}
.part div ul{height:65px;padding-top:12px}
.part div ul li{background-position:-21px -127px;padding-left:20px}
.part ul.ypic li{background:none;padding-left:0;margin-bottom:9px}
.part ul.ypic li p{height:15px;line-height:16px;width:60px;text-align:right;float:right}
.part ul.ypic li p a:link,.part ul.ypic li p a:visited{color:#005eb2}
.links{width:958px;float:left;border:1px solid #e3e1e1;border-top:none;background:#f3f4f5;margin-top:10px}
.links ul{width:958px;border-top:1px solid #e3e1e1;float:left;color:#404040}
.links ul li{float:left;padding-left:10px}
.links ul li.r{width:335px;float:right}
.foot{width:960px;text-align:center;color:#595959;padding:12px 0 30px 0;line-height:22px;float:left}
.foot a{padding-right:10px}
.foot a:link,.foot a:visited{text-decoration:none;color:#595959}.foot a:hover,.foot a:active{text-decoration:underline;color:#595959}
.foot span{width:950px;clear:both}
.foot ul{width:500px;margin:10px auto 0;line-height:90px}
.foot ul li object,.foot ul li img{vertical-align:middle}
.foot ul li.tu{padding:8px 0 0 10px}
.float{width:960px;height:33px;padding:4px 2px 6px;background:url(http://www.yesky.com/TLimages2009/yesky/images/index/float_bg.png) no-repeat 1px 0;display:none;position:fixed;top:0;_position: absolute;_top:expression(eval(document.documentElement.scrollTop));_left:0;z-index:999}
.f_nav{width:552px;padding-left:5px;line-height:22px;float:left}
.f_nav dl{width:69px;height:33px;float:left}
.f_nav dl.on{height:auto;width:67px;padding:1px;background:#ae4f0d}
.f_nav dt{height:33px;background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_icon.gif) no-repeat 25px -1104px;text-indent:-99em;overflow:hidden;cursor:pointer}
.f_nav dl.on dt{background:#d85c07}
.f_nav dl.on dt span{background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_icon.gif) no-repeat;width:67px;height:32px;display:block}
.f_nav dl.on dt.c span{background-position:14px -866px}
.f_nav dl.on dt.n span{background-position:15px -896px}
.f_nav dl.on dt.p span{background-position:14px -926px}
.f_nav dl.on dt.d span{background-position:15px -956px}
.f_nav dl.on dt.h span{background-position:14px -986px}
.f_nav dl.on dt.y span{background-position:14px -1016px}
.f_nav dl.on dt.u span{background-position:13px -1046px}
.f_nav dl.on dt.o span{background-position:14px -1076px}
.f_nav dd{display:none;width:65px;padding:1px;margin: 0 auto;background:#262626;border-bottom:1px solid #f67924}
.f_nav dl.on dd{display:block}
.f_nav dd p{width:65px;padding-bottom:3px;margin:0 auto;background:#323232;text-align:center}
.f_nav dd a{width:65px;height:22px;display:block}
.f_nav dd a:link,.f_nav dd a:visited{color:#f47016}
.f_nav dd a:hover,.f_nav dd a:active{background:#000}
.f_r{width:322px;float:right}
.f_sch{width:275px;padding-top:3px;float:left}
.select{width:68px;height:23px;line-height:23px;text-align:center;border:none;font-size:12px;color:#fff;background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_icon.gif) no-repeat 30px -1150px}
.fxt{width:150px;height:25px;line-height:180%;margin-left:10px;_margin-left:-9px;background:none;border:none;float:left}
.fsbmtbg{width:42px;height:24px;float:left}
.fsbmtbg.now{background-position:0 -105px}
.fsbmt{width:42px;height:24px;cursor:pointer;background-position:5px -341px;border:none;float:left}
#floatsearch{width:57px;height:25px;float:left;position:relative}
#floatsearch span{width:62px;background-position:15px -361px;color:#dfdfdf;float:left;cursor:pointer;text-indent:13px}
#floatsearch span.sel{background:url(http://www.yesky.com/TLimages2009/yesky/images/index/y_hover1001.gif) no-repeat 0 bottom}
#floatsearch ul{width:55px;padding:2px 0;background:#323232;float:left;position:absolute;left:0;top:25px;border:1px solid #262626;display:none}
#floatsearch li{color:#fff;height:23px;cursor:pointer;text-align:center}
#floatsearch li.now{background:#f08200}
.back{width:40px;height:36px;cursor:pointer;float:right;text-indent:-99em;overflow:hidden}
#backtop.now{background-position:5px -536px}
#group_site li a:hover,#group_site li a:active,.nav a:hover,.nav a:active,.f_nav dd a:hover,.f_nav dd a:active{text-decoration:none}
.y_zbt{width:261px;padding-top:7px}
.y_zbt dt{float:left;margin-left:21px;display:inline;margin-bottom:10px}
.y_zbt dd{clear:both;padding-left:11px;background-position:-28px -124px}
/*ad*/
.adv_yesky-hangqingbaokuang,.adv_yesky-dabiaotixiabutton{width:455px;height:50px;margin:4px auto 0;overflow:hidden}
.ad190{width:190px;float:left;overflow:hidden}
.ad760{width:760px;clear:both;overflow:hidden;display:inline;font-size:0;line-height:0}
.ad950{width:950px;margin:0 auto;padding:0 5px;font-size:0;line-height:0}
.ad960{width:960px;float:left;font-size:0;line-height:0}
.adv_yesky_pcnews_column,.adv_yesky_mobilenews_column,.adv_yesky_digitalnews_column,.yesky_diynews_column{float:left;margin-top:5px}
.ad275{width:275px;height:122px;margin-top:6px;position:relative;overflow:hidden}
.ad275a{height:229px;overflow:hidden}
.adv_yesky_smallcolumn{margin-top:5px}
.adv_yesky_column1_760360,.adv_yesky_column2_760360,.adv_yesky_bottom_column{margin-top:10px}
.adv_yesky_Aqu_Lbutton{margin-top:10px;height:150px;overflow:hidden}
.adv_yesky_newschoice_column{margin-top:5px;overflow:hidden}
.adv_yesky-productdhtoptext{width:160px;overflow:hidden}
.adv_yesky_liumeiti{position:absolute;left:0;top:0;z-index:9999}
.titb div.adv_yesky_Aqu_todayjdyoutext{width:360px;float:right;padding-right:10px;font-size:14px;font-family:"微软雅黑";color:#005db4}
.titb div.adv_yesky_Aqu_todayjdyoutext a:link,.adv_yesky_Aqu_todayjdyoutext a:visited{font-family:"微软雅黑"}
/*ql*/
.jyb{width:573px}
.titb font{float:right;font-size:12px;line-height:32px}
.titb font a{margin-right:5px}
.titb font a:link,.titb font a:visited,.rd span a:link,.rd span a:visited{color:#005db4}
.part div dl.ql{height:227px}
.part div dl.ql dt{margin-bottom:11px}
.part div dl.ql dd.line{width:374px;border-bottom:1px dashed #ccc;height:1px;margin-bottom:13px}
.rd span{float:right;padding-right:5px;font-size:12px}
.mb12{margin-bottom:12px}
/*win8*/
.win8_nav{width:960px;margin-top:-28px;position:relative;overflow:hidden;float:left}
.win8_tab{width:810px;padding-left:140px;overflow:hidden;position:relative;z-index:9999;font-family:"微软雅黑";font-size:15px;height:27px}
.win8_tab li{float:left;width:123px;height:23px;text-align:center;border-bottom:1px solid #dedede;border-top:3px solid #fff;color:#a1a2a6;cursor:pointer}
.win8_tab li.show{width:123px;height:23px;border-top:3px solid #ef8201;border-left:1px solid #dedede;border-right:1px solid #dedede;border-bottom:1px solid #fff;color:#202020;font-weight:bold}
.win8_ul{width:960px;border-top:1px solid #dedede;position:relative;z-index:999;margin-top:-1px}
.win8_ul li{width:960px;height:149px;overflow:hidden;display:none}
.win8_ul{overflow:hidden;height:149px}
.upbtm{overflow:hidden}
.upbtm img,.parl{position:relative}
.tabholder{position:absolute;left:8px;bottom:-8px;height:39px;width:600px;display:inline-block}
.herotab{float:left;position:relative;margin-right:10px;width:125px;height:39px}
.herotab.hover{top:-8px !important}
/*shouted特殊形式广告*/
.tabday{float:left;clear:both;border-left:1px solid #c4d5e6}
.tabday .now{background:none;border-bottom:1px solid #fff}
.tabday li{height:24px;background:#fff;float:left;border-right:1px solid #c4d5e6;border-bottom:1px solid #c4d5e6;cursor:pointer;text-align:center;font-size:16px;color:#005db4;line-height:24px;text-indent:0;display:inline;padding:0 15px;font-weight:bold}
.shoutedImg{width:445px;height:140px;margin-left:10px;margin-top:5px}
.shoutedFlash{position:absolute;top:0;left:0;width:475px;height:307px;z-index:10}
/*导航改版*/
.ynav{width:960px;height:106px;float:left;background:#fff;margin-top:10px;_overflow:hidden}
.ynav dl{float:left;background:url(http://image.yesky.com/TLimages2009/yesky/images/index/ybg.gif) repeat-x #fff;text-align:center;overflow:hidden;border-bottom:1px solid #e5e4e4}
#ysj{width:112px}
#ydn{width:149px}
#ysm{width:160px}
#yjd{width:148px}
#yyjws{width:127px}
#yqybg{width:150px}
#yyx{width:114px;border-right:none}
.ynav dt{background:url(http://image.yesky.com/TLimages2009/yesky/images/index/ynav_bg.gif) no-repeat top right;height:32px}
#yyx dt{background:none}
.ynav dt a{background:url(http://image.yesky.com/TLimages2009/yesky/images/index/gytpnav.png) no-repeat;display:block;height:32px}
#ysj dt a{background-position:center 0}
#ydn dt a{background-position:center -38px}
#ysm dt a{background-position:center -76px}
#yjd dt a{background-position:center -114px}
#yyjws dt a{background-position:center -152px}
#yqybg dt a{background-position:center -190px}
#yyx dt a{background-position:center -228px}
.ynav dd{border-right:1px solid #e5e4e4;padding-top:4px;height:69px;line-height:21px;color:#404040;font-size:12px;text-align:center;border-top:none;border-left:none}
#ysj dd{width:110px}
#ydn dd{width:147px}
#ysm dd{width:158px}
#yjd dd{width:146px}
#yyjws dd{width:125px}
#yqybg dd{width:148px}
#yyx dd{width:114px}
#ysj dd{border-left:none}
#yyx dd{border-right:none}
.ynav dd a{margin:0 3px;text-decoration:none}
.ynav dd a:link,.ynav dd a:visited{color:#404040;text-decoration:none}
.ynav dd a:hover{background:#0166b4;color:#fff}
.yzx{float:left;height:48px;line-height:48px;font-size:12px;font-family:"宋体";color:#0067b8;padding-left:14px;padding-top:3px}
.yzx strong{margin:0 3px 0 12px}
.yzx a{margin-right:6px}
.ysearch_box{width:346px;float:right;position:relative;z-index:9991;padding-top:10px}
.yfix{width:281px;height:26px}
.yfixtext{width:196px;height:24px;line-height:180%;padding:0 6px;float:left;border:1px solid #c2bbb4;border-right:none;margin-left:1px}
/*首页下载块样式*/
span.downtit{float:right;padding:1px 13px 0 0;color:#a8aeb4}
span.downtit a{display:inline-block;margin:0 4px 0 3px;text-indent:0;font-size:14px}
span.downtit a:hover,span.downtit a:active{color:#f00}
.sccx{float:right;padding-top:4px;border-top:1px solid #edf6fc}
.ydown{overflow:hidden;margin-top:10px;width:372px;height:26px;border-right:1px solid #c3d4e5}
.ydown li{margin:0;padding:0;width:123px;height:24px;border:1px solid #c3d4e5;border-right:0;color:#005cb3;text-align:center;font-size:12px;line-height:24px;cursor:pointer}
.ydown li.show{border-bottom:0;font-weight:bold}
.tabs5_box div dl{float:left;overflow:hidden;padding:15px 15px 0 5px;width:106px;height:248px;border:none}
.tabs5_box div dt{overflow:hidden;margin:0;width:104px;height:85px;border:1px solid #eaeaea}
.tabs5_box div dd{margin:0 0 20px 0;padding:0;width:104px;height:26px;border:1px solid #eaeaea;border-top:0;background:none;text-align:center;font-size:12px;line-height:26px}
.tabs5_box div dd a:link,.tabs5_box div dd a:visited{color:#656565}
.tabs5_box div ol{float:left;padding:14px 0 0 0;width:240px;overflow:hidden}
.tabs5_box div ol li{margin-bottom:10px;white-space:nowrap}
.tabs5_box div ol li em{margin:1px 5px 0 0}
.tabs5_box div ol li em.top{font-weight:normal}
.tabs5_box div ol li a{float:left}
/*新增微信*/
body{_background-attachment:fixed;_background-image:url(about:blank)}
.float_wb{position:fixed;right:20px;bottom:10px;z-index:99;background-color:#fff;margin-left:530px;width:156px;height:210px;_position:absolute; _top:expression((documentElement.scrollTop+420)+"px")}
.float_wb h2{overflow:hidden;margin:11px 0 0 27px;width:106px;height:44px;text-align:center;font-size:14px;line-height:22px;color:#111;}
.float_wb h2 strong{font-size:18px;display:block;font-family:"微软雅黑";}
.wbtp{width:156px;border-top:2px solid #0765ad}
.wbtp img{margin:6px 0 0 36px;width:83px;height:83px}
.wbtp p{margin:0 5px;padding:5px 0;width:144px;height:32px;color:#2a4182;text-align:center;line-height:16px; }
/**** inline ****/
#hotpics .hotpics_pagination ul{width:252px}
/**** inline ****/
 
.parr{position:relative} 
.tbzbx{position:absolute;width:275px;height:310px;top:0;left:0;z-index:9;background:#fff} 
.tbzbx ul{padding-top:13px} 

/**** inline ****/
.float_wb{margin:0;left:20px}