body {
  background-color:#fff;
  font-family:'trebuchet ms',verdana,arial,helvetica,helv,swiss,sans,sans-serif;
  font-size:14px;
  text-align:center;
}
#mainWrapper {
  max-width:980px;
  margin:0 auto 12px;
  text-align:left;
}
#header {
  margin-bottom:1em;
  padding-bottom:0.5em;
  border-bottom:2px solid #3563a8;
  font-weight:bold;
}
  h1 {
    height:40px;
    margin:0 0 0.5em;
    padding:0;
    background:url(/images/new_bp_logo.gif?cb=1) left center no-repeat;
    text-indent:-9999px;
  }
  #postAnAd {
    float:right;
    padding-bottom:1em;
    font-size:18px;
  }
    #postAnAd a {
      color:#3563a8;
    }
#footer {
  clear:both;
  margin-top:1em;
  padding-top:1em;
}
  #footer div {
    padding-bottom:1em;
    border-bottom:2px solid #3563a8;
    color:#3563a8;
    font-size:11px;
    font-weight:bold;
    text-align:center;
  }
  #navLinkList {
    margin:1em 0 0;
    padding:0;
    font-size:13px;
    text-align:center;
    list-style-type:none;
  }
    #navLinkList li {
      margin:0;
      padding:0 0.5em;
      display:inline;
      border-right:1px solid #000;
    }
      #navLinkList li:last-child {
        border-right:none;
      }
    #navLinkList a {
      color:#3563a8;
    }

#geoListings {
  /*position:relative;
    clear:both;
    margin:0 20px;*/
    margin:0 auto;
    margin-left:5px;
}

.newIcon {color:#c00;}
sup {line-height:1;vertical-align:baseline;}

.unitedStates {
  /*float:left;
    width:15%;
    margin-right:1.65%;*/
    display:inline-block;
    vertical-align:top;
    margin-bottom:30px;
}
.otherCountries {
  position:relative;
  top:-30px;
  /*float:left;
    width:15%;
    margin-left:1.65%;*/
    position:relative;
    top:-30px;
    display:inline-block;
    vertical-align:top;
}
a {
  color:#b59a28;
}
  a:hover {
    color:#b59a28;
    text-decoration:none;
  }
h2 {
  margin:0;
  font-size:24px;
}

h3 {
  margin:0;
  font-size:16px;
}
h3 a {
  color:#000;
  text-decoration:none;
}
  h3 a:hover {
    color:#666;
  }
ul {
  margin:0;
  padding:0;
}
li {
  padding-left:0.5em;
}
.geoUnit {
  overflow:hidden;
  margin-bottom:0.75em;
  max-width:150px;
}
b {font-weight:bold;}

#autoReplyBox {
  display: inline-block;
  background-color: #E3E9F2;
  margin-bottom: 12px;
  border-radius: 2px;
}
#autoReplyBox textarea {
  border: 1px solid #CCC;
  box-shadow: 0 0 4px #CCC;
  border-radius: 2px;
}
#autoReplyBox .editAdText,
#autoReplyBox .addImageItem,
#autoReplyBox .imageEditModule {
  padding:0 8px;
}

.h1link {
  float: none !important;
  color: #000 !important;
  cursor: default;
}
.otherCountries h2 {max-width:150px;}
.unitedStates h2 {max-width:150px;}