@charset "gb2312";body{font-size:12px;font-family:"宋体";color:#484848;}
body,html,a,img,div,form,select,input,ul,ol, ul ,li,h1,h2,h3,h3,h5,h6,dd,dl,dt,p,label,em,span{margin:0;padding:0;}
a{color:#484848;text-decoration:none;}
a:hover{color:#f00;text-decoration:underline;}
ol, ul ,li{list-style:none;}
img{border:none;}
#search,.box960_b,.middle1,.t1,.b1,.t4,.b4,.t5,.b5,.t6,.b6,.t3,.btbg,.bbbg,.footer_t,.box3{background:url(/images/n_bg1_1230.png) no-repeat;}
.top_c,.wg_t,.wg_b,.rank_b,.ng_t,.ng_b,.right_t,.right_b,.t7,.b7,.hd_t,.n_kd_t,.n_kd_c,.n_kd_c li,.n_kd_b,.cp_t,.cp_b{background:url(/images/n_bg2_4_01.png) no-repeat;}
.clear{clear:both;}
.top{width:960px;height:70px;margin:0 auto;overflow:hidden;}
.logo{width:177px;height:70px;float:left;}
.tdc{background:url(/images/btn_114_3.png) no-repeat 13px -135px;float:left;display:inline;width:72px;padding-top:47px;text-align:center;color:#666;margin:6px 0 0 6px;}
.tdc:hover{color:#666;}
.top_c{float:right;background-position:0 -67px;width:690px;height:64px;padding-top:5px;margin-right:8px;display:inline;}
.wg_btn{float:left;}
.u_ico,.d_ico{background:url(/imageyx/indexpage/n_ico1.png) no-repeat;width:13px;height:19px;float:left;overflow:hidden;cursor:pointer;display:inline;}
.u_ico{margin:12px 0 0 5px;}
.d_ico{background-position:0 -19px;margin-top:12px;}
.wg_logo{float:left;padding-left:2px;}
.wg_logo a{margin:0 8px 0 5px;float:left;}
.rlogo{float:right;width:206px;padding-right:5px;}
.rlogo a{float:left;margin-right:14px;display:inline;}
.i_nav{width:949px;height:35px;padding:13px 0 0 11px;background:url(/images/i_nav.png) no-repeat;margin:0 auto;position:relative;overflow:hidden;}
.i_nav a{float:left;width:41px;height:26px;line-height:100px;overflow:hidden;margin-left:1px;}
.i_on,.i2:hover,.i3:hover,.i4:hover,.i5:hover,.i6:hover,.i7:hover,.i8:hover,.i9:hover,.i10:hover,.i11:hover,.i12:hover,.i13:hover,.i14:hover,.i15:hover,.i16:hover,.i17:hover,.i18:hover{background:url(/images/i_nav.png) no-repeat;}
.i_on{background-position:-13px -61px;}
.i2:hover{background-position:-54px -61px;}
.i3:hover{background-position:-95px -61px;}
.i4:hover{background-position:-136px -61px;}
.i5:hover{background-position:-177px -61px;}
.i6:hover{background-position:-218px -61px;}
.i7:hover{background-position:-259px -61px;}
.i8:hover{background-position:-300px -61px;}
.i9:hover{background-position:-341px -61px;}
.i10:hover{background-position:-382px -61px;}
.i11:hover{background-position:-423px -61px;}
.i12:hover{background-position:-464px -61px;}
.i13:hover{background-position:-505px -61px;}
.i14:hover{background-position:-546px -61px;}
.i15:hover{background-position:-587px -61px;}
.i16:hover{background-position:-628px -61px;}
.i17{width:56px !important;}
.i17:hover{background-position:-669px -61px;}
.i18{width:71px !important;margin-right:15px;}
.i18:hover{background-position:-725px -61px !important;}
.i20{width:65px !important;margin-right:5px;}
.i21{width:45px !important;}
.i_hot,.i_new,.i_new1{position:absolute;height:21px;display:block;background:url(/images/i_nav.png) no-repeat;overflow:hidden;cursor:pointer;}
.i_new{width:21px;right:463px;top:0;background-position:0 -96px;}
.i_hot{width:31px;right:210px;top:0;background-position:-26px -96px;}
.i_new1{width:31px;right:136px;top:0;background-position:-764px -96px;}
.content{width:960px;margin:0 auto;overflow:hidden;}
#search {width:960px;height:33px;overflow:hidden;margin:0 auto;}
.sL{width:340px;padding:6px 0 0 35px;float:left;margin-right:2px;line-height:22px;}
.sL input{display:block;border:0px;float:left;display:inline;vertical-align:middle;height:21px;}
.sL a{margin-right:8px;color:#686868;}
.sL a:hover{color:#f00;}
.text{width:147px;line-height:21px;overflow:hidden;}
.sec_btn{background:none;width:40px;cursor:pointer;margin-right:8px;overflow:hidden;}
.sR{width:562px;padding-top:6px;float:right;height:27px;overflow:hidden;position:relative;overflow:hidden;margin-right:1px;}
#smart_input{color:#000}
.box960_c{width:958px;border-left:1px solid #62bd19;border-right:1px solid #62bd19;overflow:hidden;}
.box960_b{width:960px;height:5px;background-position:0 -65px;overflow:hidden;}
.box1{margin:0 auto;width:960px;clear:both;}
.middle1{clear:both;background-position:0 -33px;height:32px;line-height:24px;width:960px;overflow:hidden;}
.middle1 ul{float:left;}
.idesk{float:right;padding:4px 5px 0 0;}
.idesk a{background:url(/images/btn_114_3.png) no-repeat;float:left;width:132px;height:23px;margin-right:5px;line-height:100px;overflow:hidden;}
.i_a1{height:25px !important;margin-top:-2px;}
.i_a2{background-position:0 -25px !important;}
.i_a3{background-position:0 -48px !important;}
.i_a4{background-position:0 -71px !important;width:92px !important;}
.i_a5{background-position:0 -94px !important;width:88px !important;}

.middle1 li{float:left;margin:5px 0 0 7px;display:inline;}
.middle1 li span{float:left;width:25px;_width:22px;height:20px;overflow:hidden;}
.zt_ico1,.zt_ico2,.zt_ico3,.zt_ico4,.zt_ico5,.zt_ico6,.zt_ico7,.zt_ico8,.zt_ico9,.zt_ico10,.zt_ico11,.zt_ico12,.zt_ico13{background:url(/images/index_zt_ico_0903.gif) no-repeat;cursor:pointer;}
.zt_ico2{background-position:0 -20px;}.zt_ico3{background-position:0 -40px;}.zt_ico4{background-position:0 -60px;}.zt_ico5{background-position:0 -80px;}.zt_ico6{background-position:0 -100px;}.zt_ico7{background-position:0 -120px;}
.zt_ico8{background-position:0 -140px;}.zt_ico9{background-position:0 -160px;}.zt_ico10{background-position:0 -180px;}.zt_ico11{background-position:0 -201px;}.zt_ico12{background-position:-5px -222px;width:19px !important;}.zt_ico13{background-position:0 -241px;}.zt_em{float:left;padding-left:10px;}
.middle2 {line-height:26px;color:#ccc;clear:both;padding:3px 4px 0 4px;}
.middle2 p{height:28px;line-height:28px;overflow:hidden;}
.bgborder2{background:#f4fbff;}
.n_more{float:right;margin-right:8px !important;*margin-top:-28px;}
.middle2 a{margin-right:12px;}
.middle2 span{padding-left:6px;width:37px;background:url(/imageyx/indexpage/n_ico1.png) no-repeat 0 -38px;float:left;height:17px;line-height:17px;overflow:hidden;margin:4px 0 0 3px;}
.g{background:url(/imageyx/indexpage/n_ico1.png) no-repeat 0 -55px !important;}
.middle2 span a{color:#fff;margin-right:0;}
.middle4 a.eol{margin-right:0;}
.middle4{clear:both;}
.middle4 p{clear:Both;padding:2px 0px 0px 8px;height:22px;line-height:24px;overflow:hidden;}
.middle4 a{margin-right:12px;}
.bottom{background:url(/imageyx/newb1_bottom.gif) no-repeat 0px 0px;height:6px;font-size:0px;}
.scrollDiv{background:url(/imageyx/indexpage/n_ico1.png) no-repeat -42px -193px;float:right;width:240px;padding-left:15px;height:25px;text-align:left;margin-top:-28px;margin-right:39px;display:inline;overflow:hidden;}
.scrollDiv ul li{height:25px;overflow:hidden;}
.scrollDiv ul li a{color:#008000;text-decoration:underline;}
.scrollDiv ul li a:hover{color:#f00;}
.box1 .middle4 .d{background:url(/imageyx/indexpage/n_ico1.png) no-repeat 0 -241px;text-align:left;line-height:19px;padding-left:3px;width:57px;float:left;height:19px;color:#fff;font-weight:bold;margin-top:2px;overflow:hidden;}
.d1{background:#509de5}
.phr{border-bottom:#cccccc 1px dashed;}
.border{border:none;}
.red{color:#F00;}
.green{color:#008000;}
#login_autoLogin_tip{cursor:pointer;}
.box3{line-height:34px;margin:0 auto;width:960px;background-position:0 -70px;height:34px;color:#ccc;overflow:hidden;margin-bottom:5px;margin-top:5px;}
.gbtn_2{background:url(/images/n_ico1.png) no-repeat 0 -591px;width:47px;height:34px;float:right;cursor:pointer;}
.gbtn_2:hover{background-position:0 -625px}
.box3l{padding-left:105px;float:left;}
#box31l{width:93px;float:left;margin-top:6px;}
#hscontent{text-align:left;width:760px !important;white-space:nowrap;float:left;overflow:hidden;word-spacing:4px;}
#hscontent a{color:#424C34;font-size:14px;}
#hsb{float:left;width:40px;overflow:hidden;}
.div5{width:960px;margin:0 auto;height:5px;overflow:hidden;}
.hsl_n,.hsl_y,.hsr_n,.hsr_y{float:left;background:url(/images/n_ico1.png) no-repeat;width:10px;height:14px;overflow:hidden;margin:10px 4px;}
.hsl_n{background-position:0 -557px;}
.hsl_y{background-position:-10px -557px;cursor:pointer;}
.hsr_n{background-position:0 -571px;}
.hsr_y{background-position:-10px -571px;cursor:pointer;}
.color_kq{color:#996C33;line-height:26px;}
.rollgame{width:960px;margin:0 auto;}
.t1{width:960px;height:6px;background-position:0 -227px;overflow:hidden;}
.c1{width:958px;overflow:hidden;border-left:1px solid #acdb6d;border-right:1px solid #acdb6d;background:#fff;}
.b1{width:960px;height:7px;background-position:0 -236px;overflow:hidden;}
.g_left,.g_right{width:15px;height:68px;background:url(/imageyx/indexpage/n_ico1.png) no-repeat;float:left;overflow:hidden;cursor:pointer;margin-top:40px;}
.g_left{background-position:0 -105px;}
.g_right{background-position:0 -173px;float:right;}
.game_list{width:928px;float:left;overflow:hidden;height:135px;position:relative;padding-left:2px;}
.g_li{width:1848px;height:72px;}
.g_li ul{display:block;}
.g_li ul li{width:77px;height:68px;float:left;text-align:center;line-height:20px;padding-top:2px;overflow:hidden;position:relative;}
.g_li ul li img{width:66px;height:45px;display:block;margin:0 auto;}
.g_li ul li a:hover{color:#f00;}
.fd_1{width:66px;height:45px;position:relative;display:block;margin:0 auto;}
.hot,.new,.hot1,.new1,.com{background:url(/imageyx/indexpage/n_ico2_0709.png) no-repeat;cursor:pointer;width:32px;height:31px;z-index:9;position:absolute;}
.hot{background-position:0 -28px;top:0;left:15px;}
.new{background-position:0 -59px;top:0;left:15px;}
.hot1{background-position:0 -28px;top:0;left:12px;}
.new1{background-position:0 -59px;top:0;left:12px;}
.com{background-position:0 -90px;width:36px;height:36px;top:0;left:12px;}
.ulleft{float: left;width: 1848px;height: 144px;display: block;}
.box960{width:960px;padding-top:6px;clear:both;margin:0 auto;}
.leftside{width:166px;float:left;}
.web_game_li{width:166px;}
/*今日热点*/
.wg_tab{position:relative;height:34px;overflow:hidden;}
.wg_tab a{background:url(/images/n_bg2_4_01.png) no-repeat -190px 0;display:block;width:83px;height:31px;line-height:31px;text-align:center;top:3px;position:absolute;}
.wg_tab a:hover{color:#3f7500;font-weight:bold;text-decoration:none;}
.h_rd,.h_ht{background-position:-273px 0 !important;height:34px !important;line-height:34px;font-weight:bold;color:#3f7500;top:0 !important;}
.ht_btn{background-position:-448px 0 !important;left:83px !important;padding-left:8px;}
.h_rd{z-index:1;padding-right:4px;}
.h_ht{z-index:1;background-position:-361px 0 !important;right:0 !important;padding-left:15px;width:72px !important;}
/*今日热点end*/
.wg_c{clear:both;width:164px;border-left:1px solid #91d15e;border-right:1px solid #91d15e;}
.wg_b{width:166px;height:4px;background-position:0 -385px;overflow:hidden;margin-bottom:6px;}
.wgli{width:148px;height:58px;overflow:hidden;margin:0 auto;padding:9px 0 8px;}
.wgli img{width:57px;height:58px;float:left;}
.wg_tip{width:86px;height:58px;float:right;overflow:hidden;}
.wg_n{width:86px;height:20px;line-height:20px;overflow:hidden;}
.wg_n a{font-size:12px;color:#000;}
.wg_n a:hover{color:#f00;}
.wg_info{width:86px;height:36px;padding-top:2px;line-height:18px;overflow:hidden;color:#929292;}
.wg_info a{color:#929292;}
.wg_info a:hover{color:#929292;}
.wg_more{width:130px;height:16px;text-align:right;line-height:16px;margin:0 auto;padding:5px 0;}
.wg_more a{color:#008000;}
.wgli2{width:170px;height:66px;overflow:hidden;margin:0 auto;padding:7px 0 4px;}
.wgli2 img{width:80px;height:66px;float:left;}
.leftlistborder{border-bottom:none;border-left:#62bd19 1px solid;background:#fff;border-top:none;border-right:#62bd19 1px solid;width:164px;}
.more1{clear:both;width:90%;padding:1px 0 0 10px;text-align:right;height:24px;line-height:24px;*padding:4px 0 0 10px;}
.more1 a{color:#008000;font-size:12px}
.rank{width:166px;float:left;}
.rank_t{width:166px;height:33px;overflow:hidden;}
.rank_t ul{display:block;}
.rank_t ul li{width:83px;height:33px;float:left;overflow:hidden;}
.rt_a a,.rt_a a:hover,.rt_b a,.rt_a_d a,.rt_b a:hover,.rt_b_d a{width:83px;height:33px;background:url(/imageyx/indexpage/n_bg2.png) no-repeat;display:block;}
.rt_a a:hover,.rt_a_d a{background-position:0 -33px;}
.rt_b a{background-position:-83px -33px;}
.rt_b a:hover,.rt_b_d a{background-position:-83px 0;}
.rank_c{width:164px;border-left:1px solid #62bc1c;border-right:1px solid #62bc1c;padding:3px 0 2px;}
.rank_b{width:166px;height:6px;background-position:0 -383px;overflow:hidden;}
.rank_c li{background:url(/imageyx/indexpage/n_ico1.png) 0 -493px ;line-height:25px;width:100%;height:59px;overflow:hidden;float:left;}
.n95 {width:94%;margin:0 auto;padding:8px 0 5px;height:47px;overflow:hidden;}
.leftimg{float:left;width:51px;height:40px;margin:0 5px 0 3px;display:inline;}
.rightqueue {width:93px;float:right;border:1px solid #B5D2ED;margin:0;border:0;padding-top:5px;text-align:left;overflow:hidden;display:inline;}
.rightqueue p{line-height:25px;overflow:hidden;height:25px}
.leftimg img{width:52px;height:40px;}
.rank_1,.rank_2{background:url(/imageyx/indexpage/n_ico1.png) no-repeat;width:18px;height:14px;line-height:14px;text-align:center;display:block;color:#fff;font-weight:bold;}
.rank_1{background-position:0 -284px;}
.rank_1:hover{color:#fff;text-decoration:none;}
.rank_2{background-position:0 -299px;}
.rank_2:hover{color:#fff;text-decoration:none;}
.new_game{width:598px;float:left;padding-left:10px;overflow:hidden;}
.ng_t{width:598px;height:27px;background-position:0 -136px;overflow:hidden;padding-top:6px;}
.ng_c{width:596px;border-left:1px solid #bde17c;border-right:1px solid #bde17c;}
.ng_b{width:598px;height:6px;background-position:0 -170px;overflow:hidden;}
.title_1{width:562px;height:25px;overflow:hidden;margin:0 auto;padding-left:20px;line-height:25px;}
.new_game_ico{width:27px;height:11px;background:url(/images/i_nav.png) no-repeat -94px -98px;float:left;margin:6px 3px 0 0;cursor:pointer;}
.ng_l_1{float:left;}
.ng_l_1 a{font-weight:bold;color:#008000;}
.ng_l_1 a:hover{color:#366e04;}
.ng_tip{float:right;}
.ng_tip a{font-size:12px;color:#008000;}
.ng_tip a:hover{color:#366e04;text-decoration:underline;}
.ng_tip span{color:#FF6415;font-weight:bold;text-decoration:underline;}
.ng_l_2{float:right;}
.g_tip{float:left;}
.g_tip a{color:#3e7f0c;}
.more{float:right;width:54px;height:25px;line-height:25px;text-align:center;}
.more a{color:#5a5a5a;}
.ng_li{width:575px;margin:0 auto;padding-left:4px}
.ng_li ul{display:block;}
.ng_li ul li{width:95px;height:95px;float:left;text-align:center;overflow:hidden;margin-top:7px;position:relative;}
.ng_li ul li img{width:72px;height:72px;display:block;margin:0 auto;}
.ng_li ul li a{color:#616161;line-height:23px;}
.ng_li ul li a:hover{color:#f00;}
.rightside{width:176px;float:right;}
.rbox_1{width:176px;}
.rbox_2{width:176px;padding-top:8px;}
.right_t{width:176px;line-height:33px;background-position:0 -215px;height:35px;overflow:hidden;}
.right_t li a{color:green;}
.title_info{float:left;padding-left:15px;}
.more2{text-align:right;padding-right:10px;line-height:33px;float:right;}
.more2 a{color:#008000;font-size:12px;}
.right_c{width:174px;background:#fff;border-left:1px solid #a4d867;border-right:1px solid #a4d867;padding-top:8px;overflow:hidden;}
.right_b{background-position:0 -250px;height:5px;clear:both;overflow:hidden;}
.zt_tj{width:168px;margin:0 auto;}
.zt_tj ul{display:block;}
.zt_tj ul li{width:84px;height:88px;float:left;text-align:center;line-height:22px;overflow:hidden;}
.zt_tj ul li img{width:72px;height:62px;display:block;margin:0 auto;}
.x_game{width:160px;margin:0 auto;}
.x_game ul{display:block;}
.x_game ul li{width:80px;height:90px;float:left;text-align:center;line-height:22px;overflow:hidden;display:inline;margin-top:6px;}
.x_game ul li img{width:70px;height:64px;display:block;margin:0 auto;}
.n_game{padding:0 0 1px 11px;margin-top:-2px;}
.t4{width:960px;line-height:33px;background-position:0 -145px;height:33px;overflow:hidden;}
.more3{text-align:right;padding-right:10px;line-height:33px;float:right;}
.more3 a{color:#947629;font-size:12px;}
.c4{width:958px;border-left:1px solid #dcc17c;border-right:1px solid #dcc17c;padding-top:6px;background:#fff;}
.b4{width:960px;background-position:0 -178px;height:8px;overflow:hidden;}
.title_t{width:142px;height:33px;float:left;}
.title_t a{width:142px;height:33px;display:block;}
.ng_li2{width:954px;margin:0 auto;padding-top:5px;}
.ng_li2 ul{display:block;}
.ng_li2 ul li{width:100px;height:95px;float:left;text-align:center;overflow:hidden;margin:8px 0 0 5px;display:inline;position:relative;}
.ng_li2 ul li img{width:72px;height:72px;display:block;margin:0 auto;}
.ng_li2 ul li a{color:#616161;line-height:23px;}
.ng_li2 ul li a:hover{color:#f00;}
.t5{width:960px;line-height:33px;background-position:0 -186px;height:33px;overflow:hidden;}
.c5{width:958px;border-left:1px solid #aae2fc;border-right:1px solid #aae2fc;padding-top:6px;background:#fff;}
.b5{width:960px;background-position:0 -219px;height:8px;overflow:hidden;}
.more4{text-align:right;padding-right:10px;line-height:33px;float:right;}
.more4 a{color:#4298be;font-size:12px;}
.t6{width:960px;line-height:33px;background-position:0 -104px;height:33px;overflow:hidden;}
.c6{width:958px;border-left:1px solid #fcc4c6;border-right:1px solid #fcc4c6;padding-top:6px;background:#fff;}
.b6{width:960px;background-position:0 -137px;height:8px;overflow:hidden;}
.more5{text-align:right;padding-right:10px;line-height:33px;float:right;}
.more5 a{color:#d74f5f;font-size:12px;}
.ns_box_c_btn{width:950px;}
.ns_box_c_btn a{display:block;float:left;margin:2px 0px 3px 11px;background:url(/imageyx/indexpage/n_ico1.png) no-repeat 0 -313px;width:62px;height:23px;text-align:center;line-height:23px;overflow:hidden;color:#000;display:inline;}
.ns_box_c_btn a:hover{color:#f00;}
.box475_l{width:475px;float:left;}
.box475_r{width:475px;float:right;}
.t7{width:475px;height:33px;background-position:0 -176px;overflow:hidden;}
.c7{width:473px;border-left:1px solid #acdb6d;border-right:1px solid #acdb6d;padding-top:3px;}
.b7{width:475px;background-position:0 -209px;height:6px;overflow:hidden;}
.title_t1{height:33px;float:left;line-height:35px;padding-left:28px;font-weight:bold;font-size:14px;}
.title_t1 a{height:33px;color:#3a3c37;}
.title_t1 a:hover{height:33px;color:#366e04;}
.more6{width:50px;height:25px;float:right;padding:5px 6px 0 0;}
.more6 a{width:50px;height:25px;display:block;}
.ng_li3{width:471px;margin:0 auto;padding-top:2px;}
.ng_li3 ul{display:block;}
.ng_li3 ul li{width:94px;height:95px;float:left;text-align:center;overflow:hidden;margin:8px 0 0 0;display:inline;position:relative;}
.ng_li3 ul li img{width:72px;height:72px;display:block;margin:0 auto;}
.ng_li3 ul li a{color:#616161;line-height:23px;}
.ng_li3 ul li a:hover{color:#f00;}
.t3{width:960px;height:39px;background-position:0 -357px;overflow:hidden;}
.bt_game{width:100%;height:39px;}
.bt_game ul{display:block;}
.bt_game ul li{cursor:pointer;float:left;font-size:14px;text-align:center;}
.based{width:60px;height:16px;border-right:1px solid #CCC;margin-top:15px;}
.iso_1,.iso_2,.iso_3,.iso_4,.iso_5,.iso_6,.iso_7,.iso_8,.iso_9,.iso_10,.iso_11,.iso_12,.iso_13,.iso_14,.iso_15{background:url(/imageyx/indexpage/hv_bg.gif) no-repeat;width:96px;height:39px;text-indent:36px;line-height:42px;color:#468315;font-weight:bold;overflow:hidden;margin-left:-1px;}
.iso_1{margin:0;}.iso_2{background-position:0 -39px;}.iso_3{background-position:0 -78px;}.iso_4{background-position:0 -117px;}.iso_5{background-position:0 -156px;}.iso_6{background-position:0 -195px;}.iso_7{background-position:0 -234px;}
.iso_8{background-position:0 -273px;}.iso_9{background-position:0 -312px;}.iso_10{background-position:0 -351px;}.iso_11{background-position:0 -390px;}.iso_12{background-position:0 -429px;}.iso_13{background-position:0 -468px;}
.iso_14{background-position:0 -507px;}.iso_15{background-position:0 -546px;}
.fb960{margin:10px auto 0px;width:960px;clear:both;}
.btbg{width:960px;height:8px;background-position:0 -243px;overflow:hidden;}
.bcbg{width:948px;background:#f5ffe4;border-left:1px solid #acdb6d;border-right:1px solid #acdb6d;padding:0 5px;}
.bbbg{width:960px;height:8px;background-position:0 -251px;overflow:hidden;}
.now_hd{width:166px;padding-top:3px;clear:both;}
.hd_t{width:166px;height:38px;background-position:0 -347px;overflow:hidden;}
.hd_t a{width:166px;height:38px;display:block;}
.hd_c{width:164px;border-left:1px solid #62bd19;border-right:1px solid #62bd19;padding-top:11px;background:#fff;overflow:hidden;}
.hd_c ul{display:block;}
.hd_c ul li{width:151px;height:105px;margin:3px auto 0;text-align:center;overflow:hidden;line-height:24px;}
.hd_c ul li img{width:151px;height:76px;display:block;}
.hd_c ul li a{color:#616161;}
.hd_c ul li a:hover{color:#f00;}
.n_kd_t{background-position:0 -299px;width:166px;height:40px;overflow:hidden;}
.n_kd_c{background-position:-166px -305px;width:166px;padding:10px 0 5px 0;}
.n_kd_c li{background-position:0 -389px;width:141px;height:148px;text-align:center;margin:0 auto;overflow:hidden;padding-top:3px;}
.n_kd_b{background-position:0 -341px;width:166px;height:6px;overflow:hidden;margin-bottom:4px;}
.ul_1{display:block;padding-left:12px;background:#fff;display:block;}
.c2{position:relative;overflow:inherit;}
.n1_game{position:absolute;background:url(/imageyx/indexpage/n_bg2.png) no-repeat -340px -304px;width:94px;height:26px;display:block;top:-3px;left:15px;line-height:100px;overflow:hidden;}
.ul_1 li{float:left;display:inline;width:103px;padding-right:3px;height:14px;line-height:14px;margin:5px;overflow:hidden;}
.ul_1 li a:hover{color:#de5e00;}
.links{width:948px;text-align:center;line-height:24px;color:#c2e58b;}
.links a{margin:0px 3px;color:green;}
.footer{margin:10px auto;width:960px;clear:both;overflow:hidden;color:#384349;line-height:24px;}
.footer_t{width:960px;height:87px;background-position:0 -259px;overflow:hidden;color:#384349;text-align:center;padding-top:12px;position:relative;}
.rth{position:absolute;right:20px;top:13px;}
.footer_c{width:958px;background:#fff;border-left:1px solid #acdb6d;border-right:1px solid #acdb6d;overflow:hidden;}
.footer_t span{color:#ff6600;}
.about{text-align:center;width:960px;clear:both;height:100px;overflow:hidden;position:relative;}
.about a{width:100%;color:#384349;}
.about a:hover{color:#008000}
.about a.fk{background:url(/imageyx/indexpage/n_ico1.png) no-repeat -19px -347px;padding-left:15px;color:#ff7c2d;}
.about a:hover.fk{color:#ff7c2d;}
.moc{background:url(/images/btn_114_3.png) no-repeat 0 -208px;display:block;width:22px !important;height:22px;left:112px;top:24px;position:absolute;}
.a_fx{position:absolute;right:170px;top:0;}
.a_fx span{float:left;width:25px;height:20px;}
.middle4 a{float:left;}
.myhot{overflow:hidden;background:url(http://imga.4399.cn/upload_pic/2013/hot3.gif) no-repeat right top;display:block;padding-right:21px;cursor:pointer;}
.mynew{overflow:hidden;background:url(http://imga.4399.cn/upload_pic/2013/new3.gif) no-repeat right top;display:block;padding-right:21px;cursor:pointer;}
.middle4 .n_more1{float:right;margin-right:12px !important;}
.cp_t{width:598px;height:33px;background-position:0 -547px;overflow:hidden;margin-top:10px;}
.cp_c{width:596px;border-left:1px solid #AAE2FC;border-right:1px solid #AAE2FC;}
.cp_b{width:598px;height:5px;background-position:0 -581px;overflow:hidden;}
@charset "utf-8";
/* CSS Document 
Use for:	
Version:	1.0
Date:		2011/08/10
Author:		f2er
Update:     2011/08/16
*/

#popup_reg_frame, #popup_email_reg_frame {width:100%;}
.login_embed_iframe{border:none; width:100%;}
.login_embed_iframe_hor{border:none; width:100%; height:100%}
.login_horizon{height:31px; line-height:31px}
.login_vertical{width:600px;}
/*杈呭姪鏍峰紡*/
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.w256{ width:256px;}

#popup_login_div{ width:400px; margin:0 auto}
/*鍏ㄧ珯鐧诲綍*/
.login_horizon legend,.login_vertical legend,.login_module legend{ display:none}

/*login_horizon*/

.iptw1{ width:73px;}
.iptw2{ width:154px;}
.wtc{ width:352px;}
.wframe{ width:558px;}
.wframepwd{width:280px;}
.login_horizon a, .login_vertical a{vertical-align: baseline;}

/*鍏煎chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0){
}
.login_horizon a:hover,.login_vertical a:hover{color:#ff5712}

/*login_horizon*/
.login_horizon .login_hor,.login_horizon .login_btn{ float:left; margin-right:10px; display:inline;}
.login_horizon label{ color:#333}
.login_horizon .login_ipt,.login_vertical .login_ipt{ border:1px solid #ccc;/* width:144px;*/ padding:2px 3px; background:url(../images/spriteV2.png) repeat-x 0 -31px; height:22px; line-height:22px;}
.login_horizon .ptlogin_btn,.login_vertical .ptlogin_btn,.login_vertical .ptlogin_register{ background:url(../images/spriteV2.png) no-repeat 0 0; width:72px; height:31px; border:none; cursor:pointer; color:#fff; font-weight:700; margin-right:10px; font-size:14px;}
.login_horizon .ptlogin_btn{ vertical-align:top;*vertical-align:middle;}
.unilogin_box a{margin-right:10px; zoom:1}
.unilogin_box label{ margin:0 10px 0 2px; cursor:pointer;}
.login_horizon .QQ,.login_vertical .QQ{ background:url(../images/spriteV2.png) no-repeat 0 -294px; width:88px; height:24px; line-height:999;font-size:0; display:inline-block; zoom:1;*display:inline;vertical-align:middle; margin-right:5px;}
.login_vertical .ptlogin_register{ background-position:0 -57px; width:100px;}
/*login_vertical*/
.login_vertical .login_hor{ padding:3px 0 3px 120px; zoom:1; margin-bottom:5px; overflow:hidden;}
.login_vertical .login_hor label{ float:left; width:110px; margin-left:-120px; display:inline; line-height:28px;text-align:right; font-size:14px; color:#666;}
.login_vertical .login_hor span{ width:225px;  overflow:hidden; font-family:Tahoma, Arial, Helvetica, sans-serif; color:#999;/* margin:5px 0;*/padding: 1px 5px 1px 0; display:inline-block; vertical-align:middle; zoom:1;*display:inline;}
.login_vertical .login_hor .input_tip{ padding:0 5px 0 0; line-height:14px; font-size:12px;}
.login_vertical .login_hor .input_tip_ok{ background: url(../images/spriteV2.png ) no-repeat -113px -57px; color: #CCCCCC; width:25px; height:12px; overflow:hidden;}
.login_vertical .login_hor .input_tip_err{color:#000; background: url(../images/spriteV2.png ) no-repeat 5px -178px #fffed7; border: 1px solid #fdf0dd; padding: 3px 5px 3px 25px; }
.login_vertical .login_change{ margin-left:10px; color:#3a77ac;}
.login_vertical .login_tip label{ float:none; padding-left:0; margin-left:5px; font-size:12px; vertical-align:middle;}
.login_vertical .unilogin_box{ padding-left:120px; zoom:1;margin-top:20px;}
.login_vertical .unilogin_box .QQ{ margin-right:0;}
/*login_qq*/
.login_qq{ padding:10px 0 0 100px; border-top:1px dashed #b3d9f6;  margin-top:10px;}
.login_qq p{ color:#58bc00;font-weight:700; font-size:14px; margin-bottom:10px;}
.login_qq{  color:#fff; font-size:14px; font-weight:700; line-height:31px; height:31px; display:block}
/*unilogin_box*/
.login_module{vertical-align:middle;}
.login_module .hd{ background:#e9f6ff; border-bottom:1px solid #dcf0ff; height:30px; line-height:30px; padding-left:10px; color:#3a77ac; position:relative}
.login_hd{ background:url(../images/spriteV2.png) repeat-x 0 -88px;/* line-height:40px*/}
.login_module .bd{ padding:10px 5px 20px; zoom:1}
.login_close{ background:url(../images/spriteV2.png) no-repeat -100px -57px; z-index:100; cursor:pointer; width:13px; height:13px; overflow:hidden; position:absolute; right:13px; top:13px; text-indent:-999em; overflow:hidden}
.login_close:hover{ background-position:-100px -70px;}

/*login_account*/
.login_account{ overflow:hidden; zoom:1}
.login_yes,.login_no,.login_chpwd{ width:272px; font-size:14px; line-height:22px}
.login_yes,.login_no{float:left;}
.login_chpwd{ margin:0 auto;}
.login_yes{ border-right:1px dashed #c0e1f9}
.login_yes p,.login_no p, .login_chpwd p{ color:#555; padding-left:80px;}
.login_yes strong{ color:#3a77ac; padding-left:80px;}
.login_no strong,login_chpwd strong{ color:#58bc00; padding-left:80px;}
.login_account h3{ color:#3a77ac; font-size:14px; font-weight:400; margin-bottom:10px; line-height:22px;}
.login_account .login_hor{ padding-left:100px;}
.login_account .login_hor label{ width:95px; margin-left:-90px;}
.login_user,.login_ok,.login_user,.bd_user{ background:url(../images/spriteV2.png) no-repeat 0 -26px; width:80px; height:31px; text-align:center; line-height:31px; font-size:14px; font-weight:700; color:#fff; border:none; cursor:pointer}
.login_ok{ background-position:0 -57px; width:100px;}
.login_user,.bd_user{ background-position:0 -407px;width:72px; }
.login_account .unilogin_box{ padding-left:100px;}

/*login_comfirm*/
.login_comfirm{ color:#3a77ac; font-size:14px; line-height:2;}
.login_success{ background:url(../images/spriteV2.png) no-repeat 65px -331px; padding:15px 0 0 121px; line-height:22px;}
.login_success strong{ color:#58bc00}
.login_success p{ color:#999}
.login_comfirm .unilogin_box{ padding:10px 0 0 81px; zoom:1; color:#555} 
.save_btn{ margin-left:20px; font-weight:700; color:#58bc00; cursor:pointer; font-size:12px;}
.login_forget{ background:url(../images/spriteV2.png) no-repeat 0 -453px; padding-left:20px; color:#d66f00; font-size:12px; margin:10px 0 20px;}
.login_okx{ background:url(../images/spriteV2.png) no-repeat -72px 0; width:72px; height:31px; border:none; cursor:pointer; color:#3a77ac; text-align:center; font-weight:700;}
.login_captcha {width:80px; height:40px}

.loginDiv{width:510px; background:#FFF;border:2px solid #1b8dd4;position:absolute;left:50%;margin-left:-290px;z-index:201102;display:none}
#loginBg{top:0px;left:0px;position:absolute;filter: Alpha(opacity=60);opacity:0.6;background:#000; display:none;z-index:201101; zoom:1}

.loginErrox{ padding:30px 0;width:420px; text-align:left; height:100px; left:50%; top:50%; margin:0 0 0 -215px;position:absolute; background:#FFF;border:2px solid #1b8dd4;z-index:201102;display:none}
.loginErrox p{font-size:12px;}
.loginErrox a{ color:#40aef2}
/*add by f2er 11-07-12*/
.login_error{ background:url(../images/spriteV2.png) no-repeat 55px -216px; padding:5px 0 0 81px; margin-bottom:10px; line-height:20px;}
.login_error strong{ color:#ff0000;font-size:14px;}
.login_error p{ color:#999; /*margin-bottom:15px;*/}
.login_err_tip{color:#f00; margin:0 0 5px 0; height:15px;}

#login_tag {zoom:1; height:40px; z-index: 9; line-height:40px;}
.login_hd a {color: #326FA8;text-decoration: none;}

#login_tag li, #login_tag li a, .login_new .top2, .login_new p .btn, .login_new p input.reg{ color:#333333; font-weight:700}
#login_tag li { float: left;position: relative; top:1px;}
#login_tag li a {float:left;color: #333333;font-size: 14px;height: 40px;line-height: 40px;overflow: hidden; padding: 0 14px;}
#login_tag li.selectTag { border-style:solid; border-color:#dae4ed; border-width:0 1px; background:url(../images/spriteV2.png) repeat-x 0 -128px; }
#login_tag li.selectTag a {color:#1b8dd4}
.login_new {border-top: 1px solid #d1e0ed;overflow: hidden;padding: 0; width: 100%;}
ul, ol, li, dl, dt, dd, option, td, th {border: 0 none;list-style: none outside none; margin: 0; padding: 0;}

/*纭畾锛屼繚瀛樻闈�*/
.login_bc,.login_desk{ background:url(../images/spriteV2.png) no-repeat -72px 0; width:72px; height:31px; border:none; cursor:pointer;}
.login_desk{ background:url(../images/spriteV2.png) no-repeat -72px -407px; width:76px; margin-left:10px;}
.login_yzmcge{ font-family:Arial, Helvetica, sans-serif; color:#999;margin:5px 0;}

.login_vertical .login_hor .login_required{ color:#f00; margin-left:5px;}

/* 10/14 */
.loginDiv{ border:4px solid #1c8ed3}
#popup_login_div #login_toregister{ display:none}
.login_hd{ background:url("../images/spriteV1013.png") repeat-x 0 -26px; padding-left:10px; zoom:1}
#login_tag li,#login_tag li a,#login_tag li.selectTag,#login_tag li.selectTag a{background-image:url("../images/spriteV1013.png"); background-repeat:no-repeat;}
#login_tag li{ float:left; background-position:left -66px; height:36px; padding-left:20px; margin-right:5px; display:inline;}
#login_tag li a{ background-position:right -66px;height:36px; line-height:36px; color:#fff; padding:0 20px 0 0}
#login_tag li.selectTag{ background-position:left -102px; border:none;}
#login_tag li.selectTag a{ background-position:right -102px; color:#1c8ed3}
#login_tag li{ top:4px;}
.login_new{ border-top:none;}
.login_close{ background:url("../images/spriteV1013.png") no-repeat 0 0;}
.login_close:hover{ background-position:0 -13px;}

.login_horizon #lf_label_qqlogin,.login_horizon #lf_label_weibologin,.login_horizon #lf_label_taobaologin,.login_vertical #hr_label_qqlogin i,.login_vertical #hr_label_weibologin i,.login_vertical #hr_label_taobaologin i{background-image:url(../images/login_wt.png);background-repeat:no-repeat;width:18px; height:18px;display:inline-block; zoom:1;*display:inline;vertical-align:-5px; margin-right:5px;/*border:1px solid #ddd;*/}
.login_horizon #lf_label_qqlogin,.login_horizon #lf_label_weibologin,.login_horizon #lf_label_taobaologin{ vertical-align:middle;border:1px solid #ddd;}
.login_horizon #lf_label_qqlogin,.login_vertical #hr_label_qqlogin i{ background-position:0 0}
.login_horizon #lf_label_weibologin,.login_vertical #hr_label_weibologin i{ background-position:0 -18px}
.login_horizon #lf_label_taobaologin,.login_vertical #hr_label_taobaologin i{ background-position:0 -36px;}
.login_vertical #hr_label_qqlogin ,.login_vertical #hr_label_weibologin,.login_vertical #hr_label_taobaologin{ display:inline-block;zoom:1;*display:inline;padding:5px 0}

/* CSS reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
del, ins { text-decoration: none }
fieldset, img { border: 0; }
body,button,input,select,textarea{font:12px tahoma,arial,\5b8b\4f53;}
input,select,img{ vertical-align:middle}
input,select{ outline:none}
ul,ol{ list-style:none }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address,cite,dfn,em,var{font-style:normal;}

/* global */
body{ font:12px "SimSun"; -webkit-text-size-adjust:none; }
.wrapper{ margin:0 auto;text-align:left;width:1000px; }
td{ font-size:12px; line-height:160%;}
.left{ float:left }
.right{ float:right }
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.txthide{ text-indent:-999em;overflow:hidden; line-height:0; font-size:0}
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.clear{ clear:both }
.loginDiv{width:530px}
form{ display:block;}
fieldset{border:0px;}
label{float:left;display:inline; padding-right:2px;}
#login_form{background:url(http://www.4399.com/images/i2012/n_log_ico.png) no-repeat 0 2px; padding-left:20px;overflow:hidden;}
.login_horizon .ptlogin_btn{ background:url(http://www.4399.com/images/i2012/n_log_btn.png) no-repeat; width:41px; height:23px; border:0px;float:left; vertical-align:middle; overflow:hidden; cursor:pointer; margin-left:2px;}
#login_toregister {display:inline;}
#login_toregister{overflow:hidden; margin-left:5px; color:#373737;}
#login_toregister:hover{ color:#ff5712}
.right{ float:left;}
.login_horizon .login_hor, .login_horizon .login_btn{
	margin-right:0px;white-space:nowrap;height:16px;}
.login_horizon .login_ipt{
	width:129px; height:23px; line-height:23px; display:block; float:left;text-indent:5px; background:url(http://www.4399.com/images/n_inp_bg.gif) no-repeat #fff;vertical-align:middle; border:0px;overflow:hidden; margin-right:4px; _margin-right:2px; color:#000;}
.login_horizon .ptlogin_btn,
.login_vertical .ptlogin_btn,
.login_vertical .ptlogin_register{ margin-right:70px;}
.login_horizon label{ color:#686868;}
#login_autoLogin_tip{
	font-weight:normal; float:none; display:inline;
	line-height:22px;*line-height:26px; color:#686868;
}
.iptw1{ width:103px;}

.login_horizon{line-height:22px;background:url(http://www.4399.com/images/i2012/log_in.gif) repeat-x 0 -6px;width:562px}
.log_in{font-weight:bold; height:33px; line-height:33px; margin-top:-5px; text-align:right; width:552px;background:url(http://www.4399.com/images/i2012/log_in.gif) repeat-x;}
.log_in span a{text-decoration: none;}
.log_in span{ color:#f60;text-decoration:none;}
.log_in a {color:#686868; text-decoration:underline;}
.log_in a:hover { color:#008000; text-decoration:underline;}
.unilogin_box a{ margin-right:0px;}
.login_horizon a, .login_vertical a{ /*vertical-align:baseline;*/ color:#373737;}
#login_autoLogin{
	display:block; float:left; width:14px; height:14px;
	*margin-right:3px;_margin-right:0px; overflow:hidden; margin-top:5px;
}
#lf_label_simple_username {display:inline;}
#lf_label_username {display:none;}
#login_forgetPasswd{margin-left:5px;}
#login_forgetPasswd { color:#996c33;}
.login_horizon .login_ipt, .login_vertical .login_ipt{ padding:0;}
.login_tip{ position:absolute; right:100px;_right:95px;}
#popup_login_frame {width:100%;}

#embed_login_div{ overflow:hidden;zoom:1;color:#373737;}
#embed_login_div .login_party{ font-weight:700; /*overflow:hidden;*/zoom:1;cursor:pointer;color:#1278c0; }
#embed_login_div .login_party a{ float:none;/*margin-top:-3px;*/}
#embed_login_div .login_party:hover{ color:#ff5712;text-decoration:underline;}
#embed_login_div .login_nick{ margin-right:5px;font-weight:700;}
#embed_login_div .login_prev{ font-size:0}
#embed_login_div .login_prev a{ font-size:12px;margin:0 0 0 5px;font-weight:700}

#context_box {float: right;padding:5px 10px 5px 0;height:16px;line-height:16px;}
.login_horizon #lf_label_qqlogin,
.login_horizon #lf_label_weibologin,
.login_horizon #lf_label_taobaologin {
	border: 0px solid #DDDDDD; vertical-align: -5px;*vertical-align:-3px;_vertical-align: -3px;
}

#embed_login_div .login_lnk {color:#1278c0;}
#embed_login_div .login_lnk:hover{ color:#ff5712;text-decoration:underline;}
/**** inline ****/
#smart_pop div a{color:#0066ff;cursor:hand; display:block; line-height:22px; height:22px;}#smart_pop{display:block;overflow:hidden;border:1px solid #6699cc;z-index:9999;border-top:0;position:absolute;background-color:#fff; padding-top:5px;}#smart_arrow{position:absolute;width:12x;padding:0 12px 0 0}#smart_arrow .hide{position: absolute;padding:0 12px 0 0;width: 12x;}#smart_arrow .show {position:absolute;padding:0 12px 0 0;width:12x;}#smart_pop div{height:22px;overflow:hidden;}#smart_pop div.mouseover {background:#d8ecff;}#smart_pop div.mouseout {background:#ffffff;}#smart_pop div.left1{width:150px;height:22px;padding:0px 0 0 5px;float:left;line-height:22px;color:#666;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}#smart_pop div.left1 span.pic {width:12px;padding-left:10px;background:url("/images/xinghao.gif") 3px 1px no-repeat;}#smart_pop div.right1{height:17px;padding:5px 3px 0 0;line-height:14px;text-align:right;float:right;color:#666;}#smart_pop div.font_blue {color:#0066ff;cursor:hand;}#smart_pop div.close {color:#004bca;line-height:14px;text-decoration:underline;background:#edf7ff;height:17px;text-align:right;padding:5px 4px 0 0;cursor:pointer;}