#lang_sel {height:32px; position:relative; font-family: verdana, arial, sans-serif; display: inline-block;}
/* hack to correct IE5.5 faulty box model */
* html #lang_sel {width:12em; w\idth:12em;}
/* remove all the bullets, borders and padding from the default list styling */
#lang_sel ul, #lang_sel li {padding:0 !important; margin:0 !important; list-style-type:none !important;}
#lang_sel li:before{content:'' !important;}
#lang_sel ul ul {width:149px;}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#lang_sel li {float:left;width:149px;position:relative;}
/* style the links for the top level */
#lang_sel a, #lang_sel a:visited {display:block;font-size:11px;text-decoration:none !important; color:#444444; border:1px solid #cdcdcd; background:#fff; padding-left:10px; line-height:24px;}
/* a hack so that IE5.5 faulty box model is corrected */
* html #lang_sel a, * html #lang_sel a:visited {width:149px; w\idth:138px;}

/* hide the sub levels and give them a positon absolute so that they take up no room */
#lang_sel ul ul {visibility:hidden;position:absolute;height:0;top:25px;left:0; width:149px;border-top:1px solid #cdcdcd;}
/* another hack for IE5.5 */
* html #lang_sel ul ul {top:18px;t\op:19px;}

/* style the table so that it takes no ppart in the layout - required for IE to work */
#lang_sel table {position:absolute; top:0; left:0; border-collapse:collapse;;}

/* style the second level links */
#lang_sel ul ul a, #lang_sel ul ul a:visited {background:#ffffff; color:#444444; height:auto; line-height:1em; padding:5px 10px;border-width:0 1px 1px 1px;}
/* yet another hack for IE5.5 */
* html #lang_sel ul ul a, * html #lang_sel ul ul a:visited {width:150px;w\idth:128px;}

/* style the top level hover */
#lang_sel a:hover, #lang_sel ul ul a:hover{color:#000; background:#eee;}
#lang_sel :hover > a, #lang_sel ul ul :hover > a {color:#000; background:#eee;}

#lang_sel a.lang_sel_sel{
    background:url(../img/nav-arrow-down.png) #fff right no-repeat;
    color:#444;
}
#lang_sel a.lang_sel_sel:hover{
    text-decoration: none;
    color:#000;
}

/* make the second level visible when hover on first level list OR link */
#lang_sel ul li:hover ul,
#lang_sel ul a:hover ul{visibility:visible; }

#lang_sel img.iclflag{width:18px;height:12px;position: relative; top: 1px;}





#lang_sel_footer {
  margin: 0;
  padding: 7px;
  text-align: center;
  border: 1px solid #fff;
  font: 11px Verdana, sans-serif;
  min-height: 15px;
  clear: both;
  background-color: #fff;
  border: 1px solid #cdcdcd;
}

#lang_sel_footer ul {
  list-style: none;
  margin:0;
  padding:0;
}

#lang_sel_footer ul li img {
  position: relative;
  top: 1px;
  width: 18px;
  height: 12px;
}

#lang_sel_footer ul li {
  display:inline;
  margin:0 1px 0 0;
  padding:0;
  white-space: nowrap;
  line-height: 25px;
}

#lang_sel_footer ul li a, #lang_sel_footer ul li a:visited {
  text-decoration: none;
  padding: 5px 10px;
}

#lang_sel_footer ul li a:hover, #lang_sel_footer ul li a:active {}

#wpml_credit_footer { width: 100%; margin: 10px 0; padding: 0; text-align: center; font-size: 11px; }





#lang_sel_list {height:32px; position:relative; z-index:99;  font-family: verdana, arial, sans-serif;}
#lang_sel_list.lang_sel_list_vertical{width:149px;}

/* hack to correct IE5.5 faulty box model */
* html #lang_sel_list {width:12em; w\idth:12em;}
/* remove all the bullets, borders and padding from the default list styling */
#lang_sel_list ul, #lang_sel_list li {padding:0 !important; margin:0 !important; list-style-type:none !important;}
#lang_sel_list li:before{content:'' !important;}
#lang_sel_list ul.lang_sel_list_vertical {width:149px;}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#lang_sel_list li {float:left;position:relative;}
#lang_sel_list.lang_sel_list_vertical li {width:149px;}

/* style the links for the top level */
#lang_sel_list a, #lang_sel_list a:visited {display:block;font-size:11px;text-decoration:none !important; color:#444444; background:#fff;  line-height:18px;padding-left:5px;}
#lang_sel_list.lang_sel_list_vertical a, #lang_sel_list.lang_sel_list_vertical a:visited{border:1px solid #cdcdcd; border-width:0 1px 1px 1px;padding-left:10px;}


/* a hack so that IE5.5 faulty box model is corrected */
* html #lang_sel_list a, * html #lang_sel_list a:visited {width:149px; w\idth:138px;}

/* hide the sub levels and give them a positon absolute so that they take up no room */
#lang_sel_list.lang_sel_list_vertical ul {/*visibility:hidden;position:absolute;*/height:0;top:19px;left:0; border-top:1px solid #cdcdcd;}


/* another hack for IE5.5 */
* html #lang_sel_list ul {top:18px;t\op:19px;}

/* style the table so that it takes no ppart in the layout - required for IE to work */
#lang_sel_list table {position:absolute; top:0; left:0; border-collapse:collapse;}

/* style the second level links */
#lang_sel_list ul a, #lang_sel_list_list ul a:visited {background:#ffffff; color:#444444; height:auto; line-height:1em;}
#lang_sel_list.lang_sel_list_vertical ul a, #lang_sel_list_list ul a:visited {padding:3px 10px;}

/* yet another hack for IE5.5 */
* html #lang_sel_list ul a, * html #lang_sel_list ul a:visited {width:150px;w\idth:128px;}

#lang_sel_list a.lang_sel_sel{
    background-image: none;
    color:#444;
}
#lang_sel_list a.lang_sel_sel:hover{
    text-decoration: none;
    color:#000;
}

/* make the second level visible when hover on first level list OR link */
#lang_sel_list ul li:hover ul,
#lang_sel_list ul a:hover ul{visibility:visible; }

#lang_sel_list img.iclflag{width:18px;height:12px;position: relative; top: 1px;}

#lang_sel.icl_rtl{
    text-align:right;
    direction: rtl;
}
#lang_sel.icl_rtl .lang_sel_sel{
    padding-right:14px;
}

/* reset menu img definitions */
.menu-item-language img.iclflag{height:12px !important; width:18px !important; margin-bottom:0 !important; margin-right:4px;}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(https://themes.googleusercontent.com/static/fonts/ubuntu/v5/_aijTyevf54tkVDLy-dlnKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(https://themes.googleusercontent.com/static/fonts/ubuntu/v5/2Q-AW1e_taO6pHwMXcXW5w.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://themes.googleusercontent.com/static/fonts/oswald/v8/Y_TKV6o8WovbUd3m_X9aAA.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(https://themes.googleusercontent.com/static/fonts/oswald/v8/bH7276GfdCjMjApa_dkG6aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
/*
 *
 * NORMALIZE
 *
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  background: #fff;
  color: #000;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 *
 * MIXINS
 *
 */
/*
 *
 * FONTS
 *
 */
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../fonts/proximanova-semibold-webfont.eot');
  src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-semibold-webfont.woff') format('woff'), url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Oswald', sans-serif;
*/
/*
 *
 * ELEMENTS
 *
 */
html,
body {
  font: normal 16px/22px 'Proxima Nova Regular', sans-serif;
  color: #fff;
  background: #000;
}
a {
  color: #0251c7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #116dcf;
  text-decoration: underline;
}
a.button {
  display: inline-block;
  padding: 10px 55px;
  font: 400 45px/55px 'Oswald', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
  color: #fff;
  background: #1aab1c;
  border-bottom: 2px solid #138514;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
a.smallbutton {
  padding: 5px 15px;
  font: 400 15px/20px 'Oswald', sans-serif;
}
h1 {
  margin: 0;
}
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1em 0 0 0;
}
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child,
ul:first-child,
ol:first-child {
  margin-top: 0;
}
ul.simple,
ol.simple {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.inline li,
ol.inline li {
  display: inline-block;
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  margin: 1em 0;
  height: 1px;
  background: url(../images/hr.png) repeat-x left top;
  border: none;
}
hr.high {
  margin: 3em 0;
}
iframe {
  max-width: 100%;
}
/*
 *
 * COMMON CLASSES
 *
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.wrap {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5%;
}
.col1-3,
.col1-2,
.col2-3 {
  float: left;
}
.col1-3:first-child,
.col1-2:first-child,
.col2-3:first-child {
  margin-left: 0 !important;
}
.col1-3 {
  width: 31%;
  margin-left: 7%;
}
.col1-2 {
  width: 46%;
  margin-left: 8%;
}
.col2-3 {
  width: 62%;
  margin-left: 7%;
}
.cols3 .col1-3 {
  width: 30%;
  margin-left: 5%;
}
.required {
  color: #ef3a41;
}
.pagination {
  margin-top: 2em !important;
}
.pagination__prev {
  float: left;
}
.pagination__next {
  float: right;
}
.alignleft {
  float: left;
  margin: 0 1em 0.5em 0;
}
.alignright {
  float: right;
  margin: 0 0 0.5em 1em;
}
.aligncenter {
  display: block;
  margin: 1em auto;
}
img.attachment-full {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
 *
 * FORMS
 *
 */
.form fieldset {
  margin: 30px 0 0 0;
  padding: 30px 15px 0 15px;
  border: none;
  border-top: 1px solid #707070;
}
.form fieldset:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.form fieldset .col1-2 {
  width: 48%;
  margin-left: 4%;
}
.form input[type=text],
.form input[type=password],
.form input[type=email],
.form input[type=tel],
.form textarea {
  padding: 15px 2%;
  background: #e5e4e4;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.form .inputs input[type=text],
.form .inputs input[type=password],
.form .inputs input[type=email],
.form .inputs input[type=tel] {
  float: left;
  width: 25%;
  margin: 0 0 0 3%;
}
.form .inputs input[type=text]:first-child,
.form .inputs input[type=password]:first-child,
.form .inputs input[type=email]:first-child,
.form .inputs input[type=tel]:first-child {
  margin-left: 0;
}
.form .inputs .wpcf7-form-control-wrap {
  float: left;
  width: 29%;
  margin: 0 0 0 3%;
}
.form .inputs .wpcf7-form-control-wrap:first-child {
  margin-left: 0;
}
.form .inputs .wpcf7-form-control-wrap input[type=text],
.form .inputs .wpcf7-form-control-wrap input[type=password],
.form .inputs .wpcf7-form-control-wrap input[type=email],
.form .inputs .wpcf7-form-control-wrap input[type=tel] {
  float: none;
  width: 96%;
}
.form .inputs .wpcf7-not-valid {
  background-color: #faa;
}
.form .inputs .wpcf7-not-valid-tip {
  display: none;
}
.form select::-ms-expand {
  display: none;
  /* hide default arrow in IE10 */
}
.form select {
  width: 48%;
  /* Set width. Do not set height else it will fail in IE8-10. Use padding for height. */
  margin: 0;
  padding: 15px 2%;
  text-indent: 0.01px;
  text-overflow: "";
  color: #707070;
  background: url('../images/dropdown2.png') no-repeat 95% 50% #e5e4e4;
  /* add your own arrow image */
  *background-image: none;
  /* turn bg image for IE7 */
  cursor: pointer;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.form select option {
  background: #fff;
  /* style the dropdown bg color */
}
.form p {
  margin: 1.75em 0 0 0;
}
.form p.submit {
  text-align: right;
}
.form p.submit input[type=submit] {
  display: inline-block;
  padding: 3px 80px;
  font: 400 35px/45px 'Oswald', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
  color: #fff;
  background: #1aab1c;
  border: 2px solid #138514;
  border-width: 0 0 2px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.form p.submit--small input[type=submit] {
  padding: 3px 30px;
  font: 400 17px/26px 'Oswald', sans-serif;
}
.form--contact,
.wpcf7-form {
  width: 80%;
  margin: 1em 0 0 0;
}
.form--contact input[type=text],
.wpcf7-form input[type=text],
.form--contact input[type=password],
.wpcf7-form input[type=password],
.form--contact input[type=email],
.wpcf7-form input[type=email],
.form--contact input[type=tel],
.wpcf7-form input[type=tel],
.form--contact textarea,
.wpcf7-form textarea {
  width: 57%;
}
.form--contact textarea,
.wpcf7-form textarea {
  width: 96%;
  height: 190px;
}
.form--contact .wpcf7-validation-errors,
.wpcf7-form .wpcf7-validation-errors,
.form--contact .wpcf7-not-valid-tip,
.wpcf7-form .wpcf7-not-valid-tip {
  color: red;
}
.form--contact .wpcf7-mail-sent-ok,
.wpcf7-form .wpcf7-mail-sent-ok {
  color: green;
}
.apply-now__form .form {
  width: 100%;
}
.apply-now__form .form input[type=text],
.apply-now__form .form input[type=password],
.apply-now__form .form input[type=email],
.apply-now__form .form input[type=tel],
.apply-now__form .form textarea {
  width: 96%;
}
.apply-now__form .form p.submit {
  text-align: center;
}
.form--modal input[type=text],
.form--modal input[type=password],
.form--modal input[type=email],
.form--modal input[type=tel],
.form--modal textarea {
  width: 90%;
  padding: 15px 5%;
}
.form--modal textarea {
  width: 90%;
  height: 106px;
}
.form--modal p {
  width: 49%;
  margin: 20px auto 0 auto;
}
.form--modal p:first-child {
  margin-top: 0;
}
.form--modal p.wide {
  width: auto;
  padding: 0 15px;
}
.form--modal p.terms {
  font-size: 14px;
  line-height: 19px;
}
.form--modal fieldset p.wide {
  padding: 0;
}
.form--modal .col1-2 p {
  width: 100%;
}
/*
 *
 * HEADER
 *
 */
.page-top {
  color: #fff;
  background: #333;
}
.page-top a {
  color: #fefeff;
  text-decoration: none;
}
.page-top a:hover,
.page-top a.active {
  color: #27c329;
}
.page-top__bar {
  font: 16px/22px 'Proxima Nova Regular', sans-serif;
  padding: 6px 0;
  background: #212121;
}
.page-top__bar__links {
  float: right;
}
.page-top__bar__links li {
  margin-left: 30px;
}
.page-top__bar__links li.has-sub-menu {
  padding-right: 17px;
  background: url(../images/dropdown.png) no-repeat right center;
}
.page-top__bar__links li a.button {
  padding: 5px 15px;
  font: 400 15px/20px 'Oswald', sans-serif;
  color: #fff;
}
.page-top__main {
  position: relative;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  background: #333;
  background: rgba(51, 51, 51, 0.9);
}
.page_top__main--fixed {
  position: fixed;
  top: 0;
  z-index: 900;
  padding: 10px 0;
}
.page-top__main__logo {
  overflow: hidden;
  float: left;
  display: block;
  width: 230px;
  height: 84px;
  text-indent: -999em;
  background: url(../images/exoclick.png) no-repeat 0 0;
}
.page_top__main--fixed .page-top__main__logo {
  height: 62px;
  background-position: 0 -100px;
}
ul.page-top__main__menu {
  display: block;
  float: right;
  margin-top: 30px;
}
ul.page-top__main__menu li {
  margin-left: 30px;
}
ul.sub-menu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 5px 0 0 0;
  white-space: nowrap;
  background: transparent url(../images/submenu.png) no-repeat center top;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  z-index: 910;
}
ul.sub-menu li {
  display: block;
  margin-left: 0;
  padding: 2px 20px;
  background: #2e901f;
}
ul.sub-menu li:first-child {
  padding-top: 12px;
}
ul.sub-menu li:last-child {
  padding-bottom: 12px;
}
ul.sub-menu li a {
  display: block;
  color: #fefeff;
}
ul.sub-menu li a:hover,
ul.sub-menu li a.active {
  color: #f0f0f2;
}
li:hover ul.sub-menu {
  display: block !important;
}
.page-top__main__menu__pull {
  display: none;
}
/*
 *
 * SLIDER
 *
 */
.slider {
  color: #fff;
  background: #2a80d7;
}
.slider__slides > li {
  padding: 0;
}
.slider__slides > li .wrap {
  position: relative;
  padding: 40px 0 70px 0;
}
.slider__slides__title {
  font: 400 50px/55px 'Oswald', sans-serif;
  color: #000;
}
.slider__slides__title strong {
  font: 700 70px/80px 'Oswald', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  color: #fff;
}
.slider__slides__text {
  width: 70%;
  padding: 1% 2%;
  margin-top: 40px;
  font: 400 16px/22px 'Ubuntu', sans-serif;
  color: #141a23;
  background: rgba(244, 244, 246, 0.4);
}
.slider__slides__text ul {
  padding-left: 20px;
  list-style-type: disc;
}
.slider__slides__image {
  position: absolute;
  bottom: 0;
  right: 0;
}
.slider__slides__image--2 {
  bottom: 50px;
}
.slider__slides__fullimage {
  width: 100%;
}
.slider__slides__video {
  position: relative;
  left: 20%;
  z-index: 100;
  max-width: 60%;
  margin: 0 auto;
}
.slider__slides__text--video {
  position: absolute;
  left: 0;
  top: 160px;
  z-index: 90;
}
/*
 *
 * MAIN
 *
 *
 */
.main {
  padding: 45px 0 60px 0;
  color: #141a23;
  background: #ffffff url(../images/bg.png) repeat left top;
}
.main .wrap--breadcrumbs {
  margin-top: -45px;
  margin-bottom: 45px;
}
.main .breadcrumbs {
  display: inline-block;
  padding: 5px 18px;
  font-size: 14px;
  color: #888;
  background: rgba(192, 192, 192, 0.3);
}
.main .breadcrumbs .delimiter {
  margin: 0 5px;
}
.main .breadcrumbs a {
  color: #888;
  text-decoration: none;
}
.main .breadcrumbs a:hover {
  text-decoration: underline;
}
.main h1 {
  font: 300 40px/56px 'Ubuntu', sans-serif;
}
.main h1.icon {
  padding-left: 48px;
}
.main h1.icon__letter {
  background: url(../images/letter.png) no-repeat left center;
}
.main h2 {
  position: relative;
  top: -5px;
  margin-bottom: 5px;
  font: 400 22px/30px 'Ubuntu', sans-serif;
}
.main .col1-2 h3 {
  margin-top: 3em;
}
.main .col1-2 h3:first-child {
  margin-top: 0;
}
.main ul {
  padding-left: 20px;
}
body.home h1 {
  font: 300 30px/42px 'Ubuntu', sans-serif;
}
.col1-3 h1 {
  font: 300 30px/42px 'Ubuntu', sans-serif;
}
/*
 *
 * CTA
 *
 */
.cta {
  margin-bottom: 65px;
  text-align: center;
}
.cta h1 strong {
  padding-bottom: 3px;
  font-size: 40px;
  font-weight: 300;
  color: #1aab1c;
  /* background: url(../images/underline.png) no-repeat center bottom; */
}
.cta__links {
  position: relative;
  margin-top: 40px;
}
a.button--cta__links__button {
  padding-right: 25px;
}
a.button--cta__links__button:after {
  content: " ";
  display: inline-block;
  width: 35px;
  height: 41px;
  margin-left: 45px;
  background: #1aab1c url(../images/button.png) no-repeat left top;
}
.cta__links__help {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 190px;
  font: 400 22px/20px 'Ubuntu', sans-serif;
}
/*
 *
 * LIST OF EXCERPTS
 *
 */
.excerpts {
  margin-top: 60px;
}
.excerpts:first-child {
  margin-top: 0;
}
.excerpts h1 strong {
  font-weight: 300;
  text-transform: uppercase;
  color: #1aab1c;
}
.excerpts ul.simple > li {
  margin-top: 30px;
}
.excerpts p {
  margin-top: 0;
}
.excerpts__date {
  float: left;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  background: #000;
  opacity: 0.3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.excerpts__date__month {
  display: block;
  font: 400 12px/16px 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
.excerpts__date__day {
  font: 400 22px/20px 'Ubuntu', sans-serif;
}
.excerpts__article {
  margin-left: 60px;
}
.excerpts__article__more {
  text-align: right;
}
/*
 *
 * PEREX
 *
 */
.perex {
  margin-bottom: 50px;
  text-align: center;
}
.perex p {
  width: 75%;
  margin: 1em auto 0 auto;
}
.perex img {
  margin-top: 20px;
}
.perex--left {
  text-align: left;
}
.perex--left p {
  width: 100%;
}
/*
 *
 * FEATURES
 *
 */
.features {
  margin: 40px 0 50px 0;
}
.features:last-child {
  margin-bottom: 0;
}
.features h1 {
  color: #359825;
  text-align: center;
}
.features__row .col1-2 {
  margin-top: 40px;
}
.features__row:first-child .col1-2 {
  margin-top: 0;
}
.features__row h2 {
  font: 400 30px/42px 'Oswald', sans-serif;
  text-align: center;
  color: #141a23;
}
.features__row h2.icon:before {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto 20px auto;
  background: url(../images/icons.png) no-repeat;
}
.features__row h2.icon--iphone:before {
  background-position: 0 0;
}
.features__row h2.icon--clock:before {
  background-position: -32px 0;
}
.features__row h2.icon--chat:before {
  background-position: -64px 0;
}
.features__row h2.icon--tag:before {
  background-position: -96px 0;
}
.features__row h2.icon--read:before {
  background-position: -128px 0;
}
.features__row h2.icon--check:before {
  background-position: -160px 0;
}
.features__row h2.icon--arrow:before {
  background-position: -192px 0;
}
.features__row h2.icon--cogs:before {
  background-position: -224px 0;
}
.features__row h2.icon--lock:before {
  background-position: -256px 0;
}
.features__row h2.icon--lightbulb:before {
  background-position: -288px 0;
}
.features__row h2.icon--clock2:before {
  background-position: -320px 0;
}
.features__row h2.icon--bricks:before {
  background-position: -352px 0;
}
.features__row h2.icon--list:before {
  background-position: -384px 0;
}
.features__row h2.icon--bars:before {
  background-position: -416px 0;
}
.features__row h2.icon--target:before {
  background-position: -448px 0;
}
.features__row h2.icon--earth:before {
  background-position: -480px 0;
}
.features__row h2.icon--dollar:before {
  background-position: -512px 0;
}
.features__row h2.icon--spot:before {
  background-position: -544px 0;
}
.features__row h2.icon--window:before {
  background-position: -576px 0;
}
.features__row h2.icon--matrix:before {
  background-position: -608px 0;
}
.features__row h2.icon--transmitter:before {
  background-position: -640px 0;
}
.features__row h2.icon--home:before {
  background-position: -672px 0;
}
.features__row h2.icon--text:before {
  background-position: -704px 0;
}
.features__row p {
  margin-top: 0.5em;
}
/*
 *
 * TEAM
 *
 */
.team .cols3 {
  margin-top: 40px;
}
.team .col1-3 {
  text-align: center;
}
.team .col1-3 .photo img {
  display: block;
  margin: 0 auto;
}
.team .col1-3 .photo img.photo__roll {
  display: none;
}
.team .col1-3 .photo:hover img.photo__rest {
  display: none;
}
.team .col1-3 .photo:hover img.photo__roll {
  display: block;
}
/*
 *
 * FOOTER
 *
 */
.page-bottom {
  padding: 30px 0 60px 0;
  font: normal 14px/24px 'Proxima Nova Regular', sans-serif;
  color: #fff;
  background: #333;
  background: rgba(51, 51, 51, 0.9);
}
.page-bottom h2 {
  font: normal 14px/24px 'Proxima Nova Regular', sans-serif;
  text-transform: uppercase;
}
.page-bottom h2 a {
  color: #fff;
}
.page-bottom a {
  color: #0093f8;
}
.page-bottom__menu {
  float: left;
  width: 160px;
}
.page-bottom__info {
  float: right;
  width: 300px;
  text-align: right;
}
ul.page-bottom__info__social {
  margin-top: 3px;
}
ul.page-bottom__info__social li {
  margin-left: 6px;
}
ul.page-bottom__info__social li a {
  display: block;
  overflow: hidden;
  width: 30px;
  height: 30px;
  text-indent: 999em;
  background: url(../images/social.png) no-repeat;
}
ul.page-bottom__info__social li a.facebook {
  background-position: 0 0;
}
ul.page-bottom__info__social li a.twitter {
  background-position: -40px 0;
}
ul.page-bottom__info__social li a.linkedin {
  background-position: -80px 0;
}
ul.page-bottom__info__awards {
  margin-top: 20px;
}
ul.page-bottom__info__awards li {
  margin-left: 12px;
}
ul.page-bottom__info__awards li a {
  display: block;
  overflow: hidden;
  width: 10px;
  height: 42px;
  white-space: nowrap;
  text-indent: 999em;
  background: url(../images/awards.png) no-repeat;
}
ul.page-bottom__info__awards li a.truste {
  width: 105px;
  background-position: 0 0;
}
ul.page-bottom__info__awards li a.xbiz {
  width: 42px;
  background-position: -124px 0;
}
ul.page-bottom__info__awards li a.deloitte {
  width: 84px;
  background-position: -181px 0;
}
/*
 *
 * BXSLIDER
 *
 */
.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  display: block;
  max-width: 100%;
}
.bx-wrapper .bx-loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  min-height: 50px;
  background: url(../images/loader.gif) no-repeat center center #2a80d7;
}
.bx-wrapper .bx-controls {
  position: relative;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.bx-wrapper .bx-pager {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  color: #fff;
}
.bx-wrapper .bx-pager .bx-pager-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  outline: 0;
  text-indent: -9999px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: rgba(255, 255, 255, 0.7);
}
/*
 *
 * ReCAPTCHA iframe fix
 *
 *
 */
iframe[src="about:blank"] {
  display: none;
}
/*
 *
 * MODAL
 *
 */
#lean_overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: #000;
}
.modal {
  display: none;
  position: relative;
  width: 60%;
  max-width: 570px;
  padding: 20px 3% 30px 3%;
  color: #141A23;
  background: #fff;
}
.modal .modal__close {
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  text-indent: -999em;
  background: url(../images/close.png) no-repeat;
}
.modal h1 {
  margin-bottom: 0.5em;
  font: 300 40px/56px 'Ubuntu', sans-serif;
}
/*
 *
 * APPLY NOW
 *
 */
.apply-now {
  margin-top: 60px;
}
.apply-now__button {
  display: none;
  text-align: center;
}
.apply-now__form {
  width: 50%;
  margin: 0 auto;
  padding: 0 30px 20px 30px;
  background: #fff;
  border: 1px solid #ccc;
}
/*
 *
 * 1078px
 *
 */
@media screen and (max-width: 1078px) {
  .form .inputs input[type=text],
  .form .inputs input[type=password],
  .form .inputs input[type=email],
  .form .inputs input[type=tel] {
    float: none;
    width: 96%;
    margin: 1.75em 0 0 0;
  }
  .form .inputs input[type=text]:first-child,
  .form .inputs input[type=password]:first-child,
  .form .inputs input[type=email]:first-child,
  .form .inputs input[type=tel]:first-child {
    margin-top: 0;
  }
  .form .inputs .wpcf7-form-control-wrap {
    float: none;
    display: block;
    width: 100%;
    margin: 1.75em 0 0 0;
  }
  .form .inputs .wpcf7-form-control-wrap:first-child {
    margin-top: 0;
  }
  .form .inputs .wpcf7-form-control-wrap input {
    margin: 0;
  }
  .form--contact input[type=text],
  .wpcf7-form input[type=text],
  .form--contact input[type=password],
  .wpcf7-form input[type=password],
  .form--contact input[type=email],
  .wpcf7-form input[type=email],
  .form--contact input[type=tel] textarea,
  .wpcf7-form input[type=tel] textarea {
    width: 96%;
  }
  .slider__slides__title {
    width: 50%;
  }
  .slider__slides__text {
    width: 50%;
    padding-right: 20%;
  }
  .slider__slides__image {
    width: 50%;
  }
  .page-bottom__info {
    clear: left;
    float: left;
    margin-top: 20px;
    text-align: left;
  }
}
/*
 *
 * 768px
 *
 */
@media screen and (max-width: 768px) {
  .form fieldset .col1-2 {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .form fieldset .col1-2:first-child {
    margin-top: 0;
  }
  .form--contact,
  .wpcf7-form {
    width: 100%;
  }
  .form--modal p {
    width: 90%;
  }
  .page-top__main__logo {
    float: none;
    width: 175px;
    height: 52px;
    background-position: 0 -195px;
  }
  ul.page-top__main__menu {
    display: none;
    clear: left;
    float: none;
  }
  ul.page-top__main__menu li {
    display: block;
    margin-left: 0;
    padding: 5px 0;
    text-transform: uppercase;
  }
  ul.page-top__main__menu li a {
    color: #fff;
  }
  ul.page-top__main__menu li a:hover {
    color: #fff;
    text-decoration: underline;
  }
  ul.page-top__main__menu li ul.sub-menu {
    display: block !important;
    position: static;
    margin: 0 !important;
    padding: 0 0 0 30px;
    background: none;
    box-shadow: none;
  }
  ul.page-top__main__menu li ul.sub-menu li {
    display: block;
    margin-left: 0;
    padding: 3px 0;
    background: none;
    text-transform: none;
  }
  ul.page-top__main__menu li ul.sub-menu li a {
    color: #0093F8;
  }
  ul.page-top__main__menu li ul.sub-menu li a:hover,
  ul.page-top__main__menu li ul.sub-menu li a.active {
    color: #0093F8;
    text-decoration: underline;
  }
  .page-top__main__menu__pull {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 25px;
    right: 10px;
    width: 38px;
    height: 42px;
    text-indent: -999em;
    background: url(../images/menu_toggle.png) no-repeat;
  }
  .slider__slides__title {
    width: 100%;
    font: 400 40px/45px 'Oswald', sans-serif;
  }
  .slider__slides__title strong {
    font: 700 50px/60px 'Oswald', sans-serif;
  }
  .slider__slides__text {
    width: 96%;
    padding-right: 2%;
  }
  .slider__slides__image {
    display: none;
  }
  .slider__slides__video {
    left: 0;
    max-width: 100%;
  }
  .slider__slides__text--video {
    position: static;
  }
  a.button {
    display: inline-block;
    padding: 5px 25px;
    font: 400 35px/55px 'Oswald', sans-serif;
  }
  a.button--cta__links__button {
    padding-right: 25px;
  }
  a.button--cta__links__button:after {
    width: 35px;
    height: 41px;
    margin-left: 25px;
    padding-top: 8px;
    vertical-align: middle;
  }
  .col1-3,
  .col1-2,
  .col2-3,
  .cols3 .col1-3 {
    float: none;
    width: auto;
    margin-left: 0;
  }
  .cols3 .col1-3 {
    margin-top: 30px;
  }
  .cols3 .col1-3:first-child {
    margin-top: 0;
  }
  .col1-3 .excerpts:first-child {
    margin-top: 60px;
  }
  .features__row .col1-2 {
    margin-top: 40px !important;
  }
  .features__row:first-child .col1-2:first-child {
    margin-top: 0 !important;
  }
  .cta__links__help {
    display: block;
    position: static;
    margin: 30px 0 0 0;
  }
  .page-bottom__menu {
    float: none;
    width: auto;
    margin-top: 20px;
  }
  .page-bottom__menu:first-child {
    margin-top: 0;
  }
  .modal {
    width: 80%;
  }
  .apply-now__form {
    width: 90%;
    padding: 0 5% 20px 5%;
  }
}
/* EXOCLICK */
input[type=text].forminput-error,
input[type=password].forminput-error,
input[type=email].forminput-error,
input[type=tel].forminput-error,
input.forminput-error,
select.forminput-error,
textarea.forminput-error {
  background-color: #faa !important;
}
.forminput-errormsg {
  color: #F00;
}
.main-categories {
    margin-top: 20px;
}

.main-categories p {
    margin-bottom: 20px;
}

.main-categories div {
    width: 33%;
    float: left;
}

.category-list {
    margin-top: 20px;
}

.category-list ul {
    list-style: none;
    padding-left: 0;
}

.category-list .subcategory-articles {
    width: 30%;
    float: left;
    box-sizing: border-box;
    padding-right: 20px;
}

.category-list h2 {
    margin-top: 20px;
}

.subcategory-articles .article {
    background: url("../images/icon_kbarticlesmall.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 1.4em;
    margin-top: 8px;
    padding: 0 0 0 20px;
}

.category-list .category-articles {
    width: 100%;
    margin-top: 10px;
}

.category-articles .article {
    background: url("../images/icon_kbarticlesmall.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 1.4em;
    margin-top: 8px;
    padding: 0 0 0 20px;
}

@media screen and (max-width: 500px) {
    .main-categories div {
        width: 100%;
        float: none;
    }
}/*
Theme Name: Exoclick
Theme URI: http://underscores.me/
Author: 2day
Author URI: http://2day.sk
Description: ExoClick theme
Version: 1.0
License: GNU General Public License
License URI: license.txt
Text Domain: exoclick
Domain Path: /languages/
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Exoclick is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.
*/

#ky_ticket input[type="text"], #ky_ticket input[type="password"], #ky_ticket input[type="email"], #ky_ticket input[type="tel"], #ky_ticket textarea {
    background: none repeat scroll 0 0 #E5E4E4;
    border: medium none;
    border-radius: 4px;
    padding: 15px 2%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#ky_ticket {
    margin-top: 20px;
}

#ky_ticket .field {
    margin: 10px 0 18px;
}

#ky_ticket select {
    background: none repeat scroll 0 0 #E5E4E4;
    border: medium none;
    border-radius: 4px;
    padding: 15px 2%;
    width: 100%;
}

#ky_ticket input[type="submit"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #1AAB1C;
    border-color: #138514;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 0 0 2px;
    color: #FFFFFF;
    display: inline-block;
    font: 400 35px/45px 'Oswald',sans-serif;
    padding: 3px 80px;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
}

#ky_ticket div.field input.error, #ky_ticket p.field select.error, #ky_ticket div.field textarea.error {
    background-color: #ffaaaa;
}

#ky_ticket div.error {
    margin-top: 5px;
    color: #ff0000;
}

@media (min-width: 40rem) {
    #ky_ticket .label-class {
        margin-top: 26px;
        width: 180px;
        float: left;
    }

    #ky_ticket div.field {
        float: left;
    }

    #ky_ticket div.field input, #ky_ticket p.field select {
        width: 400px;
    }

    #ky_ticket div.field textarea {
        width: 400px;
    }

    #ky_ticket p.submit {
        margin-left: 347px;
    }
}

#ky_ticket .row:before,
#ky_ticket .row:after {
    content: " ";
    display: table;
}

#ky_ticket .row:after {
    clear: both;
}

#ky_ticket .row {
    *zoom: 1;
}/**** inline ****/
               .fluid-width-video-wrapper {                 width: 100%;                              position: relative;                       padding: 0;                            }                                                                                   .fluid-width-video-wrapper iframe,        .fluid-width-video-wrapper object,        .fluid-width-video-wrapper embed {           position: absolute;                       top: 0;                                   left: 0;                                  width: 100%;                              height: 100%;                          }                                       
/**** inline ****/
                            
