*{ font-weight:normal; margin:0; padding:0;}
body{ background:#ffffff; color:#1c1b1a; font:12px Arial, Helvetica, sans-serif;}
a{ text-decoration:none; color:#46595D;}
a,li,p,span{}
strong{ font-weight:bold;}
a:hover {
	color:#1E2726;
}

.days {
	position:absolute;
	width:369px;
	height:24px;
	margin-top:55px;
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	background-image: url("http://img.movie4k.to/img/gb1.gif");
	z-index:3;
}
.days2 {
	position:absolute;
	width:615px;
	height:24px;
	margin-top:55px;
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	background-image: url("http://img.movie4k.to/img/gb2.gif");
	z-index:3;
}
.days3 {
	position:absolute;
	width:495px;
	height:24px;
	margin-top:55px;
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	background-image: url("http://img.movie4k.to/img/gb3.gif");
	z-index:3;
}


.mainmenue {
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.mainmenue a {
color: #FFF; font-weight: bold; text-decoration: underline;
}

.mainmenue a:hover {
	color: #FFF;
	text-decoration: none;
}

mainmenue a:link {
	color: #FFF;
	text-decoration: none;
}
mainmenue a:visited {
	color: #FFF;
	text-decoration: none;
}
mainmenue a:hover {
	color: #FFF;
	text-decoration: none;
}
mainmenue a:active {
	color: #FFF;
	text-decoration: none;
}

#header{ background:#1c1b1a; color:#fff; height:87px; padding:0 20px; padding-top:25px;}/*160px;*/
#header h1 a{ color:#fff; font-size:30px; text-decoration:none; top:60px;}
#header h1 a:hover{ background:#2c2b2a;}
#header h1 a span{ color:#46595D;}
#header p{ font-size:11px; letter-spacing:3px;}/*242px;*/

#navbar{ background:#46595D; border-bottom:2px solid #ccc; height:30px; line-height:30px; top:160px; padding-left:10%;}
#navbar li{ display:inline;}
#navbar li a{ color:#fff; font-size:14px; font-weight:bold; line-height:30px; padding:0 20px; text-align:center; text-decoration:none;}
#navbar li a:hover{ background:#477dab; border-bottom:7px solid #477dab; border-top:7px solid #477dab; }

#main{ background:#fff; margin:0 auto; position:relative; width:960px;}
#main h1{ /*border-bottom:1px solid #84d0f0;*/ color:#84d0f0; font-family:"Times New Roman", Georgia, serif; font-size:40px; height:30px; margin-bottom:10px; overflow:hidden;}
#main h2{ color:#b9d065; font-family:"Times New Roman", Georgia, serif; font-size:30px; /*height:22px; margin-bottom:10px;*/ overflow:hidden;}
#main p{ line-height:20px; margin-bottom:20px;}
#main ul{ border-left:1px solid #ccc; line-height:20px; list-style:none; margin-bottom:20px; margin-left:10px; padding-left:10px;}
#main a{ border-bottom:1px solid #84d0f0; color:#46595D;}
#main a:hover{ border-bottom-width:2px; color:#1c1b1a;}
#main acronym{ border-bottom:1px solid #ccc; cursor:help;}
#main cite{ /*border:1px solid #ccc;*/ color:#46595D; display:block; font-size:14px; margin:10px; padding:10px;}

.search {
	font-size:14px;
	font-weight:bold;
}

.interfaceforms {
	width: 300px;
}


#tablemovies {
	max-width:987px;
	width: 987px;
	display:inline;
/*
	max-width:791px;
	width: 791px;
	display:inline;
*/
}
#tablemovies a{color:#46595D;}
#tablemoviesindex a{color:#46595D;}
#tablemoviesindex tr:hover{background-color:#A0A4A4;}

#tablemoviesindex2 a{
	color:#000;
}
#tablemoviesindex2:hover{background-color:#A0A4A4;}

#tdmoviesheader {
	padding:10px 0px 10px 5px;
	margin-bottom: 10px;
	min-width:791px;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	background-image: url("http://img.movie4k.to/img/titlebanner.png");
	background-repeat:no-repeat;
}
#tdmoviesheader a{color:#ffffff;font-size:16px;font-weight:bold;}


#tdmoviesheader2 {	
	padding:5px 5px 5px 5px;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
    background-color:#999999;
}
#tdmoviesheader2 a{color:#ffffff;font-size:16px;font-weight:bold;}

#tdmovies {	
	padding:1px 3px 0px 3px;
	
	
	color:#000000;
	font-size:14px;
}
#tdmovies a:hover {
	color: #000000;
}


#offline {
    text-align:right;
    font-size:10px;
}

#boxgrey {
	background-color:#EEEEEE;
	padding:2px 2px 2px 2px;
	margin-left:2px;
	margin-bottom:2px;
	min-width: 17px;
	border: 1px solid black;
	font-size: 14px;
	float:left;
	text-align:center;
}
#boxgrey a{ color:#000000;  }

#boxwhite {
	background-color:#FFFFFF;
	padding:2px 2px 2px 2px;
	margin-left:2px;
	margin-bottom:2px;
	min-width: 17px;
	border: 1px solid black;
	font-size: 14px;
	float:left;
	text-align:center;
}

#boxspace {
	width:2px;
	float:left;
}


.col{ background:#fff; float:left; height:100%; padding:10px; width:300px;}

.leftcol{ background:#fff; float:left; height:100%; padding:10px; width:600px;}
.rightcol{ background:#fff; float:left; height:100%; padding:10px; width:300px;}

#footer{ background:#1c1b1a; color:#fff; height:40px; line-height:40px; text-align:center; width:100%;}
#footer a{ border-bottom:1px solid #84d0f0; color:#fff; font-weight:bold;}
#footer a:hover{ color:#84d0f0;}


	#content {
		margin-top:10px;
		padding-bottom:10px;
		
		text-align:left;
		min-width:800px;
		min-height: 100%;
		
		}
		
	#menufooter  {
		margin-bottom:20px;
		}
		
	#menusitelinks {
		font-size:14px;
		}
	
	.menus {
		border-right:1px solid #000; 
		border-bottom:1px solid #000;
		border-top:1px solid #000;
		border-left:10px solid #000;
		background:#fff;
		color:#000;
		padding:10px;
		margin-bottom:10px;
		text-align:left;
		font-size:10px;
		}
	
	html>body #menu {
		margin-right:25px;
		}
		
		
	#title h1 {
		font-size:18px;
		font-style:italic;
		border-top:1px solid #000;
		border-bottom:1px solid #000;
		border-left:10px solid #000;
		margin-top:10px;
		padding-left:10px;
		padding-right:10px;
		padding-top:5px;
		padding-bottom:5px;
		width:100%; /* I have to specify a width for IE5 PC, or else it ignores the top-margin of the H1 element therein. But 100% is different in browsers without IE5x PC's broken box model, so I have to use the CSS2 selector trick to set the width to auto for those browsers*/
		}
		
	#title {
		padding:0px;
		margin-right:-6px;
		margin-left:-6px;
		width:100%;
		voice-family: "\"}\"";
		voice-family: inherit;
		width:auto;
		}

	html>body #title {
		width:auto;
		}
			

    #maincontent {
        margin-left:265px;
        width:716px;
    }

    #maincontent5 {
        margin-left:240px;
        width:620px;
	border-top: 0px dashed #999999;
	border-right: 0px dashed #999999;
	border-bottom: 0px dashed #999999;
	border-left: 1px dashed #999999;
	overflow: visible;
	padding-left:10px;
    }

	#maincontent4 {
        margin-left:5px;
        width:987px;
    }
	
	#maincontenttvshow {
    padding-left:10px;
	margin-left:405px;
    width:575px;
	border-top: 0px dashed #999999;
	border-right: 0px dashed #999999;
	border-bottom: 0px dashed #999999;
	border-left: 1px dashed #999999;
	overflow: visible;
	top: 10px;
    }

    #maincontentnew {
	padding-left:10px;
	padding-right:10px;
	width:456px;
	border-top: 0px dashed #999999;
	border-right: 1px dashed #999999;
	border-bottom: 0px dashed #999999;
	border-left: 1px dashed #999999;
	overflow: visible;
	top: 10px;
    }
	
	#maincontent2 {
	position: absolute;
	width: 235px;
	left: 759px;
    }
	
	#maincontent3 {
	position: absolute;
	width: 235px;
	left: 10px;
    }
	
	#xline {
	border-top: 1px dashed #999999; 
	border-right: 0px dashed #999999; 
	border-bottom: 0px dashed #999999;
	border-left: 0px dashed #999999; 
	overflow: visible; 
	margin-bottom: 14px;
	}
	
	#xline2 {
	border-top: 0px dashed #999999; 
	border-right: 0px dashed #999999; 
	border-bottom: 1px dashed #999999;
	border-left: 0px dashed #999999; 
	overflow: visible; 
	margin-top:2px;
	margin-bottom:2px;
	}
	
	a.sitelinksblue { color:#46595D; }
	a:hover.sitelinksblue { color:#1E2726; }
	#sitelinksbgheader {
	    background-image: url('http://img.movie4k.to/img/menue01_normal.png');
        background-repeat:no-repeat;
        width:168px;
        height:30px;
        padding:11px 0px 0px 5px;
    }
	#sitelinksbg {
	    background-image: url('http://img.movie4k.to/img/menue02_normal.png');
        background-repeat:no-repeat;
        width:167px;
        height:20px;
        padding:1px 0px 0px 5px;
    }
	#sitelinksbg:hover {
	    background-image: url('http://img.movie4k.to/img/menue02_over.png');
        background-repeat:no-repeat;
        width:167px;
        height:20px;
    }
	
	
	a.anchor {
		font-size:10px;
		font-weight:normal;
		}
		
	p.anchor {
		text-align:right;
		}
	
	.links {
		margin-left:50px;
		margin-right:30px;
		}
	
	#layouts {
		font-size:13px;
		margin-left:0px;
		}

a.blacklink { color:#000000; }
a:hover.blacklink { color:#000000; }

.comment {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
}
.comment2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #000;
}
.test {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	height: 50px;
	width: 94px;
	background-color: #AFAFAF;
	position: absolute;
	left: 311px;
}
.test1a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	height: 50px;
	width: 94px;
	background-color: #E3E3E3;
	position: absolute;
	left: 361px;
}
.test2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	height: 26px;
	width: 94px;
	background-color: #AFAFAF;
	position: absolute;
	left: 311px;
}
.test2a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	height: 26px;
	width: 94px;
	background-color: #E3E3E3;
	position: absolute;
	left: 361px;
}
.ratings {
 position: absolute;
 left: 937px;
}

	#menu {
	width:249px;
	margin-top:0px;
	float:left;
	height:262px;
	voice-family: "\"}\"";
	voice-family: inherit;
	position: absolute;
	top: 261px;
	z-index: 1;
}


++++++++++++++++++++
   CSS Teil I
++++++++++++++++++++

/*
	Menue-styles fuer non-IEs
	Achtung:
	Fuer non-IEs gilt das Stylesheet 'dropdown.css'!
	Fuer IE gilt das Stylesheet 'fix-ie.css' (per CC)!
*/

#menuebox {
position: relative;
height: 24px;
}
.stupidie {
display: none;
}
#menue {
position:absolute;
top: 4px;
left: 0;
z-index: 2;
}

#menue .aussen {
	float: left;
	display: block;
	overflow: hidden;
	width: 121px;
	height: 1.3em;
	font-weight: bold;
	text-align: center;
	background-color: #B0E2EC;
	color: #195B69;
	width: 121px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;

	border-right-color: #003333;

	border-left-color: #003333;
}
#menue .aussen:hover {
height: auto;
background-color: #478B9A;
color: #fff;
}

a.test123{
height: auto;
color: #195B69;
}

a.test123:hover{
height: auto;
color: #ffffff;
}

a.innen-1 {
margin-top: 2px;
}
a.innen,
a.innen-1 {
display: block;
width: 121px;
padding: 2px 0;
text-decoration: none;
font-weight: normal;
border-bottom: 1px solid #195B69;
background-color: #B0E2EC;
color: #195B69;
width: 121px;
}
a:visited.innen,
a:visited.innen-1 {

color:#195B69;
}
a:hover.innen,
a:hover.innen-1 {
background-color: #71AEBB;
color: #fff;
}

span.menutag {
display: block;
cursor: default;
}

.indexcoverimage {
  max-height: 65px;
  height: expression(this.height > 65 ? "65px" : true);
}

.info {
    display:none;
}

.index_lastUpdates_table {
    width: 100%;
    margin-left:5px;
    margin-top:7px;
    border: 0px;
}

.index_lastUpdates_mirrors {
    height: 20px;
    padding-left:15px;
    padding-top:3px;
    font-size: 12px;
    vertical-align:top;
}

.infotext {
    border: 1px solid rgb(136, 68, 0); overflow: auto; position: absolute; top: 11290px; width: 264px; height: 185px;
}

.h1_infotext {
    FONT-SIZE: 12px;
}

.s2k_ad {
    position: absolute;
    margin-left:220px;
    margin-top:15px;
    width: 310px;
    height: 280px;
    z-index: 4;
}

/** SIMILARMOVIES **/
#SIMILARMOVIES { background:url("http://img.movie4k.to/img/similarmovies/bg.png") no-repeat 0 0; min-height:201px; position:relative; margin:0 0px 0px; color:#fff; font-weight:bold; font-family:Verdana, Geneva, sans-serif; font-size:12px; }
.SM_width { width:742px; }
.SM_center { margin:0 auto; }
.SM_fleft { float:left; }			/** f = float / left  **/
.SM_fright { float:right; }        /** f = float / right **/
.SM_clear { clear:both; }
.SM_similarmovies { background:url("http://img.movie4k.to/img/similarmovies/bgwhite.png") no-repeat; width:735px; min-height:176px; margin:4px 0 0; }
.SM_similarmoviesOUTER { padding:3px 4px 0; }
.SM_schatten { margin:0 -2px; width:151px; height:151px; background:url("http://img.movie4k.to/img/similarmovies/schatten.png") no-repeat 0 0; }
.SM_pic { margin:13px 0 0 35px; }
.SM_pictitle { color:#6e797a; font-weight:normal; text-align:center; margin:10px 0 0; }
/** SIMILARMOVIES ENDE **/

#coverPreview{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:5px;
    margin:5px;
    display:none;
    color:#fff;
}

a#fkFinger {
  display: block;
  position: absolute;
  margin-left: 532px;
  margin-top: 65px;
  width: 109px;
  height: 140px;
  background: url('/img/fk_finger.png') no-repeat left top;
}

a#fkFinger:hover {
  background-position: left bottom;
}

a#attentionIcon {
  display: block;
  position: absolute;
  margin-left: 538px;
  margin-top: 85px;
  width: 98px;
  height: 106px;
  background: url('/attention_icon.png') no-repeat left;
}

a#attentionIcon:hover {
  background-position: right;
}
/**** inline ****/

<!--
body {
	background-image: url(http://img.movie4k.to/img/background.gif);
	background-repeat: repeat-x;
}

-->

/**** inline ****/

        #form-quicklogin {
        	border: 0;
        	margin: 0;
        	padding: 0;
        }
        
        fieldset.quick-login label {
        	font-size: 0.75em;
        }
        fieldset.quick-login input {
        	width: auto;
        }
        fieldset.quick-login input.inputbox {
        	width: 87px;
        	vertical-align: middle;
        	/* margin-right: 5px; */
        }
        
        fieldset.quick-login label {
        	white-space: nowrap;
        	padding-right: 2px;
        }
        input.button1, input.button2 {
        	/* font-size: 0.9em; */
        	font-size: 1em;
        }
        
        a.button1, input.button1, input.button3, a.button2, input.button2 {
        	background: #FAFAFA none repeat-x top left;
        	width: auto !important;
        	padding-top: 1px;
        	padding-bottom: 0px;
        }
        
        a.button1, input.button1 {
        	font-weight: bold;
        	border: 1px solid #666666;
        }
        
        input.button3 {
        	padding: 0;
        	margin: 0;
        	line-height: 5px;
        	height: 12px;
        	background-image: none;
        	font-variant: small-caps;
        }
        
        /* Alternative button */
        a.button2, input.button2, input.button3 {
        	border: 1px solid #666666;
        }
        
        /* <a> button in the style of the form buttons */
        a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
        	text-decoration: none;
        	color: #000000;
        	padding: 2px 8px;
        	line-height: 250%;
        	vertical-align: text-bottom;
        	background-position: 0 1px;
        }
        
        /* Hover states */
        input {
        	font-weight: normal;
        	cursor: pointer;
        	vertical-align: middle;
        	padding: 0 3px;
        	font-size: 1em;
        	font-family: Arial, Helvetica, sans-serif;
        }
        fieldset {
        	border-width: 0;
        	font-family: Arial, Helvetica, sans-serif;
        	font-size: 1.1em;
        }
        fieldset.submit-buttons {
        	vertical-align: middle;
        	margin: 5px 0px;
        }
        
        fieldset.submit-buttons input {
        	vertical-align: middle;
        	padding-top: 3px;
        	padding-bottom: 3px;
        }
        label input {
        	vertical-align: middle;
        }
        
        label img {
        	vertical-align: middle;
                 margin-top: 3px;
        }
        a.button1, input.button1, input.button3, a.button2, input.button2 { background-image: url("http://img.movie4k.to/img/login/bg-button2.png"); }
        a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover { background-position: 0 -25px; }

/* Buttons */

a.button1,

a.button2,

a.button3,

input.button1,

input.button2,

input.button3 {

 background: 0 top repeat-x;

 border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;

 box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.55);

 -moz-box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.55);

 -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.55);

}
a.button1:hover,

a.button2:hover,

a.button3:hover,

input.button1:hover,

input.button2:hover,

input.button3:hover {

 background-position: 0 -25px;

}
a.button1, input.button1, input.button3, a.button2, input.button2 {
    background: url("http://img.movie4k.to/img/login/bg_button.gif") repeat scroll 0 0 #FAFAFA;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
}
a.button1, input.button1, input.button3, a.button2, input.button2 {
    background-image: url("http://img.movie4k.to/img/login/bg-button2.png");
}


    