/**** inline ****/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%}
q:before,q:after{content:''}
body{font-size:12px;font-family:simsun;background:#fff;color:#2b2b2b}
table{font-size:inherit;font:100%}
h1{padding:11px 0 0; margin-bottom:4px;font:normal 20px/30px 黑体;text-align:center;}
h2 { padding:6px 0 0; margin-bottom:4px; font:normal 20px/30px 黑体; text-align:center; }
h3{font-size:12px}
h4{font-size:12px;font-weight:normal}
strong,.m_bold{font-weight:bold}
a{text-decoration:none;cursor:pointer}
a:link{color:#004276}
a:visited{color:#004276}
a:hover{text-decoration:underline;color:#ba2636}
input,select{font-size:12px}
/* Hides from IE-mac \*/
* html .clearfix{height:1%}
/* End hide from IE-mac */
.header{width:100%;margin:0 auto;background:#fff}
.masthead{width:1000px;margin:0 auto;padding-top:8px;height:59px;position:relative}
.logoDiv{float:left;width:640px; overflow:hidden;}
.theLogo{float:left;width:159px;_width:156px;padding-left:10px}
.tit01{padding-top:15px}
.theWap{padding-top:35px}
.theWap-span{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -193px;padding:0 12px 0 15px}
.theWap-span2{padding:0 12px 0 0;}
.cRed,.cRed a:link,.cRed a:visited,.cRed a:hover,a.m_red:link,a.m_red:visited,a.m_red:hover{color:#ba2636}
.theDate{color:#666;padding-top:4px;padding-top:6px\9;*padding-top:6px;_padding-top:4px}
.theDate p{float:left;}
.navSet{float:right;padding:2px 10px 1px 0}
.navSet .set2{float:right;width:254px;padding-top:2px;color:#999;position:relative; z-index:88;}
.navSet .set2.cGray{color:#ddd}
.navSet .set2.cGray a:hover{color:#ba2636}
.navSet .set2 strong{color:#ba2636;}
.btn03 a{float:left;background:#ba2636;font-weight:bold;width:36px;height:15px;text-align:center;line-height:15px;padding:1px 0 0 1px}/*130801a*/
.btn03 a:hover,#btnSwapLogin.btn03aHover,.btn03 .btn03aHover{background:#c5d0d4;text-decoration:none}
.user{float:right;padding:2px 0 0 10px;color:#666;margin-right:-2px;display:inline; position:relative; z-index:88;display:none}
.user span.name{background:url(http://y1.ifengimg.com/index/sprite8.gif) right -513px;padding-right:15px;color:#004276;position:relative; cursor:pointer; z-index:88;}
.user span.nameup{background:url(http://y1.ifengimg.com/index/sprite8.gif) right -529px;padding-right:15px;color:#004276;position:relative; cursor:pointer; z-index:88;}
.user span.quit{padding-left:14px}
a.cGray:link,a.cGray:visited{ color:#666;}
a.cGray:hover{ color:#ba2636;}
#enterPro{border:1px solid #DFDFDF;top:19px;left:42px;width:84px;background:#fff;z-index:99; position:absolute;}
#enterPro li{line-height:24px;height:24px;cursor:default}
#enterPro li a{line-height:24px;height:24px;text-decoration:none;color:#2b2b2b;padding-left:8px;width:77px;display:block;}
#enterPro li a:hover{background:#ececec;}
.login{float:right;}
.indexLogin{position:absolute;right:0;top:31px;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat right -349px;width:341px;height:137px;z-index:100;display:none}
.close{float:left;width:332px;height:15px;padding:16px 9px 0 0}
#btnLoginClose{float:right;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -303px;padding-left:9px}
.cGray2,.cGray2 a:link,.cGray2 a:visited{color:#999}
.cGray2 a:hover{color:#ba2636}
.clear{clear:both;height:0;line-height:0;font-size:0;overflow:hidden}
.indexLogin ul{float:left;width:161px;padding:4px 0 0 55px}
.indexLogin li{height:30px}
.indexLogin label{vertical-align:middle}
.indexLogin .text{width:124px;height:14px;font-size:12px;vertical-align:middle;padding:2px 0 0 2px}
.btn04,.btn04_hover{float:right;width:39px;height:19px;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -349px;border:none;cursor:pointer;margin-right:1px;display:inline}
.indexReg{float:left;width:60px;padding:19px 0 0 30px;line-height:20px;color:#666}
.indexReg a{text-decoration:underline}
.cWhite,.cWhite a:link,.cWhite a:visited,.cWhite a:hover,.label01 li.current a:link,.label01 li.current a:visited,.label01 li.current a:hover,.curve li.current a:link,.curve li.current a:visited,.curve li.current a:hover{color:#fff}
.reg{float:left;padding:2px 8px 0;}
.setHome{float:right;padding:2px 8px 0 0;font-weight:bold;background:url(http://y3.ifengimg.com/38716b164e0f5e63/2013/0731/navLine.gif) no-repeat right bottom;_background:url(http://y3.ifengimg.com/38716b164e0f5e63/2013/0731/navLine.gif) no-repeat right center;}

.cGray,.cGray a:link,.cGray a:visited,.fPic .cGray a:hover{color:#666}
.cGray a:hover{color:#ba2636}
.navFind{float:right;width:372px;padding:7px 9px 0 2px;position:relative;z-index:80; background:url(http://y0.ifengimg.com/38716b164e0f5e63/2013/0801/textSearch.gif) no-repeat 0 8px;}
.navFind span{float:left}
.navFind .text{width:239px;height:17px;*height:16px;_height:16px;line-height:17px;*line-height:16px;_line-height:16px;padding:1px 0 0 4px;margin-top:2px;background:#fff;border:none;color:#646464;font-size:12px}/*130802a*/
#searchFormOption{position:relative;float:left;z-index:80}
.sel{width:47px;height:18px;line-height:18px;margin:1px 9px 0 0;padding:1px 0 0 14px;_padding:2px 0 0 14px;border:none;font-size:12px;color:#646464;cursor:default}
#loginFldselectop{position:absolute;border:1px solid #DFDFDF;top:20px;left:0px;width:60px;_width:49px;background:#fff;z-index:99;display:none}
#loginFldselectop li{line-height:24px;height:24px;cursor:default}
#loginFldselectop li a{line-height:24px;height:24px;text-decoration:none;color:#000000;padding-left:13px;width:47px;display:block;}
.navFind .button,.navFind .button_hover{width:58px;height:20px;line-height:20px;cursor:pointer; margin-top:1px; background:#fff url(http://y3.ifengimg.com/38716b164e0f5e63/2013/0731/btnSearch.gif) no-repeat left top;font-size:12px; border:none;}/*130731a*/
.navFind .button_hover{background:#fff url(http://y3.ifengimg.com/38716b164e0f5e63/2013/0731/btnSearch.gif) no-repeat left bottom;}
.stockList,#3g_box{display:none}
.headNav { width:990px; height:56px; margin:0 auto; padding-left:10px; background:url(http://y1.ifengimg.com/index/index_navbg.gif) repeat-x top; position:relative;}
.hotNav{ position:absolute; width:20px; height:10px; top:24px; left:347px;}
.hotNav img{ display:block; border:0px;}
.headNav ul{float:left;background:url(http://y2.ifengimg.com/index/index_line.gif) no-repeat right center;padding:4px 15px 4px 0;_padding:5px 15px 4px 0;margin-right:14px}
.headNav li,.lis04,.adList03 li{line-height:24px}
.headNav-last{background:none;padding-right:0;margin-right:0}
.headBg2{width:100%;height:61px;margin:0 auto;background:#f2f3f5 url(http://y0.ifengimg.com/44dae7fce8dacdb1/2012/0401/index_navbg2.gif) repeat-x top;}
.headNav2{width:990px;height:61px;margin:0 auto; padding-left:10px;background:#f2f3f5 url(http://y0.ifengimg.com/44dae7fce8dacdb1/2012/0401/index_navbg2.gif) repeat-x top;}
.mainNav2{float:left;width:990px; height:34px;}
.mainNav2 span{float:right; height:15px;padding:1px 0 0 21px; background:url(http://y0.ifengimg.com/44dae7fce8dacdb1/2012/0401/i_ifeng.gif) no-repeat left center;margin-top:9px;font-size:14px; font-weight:bold;}
.mainNav2 ul{float:left; padding-top:3px;}
.mainNav2 li{float:left;line-height:31px;height:31px;background:url(http://y0.ifengimg.com/44dae7fce8dacdb1/2012/0401/img_10.gif) no-repeat left center; padding:0 8px 0 11px; font-size:14px; font-weight:bold;}
.mainNav2 li.current{background:#f2f3f5;}
.mainNav2 li.current a:link,.mainNav2 li.current a:visited,.mainNav2 li.current a:hover,.mainNav2 li.current a:active{color:#426173;}
.subNav2,.phtvNav{float:left;width:970px; height:30px; line-height:30px; padding-left:11px;display:none;}
.navDefault{float:left;width:970px; height:30px; line-height:30px; padding-left:11px;display:block;}
.subNav2,.phtvNav,.navDefault a{padding-right:10px;}
.subNav2,.phtvNav,.navDefault a, .subNav2 a,.phtvNav a{padding-right:10px;}
.sep01{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 21px -80px;padding-left:41px;font-weight:bold;padding-top:2px}
.sep02{padding-left:21px}
.space7{clear:both;height:7px;line-height:0;font-size:0; background:#fff; width:1000px; margin:0 auto;}
.adbox{width:1000px;margin:0 auto;background:url(http://y3.ifengimg.com/index/img_01.gif) repeat-x bottom;padding-bottom:2px}
.bord01{float:left;width:989px;border:1px solid #dce1e5;padding:4px 0 3px 9px; background:#fff;}
.adList04{float:left;width:140px;padding-left:12px}
.adList04 li{float:left;width:140px;line-height:24px;}
.adList04 li.h20{line-height:20px;}
.adBlue,.adBlue a:link,.adBlue a:visited,.adBlue a:hover{color:#436373}
.ad680{float:left;width:678px;padding-left:11px;overflow:hidden}
.adList05{float:left;width:980px}
.adList05 li{float:left;width:123px;line-height:20px;padding-right:15px;}
.ad660{float:left;width:660px;height:90px;margin:2px 0;text-align:left;border:1px solid #dce1e5;}
.focus{width:1000px;height:73px;margin:0 auto;background:#fff; border-bottom:4px solid #c6cfd4; padding-top:5px;}
.ad980{float:left;width:980px;height:90px;margin:2px 0;text-align:left;overflow:hidden}
.focus .item{float:left;width:309px;padding:0 6px 0 15px}
.focus .item img{float:left;width:100px;height:73px;margin-right:15px;display:inline;border-width:0}
.focus .item h3{padding:10px 0 0 0;line-height:18px;}
.focus .item p{color:#666;line-height:18px}
.col{width:1000px;margin:0 auto;background:#fff url(http://y1.ifengimg.com/index/bg01.gif) repeat-y top left}
.col_R{float:right;width:750px;padding:0 10px 0 26px;overflow:hidden}
.block,.block_ad{clear:both}
.box360{float:left;width:360px;overflow:hidden}
.tit01 span{float:right;padding-right:10px;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat right -111px}
.cDGray,.cDGray a:link,.cDGray a:visited,.tit02 .ch a:link,.tit02 .ch a:visited,.curve .cDGray a:hover,.tit04 .ch a:link,.tit04 .ch a:visited{color:#2b2b2b}
.cDGray a:hover{color:#ba2636}
.sel2{position:absolute;z-index:10;right:18px; top:18px;}
.Calendar{float:left;background:#fff;width:162px;padding:1px;border:1px solid #aaa}
.Calendar .bord001{float:left;width:148px;background:#ddd;padding:7px}
.Calendartitle{float:left;width:148px;background:#fff;padding-top:3px;text-align:center}
#idCalendarPre{cursor:pointer;float:left;padding:2px 10px 4px 9px}
#idCalendarNext{cursor:pointer;float:right;padding:2px 9px 4px 0}
#idCalendarYear,#idCalendarMonth{font-weight:bold}
.CalendarDate{width:148px}
.CalendarDate th{text-align:center;background:#666666;color:#fff}
.CalendarDate td{text-align:center;height:20px;font-family:Arial}
.CalendarDate .cred03,.CalendarDate .cred03 a,.CalendarDate .cred03 a:visited{color:#ba2636}
.CalendarDate .current{background:#ba2636;color:#fff}
.CalendarDate .current a,.CalendarDate .current a:hover,.CalendarDate .current a:visited{color:#fff}
.navSet .set2 .CalendarDate td:hover a:hover{color:#fff}
.CalendarDate td:hover{background:#999}
.CalendarDate td:hover a{color:#fff}
.CalendarDate th td:hover{background:#666}
.list01 li{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 8px;_background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 7px;padding-left:15px;font-size:14px;line-height:24px;}
.list01a li { background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat -493px 8px; _background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat -493px 7px;}
.list01 span.cGray{float:right;font-size:12px}
.list01 span.cDGray{margin-left:-3px;padding-right:7px}
.m_kb{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat -488px -728px; padding-left:18px;}
.list02 li.kb{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat -488px -723px;_background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat -488px -724px;}
.m_video,.m_video2{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -138px;padding-left:21px}
.m_video2{ background-position:0 -139px;}
.m_video3{background:url(http://y1.ifengimg.com/38716b164e0f5e63/2013/0107/icon_c.gif) no-repeat left center;padding-left:15px;}
.space9{clear:both;height:9px;line-height:0;font-size:0}
.list02 li{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -133px;_background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -133px;padding-left:21px;font-size:14px;line-height:24px;}
.list02 li.redV { background-position:-486px -133px; background-image:url(http://y0.ifengimg.com/230c79a5ed7cb1d3/2012/0719/sprite51.gif) }
.list02 li span{margin-left:-3px;padding-right:7px}
.more,.more2,.more3{height:21px;line-height:21px;line-height:20px\9;*line-height:20px;_line-height:22px;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat right -225px;padding:0 18px 0 0;text-align:right;margin-top:9px;overflow:hidden}
.p_30{padding-left:30px}
.fPic{float:left;width:360px;padding:9px 0 13px;overflow:hidden}
.label01{float:left;width:360px;height:29px;background:url(http://y0.ifengimg.com/index/lab_03.gif) no-repeat left -91px;}
.label01 li { float:left; width:40px; height:24px; line-height:24px; background:url(http://y0.ifengimg.com/index/lab_03.gif) no-repeat right -47px; text-align:center; padding-bottom:3px; }/*140106a*/
.label01 li.current { width:40px; background:url(http://y0.ifengimg.com/index/lab_03.gif) no-repeat top center; }/*140106a*/
.tablistDiv{float:left;width:360px;height:212px;overflow:hidden}
.tabDiv{float:left;width:360px;height:212px;overflow:hidden;display:none}
#tabSlideFirst{display:block}
.bigPic{float:left;width:360px;height:212px;position:relative}
.bigPic img{width:360px;height:212px;}
.bigPic .textbg{position:absolute;width:360px;height:26px;top:186px;left:0;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6}
.bigPic .text{position:absolute;width:340px;height:26px;line-height:23px;top:188px;*top:187px;_top:188px;left:10px;}
#prevSlide,#nextSlide{width:39px;height:46px;position:absolute;top:120px;left:30px;z-index:10;cursor:pointer}
.imgHover{filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7}
#nextSlide{left:351px}
.bigPic span{float:right;color:#ccc;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -44px;padding-left:17px}
.tit02{height:35px;border-top:3px solid #2b2b2b;border-bottom:1px solid #ddd}
.tit02 img{float:left;padding-top:7px}
.tit02 .cDGray{float:right;padding:10px 4px 0 0}
.tit02 .cDGray a{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat -499px -769px;padding:0 5px 0 7px}
.tit02 .cDGray a.nobg{background:none}
.tit02 .ch a:hover{color:#ba2636}
.tit02 .ch{float:left;font-size:16px;font-weight:bold;padding-top:8px}
.tit02 .ch em{font-size:12px;font-weight:bold;padding:0;}
.picTxt h3{font:bold 16px/22px 宋体;padding:7px 0 0;_padding:8px 0 0;margin-bottom:7px;_margin-bottom:8px;}
.picTxt h3.spe06{margin-bottom:6px;margin-bottom:4px\9;*margin-bottom:4px;_margin-bottom:6px;}
.hotPic{float:left;width:123px;height:86px;position:relative;overflow:hidden;margin:5px 12px 0 0;_margin:5px 9px 0 0}
.hotPic .icon_v2{position:absolute;left:7px;top:57px}
.hotPic .textbg{position:absolute;width:123px;height:19px;top:67px;left:0;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6}
.hotPic .text{position:absolute;width:123px;height:19px;line-height:19px;text-align:center;top:67px;*top:66px;_top:67px;left:0}
.list03 li{font-size:14px;line-height:24px;}
.space15{clear:both;height:15px;line-height:0;font-size:0}
.adList{float:left;width:338px;padding:5px 10px;border:1px solid #dce1e5;margin:15px 0 0;position:relative}
.adList li{float:left;width:330px;line-height:22px;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -17px;padding-left:8px;}
.adList span{position:absolute;float:left;width:24px;height:8px;bottom:-3px;right:7px}
.adList02{float:left;width:338px;padding:5px 10px;border:1px solid #dce1e5;margin:12px 0 0;position:relative}
.adList02 li{float:left; width:161px; height:22px; line-height:22px; background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -17px; padding-left:8px; overflow:hidden}
.adList02 span{position:absolute;float:left;width:24px;height:8px;bottom:-3px;right:7px}
.fR{float:right}
.mar_ad{margin:12px 0 0;margin:15px 0 0\9;*margin:15px 0 0;_margin:15px 0 0;padding:6px 10px  7px;padding:5px 10px\9;*padding:5px 10px;_padding:5px 10px;}
.ad750{float:left;width:750px;padding:15px 0 30px}
.col_L{float:left;width:200px;padding:0 7px 7px;overflow:hidden}
.box200{float:left;width:180px;border:1px solid #dce1e5;background:#fff;margin-bottom:7px;padding:12px 8px 13px 10px}
.box200-weather{width:188px;margin:7px 0 0;padding-bottom:0; padding-right:0;}
.weather {float:left;width:188px;height:52px;height:55px\9;*height:55px;_height:53px;overflow:hidden;}
.weaInfo{float:left;width:188px;position:relative}
.selLocal{position:absolute;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -535px;width:191px;height:35px;left:-11px;top:19px;padding:18px 0 0 9px;display:none}
.selLocal select{float:left;width:86px;height:21px;margin-right:9px;display:inline}
.weaPic{float:left;width:45px;height:45px;padding-right:10px}
.local{float:left;color:#666;width:133px;padding:3px 0 8px;}
.local span{float:left;margin-right:7px;display:inline}
.local span.theSet{float:right;margin-right:10px;}
.w_03{margin-right:0}
.temp{float:left;width:125px;font:normal 18px Arial,Helvetica,sans-serif;color:#dce1e5}
.temp .cOrange{color:#ed6502}
.temp em{_margin-left:-10px}
.weaInfo2{float:left;padding-left:15px;margin-top:-5px;}
.weaInfo2 .cOrange{color:#ed6502}
.weaInfo2 span{float:left; padding:0 8px 0 0;margin-top:5px;}
span.weaPic2{float:left; padding:0 8px 0 0;margin-top:0;}
.weaInfo2 span.slash,.weaInfo2 span.cOrange,.weaInfo2 span.cGray{float:left; margin-top:3px;padding:0;font:normal 12px Arial,Helvetica,sans-serif;}
.weaInfo2 span.slash{padding:0 3px;}
.tit03{font-weight:bold;padding-bottom:5px;_padding-bottom:4px}
.lis04 span{padding-right:6px;margin-left:-2px}
@media screen and (min-width:0px){.lis04 span{margin-left:0;}}
.spe span{padding-right:0;margin-left:0}
.line{background:url(http://y2.ifengimg.com/index/dotline.gif) repeat-x 0 3px;height:14px;_height:13px;font-size:0}
.TV{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat -100px -229px;text-align:right;padding:2px 0}
.TV a{padding-left:12px}
.space2{clear:both;height:2px;line-height:0;font-size:0}
.picTxt03{padding-bottom:6px;padding-top:1px;}
.picTxt03 img{float:left;margin:3px 12px 0 0;display:inline}	
.picTxt03 h3{font:normal 12px/18px 宋体;margin-bottom:3px;}
.picTxt03 p{color:#666;line-height:18px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.space5{clear:both;height:5px;line-height:0;font-size:0}
.space10{clear:both;height:10px;line-height:0;font-size:0}
.space25{clear:both;height:25px;line-height:0;font-size:0;}
.box200-2{float:left;width:200px}
.label02{float:left;width:199px;height:30px;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat right -597px;padding-right:1px;overflow:hidden}
.label02 li{float:left;width:64px;height:21px;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat left -495px;text-align:center;padding-top:5px;margin-top:4px}
.label02 li span{float:left;padding-left:1px;width:62px;font-size:14px}
.label02 .current{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat right -636px;height:30px;margin-top:0;margin-right:-1px;padding-top:0}
.label02 .current span{float:left;height:21px;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat left -431px;padding-top:9px;font-size:14px;font-weight:bold}
.Div01 { float:left; width:182px; border:1px solid #dce1e5; background:#fff; border-top:none; padding:6px 6px 6px 10px }
.picTxt05{width:182px}
.picTxt05 img{float:left;margin:6px 10px 0 0;display:inline}
.curve{float:left;width:171px;padding:0 0 0 2px}
.curve ul{float:left;width:171px;height:22px; overflow:hidden;}
.curve li{float:left;width:41px;height:17px;line-height:17px;border:1px solid #ddd;text-align:center}
.curve .current{float:left;width:42px;height:22px;line-height:19px;border:0;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat -100px -101px}
.dataPic{float:left;width:171px;padding:5px 0}
.dataPic span{float:left;width:171px;height:19px;font-size:14px}
.dataPic .cRed03{color:#bb2838}
.dataPic .cGreen03{color:#257207}
.dataPic p{float:left;width:171px}
.dataPic img{display:block;border:0px}
.hotWords{float:left;width:169px;overflow:hidden;padding:8px 0 0 2px}
.hotWords li{float:left;width:200px;line-height:20px}
.hotWords li a{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat -499px -769px;padding:0 9px 0 11px}
.hotWords li a.nobg{padding-left:0; background:none;}
.more2{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat right -266px}
.more3{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat right -307px}
.more2 span,.more3 span{padding-left:22px}
.tit04{padding-bottom:7px;font-size:14px;font-weight:bold}
.tit04 a:link,.tit04 a:visited{color:#2b2b2b}
.tit04 a:hover{color:#ba2636}
.tit04 span{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -80px;padding-left:20px}
.tit04 span.lcl{float:right; background:none;font-size:12px; font-weight:normal; padding:1px 0 0;}
.tit04 span.tj{float:right;font-size:12px; font-weight:normal; background:none; padding-right:9px;}
.picTxt02{float:left;width:360px;overflow:hidden;padding-bottom:9px;margin-top:3px;_margin-top:2px;margin-bottom:-3px;margin-bottom:-3px\9;*margin-bottom:-3px;_margin-bottom:-2px}
.picTxt02 ul{float:left;width:370px;padding-top:1px}
.picTxt02 li{float:left;width:175px;height:115px;position:relative;overflow:hidden;margin-right:10px;display:inline}
.picTxt02 .textbg{position:absolute;width:175px;height:19px;top:96px;left:0;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6}
.picTxt02 .text{position:absolute;width:175px;height:19px;line-height:19px;text-align:center;top:96px;*top:95px;_top:96px;left:0}
.picTxt04{width:178px;height:105px;position:relative;overflow:hidden;margin:4px 0 6px 0}
.picTxt04 .textbg{position:absolute;width:178px;height:19px;top:86px;left:0;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6}
.picTxt04 .text{position:absolute;width:178px;height:19px;line-height:19px;text-align:center;top:86px;*top:85px;_top:86px;left:0}
.picTxt06{float:left;padding:2px 0 5px;}
.picTxt06 li{float:left;width:48px;text-align:center;padding-left:15px;}
.picTxt06 li img{display:block;margin-bottom:7px}
.picTxt06 li h3{font-weight:normal;line-height:18px;}
.city{width:1000px;margin:0 auto; height:15px; background:#fff; padding-bottom:15px;}
.city span{float:left;font-weight:bold;padding-left:12px}
.city span a:hover{color:#ba2636}
.city li{float:left;padding-left:63px}
.endBg{width:100%;height:34px;margin:0 auto;background:url(http://y3.ifengimg.com/index/endbg.gif) repeat-x top}
.endNav{width:980px;height:31px;margin:0 auto;padding:0 10px 3px;font-family:宋体;background:url(http://y3.ifengimg.com/index/endbg.gif) repeat-x top;font-size:14px;font-weight:bold}
.endNav span{float:right;height:15px;padding:1px 0 0 21px;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat left -79px;margin-top:9px}
.endNav ul{float:left;padding-top:9px}
.endNav li { float:left; background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -259px; padding:0 8px 0 9px }
.chaFooter{color:#000;width:1000px;margin:0 auto;clear:both;text-align:center;line-height:24px;font-family:Arial,simsun;font-size:12px;padding-top:15px; background:#fff;}
.chaFooter a{color:#000;text-decoration:none}
.chaFooter a:hover{color:#ba2636;text-decoration:underline}
.footLink a{padding:0px 3px}
.copyright{color:#000;padding-top:3px;line-height:24px}
.orgLink {padding:10px;margin:0px auto;width:895px;height:40px;}
.orgLink a,.orgLink a:visited{color:#333}
.orgLink a:hover{color:#ba2636;}
.orgLink img{display:block;border:0px}
.orgLink div{float:left;line-height:16px;text-align:left}
.gsTxt,.xyTxt,.bjTxt,.hfTxt,.pyTxt{padding:5px 6px;width:70px}
.hfTxt{width:80px}
.pyTxt{width:90px}
.whTxt {padding:0px 5px;width:100px;}
.cxTxt {padding:2px 0 0 8px;width:60px;}
.ad200{float:left;width:200px}
.ad200-2{float:left;width:180px;border:1px solid #dce1e5;background:#fff;margin-bottom:7px;padding:12px 8px 8px 10px}
.ad200-3{float:left;width:200px;background:#fff;margin:7px 0}
.ad200-3 img{float:left;display:block}
.ad200-3 p{float:left;width:180px;height:29px;line-height:29px;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 9px -15px;padding-left:17px;overflow:hidden}
.ad1000{width:1000px;margin:0 auto;padding:30px 0; background:#fff;}
#stockSearch .button_hover{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -648px;cursor:pointer}
.navFind .button_hover{}
.btn04_hover{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -378px}
#stockSearch{float:left;width:169px;padding-left:2px}
#stockSearch .text{float:left;width:90px;height:16px;padding:1px 0 0 20px;border:1px solid #cbcbcb;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 4px -725px;color:#666}
.btn2,.btn2_hover{float:left;width:51px;height:20px;background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 -618px;border:none;margin-left:5px;display:inline;cursor:pointer}
.box200-finance{padding-bottom:5px; padding-top:8px}
.box200-ad { padding-bottom:1px }
#c3{width:72px}
#c3 span{width:70px}
.box200-wireless{margin:7px 0;}
.box200-phtv { padding-bottom:3px; padding-bottom:7px\9; *padding-bottom:7px;_padding- bottom:7px;border-top:none; margin-top:-15px; margin-bottom:0; }
.box200-wb{padding-bottom:13px;}
.box200-sc{padding-bottom:13px;}
.box200-mt{margin-top:7px;padding-bottom:10px;_padding-bottom:13px;}
.box200-gy{padding-bottom:10px;_padding-bottom:13px;}
#m_label,#g3_label{width:100px}
#m_label span{width:99px}
#g3_label span{width:98px}
#lblusername{color:#004276}
.p_7{padding-top:10px;_padding-top:8px}
.p_b_7{padding-bottom:10px;_padding-bottom:8px}
.box200-tj{float:left;width:198px;border:1px solid #dce1e5;background:#fff;margin:0;padding:12px 0 0}
.box200-tj .tit04{ padding:0 0 9px 10px}
.list08 li{height:61px;border-top:1px solid #dce1e5; padding:7px 8px 0 10px; line-height:18px}
.list08 li h3{font-weight:normal}
.list08 li.current{background:#f5f6f7}
.list08_2 li{height:61px;border-top:1px solid #dce1e5;padding:7px 8px 0 10px;line-height:18px}
.list08_2 li img{float:left;margin:3px 12px 0 0;display:inline}
.list08_2 li h3{font-weight:normal}
.list08_2 li p{color:#666;line-height:18px}
.list08_2 li.current{background:#f5f6f7}
.list08_3 .com { height:47px; border-top:1px solid #dce1e5; padding-top:5px; line-height:18px }
.list08_3 .com2 { height:62px; }
.list08_3 .com .ico { float:left; width:44px; text-align:center; padding-top:1px; }
.list08_3 .com .ico2 { float:left; width:44px; text-align:center; padding-top:2px; }
.list08_3 .com2 .ico { float:left; width:44px; text-align:center; padding-top:5px; }
.list08_3 .com .ico p { font-weight:bold }
.list08_3 .com .ico2 p { font-weight:bold }
.list08_3 .com ul { float:left; width:138px; padding:3px 8px 0; }
.list08_3 .com li { float:left; width:69px }
.m_t_7{margin-top:7px}
.endNav li.nav-footer-first{background:none;padding-left:0}
@media all and (min-width:1024) {h1,h3,li{letter-spacing:-0.5px;}.lis04 span{margin-left:0}}
.adFloatClose {	width: 77px; height: 31px; background: url("http://img.ifeng.com/tres/recommend/js/floatadclose-z.gif") no-repeat scroll 0% 0% transparent;	margin: 0; padding: 0; position: absolute; right: 0; bottom: 0; cursor: pointer; }
.adFloatDetail { position: absolute; left: 0; top: 0; margin: 0; padding: 0; background: #fff; }
.adFloatPlay { width: 25px; height: 21px; background: url("http://img.ifeng.com/tres/recommend/js/floatadrplay.gif") no-repeat scroll center center transparent; margin: 0; padding: 0;	cursor: pointer; }
.adFloatMinClose { width: 25px;	height: 20px; background: url("http://img.ifeng.com/tres/recommend/js/floatadclose.gif") no-repeat scroll center top transparent; margin: 0; padding: 0; cursor: pointer; }
body {_background-image: url(about:blank);_background-attachment: fixed;}
.floatBuoybig{_top: expression(documentElement.scrollTop + 150 + "px");}
.floatBuoysmall{_top:expression(documentElement.scrollTop + documentElement.clientHeight-150-50+'px');}
.Hover{_top:expression(documentElement.scrollTop+documentElement.clientHeight-130+'px');}
.viewWindow{_top:expression(documentElement.scrollTop+documentElement.clientHeight-300+'px');}
.Floatbig{_top:expression(eval(document.documentElement.scrollTop));_position:absolute;}
.Floatsmall{_top:expression(documentElement.scrollTop+documentElement.clientHeight-201+'px');_position:absolute;}
.FloatBottombig{_top:expression(documentElement.scrollTop+documentElement.clientHeight-300+'px');}
.FloatBottomsmall{_top:expression(documentElement.scrollTop+documentElement.clientHeight-30+'px');}
.div_euro { background:url(http://y2.ifengimg.com/5ff53fb451d506c5/2012/0611/bk_euro02.jpg) no-repeat 2px 0px; height:71px; padding:0 0 8px 15px; position:relative; margin-top:3px; }
.div_euro .nav_euro { height:17px; font:normal 12px/17px simsun; padding-left:83px; _padding-top:1px; }
.div_euro .nav_euro a { padding:0px 3px; color:#fff; }
.div_euro .nav_euro a.yel { color:#fff700 }
.list_euro { padding-top:3px; *padding-top:2px;}
.list_euro li { font:normal 14px/24px simsun; }
.speTit{background:url(http://y0.ifengimg.com/index/titbg.gif) no-repeat 0px 9px; height:18px; padding:9px 0 0 30px;}
.speTit img{display:block; float:left;}
.speTit div{float:left; padding-left:12px;}
.speTit span{font:normal 12px/18px simsun; padding-right:10px; color:#fff}
.speTit span a{color:#fff;}
.speTit span.yel2, .speTit span.yel2 a{color:#fee502;}
.headBg{height:56px;margin:0 auto;background:#fff url(http://y1.ifengimg.com/index/index_navbg.gif) repeat-x top}
.adList06 li{background:url(http://y1.ifengimg.com/index/sprite8.gif) no-repeat 0 8px;padding-left:21px;font-size:14px;line-height:24px;}
.adList06 li span{padding-right:7px; margin-left:-3px;}
.box200-cj{float:left;width:178px;height:105px;padding:9px 10px 7px;position:relative;overflow:hidden;border:1px solid #dce1e5;background:#fff; border-top:none; border-bottom:none; margin-top:-10px;}/*130527a*/
.box200-cj .textbg{position:absolute;width:178px;height:19px;top:86px;left:10px;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6}
.box200-cj .text{position:absolute;width:178px;height:19px;line-height:19px;text-align:center;top:86px;*top:85px;_top:86px;left:10px}
.ad200-4{float:left;width:200px;padding-top:7px;}
.p_t_3 { padding-top:3px; }
.m_b_7 { margin-bottom:7px; }
.p_t_0 { padding-top:0; }
.weixin{position:fixed;display:block;top:460px;width:110px;height:165px;z-index:1000;left:50%;margin-left:500px;_position:absolute;_margin-top:160px;_top:expression(documentElement.scrollTop+(documentElement.clientHeight-this.offsetHeight)/2)}
.weixin img{float:left;display:block;}
.weixin span{float:left;color:#999;cursor:pointer;height:18px;line-height:18px; padding-left:4px;}

/**** inline ****/

              .arrowfold{background:url(http://y1.ifengimg.com/38716b164e0f5e63/2013/0802/arrowfold.gif) no-repeat right center;}
              
/**** inline ****/

.adBlue, .adBlue a:link, .adBlue a:visited, .adBlue a:hover { color:#164d6c}

/**** inline ****/

.adBlue, .adBlue a:link, .adBlue a:visited, .adBlue a:hover { color:#164d6c}

/**** inline ****/

		#ad140_25{position:absolute; top:3px; left:71px;}
		#ad140_25 img{ padding:0; display:block}
	
/**** inline ****/

.adList02 li { float:left; width:155px; height:22px; line-height:22px; background:url(http://y0.ifengimg.com/index/sprite5.gif) no-repeat 0 -17px; padding-left:8px; padding-right:6px; overflow:hidden; font-size:14px; }
.adList li { float:left; width:330px; height:22px; line-height:22px; background:url(http://y0.ifengimg.com/index/sprite5.gif) no-repeat 0 -17px; padding-left:8px;  overflow:hidden; font-size:14px; }

/**** inline ****/
 
.adList02 li { float:left; width:155px; height:22px; line-height:22px; background:url(http://y0.ifengimg.com/index/sprite5.gif) no-repeat 0 -17px; padding-left:8px; padding-right:6px; overflow:hidden; font-size:14px; }
.adList li { float:left; width:330px; height:22px; line-height:22px; background:url(http://y0.ifengimg.com/index/sprite5.gif) no-repeat 0 -17px; padding-left:8px;  overflow:hidden; font-size:14px; }

/**** inline ****/
 
.adList02 li { float:left; width:155px; height:22px; line-height:22px; background:url(http://y0.ifengimg.com/index/sprite5.gif) no-repeat 0 -17px; padding-left:8px; padding-right:6px; overflow:hidden; font-size:14px; }
.adList li { float:left; width:330px; height:22px; line-height:22px; background:url(http://y0.ifengimg.com/index/sprite5.gif) no-repeat 0 -17px; padding-left:8px;  overflow:hidden; font-size:14px; }

/**** inline ****/
 
.adList02 li { float:left; width:155px; height:22px; line-height:22px; background:url(http://y0.ifengimg.com/index/sprite5.gif) no-repeat 0 -17px; padding-left:8px; padding-right:6px; overflow:hidden; font-size:14px; }
.adList li { float:left; width:330px; height:22px; line-height:22px; background:url(http://y0.ifengimg.com/index/sprite5.gif) no-repeat 0 -17px; padding-left:8px;  overflow:hidden; font-size:14px; }
