/*

    This is the Global CSS file for every page in this site use, which contains

*/



html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, font, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,

fieldset, form, label, legend, input, button,

table, caption, tbody, tfoot, thead, tr, th, td {

	margin: 0;

	padding: 0;

	border: 0;

	outline: 0;

}



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {

	display: block;

}



ol, ul {

	list-style: none;

}



blockquote, q {

	quotes: none;

}



legend, hr {

	display: none;

}



a {

	cursor: pointer;

	text-decoration: none;

	outline: none; /* for Firefox */

}



/* remember to define focus styles! */



:focus {

	outline: 0;

}



div.lower_field .search_txt:focus {

	outline: 5px auto -webkit-focus-ring-color;

}



/* Bug Fixers */



button {

	position: relative;

	padding: 0;

	border: 0 none;

	cursor: pointer;

	overflow: visible;

}



button span {

	position: relative;

	display: block;

	white-space: nowrap;

}



@media screen and (-webkit-min-device-pixel-ratio:0) {

	button span {

		margin-top: -1px;

		margin-left: -3px;

	}

}



button::-moz-focus-inner,

input[type="reset"]::-moz-focus-inner,

input[type="button"]::-moz-focus-inner,

input[type="submit"]::-moz-focus-inner,

input[type="file"] > input[type="button"]::-moz-focus-inner {

	padding: 0;

	border: 0 none;

}



button:focus::-moz-focus-inner,

input[type="reset"]:focus::-moz-focus-inner,

input[type="button"]:focus::-moz-focus-inner,

input[type="submit"]:focus::-moz-focus-inner,

input[type="file"] > input[type="button"]:focus::-moz-focus-inner {

	padding: 0;

	border: 0 none;

}



/* remember to highlight inserts somehow! */



ins {

	text-decoration: none;

}



del {

	text-decoration: line-through;

}



/* tables still need cellspacing in the markup */



table {

	border-collapse: collapse;

	border-spacing: 0;

}



/* Misc */



.radius_bd {

	zoom: 1;

	border-radius: 4px;

	-webkit-border-radius: 4px 4px;

	-moz-border-radius: 4px 4px;

}



/* Change objects highlight colour  */



*::selection {

	background-color: #000000;

	color: #ffffff;

}



*::-moz-selection {

	background-color: #000000;

	color: #ffffff;

}



/* To hide any not in use element*/



.vanisher {

	display: none !important;

}



.hide {

	visibility: hidden !important;

}



/* To clear the floats */



.clearman {

	clear: both;

	height: 1px;

	text-align: left;

	display: block;

	overflow: hidden;

	text-indent: -999em;

	white-space: nowrap;

}



hr.clearman {

	visibility: hidden;

}



/* To make any element clear the floats */



.clearmen {

	clear: both;

	display: block;

}



/* :after method */



.fillup:after {

	clear: both;

	content: "";

	display: block;

}



/* Put the texts away in a specified element */



.overcooked {

	text-align: left;

	display: block;

	overflow: hidden;

	text-indent: -999em;

	white-space: nowrap;

}



/* Level */



.slvl {

	margin-bottom: 20px;

}



.lvl {

	margin-bottom: 40px;

}



/* Main Structure */



body {

	background: transparent url(http://twimg.edgesuite.net/appledaily/images/core/bg.png) top left repeat;

	font: 16px/100% "Helvetica", Verdana, Arial, sans-serif;

}



.soil {

	padding-top: 46px;

}



/* Crossover Header */



#globehead {

	background: white url(http://twimg.edgesuite.net/appledaily/images/core/ad_headerbg.png) 0 45px repeat-x;

	height: 90px;

	font-size: 0.6875em;

	font-family:"PMingLiU";

}



#globehead .sqzer {

	position: relative;

	width: 970px;

	margin: 0 auto;

}



.nlogo {

	display: none;

}



.clogo {

	background: white url(http://twimg.edgesuite.net/appledaily/images/core/ad_logo.jpg) top left no-repeat;

	display: block;

	width: 195px;

	height: 90px;

}



/*.animation .clogo {background: white url(http://twimg.edgesuite.net/appledaily/images/core/ad_logo.jpg) top left no-repeat;}*/

.charity .clogo {background: white url(http://twimg.edgesuite.net/appledaily/images/core/ch_logo.png) top left no-repeat;}

.enews .clogo {background: white url(http://twimg.edgesuite.net/appledaily/images/core/ad_enews_logo.jpg) top left no-repeat;}



.clogo a {

	display: block;

	width: 195px;

	height: 90px;

}



#corpnav {

	position: absolute;

	top: 56px;

	left: 210px;

	overflow: hidden;

}



#corpnav a {

	background: transparent url(http://twimg.edgesuite.net/appledaily/images/core/cosspll.png) center right no-repeat;

	float: left;

	height: 30px;

	padding: 0 14px 0 13px;

}



#corpnav a img {

	vertical-align: middle;

}



#corpnav a.last {

	background: none;

}



#worldwide {

	position: absolute;

	top: 17px;

	right: 5px;

}



#worldwide a {

	display: block;

	float: left;

	color: #5a5a5a;

	font-size: 1.0909em;

	line-height: 1.2em;

	padding: 2px 5px 2px 8px;

}



#worldwide a:hover {

	background-color: #ededed;

	color: black;

}



#worldwide .on {color: #999;}

.tw {background: transparent url(http://twimg.edgesuite.net/appledaily/images/core/wwsp.png) center right no-repeat;}



#corpgs a,.nh {

	background-image: url(http://twimg.edgesuite.net/appledaily/images/core/iconset.png);

	background-repeat: no-repeat;

	background-color: transparent;

	position: absolute;

	display: block;	

	color: #055b94;

	font-size: 12px;

}

#corpgs a{top: 19px;}

.nh {top:0;}

#corpgs a:hover {

	text-decoration: underline;

}



#corpgs a.sh {

	background-position: 0 0;

	left: 222px;

	float: none;

	line-height: 20px;

	padding-left: 20px;

}



a.mc {

	background-position: 0 -41px;

	left: 660px;

	line-height: 1.4em;

	padding-left: 14px;

}



span.nh {

	background-position: 9px -118px;

	left: 790px;

	width: 95px;

	height:19px;

}



/* Site Nav */



#sitenav {

	background: #3f3f3f url(http://twimg.edgesuite.net/appledaily/images/core/gnvbg.png) top left repeat-x;

	position: absolute;

	top: 90px;

	left: 0;

	width: 100%;

}



#sitenav .sqzer {

	position: relative;

	width: 970px;

	margin: 0 auto;

}



.nbtn {

	float: left;

	border-right: 1px solid #4e4e4e;

	position:relative;

}



.nbtn a {

	display: block;

	color: white;

	padding: 10px 10px;

}



.nbtn a:hover {

	background-color: #0076a4;

}



.spk a:hover {background-color: transparent; cursor: default;}



.lr {

	font-weight: bold;

	border-right: none;

	padding-right: 16px;

}



.search {

	position: absolute;

	top: 0;

	right: 0;

	width: 225px;

	line-height: 1em;

	border-right: none;

	vertical-align: middle;

}



.lr a {

	background: transparent url(http://twimg.edgesuite.net/appledaily/images/core/rssicon.png) 55px 8px no-repeat;

	padding-right: 25px

}



.lr a:hover {

	background: transparent url(http://twimg.edgesuite.net/appledaily/images/core/rssicono.png) 55px 8px no-repeat;

	color: #e2772b;

}



.sbox {

	background: #616161 url(http://twimg.edgesuite.net/appledaily/images/core/searchicon.png) center left no-repeat;

	position: absolute;

	top: 6px;

	left: 0;

	width: 140px;

	color: #fefefe;

	font-size: 16px;

	padding: 2px 2px 2px 25px;

	-webkit-appearance: none;

	-webkit-border-radius: 0;

}



.sbtn {

	position: absolute;

	top: 6px;

	left: 167px;

	background-image: -webkit-gradient(linear,left top,left bottom,from(#616161),to(#616161));

	background-image: -webkit-linear-gradient(top,#616161,#616161);

	-webkit-appearance: none;

	-webkit-border-radius: 0;

	-webkit-user-select: none;

	background-color: #616161;

	background-image: linear-gradient(top,whiteSmoke,#F1F1F1);

	background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);

	border: none;

	height: 23px;

	color: white;

	font-size: 16px;

	font-weight: bold;

	line-height: 22px;

	width: 54px;

	padding: 0 8px;

	text-align: center;

}



.sbtn:hover {

	background-color: black;

	color: white;

}



.search a {

	position: absolute;

	top: 8px;

	left: 225px;

	color: #ffffff;

	font-size: 15px;

}



.search a:hover {

	text-decoration: underline;

}



.tdns {

	padding-right: 30px;

}



a.ddme {

	background: transparent url(http://twimg.edgesuite.net/appledaily/images/core/drop_btn_dlike.png) 0 -38px no-repeat;

	position: absolute;

	top: 0;

	right: 0;

	width: 30px;

	height: 36px;

	padding: 0;

	margin: 0;

}



.submenu {

	background-color: black;

	position: absolute;

	display: none;

	width: 138px;

	height: 38px;

	box-shadow: 0 6px 12px #333;

	z-index: 999999;	

}



.submenu li,

.submenu a,

.submenu a img {

	display: block;

	height: 38px;

	padding: 0;

	margin: 0;

}



.submenu li {

	float: left;

}



.tdns .submenu {

	background-image: -webkit-gradient(linear,left top,left bottom,from(#232324),to(#3F3F41));

	background-image: -webkit-linear-gradient(top,#232324,#3F3F41);

	background-color: #3F3F41;

	width: 970px;

	padding: 0 1px;

}



.tdns .submenu li {

	float: left;

	width: 95px;

	height: 38px;

	line-height: 1em;

	text-align: center;

}



.tdns .submenu li a {

	height: 16px;

	padding: 11px 0;

}



.spk .submenu li {

	width: 138px;

}



/*

.nbtn:hover .submenu {display: block;}

*/



.nbtn:hover a.ddme {

	background: transparent url(http://twimg.edgesuite.net/appledaily/images/core/drop_btn_dlike.png) 0 0px no-repeat;

}



.submenu .nan:hover {background-color: #ecb527;}

.submenu .ntn:hover {background-color: #3371c2;}

.submenu .nhn:hover {background-color: #3dab4b;}

.submenu .nen:hover {background-color: #e48316;}

.submenu .nin:hover {background-color: #3371c2;}

.submenu .nsn:hover {background-color: #a31313;}                         

.submenu .nbn:hover {background-color: #582a97;}

.submenu .nfn:hover {background-color: #1f3e6e;}

.submenu .nrn:hover {background-color: #5699a8;}       

.submenu .nmn:hover {background-color: #86a84a;}



/* Extras */



.abkct {

	width: 970px;

	margin: 0 auto;

}



.abktp {

	background-color: #565656;

	display: block;

	width: 80px;

	color: #fbffff;

	padding: 8px 28px;

	margin-left: 835px;

}



.fexbr {

	background: #4b4b4b url(http://twimg.edgesuite.net/appledaily/images/core/pftbg.png) top left repeat-x;

	padding: 15px 5px 24px;

	border-bottom: 1px solid #bcbcbc;

}



.fexbr .sqzer {

	width: 970px;

	margin: 0 auto;

}



.fexbr a {

	background-position: top center;

	background-color: transparent;

	background-repeat: no-repeat;

	display: block;

	float: left;

	width: 120px;

	color: #fbffff;

	padding-top: 70px;

	text-align: center;

	opacity: 0.8;

}



.fexbr a:hover {

	opacity: 1;

	text-decoration: underline;

}



.dyw {background-image: url(http://twimg.edgesuite.net/appledaily/images/core/dyw.png);}

.lnr {background-image: url(http://twimg.edgesuite.net/appledaily/images/core/lnr.png);}

.oneg {background-image: url(http://twimg.edgesuite.net/appledaily/images/core/oneg.png);}

.wkw {background-image: url(http://twimg.edgesuite.net/appledaily/images/core/wkw.png);}

.rpter {background-image: url(http://twimg.edgesuite.net/appledaily/images/core/rpter.png);}

.itul {background-image: url(http://twimg.edgesuite.net/appledaily/images/core/itul.png);}

.pguss {background-image: url(http://twimg.edgesuite.net/appledaily/images/core/pguss.png);}

.wmvs {background-image: url(http://twimg.edgesuite.net/appledaily/images/core/wmvs.png);}





/* Crossover Footer */



#corpfoot {

	background: #f2f2f2 url(http://twimg.edgesuite.net/appledaily/images/core/footerbg.png) top left repeat-x;

	padding: 26px 0 5em 14px;

	clear: both;

}



#corpfoot .sqzer {

	position: relative;

	width: 970px;

	margin: 0 auto;

}



#corpfoot figure {

	display: block;

	width: 143px;

	height: 19px;

}



#corpcompanies {

	margin-top: 10px;

}



#corpcompanies:after {

	content: "";

	clear: both;

	display: block;

}



#corpcompanies a {

	float: left;

	height: 30px;

	padding: 0 16px;

	border-left: 1px solid #fff;

	border-right: 1px solid #a5a5a5;

}



#corpcompanies a.first {

	border-left: none;

	padding-left: 0;

}



#corpcompanies a.last,

#corpinfo a.last {

	background: none;

	border-right: none;

}



#corpinfo {

	clear: both;

	display: block;

	margin: 20px 0 0.75em;

}



#corpinfo a {

	background: transparent url(http://twimg.edgesuite.net/appledaily/images/core/infodots.png) top right repeat-y;

	display: inline;

	color: #4d4d4d;

	font-size: 0.75em;

	padding: 0 0.65em 0 0.3em;

}



#corpinfo a:hover {

	text-decoration: underline;

}



#copyright {

	color: #696969;

	font-size: 0.75em;

}



/* Page Structure */



.soil {

	width: 970px;

	margin: 0 auto;

}



.vertebrae {

	float: left;

	width: 650px;

}



.hsv {

	background: transparent url(http://twimg.edgesuite.net/appledaily/images/core/vicon.png) center right no-repeat;

}





/* Globe ADs*/



.ads {

	overflow: hidden;

}



#leaderboard {

	width: 970px;

	margin: 0 auto 10px;

}



.rtf {

	margin-bottom: 10px;

}



.rtb {

	width: 300px;

}

.fb-comments, .fb-comments iframe[style] {width: 100% !important;}



/* webkit Aniamtions */



@-webkit-keyframes FadeIn {

    0% {

        opacity: 0;

    }



    100% {

        opacity: 1;

        -webkit-animation-timing-function: ease-out;

    }

}



 /* new ad 300x100*/

#div-ad-mini1,#div-ad-mini2{width:320px;float:left;margin:0 0 15px;}

#div-ad-mini2{float:right;}



#articlelast {

  margin: 0.5em;

}

				
				/**/

.vertebrae {
	margin-bottom: 40px;
}

/* splash */

#splash {
	position: relative;
	width: 650px;
	height: 410px;
	margin-bottom: 20px;
}

.sca {
	position: relative;
	width: 100%;
	height: 410px;
	white-space: nowrap;
	overflow: hidden;
}

.its {
	position: absolute;
	width: 20000em;
	height: 410px;
}

.es {
    position: relative;
    float: left;
	width: 650px;
	height: 410px;
    z-index: 98;
}

.es a {
	display: block;
	width: 650px;
	height: 410px;
	text-align: center;
}

.es h1, .es h3 {
	position: absolute;
	top: 311px;
	left: 0;
	width: 610px;
	color: white;
	font-size: 50px;
	line-height: 1em;
	padding:6px 20px;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.7);
	z-index: 12;
}

.es span {
	background-color: #222323;
	position: absolute;
	top: 311px;
	left: 0;
	display: block;
	width: 100%;
	height: 63px;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	z-index: 11;
}

.headline_switcher {
	position: absolute;
	top: 384px;
	left: 0;
	width: 100%;
	height: 26px;
}

.bw {
	background-image: url(http://twimg.edgesuite.net/appledaily/images/core/iconset.png);
	background-color: #484848;
	position: absolute;
	top: 205px;
	display: block;
	width: 42px;
	height: 42px;
    z-index: 99;
    cursor: pointer;
    box-shadow: 0 0 2px black;
}

#splash .lf {background-position: 0 -151px; left: 0;}
#splash .lf:hover {background-position: 0 -193px; left: 0;}
#splash .rh {background-position: -42px -151px; right: 0;}
#splash .rh:hover {background-position: -42px -193px; right: 0;}

/* Realtime News */

.rts {
	background-color: white;
	zoom: 1;
}

.rts header {
	background-color: #3371c2;
	position: relative;
	color: white;
	padding: 5px 10px;
}

.rts a:hover {
	text-decoration: underline;
}

.rts header h1, .rts header h2 {
	font-size: 1.5em;
	line-height: 24px;
}

.rts header a {
	position: absolute;
	top: 9px;
	right: 16px;
	color: white;
	float: right;
	line-height: 1em;
}

.rts article {
	float: left;
	padding: 10px 0 0 20px;
}

.rtcvr {
	background-color: #d5d5d5;
	width: 300px;
	height: 220px;
	padding: 10px 10px 5px;
	box-shadow: inset 0 1px 2px #4c4c4c;
}

.rtcvr a {
	color: #3371c2;
}

.rtcvr img {
	display: block;
	width: 300px;
	height: 184px;
	margin-bottom: 10px;
}

.hls {
	width: 320px;
}

.hls li {
	padding: 20px 0 20px 1em;
	border-bottom: 1px solid #9c9ea6;
}

.hls li a {
	color: #4a85c7;
}

.hls li a:hover {
	color: #3a699e;
	text-decoration: underline;
}

.rts aside {
	position: relative;
	float: right;
	width: 270px;
}

.mrt {
	margin: 17px 20px 0 0;
}

.mrt li {
	display: table;
	vertical-align: middle;
	padding: 8px 38px 8px 0;
	border-bottom: 1px dashed #9c9ea6;
	zoom: 1;
}

.mrt time,
.mrt a {
	display: table-cell;
	vertical-align: middle;
}

.mrt time {
	color: #999999;
	font-size: 14px;
	font-family: Helvetica;
	font-weight: bold;
	padding: 0 0.75em 0 1em;
	margin-right: 1em;
}

.mrt a {
	color: #303031;
	font-size: 0.9375em;
	line-height: 1.3em;
}

.mrt a:hover {
	color: #696e70;
}

li.last {
	border-bottom: 0;
}

/* Facebook Box */

.fbbx {
	position: relative;
	margin-top: 20px;

}

.fbbx header {
	background: #616d95 url(http://twimg.edgesuite.net/appledaily/images/core/fbhd.png) top right no-repeat;
	position: relative;
	color: white;
	padding: 9px 0 9px 46px;
}

.fbbx h1, .fbbx h2 {
	display: none;
}

.fbbx header a {
	color: #8f98b4;
	padding: 0 26px;
	line-height: 1em;
	border-right: 1px solid #8692b9;
}

.fbbx header a.on,
.fbbx header a:hover {
	color: white;
}

.fbbx header a.last {
	border-right: 0;
}

/* Ani News*/

.aad {
	position: relative;
	height: 224px;
	border-bottom: 4px solid #a30011;
}

.aad header {
	background-color: #a30011;
	position: relative;
	color: white;
	padding: 5px 10px;
}

.aad a:hover {
	text-decoration: underline;
}

.aad header h1, .aad header h2 {
	font-size: 1.5em;
	line-height: 24px;
}

.aad header a {
	position: absolute;
	top: 9px;
	right: 16px;
	color: white;
	float: right;
	line-height: 1em;
}

.aad article {
	background-color: white;
}

.aad .sqzer {
	padding: 20px 0 20px;
	overflow: hidden;
}

.tuls {
	padding: 0 0 0 62px;
}
.ecs{ width:850px;height:120px; float:left;}
.ecs a{display:block;float:left;width:145px;padding:0 12px;margin-left:1px;color: #3f3f41;}

.ecs img {
	display: block;
	width: 144px;
	height: 90px;
	margin-bottom: 10px;
}

.ecs p {
	height: 2.13333em;
	font-size: 15px;
	margin-bottom: 10px;
	overflow: hidden;
}

.ecs span {
	background: transparent url(http://twimg.edgesuite.net/appledaily/images/core/eye.png) center left no-repeat;
	color: #3f3f41;
	font-size: 13px;
	padding-left: 28px;
}

.aad .bw {
	top: 107px;
}

.aad .lf {background-position: 0 -151px; left: 10px;}
.aad .lf:hover {background-position: 0 -193px; left: 10px;}
.aad .rh {background-position: -42px -151px; right: 10px;}
.aad .rh:hover {background-position: -42px -193px; right: 10px;}


/* Editor's Select */

.estd {
	position: relative;
	float: left;
	width: 650px;
	margin-bottom: 40px;
}

.estd header {
	position: relative;
	color: #719144;
	padding: 5px 0;
	border-bottom: 4px solid #719144;
	zoom: 1;
}

.estd a:hover {
	text-decoration: underline;
}

.estd header h1, .estd header h3 {
	font-size: 1.5em;
	line-height: 24px;
}

.estd header a {
	position: absolute;
	top: 9px;
	right: 16px;
	color: #719144;
	float: right;
	line-height: 1em;
}

.estd article {
	background-color: white;
	padding: 20px;
	zoom: 1;
}

.estd figure {
	position: relative;
	float: left;
	width: 300px;
	height: 280px;
}

.estd figure p {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 17px;
	font-size: 17px;
	padding: 14px 0;
	text-align: center;
	z-index: 9;
}

.estd figure span {
	background-color: #141414;
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 17px;
	opacity: 0.8;
	padding: 14px 0;
	filter: alpha(opacity = 80);
	z-index: 8;
}

.estd figure a {
	color: white;
}

.estd figure a:hover {
	text-decoration: underline;
}

.estds {
	float: right;
	display: table;
	width: 282px;
}

.estds li {
	display: table;
	width: 282px;
	height: 56px;
	line-height: 1.3em;
	border-bottom: 1px solid #9c9ea6;
}

.estds li:last-child {
	border-bottom: 0px solid #9c9ea6;
}


.estds a {
	display: table-cell;
	color: #3f3f41;
	vertical-align: middle;
}

.estds a:hover {
	color: #cc4a3b;
}

.estds a.estad {
	color: #5ba1ad;
}

.estds a.estad:hover {
	color: #719144;
}

/* Hot Tags */

.hts {
	position: relative;
	float: right;
	width: 300px;
}

.hts header {
	color: #47828c;
	padding: 5px 0;
	border-bottom: 4px solid #47828c;
}

.hts header h1, .hts header h3 {
	font-size: 1.5em;
	line-height: 24px;
}

.hts article {
	background:#fff; 
	height:320px;
	
}

.hts article img {
     flaot:left; margin:20px 0 0 20px;
 }

.hts a {
	line-height: 1.23em;
	white-space: nowrap;
	vertical-align: middle;
}

.hts a:hover {
	color: white;
}

.tagcloud1  {color: #dd4088; font-size: 0.6em;}
.tagcloud2  {color: #c443d7; font-size: 0.8em;}
.tagcloud1:hover {background-color: #dd4088;}
.tagcloud2:hover {background-color: #c443d7;}

.tagcloud3  {color: #efe713; font-size: 1em;}
.tagcloud4  {color: #5b72ad; font-size: 1.4em;}
.tagcloud3:hover {background-color: #efe713;}
.tagcloud4:hover {background-color: #5b72ad;}

.tagcloud5  {color: #98b73f; font-size: 1.2em;}
.tagcloud6  {color: #0f9792; font-size: 1.5em;}
.tagcloud5:hover {background-color: #98b73f;}
.tagcloud6:hover {background-color: #0f9792;}

.tagcloud7  {color: #fe0003; font-size: 1.8em;}
.tagcloud8  {color:#dd4088; font-size: 2.1em;}
.tagcloud7:hover {background-color: #fe0003;}
.tagcloud8:hover {background-color: #dd4088;}

.tagcloud9  {color: #4cdeba; font-size: 2.3em;}
.tagcloud10  {color: #ffb400; font-size: 2em;}
.tagcloud9:hover {background-color: #4cdeba;}
.tagcloud10:hover {background-color: #ffb400;}

a.tagcloudad {font-size: 2.6em;color: #ae0000;}

.tcad:hover {
	background-color: #ae0000;
	color: white;
}

/* More Apple */

.map {
	position: relative;
	zoom: 1;
}

.map header {
	background-color: transparent;
	color: #a30011;
	padding: 5px 0;
	border-bottom: 4px solid #a30011;
	zoom: 1;
}

.map header h1, .map header h2 {
	font-size: 1.5em;
	line-height: 24px;
}

.map article {
	background-color: white;
}

.map .sqzer {
	padding: 20px 0 20px;
	width: 846px;
	margin: 0 auto;
	overflow: hidden;
}

.tuls {
	padding: 0 0 0 62px;
}


.ecs h1, .ecs h3 {
	color: #787e84;
	font-size: 16px;
	margin-bottom: 5px;
}

.ecs img {
	display: block;
	width: 144px;
	height: 90px;
	margin-bottom: 10px;
}

.map .bw {
	top: 107px;
}

.map .lf {background-position: 0 -151px; left: 10px;}
.map .lf:hover {background-position: 0 -193px; left: 10px;}
.map .rh {background-position: -42px -151px; right: 10px;}
.map .rh:hover {background-position: -42px -193px; right: 10px;}


/* Home Aside */

.manu {
	float: right;
	width: 300px;
}.tuls {
	padding: 0;
	position: absolute;
	width: 1000em;
}

.aad .sqzer {
	width: 850px;
	height: 150px;
	overflow: hidden;
	margin: 0 0 0 62px;
	position: relative;
}

.map .sqzer {
	width: 850px;
	height: 120px;
	overflow: hidden;
	margin: 0 0 0 62px;
	position: relative;
}

#secMoreNews {
	width: 516px;
	overflow: hidden;
	margin: 0 0 0 70px;
}

/*main view slider*/

div.sca div.headline_switcher {
	position: absolute;
	top: 374px;
	left: 0;
	width: 650px;
	height: 36px;
	display:none;
}

div.sca:hover div.headline_switcher {display:block;}
div.sca div.headline_switcher .navi {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 12px;
	padding: 12px 0;
	z-index: 100;
	text-align: center;
	vertical-align: middle;
}
div.sca div.headline_switcher .navi a {
	background-color: #828079;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 1em;
	border-radius: 6px;
	-moz-border-radius: 6px;
	overflow: hidden;
	box-shadow: inset 0 1px 1px black;
	behavior: url(/PIE.htc);
}

div.sca div.headline_switcher .navi a:hover,div.sca div.headline_switcher .navi a.active {background-color:#52c4ff;}
div.sca div.headline_switcher div.holder {position:relative;width:100%;height:36px;}
div.sca div.headline_switcher div.holder span.masker {
	background-color: #222323;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 36px;
	z-index:99;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}



#splash a.bw {
	background-color: #000000;
	position: absolute;
	top: 154px;
	display: block;
	width: 40px !important;
	height: 42px;
	z-index: 999;
	display:none;
}

#splash:hover a.bw {display:block;}/* 
 * 	Core Owl Carousel CSS File
 *	v2.0.0
 */

/* clearfix */
.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.owl-carousel{
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index:1;
}


.owl-carousel .owl-stage{
	position: relative;
	-ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage-outer{
	position:relative;
	overflow: hidden;
	/* temporary fix for flashing background */
	-webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-stage-outer.owl-height{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-video-wrapper{
	position: relative;
	height: 100%;
	background: #000;
}

.owl-controls .owl-nav div,
.owl-controls .owl-dot{
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.owl-carousel .owl-video-play-icon{
	position:absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url('owl-video-play.png') no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	transition-property: scale;
	transition-duration: 100ms;
	transition-timing-function: ease;
}

.owl-carousel .owl-video-play-icon:hover{
	-moz-transform: scale(1.3, 1.3);
	-ms-transform: scale(1.3, 1.3);
	-o-transform: scale(1.3, 1.3);
	-webkit-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon{
	display: none;
}

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;

	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;

	transition-property: opacity;
  	transition-duration: 400ms;
  	transition-timing-function: ease;
}

.owl-carousel .owl-video-frame{
	position: relative;
	z-index: 1;
}

.owl-loaded{
	display: block;
}
.owl-loading{
	opacity: 0;
	display: block;
}
.owl-hidden{
	opacity:0;
}
.owl-carousel .owl-refresh .owl-item{
	display: none;
}

.owl-carousel .owl-item{
	position:relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* If mouseDrag:false then you are able to select text */
.owl-carousel.owl-text-select-on .owl-item{
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.owl-carousel .owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -o-grab;
	cursor: -ms-grab;
	cursor: grab;
}

.owl-carousel .owl-item img.owl-lazy{
	opacity: 0;
}

.owl-carousel .owl-item img{
	opacity: 1;
	display: block;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition-property: opacity;
  	transition-duration: 400ms;
  	transition-timing-function: ease;
}

/* to do */
.owl-carousel .owl-stage.backfacefix .owl-item{
	-webkit-backface-visibility: hidden;
}

.owl-rtl{
	direction: rtl;
}
.owl-rtl .owl-item {
	float:right;
}

/* No Js */
.no-js .owl-carousel{
	display: block;
}

/* animate */

.animated {
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-animated-in{
	z-index: 0
}
.owl-animated-out{
	z-index: 1
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@charset "UTF-8";

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license

Copyright (c) 2013 Daniel Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown-100 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown-100 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInDown-100 {
  -webkit-animation-name: slideInDown-100;
  animation-name: slideInDown-100;
}

@-webkit-keyframes slideOutDown-100 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@keyframes slideOutDown-100 {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.slideOutDown-100 {
  -webkit-animation-name: slideOutDown-100;
  animation-name: slideOutDown-100;
}
.nbtn input.date{position:absolute;left:0;top:0;z-index:1;background:transparent;width:100px;height:39px;}
.mmvnv input.date{position:absolute;right:0;bottom:0;background:transparent;width:130px;height:39px;}
.nbtn a.caltrigger{position:relative;z-index:9;}
.mmvnv a.caltrigger{}
/* calendar root element */
#calroot {
    /* place on top of other elements. set a higher value if nessessary */
	position:absolute;
    z-index:9999;
    margin-top:-1px;
    width:198px;
    padding:2px;
    background-color:#fff;
    font-size:11px;
    border:1px solid #ccc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow: 0 0 15px #666;
    -webkit-box-shadow: 0 0 15px #666;
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {
    padding:2px 0;
    height:22px;
}

#caltitle {
    font-size:14px;
    color:#0150D1;
    float:left;
    text-align:center;
    width:155px;
    line-height:20px;
    text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
    display:block;
    width:20px;
    height:20px;
    background:transparent url(http://tw.img.nextmedia.com/appledaily/images/core/prev.gif) no-repeat scroll center center;
    float:left;
    cursor:pointer;
}

#calnext {
    background-image:url(http://tw.img.nextmedia.com/appledaily/images/core/next.gif);
    float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
    visibility:hidden;
}

/* year/month selector */
#caltitle select {
    font-size:12px;
}

/* names of the days */
#caldays {
    height:14px;
    border-bottom:1px solid #ddd;
}

#caldays span {
    display:block;
    float:left;
    width:28px;
    text-align:center;
}

/* container for weeks */
#calweeks {
    background-color:#fff;
    margin-top:4px;
}

/* single week */
.calweek {
    clear:left;
    height:22px;
}

/* single day */
.calweek a {
    display:block;
    float:left;
    width:27px;
    height:20px;
    text-decoration:none;
    font-size:11px;
    margin-left:1px;
    text-align:center;
    line-height:20px;
    color:#666;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

/* different states */
.calweek a:hover, .calfocus {
    background-color:#ddd;
}

/* sunday */
a.calsun {
    color:red;
}

/* offmonth day */
a.caloff {
    color:#ccc;
}

a.caloff:hover {
    background-color:rgb(245, 245, 250);
}


/* unselecteble day */
a.caldisabled {
    background-color:#efefef !important;
    color:#ccc	!important;
    cursor:default;
}

/* current day */
#calcurrent {
    background-color:#498CE2;
    color:#fff;
}

/* today */
#caltoday {
    background-color:#333;
    color:#fff;
}/**** inline ****/
      .topthree {width:323px;float:left;text-align:center;margin:-5px 0px 5px 0px;}  
/**** inline ****/
.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f2f2f2;border:1px solid #606060;font-size:25px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3b5998;color:#fff;font-size:15px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:13px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:13px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29447e;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:17px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f2f2f2;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
.fb_connect_bar_container div,.fb_connect_bar_container span,.fb_connect_bar_container a,.fb_connect_bar_container img,.fb_connect_bar_container strong{background:none;border-spacing:0;border:0;direction:ltr;font-style:normal;font-variant:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal;vertical-align:baseline}.fb_connect_bar_container{position:fixed;left:0 !important;right:0 !important;height:42px !important;padding:0 25px !important;margin:0 !important;vertical-align:middle !important;border-bottom:1px solid #333 !important;background:#3b5998 !important;z-index:99999999 !important;overflow:hidden !important}.fb_connect_bar_container_ie6{position:absolute;top:expression(document.compatMode=="CSS1Compat"? document.documentElement.scrollTop+"px":body.scrollTop+"px")}.fb_connect_bar{position:relative;margin:auto;height:100%;width:100%;padding:6px 0 0 0 !important;background:none;color:#fff !important;font-family:"lucida grande", tahoma, verdana, arial, sans-serif !important;font-size:14px !important;font-style:normal !important;font-variant:normal !important;font-weight:normal !important;letter-spacing:normal !important;line-height:1 !important;text-decoration:none !important;text-indent:0 !important;text-shadow:none !important;text-transform:none !important;white-space:normal !important;word-spacing:normal !important}.fb_connect_bar a:hover{color:#fff}.fb_connect_bar .fb_profile img{height:30px;width:30px;vertical-align:middle;margin:0 6px 5px 0}.fb_connect_bar div a,.fb_connect_bar span,.fb_connect_bar span a{color:#bac6da;font-size:12px;text-decoration:none}.fb_connect_bar .fb_buttons{float:right;margin-top:7px}
.fbpluginrecommendationsbarleft,.fbpluginrecommendationsbarright{position:fixed !important;bottom:0;z-index:999}.fbpluginrecommendationsbarleft{left:10px}.fbpluginrecommendationsbarright{right:10px}
/**** inline ****/

    #door {position:relative; width:970px; margin-top:45px;}
    #door-left{position:absolute;left:-155px;}
    #door-right{position:absolute;right:-155px;}
    #ypv {float:right;margin:-71px 400px 0px 0px;}
    #ypv a {color:#055b94}
    .nypv {background: url('http://twimg.edgesuite.net/appledaily/images/core/iconset.png') 0px -41px no-repeat;display: inline-block;color: #055b94;width:14px;height:12px;}
    #corpnav a {padding: 0 13px 0 12px;}
    a.mc {left:580px;}

/**** inline ****/

        .hgevent {position: absolute;margin: -90px 0px 0px 230px;}
    
/**** inline ****/
.flashAd_56402570_38971066970{width:970px !important;height:90px !important;padding:0px !important;border:0px !important;margin:0px !important;overflow:hidden !important;}
/**** inline ****/
#hotnewsbox{ background:url("http://twimg.edgesuite.net/appledaily/images/yellow_news.gif") no-repeat; height:36px; padding:14px 0 0 134px}
/**** inline ****/
                .slideText { position: relative; overflow: hidden; height: 32px; }                .slideText ul, .slideText li {margin: 0;padding: 0;list-style: none;}                .slideText ul {position: absolute;}                .slideText li a {font-size:20px;color:#000000;display: block;overflow: hidden;height: 30px;line-height: 25px;text-decoration: none;}                .slideText li a:hover {text-decoration: underline;}                #hotnewsbox2 {background: url("http://twimg.edgesuite.net/appledaily/images/red_recommend.gif") no-repeat;height: 36px;padding: 14px 0 0 195px;}            
/**** inline ****/
            /* main carousel */            #carousel {              width: 650px;              height: 410px;              overflow: hidden;            }            #carousel .item {              width: 650px;              height: 410px;              background: #dddddd url("http://twimg.edgesuite.net/appledaily/images/js/owlcarousel/ajax-loader.gif") center center no-repeat;              position: relative;            }            #carousel .item a {              width: 100%;              height: 100%;              display: block;            }            #carousel .item img {              display: block;              border: none;            }            #carousel .owl-prev,            #carousel .owl-next {              position: absolute;              top: 50%;              background-image: url("http://twimg.edgesuite.net/appledaily/images/core/iconset.png");              background-color: #484848;              box-shadow: 0 0 2px black;              width: 40px;              height: 42px;              margin-top: -21px;              text-indent: -200px;              overflow: hidden;              display: none;            }            #carousel .owl-prev {              background-position: 0 -151px;              left: 0;            }            #carousel .owl-next {              background-position: -42px -151px;              right: 0;            }            #carousel.on .owl-prev,            #carousel.on .owl-next {              display: block;            }            #carousel a h3 {              position: absolute;              top: 311px;              left: 0;              width: 610px;              color: white;              font-size: 50px;              line-height: 1em;              padding: 6px 20px;              text-align: center;              border-bottom: 1px solid rgba(0,0,0,0.7);              z-index: 12;            }            #carousel a span {              background-color: #222323;              position: absolute;              top: 311px;              left: 0;              display: block;              width: 100%;              height: 63px;              opacity: 0.8;              filter: alpha(opacity = 80);              z-index: 11;            }            #carousel .owl-dots {              position: absolute;              top: 374px;              left: 0;              width: 650px;              height: 36px;              text-align: center;              display: none !important;            }            #carousel.on .owl-dots {              display: block !important;            }            #carousel .owl-dots .owl-dot {              background-color: #828079;              display: inline-block;              *display: inline;              zoom: 1;              width: 10px;              height: 10px;              margin-top: 12px;              margin-right: 1em;              border-radius: 6px;              -moz-border-radius: 6px;              overflow: hidden;              box-shadow: inset 0 1px 1px black;              z-index: 100;              position: relative;            }            #carousel .owl-dots .owl-dot.active {              background-color: #52c4ff;            }            #carousel .owl-dots .masker {              background-color: #222323;              position: absolute;              top: 0;              left: 0;              display: block;              width: 100%;              height: 36px;              z-index: 99;              opacity: 0.8;              filter: alpha(opacity = 80);            }        
/**** inline ****/
    #rt_btn {                background:top no-repeat url('http://twimg.edgesuite.net/appledaily/images/core/realtime88x36.png');                width:78px; height:16px;                }    #rt_btn:hover {background:top no-repeat url('http://twimg.edgesuite.net/appledaily/images/core/realtime88x36.png') #0076a4;}    #online_btn {                background:top no-repeat url('http://twimg.edgesuite.net/appledaily/images/core/online124x36.png');                width:104px; height:16px;                }    #online_btn:hover {background:top no-repeat url('http://twimg.edgesuite.net/appledaily/images/core/online124x36.png') #0076a4;}    #Ent_btn {                background:top no-repeat url('http://twimg.edgesuite.net/appledaily/images/core/ent88x36.png');                width:78px; height:16px;                }    #Ent_btn:hover {background:top no-repeat url('http://twimg.edgesuite.net/appledaily/images/core/ent88x36.png') #0076a4;}    #fast_btn { background:url('http://twimg.edgesuite.net/appledaily/images/fast88x36.png') top no-repeat;width:78px; height:16px;}    #fast_btn:hover {background:top no-repeat url('http://twimg.edgesuite.net/appledaily/images/fast88x36.png') #0076a4;}    .sbox{ background-image:none;                position: absolute;                top: 6px;                left: 115px;                width: 81px;                color: #fefefe;                font-size: 16px;                padding: 2px 2px 2px 2px;                -webkit-appearance: none;                -webkit-border-radius: 0;                }    .sbtn{ background:url('http://twimg.edgesuite.net/appledaily/images/sbaricon.png') no-repeat 2px 2px #616161; width:24px; height:24px; left:200px}    #house_btn {background:no-repeat url('http://twimg.edgesuite.net/appledaily/images/house77x19.png') 10px 8px;width:77px; height:16px;}    #house_btn:hover {background:no-repeat url('http://twimg.edgesuite.net/appledaily/images/house77x19.png') 10px 8px #0076a4;}  