/**** inline ****/

/*-初始化-*/
body,p,h1,h2,h3,h4,h5,h6,dl,dd,form{margin:0;}
body{font-family:"宋体",arial; color:#004276; font-size:14px; line-height:24px;}
ul,ol,li{list-style:none;margin:0;padding:0; border:0px}
img{border:none;}
:focus{outline:0px;}
.clearfix:after{content:".";visibility:hidden;display:block;clear:both;height:0;}
.clearfix{*zoom:1;}
.blank0{ height:0px; clear:both; overflow:hidden}
a{text-decoration:none; font-size:14px; color:#464646 }
a:hover{ text-decoration:underline; }
.fl{ float:left}
.fr{ float:right}
.w_55{ width:55px}
.w_30{ width:30px}
.w_60{ width:60px}
.w_138{ width:138px}
.w_144{ width:145px;overflow:hidden}
.w_90{ width:90px}
.w_220{ width:220px}
.w_830{ width:830px}
.w_822{ width:822px}
.w_670{ width:670px}
.w_360{ width:368px}
.w_366{ width:360px}
.w_155{ width:155px}
.m_t5{ margin-top:5px}
.m_t15{ margin-top:15px}
.m_t10{ margin-top:10px}
.m_b5{ margin-bottom:5px}
.m_b10{ margin-bottom:10px}
.margin-t5{ margin:5px}
.m_r5{ margin-right:5px}
.m_r10{ margin-right:10px}
.height65{ height:65px; overflow:hidden}
.height225{ height:230px; overflow:hidden}
#ad_area1,#ad_area1{ height:85px}
#ada_01{ display:none}
.noplay{ display:none}
/*-颜色-*/
.red_3a{ color:#91363a}
.border_b_2_4b{ border-bottom:2px solid #4B4B4B}
.border_b_1_ce{ border-bottom:1px solid #CECECE;} 
.b_cf6{background:#f6f6f6}
/*-字体-*/
.font_12{ font-size:12px}
.font_12 a{ font-size:12px}
.msf {font-family:\5FAE\8F6F\96C5\9ED1,\9ED1\4F53;}
a{color:#004276}
img{display:block}
em,i{ font-style:normal; display:block}
.w_40{ width:40px}
.wrap{ width:1000px; margin:0 auto}
.phone_div .phone,.nav_con,.focus .jd_item,.focus .next,.focus .pre,.focus .btn a,.focus .btn a.on,.title em,.mytab li em,.sreach .ss,.title b,.mycj a,.mdm a,.shares_zs li,.daily{ background:url(http://www.ce.cn/img4/sprite.png) no-repeat}
.triangle li,.video_big li,.Ranking,.dotlist li,.video_small li,.hotnews li{ background:url(http://www.ce.cn/img4/dotnew.png) no-repeat}
/*-title-*/
.title{line-height:26px}
.title em{width:13px; height:13px; background-position:-13px -155px; float:left;margin:6px 7px 0 4px; text-indent:-999px; overflow:hidden}
.title b{width:13px; height:13px; background-position:0px -155px; display:block; float:left;margin:6px 7px 0 9px;text-indent:-999px; overflow:hidden}
.title span,.title i{ font-size:14px; font-weight:bold; color:#000; float:left}
.title span a,.title i a{ color:#000}
.title i{ border-left:1px solid #000;line-height: 16px;margin:5px 0;padding: 0 8px;}
.title i.last_b{ border-left:0px}
/*-列表样式-*/
.advert_lib li a,.advert_h li a{ font-size:12px; line-height:22px; text-decoration:underline}
.advert_h li{ padding:0px 11px; display:inline; float:left}
.hotnews li{ background-position:-1px 10px; padding-left:18px;line-height:28px}
.hotnews li.b a{ font-size:16px; font-family:"微软雅黑","宋体"}
.hotnews ul{ margin-top:11px}
.triangle li{ background-position:-1px 9px; padding-left:18px;line-height:28px}
.triangle li.emp{ font-weight:bold; background:none; padding-left:6px}
.triangle li.emps,.hotnews li.b{padding-left:6px; background:none}
.triangle li.emps span{ color:#000}
.triangle li.emps span a{ color:#000}
.video_big li{background-position:0px -140px; padding-left:25px; line-height:28px}
.video_small li{background-position:-2px -37px; padding-left:18px; line-height:28px}
.Ranking{ background-position:3px -301px}
.Ranking li{ background-position:0px 10px; padding-left:26px;line-height:28px}
.dotlist{padding-top:5px;*padding-top:4px;}
.dotlist li{ background-position:-1px -92px; padding-left:15px;line-height:28px;white-space:nowrap }
.emttriangle li{ background:none}
.emttriangle li{ padding-left:3px}
/*--图片列表--*/
.image_reel li{ width:160px; height:88px; float:left; position:relative; padding:10px 0 0 10px; }
.image_reel li span{position:absolute; left:10px;bottom:0px;text-align:center; display:block;filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,startColorstr=#66000000, endColorstr=#66000000);background:rgba(0,0,0,0.5);width:160px; line-height:22px}
.image_reel li span a{ font-size:12px; color:#FFF;}
.image_reel_w98 li{ width:98px; height:90px;float:left; position:relative; padding:12px 0 10px 10px;}
.image_reel_w98 li span{position:absolute; left:10px;bottom:10px;text-align:center; display:block;filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,startColorstr=#66000000, endColorstr=#66000000);background:rgba(0,0,0,0.5);width:98px; line-height:22px; height:22px; overflow:hidden}
.image_reel_w98 li span a{ font-size:12px; color:#FFF;}
.image_reel_w100 li{ width:100px; height:100px;float:left; position:relative; padding:11px 0 0 10px;}
.image_reel_w100 li span{position:absolute; left:10px;bottom:0;text-align:center; display:block;  width:100px;filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,startColorstr=#66000000, endColorstr=#66000000);background:rgba(0,0,0,0.5); line-height:22px}
.image_reel_w100 li span a{ font-size:12px; color:#FFF;}
.image_reel_w202 li{ width:202px; height:100px; margin:0 auto; position:relative}
.image_reel_w202 li span{position:absolute; left:0;bottom:0;text-align:center; display:block;  width:202px;filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,startColorstr=#66000000, endColorstr=#66000000);background:rgba(0,0,0,0.5); line-height:22px}
.image_reel_w202 li span a{ font-size:12px; color:#FFF;}
.image_reel_w65 li{ width:65px; height:65px;float:left; position:relative; margin:5px 0 5px 9px; display:inline}
.image_reel_w65 li span{position:absolute; left:0;bottom:0;text-align:center; display:block;filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,startColorstr=#66000000, endColorstr=#66000000);background:rgba(0,0,0,0.5);width:65px; line-height:22px}
.image_reel_w65 li span a{ font-size:12px; color:#FFF;}
.edition{ width:430px; height:17px; background:url(http://www.ce.cn/images/edition.gif) no-repeat; overflow:hidden}
.letter_box .edition a{ float:left; margin-right:10px; line-height:18px; display:inline-block; margin-left:3px; padding-top:17px}
.edition a.lanr{ margin-right:0px}
/*-logo区域-*/
.logo{ float:left}
.phone_div{ float:left; padding:13px 0px 0px 10px}
.phone_div .phone{ width:58px; height:18px; margin-bottom:3px; background-position:-194px -149px; line-height:18px; text-indent:14px}
.phone_div .phone a{ font-size:12px; font-weight:bold; color:#91363a}
.phone_div .time{ font-size:12px; line-height:24px; color:#585858; line-height:18px}
.letter_box{ float:right; text-align:right}
.letter_box a{ font-size:12px; line-height:32px}
/*-导航区域-*/
.nav_con{background-position:0px -53px; background-repeat:repeat-x; border:1px solid #d5e7f6; border-width:1px 0px; height:82px}
.nav_con a{ font-size:12px;line-height:16px; margin-bottom:6px; color:#000; display:block}
.nav_con .tit{ border-right:1px dotted #aebecd; padding:0px 21px; float:left; display:inline; font-weight:bold; margin:12px 0 0} 
.nav_con .tit.ber_r{border-right:0px}
.nav_con .tit.p_l0{ padding-left:0px; font-weight:normal}
.nav_con .tit.p_l0 a{ margin-left:20px; display:block; float:left; display:inline}
.nav_con_ftit{ font-size:12px; padding:3px 0px}
.nav_con_ftit em{ float:left; display:inline; font-weight:bold; padding:0px 4px}
.nav_con_ftit a{ float:left; display:inline; border-left:1px solid  #004276; line-height:14px; padding:0 6px; font-size:12px; margin:5px 0}
.nav_con_ftit a.last_b{ border-left:0px}
/*--广告位--*/
.ad{ border:1px solid #CCC; margin:12px 0px 5px; width:735px; height:85px}
/*-头部广告区域-*/
.advert{ border:1px solid #F1F1F1; padding:12px}
#rolling{ height:30px; overflow:hidden;}
#rolling img{ margin:5px 0 0; display:inline}
#rolling p{ display:inline;float:left;white-space:nowrap}
#rolling a{ font-size:12px;line-height:32px;}

/*-主体左侧区域-*/
.area-main{ width:740px;}
.hot_news{border-bottom:1px solid #C0D5DF;margin:15px 0 1px; text-align:center;  font-size:12px;font-weight:normal; color:#3F3F3F;padding-bottom:7px}
.hot_news dd ,.hot_news dd a{font-size:12px;color:#3F3F3F}
/*-主体右侧区域-*/
.area-right{ width:243px; border:1px solid #E8E8E8;overflow:hidden}
.sreach{border-bottom:1px solid #E8E8E8; padding:5px 8px}
.sreach .ss_int{border: 1px solid #7C7C7C;height: 18px;line-height: 18px;width: 163px;}
.sreach .ss{height: 20px;width: 51px; background-position:0px -135px;border:0px; cursor: pointer}
.area-right_con{ padding:7px}
.area-right_con .ad_second img{ display:block; margin:0 auto; border:0px}
.mail{border:1px solid #7D9FBA; width:190px; margin:0 auto; padding:3px 10px; color:#555; font-size:12px}
.mail a{ font-size:12px;color:#555;}
.daily{ width:198px; height:116px; background-position:0px -168px; padding-left:34px}
.daily img{ float:left; display:inline; margin:23px 0px 0px 11px}
/*--动态--*/
.trends{ border:5px solid #f6f6f6}
.trends_con{ border:1px solid #e4e4e4; padding:10px 7px}
/*--切换--*/
.mytab li{ width:112px; float:left; margin-right:2px; display:inline; background:#f6f6f6; border-top:3px solid #f6f6f6; height:27px; cursor:pointer}
.stab li{ width:114px; float:left; background:#F6F6F6; height:22px; cursor:pointer; line-height:22px; text-align:center; color:#014377; font-weight:bold; font-size:12px}
.mytab li em,.mytab li.hover em{width:13px; height:13px; background-position:0px -155px;  text-indent:-9999px; overflow:hidden; float:left;margin: 6px 7px 0 9px;}
.mytab li span{font-size:14px; font-weight:bold; color:#000; float:left; line-height:26px}
.mytab li.hover em{background-position:-13px -155px; }
.mytab li.hover{ border-top:3px solid #606163;}
.stab li.hover{ background:#7D9FBA; color:#fff;}
.mytab_sencond li{ width:112px}
.mytab_br{ border-bottom:2px solid #4B4B4B}
.mytab_nr,.stab_nr{ display:none}
.stab_nr{ border:1px solid #CCCCCC; border-bottom:0px; height:181px; overflow:hidden}
.mytab_nr.xs,.stab_nr.xs{ display:block}
/*--my财经--*/
.mycj{text-align:center;}
.mycj a{  margin-right:3px; border:1px solid #ebebeb; width:65px; background-position:0px -33px;border-radius:3px; display:inline-block;  color:#646464; font-weight:bold; font-size:12px}
.mdm{text-align:center; padding:3px 0 3px}
.mdm a{  margin-right:3px; border:1px solid #ebebeb; background-position:0px -33px;border-radius:3px; display:inline-block; padding:0px 2px;  color:#646464; font-weight:bold; font-size:12px}
.shares{ height:32px; border:1px solid #c6c6c6;}
.shares .ce_input{border:1px solid #c6c6c6;height:20px; margin:5px 5px 0;}
.shares_zs li{ background-position:-3px bottom; height:30px}
.shares_zs li a{ display:inline-block; width:72px; text-align:center; color:#3E3E3E; line-height:30px; margin-right:5px; font-size:12px}
.shares_zs li a:hover{ background:#e40002; color:#FFF}
.shares_zs li a.m_la{ margin-right:0px}
.linkbox {color:#3E3E3E;line-height: 26px;width: 216px; margin:0 auto}
.linkbox a{ color:#3E3E3E; font-size:12px;}
.linkbox2 {color:#3E3E3E;line-height: 26px;width: 220px; margin:6px auto}
.linkbox2 a{ color:#3E3E3E; font-size:12px; padding:0px 4px}
/*--焦点图--*/
.focus { width: 359px; height:258px; position: relative; overflow:hidden }
.focus ul {height:225px; overflow:hidden; position:absolute;}
.focus ul li {float:left; width:359px; height:225px; overflow:hidden; position:relative;}
.focus ul li div {position:absolute; overflow:hidden;}
.focus ul li p{ font-size:12px; line-height:24px; padding:10px 0px}
.focus ul li em{background:url(http://www.ce.cn/img4/ph.png) no-repeat; background-position:0px -100px; text-indent:8px; font-style:normal; width:230px; float:left;}
.focus ul li em a{ color:#418c05; font-size:12px}
.focus .btn{ text-align:center; padding-top:4px}
.focus .btn a { width:24px; height:23px; background-position:-142px -144px; display:inline-block; overflow:hidden; line-height:22px; color:#000; cursor:pointer; margin:2px}
.focus .btn a.on {  width:24px; height:23px; background-position:-166px -144px; color: #FFF}
.focus .btn a:hover{ text-decoration:none}
.focus .pre,.focus .next { width:45px; height:33px;left:0px; top:0px; background-position:-51px -135px; position:absolute; cursor:pointer; z-index:999; overflow:hidden}
.focus .next { left:314px;top:0px; background-position:-96px -135px} 
.focus .imgTitle{ height: 36px; position: absolute; font-size: 14px; line-height: 36px; color: #FFF; left: 0px; bottom: -1px; width:359px;filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,startColorstr=#66000000, endColorstr=#66000000);background:rgba(0,0,0,0.6); text-align:center }
.focus .imgTitle a{ color: #FFF; font-family:"微软雅黑","宋体"; text-decoration: none; }
.focus .sx_lib{ border-top:1px solid #e3e3e3}
.focus .focus_con{ height:210px; overflow:hidden}
.focus .jd_item{ height:33px; background-position:0px 0px; background-repeat:repeat-x; position:relative}
.focus .img_list{ height:225px}
/*--底部--*/
.friend { padding:15px 0; margin-top:30px; border-top:1px solid #737373; position:relative; padding-left:60px; height:50px}
.friend a{ color:#7B7B7B;  font-size:12px}
.friend .fle{color: #034077;font-weight: bold;height: 52px;width: 59px; font-size:12px; position:absolute; left:0px; top:17px}
.friend .top{color: #7B7B7B;padding-top: 2px;text-align: left;width: 940px; }
.cebottom{border-top: 5px solid #000000;color: #424242;line-height: 23px;padding-bottom: 14px;padding-top: 20px;text-align: center; font-size:12px}
.cebottom a{ font-size:12px; color:#424242}
.cebottom img{ display:inline-block}
.ad_ce{ display:none}
/*-手机看中经-*/
#identifier-pannel{position:fixed;left: 50%; top:296px;z-index:9999;width:110px; margin-left:519px; color:#000;;line-height:18px;font-size:12px;text-align:center; }
#identifier-pannel a:link,#identifier-pannel a:visited{display:block; padding:10px;line-height:18px;font-size:12px;color:#333;text-decoration:none; white-space:nowrap;text-align:center; background:#f9f9f9;}
#identifier-pannel a:hover{ background:#ccd8db;color:#000;}
#identifier-pannel img{display:block;margin:5px auto;border:none;}
/*-股票信息-*/
#rolling{font-size:12px}
#rolling ul{float:left}
.gpph{margin-top:4px;}
.gpph li{ float:left; padding-left:20px}
.gpph li em{ font-style:normal; padding:0px 5px;float:left}
.gpph i{ font-style:normal}
.gpph li.hq1 span{ background:url(http://i.ce.cn/ce/img3/down.gif) no-repeat left 8px; padding-left:14px; color:#009900;float:left}
.gpph li.hq0 span{ background:url(http://i.ce.cn/ce/img3/up.gif) no-repeat left 7px; padding-left:14px; color:#ff0000;float:left}
.shares{ border:1px solid #c6c6c6; padding-top:3px; height:29px}
.shares .ce_input{border:1px solid #c6c6c6;height:20px; width:156px}
#tblGrid em{ float:left; padding-left:5px;display:inline}
#tblGrid #tj{ float:left; margin-left:11px;padding:0px 3px;display:inline}
#tblGrid{ position:relative}
#tblGrid input{margin:0;padding:0px; height:22px}
#result{ position:absolute; top:26px; display:none; left:5px; width:156px; border:1px solid #c6c6c6; height:146px; overflow-x:hidden;overflow-y:auto; background:#FFF}
#result em{ width:156px; border:0px; border-bottom:1px solid #c6c6c6; height:26px; line-height:26px; overflow:hidden; font-style:normal; cursor:pointer; font-size:12px; display:block}
#result em.ce_curp{ background:#999; color:#FFF}
#searchvalue{ line-height:21px}
