/**** inline ****/

/*<![CDATA[*/
@import url(http://mihanblog.com/public/public/styles/run/style.v23.css?2);
/*]]>*/

/**** inline ****/

.header_ver2_left_linksOut{
    width: 750px;
}
        
/**** inline ****/


    .indexIndex_divider{
        background: url(http://static.mihanblog.com//public/images/template_ver2/indexindex_divider.png) no-repeat top center;
    }
    .wrapper_index_index_index2 #main,
    .wrapper_index_index_index #main{
        margin-right: 0px;
    }
    .wrapper_index_index_index2 .menu_ver2,
    .wrapper_index_index_index .menu_ver2{
        display: none;
    }
    .wrapper_index_index_index2 ,
    .wrapper_index_index_index2 .contentDiv_ver2,
    .wrapper_index_index_index ,
    .wrapper_index_index_index .contentDiv_ver2{
        width: 100%;
        margin:0px auto;
        border:0px;
    }
    .indexIndex_width{
        width: 980px;
        margin: 0px auto;
    }
    .indexIndex_news{
        -height: 190px;
        direction: rtl;

        text-align: right;
        -padding-top: 20px;
    }
    .indexIndex_news:hover{
        background-position: 0px -213px;
    }
    .indexIndex_1row_colRight{
        /*float: right;*/
        /*width : 260px;*/
        width: 700px;
        margin: 0 auto;;

    }
    .indexIndex_1row_colLeft{
        float: left;
        width : 326px;
        margin-top: 34px;
    }

    /*.indexIndex_slideShow{
        margin: 40px 0;
        background-color: #ccc;
        border-bottom: 1px solid #aaa;
        border-top: 1px solid #aaa;
        min-height: 225px;
    }*/
    .indexIndex_1row_colCenter{
        float: right;
        width : 355px;
        margin-right: 24px;

    }
    .indexIndex_newsList{
        text-align: right;
        -width: 360px;
        /*margin-top: 35px;*/
    }
    .indexIndex_newsList div{
        -background: #FAFAFA;
        -border:1px dashed #CCC;
        -border-width:1px 0px;
        -margin-bottom: -1px;
        padding: 0px 10px;
    }
    .indexIndex_newsList div span{
    }
    .indexIndex_newsList div span b{
        font-weight: normal;
        display: block;
        /*height: 54px;*/
        height: 70px;
        line-height: 18px;

        overflow: hidden;
        color: #444;
        padding-top: 3px;
        -width: 220px;
        float: right;
        border:0px solid #F00;
        text-align: justify
    }
    .indexIndex_newsList div span u{
        float: right;
        text-decoration: none;
        padding-top:3px;
    }
    .indexIndex_title{
        background: url(http://static.mihanblog.com//public/images/template_ver2/indexindex_title2.png) no-repeat 0px 0px;
        height: 40px;
    }
    .indexIndex_title_news{
        background-position: right -100px;
        height: 23px;
        margin: 14px 148px 3px 0px;

    }



    .indexIndex_signup{
        -background: #F5F5F5;

        -padding: 25px 0px;
    }

    .indexIndex_signup_form{
        background: url(http://static.mihanblog.com//public/images/template_ver2/indexindex_signupbg3.png) no-repeat 0px 0px;
        width: 352px;
        height: 154px;
        border: 0px solid #F00;
        margin: 0px auto;
    }
    .indexIndex_signup_form_text{
        background: none repeat scroll 0 0 transparent;
        border: 0px solid #FF0000;
        float: right;
        height: 22px;
        margin-right: 122px;
        margin-top: 53px;
        width: 111px;
    }
    .indexIndex_signup_form_text:focus{
        border: 0px solid #FF0000;
    }

    .indexIndex_signup_form .btn{
        background: none repeat scroll 0 0 transparent;
        border: 0 solid #FF0000;
        color: #FFFFFF;
        cursor: pointer;
        height: 32px;
        margin-right: 2px;
        margin-top: 51px;
        text-shadow: 0 0 1px #000000;
        width: 84px;
        border-radius: 5px 0px 0px 5px;
    }
    .indexIndex_signup_form .btn:hover{
        text-shadow: 0 0 4px #000000;
    }


    .indexIndex_advert{
        margin-top:65px;
        padding: 25px;
        -background: #EDEDED;
        -background: url(http://static.mihanblog.com//public/images/template_ver2/indexindex_divider.png) no-repeat top center;
    }
    .indexIndex_advert_bannerList div{
        margin-bottom: 3px;
    }
    .indexIndex_advert_bannerList{
        width: 940px;
    }
    .indexIndex_advert_bannerList .indexIndex_advert_bannerList_colRight{
        float: right;
    }
    .indexIndex_advert_bannerList .indexIndex_advert_bannerList_colLeft{
        float: left;
    }

    .indexIndex_themes div{
        background: url(http://static.mihanblog.com//public/images/template_ver2/indexindex_theme.jpg) no-repeat center center;
        height: 133px;
        margin: 35px auto;
    }

/**** inline ****/

    .indexIndex_slideShow{
        margin: 40px 0;
        background-color: #eee;
        border-bottom: 1px solid #bbb;
        border-top: 1px solid #bbb;
        min-height: 225px;
    }
    .slide_imgLarge_box{
        overflow: hidden;
        width:389px;
        height:235px;
        margin: 19px 23px;
    }
    #slide_imgLarge img{
        width:389px;
        height:235px;
        float:left;

    }
    #slide_imgLarge{
        width: 1954px;
    }
    .slide_imgSmall_box{
        overflow: hidden;
        width:221px;
        height:129px;
        margin:13px;
    }
    #slide_imgSmall img{
        width:221px;
        height:129px;
        float:left;
    }
    #slide_imgSmall{
        width: 1105px;
    }
    #slide_imgSmall,
    #slide_imgLarge{
        display: block;

        transition:         margin 800ms ease;
        -moz-transition:    margin 800ms ease;
        -ms-transition:     margin 800ms ease;
        -o-transition:      margin 800ms ease;
        -webkit-transition: margin 800ms ease;
    }
    .slide_text_box{
        float:right;
        margin: 30px 30px 10px 0px;
        overflow: hidden;
        width: 250px;
    }
    #slide_text{
        width: 1250px;

        transition:         margin 600ms ease;
        -moz-transition:    margin 600ms ease;
        -ms-transition:     margin 600ms ease;
        -o-transition:      margin 600ms ease;
        -webkit-transition: margin 600ms ease;
    }
    #slide_text table{
        direction: rtl;
        float:left;
        width: 250px;
    }
    .indexIndex_slideShow_monitorSmall{
        top: 100px;
        left:390px;
        position:absolute;
        width: 246px;
        height: 182px;
        background: url(http://static.mihanblog.com//public/images/template_ver2/index_v2/monitor_small.png) no-repeat top left;
    }
    .indexIndex_slideShow_monitorLarge{
        left:50px;
        top: -30px;
        position:absolute;
        width: 433px;
        height: 321px;
        background: url(http://static.mihanblog.com//public/images/template_ver2/index_v2/monitor_large.png) no-repeat top left;
    }
    .indexIndex_slideShow_arrowLeft:hover{box-shadow: 1px 0px 1px #797979;}
    .indexIndex_slideShow_arrowLeft{
        cursor: pointer;
        left: 0;
        position: absolute;
        z-index: 5;
        margin-top:96px;
        float:left;
        width: 32px;
        height: 32px;
        border-radius:3px;
        background: url(http://static.mihanblog.com//public/images/template_ver2/index_v2/arrow_left.png) no-repeat top center;

        transition:         opacity 300ms ease;
        -moz-transition:    opacity 300ms ease;
        -ms-transition:     opacity 300ms ease;
        -o-transition:      opacity 300ms ease;
        -webkit-transition: opacity 300ms ease;
    }
    .indexIndex_slideShow_arrowRight:hover{box-shadow: -1px 0px 1px #797979;}
    .indexIndex_slideShow_arrowRight{
        cursor: pointer;
        right: 0;
        position: absolute;
        z-index: 5;
        margin-top:96px;
        float:right;
        width: 32px;
        height: 32px;
        border-radius:3px;
        background: url(http://static.mihanblog.com//public/images/template_ver2/index_v2/arrow_right.png) no-repeat top center;

        transition:         opacity 300ms ease;
        -moz-transition:    opacity 300ms ease;
        -ms-transition:     opacity 300ms ease;
        -o-transition:      opacity 300ms ease;
        -webkit-transition: opacity 300ms ease;
    }
    /*.slideShow_boxTitle{
        font: bolder 27px CustomN,Arial;
        position: absolute;
        top: -26px;
        right: 0px;
        color: #f50000;
        text-shadow: 1px 1px 2px #777;
    }*/

/**** inline ****/

    .indexIndex_postList{
        -background: #F5F5F5;
        padding: 20px 0px;
    }
    .indexIndex_postList_list span {
        display: block;
        float: right;
        text-align: right;
        direction: rtl;
        border: 1px solid transparent;
        width: 203px;
        margin:  8px 10px;
        padding: 7px 10px;
        color: #444;
    }
    .indexIndex_postList_list span:hover {
        background: #F7F7F7;
        border-color: #EBEBEB;
        border-radius: 5px;
    }
    .indexIndex_postList_list b{
        margin-bottom: 7px;
        display: block;
        line-height: 16px;
        max-height: 16px;
        overflow: hidden;
        font-weight: normal;
    }
    .indexIndex_postList_list u img{
        float: right;
        margin-left: 5px;
    }
    .indexIndex_postList_list u{
        line-height: 16px;
        max-height: 64px;
        overflow: hidden;
        text-decoration: none;
        display: block;
    }
    .indexIndex_postList_list a{
        diplay: block;



        white-space:normal;
        /*
      float:right;
      line-height:15px;
      max-height: 30px;
      */
        width: 135px;
        margin-top: 5px;
    }

    .indexIndex_postList_list_col2{
        float: right;
        border:0px solid #F00;
        width:245px;
    }
    .indexIndex_title_postList{
        background-position: 40px -300px;
        height: 18px;
        -margin-bottom: 20px;
    }

