 /*
########################################################
GLOBAL
	1. Globals
	2. Header
		2.1 Header sub-nav
		2.2 Sub header
	3. Footer
########################################################
*/

/*
########################################################
1. Globals
########################################################
*/

body{
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;	
	color:#4A4C46;
	background:#fff;
	margin:0;
	text-align:center;
}

p,ul,li,h1,h2,h3,h4,h5,form,fieldset,legend{
	margin:0;
	padding:0;
	list-style-type:none;
	border:0;
}

a,a:visited,a:active{
	color:#4A4C46;
	text-decoration:none;
	outline: none;
}

legend{display:none}

#container{
	width:942px;
	text-align:left;
	margin:0 auto;
}

#subpagebg{background:url(/img/global/bg.png) repeat-x top;}

#subpagebgtabs{background:url(/img/global/bg-tabs.png) repeat-x top;}

.translation{
	text-indent:-10000px;
}

/*
########################################################
2. Header
########################################################
*/

#header{
	height:247px;
}

.headersub #mainnav {
	width:691px;
	height:159px;
	margin-left:238px;
	padding:16px 0 0 10px;
}

#header #mainnav {
	width:691px;
	height:147px;
	float:left;
	padding:28px 0 0 10px;
}

#mainnav li{float:left;}

#mainnav a{
	height:117px;
	display:block;
	height:120px;
	text-indent:-10000px;
}

#mainnav #vpn{background:url(/img/global/elements.png) no-repeat -295px 0;_background:url(/img/global/elements-IE6.png) no-repeat -295px 0;margin-right:15px;}
#mainnav #vpn a{width:91px;}
#mainnav #vpn a:hover{background:url(/img/global/elements.png) no-repeat -295px -129px;_background:url(/img/global/elements-IE6.png) no-repeat -295px -129px;}

#mainnav #proxy {background:url(/img/global/elements.png) no-repeat -394px 0;_background:url(/img/global/elements-IE6.png) no-repeat -394px 0;margin-right:8px;}
#mainnav #proxy a{width:87px;}
#mainnav #proxy a:hover{background:url(/img/global/elements.png) no-repeat -394px -129px;_background:url(/img/global/elements-IE6.png) no-repeat -394px -129px;}

#mainnav #proxylist{background:url(/img/global/elements.png) no-repeat -482px 0;_background:url(/img/global/elements-IE6.png) no-repeat -482px 0;margin-right:9px}
#mainnav #proxylist a{width:90px;}
#mainnav #proxylist a:hover{background:url(/img/global/elements.png) no-repeat -482px -128px;_background:url(/img/global/elements-IE6.png) no-repeat -482px -128px;}

#mainnav #mail {background:url(/img/global/elements.png) no-repeat -661px 0;_background:url(/img/global/elements-IE6.png) no-repeat -661px 0;}
#mainnav #mail a{width:89px;margin:0 12px 0 0;}
#mainnav #mail a:hover{background:url(/img/global/elements.png) no-repeat -661px -128px;_background:url(/img/global/elements-IE6.png) no-repeat -661px -128px;}

#mainnav #software{background:url(/img/global/elements.png) no-repeat -863px 0;_background:url(/img/global/elements-IE6.png) no-repeat -863px 0;margin-right:7px;}
#mainnav #software a{width:88px;}
#mainnav #software a:hover{background:url(/img/global/elements.png) no-repeat -863px -128px;_background:url(/img/global/elements-IE6.png) no-repeat -863px -128px;}

#mainnav #upload {background:url(/img/global/elements.png) no-repeat -570px 0;_background:url(/img/global/elements-IE6.png) no-repeat -570px 0;margin-right:12px;}
#mainnav #upload a{width:88px;}
#mainnav #upload a:hover{background:url(/img/global/elements.png) no-repeat -570px -128px;_background:url(/img/global/elements-IE6.png) no-repeat -570px -128px;}

#mainnav #referrer{background:url(/img/global/elements.png) no-repeat -768px 0;_background:url(/img/global/elements-IE6.png) no-repeat -768px 0;}
#mainnav #referrer a{width:88px;}
#mainnav #referrer a:hover{background:url(/img/global/elements.png) no-repeat -768px -128px;_background:url(/img/global/elements-IE6.png) no-repeat -768px -128px;}

.headersub{
	background:url(/img/global/sub-page-beam.jpg) no-repeat left bottom;
	height:305px;
	margin-bottom:50px;
}

.headersubtab{
	height:328px;
	background:url(/img/global/sub-page-beam-tabs.jpg) no-repeat left bottom;
}

#header h1 a, .headersub h1 a, #header h2 a, .headersub h2 a{
	text-indent:-10000px;
	display:block;
	background:url(/img/global/elements.png) no-repeat 0 29px;
	_background:url(/img/global/elements-IE6.png) no-repeat 0 29px;
	width:238px;
	height:170px;
	padding-top:29px;
	float:left;
}

/*
--------------------------------------------------------
2.1 Sub-nav
--------------------------------------------------------
*/

#subnavcontainer{
	width:701px;
	height:25px;
	margin-left:238px;
}

#subnav{
	background:url(/img/global/elements.png) repeat-x 0 -387px;
	_background:url(/img/global/elements-IE6.png) repeat-x 0 -387px;
	height:26px;
	float:right;
}

#subnav li{float:left;}

#subnav li a{
	padding:4px 13px 0 5px;
	background:url(/img/global/elements.png) right -475px no-repeat;
	_background:url(/img/global/elements-IE6.png) right -475px no-repeat;
	height:22px;
	color:#67686b;
	text-decoration:none;
	font-size:12px;
	display:inline-block;
}

#subnav li a:hover{color:#75767a;}

#subnav #subnavleft {
	background:url(/img/global/elements.png) left -413px no-repeat;
	background:url(/img/global/elements-IE6.png) left -413px no-repeat;
	padding-left:5px;
}

#subnav li a#subnavright{
	background:url(/img/global/elements.png) right -449px no-repeat;
	background:url(/img/global/elements-IE6.png) right -449px no-repeat;
	padding-right:10px;
}

#subnav li#subnavlike{padding:2px 5px 0 0;background:url(/img/global/elements.png) right -449px no-repeat;height:24px;width:78px}

/*
--------------------------------------------------------
2.2 Sub header
--------------------------------------------------------
*/

.subheading{
	height:105px;
	width:100%;
	margin-bottom:50px;
	text-align:center;
}

.subheading h1, .subheading p{
	margin:0 auto;
}

.subheading ul{
	text-align:center;
	padding-top:2px;letter-spacing: -4px;
}

.subheading li{
	background:url(/img/global/elements.png) no-repeat right -552px;
	_background:url(/img/global/elements-IE6.png) no-repeat right -552px;
	height:42px;
	font-size:15px;
	letter-spacing: normal;
    display: inline-block;
    *display: inline; /* For IE6/IE7 */
    zoom: 1; /* For IE6/IE7 */
	margin-right:1px;
}
.subheading li.inactivetab{background:url(/img/global/elements.png) no-repeat right -649px;_background:url(/img/global/elements-IE6.png) no-repeat right -649px;}

.subheading li.inactivetab a, .subheading li.inactivetab a:visited{background:url(/img/global/elements.png) no-repeat -689px -600px;_background:url(/img/global/elements-IE6.png) no-repeat -689px -600px;float:left;}

.subheading li span, .subheading li a, .subheading li a:visited{
	padding:12px 13px 10px 17px;
	display:block;
	height:23px;
	background:url(/img/global/elements.png) no-repeat -689px -508px;
	_background:url(/img/global/elements-IE6.png) no-repeat -689px -508px;
	margin-right:4px;
}

.subheading li a:hover{color:#707070;}

.subheading li span{float:left}

.subheading h1{
	height:35px;
	text-indent:-10000px;
	margin-top:7px;
}

.subheading p{
	font-size:16px;
	margin:4px 0 8px 0;
	height:30px;
}

.subheading li#ordernow a{
	background:url(/img/vpn/order-tab.png) no-repeat;
	color:#fff;
	width:109px;
	height:29px;
	float:left;
	font-weight:bold;
	padding:13px 0 0 0
}
.subheading li#ordernow{
	background:none;
	position:relative;
	top:-1px;
}
.subheading li#ordernow a:visited{
	color:#fff;
	font-weight:bold
}
.subheading li#ordernow a:hover{color:#edf4d9;}


/*
########################################################
3. Footer
########################################################
*/

#footer{
	width:100%;
	border-top:1px solid #d7d8cc;
	background:#efefeb;
	overflow:hidden;
	margin-top:50px;
	float:left;
	text-align:center;
	padding:20px 0 20px 0;
	font-size:13px;
}

#footercontainer{
	width:942px;
	text-align:left;
	margin:0 auto;overflow:hidden;
}

#footer h3{font-size:14px;}

#footer #footermenu{min-height:200px;}

#footer #footermenu li{
	float:left;
	padding:0 55px 0 55px;
	width: 240px;
	background:url(/img/global/elements.png) no-repeat right -247px;
	_background:url(/img/global/elements-IE6.png) no-repeat right -247px;
}

#footer #footermenu li ul li{
	float:none;
	padding:0 0 10px 0;
	background:none;
	width:auto;
}

#footer a, #footer a:visited{color:#5B8F2B;}

#footer em{
	color:#858689;
	font-size:12px;
}

#footer #footermenu #footersitemap li{padding:0 0 5px 0;}

#footer ul li#footersitemap{
	background:none;
	padding-right:0px;
}

#footer #footersitemap li a{
	background:url(/img/global/elements.png) no-repeat 0 -200px;
	_background:url(/img/global/elements-IE6.png) no-repeat 0 -200px;
	padding-left:10px;
}

#footer #footersitemap li#adjustedbottompadding{padding-bottom:11px;}

#footer #footermenu #adjustedleftpadding{padding-left:0;}

#footerbottom{
	background:url(/img/global/elements.png) no-repeat 0 -698px;
	_background:url(/img/global/elements-IE6.png) no-repeat 0 -698px;
	padding:20px 0 0 0;
	width:100%;
}

#footer #footerbottom small{
	font-size:12px;
	color:#67686B;
	float:left;
	height:22px;
}

#footer #footerbottom ul{
	height:22px;
	float:right;
	min-width:400px;
}

#footer #footerbottom li {float:left;}

#footer #footerbottom li a{
	padding:0 10px 0 10px;
	border-right:1px solid #d3d3d0;
}

#footer #footerbottom li#footerbottompaddingadjustment a{
	padding-right:0;
	border:0;
}

.hidden { display: none } /*
########################################################
Home
	1. Background
	2. Proxy & pro box
		2.1 Proxy advanced options
		2.2 Tooltip
	3. Left content
	4. Right contents
		4.1 Server promo box
########################################################
*/

/*
########################################################
1. Background
########################################################
*/

#homebg{
	background:url(/img/home/bg.png) repeat-x top;
	width:100%;
}

/*
########################################################
2. Proxy & pro box
########################################################
*/

#proxyprobox{
	width:939px;
	height:460px;
	background:url(/img/home/elements.png) no-repeat 0 -651px;
}

#proxyprobox #proxybox{
	width:575px;
	height:326px;
	float:left;
	display:inline;
	padding:63px 27px 0 30px;
}

.protectprivacy{
	background:url(/img/home/translations/english.png) no-repeat -365px 1px;
	float:left;
}

.enh1webproxy{
	width:192px;
	height:33px;
	background:url(/img/home/translations/english.png) no-repeat 0 -97px;
}

#proxybox p{
	color:#67686B;
	font-size:13px;
	line-height:19px;
	margin:15px 0 25px 0;
}

#proxybox p a{
	color:#5e6159;
	font-weight:bold
}

#proxysubmit{
	background:url(/img/home/elements.png) no-repeat left top;
	height:49px;
	padding:11px 0 0 0;
	position:relative;
}

.proxyinput{
        border:0;
        padding:11px 0 11px 9px;
        margin:0 0 0 11px;
        color:#67686B;
        font-size:16px;
        display:inline;
        float:left;
        height:26px;
        width:412px;
        background:#fff;
}

.proxyinputssl{
	background:url(/img/home/elements.png) no-repeat 10px -564px #fffad1;
	padding:11px 0 11px 30px;
	width:391px;
}

#hmabutton{
	border:0;
	padding:0;
	background:url(/img/home/elements.png) no-repeat 0 -392px;
	cursor:pointer;
	height:48px;
	width:132px;
	text-indent:-10000px;
	display:inline;
	line-height: 100px;
	font-size: 0px;
	position: absolute;
	right: 11px;
 	top: 11px;
}

#hmabutton:hover{background-position:-136px -392px;}

/*
--------------------------------------------------------
1.1 Proxy advanced options
--------------------------------------------------------
*/

.proxyoptions{
	background:url(/img/home/elements.png) no-repeat 0 -61px;
	width:100%;
	height:145px;
	padding-top:10px;
}

.proxyoptionsexpanded{background:url(/img/home/elements.png) no-repeat 0 -236px;}

.proxyoptions .ssloff {
	color:#4A4C46;
	font-size:12px;
	background:url(/img/home/elements.png) no-repeat 82px -496px;
	display:block;
	padding:3px 0 0 10px;
	height:22px;
	width:148px;
	float:left;
}

.proxyoptions .sslon{background:url(/img/home/elements.png) no-repeat 82px -460px;}

#proxyprobox #probox{
	width:261px;
	height:381px;
	float:left;
	background:url(/img/home/translations/english.png) no-repeat 207px -337px;
	padding:44px 12px 0 34px;
}

#proxyprobox #probox .enh2provpn{
	background:url(/img/home/translations/english.png) no-repeat 0 -72px;
	height:25px;
	width:108px;
}

#proxyprobox #probox p{
	color:#67686B;
	font-weight:bold;
	margin:10px 0 10px 0;
}

#proxyprobox #probox ul{
	color:#67686B;
	margin-bottom:14px;
}

#proxyprobox #probox li{
	background:url(/img/global/tick.gif) no-repeat left;
	padding:5px 0 5px 20px;margin:0;
}

#proxyprobox #probox a{
	background:url(/img/home/translations/english.png) no-repeat 0 -196px;
	display:block;
	text-indent:-10000px;
	width:246px;
	height:56px;
}

#proxyprobox #probox a:hover{background-position:0 -252px;}

/*
--------------------------------------------------------
2.1 Proxy & Pro box advanced options
--------------------------------------------------------
*/

.proxyoptions #advancedoptions{
	display:block;
	color:#4A4C46;
	font-size:12px;
	background:url(/img/home/elements.png) no-repeat 103px -523px;
	width:130px;
	float:left;
	height:25px;
	padding:3px 0 0 0;
}

.proxyoptionsexpanded #advancedoptions{
	padding:8px 0 0 6px;
	background:url(/img/home/elements.png) no-repeat 108px -540px;
}

.proxyoptions ul{
	clear:both;
	font-size:12px;
	padding:10px 0 0 0;
}

.proxyoptions ul strong{color:#1A1A1A;}

.proxyoptions ul a{
	background:url(/img/home/elements.png) no-repeat right -617px;
	padding-right:13px;
}

.proxyoptions ul li{
	float:left;
	border-right:1px solid #e6e6e6;
	height:90px;
}

.proxyoptions ul li ul{padding:0;}

.proxyoptions ul li ul li{
	float:none;
	padding:0 14px 7px 14px;
	border:0;
	height:auto;
}

#serverselection label{
	width:75px;
	float:left;
	margin-top:4px;
}

.proxyoptions select{
	font-size:12px; 
	color:#343434;
	border:1px solid #e6e6e6;
	padding:3px;
	width:140px;
}

.proxyoptions input{
	position:relative;
	top:2px;
}

.proxyoptions #optionslast{border:0;}

/*
--------------------------------------------------------
2.2 Tooltip
--------------------------------------------------------
*/

.tooltipbox{
	width:430px;
	background:url(/img/home/tooltip-box.png) no-repeat 0 0;
	font-size:13px;
}

.tooltipbox h5{
	margin:0 0 10px 0;
	font-size:14px;
}

.tooltipbox p{margin:0 0 10px 0;}

.tooltipcontainer{
	background:url(/img/home/tooltip-box.png) no-repeat -455px bottom;
	padding:20px;
}

.tooltipbottom{
	background:url(/img/home/tooltip-box.png) no-repeat top right;
	width:430px;
	height:7px;
}

/*
########################################################
3. Left content
########################################################
*/

#homecontentleft{
	width:575px;
	float:left;
}

#homecontentleft .enh2ourservices{
	width:178px;
	height:26px;
	background:url(/img/home/translations/english.png) no-repeat -0 -46px;
	margin-bottom:30px;
}

#homecontentleft #servicesproxy{background:url(/img/home/elements.png) no-repeat -894px -88px;}
#homecontentleft #servicesipport{background:url(/img/home/elements.png) no-repeat -894px -186px;}
#homecontentleft #servicesemail{background:url(/img/home/elements.png) no-repeat -894px -380px;}
#homecontentleft #servicesupload{background:url(/img/home/elements.png) no-repeat -894px -280px;}
#homecontentleft #servicesreferrer{background:url(/img/home/elements.png) no-repeat -894px -473px;}
#homecontentleft #servicessoftware{background:url(/img/home/elements.png) no-repeat -901px -545px ;}

#homecontentleft li h2{font-size:15px}

#homecontentleft li{
	background:url(/img/home/elements.png) no-repeat -894px top;
	padding:0 0 20px 55px;
}

#homecontentleft #ourservices{
	color:#4A4C46;
	font-size:18px;
	margin-bottom:30px;
}

#homecontentleft p{color:#585954;}

/*
########################################################
3. Right content
########################################################
*/

#homecontentright{
	width:300px;
	float:right;
}

.enh2about{
	width:271px;
	height:25px;
	background:url(/img/home/translations/english.png) no-repeat 0 -21px;
	margin-bottom:30px;
}

#homecontentright p{margin-bottom:15px;}

/*
--------------------------------------------------------
4.1 Server promo box
--------------------------------------------------------
*/

#serverlistpromobox{
	width:310px;
	background:url(/img/home/elements.png) no-repeat -581px -183px;
	font-size:12px;
	margin-top:15px;
	float:left;
}

#serverlistpromobox a, #serverlistpromobox a:visited{
	color:#5b8f2b;
	font-size:13px;
}

#serverlistpromoboxcontainer{
	padding:15px 15px 0 15px;
	margin-bottom:15px;
	overflow:hidden;
}

.enh3provpngeographic{
	width:271px;
	height:21px;
	background:url(/img/home/translations/english.png) no-repeat;
	margin-bottom:10px;
}

#serverlistpromoboxcontainer p{
	margin:0 0 10px 0;
}

#serverlistpromoboxcontainer li{float:left;}
#serverlistpromoboxcontainer #liborder{border-right:1px solid #dad9d7;}

#serverlistpromoboxcontainer #liborder a{
	padding-left:10px;
	background:url(/img/home/elements.png) no-repeat 2px -619px ;
}

#serverlistpromoboxcontainer li a{
	padding:0 5px 2px 15px;
	display:block;
	background:url(/img/home/elements.png) no-repeat 7px -619px;
}

#serverlistpromolist{
	background:url(/img/home/elements.png) no-repeat -581px -407px;
	width:310px;
	height:85px;
	overflow:hidden;
}

#serverlistpromolist h4{
	font-size:12px;
	font-weight:normal;
	color:#494b46;
	background:url(/img/home/elements.png) no-repeat 90px -528px;
	margin:5px 0 0 37px;
	padding:0 10px 0 0;
}

#serverflags{
	background:url(/img/home/flags.png) no-repeat;
	width:263px;
	height:34px;
	display:block;
	text-indent:-10000px;
	margin:19px 0 0 22px;
}

/*
* qTip2 - Pretty powerful tooltips
* http://craigsworks.com/projects/qtip2/
*
* Version: 2.0.0pre
* Copyright 2009-2010 Craig Michael Thompson - http://craigsworks.com
*
* Dual licensed under MIT or GPLv2 licenses
*   http://en.wikipedia.org/wiki/MIT_License
*   http://en.wikipedia.org/wiki/GNU_General_Public_License
*
* Date: Tue Apr 12 02:19:46 2011 +0100
*/

/* Fluid class for determining actual width in IE */
.ui-tooltip-fluid{
   display: block;
   visibility: hidden;
   position: static !important;
   float: left !important;
}

.ui-tooltip, .qtip{
   position: absolute;
   left: -31000px;
   top: -31000px;
   display: none;

   width: 550px;

   font-size: 10.5px;
   line-height: 12px;
}

.ui-tooltip-content{
   position: relative;
   text-align: left;
   word-wrap: break-word;
   overflow: hidden;
}
/**** inline ****/

.hmabutton{
   border:0;
   padding:0;
   background:url(/img/home/elements.png) no-repeat 0 -392px;
   cursor:pointer;
   height:48px;
   width:132px;
   text-indent:-10000px;
   display:inline;
   line-height: 100px;
   font-size: 0px;
   position: absolute;
   right: 11px;
   top: 11px;
}

.hmabutton:hover{background-position:-136px -392px;}

/**** inline ****/

#hmadonkeyhead{
background:url(images/ios/appStoreIcon.png) no-repeat;
background-size:40px 40px;
width:50px;
height:30px;
}
