/**** inline ****/

#vh_header_top, #vf_footer, #vh_header_top *, #vf_footer *{margin:0; padding:0; border:none; font-family:Arial, FreeSans, sans-serif; }

#vh_home, #vh_1254, #vf_footer .ftop .vf_best, #vf_footer .logo_iol, #vh_add_brws{background:url("//img.plug.it/NETWORK/VIRGILIO/sprite-hf-virgilio_v2.png"); }/*//img.plug.it/NETWORK/VIRGILIO/*/

#vh_header_top{position:fixed; z-index:100000; left:0; right:0; top:0; width:100%; height:40px;min-width:970px; background:#333 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAoCAIAAABINPzXAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAArwAAAK8AFCrDSYAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M0BrLToAAAADdJREFUOI1jNDY2ZsANmPDIjUoPiDTL////aaab5d+/fxTopkyaMrtpqnsgDR+1G6s0IyMjHmkA1clIrPnfOh8AAAAASUVORK5CYII=) repeat-x; }
#vh_sx, #vh_dx{list-style:none; height:27px; padding:13px 18px 0; color:#FFF; font-weight:700; font-size:11px; line-height:14px; }
	#vh_sx li.last,
	#vh_sx li.first,
	#vh_dx li.last,
	#vh_dx li.first {border-width:0; }
	#vh_sx li, #vh_dx li{float:left; padding:0 10px; border-right:1px solid #C5550A; }
	#vh_sx li.first {padding-left:0;margin-right:7px;}
	#vh_sx a, #vh_dx a{color:#FFF; text-decoration:none;}
	#vh_sx a {text-transform:uppercase;}
	#vh_sx a:hover, #vh_dx a:hover{color:#ADADAD;}
	#vh_home{float:left; text-indent:-999em; width:83px; height:25px; margin-top:-6px; background-position:0 0; }
	#vh_1254{display:block; text-indent:-999em; width:35px; height:19px; margin-top:-2px; background-position:0 -27px;}
	#vh_add_brws{position:absolute;left: 109px;top: 0;width: 9px;height: 15px;background-position:-41px -27px;cursor:pointer;transition:none;-webkit-transition:none;}
		#vh_add_brws:hover {background-position:-85px -27px;}
#vh_dx {position:absolute; top:0; right:0; display:none;}
	#vh_dx li {border-right-color: #999;color:#CCC;}
	#vh_dx li.first {margin:0 -10px 0 0;}
	#vh_dx a{color:#F60;}
#vf_footer{clear:both; width:100%; height:57px; font-size:11px; line-height:30px; color:#FFF; text-transform:uppercase; }
	#vf_footer .ftop{height:30px; padding-left:32px; font-weight:700; background:#444; border-bottom:1px solid #FFF; border-top:1px solid #BBB; }
		#vf_footer .ftop a{float:left; text-decoration:none; color:#FFF; background:inherit; }
		#vf_footer .ftop a:hover{color:#888; }
		#vf_footer .ftop .pipe{float:left; padding:0 10px; }
		#vf_footer .ftop .vf_best{text-indent:-999em; width:22px; height:23px; margin-top:3px; background-position:-57px -27px; }
	#vf_footer .fbottom{height:25px; padding:0 19px 0 26px; line-height:25px; color:#666; background:#F6F6F6; }
	#vf_footer .logo_iol{float:right; text-indent:-999em; width:105px; height:25px; background-position:-85px 0; background-repeat:no-repeat; }

/**** inline ****/

/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{line-height:1em;display:inline;font-weight:normal}
body{margin: 0; padding: 0;}

a:active,a:selected,a:visited{border:none;outline:none}
body{font-family:Arial,Helvetica,sans-serif;font-size:12px;}
a{text-decoration:none}

/*common*/

#page {width:972px; background-color:#fff;margin: 0 auto 40px auto;position:relative;
-webkit-box-shadow:0 0 10px 1px rgba(1, 1, 1, .2);box-shadow:0 0 10px 1px rgba(1, 1, 1, .2)}
.ie6 #page, .ie7 #page, .ie8 #page {border:1px solid #dbdbdb; }
#leftArea {width:668px;float:left}
#sideBar {width:148px;float:left; margin-left:2px;}
#leftArea .hr {height:1px; background-color:#d4d4d4;clear:both;margin:0 3px 0 40px;overflow:hidden;display:block;}
#leftArea .hr.s20 {margin-bottom:19px}
#rightArea {width:300px;float:left}
#rightArea h5 {white-space:nowrap;overflow:hidden; display:block;height:28px;background-color:#303030;color:#fff;font-size:18px;line-height:20px;text-align:center;padding-top:7px;}
#rightArea h5.alt { background-color:#fd5103}
#displacer1 {position:relative;height:242px}
#adv300a {width:300px;height:250px;margin:2px 0 5px 0}
.ie8 #adv300a,.ie7 #adv300a,.ie6 #adv300a{margin-top:3px}
#footer {margin: 0 1px 0 1px}
#hiddenBay {display:none}

.hack {width:1px;height:1px;overflow:hidden;clear:both;}

/*main_sprite*/
a.chanGrp,.lFooter a.iol,#liveSlider_l,#liveSlider_r,#mainSliderSelx li.sli a.selected,#searchHole,#makeHP,#mail h3 a,#community h4 a,#mail .shade,#community h4 a, #mainSliderSel div#preTitle,#searchHole .tapper,.videoAtch, .fotoAtch,.videoAtchS,.fotoAtchS,a .playAtch,#mainSliderSel_l,#mainSliderSel_r,#community a.entraFB,h1#logoArea a,#searchHole,#makeHP,#subHeader  li,.sponsorBox h4 a,#utile li a ,.vLinks li,#mail h3 a,#footerThree a{
	background-image:url(http://hp.plug.it/images/c/sprite_v07i.png);background-repeat:no-repeat;
}


.videoAtch, .fotoAtch {display:block; cursor:pointer;text-indent: -600px;position:absolute;display:block;width:46px;height:46px;overflow:hidden;}
.videoAtch {background-position: -618px -58px}
.fotoAtch {background-position: -562px -58px}
a:hover .videoAtch {background-position: -618px -105px}
a:hover .fotoAtch {background-position: -562px -105px}

.videoAtchS,.fotoAtchS {text-indent: -700px;width:16px;line-height:15px;display:block;overflow:hidden;position:relative;top:-1px;}
.fotoAtchS {background-position: -702px -62px}
.videoAtchS {background-position: -675px -62px}
.ie8 #mainSlider .videoAtchS, .ie8 #mainSlider .fotoAtchS {top:0px}

a .playAtch {text-indent: -600px;cursor:pointer;position:absolute;display:block;width:197px;height:134px;background-position: 61px 394px}
a:hover .playAtch {background-position: 61px -255px}

.atch {position:absolute;width:1px;height:1px}
.atch.hiPri {z-index:9} 

.similar {vertical-align:top;width:970px;}
.similar li,#mainSliderMain .similar li {
	position:static;
	display:block;
	float:left;
	vertical-align:top;
	color:#ff5c33;font-weight:bold;font-size:11px;line-height:11px;width:auto;height:17px;
	white-space:nowrap;margin-right: 8px;
}
.similar.multirow li { float:none;clear:both}

.similar a { vertical-align:top;display;block;float:left;}
.similar span {
		display: block;
		float:left;
        margin: 0 0 0 7px;
        vertical-align:top;
        cursor:pointer;
}
.similar strong {margin:0 4px 0 0;display:block;float:left;font-size:16px;line-height:16px;vertical-align:top;padding:0 0 1px 0;position:relative;}
.similar h5 {cursor:pointer;margin:0;padding:0 0 3px 0;font-weight:bold; vertical-align:top;display:block;float:left;padding-top:2px;}
.ie7 .similar h5,.ie7 .similar strong,.ie6 .similar h5,.ie6 .similar strong{padding-top:0}
.ie7 .similar strong,.ie6 .similar strong{top:-2px;}

@-moz-document url-prefix() {
	.similar strong {top:0px}
	.videoAtchS,.fotoAtchS {top:0}
	#mainSlider .videoAtchS,#mainSlider .fotoAtchS {top:-1px}
}

/*links*/
a {color:#000000}
a:hover{color:#adadad}
a.hilite {color:#ff5c33}
a:hover.hilite {color:#adadad}
a.altLink {color:#ff9900}
a:hover.altLink {color:#adadad}
a.altLink2 {color:#ff6633}
a:hover.altLink2 {color:#adadad}
a.altLink3 {color:#ffffff}
a:hover.altLink3 {color:#adadad}
a.altLink4 {color:#fd5103}
a:hover.altLink4 {color:#adadad}

/*mainslider*/
#mainSlider {width:513px;float:left;margin:2px 0 0 2px;}
#mainSlider .leftShade {display:none}
#mainSliderWrapper{width:513px;height:325px}
#mainSliderMain,#mainSliderMain li{width:513px;height:242px;overflow:hidden}
#mainSliderMain li{position:absolute;z-index:0;background-color:#f0f0f0}
#mainSliderMain li.selected{z-index:2}
#mainSliderMain li.sli img {width:513px;height:173px;}
#mainSliderMain a.source{z-index:2;position:absolute;display:block;padding:11px 11px 0 16px;top:151px;left:0px;background-color:#f0f0f0;font-size:11px;color:#ff5c33;font-weight:bold;white-space:nowrap;line-height:11px;}
#mainSliderMain a:hover.source{color:#adadad}
#mainSliderMain .videoAtch,#mainSliderMain .fotoAtch {left:465px;top:128px}
#mainSliderMain .playAtch {left:465px;top:128px;background-position: -618px -58px;display:block; cursor:pointer;text-indent: -600px;position:absolute;display:block;width:46px;height:46px}
#mainSliderMain a:hover .playAtch {background-position: -618px -105px}
#mainSliderMain h2 {font-weight:bold;cursor:pointer;overflow:hidden;display:block;font-size:17px;line-height:20px;padding:5px 10px 3px 16px}
#mainSliderMain h2 strong { color:#ff5c33}
#mainSliderMain h2 a {display:block}
#mainSliderMain h2 a:hover strong {color:#adadad}
#mainSliderMain .pCounter {padding:2px 0 0 5px;font-size:11px;line-height:12px;font-weight:bold;color:#666666;width:40px;height:21px;background-color:#f0f0f0;display:block;z-index:3;position:absolute;left:463px;top:222px;}
.ie6 #mainSliderMain .pCounter, .ie7 #mainSliderMain .pCounter {padding-top:3px}
#mainSliderMain .similar {padding-left:16px}

#mainSliderSel,#mainSliderSel .canvas{width:513px;height:91px}
#mainSliderSel .canvas2{width:447px;height:91px;left:32px}
#mainSliderSel .canvas,#mainSliderSel .canvas2{overflow:hidden;position:absolute;z-index:1}
#mainSliderSelx {position:absolute;width:4000px;height:88px;z-index:1}
#mainSliderSel_l,#mainSliderSel_r{cursor:pointer;background-position: 7px -190px;height:88px;width:32px;position:absolute;display:block;background-color:#ff5c33; top: 0px; left:0;user-select:none}
#mainSliderSel_r{left:481px;background-position: -34px -190px}
#mainSliderSel_l:hover,#mainSliderSel_r:hover{background-color:#ff8d0a}
#mainSliderSelx li.sli{width:448px;height:91px;overflow:hidden;float:left;display:none}
#mainSliderSelx li.sli.selected{display:block}
#mainSliderSelx li.sli a {cursor:pointer;margin-left:2px;width:109px;height:91px;float:left;overflow:hidden;display:block;border-right:1px solid #e5e5e5;}
#mainSliderSelx li.sli a.selected {background-color:#f0f0f0;background-position:-503px -218px}
#mainSliderSelx li.sli a img {width:110px;height:38px;clear:both;}
#mainSliderSelx li.sli a h5 {display:block;padding: 4px 7px 0 7px;font-weight:bold;font-size:11px;color:#000000;line-height:13px;width:96px}
#mainSliderSelx .defendr {width:110px;height:43px;overflow:hidden}

.ie6 #mainSliderSelx li.sli{width:450px}

/*sidebar*/
#sideBar ul {margin:8px 0 3px 0;}
#sideBar li {font-size:16px;line-height:17px;height:23px;display:block;}
#sideBar li a {font-size:16px;line-height:17px;cursor:pointer;position:relative;display:block; padding:3px 20px 0 13px;width:115px;height:21px;background-image:url(http://hp.plug.it/images/c/dummy.gif)}
#sideBar li a:hover {color:#000;background-color:#e6e6e6;position:relative;top:-1px;border-top:1px solid #e6e6e6;}
#sideBar li span{ display:block; border-bottom:1px solid #e6e6e6;height:20px;padding-left:5px;}
#sideBar li .alt {border-bottom:0}


/*header*/
#header {height:92px;clear:both;position:relative}
.ie6 #header, .ie7 #header, .ie8 #header {z-index:1000}
h1#logoArea{display:block;position:absolute;top:14px;left:21px;z-index:2;}
h1#logoArea a {display:block;width:173px;height:71px;background-position:0 0;text-indent:-600px;overflow:hidden}

#searchHole{z-index:2;position:absolute;left:208px;top:22px;width:624px;height:48px;padding:0;margin:0;background-position: -357px -320px}
#searchHole input{position:absolute;outline:0 none}
#searchHole input.txt{top:10px;left:9px;width:430px;font-size:20px;line-height:28px;height:28px;border:0;color:#000;margin:0;padding:0px;font-family:Arial,Helvetica,sans-serif}
#searchHole input.sub{left:459px;top:7px;width:158px;height:34px;border:none;color:#fff;text-transform:uppercase;font-size:14px;line-height:14px;font-weight:bold;cursor:pointer;overflow:none;background-color:transparent;font-family:Arial,Helvetica,sans-serif}
/*108
#searchHole{z-index:2;position:absolute;left:202px;top:23px;width:575px;height:48px;padding:0;margin:0;background-position: -202px -5px}
#searchHole input{position:absolute;outline:0 none}
#searchHole input.txt{top:10px;left:9px;width:415px;font-size:20px;line-height:28px;height:28px;border:0;color:#000;margin:0;padding:0px;font-family:Arial,Helvetica,sans-serif}
#searchHole input.sub{left:430px;top:7px;width:138px;height:34px;border:none;color:#fff;text-transform:uppercase;font-size:14px;line-height:14px;font-weight:bold;cursor:pointer;overflow:none;background-color:transparent;font-family:Arial,Helvetica,sans-serif}
*/

@-moz-document url-prefix() {#searchHole input.sub{height: auto;padding: 8px 0 8px 0;}}
#searchHole input:hover.sub{background: rgb(0,0,0);background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NTcxNmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(117,113,110,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(117,113,110,1)));background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(117,113,110,1) 100%);background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(117,113,110,1) 100%);background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(117,113,110,1) 100%);background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(117,113,110,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#75716e',GradientType=0 )}

#makeHP{display:block;height:45px;width:124px;font-size:11px;line-height:13px;font-weight:normal;background-position: -357px -371px;margin: 2px 0 0 15px;}
#makeHP a {color:#333;padding:10px 0 5px 39px;display: block;width:80px;}
#makeHP strong {display:block;font-weight:bold}
#makeHP a:hover{color:#adadad}
/*108
#makeHP{position:absolute;left:828px;top:27px;display:block;height:62px;width:130px;font-size:11px;line-height:13px;font-weight:normal;background-position:86px -83px}
#makeHP a{display:block;padding: 3px 52px 10px 0;text-align:right;background-image:url(/images/c/dummy.gif)}
#makeHP strong { color: #ff5c33;font-weight:bold;}
#makeHP a:hover strong {color:#adadad}
*/
#searchHole .tapper{display:none}

#header.brand-h #makeHP {display:none}
#header.brand-h {height:270px}
#header.brand-h #searchHole {top:109px;left:32px;width:495px;background-position: -487px -320px;background-image:url('http://hp.plug.it/images/c/sprite_v07i.png')}
#header.brand-h #searchHole input.txt{width:325px;left:1px;}
#header.brand-h #searchHole input.sub{left:329px;width:158px;}
#header.brand-h #searchHole .tapper {display:block;position:absolute;height:48px;width:8px;left:-8px;background-position: -357px -320px}
#header a.brand-link {display: block;height: 270px;left: 0;position: absolute;top: 0;width: 970px;z-index: 1;}
#header.bianco h1#logoArea a {background:url(/images/c/logoV_bianco.png) no-repeat 0 0} /* white logo */
#header.brand-h {border-bottom:2px solid #ffffff}
#header.brand-h h1#logoArea{top:20px;left:23px}

#header2.brand-h #makeHP {display:none}
#header2.brand-h {display:none;height:0px}
#header2.brand-h #searchHole {top:109px;left:32px;width:495px;background-position: -487px -320px;background-image:url('http://hp.plug.it/images/c/sprite_v07i.png')}
#header2.brand-h #searchHole input.txt{width:325px;left:1px;}
#header2.brand-h #searchHole input.sub{left:329px;width:158px;}
#header2.brand-h #searchHole .tapper {display:block;position:absolute;height:48px;width:8px;left:-8px;background-position: -357px -320px}
#header2 a.brand-link {display: block;height: 270px;left: 0;position: absolute;top: 0;width: 970px;z-index: 1;}
#header2.bianco h1#logoArea a {background:url(/images/c/logoV_bianco.png) no-repeat 0 0} /* white logo */
#header2.brand-h {border-bottom:2px solid #ffffff}
#header2.brand-h h1#logoArea{top:20px;left:23px}


/*subheader*/
#subHeader {height:53px;padding-top:2px;clear:both;background-color:#303132;width:968px}
#subHeader  a{color:#fff}
#subHeader  a:hover{color:#adadad}
#subHeader  li {float:left;white-space:nowrap;font-size:13px;display:block;padding:12px 8px 1px 10px;background-position:-997px -2px}
#subHeader  li#cityMeteo{padding-top:0;background-image:none}
#cityMeteo  span {font-size:15px;font-weight:bold}
#cityMeteo  .hot {color:#ff3300}
#cityMeteo  .cold {color:#00ffff}
#subHeader a:hover span {color:#adadad}
#cityMeteo img {width:23px;height:23px;position:relative;top:6px}
#cityTutto{float:left;font-size:11px;font-weight:bold;color:#b1b0b0;padding:12px 0 0 21px;}
a#cityName {padding:0 0 0 21px;font-size:18px;line-height:20px;color:#ff9900;position:relative;top:7px;width: auto;overflow:hidden;}
a#cityChange {color:#ff9900;font-size:10px;line-height:11px;text-transform:uppercase;font-weight:bold;top:14px;left:580px;position:absolute;white-space:nowrap;}
a:hover#cityChange{color:#adadad}
#subHeader .v1254 {position:relative; top:-2px;width:35px;height:19px;overflow:hidden;display:block;background-image:url("//img.plug.it/NETWORK/VIRGILIO/sprite-hf-virgilio_v2.png"); background-position: 0 -27px}


/*sponsorBox*/
.sponsorBox {display:block;line-height:14px;font-size:11px;margin:10px 9px;}
.ie6 .sponsorBox,.ie7 .sponsorBox {margin-top:9px}
.sponsorBox a {color:#333333}
.sponsorBox a:hover {color:#adadad}
.sponsorBox h4 a {display:block; text-indent:-600px;width:90px;height:29px;overflow:hidden;clear:both;background-position: -801px -52px}

.sponsorBox .cubovision h4 a {background-position: -445px -122px}
.sponsorBox .mailplus h4 a {background-position: -445px -122px}
.sponsorBox .jumpin h4 a {background-position: -352px -120px}
.sponsorBox .telecom h4 a {background-position: -445px -89px}
.sponsorBox .starthappy h4 a {background-position: -352px -59px}
.sponsorBox .apritisito h4 a {background-position: -445px -61px}
.sponsorBox .mailpec h4 a {background:url(/images/mail_pec.png);background-position:0 0}
.sponsorBox .ioladv h4 a {background:url(/images/iol_adv.png);background-position:0 0}
.sponsorBox .vivastreet h4 a {background:url(/images/vivastreet.png);background-position:0 0}
.sponsorBox .cubolibri h4 a {background:url(/images/cubolibri.png);background-position:0 0}
		
.sponsorBox img {width: 89px;height: 60px;float:left;margin-right:5px}
.sponsorBox a strong {display:block;font-weight:bold;padding:0 0 1px 0;font-size:12px;}

/*events*/
#events {background-color:#ebebeb;display:none;}
#eventBody img {float:right;width:120px;height:147px;margin-left:8px;}
#eventBody {padding:5px 0 5px 12px;}
#eventBody h3 {display:block;font-size:18px;font-weight:normal;line-height:19px;margin:8px 0 5px 0}
#eventBody h3 span {display:block;font-size:13px}
#eventBody a p {color:#ff6633;line-height:14px;font-size:11px;font-weight:bold;}
#eventBody a:hover p {color:#adadad}
a#altreLoc {white-space:nowrap;font-size:11px;text-decoration:underline;position:absolute; top: -14px}
#eventBody h5 {display:none}
#eventsWrapper{height:193px;display:block;}
#localCityEvento{display:block;height:147px;overflow:hidden}


/*utile*/
#utile  {background-color:#ebebeb;display:block;}
#utile li {float:left;display:block;border-right:1px solid #ffffff;margin: 8px 0;}
#utile li a {display:block;width:74px;height:14px;padding-top:35px;overflow:hidden;text-align:center;font-size:11px;line-height:12px;color:#666666}
#utile li a:hover {color:#adadad}
#utile .u_alber, #utile .u_docum {border:0}
.u_risto a {background-position: -45px -82px}
.u_benes a {background-position: -124px -82px} 
.u_bar a {background-position: -197px -82px} 
.u_alber a {background-position: -268px -82px} 
.u_cinem a {background-position: -50px -139px}
.u_osped a {background-position: -124px -139px} 
.u_farma a {background-position: -197px -139px} 
.u_docum a {background-position: -268px -139px} 
#cities {display:block; font-size:11px;text-align:center;line-height:12px;padding:11px 0 0 0;height:24px;color:#ffffff;}
#cities a { font-weight: bold;margin: 0 2px;}
#cities .altLink3 { font-weight: normal}

/*filmgiorno*/
#filmGiorno {background-color:#ebebeb;text-align:center;color:#000000;}
#filmGiorno img {width:300px;height:117px;display:block;}
#filmGiorno h3 {font-size:20px;line-height:24px;display:block;}
#filmGiorno .defender {padding: 14px 17px 20px 17px;display:block;font-size:13px; line-height:16px;}
#filmGiorno a.altLink3 {color: #000000;}

/*vutile*/
#vUtile{background-color:#ebebeb}
#vUtile .content {padding:8px 15px 9px 15px;}
.vLinks li {height:16px;padding-left:7px;float:left;display:block;font-weight:bold;white-space:nowrap;width:136px;font-size:11px;line-height:13px;overflow:hidden;
background-position: -997px -38px;
}
.vLinks li.smally {width:110px}
#vUtile .hr { clear:both; height:1px;display:block; overflow:hidden;background-color:#cccccc;margin: 2px 0;}
#oroscopo {font-size:11px;line-height:14px}
#oroscopo h3 {display:block;font-size:11px;line-height:13px;font-weight:bold;color:#ff6600;text-transform:uppercase;display:block;padding-top:8px}
#oroscopo img {width:100px;height:70px;float:right;}
#oroscopo h2 {display:block;font-size:30px;line-height:30px;color:#3f3f3f;margin-bottom:3px;}
#oroscopo a:hover h2 {color:#adadad}
a.oroscopoCambia {color:#666666;text-decoration:underline}
a:hover.oroscopoCambia {color:#adadad}
#oroscopo .hack{height: 2px}
#oroscopo div {font-weight:bold}

/*alicechildren*/
#aliceChildren {display:block;background-color:#ebebeb;font-size:11px;font-weight:bold;line-height:14px;padding:8px;text-align:center}
#aliceChildren a h3 {display:block;color:#ff5c33;font-weight:bold;}
#aliceChildren a:hover h3 {color:#adadad}

/*mail*/
#mail {left:665px;top:-55px;height:55px;width:150px;background:#f0f0f0;position:absolute;overflow:hidden;border-right:4px solid #fff;text-align:center; border-left: 3px solid #fff;}
#mail h3 {text-align: left;width:30px; margin: 0 auto;} 
#mail h3 a {font-size:12px;width:30px;text-align:center;display:block;background-position: -491px -378px;margin:5px auto 0 auto;padding:25px 0 0 2px}
#mail h3 a.loggd {}
#mail h3 a:hover {background-position: -523px -378px}
	
#mail .unlogged {font-size:11px;color:#999;display:inline-block;padding-top: 0px;display:none;} 
#mail .unlogged a {font-weight:bold}
#mail .unlogged strong {font-weight:bold;font-size:16px; line-height:17px;position:relative;top:0px;margin-right:5px;top:1px;color:#ff6633;} 
#mail .logged {font-size:11px;font-weight: 700;}
#userName{display:none;}
a#mailNum{color:#000}
a#mailNum strong {color:#ff6633;}
a:hover#mailNum,a:hover#mailNum strong{color:#adadad}
#mail_logged {display:none;} 
#mail_unlogged {display:none}

#community {left:820px;top:-55px;height:55px;width:148px;background:#f0f0f0;position:absolute;overflow:hidden;text-align:center;border-right:4px solid #fff} 
#community h4 {text-align: left;width:74px;margin: 0 auto;} 
#community h4 a {font-size:12px;width:74px;text-align:center;display:block;background-position: -554px -377px;margin:5px auto 0 auto;padding:25px 0 0 2px}
#community h4 a.loggd {}
#community h4 a:hover {background-position: -554px -418px}

#community .logged {font-size:11px;font-weight:bold} 
#comm_login_logged{display:none}
#community a.entraFB {white-space:nowrap;height:15px;padding:3px 24px 0 0;display:inline-block;background-position: -408px -163px;padding-top:4px;}
#comm_login_unlogged {display:none;vertical-align:top;font-size:11px;} 
	#comm_login_unlogged span {display:inline-block;}
#community em {font-weight:bold}
#community .unlogged {font-weight:bold;line-height:11px;}
.ie6 #comm_trova, .ie7 #comm_trova {position:relative;top:-2px}

/*footer*/


/*sugg*/
#bSugg { display:none; z-index:1500; position:absolute; top:74px; left:252px; width:575px;font-size:1.333em;background:#FFF;-webkit-box-shadow:  0px 2px 10px 0px rgba(1, 1, 1, 0.7);box-shadow:  0px 2px 10px 0px rgba(1, 1, 1, 0.7);border-radius: 8px;}
#bSugg ul {padding:7px 15px;list-style:none;}
#bSugg li {padding:2px 0 2px 10px; display:block; cursor:pointer; }
#bSugg span {display:block;position:absolute;width:449px;left:0; }
.focused {background:#dedede;}
#bSugg .invirgilio {background: url("http://img.plug.it/ricerca2011/logo_in.png") no-repeat 0 0;display:inline-block;font-size: 12px;font-weight: 700;line-height: 18px;margin-left: 10px;padding-left: 20px;}
#bSugg li {font-weight:bold; text-align: left;}
#bSugg li strong {font-weight:normal}
#header.brand-h #bSugg {top:160px; left:19px;width:513px;}
#header2.brand-h #bSugg {top:160px; left:19px;width:513px;}

/*live*/
#liveSlider{margin: 12px 0 0 2px;display:none;}
#liveSlider,#liveSlider .canvas {width:664px;height:91px}
#liveSlider .canvas {position:absolute;z-index:1;overflow:hidden;}
#liveSlider .canvas2{position:absolute;z-index:1;display:block;width:593px;height:91px;left:35px;overflow:hidden;}
#liveSliderx {display:block;width:593px;height:91px;position:absolute}
#liveSliderx li {display:none;width:593px;height:91px;overflow:hidden;float:left;position:relative;background-color:#303132;color:#fff}
#liveSliderx li.selected {display:block}
.liveDisplay{width:393px;height:91px;display:block;background-color:#4e4e4e;
-webkit-box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, .5);
-moz-box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, .5);
box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, .5);
background: -moz-linear-gradient(top, #616161 0%, #303030 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(100%,#303030));
background: -webkit-linear-gradient(top, #616161 0%,#303030 100%);
background: -o-linear-gradient(top, #616161 0%,#303030 100%);
background: -ms-linear-gradient(top, #616161 0%,#303030 100%);
background: linear-gradient(to bottom, #616161 0%,#303030 100%);
}
.liveHomeSqu,.liveAwaySqu{width:30px;height:30px;display:block;background-color:#000000;top:17px;position:absolute;left:164px;}
.liveAwaySqu{left:199px}
.liveHomeNam,.liveAwayNam{width:109px;height:13px;font-size:11px;line-height:13px;position:absolute;overflow:hidden;font-weight:bold;display:block;color:#fff;text-align:right;text-transform:uppercase;top:25px;}
.liveAwayNam{left:285px;text-align:left;}
.liveHomeSco,.liveAwaySco{position:absolute;width:30px;text-align:center;height:30px;color:#fff;font-size:24px;line-height:28px;top:18px;left:164px;font-weight:bold;}
.liveAwaySco{left:199px}
.liveHomeBad,.liveAwayBad{text-align:center;position:absolute;width:40px;height:40px;overflow:hidden;left:117px;top:12px}
.liveAwayBad{left:236px}
.liveHomeBad img,.liveAwayBad img{height:38px; margin: 0 auto 0 auto;}
.liveLabel{font-size:15px;font-weight:bold;position:absolute;color:#ff9933;text-transform:uppercase;left:400px;top:10px;line-height:16px;}
.liveComment{font-size:11px;font-weight:bold;line-height:13px;position:absolute;left:400px;top:29px;color:#fff;width:192px;height:52px;overflow:hidden;}
.liveComment strong{color:#ff9933}
#liveSlider a:hover .liveLabel,#liveSlider a:hover .liveComment strong,#liveSlider a:hover .liveHomeNam,#liveSlider a:hover .liveAwayNam,#liveSlider a:hover .liveHomeSco,#liveSlider a:hover .liveAwaySco,#liveSlider a:hover .liveComment{color:#adadad}
#liveSlider_l,#liveSlider_r{width:35px;height:91px;position:absolute;background-color:#303132;cursor:pointer;background-position: -822px 32px;display:none;}
#liveSlider_r{left:628px;width:36px;background-position: -897px 32px;}
#liveSlider_l:hover,#liveSlider_r:hover{background-color:#606060}
#live_scommetti {top: 55px;left: 40px;width:382px;height:35px;position: absolute;background-image:url('http://images.virgilio.it/feed/hp/scommetti.png')}


/*Yselector*/
.chanSel {background-color:#f0f0f0;padding: 0 0 0 2px;height:40px;margin: 14px 3px 7px 3px}
.chanSel li {float:left;display:block;}
.ie6 .chanSel a {float:left}
.chanSel a {text-transform:uppercase;color:#000;padding:13px 6px 7px 6px;font-size:13px;font-weight:bold;line-height:15px;display:block;height:20px}
.chanSel.autoRot a {
-o-transition:background .8s;
-ms-transition:background .8s;
-moz-transition:background .8s;
-webkit-transition:background .8s;
transition:background .8s;
}
.chanSel a.selected{background-color:#303132;color:#fff;}
.chanSel a:hover {color:#adadad}
a.chanGrp {text-transform:none; color: #ff5e32;width: 47px;position:relative;z-index:5;height:19px;background-position:-945px -74px}
a:hover.chanGrp{color: #ff5e32}
.chanSel a.popped{background-color:#fff;border:1px solid #ccc;border-bottom:0;padding:13px 8px 7px 8px;}
.chanSel li.ghost{position:relative;z-index:4}
.subChanSel{display:none;z-index:4;left:-87px;top:39px;padding: 6px 0}
.subChanSel.popped {display:block;width:150px;background-color:#fff;border:1px solid #ccc;position:absolute;}
.subChanSel li{float:none}
.subChanSel a {padding: 4px 10px 3px 10px;line-height:15px;height:auto;color:#333}
.ie6 .subChanSel a {float:none}
.subChanSel a:hover {background-color:#f0f0f0;color:#333}
.chanSel .ninJa{display:none}

.chanDisp{display:block;margin:0;padding:0;height:614px}
.chanDisp li {display: none;float:none;margin:0;padding:2px 22px 0px 22px}
.chanDisp li.selected{display:none;}

.chanDisp .turboLoad{background-image:url(http://hp.plug.it/images/c/loading.gif);background-repeat:no-repeat;background-position: top center;display:block;padding:0;margin:18px 0 0 0;width:100%;height:100px}

.chanStuff {display:block;margin:0;padding:0;}
.ie6 .chanStuff, .ie7 .chanStuff {margin-top: -16px}
.chanStuff li {display:block;padding:0}
.chanGrid li {position:relative;float:left;margin-bottom:4px;padding:0}
.chanGrid a {display: block;overflow:hidden;width:190px;padding:3px 9px;cursor:pointer;}
.chanGrid a.source{white-space:nowrap;position:absolute;z-index:2;font-size:11px;font-weight:bold;color:#fff;background-color:#303132;display:block;line-height:12px;padding:6px 10px 6px 10px;width:auto;left:9px;top:108px;height:auto;-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;}
.chanGrid a:hover.source{color:#cdcdcd}
.chanGrid p {margin:0;padding:0;display:block;width:190px;height:129px;margin-bottom:11px;float:none;clear:both;overflow:hidden}
.chanGrid img {width:190px;height:129px;display:block}
.chanGrid a img {transition: all 200ms ease 0s}
.chanGrid a:hover img {-webkit-transform: scale(1.1,1.1);transform: scale(1.1,1.1);}
.chanGrid div {width:190px;height:50px;overflow:hidden;display:block;}
.chanGrid h3 {cursor:pointer;clear: both;font-size:15px;font-weight:bold;line-height:16px;padding: 0;display:block}
.chanGrid .videoAtch,.chanGrid .fotoAtch {z-index:2;left:152px;top:88px}

.ie7 .chanGrid p, .ie6 .chanGrid p {display:inline} /*ie7- workaround*/
.ie7 .chanGrid  div, .ie6 .chanGrid div {margin-top:11px} /*ie7- workaround*/

/*sixbox*/
	
.sixBox{display:block;margin: 16px 0 0 32px}
.sixBox li{width:196px;height:64px;float:left;margin:0 12px 16px 0;font-size:11px;line-height:12px}
.sixBox img {width:90px;height:62px;border:1px solid #eee; float:left;}
.sixBox a {color:#333;display:block;}
.sixBox a h4 {color:#fd5103;font-size:12px;line-height:12px;text-transform:uppercase;font-weight:bold;margin-bottom:6px;display:block;padding-top:5px;}
.sixBox a:hover, .sixBox a:hover h4 {color:#cdcdcd;cursor:pointer}
.sixBox div {float:left;width:97px;display:block;height:60px;overflow:hidden;padding-left:7px}

/* threebox */

.threeBox{display:block;clear:both;float:none; margin: 5px 0 5px 21px}
.threeBox li {float:left;padding:11px;width:185px;display:block;margin-right:1px;height:190px;overflow:hidden;}
.threeBox li.textie a.okno,.threeBox li.textie a.genio{display:block;width:185px;height:32px;margin-bottom:17px;}
.threeBox li.textie a.okno{background-image:url(http://hp.plug.it/images/c/logo_oknot.png);background-position:-14px -10px}
.threeBox li.textie a.chan{white-space:nowrap;font-size:11px;font-weight:bold;text-transform:uppercase;color:#ff5c33}
.threeBox li.textie a:hover.chan{color:#adadad}
.threeBox li.textie a.main{display:block;clear:both;margin-top:7px;height:120px;cursor:pointer;}
.threeBox li.textie h4 {font-size:15px;font-weight:bold;line-height:18px;height:73px;overflow:hidden;display:block;}
.threeBox li.textie .buttn {text-transform:uppercase;float:left;margin-top:11px;display:block;padding: 13px;background-color:#ff5c33;color:#fff;font-size:12px;font-weight:bold}
.threeBox li.textie .buttn:hover {background-color:#adadad;color:#fff}
.threeBox li.adv {background-color:#ebebeb}
.threeBox li.adv a {display:block;cursor:pointer}
.threeBox li.adv img {width:123px;height:84px;margin-bottom:15px;display:block;}
.threeBox li.adv .disc {display:block;background-color:#303132;color:#fff;font-size:11px;font-weight:bold;padding:9px;margin-bottom:12px;float:left;}
.threeBox li.adv h4 {display:block;clear:both;font-size:15px;line-height:16px;height:48px;overflow:hidden;}
.threeBox li.simple {background-color:#ebebeb;position:relative;}
.threeBox li.simple a {display:block;cursor:pointer}
.threeBox li.simple a.source {top:110px;position:absolute;display:block;background-color:#303132;color:#fff;font-size:11px;line-height:12px;font-weight:bold;padding:8px;}
.threeBox li.simple img {width:123px;height:84px;margin-bottom:55px;display:block;}
.threeBox li.simple h3 {display:block;clear:both;font-size:15px;line-height:16px;height:48px;overflow:hidden;}


/*videobox*/

.videoBox{display:block;clear:both;float:none; margin: 0;background-color:#000;height:600px;padding:18px;margin:17px 3px 0 3px;}
.videoBox li{display:block;float:left;padding:11px;width:186px;height:174px;overflow:hidden;position:relative;}
.videoBox li a{display:block;color:#fff;font-size:11px;line-height:13px;font-weight:bold;cursor:pointer}
.videoBox li p {margin:0;padding:0;width:186px;height:105px;overflow:hidden;display:block;margin-bottom:8px;position:relative:z-index:1}
.videoBox li img {width:186px;height:105px}
.videoBox li h4 {font-size:18px;color:#fe7200;line-height:19px;display:block;font-weight:normal;margin-bottom:1px;}
.videoBox li a:hover,.videoBox li a:hover h4 {color:#cdcdcd}
.videoBox li.big {width:604px;height:397px;}
.videoBox li.big img {width:604px;height:339px}
.videoBox li.big p {width:604px;height:339px}
.videoBox img {transition: all 200ms ease 0s}
.videoBox a:hover img {-webkit-transform: scale(1.1,1.1);transform: scale(1.1,1.1);}
.videoBox .videoAtch, .videoBox .fotoAtch {z-index:2;left:152px;top:74px}
.videoBox li.big .videoAtch {width:108px;height:108px;background-position: 0 -360px;left:261px;top:130px}
.videoBox li.big a:hover .videoAtch {background-position: 0 -471px} 

.ie7 .videoBox li p, .ie6 .videoBox li p {display:inline} /*ie7- workaround*/
.ie7 .videoBox li img, .ie6 .videoBox li img {margin-bottom:8px} /*ie7- workaround*/

/* footer */
.lFooter {display:block;margin:18px 3px 16px 20px;font-size:11px;font-weight:bold;line-height:14px;text-transform:uppercase;}
.lFooter a {margin: 0 4px;}
.lFooter a.irst{margin-left:0}
#leftArea .lFooter .hr {margin:19px 0 7px 0}
.lFooter a.iol {width: 99px;height: 21px;overflow: hidden;background-position: -678px -85px;float:right;text-indent: -600px;margin-top:3px}
.rFooterL,.rFooterR{float:left;display:block;width:132px;margin:16px 0 16px 15px;font-size:11px;line-height:13px}
.rFooterR {margin-left:12px;width:132px}
.rFooterL h6,.rFooterR h6 {font-weight:bold;margin: 0 0 6px 3px;display:block}
.rFooterL .hr,.rFooterR .hr {display:block;background-color:#d4d4d4;height:1px;clar:both;margin: 10px 0}
.rFooterL a,.rFooterR a {text-transform:uppercase;margin-left:3px;}


/**** inline ****/

#adv_wallpaper{position: absolute; top: 40px; left: 0px; height: 1500px; width: 99.99%; display:none;}
#libero_header_adv {height:90px}
.h250 {height:250px}
#masthead970x250div{z-index: 3; width: 970px;display: block;}
#ad97090{z-index: 3; display: block}
#ad300250bottom,#ad300250top{width:300px;height:250px;z-index:20;display: block}
div#local-evt{visibility:hidden;height:205px}
#ad300x250localbay{position: absolute; top: 0px; z-index: 3; width: 300px;display: block;}

/*
#adv_wallpaper{position: absolute; top: 40px; left: 0px; height: 1500px; width: 99.99%; display:none;}
.h250 {height:250px}
#ad970x250bay{position: absolute; top: 270px; z-index: 3; width: 970px;display: block;}
.ad970{ width: 970px; }
.ad300mov,.ad100mov{padding-left:667px}
#ad970x90bay{position: absolute; top: 40px; z-index: 3; width: 970px;display: block}
#ad300x250bay{position: absolute; top: 270px; z-index: 3; width: 300px;display: block}
#ad301x251bay{position: absolute; top: 1019px; z-index: 3; width: 300px;display: block}
div#local-evt{visibility:hidden;height:205px}
#ad300x250localbay{position: absolute; top: 623px; z-index: 3; width: 300px;display: block;}
*/


body{margin-top:41px}

/**** inline ****/
body{background: #FFFFFF url('http://pagead2.googlesyndication.com/pagead/imgad?id=CICAgKDjlauA2wEQARgBMgjMS6Zlnjp8Yg') no-repeat fixed 50% 40px;) }
/**** inline ****/

			#strillo_sc_l_shopping_8 {top:402px;left:230px;position:absolute;background-color:#fff}
			.ie6 #strillo_sc_l_shopping_8, .ie7 #strillo_sc_l_shopping_8 {top:417px;}
		
/**** inline ****/

			#strillo_sc_l_giochi_7 {top:402px;left:22px;position:absolute;background-color:#fff}
			.ie6 #strillo_sc_l_giochi_7, .ie7 #strillo_sc_l_giochi_7 {top:417px;}
		