.under
{
    FONT-SIZE: 10px;
    COLOR: #454545;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: underline
}
.test
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.testJudl
{
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.kurs
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.tggl
{
    FONT-SIZE: 10px;
    COLOR: #0000ff;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.copy
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #3660ac;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.faq
{
    FONT-SIZE: 11px;
    COLOR: #0000ff;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.kecil
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #454545;
    FONT-FAMILY: arial,verdana;
    TEXT-DECORATION: none
}
.mng
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #454545;
    FONT-FAMILY: arial,verdana;
    TEXT-DECORATION: none
}
.mng:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #0000ff;
    FONT-FAMILY: arial,verdana;
    TEXT-DECORATION: none
}
.kanan
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.kanan:hover
{
    FONT-SIZE: 11px;
    COLOR: #0000ff;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.testL
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.testL:hover
{
    FONT-SIZE: 11px;
    COLOR: #0000ff;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: underline
}
.top
{
    FONT-SIZE: 11px;
    COLOR: #00008d;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.top2
{
    FONT-SIZE: 14px;
    COLOR: #00008d;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.top:hover
{
    FONT-SIZE: 11px;
    COLOR: #c5161c;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: underline
}
.link
{
    FONT-SIZE: 11px;
    COLOR: #ff0000;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
table.link
{
    FONT-SIZE: 11px;
    COLOR: #ff0000;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.link:hover
{
    FONT-SIZE: 11px;
    COLOR: #0000ff;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: underline
}
.judl
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #184cb1;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.judl_yuan
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #184cb1;
    FONT-STYLE: normal;
    FONT-FAMILY: Helvetica Black Condensed,verdana,sans-serif;
    TEXT-DECORATION: none
}
.judl_red
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #FF0000;
    FONT-STYLE: normal;
    FONT-FAMILY: Helvetica Black Condensed,verdana,sans-serif;
    TEXT-DECORATION: none
}
.bold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #454545;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.bold:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #454545;
    FONT-STYLE: normal;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: underline
}
.J
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #0d3493;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.Jdpn
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #0d3493;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.Jdpn:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #0d3493;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: underline
}
.testJudl2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    TEXT-DECORATION: none
}
.bcacoid { 
		position: relative;  
		width:510px;
		height:46px; 
		background-image: url(images/website_corporate1.jpg); 
		background-repeat: no-repeat; 
		background-position: center;
		}
#bcacoid-link { 
		position: absolute; 
		top: 5px; 
		right: 20px; 
		width: 95px; 
		height: 37px; 
		background-color: transparent; 
		}
.glossary 
{  font-family: arial,verdana,sans-serif; font-size: 14px; color: #FF6600; text-decoration: none}
div#scrollbar {
    display:block; /* initially display:none; to hide from incapable */
    }
div#wn	{ 
    position:relative;
    width:470px; height:400px;
    overflow:hidden;
	}
div#wn-2	{ 
    position:relative;
    width:470px; height:200px;
    overflow:hidden;
	}	   
div#scrollbar { 
  position:relative;
  width:11px; height:400px; 
  font-size:1px;  /* so no gap or misplacement due to image vertical alignment */
  }
div#scrollbar-2 { 
  position:relative;
  width:11px; height:200px; 
  font-size:1px;  /* so no gap or misplacement due to image vertical alignment */
  }
div#track { 
  position:absolute; left:0; top:12px;
  width:11px; height:376px;
  background: #7FB0D6;
  }
div#track-2 { 
  position:absolute; left:0; top:12px;
  width:11px; height:176px;
  background: #7FB0D6;
  }
div#dragBar {
  position:absolute; left:1px; top:1px;
  width:9px; height:20px;
  background-color:#ceced6;
  }  
div#up { position:absolute; left:0; top:0; }  
div#down { position:absolute; left:0; bottom:0; }
/* for safari, to prevent selection problem  */
div#scrollbar, div#track, div#dragBar, div#up, div#down {
    -moz-user-select: none;
    -khtml-user-select: none;
}
/* so no gap or misplacement due to image vertical alignment
font-size:1px in scrollbar has same effect (less likely to be removed, resulting in support issues) */
div#scrollbar img {
    display:block; 
    } 