*{ margin: 0; padding: 0; border: none; outline: none;}
html{ overflow-y: scroll; }
body{ background: #0a0a0a url('../images/bg.jpg') 0 0 repeat-x; font-size: 12px; color: #333333; font-family: Tahoma, Geneva, sans-serif; line-height: 130%;}
ul, li{ list-style: none; }
p{ font-family: Arial; line-height: 16px; }
a{ text-decoration: none; color: #000; }
input{ border: 1px solid #999; }
h1{ margin-bottom: 15px; font-size: 22px; line-height: 20px; border-bottom: 2px solid #dbdbdb; padding-bottom: 6px; padding-left: 5px; text-shadow: 0 1px 1px #b2b2b2; }
h2{ margin-bottom: 15px; font-size: 18px; line-height: 20px; border-bottom: 2px solid #dbdbdb; padding-bottom: 6px; padding-left: 5px; text-shadow: 0 1px 1px #b2b2b2; }
h3{ margin-bottom: 10px; font-size: 16px; text-shadow: 0 1px 1px #b2b2b2; }
h4{ margin-bottom: 12px; font-size: 13px; text-shadow: 0 1px 1px #b2b2b2; }
.col-right h2:first-child{ margin-top: 5px; }

/* Wrapper */
#wrapper{ width: 970px; margin: 0 auto; }

/* Header */
#header{ height: 172px; position: relative; margin-bottom: 20px; }
#header #logo{ position: absolute; width: 230px; height: 84px; top: 52px; }

/* Nav */
#nav-wrapper{ position: absolute; top: 60px; right: 0; z-index: 0; }
.nav-left{ width: 6px; height: 68px; background: url('../images/nav-left-side.png') 0 0 no-repeat; float: left; }
.nav-right{ width: 5px; height: 68px; background: url('../images/nav-right-side.png') 0 0 no-repeat; float: left }
#nav{ height: 68px; background: url('../images/nav-center-bg.png') 0 0 repeat-x; float: left; }
#nav li{ float: left; }
#nav a{ color: #747474; padding: 37px 15px 16px 15px; float: left; }
#nav a:hover{ color: #fff; }
#nav a.active{ color: #fff; background: url('../images/nav-highlight.gif') 0 13px repeat-x; }

/* Top Panel */
#top-panel{ position: absolute; top: 0; width: 100%; z-index: 999; left: 0; }
#panel{ width: 100%;  color: #999; background: #272727; overflow: hidden; position: relative; z-index: 3; display: none; padding-bottom: 40px; }

.tab{ background: url('../images/panel-btm-bg.png') repeat-x 0 0; height: 42px; position: relative; top: 0; z-index: 999;}
.tab ul{ position: relative; top: 0; right: 150px; float: right; height: 60px; /* height fixes flickering when sliding */ }
.tab li{ float: left; background: url('../images/tab-bg.png') 0 0 repeat-x; height: 42px; color: #fff; line-height: 43px; font-size: 11px; }
.tab li a{ color: #50d518; }
.tab li a:hover{ color: #fff; }
.tab a.open{ background: url('../images/tab-open.png') left 0 no-repeat; }
.tab a.close{ background: url('../images/tab-close.png') left 0 no-repeat; }
.tab a.open, .tab a.close{ height: 20px; cursor: pointer; padding-left: 29px; margin-top: 11px; display: block; line-height: 20px; width: 90px; }
.tab a.open:hover{ background: url('../images/tab-open.png') left -19px no-repeat; }
.tab a.close:hover{ background: url('../images/tab-close.png') left -19px no-repeat; }
.tab .left{ background: url('../images/tab-left.png') 0 0 no-repeat; display: block; width: 30px; height: 42px; }
.tab .right{ background: url('../images/tab-right.png') 0 0 no-repeat; display: block; width: 30px; height: 42px; }

/* Panel Columns */
#panel h1, #panel h2, #panel h3,#panel h4{ text-shadow: none; }
#panel h2, #panel h4{ color: #fff; border: none; color: #fff !important; padding-left: 0px;}
#panel label{ display: block; margin-bottom: 7px; }
#panel input{ border: 1px solid #1a1a1a; background-color: #414141; margin-bottom: 10px; color: #fff; padding: 3px 2px; }
#panel input.field{ width: 200px; }
#panel .error{ color: red; }
#panel #rememberme{ margin-left: 5px; background: none; border: none; }
#panel .lost-pwd{ color: #4bc716; text-decoration: underline; margin-left: 10px; }
#panel .lost-pwd:hover{ color: #fff; }
#panel .content{ width: 970px; margin: 15px auto; }
#panel .column{ float: left; border-left: 1px solid #333; width: 292px; min-height: 217px; padding: 7px 15px 0 15px; }
#panel .bt_login{ padding: 3px 12px; background-color: #7a7a7a; cursor: pointer; font-weight: bold; border: 1px solid #7a7a7a; color: #fff;
	-webkit-text-shadow: #232323 2px 1px 2px;
	-moz-text-shadow: #232323 2px 1px 2px;
	text-shadow: #232323 2px 1px 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url('../js/pie.htc');
}
#panel .b-right a.bt_login{ margin-top: 15px; float: left; }
#panel .bt_login:hover{ border: 1px solid #fff; }


/* Container */
#container.center{ width:720px; margin: 0 auto; }
#container{ width: 970px; background:#111; position: relative; border: 1px solid #222; z-index: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url('../js/pie.htc');
}

/* Content */
#content{ width: 950px; margin: 10px; z-index: 10; position: relative; }
#content .intro{ width: 690px; background: #f9f9f9; float: left; padding: 5px 5px 10px 5px; margin-bottom: 10px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; behavior: url('../js/pie.htc'); }
#content .intro a{ color: #4ac216; text-decoration: underline; }
#content .intro p{ width: 550px; margin-left: 10px; }
#content .col-right{ width: 230px; background: #f9f9f9; right: 0; top: 0; padding: 0 5px; position: absolute; height: 100%; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; behavior: url('../js/pie.htc'); }
#content .col-left{ width: 690px; background: #f9f9f9; float: left; padding: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; behavior: url('../js/pie.htc'); }
#content .full-width{ width: 940px; background: #f9f9f9; float: left; padding: 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; behavior: url('../js/pie.htc'); }
#content .browse{ margin-left: 20px; float: left; }

/* Inputs */
#content form{ padding: 5px; }
#content label{ display: block; margin-bottom: 7px; font-size: 14px; font-weight: bold; display: inline-block;}
#content input.field{ border: 1px solid #888; background-color: #ffffff; margin-bottom: 15px; color: #333; padding: 8px 5px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url('../js/pie.htc');
}
#content textarea{ border: 1px solid #888 !important; background-color: #ffffff; color: #333; padding: 8px 5px; margin-bottom: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url('../js/pie.htc');
}

#content input.field{ width: 275px; }
#content .register{ margin-left: 30px; }
#content .register .error{ font-size: 12px; font-weight: normal; padding-left: 5px; }
#content .formError{ color: red; text-align: left; }
#content .register .formError{ position: absolute; top: 195px; left: 150px; }
#content .smallerCol{ float: left; width: 325px; }

/* donate */
.donate{ position: absolute; right: 0; top: 150px; background: url('../images/donate-bg.png') 0 0 no-repeat; width: 120px; height: 40px; }
.donate form{ position: relative; }
.donate-btn{ position: absolute; top: 5px; right: 0px; background: url('../images/donate-btn.png') 0 0 no-repeat; width: 116px; height: 29px; float: right; font-size: 0px; border: none; cursor: pointer; }

/* browse Styles */
h2.backToSearch a{ font-size: 15px; line-height: 0px; color: #333; }
.browse-wrapper{ width: 297px; float: left; padding: 0 5px; margin: 0 0px 10px 0; }
.browse-content{ border-right: 1px solid #bebebe; float: left; padding-right: 10px; }
.browse-img{ float: left; width: 120px; height: 192px; margin-right: 8px; }
.browse-info{ float: left; width: 155px;  position: relative;}
.browse-info a.mright{ margin-right: 7px; }
.browse-info .links{ float: left; }
.browse-info .info{ display: block; height: 148px; }
.browse-info .info .browseTitleLink { font-size: 13px;  text-shadow: 0 1px 1px #b2b2b2; font-weight: bolder; display:inline-block; margin-bottom: 10px; }
.browse-info .info .browseTitleLink  a{ color: #333; }
.browse-info .info .browseInfoList{ line-height: 18px; font-family: Arial; }
.browse-info .info .browseSeeds{ float: left; margin-bottom: 25px; position: absolute; bottom: 0;}
.browse-info .info .seeds{ float: left; }
.browse-info .info .peers{ float: left; margin-right: 5px; }

.didYouMeanMsg{ font-size: 20px; margin: 15px 0 20px 0 }
.didYouMeanMsg .didYouMeanLink{ font-style:italic; font-weight:bold; color: #4ac216; text-decoration: underline; }


.divider{ border-bottom: 1px solid #bebebe; float: left; width: 290px; margin: 10px 0 0 -5px; }
.noMoviesMsg{ font-size: 16px; margin: 60px 0 20px 300px }
.torrentCount{ position:absolute; top: 8px; right: 35px; font-size: 16px; font-weight: bold; }
.rssBrowse{ position:absolute; top: 4px; right: 6px;}

/* Search Panel */
.SearchPanel{ float: left; width: 725px; height: 105px; background: #f4f4f4; margin: -5px 0 10px 25px; border: 1px solid #bebebe; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; behavior: url('../js/pie.htc'); position: relative; }
.searchForm{ padding: 5px; }
div.searchForm{ padding: 10px; }
.searchForm #keywords.field{ width: 490px; margin-left: 5px; border: 1px solid #888 !important; }
.searchForm select{ margin: 0 15px 0 5px; width: 90px; padding: 8px 5px; border: 1px solid #888 !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url('../js/pie.htc'); }
.searchForm .label{ width: 88px; }
.searchForm .std-btn{ position: absolute; top: 7px; right: 17px; margin: 0px; }

.SearchPanel .ajax-loader{ background: url('../images/ajax-loader.gif') 0 0 no-repeat; width: 24px; height: 24px; position: absolute; right: 125px; top: 10px; display: none; }
.SearchPanel .autoComplete{ background-color: #cecece; position: absolute; border: 1px solid #7d7d7d; display: none; top: 44px; left: 103px; z-index: 99;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url('../js/pie.htc');
}
.SearchPanel .autoComplete ul{ padding: 4px; }
.SearchPanel .autoComplete ul li{ width: 482px; padding: 5px; word-wrap: break-word; }
.SearchPanel .autoComplete ul li a{ width: 482px; display: block; }
.SearchPanel .autoComplete ul li:hover, .autoComplete .selected{ background-color: #e4e4e4; cursor: pointer; border: 1px solid #5c5c5c; margin-right: -2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url('../js/pie.htc');
}
.SearchPanel .autoComplete ul li:hover a, .autoComplete .selected a{ margin: -1px; }
.SearchPanel .autoComplete:hover ul li.selected{ background-color: #cecece; border: none; padding: 6px !important; }
.SearchPanel .autoComplete:hover ul li.selected:hover{ background-color: #e4e4e4; cursor: pointer; border: 1px solid #5c5c5c; margin-right: -2px; padding: 5px !important;}

/* Home Latest Movies */
.home .browse-wrapper{ width: 220px; float: left; padding: 0 5px; margin: 0 0px 10px 0; }
.home h3{ font-size: 13px; text-align: center; height: 25px; }
.home h3 a{ color: #333; }
.home a.mleft{ margin-left: 7px; }
.home .links{ margin-left: 27px; float: left; }
.home .browse-img{ float: left; width: 140px; height: 192px; text-align: center; margin-left: 34px; }
.home .divider{ border-bottom: 1px solid #bebebe; float: left; width: 220px; margin: 10px 0 0 -5px; }

/* Full Movie Page */
#movie-wrapper{ float: left; padding-left: 10px; }
.movie-content{ float: left; padding-bottom: 20px; }
.movie-content .imdbLink{ position: absolute; top: 0; right:0; }
.movie-img{ float: left; width: 250px; height: 320px; }
.movie-img img{ width:100%; height:100%; }
.movie-info{ float: left; padding-left: 20px; padding-bottom: 40px; width: 650px; position: relative; }

.plusOne-wrapper { position:absolute; top: 4px; right: 10px; width:300px; height:35px;}
.plusOne-wrapper .plusOneCount { float:right; height:18px; font-size: 16px; border-bottom: 2px solid #dbdbdb; text-shadow: 0 1px 1px #b2b2b2; background-color: #f2f2f2; border: 1px solid #c7c7c7;  padding:7px 7px 5px 7px;}
.plusOne-wrapper .plusOneBlack { float:right; cursor: pointer; margin-right:10px;}
.plusOne-wrapper .plusOneGreen { float:right; margin-right:10px;}

.movie-info .adDwl{ height: 35px; position: absolute; right:0; bottom: 40px; }
.movie-info .torrentDwl{ padding: 7px 45px; position: absolute; right:0; bottom: 0; }
.movie-info .magnet{ padding: 0px 65px; position: absolute; right:140px; bottom: -5px; }
.movie-info .adIcon{ padding: 0px 65px; position: absolute; right:140px; bottom: 5px; }

.movie-info h1{ border: none; padding-left: 0px; font-size: 26px; width: 500px; line-height: 30px; }
.movie-info p{ font-size: 14px; line-height: 20px; }
.movie-info p b{ width: 120px; display: inline-block; }
.movie-info .peers{ margin-top: 10px;  }
.movie-descr .screenshots{ float: left; width: 450px; margin: 0 20px 20px 0;}
.movie-descr .screenshots h2{ width: 450px; text-align: left;  }
.movie-descr .screenshots{ text-align: center; }
.movie-descr .screenshots div{ margin-bottom: 5px; }
.movie-descr .description{ float: left; width: 450px; padding-bottom: 20px; }
.movie-descr .description  a{ color: #4ac216; text-decoration: underline; }
.movie-descr .description .cast{ font-weight:bold; }
.movie-descr .description p{ padding-right: 20px; font-size: 14px; line-height: 18px; }
.movie-descr .description .credits{ padding-top: 20px; font-size: 12px; line-height: 18px; }
.movie-info .movieTrailer { background: url('../images/trailer-btn.png') 0 0 no-repeat; width:128px; height:30px; position: absolute; bottom:0px; left:20px; font-size: 0; line-height: 0px;}
.DMCA-bar{ text-align: center; margin: 0 auto 15px auto; background: #c2342a; padding: 3px 15px 4px 15px; color: #fff; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; }

/*AlsoDownloaded*/
#also-downloaded-wrapper{ margin-top: 15px; position: relative; }
.also-downloaded-covers { border-right: 2px solid #bebebe; float: left; margin-left: 15px; width: 55%; padding-right:10px; }
.also-downloaded-covers img{ margin:3px 3px; width:120px; height:177px; }
.recommended-movie-focus { width:360px; float:left; margin-left:20px; }
.recommended-movie-focus img { float:left; width:175px; height:260px; margin-right:15px; }
/* .recommended-movie-focus h2 { border-bottom:none; } */
.recommended-movie-focus .info { line-height: 18px; padding-top:45px; }
.recommended-movie-focus .info .movie-peers{ margin-right: 5px; }
.recommended-movie-focus a.mright{ margin-right: 20px; }
.recommended-movie-focus .links { position: absolute; margin-top:10px;}
.recommended-movie-focus .movieTrailer { background: url('../images/trailer-btn.png') 0 0 no-repeat; margin-left:15px; width:128px; height:30px; position: absolute; font-size: 0; line-height: 0px;}


/* Comment */
#comment-wrapper{ margin-top: 15px; position: relative; padding-bottom: 15px !important; }
#comment-wrapper h2.alt{ margin: 10px 0 25px 0; font-size: 30px;}
#comment-wrapper h2.alt span{ font-size: 20px; color:#5b5b5b; }
#comment-wrapper .add-com-btn{ position: absolute; top: -10px; right: 10px; padding: 7px 30px; }
.no-comments{ margin-left: 30px; }
.spam-detected { color: #FFF; background-color: #E74C3C; border-color: #E74C3C; padding: 15px; margin-bottom: 21px; border: 1px solid rgba(0, 0, 0, 0); border-radius: 4px; width: 580px; margin: 0 auto; text-align: center; font-weight: bold;}
.childComment{ background: url('../images/comment-indent.gif') 0 20px no-repeat; border-left: 1px solid #c7c7c7; margin-left: 20px; padding-bottom: 15px;  }
.childComment.first{ margin-top: 15px; }
.childComment .comment{ margin: 0 0 0 30px; }
.comment{ width: 520px; background-color: #f2f2f2; border: 1px solid #c7c7c7; padding: 20px 20px 35px 20px; margin: 15px 0 0 20px; position: relative; }
.comment-deleted { background-color: #ffdddd; }
.comment a.delete{ position: absolute; right: 0; top: 0; line-height: 12px; font-size: 8px; text-transform: uppercase; padding: 4px 8px; background: #f9f9f9; border-left: 1px solid #c7c7c7; border-bottom: 1px solid #c7c7c7; }
.comment a.delete:hover{ background: #e5e5e5;}
.comment a.reply{ position: absolute; left: 0; bottom: 0; line-height: 12px; font-size: 8px; text-transform: uppercase; padding: 4px 10px; background: #f9f9f9; border-right: 1px solid #c7c7c7; border-top: 1px solid #c7c7c7; }
.comment a.reply:hover{ background: #e5e5e5;}
.comment a.delete-all-revoke{ color: #FF0000; position: absolute; right: 0; bottom: 0; line-height: 12px; font-size: 8px; text-transform: uppercase; padding: 4px 8px; background: #f9f9f9; border-left: 1px solid #c7c7c7; border-top: 1px solid #c7c7c7; }
.comment a.delete-all-revoke:hover{ background: #e5e5e5;}
.comment a.mark-spam{ position: absolute; right: 43px; top: 0; line-height: 12px; font-size: 8px; text-transform: uppercase; padding: 4px 8px; background: #f9f9f9; border-left: 1px solid #c7c7c7; border-bottom: 1px solid #c7c7c7; }
.comment a.mark-spam:hover{ background: #e5e5e5;}
.comment .comment-details{ margin-bottom: 15px; }
.comment .comment-details .name.highlightAdmin{ color: #de1616; border-bottom: 2px solid #de1616; padding-bottom: 1px;}
.comment .comment-details .name.highlightMod{ color: #089301; border-bottom: 2px solid #089301; padding-bottom: 1px;}
.comment .comment-details .name.highlightSuperMod{ color: #0099FF; border-bottom: 2px solid #0099FF; padding-bottom: 1px;}
.comment .comment-details .name.highlightUploader{ color: #ee8115; border-bottom: 2px solid #ee8115; padding-bottom: 1px;}
.comment .comment-details .name.highlightVIP{ color: purple; border-bottom: 2px solid purple; padding-bottom: 1px;}
.comment .comment-details .name.highlightWebDev{ color: #FF22FF; border-bottom: 2px solid #FF22FF; padding-bottom: 1px; }
.comment .comment-details .name{ font-size: 16px; font-weight: bold;
	-webkit-text-shadow: #fff 1px 1px 0px;
	-moz-text-shadow: #fff 1px 1px 0px;
	text-shadow: #fff 1px 1px 0px;
}
.comment .comment-details .date{ text-decoration: underline; color: #989898; margin-left: 10px; font-style:italic;  }
.comment .comment-text{-webkit-text-shadow: #fff 1px 1px 0px;-moz-text-shadow: #fff 1px 1px 0px;text-shadow: #fff 1px 1px 0px; font: 14px Arial; }
.comment .comment-text p{ word-break: break-word; width: 515px; overflow: hidden; }
.load-more-comments{ margin-left: 150px; width: 280px; text-align: center; }
.load-more-wrapper{ position: relative; height: 50px; }
.load-more-wrapper .more-count{ position: absolute; background-color: #F2F2F2; border: 1px solid #C7C7C7; padding: 5px 10px; font-weight: bold; bottom: 2px; left: 20px; }
.load-more-wrapper .ajax-loader{ background: url('../images/ajax-loader.gif') 0 0 no-repeat; width: 24px; height: 24px; position: absolute; left: 466px; top: 23px; display: none; }

/* Contact US */
.contact{ margin-left: 40px; }
.contact input.field{  display: block; }
.contact textarea{ display: block; width: 600px; height: 150px; font: 14px Arial; line-height: 18px; }

/* FAQ */
.faq{ padding: 0 20px 10px 20px; }
.faq a{ color: #4ac216; text-decoration: underline; }
.faq b{ font-size: 13px; }
.faq p{ line-height: 18px; }

#respond form{ margin-left: 159px;}
#respond h2{ border: none; font-size: 26px; padding-top: 10px; margin-top: 25px;  border-top: 2px solid #dbdbdb; }
#respond textarea{ display: block; width: 600px; height: 150px; font: 14px Arial; line-height: 18px;  }

/* Footer */
#footer{ text-align: center; margin-top: 10px; color: #4a4a4a; margin-bottom: 20px; }
#footer a{ color: #696969; }
#footer a:hover{ text-decoration: underline; }

/* Errors */
.formError{ color: red; text-align: center; }
.addComment .error{ padding-left: 340px; }

/* resetPwd */
.resetPwd label{ width: 140px; }
.resetPwd .field.error{ margin-left: 0px; }
.resetPwd .error{ font-size: 12px !important; font-weight: normal !important; width: 200px; margin-left: 10px; }

/* Settings */
.testimage{ width: 450px; height: 150px; background-color: grey; margin-bottom: 10px; }
.no-padding{ clear: left; margin: 0px; padding: 0 0 0 5px; }
.no-border{ border: none; }
.reset{ float: right !important; margin: 2px 90px 0 0 !important; }
.text{ padding: 5px; font-size: 14px; line-height: 18px; }
.thankyou{ text-align: center; }
.thankyou .open{ margin-left: 320px; }
.error{ color: red; font-weight: normal !important; }
.error a{ color: red !important; }
.success{ color: #089301; font-weight: normal !important; }
.clear{ clear: both; }
.m-top{ margin: 0px 0 10px 0 !important; }
.left50{ margin: 10px 0 0 90px; }
.left125{ margin-left: 125px; }
.d-line{ color: #414141 !important; padding: 0 10px; }
.b-right{ border-right: 1px solid #333; }
.green-line{ background: url('../images/nav-highlight.gif') 0 0 repeat-x; height: 3px; position: absolute; top: 13px; width: 10px; display: none; }
.disabled{ background: #dfdfdf !important; }
.placeholder{ color: #aaa !important; }
.generateRssUrl{ margin-left: 30px; font-size: 14px; position: absolute; width: 690px; }
.generateRssUrl input.gen{ width: 490px !important; margin-left: 20px; }
.generateRssUrl .std-btn{ position: absolute; right: 0; top: 0px; margin-top: 2px; }
.select{ margin: 0 15px 0 5px; width: 90px; padding: 8px 5px; border: 1px solid #888 !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url('../js/pie.htc'); }


.tutorial{ padding: 0 20px 20px 20px; }
.tutorial a{ color: #4ac216; text-decoration: underline; }

/* Upcoming Movies */
.upcomingWrap{ position: relative; overflow: hidden; height: 600px; margin-top: -20px; }
.upcomingMovies h3{ text-align: center; padding-top: 20px; font-size: 15px; }
.upcomingMovies small{ text-align: center; display: block; font-size: 11px; font-weight: bold; }
.upcomingMovies a{ margin-left: 45px; height: 192px; }

/* Advert Wrap */
.advert-wrap{ background: #fff; margin: 10px 0 10px 10px; width: 840px; height: 210px; background: #f9f9f9; padding: 5px 0 5px 110px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; behavior: url('../js/pie.htc'); }
.advert-wrap iframe{ overflow: hidden; border:none; width: 728px; height: 90px;  }

/* Request Movie */
.std-btn-small.accepted{ position: absolute; top: 4px; left: 5px; margin-top: 0; }
.std-btn-small.confirmed{ position: absolute; top: 4px; left: 80px; margin-top: 0; }
.request .intro{ position: relative; }
.request .countLeft{ position: absolute; top: 12px; right: 10px; font-weight: bold; font-size: 14px; }
.request .SearchPanel{ width: 640px; height: 55px; }
.request #request.field{ width: 400px; margin-bottom: 5px; }
.request .msgstatus{ display: none; font-weight: bold; text-align: center; font-size: 14px; background: #f4f4f4; }
.request .requestClosed{ text-align: center; font-size: 17px; color: red; padding-top: 18px; }
.request .requestClosed.success{ color: #089301 !important; }
.accepted-request{ position: relative; z-index: 10; width: 560px; background-color: #f2f2f2; border: 1px solid #c7c7c7; margin: 15px 0 0 20px; float: left; }
.accepted-request .request-inner{ position: relative; z-index: 10; width: 520px; background-color: #f2f2f2; padding: 20px; float: left; }
.accepted-request .votes, .accepted-request .release{ z-index: 20; padding: 20px 20px 20px 40px; position: absolute; right: 0; top: 0; background-color: #f2f2f2;  font-size: 16px; font-weight: bold; color: #249100; }
.accepted-request .release{ font-size: 12px; color: #2865d7; }
.accepted-request h3{ line-height: 20px; margin: 0; float: left; width: 460px; }
.accepted-request a.view{ position: absolute; right: -1px; bottom: -21px; line-height: 12px; font-size: 8px; text-transform: uppercase; padding: 4px 8px; background: #f9f9f9; border: 1px solid #c7c7c7; border-top: none; }

.request-wrapper { margin-bottom: 20px; float: left; position: relative; }
.request-wrapper .std-btn{ float: left; margin: 29px 0 0 10px; }
.request-wrapper .voted{ position: absolute; top: 14px; right: 0px; z-index: 5; background-color: #f2f2f2; border: 1px solid #c7c7c7; border-left: none; float: left; padding: 5px 15px; font-weight: bold; }
.request-wrapper .voted.hide{ display: none; }

.extraImdbInfo{ display: none; margin-left: 40px; float: left; width: 400px; background-color: #f2f2f2; border: 1px solid #c7c7c7; border-top: none; padding: 20px; position: relative; }
.extraImdbInfo a.close{ position: absolute; right: 0; bottom: 0; line-height: 12px; font-size: 8px; text-transform: uppercase; padding: 4px 8px; background: #f9f9f9; border-left: 1px solid #c7c7c7; border-top: 1px solid #c7c7c7; }
.extraImdbInfo img{ float: left; margin-right: 20px; }

.recentRequest{ border-bottom: 1px solid #c7c7c7; padding: 5px 5px; }
.recentRequest .name.highlightAdmin{ color: #de1616; }
.recentRequest .name.highlightMod{ color: #089301; }
.recentRequest .name.highlightSuperMod{ color: #0099FF; }
.recentRequest .name.highlightUploader{ color: #ee8115; }
.recentRequest .name.highlightVIP{ color: purple; }
.recentRequest .name.highlightWebDev{ color: #FF22FF; }
.recentRequest strong{ clear: both; }
.recentRequest .timeAgo{ float: right; color: grey; }
.recentRequest .name{ font-size: 12px; font-weight: bold; float: left; color: grey;
	-webkit-text-shadow: #fff 1px 1px 0px;
	-moz-text-shadow: #fff 1px 1px 0px;
	text-shadow: #fff 1px 1px 0px;
}

/* Profile */
#profile-wrapper{ float: left; padding-left: 10px; }
.profile .topright{ position:absolute; top: 8px; right: 10px; font-size: 16px; font-weight: bold; }
.profile .topright span{font-size: 14px; }

.profile .std-btn.btn-top{ position: absolute; top: -15px; right: 10px; padding: 7px 30px; }
.profile .name.highlightAdmin{ color: #de1616;}
.profile .name.highlightMod{ color: #089301; }
.profile .name.highlightSuperMod{ color: #0099FF;}
.profile .name.highlightUploader{ color: #ee8115;}
.profile .name.highlightVIP{ color: purple;}
.profile .name.highlightWebDev{ color: #FF22FF; }
.profile .name{ font-size: 16px; font-weight: bold;}
.profile .save-btn{position: absolute; bottom: 10px; left: 10px; }
.profile .edit .std-btn .btn-top{ position: absolute; top: -15px; right: 10px; padding: 7px 15px; }
.profile .formError{ position: absolute; bottom: 15px; left: 100px; }
.profile textarea{ display: block; width: 580px; height: 150px; font: 14px Arial; line-height: 18px; }
.full-width{ position: relative; }
.full-width h2{ margin-top: 5px; padding-bottom: 10px; font-size: 20px; }

.profile-info{ float: left; padding-left: 30px; padding-bottom: 40px; width: 610px; position: relative; }
.profile-info p { padding-right: 20px; padding-left: 20px; font-size: 14px; line-height: 18px;}
.profile-info span { padding-right: 10px; padding-left: 15px;}
.profile-info p b{ width: 200px; display: inline-block; }
.profile-info .stats p{ font-size: 14px; line-height: 32px; }

.profile-settings{position:relative; float: left; width: 600px; margin: 0 20px 100px 0;}
.profile-avatar-settings{float: right; width: 300px;}
.profile-avatar-settings .profile-browse {float: right; margin-bottom:10px; width: 250px;}
.profile-img{ float: left; width: 250px; margin-bottom:10px}
.settings-img{ float: right; width: 250px; margin-bottom:10px}

/* Buttons */
.std-btn input{ border: none; background: none; color: #fff; font-weight: bold; padding: 6px 12px; margin: -8px -12px; height: 30px; cursor: pointer; }

.std-btn{ background: url('../images/btn-sprite.jpg') 0 -96px no-repeat; line-height: 16px; padding: 7px 12px; cursor: pointer; font-weight: bold; color: #fff; float: left; margin-top: 20px; position: relative;}
.std-btn span{ background: url('../images/btn-sprite.jpg') 0 -126px no-repeat; height: 30px; width: 5px; position: absolute; right: 0; top: 0;}
.std-btn:hover, .std-btn.active{ background: url('../images/btn-sprite.jpg') 0 -156px no-repeat; }
.std-btn:hover span, .std-btn.active span{ background: url('../images/btn-sprite.jpg') 0 -186px no-repeat; }

.std-btn-small{ background: url('../images/btn-sprite.jpg') 0 -48px no-repeat; line-height: 16px; padding: 4px 12px; cursor: pointer; font-weight: bold; color: #fff; float: left; margin-top: 20px; font-size: 10px; position: relative;}
.std-btn-small span{ background: url('../images/btn-sprite.jpg') 0 -72px no-repeat; height: 24px; width: 5px; position: absolute; right: 0; top: 0;}
.std-btn-small:hover, .std-btn-small.active{ background: url('../images/btn-sprite.jpg') 0 0 no-repeat; }
.std-btn-small:hover span, .std-btn-small.active span{ background: url('../images/btn-sprite.jpg') 0 -24px no-repeat; height: 24px; width: 5px; position: absolute; right: 0; top: 0;}

.std-btn, .std-btn-small, .std-btn input{
	-webkit-text-shadow: #232323 1px 1px 1px;
	-moz-text-shadow: #232323 1px 1px 1px;
	text-shadow: #232323 1px 1px 1px;
}

.pagination{ float: right; margin: 10px 10px 20px 10px; }
.pagination a{ background: #e8e8e8; text-decoration: none; color: #333; margin: 0px 2px; padding: 5px 10px; border: 1px solid #b3b3b3;
	-webkit-text-shadow: #fbfff7 0px 1px 0px; -moz-text-shadow: #fbfff7 0px 1px 0px; text-shadow: #fbfff7 0px 1px 0px;
}
.pagination .active{ background: #21a016 url('../images/pagination-bg.gif') 0 0 repeat-x; text-decoration: none; color: #fff; padding: 5px 10px; margin: 0 2px; border: 1px solid #1d9616;
	-webkit-text-shadow: #333 0px 1px 0px; -moz-text-shadow: #333  0px 1px 0px; text-shadow: #333  0px 1px 0px;
}
.pagination a:hover{ color: #fff; background: #21a016 url('../images/pagination-bg.gif') 0 0 repeat-x; border: 1px solid #1d9616;
	-webkit-text-shadow: #333 0px 1px 0px; -moz-text-shadow: #333 0px 1px 0px; text-shadow: #333 0px 1px 0px;
}

/* Table Lists */
.tableList{ margin-left: 10px; }
.tableList .header td{ font-weight: bold; padding: 5px; }
.tableList .data{ background-color: #ccc; }
.tableList .data td{ background-color: #d4d4d4; padding: 5px; }
.tableList .data td.edit{ background-color: #fff; padding-left: 10px; }
.tableList .data td.edit a{ margin-top: 0px; }
.tableList .data:hover td.edit{ background-color: #fff; }
.tableList .data:hover td{ background-color: #c3c3c3; }







/*
	ColorBox Core Style:
	The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
	User Style:
	Change the following styles to modify the appearance of ColorBox.  They are
	ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../images/overlay.png) repeat 0 0;}
#colorbox{}
	#cboxTopLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -100px 0;}
	#cboxTopRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -129px 0;}
	#cboxBottomLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -100px -29px;}
	#cboxBottomRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -129px -29px;}
	#cboxMiddleLeft{width:21px; background:url(../images/controls.png) left top repeat-y;}
	#cboxMiddleRight{width:21px; background:url(../images/controls.png) right top repeat-y;}
	#cboxTopCenter{height:21px; background:url(../images/border.png) 0 0 repeat-x;}
	#cboxBottomCenter{height:21px; background:url(../images/border.png) 0 -29px repeat-x;}
	#cboxContent{background:#fff; overflow:hidden;}
		#cboxError{padding:50px; border:1px solid #ccc;}
		#cboxLoadedContent{margin-bottom:28px;}
		#cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
		#cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
		#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
		#cboxPrevious{position:absolute; bottom:0; left:0; background:url(../images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
		#cboxPrevious.hover{background-position:-75px -25px;}
		#cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
		#cboxNext.hover{background-position:-50px -25px;}
		#cboxLoadingOverlay{background:url(../images/loading_background.png) no-repeat center center;}
		#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
		#cboxClose{position:absolute; bottom:0; right:0; background:url(../images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
		#cboxClose.hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft{background:url(../images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(../images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(../images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(../images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(../images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(../images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(../images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(../images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
	_behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
