/**** inline ****/

        body {
        scrollbar-face-color: #bbddbb;
        scrollbar-shadow-color: #557755;
        scrollbar-highlight-color: #557755;
        scrollbar-3dlight-color: #557755;
        scrollbar-darkshadow-color: #557755;
        scrollbar-track-color: #557755;
        scrollbar-arrow-color: #000;
        margin: 0 auto;
        width: 789px;
        background-color: #99aa99;
        font-family: verdana, cursive;
        font-size: 8pt;
        color:#444;
        text-align: justify;
        font-weight: 400;
    }

    a, a:visited {
        color: #225522;
        text-decoration: none
    }

    a:hover {
        COLOR: #001100;
        text-decoration: underline
    }
    img {border: 0}


        .cab {
        background: #9bc59b;
        background: -moz-linear-gradient(left,  #679a67 0%, #cceecc 52%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#679a67), color-stop(52%,#cceecc));
        background: -webkit-linear-gradient(left,  #679a67 0%,#cceecc 52%);
        background: -o-linear-gradient(left,  #679a67 0%,#cceecc 52%);
        background: -ms-linear-gradient(left,  #679a67 0%,#cceecc 52%);
        background: linear-gradient(to right,  #679a67 0%,#cceecc 52%);
        border: solid 2px #fff;
        border-radius: 8px;
        box-shadow: 0 0 3px #333;
        overflow: hidden;
        width: auto;
        height: 80px;
        margin: 0 0 8px 0;
        padding: 0;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#679a67', endColorstr='#cceecc',GradientType=1 );
    }

    .txtClaim{float:right;margin: 10px 20px 0 0; padding: 0}
    .txtClaim a{color:#000; font-size:16px; font-weight: bold}
    .logo{float:left;width:240px;margin:0 0 0 5px}
    .logo div{width:240px;height:45px;background:transparent url(http://89.202.162.60/imagenes/sprite2.png) no-repeat scroll 0 0}
    .botonera{float:right;width:720px;height:32px;margin:0}
    .btn{padding-top: 5px; float:left;width:124px;color:#224422;font-weight:bold; text-align:left; font-size:7pt}
    .footerSup {font-size: 7pt; color:#444;  text-align: center; font-weight: bold; padding: 30px 0 15px 0}
    .copyright {clear: both; font-size: 10px; margin: 0 0 30px 0; text-align: center}

        .m4,.m5,.m6,.m7{background:transparent url(http://89.202.162.60/imagenes/sprite2.png) no-repeat scroll 0 0;overflow:hidden;float:left;width:26px;height:24px}
    .m4{background-position: 0 -139px}
    .m5{background-position: -121px -160px}
    .m6{background-position: -53px -163px}
    .m7{background-position: -78px -139px}

        .contenido{background-color: #fff; margin: 0 auto; width: 783px; border: solid 3px #758274; border-radius: 8px; text-align: center; padding: 0 0 10px 0;
    }

.aviso {color: #999; font-size: 10px}
.sumario{clear:both; padding: 30px 30px 0 30px}

.categoriasBox{ clear:both; text-align: justify; margin: 0 15px}
.filaCat{float: left}
.separador{width:5px; height:5px; float: left}
.catIcono{width:60px; height:60px; float: left}
.catIcoIzq{clear: both}
.categoriaIzq{padding-right: 8px}
.categoriaDch{padding-left: 8px}
.categoria{background-color:#eeffee; vertical-align:top; width: 305px; height: 60px; float: left}
.cat1 {font-size: 8pt; color:#114411; text-transform: uppercase; font-weight: bold}
a.cat2 {font-size: 8pt;color:#114411;background : #ddf7dd}

.buscaBox {clear:both; float: left; width: 555px; margin: 0 0 0 30px}
.searchInput {float: left}
.searchBtn {float: left}
.checkSearchX {clear: both; text-align: right; padding: 5px 0 0 0}
.checkSearchX input {vertical-align:text-top; height:13px; margin: 0 3px 0 0}
.checkSearchX a {text-decoration:none;vertical-align:text-top;font-weight:500;color:#446644;font-size:10px}
.searchSug {clear: both; margin-left: 26px}
.btnLupa{background:transparent url(http://89.202.162.60/imagenes/sprite2.png) no-repeat scroll -78px -164px;overflow:hidden;float:left; width:26px;height:24px}
.d1{border-right:1px solid #eee;height:25px;width:61px;z-index:100}
.d2,.bt{background-color:#EEE;height:23px;width:70px;-webkit-appearance: none}
.bt{border:none; font-size:15px}
.bu{width:440px;font:18px arial,sans-serif bold;height:18px;margin:0;padding:5px 8px 0 6px;vertical-align:top}
.bu,.d2{border:1px solid #ccc;border-bottom-color:#999;border-right-color:#999;color:#000;border-radius:0;-webkit-appearance: none}

.mapaBox {float:left;margin:0 0 0 15px;height:148px;width:136px;background:transparent url(http://89.202.162.60/imagenes/sprite2.png) no-repeat scroll -195px -72px;overflow:hidden
}
.textoprovincia{width:136px;border:0;font-size:11px;background:#fff;color:#336633;text-align:center;font-weight: bold}

.pbu,.pdi,.ri,.a{font-size:14px;text-decoration:none}
.pa,.pb{padding-bottom:1px;padding-top:1px;float:left;width:100%; text-align: left}
.pa,.bu,.sugbox{background-color:#fff}
.pb{background-color:#dfd}
.sugbox{clear:both;display:none;z-index:99;position:absolute;width:441px;padding:7px 7px 7px 7px;border:1px solid #999}
.pdi{color:#121}.pbu{color:#373}
.le{float:left;cursor:default}
.ri{font-size:11px;float:right;cursor:default}

H3{font-size: 12pt; color:#446644;  text-align: center}

