@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGNNE-IuDiR70wI4zXaKqWCM.ttf) format('truetype');
}
body {
	background: #ececec;
	margin: 0 auto;
	text-align: center;
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}

.content {
	width: 960px;
	height: 400px;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
  
}
.text {
	background: #FFF;
	border-top:20px solid #cfcfcf;
	border-bottom:20px solid #cfcfcf;
	display: table;
	width: 100%;
	height: 80%;
}
h1 {
	display:table-cell;
	vertical-align: middle;
	margin: 0;
	width: 100%;
}
p {
	margin: 0;
	width: 100%;
	height: 10%;
	font-size: .8em;
	text-align: center;
}