@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
body {
	background: #f5f5f5;
	margin: 0;
	padding: 0;
}

.item {
	margin-bottom: 10px;
    width: 240px;	
}

.facebook {
	width: 240px;
	height:125px;
	float: left;
	background: #fff;
	box-shadow: 0 0 6px 1px rgba(0,0,0, 0.1);
	border-top: 4px solid;
	border-color:#2e9ad2;
		
}

.clear{
	clear:both;
}


.main-container{
	margin:0 auto;display:none;
}


.facebook-like-container{
	width:200px;margin:5px auto;text-align:center;
}

.facebook-text{
	margin-top:8px;margin-bottom:10px;line-height:1.1;color:#008ed4;font-size:16px;font-weight:bold;letter-spacing:0px;font-family:Arial, Helvetica, sans-serif !important;
}

.facebook-iframe-container{
	margin-left:20px
}
body{
	color:#7b8c98;
	font:14px/20px "Open Sans", Arial, Helvetica, sans-serif;
	margin:0;
	background:url(http://img3.zergnet.com/0_assets/images/bg-page.jpg);
}

img{border-style:none;}

a{
	text-decoration:underline;
	color:#6e8291;
}
a:hover{text-decoration:none;}
a:active{background-color:transparent;}


#header:after{
	content:'';
	display:block;
	clear:both;
}
#header{
	position:fixed;
	z-index:50;
	min-width:1000px;
	background:#fff;
	width:100%;
	margin:0 0 15px;
	left:0;
	-webkit-box-shadow:0px 0 3px 1px #736b6b;
	box-shadow:0px 0 3px 1px #736b6b;
	height:50px;
}
.header-holder:after{
	content:'';
	display:block;
	clear:both;
}
.header-holder{
	width:100%;
}
.logo{
	background:url(http://img1.zergnet.com/0_assets/images/logo.png) no-repeat;
	float:left;
	height:25px;
	overflow:hidden;
	text-indent:-9999px;
	width:120px;
	margin:15px 15px 0 0;
	margin-left:45px;
}
.logo a{
	display:block;
	height:100%;
}
#nav{
	list-style:none;
	float:left;
	margin:0;
	padding:0;
	text-transform:uppercase;
	font-weight:700;
}

#nav li{
	float:left;
	text-align:center;
	border-top:3px solid #00a0dc;
}

#nav li.spring{border-top:3px solid #26dcc2;}
#nav li.spring.active a,
#nav li.spring a:hover{background:#26dcc2;border-top:0px;}

#nav li.coral{border-top:3px solid #ff7973;}
#nav li.coral.active a,
#nav li.coral a:hover{background:#ff7973;border-top:0px;}

#nav li.magenta{border-top:3px solid #ae4fff;}
#nav li.magenta.active a,
#nav li.magenta a:hover{background:#ae4fff;border-top:0px;}

#nav li.pink{border-top:3px solid #fb73dd;}
#nav li.pink.active a,
#nav li.pink a:hover{background:#fb73dd;border-top:0px;}

#nav li.orange{border-top:3px solid #ffc24f;}
#nav li.orange.active a,
#nav li.orange a:hover{background:#ffc24f;border-top:0px;}

#nav a{
	text-decoration:none;
	padding:13px 12px;
	padding-bottom:14px;
	display:block;
}

#nav.scaling-active a{padding:14px 0;}
#nav li.active a,
#nav a:hover{
	color:#fff;
	background:#00a0dc;border-top:0px;
}
.btn-holder{float:right; padding-right:10px;}
.btn-login,
.btn-sign-up{
	border-radius:5px;
	font-weight:700;
	color:#fff;
	text-decoration:none;
	font-size:12px;
	line-height:16px;
}
.btn-login:active,
.btn-login{
	background:#6e8291 url(http://img2.zergnet.com/0_assets/images/arrow.png) no-repeat 90% 11px;
	float:right;
	margin:11px 0 0;
	
	padding:6px 23px 7px 10px;
}
.btn-sign-up:active,
.btn-sign-up{
	padding:6px 10px 7px 10px;
	background:#00a0dc;
	
	margin:11px 5px 0 0;
	float:left;
}
#main{
	overflow:hidden;
	width:1003px;
}
.first{
	position:relative;
	width:492px;
	background:#333;
	border:1px solid #ccc;
	float:left;
	
}
.box-link{
	display:block;
	text-decoration:none;
}
.mainbox-link{
	display:block;
	text-decoration:none;
	cursor: pointer;
}
.box-link .hover-block{
	display:none;
	position:absolute;
	height:100%;
	cursor: pointer;
}
.box-link:hover .hover-block{
	display:block;
	height:100%;
	width:100%;
	background:rgba(222,222,222,0.15);
	z-index:3;
	top:0;
	left:0;
}
.mainbox-link .hover-block{
	display:none;
	position:absolute;
	height:100%;
	cursor: pointer;
}
.mainbox-link:hover .hover-block{
	display:block;
	height:100%;
	width:100%;
	background:rgba(222,222,222,0.05);
	z-index:3;
	top:0;
	left:0;
}
.img-holder:after{
	content:'';
	display:block;
	clear:both;
}
.img-holder{
	display:block;
	position:relative;
	background-color:#fff;

}
.first img{
	vertical-align:top;
	float:right;
}
.first .top{
	position:absolute;
	top:-1px;
	left:15px;
}
.title-box{
	padding:4px 5px;
	color:#fff;
	font-weight:700;
	font-size:24px;
	line-height:35px;
	position:absolute;
	top:61px;
	left:8px;
}
.bg{
	background:#333;
	padding:3px 10px 2px 0;
}
.view{
	position:absolute;
	color:#fff;
	background:#00a0dc;
	padding:11px 36px 10px 35px;
	top:244px;
	left:18px;
	text-decoration:none;
	border-radius:5px;
	font-weight:700;
}
.view:hover{text-decoration:underline;}
.text{
	font-family: Arial,Helvetica,sans-serif !important;
	display:block;
	background:#fff;
	padding:9px 15px 15px;
	font-size:14px;
	line-height:20px;
}
.second{
	
	border:1px solid #ccc;
	float:left;
	
	
}
.second img{vertical-align:top;}
.second .text{
	font-family: Arial,Helvetica,sans-serif !important;
	font-size:13px;
	line-height:18px;
	padding:15px;
}
.second .post-title{
	font-size:20px;
	line-height:24px;
	font-weight:700;
	color:#5b6c76;
	margin:0 0 11px;
	display:block;
}
.second .text span{display:block;}
.second .named{
	position:absolute;
	bottom:0;
	left:0;
}
.second .title-news{
	font-family: Arial,Helvetica,sans-serif !important;
	display:block;
	width:220px;
	margin:0px;
	color:#fff;
	font-size:20px;
	line-height:24px;
	padding:9px 5px 11px 15px;
	background:rgba(0,0,0,0.65);
}


/*
 * Zerg Homepage Header/Top Bar (used for mobile still)
 */
.header-bar {
	-webkit-box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.10); -moz-box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.10); box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.10);
		-moz-transition: all .2s ease-in; -webkit-transition: all .2s ease-in; -o-transition: all .2s ease-in;
	background:#fff;
	border-bottom:1px solid #ccc;
	height:42px;
	margin-bottom:10px;
}

.header-flame{
	float:left;padding-top:8px;padding-left:60px;
}

.header-logo{
	padding-top:4px;padding-left:0px;float:left;padding-left:70px;padding-top:1px;
}

.header-tagline{
	font-family: 'Open Sans',Arial,Helvetica,sans-serif !important;
	float:left;margin-left:20px;font-size:14px;color:#777;padding-top:14px;
}

.header-right-section{
	float:right;margin-right:40px;
}


.header-right-container{
	float:left;padding-top:13px;
}

.header-right-link {
	font-family: 'Open Sans',Arial,Helvetica,sans-serif !important;
	font-size:13px;
}

.header-right-link-spacer{
	margin-left:16px;
}/**** inline ****/
.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f2f2f2;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3b5998;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29447e;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f2f2f2;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
.fb_connect_bar_container div,.fb_connect_bar_container span,.fb_connect_bar_container a,.fb_connect_bar_container img,.fb_connect_bar_container strong{background:none;border-spacing:0;border:0;direction:ltr;font-style:normal;font-variant:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal;vertical-align:baseline}.fb_connect_bar_container{position:fixed;left:0 !important;right:0 !important;height:42px !important;padding:0 25px !important;margin:0 !important;vertical-align:middle !important;border-bottom:1px solid #333 !important;background:#3b5998 !important;z-index:99999999 !important;overflow:hidden !important}.fb_connect_bar_container_ie6{position:absolute;top:expression(document.compatMode=="CSS1Compat"? document.documentElement.scrollTop+"px":body.scrollTop+"px")}.fb_connect_bar{position:relative;margin:auto;height:100%;width:100%;padding:6px 0 0 0 !important;background:none;color:#fff !important;font-family:"lucida grande", tahoma, verdana, arial, sans-serif !important;font-size:13px !important;font-style:normal !important;font-variant:normal !important;font-weight:normal !important;letter-spacing:normal !important;line-height:1 !important;text-decoration:none !important;text-indent:0 !important;text-shadow:none !important;text-transform:none !important;white-space:normal !important;word-spacing:normal !important}.fb_connect_bar a:hover{color:#fff}.fb_connect_bar .fb_profile img{height:30px;width:30px;vertical-align:middle;margin:0 6px 5px 0}.fb_connect_bar div a,.fb_connect_bar span,.fb_connect_bar span a{color:#bac6da;font-size:11px;text-decoration:none}.fb_connect_bar .fb_buttons{float:right;margin-top:7px}
.fbpluginrecommendationsbarleft,.fbpluginrecommendationsbarright{position:fixed !important;bottom:0;z-index:999}.fbpluginrecommendationsbarleft{left:10px}.fbpluginrecommendationsbarright{right:10px}