html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
html{height:100%;max-height:100%}
body{font-size:14px;color:#1a1f23;display:table;font-family:'open_sanslight',helvetica,sans-serif;font-weight:300;height:100%;max-height:100%;overflow:hidden;width:100%}
body strong{font-family:font-family 'open_sansregular',helvetica,sans-serif}
h1{font-size:45px;line-height:55px;margin-bottom:30px;}
@media only screen and (max-width: 768px){h1{font-size:22px;line-height:32px;margin-bottom:20px}
}a,a i{text-decoration:none;-webkit-transition:all 0.1s linear;-moz-transition:all 0.1s linear;-o-transition:all 0.1s linear;-ms-transition:all 0.1s linear;transition:all 0.1s linear}
strong{font-weight:400}
form .btn{margin-top:15px}
.section-title{font-size:18px;border-bottom:1px solid #ddd;padding-bottom:10px;margin-bottom:30px}
.visible{display:block !important}
.hidden{display:none}
.transparent{visibility:hidden}
.fa{font-size:18px;}
.fa.fa-sort-down:before{position:relative;top:-2px}
.wrapper{max-width:1440px;min-width:320px;margin:0 auto;padding:0 15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.wrapper.max-1260{max-width:1260px}
.wrapper.max-1080{max-width:1080px}
.wrapper.centered{text-align:center;}
.wrapper.centered .channel-title{font-size:30px;position:relative;display:block;margin-bottom:50px;white-space:nowrap;height:35px;}
.wrapper.centered .channel-title:before,.wrapper.centered .channel-title:after{height:10px;width:25%;border-top:1px solid #ddd;content:'';display:inline-block}
.wrapper.centered .channel-title:before{margin-right:30px}
.wrapper.centered .channel-title:after{margin-left:30px}
@media only screen and (max-width: 480px){.wrapper.centered .channel-title{margin-bottom:20px}
.wrapper.centered .channel-title:before,.wrapper.centered .channel-title:after{display:none}
}.wrapper.advert{margin:37px auto 40px;overflow:hidden;}
.wrapper.advert.noads{margin-top:0;font-size:0;line-height:0}
.wrapper.advert img{max-width:728px;width:100%;max-height:90px}
@media only screen and (max-width: 768px){.wrapper.advert{margin-bottom:20px}
}@media only screen and (max-width: 320px){.wrapper.advert{padding:0;border:15px solid #ddd;border-width:15px 0}
}.max-780{max-width:780px;margin:0 auto}
#viewport{left:0;right:0;top:0;bottom:0;position:absolute;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;-ms-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
#viewport .scrollable-region{overflow:auto;position:absolute;top:60px;bottom:0;left:0;right:0;-webkit-overflow-scrolling:touch}
.site-wrapper{overflow:hidden;position:absolute;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;top:0;left:0;bottom:0;right:0;}
.site-wrapper.sidebar-visible{left:auto;}
.site-wrapper.sidebar-visible #viewport{right:272px;left:-272px}
.site-wrapper.sidebar-visible #sidebar{right:0}
.site-wrapper.sidebar-visible header .show-menu{display:block}
.static-row{display:table-row;height:100%}
.static-cell{display:table-cell;height:100%;width:100%}
.static-height{display:inline-block;position:relative}
.ie10 div.static-cell.static-height{position:static}
#staticOuter{min-height:100%;margin-bottom:-402px}
#staticContainer{padding-bottom:402px}
.col-container{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;margin-bottom:60px;}
.col-container.padding-right-330{padding-right:0;}
.col-container.padding-right-330 #contentcolumn{margin:0 31.4% 0 345px;}
@media only screen and (max-width: 1024px){.col-container.padding-right-330 #contentcolumn{margin:0}
}.col-container.padding-right-420{padding-right:0;}
.col-container.padding-right-420 #contentcolumn420{margin:0 2% 0 435px;}
@media only screen and (max-width: 1024px){.col-container.padding-right-420 #contentcolumn420{margin:0}
}.col-container .col{margin-left:2.77%;float:left;}
.col-container .col:first-child{margin-left:0}
.col-container .col h2{font-size:16px;font-weight:400;padding-bottom:10px;color:#004225;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom:30px;border-bottom:3px solid #ddd}
.col-container .col *.multi{border-bottom:none;clear:both;font-size:20px;margin-top:-5px;margin-bottom:0;padding-bottom:17px}
.col-container .col .advert{margin-bottom:50px;text-align:center;}
.col-container .col .advert.underArticle{margin-bottom:0;}
.col-container .col .advert.underArticle iframe{margin-bottom:0 !important}
.col-container .col .row{overflow:hidden}
.col-container .col.xl{width:100%}
.col-container .col.l{width:96.8%;}
.col-container .col.l h3{font-size:30px;line-height:40px}
.col-container .col.l.trending{float:left;width:100%;margin-left:-435px;}
@media only screen and (max-width: 1024px){.col-container .col.l.trending{float:none;margin-left:0}
}.col-container .col.m{width:55.5%;}
.col-container .col.m h3{font-size:30px;line-height:40px}
.col-container .col.m.trending{float:left;width:100%;margin-left:-345px;}
@media only screen and (max-width: 1024px){.col-container .col.m.trending{float:none;margin-left:0}
}.col-container .col.s{width:38.8%;}
.col-container .col.s h3{font-size:20px;line-height:30px}
.col-container .col.s.featured{float:left;width:27.36%;margin-left:-29.4%;}
.col-container .col.s.featured iframe{display:block;margin:0 auto}
@media only screen and (max-width: 1024px){.col-container .col.s.featured{float:none;width:auto;margin-left:0}
}.col-container .col.xs{width:23.4%;}
.col-container .col.xs h3{font-size:16px;line-height:20px;text-align:left}
.col-container .col.fixed-width-330{float:left;width:330px;position:relative;padding-right:15px;right:0;margin-left:0;}
@media only screen and (max-width: 1024px){.col-container .col.fixed-width-330{float:none;width:auto;padding-right:0}
}.col-container .col.fixed-width-420{float:left;width:420px;position:relative;padding-right:15px;margin-left:0}
.col-container .col.s.fixed-width-420{width:420px;margin-left:0;}
@media only screen and (max-width: 1024px){.col-container .col.s.fixed-width-420{float:none;width:auto;padding-right:0}
}.col-container.channel .col{width:31.25%;}
.col-container.channel .col h3{font-size:20px;line-height:30px}
@media only screen and (max-width: 1024px){.col-container{padding:0 1.95%}
.col-container.padding-right-330,.col-container.padding-right-420{padding-right:1.95%}
.col-container .col{display:none;}
.col-container .col.visible{position:static;display:block;width:100%;margin-left:0;}
.col-container .col.visible h2{display:none;}
.col-container .col.visible h2.multi{display:block;margin-bottom:15px}
.col-container .col.visible h2.always-show-heading{display:block;margin-bottom:40px;}
@media only screen and (max-width: 480px){.col-container .col.visible h2.always-show-heading{margin-bottom:20px}
}.col-container.dont-hide .col{display:block}
.col-container.stackable .col{display:block;margin-top:40px;position:static;width:100%;}
.col-container.stackable .col:first-child{margin-top:0}
}@media only screen and (max-width: 480px){.col-container{padding:15px}
.col-container.padding-right-330,.col-container.padding-right-420{padding-right:15px}
}.no-mq .site-wrapper{min-width:1024px !important;}
.no-mq .site-wrapper .padding-right-330,.no-mq .site-wrapper .padding-right-420{padding:0 .141% !important}
.no-mq .site-wrapper .padding-right-330 .m{width:41.6% !important}
.no-mq .site-wrapper .padding-right-330 .s{width:29.1% !important}
.no-mq .site-wrapper .padding-right-330 .xs{width:22.9% !important}
.no-mq .site-wrapper .padding-right-420 .l{width:66.6% !important}
.no-mq .site-wrapper .padding-right-420 .s{width:29.1% !important}
@font-face{font-family:'open_sanslight';src:url("../fonts/OpenSans-Light-webfont.eot");src:url("../fonts/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/OpenSans-Light-webfont.woff") format('woff'),url("../fonts/OpenSans-Light-webfont.ttf") format('truetype'),url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'open_sanslightitalic';src:url("../fonts/OpenSans-LightItalic-webfont.eot");src:url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/OpenSans-LightItalic-webfont.woff") format('woff'),url("../fonts/OpenSans-LightItalic-webfont.ttf") format('truetype'),url("../fonts/OpenSans-LightItalic-webfont.svg#open_sanslightitalic") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'open_sansregular';src:url("../fonts/OpenSans-Regular-webfont.eot");src:url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/OpenSans-Regular-webfont.woff") format('woff'),url("../fonts/OpenSans-Regular-webfont.ttf") format('truetype'),url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'fontello';src:url("../fonts2/fontello.eot");src:url("../fonts2/fontello.eot#iefix") format('embedded-opentype'),url("../fonts2/fontello.woff") format('woff'),url("../fonts2/fontello.ttf") format('truetype'),url("../fonts2/fontello.svg#fontello") format('svg');font-weight:normal;font-style:normal}
.fa{display:inline-block;font-family:'fontello';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.fa-lg{font-size:1.3333333333333333em;line-height:.75em;vertical-align:-15%}
.fa-2x{font-size:2em}
.fa-3x{font-size:3em}
.fa-4x{font-size:4em}
.fa-5x{font-size:5em}
.fa-fw{width:1.2857142857142858em;text-align:center}
.fa-ul{padding-left:0;margin-left:2.142857142857143em;list-style-type:none}
.fa-ul > li{position:relative}
.fa-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;top:.14285714285714285em;text-align:center}
.fa-li.fa-lg{left:-1.8571428571428572em}
.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;-webkit-border-radius:.1em;border-radius:.1em}
.pull-right{float:right}
.pull-left{float:left}
.fa.pull-left{margin-right:.3em}
.fa.pull-right{margin-left:.3em}
.fa-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-ms-animation:spin 2s infinite linear;animation:spin 2s infinite linear}
@-moz-keyframes spin{0%{-moz-transform:rotate(0)}
100%{-moz-transform:rotate(359deg)}
}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0)}
100%{-webkit-transform:rotate(359deg)}
}@-o-keyframes spin{0%{-o-transform:rotate(0)}
100%{-o-transform:rotate(359deg)}
}@-ms-keyframes spin{0%{-ms-transform:rotate(0)}
100%{-ms-transform:rotate(359deg)}
}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-o-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}
.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);-ms-transform:scale(-1,1);-o-transform:scale(-1,1);-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);-o-transform:scale(-1,1);-ms-transform:scale(-1,1);transform:scale(-1,1)}
.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1,-1);-moz-transform:scale(1,-1);-ms-transform:scale(1,-1);-o-transform:scale(1,-1);-webkit-transform:scale(1,-1);-moz-transform:scale(1,-1);-o-transform:scale(1,-1);-ms-transform:scale(1,-1);transform:scale(1,-1)}
.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}
.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}
.fa-stack-1x{line-height:inherit}
.fa-stack-2x{font-size:2em}
.fa-inverse{color:#fff}
.fa-search:before{content:'\e804'}
.fa-youtube:before{content:'\e808'}
.fa-check-circle:before{content:'\e80d'}
.fa-times:before{content:'\e80a'}
.fa-flag:before{content:'\e805'}
.fa-bell:before{content:'\e806'}
.fa-bars:before{content:'\e807'}
.fa-user:before{content:'\e80b'}
.fa-circle:before{content:'\e80c'}
.fa-sort-down:before{content:'\e803'}
.fa-spinner:before{content:'\e809'}
.fa-facebook:before{content:'\e800'}
.fa-google-plus:before{content:'\e802'}
.fa-twitter:before{content:'\e801'}
.fa-play-circled:before{content:'\e80e'}
.icon-picture:before{content:'\e810'}
.icon-link-ext:before{content:'\e80f'}
@-moz-keyframes spin{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(359deg);-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-ms-transform:rotate(359deg);transform:rotate(359deg)}
}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(359deg);-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-ms-transform:rotate(359deg);transform:rotate(359deg)}
}@-o-keyframes spin{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(359deg);-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-ms-transform:rotate(359deg);transform:rotate(359deg)}
}@-ms-keyframes spin{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(359deg);-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-ms-transform:rotate(359deg);transform:rotate(359deg)}
}@keyframes spin{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(359deg);-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-ms-transform:rotate(359deg);transform:rotate(359deg)}
}.gms-logo{width:172px;height:22px;background:url("../img/logo.svg") no-repeat;fill:#fff;display:block;text-indent:-9999px;float:left}
.no-svg .gms-logo{background:url("../img/sprite.png") no-repeat}
.btn{height:46px;line-height:46px;display:inline-block;-webkit-border-radius:2px;border-radius:2px;border:1px solid #ef5408;padding:0 20px;background:#fff;color:#ef5408;margin-right:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;curser:pointer;}
.btn .fa{color:#ef5408}
.btn i{margin-right:5px}
.btn:hover{opacity:.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40)}
.btn.solid{background-color:#ef5408;color:#fff !important}
.btn.social{color:#fff;}
.btn.social .fa{color:#fff}
@media (max-width: 1150px){.btn.social{width:46px;height:46px;padding:0;text-align:center}
.btn.social span{display:none}
.btn.social i{color:#fff;line-height:46px;margin:0}
}.btn.facebook{background-color:#3b5998;border-color:#3b5998}
.btn.twitter{background-color:#55acee;border-color:#55acee}
.btn.google-plus{background-color:#dd4b39;border-color:#dd4b39}
.btn.facebook,.btn.twitter,.btn.google-plus{color:#fff !important}
.btn.compact{width:46px;height:46px;padding:0;text-align:center;}
.btn.compact span{display:none}
.btn.compact i{color:#fff;line-height:46px;margin:0}
.btn.next,.btn.nextArticle{margin-right:0}
.academyButtons{float:right;}
.academyButtons .btn{margin-right:0;margin-left:5px;color:#ef5408 !important}
@media only screen and (max-width: 480px){.academyButtons{float:none;text-align:center;padding-bottom:14px}
}input[type=checkbox]{display:none;}
input[type=checkbox]+ label .fa-check-circle{display:none}
input[type=checkbox]+ label .fa-circle{display:inline}
input[type=checkbox]:checked + label .fa-check-circle{display:inline}
input[type=checkbox]:checked + label .fa-circle{display:none}
input[type=radio]{display:none;}
input[type=radio]+ label:before{content:'';width:18px;height:18px;-webkit-border-radius:18px;border-radius:18px;border:1px solid #999;background:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;position:absolute;left:0;top:0}
input[type=radio]:checked + label .fa{display:none}
input[type=radio]:checked + label:before{border-width:6px;border-color:#1a1f23}
input[type=text],input[type=password],textarea{border:1px solid #999;border-width:0 0 1px;width:100%;height:35px;margin-bottom:10px;font-size:14px;font-family:'open_sanslight',helvetica,sans-serif;font-weight:300;outline:none;}
input[type=text] strong,input[type=password] strong,textarea strong{font-family:font-family 'open_sansregular',helvetica,sans-serif}
input[type=text]:first-child,input[type=password]:first-child,textarea:first-child{margin-top:10px}
input[type=text].error,input[type=password].error,textarea.error{border-bottom:1px solid #dd4b39}
textarea{height:200px;border-bottom:1px solid #ddd;resize:none}
.no-generatedcontent input[type=radio]{display:inline;}
.no-generatedcontent input[type=radio] + label{padding-left:5px}
.notification-bar{line-height:20px;position:relative;font-size:14px;padding:15px 0;display:block;position:absolute;left:0;right:0;bottom:-100%;z-index:1;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.notification-bar.visible{bottom:0}
.notification-bar .wrapper{padding-right:50px;min-width:0}
.notification-bar .close{position:absolute;display:block;right:0;top:6px;width:40px;height:40px;text-align:center;line-height:40px}
.notification-bar p a{font-weight:bold}
.notification-bar.yellow{background:rgba(254,252,201,0.95);color:#004225;}
.notification-bar.yellow a{color:#004225}
.notification-bar.red{background:rgba(221,75,57,0.95)}
.notification-bar.green{background:rgba(133,183,84,0.95)}
.notification-bar.blue{background:rgba(86,173,234,0.95)}
.notification-bar.red,.notification-bar.green,.notification-bar.blue{color:#fff;}
.notification-bar.red a,.notification-bar.green a,.notification-bar.blue a{color:#fff}
.notification-bar.show{display:block}
@media only screen and (max-width: 320px){.notification-bar{padding-left:15px}
}.pagination{text-align:center;margin-bottom:30px;font-size:14px;}
.pagination .btn{height:32px;line-height:32px;}
.pagination .btn.prev{float:left}
.pagination .btn.next{float:right}
.pagination ol{display:inline-block;margin:0 auto;}
.pagination ol li{width:32px;height:32px;float:left;line-height:32px;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pagination ol li a{display:block;-webkit-border-radius:2px;border-radius:2px;color:#777 !important}
.pagination ol li.active a{background:#ef5408;color:#fff !important}
@media (max-width: 530px){.pagination .btn{padding:0;width:32px;}
.pagination .btn span{display:none}
}.slideshow{margin-bottom:30px;text-align:center;display:none;}
.slideshow .btn{max-width:400px;width:100%}
.article-body .slideshow{display:block;}
.article-body .slideshow.hidden{display:none}
.article-body .slideshow a{color:#ef5408 !important}
.tags{margin-bottom:30px;font-size:16px;}
.tags dd,.tags dt{display:inline;line-height:26px}
.tags dt{color:#999}
.tags dd:after{content:','}
.tags dd:last-child:after{content:''}
.tags dd a{color:#004225}
@media only screen and (max-width: 768px){.tags{margin-top:60px}
}.sponsor-strip{background:#111;height:60px;display:block;color:#fff;line-height:46px;text-align:center;padding:10px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:right;}
.sponsor-strip p{text-align:right;line-height:38px}
.sponsor-strip a{color:#fff}
.sponsor-strip img{float:right;height:43px;margin-left:10px;}
.sponsor-strip img.cycling{height:90px;margin-top:-25px;margin-left:0}
.tabs{display:none;overflow:hidden;margin-bottom:30px;}
.tabs li{width:33.3%;text-align:center;float:left;border-bottom:none;}
.tabs li a{font-size:16px;font-weight:400;padding-bottom:10px;color:#004225;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#999;display:block;height:50px;line-height:40px}
.tabs li.active a{color:#004225;border-bottom:3px solid #004225}
.tabs.staticTabs{display:block;margin:50px auto 75px;width:240px;}
.tabs.staticTabs li a{height:40px;text-transform:uppercase;font-size:14px;padding-bottom:2px}
@media only screen and (max-width: 1024px){.tabs{display:block}
}@media only screen and (max-width: 320px){.tabs{padding:0;margin-bottom:20px}
.tabs li a{font-size:14px;line-height:50px}
}.overlay{position:absolute;top:0;left:0;right:0;bottom:0;background:none;opacity:1;-ms-filter:none;filter:none;z-index:11;display:none;overflow:auto;}
.overlay.visible{display:block;background:rgba(0,0,0,0.5)}
.sidebar-visible .overlay{display:block;right:272px}
.modal{background:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:120px auto;overflow:hidden;text-align:center;font-size:14px;border-bottom:4 solid #004225;display:none;max-width:754px;position:relative;}
.modal.report{max-width:540px;text-align:left;}
.modal.report form .btn{width:auto;font-size:14px;margin:20px 0 0}
.modal.report .wrapper{max-width:450px}
.modal.visible{display:block;-webkit-animation-name:animate-modal;-moz-animation-name:animate-modal;-o-animation-name:animate-modal;-ms-animation-name:animate-modal;animation-name:animate-modal;-webkit-animation-duration:.5s;-moz-animation-duration:.5s;-o-animation-duration:.5s;-ms-animation-duration:.5s;animation-duration:.5s;-webkit-animation-iteration-count:1;-moz-animation-iteration-count:1;-o-animation-iteration-count:1;-ms-animation-iteration-count:1;animation-iteration-count:1;}
.modal.visible.in-view{margin-top:120px}
.modal .wrapper{max-width:576px;margin:50px auto;overflow:hidden}
.modal .facebook-login,.modal .register{width:50%;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 44px 30px 0;}
.modal .facebook-login.register,.modal .register.register{padding:40px 0 30px 44px;border-left:1px solid #ddd}
.modal .screen{position:relative;}
.modal .screen.reset-password-screen,.modal .screen.email-sent-screen,.modal .screen.sign-up-screen{display:none;}
.modal .screen.reset-password-screen .facebook-login,.modal .screen.email-sent-screen .facebook-login,.modal .screen.sign-up-screen .facebook-login,.modal .screen.reset-password-screen .register,.modal .screen.email-sent-screen .register,.modal .screen.sign-up-screen .register{padding-top:58px;padding-bottom:58px;}
@media only screen and (max-width: 1024px){.modal .screen.reset-password-screen .facebook-login,.modal .screen.email-sent-screen .facebook-login,.modal .screen.sign-up-screen .facebook-login,.modal .screen.reset-password-screen .register,.modal .screen.email-sent-screen .register,.modal .screen.sign-up-screen .register{padding-top:15px;padding-bottom:15px}
}.modal .screen.reset-password-screen .or,.modal .screen.email-sent-screen .or,.modal .screen.sign-up-screen .or{top:130px}
.modal .narrow{max-width:244px;margin:0 auto}
.modal .or{position:absolute;background:#fff;padding:10px;top:90px;left:50%;margin-left:-16px;font-size:12px}
.modal .close{position:absolute;top:15px;right:15px;color:#004225}
.modal .btn{width:100%;margin:0}
.modal form .btn{margin-top:10px;margin-bottom:20px}
.modal p{font-size:14px;line-height:24px;color:#999;margin-bottom:20px;}
.modal p.error{color:#ef5408;display:none;margin-bottom:10px}
.modal p.description{text-transform:uppercase;font-size:12px}
.modal h3{margin-bottom:30px;font-size:20px;font-weight:400;}
.modal h3.no-margin{margin-bottom:0}
.modal .level-body h4{margin-bottom:5px;font-size:17px}
.modal a{color:#999}
.modal .cancel{line-height:20px}
.modal ul{font-size:14px;overflow:hidden;}
.modal ul li{margin-bottom:18px;float:left;width:auto;position:relative;}
.modal ul li:nth-child(odd){clear:left;width:140px}
.modal ul li.other input[type=text]{display:none;width:150px;position:absolute;left:80px;top:-8px}
.modal ul li.other input[type=radio]:checked + label + input[type=text]{display:block}
.modal ul label{line-height:18px}
.modal .switch{margin:0 auto 30px;overflow:hidden;display:inline-block;text-align:center;}
.modal .switch li{width:114px !important;float:left;text-transform:uppercase;}
.modal .switch li a{display:block;padding:8px 0;border-bottom:2px solid transparent}
.modal .switch li.active a{border-color:#004225;color:#004225;font-weight:bold}
.modal label{padding-left:30px;position:relative;display:inline-block;line-height:25px;color:#999;text-align:center;width:auto;cursor:pointer;}
.modal label .fa{font-size:24px;position:absolute;top:0;left:0;color:#1a1f23}
.modal .forgot-password{border-top:1px solid #ddd;display:block;margin-top:15px;padding-top:15px}
.modal.video-lightbox{max-width:95%;padding-right:365px;}
.modal.video-lightbox .wrapper{margin:0;padding:0;max-width:none}
.modal.video-lightbox .video-screen{height:0;height:100%}
.modal.video-lightbox .box{width:100%}
.modal.video-lightbox .box:before{content:"";display:block;padding-top:100%;}
.modal.video-lightbox .ratio16_9:before{padding-top:56.25%}
.modal.video-lightbox .content{position:absolute;top:0;left:0;bottom:0;right:0}
.modal.video-lightbox .video-content{background-colour:#ef5408;position:absolute;top:30px;right:20px;width:330px;}
.modal.video-lightbox .video-content .col{position:relative;right:0;}
.modal.video-lightbox .video-content .col.latest .feature .thumbnail:after{font-size:53px}
@media only screen and (max-width: 1024px){.modal{max-width:420px}
.modal .wrapper{max-width:250px}
.modal.video-lightbox{padding-right:0;overflow:visible;}
.modal.video-lightbox .wrapper{overflow:visible;}
.modal.video-lightbox .wrapper .close{top:-25px;z-index:2;color:#fff}
.modal .facebook-login,.modal .register{width:100%;padding:0 !important;float:none;border:0 !important}
.modal .or{display:block;margin:10px 0;padding:0;position:static}
}@media only screen and (max-width: 480px){.modal{max-width:none;margin:0}
.modal.visible{-webkit-animation:none;-moz-animation:none;-o-animation:none;-ms-animation:none;animation:none}
.modal.video-lightbox{max-width:none;}
.modal.video-lightbox .wrapper{margin-top:21px;}
.modal.video-lightbox .wrapper .close{top:-20px;right:3px}
}.modal.newsletter a,.modal.fblike a{color:#004225;}
@media only screen and (max-width: 1024px){.modal.newsletter a,.modal.fblike a{white-space:nowrap}
}.modal.newsletter h3,.modal.fblike h3{margin-bottom:17px;color:#020202}
.modal.newsletter p,.modal.fblike p{color:#777;}
.modal.newsletter p.privacy,.modal.fblike p.privacy{border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:12px 0 11px}
.modal.newsletter p.already,.modal.fblike p.already{color:#020202}
.modal.newsletter section.email,.modal.fblike section.email{padding-right:80px;border-bottom:1px solid #ddd;position:relative;margin:0 58px 45px;}
.modal.newsletter section.email input[type="text"],.modal.fblike section.email input[type="text"]{border-bottom:none;margin-bottom:0}
.modal.newsletter section.email .btn,.modal.fblike section.email .btn{width:70px;height:25px;float:right;position:absolute;right:0;top:4px;line-height:24px;margin-bottom:0}
@media only screen and (max-width: 480px){.modal.newsletter section.email,.modal.fblike section.email{margin:0 0 45px}
}@media only screen and (max-width: 1024px){.modal.newsletter,.modal.fblike{max-width:540px}
.modal.newsletter .wrapper,.modal.fblike .wrapper{max-width:370px}
}.modal.fblike{max-width:540px;}
.modal.fblike .wrapper{max-width:440px}
.modal.fblike p{padding:0 47px;}
.modal.fblike p.privacy{padding:12px 0 11px}
.modal.fblike p.already{padding:0}
.modal.fblike .fbButton{padding:21px 0 34px;}
.modal.fblike .fbButton iframe{margin:0 auto}
@-moz-keyframes animate-modal{0%{margin-top:-200%}
50%{margin-top:120px}
60%{margin-top:100px}
70%{margin-top:110px}
80%{margin-top:120px}
90%{margin-top:115px}
100%{margin-top:120px}
}@-webkit-keyframes animate-modal{0%{margin-top:-200%}
50%{margin-top:120px}
60%{margin-top:100px}
70%{margin-top:110px}
80%{margin-top:120px}
90%{margin-top:115px}
100%{margin-top:120px}
}@-o-keyframes animate-modal{0%{margin-top:-200%}
50%{margin-top:120px}
60%{margin-top:100px}
70%{margin-top:110px}
80%{margin-top:120px}
90%{margin-top:115px}
100%{margin-top:120px}
}@-ms-keyframes animate-modal{0%{margin-top:-200%}
50%{margin-top:120px}
60%{margin-top:100px}
70%{margin-top:110px}
80%{margin-top:120px}
90%{margin-top:115px}
100%{margin-top:120px}
}@keyframes animate-modal{0%{margin-top:-200%}
50%{margin-top:120px}
60%{margin-top:100px}
70%{margin-top:110px}
80%{margin-top:120px}
90%{margin-top:115px}
100%{margin-top:120px}
}.comments{text-align:center;}
.comments p{color:#999;font-size:16px;margin-bottom:10px}
.comments .btn{width:100%;max-width:400px}
blockquote{border-left:4px solid #ef5408;padding:20px 0 20px 20px;margin-bottom:30px;}
blockquote p{font-family:georgia,cursive;font-style:italic;font-size:24px !important;line-height:34px !important;margin-bottom:0 !important}
blockquote a{color:#ef5408}
blockquote.twitter-tweet p{margin-bottom:10px !important}
.contact-details li{float:left;width:50%;font-size:14px;line-height:20px;margin-bottom:40px;}
.contact-details li strong{font-size:18px;display:block;margin-bottom:10px;color:#1a1f23}
.contact-details li tel{display:block}
@media only screen and (max-width: 480px){.contact-details li{width:100%;margin-bottom:20px}
}.loading{padding:20px;text-align:center;display:none;}
.loading.visble,.loading.markloader{display:block}
.loading.iloaded{display:none}
.loading .fa-spinner{color:#ef5408;font-size:35px}
.page-nav{overflow:hidden;border-bottom:1px solid #ddd;padding-bottom:30px;margin-bottom:40px;}
.page-nav ul{width:50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:right;padding-left:0 !important;}
.page-nav ul:first-child{float:left;padding-right:30px}
.page-nav ul li{margin-bottom:15px !important}
.page-nav ul a{color:#1a1f23}
@media only screen and (max-width: 480px){.page-nav ul{width:100%;padding:0 !important}
}#site-header{height:60px;padding:20px 0 0;font-size:12px;line-height:16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#004225;color:#fff;position:relative;z-index:10;}
#site-header a{color:#ddd;}
#site-header a:hover{color:#fff}
@media only screen and (max-width: 320px){#site-header .wrapper{padding:0 15px}
}#site-header .main-nav{float:left;margin-left:30px;height:40px;}
#site-header .main-nav > ul > li{display:inline-block;margin-left:25px;height:40px;line-height:20px;}
#site-header .main-nav > ul > li:first-child{margin-left:0}
#site-header .main-nav > ul > li > a{color:#fff;display:block;height:40px;}
#site-header .main-nav > ul > li > a i{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20);font-size:14px !important}
#site-header .main-nav > ul > li .fa{margin-left:8px}
#site-header .main-nav > ul > li:hover > a i{opacity:1;-ms-filter:none;filter:none}
#site-header .main-nav > ul > li:hover .subnav{display:block}
#site-header .main-nav .subnav{height:auto;min-height:263px;padding:25px 0 0;}
#site-header .main-nav .subnav.no-height{min-height:0;padding-bottom:25px}
#site-header .subnav{height:290px;background:#fff;border:1px solid #004225;border-width:0 0 4px;position:absolute;top:60px;left:0;right:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:25px 0;color:#004225;display:none;}
#site-header .subnav a{color:#004225}
#site-header .subnav.narrow{min-width:117px;height:auto;padding:0;top:40px;left:50%;margin-left:-71px;}
#site-header .subnav.narrow:before{content:'';width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #fff;position:absolute;top:-5px;left:50%;margin-left:-5px}
#site-header .subnav.narrow nav{border:1px solid #ddd;border-width:0 1px;overflow:hidden;padding:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#site-header .subnav.narrow nav ul li{margin-top:12px;}
#site-header .subnav.narrow nav ul li:first-child{margin-top:0}
#site-header .subnav.narrow a{padding:0}
#site-header .subnav.search{height:130px;padding-top:25px;}
#site-header .subnav.search .helper{margin-top:15px;color:#ddd;text-align:center;display:none}
#site-header .subnav.search input{border:1px solid #ddd;border-width:0 0 1px;height:50px;line-height:50px;width:100%;font-size:20px;font-weight:300;outline:none;text-align:center;margin:0;font-family:'open_sanslight',helvetica,sans-serif;font-weight:300;}
#site-header .subnav.search input strong{font-family:font-family 'open_sansregular',helvetica,sans-serif}
#site-header .subnav.search input:focus + .helper{display:block}
#site-header .subnav.search button{display:none}
#site-header .subnav.visible{display:block}
#site-header .subnav .category-list{float:left;width:10.6%;}
#site-header .subnav .category-list li{height:35px;line-height:35px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-bottom:1px solid #ddd;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
#site-header .subnav .category-list li a,#site-header .subnav .category-list li span{color:#999;cursor:pointer}
#site-header .subnav .category-list li.active{border-bottom:1px solid #004225;}
#site-header .subnav .category-list li.active a,#site-header .subnav .category-list li.active span{color:#004225}
#site-header .subnav .category{width:87.2%;float:right;}
#site-header .subnav .category .more{display:block;height:15px;padding-bottom:26px;text-transform:uppercase;font-weight:400;clear:both}
#site-header .subnav .category .feature{width:14.63%;float:left;margin-left:2.4%;margin-bottom:10px;}
#site-header .subnav .category .feature img{width:100%;margin-bottom:15px}
#site-header .subnav .category .feature:first-child{margin-left:0}
#site-header .subnav .category .feature .date-time{float:left}
#site-header .subnav .nav-group{padding:0 55px 30px 40px;border-left:1px solid #ddd;height:230px;display:table-cell;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#site-header .subnav .nav-group h4,#site-header .subnav .nav-group a{color:#004225;white-space:nowrap}
#site-header .subnav .nav-group h4{font-size:14px;font-weight:400;margin-bottom:20px}
#site-header .subnav .nav-group ul{display:table-cell;}
#site-header .subnav .nav-group ul + ul{padding-left:55px}
#site-header .subnav .nav-group ul li{margin-bottom:10px;white-space:nowrap}
#site-header .subnav .nav-group:first-child{padding-left:0;border-left:0}
#site-header .subnav .nav-group .more{display:block;text-transform:uppercase;font-weight:400}
#site-header .edition-select{display:inline-block;margin-left:25px;height:40px;line-height:20px;float:right;position:relative;margin-left:0;}
#site-header .edition-select:first-child{margin-left:0}
#site-header .edition-select > a{color:#fff;display:block;height:40px;}
#site-header .edition-select > a i{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20);font-size:14px !important}
#site-header .edition-select .fa{margin-left:8px}
#site-header .edition-select:hover > a i{opacity:1;-ms-filter:none;filter:none}
#site-header .edition-select:hover .subnav{display:block}
#site-header .edition-select .subnav{width:186px;margin-left:-93px;}
#site-header .edition-select .subnav ul{float:right;width:70px;}
#site-header .edition-select .subnav ul:first-child{float:left}
@media mqSpartphoneLandscape{#site-header .edition-select{display:none}
}#site-header .control-panel{float:right;height:40px;line-height:20px;display:inline-block;}
#site-header .control-panel ul{display:inline-block;heigh:40px;}
#site-header .control-panel ul li{margin-left:20px;display:inline-block;}
#site-header .control-panel ul li a{color:#b3b3b3;display:block;}
#site-header .control-panel ul li a:hover{color:#fff}
#site-header .control-panel ul li span{display:none;}
#site-header .control-panel ul li span.count{display:block;background:#dd4b39;position:absolute;top:-4px;right:-8px;-webkit-border-radius:16px;border-radius:16px;width:16px;height:16px;line-height:16px;text-align:center;font-size:9px}
#site-header .control-panel ul li.sign-in{cursor:pointer}
#site-header .control-panel ul li.notifications{position:relative}
#site-header .control-panel ul li.show-search a{color:#b3b3b3}
#site-header .control-panel ul li.notifications,#site-header .control-panel ul li.show-menu{display:none}
@media only screen and (max-width: 480px){#site-header .control-panel ul li.social{display:none}
}#site-header .user{display:inline-block;margin-left:25px;height:40px;line-height:20px;float:right;margin-left:30px;position:relative;height:40px;line-height:20px;display:none;}
#site-header .user:first-child{margin-left:0}
#site-header .user > a{color:#fff;display:block;height:40px;}
#site-header .user > a i{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20);font-size:14px !important}
#site-header .user .fa{margin-left:8px}
#site-header .user:hover > a i{opacity:1;-ms-filter:none;filter:none}
#site-header .user:hover .subnav{display:block}
#site-header .user > a{display:block;padding-left:35px;color:#ddd}
#site-header .user img{position:absolute;left:0;top:-2px;-webkit-border-radius:16px;border-radius:16px;width:24px;height:24px}
#site-header .user span{display:inline-block}
#site-header .user .subnav{left:auto;right:-2px;margin-left:0}
@media only screen and (max-width: 1024px){#site-header .show-menu{display:inline-block !important}
#site-header .edition-select,#site-header .main-nav,#site-header .social{display:none !important}
}.logged-in .control-panel .sign-in{display:none}
.logged-in .control-panel .notifications{display:inline-block}
.logged-in .user{display:block}
footer{background:#1a1f23;color:#999;padding:70px 0;overflow:hidden;}
footer a{color:#999;position:relative;z-index:2}
footer .gms-logo{float:none;margin-bottom:20px}
footer p{line-height:30px;margin-bottom:20px;}
footer p.copyright{text-transform:uppercase;font-size:12px}
footer .left{width:41.6%;float:left}
footer .right{width:47.9%;float:right}
footer nav{display:block;margin-bottom:20px;overflow:hidden;font-size:12px;}
footer nav ul{list-style-type:none;}
footer nav ul li{margin-right:20px;display:inline-block;margin-top:10px}
footer .social{border:1px solid #999;border-width:1px 0;padding:24px 0;margin-bottom:20px;display:block;overflow:hidden;}
footer .social li{display:inline-block;margin-left:30px;}
footer .social li:first-child{margin-left:0}
footer .social li span{display:none}
@media only screen and (max-width: 1024px){footer{text-align:center}
footer .left,footer .right{width:100%;float:none}
footer .gms-logo{margin:0 auto 20px}
footer p{padding:0 20px;}
footer p.copyright{padding:0}
footer .social{margin-bottom:40px}
footer nav{font-size:16px;padding:0 20px;margin-bottom:40px;}
footer nav li{margin-bottom:20px}
}#sidebar{width:272px;background:url("../img/sidebar-shadow.png") repeat-y left #1a1f23;height:100%;position:absolute;right:-272px;overflow:auto;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;-ms-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;padding-right:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:14px;color:#999;}
#sidebar a{color:#999;}
#sidebar a:hover{color:#fff}
#sidebar .social{height:60px;border-bottom:1px solid #202529;}
#sidebar .social ul{padding-top:20px}
#sidebar .social li{font-size:22px;float:left;margin-left:30px;height:40px;opacity:.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40);}
#sidebar .social li span{display:none}
#sidebar .social li a{color:#fff;line-height:22px}
#sidebar .social li:hover{opacity:1;-ms-filter:none;filter:none}
#sidebar .v-list{margin-bottom:50px;}
#sidebar .v-list li{height:50px;border-top:1px solid #202529;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 30px;line-height:50px;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;}
#sidebar .v-list li.active a{color:#fff}
#sidebar .v-list li:first-child{border-top:0}
#sidebar .menu-down{line-height:60px;padding-left:30px;max-height:60px;overflow:hidden;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
#sidebar .menu-down.expanded nav:before,#sidebar .menu-down.expanded nav:after{display:table;content:""}
#sidebar .menu-down.expanded nav:after{clear:both}
#sidebar .menu-down span{float:left}
#sidebar .menu-down span,#sidebar .menu-down em,#sidebar .menu-down i{cursor:pointer}
#sidebar .menu-down nav{display:block;overflow:hidden;padding:0;}
#sidebar .menu-down nav li{display:block;height:50px;line-height:50px;text-align:left;border-top:1px solid #202529;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;}
#sidebar .menu-down nav li:first-child,#sidebar .menu-down nav li:first-child + li{border-top:0}
#sidebar .menu-down nav li.active a{color:#fff}
#sidebar .edition-select{text-align:right;margin-bottom:0;}
#sidebar .edition-select.expanded{max-height:360px}
#sidebar .edition-select nav li{float:left;width:50%;}
#sidebar .edition-select nav li:nth-child(even){padding-left:10px}
#sidebar .more-sports{text-align:left;margin-top:-50px;margin-bottom:50px;}
#sidebar .more-sports.expanded{max-height:2000px}
.feature{position:relative;margin-bottom:50px;}
.feature .hashtag{position:absolute;top:20px;left:20px;color:#fff;text-shadow:1px 1px 2px #1a1f23}
.feature h3{margin-bottom:16px;}
.feature h3 a{color:#1a1f23}
.feature img{width:100%;margin-bottom:20px}
.feature .author{color:#1a1f23;font-size:12px;}
.feature .author a{color:#004225;font-weight:400}
.feature .thumbnail{position:relative;display:block;margin-bottom:20px;}
.feature .thumbnail img{margin-bottom:0 !important}
.feature .thumbnail:after{font-size:70px;color:#fff;font-family:'fontello';position:absolute;left:0;padding:0;width:100%;height:100%;text-align:center;text-shadow:1px 1px 2px #000;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:25%;top:0;opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);}
@media only screen and (max-width: 768px){.feature .thumbnail:after{padding-top:22%}
}.feature .thumbnail:hover:after{opacity:1;-ms-filter:none;filter:none}
.feature .thumbnail.for-video:after{content:'\e80e'}
.feature .thumbnail.for-gallery:after{content:'\e810'}
.feature .thumbnail.for-ext-link:after{content:'\e80f'}
.feature .date-time{float:right;text-transform:uppercase;font-size:11px;color:#999}
.feature.advert{padding:30px 0;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden}
.feature.content .map-link{display:block}
@media only screen and (max-width: 1024px){.visible .feature{width:48.15%;float:left;}
.visible .feature img{margin-bottom:10px}
.visible .feature h3{font-size:16px !important;line-height:26px !important}
.visible .feature:nth-child(even){float:right;clear:both}
}@media only screen and (max-width: 480px){.visible .feature{width:100%;margin-bottom:30px;padding-left:0;}
.visible .feature img{position:relative}
.visible .feature h3{font-size:16px;line-height:20px !important}
}.latest .feature{padding-left:162px;padding-bottom:45px;margin-bottom:26px;border-bottom:1px solid #ddd;height:72px;}
.latest .feature.advert{height:auto;padding:30px 0}
.latest .feature img,.latest .feature .thumbnail{width:144px;position:absolute;top:0;left:0}
.latest .feature .thumbnail:after{padding-top:15%;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.latest .feature .author{display:none}
.latest .feature .date-time{position:absolute;bottom:26px;left:162px}
.latest .feature .hashtag{position:absolute;right:0;bottom:26px;top:auto;left:auto;text-shadow:none;color:#004225}
.fixed-width-330 .feature .thumbnail:after{font-size:53px}
@media only screen and (max-width: 1024px){.fixed-width-330 .feature{height:120px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
}.subnav .feature .thumbnail{margin-bottom:15px;}
.subnav .feature .thumbnail:after{font-size:53px}
.img-frame{position:relative;margin-bottom:30px;overflow:hidden;}
.img-frame img{width:100%;height:auto}
.img-frame .caption{position:absolute;bottom:10px;left:10px;font-size:10px;color:#fff;text-shadow:1px 1px #1a1f23}
.img-frame .social{position:absolute;top:20px;left:-100px;width:46px;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;-ms-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;}
@media only screen and (max-width: 480px){.img-frame .social{display:none}
}.img-frame .social .btn{margin:0 0 10px;}
.img-frame .social .btn:hover{background:#fff;border-color:#fff;opacity:1;-ms-filter:none;filter:none;}
.img-frame .social .btn:hover.facebook i{color:#3b5998}
.img-frame .social .btn:hover.twitter i{color:#55acee}
.img-frame .social .btn:hover.google-plus i{color:#dd4b39}
.img-frame:hover .social{left:20px}
.editorial .post-interface{margin-bottom:30px;}
.editorial .post-interface .btn.social{padding-left:17px;padding-right:17px;margin-right:4px}
.editorial .post-interface .next,.editorial .post-interface .nextArticle{float:right;font-size:14px}
.editorial .post-interface + .pagination{border-top:1px solid #ddd;padding-top:30px}
.editorial .article-info{width:25%;min-width:150px;float:left;text-align:center;}
.editorial .article-info .twitter-user{display:block;margin-bottom:10px;color:#999}
.editorial .article-info img{width:90px;height:90px;-webkit-border-radius:90px;border-radius:90px;margin-bottom:10px}
.editorial .article-info .by-line{font-size:14px;padding-bottom:20px;}
.editorial .article-info .by-line strong{font-size:16px;line-height:20px;color:#1a1f23}
.editorial .article-info .by-line span{display:block;text-transform:uppercase;color:#999;margin:10px 0}
.editorial .article-info .by-line .btn{margin:0 auto;padding:0 15px;height:30px;line-height:30px;font-size:12px;width:auto}
.editorial .article-info h4{font-size:20px}
.editorial .article-info ul{width:150px;margin:0 auto;border-top:1px solid #ddd;}
.editorial .article-info ul li{padding:20px 0;border-top:1px solid #ddd;text-align:center;}
.editorial .article-info ul li:first-child{border-top:0}
.editorial .article-info ul li strong{display:block;font-size:15px;margin-bottom:10px}
.editorial .article-info ul li span{color:#999}
.editorial .article-info ul li .fa{color:#dd4b39}
.editorial .article-body{max-width:690px;width:71.8%;float:right;font-size:16px;line-height:26px;}
.editorial .article-body.full-width{max-width:none;width:100%;float:none}
.editorial .article-body a{color:#004225}
.editorial .article-body .pagination a{color:#ef5408}
.editorial .article-body #newsnowlogo{float:right;padding-left:10px;}
.editorial .article-body #newsnowlogo img{margin-bottom:0}
.editorial .article-body p{margin-bottom:30px;font-size:16px;line-height:26px}
.editorial .article-body img{width:100%;margin-bottom:10px}
.editorial .article-body h3{font-size:18px;margin-bottom:10px}
.editorial .article-body ul{padding-left:30px;}
.editorial .article-body ul li{margin-bottom:30px}
.editorial .article-body ul.plainAddress{margin-bottom:25px;}
.editorial .article-body ul.plainAddress li{margin-bottom:0}
.editorial .article-body .last-updated{text-transform:uppercase;font-size:10px;text-align:center;margin-bottom:40px;display:block}
.editorial .article-body .back-to-top{font-size:10px;text-transform:uppercase;margin-bottom:30px;display:inline-block}
.editorial .article-body .image-caption p{font-size:12px;line-height:16px}
.editorial .article-body .post-interface{padding:30px 0;border:1px solid #ddd;border-width:1px 0;margin-bottom:50px;}
.editorial .article-body .post-interface a{color:#ef5408}
@media only screen and (max-width: 768px){.editorial .article-body .post-interface{margin-bottom:30px}
}.editorial .article-body .post-interface .social{width:46px;height:46px;padding:0;text-align:center;}
.editorial .article-body .post-interface .social span{display:none}
.editorial .article-body .post-interface .social i{color:#fff;line-height:46px;margin:0}
.editorial .article-body .flag{display:none;color:#dd4b39;margin-bottom:30px;}
.editorial .article-body .flag span{font-size:16px}
@media only screen and (max-width: 480px){.editorial .article-body .flag{display:block}
}.editorial .article-body .pagination .btn span{display:none;padding:0;width:32px}
.editorial .article-body iframe{margin:0 auto 50px !important}
@media only screen and (max-width: 768px){.editorial .article-info{width:100%;padding-bottom:15px;margin-bottom:30px;border-bottom:1px solid #ddd;position:relative;}
.editorial .article-info img{position:absolute;width:60px;height:60px;margin:0;left:0;margin-bottom:30px}
.editorial .article-info .by-line{padding-bottom:0;text-align:left;border:none;margin-bottom:15px;padding-left:70px;padding-right:75px;height:60px;}
.editorial .article-info .by-line span{font-size:11px;margin:5px 0}
.editorial .article-info .by-line strong{font-size:15px}
.editorial .article-info .by-line .btn{position:absolute;right:0;top:0}
.editorial .article-info ul{width:auto;padding-top:15px;}
.editorial .article-info ul li{float:left;padding:1%;text-align:left;border-left:1px solid #ddd;border-top:0;width:23%;text-align:center;}
.editorial .article-info ul li:first-child{padding-left:0;margin-left:0;border-left:0}
@media only screen and (max-width: 480px){.editorial .article-info img{display:none}
.editorial .article-info .by-line{padding-left:0;height:auto}
.editorial .article-info ul li{width:31.4%;}
.editorial .article-info ul li.flag{display:none}
}.editorial .article-body{width:100%;max-width:none;}
.editorial .article-body #newsnowlogo{display:none}
.editorial .article-body > p{font-size:16px;line-height:26px}
}.live-feed li{padding-top:20px;margin-bottom:20px;border-top:1px solid #ddd;}
.live-feed li .time,.live-feed li .title{font-size:18px;margin-bottom:10px;display:block;text-align:left;line-height:28px}
.live-feed li.goal{text-align:center}
.live-feed li img{max-width:690px;display:inline-block;margin:50px auto;}
@media only screen and (max-width: 480px){.live-feed li img{margin-top:0}
}.auto-refresh{padding-bottom:10px;padding-left:30px}
.match-summary{text-align:center;margin-bottom:50px;}
.match-summary h1{font-size:35px;line-height:30px;margin-bottom:10px}
.match-summary .details{font-size:12px;margin-bottom:20px;display:block}
.match-summary .live-score{border-top:1px solid #ddd;max-width:582px;margin:0 auto;overflow:hidden;padding-top:40px;position:relative;}
.match-summary .live-score:after{content:'';width:22px;height:1px;display:block;background:#ddd;position:absolute;top:78px;left:50%;margin-left:-11px}
.match-summary .live-score h3{font-size:18px !important;font-weight:400;height:14px !important;line-height:14px !important;margin-bottom:20px}
.match-summary .live-score .team{width:50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:left;float:left;padding:0 0 0 125px;position:relative;min-height:76px;margin-bottom:20px;}
.match-summary .live-score .team .score{position:absolute;left:20px;top:0;display:block;min-width:56px;height:76px;border:1px solid #ddd;-webkit-border-radius:4px;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;line-height:76px;font-size:50px;padding:0 13px}
.match-summary .live-score .team.home{text-align:right;padding:0 125px 0 0;}
.match-summary .live-score .team.home .score{left:auto;right:20px}
.match-summary .live-score .team .goalscorers li{margin-bottom:10px}
.match-summary .live-score .ht-ft-score{display:block;clear:both;color:#999}
@media only screen and (max-width: 480px){.match-summary{margin-bottom:0}
.match-summary h1{font-size:22px}
.match-summary .live-score{max-width:290px;margin:0 auto 30px;padding-top:30px;}
.match-summary .live-score:after{top:58px;width:20px;margin-left:-10px}
.match-summary .live-score .ht-ft-score{position:absolute;left:0;right:0;top:100px}
.match-summary .live-score .team{padding:110px 0 0 20px !important;text-align:left !important;margin-bottom:0;}
.match-summary .live-score .team.home{padding:110px 20px 0 0 !important}
.match-summary .live-score .team h3{margin-bottom:14px}
.match-summary .live-score .team .score{height:56px;min-width:42px;line-height:56px;font-size:40px;padding:0 5px}
}.contact-form{margin-bottom:100px;}
.contact-form ul{padding-left:0}
.contact-form li{width:50%;float:left;padding:0 18px 0 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.contact-form li:nth-child(even){padding:0 0 0 18px;float:right}
.contact-form li.wide{width:100%;float:none;padding:0}
@media only screen and (max-width: 480px){.contact-form{margin-bottom:40px}
.contact-form li{width:100%;padding:0 !important}
}.locations dt{display:block;margin-bottom:10px;font-size:18px;padding-top:30px;margin-top:30px;border-top:1px solid #ddd;}
.locations dt:first-child{border-top:0;padding-top:0}
.locations dd{color:#999;}
.locations dd.last{border-bottom:0;padding-bottom:0}
.locations dd ul{margin-bottom:30px}
.locations dd li{margin-bottom:10px}
.locations dd a{color:#1a1f23}
.advert-showcase{display:block;overflow:hidden;}
.advert-showcase li{float:left;margin-top:2%;margin-bottom:70px;margin-left:2.43%;width:31.7%;}
.advert-showcase li:nth-child(3n+1),.advert-showcase li:first-child{margin-left:0;clear:both}
.advert-showcase li img{width:100%}
.advert-showcase li h3{font-size:18px;margin-bottom:10px;font-weight:bold}
.advert-showcase li p{margin-bottom:20px;line-height:20px;font-size:14px}
@media only screen and (max-width: 1024px){.wrapper.centered .channel-title.long:before,.wrapper.centered .channel-title.long:after{width:auto}
.advert-showcase li{width:48.785%;}
.advert-showcase li:nth-child(3n+1){margin-left:2.43%;clear:none}
.advert-showcase li:nth-child(2n+1){margin-left:0;clear:both}
}@media only screen and (max-width: 480px){.wrapper.centered .channel-title.long{white-space:normal;height:auto;line-height:36px}
.advert-showcase li{width:100%;}
.advert-showcase li:nth-child(3n+1),.advert-showcase li:nth-child(2n+1){margin-left:0;clear:none}
}.ads-variants h2{font-size:16px;font-weight:400;padding-bottom:10px;color:#004225;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:40px;margin-bottom:30px;border-bottom:3px solid #ddd}
.lead p{font-size:16px;line-height:25px;margin-bottom:0}
