body { margin: 0px auto; background: #fff; font:normal 13px/17px Arial, sans-serif; color:#000; }
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; /*font-size: inherit;*/ vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { margin-left:14px; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


/* Apex Fonts */
@font-face {
  font-family: 'Apex-Light';
  src: url("/resources/fonts/VerizonApex-Light.eot");
  src: url("/resources/fonts/VerizonApex-Light.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/VerizonApex-Light.woff") format("woff"), url("/resources/fonts/VerizonApex-Light.ttf") format("truetype"), url("/resources/fonts/VerizonApex-Light.svg#Apex-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Light-Italic';
  src: url("/resources/fonts/VerizonApex-LightItalic.eot");
  src: url("/resources/fonts/VerizonApex-LightItalic.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/VerizonApex-LightItalic.woff") format("woff"), url("/resources/fonts/VerizonApex-LightItalic.ttf") format("truetype"), url("/resources/fonts/VerizonApex-LightItalic.svg#Apex-Light-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Apex-Book';
  src: url("/resources/fonts/apex-book-webfont.eot");
  src: url("/resources/fonts/apex-book-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/apex-book-webfont.woff") format("woff"), url("/resources/fonts/apex-book-webfont.ttf") format("truetype"), url("/resources/fonts/apex-book-webfont.svg#Apex-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Book-Italic';
  src: url("/resources/fonts/VerizonApex-BookItalic.eot");
  src: url("/resources/fonts/VerizonApex-BookItalic.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/VerizonApex-BookItalic.woff") format("woff"), url("/resources/fonts/VerizonApex-BookItalic.ttf") format("truetype"), url("/resources/fonts/VerizonApex-BookItalic.svg#Apex-Book-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Apex-Medium';
  src: url("/resources/fonts/apex-medium-webfont.eot");
  src: url("/resources/fonts/apex-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/apex-medium-webfont.woff") format("woff"), url("/resources/fonts/apex-medium-webfont.ttf") format("truetype"), url("/resources/fonts/apex-medium-webfont.svg#Apex-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Medium-Italic';
  src: url("/resources/fonts/VerizonApex-MediumItalic.eot");
  src: url("/resources/fonts/VerizonApex-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/VerizonApex-MediumItalic.woff") format("woff"), url("/resources/fonts/VerizonApex-MediumItalic.ttf") format("truetype"), url("/resources/fonts/VerizonApex-MediumItalic.svg#Apex-Medium-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Apex-Bold';
  src: url("/resources/fonts/apex-bold-webfont.eot");
  src: url("/resources/fonts/apex-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/apex-bold-webfont.woff") format("woff"), url("/resources/fonts/apex-bold-webfont.ttf") format("truetype"), url("/resources/fonts/apex-bold-webfont.svg#Apex-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-Bold-Italic';
  src: url("/resources/fonts/VerizonApex-BoldItalic.eot");
  src: url("/resources/fonts/VerizonApex-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/VerizonApex-BoldItalic.woff") format("woff"), url("/resources/fonts/VerizonApex-BoldItalic.ttf") format("truetype"), url("/resources/fonts/VerizonApex-BoldItalic.svg#Apex-Bold-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Apex-ExtraBold';
  src: url("/resources/fonts/VerizonApex-Extrabold.eot");
  src: url("/resources/fonts/VerizonApex-Extrabold.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/VerizonApex-Extrabold.woff") format("woff"), url("/resources/fonts/VerizonApex-Extrabold.ttf") format("truetype"), url("/resources/fonts/VerizonApex-Extrabold.svg#Apex-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apex-ExtraBold-Italic';
  src: url("/resources/fonts/VerizonApex-ExtraboldItalic.eot");
  src: url("/resources/fonts/VerizonApex-ExtraboldItalic.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/VerizonApex-ExtraboldItalic.woff") format("woff"), url("/resources/fonts/VerizonApex-ExtraboldItalic.ttf") format("truetype"), url("/resources/fonts/VerizonApex-ExtraboldItalic.svg#Apex-ExtraBold-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}


.vz_pa .apex_light {font-family:Apex-Light, sans-serif !important;}
.vz_pa .apex_light_italic {font-family:Apex-Light-Italic, sans-serif !important;}
.vz_pa .apex_book {font-family:Apex-Book, sans-serif !important;}
.vz_pa .apex_book_italic {font-family:Apex-Book-Italic, sans-serif !important;}
.vz_pa .apex_med {font-family:Apex-Medium, sans-serif !important;}
.vz_pa .apex_med_italic {font-family:Apex-Medium-Italic, sans-serif !important;}
.vz_pa .apex_bold {font-family:Apex-Bold, sans-serif !important;}
.vz_pa .apex_bold_italic {font-family:Apex-Bold-Italic, sans-serif !important;}
.vz_pa .apex_extrabold {font-family:Apex-ExtraBold, sans-serif !important;}
.vz_pa .apex_extrabold_italic {font-family:Apex-ExtraBold-Italic, sans-serif !important;}


/* Colors */
.vz_pa .fred { color: #ff0000 !important; }
.vz_pa .fvzred { color: #b50000 !important; }
.vz_pa .fvzred_lt { color:#cc0000 !important; }
.vz_pa .fblk {color:#000 !important;}
.vz_pa .fgry {color:#444 !important;}
.vz_pa .fgry_lt {color:#666 !important;}
.vz_pa .fgry_lt2 {color:#dbdbdb !important;}
.vz_pa .fgreen {color:#39B54A !important;}
.vz_pa .fdark_font {color:#333 !important;}
.vz_pa .fdark {color:#333 !important;}
.vz_pa .fblue {color:#0066ff !important;}
.vz_pa .flight { color:#888888 !important; }
.vz_pa .fwhite {color:#fff !important;}
.vz_pa .fpurple {color:#660066 !important;}




/* Misc */
.vz_pa {color:#000;}
.vz_pa a:link, .vz_pa a:visited { color: #0066ff; text-decoration: none;font-size:12px;}
.vz_pa a:hover, .vz_pa a:active { color:#0066ff; text-decoration:underline;font-size:12px; }
.vz_pa p { margin:0 0 6px 0; }
.vz_pa img { border:0; display:block; margin:auto;}
.vz_pa .hidden_text, .vz_pa .hide-text { text-indent: -99999px }
.vz_pa .fl { float:left !important;}
.vz_pa .fr { float:right !important;}
.vz_pa .clear { clear: both; display:block; min-width:0; }
.vz_pa .fixer { display:block; clear:both; overflow:hidden; width:auto; height:1px; line-height:1px; font-size:1px; }
.vz_pa .centered { margin: auto !important; }
.vz_pa .hidden { position:absolute; left:-9000em; top:-9000em; width:0; height:0; overflow:hidden; }
.vz_pa div.divider { border-bottom:1px solid #d8d9d9; padding-top:20px; margin-bottom:14px; }
.vz_pa .italic {font-style:italic !important;}
.vz_pa .bold {font-weight:bold !important;}
.vz_pa .normal {font-weight:normal !important;}
.vz_pa .t_center, .vz_pa .text-center {text-align:center !important;}
.vz_pa .t_right, .vz_pa .text-right {text-align:right !important;}
.vz_pa .t_left, .vz_pa .text-left {text-align:left !important;}

.vz_pa .header {padding:20px 0;position:relative;border-bottom:1px solid #ccc;}
.vz_pa .header .espanol {position:absolute;right:0px;top:20px;color:#555;}

/* Content */
.vz_pa .content {width:100%;}

.vz_pa .content_header .logo {margin:0 auto;width:140px;}
.vz_pa .content_header .navbar {height:27px;background:url(/cs/groups/public/documents/adacct/nav_grid.png) no-repeat;}
.vz_pa .content_header {width:985px;margin:0 auto;}
.vz_pa .content_main {width:985px;margin:0 auto;}
.vz_pa ul.nav {list-style-type:none;margin:0;padding:0;overflow:hidden;}
.vz_pa ul.nav li {width:321px;float:left;margin:0 10px 0 0;padding:0;}
.vz_pa ul.nav li .lob_img a {padding:0;background:none;}
.vz_pa ul.nav li p {margin:8px 0;font-size:15px;}
.vz_pa ul.nav li.last { margin-right:0; border-width:0; }
.vz_pa .lob_img {width:321px;height:349px;float:left;margin:0 10px 0 0;position:relative;}
.vz_pa .lob_img img {}
.vz_pa .lob_img a.main {position:absolute;z-index:2;left:0;top:0;display:block;height:349px;width:100%;}
.vz_pa .lob_img a.main .lob_cta_wrapper {display:block;position:absolute;width:310px;bottom:10px;margin:0 0 0 10px;}
.vz_pa .lob_img a.main .lob_cta_wrapper .tagline {display:block;font-family: 'Apex-book-Italic';color:#fff;font-size:17px;margin:0 0 4px 0;letter-spacing:-0.2px;}
.vz_pa .lob_img a.main .lob_cta_wrapper .lob {display:block;font-family: 'Apex-Medium';color:#fff;font-size:36px;letter-spacing:-1px;}

.vz_pa .lob_img a.main:hover .lob_cta_wrapper .lob {text-decoration:underline;}

.vz_pa div.last { margin-right:0; border-width:0; }

/* Button */
.vz_pa a.button:hover { text-decoration:none; }
.vz_pa .button, .vz_pa .button span{display: block;float: left;font-size: 12px;line-height: 29px;text-decoration: none;padding: 0;margin: 0;cursor: pointer;font-weight:bold;}
.vz_pa .button span.gry_cta{ background: url(/cs/groups/public/documents/adacct/cta_banner_left.png) no-repeat;padding: 0 0 0 5px;}
.vz_pa .button span.gry_cta span {background: url(/cs/groups/public/documents/adacct/cta_banner_right.png) no-repeat right top;padding: 0 5px 0 0;}
.vz_pa .button span.gry_cta span span {background: url(/cs/groups/public/documents/adacct/cta_banner_mid.gif) repeat-x;padding: 0 8px;color: white;font-size: 12px;width: auto;text-align: center;}

/* Banner Module */
.vz_pa .bannermodule {margin:0 auto 60px auto;width:985px;}
.vz_pa .bannermodule .container .masonary {position: relative; height:171px;margin:10px 0;}
.vz_pa .bannermodule .container .masonary .widget .click_text .col7{float:left;width:430px;}
.vz_pa .bannermodule .container .masonary .widget {background-color:#fff;position: absolute;overflow: hidden; background-position:0 0;}
.vz_pa .bannermodule .container .masonary .widget a.button {position:absolute; min-width:180px;left:810px;top:120px;}

.vz_pa .bannermodule span.arrow {position: absolute; right: 10px; top: 10px; color: #F00; width: 10px; height: 11px; display: none; background-repeat: no-repeat}
.vz_pa .bannermodule .nav_bar{position: absolute; height: 23px; top: 185px; left: 455px; z-index: 5000; }
.vz_pa .bannermodule .nav_bar .arrow{width: 10px; height: 23px; float: left; cursor: pointer; margin:0 20px;}
.vz_pa .bannermodule .nav_bar .icons{height: 20px; float:left}
.vz_pa .bannermodule .nav_bar .dot {width: 30px; float: left; height: 42px}
.vz_pa .bannermodule .nav_bar .icon{width: 13px; float: left;margin:7px 7px 0 7px;}
.vz_pa .bannermodule .click_text{width: 941px; height: 171px;}
.vz_pa .bannermodule .init_text{width: 941px; height: 0px;}

.vz_pa .bannermodule .play_wrap { height:20px; left:420px; position:absolute; top:148px; z-index:1111; display:none;}
.vz_pa .bannermodule .play_wrap .hotZone { cursor: pointer; display: block; height: 29px; text-indent: -9999px; width: 28px; }
.vz_pa .bannermodule .play_wrap span.background { display: block; height: 29px; position: relative; width: 28px; }
.vz_pa .bannermodule .play_wrap span.background span { display: block; height: 31px; width: 32px; }

/* corporate footer */
.vz_pa div.cf {font-size:16px;line-height:22px;margin:50px 0 0 0;}
.vz_pa div.cf a {border-right:1px solid #5c5c5c;padding-right:8px;font-size:16px;}
.vz_pa div.cf a.last {border:none;padding-left:8px;}

/* footer */
.vz_pa .footer_bar {background:#f0f0f0;border-top:1px solid #ccc;overflow:hidden;min-height:260px;}
.vz_pa .content_footer {width:985px;margin:0 auto;}
.vz_pa div.footer {padding-top:22px;margin:0 0 80px 0;}
.vz_pa div.footer ul {margin:0;padding:0;}
.vz_pa div.footer ul li {float:left;display:block;list-style-type:none;margin:0;padding:0 2px 0 2px;font-size:12px;}
.vz_pa div.footer ul li.last {float:none;padding:0;text-align:right;}
.vz_pa div.footer ul li a:link, .vz_pa div.footer ul li a:visited {color:#333;text-decoration:none;font-size:12px;}
.vz_pa div.footer ul li a:hover {color:#333;text-decoration:underline;}

.gb .col2 {display:none;}