@charset "gb2312";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 Tahoma,Geneva,\5b8b\4f53,sans-serif;-webkit-text-size-adjust:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp,del{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img,input,button,textarea{border:0;outline:none;-webkit-appearance:none;border-radius:0;}
select{border:0;outline:none;}
textarea{resize:none;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html,body{ padding:0px;margin:0px;border:0px;}
.cf:after{content:'\0020';clear:both;display:block;height:0;}
.cf{*zoom:1;}
.fl{display:inline;float:left;}
.fr{display:inline;float:right;}
.red{color:#f00;}
.green{color:#178517;}
.blue{color:#00F;}
.black{color:#000;}
.orange{color:#ff6000!important;}
a{color:#3d3d3d;}
a:hover{color:#f00;text-decoration:underline;}
html{zoom:1;background:#f6f6f6;_background-image:url(about:blank);_background-attachment:fixed;}
.bg{background:url(../images/iconall.png) no-repeat;}
.rep{background:url(../images/rep.png);}
.col{background:#fff;border:1px solid #dbdbdb;}
.col-fmSite{ border-color:#9dcbf3; }
ul.colnavi{height:30px;line-height:30px;background:#f6f6f6;padding-left:10px;border-bottom:1px solid #efefef;}
ul.colnavi li{display:inline;float:left;}
ul.colnavi li span{ display:inline-block;width:20px;height:20px;vertical-align:middle;padding:0px 2px;font-family:"iconfont";font-style:normal;font-size: 16px;font-weight: normal;color:#75baf6;line-height: 18px; }
ul.colnavi li a{font-size:14px;color:#1a72c1;_display:inline-block;}
ul.colnavi li a:hover{color:red;}
ul.colnavi li i{padding:0 12px;color:#d7d8d9;position:relative;top:-1px;background: url(../images/iconall.png ) 2px -331px no-repeat;}
ul.fcolnavi li i{ background:none; }


#imgArr{display:inline;float:right;margin:10px 0 0 0;width:160px;height:60px;overflow:hidden;background:url('data:image/png;base64,R0lGODlhKwALAPEAAP///6qqqtTU1KqqqiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAKwALAAACMoSOCMuW2diD88UKG95W88uF4DaGWFmhZid93pq+pwxnLUnXh8ou+sSz+T64oCAyTBUAACH5BAkKAAAALAAAAAArAAsAAAI9xI4IyyAPYWOxmoTHrHzzmGHe94xkmJifyqFKQ0pwLLgHa82xrekkDrIBZRQab1jyfY7KTtPimixiUsevAAAh+QQJCgAAACwAAAAAKwALAAACPYSOCMswD2FjqZpqW9xv4g8KE7d54XmMpNSgqLoOpgvC60xjNonnyc7p+VKamKw1zDCMR8rp8pksYlKorgAAIfkECQoAAAAsAAAAACsACwAAAkCEjgjLltnYmJS6Bxt+sfq5ZUyoNJ9HHlEqdCfFrqn7DrE2m7Wdj/2y45FkQ13t5itKdshFExC8YCLOEBX6AhQAADsAAAAAAAAAAAA=') no-repeat center center;}
#imgArr a{display:none;}
#classicsWrap{width:100%;min-width:1000px;}
#wrap{position:relative;min-width:980px;background:url(../images/rep.png) repeat-x 0 -264px #f6f6f6;}
.topbar .top-bd,.container{margin:0 auto;position:relative;width:1000px;}
.topbar .top-bd{z-index:9999;}
.container{z-index:1;}
#top-outerbg,#top-innerbg,#bottom-outerbg,#bottom-innerbg{height:400px;min-width:980px;width:100%;overflow:hidden;}
#top-outerbg{position:absolute;top:0;}
#bottom-outerbg{position:absolute;bottom:0;}
#top-innerbg div,#bottom-innerbg div{width:980px;}
.topbar{background:#fafafa;border-bottom:1px solid #e0e0e0;height:29px;line-height:29px;}
.topbar .wel{color:#686868;}
.topbar .wel li{ display:inline;float:left;margin-right:10px; }
.topbar .wel li a{color:#686868;}
.topbar .wel li a:hover{color:red;}
.topbar .wel li.mcol a.home{padding-left:20px;}
.topbar .wel li.mcol .homeIcon{ position: absolute;top:2px;left:2px;font-family:"iconfont";font-style:normal;font-size: 16px;font-weight: normal;width:16px;height:16px;color:#7ac1ff; }
.topbar .wel li.mcol{line-height:normal;border:1px solid #e8e8e8;position:relative;margin:1px -1px 0px;top:4px;}
.topbar .wel li.mcol a{display:inline-block;padding:1px 10px;background:#f1f1f1;border:1px solid #fff;line-height:15px;font-family:Tahoma;}
.topbar .wel li.mcol a:hover{background-color:#fff;}
.topbar .wel li.nth2{margin-right:10px;}
li.drop{position:relative;padding:0 20px 0 10px;border:1px solid #fafafa;border-width:0px 1px;background:url(../images/iconall.png) no-repeat -35px -80px;}
li.drop.hover{border-color:#e0e0e0;}
li.drop ol{width:66px;clear:both;border:1px solid #e0e0e0;background:#fafafa;border-top:none;position:absolute;left:-1px;top:29px;padding:5px 0;line-height:19px;display:none;}
li.drop.hover ol{display:block;}
.topbar li.drop ol li{display:block;float:none;margin-right:0px;margin-left:0px;}
.topbar li.drop ol li a{display:block;height:25px;text-align:center;line-height:25px;}
.topbar li.drop ol li a:hover{background:#63aae9;color:#fff;}
.topbar .sets li{display:inline;float:left;margin-left:10px;}
.topbar .sets a{color:#868585;}
#js_reOld a{color:#3683C5;}
#js_reOld .exp-new{color:#f00;}
.topbar .sets a:hover,#js_reOld a:hover{color:#f00;}

/* 114la  browserAdv*/
.browserAdv{ position:absolute;top:0px;left:39%;height:29px;line-height:29px;color:#686868;overflow:hidden; }
.browserAdv .advSpan{ display:inline-block;vertical-align:middle;background:url( ../images/iconall.png ) #f1f1f1  no-repeat 0px -262px;padding:0px 10px 0px 18px;color:#609e0c; }
.browserAdv .advSpan:hover{ background-color:#fff;text-decoration:none; }
.browserAdv .advTxt{ vertical-align:middle;color:#686868; }

.header{height:80px;overflow:hidden;width:1000px;}
/*.header .logo{margin-top:0;background:url( "../images/default_logo.png?20130309" ) no-repeat 10px center;cursor:pointer;height:80px;text-indent:-1000em;width:180px;}*/
.header .logo{margin-top:0;background:url( "http://static.114la.com/homeimages/gaokao_logo2014.png") no-repeat 10px center;cursor:pointer;height:80px;text-indent:-1000em;width:180px;}
.header .calendar{margin:18px 0 0 0px;width:112px;overflow:hidden;}
.header .calendar ul{width:105px;}
.header .calendar li{width:105px;display:inline;float:left;}
.header .calendar .date a{color:#777;}
.header .calendar .lcal{padding:8px 0 0 3px;}
.header .calendar .lcal a{color:#777;}
.header .handle{ height:62px;margin:7px 0 0 0;overflow:hidden;padding:10px 0 0 10px;width:185px;}
.header .notice{color:#555;margin-left:4px;overflow:hidden;white-space:nowrap;width:160px;vertical-align: middle;display:inline-block;font-family: Tahoma;}
.header .faceIcon{ font-family:"iconfont";font-style:normal;font-size: 16px;font-weight: normal;color:#9dcbf3;vertical-align: middle;display:inline-block;height:16px;width:16px;line-height: 16px;}
@-moz-document url-prefix(){	.header .faceIcon{ line-height: 20px; } }
.header .e-mail{border:1px solid transparent;background-color:transparent;_border-color:#fff;margin:5px 0 0 0;padding:3px;position:absolute;width:170px;z-index:999;}
.header .e-mailActived{border-color:#c3c3c3;background-color:#f6fbff;_border-color:#c3c3c3;}
.header .mailUsername{ color:#b2b2b2;border:1px solid #c3c3c3;font-size:14px;height:16px;line-height:16px;padding:2px 0 2px 4px;width:82px;}
.header .e-mailActived .mailUsername{ color:#000; }
.header .box-mailSelect{background-position:0 -79px;border:1px solid #c3c3c3;border-left:0;height:20px;width:81px;}
.header .mailSelect{background-position:-19px -84px;color:#000;cursor:pointer;display:block;height:20px;line-height:20px;padding:0 15px 0 1px;}
.header .mailPrompt,.header .mailPromptPw{color:#b2b2b2;position:absolute;top:4px;top:6px\9;_top:4px;left:8px;}
.header .mailPromptPw{top:6px;top:8px\9;_top:6px;}
.header .mailLogin{display:none;height:22px;overflow:hidden;padding-top:5px;position:relative;top:0;left:0;z-index:1001;}
.header .mailPassWord{border:1px solid #c3c3c3;font-size:14px;height:16px;line-height:16px;padding:2px 0 2px 4px;width:110px;}
.header .mailSubmit{background-position:0 -79px;cursor:pointer;height:20px;line-height:20px;padding-bottom:2px;overflow:hidden;width:53px;}
.header .box-mailSubmit{border:1px solid #c3c3c3;border-left:0;display:inline-block;vertical-align:top;}
.eMail-list{background:#fff;border:1px solid #c3c3c3;border-top:0;display:none;height:442px;overflow-y:scroll;position:relative;top:0;left:0;padding:5px 1px 2px 1px;width:166px;z-index:1002;}
.eMail-list li{cursor:pointer;height:22px;line-height:22px;text-align:center;}
.eMail-list li.hover{background:#3c96e5;color:#fff;}
.eMail-list li.no{cursor:default;color:#868686;}
.eMail-list li.hover a{color:#fff;}
.eMail-list li a:hover{color:#fff;text-decoration:none;}
.m-search{ position:relative;background:#ecf6ff;border:1px solid #c9e2f7;height:78px;width:998px;box-shadow:inset 0px 0px 1px 1px #fff;box-shadow:0px 2px 5px 0px #e1e1e1;z-index:2;}
.m-search-tab{padding:11px 0 4px 249px;}
.m-search-tab li{font-family:Tahoma;cursor:pointer;display:inline;float:left;height:21px;line-height:20px;margin-right:9px;overflow:hidden;text-align:center;width:45px;}
.m-search-tab .active{background:#63aae9;color:#fff;font-weight:900;}
.m-search-con{position:relative;z-index:997;}
.col-hotKeys{padding:1px 12px 0 0;height:34px;line-height:34px;overflow:hidden;text-align:left;width:170px;position:relative;}
.col-hotKeys ul{ position:absolute;top:0px;left:0px; }
.col-hotKeys li{ height:35px;line-height:35px;position:relative;overflow:hidden;white-space:nowrap;   }
.col-hotKeys li a{ color:#666666;margin-left:35px;vertical-align:middle;_display:inline-block; }
.col-hotKeys li .bot-nub{ top:12px;left:12px; }
.col-hotKeys li i{ display:inline-block;width:14px;height:14px;vertical-align:middle;background:red;margin-left:8px;cursor:pointer;background:url(../images/iconall.png ) -84px -88px no-repeat; }

.s-hot{ position:absolute;top:0px;right:0px;width:170px;z-index:998;display:none; filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity: 0;}
.s-hot .hot-til{ height:34px;line-height:34px;text-align:center;background:#63aae9;color:#fff; }
.s-hot .hot-con{ border:1px solid #63aae9;background:#fff;padding: 5px 0px; }
.s-hot .hot-con li{ height:30px;line-height:30px;position:relative; }
.s-hot .hot-con li a{ color:#666666;margin-left:32px; }
.s-hot .hot-con li a:hover{ color:#ff0000;text-decoration:none; }
.s-hot .hot-con .bot-nub,
.col-hotKeys .bot-nub{ position:absolute;width:13px;height:13px;text-align:center;color:#fff;background:#63aae9;line-height:13px;top:9px;left:10px;border-radius:2px;font-family:\5b8b\4f53,arial; }
.s-hot .hot-con .bot-r,
.col-hotKeys .bot-r{ background:#e94f63 !important; }
.s-hot .hot-con .cur{ background:#ecf6ff; }
.s-hot .hot-con .cur a{ color: #ff0000; }
.s-hot .hot-clock{ line-height:18px;display:inline-block;width:18px;height:18px;vertical-align:middle; font-family:"iconfont";font-style:normal;font-size: 16px;font-weight: normal;color:#fff;background: #63aae9;}
.s-hot label{ vertical-align:middle;font-size:14px;_display:inline-block; }
.search-widget{padding:2px 0 0 138px;}
#searchForm{clear:both;height:35px;overflow:hidden;}
.search-widget .pic img{display:block;height:35px;width:105px;}
.search-widget .box-search-input{background:#fff;border-color:#ababab #dadada #d9d9d9 #adadad;border-style:solid;border-width:1px;cursor:text;height:30px;margin-left:6px;position:relative;z-index:99;}
.search-widget .searchWord{background:transparent;font:16px arial;height:18px;margin-top:6px;padding-left:7px;width:416px;}
.search-widget .box-search-input b{display:block;font-size:0;height:0;overflow:hidden;position:absolute;}
.search-widget .box-search-input .shadow-y{border-left:1px solid #cfcfcf;border-right:1px solid #efefef;height:100%;z-index:100;}
.search-widget .box-search-input .shadow-x{border-bottom:1px solid #efefef;border-top:1px solid #cfcfcf;left:1px;width:422px;z-index:101;}
.search-widget .box-search-submit{background-position:0 -180px;margin-left:5px;overflow:hidden;width:96px;}
.search-widget .box-search-submit .r{background-position:-2px -435px;height:33px;width:3px;}
.search-widget .box-search-submit .l{background-position:0 -435px;height:33px;width:2px;}
.search-widget .box-search-submit .searchSubmit{background:transparent;cursor:pointer;font-family:SimSun;font-size:14px;height:33px;line-height:33px;width:91px;}
.sug-wrap{background:#fff;border:1px solid #817F82;color:#1C1C1C;overflow:hidden;position:absolute;top:33px;left:249px;white-space:nowrap;width:423px;z-index:999;}
#suggest ul{padding:5px 0 10px 0;}
.sug-wrap li{font-size:14px;height:25px;padding:2px 6px 1px 8px;}
.sug-wrap li.hover{background:#e2eaff;}
.content{margin-top:11px;}
.main{font-size:14px;margin-left:250px;width:750px;}
#bm{width:726px;overflow:hidden;}
.col-fmSite{border-width:2px;}

.fmSite-con{height:272px;overflow:hidden;}
.box-fmSite{padding:7px 0 7px 0;}
.box-fmSite .fmSite{margin:0 11px 0 6px;padding-top:6px;}
.box-fmSite .bb{border-bottom:1px dashed #c6c6c6;padding-bottom:6px;}
.box-fmSite .pt{padding-top:0;}
.box-fmSite .fmSite li{display:inline;float:left;line-height:30px;overflow:hidden;text-align:center;width:16.6%;position:relative;}
.box-fmSite .last{border:0;}
.box-hot{padding-left:12px;height:28px;line-height:28px;text-align:center;}
.box-hot a{display:inline-block;font-size:12px;padding:0 15px;}
.sortSite{background:#fff;padding:7px 0;border-bottom:1px solid #dbdbdb;}
.sortSite li{height:30px;line-height:30px;overflow:hidden;}
.sortSite li.hover{background:#f4f4f4;}
	* html .sortSite li.hover{border-left:none;border-right:none;}
.sortSite li a{display:inline-block;width:106px;_width:106px;overflow:hidden;white-space:nowrap;text-over:ellipsis;}
.sortSite li a.s{width:47px;}
.kpWrap .sortSite li a.s{width:52px;}
.sortSite li i{display:inline-block;position:relative;padding:0 2px;color:#333;font:12px/100% arial,\5b8b\4f53;margin-right:3px;top:-9px;*top:0px;_top:0px;}
.sortSite .tit a{color:#1a72c1;font-weight:normal;padding:0 20px 0 10px;width:auto;}
.sortSite .tit a:hover,.recomSite .tit a:hover{color:#f00;}
.sortSite .more a{font-size:12px;font-family:\5b8b\4f53;padding:0 8px 0 0;width:auto;color:#828282;}
.cool-sortSite{border-bottom:0;}
.cool-sortSite .more{height:30px;line-height:30px;}
.cool-sortSite .tit{height:30px;line-height:30px;}
.sideBar{margin-left:-1000px;width:238px;}
.starBar{border-bottom:1px dashed #d0e9ff;margin:0 1px;padding:4px 0 8px 0;}
.starBar li{display:inline;float:left;height:30px;line-height:30px;overflow:hidden;padding:0 10px 0 12px;width:194px;}
.starBar li.hover{background:#e7f4ff;}
.starBar .hot{text-align:right;}
.starBar .hot a{color:#8b8b8b;}
.starBar .cat{color:#9e9e9e;padding-left:25px;}
.starBar .cat a{color:#000;font-size:14px;}
.starBar .hot a:hover,.starBar .cat a:hover{color:#f00;}
.col-usage{padding-top:1px;}
.usage-tab li{background:#e7f4ff;cursor:pointer;display:inline;float:left;font-size:14px;margin-left:1px;height:29px;line-height:29px;text-align:center;width:53.4px;}
.usage-tab .active{background:#63aae9;color:#fff;font-weight:900;}
.usage-con{padding:6px 0 6px 10px;height:56px;overflow:hidden;}
.usage-con .tbox .ipt-text{border:1px solid #abadb3;color:#5e5e5e;height:16px;line-height:16px;vertical-align:middle;padding:2px 0 2px 4px;}
.usage-con .tbox .under{padding-top:3px;}
.usage-con .tbox .box-btn{border:1px solid #a3a3a3;display:inline-block;vertical-align:middle;}
.usage-con .tbox .btn{background-position:0 -215px;cursor:pointer;height:20px;line-height:20px;padding:0 2px 2px 2px;}
.usage-con .tPhone .ipt-text{width:90px;}
.usage-con .tbox .ipt-date{width:68px;}
.usage-con .tPhone .sel{border:1px solid #abadb3;height:22px;vertical-align:middle;width:58px;}
.usage-con .tPhone .btn{width:32px;}
.usage-con .tPhone .under{text-align:center;color:#3d3d3d;}
.usage-con .tTicket .ipt-text{width:60px;}
.usage-con .tTicket .ipt-date{width:68px;}
.usage-con .tHotel .ipt-city{width:32px;}
.usage-con .tHotel .under .ipt-text{width:80px;}
.usage-con .tTour .ipt-text{width:62px;}
.col-coolsite{padding-top:6px;}
.live-con li{display:inline;float:left;height:30px;line-height:30px;padding-left:2px;text-align:center;width:50px;}
.live-con li a{font-size:14px;}
.col-recomSite{margin-top:10px;padding:8px 0;width:978px;}
.recomSite li{height:26px;line-height:26px;text-align:center;overflow:hidden;}
.recomSite li a{padding:0 6px;}
.recomSite .tit a{color:#1a72c1;font-weight:normal;font-size:12px;padding:0 0 0 15px;}
.recomSite .more a{padding:0 11px 0 0;font-family:\5b8b\4f53;}

.footer{padding:10px 0 27px 0;text-align:center;}
.footer .copyright,.footer .copyright a{color:#666;}
.footer .copyright a:hover{color:#f00;}
.link{float:left;}
.copyright{float:right;}
.footer .copyright .appleDownload,
.footer .copyright .azDownload{ display:inline-block;width:80px;height:23px;text-indent:20px;line-height:23px;background:url( ../images/iconall.png ) -320px -600px   no-repeat;color:#fff;margin-left:30px; }
.footer .copyright .appleDownload{ background-position:-320px -623px;margin-left:10px; }
.footer .copyright a.azDownload{ color:#fff;text-decoration:none;background-position:-400px -600px; } 
.footer .copyright a.appleDownload:hover{ color:#fff;text-decoration:none;background-position:-400px -623px; } 


.header .box-weather{background-position:0 -64px;height:62px;margin:4px 0 0 4px;overflow:hidden;padding:10px 0 0 10px;width:330px;}
.box-setCity li{padding-bottom:5px;}
.box-setCity select{border:1px solid #ABADB3;margin-right:5px;}
.box-setCity .button{background:url(../images/icons.gif) no-repeat 0 -25px;cursor:pointer;display:inline-block;height:21px;width:63px;line-height:21px;text-align:center;color:#333;font-size:12px;}
.box-setCity .button:hover{background-position:0 0;color:#07519A;text-decoration:none;}
.weather-tip{ display:none;font-family:Tahoma;position:absolute;top:0px;left:50%;height:18px;line-height:18px;background:#d6f4b5;color:#539100;padding:0px 20px 0px 10px;margin-left:-90px; }
.weather-close{ position:absolute;top:0px;right:8px;cursor:pointer;color:#d45b54; }
.weather li{color:#777;display:inline;float:left;}
.weather .tWrap,
.weather .mWrap{ padding:1px;white-space:nowrap;margin-left:0px;width:139px;margin-left:4px;}
.weather .tWrapHover,
.weather .mWrapHover{ border:1px solid #e7e7e7;padding:0px; }
.weather li .city{font-size:12px;text-align:center;padding-top: 3px;}
.weather li .cut{color:#777;display:block;padding-top:10px;}
.weather li .cut:hover{color:#f00;}
.weather li .i{display:inline;float:left;}
.weather li .t{color:#777;display:inline;float:left;padding-left:2px;position:relative;width:75px;margin-top:2px;overflow:hidden;height: 46px;}
.weather li .t:hover{color:#f00;text-decoration:none;}
.weather li .tem{display:block;padding-top:10px;font-weight:normal;}
.weather li .tem2{ position:absolute;top:29px;left:0px;font-weight:normal;cursor:pointer; }
.weather li .tem2 .grade{ background:#68b500;color:#fff;padding:0px 2px 2px;border-radius: 2px; }
.weather li .tem2 .grade2{ background:#f1dd00; }
.weather li .tem2 .grade3{ background:#ffac00; }
.weather li .tem2 .grade4{ background:#ff3a00; }
.weather li .tem2 .grade5{ background:#d51b34; }
.weather li .tem2 .grade6{ background:#970040; }
.weather li .see{background-position:0 -62px;display:block;height:9px;margin:20px 0 0 16px;overflow:hidden;width:6px;}
dl.col-row01{background:#fbfbfb;border:1px solid #dbdbdb;margin-bottom:10px;}
dl.col-row01 dt{width:236px;height:40px;overflow:hidden;margin-bottom:5px;}
dl.col-row01 dt img{width:236px;height:40px;}
dl.col-row01 dd{font-size:14px;color:#3d3d3d;white-space:nowrap;padding-bottom:5px;height:21px;line-height:21px;}
dl.col-row01 dd.hover{background-color:#f1f1f1;}
dl.col-row01 dd a{color:#3d3d3d;margin-left:5px;white-space:nowrap;}
dl.col-row01 dd a:hover{color:red;}
dl.col-row01 dd a.n{display:inline-block;padding:0 0px 0 15px;background:url(../images/iconall.png) no-repeat 0 -330px;margin-left:0px;}
dl.col-row01 dd a.red{color:red;}
i.vhr{color:#bebebe;position:relative;top:-1px;}
i.vhd{color:#999;position:relative;top:1px;}

ul.col-row02{background:#fff;padding: 10px 6px 10px 8px;border:1px solid #dbdbdb;border-width:1px 1px 0px;}
ul.col-row02 li{display:inline;margin-left:3px;float:left;width:86px;padding-left:22px;padding-bottom:8px;position: relative;}
ul.col-row02 li.hover{background-color:#f1f1f1;}
	ul.col-row02 li.line{width:215px;padding-left:0;clear:both;border-bottom:1px dashed #dfdfdf;height:0px;overflow:hidden;padding-bottom:0px;margin-bottom:8px;background:none;}
 
ul.col-row02 li a{color:#3d3d3d;font-size:14px;}
ul.col-row02 li a:hover{color:red;}
ul.col-row02 span{ font-family:"iconfont";font-style:normal;font-size: 16px;font-weight: normal;position: absolute;top: 0px;left: 0px;color:#75baf6;line-height: 22px; }
@-moz-document url-prefix(){	ul.col-row02 span{ line-height: 26px; } }
.comBox{border:1px solid #dbdbdb;background:#fff;}
ul.colTitle{width:236px;height:30px;background:url(../images/iconall.png ) #f6f6f6 no-repeat -1px -570px;overflow:hidden;margin-bottom:10px;  }
	.btop{border-top:none;}
ul.colTitle li{ zoom:1;display:inline;float:left;width:59px;height:28px;line-height:30px;line-height:32px\0;text-align:center;color:#5e5e5e;cursor:pointer;border-top:1px solid #85c5f9;}
ul.colTitle li.hover,
ul.colTitle li.active{ background:#f6f6f6;width:59px;position:relative;left:-1px;margin-right:-2px;overflow:hidden;border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb;}
ul.colTitle li.active{ font-weight:bold;background:#fff;z-index:2;height:29px;}
ul.colTitle li a{ color:#5e5e5e; }
ul.colTitle li a:hover{ color:#5e5e5e;text-decoration:none; }
ul.colTitle li.active a:hover{ color:#f00;text-decoration:underline; }
.otherCol ul.colTitle li.active{ background:#fff; }
 
.comWrap{width:220px;margin:0 auto;position:relative;}
.btmContent .comWrap{ z-index:2; }
.comWrap ul li.hover{background-color:#f1f1f1;}
ul.mslide{width:204px;height:90px;overflow:hidden;margin:0px auto;}
ul.mslide li{width:204px;height:90px;display:inline;float:left;position:relative;z-index:5px;text-align:center;}
ul.mslide li img{ width:204px;height:90px; }
ul.mslide li a:hover{text-decoration:none;}
	* html ul.mslide li{display:none;}
	*+html ul.mslide li{display:none;}
ul.mslide li cite{width:204px;height:20px;line-height:20px;display:inline-block;text-indent:5px;color:#fff;position:absolute;left:0px;bottom:0px;background:#000;filter:alpha(opacity=75);overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
	:root ul.mslide cite{background:rgba(0,0,0,0.5);}
ul.appWrap{ height:87px !important;border-bottom:1px solid #ececec;position:relative;padding-left:10px; }
ul.appWrap .app{ float:left;display:inline;width:48px;font-size:12px;color:#666;line-height:22px;position:relative;margin:5px 25px 0px 0px; }

ul.appWrap .app i{ cursor:pointer;position:absolute;top:-2px;left:-2px;width:53px;height:53px;background:url(../images/cover.png ) 0px 0px  no-repeat;
_background-image: none; /* IE6 */}

ul.appWrap .app img{ width:48px;height:48px;display:block; } 
ul.appWrap li{ width:220px; }
.snum{position:absolute;right:5px;top:78px;z-index:6;display:none;}
.snum a{display:inline-block;width:5px;height:5px;margin-left:5px;float:left;overflow:hidden;line-height:20px;background:#b2b2b2;}
.snum a.current{background:#f07200;}
	.ecom ul.mslide{height:120px;}
	.ecom ul.mslide li{height:120px;zoom:1;}
	.ecom .snum{top:108px;}
ul.nslist{padding:10px 0;width:204px;margin:0px auto;}
ul.nslist li{line-height:28px;height:28px;/*moz需定义高度*/background:url(../images/iconall.png) no-repeat -5px -328px;padding-left:8px;}
ul.nslist li a{font-size:14px;color:#3d3d3d;display:inline-block;width:210px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
ul.nslist li a:hover{color:red;}
ul.msColi{height:68px;width:204px;margin:0px auto;  }
ul.msColi li{display:inline;float:left;width:204px;height:68px;overflow:hidden;position:relative;}
ul.msColi li img{ width:100px;height:68px;float:left;background:url( ../images/loading2.gif ) center no-repeat !important; }
ul.mslide li img{ background:url( ../images/loading2.gif ) center no-repeat !important; }
ul.msColi .rgt{float:right;position:relative;}
ul.msColi li cite{width:100px;height:16px;line-height:16px;display:inline-block;text-indent:5px;color:#fff;position:absolute;left:0px;bottom:0px;background:#000;filter:alpha(opacity=75);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:center;cursor:pointer;}
	:root ul.msColi cite{background:rgba(0,0,0,0.5);}
	* html ul.msColi li a:hover{text-decoration:none!important ;}
ul.msCover{padding:9px 0 13px;}
ul.msCover li{line-height:26px;height:26px;/*moz需定义高度*/background:url(../images/iconall.png) no-repeat -2px -358px;padding-left:12px;width:98px;display:inline;float:left;}
ul.msCover li a{font-size:14px;color:#3d3d3d;display:inline-block;width:95px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
ul.msCover li a:hover{color:red;}
	.ecom ul.msCover li{background-position:-5px -824px;}
.wrapConts{display:none;}
.wrapConts a.mns{display:block;width:220px;height:120px;position:relative;}
.wrapConts a.mns:hover{text-decoration:none;}
.wrapConts a.mns cite{width:220px;height:20px;line-height:20px;display:inline-block;text-indent:5px;color:#fff;position:absolute;left:0px;bottom:0px;background:#000;filter:alpha(opacity=75);overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:center;}
	:root .wrapConts a.mns cite{background:rgba(0,0,0,0.5);}
.comWrap p.icai{color:#939393;}
.comWrap p.icai span i{color:#d22e2e;}
.comWrap p.icai span.fr{white-space:pre;}
.comWrap p.icai span.fr a{color:#d22e2e;}

.scroCtr a{display:block;position:absolute;width:12px;height:33px;top:23px;z-index:6;background:url(../images/iconall.png);}

.scroCtr a.lft{ left:-8px;background-position:-370px -340px; }
.scroCtr a.rgt{ right:-8px;background-position:-382px -340px; }
.scroCtr a.lft:hover{ background-position:-370px -373px; }
.scroCtr a.rgt:hover{ background-position:-382px -373px; }
#aside-col03-cont .scroCtr a,
#aside-col02-cont .scroCtr a{top:16px;}
ul.tickets{padding:10px 0;height:25px;}
ul.tickets li{display:inline;float:left;width:24px;height:25px;line-height:22px;text-indent:-2px;text-align:center;color:#fff;margin-right:7px;background:url(../images/iconall.png) no-repeat -240px -574px;}
ul.tickets li.blue{background-position:-270px -574px;}
ul.tickets li.last{margin-right:0;}
ul.tickets li.txt{margin-right:0;width:auto;height:auto;text-indent:5px;color:#3d3d3d;background:none;}
ul.selb{height:24px;margin-bottom:10px;}
ul.selb li{display:inline;float:left;margin-right:5px;}
ul.selb li a{display:inline-block;width:65px;height:24px;line-height:24px;text-align:center;color:#3d3d3d;}
ul.selb li a.current{background:#d94a3f;color:#fff;}
ul.selb li a.w{width:auto;}
ul.tiOth{padding:10px 0;height:45px;overflow:hidden;border-top:1px dashed #c6c6c6;}
ul.tiOth li{line-height:22px;height:22px;display:inline;float:left;white-space:nowrap;}
ul.tiOth li i{color:#bebebe;position:relative;top:-1px;padding:0 10px;}
ul.tiOth li a{color:#3d3d3d;font-size:14px;}
ul.tiOth li a:hover{color:red;}

#costom{position:fixed;bottom:20%;left:50%;margin-left:510px;background:url( ../images/iconall.png ) -600px -260px no-repeat;padding-bottom:10px; }
* html #costom{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));margin-bottom:20%;}
#costom a{ display:block;width:80px;height:29px;overflow:hidden;line-height:29px;text-align:center;margin-bottom:10px;zoom:1;color:#898989;text-indent:100px; }
#costom .funBtn{ text-indent:6px;background:url(../images/iconall.png) no-repeat;background-position:-600px -117px;margin-bottom:5px; }
#costom .funBtn:hover{ text-decoration:none;background-position:-690px -117px; }
#gotop,#feedback,#c_home,#c_shop,#c_rest,#feedback,#c_goBot{background:url(../images/iconall.png?2) no-repeat;}
#costom #c_home,#costom #c_shop,#costom #c_rest{ text-align: left;text-indent: 10px;font-family:"iconfont";font-style:normal;font-size: 16px;font-weight: normal;text-decoration: none;line-height: 30px; }
#gotop{background-position:-600px -195px;}
#gotop:hover{background-position:-690px -195px;}
#c_home{ background-position:-600px 0px;color:#accc7f; }
#c_home:hover{ background-position:-690px 0px; }
#costom #c_home{ color:#accc7f; }
#c_shop{ background-position:-600px -39px; }
#c_shop:hover{ background-position:-690px -39px; }
#costom #c_shop{ color:#7bc0d9; }
#costom #c_rest{ background-position:-600px -78px;margin-bottom:15px;color:#d98a19; }
#costom #c_rest:hover{ background-position:-690px -78px; }
#c_goBot{ background-position:-600px -156px; }
#c_goBot:hover{ background-position:-690px -156px; }
.thums{display:inline;}
#btmCommen{height:280px;}
#hh_active{position:relative;z-index:1;}
#ldMore{  text-indent:1px;line-height: 20px;width:22px;height:22px;position:absolute;right:0;top:0;cursor:pointer;font-family:"iconfont",sans-serif;font-style:normal;font-size: 22px;font-weight: normal; -moz-user-select: none;  -webkit-user-select: none;  -ms-user-select: none; color:#9dcbf3; }
@-moz-document url-prefix(){#ldMore { line-height: 24px; }}

#ldMore.my{background-position:-241px 0;}
#loadFav{display:none;}
.corner{width:100px;height:100px;position:absolute;right:0;top:29px;z-index:99999;}

.bookItem{display:block;text-align:center;text-decoration:none; }
.desTxtWrap{ height:20px;line-height:20px;top:126px;left:0px;color:#fff;width:100%;text-align:center;clear:both;float:left;display:inline;margin-top:-20px;}
.desTxtWrap{background:rgba(0,0,0,0.5) !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);zoom:1;}
:root .areaC .desTxtWrap{filter:none\9;}/*for IE9*/
.desTxtWrap{/* display:none;*/ }
.bookItem:hover .desTxtWrap{ display:block; }
.desTxt{ }
.desTxt em{ zoom:1;position:relative; }
.bookItem img{ float:left;width:95px;height:125px; }
.bookItem:hover .desTxt2{ color:red; }
.desTxt2{ font-size:12px;color:#666666;line-height:30px;text-decoration:none; }
.bookList{ width:920px;margin:0px auto;padding-left:20px; }
.bookList li{ width:95px;float:left;margin-right:20px;position:relative;height:158px;overflow:hidden; } 


/* ecRow */
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;height:0;}
.clearfix{zoom:1;}
.ecRow{ border: 1px solid #dbdbdb;background:url( ../images/loading.gif ) #fff no-repeat center;margin-top:10px;min-height:383px;_height:383px; }
.ecRow .ecCon{ background:#fff }
.ecRow .tabCon{ background:#fff;min-height:348px;_height:348px; }
.ecRow .ecTil{ height:34px;line-height:34px;position:relative;border-bottom:1px solid #ebebeb; } 
.ecRow .ecTilTxt{ position:absolute;top:0px;left:0px;width:120px;height:34px;line-height:30px;*line-height:34px;}
.ecRow .ecTilTxt .ecTilSpan{ color:#4590d4;font-weight:bold;vertical-align:middle;font-size:14px;display:inline-block; }
.ecRow .ecTilTxt .ecTilIcon{  padding-left:10px;display: inline-block; width: 24px; height: 16px;  vertical-align: middle;font-family:"iconfont";font-style:normal;font-size: 16px;font-weight: normal;color: #4590d4;line-height: 18px;}
@-moz-document url-prefix(){ .ecRow .ecTilTxt .ecTilIcon{ line-height:21px; } }
.ecRow .ecMore{ position:absolute;top:0px;right:10px;height:34px;line-height:34px;font-family: "\5b8b\4f53";color:#999;font-size:14px; }
.kpWrap .ecRow .ecCenter{ display:inline;margin:0px 20px; }
.kpWrap .ecRow .ecRight{ padding:0px 10px; }
.ecRow .ecCenter{ float:left;width:739px;height:348px;position:relative; }
.ecRow .ecRight{  float:left;width:258px;border-left:1px solid #ebebeb;height:348px; }
.ecRow .ecTilRow{ height: 30px;line-height: 30px;margin:10px 0px 0px 15px;width:710px;overflow: hidden;border-bottom: 1px solid white; }
.ecRow .ecTilRow ul{ width:730px; }
.ecRow .ecTilRow li{ width:119px;border-right: 1px solid #d1d1d1;float:left;text-align: center;background: #fafafa;color:#555555; }
.ecRow .ecTilRow li a{ color:#555555; }
.ecRow .ecTilRow .active{ background: #cf2d2d;color:#fff;font-family: Tahoma; }
.ecRow .ecTilRow .active a{ color:#fff; }
.ecRow .ecTilRow .active a:hover{ }
.ecRow .ecTilRow a{ display: block;height: 30px;line-height: 30px;text-decoration: none; }
.ecRow .ecImgList{ margin-left: 15px; }
.ecRow .ecImgList li{ float:left;width:180px;position: relative; }
.ecRow .ecImgList li .ecImgDes{ text-align: center; height:25px;line-height:25px;color:#fff;width:170px;height:25px;zoom:1;position: absolute;left:0px;bottom: 0px;background: rgba(0,0,0,0.5) !important;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); }
.ecRow .ecImgList li img{ float: left;width:170px;height:290px;}
.ecTilTab{ position:absolute;left:190px; }
.ecRow .ecTilItem{ font-size:14px;color:#777777;padding:0px 40px 0px 11px;text-decoration:none !important;position: relative;zoom:1; }
.ecRow .ecTilItem i{ position: absolute;top:0px;right: 14px;background: url(../images/iconall.png ) -60px -36px no-repeat;width:18px;height: 10px;_top:5px; }
.ecRow .ecBottomLine{ height:2px;line-height:2px;overflow:hidden;display:block;background:#82c7fe;width:56px;position:absolute;top:33px;left:12px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s;}
.ecRow .current{ color:#555555; }
.ecRow .ecRightImgList{ width:232px;margin:0px auto; }
.ecRow .ecRightImgList li{ border-bottom:1px solid #f4f4f4; }
.ecRow .ecRightTxtList{margin-top:10px; }
.ecRow .ecRightTxtList li{ float:left;width:86px;text-align: left;font-size: 14px;color:#666666;line-height: 30px;text-indent: 15px;}
.ecRow .ecRightTxtList li a{ font-family: "\5b8b\4f53"; }


/* btmContent */
.btmContent{ border:1px solid #dcdcdc;margin-top:10px;min-height:603px;_height:603px;background:url( ../images/loading.gif ) #fff no-repeat center; }
.btmContent .btmc_til{ height:38px;line-height:38px;position:relative;border-bottom:1px solid #ebebeb; }
.btmContent .tabHander{ position:absolute;top:-1px;left:170px;background:#82c7fe; }
.btmContent .tabHander li{ float:left;display:inline;width:98px;height:38px;line-height:38px;border:1px solid #ebebeb;text-align:center;background:#fff;cursor:pointer;margin-left:-1px;border-top-color:#dcdcdc;position:relative;
	-moz-transition: background 0.5s ease-out;
    -webkit-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
}
.btmContent .tabHander li .hot{ position: absolute;width: 17px;height: 10px;background: url(../images/iconall.png ) -60px 0px no-repeat;top: 7px;right: 7px; }
.btmContent .tabHander .active .hot{ top: 5px; }
.btmContent .tabHander li .new{ position: absolute;width: 18px;height: 10px;background: url(../images/iconall.png ) -60px -36px no-repeat;top: 7px;right: 7px; }
.btmContent .tabHander .active .new{ top: 5px; }

.btmContent .tabHander .hover{ background:#f5f5f5; }
.btmContent .tabHander .active{ margin-top:3px;height:37px;border-width:0px 1px 0px 1px;line-height:34px;position:relative;background:#fff; } 
.btmContent .tabHander a:hover{ color:#3d3d3d;text-decoration:none; }
.btmContent .tabHander .active a:hover{ color:#f00;text-decoration:underline; }
.btmc_subTil{ height:18px;line-height:18px;padding:12px 0px 0px 50px;  }
.kpWrap .btmc_subTil{ padding:12px 0px 0px 80px; }
.btmc_subTil li{ cursor:pointer;float:left;padding:0px 8px;margin-right:10px; }
.btmc_subTil .current{ background:#777;color:#fff; }
.btmc_ssWrap{ padding:20px 0px 0px 50px; }
.kpWrap .btmc_ssWrap{ padding:20px 0px 0px 80px; }
.btmc_xsWrap{ padding-top:20px; }
.btmc_con{ position:relative;background:#fff; }
.btmc_con .btmc_la,.btmc_con .btmc_ra{ background:url( ../images/iconall.png ) -336px -130px no-repeat; display:block;width:29px;height:100px;position:absolute;z-index:2; }
.btmc_con .btmc_la{ top:124px;left:0px; }
.btmc_con .btmc_ra{ top:124px;right:0px;background-position:-370px -130px; }
.btmc_con a.btmc_ra:hover{ background-position:-370px -230px; }
.btmc_con a.btmc_la:hover{ background-position:-336px -230px; }

.btmc_ss li{ float:left;width:160px;height:143px;margin-right:25px;zoom:1;display:inline; }
.btmc_bg li{ margin-right:25px; }
.btmc_ss li,.btmc_ss li a{ position:relative;zoom: 1; }
.btmc_ss li a{ text-decoration:none;line-height:22px;color:#666;display:block; }
.btmc_ss li a:hover{ color:#f00; }
.btmc_ss li img{ float:left; }
.btmc_ss li .up_txt{	position:absolute;top:60px;left:0px;height: 30px;line-height: 30px;color: #fff;width: 150px;padding-right:10px;text-align: right;
text-indent:10px;clear: both;float: left;display: inline;zoom: 1;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#b4000000);
background: -ms-linear-gradient(transparent 0%,rgba(0,0,0,0.7) 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(rgba(0,0,0,0.7)));
background: -moz-linear-gradient(top, transparent, rgba(0,0,0,0.7));
}
.btmc_ss li .btmc_txt1{ display:block;color:#666666; }
.btmc_ss li a:hover .btmc_txt1{ color:#f00; }
.btmc_ss li .btmc_txt2{ display:block;color:#999999;}
.btmc_bagua ul li img,
.btmc_yinshi ul li img,
.btmc_yile ul li img,
.btmc_webGame ul li img{ width:160px;height:90px;background:url( ../images/loading2.gif ) center no-repeat; }
.ecLeftWrap img{ width:80px;height:50px; }
.ecRow .ecCol img{ width:160px;height:312px; }
.smallGameList .sgLi img,
.bookItem img,
.btmc_jq_item img,
.ecLeftWrap img,
.ecRow .ecCol img{ background:url( ../images/loading2.gif ) center no-repeat; }
.ecRow .ecColItemTop img,
.ecRow .ecColItemBot img{ height:156px; }
.btmc_con{ height:347px; }
.btmc_con2{ background:#fff; }
.toolsCol .colLeft{ float:left;width:240px;display:inline; }
.kpWrap .toolsCol .colLeft{ margin-left:15px; }
.toolsCol .colLeft ul{ margin:4px 0 0 15px; }
.toolsCol .colRight{ float:right;width:170px;padding-left:10px;display:inline; }
.kpWrap .toolsCol .colRight{ margin-right:15px; }
.toolsCol .colRight ul{ margin-top:10px;padding-bottom:1px; }
.toolsCol .colRight li{ height:24px;line-height:24px;float:left;width:80px;font-size:14px; }
.toolsCol,.starCol{ float:left;width:420px;height:216px;border-right:1px solid #dbdbdb; border-top:1px solid #dbdbdb;}
.kpWrap .toolsCol{ width:460px; }
.starCol .tilRow,.toolsCol .tilRow{ height:28px;line-height:28px;background:#fdfdfd;border-bottom:1px solid #ebebeb;position:relative; }
.tilTxt{ font-size:14px;color:#4691d5;font-weight:bold;_padding-top:20px; }
.tilTxt label{ _display:inline-block; }
.tilTxt .tilIcon{ display:inline-block;width:34px;height:18px;vertical-align:middle;line-height: 17px;text-align: center;text-indent: 3px;font-family:"iconfont";font-style:normal;font-size: 16px;font-weight: normal; }
.tilTxt .iconTool{ background-position:-450px -346px; }
.tilTxt .iconStar{ background-position:-450px -390px; }
.toolsCol .more{ position:absolute;top:0px;right:24px;font-size:12px;color:#999999;font-family:"\5b8b\4f53"; }
.toolsCol .colLeft li{ float:left; }
.toolsCol .colLeft a{ float:left;width:62px;height:62px;border:1px solid #d4d4d4;margin:10px 10px 10px 0px; background:url( ../images/iconall.png ) -400px 0px no-repeat;}
.toolsCol .colLeft .icon2{ background-position:-462px 0px; }
.toolsCol .colLeft .icon3{ background-position:-524px 0px; }
.toolsCol .colLeft .icon4{ background-position:-400px -62px; }
.toolsCol .colLeft .icon5{ background-position:-462px -62px; }
.toolsCol .colLeft .icon6{ background-position:-524px -62px; }
.toolsCol .colLeft a:hover{ background-position:-214px 0px; }
.toolsCol .colLeft a.icon2:hover{ background-position:-276px 0px; }
.toolsCol .colLeft a.icon3:hover{ background-position:-338px 0px; }
.toolsCol .colLeft a.icon4:hover{ background-position:-214px -62px; }
.toolsCol .colLeft a.icon5:hover{ background-position:-276px -62px; }
.toolsCol .colLeft a.icon6:hover{ background-position:-338px -62px; }
.kpWrap .starCol{ width:360px;position:relative; }
.kpWrap .starCom{ padding:0px 10px; }
.starCol{ width:340px;position:relative; }
.starCol .star_op{ position:absolute;top:0px;right:0px;color:#777;cursor:pointer; }
.starCol .star_op label{ _display:inline-block; }
.starCol .op_icon{ display:inline-block;height:15px;width:30px;background:url( ../images/iconall.png ) -458px -440px;;vertical-align:middle; }
.starCol .starAdv{ float:left;width:46px;height:46px;border:1px solid #d4d4d4;display:inline;margin:14px 0px 0px 14px; }
.starCol .starAdv img{ width:46px;height:46px; }
.starCol .starTxt1{ margin-left:72px; }
.starCol .sartIco{ display:inline-block;width:16px;height:16px;background:url( ../images/iconall.png ) 0px -620px no-repeat; }
.starCol .sartIco-h{ background-position:0px -650px; }
.starCol .starRow1{ height:62px; }
.starCol .starRow1 span{ vertical-align:middle; }
.starCol .starRow1 .star_yun{ color:#df7979; }
.starCol .txt1Row{ line-height:20px;height:20px;padding-top:13px;color:#666; }
.starCol .star_chose{ position:absolute;background:#fff;width:248px;border:1px solid #bcbcbc;padding:13px 0px;top:29px;right:0px;display:none; }
.starCol .star_chose li{ float:left;width:62px;text-align:center;height:24px;line-height:24px; }
.starCol .star_chose a{ color:#777; }
.starCol .star_chose a:hover{ color:#4691d5;text-decoration:none; }
.starCol .txt1Row2{  padding-top:11px;line-height:0px; }
.starCol .txt1Row2 a{ display:inline-block;background:#63aae9;color:#fff;padding:0px 10px;height:18px;line-height:18px;font-family:Tahoma;text-decoration:none !important;margin-right:10px; }
.starRow2{ margin:8px 0px 0px 17px; }
.starRow2 span,.starRow2 em,.starRow2 a{ vertical-align:middle; }
.starRow2 .gray{ color:#999;line-height:18px; } 
.starRow2 em{ color:#666; }
.starRow2 .starDRow2{ margin-top:4px; }
.starRow2 .detail{ font-family:"\5b8b\4f53";color:#3ca0c1;margin-top:1px; }
.otherCol{ float:left; }
.otherCol ul.mslide{ margin-left:0px;padding:18px 0px 0px;margin:0px auto;border-bottom:0px;border-top:1px dotted #dbdbdb; }
.botNavi{ border:1px solid #dbdbdb;font-size:14px;color:#3d3d3d;line-height:30px;margin-top:10px; }
.botNavi .botCol{ float:left;background:#fff;border-right:1px solid #f0f0f0;height:163px;width:223px;padding-top:7px; }
.kpWrap .botNavi .botCol{ padding: 7px 7px 0px 8px; }
.botNavi .botCol ul{ margin:0px 11px; }
.botNavi .botCol2{ background:#fff;width:326px; }
.botNavi .botCol4{ border-right:0px;background:#fff; }
.botNavi li{ float:left;width:50px;text-align:center;position:relative; }
.botNavi li .hot{ position:absolute;width:17px;height:10px;background:url( ../images/iconall.png ) -60px 0px no-repeat;top:4px;right:-7px; }
.botNavi .botCol2 li{ width:50px; }
.botNavi .btmTil{ height:25px;line-height:25px;padding-bottom:5px; }
.botNavi .btmTxt{ margin-left:50px;font-size:14px;font-weight:bold;color:#8c8c8c;display:block; }
.botNavi .btmIcon{ float:left;width:20px;height:18px;margin-left:23px;margin-top:4px;font-family:"iconfont";font-style:normal;font-size: 16px;font-weight: normal;color:#808080;line-height: 18px; }
@-moz-document url-prefix(){ .botNavi .btmIcon{ line-height:22px; }  }
.botNavi .grayNews{ background-position:-120px 1px; }
.botNavi .grayRest{ background-position:-120px -109px; }
.botNavi .grayShop{ background-position:-120px -34px; }
.botNavi .grayOther{ background-position:-120px -72px;}
.botNavi .botBlue{ color:#1a72c1; }
.botNavi .botOrange{ color:#ff6000; }
.smallGameRow{background:#fff;}
.smallGameList{ width:906px;margin:0px auto;padding-top:15px; }
.smallGameList .sgUl{  }
.smallGameList .sgLi{float:left;display:inline;width:64px;margin:0px 9px;text-align:center;height:100px;margin-top:5px;position:relative;}
.smallGameList .sgLi img{width:64px;height:64px;float:left;display:inline;}
.smallGameList .sgItem{font-size:12px;color:#666666;font-weight:normal;text-decoration:none;}
.smallGameList .sgItem i{ cursor:pointer;position:absolute;top:-3px;left:-3px;width:70px;height:70px;background:url( ../images/cover2.png ); 
_background-image: none; /* IE6 */
}
.smallGameList .sgDes{font-size:12px;color:#666666;font-weight:normal;text-decoration:none;height:30px;line-height:30px;}
.smallGameList a:hover .sgDes{color:#ff0000;}
.sgLinks{width:888px;margin:0px auto;overflow:hidden;position:relative;border-top:1px dotted #cccccc;}.sgLinks .sgWrap{width:1300px;}
.sgLinks .sgCol{float:left;display:inline;width:313px;}
.sgLinks .listRow{position:relative;line-height:32px;font-size:14px;color:#666666;font-weight:normal;text-decoration:none;height:32px;font-size:12px;}.sgLinks .listRow a{text-decoration:none;color:#666666;}
.sgLinks .listRow span{font-size:14px;color:#4bb82b;font-weight:normal;margin-right:12px;float:left;display:inline;font-size:12px;}
.sgLinks .listRow a{margin-right:10px;float:left;display:inline;}
.sgLinks .listRow a:hover{color:#ff0000;}
.sgLinks .listRow .listMore{position:absolute;right:0px;}
.sgLinks .listRow h3 a{font-size:14px;color:#4bb82b;font-weight:normal;font-size:12px;}

.btmc_jq{ padding:20px  0px 0px 39px;line-height:0px; }
.kpWrap .btmc_jq{ padding:20px  0px 0px 69px; }
.btmc_jq_item img{ float:left; }
.btmc_jq_item{ float:left;display:inline;margin:0px 10px 10px 0px;position:relative;line-height:0px; }
.btmc_jq_item .jq_item_mask {
	position:absolute;bottom:0px;left:0px;height:20px;line-height:18px;width:100%;color:#fff;text-align:left;text-indent:5px;
	background:rgba(0,0,0,0.5) !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);zoom:1;}
:root .btmc_jq_item .jq_item_mask{filter:none\9;}/*for IE9*/
.btmc_jq_item .jq_heart{ display:inline-block;width:13px;height:14px;background:url( ../images/iconall.png ) -465px -496px no-repeat;vertical-align:middle; }
.btmc_jq_item .mask_right{ float:right;display:inline;margin-right:5px; }

.phone_adv ul.appWrap .app img{ width:60px;height:70px; }
.otherCol .phone_adv ul.mslide{ padding:10px 0px 0px 0px; } 
.phone_adv ul.appWrap .app{ margin:0px 15px 0px 0px;width:60px; }
.phone_adv ul.appWrap li{ width:225px; }
.phone_adv ul.appWrap{ width:210px;overflow:hidden;height: 90px !important; }

#tool-tab{ background-color:#fff; } 


.box-shadow,.botNavi,.ecRow,.btmContent,.box-shadow3{
	-moz-box-shadow:0px 0px 4px #c7c7c7;/*firefox*/
	-webkit-box-shadow:0px 0px 4px #c7c7c7;/*webkit*/
	box-shadow:0px 0px 4px #c7c7c7;/*opera或ie9*/
}
.sortSite li .s2{ width:20px; }
.sortSite li .s2 img{ position:relative;top:3px; }
.sortSite li .t2{ width:85px;_width:84px; }
.kpWrap .sortSite li .s2{  }
.kpWrap .sortSite li .t2{ width:98px;_width:97px; }
.sortSite li .s3{ width:62px; }
.sortSite li .s3 img{ position:relative;top:3px; }
.sortSite li .t3{ width:43px;_width:44px; }
.kpWrap .sortSite li .s3{ width:68px; }

/* theme */
.theme{ background:url( ../images/tmp/themeBg.gif );height:0px;overflow:hidden;  
	-moz-transition: height 0.3s ease-out;
    -webkit-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
}
.loadingBig{ background:url( ../images/loading.gif ) no-repeat center; }
.themeWrap{ width: 1000px;margin: 0 auto;height:210px; }
.themeTop{ margin:18px 0 0 60px; }
.themeTop .cur{ color:#1a72c1; }
.themeTop li{ float:left;display:inline;margin-right:24px; }
.themeTop li a{ text-decoration:none; }
.themeMid{ clear:both;margin-top:15px;border-bottom:1px solid #d9d9d9;position:relative;zoom:1; }
.theme .themeSlider{ width:890px;margin:0px auto;position:relative;height:115px;overflow:hidden; }
.theme .themeSlider ul{ position:absolute;width:6000px;left:0px; }
.theme .themeSlider li{ width:140px;height:100px;float:left;display:inline;margin-right:10px;position:relative; }
.theme .themeSlider .themeMask{ position:absolute;width:130px;height:19px;line-height:19px;bottom:5px;left:5px;color:#fff;text-align:center;cursor:pointer;display:none;
background: rgba(0,0,0,0.5) !important;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); }

:root .theme .themeSlider .themeMask{ filter: none\9;	}
.theme .themeSlider  .themeLiHover .themeMask{ display:block; }

.theme .themeSlider .span{ padding:5px;display:block; }
.theme .themeSlider img{ float:left;cursor:pointer; }
.theme .themeBot{ clear:both;margin-top:7px; }
.theme .curTheme .span{ padding:4px;height:90px;background:#fff;border:1px solid #68b500; }
.theme .themeLeft,
.theme .themeRight{ position:absolute;width:30px;height:80px;top:9px;cursor:pointer;background:url( ../images/iconall.png ) -335px -471px no-repeat; }
.theme .themeLeft{ left:0px; }
.theme .themeRight{ right:0px;background-position:-365px -471px; }
.theme a.themeLeft:hover{ background-position:-425px -471px; }
.theme a.themeRight:hover{ background-position:-395px -471px; }
.themeBot{ position:relative;text-align:center; }
.themeBot .themeSave,
.themeBot .themeCan{ display:inline-block;width:58px;height:23px;line-height:23px;background:#63aae9;border:1px solid #63aae9;text-align:center;color:#fff;text-decoration:none;margin:0px 2px; }
.themeBot .themeCan{ background:#f2f2f2;border-color:#dcdcdc;color:#666666; }
.themeBot .themeDel{ position:relative;display:inline-block;height:23px;line-height:23px;padding-left:14px;color:#e12222;text-decoration:none; }
.themeBot .themeDel i{ position:absolute;top:8px;left:2px;width:10px;height:10px;background:url( ../images/iconall.png ) -336px -437px no-repeat; }
.themeBot .themePagger{ position:absolute;top:0px;right:0px;height:25px;line-height:25px;color:#666; }
.themeBot .themePagger{ zoom:1; }
.themeBot .itemWrap{ display:inline-block;position:relative;overflow:hidden;width:15px; }
.themeBot .pre,
.themeBot .after,
.themeBot .itemWrap{ display:inline-block;vertical-align:middle;font-family:Tahoma;height:25px;line-height:24px;*line-height:23px; }
.themeBot ul{ position:absolute;top:0px;width:15px;text-align:right;left:0px;
	-moz-transition: top 0.3s ease-out;
    -webkit-transition: top 0.3s ease-out;
    -o-transition: top 0.3s ease-out;
    transition: top 0.3s ease-out;
}
.themeBot ul li{ display:block;color:#e12222;height:24px;}
.topbar .sets .themeChange{ padding-top:1px;font-family:Tahoma;height:28px;border:1px solid #e0e0e0;border-width:0px 1px;cursor:pointer;background:#f1f1f1 }
.topbar .sets .themeChange a{ padding:7px 0px 6px; height:13px;line-height:13px;font-family:Tahoma;display:block;width:70px;text-align:center;padding-left:8px;text-decoration:none;background:url( ../images/iconall.png?2014 ) #f1f1f1 2px -171px  no-repeat; }
.topbar .sets .themeChangeDown a{ background-position:2px -208px; }

/* Some resets for compatibility with existing CSS */
.date_selector, .date_selector *{ z-index:2;width: auto;height: auto;border: none;background: none;margin: 0;padding: 0;text-align: left;text-decoration: none;font-size:12px; }
.date_selector { width:180px;background: #F2F2F2;border: 1px solid #bbb;padding: 5px;margin: -1px 0 0 0;position: absolute;z-index: 100000;display: none; }
.date_selector_ieframe { position: absolute;z-index: 99999;display: none; }
.date_selector .month_nav, .date_selector .year_nav { margin: 0 0 3px 0;padding: 0;display: block;position: relative;text-align: center; }
.date_selector .month_nav {	float: left;width: 45%; }
.date_selector .year_nav { float: right;width: 45%; }
.date_selector .month_name, .date_selector .year_name {	font-weight: bold;line-height: 20px; }
.date_selector .button {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	display: block;position: absolute;top: 0;width: 18px;height: 18px;line-height: 17px;font-weight: bold;color: #3d3d3d;text-align: center;font-size: 120%;overflow: hidden;border: 1px solid #F2F2F2;cursor:pointer;
}
.date_selector .button:hover, .date_selector .button.hover {  background: none;color: #3d3d3d;cursor: pointer;border-color: #ccc;}
.date_selector .prev { 	left: 0; }
.date_selector .next {	right: 0; }
.date_selector table { border-spacing: 0;border-collapse: collapse;clear: both;width:100%; }
.date_selector th, .date_selector td {  width: 2.5em;height: 2em;padding: 0;text-align: center;color: black; }
.date_selector td {  border: 1px solid #ccc;line-height: 2em;text-align: center;white-space: nowrap;color: #3d3d3d;background: white; }
.date_selector td.today {  background: #d4d4d4;color:#fff !important; }
.date_selector td.unselected_month {  color: #ccc; }
.date_selector td.selectable_day {  cursor: pointer; }
.date_selector td.selected {  background: #8e8e8e; color: white; font-weight: bold;}
.date_selector td.selectable_day:hover, .date_selector td.selectable_day.hover {  background: #666;color: white; }

.animate{
	-moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.city_selecter{ position:absolute;width:340px;background:#fff;border:1px solid #ccc;z-index:100;display: none;height:300px;}
.city_selecter .city_tab{ margin:0px 10px;border-bottom: 1px solid #ddd;zoom: 1; -moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}
.city_selecter .city_tab_item{ position: relative;bottom: -1px;float: left;display: inline;margin-right: 5px;padding: 0 8px;height: 20px;font-size: 12px;line-height: 20px;text-align: center;cursor: pointer;color: #0069CA; }
.city_selecter .city_tab .active{background: #fff;border: 1px solid #ccc;border-bottom: 1px solid #fff;color: #333;}
.city_selecter .city_hots{ padding-left:10px; }
.city_selecter .city_hots li{ float: left;width: 20%!important;text-align: center;height: 25px;line-height: 25px;overflow: hidden; }
.city_selecter .city_grounp{ padding-left:30px;position:relative;clear:both;zoom:1; }
.city_selecter .city_grounp .city_name_item{ float: left;width: 20%!important;text-align: center;height: 25px;line-height: 25px;overflow: hidden; } 
.city_selecter .city_zimu{ position:absolute;top:4px;left:14px;font-weight:bold; }
.city_selecter .city_con_item{ display:none; }
.city_selecter .city_hots{ display:block; }
.city_selecter .city_til{ padding: 4px 0px 4px 10px;position:relative; }
.city_selecter .city_close{ position: absolute;top:4px;right:10px; }
.city_selecter .city_til .city_close{ cursor:pointer; }

@font-face {
	font-family: 'iconfont';
    src: url('http://www.114la.com/static4/public4/rebuild/images/font/icomoon.eot'); /* IE9*/
    src: url('http://www.114la.com/static4/public4/rebuild/images/font/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://www.114la.com/static4/public4/rebuild/images/font/icomoon.woff') format('woff'), /* chrome、firefox */
    url('http://www.114la.com/static4/public4/rebuild/images/font/icomoon.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://www.114la.com/static4/public4/rebuild/images/font/icomoon.svg#icomoon') format('svg'); /* iOS 4.1- */
}

.iconfont{font-family:"iconfont";font-style:normal;font-size: 16px;font-weight: normal;}
.bankTra{ _margin-top:8px;display: inline-block;width: 14px;height: 14px;vertical-align: middle;margin-left: 2px;cursor: pointer;background: url(../images/iconall.png) -84px -88px no-repeat; }
.bankList{ position: absolute;top:100px;right:22px;_right:16px;background:#fff;z-index: 2;border:1px solid #e1e1e1; }
.bankList li{ height: 27px;line-height:27px;text-align:center;overflow: hidden;display: block;width:106px; }
.bankList a{ display: block; }
.bankList a:hover{ background: #f6f6f6;text-decoration: none;color:#3d3d3d; }
.kpWrap .bankList{ right: 30px;_right:23px; }
#curBank{ vertical-align: middle;display: inline-block; }
ul.col-row02 li.sliderTip{  margin-top:-2px;top:-6px;position:relative;text-indent:10px;color:#ad4b25;margin-left:0px; width:220px;padding-left:0;clear:both;padding-bottom:0px;height:25px;line-height:25px;padding-top:7px;background:url( ../images/tipBg.gif ) no-repeat; }
ul.col-row02 li.sliderTip .tipClose{ position:absolute;top:14px;right:8px;width:11px;height:11px;display:block;background:url( ../images/tipBg.gif ) -230px -10px no-repeat;cursor:pointer; }


@charset "gb2312";
.topbar .setColor .blue{ background-position:-1px -612px;}
.skin-list  .default-setColor .blue{ background-position:0px -634px;}