body {
  font: 12px/13px courier, monospace;
  color: #000;
  background-color: #fff;
  margin: 0px;
}

p {
  font: 12px/13px courier, monospace;
  text-align: justify;
}

h3 {
  font: bold 14px courier, monospace;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: #000;
}

a:link {
  font-weight: bold;
  text-decoration: underline;
  color: #FF4F3E;
}

a:visited {
  font-weight: bold;
  text-decoration: underline;
  color: #FF4F3E;
}

a:hover,
a:active {
  text-decoration: underline;
  color: #000;
}

abbr {
  border-bottom: none;
}

.page-wrapper {
  background: #fff url(bloodlust.gif) no-repeat top left;
  margin: 50px 0px 0px 0px;
  padding: 150px 0px 0px 200px;
}

header h1 {
  background: transparent url(h1.gif) no-repeat top left;
  margin-top: 10px;
  width: 461px;
  height: 116px;
  position: absolute;
  top: 20px;
  left: 305px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

header h2 {
  background: transparent url(h2.gif) no-repeat top left;
  width: 253px;
  height: 34px;
  position: absolute;
  top: 150px;
  left: 216px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.summary p:first-child {
  font: 400 18px/16px 'arial black', sans-serif;
  text-align: right;
  width: 340px;
  float: left;
  margin: 40px 20px 20px 0px;
}

.summary p:last-child {
  font: 9px verdana, sans-serif;
  text-align: left;
  line-height: 24px;
  width: 295px;
  position: absolute;
  top: 20px;
  left: 25px;
}

.preamble {
  width: 170px;
  float: right;
  margin-top: 50px;
  clear: left;
  position: relative;
  top: -270px;
}

.preamble h3 {
  font: bold 12pt/10pt 'trebuchet ms', sans-serif;
  text-align: right;
}

.preamble p {
  font: bold 10pt/11pt arial, sans-serif;
  text-align: right;
}

.supporting {
  clear: left;
}

.explanation h3 {
  font: bold 18px courier, monospace;
}

.explanation p:nth-child(2) {
  font: 18px courier, monospace;
  line-height: 5ex;
}

.explanation p:nth-child(3) {
  font: 11px/16px courier, monospace;
  width: 220px;
  float: left;
  margin-right: 10px;
}

.explanation p:nth-child(4) {
  font: 14px/14px courier, monospace;
  margin-top: 30px;
}

.participation h3 {
  background: transparent url(h3.gif) no-repeat top left;
  width: 174px;
  height: 66px;
  margin: 0px;
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.participation p:nth-child(2):first-line {
  font: 16px 'arial black', sans-serif;
}

.participation p:nth-child(3) {
  line-height: 16px;
  text-align: right;
  float: left;
  width: 200px;
  margin: 0px 5px 15px 0px;
}

.participation p:nth-child(4) {
  font-family: arial, sans-serif;
}

.benefits h3 {
  background: transparent url(h4.gif) no-repeat top left;
  width: 107px;
  height: 26px;
  margin: 0px;
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.requirements h3 {
  font: bold 18px 'arial black', sans-serif;
  clear: left;
  float: right;
}

.requirements p:nth-child(2) {
  font: bold 11px/16px trebuchet ms, sans-serif;
  float: left;
  width: 300px;
  margin-right: 10px;
}

.requirements p:nth-child(4) {
  font: 12px/11px arial, sans-serif;
}

.sidebar {
  position: absolute;
  top: 0px;
  left: 20px;
}

.sidebar .wrapper {
  font: 12px courier, monospace;
  padding: 10px;
  margin-top: 115px;
  width: 130px;
}

.sidebar li {
  line-height: 2.5ex;
  display: block;
  padding-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
}

.sidebar ul {
  margin: 0px;
  padding: 0px;
}