body {
  margin: 0;
  padding: 0;
  background: #97B661 url(body_bground.gif) repeat-y;
}

.page-wrapper {
  width: 760px;
  background-color: #6E7F71;
}

header h1 {
  width: 760px;
  height: 150px;
  margin: 0;
  padding: 0;
  text-indent: -100em;
  overflow: hidden;
  background-image: url(h1_mainheader.jpg);
}

header h2 {
  width: 760px;
  height: 123px;
  margin: 0;
  padding: 0;
  text-indent: -100em;
  overflow: hidden;
  background-image: url(h2_mainheader.jpg);
}

.summary {
  margin-left: 289px;
  background-image: url(summary_background.jpg);
  background-repeat: no-repeat;
}

.preamble,
.supporting {
  margin-left: 289px;
}

.summary p,
.preamble p,
.supporting p {
  margin: 0 30px 20px 20px;
  padding: 0;
  font-family: Georgia, serif;
  font-size: 12px;
  line-height: 1.6;
  color: #DCEBDF;
}

.preamble h3 {
  height: 36px;
  padding: 0;
  margin: 0 0 10px 0;
  text-indent: -100em;
  overflow: hidden;
  background: url(headers/preamble.gif) no-repeat;
}

.explanation h3 {
  height: 36px;
  padding: 0;
  margin: 0 0 10px 0;
  text-indent: -100em;
  overflow: hidden;
  background: url(headers/explanation.gif) no-repeat;
}

.participation h3 {
  height: 36px;
  padding: 0;
  margin: 0 0 10px 0;
  text-indent: -100em;
  overflow: hidden;
  background: url(headers/participation.gif) no-repeat;
}

.benefits h3 {
  height: 36px;
  padding: 0;
  margin: 0 0 10px 0;
  text-indent: -100em;
  overflow: hidden;
  background: url(headers/benefits.gif) no-repeat;
}

.requirements h3 {
  height: 36px;
  padding: 0;
  margin: 0 0 10px 0;
  text-indent: -100em;
  overflow: hidden;
  background: url(headers/requirements.gif) no-repeat;
}

.sidebar {
  position: absolute;
  top: 273px;
  left: 0;
  width: 289px;
  margin: 0;
  padding: 0 0 0 32px;
  background-image: url(linklist_background.jpg);
  background-repeat: no-repeat;
}

.sidebar .wrapper {
  margin-right: 38px;
}

.sidebar h3 {
  font-family: Georgia, serif;
  font-size: 15px;
  color: #DCEBDF;
  padding: 0;
  margin: 0 0 20px 0;
}

.sidebar ul {
  margin: 0 0 20px 0;
  padding: 0 32px 0 0;
  list-style-type: none;
  font-family: Georgia, serif;
  font-size: 12px;
  color: #DCEBDF;
}

.sidebar li {
  margin: 0 0 5px 0;
  padding: 0 0 20px 0;
  background: url(list_divider.gif) no-repeat;
  background-position: bottom center;
  text-align: center;
}

.design-selection li a {
  display: block;
  text-transform: uppercase;
}

.design-selection li a.designer-name {
  display: inline;
  text-transform: none;
}

a:link {
  color: #E9EEDD;
}

a:hover {
  color: #FFF;
}

a:visited {
  color: #AAA;
}

footer {
  text-align: right;
  padding: 40px 20px 20px 0;
  font-size: 11px;
}