body {
  font: 12px Verdana;
  color: #000;
  background: #DFE3BA;
  margin: 5px 0 5px 50%;
}

a:link,
a:visited {
  font: 12px "Trebuchet MS", Verdana;
  text-decoration: underline;
  color: #000;
}

a:hover,
a:active {
  font: 12px "Trebuchet MS", Verdana;
  text-decoration: none;
  color: #A03E19;
}

.page-wrapper {
  position: relative;
  width: 700px;
  background: #ADB583 url(header.jpg) no-repeat top left;
  margin: 0 0 0 -350px;
  border: 5px solid #FFF;
}

h3 {
  color: #A03E19;
  font: 22px "Trebuchet MS", Verdana;
  margin: 0;
  text-transform: lowercase;
}

abbr {
  border: 0;
  font-style: normal;
}

header {
  height: 350px;
}

h1,
h2 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.summary {
  margin-top: 50px;
  width: 430px;
  margin-left: 250px;
  color: #42443A;
}

.summary a:link,
.summary a:visited {
  color: #42443A;
}

.summary a:hover,
.summary a:active {
  color: #42443A;
}

.summary p:first-child {
  display: none;
}

.preamble,
.supporting {
  width: 430px;
  margin-left: 250px;
  margin-top: 15px;
}

footer {
  position: relative;
  left: -250px;
  width: 400px;
  height: 20px;
  padding: 78px 0 0 50px;
  background: #ADB583 url(footer.jpg) no-repeat top left;
}

footer a:link,
footer a:visited {
  color: #61A7BC;
  text-decoration: none;
}

footer a:hover,
footer a:active {
  color: #61A7BC;
  text-decoration: underline;
}

.extra1,
.extra2,
.extra3,
.extra4,
.extra5,
.extra6 {
  display: none;
}

.page-wrapper .sidebar {
  position: absolute;
  left: 18px;
  top: 340px;
  width: 198px;
  font: 10px "Trebuchet MS", Verdana;
}

.sidebar h3 {
  width: 198px;
  height: 18px;
  margin-top: 20px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar h3.select {
  background: url(left_select.gif) no-repeat top left;
}

.sidebar h3.archives {
  background: url(left_archive.gif) no-repeat top left;
}

.sidebar h3.resources {
  background: url(left_resources.gif) no-repeat top left;
}

.sidebar h3.favorites {
  background: url(left_favorites.gif) no-repeat top left;
}

.sidebar ul {
  list-style: none;
  padding: 0 0 18px 0;
  margin: 0;
  background: url(left_footer.gif) no-repeat bottom left;
}

.sidebar ul li {
  padding: 5px 10px 5px 10px;
  background: url(li_bg.png) bottom left;
  border-bottom: 1px solid #1A4861;
  margin: 0;
}

.sidebar ul li:hover {
  background: #A03E19 url(spacer.gif);
  color: #FFF;
}

.sidebar .design-selection {
  color: #666;
}

.sidebar ul li a {
  display: inline;
  color: #000;
  text-transform: lowercase;
}

.sidebar .design-selection ul li a {
  font: 14px "Trebuchet MS", Verdana;
  display: block;
  color: #000;
  text-transform: lowercase;
}

.sidebar .design-selection ul li a.designer-name,
.sidebar ul li a.designer-name {
  display: inline;
  font: 10px "Trebuchet MS", Verdana;
  color: #666;
  text-transform: none;
}

.sidebar ul li:hover a,
.sidebar .design-selection ul li:hover a {
  color: #FFF;
}